[2020-03-31 04:17] #5051 closed

[2020-03-31 04:18] prestonvanloon commented on #4900
@torfbolt we provide multiarch binaries now as a recommended installation for ARM.

I'll close this for now, thanks for the report!

[2020-03-31 04:20] prestonvanloon commented on #4741
@terencechain can you confirm this issue will be resolved in new state management? #5185

[2020-03-31 04:21] prestonvanloon commented on #4681
We offer file based configuration now, if that helps.

https://docs.prylabs.network/docs/prysm-usage/parameters/#loading-parameters-via-yaml-file

[2020-03-31 04:22] prestonvanloon commented on #4723
Closing this as it was added in #4724. Thanks!

[2020-03-31 04:22] #4723 closed

[2020-03-31 04:23] prestonvanloon commented on #4702
Closing this for inactivity. If this is still an issue please reopen it. Thanks!

[2020-03-31 04:24] prestonvanloon commented on #4618
I haven't seen this in some time. Closing for inactivity. Please re-open if this is still a valid issue.

Thanks

[2020-03-31 04:24] #4618 closed

[2020-03-31 04:25] prestonvanloon commented on #4543
This will be resolved in @farazdagi new sync rewrite.

[2020-03-31 04:26] prestonvanloon commented on #4512
@nisdas has this been completed?

[2020-03-31 04:27] nisdas commented on #4512
Yeap it has been completed in our update to v0.10.1 . Closing this now

[2020-03-31 04:27] #4512 closed

[2020-03-31 04:27] prestonvanloon commented on #791
I think this is more of a documentation issue. We just need someone to provide an example of how to use gRPC client / server certificates and how to generate one with openssl.

[2020-03-31 04:28] prestonvanloon commented on #791
Assigning to @har00ga, but welcoming any external contributor to provide an example. Thanks!

[2020-03-31 04:29] #3001 closed

[2020-03-31 04:29] prestonvanloon commented on #3983
I don't think we have seen this in the most recent testnet. Closing for inactivity.

[2020-03-31 04:29] #3983 closed

[2020-03-31 04:30] prestonvanloon commented on #4507
Assigning to @farazdagi as Q2 OKR

[2020-03-31 04:34] prestonvanloon commented on #4939
This is a bit of an ongoing issue which stems mostly from poor performance with HashTreeRoot, memory management, and optimized aggregation.

Tenatively assigning to @nisdas as the owner of feature flag `--enable-state-trie-cache` which will improve hash tree root performance.

#4838 may help as well.

[2020-03-31 04:34] 0xKiwi commented on #5040
The strategy we use for catching double and surround votes is referred to as [min-max spans](https://github.com/protolambda/eth2-surround#min-max-surround). This strategy involves maintaining every validators information on a per-epoch basis for the full validator set.

Say we receive an aggregated attestation of 16 validators, spanning from source epoch 2 to target epoch 8. We update the min max

[2020-03-31 04:39] prestonvanloon commented on #4970
Assigning to @farazdagi as owner of new initial sync work.

[2020-03-31 06:28] handelaar2 commented on #4702
Now that is funny Preston: "Closing this for inactivity".
This means all issues in the end can be closed by not looking at them. Brilliant.

<img width="1006" alt="2020-03-31_08-12-37" src="https://user-images.githubusercontent.com/28559038/77993310-2e3f2e00-7328-11ea-91c6-826f8551fcf7.png">

All I want is to ensure/check that my validator submits attestations in time (to the second). For that, I

[2020-03-31 06:58] mcdee commented on #791
I was looking at this yesterday as part of the validator clean-ups.  From what I can tell the situation is a little weird:

  - the validator defaults to a non-secure connection
  - the validator will create a secure connection if the `--tls-cert` parameter is applied.  This parameter expects a CA root certificate for the CA that signed the beacon node's certificate

This is somewhat non-standard.

[2020-03-31 07:09] mcdee commented on #5143
Taken a look through the current information provided, I suggest we go for two RPC calls `NodeInfo` and `ChainInfo`.  Their contents would be:

  - `ChainInfo`
    - genesis time
    - seconds per slot
    - slots per epoch
    - genesis fork version
    - genesis validators root
    - fork version schedule
    - minimum deposit amount
    - maximum effective balance
    - effective balance increm

[2020-03-31 08:03] tzapu commented on #5143
sounds good to me but i can t figure which of those fields would allow you to id the node

[2020-03-31 08:08] mcdee commented on #5143
Sorry yeah that's currently wrapped up in the `version` field; I'll break it out as a separate item in the `NodeInfo` call.

[2020-03-31 10:05] xrow commented on #5134
Yes please stay tuned for 2 more weeks. I let you know.

[2020-03-31 16:41] nisdas commented on #5247
I think it might be a cosmetic bug, I saw the same in a local testnet. I had all my validators hosted on 1 validator client and the below log is what I got
[code]
It doesn't make sense that I have all that , when that validator holds all the running proposers/attesters in the network.
@terencechain any idea ?

[2020-04-01 05:54] nisdas commented on #4604
Hey @rauljordan sorry missed this, we can probably write the majority of the deposits to disk , although we would have to maintain the trie in memory. But that should not be very expensive. I haven't had time to look at it in depth so someone else is welcome to look at this too. If not I can take this up when i have some free bandwidth.

[2020-04-01 06:07] nisdas opened #5264 "Initial Sync Stalls when Processing Periods Without Finality"
Currently the new initial sync routine stalls when processing blocks in periods without finality.
Ex:
[code]
It will keep on re-processing the same batch of blocks and stall, occassionally it gets through it but sometimes we have to restart to resolve it. This only happens when it processes periods without finality.

Tentatively assigning to @farazdagi

[2020-04-01 06:09] nisdas opened #5265 "Make Noise The Default Handshake"
Currently SECIO is the default protocol for the initial handshake between peers. The default should be NOISE with the fallback being SECIO.

[2020-04-01 06:14] nisdas opened #5266 "Release --enable-initial-sync-queue for Testnet Restart"
This flag has been running fine for us when syncing, so this should be made the default method when syncing. This is blocked by #5264 before we can release it.

[2020-04-01 06:20] nisdas opened #5267 "Release --protect-proposer and --protect-attester for Testnet Restart"
Currently we do not require our validators to have a db to protect them against accidentally slashing themselves. This should be the default for running our validators in the next testnet restart. Although this might affect our k8s deployments as now all our validator clients will need to have a db. @prestonvanloon would this be possible to implement for our next testnet restart ?

[2020-04-01 06:23] terencechain commented on #5264
Can confirm I have been seeing this issue quite frequently and as it gets closer to head as well

[2020-04-01 06:35] farazdagi commented on #5264
Need to understand if that's a complete deadlock, or implemented strategy just takes too long to proceed.

Currently it works like this: if within a given range no blocks with parents in our DB exist returned, the head pointer is extended, and tried, and then we start over the same range (because no blocks can mean our peers at that moment do not have them or peers are evil - we can't conclude tha

[2020-04-01 06:57] nisdas commented on #5264
I think @terencechain mentioned that he has had to restart it a few times because it wouldn't move forward, which might point to some sort of deadlock. Although I could be wrong

[2020-04-01 07:24] nisdas opened #5268 "WaitForActivation is Very Inefficient"
Currently `WaitForActivation` sends a rpc call through `BlockTimeByHeight` for an ETH1 block header to our attached eth1 node for each validator. This is fine if we host a few validators, however if we have a large number of validators hosted this becomes very inefficient causing a very long start up time. This issue is track the resolution of this problem.

[2020-04-01 08:45] torfbolt commented on #5247
From what I can see it's not cosmetic in the sense that my validator balance is actually decreasing. @nisdas Looks like that also happens in your local testnet? Is it frequent / reproducible for you as well?

[2020-04-01 09:12] nisdas commented on #5247
it did happen very often in my local testnet. Although some caveats for my testnet, the chain had not been finalized in a while and i was running less than the required number of validators to finalize. so that might be a reason for this ? @torfbolt did this happen in periods of no finality ?

[2020-04-01 09:30] torfbolt commented on #5247
I just checked the raw logs again without using my (in this case obviously misleading) monitor script and there are indeed lots of warnings of this kind, for many of the epochs:

`time="2020-04-01 08:26:12" level=warning msg="Resolving fork due to new attestation: head at slot 592896 with weight 12635 is not eligible, finalizedEpoch 18526 != 18526, justifiedEpoch 18527 != 18528" prefix=blockchain`

[2020-04-01 09:48] nisdas commented on #5247
I think that might be a different issue, if I am not wrong that log is harmless and mostly means that the forkchoice in the node is trying to resolve it to the appropriate head. @terencechain can probably confirm

[2020-04-01 09:55] nisdas opened #5270 "Utilize a Dev Flag for Experimental Features"
Instead of running 10 different flags to try out all the experimental features currently in the beacon node, we can instead utilize a `--dev` flag which encompasses all these different features. This makes it easier for a user to try out new features instead of having to manually lookup what was added to the beacon node. They would have to simple fetch the new image/binary and run the dev flag to

[2020-04-01 11:04] alonmuroch commented on #5202
@mcdee I don't mind helping. Can you share what you work on?

[2020-04-01 13:08] mcdee commented on #5202
@alonmuroch I've just pushed https://github.com/mcdee/prysm/tree/dynamic-wallet-keys which uses fsnotify to track when keys are added to watched wallets for the `wallet` keymanager.  It should be transparent as far as the end user is concerned, so no changes required to their configuration.

Note this is against `v0.11` as there have been other changes to wallet in `v0.11` and if this went against

[2020-04-01 16:07] mcdee commented on #5143
After working through some use cases and a test implementation, `ChainInfo` has expanded a bit.  Sample (dummy) output is now:

[code]

These should cover the common cases where information needs to be obtained from the chain, or calculated from chain information; the full configuration can still be fetched with `GetConfig` for the more esoteric cases.

[2020-04-01 17:18] terencechain commented on #5143
For my curiosity, why would users need `Far future epoch`?

[2020-04-01 17:22] mcdee commented on #5143
`Far future epoch` shows up in various places in both this and other APIs (for example, `next fork epoch` if there is no next fork planned) so useful to have as a marker for comparison.

[2020-04-01 18:20] terencechain commented on #5267
Imo this is optional. Most of the user slashings we have seen in cluster are due to multiple node instances (ie, different zones) using the same set of the keys. In this case, having a localize DB will not help.

I think this is a nice to have, but just not sure how much protection it realistically applies...

[2020-04-01 18:23] torfbolt commented on #5247
Update: Switched to 0.3.9 today, still happening, currently with a consistent 100% of epochs correctlyVotedHead=false.

I also noticed this error appearing from time to time in the logs:
`time="2020-04-01 17:43:37" level=error msg="Failed to handle p2p pubsub" error="could not process block: could not execute state transition: could not process slot: context deadline exceeded" prefix=sync topic="/

[2020-04-01 18:25] prestonvanloon commented on #5267
We haven't tested this in runtime at all.

We can invert the flag so that the default is ON, but I don't think we should remove this flag entirely yet.

[2020-04-01 18:27] prestonvanloon commented on #5268
This has been a big pain sometimes. I think we can reorder the logic a bit like:

- Start up validator
- Check for assignments
- If no assignments because no one is activated, then WaitForActivation

[2020-04-01 18:29] terencechain opened #5275 "Invert --new-state-mgmt flag"
I'm leaning towards making `--new-state-mgmt` canonical as part of the testnet restart

In addition let's make a new flag `--old-state-mgmt` in case things don't work as expected in the future to roll back to the old time

[2020-04-01 18:35] prestonvanloon commented on #5176
@terencechain please close if this is not relevant.

[2020-04-01 18:38] 0xKiwi commented on #5267
I agree with Preston here, it hasn't be thoroughly tested on runtime in the
cluster. We should enable it on the cluster for a little bit at least
before releasing.

Validators haven't committed any slashable offense right? The network has
been stable, less likely for validators to accidentally slash period.

On Wed, Apr 1, 2020, 2:26 PM Preston Van Loon <notifications@github.com>
wrote:

[2020-04-01 18:45] terencechain commented on #5176
Correct my previous statement, we dont verify att sigs.  See:
<img width="1830" alt="Screen Shot 2020-03-29 at 12 30 13 PM" src="https://user-images.githubusercontent.com/21316537/78174493-3376a880-740e-11ea-9d94-df467aa73e07.png">

Marking this as need help for now

[2020-04-01 20:29] prestonvanloon commented on #5267
Starting this change now.

[2020-04-01 20:41] prestonvanloon commented on #5176
This isn't a hard requirement for testnet restart. Removing from testnet requirement to mainnet requirement.

[2020-04-01 21:00] rauljordan commented on #4781
Closing in favor of #5227

[2020-04-01 21:00] #4781 closed

[2020-04-01 21:08] terencechain opened #5281 "invert "--initial-sync-batch-save-blocks" flag"
2x speed up for initial syncing would be great to have as default

[2020-04-01 21:14] 0xKiwi opened #5282 "Update proposal slashing protection to new spec changes"
As of https://github.com/ethereum/eth2.0-specs/pull/1612/ , proposal slashings are now on a per slot basis, rather than a per epoch basis. As a result, the proposal slashing protection on the validator client needs to be modified to be aware of this. Currently if a validator proposes once in an epoch, they will be blocked from proposing in that epoch again when it won't be a slashable offense.

[2020-04-01 21:18] prestonvanloon commented on #5188
I'll take a look at this as well. It shouldn't be too difficult to require this change.

[2020-04-01 22:10] prestonvanloon opened #5283 "v0.11: Flaky p2p tests"
Test target `//beacon-chain/p2p:go_default_test ` in the v0.11 branch has been very flaky.

The tests I see fail the most are
- TestStaticPeering_PeersAreAdded
- TestDiscv5_AddRetrieveForkEntryENR

Example errors:
[code]

After running 100 tests sequentially (can't run in parallel because the test demands port 2000), the results show that it fails 19 out of 118 runs. (Not sure why it ran 18 extra

[2020-04-01 23:17] #5267 closed

[2020-04-01 23:22] nisdas commented on #5268
I think we could probably fix this by refactoring so that we dont make a rpc call to our eth1 node for each validator. Instead do it per `WaitForactivation` request

[2020-04-02 01:53] prestonvanloon commented on #5281
Is anything blocking this?

[2020-04-02 02:09] #5211 closed

[2020-04-02 03:00] terencechain opened #5288 "Update aggregator <-> beacon node work flow"
Open this PR to track the progress to revamping of beacon node <-> aggregator APIs and work flows. This involves changes in `ethereumapi` upstream, beacon node and validator RPC functions

Design doc:
https://hackmd.io/z1Z8ct3bRGi08oAzrxTN4Q?both

[2020-04-02 03:06] prestonvanloon commented on #5288
What are the required changes for this feature?

[2020-04-02 03:13] terencechain commented on #5288
1.) Update ethereumapi upstream
2.) Update p2p network, the beacon node with attesters should find persistent peers on the subnet in question to be able to publish, the beacon node with aggregator, should join the subnet
3.) Update beacon node RPC server functions to satisfy the workflow
4.) Update validator client RPC client functions to satisfy the workflow

[2020-04-02 03:26] prestonvanloon commented on #5288
What are the updates in EthereumAPIs?

[2020-04-02 03:49] terencechain commented on #5288
Biggest one is validator needs to let beacon node know it is an aggregator ahead of time. Maybe a few other minors ones, will have to take a closer look later

[2020-04-02 03:54] #5264 closed

[2020-04-02 04:02] prestonvanloon commented on #5288
Ok please update this issue with those findings. I don’t see any difference between the current implementation and the workflow you described.

[2020-04-02 04:04] rauljordan commented on #5157
Closing in favor of #5288, the new workflow outlined there will resolve outstanding aggregation issues. If it keeps popping up after that, we can revisit this issue.

[2020-04-02 04:04] #5157 closed

[2020-04-02 04:22] terencechain commented on #5288
The difference is a beacon node subscribes to all the subnets reported by the attesters, instead the beacon node needs to get the subnets reported by the agregators *ahead* of the time. Whether this requires an additional new message or modifies the exiting one, it's tbd

[2020-04-02 04:31] prestonvanloon commented on #5288
So we currently subscribe to subnets based on assignments given at the
start of the epoch or RPC requests (like ProposeAttestation or
GetAttestatonData or SubmitAggregateAndProof)

This issue is to change the logic to only subscribe when the attester
submits proof they are an aggregator? How do you recommend that we do this?

[2020-04-02 07:14] nisdas opened #5290 "Modify Our Peerstore to accept ENRs as the Primary Node Identity"
Currently each peer has their peer id as the primary basis for their node identity in our peer store. With the testnet restart to v0.11.1 coming up we will need to update it to include ENRs as being the primary basis for node identities.  Due to discovery now being primarily based on discoveryV5 instead of libp2p's kademlia dht, this change will be required.

Things needed to be added to the `peer

[2020-04-02 10:00] mcdee commented on #5143
Sample chain info:

[code]

[2020-04-02 10:51] nisdas opened #5291 "Wait For Chainstart to Start P2P Service"
https://github.com/ethereum/eth2.0-specs/issues/1700

Building on from the above issue we will need to start our p2p service at chainstart instead of when the node starts up to avoid the situation of having 2 different fork digests to reconcile in pre-genesis and post-genesis. This would mean that peer discovery would only begin when we have the relevant chainstart eth1 block confirmed.

[2020-04-02 14:54] terencechain commented on #5288
submits proof they are an aggregator?

Yes, but BN needs access to that info earlier with one epoch look ahead

A few more things to work through
 * Validator needs to let beacon node that it's a aggregator with one epoch look ahead. Validator currently does not do that
 * BN should aggregate on demand instead blindly aggregate based on intervals

Will put more thoughts on this today and will repo

[2020-04-02 14:56] terencechain commented on #5283
`TestStaticPeering_PeersAreAdded` still failing on the latest latest v0.11 branch. See:
https://buildkite.com/prysmatic-labs/prysm/builds/26879#f8de094e-a52b-4339-a74d-15305981624d

[2020-04-02 16:06] #5266 closed

[2020-04-02 16:32] rauljordan commented on #5275
Done by #5289

[2020-04-02 16:32] #5275 closed

[2020-04-02 16:39] rauljordan commented on #5283
This should now be resolved @terencechain , closed the last problematic p2p listener that wasn't being cleaned up

[2020-04-02 16:39] #5283 closed

[2020-04-02 21:23] terencechain commented on #5288
Created an one pager design doc with @prestonvanloon today

https://hackmd.io/z1Z8ct3bRGi08oAzrxTN4Q?both

[2020-04-02 21:44] prestonvanloon commented on #5288
Design doc LGTM. Thanks!

[2020-04-02 21:46] #5281 closed

[2020-04-03 16:00] farazdagi commented on #4543
The UI has been updated:
- the only number displayed now is that of available peers (so that user has idea on how connected the node is)
- since we have decoupled block fetching from processing, exposing which peers were used to fetch particular block the processor is working with atm is neither informative, nor strictly necessary.
- Internally fetcher has quite a sophisticated peer selection stra

[2020-04-03 16:00] #4543 closed

[2020-04-04 07:47] alonmuroch commented on #5202
@mcdee I've added some test + fixed an issue I found
https://github.com/alonmuroch/prysm/tree/mcdee/dynamic-wallet-keys

[2020-04-04 09:46] torfbolt opened #5305 "Reported validator balances inconsistent"
For my validator client (V0.3.9) the epoch summaries show a very inconsistent picture of the balance. The reported percent change is always negative (see #5247), but the absolute values are sometimes rising and sometimes falling. Also, the new balance of the previous epoch is not equal to the old balance of the current epoch.

Also the inclusion slot looks very strange to me, being larger than the

[2020-04-04 14:41] terencechain opened #5306 "Alert validators in case of beacon chain has a short range reorg"
Given validator requests assignment at the start of the epoch, in the case of a reorg back to the start of the epoch that cause validator assignments to change, validators currently have no way of knowing such reorg event and will still request based on the "old" assignment
Opening this issue for discussion and mitigation steps

Design doc: https://hackmd.io/KWBj0PCDQUuPKpLQnIiZbw?both

[2020-04-05 12:24] chrishobcroft opened #5310 "Installing Prysm on ARM Hardware - fails for armv6l (Raspberry Pi Zero W)"
## Description of the bug

I tried to install and run Prysm on a Raspberry Pi Zero W, `armv6l` chipset, running `Raspbian 10`.

It failed with the error:

[code]

## Steps to reproduce

0. Environment: `armv6l` (Raspberry Pi Zero W), running `Raspbian 10` (full spec below)

1. Follow these instructions:
[Installing Prysm on ARM Hardware · Prysm 'Sapphire' Testnet.pdf](https://github.com/prysmaticl

[2020-04-05 13:48] pkieltyka opened #5311 "kafka?"
thanks for your amazing work on prysm. I'm just recently starting to dig into the code a little bit and wondering why you're using kafka in the project? it's quite a heavy piece of infrastructure to make as a dependency to this client -- perhaps at first glance though I'm not understanding its use or plans. sorry for the strange question but just personally curious.

[2020-04-05 18:17] 0xKiwi commented on #5311
Hello @pkieltyka ! Thanks for the nice words and question :)

Maybe @prestonvanloon can explain why we use it, he's the most knowledgable to answer I believe.

[2020-04-05 18:24] 0xKiwi commented on #5310
Hello @chrishobcroft ! Thank you for trying Prysm on your Pi Zero W haha

Looks like we don't support this currently, sorry about that! @prestonvanloon is this something we can support in the future?

[2020-04-05 18:31] 0xKiwi commented on #5305
Hello @torfbolt ! Thanks for reporting this, although I believe mild fluctuations in rewards/penalties are normal, those inclusion slots definitely look off.
Maybe @terencechain can take a closer look at whats going on?

[2020-04-05 21:46] mfiumara commented on #5310
It looks like you'd have to add ARM32 support in order to run the client on any raspberry pi (raspberry pi model 3 is armv7, which is also a 32 bit architecture).
I'm not sure how hard that is regarding thsi project, maybe as easy as adding the `("linux", "arm32")` pair to `tools/binary_targets.bzl`?

[2020-04-06 03:45] nisdas commented on #5310
Hey @mfiumara @chrishobcroft , there are certain blockers to us supporting 32-bit architectures. We currently use bolt-db as our primary key value store. Due to it being memory-mapped, can only support database sizes of up to 2gb in a 32-bit address space. For the requirements of the beacon-chain, that will never be enough.

We will need to support larger database sizes as a minimum in order to ha

[2020-04-06 12:59] mratsim commented on #5310
Nimbus can run in 32-bit mode and but even on our side the Raspberry Pi Zero is probably stretching it ;), well it can probably run but may not support more than 1 peer due to cryptography + epoch processing + fork choice bottlenecks. Maybe Sigma-Prime @paulhauner can chime in as well since they spend the last 2 months on optimization but I'm not hopeful.

[2020-04-06 15:01] SuburbanDad commented on #5310
FWIW, the beefiest pi,  4b+ with 4gb is the least I have had any success with for beacon on the current testnet.  Things may change on the new test net, but I would be very suprised if beacon ran reliably on anything less.

Validators can run on a 2b/3b, though not with raspbian since it is 32 bit, and as @nisdas mentioned, 64bit is necessary (not just processor but the OS also).  It'd be a neat t

[2020-04-06 15:20] terencechain commented on #5305
@torfbolt please provide more evidence such as:
`absolute values are sometimes rising and sometimes falling`
`new balance of the previous epoch is not equal to the old balance of the current epoch`

[2020-04-06 15:23] terencechain commented on #5134
@xrow what's your recommendation on how to proceed with this?

[2020-04-06 15:25] terencechain commented on #5226
I did some research on this and concluded that I'm happy with snappy compression so will close this instead

[2020-04-06 15:25] #5226 closed

[2020-04-06 15:26] terencechain commented on #5282
Closed via #5292

[2020-04-06 15:26] #5282 closed

[2020-04-06 15:27] terencechain commented on #5288
Closed via: #5312, #5302, #5299

[2020-04-06 15:27] #5288 closed

[2020-04-06 18:24] har00ga commented on #791
No problem, will add a note about this to the docs. :slightly_smiling_face:

[2020-04-06 19:31] #5116 closed

[2020-04-06 21:27] paulhauner commented on #5310
Lighthouse (LH) doesn't support 32-bit, either. Even if we did, I think a Pi Zero is _really_ stretching it for a LH beacon node, especially one that has any importance. Running a LH validator client on it is probably quite achievable, however I certainly wouldn't stake my own ETH on it.

Getting a Pi Zero to sync would be one thing but keeping it up during network instability or an attack would b

[2020-04-07 00:43] xrow commented on #5134
Hi,

I finally completed by build for the beacon chain. Is this something that can help you to build a proper centos release?

[code]

[2020-04-07 00:53] prestonvanloon opened #5327 "Remove validator index from beacondb"
All of these methods can be replaced by use of the new beacon state managed validator index map.
[code]

Example:
[code]

[2020-04-07 01:10] prestonvanloon commented on #4702
@handelaar2 Thanks for the feedback. I understand this is an important issue so I have reopened it.

I believe this is just a cosmetic logging issue, but seems worth looking into. I think we may be launching too many goroutines unnecessarily and the log statement doesn't wait for these routines to finish. I'll submit a potential fix now.

[2020-04-07 01:18] prestonvanloon commented on #4702
@handelaar2 potential fix is https://github.com/prysmaticlabs/prysm/pull/5328, let me know if that works for you. Thanks

[2020-04-07 01:35] prestonvanloon commented on #5311
@pkieltyka The idea for adding kafka is that we can stream beacon blocks and beacon attestations as they are saved to the database to some central repository. I imagine this makes ETL easier for things like BigQuery or certain types of slashing protection / alerting.

Admittedly, we have not taken advantage of this feature yet, but intend to do so in the near future.

Something to note is that bui

[2020-04-07 01:50] pkieltyka commented on #5311
@prestonvanloon thanks for the answer. Personally I love to see systems to be as lean as possible and offer interfaces for people to plug in adapters. In this case you could still stream the blocks in a payload over a socket interface, and then write a kafka adapter outside of it -- would be much lighter then being part of the core codebase. Just my 2 cents.

[2020-04-07 01:57] prestonvanloon commented on #5311
Thanks for the feedback. At the time of implementing this feature, using the kafka exporter seemed like the ideal approach given the limited amount of time allocated to experimentation here.

If the optional dependency on kafka is causing anyone pain, we can consider removing kafka in favor of writing some extraction ETL using existing gRPC streams and unary RPC requests.

[2020-04-07 01:57] #5311 closed

[2020-04-07 02:09] pkieltyka commented on #5311
yea, :+1: x100 for gRPC streams and unary RPC requests instead of kafka.

and something even lighter than gRPC is webrpc -- which is plain http 1.1 or 2, over JSON, using a protocol schema for the payloads and generated clients in Go/TS. Streaming support is in this branch: https://github.com/webrpc/webrpc/tree/stream2/_examples/golang-streaming

[2020-04-07 02:43] prestonvanloon commented on #5310
@mfiumara Adding 32 bit ARM cross compile support involves adding another bazel toolchain. I have removed that legacy bit of starlark logic that you are referencing (https://github.com/prysmaticlabs/prysm/pull/5329).

@SuburbanDad If you are interested here, could you add a toolchain and config for arm 32 bit cross compile?

In any case, we will not support running a beacon node on 32 bit architec

[2020-04-07 02:44] prestonvanloon commented on #5327
If anyone on @prysmaticlabs/core-team picks this up, please self assign!

[2020-04-07 06:23] prestonvanloon commented on #5306
Should we consider adding an assignments stream? Validators can subscribe to a given stream for assignments and in the event of a reorg then the beacon node sends new assignments immediately rather than the start of each epoch.

[2020-04-07 07:19] farazdagi commented on #4970
Synced several times using the following command (8GiB memory limit, no swap):

[code]

On average, `docker stats` reported ~4GiB of memory used, but had to set limit to 8GiB as there're currently spikes (those are w/i that limit as I've been running container without the restart flag - to catch any OOMs).

[2020-04-07 07:19] #4970 closed

[2020-04-07 12:00] chrishobcroft opened #5333 "ERROR initial-sync: Round robing sync request failed error=no peers left to request blocks"
When initially syncing Prysm, I get these `ERROR` messages coming up very regularly.
[code]

I am on a pretty slow / remote / unstable connection, so I can (in some ways) understand that the node will lose all peers now and again.

But why make this a ERROR? Is there actually a problem with the software? Or perhaps I'm out of touch on how logging levels are defined these days?

Here's the full mes

[2020-04-07 12:02] chrishobcroft commented on #5333
Also, the "robing" typo is already PR'd and merged: https://github.com/prysmaticlabs/prysm/pull/5317

[2020-04-07 16:02] farazdagi commented on #5333
- I agree, exposing internal details of data fetching (with addition call stack details, even) doesn't seem like a good idea, debug-level message should be enough (and for end user, some info-level "no peers, waiting for peers" is more than enough).
- Btw, are you running the beacon node with `--disable-init-sync-queue` (error message suggests that previous implementation of init-sync is used)? Or

[2020-04-07 16:47] chrishobcroft commented on #5333
I'm just running plain and simple `./prysm.sh beacon-chain`.

I tried it with `--disable-init-sync-queue`, but it said `flag provided but not defined: -disable-init-sync-queue`. Perhaps you mean `--enable-init-sync-queue`, that works?

[2020-04-07 16:54] farazdagi commented on #5333
Well, then it means are not on the latest master branch. The `--enable-init-sync-queue` flag has been enabled by default now, and you can disable it (in case problems w/ the new sync method are discovered). Can you please pull the latest master, and try running w/o any init-queue related flags?

[2020-04-07 16:56] prestonvanloon commented on #5333
The Prysm script downloads the latest release.

I can cut a new release today.

[2020-04-07 17:19] prestonvanloon commented on #5333
Building release binaries for v0.3.10. New release should be available in
the next hour or so

[2020-04-07 17:58] prestonvanloon commented on #5134
At the moment, we provide the following docker images for beacon chain and validator binaries
- Minimal (default, go only image)
- Debug (built with debug symbols, additional tooling)
- Alpine (minimal build with an alpine base image)

Since we don't use traditional `Dockerfile`s to create docker images, can you help me understand what is missing from the three available flavors of docker images?

[2020-04-07 18:27] prestonvanloon opened #5337 "Prysm triggers Windows Defender Warning"
![image](https://user-images.githubusercontent.com/7246818/78705663-abd3e280-78c2-11ea-924c-c20ce1573847.png)

[2020-04-07 19:42] 0xKiwi opened #5338 "Validator client does not inform the user of exiting or slashing"
Currently, the validator client does not inform the user at all if they have started a voluntary exit or have been slashed.  We should be logging out EXITED, EXITING and SLASHING as a status more clearly so users know the current status of their validator at every point of its lifecycle.

[2020-04-07 19:47] #5290 closed

[2020-04-07 19:49] rauljordan opened #5339 "V0.11 Takes a Long Time to Find Peer With Subnet"
Currently, v0.11 spends around 15 slots looking for peers with the right subnet upon launch, and then eventually connects and succeeds in the handshake. This seems way too long and should be near instant in a single, perfect network with 2 nodes.
[code]

[2020-04-07 19:49] 0xKiwi opened #5340 "BlockFetcher RPC functions are inefficient"
After observation from Nishant and I on the RPC functions used when the beacon chain has to make any block queries. We've noticed that there are a few problems possibly related to #5268.

[BlockNumberByTimestamp](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/powchain/block_reader.go#L75) is extremely inefficient, it goes down from the head of the chain and backwards block-by-bloc

[2020-04-07 20:43] prestonvanloon commented on #5339
Is this a discv5 issue?

[2020-04-07 20:45] rauljordan commented on #5339
No evidence yet, we just notice it takes a long time before they are found

[2020-04-07 20:58] rauljordan commented on #5065
Done in EthereumAPIs here https://github.com/prysmaticlabs/ethereumapis/pull/121

[2020-04-07 20:58] rauljordan commented on #5065
Now working on the Prysm-side

[2020-04-07 20:59] rauljordan commented on #5291
Done

[2020-04-07 20:59] #5291 closed

[2020-04-08 00:34] 0xKiwi opened #5345 "Simplify validator startup checks to wait for beacon node synced"
Currently the validator has [multiple processes](https://github.com/prysmaticlabs/prysm/blob/master/validator/client/runner.go#L46) it runs before performing validator duties, these include: [`WaitForChainStart`](https://github.com/prysmaticlabs/prysm/blob/0fff07a93b3d742ec8b3e35f41ca04ca01522990/beacon-chain/rpc/validator/server.go#L153), [`WaitForSync`](https://github.com/prysmaticlabs/prysm/blo

[2020-04-08 09:05] xrow commented on #5134
Hi,

our full stack is red hat based and sometimes supported. Therefore we like to run any software under a supported stack.

[2020-04-08 14:20] rauljordan commented on #5240
Closing due to inactivity

[2020-04-08 14:20] rauljordan commented on #5216
Update on this @prestonvanloon ?

[2020-04-08 14:27] rauljordan opened #5350 "Deprecate Archiver Service"
Now that we generate states on the fly by using a cool new state management technique piloted by @terencechain, we no longer need the concept of an "archival" node nor the "archiver" service in Prysm. This is a tracking issue to deprecate such service and delete its code from our repo. Blocked until v0.11 is merged in.

Edited by @terencechain 👇

Here's the list of archival RPC end points that nee

[2020-04-08 14:36] #5065 closed

[2020-04-08 15:03] terencechain commented on #5350
This is mentioned in #4958

Should we just have one canonical tracking? or you prefer a side tracking for deprecation specifically?

[2020-04-08 15:30] rauljordan opened #5352 "Add Suggestion to Use Eth2Stats in Testnet Site"
Thanks @tzapu for the suggestion - we're a big fan of eth2stats.io and many users would benefit from being able to see how their node fares compared to others in the network and feel like they have a sense of participation greater than just reading cli logs. We can suggest users to navigate to https://eth2stats.io/add-node after they start their node from our https://prylabs.net/participate portal

[2020-04-08 15:40] nisdas commented on #5339
Closed by #5349

[2020-04-08 15:40] #5339 closed

[2020-04-08 17:53] criticaltv commented on #5333
OK I'm now on 0.3.10 due to script auto updating the binaries. Good job on this, it is so easy to run the node...

[2020-04-09 00:22] terencechain commented on #5350
Working on `ListValidatorAssignments`

[2020-04-09 10:21] chrishobcroft commented on #5333
@farazdagi do you still need me to do this:

If so, can you link me to instructions? Right now I'm just running the beautifully simple `./prysm.sh beacon-chain`

[2020-04-09 10:21] chrishobcroft commented on #5333
It seems like 0.3.10 has fixed this issue, can this be closed?

[2020-04-09 10:24] farazdagi commented on #5333
- since Preston has released new version couple of days ago, no need to pull the master or all that jazz, you can continue relying on `./prysm.sh` script :)
- I am closing the issue, as new version doesn't have the described behaviour

[2020-04-09 10:24] #5333 closed

[2020-04-09 16:17] terencechain opened #5358 "Node reports out of sync to start off in dev cluster v0.11"
In dev cluster run, the beacon node doesn't look healthy to start with. This is right after the last deposit before creating the genesis state

[code]

[2020-04-09 16:35] terencechain opened #5359 "could not process slot from the future for fork choice attestations"
Captured in v0.11.1 dev cluster run today

[code]

[2020-04-09 16:49] terencechain opened #5360 "Better validator performance tracking"
I'd like to see a more granular report on validator performances with the focus on comparing internal hosted validators versus external user launched validators.

Example, Prylabs controls 78% of the validators and the max participation is at 77%. What's the participation rate on the Prylabs validators and the participation rate on the external validators?

A feature or tool like this will be real

[2020-04-09 19:02] prestonvanloon opened #5362 "V0.11 Testnet: use 32 ETH deposits"
In the upcoming testnet release, we aim to remove any "demo" configuration and target a pure mainnet specification within Prysm.

Required changes:

**Beacon node / Validator**
- [x] Make mainnet configuration the default in //shared/params #5367

**Documentation**
- [x] Update references to "deposit 3.2 ETH"  in Prysm markdown.
- [x] Update prylabs.net with language regarding full mainnet configu

[2020-04-09 19:29] #5340 closed

[2020-04-09 19:29] #5358 closed

[2020-04-09 19:59] prestonvanloon commented on #5227
Any update on the two remaining items? @terencechain

[2020-04-09 20:01] terencechain commented on #5227
done

[2020-04-10 00:00] Nessa-G22 opened #5371 "TEST validator"
#5366 0x7bc5f8CF22712Ab1007DA43b00BA594F03540873

[2020-04-10 00:12] #5227 closed

[2020-04-10 00:12] prestonvanloon commented on #5227
Closed this since all of the changes are available in #5127

[2020-04-10 00:48] prestonvanloon opened #5372 "Handshake protocol: cannot decode stage 1/2 MessageBuffer: length less than 96 bytes"
Observed in internal testnet today. Affected node cannot peer with other nodes.

[code]

Running from commit  9cf22ac0079f56608d9e1d1f48bff336f715d60d

[2020-04-10 00:49] prestonvanloon commented on #5371
Are you looking for goerli ETH? How can we help you here?

[2020-04-10 01:58] prestonvanloon commented on #5359
Not seeing this in v0.11 testnet after #5370.

Closing this with medium certainty that the issue has been resolved.

[2020-04-10 02:00] prestonvanloon commented on #5362
The only remaining items are docs and some infra configuration.

[2020-04-10 03:54] shayzluf commented on #5040
started a design doc to resolve this issue
https://hackmd.prylabs.network/s/H1jO_H9wL

[2020-04-10 03:59] shayzluf opened #5373 "list indexed attestations uses beacon-db to get old state"
beacondb get state function doesn't return states older then the few latest ones list indexed attestations should use the new state-gen instead

[2020-04-10 04:29] prestonvanloon commented on #5216
No update yet. This won't get prioritized until after v0.11 testnet.

[2020-04-10 04:30] prestonvanloon commented on #5327
Any update on this @shayzluf? This should be a relatively straight-forward enhancement and it would be nice to get this in soon so we can test it before testnet restart.

[2020-04-10 05:51] shayzluf opened #5375 "slasher spams logs when beacon node disconects"
when beacon node disconnects attestation stream spams the logs with infinite loop of

`[2020-04-10 08:20:43] ERROR beaconclient: Could not receive attestations from beacon node error=rpc error: code = Canceled desc = Context canceled`

[2020-04-10 11:26] nisdas opened #5377 "GetValidatorPerformance Returns Incorrect Data"
Currently we have a race condition in `GetValidatorPerformance` where we might miss the appropriate time to retrieve the validator's performance metrics. If for example we have a skip slot during an epoch boundary slot, we will retrieve the incorrect set of data.

There are also many potential edge cases to how it could be wrong. We use a global variable in the `core/epoch/precompute` package, thi

[2020-04-10 11:27] nisdas commented on #5377
cc @mcdee

[2020-04-10 15:31] chrishobcroft commented on #4970
@farazdagi I would recommend re-opening this.

I have been using 0.3.10 to run `initial-sync` for the past 4 days. The process consistently crashes after ~1.5-2 hours, simply reporting `Killed` in the output.

Upon further investigation, and measuring memory usage using `top`, the process running prysm proceeds to consume all available physical memory, then consumes all available swap, and when sw

[2020-04-10 16:19] #5188 closed

[2020-04-10 16:42] rauljordan commented on #5268
The function was not using a cache at all in the first place, this was improved by #5300 and @0xKiwi

[2020-04-10 16:42] #5268 closed

[2020-04-10 16:58] #5375 closed

[2020-04-10 18:53] yusefnapora commented on #5372
Hey @prestonvanloon - this seems like it could be a bug in go-libp2p-noise. Do you have any more details about when this is happening, or more log output?

Are you able to reproduce this locally?

[2020-04-10 19:15] prestonvanloon commented on #5372
@yusefnapora I have not personally encountered this locally, but it was happening very consistently after restarting Prysm in our internal testnet. We would have to restart the process 3 or 4 times before it would work.

Do you have any advice on how to troubleshoot this issue? Thanks

[2020-04-10 19:49] prestonvanloon commented on #5372
@rauljordan updated some libp2p dependencies and now we have a slightly different message
[code]

[2020-04-10 19:53] prestonvanloon opened #5380 "Add /healthz checks in endtoend tests"
Some deployments rely on the reports from `:8080/healthz` where 8080 is the monitoring port.

The criteria for this would be to add e2e checks for HTTP 200 status at start up and every epoch.

[2020-04-10 20:05] prestonvanloon commented on #5265
Reverted in https://github.com/prysmaticlabs/prysm/pull/5381

[2020-04-10 21:21] prestonvanloon commented on #4232
I would like to close this if possible. Does anyone feel strongly about the need to build on windows?

We are able to build windows executables with recent cross compile changes. Let me know if this doesn't satisfy your use case and we can revisit this issue.

[2020-04-10 21:22] prestonvanloon commented on #5265
Blocked by #5372

[2020-04-10 21:29] prestonvanloon commented on #5104
@0xKiwi Are you sure? I just tried this and was able to retrieve 2 specific validators:

[code]

This is a `ListValidatorsRequest` in gRPC.

[2020-04-10 21:33] prestonvanloon commented on #4958
Is this running in production?

[2020-04-10 21:33] 0xKiwi commented on #5104
We can close this @prestonvanloon, it was fixed in #5141.

[2020-04-10 21:34] prestonvanloon commented on #4964
This should be resolved by #5364 which has fixed a race condition in the ssz cache. Please pull in the latest master branch or latest docker image and let us know if it's still an issue please.

[2020-04-10 21:36] prestonvanloon commented on #4586
@handelaar2 Based on your comments after closing, is this still an issue we should look into?

[2020-04-10 21:39] prestonvanloon commented on #5134
Alright, I suppose we can add another base to our docker image deployments for beacon-chain and validator.

[2020-04-10 21:39] #5104 closed

[2020-04-10 21:41] prestonvanloon commented on #4891
Any update on this?

[2020-04-10 21:41] prestonvanloon commented on #4846
@farazdagi has this been resolved in the new initial sync?

[2020-04-10 21:50] terencechain commented on #4958
No, it'll be running by default with the relaunch v0.11.1 so I'm waiting to see how that goes

[2020-04-10 21:56] prestonvanloon commented on #4792
Yeah, this is definitely an infrastructure related problem, not an issue with Prysm itself.

[2020-04-10 22:35] prestonvanloon commented on #5327
I'll take this. Thanks

[2020-04-10 22:48] terencechain commented on #5327
fyi some alarms I raised with Shay's work, we need to be cautious with its scope:

https://github.com/prysmaticlabs/prysm/pull/5335#pullrequestreview-389356120

[2020-04-10 22:51] prestonvanloon commented on #5327
1.) if the chain reorg back prior to finalized_check_pt to SetA. Users and applications will not be able to get validatorSetB

Is this actually a concern? Can validators join be assigned a validator index without finalization?
Wouldn't validatorSetA always be the same as validatorSetB in this case?

What is validator set C?

[2020-04-10 23:42] prestonvanloon commented on #5359
Still seeing it

[code]

[2020-04-11 00:05] terencechain opened #5385 "Delay fork choice attestation processing until subsequent slot"
As outlined in the spec, a node should delay processing of the attestation until the next slot. We currently violate that check by discarding the attestation instead of keeping it around. Opening this issue to track it

Reference: https://github.com/ethereum/eth2.0-specs/blob/v0.11.1/specs/phase0/fork-choice.md#on_attestation

[code]

[2020-04-11 00:12] #5359 closed

[2020-04-11 10:16] GuillaumeOcculy commented on #4846
I still face the same issue

[2020-04-11 11:29] farazdagi commented on #4846
@GuillaumeOcculy are you sure you've pulled the latest docker image?

[2020-04-11 12:39] farazdagi opened #5390 "Memory consumption during initial sync"
- this is a meta issue to track memory optimization PRs, which will improve memory consumption during initial sync
- we need to find an upper bound of minimum memory required to sync (making sure that such a bound exists and memory doesn't grow unconstrained) *note: at the moment it seems docker image with 8GiB of memory is necessary to sync*
- then gradually decrease memory consumption via severa

[2020-04-11 19:47] #5327 closed

[2020-04-12 01:13] prestonvanloon opened #5395 "Corrupt data in beaconDB causes initial sync to mark blocks as invalid"
Seeing this message
[code]

The block is not invalid, but the method `rmStatesOlderThanLastFinalized` is failing to delete an old finalized state. Initial sync cannot advance in this condition.

[2020-04-12 01:28] prestonvanloon commented on #5372
I believe this is where the error originates from: https://github.com/flynn/noise/blob/2492fe189ae688d7edbeae0fd575de2f1c5fec8e/state.go#L420

One of the concerns here is that libp2p did not fallback to secio when we had options both options given to the host. This failure rendered the host unable to peer with anyone.

[2020-04-12 01:30] prestonvanloon commented on #5372
@rauljordan mentioned that this issue is very easy to produce locally and happens quite often.

This is the last testnet restart blocking items so this is high priority for us. Do you have any suggestions or feedback @yusefnapora?

[2020-04-12 02:03] terencechain commented on #5395
Marking this a medium priority as it becomes less relevant in v0.11 (not part of the default initial sync block processing code path)

[2020-04-12 10:22] nisdas commented on #5372
Update on this issue, it seems both the local and remote peer regard each other as initiating the outbound handshake. Due to both peers marking themselves as the initiator this leads to a malformed handshake.

Peer A:
[code]
Peer B

[code]

It seems like both of these peers dial each other at the same exact time and then regard themselves as initiator of the connection and handshake. I am not sure

[2020-04-13 02:09] prestonvanloon opened #5404 "Handle errors and type assertions in test code"
In PR #5403, we introduced a new compile time static analysis check to enforce error handling and safe checking of type assertions. To keep the PR relatively small, we've created a TODO to clean up the test code.

Remove the two lines of json here:
https://github.com/prysmaticlabs/prysm/blob/6a6bb31632bf53c546d55b35ca736f198a368cec/nogo_config.json#L83-L84

And fix all of the compile time static a

[2020-04-13 10:59] Strydom opened #5405 "ERROR sync: Failed to write to stream error=stream reset handler=status Killed"
Beacon node threw this error and stopped running last night.
No other information logged out...

`ERROR sync: Failed to write to stream error=stream reset handler=status
Killed`

Do errors get logged to files anywhere for more information?
I've lost the ones in my console now.

[2020-04-13 14:20] yusefnapora commented on #5372
Hey, sorry I wasn't able to help much on Friday & thanks for digging deeper and discovering that it's a simultaneous connection issue.

I think we can fix this by detecting the size mismatch and having one peer re-initialize the handshake as a responder. I'll start on this today & keep you guys posted.

[2020-04-13 17:49] rauljordan opened #5410 "Fix NOISE Handshake Fallback to SECIO for P2P"
Hi all, currently the NOISE handshake does not consistently fallback to secio for libp2p security. If we want to upgrade our nodes to use Noise, we need to ensure the fallback is fully functional and always works otherwise we risk network partitions.

[2020-04-13 19:12] xrow opened #5412 "Keys that are symlinks are not read"
Hi,

I have 2 different directory layouts. In the one case keys can be read into the validator in the other keys can`t be read. My guess is that keys that are symlinks can`t be read by the system, but I don't get any error aside:

`time="2020-04-13 21:00:55" level=warning msg="No keys found; nothing to validate" prefix=node`

In the case in which the keys can be read the layout is:

[code]

In the

[2020-04-14 02:01] prestonvanloon opened #5418 "Remove dependency on go-ethereum fork"
At present, we maintain an old fork of go-ethereum primarily to use the ethclient and discovery v5 protocol. Given some of the improvements in our build tooling, we should be able to use the upstream go-ethereum with minor changes.

[2020-04-14 07:59] prestonvanloon opened #5423 "Reintroduce keymanager updates / improvements / changes from v0.11"
During updates to v0.11 branch, we decided to revert a few feature PRs to facilitate merging #5127 into master. This PR is tracking reintroduction of the feature, improvements, and updates from @mcdee.

- [ ] #5260
- [ ] #5236
- [ ] #4984
- [ ] #5249

I'll own this as a high priority item this week and work with @mcdee to ensure these changes land in master. There was some [offline discussion abou

[2020-04-14 08:03] #5362 closed

[2020-04-14 11:17] mcdee commented on #5377
I spent some time looking at this issue; it basically comes down to a race condition.  Simple mutexing won't help here, and a more comprehensive mutexing would cause long-lasting locks.

The validator client could be changed to wait for a bit before it fetches the stats, but the condition will always exist for whatever value of "a bit" we choose.  As such, I *think* the best solution at this point

[2020-04-14 11:43] nisdas commented on #5377
i like this idea, and I think in general it would be a good idea to migrate to having a push based stream where we send the updated data when we receive it instead of a more brittle polling based system.

Although I am slightly wary of doing this

ValidatorSummary is not lightweight, especially with a mainnet state with 16k+ validators. Doing this for every block processed might be excessive. How

[2020-04-14 12:00] mcdee commented on #5377
`ValidatorSummary` is an array of pointers, so not as bad as passing all of the structs around, but yeah agree.

This would make sense, as long as we can know which block we should post it in.  What happens if we miss a block either side of the epoch boundary, for example?

[2020-04-14 12:06] nisdas commented on #5377
Ex: we have 8 slots per epoch

If my current head is in slot 6, and the next 3 slots end up being skip slots. Then we received a block at slot 10, that block would be where the epoch transition was triggered. So at slot 10, we would send our related validator summaries to our validator clients. Basically at which ever block at which we have the next epoch transition triggered.

[2020-04-14 15:57] terencechain commented on #5306
I think that is a great idea.
The least resistant path is just to have validators check their duties every slot to ensure that chain reorgs are recognized, although I don't have much concrete data to analysis how expensive that is.
Given this is higher priority after seeing many att sig fails to verify, there's two options:
1.) Implement duties streaming
2.) Implement validators polling duty every

[2020-04-14 16:26] prestonvanloon commented on #5306
I prefer streaming over polling, especially for such an infrequent event.

[2020-04-14 16:30] rauljordan opened #5425 "Add Better Test Coverage to CommitteeAssignments"
Currently our `CommitteeAssignments` function contained in https://sourcegraph.com/github.com/prysmaticlabs/prysm/-/blob/beacon-chain/core/helpers/committee.go?utm_source=share#L184:6 is a bit different than the spec definition as it uses maps for speed. We need better test coverage for it after v0.11 is merged.

[2020-04-14 16:33] rauljordan commented on #4222
@farazdagi are you still interested in taking up this issue? Assigning provisionally for now

[2020-04-14 16:34] rauljordan commented on #4418
Assigning to @nisdas for triage for now

[2020-04-14 16:38] farazdagi commented on #4222
@rauljordan yep, will start looking into this during tomorrow's session (it is great chance to look into validator code, which I haven't touched so far).

[2020-04-14 16:40] rauljordan commented on #4586
@handelaar2 please let us know if this is still a problem

[2020-04-14 16:41] #5404 closed

[2020-04-14 16:41] rauljordan commented on #4702
Hi @handelaar2 following up on this, thank you

[2020-04-14 16:42] rauljordan commented on #4882
Can we consolidate this and #1930 into a single tracking issue for fuzzing that serves as our single source of truth with checkboxes? Kindly triage when you have a chance @shayzluf, then we can close both of these issues.

[2020-04-14 16:43] rauljordan commented on #4885
This indeed has a lot of risk, and it is a much better approach to handle memory usage through better programming than relying on GC this way, closing unless there is good support otherwise

[2020-04-14 16:43] #4885 closed

[2020-04-14 16:44] rauljordan commented on #4884
@terencechain please take a look, this is related to epoch precomputes you are quite familiar with

[2020-04-14 16:46] rauljordan commented on #4814
Hi @lsankar4033 are you still interested in this issue?

[2020-04-14 16:49] terencechain commented on #4884
@guybrush effective balance is always round up to `EFFECTIVE_BALANCE_INCREMENT`

[2020-04-14 16:55] lsankar4033 commented on #4814
yep! sorry for slow-ness; have been a bit overloaded on other things past couple weeks.

I should have this in by this week

[2020-04-14 16:59] rauljordan commented on #4846
@GuillaumeOcculy please let us know if your issue has been resolved, thank you

[2020-04-14 17:05] GuillaumeOcculy commented on #4846
I'm sorry I completely forgot to reply
This is what I just did :
`docker pull gcr.io/prysmaticlabs/prysm/beacon-chain:latest`

`docker run -d -it -v $HOME/prysm:/data -p 4000:4000 -p 13000:13000 --name beacon-node \
  gcr.io/prysmaticlabs/prysm/beacon-chain:latest \
  --datadir=/data`

This is what I have right now :
[code]

[2020-04-14 17:07] rauljordan commented on #4884
We can close this, this is the intended functionality it seems - let us know if this still does not resolve your problem @guybrush

[2020-04-14 17:07] #4884 closed

[2020-04-14 17:08] rauljordan commented on #4923
Assigning @0xKiwi to this provisionally as it interacts with the validator activation code

[2020-04-14 17:08] GuillaumeOcculy commented on #4846
And now I have this warning looping :
[code]

[2020-04-14 17:11] GuillaumeOcculy commented on #4846
And finally I have this error :
[code]

I will try to have the beginning of the error

[2020-04-14 17:38] rauljordan commented on #4935
@handelaar2 do you still observe this issue?

[2020-04-14 17:39] rauljordan commented on #4939
This is now resolved by our revamped hash tree root cache enabled by default in master, closing

[2020-04-14 17:39] #4939 closed

[2020-04-14 17:39] rauljordan commented on #4964
This is now resolved by our ssz cache fixes which are now live in latest master by default

[2020-04-14 17:39] #4964 closed

[2020-04-14 17:39] rauljordan commented on #5030
Done by #5321

[2020-04-14 17:39] #5030 closed

[2020-04-14 17:40] rauljordan commented on #5031
Assigning to @shayzluf provisionally

[2020-04-14 17:41] rauljordan commented on #5040
Keep us posted on your progress on this @shayzluf, maybe we can have a quick design review session over voice chat - let's talk on discord about this

[2020-04-14 17:41] rauljordan commented on #5059
Assigning to @0xKiwi as this is part fo the validator activation process in the client

[2020-04-14 17:43] rauljordan commented on #5131
Was this resolved @prestonvanloon ?

[2020-04-14 17:44] 0xKiwi commented on #5059
I intend to make some larger scale logging improvements for validator status after #5396 is merged. Have you tried a new validator deposit within the last few days @superphiz ?

[2020-04-14 17:45] 0xKiwi commented on #5059
I intend to make some larger scale logging improvements for validator status after #5396 is merged. Have you tried a new validator deposit within the last few days @superphiz ?

[2020-04-14 17:45] rauljordan commented on #4222
Duplicate of https://github.com/prysmaticlabs/prysm/issues/5202

[2020-04-14 17:45] #4222 closed

[2020-04-14 17:45] 0xKiwi commented on #5059
I intend to make some larger scale logging improvements for validator status after #5396 is merged. Have you tried a new validator deposit within the last few days @superphiz ?

[2020-04-14 17:46] rauljordan commented on #5247
Hi @torfbolt are you still encountering this issue? Could you retry with latest master and report your findings? Thank you

[2020-04-14 17:48] rauljordan commented on #5222
@ferranbt, would be nice to have hash tree root generated as well as part of your fast ssz library, that way we can eliminate our own custom code for it

[2020-04-14 17:52] rauljordan commented on #5371
Closing for inactivity, please let us know if you still need help @Nessa-G22

[2020-04-14 17:52] #5371 closed

[2020-04-14 17:53] farazdagi opened #5427 "SIGSEGV in onAttestation() method"
From time to time, I see this nil pointer dereference issue:

[code]

[2020-04-14 17:53] rauljordan commented on #5405
Looks like an out of memory issue @Strydom can you share more details about your setup? OS and Flags to run your beacon node?

[2020-04-14 18:10] ferranbt commented on #5222
I have already implemented a proof of concept of this [https://github.com/ferranbt/fastssz/tree/feature/htr](https://github.com/ferranbt/fastssz/tree/feature/htr). For now it only encodes correctly basic objects without internal structs. Overall, I think It will not allocate any memory during the process. For now, I don't think I will be able to finish it on the short run.

[2020-04-14 19:38] prestonvanloon commented on #5427
Need nil checks here
https://github.com/prysmaticlabs/prysm/blob/b69c76c879c1c1a827ba8b475bb59f4bdefd703e/beacon-chain/blockchain/process_attestation.go#L129

[2020-04-14 21:25] rauljordan opened #5429 "Panic on ListIndexedAttestationsResponse"
Our slasher was making calls to beacon nodes not yet on version v0.11 of the spec and ListIndexedAttestations was panicking inside of the nodes serving the response. We need to identify what led to the catastrophic panic scenario.

[2020-04-14 22:25] torfbolt opened #5430 "ERROR blocks: Skipping deposit: could not verify deposit data signature: signature did not verify"
Starting the latest 1.0.0 release cb045dd0e360192fb9e46314b3954f3bf58f4871 with docker or ./prysm.sh looks like this for me, tested on 2 different machines:

[code]

This goes on forever, with about 100 of those lines per second.

[2020-04-14 23:09] shayzluf commented on #4882
we can consolidate this and #1930 @rauljordan

[2020-04-14 23:23] nisdas commented on #5222
@prestonvanloon it contains a lot of utilities for non-state objects. Ex: A lot of the custom HTR methods for our different data structures live there. If any other part of the repo needs to do a HTR of an object, they can simply use that instead of our generic ssz library.

[2020-04-14 23:28] nisdas commented on #5418
Just for an update, I have started opening PRs upstream so as to resolve any significant differences
between our fork and go-ethereum master.

https://github.com/ethereum/go-ethereum/pull/20917
https://github.com/ethereum/go-ethereum/pull/20918

[2020-04-14 23:43] prestonvanloon opened #5433 "Cannot use --web3provider with ipc path"
I ran with these flags
[code]

And produced this error

[code]

Geth was running as `geth --goerli -ws`.

[2020-04-14 23:45] shayzluf opened #5434 "security issue when creating a key pair by the proposed method on our site"
the terminal command `./prysm.sh validator accounts create --keystore-path=$HOME/validator --password=` is saved in terminal history and can be retrieved easily.

it will be better to advise users to write the command `./prysm.sh validator accounts create --keystore-path=$HOME/validator` and enter those values as inputs

[2020-04-14 23:48] prestonvanloon commented on #5434
Why close this? I think it's a valid issue.

[2020-04-14 23:50] prestonvanloon commented on #5430
Fixed in #5431. Please update your client to use v1.0.0-alpha.1. Thanks!

[2020-04-14 23:50] #5430 closed

[2020-04-15 03:18] remyroy opened #5436 "Failed to read keymanager options file (Windows, Docker, 24fc67a6dd)"
I'm manager to launched the beacon-chain:latest and validator:latest. I've managed to create my validator public / private key with:

[code]

However, whenever I try to start my validator, I get the follow logs which seems to fail:

[code]

This is with the following version:

[code]

and

[code]

[2020-04-15 03:27] remyroy commented on #5436
This issue can be solved when starting the validator with PowerShell instead of the regular cmd shell on Windows. Something like this in PowerShell:

[code]

[2020-04-15 03:34] remyroy commented on #5436
Here is one of the correct convoluted way of escaping the --keymanageropts part for starting the validator on Windows using the regular cmd shell:

[code]

[2020-04-15 03:38] remyroy commented on #5436
So this issue is related to the way the regular cmd shell on windows escape quotes or double quotes, the potential solution when using PowerShell or the potential solution using the escape mechanism shown just above.

[2020-04-15 06:03] handelaar2 commented on #4702
With fix #5328, the issue has indeed been solved.
Validator logs now appear in sequence.

<img width="1310" alt="2020-04-15_07-57-02" src="https://user-images.githubusercontent.com/28559038/79303502-55ccf380-7eef-11ea-843d-9a99579cd5ce.png">

Issue can be closed. Thanks.

[2020-04-15 06:17] handelaar2 commented on #4935
Yes
<img width="1280" alt="2020-04-15_08-11-26" src="https://user-images.githubusercontent.com/28559038/79304340-69795980-7ef1-11ea-83ae-d2686313a6d5.png">

[2020-04-15 06:18] prestonvanloon commented on #4702
Thanks for confirming @handelaar2

[2020-04-15 06:18] #4702 closed

[2020-04-15 07:24] Buttaa opened #5437 "Add full docker docs"
**Please add docs for  docker + validator (creating keys + how to run)**

 this is how it worked for me, the one on the website doesn't necessarily work for all OS:

**Docker windows creating keys:**
docker run -it -v C:\Users\PCUSERNAME\prysm\validator/prysm:/data gcr.io/prysmaticlabs/prysm/validator:latest  accounts create --keystore-path=/data --password=changeme

**Docker windows running valid

[2020-04-15 07:39] Buttaa opened #5438 "Validator Key path issue"
MacOs

After creating keys with: ` ./prysm.sh validator accounts create --keystore-path=$HOME/validator --password=changeme`

running: `./prysm.sh validator --password=changeme` does not work.
**There is a path issue and the path flag is required.**

Works fine this way:
`./prysm.sh validator --password=changeme --keystore-path=$HOME/validator`

[2020-04-15 08:31] handelaar2 commented on #4586
Can only confirm in a few days after the restart of the testnet (don't have a proper beacon running right now)

[2020-04-15 09:12] Buttaa opened #5439 "Request: Add a timer till genesis & during 48h time period"
Would be very helpful to have logs every minute until genesis!

100 minutes till genesis
99 minutes till genesis
..

edit:

- show current deposit count x/16384

- timer during 48h time period

[2020-04-15 11:22] chrishobcroft commented on #5438
I think this might be an inconsistency in the scripts.

To replicate:

1. I follow this: https://prylabs.net/participate
2. At step 3, I generate a keystore in `$HOME/validator`, and transaction data for the deposit contract ending `27962e`
3. At step 4, I run `./prysm.sh validator --password=changeme` which appears to generate another keystore at `$HOME/eth2validators`, and transaction data for t

[2020-04-15 14:18] mbucci commented on #5423
@prestonvanloon RE: dependency management and Go modules. If you're not already aware, Bazel supports Go Modules with Gazelle. For example, I've been using
[code]
to integrate a fork of `go-eth2-wallet`. This approach is still susceptible to the patches you mentioned though.

[2020-04-15 15:14] nisdas opened #5443 "Beacon Node Consistently Logs Error"
This was reported by @metanull-operator , the beacon node consistently logged this
`exit status 128`

[code]

This most likely has to do with this:
https://github.com/prysmaticlabs/prysm/blob/master/shared/version/version.go#L19

This is the only place in prysm where we explicitly call `exec`. This could also potentially be from other imported libraries. Needs more investigation to ascertain the r

[2020-04-15 15:21] metanull-operator commented on #5443
Additional details:

Start command for beacon chain:
`beacon-chain --datadir=/home/eth2/prysm --min-sync-peers=7 --p2p-max-peers=50 --monitoring-port 8080 --p2p-tcp-port 13000 --p2p-udp-port 12000 --rpc-port 4000`

This error occurs regardless of whether a validator is running. It occurs after multiple restarts, after multiple clearings of the database, and after a reboot.

[2020-04-15 15:21] metanull-operator commented on #5443
As seen in the logs, the error message appears approximately every 12 seconds.

[2020-04-15 15:34] metanull-operator commented on #5443
Also worth noting that my validator client also reported this error, though only once. Not every 12 seconds.

`Apr 15 15:29:26 beacon01 validator[6962]: 2020/04/15 15:29:26 exit status 128`

[2020-04-15 16:56] taddoo commented on #5436
That solved my problems! Thank you very much.

I suggest to change "docker run -it -v $HOME/prysm/validator:/data --network="host" gcr.io/prysmaticlabs/prysm/validator:latest --beacon-rpc-provider=127.0.0.1:4000 --keymanager=keystore --keymanageropts='{"path":"/data","passphrase":"changeme"}'" command  in https://docs.prylabs.network/docs/prysm-usage/activating-a-validator/ to prevent confusion.

[2020-04-15 18:45] prestonvanloon commented on #5423
From @mcdee

https://discordapp.com/channels/476244492043812875/550365651118850081/699998610204655627

[2020-04-15 20:50] tzapu opened #5448 "weird genesis timestamp for topaz"
i've just setup a new node and tried to query for the genesis timestamp
the http api gives me
[code]
and over grpc `GetGenesis(...).GetGenesisTime().GetSeconds()` returns `-62135596800`

neither is ideal :D

[2020-04-15 21:20] #5380 closed

[2020-04-15 22:29] xrow commented on #5412
Hi,

I did another test case to prove that my findings are correct.

This test case fails:

[code]

[2020-04-16 01:05] Phistr90 opened #5450 "Display in Validator Client if Deposit Was Processed Before Chainstart"
Would be very nice to get the feedback that the validator deposit has been processed and that the validator is ready to validate.

[2020-04-16 02:46] prestonvanloon opened #5451 "Advertised discv5 / ENR via libp2p multiaddress"
Jotting down this idea from an offline discussion with @nisdas.

Prysm nodes advertise several multiaddresses, however when a libp2p node peers with another without using discovery v5, then these nodes don't exchange their ENRs and the nodes learn about metadata through p2p rpc.

This idea proposes to advertise another multiaddress containing the ENR. Perhaps adding a new [protocol](https://github

[2020-04-16 04:01] nisdas commented on #5451
For some related discussion on this https://github.com/ethereum/eth2.0-specs/issues/1637 and
https://github.com/ethereum/eth2.0-specs/pull/1673. For most purposes having the ping/metadata rpc methods will be sufficient. As we just need to know the current status of subscribed subnets of our peers.

However being able to exchange enrs to other peers has advantages from the point of peer discovery.

[2020-04-16 05:10] prestonvanloon commented on #5451
With ethereum/eth2.0-specs#1637, we shouldn't need the above functionality. I recall from the offline discussion that we aren't adding ENR data from peers which weren't discovered via discv5. Is this still the case with the metadata rpc?

Do we need to leverage the metadata rpc to populate / maintain our discv5 peer table?

[2020-04-16 05:12] metanull-operator commented on #5443
I have a second server with nearly identical hardware and software configuration. I get this same error on that second system as well.

[2020-04-16 05:26] xrow commented on #5450
I like the idea...

[2020-04-16 05:29] xrow opened #5452 "Misleading log message from validator before genesis start"
I see "Waiting for beacon node to sync to latest chain head" even the chain is in sync with head before genesis. The message is misleading. It would be changed or improved.

[code]

[2020-04-16 05:38] xrow commented on #5132
Are there limits for how many validators can connect to one beacon node? I saw somewhere the figure  64 or doesn`t it matter?

[2020-04-16 05:45] prestonvanloon commented on #5452
This should be fixed with #5396. @0xKiwi can you confirm?

[2020-04-16 05:46] xrow commented on #5132
Hi,

I would like to see a different meaning of `--beacon-rpc-provider=BEACON_NODE_IP_1,BEACON_NODE_IP_2` . My idead that should be just used for failover and not for loadbalancing. Maybe we can implement failover frist and then lb later. The great benefit of this is we can then live without a global loadbalancer in our setups and have only local ones per DC.

`--beacon-rpc-provider=BEACON_NODE_IP

[2020-04-16 05:47] prestonvanloon commented on #5448
We saw the same thing on https://prylabs.net. I think this might be an issue with grpc / json transcoding. It is likely that the beacon node reported `0` as the genesis start time and it was somehow converted to this ridiculous timestamp.

In any case, this is unacceptable behavior for pre-genesis beacon node reporting. We'll have to find some alternative solution.

[2020-04-16 05:48] prestonvanloon commented on #5439
I support this in the beacon node and validator processes 👍

[2020-04-16 07:24] metanull-operator commented on #5443
Updated both servers to v1.0.0-alpha.2. Beacon chains on both servers report same "exit status 128" three times only, and no longer repeat every 12 seconds after that. Only running validator on one of the two machines, but it also appears to have printed the same error 3-4 times before stopping.

[2020-04-16 09:02] nisdas commented on #5443
@metanull-operator could your try this in your local machines and paste what you get ?
[code]

[2020-04-16 10:10] nisdas commented on #5451
Yes that it still the case, the metadata basically consists of the
[code]
We mostly need the bitfield now from the metadata. However the metadata only gives us a portion of the enr. So we cannot use the metadata to add that peer to our discv5 table. There would always be a gap, as we aren't able to add that peer to our dht. So there are always peers we will miss out on.

[2020-04-16 10:53] Buttaa commented on #4232
@prestonvanloon  as long as binaries are provided it should be fine. (more frequently if possible)

Note that Docker also doesn't work on some Windows versions (Windows home?).
It will cut off a lot of potential users in the long run for testing.

[2020-04-16 14:28] mcdee commented on #5423
#5453 is a reimplementation of #4984 that is suitable for current master.

Note that this PR is required before `wallet` keymanagers will be able to create valid signatures for anything in the current testnet.

[2020-04-16 14:52] Buttaa opened #5456 "Validator Path Issue"
Windows10,

`validator-v1.0.0-alpha.2-windows-amd64.exe accounts create`

Leaving it blank for "default path" or even with a specific path does not work.

specific path:
![grafik](https://user-images.githubusercontent.com/26490734/79471172-8c476300-8002-11ea-8ca8-b08e4e6bfee1.png)
Blank:
![grafik](https://user-images.githubusercontent.com/26490734/79471129-7f2a7400-8002-11ea-91fd-c0851388bf1f.png)

[2020-04-16 15:39] #5427 closed

[2020-04-16 15:54] metanull-operator commented on #5443
4fbcedf5415505833f37bb557107519f04d33e86

[2020-04-16 18:35] terencechain commented on #5306
Design doc: https://hackmd.io/KWBj0PCDQUuPKpLQnIiZbw?both

[2020-04-16 20:39] prestonvanloon commented on #5443
Please build with `--config=release` to resolve this.

[2020-04-16 20:55] prestonvanloon commented on #4232
Thanks for the feedback. I'm glad to hear the executables will work for windows solutions.

We are working in improving our documentation around this and welcome any advice from windows users as our team is primarily linux / mac os x.

I think there are some issues with [prysm.sh](https://github.com/prysmaticlabs/prysm/blob/master/prysm.sh) that have not been resolved on windows yet. If you've had

[2020-04-16 21:05] prestonvanloon commented on #5456
Looks like a problem with the default path for the validator data directory.

As a workaround, please try using the datadir flag like `--datadir=C:\Users\Inan\Prysm` to specify the correct directory. Be sure to use the same flag when you start your validator as well.

[2020-04-16 21:19] Buttaa commented on #5456
![grafik](https://user-images.githubusercontent.com/26490734/79507762-8ec4af80-8038-11ea-870a-bc3389cf2d6e.png)
as mentioned on discord, doesn't solve the issue unfortunately

[2020-04-16 21:31] prestonvanloon commented on #5456
Thanks. Looks like something about the filepath name is incompatible with windows. It would be helpful if we printed the path it is trying to save in the error message as well as fix the underlying problem.

[2020-04-16 22:07] prestonvanloon opened #5462 "Cannot start beacon node: cannot fetch finalized block root under new state management"
[code]

I recommend we flip the default to not use new state management as it has not been tested enough.

[2020-04-16 23:06] terencechain commented on #5462
Working on this issue now

[2020-04-16 23:40] terencechain commented on #5462
Here's what the complete log looks like:
[code]

[2020-04-17 00:00] 0xKiwi commented on #5452
Interesting, this log shouldn't be appearing before chainstart occurs, but #5396 won't affect this. However, #5465 will change the validator to no longer ping the beacon node every 6 seconds.

[2020-04-17 00:24] terencechain commented on #5462
Able to reproduce the issue via the bad DB.  Got more info:

state slot is `7936` and block slot is `7937`. The issue occurs when processing state to slot `7937`

[2020-04-17 02:11] metanull-operator commented on #5443
Looks like that worked. What exactly did I just do? And what did I originally do wrong?

[2020-04-17 02:57] prestonvanloon commented on #5443
Using the release flag builds with the commit hash baked into the built binary, running without the release flag queries git to understand the current commit hash. It's mostly for development.

The release config also compiles with compile time optimizations. You have a longer build but faster executable.

[2020-04-17 04:23] Youllneverknow0 opened #5468 "Genesis time an hour in the future - waiting until sync start"
This is a behaviour I cannot explain:

Why would my beacon client have to wait a day before it starts syncing
Maybe an error?

Attached is the log from my beacon node.

INFO powchain: Processing deposits from Ethereum 1 chain deposits=15360
[2020-04-17 05:02:56]  WARN powchain: Pubkey has already been submitted for chainstart publicKey=0xb4ed6d0799e35b03b9a1ce4cac9278e8fe8fc06c4a8caceccf8f32c434
3

[2020-04-17 05:53] prestonvanloon opened #5470 "Cannot kill beacon node when regenerating states"
[code]

I had to kill with signal 9 to stop the beacon node.

[2020-04-17 07:06] prestonvanloon commented on #5468
@Youllneverknow0 The beacon chain starts at `2020-04-18 02:00:00 +0200 CEST`. There will be nothing to sync until the chain starts.

Part of the ETH2 protocol is a minimum genesis delay of 24 hours. We received enough deposits yesterday and the chain will start in approximately 17 hours.

Does this answer your question?

[2020-04-17 08:21] shayzluf commented on #5040
starting to resolve this issue:
 [ ] add validators activation epoch to cache
 [ ] use validator activation for detection & update
 [ ] batch load validators spans from db
 [ ] batch write validators spans to db

[2020-04-17 08:54] torfbolt commented on #5305
If you look at the reported balances for consecutive epochs in the log I posted, you see that the new balance of the previous epoch is not equal to the old balance of the current epoch. However, I did not see this issue again for some time. I will check if it occurs again on Topaz.

[2020-04-17 08:57] nisdas commented on #5305
Hey @torfbolt lets track this issue in #5377 . This is pretty much the same issue, and we have been looking at potential solutions for it. Closing this issue and moving conversation there.

[2020-04-17 08:57] #5305 closed

[2020-04-17 12:58] Youllneverknow0 commented on #5468
It answers the question partially. Thank you already.

I expected an outcome that includes the regular print of the current epoch, so I know my beacon chain is healthy.

That‘s why I interpreted the log above as not synchronized.

[2020-04-17 15:10] prestonvanloon commented on #5468
#5439 might help with the immediate user feedback

[2020-04-17 15:12] metanull-operator commented on #5443
@nisdas This can be closed. I don't believe I can close it.

[2020-04-17 15:13] #5443 closed

[2020-04-17 16:14] terencechain commented on #5462
Resolved via #5466

[2020-04-17 16:14] #5462 closed

[2020-04-17 16:19] terencechain opened #5476 "No block received in the gossip network"
In my interop setup, the peering node does not receive beacon block over the gossip network. It's only receiving beacon block over RPC network due to missing attestation block. Other people don't seem to be able to reproduce this issue so I think this is minor but worth investigating. (See screen shot for proof)

Also logged incoming block here and verified there's nothing: https://github.com/prys

[2020-04-17 16:26] terencechain commented on #5476
Works on the second retry (ie restarted peering node)

<img width="1015" alt="Screen Shot 2020-04-17 at 9 26 08 AM" src="https://user-images.githubusercontent.com/21316537/79591558-8d71a200-808d-11ea-915e-a54ae67ed823.png">

[2020-04-17 16:50] terencechain opened #5477 "Could not process block, provided block root does not have block saved in the db"
Since in initial syncing, state summaries  are saved in batch at finalized check point or some predefined intervals. If a node restarts with a hot DB during epoch 0, it will not be able to satisfy this condition: https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/blockchain/process_block_helpers.go#L70

Hence the error:
`
[2020-04-17 09:41:50] ERROR sync: Could not process block from

[2020-04-18 00:17] mbdyess opened #5481 "'Could not locate validator index in DB slot=0' Error"
Error observed just after genesis (approx 8s after).  See attached log.
[validatorLog.txt](https://github.com/prysmaticlabs/prysm/files/4495724/validatorLog.txt)

The 9 (out of 10) non-registered validators were kinda expected.  Got to the party a little late. :-)

[2020-04-18 00:32] #5477 closed

[2020-04-18 01:16] terencechain opened #5482 "Rejecting incoming block, could not process slot from future"
A user reported the following error, opening this PR for investigation

WARN sync: Rejecting incoming block. blockSlot=21 error=could not process slot from the future, slot time(ms) 1587168252000 > current time(ms) 1587168251000

[2020-04-18 01:17] xrow opened #5483 "Security: runtime passwords"
Hi,

currently I don`t like the idea of having the key and password on the disk. My idea would be to inject at least the password from a call back.

The callback could be a script the returns the password.

`--password-callback=/path/to/script`

[2020-04-18 01:53] PengFei-eth opened #5484 "Could not request attestation to sign at slot error=rpc error: code = DeadlineExceeded desc = context deadline exceeded"
PC Specs:
Win 10
8gb RAM
Quad Core
170GB SSD

Running Beacon Chain and Validator in Docker

![error](https://user-images.githubusercontent.com/3522955/79625273-dcebb880-80f5-11ea-88c6-a9b5b9af347f.png)

[2020-04-18 02:15] PengFei-eth commented on #5484
![error_2](https://user-images.githubusercontent.com/3522955/79625736-ffcb9c00-80f8-11ea-8a11-f2905022b50f.png)

[2020-04-18 06:58] janexlolz opened #5485 "Validators with PENDING status included in Previous epoch voting summary"
![image](https://user-images.githubusercontent.com/45725266/79630569-1c002500-815b-11ea-94be-1a529c7b262a.png)

[2020-04-18 10:09] shayzluf opened #5486 "Inefficient listindexed attestation"
when detecting data from old blocks ethereum api list indexed attestation endpoint is inefficient in state retrieval operation. attestations should be grouped by block root and converted to indexed together .

<img width="1697" alt="Screen Shot 2020-04-18 at 13 02 46" src="https://user-images.githubusercontent.com/5848741/79687166-00c21200-824e-11ea-8e00-199a0f8315e0.png">

[2020-04-18 10:12] shayzluf opened #5487 "disable-dynamic-committee-subnets doent subscribe to all channels"
with dynamic subscription beacon node listens only to its connected validator committees attestations  even when using `--disable-dynamic-committee-subnets` flag

slasher friendly beacon node should listen to all attestation p2p channels

Should investigate and add detatils

[2020-04-18 10:45] #5345 closed

[2020-04-18 11:47] torfbolt commented on #5247
For the moment this issue seems to have disappeared on the topaz testnet. I get mostly full reward epochs there.

[2020-04-18 13:44] handelaar2 commented on #4586
I still see this as an issue.
 We are missing a kind of "CurrentSlot" in the metrics as defined in process_block_helpers.go That one is  "timebased" (using now() ) .

beacon_head_slot and beacon_slot *are not* (not sure where they get their values from).
https://github.com/prysmaticlabs/prysm/blob/2fef9d3e5e08073eb901fa777527488d51d78311/beacon-chain/blockchain/metrics.go#L85
_

CurrentSlot (looks

[2020-04-18 13:58] mcdee commented on #4586
There are two different metrics: the current slot of the _chain_, which is calculated purely from genesis timestamp and current time, and the current slot of the _node_, which is equivalent to the node's head slot as above.

There are discussions going on at https://github.com/ethereum/eth2.0-APIs/issues/25 regarding making this and other information available via a standard API.

[2020-04-18 15:03] handelaar2 commented on #4586
That is my point Jim, we currently don't have in the metrics that "current slot of the *chain*" ((now-genesis)/12) as you call it. It is not there. So that is the value I would like to make available to prometheus/grafana (not via the api).

[2020-04-18 15:06] terencechain opened #5489 "Initial syncing does not have to save boundary block"
A node does not have to save epoch boundary block in the initial syncing phase, @nisdas reported bps dropped for that. 25bps -> 17bps. Opening this issue to work on solution

[2020-04-18 15:07] terencechain commented on #5485
thanks for reporting this! this is indeed an issue and should be a relatively easy fix. Marked as a `Good First Issue`

[2020-04-18 15:44] terencechain opened #5490 "Initial sync exited too early"
See below screen shot. Initial syncing exited at 4582/4632 slot and started requesting parent block....

<img width="1276" alt="Screen Shot 2020-04-18 at 8 29 05 AM" src="https://user-images.githubusercontent.com/21316537/79642140-bc048100-8150-11ea-8a50-e2587c85e9ab.png">

[2020-04-18 15:46] terencechain commented on #5489
The performance doesn't seem to matter from what I can tell. Maybe I need higher bps

<img width="770" alt="Screen Shot 2020-04-18 at 8 45 36 AM" src="https://user-images.githubusercontent.com/21316537/79642213-084fc100-8151-11ea-803b-a4d64dac6cf4.png">

[2020-04-18 15:49] terencechain opened #5491 "Initial sync took too long to switch to request parent sync"
It took 13 mins from `Synced up to slot N` to `Requesting parent block`. What's up with the long delay?

<img width="1268" alt="Screen Shot 2020-04-18 at 8 47 01 AM" src="https://user-images.githubusercontent.com/21316537/79642249-4baa2f80-8151-11ea-93f5-787705f9988a.png">

Took a profile during the delay. It doesn't say much:
<img width="2311" alt="Screen Shot 2020-04-18 at 8 16 49 AM" src="https

[2020-04-18 16:10] terencechain commented on #5476
Confirmed it's not returning false because it's still initial syncing:
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/sync/validate_beacon_blocks.go#L29

The issue is before validator `validateBeaconBlockPubSub`

[2020-04-18 16:49] terencechain opened #5493 "Optimize depositBlockSlot"
Can we optimize `depositBlockSlot` for `validatorStatus`?  This took up a big portion of the flame at certain times for my beacon node that's serving 1000 validators

<img width="2353" alt="Screen Shot 2020-04-18 at 9 37 42 AM" src="https://user-images.githubusercontent.com/21316537/79643836-c1b29480-8159-11ea-9798-d1f0affe2c61.png">

[2020-04-18 16:59] terencechain commented on #5491
could be related to #5476, no block comes in the pipeline hence request parent is halted

[2020-04-18 17:11] terencechain commented on #5476
Confirmed via metrics, there's no blocking coming in:
p2p_message_received_total{topic="/eth2/f071c66c/beacon_block/ssz_snappy"} 1

[2020-04-18 17:36] 0xKiwi opened #5494 "Encrypted key generation is confusing and awkward"
Several users on our community have reported trouble making keys, with the deposit data being displayed to them while the validator key is not retrievable. Leading to confusion and wasted time on waiting for their deposits. This should be much more streamline as it seems like a common user mistake.

[2020-04-18 17:39] prestonvanloon commented on #5476
Sounds like we are not setting chainStarted correctly at startup.

[code]

Shouldn't this be true for a node that was recently synced and restarted?

[2020-04-18 18:25] prestonvanloon commented on #5476
It could be a network partition. We are seeing that we have peers for that topic, but no messages coming in. Looking at the code, we don't see any reason that a block coming in would fail validation, yet we simply do not see blocks arrive. Perhaps we have peers that are not sending blocks at all?

[2020-04-18 19:06] rauljordan opened #5496 "Beacon Node Restarts with New State Mgmt Causes Chain Stall"
Hi all, currently our prod nodes in our cluster running in the topaz testnet all stalled after the pods restarted due to a bug in the new state management feature:
[code]

The bug is pending resolution by adding the `--disable-new-state-mgmt` to our pods as a temporary fix

[2020-04-18 20:59] terencechain commented on #5496
Unable to reproduce it via the snapshot DB from cluster. Looking into ways to reproduce this issue. If anyone has any idea, please let me know

[2020-04-18 23:01] prestonvanloon commented on #5491
I am sure this is related to #5476 and will be resolved with #5500

[2020-04-18 23:29] #5496 closed

[2020-04-18 23:37] terencechain opened #5502 "Initial sync in a loop"
See screen shot, initial syncing went from `6917 -> 6887` three times before entering the next phase

<img width="1271" alt="Screen Shot 2020-04-18 at 4 34 57 PM" src="https://user-images.githubusercontent.com/21316537/79673886-b16adb80-8192-11ea-8d80-d31222bda5f0.png">

[2020-04-18 23:55] terencechain opened #5503 "Proposer could not request block due to deposit length"
My validator in the testnet failed to request block from beacon node. This is the first time it happens after7000 slots. Previous requests were successful.  Currently running 1000 validators

`
[2020-04-18 16:50:48] ERROR validator: Failed to request block from beacon node blockSlot=7154 error=rpc error: code = Internal desc = Could not compute state root: could not calculate state root at slot 71

[2020-04-19 01:15] ethers opened #5506 "Bazel build error: target '@herumi_bls_eth_go_binary//:go_default_library' is not visible from target '//shared/bls:go_default_library'."
Version c3217abb837a75b72fb3d978edfc9b22863d0b72

ERROR prysm/shared/bls/BUILD.bazel:5:1: in go_library rule //shared/bls:go_default_library: target '@herumi_bls_eth_go_binary//:go_default_library' is not visible from target '//shared/bls:go_default_library'. Check the visibility declaration of the former target if you think the dependency is legitimate
ERROR: Analysis of target '//beacon-chain:be

[2020-04-19 02:32] #5491 closed

[2020-04-19 04:17] ethers commented on #5506
Still issue on 33774721bb585d4fca85343fbd9592274f246274

[2020-04-19 04:18] nisdas commented on #5506
@ethers could you paste your build command from which you get the above error and what bazel version you are on ?

[2020-04-19 04:23] ethers commented on #5506
@nisdas  Version
Build label: 1.2.1
Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Tue Nov 26 00:00:00 2019 (1574726400)
Build timestamp: 1574726400
Build timestamp as int: 1574726400

`bazel build //beacon-chain:beacon-chain`

Could herumi / https://github.com/prysmaticlabs/prysm/pull/5453 be contributing?  Is there a way to

[2020-04-19 04:25] prestonvanloon commented on #5506
Please use bazel 2.1.1 or greater. The project recommends bazel 3.0.0

[2020-04-19 04:34] ethers commented on #5506
Thanks I'll try that. Meantime https://github.com/prysmaticlabs/documentation/pull/35/

[2020-04-19 05:22] ethers commented on #5506
Definitely been building much more and I'll close hoping it all succeeds

[2020-04-19 05:22] #5506 closed

[2020-04-19 06:28] prestonvanloon commented on #5352
Has this been completed? I recall seeing something about eth2stats somewhere, but I don't recall if it was for the testnet site instructions.

[2020-04-19 09:19] meirdavis opened #5508 "freeze"
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>

</code></pre>

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>

  </code>
</pre>

**What version of Prysm are you running? (Wh

[2020-04-19 09:27] #5508 closed

[2020-04-19 09:27] meirdavis commented on #5508
Opened by accident

[2020-04-19 09:59] mangoleap opened #5509 "Binary broken on ARM64"
After pulling the latest code via git the prysm.sh startup script doesn't work anymore. It exits with the error

`/root/prysm/dist/beacon-chain-v1.0.0-alpha.4-linux-linux-arm64: line 1: Not: command not found`

[2020-04-19 10:09] eliaskg commented on #5509
Btw I saw that there was a recent commit that [mentions ARM64](https://github.com/prysmaticlabs/prysm/pull/5507). I pulled afterwads

[2020-04-19 10:10] mangoleap commented on #5509
Btw I saw that there was a recent commit that [mentions ARM64](https://github.com/prysmaticlabs/prysm/pull/5507). I pulled afterwads

[2020-04-19 13:07] uvizhe opened #5510 "fatal error + enormous stack trace"
# 🐞 Bug Report

### Description

I run prysm during topaz testing and it just crashed.
### Has this worked before in a previous version?

IDK

## 🔬 Minimal Reproduction

IDK

## 🔥 Error

Here is the long stack trace I got: https://gist.github.com/uvizhe/7768520bdc04026124bc8df875d10f24

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
GNU/Linux 4.15.0-91-generic
  </code>
</pre>

**Wh

[2020-04-19 15:13] #5373 closed

[2020-04-19 15:14] #5486 closed

[2020-04-19 15:38] 0xKiwi commented on #5509
Hello! Sorry, this will be resolved by #5511. I had trouble testing it originally as I don't have access to an arm setup. Sorry for the trouble!

[2020-04-19 15:52] HD125823 commented on #5510
Can confirm, had the same fatal error (with huge stack trace) at slot 11357.

[2020-04-19 15:58] 0xKiwi commented on #5509
Should be fixed now! Please let me know if you have other problems!

[2020-04-19 15:58] #5509 closed

[2020-04-19 16:13] mangoleap commented on #5509
Works now, thank you!

[2020-04-19 16:31] terencechain opened #5512 "Steadily climbing memory usages"
It has been reported that user node's RAM usage steadily climbs. Opening this issue to track whether there's something hang onto references or unbound caches. The memory usage over time doesn't look right

https://eth2stats.io/topaz-testnet.  <- Some are over 3GB

[2020-04-19 17:52] terencechain opened #5513 "Concurrent read write on expireNodes from Geth"
Prysm node panic'ed due to concurrent read/write on `p2p/enode/nodedb.go:357`

[code]

[2020-04-19 18:21] shayzluf opened #5514 "broadcast slashing flag doesn't work"
# 🐞 Bug Report

### Description
when using the flag broadcast slashing slashings that are being recieved by the beacon node aren't being broadcasted to the p2p network

[2020-04-19 20:47] #5514 closed

[2020-04-19 20:48] 0xKiwi commented on #5510
Hello @uvizhe ! Thanks for reporting this issue. What distro of linux are you running, or are you using the windows WSL?

[2020-04-19 22:00] torfbolt commented on #5502
I'm pretty sure I've seen this issue already several weeks ago. Unfortunately I didn't file an issue then, but it might be something that already existed before the new init sync code.

[2020-04-19 23:35] terencechain commented on #5513
As mentioned. Our geth commit is like 7 months old. Thanks @prestonvanloon for helping to update it

[2020-04-19 23:40] prestonvanloon opened #5521 "Handle poor performing eth1 data retrieval"
A user reported block proposal failure due to a poor performing eth1 node.

[code]

The recommended fix here is to set a short timeout for fetching eth1data for eth1data votes, if the short timeout is exceeded then a block should be produced with random/noop eth1data vote such that the proposer can still produce the block in time.

[2020-04-20 00:12] terencechain opened #5522 "Sort `New assignment...` logs by `attesterSlot` order"
Will be nice to view these logs in ascending order based on `attesterSlot` and `proposerSlot`

<img width="790" alt="Screen Shot 2020-04-19 at 5 10 25 PM" src="https://user-images.githubusercontent.com/21316537/79703457-d168d080-8260-11ea-9068-8c6626a4e289.png">

[2020-04-20 01:11] nisdas opened #5526 "Add Subcommand to Retrieve Data Directory"
# 🚀 Feature Request

### Description

Users when running their beacon nodes and validator clients have difficulty determining
which data directories their database files and keys are located at.

### Describe the solution you'd like

Both the beacon node and validator client should have a subcommand which
will print the current data directory for the beacon/validator client.

### Describe alternat

[2020-04-20 03:27] lsankar4033 commented on #4814
is there a nice way in tests check if a host (i.e. created with [this method](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/p2p/service_test.go#L63)) has received a given libp2p or rpc message?

trying to figure out how to write the unit test

[2020-04-20 03:31] nisdas commented on #4814
hey @lsankar4033 for testing rpc methods we use a pattern like this. https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/sync/rpc_goodbye_test.go#L16

Basically we initialize 2 test p2p services and use that to perform any testing between peers to ensure that messages are received/responded to.

[2020-04-20 03:55] prestonvanloon commented on #5490
Is there any additional information here? Sounds like your client synced with the peer majority and exited.

[2020-04-20 04:33] prestonvanloon commented on #5470
Looks like an issue with the wrong context being passed through services.

Plan is to add a new static analysis to forbid any behavior that would allow method calls to accept `*cli.Context` as `context.Context` in method calls.

[2020-04-20 05:00] ShawkiS commented on #4916
I am going to add this function to the mathutil:
`func Percent(current, maximum float64) int {
	percentage := float64(current) / float64(maximum) * float64(100)
	return int(percentage / float64(10))
}`

The test shape is:
`func TestPercent(t *testing.T) {
	tests := []struct {
		a      uint64
		b      uint64
		result uint64
	}{
		{
			a:      20,
			b:      40,
			result: 50,
		}
	}
	for _, tt := r

[2020-04-20 05:05] ShawkiS commented on #5526
Hey Nishant, I am totally new for the protocol, where is the code that set the direction that the nodes will be stored at?

What if we just take the return of that code or the var value store in a variable and present it in the most relative message? is this a good solution?

[2020-04-20 05:30] ShawkiS commented on #5522
Hey Terence, I am sorry but I am totally new about the protocol, am I right that this is the code that must be edited: https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/rpc/validator/assignments.go

The default assignment?

[2020-04-20 05:32] terencechain commented on #4916
Already done in #5527 and we don't really need an extra helper for it. Closing the issue now. Thanks for looking at this one 🙏🏻

[2020-04-20 05:32] #4916 closed

[2020-04-20 05:46] taarushv opened #5530 "beacon chain crashes"
# 🐞 Bug Report

### Description

 After running the beacon chain and validator for a day, my beacon chain crashed. I noticed this after I saw my validator skipping attestations. Restarted it, and now I'm back in sync and my validator is back on track.

### Has this worked before in a previous version?

 No idea, started my node for topaz testnet.

## 🔬 Minimal Reproduction

`./prysm.sh beacon-chai

[2020-04-20 06:11] ShawkiS commented on #5485
Hey guys, I didn't get the idea of the issue, Is there more details?

[2020-04-20 06:24] mcdee commented on #5522
@terencechain any thoughts on #5397 which provides more concise output for assignments (including ordering by slot)?

[2020-04-20 07:06] meirdavis commented on #5530
My beacon chain node also crashes after a few hours
Gives error: runtime: mlock of signal stack failed: 12
Full trace: https://pastebin.com/RB0zJDrS
Ubuntu 19.10
Reproduction: docker run -it -v $HOME/prysm:/data -p 4000:4000 -p 13000:13000 --name beacon-node   gcr.io/prysmaticlabs/prysm/beacon-chain:latest   --datadir=/data
Version: Not sure, downloaded yesterday
Port 13000 not open

[2020-04-20 08:20] ppratscher commented on #4741
Hello,

we are still seeing this issue with the latest client version.
After restarting our node the API returns 0 participation rate for the epoch that was currently active when the node was restarted. You can see it pretty nicely on the chart on our landing page:
![image](https://user-images.githubusercontent.com/1674920/79730033-8e563e00-82f0-11ea-9334-3b698ffb8013.png)

Ever spike means that o

[2020-04-20 08:32] shayzluf commented on #5031
thanks @rauljordan i am on it

[2020-04-20 08:34] farazdagi commented on #5502
If it doesn't get out of loop - then, it is something unexpected. However, in presence of many skipped blocks, some redundant calls are expected. Here is how it works in `init-sync` state machine:
- blocks are fetched normally, once fetched their parent roots are checked, and blocks are saved
- on skipped and forked slots, system cannot save blocks, but since in specs it is allowed for peer node t

[2020-04-20 08:34] #5502 closed

[2020-04-20 08:38] nisdas commented on #5526
hey @ShawkiS , this is where we use the data directory flag
https://github.com/prysmaticlabs/prysm/blob/master/shared/cmd/flags.go#L16. We need to basically print out the absolute path of the current data directory referenced by a node.

[2020-04-20 09:07] shayzluf opened #5531 "Slasher starts historic attestation detection from epoch 0 after restart"
# 🐞 Bug Report

### Description
Slasher starts historic detection from epoch 0 after restart
### Has this worked before in a previous version?
it worked only on finishing historic detection
## 🔬 Minimal Reproduction
restart slasher after few minutes and see detecting epoch 0

[2020-04-20 09:09] farazdagi commented on #5490
This is more of a reporting issue:
- when reporting progress we have `current slot / known slots since genesis`, but of course init sync never reaches that known slots (it eventually will switch to normal sync to wrap up those near final slots)
- still, init-sync comes as close as possible to the known slots: when init-sync reaches the highest requested slot, before exiting it re-requests whether

[2020-04-20 09:18] Swader opened #5533 "Segfault inside WSL2 when in shared folder"
# 🐞 Bug Report

### Description

When running prysm in WSL2 on Windows (Ubuntu 18.04) the beacon-chain segfaults if started from a shared folder. It does not happen if started from within the Linux root.

![image](https://user-images.githubusercontent.com/1430603/79735266-4cc99100-82f8-11ea-8e25-2373c57dde1f.png)

![image](https://user-images.githubusercontent.com/1430603/79735295-5521cc00-82f8-11

[2020-04-20 09:19] ShawkiS commented on #5522
sort.SliceStable(validatorAssignments, func(i, j int) bool {
	return validatorAssignments[i].AttesterSlot < validatorAssignments[j].AttesterSlot
})

Like that?

[2020-04-20 09:23] ShawkiS commented on #5522
Is it always that if the `attesterSlot` of a validatorAssignment is bigger the other validatorAssignment the `proposerSlot` is bigger?

[2020-04-20 09:26] nisdas commented on #5476
Closing this as its resolved by #5500

[2020-04-20 09:26] #5476 closed

[2020-04-20 09:28] hacktar commented on #5240
Some error here even after i try `brew install cmake && brew install make`

[code]
Reopen the issue please.

[2020-04-20 09:33] nisdas commented on #5240
ok reopening this issue @hacktar . This looks like a regression which was introduced in go 1.14, the fix for this has been included in go 1.14.1 .
https://github.com/golang/go/issues/37459

After we update prysm to 1.14.1, this issue should no longer be a problem

[2020-04-20 10:06] nisdas commented on #5240
@hacktar You can keep an eye on #5535, this should fix your issues.

[2020-04-20 10:34] uvizhe commented on #5510
I'm on Ubuntu 18.04.4 LTS

[2020-04-20 11:25] protolambda opened #5536 "Graffiti quotes [minor issue]"
# 🐞 Bug Report

Minor issue with the graffiti flag: not possible to get quotes right. Both Prysm and my proposers are having trouble. Yet there are also cases where it parses correctly.

### Description

Quotes in graffiti don't work as expected.
The `"` is included.

### Has this worked before in a previous version?

Not sure.

## 🔬 Minimal Reproduction

Examples:

Mine (quotes included):

 `--gr

[2020-04-20 11:28] protolambda commented on #5536
I'm going to try and not use quotes for now, but it would be nice to use spaces etc. in my graffiti.

[2020-04-20 12:56] hacktar commented on #5240
I pulled the branch

[code]

But still doesn't work :-(

[code]
do I have to wait for it to be released on the master?

[2020-04-20 13:31] nisdas commented on #5240
Hey it will not work like that. The script only fetches the precompiled binaries. So you will have to wait till the next release with this

[2020-04-20 13:44] hacktar commented on #5240
sorry, what a shame!  :-/

Thanks a lot ;-)

[2020-04-20 13:52] bluepintail commented on #5512
I’ve had this problem too. However my memory usage was much higher than was displayed For my node on https://eth2stats.io/topaz-testnet - it showed me at 1.25GB even though I’d almost run out of memory on a machine with 8GB.

[2020-04-20 14:05] ShawkiS commented on #5526
[code]

Is that true?

[2020-04-20 14:55] terencechain opened #5537 "Regen and save historical state is broken"
Doesn't get passed archival index 61

[code]

[2020-04-20 15:20] madhancr opened #5538 "Error starting validator on Windows 10"
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>

</code></pre>

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>

  </code>
</pre>

**What version of Prysm are you running? (Wh

[2020-04-20 15:25] madhancr commented on #5538
Error:
<!--------
docker run -it -v $HOME/prysm/validator:/data --network="host" gcr.io/prysmaticlabs/prysm/validator:latest --beacon-rpc-provider=127.0.0.1:4000 --keymanager=keystore --keymanageropts='{"path":"/data","passphrase":"changeme"}'
2020/04/20 04:45:27 maxprocs: Leaving GOMAXPROCS=2: CPU quota undefined
[2020-04-20 04:45:27]  WARN flags: Using default mainnet config
[2020-04-20 04:45:27

[2020-04-20 16:02] rauljordan opened #5540 "Initial Sync Out of Memory Panic"
# 🐞 Bug Report

### Description

A user reported an out of memory exception during initial sync, not very deep into the testnet (around block 400)

## 🔥 Error

[https://pastebin.com/5fb9ZxcY](https://pastebin.com/5fb9ZxcY)

[2020-04-20 16:06] terencechain commented on #5522
@mcdee that looks inline with my thinking, let's go with that

[2020-04-20 16:06] #5522 closed

[2020-04-20 16:41] farazdagi commented on #5540
The issue is most probably not new, related issue: https://github.com/prysmaticlabs/prysm/issues/5390

[2020-04-20 17:07] rauljordan commented on #5352
Hey @prestonvanloon done here https://github.com/prysmaticlabs/prysm-testnet-site/blob/master/src/app/pages/participate/participate.component.html#L159, the issue was to suggest it in the participate component of our testnet site

[2020-04-20 17:07] #5352 closed

[2020-04-20 17:08] piotrbednarczyk opened #5542 "Could not load blocks for hot state using root: end block roots don't match"
# 🐞 Bug Report

### Description

 Beacon node fails to process blocks and after several retries output stack trace in the loop. Validator connected to the beacon node gets disconnected from the network as you can see on the validator chart [Validator status](https://beacon.etherscan.io/stat/balance/0x94cdb107e7f365243e12201fc85ca2f6770fcb671c5493bb59195989d30d86c052407dcc55e40a5a1bbb44a8dd7322e2)

[2020-04-20 17:09] terencechain commented on #5542
@piotrbednarczyk What version are you running? This has been fixed 2 days ago

[2020-04-20 17:12] rauljordan commented on #5542
Hi @piotrbednarczyk if you're using the docker :latest tag you may need to re-fetch from the registry: `docker pull gcr.io/prysmaticlabs/prysm/beacon-chain:latest` and restart your process

[2020-04-20 17:12] piotrbednarczyk commented on #5542
As I wrote - I have a problem with getting the version info from inside of docker container as I cannot connect to container shell. Is there any command I can execute to do it?

[2020-04-20 17:13] rauljordan commented on #5542
For docker, if you're using :latest, that means thats the current, cutting-edge version of our beacon node. It is likely you need to pull down the latest image if it hasn't been updated in a while.

[2020-04-20 17:13] rauljordan commented on #5542
We would recommend doing so as well for the validator client if needed. This tool exists to help refetch docker images if they change and restart their processes automatically: https://github.com/containrrr/watchtower

[2020-04-20 17:14] piotrbednarczyk commented on #5542
Ok, I will try to refetch the newest version and will check if the issue will take place again.

[2020-04-20 17:15] #5542 closed

[2020-04-20 17:27] #5270 closed

[2020-04-20 19:02] #4217 closed

[2020-04-20 19:44] #5247 closed

[2020-04-20 19:45] terencechain commented on #5512
Heap profile serving 1000 validators:

<img width="2254" alt="Screen Shot 2020-04-20 at 7 24 36 AM" src="https://user-images.githubusercontent.com/21316537/79793057-d54e2e80-8304-11ea-8722-0fb75e017d7f.png">

[2020-04-20 19:49] #4586 closed

[2020-04-20 19:50] prestonvanloon commented on #5530
[code]

What kernel version are you running?

[code]

[2020-04-20 19:54] rauljordan commented on #5530
Kinda weird that we see a panic here @prestonvanloon :
[code]
in the `return cachedState` line https://sourcegraph.com/github.com/prysmaticlabs/prysm/-/blob/beacon-chain/blockchain/process_attestation_helpers.go#L31

[2020-04-20 19:54] #5434 closed

[2020-04-20 19:54] rauljordan commented on #5434
Resolved by the PRs above @shayzluf

[2020-04-20 20:02] #5468 closed

[2020-04-20 20:02] #5429 closed

[2020-04-20 20:02] rauljordan commented on #5395
Would we still see this with your latest changes @terencechain ?

[2020-04-20 20:04] rauljordan commented on #5484
Hi @PengFei-eth this one is a bit hard to debug given there can be many reasons this happens (maybe your beacon node disconnected while a validator API call was in-flight, for example). I imagine there was something bottlenecking your node at the time that prevented the call from completing quickly. Unfortunately, we don't have enough info to reliably reproduce this. I imagine your node was likely

[2020-04-20 20:04] #5484 closed

[2020-04-20 20:06] rauljordan commented on #5481
Assigning @0xKiwi to this one, seems like something failed to initialize properly and was perhaps set to 0 values:
[code]
@mbdyess can you clarify how to reproduce this? How could we try to recreate this error?

[2020-04-20 20:07] prestonvanloon opened #5546 "Return JSON for /healthz"
# 🚀 Feature Request

### Description

It would be helpful for parsing /healthz failures by returning JSON instead of text.

### Describe the solution you'd like

Return JSON

### Describe alternatives you've considered

N/A

[2020-04-20 20:12] terencechain commented on #5395
Yeah. This is a different code path. This is only when `diable-new-state-mgmt` applies

[2020-04-20 20:19] #5537 closed

[2020-04-20 20:27] rauljordan commented on #5185
Hi @terencechain can we close this one?

[2020-04-20 20:27] terencechain commented on #5512
An approach to mitigate it is to not use `state` to verify incoming unaggregated attestation via sync. Use cached `committee` and `pubkeys`. It requires a bit of refactoring and I dont think this is pressing. Not that many nodes will be servicing 1000 validators anyway

[2020-04-20 20:28] #4681 closed

[2020-04-20 20:45] terencechain commented on #5185
This is to bundle new state mgmt service to db layer to reduce disparity. Given a user can current do

`stateGen.StatebyRoot` and `db.State`

[2020-04-20 21:03] rauljordan commented on #5530
Duplicate of #5513

[2020-04-20 21:06] prestonvanloon commented on #5530
How is this a duplicate of concurrent map access panic? This bug reports they exceeded the mlock limit on their system

[2020-04-20 21:32] #5395 closed

[2020-04-20 21:58] terencechain commented on #5536
Thanks for opening this! @protolambda

[2020-04-20 21:59] terencechain commented on #5490
I'm ok with leaving it as it is without spending too much time on this.  Do you think we are ok to close this? @farazdagi

[2020-04-20 22:30] har00ga commented on #5437
On this now

[2020-04-20 22:53] #5059 closed

[2020-04-20 23:16] #5452 closed

[2020-04-21 00:47] prestonvanloon commented on #5512
I have experienced the same problem without serving validators. The heap stays a nearly consistent size while resident memory usage increases over time.

[2020-04-21 00:55] terencechain commented on #5512
Bumping up priority since this affects non-serving validator beacon node

[2020-04-21 03:33] prestonvanloon commented on #5538
Hi @madhancr, what is the issue here? Please provide as much details as possible about your situation so we can best triage your issue.

[2020-04-21 03:35] prestonvanloon commented on #5526
@nisdas I don't understand the feature request here. You want to add a subcommand that prints the flag value? What is the use case?

[2020-04-21 03:38] prestonvanloon commented on #5510
Duplicate of #5513

[2020-04-21 03:38] #5510 closed

[2020-04-21 03:39] prestonvanloon commented on #5513
@nisdas We are seeing many use cases of this. We need to priortize this with a patch if #5523 can't go in right away. Please advise.

[2020-04-21 03:41] prestonvanloon commented on #5533
Can you clarify, are you running a Linux VM within windows?

Is there any issue with using the bash script within windows itself?

cc: @0xKiwi

[2020-04-21 03:47] prestonvanloon commented on #5485
@ShawkiS The problem here is that the user has 5 validator keys. Only 2 of these are active. The feature request is to only log "previous epoch voting summary" for activated validators as this log is not helpful for pending ones. A pending validator had no duties in the last epoch and there is really nothing to report on their performance.

Generally, we want to only print this message when this c

[2020-04-21 03:49] nisdas commented on #5526
not really the flag value, just the current data directory. Users have a lot of difficulties figuring out where exactly their db/keys are located. Sometimes it isn't at the default directory or expected directory as they are mapping a separate volume when running the beacon node in docker. I haven't been able to find an easy way to help them locate their directory when debugging issues like this.

[2020-04-21 03:49] prestonvanloon commented on #4916
Sorry for not closing this with #5527. I didn't realize this issue was
open! Thanks

[2020-04-21 03:51] nisdas commented on #5513
I will try working on #5523 later today, if not I will release a patch for this in our fork.

[2020-04-21 03:58] prestonvanloon opened #5549 "Add slasher to prysm.sh and future releases"
# 🚀 Feature Request

### Description

- Add slasher binaries to releases.
- Add slasher to prysm.sh

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-04-21 04:16] ShawkiS commented on #5485
That's great, thank you I'll start working on it :+1:

[2020-04-21 06:22] meirdavis commented on #5530
Running 5.3.0-46-generic -
I upgraded to Ubuntu 19.10 a few days ago.

Should I update the kernel? How?

[2020-04-21 06:38] handelaar2 commented on #4586
Thanks!
<img width="414" alt="2020-04-21_08-26-00" src="https://user-images.githubusercontent.com/28559038/79833251-53651080-83ab-11ea-8607-511e450cd310.png">

[2020-04-21 07:06] #5490 closed

[2020-04-21 09:03] Buttaa commented on #5437
the paths are messed up, users will end up with multiple folders with the commands above.
I am trying to figure out how to avoid. Will let you know if i find a solution!

[2020-04-21 09:54] shayzluf opened #5550 "Deprecate span map cache flag in slasher"
# 🚀 Feature Request
deprecate slasher span map cache flag

### Description
as span map cache flag is essential for slasher use it is time to deprecate this flag and use by default

[2020-04-21 11:03] wgknowles opened #5552 "validator accounts create - check if shardwithdrawalkey and validatorprivatekey written to disk before generating ETH1 Deposit TX"
# 🐞 Bug Report

### Description

When running the "validator accounts create" function with a keystore-path that doesn't exist, a ETH1 deposit TX is generated despite the fact that shardwithdrawalkey and validatorprivatekey have note been written to disk.  Many users are likely to not realise this is a problem until after they have sent their ETH1 to the deposit contract.

### Has this worked befo

[2020-04-21 11:03] nisdas opened #5553 "Path Not Verified When Creating Keys"
# 🐞 Bug Report

### Description

Keystore path was not Verified

### Has this worked before in a previous version?

No

## 🔬 Minimal Reproduction

Providing an invalid path still allows keys to be created and the eth1 deposit data to be generated,

## 🔥 Error

Keys created to an invalid path are not verified beforehand, this can lead to a loss of keys.

## 🌍  Your Environment

Windows

**What vers

[2020-04-21 11:04] nisdas commented on #5553
Closing in favour of #5552

[2020-04-21 11:04] #5553 closed

[2020-04-21 11:07] nisdas commented on #5552
As a basic requirement for this issue to be resolved, we will need to verify paths are valid beforehand before writing keys to that particular directory. I was able to reproduce this by giving my validator a garbage path.

[2020-04-21 13:03] ShawkiS commented on #5485
I have to edit validator_metrics.go where we do the condition I check if the validator status is ethpb.ValidatorStatus_ACTIVE or ethpb.ValidatorStatus_EXITING?

[2020-04-21 13:30] terencechain opened #5555 "Could not proces block due to failed migration"
# 🐞 Bug Report

### Description
The following errors were observed in cluster
`
{"error":"rpc error: code = Internal desc = Could not process beacon block: could not process block: could not migrate to cold: could not get last valid state: unknown state","message":"Failed to propose block","prefix":"validator","pubKey":"0xa7622a12ac09","severity":"ERROR"}
`
`
{"error":"could not process block: cou

[2020-04-21 13:33] terencechain opened #5556 "A lot of failed p2p messages for beacon_aggregate_and_proof"
# 🐞 Bug Report

### Description

Seen a lot of p2p messages that failed validations for `beacon_aggregate_and_proof` in metrics

[code]

[2020-04-21 14:07] rauljordan commented on #5513
Fixed by #5513

[2020-04-21 14:07] #5513 closed

[2020-04-21 15:26] terencechain opened #5562 "Initial sync first slot takes a long time"
# 🐞 Bug Report

### Description

Thanks @nisdas for reporting this. `verifyBlkPreState` takes a long time to start up for initial syncing when processing the first block. It was regenerating the state from very far away check point.  For initial syncing, instead of using ~~last finalized slot~~ head slot, we should use last saved slot or last archived slot

[2020-04-21 16:46] rauljordan opened #5564 "Subscription Cancel Errors For Committee Subnets Cause Node Downtime"
# 🐞 Bug Report

### Description

A failure to unsubscribe committee subnets correctly during their dynamic resize process leads to nodes to have some downtime causing some validators to lose funds.

## 🔬 Minimal Reproduction

This is an intermittent problem that arises in rare cases when running a beacon node in the topaz testnet.

## 🔥 Error

<pre><code>
[2020-04-21 12:12:47] ERROR sync: Failed t

[2020-04-21 16:57] rauljordan commented on #4891
Closing and moving to the docs repo

[2020-04-21 16:57] #4891 closed

[2020-04-21 17:08] terencechain opened #5566 "Could not get block root to get state for the first slot at initial syncing"
# 🐞 Bug Report

### Description

When switching from `--diable-new-state-mgmt` to regular running node, the first slot will display the following error. This is just cosmetic and has no impact to run time funactionlity:

<img width="660" alt="Screen Shot 2020-04-21 at 10 00 50 AM" src="https://user-images.githubusercontent.com/21316537/79892811-ead06080-83b7-11ea-8f48-ea5ad3ee6ad8.png">

[2020-04-21 18:18] #5555 closed

[2020-04-21 18:52] Domintek commented on #5552
I have had this very same issue running docker on Linux PoP!_OS 19.10 with the version of docker listed here:
domintek@pop-os:~$ docker -v
Docker version 19.03.6, build 369ce74a3c

Did not have this problem on the sapphire iteration of the validator.

My work around is to run beacon-node in docker and run validator in script.

[2020-04-21 19:00] mbdyess commented on #5564
As of early this AM (EST), 10 of my validators were ACTIVE and 5 were PENDING.  I've been watching the balance of each validator and noticed a dip in all of the (10) previously active validators around the time that the 5 pending validators came online.  I was already playing with Grafana, so it was easy to capture graphs of what I was seeing.

![Screenshot](https://user-images.githubusercontent.c

[2020-04-21 19:53] prestonvanloon commented on #5564
@rauljordan, how does this affect participation? It seems like we are unsubscribing or subscribing more than once. This _should_ be a benign error that we can move to DEBUG, but I am interested to hear how this is causing issues with attestation propagation.

[2020-04-21 19:57] prestonvanloon commented on #5552
Additionally, you need to correctly mount the volumes in docker. The process likely did write to the container's disk, but that disk is not mounted on your host machine. Please follow the instructions for the correct flags on https://docs.pryslabs.network or https://prylabs.net

[2020-04-21 20:02] rauljordan commented on #5564
Seems like the sub was canceled and likely the node was not able to receive any unaggregated atts throughout a particular subnet. It seems like multiple things are happening in this error report, but seems scary that we were not able to format the topic with the right value, it may be a symptom of something bad underneath the hood.

[2020-04-21 20:06] prestonvanloon commented on #5564
It definitely needs to be fixed. I would like to understand why it happens
so often and why it happens multiple times

[2020-04-21 20:20] prestonvanloon commented on #5530
@meirdavis I think you can do it with
[code]

Please google around a bit, I am not 100% sure on this. Let us know if it resolves your issue. Thanks!

[2020-04-21 20:23] prestonvanloon commented on #5512
![Screenshot 2020-04-21 at 10 30 21 - Edited](https://user-images.githubusercontent.com/7246818/79910258-3e03dc80-83d3-11ea-9cc5-410dc42c8c61.png)

Looks like new state managementt might be an issue. #5567 will flip the flag's default value to be opt-in instead of opt-out. We'll create a new release after #5567 merges

[2020-04-21 20:58] #5546 closed

[2020-04-21 21:23] prestonvanloon commented on #5450
We should add feedback that the validator is part of the genesis validator set when the chain is pre-genesis. Great suggestion and thanks for filing!

[2020-04-21 21:24] terencechain commented on #5482
More users reported today

![image](https://user-images.githubusercontent.com/21316537/79915471-d56d2d80-83db-11ea-8a55-e87e5e5fa7af.png)

[2020-04-21 21:40] terencechain commented on #5564
Also reported by ectocooler, where the error:
[code]

triggers this:
[code]

The second erroc is understandable since the node failed to subscribe to a subnet therefore the aggregator could not submit any aggregated attestation

[2020-04-21 21:53] Phistr90 opened #5571 "Slasher Could not insert attester slashing into pool"
# 🐞 Bug Report

### Description

Running the slasher I am getting this error from time to time and I am unable to slash anyone:

`[2020-04-21 22:48:11]  INFO detection: Found an attester slashing! Submitting to beacon node indices=[11957] sourceEpoch=869 surroundVote=false targetEpoch=870
[2020-04-21 22:48:11] ERROR beaconclient: rpc error: code = Internal desc = Could not insert attester slashing

[2020-04-21 22:00] 0xKiwi opened #5572 "E2E flakes with subpar participation"
This issue is tracking issue to ensure we look into the root cause of E2E flaking failures.

The test that fails is participation, with it usually being between 87.5% and 95% when it fails.

[2020-04-21 23:14] mbdyess commented on #5564
I would be happy to try to recreate this scenario.  I could set up 5 more validators and monitor (whatever you tell me to... bc/validator logs, graphs, etc.) when they come online.  Let me know how if there's anything I can do to help out.

[2020-04-22 00:44] nisdas commented on #5564
Hey guys will be looking at this today, have some ideas why it fails.

[2020-04-22 00:45] nisdas commented on #5571
@shayzluf @0xKiwi , from what I understand this is an ongoing problem correct with the slasher, correct ?

[2020-04-22 00:47] nisdas commented on #5487
Hey @shayzluf is this still valid ? I am not seeing this when running that flag.

[2020-04-22 01:42] 0xKiwi commented on #5571
Yes, I think it might be related to #5306 based off of what we've seen.

[2020-04-22 02:16] nisdas opened #5574 "Add Endpoint To Enable Debug Logging"
For debugging purposes, we should have an admin endpoint that is able to toggle with the verbosity of our logging. By being able to toggle info,debug and trace logs in runtime we can explore any runtime bugs. This is very useful when testing any networking related issues/bugs.

cc @protolambda

[2020-04-22 03:51] rauljordan commented on #5130
Hi @alonmuroch thanks again for brining this up - we're very happy to introduce this change and it is now live in the latest master branch of ethereumapis and soon in Prysm with #5570 :)

[2020-04-22 03:53] prestonvanloon commented on #5240
@hacktar v1.0.0-alpha.5 has been released with this change included. Thanks

[2020-04-22 03:54] prestonvanloon commented on #5130
This has been done. @alonmuroch can you let us know if there is more we need to do here to resolve your use case? Thanks

[2020-04-22 03:56] #5130 closed

[2020-04-22 03:56] prestonvanloon commented on #5130
Sorry, I commented too soon. _Now_ it is done :)

[2020-04-22 08:30] farazdagi commented on #5562
Some relevant context: when `init-sync` starts it obtains head slot, finds its epoch and proceeds from there: https://github.com/prysmaticlabs/prysm/blob/db6dbdcde4bdd8167ff3277c2c53dc0909a254c3/beacon-chain/sync/initial-sync/blocks_queue.go#L138

[2020-04-22 09:20] AlexSSD7 opened #5576 "Concurrent map read/writes while running beacon-chain"
# 🐞 Bug Report

### Description

Runtime panic caused by concurrent map read/writes. This issue can be resolved by using mutex.

### Has this worked before in a previous version?
Can't gather information. It is pretty rare issue.

## 🔬 Minimal Reproduction

I was just very lucky to have two goroutines reading/writing values from single map. Would be very hard to reproduce.

## 🔥 Error

<pre><code>

[2020-04-22 09:25] AlexSSD7 commented on #5576
Duplicate of #5513, but still not fixed.

[2020-04-22 09:56] nisdas commented on #5576
Hey @AlexSSD7 , from your report the commit hash is 4 days old so it is an old image. This was fixed here, https://github.com/prysmaticlabs/prysm/pull/5554, which was only merged in yesterday. Could you pull the latest and try again ?

[2020-04-22 11:00] AlexSSD7 commented on #5576
Oh, apparently I didn't notice it the date. Anyway I've upgraded the prysm version on my server. Left it running for couple days, will see if it is fixed.

[2020-04-22 11:42] #5433 closed

[2020-04-22 12:12] ShawkiS commented on #5450
I'll take this one, it seems cool and will learn many things. @prestonvanloon can you please assign it to me?

[2020-04-22 12:44] ShawkiS commented on #5450
Know the network => query the account on the network => take the amount he has => compare it on the amount he must has => and print it

Where I have to print it?

-How do I know the network that the validator client is connected to?

-And when I know it's network x, how I query to check the balance of an account?

-Is there a constant about how much the validator client must have?

[2020-04-22 13:08] hacktar commented on #5240
It doesn't work... maybe some problem with MacOS version!

[code]
It doesn't matter, carry on :-(

[2020-04-22 13:12] nisdas commented on #5240
something went wrong with cross-compiling it looks like, @prestonvanloon any idea ?
@hacktar re-opening this again.

[2020-04-22 13:13] Buttaa opened #5578 "Show STATUS when running ./validator accounts keys"
Would help if `./validator accounts keys` displays the current status of each key and their inclusionslot, ordered by their status.

[2020-04-22 13:32] Phistr90 commented on #5571
finally slashed myself and not getting above error so far.
I am running the slasher now on 95f1676d5f9b66d079f67a6206ca075dd633165a
I guess that between that and commit 639e3072fe5f7cc335ad25d8b4a6cb386ad03a41 a bug has been introduced.

[2020-04-22 13:54] rauljordan commented on #5493
@0xKiwi do you think we can close this? I believe the results we're seeing from your PR have helped get rid of this flame a lot

[2020-04-22 14:04] rauljordan commented on #5487
Confirmed I subscribe to all with the flag on

[2020-04-22 14:04] terencechain commented on #5578
Good feature. Thanks @Buttaa

[2020-04-22 14:06] Phistr90 opened #5579 "Show that validator has been slashed"
# 🚀 Feature Request

### Description

Currently there is no outout in the validator client that indicates that the validator has been slashed and exited other than an reduced balanced

### Describe the solution you'd like

Would be nice if you could clearly signal that a validator has been slashed and exited

[2020-04-22 14:06] terencechain commented on #5576
Thanks @AlexSSD7 , please give us an update

[2020-04-22 14:09] rauljordan commented on #5579
Hi @Phistr90 your validator client will display status=SLASHED if you are indeed slashed. Are you not seeing this locally? Can you confirm your validator is slashed on https://beaconcha.in? what's your validator index?

[2020-04-22 14:12] rauljordan commented on #5437
Done by https://github.com/prysmaticlabs/documentation/pull/43

[2020-04-22 14:12] #5437 closed

[2020-04-22 14:30] rauljordan commented on #5549
Done in the latest release https://github.com/prysmaticlabs/prysm/tree/v1.0.0-alpha.5

[2020-04-22 14:30] #5549 closed

[2020-04-22 14:31] rauljordan commented on #5350
Can we close this one @terencechain

[2020-04-22 14:34] rauljordan commented on #4846
Hi @GuillaumeOcculy do you still have this error in our new testnet? A lot has changed. Curious if you are still seeing problems today.

[2020-04-22 14:35] rauljordan commented on #4734
Closing this and moving some leftover items to the https://github.com/prysmaticlabs/documentation repository for better tracking

[2020-04-22 14:35] #4734 closed

[2020-04-22 14:42] rauljordan opened #5599 "Add Comprehensive Godocs to Prysm Packages"
It is good practice to have a nice godocs page for everything in Prysm, both as package level docs and also function/method/type level docs in Prysm. Adding this issue for tracking.

[2020-04-22 14:52] terencechain commented on #5350
No, we haven't fully deprecated the archival service yet. DB and service objects still exist

[2020-04-22 14:54] rauljordan commented on #5450
1. First of all, let's look at the problem. Validators can be active _before_ the genesis time if they deposited pre-genesis. Say that genesis is tomorrow at midnight, the problem is if you're running a validator, you dont get any logs or feedback that you are ready once that time tomorrow comes.
2. Then, I would look at the lifecycle of a validator: what does a validator do when it starts up? It

[2020-04-22 15:03] Phistr90 commented on #5579
On the validator it shows the status during the new assignment. But after the validator is slashed there is no new assignment so it doesnt show the status.

`[2020-04-22 11:55:12]  INFO validator: Previous epoch aggregated voting summary attestationInclusionPercentage=1.00 correctlyVotedHeadPercentage=1.00 correctlyVotedSourcePercentage=1.00 correctlyVotedTargetPercentage=1.00 epoch=992
[2020-04-2

[2020-04-22 15:08] 0xKiwi commented on #5493
Yup! @rauljordan we can close this now, all of the improvements have been merged.

[2020-04-22 15:36] Phistr90 commented on #5536
AFAIk this worked for me --graffiti "test test"

[2020-04-22 15:44] rauljordan commented on #5579
Thanks for the feedback, @0xKiwi is this something we can amend on the status code of the validator client?

[2020-04-22 15:45] terencechain commented on #5512
Update. I have a solution for this. Going be thoroughly testing this today

[2020-04-22 15:47] rauljordan commented on #5439
@ShawkiS is interested in this

[2020-04-22 15:52] ShawkiS commented on #5439
Yeah, that will be great I'll start working on it.

[2020-04-22 15:53] #5550 closed

[2020-04-22 15:57] 0xKiwi commented on #5579
Totally! I have #5338 open as a tracking issue.

[2020-04-22 16:09] #5493 closed

[2020-04-22 16:10] rauljordan commented on #5579
Great, closing as a duplicate of #5338, please follow that issue @Phistr90

[2020-04-22 16:10] #5579 closed

[2020-04-22 16:29] ShawkiS commented on #5439
I'll write what is the solution looks like

Adding this log in both `validator/client/service.go` and `beacon-chain/blockchain/service.go
`
[code]

Note: The solution was by Raul on Discord

[2020-04-22 16:47] Yoldark34 opened #5580 "Add update option in prysm.sh"
# 🚀 Feature Request

### Description

The option allow to update beacon and validator files without the need to restart them before.
In order to gain time and avoid putting node offline for too long it is a good idea to update the process in background and then restart the beacon/validator.
At the actual state of prysm.sh this solution is already feasible.

prysm.sh update

It will update the beac

[2020-04-22 18:31] metanull-operator opened #5581 "Beacon Chain v1.0.0-alpha.5 Cannot Connect to Eth1 Node"
# 🐞 Bug Report

### Description

Beacon chain running alpha.5 unable to connect to my Goerli eth1 node, but second beacon chain running alpha.4 continues to connect to eth1 node successfully.

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: v1.0.0-alpha.4

## 🔬 Minimal Reproduction

`beacon-chain --datadir=/home/eth2/prysm --min-

[2020-04-22 19:03] prestonvanloon commented on #5581
I believe we updated the ethclient in https://github.com/prysmaticlabs/prysm/pull/5554

[2020-04-22 19:14] metanull-operator commented on #5581
This was s different variation I once saw, which includes an EOF error:

[code]

[2020-04-22 19:41] Swader commented on #5533
This is only inside WSL as stated in minimum reqs. The failure happens when launching in a folder outside the VM's root, and does not happen inside the VM's root.

WSL shares the VM's filesystem with the parent OS transparently, and it's accessible via `mnt` through the explorer and other tools like IDEs, but for some reason, this bridging is breaking the script in this case.

In Windows itself (n

[2020-04-23 02:50] kumavis opened #5585 "Failed to decrypt key"
# 🐞 Bug Report

### Description

Following the instructions on https://prylabs.net/participate
I encounter error
[code]

### Has this worked before in a previous version?

i assume so

## 🔥 Error

[code]

## 🔬 Minimal Reproduction

[code]

using password **`password1234`**
also note: junk logged to console? `^[[?65;1;9c`
and: `CPU quota undefined` (maybe normal?)
[code]

[code]

same password **`p

[2020-04-23 06:11] #5485 closed

[2020-04-23 09:13] Buttaa commented on #5585
try this: https://github.com/prysmaticlabs/prysm/issues/5438

[2020-04-23 09:15] Buttaa opened #5586 "Feature request: Ability to use different --graffiti="" for each validator"

[2020-04-23 09:22] q9f opened #5587 "Failed to handle p2p RPC error=rate limited"
# 🐞 Bug Report

### Description

I'm running a local `beacon-chain` node on the Topaz testnet. I want to connect a local Ligthhouse node but I keep getting:

`WARN sync: Failed to handle p2p RPC error=rate limited`

### Has this worked before in a previous version?

N/A

## 🔬 Minimal Reproduction

- `beacon-chain --max-peers 65535` without any further params and default topaz configuration.
- and:

[2020-04-23 09:31] q9f opened #5588 "Do not reject peers if --p2p-max-peers is reached"
# 💎 Issue

### Background

I would suggest that `--p2p-max-peers` should be a soft limit, not a hard limit.

### Description
 In ETH1 clients, we do something along the lines:
- if `peerCount < maxPeers`: do active peer-discovery and accept incoming peers
- if `peerCount >= maxPeers`: don't do active peer-discovery but still accept incoming peers

The way you could implement these limits could be

[2020-04-23 09:33] q9f commented on #5588
This is what a Lighthouse peer observes once a Prysm node reached the max peers limit:

[code]

[2020-04-23 14:00] mangoleap opened #5590 "Startup script doesn't work on MacOS High Sierra 10.13.6"
That's the output:

[2020-04-23 14:28] kumavis commented on #5585
closing as duplicate of #5438

[2020-04-23 14:30] kumavis commented on #5438
this worked for me, thanks
[code]

[2020-04-23 14:34] kumavis commented on #5438
couldn't find a good reference, but its generally a bad idea to put passwords in cli args (they appear in bash history)

[2020-04-23 14:37] farazdagi commented on #5438
- yep, you're right, we have already removed that password from from cli https://github.com/prysmaticlabs/prysm-testnet-site/commit/e1a0571d0fd8b3d1957f8c20161e32a9f47d2c45
- preparing the fix for the current issue as well

[2020-04-23 14:39] terencechain opened #5593 "Rewards penalty bugs and resolution steps"
# 🐞 Bug Report
protolambda
### Background
Thanks to @protolambda and co, we found a few rewards and penalty bugs in prysm while doing interop testing with lighthouse. The bugs **don't** break topaz testnet or affect single client users negatively, the current decision is to keep topaz testnet and launch individual devnet with this fix to use for interop with lighthouse and others. This bug is non-

[2020-04-23 14:40] kumavis commented on #5438
@farazdagi im not sure where the repo for https://prylabs.net/participate is, but it should be updated to match the new interface

[2020-04-23 15:06] protolambda commented on #5593
The scope of the bug is bigger here than just the overflow bug, please see my review here: https://github.com/prysmaticlabs/prysm/pull/5127#pullrequestreview-398976613

[2020-04-23 15:27] rauljordan commented on #5405
Hi @Strydom please try this out with our new Topaz testnet, I don't believe this error occurs anymore. Please let us know in this thread if it still happens to you, closing in the meantime.

[2020-04-23 15:27] #5405 closed

[2020-04-23 15:27] terencechain commented on #5593
updated description, thank you

[2020-04-23 15:31] terencechain commented on #4958
Closing this and defer this to  #5350

[2020-04-23 15:31] #4958 closed

[2020-04-23 15:54] #5521 closed

[2020-04-23 17:34] prestonvanloon commented on #4923
@0xKiwi any update on this?

[2020-04-23 17:35] prestonvanloon commented on #5131
I don't think so. I'm picking up fuzzing work again today and we'll see if it continues to fail.

[2020-04-23 18:20] 0xKiwi commented on #4923
@prestonvanloon not entirely sure if I can find the problem, would help to see the logs.
We get the activation epoch from state so its most likely our inclusion slot estimate is not accurate for minimal config.
Can you replicate this issue? @tsudmi

[2020-04-23 18:45] prestonvanloon commented on #5562
What's wrong with syncing from last finalized? Syncing from last finalized chain might make it easier to sync if you shut down your node and the head of your chain was orphaned.

If we move forward on this functionality, please make it configurable at runtime via flag.

[2020-04-23 18:49] terencechain commented on #5562
For running `new-state-mgmt` we should use `last-finalized-slot` there instead of `head-slot` since a node doesn't preserve states in the DB as often

[2020-04-23 19:14] lsankar4033 commented on #4814
oh lol, I just created a PR for this, but it looks like you guys were already on it :)

[2020-04-23 19:20] 0xKiwi opened #5597 "Allow for more powerful graffiti inputs"
# 🚀 Feature Request

### Description

Suggested by @protolambda, we should allow for more interactivity in the block graffiti input, possibly adding script support or more responsive inputs rather than something hard coded.

Not a priority, but making an issue to make sure its not forgotten.

[2020-04-23 19:26] prestonvanloon commented on #5240
Please install mac OS X 10.14 or greater. I'll update docs site requirements for Mac OS X

[2020-04-23 19:26] #5240 closed

[2020-04-23 19:27] #5040 closed

[2020-04-23 19:46] #4814 closed

[2020-04-23 19:55] prestonvanloon commented on #5576
There have been two releases since 1224e75ba1af59d5ed074db766d0bd4e9b77ea64. This has almost certainly been fixed. I'll close but please reopen if you have continued issues.

[2020-04-23 19:55] #5576 closed

[2020-04-23 19:57] prestonvanloon commented on #5549
Done in https://github.com/prysmaticlabs/prysm/pull/5543

[2020-04-23 20:02] #5438 closed

[2020-04-23 20:15] prestonvanloon commented on #5580
We were also considering whether or not Prysm itself could download the binary in the background and periodically recommend to the user to restart the process.

In any case, I support your proposal to download the latest binaries without starting the process so that the end user can minimize their downtime.

[2020-04-23 20:18] prestonvanloon commented on #5581
We've added some additional functionality to help in these scenarios in #5583. Eth1 node connection can negatively affect block proposals, but having a short timeout with a graceful fall back should help with this issue.

Given that, I'm lowering priority slightly.

[2020-04-23 20:24] prestonvanloon commented on #5533
Thanks for the update. I'm not entirely sure how to proceed with this issue given that I'm not familiar with running linux as a subsystem on windows. Added help wanted flag for now.

[2020-04-23 20:26] Yoldark34 commented on #5580
If you want to make the download available in the background you must add the option to disable it as it may not be the best solution to every person.
And you will still need a way to download it by user command.

[2020-04-23 20:49] mshean opened #5600 "Validator "Previous epoch voting summary" info message prints the wrong pubKey if two keys are in the same keymanager directory"
# 🐞 Bug Report

### Description

 Validator "Previous epoch voting summary" info message prints the wrong pubKey if two keys are in the same directory. See the below logs for an example. 0xa7976999cafdfa24 is a key which is pending activation and is not valid yet. 0x949308ca28d2 is the key which is active and attesting, but it's not showing in the log message correctly. I discovered this while try

[2020-04-23 20:55] prestonvanloon commented on #5590
OS X 10.13.6 is not supported. Please use docker or upgrade to OS X 10.14 or greater.

[2020-04-23 20:55] #5590 closed

[2020-04-23 20:58] prestonvanloon commented on #5588
Wouldn’t that open up an attack vector? I could create thousands of nodes and your node would peer with all of them if they all dialed you? Your node would be overwhelmed with resource consumption.

With regards to disabling active discovery, I don’t think this functionality is available in libp2p configuration so we haven’t taken the time to add it upstream yet. cc: @nisdas

[2020-04-23 21:03] prestonvanloon commented on #5587
How many block slots (request.Count) are you requesting from a single peer? Prysm rate limits to 32 blocks per second with bursts of 320. https://github.com/prysmaticlabs/prysm/blob/a33bd94ffb13a0021614685565aa113c6b2ae3b7/beacon-chain/sync/service.go#L31

[2020-04-23 21:21] hacktar commented on #5240
Unfortunately `macOS High Sierra 10.13.6` version is the latest available for certain older types of mac computers.

Anyway thanks

[2020-04-23 21:25] prestonvanloon commented on #5240
Sorry to hear that. You can still run with docker or compile from source,
but our precompiled binaries will only work on 10.14 or greater.

[2020-04-23 21:32] protolambda commented on #5597
Yes, basically instead of `--graffiti` we could have a `--graffiti-script` tag, that calls the specified script. E.g. ``--graffiti-script="echo -n protolambda"`. And maybe provide it data through stdin. E.g. current slot, validator pubkey of proposer, encoded block body, or things like that.
Others can then also hook it up with their more advanced graffiti tooling, e.g. call a remote webserver for

[2020-04-23 21:56] terencechain opened #5603 "Update prysm to v0.12"
Opening this issue to track updating prysm to v0.12. The on-going branch getting worked on is here:
https://github.com/ethereum/eth2.0-specs/tree/v012x

[2020-04-23 23:02] terencechain commented on #5556
This issue turned out to be more severe than we had thought. There's 2 problems:

1.) Beacon node's sync validation pipeline was using the wrong domain to verify selection proof:
https://github.com/prysmaticlabs/prysm/pull/5604

2.) Validator client was including the signing root of the aggregation object **instead** of the signature over the signing root:
https://github.com/prysmaticlabs/prysm/pu

[2020-04-23 23:02] GuillaumeOcculy commented on #4846
Hi @rauljordan, my VPS has currently a problem. I will retry tomorrow

[2020-04-23 23:17] GuillaumeOcculy commented on #4846
Hi @rauljordan I just tried on my local machine instead of my VPS and I don't see the error anymore

[2020-04-24 03:18] terencechain commented on #5593
Closing this as #5595 merged and @rauljordan provided instructions on setting up local prysm node for interop:
https://gist.github.com/rauljordan/d3d200197a3ce7370f060e111079ad64

[2020-04-24 03:18] #5593 closed

[2020-04-24 04:55] #4846 closed

[2020-04-24 06:49] nisdas commented on #4741
cc @rauljordan

While our archiver will eventually be deprecated can we do a quick patch to resolve the above error ?

[2020-04-24 07:07] Buttaa commented on #5586
pretty much a duplicate of https://github.com/prysmaticlabs/prysm/issues/5597

[2020-04-24 07:29] q9f commented on #5588
No, we discussed this on discord and I'm sorry for using the terms in a confusing way. Actually, `max-peers` would not change, it would be a hard limit, e.g, 60 peers. Every incoming request beyond that limit would kindly be sent home with a "Goodbye". #5589

But internally, there could be a soft-limit in place, let's call it `min-peers` and you can decide if you want to make it configurable or ju

[2020-04-24 07:34] #5585 closed

[2020-04-24 07:55] farazdagi commented on #5585
@kumavis  thank you for closing the issue. Also wanted to let you know that the issue with junk logged into terminal has also been fixed in https://github.com/prysmaticlabs/prysm/pull/5594

[2020-04-24 08:04] q9f commented on #5587
Yeah, so I'm seeing this on the other side:

[code]

So this is a lighthouse issue I would assume @AgeManning

[2020-04-24 08:40] nisdas commented on #5587
So to recap the offline conversation with @q9f @AgeManning @paulHauner , the main issue is that lighthouse requests each 5 batches of blocks with 64 blocks each in each request. This makes it very easy to trigger Prysm's rate limiter for them. The rate limit value that we had was from last-year when we had a lot of different bottlenecks, so it made sense to prevent nodes from being overwhelmed fro

[2020-04-24 09:09] nisdas commented on #5588
@prestonvanloon This would be possible with discoveryV5, it would actually be very simple so its not such a big issue. The only place we can't do this is when using kad dht, but since that is not a part of mainnet discovery spec we can ignore it.

I think this is possible to achieve using libp2p's connection manager. Its just that we disabled using it before as our nodes were getting overwhelmed f

[2020-04-24 11:29] nisdas commented on #5588
To give an update, I tried running libp2p's connection manager with a `max limit` of 20 with a high watermark of `25` , the number of peers connected ended up ballooning to over 100...

So the connection manager is pretty much ineffective here and does not do active pruning very well. or at all for that matter. Any solution would have to be with a custom connection manager which would manage peers

[2020-04-24 16:44] Phistr90 commented on #5533
Cannot reproduce on my WSL. OS build 19608.1006.

[2020-04-24 19:06] terencechain opened #5611 "Could not generate historical state, pre state can't be nil"
# 🐞 Bug Report

### Description
Reported by Peter from Bitfly:
[code]

[2020-04-24 19:06] terencechain commented on #5611
Looking at this now

[2020-04-24 19:09] terencechain commented on #5611
Reproduced around slot `43520`, looks like one block's parent was > 64 slots old. Retry with extending the cache size from 2 epochs to 3 epochs

[code]

[2020-04-24 19:10] #5556 closed

[2020-04-24 19:11] rauljordan commented on #5540
This was due to new-state-mgmt, which is being resolved by @terencechain

[2020-04-24 19:11] #5540 closed

[2020-04-24 19:11] #5487 closed

[2020-04-24 19:14] xrow opened #5612 "Slasher is missing --config-file option"
# 🚀 Feature Request

### Description

When running slasher --config-file=/etc/prysm/slasher.yaml you get and error.
For consistency I would like to see all programms to have the same config-file flag available.

![image](https://user-images.githubusercontent.com/295491/80248325-fa79ce80-866f-11ea-9e2c-1f403e7b323a.png)

### Describe the solution you'd like

the slasher shall have the same option a

[2020-04-24 19:32] terencechain commented on #5540
This is not a `new-state-mgmt` memory issue, the new state mgmt issue only persists post initial sync when a node is receiving valid aggregated/unaggregated attestations because of the state copies for verifying those attestations.

This is a diff issue as we can see from the log the node runs out of memory in slot 400
[code]

With that said, I'm not aware of any reporting of this today

[2020-04-24 20:52] terencechain commented on #5611
Found the problem. The block at slot 43772 built on top of pre state of slot 43693. Will increase the cache size to 80. Verified it solved the problem. Will open a PR

[2020-04-24 21:12] terencechain commented on #5503
I haven't seen this again nor heard any reporting from users in the last 3 days. Closing for now

[2020-04-24 21:12] #5503 closed

[2020-04-24 21:59] #4232 closed

[2020-04-25 00:13] madhancr commented on #5538
sorry forgot to paste the error:

docker run -it -v $HOME/prysm/validator:/data --network="host" gcr.io/prysmaticlabs/prysm/validator:latest --beacon-rpc-provider=127.0.0.1:4000 --keymanager=keystore --keymanageropts='{"path":"/data","passphrase":"changeme"}'
2020/04/20 04:45:27 maxprocs: Leaving GOMAXPROCS=2: CPU quota undefined
[2020-04-20 04:45:27]  WARN flags: Using default mainnet config
[202

[2020-04-25 01:50] prestonvanloon commented on #5587
Discussed offline a bit more in discord. We're OK to increase the default rate limit and make it configurable at runtime. Another thing we could consider is delaying the response of block requests if a peer exceeds their limit instead of returning a hard error. Given that the protocol allows streams of blocks, we can return blocks slower than "as fast as we can" which is the current implementation

[2020-04-25 08:54] q9f opened #5616 "Prysm launches beacon chain 1 hour before Lighthouse"
# 🐞 Bug Report

### Description

Prysm launches beacon chain 1 hour before Lighthouse. I created a chain yesterday with the following config:

- min genesis time 1587755000 (7:03:20 pm UTC)
- min genesis delay 3600

However, both Prysm and Lighthouse did compute different genesis times:
- Prysm computed genesis time 8:00:00 pm UTC
- Lighthouse computed genesis time 9:00:00 pm UTC

### Has this wor

[2020-04-25 10:20] q9f commented on #5616
Update, from the spec:

https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/beacon-chain.md#genesis

[code]

1587755000 - mod(1587755000; 3600) + 2 * 3600 = 1587762000

Which is 9:00:00 pm UTC if `eth1_timestamp` is equal or greater than `MIN_GENENIS_TIME` but @nisdas just explained me that `eth1_timestamp` can also be lower than that which might be the case here because I did the depos

[2020-04-25 12:18] Buttaa opened #5617 "Request: Display beaconchain.db and validator key paths at startup"
Users usually copy/paste the commands (or doubleclick the binarys) and don't know where their .db & validator keys are located at, it would be very helpful to display the path at the beginning of the process.

[2020-04-25 14:59] #5611 closed

[2020-04-25 15:43] Buttaa commented on #5456
@prestonvanloon

Binary Files work now. Solution was to drag&drop(to get the exact path lol) the binary file into the terminal and use:

`beacon-chain-v1.0.0-alpha.5-windows-amd64.exe`--datadir=/prysm`
if the folder is in C:\prysm

`validator-v1.0.0-alpha.5-windows-amd64.exe --keystore-path=/prysm --password=yourPassword`

[2020-04-25 18:03] 0xKiwi commented on #5526
I think #5617 would be a better alternative solution for this, thoughts? A subcommand meant for a flag info seems unneeded, logging it out would be great IMO.

[2020-04-25 20:30] q9f commented on #5616
This is the block: https://goerli.etherscan.io/block/2581357

Timestamp is `1587752706` (6:25:06 pm UTC | Friday, April 24, 2020)

[code]

Genesis time is `1587758400` (8:00:00 pm UTC | Friday, April 24, 2020)

So, Prysm is correct. Wondering why Lighthouse would come up with a timestamp one hour later...

[2020-04-25 20:35] ShawkiS commented on #5617
Hey, I'll work on it

[2020-04-25 21:20] terencechain opened #5623 "Unaggregated attestation gets in `validateAggregateAndProof`"
While debugging high `p2p_message_failed_validation_total` for topic `/eth2/f071c66c/beacon_aggregate_and_proof/ssz_snappy`, one interesting thing I observed is unaggregated attestation gets in `validateAggregateAndProof` and fails validation. It failed at `validateIndexInCommittee`:
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/sync/validate_aggregate_proof.go#L173

From the err

[2020-04-25 22:54] paulhauner commented on #5616
Yep, looks like this is on our end. I've picked it up here:

https://github.com/sigp/lighthouse/issues/1051

Thanks @q9f!

[2020-04-26 00:10] wgknowles opened #5624 "Include a prysm.bat file for native windows support (i.e. no bash/docker pre-requisites)"
# 🚀 Feature Request

Current instructions for windows all require the use of external dependencies (e.g. docker, git bash, WSL, etc.)  The .exe releases work just fine without these pre-requisites, however windows can't run .sh bash scripts.  A prysm.bat file that mimics the functionality of prysm.sh will allow for documentation to be consistent across all platforms.

Desired outcome:
Ability to r

[2020-04-26 02:26] wgknowles commented on #5624
Need a way to do curl in windows, preferably without requiring the end user to install it.  Can we either:
bundle curl
use this library: https://github.com/npocmaka/batch.scripts/blob/master/hybrids/jscript/winhttpjs.bat
 MIT Licensed: https://github.com/npocmaka/batch.scripts/blob/master/LICENSE

[2020-04-26 02:56] bp1313 opened #5625 "When GPG is not installed on macOS, running beacon-chain fails with "failed_verification: numeric argument required""
**Description:**
I tried to set up the beacon-chain and validator on the Topaz Testnet following the steps defined here for macOS:
https://docs.prylabs.network/docs/install/mac/

I ran this:
`./prysm.sh beacon-chain --clear-db`

and got this:
`Latest Prysm version is v1.0.0-alpha.5.
Downloading beacon chain@v1.0.0-alpha.5 to /Users/[redacted]/prysm2/./dist/beacon-chain-v1.0.0-alpha.5-darwin-amd64

[2020-04-26 03:38] prestonvanloon commented on #5625
The script is supposed to print a nice message. Thanks for filing this, there is definitely a bug.

https://github.com/prysmaticlabs/prysm/blob/faa5b309a297a3bb53672c2672c301310fbda0a8/prysm.sh#L133-L138

[2020-04-26 05:58] nisdas commented on #5526
I was shying away from logging this as it gets very easy to miss it especially with novice/new users. Also I think we log the path anyway for validator keys ?

[2020-04-26 07:56] #5616 closed

[2020-04-26 10:41] Swader commented on #5533
Strange. I can't debug this more right now, but I'll come back to this with more info once I have time to  explore further.

[2020-04-26 14:09] #5625 closed

[2020-04-26 18:14] kumavis opened #5629 "[deleted]"
[deleted]

[2020-04-26 18:21] #5629 closed

[2020-04-26 18:25] #5580 closed

[2020-04-26 18:57] terencechain opened #5630 "p2p_message_failed_validation_total for beacon_block is above 30%"
# 🐞 Bug Report

### Description

`p2p_message_failed_validation_total` for `beacon_block` is high. Opening this issue for investigation:

<img width="2538" alt="Screen Shot 2020-04-26 at 11 53 25 AM" src="https://user-images.githubusercontent.com/21316537/80316839-01f6c000-87b5-11ea-8f5c-da6ad8583998.png">

[2020-04-26 19:03] terencechain opened #5631 "Update RPC method `GetValidatorPerformance` to use validator indices"
# 🚀 Feature Request

### Description

Update RPC method `GetValidatorPerformance` to take also take in validator indices.
Since we do support validator indices in other RPC methods. It'll be good to be consistent

[2020-04-26 20:55] prestonvanloon opened #5633 "Cannot run prysm.sh with no args to process"
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...

Cannot run `./prysm.sh beacon-chain`

### Has this worked before in a previous version?

 Yes, before #5628

## 🔬 Minimal Reproduction

./prysm.sh beacon-chain

## 🔥 Error

<pre><code>
./prysm.sh: line 233: $2: unbound variable
</code></pre>

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
linux amd6

[2020-04-26 21:08] protolambda commented on #5536
@Phistr90 Are you running it in docker, using the script, bazel, or other approach?

[2020-04-26 21:21] Phistr90 commented on #5536
@protolambda bazel

[2020-04-26 21:24] #5633 closed

[2020-04-26 23:04] #5624 closed

[2020-04-27 00:34] terencechain opened #5635 "Add metrics testing for e2e"
# 🚀 Feature Request

### Description

One thing an e2e test can look at is metrics data and use the data to determine pass/fail criteria. Here's a few interesting metrics to look at:

- `beacon_clock_time_slot`: should be the same as current slot
- `committee_cache_miss/committee_cache_hit`: should be <1%
- `hot_state_cache_miss/hot_state_cache_hit`: should be <1%
- `go_memstats_alloc_bytes`: shou

[2020-04-27 03:23] Phistr90 opened #5638 "Operations on validator db to manage validators"
# 🚀 Feature Request

### Description

For validator management purposes it would be nice to have a possibility to move certain validators from one instance to another. Currently all the validators information on a client are all stored in a single validator db. This makes it difficult to scale and balance load as it is not possible to move validators to another client

### Describe the solution yo

[2020-04-27 07:42] Cryptosteph opened #5640 ""Could not request attestation to sign" and "Could not report validator's rewards/penalties""
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...
My validator don't work, there is always this issue "Could not request attestation to sign" and "Could not report validator's rewards/penalties" ## Has this worked before in a previous version? No

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>

ERROR validator: Could not request attestation to sign at slot err

[2020-04-27 10:14] imnisen opened #5642 "Missing defer before unlock"
https://github.com/prysmaticlabs/prysm/blob/eb5513f8c209c6f1254f9cc311202f59c3570d3e/beacon-chain/state/getters.go#L454

I think here missing the `defer`.
It should fetch value first then unlock.

[2020-04-27 11:20] #5642 closed

[2020-04-27 11:50] Magicking opened #5647 "[UX] No connection log when a validator connect to a beacon-chain node"
# 🐞 Bug Report

### Description

No logs of connection are shown from a beacon-chain journal when a validator connects to a beacon-chain node while there is an indication of connection/disconnection for a network peer at the same level of verbosity when syncing.

### Has this worked before in a previous version?

Not sure.

## 🔬 Minimal Reproduction

Beacon-chain:
<pre>
  <code>docker run -d -u `i

[2020-04-27 12:14] farazdagi opened #5648 "Handle nil values in validators.go"
# 🐞 Bug Report

### Description
SegFault reported during test.
![image](https://user-images.githubusercontent.com/188194/80370761-760a9400-8899-11ea-8569-cd85a4aa414a.png)

[2020-04-27 12:52] q9f opened #5649 "ERROR sync: Failed to handle p2p pubsub error=attestation is not aggregated"
💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎-->

# 🐞 Bug Report

I keep getting the following error message on Schlesi testnet:

[code]

### Description

Schlesi is a multi-client testnet between Lighthouse and Prysm. I keep seeing the following on the beacon chain node:

[code]

And I also see this on the validator client, I'm unsure however, this is related:

[code]

### Has this worked before in a previ

[2020-04-27 14:06] guybrush commented on #5597
What about `--graffiti-endpoint=0.0.0.0:7878` which will listen on `0.0.0.0:7878` for HTTP-POST requests to update the graffiti.

Another idea would be to add a grpc-method to the beacon-node which will update the graffiti of all connected validators.

[2020-04-27 14:14] #5612 closed

[2020-04-27 14:35] #5587 closed

[2020-04-27 14:55] Magicking commented on #5512
I started a beacon-chain with an empty state this morning and the resident memory usage went very high, I'm currently sitting at 6.5G with an observed peak at 6.8G, it stopped raising after it went fully synchronized.
[code]

After a restart with a beacon-chain fully synced, I was only at 1.5g.

[code]

Version: Prysm/Git commit: eb5513f8c209c6f1254f9cc311202f59c3570d3e. Built at: 2020-04-27 07:06

[2020-04-27 14:58] terencechain commented on #5512
@Magicking that looks like standard flags, i wonder if initial syncing brought memory up to 6.5G

cc @farazdagi

[2020-04-27 15:00] rauljordan commented on #5581
Was your ETH1 node having problems @metanull-operator ? Are you still seeing the issue?

[2020-04-27 15:05] mragicl opened #5651 "Issue when using REST interface on local beacon chain node when using publicKey argument"
# 🐞 Bug Report

### Description

When I request from the REST API using a publicKey as parameter, the API does not respond correctly. Using index as parameter works.

## 🔬 Minimal Reproduction
I run a local beacon node using the binaries provided with the prysm.sh script:
[code]

Using the REST API on this local client does not work correctly when using a publicKey as parameter:
[code]
it yields t

[2020-04-27 16:39] prestonvanloon commented on #5603
Assigned to @terencechain as owner for v0.12. If this is not appropriate, please assign to me.

[2020-04-27 16:52] shayzluf commented on #5377
@mcdee are you still on this issue?
would you like me to assign it to someone else?

[2020-04-27 18:43] terencechain commented on #5630
Looked at this today. All the failed blocks were rejected by the `hasSeenBlockIndexSlot` cache:
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/sync/validate_beacon_blocks.go#L55

That means the block was already passed validation but sync received again. Not an issue imo. Will close this if there's no more feedback in the next few days

[2020-04-27 19:00] terencechain commented on #5649
Very similar to #5623. Bumping up the priority for this one

[2020-04-27 19:01] terencechain commented on #5640
Does this happen all the time?

[2020-04-27 19:10] Cryptosteph commented on #5640
yes all the time

[2020-04-27 19:44] #5648 closed

[2020-04-27 19:50] shayzluf commented on #5600
@0xKiwi please feel free to reassign to me

[2020-04-27 19:53] shayzluf commented on #5586
Duplicate of #5597

[2020-04-27 19:53] #5586 closed

[2020-04-27 19:55] shayzluf commented on #5531
resolved

[2020-04-27 19:55] #5531 closed

[2020-04-27 20:05] shayzluf commented on #5222
@terencechain please assign it back to me if you have too much on your table

[2020-04-27 20:07] terencechain commented on #5222
Better to use `Help Wanted` label here

[2020-04-27 20:09] terencechain commented on #4741
This should be resolved running `-new-state-mgmt` flag

[2020-04-27 20:09] #4741 closed

[2020-04-27 20:29] shayzluf commented on #5410
@rauljordan any update on this issue?

[2020-04-27 20:40] shayzluf commented on #5538
Hi @madhancr ,
Thank you for the provided details . Making windows UX better is on our priorities before mainnet release. till then can you please try to follow this guide https://kb.beaconcha.in/tutorial-eth2-multiclient/docker-beaconnode-and-validator
the windows command for running validator there is `docker run -it -v c:/prysm:/data --network="host" gcr.io/prysmaticlabs/prysm/validator:latest

[2020-04-27 22:15] terencechain opened #5655 "Align to spec v0.11.2"
# 🚀 Feature Request

### Description
With the release of [v0.11.2](https://github.com/ethereum/eth2.0-specs/releases/tag/v0.11.2), this issue tracks to the progress to align Prysm to v0.11.2 which is important for multi client test net. This release does not contain breaking changes to the existing testnet

## Beacon chain
- [x] Remove redundant check in is_valid_indexed_attestation [non-substanti

[2020-04-27 23:00] madhancr commented on #5538
thanks, I was able to get past that error. But running into another issue.

1) Got beacon note running and fully synced
2) Generated keys and pasted that into UI in https://prylabs.net/participate - Step 5

ISSUE:
After submitting transaction data, metamask gave transaction confirmation but the prysm UI was just spinning (https://prylabs.net/participate). When I refreshed the page after a few mins

[2020-04-27 23:29] 0xKiwi commented on #5526
Doesn't seem like we do, validator doesn't log out the DB or the keystore path. I think logging those out would be a good improvement.

[2020-04-27 23:43] q9f commented on #5649
At the same time I see

[code]

On a locally connected Lighthouse node.

[2020-04-27 23:44] prestonvanloon commented on #5647
I'm not sure we want to support this, at least at INFO level. Given that the API is stateless and the validator client has the option to load balance between many beacon nodes, I think this type of functionality will only create noise in the logs, especially if validators are bouncing between beacon nodes.

[2020-04-28 00:19] prestonvanloon commented on #5651
Looking at this now.

[2020-04-28 01:01] prestonvanloon commented on #5651
@mragicl, I updated a few dependencies and got this to work only when the parameter is URL encoded.

Try http://127.0.0.1:4001/eth/v1alpha1/validator?publicKey=F%2BaqQoQ%2Fyo%2BXzDvJtj13PM21pRBpRGbgrHV%2BWXs9qaI9R2cWkShaCZspl6dt9eu with PR #5657

[2020-04-28 04:38] alonmuroch commented on #5130
@prestonvanloon @rauljordan that's great!
We will be testing it out in the next few weeks.

[2020-04-28 05:44] shayzluf commented on #5222
thanks @terencechain for the guidance

[2020-04-28 07:58] Cryptosteph commented on #5640
I have this message on the beacon chain too :

WARN sync: Failed to decode stream message error=i/o deadline reached peer=16Uiu2HAkvxFSv5GGq12cPqUzeAacZiY2GMRoadcT3dZHTzKhgVT6 topic=/eth2/beacon_chain/req/beacon_blocks_by_range/1/ssz_snappy

[2020-04-28 07:55:51] WARN sync: Failed to decode stream message error=i/o deadline reached peer=16Uiu2HAmGuqUgXszYykEBeqAC4EPTL34Ru9Te3Ls3JkqFj8zV7pH topic=/

[2020-04-28 10:03] pventuzelo opened #5658 "[bug/fuzzing] Incorrect validation of pre-state attestation & malformed block signature during state transition (in pcli)"
# 🐞 Bug Report

### Description

During fuzzing with [beacon-fuzz](https://github.com/sigp/beacon-fuzz), I provided a set of invalid SSZ state and block to prysm using `pcli` tool.
Prysm consider both pre-state and block as valid and try to process the state transition anyway.

Other client/tool like `lighthouse` and `zcli` reject either the state or the block.

NOTES:
- `mainnet` preset (work als

[2020-04-28 10:35] nisdas commented on #5658
This seems like an issue where prysm is regarding an invalid ssz object as valid whereas lcli,zcli regard it as invalid an error accordingly.
zcli: `sounds like a badly formatted attestation. The attestation bitfield has N bits as determined by deserialization, but the state always needs some specific amount of bits to match the committee size`
lcli: `Failed to run lcli: Failed to transition block

[2020-04-28 10:46] farazdagi opened #5659 "[tracking] running validator via CLI tools: cleanup"
### Description

- We need to make sure that running CLI version of validator is easy, safe, and correctly described in docs.
- This issue is to track multiple minor (some even cosmetic) issues
- Targets all platforms and includes corresponding documentation updates (once code is updated, corresponding PR in docs will be created)

### Todo List

- [ ] generate deposit only after account keys are s

[2020-04-28 10:59] pventuzelo commented on #5658
I've modify `lighthouse lcli` to use `mainnet` preset and result is the same.
Same from `zcli` in both `mainnet` and `minimal`.

Some new output from @protolambda:
[code]

[2020-04-28 11:19] wgknowles opened #5660 "Use %LOCALAPPDATA% not %APPDATA% on Windows"
# 🐞 Bug Report

### Description

The folder C:\Users\username\AppData\Roaming (%APPDATA%) is used in enterprises where multiple PC's are joined to a domain.  Files in this folder are copied to a fileserver on logout, and downloaded from the server on logon.  This is not an appropriate location / behaviour for large database files or private keys.

- %APPDATA%\Eth2 (which expands to C:\Users\userna

[2020-04-28 11:23] protolambda commented on #5658
It's not the SSZ that is invalid, it's the bitlength of some attestation in the state that is incorrect (not matching committee size), and some malformed signature in the block. It just happens that lighthouse does the signature check earlier, while zrnt deserializes it right before verification, at which point it already hit the state format problem first.

That said, if the block actually were v

[2020-04-28 11:32] pventuzelo commented on #5658
Just updated the issue name, hope it is more clear.
Thanks @protolambda

[2020-04-28 11:38] wgknowles commented on #5660
@farazdagi

[2020-04-28 11:42] pventuzelo commented on #5658
nimbus also validate the state and block, just opened an issue for them as well: https://github.com/status-im/nim-beacon-chain/issues/944

[2020-04-28 11:45] nisdas commented on #5658
@protolambda
`lcli` did output this though `Ssz decode failed: BytesInvalid("Invalid Signature bytes: [186, 1, 17, 234, 51, 124, 150, 23, 84, 33, 184, 135, 189, 162, 39, 125, 121, 105, 76, 65, 49, 22, 197, 47, 148, 200, 37, 254, 10, 95, 164, 10, 43, 76, 146, 180, 219, 155, 194, 48, 19, 251, 198, 223, 156, 190, 197, 116, 188, 102, 187, 248, 0, 32, 158, 46, 109, 253, 193, 8, 161, 82, 81, 246, 215, 1

[2020-04-28 11:45] wgknowles commented on #5659
https://github.com/prysmaticlabs/documentation/pull/61

[2020-04-28 11:47] wgknowles commented on #5659
Paths on Windows: https://github.com/prysmaticlabs/prysm/issues/5660

[2020-04-28 11:54] pventuzelo commented on #5658
Block is an invalid ssz for `zcli`
[code]

[2020-04-28 12:00] paulhauner commented on #5658
We enforce valid BLS points at the SSZ decoding level (except for deposits). Not technically part of the SSZ spec but it saves us from processing things that will never pass signature verification.

[2020-04-28 12:00] har00ga commented on #5659
This should probably have been opened on the docs repo, I didn't even see it until now :P No problem, all very quick fixes. Will do this aft.

[2020-04-28 12:07] pventuzelo commented on #5658
[teku](https://github.com/PegaSysEng/teku) also have the same issue.

Reported here: https://github.com/PegaSysEng/teku/issues/1686

[2020-04-28 12:42] nisdas commented on #5658
Gotcha, thanks for confirming this. So its a sig verification issue then. So trying to think of action items for this:
@terencechain any ideas ? Of the top of my head.

1) Perform signature verification before processing block
2) Verify Pre-State

On 1) I think we are moving towards decoupling signature verification from block processing, so we could take this under that. This should prevent us fr

[2020-04-28 12:54] thor314 commented on #5638
I might be able to help with this, though I'm not a very experienced developer. May I discuss this with someone on Discord?

[2020-04-28 13:07] pventuzelo commented on #5658
Quick recap:

**lighthouse**:
- decode the `state` properly
- detect bls signature is invalid in the `block` during ssz decoding: `Ssz decode failed: BytesInvalid("Invalid Signature bytes:`
notes: lighthouse is checking BLS during ssz decoding

**zcli**:
- decode the `state` as well
- detect the block is invalid running `zcli pretty` with error: `decode ssz: expected to be at 3417631015 bytes, but

[2020-04-28 13:52] farazdagi commented on #5659
@har00ga I was going through all the updates to the validator tool, and wanted to assign (or create PRs in docs) once I have this whole issue handled (to avoid many tiny fix requests). So, atm this tracker is merely for me not to miss anything *in code* - that's why I haven't assigned issue to you.

[2020-04-28 14:06] terencechain commented on #5659
@farazdagi Some background. @prestonvanloon and I have been working on consolidating validator key management here. Feel free to skip that part for the scope / or collaborate with us here:
https://docs.google.com/document/d/1u_P8veBtIj97u33y_bhOxmVOJJxkMHGNPoF6TvFhz2w/edit#heading=h.4d4hnezaletr

[2020-04-28 14:24] KuDeTa opened #5663 "[Networking + ENRS] Many peers advertise incorrect, private IP addresses. ISP reports malicious network activity."
Hello,

ENRS allows user to report their own external/public ip address. At the moment, many peers do this incorrectly and by default often give an internal ip address. When attempting to discover new peers, this is generating a significant amount of traffic at private ip addresses in the the following ranges:

10.0.0.0/8
172.16.0.0/12
192.168.0.0/16
100.64.0.0/10
169.254.0.0/16

Mostly at destina

[2020-04-28 14:38] rauljordan commented on #5031
Any update on this one @shayzluf ?

[2020-04-28 14:46] rauljordan commented on #5640
Hi @Cryptosteph could you show us more detailed logs from your beacon node? perhaps as a pastebin?

[2020-04-28 14:50] rauljordan commented on #5599
I can help with this one as have good familiarity with the package purposes in the prysm repo

[2020-04-28 17:50] Cryptosteph commented on #5640
@rauljordan hope it could help.

[2020-04-28 17:49:20] WARN sync: Failed to decode stream message error=i/o deadline reached peer=16Uiu2HAm4fda8UzAZot5Sb1mUaySzveVWAhf7722KzwFHyZrNPeS topic=/eth2/beacon_chain/req/ping/1/ssz_snappy

[2020-04-28 17:49:26] WARN sync: Failed to decode stream message error=i/o deadline reached peer=16Uiu2HAm4fda8UzAZot5Sb1mUaySzveVWAhf7722KzwFHyZrNPeS topic=/eth2/beaco

[2020-04-28 18:11] Cryptosteph commented on #5640
i see that when i open my beacon node :

[2020-04-28 18:10:32] ERROR sync: Subscription next failed error=context canceled topic=/eth2/f071c66c/beacon_block/ssz_snappy

[2020-04-28 18:10:32] ERROR sync: Subscription next failed error=context canceled topic=/eth2/f071c66c/beacon_aggregate_and_proof/ssz_snappy

[2020-04-28 18:10:32] ERROR sync: Subscription next failed error=context canceled topic=/

[2020-04-28 18:18] terencechain opened #5665 "Incorrect voting of head"
# 💎 Issue

### Background

There has been increasing amount of users brought up the concern that validators incorrectly voted on head. While this issue could be expected for multiple reasons. It's still worth to double check and narrow down the root cause. On average I do see my validators voted head incorrectly ~10-15% Whether it's local view of the chain is consistently not canonical thus the he

[2020-04-28 18:25] Phistr90 commented on #5665
I have a validator client with 1 validator running that is constantly voting incorrectly on the head but is mostly voting correct on target and source and almost always fulfilling its attestation duties.

Maybe a time offset might be a reason? I have just figured out that this system time is 3s behind.
Maybe a bottleneck in processing power ? I see this behavior on a RPi4.

[2020-04-28 18:34] terencechain commented on #5665
Brainstormed a few conditions:
1.) Slow propagation of beacon block over the network, if the block at slot N did not arrive before slot N + `SECONDS_PER_SLOT` * 1/3
2.) Slow processing of beacon block on the beacon node locally.  Condition 1 + the block did not get processed before slot N + `SECONDS_PER_SLOT` * 1/3
3.) A bug in fork choice or fork choice is slow

I think it's a mixture between 1 a

[2020-04-28 20:44] #5640 closed

[2020-04-29 01:06] prestonvanloon commented on #5663
This is a bit of a difficult problem to solve for users running behind a NAT or in deployments where the process is not aware of their external IP and has no direct route for inbound traffic.

We could encourage users to run with the `--p2p-host-ip` flag in our documentation, but this won't solve your problem 100%.

[2020-04-29 01:48] terencechain opened #5670 "verifyIndexedAttestation duplication in validateAggregatedAndProof"
# 🐞 Bug Report

### Description

Looks like `VerifyIndexedAttestation` happens  twice in `validateAggregatedAndProof`  🤔🤔
We can shred off a good 10ms here

<img width="1951" alt="Screen Shot 2020-04-28 at 5 28 28 PM" src="https://user-images.githubusercontent.com/21316537/80554039-bdb81b00-8980-11ea-95ae-5e971ab4a384.png">

[2020-04-29 02:28] #5470 closed

[2020-04-29 02:44] #5481 closed

[2020-04-29 03:17] terencechain commented on #5658
@pventuzelo to echo what @protolambda said:
[code]

Given this is strictly a client implementation detail, it may be better to start harden it from spec's point of view (ie add this check to the beacon chain spec) then us the client implementations can follow along. What do you think?

[2020-04-29 11:47] Magicking commented on #5647
That makes senses, I opened it as a bug because from a network standpoint, I was surprised to see other software connecting in logs while not seeing the validator connecting.
The context was that I was trying to help a user to know if its validator was connecting well to its local beacon-chain or not.

[2020-04-29 13:22] shayzluf commented on #5410
assigned to @nisdas as i think p2p issues owned by you. please reassign to me if you want me to find another assignee

[2020-04-29 13:30] torfbolt commented on #5665
@Phistr90 this sounds a lot like the issues described in #5247 which I had in the previous testnet. Do you get similar error messages? Maybe there is some kind of bottleneck or inefficient algorithm for arm64, I was also running on ARM.

[2020-04-29 13:32] shayzluf commented on #5483
leaving the password blank prompts the user to enter the password in runtime. example:
'./prysm.sh validator accounts create --keystore-path=$HOME/.eth2validator'
'./prysm.sh validator --keystore-path=$HOME/.eth2validator'
does it satisfies your security needs?

[2020-04-29 13:40] nisdas commented on #5410
This is currently blocked @shayzluf
https://github.com/libp2p/go-libp2p-noise/issues/70

[2020-04-29 13:42] #5635 closed

[2020-04-29 13:58] rauljordan commented on #5564
@nisdas any update on this one?

[2020-04-29 14:05] nisdas commented on #5512
hey @Magicking can you try
[code]
this should reduce your memory usage by quite a bit

[2020-04-29 14:15] prestonvanloon commented on #5647
I'm not totally opposed to adding this. It isn't a feature that I would use but if there is user interest then I think we can add it, as long as it can be disabled with a flag. (--disable-validator-connection-logs) or something like that.

[2020-04-29 14:17] prestonvanloon commented on #5483
Related: #4681

[2020-04-29 14:23] terencechain commented on #5665
Time offset is one of the root cause here. See: https://discordapp.com/channels/476244492043812875/667761857209040916/704908725185544192

[2020-04-29 14:36] xrow commented on #5483
@shayzluf
Actually my inital plan was find out how too pull the key and credetails from hashcorp vault.

If no password is set the keys are unencrypted correct?

[2020-04-29 15:57] #5670 closed

[2020-04-29 16:31] terencechain opened #5680 "More efficient VC <-> BN DomainData interaction"
# 🚀 Feature Request

### Description

Does every signing key needs own request to `DomainData`?
BN <-> VC's domain data interaction can be consolidated to one round trip.

Currently:
<img width="540" alt=" " src="https://user-images.githubusercontent.com/21316537/80621445-24c6e580-89fc-11ea-8743-97f2278ac955.png">

[2020-04-29 16:52] prestonvanloon commented on #5680
There is a feature flag to cache the validator side (https://github.com/prysmaticlabs/prysm/pull/4914) but it was causing major issues. We can pick it up again and see what's the issue.

[2020-04-29 17:08] nisdas opened #5682 "Allow Static ENRs to Be Created"
# 🚀 Feature Request

### Description

Currently the ENRs created by a Beacon Node are dynamic, in the sense that they can constantly
change with new information added to it. For the purposes of running a bootnode/static node using a normal Prysm Node this is undesirable as we would have ENRs which are changing every few minutes. For this reason there should be a flag to allow static ENRs to be cre

[2020-04-29 17:40] #5599 closed

[2020-04-29 17:54] prestonvanloon commented on #5682
Can you elaborate on the use case? In what environment is this functionality desireable?

[2020-04-29 18:04] nisdas commented on #5682
Mostly, if you want to run a Prysm Node as a bootnode. The prysm node's enr constantly changes which is undesirable for a bootnode. Our constantly changing bitfield affects the ENR, so we can disable it for a user who desires a static ENR

[2020-04-29 18:31] #5412 closed

[2020-04-29 19:28] #5564 closed

[2020-04-29 22:14] prestonvanloon commented on #5658
How long did this take to run? The input data here would run almost 2 quadrillion empty state transitions before running validation.

This isn't the normal beacon block pipeline for Prysm. This method has assumed the following:
- The block is not from the future
- The block has already be verified by p2p spec requirements
- The state transition processing has a reasonable deadline (pcli has no dea

[2020-04-29 22:22] prestonvanloon commented on #5658
We have implemented the spec `state_transition` pretty much exactly as it is written. If Lighthouse or other clients are doing additional behavior, then this isn't a proper test setup. Let us know what you need, otherwise this is a no-op issue.

A quick recap of what pcli is doing:
- Deserialize ssz objects
- Take determine the roots of these objects before processing
- Run state_transition as def

[2020-04-29 22:57] terencechain commented on #5665
The is the reason: https://hackmd.io/dVbmIMHNQ6aby77g0-ME8A?both

Still working on it

[2020-04-29 23:20] zedt3ster commented on #5658
I think the main issue here is that we've used utilities such as `pcli`, `zcli`, and `ncli` with the assumption that they're identical to how the related client actually processes the SSZ containers, thinking that these tools include all checks and verification steps, which isn't the case as outlined by @prestonvanloon.

Feel free to close this issue, we'll investigate a better/more effective way

[2020-04-30 02:12] djrtwo commented on #5682
Curious, do you change the bitfield just for the long-term subnet subscriptions or do you change per-epoch based on beacon committee subscriptions?

[2020-04-30 02:13] djrtwo commented on #5682
just caught up in the discord

Going to add this clarifying comment to the spec!

"Note: Short lived beacon committee assignments should not translate into updating attnets field in the ENR"

[2020-04-30 04:16] michaelhly commented on #5631
Hey @terencechain. I was trying to implement this, but it looks like there is not an `Indices` field on `eth.ValidatorPerformanceRequest`.

This is the error I get when I try to test:
[code]

Perhaps I need to create a PR here first to add an Indices field?
https://github.com/prysmaticlabs/ethereumapis/blob/ba9042096e9fc49606279513d3e24e5e8cdbd5a0/eth/v1alpha1/beacon_chain.proto#L617

[2020-04-30 04:27] terencechain commented on #5631
That's correct. Do you mind doing that? Thanks

[2020-04-30 11:36] pventuzelo commented on #5658
I've update the issue name to make it clear that it is related to pcli.

[2020-04-30 13:31] pventuzelo opened #5692 "[features] pcli pretty print command"
# 🚀 Feature Request

### Description

Add `pretty` command in `pcli` tool

### Describe the solution you'd like

Would like to be able to pretty-print SSZ data of multiple containers type using `pcli` tool.
mainly:
- Attestation
- BeaconBlock
- BlockHeader
- Deposit
- ProposerSlashing
- SignedBeaconBlock
- SignedBlockHeader
- SignedVoluntaryExit
- BeaconState
- VoluntaryExit

Like in `zcli`:
[code

[2020-04-30 13:45] nisdas commented on #5581
@metanull-operator I am closing this, given this was resolved on your end in our offline conversations.

[2020-04-30 13:52] nisdas commented on #4418
Just to clarify, we would try to verify if our host ip was dialable ?

[2020-04-30 15:16] shayzluf opened #5693 "Enable chain configuration through yaml file"
# 🚀 Feature Request

### Description

In order to make it easy for interop testing we need to have the ability to load the same configuration to all client.
using a yaml is the natural choice for doing so

- [ ] read config from file #5694
- [ ] add proper names to config variables to [match spec](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/beacon-chain.md#constants)

[2020-04-30 16:46] jrhea opened #5696 "Suspicious looking enr["attnets"] bitfields in Topaz"
# 🐞 Bug Report

### Description

I am noticing anomalies when inspecting subnet subscriptions stored in enr["attnets"].

![topaz-peers-attnets](https://user-images.githubusercontent.com/5555162/80734882-77c09b80-8ad5-11ea-8cd9-352acf974a33.png)

The column labeled `enr_attnets` represent the bits in the attnets bitfield that == TRUE.  I have yet to see a bit > 4 == TRUE for a peer with a fork-dige

[2020-04-30 16:52] terencechain commented on #5696
Thanks for opening the issue, we'll take a look! ❤️

[2020-04-30 17:04] terencechain commented on #5665
As mentioned in previous comment. Beacon block propagation is the root cause here. This is not a protocol issue. The question we need to answer here is "why some blocks arrive later than 6s?"

Will leave this open and monitor through out the week.

[2020-04-30 17:42] terencechain commented on #5655
I'm gonna go against the spec and keep the `is_valid_indexed_attestation` indices length check. The spec assumes construction of the struct protects against invariant-length. Even if it does, it doesn't hurt to double check again on the application level

[2020-04-30 19:28] prestonvanloon commented on #4418
@nisdas yeah the idea is that all of the advertised multiaddresses should be dialable from the node itself. If they advertise "You can reach me at my public IP and port", but the routing is not set up correctly, then it would be helpful user feedback to report this WARN level message to the user.

[2020-04-30 21:05] prestonvanloon commented on #5438
@kumavis that repo can be found at https://github.com/prysmaticlabs/prysm-testnet-site

[2020-04-30 23:08] Magicking commented on #5512
Using beacon node version `time="2020-04-30 21:15:57" level=info msg="Starting beacon node" prefix=node version="Prysm/Git commit: cc07494e67d2cfa1c60dd1c5aa24febceb6e6719. Built at: 2020-04-30 15:36:01+00:00"` going from a fresh sync it capped again at 6.6G of resident memory.
[code]
After a restart with a fully synced beacon chain it capped at 1.1G and approximately 2 hours later it went up to 1

[2020-04-30 23:17] #5617 closed

[2020-04-30 23:55] terencechain commented on #5512
Yeah. Fresh sync has its own memory problem. This issue is more about memory problem post initial syncing. Please refer to https://github.com/prysmaticlabs/prysm/issues/5390

[2020-04-30 23:55] #5512 closed

[2020-05-01 00:51] wimel opened #5700 "Node crash and stop"
# 🐞 Bug Report

### Description
Following the instructions on [participate](https://prylabs.net/participate)  have this error:
[code]
The node crash and stop

### Has this worked before in a previous version?
I don't know

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

After clone the repo and runing `./prysm.sh validator accounts create` with a

[2020-05-01 03:52] prestonvanloon opened #5703 "Fuzz: libp2p panic: inconsistent poll.fdMutex"
# 🐞 Bug Report

### Description

Fuzz test failed in a unique way when testing attestation processing.
Given that the class under test has nothing to do with libp2p, I am wondering why yamux was failing.

https://github.com/prysmaticlabs/prysm/blob/b4a178a499958411b3f15cdd7ab47cda578e1244/fuzz/attestation_fuzz.go#L28

![deps](https://user-images.githubusercontent.com/7246818/80780576-5e930b80-8b24

[2020-05-01 03:54] prestonvanloon commented on #5703
My immediate thinking is that something is being created in an Init function.

[2020-05-01 03:59] prestonvanloon commented on #5703
New thinking: This is broadcast related. I didn't find any evidence of Init() related side effects in the above dependency tree. I'll dig more into this tomorrow. We might want to mock out p2p Broadcast for fuzz testing.

[2020-05-01 04:01] nisdas commented on #5703
This looks like an issue with the test setup. That fuzz target has nothing to do with libp2p, so maybe something is leaking from our other tests.

[2020-05-01 04:07] prestonvanloon commented on #5703
Yeah, it's really odd though I don't see anything in the direct codepath.

[2020-05-01 04:12] prestonvanloon commented on #5703
One thing I can do is try to reduce the dependencies for each fuzz target. Right now they share a big set of common deps

https://github.com/prysmaticlabs/prysm/blob/2daab015b1043d19ca879a02a797ce8f5fc8bc6e/fuzz/BUILD.bazel#L44-L68

[2020-05-01 04:46] prestonvanloon commented on #5703
OK this is a much better graph. Now, only a single fuzz test involves p2p.

![deps](https://user-images.githubusercontent.com/7246818/80782691-095af800-8b2c-11ea-9d43-bfb5d54d1608.png)

[2020-05-01 04:47] prestonvanloon commented on #5703
Closing this since it's likely just poor test setup.

[2020-05-01 04:47] #5703 closed

[2020-05-01 05:13] nisdas commented on #5696
@jrhea Thanks for opening this up, I will take a look at this today/tomorrow and hope to have a fix for this. I had some incorrect assumptions on how persistent or temporary assignments were supposed to be represented in our bitfield, which is why you see all the weird values in our subnet subscriptions. We were limiting ourselves to basically the max committtees per slot for that particular valid

[2020-05-01 05:20] nisdas commented on #5390
@Magicking hey could you give more details on the setup you are using to run the node ? I can't reproduce the memory usage increasing to 6.8gb of resident memory. It has stayed from 1gb - 2.5gb .

[2020-05-01 06:48] jrhea commented on #5696
@nisdas ya good question about

https://github.com/ethereum/eth2.0-specs/issues/1777

It's just a proposal at this point, but I think it would be good to weigh in with an opinion on that issue.  I agree that it'd make sense persistent committees membership dynamic...of u have any tweaks or suggestions to the calc or logic definitely comment too.

[2020-05-01 08:30] farazdagi commented on #5700
Thanks for reporting.
When creating account what is the default path used (I assume you use the default path)?

![image](https://user-images.githubusercontent.com/188194/80793163-0c430080-8b9f-11ea-9331-96d402e36fbd.png)

[2020-05-01 14:32] dan-laabs commented on #5597
I think having prysm calling scripts or executing HTTP requests can be a security risk and in the end more maintenance. Perhaps pointing to a file something like `--graffiti-file=dynamic_graffiti.txt` would be just good enough. This way anyone could write a script outside of the prysm scope to update the file contents.

[2020-05-01 14:49] protolambda commented on #5597
If a file, being able to specify a list of inputs would be even better. So you can just write your next 100 graffiti in advance, and prysm uses one by one. And maybe specify which validator you'd want to use which graffiti, with wildcards if it doesn't matter.

[code]

And then anyone able to write a text file can have their custom graffiti. And scripting is easier, as you just replace the file ev

[2020-05-01 15:06] dan-laabs commented on #5597
Would also be nice to create an input to remove a line or bump a sequential integer pointer. Therefore one could in theory prepare a drawing for [https://beaconcha.in/graffitiwall](url)?

[2020-05-01 15:12] #5552 closed

[2020-05-01 15:34] metanull-operator commented on #5390
I had an OOM crash this morning for the first time in months on one of my two beacon chains.

Running beacon with the following command:
```beacon-chain --datadir=/home/eth2/prysm --min-sync-peers=7 --p2p-max-peers=50 --monitoring-port 8080 --p2p-tcp-port 13000 --p2p-udp-port 12000 --rpc-port 4000 --p2p-host-ip=XXX.XXX.XXX.XXX --http-web3provider http://192.168.XXX.XXX:8545 --web3provider ws://192

[2020-05-01 15:42] metanull-operator commented on #5390
I should add this commit I was using: 33774721bb585d4fca85343fbd9592274f246274

My system has 16GB RAM.

[2020-05-01 18:58] terencechain opened #5711 "Regen historical state skip slot"
# 🐞 Bug Report

### Description

If the historical state on archived slot turns out to be a skip slot, the regen tool will not regen     the state. See: 1/386 -> 3/386 -> 7/386 -> 11/386
[code]

We will fix it to be 1/386 -> 2/386 -> 3/386... etc

[2020-05-01 19:59] michaelhly commented on #5578
For this issue, should I just add a new "status" command [here](https://github.com/prysmaticlabs/prysm/blob/2f88174d0d8822ed2f64bbf1f47cd42db018f0af/validator/main.go#L92) and call the `GetValidator` method on the BeaconChainClient to fetch the statuses?

Or should I do this do it under the "key" command?

[2020-05-01 20:29] terencechain commented on #5390
Can confirm. Syncing 2/3 of the way through, and the memory is at 4.2GB

<img width="410" alt="Screen Shot 2020-05-01 at 1 25 39 PM" src="https://user-images.githubusercontent.com/21316537/80839269-c6426880-8baf-11ea-80fa-6c6165b828c2.png">

[2020-05-01 22:00] michaelhly commented on #5578
I took an attempt at writing a method that fetches account statuses from the BeaconNodeValidatorClient. Let me know if I am going in the right direction.

[2020-05-02 00:36] #5711 closed

[2020-05-02 05:15] wgknowles commented on #5456
Just tested this using v1.0.0-alpha.6 windows binaries

**Works:**
.\prysm.bat validator accounts create --keystore-path=C:\prysm\validator --password=changeme
.\prysm.bat validator accounts create --keystore-path=C:\prysm\validator
changeme

**Fails:**
.\prysm.bat validator accounts create
changeme
C:\prysm\validator

**Fails:**
.\prysm.bat validator accounts create --password=changeme
C:\prysm\v

[2020-05-02 05:17] wgknowles commented on #5456
Possibly resolved by #5707 - need to build new binaries to test.

[2020-05-02 05:38] wgknowles commented on #5434
Not fully resolved yet...

.\prysm.bat validator accounts keys --keystore-path=..\validator
[2020-05-02 15:35:40] FATAL main: password is required

[2020-05-02 05:39] wgknowles commented on #5483
.\prysm.bat validator accounts keys --keystore-path=..\validator
[2020-05-02 15:35:40] FATAL main: password is required

[2020-05-02 06:22] wgknowles commented on #5659
I can confirm this works:
prysm.bat validator accounts create
Also created prysmaticlabs/documentation#87 to remove references

validators accounts keys still requires --password flag

[2020-05-02 09:45] farazdagi commented on #5700
- The #5707 should fix this kind of errors (by requiring directory to exist)
- Another relevant PR is #5592

@wimel can you please retry and let me know if the problem persists

[2020-05-02 11:29] wgknowles opened #5715 "Confirm password during "validator accounts create""
# 🚀 Feature Request

### Description
"validator accounts create" asks for a password when run without the --password flag, however the prompt is easy to miss, and doesn't provide good UX.  Many users are reporting that they can't decrypt their keys, likely due to stray keystrokes or right click pastes at this point.

### Describe the solution you'd like
Improve the UX for providing interactive pas

[2020-05-02 15:25] wgknowles opened #5716 "Can't create accounts using windows 10 if username has spaces"
# 🐞 Bug Report

When attempting to run 'validator create accounts' on Windows 10 with a username with a space in it validator throws a "Permission Denied" error.

[2020-05-02 18:02] terencechain opened #5717 "Ensure comment `Spec pseudocode definition...` aligns with upsteam"
# 🚀 Feature Request

### Description

Write an analysis tool to ensure Prysm's code comment for `Spec pseudocode definition...` is correctly aligned with the up-steam python spec definition of a given commit

<img width="2180" alt="Screen Shot 2020-05-02 at 10 27 45 AM" src="https://user-images.githubusercontent.com/21316537/80872003-15e26c00-8c64-11ea-8be4-3efa087aed04.png">

### Describe the sol