[2020-01-04 16:51] #4403 closed

[2020-01-04 16:52] vesperaka commented on #4403
Issue was related to a network issue in achieving finality due to significantly large number of validators going offline at the same time.

[2020-01-04 19:19] prestonvanloon commented on #4132
Removing this as testnet target. It's nice to have but not a high priority for release.

[2020-01-05 04:55] #3066 closed

[2020-01-05 05:39] #3441 closed

[2020-01-05 12:18] mtbitcoin opened #4412 "Crash at "could not process block from fork choice service..""
Running commit 3b3f2c7 , receiving the following before a crash

[2020-01-05 12:17:57]  INFO initial-sync: Processing block 383425/394749 - estimated time remaining 1h17m2s blocksPerSecond=2.5 peers=4/5
[2020-01-05 12:17:58]  INFO initial-sync: Processing block 383429/394749 - estimated time remaining 1h15m28s blocksPerSecond=2.5 peers=4/5
[2020-01-05 12:17:58]  INFO initial-sync: Processing block

[2020-01-05 13:01] somuchid commented on #4412
same situation here. panic on multiple nodes last night. could not resync. always panic or stuck on around block 383xxx. looks like the  problem of 2 days ago resurface.

did a resync from block 1 last night, no improvement at all, below is output:
[2020-01-05 10:56:29]  INFO blockchain: Finished applying state transition attestations=12 deposits=0 slot=384556
[2020-01-05 10:56:29]  INFO initial-s

[2020-01-05 13:20] mtbitcoin commented on #4412
I am seeing the same also around block 38x K

[2020-01-05 13:44] yashbhavsar007 commented on #4283
I tried by using using --define kafka_enabled=false but i am getting this error.
ERROR: /home/ubuntu/.cache/bazel/_bazel_ubuntu/0541ece9377351509275eb8affcf50ed/external/com_github_herumi_bls_eth_go_binary/bls/BUILD.bazel:38:1: GoCompilePkg external/com_github_herumi_bls_eth_go_binary/bls/linux_amd64_stripped/go_default_library%/github.com/herumi/bls-eth-go-binary/bls.a failed (Exit 1) builder fai

[2020-01-05 18:58] prestonvanloon opened #4415 "Slice out of bounds when initializing deposit cache"
Not sure how to reproduce but this behavior is currently occurring in dev testnet. It looks like only 16701 deposits were saved, but there are 16786 valid deposits. This is on v0.9.2 branch.

[code]

[2020-01-05 20:09] prestonvanloon opened #4418 "Log a warning if not dialable"
Especially when using flag --p2p-host-ip, users should be given a warning when one or more of their advertised multi-addresses are not accessible at start up.

Ideally, this would happen in the p2p start routine as a ping to all of the advertised multiaddresses.
Additionally, this may be valuable to periodically check.

[2020-01-06 07:45] prestonvanloon commented on #4415
Resolved by #4422

[2020-01-06 07:45] #4415 closed

[2020-01-06 11:38] Buttaa opened #4424 "Invalid Highest Epoch during Initial Sync"
![image](https://user-images.githubusercontent.com/26490734/71815960-64e70e80-3081-11ea-80b4-c158bde7ff90.png)

[2020-01-06 11:41] Buttaa commented on #4424
re-running the flags has solved the issue for now

[2020-01-06 14:23] Buttaa opened #4425 "Attestation failed to update vote"
![image](https://user-images.githubusercontent.com/26490734/71823817-738cf000-3098-11ea-8965-e8d78352ee14.png)

[2020-01-06 15:10] Buttaa commented on #4425
![image](https://user-images.githubusercontent.com/26490734/71826764-ffa21600-309e-11ea-9315-26959660c40a.png)

[2020-01-06 15:12] Buttaa opened #4426 "Failed to update assignments"
![image](https://user-images.githubusercontent.com/26490734/71826890-5ad40880-309f-11ea-9a79-2664403c0795.png)

[2020-01-06 16:14] rauljordan commented on #4184
Done by #4390

[2020-01-06 16:14] #4184 closed

[2020-01-06 16:22] xrow commented on #3923
Hi,

was testing the new image (version latest). Currently it is not yet fully compatible. I am currently investigating back loop errors because of permissions. Though first issue that needs fixing for debug is that the image is not compatible with the debug mode of the cloud platform.

The command "sleep" needs to be in the path to enable container debug.

![Anmerkung 2020-01-06 171639](https://u

[2020-01-06 18:44] tsudmi commented on #4055
Seems like the issue is actually not with the ETH1 WS connection, but actually with the prometheus `powchain.Service`. It is not able to detect that the connection was re-established and continues to report unhealthy state:
[code]
If running in Kubernetes cluster, it will trigger unnecessary pod restart as the liveness probe will fail.

[2020-01-06 20:50] #4378 closed

[2020-01-07 04:20] terencechain commented on #4425
Thanks for opening this issue. Luckily these part of the code will soon to be deprecated in v0.9.2 testnet relaunch. We'll keep it open until testnet restarts

[2020-01-07 04:21] terencechain commented on #4426
Should be addressed in #4429. Feel free to reopen if it happens again

[2020-01-07 04:21] #4426 closed

[2020-01-07 09:15] yashbhavsar007 opened #4441 "[HELP] Error: Unable to retrieve block from stream error=i/o deadline reached"
I became validator as per the following steps given on https://prylabs.net/participate but i got some errors which is shown in below image.
My system configuration is given below
AWS ec2 t2.large instance with 8 GB memory

Error:
[2020-01-07 09:10:17] ERROR sync: Unable to retrieve block from stream error=i/o deadline reached
[2020-01-07 09:10:17] ERROR sync: Could not send recent block request: i

[2020-01-07 16:49] rauljordan opened #4444 "Add Flag for Configuring gRPC Max Message Call Size for Validator Client"
We have set the default value of:
[code]
in our validator client in #4154, but this should be a configurable value via a flag. Opening a tracking issue for this small task.

[2020-01-07 16:53] rauljordan opened #4445 "Fix Custom State HashTreeRoot Caching for Arrays of Roots"
Hi all,

In #4154 we implemented a custom HashTreeRoot for our beacon state data structure. A major optimization included in there is caching for fields such as `BlockRoots [8192][32]byte` and other arrays of Merkle roots. Unfortunately, the cache is seeing some collisions at runtime leading to problems in state transitions. This needs to be gated behind a feature flag to toggle it [here](https://

[2020-01-07 16:55] rauljordan commented on #3835
@terencechain can we open up some specific tracking issues for these items? Specifically I see a TODO in the v0.9.2 branch [here](https://github.com/prysmaticlabs/prysm/blob/25b6aa0d33eaefd23da2655837c282cfe4a580a6/beacon-chain/sync/validate_aggregate_proof.go#L54). What do you think?

[2020-01-07 16:57] terencechain commented on #3835
Oh we forgot about that todo, we can roll it in after the testnet launches

[2020-01-07 16:57] terencechain commented on #3835
But that is the last one, the rest is done

[2020-01-07 16:57] rauljordan opened #4446 "Deprecate GenesisBeaconState Function and Make OptimizedGenesisBeaconState Default"
Hi all, in the v0.9.2 branch we introduced an `OptimizedGenesisBeaconState` function which does not process deposits at the start. We maintained an old, spec-complaint version called `GenesisBeaconState` which we should be deprecated as it is only used in tests and has duplicated logic with the optimized version.

[2020-01-07 16:58] rauljordan commented on #3835
Could you kindly help open a tracking issue outlining the TODO and resolution?

[2020-01-07 17:00] nisdas commented on #4446
`GenesisBeaconState` calls `OptimizedGenesisBeaconState` too
https://github.com/prysmaticlabs/prysm/blob/v0.9.2/beacon-chain/core/state/state.go#L94 . I think we can leave it as it is, or change the name of `OptimizedGenesisBeaconState` . Maybe its misleading

[2020-01-07 17:00] #4060 closed

[2020-01-07 19:35] terencechain commented on #3791
Custody bits completely removed in `master`, waiting for researchers/spec writers to redefine them in phase 1 spec. Will close this now

[2020-01-07 19:35] #3791 closed

[2020-01-07 19:46] rauljordan commented on #4165
This will be resolved by our testnet restart, if it occurs again, we will be ready to tackle it but the archiver service has been refactored now in our master branch

[2020-01-07 19:46] #4165 closed

[2020-01-07 19:56] rauljordan commented on #3063
This might not be necessary with state pruning, closing unless it comes up again and becomes something worth tackling

[2020-01-07 19:56] #3063 closed

[2020-01-07 19:59] rauljordan commented on #3501
No longer a problem in master with #4154

[2020-01-07 19:59] #3501 closed

[2020-01-07 21:07] rauljordan commented on #3277
This is no longer needed nor does it solve a pressing problem, so will close unless it is worth revisiting

[2020-01-07 21:07] #3277 closed

[2020-01-07 22:17] rauljordan commented on #3899
Closing - was not able to reproduce. If it is still an issue, feel free to reopen @Magicking

[2020-01-07 22:17] #3899 closed

[2020-01-07 22:17] rauljordan commented on #3532
This does not really solve any problems in the repository and is not truly needed. Will close.

[2020-01-07 22:17] #3532 closed

[2020-01-07 22:18] rauljordan commented on #3852
This is already completed in master thanks to #4154

[2020-01-07 22:18] #3852 closed

[2020-01-07 22:23] rauljordan opened #4450 "Consider Orphaned Block Information When Archiving Data Per Epoch"
Thanks @shayzluf for bringing this up. Currently, our archiver stores information regarding items for the canonical chain, such as committees, participation, etc. but fails to consider archiving information relating to orphaned or a forked chain, which would still be important for the slasher service to listen for. Opening this issue for discussion and for @shayzluf to elaborate more on the proble

[2020-01-07 22:24] rauljordan commented on #3991
Closing in favor of #4450

[2020-01-07 22:24] #3991 closed

[2020-01-07 22:26] rauljordan commented on #4122
This happens when typically attestations come from some forked chain that does not verify based on the "canonical" chain validator committees. It is a normal log that occurs in times of high instability. Will reopen if it becomes a big problem again.

[2020-01-07 22:26] #4122 closed

[2020-01-07 22:26] rauljordan commented on #4119
I believe this is resolved by @terencechain #3847, closing unless that is not the case

[2020-01-07 22:26] #4119 closed

[2020-01-07 23:25] ethgasstation commented on #4331
I was unable to create the validator account due to this permission denied problem.   The workaround for me was to use 'docker run --user 0:0 ...' - which runs the container as root

[2020-01-08 02:28] rauljordan commented on #4156
This is not a critical issue and a consequence of some fork choice edge-case. This is no longer present as much in our cluster, so we can close unless it comes up again and causes problems.

[2020-01-08 02:28] #4156 closed

[2020-01-08 02:29] rauljordan commented on #4412
Duplicate of #4156

[2020-01-08 02:30] rauljordan commented on #4236
Closing this for now as there were confirmed segfaults in SSZ that have since then been resolved

[2020-01-08 02:30] #4236 closed

[2020-01-08 02:30] rauljordan commented on #4099
Duplicate of https://github.com/prysmaticlabs/prysm/issues/4412

[2020-01-08 02:30] #4099 closed

[2020-01-08 02:32] rauljordan commented on #3970
Closing this as there is no clear resolution to the problem and the RPC / core functions have since been improved/revamped in v0.9.3. We should aim to only keep issues around that have a clear resolution via a PR.

[2020-01-08 02:32] #3970 closed

[2020-01-08 03:15] rauljordan commented on #4441
Hey @yashbhavsar007 our testnet was undergoing a lot of errors in finality and other problems at that time. We are now working on revamping it with the latest version of the eth2 specification over the next 24 hours, so we can close this issue. If it happens to you with our new testnet again, feel free to re-open.

[2020-01-08 03:15] #4441 closed

[2020-01-08 05:27] shayzluf commented on #4450
thanks @rauljordan for opening this issue. mainly there is a need to be able to get the committee for orphaned blocks so an attestation could be converted to indexed attestation. committee for an orphaned block could be different from canonical epoch randao mix so these have to be stored as well if encountered with

[2020-01-08 14:59] #3835 closed

[2020-01-08 17:05] ethgasstation commented on #4331
FYI- I think you will need to revert #4320 - docker daemon should always run as root.  The only way to get the current version to work on Ubuntu is to use the flag  '--user 0:0'  which essentially reverts #4320

[2020-01-08 19:09] prestonvanloon commented on #4331
yeah, let's just revert #4320. It has been causing a lot of issues.

[2020-01-08 19:26] terencechain opened #4462 "Deprecate Interop Code"
With the latest v0.9.2, interop feature is unfortunately broken in Prysm. Since we don't plan to support it for the long haul, now it's a good time to remove interop feature as whole in Prysm. Opening this issue to track the progress

[2020-01-08 19:53] #4331 closed

[2020-01-08 22:50] prestonvanloon commented on #4444
Minor comment, that default value is actually 50Mb. I think the comment is out of date.

[2020-01-09 04:58] nisdas commented on #4462
I would actually like to keep some of the interop code. @terencechain
Its very useful for testing and getting validators to start up quickly. Some of the interop functions
will still be needed for multi-client testing, I think we should fix the interop code instead of removing it

[2020-01-09 04:59] terencechain commented on #4462
Great. Thanks for the feedback

[2020-01-09 16:38] mcdee opened #4465 "`depositBlockSlot()` returns incorrect value"
`depositBlockSlot()` at https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/rpc/validator/status.go#L179-L196 is currently giving incorrect results.  It appears that this is because it is not taking genesis time in to account, so calculating slots from current time rather than genesis (when genesis > now).  Also unsure it's taking in to account any current queue.

Unfortunately I don't

[2020-01-09 18:12] Buttaa opened #4467 "Cosmetic Error: Failed to decode stream message"
![image](https://user-images.githubusercontent.com/26490734/72093043-f2da2800-3313-11ea-837c-c19e1682edfd.png)

[2020-01-09 18:14] terencechain commented on #4467
@nisdas can you confirm if this is fixed in the latest master?

[2020-01-09 19:43] tsudmi opened #4469 "ETH1_FOLLOW_DISTANCE error when running with --minimal-config"
Hi,

I'm getting the following error on the validator nodes when running with `--minimal-config`:

level=info msg="New assignment" attesterSlot=670 committeeIndex=1 epoch=83 prefix=validator proposerSlot=665 pubKey=0x967adfdd3ffa status=ACTIVE validatorIndex=39
level=error msg="Failed to request block from beacon node" error="rpc error: code = Internal desc = Could not get ETH1 data: could not fet

[2020-01-09 19:49] tsudmi commented on #4469
I've compiled with modified demo config as it was before `0.3.1` release :
[code]

In that case, I'm getting the following error on the beacon node:

time="2020-01-09 19:47:36" level=error msg="Could not receive attestation in chain service" error="could not process attestation from fork choice service: target root does not exist in db" prefix=blockchain targetRoot=0x74328e583b9235d84384df921ec71c

[2020-01-09 21:08] prestonvanloon commented on #4465
Looks like it doesn't consider deposits before genesis time.

[2020-01-09 23:26] Buttaa commented on #4467
yes, not seeing this error anymore

[2020-01-09 23:26] #4467 closed

[2020-01-10 08:20] torfbolt opened #4476 "Beacon Chain Client crashed after genesis transition"
Tonight some minutes after the testnet genesis transition my beacon client crashed spectacularly, with lots of debug output. Unfortunately it crashed so hard that I couldn't kill it and had to reboot my machine, so I lost the error messages.

The client was running since ~30h before genesis and showed no problems before 2020-01-10 00:00Z, just a message that it was waiting for genesis.

[2020-01-10 11:45] tsudmi commented on #4469
I was getting `Could not get ETH1 data: could not fetch ETH1_FOLLOW_DISTANCE ancestor: could not query block with given height: invalid argument 0: hex string without 0x prefix` due to having less than 1024 blocks in ETH1 chain. Fixed by waiting for some time till ETH1 chain will have more than `1024` blocks as defined in `Eth1FollowDistance` of `defaultBeaconConfig` config.

The `Could not receiv

[2020-01-10 11:45] #4469 closed

[2020-01-10 16:27] princesinha19 commented on #4465
@prestonvanloon What will be the `deposit block slot` if it is before genesis time?

[2020-01-10 17:56] rauljordan opened #4479 "Custom SSZ for Beacon Blocks"
@prestonvanloon brought this up on discord that we need a more efficient way of serving beacon blocks via sync and much of it is bound via SSZ marshaling. Instead, we can implement a custom SSZ marshaling approach that utilizes the structure of a block to turn it into bytes effectively. Opening a tracking issue for this.

[2020-01-10 18:38] mcdee opened #4481 "Crash during sync"
Looks like https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/sync/pending_blocks_queue.go#L53 is coming back `nil`:

[code]

[2020-01-10 19:22] rauljordan opened #4482 "Beacon Node Stuck in Sync"
Our beacon nodes frequently get stuck when syncing with the testnet from blocks `217 - 256`. The node endlessly requests that range of blocks and never seems to move past it, while CPU usage is close to 100%. @nisdas hypothesized there is some issue with bolt being resource constrained while in a docker environment due to how it does MMAP system calls and how it allocates data. Changing `boltDB.Al

[2020-01-10 19:39] somuchid opened #4484 "many attestation errors cause beacon node abort a few times"
many beacon node error like this:
Could not receive attestation in chain service error=target epoch 178 does not match current epoch 180 or prev epoch 179
could not process attestation from fork choice service

[2020-01-10 19:15:43] ERROR validator: Could not request attestation to sign at slot 5760: rpc error: code = DeadlineExceeded desc = context deadline exceeded
[2020-01-10 19:18:36] ERROR va

[2020-01-10 19:42] somuchid commented on #4484
latest chain error:

[2020-01-10 19:40:33] ERROR blockchain: Could not receive attestation in chain service error=target epoch 182 does not match current epoch 184 or prev epoch 183
could not process attestation from fork choice service
github.com/prysmaticlabs/prysm/beacon-chain/blockchain.(*Service).ReceiveAttestationNoPubsub
        beacon-chain/blockchain/receive_attestation.go:34
github.com/p

[2020-01-10 21:30] somuchid commented on #4484
Abort again, 10 minutes ago:

[2020-01-10 20:15:51]  INFO blockchain: Finished applying state transition attestations=26 deposits=0 slot=6079
[2020-01-10 20:16:14]  INFO forkchoice: Executing state transition on block root=0xb2425831... slot=6081
[2020-01-10 20:16:27]  INFO sync: Requesting parent block currentSlot=6082 parentRoot=b2425831fd32b2a35e817077061114f190c7681bab1a7f7699de29b848a2e357
[2

[2020-01-10 21:43] somuchid commented on #4465
Below are variety of deposit slot I got:

[2020-01-10 17:14:59]  INFO validator: Waiting to be activated depositInclusionSlot=1537228672809118809 positionInActivationQueue=0 pubKey=0xb050c50a366e status=PENDING_ACTIVE
[2020-01-10 17:14:59]  INFO validator: Waiting to be activated depositInclusionSlot=2174 positionInActivationQueue=0 pubKey=0x88329402adcb status=PENDING_ACTIVE
[2020-01-10 17:14:59]

[2020-01-10 23:19] somuchid opened #4491 "beacon node abort a few times without any reason"
This is one case, happened 45 minutes ago:

[2020-01-10 22:30:03] ERROR blockchain: Could not receive attestation in chain service error=no state matching block root 4e4eb3029ebea60f20458f49232e9f47d2ddc7c63c932c42d7ddcce4130cffd0
could not get head from fork choice service
github.com/prysmaticlabs/prysm/beacon-chain/blockchain.(*Service).ReceiveAttestationNoPubsub
        beacon-chain/blockchain/

[2020-01-10 23:23] rauljordan opened #4492 "Display More Useful Information to Node Users via Info Logs Before Sync"
Currently, if sync has yet to start, the node is crunching through thousands of deposit logs from the contract, but users are left there with an idle node not knowing much about what's going on. We could have some (somewhat) frequent info logging about processing deposit logs to help the UX of our beacon nodes.

[2020-01-10 23:51] #4484 closed

[2020-01-11 01:28] prestonvanloon commented on #4482
This is still reproducible after #4485 :(

[2020-01-11 01:30] prestonvanloon commented on #4482
Example logs
[code]

![Annotation_2020-01-10_095636](https://user-images.githubusercontent.com/7246818/72196658-d18a4200-33ce-11ea-81dd-fe14d497c185.png)

[2020-01-11 01:34] prestonvanloon commented on #4482
What can't be seen in the logs above are at DEBUG level. If a block can't be processed because it's parent is not in the DB, that block is skipped and we move onto the next one. If we failed to process all of the blocks, we query peers again and start over.

One of our current theories right now are that Prysm is somehow generating a genesis block with the wrong state root. From what we noticed, t

[2020-01-11 01:35] prestonvanloon commented on #4476
Closing as duplicate of #4482. We are pretty certain these issues are related. Thanks!

[2020-01-11 01:35] #4476 closed

[2020-01-11 01:37] prestonvanloon commented on #4465
Zero / genesis slot

[2020-01-11 09:12] Buttaa opened #4498 "Show progress of Deposit Logs while syncing"
Confuses average users, a sign of progress would be nice!

![image](https://user-images.githubusercontent.com/26490734/72202006-d694d300-345a-11ea-9ba4-cca23b2de430.png)

[2020-01-11 17:30] terencechain opened #4500 "Efficient calculation of proposer index"
Since the v0.9 spec, proposer selection changed based on per slot shuffling of the active validator, it's no longer based on committee selection. This invalidated the usage of committee cache to compute proposer.

Given we cache ordered active validator indices and its shuffling each time. This is not a bad problem to solve.  We could construct a cache of proposer indices at the start of each epoc

[2020-01-11 18:55] Buttaa opened #4503 "Could not receive attestation in chain service"
![image](https://user-images.githubusercontent.com/26490734/72209214-2a7bd800-34ac-11ea-9b8d-1427f64981f2.png)

`docker pull gcr.io/prysmaticlabs/prysm/beacon-chain:testFix`
`docker run -it -v $HOME/prysm:/data -p 4000:4000 gcr.io/prysmaticlabs/prysm/beacon-chain:testFix --datadir=/data --clear-db`

[2020-01-11 19:54] #4492 closed

[2020-01-11 20:15] rauljordan commented on #4446
Closing this - it's not a big deal and didn't realize one called the other

[2020-01-11 20:15] #4446 closed

[2020-01-12 11:15] torfbolt commented on #4482
Can confirm, whenever I start the client it gets stuck trying to sync the same ~100 blocks over and over.

Rarely it succeeds with a block range and then gets immediately stuck again with the next couple of blocks.

[2020-01-12 17:08] terencechain opened #4507 "Optimize proposer attestation inclusion"
As specified in the [spec](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/validator.md#attestations):
`
 The attestations added must satisfy the verification conditions found in attestation processing. To maximize profit, the validator should attempt to gather aggregate attestations that include singular attestations from the largest number of validators whose signatures from the s

[2020-01-12 17:13] rauljordan opened #4508 "Beacon Node Optimizations"
This is a tracking issue for all optimization-related items for our current testnet. We are seeing massive CPU/Memory usage coupled with really slow sync times affecting everyone connected to the network. We will be opening up TODO items in this issue and tackling them as we go along, as well as updating this issue with any new optimizations we deem reasonable.

- [x] Batch save validator indices

[2020-01-12 17:21] terencechain opened #4509 "Optimize fork choice filter block tree"
With latest fork choice fixes for finality reversion, `get_filter_block_tree` is becoming the main bottleneck for `head` calculation. Due the the nature of `filter_block_tree ` recursive calls, and `get_head` gets called everyone attestation received. Fork choice is becoming unsustainable in run time under mainnet config. Opening this issue to track fork choice optimization in particular `get_filt

[2020-01-12 17:21] yashbhavsar007 opened #4510 "Is invalid memory address a bug related to docker image ?"
I got this error 2 times in last 24 hour when I leave my beacon-node on background mode on docker with the following command
`docker run -d -it -v $HOME/ETH2.0/10Jan/prysm:/data -p 4000:4000 --name beacon-node gcr.io/prysmaticlabs/prysm/beacon-chain:latest --datadir=/data `

I got This Error
[code]

[2020-01-12 17:22] terencechain commented on #4509
cc @ protolambda

[2020-01-12 17:22] terencechain commented on #4509
cc @protolambda

[2020-01-12 17:26] protolambda commented on #4509
Thanks for the cc, I've been talking about updated fork-choice optimizations with @paulhauner recently. Maybe we should have a little co-work call (and ask other fork-choice implementers of clients to join) to discuss how to handle optimization here?

[2020-01-12 17:34] terencechain commented on #4509
That will be great. I'll bring this up in the Discord for better coordination

[2020-01-12 19:32] somuchid opened #4511 "beacon node report incorrectly when connect to local geth"
when beacon node successfully connects to local eth1 node, it still spits out message:
[2020-01-12 14:14:09]  INFO powchain: Connected to eth1 proof-of-work chain endpoint=wss://goerli.prylabs.net/websocket

[2020-01-12 20:15] terencechain opened #4512 "Update to IETF BLS standard for run time"
Opening this issue to track the progress of updating BLS lib up to IETF standard. There's a few speed up method mentioned in the spec such as `FastAggregateVerify` which is desperately needed for run time.

Eth2 reference PR: https://github.com/ethereum/eth2.0-specs/pull/1532
The official IETF spec: https://tools.ietf.org/html/draft-irtf-cfrg-bls-signature-00

[2020-01-12 22:50] avalyn2 opened #4517 "ERROR powchain: Subscription to new head notifier failed error=websocket: close 1006 (abnormal closure): unexpected EOF"
thought I would share:

![image](https://user-images.githubusercontent.com/32930476/72226893-93d81580-3596-11ea-84bd-43c4a7462078.png)

[2020-01-12 23:32] somuchid commented on #4511
turn beacon node use both http and ws to connect to eth1 node

[2020-01-12 23:32] #4511 closed

[2020-01-13 14:33] nisdas opened #4526 "HashTreeRoot Does Not Lead To The Same Result"
We currently have two methods to determine the hash tree root of the state. They are
[code]
and
[code]
however they lead to different roots for the below provided state.

[beacon_state.zip](https://github.com/prysmaticlabs/prysm/files/4054033/beacon_state.zip)

This was the root cause of our initial genesis failure in our testnet restart

[2020-01-13 15:09] #4481 closed

[2020-01-13 16:50] Domintek commented on #4482
I can also confirm that the client gets stuck trying to sync the same blocks between 217 and 256. I am running in docker and unable to use bazel. I have repeated this scenario multiple times over the last three days with no change. Suggestions?

[2020-01-13 19:26] rauljordan commented on #4526
Hey everyone, here is an analysis and discovery of the root cause explaining why it happened in the first place:

## TL;DR

`Go-SSZ.HTR` and Prysm's specific `stateutil.HTR` differ greatly in how they determine the sizes of certain fields for hashing. Go-SSZ looks directly at the protobuf field tags to determine sizes of fields while `stateutil.HTR` uses our `params.BeaconConfig()` to compute cert

[2020-01-13 20:59] rauljordan commented on #4444
Resolved by #4524

[2020-01-13 20:59] #4444 closed

[2020-01-13 22:12] rauljordan opened #4531 "RPC Tests Broken on Master"
Running `bazel test //beacon-chain/rpc/beacon:go_default_test` on master passes, but running:
[code]
shows a panicking test of the form:

[code]
This is blocking development of new features / optimizations in that package.

[2020-01-13 22:13] rauljordan commented on #4531
Moreover, we need to identify why this only fails this way and if there are other packages in Prysm that fail as well.

[2020-01-13 22:29] prestonvanloon commented on #4531
Note that test output of streamed disables test sharding which is why this is failing now rather than without the test output flag. Maybe there is something leaking between tests in a cache or configuration override.

[2020-01-14 00:19] shawnharmsen commented on #4503
Getting the same issue:

[2020-01-13 23:58:37] ERROR blockchain: Could not receive attestation in chain service error=signature did not verify
github.com/prysmaticlabs/prysm/beacon-chain/core/blocks.init

As well as the p2p pubsub error=signature did not verify

[2020-01-13 23:59:18] ERROR sync: Failed to handle p2p pubsub error=signature did not verify
github.com/prysmaticlabs/prysm/beacon-chain/

[2020-01-14 04:08] #4500 closed

[2020-01-14 05:01] rauljordan opened #4538 "Allow Setting MaxPageSize Via Feature Flag"
We should allow operators of beacon nodes to specify the max page size per RPC request their nodes can tolerate for configuration. Thanks @ppratscher for bringing this up.

[2020-01-14 05:40] #4531 closed

[2020-01-14 13:22] msc82 opened #4542 "Chain node stop sync"
[code]

[2020-01-14 13:49] pjindal opened #4543 "Peer count numerator greater than denominator in Beacon Chain"
While the chain did not crash, peers # is greater (numerator) than the available or connected peers (denominator). E.g. 12/0, 12/7, 12/6, etc.

![image](https://user-images.githubusercontent.com/26806409/72349434-88760e80-36aa-11ea-8ee8-ceb65b3b84e4.png)

[2020-01-14 16:18] rauljordan opened #4544 "Use Custom SSZ in Prysm to Deprecate Go-SSZ"
The [go-ssz](https://github.com/prysmaticlabs/go-ssz) was more of an experimental project with the goal of being spec-correct, but has some severe limitations as it uses reflect for everything. We need a custom SSZ fo Prysm that uses pure Go and is customized by data structure to create the fastest version we can for production. This is a tracking issue for all items required for this:

- [x] Cust

[2020-01-15 12:25] KuDeTa opened #4554 "Panic: could not process block from fork choice service: pre state of slot 35xxx does not exist"
On latest pull, as of 18:00 GMT 14/1/20.

[code]

and again, at a lower block

[code]

[2020-01-15 12:30] tzapu commented on #4554
seeing it as well but at a different block
[code]

[2020-01-15 12:31] tzapu commented on #4554
and
[code]

[2020-01-15 12:31] tzapu commented on #4554
after which it resets sync around block 35000

[2020-01-15 12:40] KuDeTa commented on #4554
Yeah, on latest attempt i reset to 35138

...
[2020-01-15 12:38:50]  INFO initial-sync: Waiting for enough suitable peers before syncing required=3 suitable=2
[2020-01-15 12:38:51]  INFO p2p: Peer connected active=6 peer=16Uiu2HAmAsyW714qpiYz9dNEoDyLa29SuzXwU4sY3fQrRtUxN1bT
[2020-01-15 12:38:55]  INFO initial-sync: Processing block 35138/39794 - estimated time remaining 25h52m0s blocksPerSecond=0.

[2020-01-15 13:10] guybrush opened #4555 "gRPC panic when using GetValidatorParticipation"
Getting this in the logs every few seconds.

Note: The node is used by eth2-beaconchain-explorer@770d4b3.

[code]

[2020-01-15 18:37] 0xKiwi opened #4556 "Restructure Prysm Discord server to host a community better"
### The Prysm Discord Server
As our Prysm discord approaches almost 1,500 members, we want to start ensuring it is a welcoming community that will be growing as ETH2 grows closer to fruition. While the Prysm team uses the Discord plenty as our main communication platform, we don't want to alienate any newcomers or possible contributors by making them worry that simple questions or discussions are

[2020-01-15 18:40] mcdee commented on #4556
Whatever you end up with, *please* sort the channel names alphabetically.  It makes finding a particular channel significantly easier when there is a long list.

[2020-01-15 18:42] 0xKiwi commented on #4556
Very good point, we can also add an exception to this for a general channel like #code-review by moving it to the top of the channel.

[2020-01-16 01:46] #4482 closed

[2020-01-16 04:48] JoshSnider opened #4561 "ERRO[0000] flag provided but not defined: -init-sync-no-verify prefix=main"
Setup instructions for docker appear seem outdated.

[2020-01-16 08:24] ppratscher commented on #4555
Can confirm, we are experiencing the same error on our prod https://beaconcha.in node

[2020-01-16 14:47] #4555 closed

[2020-01-16 17:42] KuDeTa opened #4565 "panic: no peers left to request blocks"
[prysm.txt](https://github.com/prysmaticlabs/prysm/files/4072807/prysm.txt)

Unable to sync on latest pull (as of 9:00 GMT 15/1/20).

Eventually, we run out of peers:

[code]

Full debug attached.

[2020-01-16 19:08] prestonvanloon commented on #4561
Closed via #4562

[2020-01-16 19:08] #4561 closed

[2020-01-16 21:19] #4538 closed

[2020-01-16 22:15] rauljordan commented on #4526
We can close this - we are no longer mixing go-ssz and stateutil HTR in Prysm

[2020-01-16 22:15] #4526 closed

[2020-01-16 22:17] rauljordan commented on #4301
Done by @har00ga in https://github.com/prysmaticlabs/documentation. We will be rolling this out to production soon!

[2020-01-16 22:17] #4301 closed

[2020-01-16 22:17] rauljordan commented on #4296
We no longer see this as we have enhanced protection in master with regards to saving and accessing state based on head block roots

[2020-01-16 22:17] #4296 closed

[2020-01-16 22:17] rauljordan commented on #4445
Done by #4558

[2020-01-16 22:17] #4445 closed

[2020-01-16 22:18] rauljordan commented on #4509
Cached and done by #4515

[2020-01-16 22:18] #4509 closed

[2020-01-16 22:18] rauljordan commented on #4508
All items done!

[2020-01-16 22:18] #4508 closed

[2020-01-16 22:37] #4379 closed

[2020-01-16 22:43] terencechain opened #4568 "Eth1 mock RPC is broken"
With the latest master, eth1 mock RPC no longer works with run time via demo config. This unfortunately prevents testing a lot of upcoming important features. Putting this priority as high

The error received on the beacon node:
`[2020-01-16 14:39:26] ERROR powchain: could not get eth1 block hash: could not query block with given height: not found`

The commands I used:
[code]

[2020-01-16 23:24] Buttaa opened #4569 "Could not report validator's rewards/penalties"
![image](https://user-images.githubusercontent.com/26490734/72571641-7077d800-38c0-11ea-9ba8-bd6ccb5a4f8b.png)

percentChange=0.00034% to percentChange=-0.00112% even though I was online.
I assume it was caused by this error?

[2020-01-17 00:29] Buttaa commented on #4569
which lead to this & validator+beacon node crash
![image](https://user-images.githubusercontent.com/26490734/72574297-cb153200-38c8-11ea-9278-53ff7db5bf71.png)

[2020-01-17 10:42] KuDeTa commented on #4565
solved with latest pull (17/1/20 @ 09:00 GMT)

[2020-01-17 16:53] #4565 closed

[2020-01-17 16:55] rauljordan commented on #4556
Thanks for the suggestions all! Our discord has been nicely remodeled thanks to these ideas: https://discord.gg/wgpaJdv

[2020-01-17 16:55] #4556 closed

[2020-01-17 16:55] 0xKiwi commented on #4517
Was this an error you saw only once? Your node kept running after it?

[2020-01-17 16:56] #4510 closed

[2020-01-17 16:57] #4498 closed

[2020-01-17 17:00] terencechain commented on #4425
@Buttaa have you seen this in the recent runs? If not, can we close it?

[2020-01-17 17:02] terencechain commented on #4353
Duplicated as #4425

[2020-01-17 17:02] #4353 closed

[2020-01-17 17:02] #4424 closed

[2020-01-17 17:07] 0xKiwi commented on #4295
Hello! Can anyone still reproduce this issue or can we consider it solved?

[2020-01-17 17:09] terencechain commented on #4278
This is due to we don't fetch attestation's target nor head block if it's not seen. We'll implement this feature in Q1

[2020-01-17 17:11] terencechain commented on #4246
@torfbolt  @xochipilli we haven't seen this issue in a while, can we close it?

[2020-01-17 18:07] torfbolt commented on #4246
I can't really tell, couldn't test in the last few days due to the sync bug. But now my client is in sync again, I'll keep an eye open for this.

[2020-01-17 18:47] 0xKiwi commented on #4565
Duplicate of #4212 4212

[2020-01-17 20:39] rauljordan commented on #4246
We haven't observed it for a while now. If you experience this again feel free to re-open @torfbolt and @xochipilli

[2020-01-17 20:39] #4246 closed

[2020-01-17 20:40] rauljordan commented on #4307
Closing this as it has gone stale. If this happens on current master for you please let us know and we can re-open @tsudmi

[2020-01-17 20:40] #4307 closed

[2020-01-17 20:51] torfbolt commented on #4517
I encountered the same here:

Afterwards the client continues to run but did not process blocks any more, there's just p2p connect & disconnect messages and more repetitions of the same error:

[2020-01-18 09:25] torfbolt opened #4578 "Beacon Chain docker not reacting to SIGTERM"
This morning the beacon client froze with the following messages:

[code]

The problem seems network related, and the main issue is that afterwards the client (run via docker) was completely unresponsive and I couldn't even kill it. This is very inconvenient, as I have to restart the whole server to free up the locked network ports.

Maybe there is some network IO deadlock behind this?

[2020-01-18 16:11] princesinha19 commented on #4465
@prestonvanloon I think we can close this issue.

[2020-01-18 16:18] Buttaa commented on #4569
these issues seem to be Docker related since it's working perfectly fine with Bazel

[2020-01-18 16:19] Buttaa commented on #4503
@shawnharmsen  this seems to be Docker related, have you tried to run it with Bazel? Works fine for me now!

[2020-01-18 17:13] 0xKiwi opened #4580 "Make it easier for a staker to find their validators full public keys"
Currently, as a staker using Prysm, there is no way for me to get my full public key from the validator client. The only way one can get their full public key is by checking the priv files or if they type the truncated public key from logs into https://beacon.etherscan.io and let it autocomplete their full address.

The validator client will benefit from allowing a staker to find the public keys f

[2020-01-18 17:29] torfbolt commented on #4295
Just saw this again with the latest version (68c1ca755d7bd5ffeab337ccf85c138f7f89778e):
`pre state of slot 62821 does not exist`

[2020-01-18 18:17] avalyn2 commented on #4517
still getting those errors:

`[2020-01-18 15:47:28]  INFO initial-sync: Processing block 246/62337 - estimated time remaining 5m57s blocksPerSecond=173.5 peers=2/2
[2020-01-18 15:47:28]  INFO initial-sync: Processing block 247/62337 - estimated time remaining 5m57s blocksPerSecond=173.6 peers=2/2
[2020-01-18 15:47:28]  INFO initial-sync: Processing block 248/62337 - estimated time remaining 5m57s

[2020-01-18 18:23] avalyn2 commented on #4517
1) no, saw it again other times, above the errors when I was running the node today.
2) yes, ran continue after error:

**[2020-01-18 16:23:13] ERROR powchain: Subscription to new head notifier failed error=websocket: close 1006 (abnormal closure): unexpected EOF**
[2020-01-18 16:23:13]  INFO powchain: Connected to eth1 proof-of-work chain endpoint=wss://goerli.prylabs.net/websocket
[2020-01-18 16

[2020-01-18 19:03] prestonvanloon commented on #4465
Closed via #4495 Thanks!

[2020-01-18 20:01] torfbolt opened #4582 "Beacon client stalls during init-sync to sync transition"
Sometimes the transition from init-sync to normal sync seems to silently fail. I saw this particularly when the client went into init-sync mode to resync after falling behind:

[code]

It looks like the client tries to resync again, but no block processing occurs any more, only some p2p log messages. After a restart the client usually syncs ok again.

[2020-01-18 20:06] torfbolt commented on #4582
Possibly related to #4551 ?

[2020-01-18 20:08] mcdee commented on #4582
#4551 became a bit too unfocused, #4570 should address this issue.

[2020-01-18 20:11] prestonvanloon opened #4583 "Cannot sync with --initial-sync-cache-state"
{"blocksPerSecond":"2.1","message":"Processing block 63585/63636 - estimated time remaining 24s","peers":"1/23","prefix":"initial-sync","severity":"INFO"}
{"error":"could not process block from fork choice service: pre state of slot 63585 does not exist","message":"Failed to process block, exiting init sync","prefix":"initial-sync","severity":"ERROR"}

I've observed this many times. Once the clien

[2020-01-18 21:26] prestonvanloon commented on #4543
This is a cosmetic bug. The left value is how many peers you queried in this round of sync, the right side is your current peer count.

[2020-01-18 22:17] torfbolt commented on #4582
I just noticed that the beacon client uses 3.8 of my 4G RAM, which would explain random stalling. Is it supposed to use that much or is there a memory leak/issue?

[2020-01-18 23:17] Njoiyt commented on #4517
ERROR powchain: Subscription to new head notifier failed error=websocket: close 1006 (abnormal closure): unexpected EOF

I have been receiving this over and over today. I only get to about 4-8 thousand processed blocks.

docker run -it -v /tmp/prysm-data:/data -p 4000:4000 -p 13000:13000 gcr.io/prysmaticlabs/prysm/beacon-chain:testFix --datadir=/data --p2p-host-ip <redacted>

[2020-01-19 10:25] handelaar2 opened #4586 "Metrics request: highest possible slot"
The node monitoring site eth2stats.io shows a nice timebased counter of the highest possible slot (slot counter increasing every 12 secs). It would be nice to add this slot-value to the metrics page. This way we can create measurements how far the node's head slot is away from this highest possible value (and how fast the delta is decreasing or increasing).

It seems the value itself is already th

[2020-01-19 13:00] Buttaa opened #4588 "Rapid drop off peers"
![image](https://user-images.githubusercontent.com/26490734/72681444-ebf5a700-3ac3-11ea-84f5-17944546e88b.png)

`bazel run //beacon-chain -- --save-deposit-data --min-sync-peers 5 --enable-ssz-cache --datadir=$HOME/prysm`

[2020-01-19 13:52] somuchid opened #4589 "some validators are penalized while some are rewarded"
this is what happen on my  9 validators:
1. sometime are all good, rewarded
2. sometimes are all bad, penalized
3. sometimes a few are rewarded, the others are penalized
4. some validators receive assignment but have not submitted attestations

below are 4 cases just happened, try to find linkage between validator process and beacon node process:

--------------------------------------------------

[2020-01-19 16:22] avalyn2 opened #4591 "ERROR sync: Failed to decode stream message error=i/o deadline reached peer=16Uiu2HAmDiKH4H8hpHDjhad69qVkTPzCVTvaz7VvBgzNTypz4uqk topic=/eth2"
Two other errors below:

[code]

[2020-01-19 17:34] somuchid commented on #4589
as you can see, it is hard to link validator's output with beacon node's, and it is also hard to follow the info follow in validator, due to lack of a reference.

Learning from relational database Primary Key, I suggest adding public key as reference, in beacon node's error message relate to validator, also in "submit attestion" message of validator. Public key is already shown in validator's "new

[2020-01-19 20:26] Buttaa commented on #4425
i stopped using Docker, so I can't say. But I'll close it and re-open if I see it!

[2020-01-19 20:30] Buttaa commented on #4589
this sounds like this (?) https://github.com/prysmaticlabs/prysm/issues/4569#issue-551112826

[2020-01-20 11:52] AndreMiras commented on #4565
I'm running on `Prysm/Git commit: e7ecd9329a57bf2f84f8266eeb62565ba08b4f91. Built at: 2020-01-19 03:31:48+00:00` docker and I had the issue today actually.

[2020-01-20 13:41] AndreMiras commented on #4588
I'm also having the issue on `master` d72e18ba60bcdfa96c3237052a8c7cf9ee8df563 as I described here https://github.com/prysmaticlabs/prysm/issues/4565#issuecomment-576240909

[2020-01-20 13:55] Domintek commented on #4588
I too am also having this same issue and saw the fail at 35848 / 73840.

[2020-01-20 14:16] Buttaa commented on #4588
also having this issue around 30-40k/73840.

[2020-01-20 16:50] rauljordan commented on #2689
We have not seen this in ages, closing unless it becomes noteworthy again

[2020-01-20 16:50] #2689 closed

[2020-01-20 16:52] rauljordan commented on #4267
Resolved by #4553

[2020-01-20 16:52] #4267 closed

[2020-01-20 16:54] rauljordan commented on #4412
No longer seen after #4099 and #4413

[2020-01-20 16:54] #4412 closed

[2020-01-20 16:56] rauljordan commented on #4140
This is no longer seen in our current testnet given latest caching fixes along with deduplication of various core lines of code. Additionally, we have fixed the proposer selection bug which was leading to certain committee issues. If seen again, we can revisit.

[2020-01-20 16:56] #4140 closed

[2020-01-20 16:59] rauljordan commented on #4123
CC @har00ga maybe we can have more docs about validator activation statuses and what they mean as well as mitigating some of these issues? What do you think

[2020-01-20 16:59] rauljordan commented on #4462
Closing this as there is no need to remove interop code yet

[2020-01-20 16:59] #4462 closed

[2020-01-20 17:01] rauljordan commented on #4569
This has to do with your beacon node being offline due to unrelated errors and also due to inefficiencies in our beacon node's operations. A lot of recent bug fixes will have resolved several of these problems.

[2020-01-20 17:01] #4569 closed

[2020-01-20 17:10] rauljordan commented on #4491
This is likely due to resource constraints such as being out of memory that killed the process. @nidas and I are working on optimizations for the beacon state that will drastically resolve this issue. We will close then.

[2020-01-20 17:22] rauljordan commented on #3917
Agree with the lazy approach instead of specifying all of the config values as a message, will follow that approach

[2020-01-20 18:16] shawnharmsen commented on #4503
yup yup it works fine now.
Just listing a full log for reference.
Thanks for the help.

[2020-01-20 19:44] har00ga commented on #4123
For sure, would definitely be useful. :slightly_smiling_face: Happy to discuss what should be included.

[2020-01-21 00:14] ligi opened #4600 "Error: funded too recently"
I want to try out the software again - but in step 2 got this:

![Selection_329](https://user-images.githubusercontent.com/111600/72765094-11c99b80-3beb-11ea-9b4f-21c20508781f.png)

but as you see: 0x37Af8A91Dc424dA37B822aC45935C7Ba65d824Ff does not have a goerli transacion. I changed the account to make sure this one was not used for prysm tests. I did some testing months ago - but with a differe

[2020-01-21 00:24] ligi opened #4601 "Page unresponsive"
in step 5 I am getting a "Page Unresponsive"

![Selection_330](https://user-images.githubusercontent.com/111600/72765448-bf897a00-3bec-11ea-84f7-ec19a93cda54.png)

[2020-01-21 01:27] somuchid commented on #4491
seem issue resolved. no longer happen

[2020-01-21 01:27] #4491 closed

[2020-01-21 01:54] terencechain commented on #4568
temporary assigning to @nisdas

[2020-01-21 03:53] princesinha19 commented on #4465
This is still open @prestonvanloon

[2020-01-21 03:57] nisdas commented on #4465
Closing this @princesinha19

[2020-01-21 03:57] #4465 closed

[2020-01-21 05:17] prestonvanloon opened #4604 "Can we reduce memory usage of deposits?"
Currently, we keep all of the chain deposits in memory from start up. In my local node, this was around 130Mb. While not a significant memory impact at ~32k deposits, this will become problematic as the network scales.

![Screenshot from 2020-01-20 21-07-54](https://user-images.githubusercontent.com/7246818/72777352-424d0d80-3bca-11ea-9297-4e0471110bb1.png)

[2020-01-21 05:50] pjindal opened #4605 "Error message at beacon chain start up when running eth2stats"
Per @nisdas and @prestonvanloon, eth2stats node was pinging/performing a chainhead request before the beacon node was fully ready resulting in a panic at start up:

https://cdn.discordapp.com/attachments/667761857209040916/669051429276745728/unknown.png

![image](https://user-images.githubusercontent.com/26806409/72778757-d4afda00-3be7-11ea-8804-a33b641f4292.png)

[2020-01-21 09:58] Buttaa commented on #4588
@Domintek Issue solved for me. Not sure what has solved it though. Might have been clearing DB.

[2020-01-21 11:05] AndreMiras commented on #4588
I think this was the fix https://github.com/prysmaticlabs/prysm/pull/4594
Let's close the task then

[2020-01-21 23:07] GuillaumeOcculy opened #4611 "positionInActivationQueue stuck in the same position for more than 24 hours"
My position have not changed for more than 24 hours.
[code]
The estimation says that I should be activated in 6 days : https://www.beaconcha.in/validator/32146

<img width="935" alt="Screenshot 2020-01-22 at 00 05 24" src="https://user-images.githubusercontent.com/3475334/72851088-f9b95100-3caa-11ea-84c4-87d83a664490.png">
<img width="1429" alt="Screenshot 2020-01-22 at 00 05 45" src="https://user

[2020-01-22 04:36] #2011 closed

[2020-01-22 13:26] Buttaa commented on #4589
![grafik](https://user-images.githubusercontent.com/26490734/72897771-05485e80-3d23-11ea-8ec8-81cbeff5c5d0.png)
![grafik](https://user-images.githubusercontent.com/26490734/72897775-0a0d1280-3d23-11ea-927b-3e99f2d74683.png)
![grafik](https://user-images.githubusercontent.com/26490734/72897779-0c6f6c80-3d23-11ea-8d26-e922f253215c.png)

There has to be a bug with attestations since I was punished ev

[2020-01-22 15:57] somuchid opened #4618 "6609 Segmentation fault during sync & peers quick drop from 15/50 to 1/50 in 4 seconds"
commit: {STABLE_GIT_COMMIT}. Built at: 2020-01-22T10:03:59-05:00
[code]

[2020-01-22 16:06] rauljordan opened #4619 "Explanation for High CPU / Mem Usage"
Hi all,

Some users have been asking why their Prysm nodes take up so much memory and cpu. In short, there are many **extremely** expensive data copying operations we perform on the beacon chain state over 56 times per slot (a period of 12 seconds), which eats up memory at an alarming rate. Additionally, the memory footprint of keeping around eth1 deposits from the deposit contract take up a big p

[2020-01-22 16:19] torfbolt commented on #4619
This probably explains and should fix #4578 and #4582

[2020-01-22 16:31] somuchid commented on #4589
commit: {STABLE_GIT_COMMIT}. Built at: 2020-01-22T10:03:59-05:00

1 validators penalized (row 4), 11 rewarded.

![2 penalized 10 rewarded](https://user-images.githubusercontent.com/59260174/72912981-762f4c80-3d0a-11ea-865c-8555f5423cbe.png)

[2020-01-22 22:01] Gsuslu commented on #4588
I`m having the same issue in the same block.

[2020-01-22 22:05] Gsuslu opened #4621 "Beacon Chain peers disconnect in block 35848 - using bazel"
I did it already 3 times. The same block ... all peers disconnect.

[2020-01-22 22:38:25]  INFO initial-sync: Processing block 35848/92892 - estimated time remaining 105h38m13s blocksPerSecond=0.1 peers=5/13
[2020-01-22 22:38:30]  INFO p2p: Peer disconnected active=12 peer=16Uiu2HAm7V6p2HgCx3JhmxRBuiXmFL6QTjbHssUiUs7cXUe18Bkd
[2020-01-22 22:38:30]  INFO p2p: Peer disconnected active=11 peer=16Uiu2

[2020-01-23 01:10] tsudmi opened #4623 "Fails to run with minimal config"
Hi,

I'm running Validators and Beacon node with `--minimal-config` and validators start getting penalties as soon as they are activated:
[code]
However, Validators in genesis are not getting any penalties.

Beacon chain and validator client versions: `HEAD-e96c2f`

[2020-01-23 01:24] tsudmi commented on #4623
@prestonvanloon , Could it be somehow related to https://github.com/prysmaticlabs/prysm/pull/4566 ?

[2020-01-23 11:04] AndreMiras commented on #4588
I'm now running on last master with the command below (note the port `13000`) and I haven't seen this issue since then.
[code]
Make sure you docker pull latest before.
[code]

[2020-01-23 11:14] Gsuslu commented on #4621
I left it all the night searching for new peers. In the final it jumped from block 35848 till block 39000.

[2020-01-23 02:14:07]  WARN initial-sync: No peers; waiting for reconnect
[2020-01-23 02:14:13]  WARN initial-sync: No peers; waiting for reconnect
[2020-01-23 02:14:19]  WARN initial-sync: No peers; waiting for reconnect
[2020-01-23 02:14:25]  WARN initial-sync: No peers; waiting for reconn

[2020-01-23 14:23] #4503 closed

[2020-01-23 15:46] somuchid commented on #4618
same problem happened again today at first run, after running new binary of latest pull. commit 5df77848bb5fd3bb0c3cfaf5a5fc95f3f743e2d6
[2020-01-23 09:10:00]  INFO initial-sync: Processing block 97793/97850 - estimated time remaining 34s blocksPerSecond=1.6 peers=1/50
[2020-01-23 09:10:00]  INFO forkchoice: Executing state transition on block root=0xe466e43c... slot=97793
[2020-01-23 09:10:01]  I

[2020-01-23 15:48] theminier opened #4630 "ERROR blockchain: Could not receive attestation in chain service error=signature did not verify"
[code]

[2020-01-23 15:53] theminier opened #4631 ""Waiting for enough suitable peers before syncing" after restart"
After restart, each time I have
[code]
But if I delete the datadir folder, them it restart without problem,  sync again (takes more than 12 hours) and then it works correctly... until I restart it

[2020-01-23 16:00] theminier opened #4632 "validator"
when I start validator, I have this message all the time
[2020-01-23 16:42:42]  INFO validator: Waiting for beacon chain start log from the ETH 1.0 deposit contract
[2020-01-23 16:42:42]  INFO validator: Beacon chain started genesisTime=2020-01-10 01:00:00 +0100 CET
[2020-01-23 16:42:42]  INFO validator: Waiting for validator to be activated in the beacon chain
[2020-01-23 16:42:42]  INFO validato

[2020-01-23 16:02] theminier opened #4633 "validator start"
[2020-01-23 16:37:53]  INFO prometheus: Collecting metrics at endpoint endpoint=:8080
[2020-01-23 16:37:53] ERROR prometheus: Could not listen to host:port ::8080: listen tcp :8080: bind: address already in use
[2020-01-23 16:37:53]  WARN validator: You are using an insecure gRPC connection! Please provide a certificate and key to use a secure connection.

[2020-01-23 17:04] prestonvanloon commented on #4630
Thanks for reporting this! We think this has to do with an experimental flag `--enable-attestation-cache`. This same error was uncovered in an e2e test for demo config by @0xKiwi.

Assigning to myself to investigate as the owner of that feature.

[2020-01-23 17:08] prestonvanloon commented on #4621
I think there may be a bug here where your client is spamming your peers then they disconnect you.

I'll try to reproduce today.

[2020-01-23 17:21] prestonvanloon commented on #4503
This might be a bigger issue. See related #4630 if you are still having issues.

[2020-01-23 17:22] prestonvanloon commented on #4588
Related #4621

[2020-01-23 23:00] prestonvanloon commented on #4589
Related #4630

[2020-01-23 23:00] prestonvanloon commented on #4554
We haven't seen reports of this issue in a few days. Closing for now, but please reopen if you are experiencing continued issues.

[2020-01-23 23:00] #4554 closed

[2020-01-23 23:01] prestonvanloon commented on #4542
We haven't seen reports of this recently. Closing, but please re-open if you are still having issues. Thanks!

[2020-01-23 23:01] #4542 closed

[2020-01-23 23:03] prestonvanloon commented on #4517
This can be resolved by running your own Goerli node. The goerli node that we provide is not very stable with so many websocket connections.

This error is mostly benign, your beacon chain node should attempt to reconnect and there is no penalty for not voting on eth1 data.

[2020-01-24 01:16] somuchid opened #4640 "Slashing Prevention Solutions: Prevent validator from running twice in 4 different situations"
Here are some thoughts on how to prevent validator from running twice in same machine, or 2 machines on LAN, or 2 sites over internet, and hacking

Running 2 instances of validator against same set of key pairs will lead to slashing.

It actually happened, see Cosmos incident report at https://twitter.com/zmanian/status/1145072296723275776

Preventing that from happening is critical.

Prevention s

[2020-01-24 01:33] #4588 closed

[2020-01-24 01:33] #4621 closed

[2020-01-24 10:22] mondsen commented on #4619
Thanks a lot for this issue. Have you target hardware spec (minimum) that shall be capable of running the beacon chain?

[2020-01-24 17:22] tsudmi commented on #4623
Looks like only the last added deposit is affected by this issue. All the previous deposits are not getting any penalties.

[2020-01-24 22:35] tsudmi commented on #4623
Looks like `activation_epoch` could be behind `deposit_inclusion_slot`. For example, deposit_inclusion_slot=45031, activation_epoch=5594 with 8 slots per epoch.

[2020-01-25 19:14] pjindal opened #4652 "Change a couple "ERROR" messages to "WARN" instead"
In the below beacon node logs, I peered with someone from the old testnet or someone forget they left it on from months ago, while the rate limiting error means that a client attempted to ask me for many blocks very quickly and I told them to stop. Per @prestonvanloon he recommended changing these messages to warnings instead of errors.

![image](https://user-images.githubusercontent.com/26806409/

[2020-01-26 17:50] 0xKiwi opened #4657 "Failed to request block from beacon node, could not compute eth1data votes"
This is an error occurring on E2E, minimal config with 1024 validators, might have something to do with the eth1 dev chain not moving but I changed it to generating new blocks if that was the case.
[code]

[2020-01-26 17:57] 0xKiwi commented on #4633
Hello @theminier , are you reporting the prometheus error? This is because the beacon node uses port 8080 also for prometheus so they tend to conflict, it's nothing to worry about though!

[2020-01-26 17:57] #4633 closed

[2020-01-26 17:58] 0xKiwi commented on #4632
Hello @theminier ! What issue are you reporting?

[2020-01-26 17:58] 0xKiwi commented on #4631
Hello @theminier, are you still have this problem?

[2020-01-26 18:05] 0xKiwi commented on #4623
How are you using `--minimal-config`? To sync to the testnet?

[2020-01-26 23:25] tsudmi commented on #4623
Hi @0xKiwi , thanks for the response.

I've set up a private network, where both validators and beacon nodes are running with `--minimal-config`, so it's independent of the Prysm testnet.

[2020-01-26 23:30] 0xKiwi commented on #4623
Okay great, @tsudmi

How did you start the clients? Through bazel or docker?

[2020-01-26 23:32] tsudmi commented on #4623
I tried both, the error is the same.

[2020-01-26 23:42] 0xKiwi commented on #4623
Got it, if you're running through bazel (not sure about docker atm), you'll need the `--define ss=minimal` flag before you start defining flags for the client (before the `--`).

Did you use that flag along with the `--minimal-config` flag?

[2020-01-27 00:05] tsudmi commented on #4623
I thought to try running with that flag, it's just that the whole setup takes quite long to prepare (have to wait for 1024 blocks for ETH1 chain). However, it helped me with a similar issue (#4469).

It would be great to have a similar flag with docker images.

[2020-01-27 05:53] rauljordan commented on #4568
No longer the case in master eth1-mock-rpc

[2020-01-27 05:53] #4568 closed

[2020-01-27 07:01] prestonvanloon opened #4662 "Fatal panic in fork choice"
[code]

[2020-01-27 07:04] prestonvanloon commented on #4662
Panic happens here: https://github.com/prysmaticlabs/prysm/blob/37459ee765a19d87899e27a9cf272ee5d66db46f/beacon-chain/operations/attestations/prepare_forkchoice.go#L110

This method should ensure the lists are the same length before doing an overlap check.

[2020-01-27 07:18] #4662 closed

[2020-01-27 10:47] Buttaa commented on #4232
installed Git directly in C:\ as mentioned [here](https://github.com/bazelbuild/bazel/issues/4496#issuecomment-380482467)
Error still occurs - seems to be a path problem

[2020-01-27 11:38] 0mkara opened #4666 "bazel build beacon-chain fails in Fedora"
`bazel build //beacon-chain:beacon-chain` failed with following error.
[code]

[2020-01-27 11:51] nisdas commented on #4666
Summarizing the conversation from discord with @0mkara :
2 potential solutions to this:
[code]
and exporting the environment variables

[code]
as detailed here https://stackoverflow.com/questions/52370202/how-to-get-bazel-ccache-and-sandboxing-to-work-together-ccache-read-only-file.

Leaving this here in case any other fedora user runs into the same issues

[2020-01-27 15:31] GuillaumeOcculy opened #4667 "ERROR sync: Failed to handle p2p RPC error=rate limited"
I have this error when I run this command :
[code]
<img width="1439" alt="Screenshot 2020-01-27 at 16 29 19" src="https://user-images.githubusercontent.com/3475334/73187834-4a550200-4122-11ea-9f13-79e2117b2c24.png">

[2020-01-27 16:03] rauljordan commented on #2273
No longer the case

[2020-01-27 16:03] #2273 closed

[2020-01-27 17:23] rauljordan commented on #4479
Closing in favor of #4544

[2020-01-27 17:23] #4479 closed

[2020-01-27 17:26] rauljordan commented on #3162
Done by @terencechain with the new proto array feature

[2020-01-27 17:26] #3162 closed

[2020-01-27 17:33] rauljordan commented on #4123
Assigning to @har00ga, action items for this are:
- Remind users to copy their public key somewhere when they run their validator client
- Point users to `https://beacon.etherscan.io` where they can paste in their public key and see the eth1 deposit information for their validator
- Let users know they can also see their estimated time to activation by looking up their public key on `https://beaco

[2020-01-27 17:34] rauljordan commented on #3696
Closed by @terencechain and #4108

[2020-01-27 18:31] rauljordan commented on #4170
Resolved by https://github.com/eth2-clients/eth2-testnets/pull/5/files

[2020-01-27 18:31] #4170 closed

[2020-01-28 04:04] #4055 closed

[2020-01-28 04:52] rauljordan commented on #4632
Hey @theminier it takes a long long time to get validators activated in the chain. Have you tracked your deposit in https://beacon.etherscan.io or https://beaconcha.in? Closing for now for lack of more information. If you still want to chat about this please join our discord: https://discord.gg/v22cpUh

[2020-01-28 04:52] #4632 closed

[2020-01-28 04:53] rauljordan commented on #4623
Hey @tsudmi you can change the eth1 follow distance in our config parameters under `shared/params/config.go` to 16 instead of 1024 and that will help so you don't have to wait too long for the eth1 chain. Can we close this?

[2020-01-28 08:26] tsudmi commented on #4623
Hi @rauljordan ,
Looks like it should be `16` according to the [minimal config](https://github.com/ethereum/eth2.0-specs/blob/dev/configs/minimal.yaml#L34) in eth2.0-specs. I've created a PR on that (https://github.com/prysmaticlabs/prysm/pull/4566), but it's not merged yet due to failing tests.

[2020-01-28 09:28] GuillaumeOcculy opened #4673 "ERROR validator: rpc error: code = DeadlineExceeded desc = context deadline exceeded"
This is what it returns when I use this command :
[code]
[code]

[2020-01-28 16:31] clabornd commented on #4673
Am having the same issue after sending the deposit.  Ubuntu 16.04 LTS running from docker containers.

Stuff that might matter, I dunno:
I have two validatorprivatekeyxxxx in my $HOME/prysm
I re-submitted a deposit just yesterday after a failed attempt from a few days ago
I don't do any sort of cleanup between trying to activate on different deposits, I just follow the instructions on https://pryl

[2020-01-28 16:56] terencechain opened #4676 "Initial sync cache state is broken"
`--initial-sync-cache-state` is broken in latest master, for some reason the processing block went back in slot for the very last slot `134667` -> `134626`

[code]

[2020-01-28 17:18] rauljordan commented on #4425
Duplicate of #4278

[2020-01-28 17:18] #4425 closed

[2020-01-28 18:01] rauljordan commented on #4676
Duplicate of #4583

[2020-01-28 18:01] #4676 closed

[2020-01-28 20:43] #4583 closed

[2020-01-29 02:38] olwee opened #4681 "[FEAT] Able to set encrypt password in ENVIRONMENT instead of via flag?"
Would like to have the option of setting encrypt password in environment for validator clients instead of flag so we can delete credentials post launch of the validator client

[2020-01-29 08:35] q9f opened #4683 "Booting a validator with 2000 keys takes 90 minutes."
note the timestamp:

[code]

2220 keys:

[code]

maybe we could be more verbose about loading keys?

running prysm latest master @ 3e9bf58d81a986881de9d2d0fcbe565b3fe83ef2

on arch-linux 5.4.13-arch1-1 x86_64 gnu/linux, go version go1.13.6 linux/amd64, bazel version 2.0.0- (@non-git)

[2020-01-29 08:36] q9f commented on #4222
I second this, especially if you run more than one validator and the restart could take a while, ref #4683

[2020-01-29 08:39] mcdee commented on #4683
Key load time will most likely be dominated by the time taken to decode individual keys, but I'll do some profiling to make sure.  It may be possible to have some sort of bulk store/decrypt, although I'd have to consider how best to build it (and the security implications of having such a thing)

[2020-01-29 08:40] q9f commented on #4681
Password as command line arg should be avoided at any cost.

ref https://serverfault.com/questions/592744/how-to-hide-a-password-passed-as-command-line-argument/596696#596696

ref https://github.com/bitcoin/bitcoin/issues/2318

Viable solutions are config files, password files, or as the OP suggested, env variables.

[2020-01-29 08:41] mcdee commented on #4222
This is something that can be added through the keymanager interface relatively easily, the more pertinent question is when to run such a rescan.  Periodic rescan could take a lot of CPU time in the case where keystores are encrypted.  Will consider how best to tackle this.

[2020-01-29 08:43] mcdee commented on #4681
`keymanageropts` can be an environment variable or a file path, to allow for this.

[2020-01-29 08:43] q9f commented on #4683
5590 seconds / 2220 keys ~ 2.518 seconds per key.

if you could give me a quick pointer, I might be able to help profiling. are the keys encrypted with the password on disk? is this the reason it takes longer to read them?

[2020-01-29 08:45] q9f commented on #4222
Having some index or cache for already decoded keys could speed this up significantly. So you look at the keys that are loaded already and just decode the ones that aren't. That way, it shouldn't be expensive to run this periodically.

[2020-01-29 08:55] mcdee commented on #4222
It is possible for the individual password stores to be encrypted, so there's no way of knowing what the key inside each file may be without decrypting it first.  And because keymanager is an interface to possibly any implementation (e.g. HSM) we'd need to consider the capabilities of the endpoint so we don't put an unreasonable burden on it (or worse, exclude some potential implementations from b

[2020-01-29 09:05] q9f opened #4684 "Synchronizing 130k blocks takes more than 24 hours."
note the time stamps:

[code]
100800 seconds / 139450 blocks ~ 0.723 seconds per block. syncing a mainnet with 10 million blocks would take roughly 3 months.

for comparison: a legacy geth node syncronizes a testnet (rinkeby) with 2048 blocks per 0.600 seconds (syncmode full).

[code]

that is 0.000293 seconds per block, or ~ 2500 times faster than the beacon chain. I'm not trying to compare apple

[2020-01-29 09:07] mcdee commented on #4683
The relevant code is at https://github.com/prysmaticlabs/prysm/blob/master/validator/keymanager/direct_keystore.go#L75 although that uses the old keystore format; a new keystore (v4) implementation will be integrated in the next few days so you may want to hold off until then.  Even then, though, the majority of the time will be in decryption as each key will be in its own keystore and require dec

[2020-01-29 09:14] q9f commented on #4683
first thing coming to my mind is bitcoin's `wallet.dat` which is an encrypted database file of keypairs. downside of such an approach is that all keys use the same password. but if you run all validators on one machine, you probably don't want to use different passwords anyways.

[2020-01-29 14:36] mcdee commented on #4683
I just tried a test with 4,096 keys with keystorev4 and it imported them in ~11 seconds, so this may not be an issue.  I'll make a note here once the related patch is in, would love to hear your feedback on its performance.

[2020-01-29 15:24] q9f commented on #4683
ok sure. let me know how to test this.

[2020-01-29 16:16] Domintek commented on #4673
I have experienced the same error validator: could not report validator's rewards/penalties error=rpc error: code = DeadlineExceeded .... multiple times over the cours of the last 24 hours and then the validator stalled. Running Docker in Win 10 and trying to follow the same instructions as Clabornd above.

[2020-01-29 16:21] GuillaumeOcculy opened #4685 "ERROR validator: Could not request attestation to sign at slot"
I have this error when I ran these commands :
[code]
[code]

[2020-01-29 16:26] tsudmi opened #4686 "Keymanager passphrase with special characters cannot be parsed"
I'm passing keystore parameters to the validator in the following way:
[code]
When I start the validator, I get the following output:
[code]

Latest commit: `3e9bf58d81a986881de9d2d0fcbe565b3fe83ef2`

[2020-01-29 17:26] mcdee commented on #4686
Can you try this with:

[code]

[2020-01-29 19:41] tsudmi commented on #4686
@mcdee thanks for the reply.

In such case I'm getting:
[code]

[2020-01-29 20:36] mcdee commented on #4686
Please could you paste your entire command line?  I just double-checked and the above works on my local machine.

[2020-01-30 13:22] jdetychey opened #4691 "Bazel failed to build beacon-chain (_Cfunc_blsVerifyAggregatedHashWithDomain ?)"
Hey there!
Hardware: Dell XPS15 16Go RAM, running Ubuntu 16.04
after installing ```bazel``` and ```cmake```, running :
`bazel build //beacon-chain:beacon-chain`
or
`bazel build //beacon-chain:beacon-chain --define kafka_enabled=false`
both return the same error.
Short log
[code]
Log with  ```--sandbox_debug```
[code]

[2020-01-30 13:49] jdetychey commented on #4691
Additional information, ```go version``` returns
```go version go1.11.5 linux/amd64```

[2020-01-30 14:16] jdetychey commented on #4691
Additional information, the build worked on the same machine via a dockerised ubuntu 18.04.

[2020-01-30 16:28] somuchid commented on #4640
to deter hacking, I think activation mechanism could be used. when deploying key files to a machine, those files need to be signed by a person with private key / serial number like Microsoft software. so hacker cannot simply copy the key files over to their machine and launch attack.

signing is against CPU serial number or cloud service instance#, similar to Microsoft Windows activation.

[2020-01-30 17:31] garyschulteog commented on #4640
An interesting idea would be to have validator clients tightly integrate with a keymanager solution which not only does key management but also is responsible for consensus around which validator is currently validating for what keys.

ideally the keymanager solution would be fault tolerant, allow for degraded operation modes, be robust enough to be offered as a service and light enough to be run

[2020-01-30 23:30] har00ga commented on #4123
Roger that, will get on this over the next couple days. :slightly_smiling_face:

[2020-01-31 06:04] rauljordan commented on #4684
Hi @q9f thanks for pointing this out. We are 100% aware of the differences between this and eth1 sync, and in particular, we can already sync from genesis to the head of the beacon chain in approximately 2 hours. We believe we can radically increase the blocks per second to above 30 or even 40 soon with some changes we have in the works. If you are more curious about this or wish to learn more abo

[2020-01-31 06:04] #4684 closed

[2020-01-31 06:06] rauljordan commented on #2243
This is not really relevant nor important anymore. If users do complain about this aspect, we can revisit, but this has been open for way too long and there are more important issues to tackle.

[2020-02-01 09:11] nisdas opened #4702 "Validator Attestation Logs Appear Late"
@handelaar2 brought this up offline.
[code]
The validator attestation log only comes up when the role is received for the following slot. This makes it look like the attestation is being done later.

[2020-02-01 13:22] tsudmi opened #4703 "Fails to prune garbaged state"
I've started syncing from empty DB and then restarted the beacon node. After that I've started getting following fatal error:
[code]
Running on latest commit: `c2fbb40`

[2020-02-01 13:26] tsudmi commented on #4623
Fixed in #4566

[2020-02-01 13:26] #4623 closed

[2020-02-01 14:56] terencechain commented on #4703
Will look into it today

[2020-02-01 14:59] terencechain commented on #4702
It is always been reported at the end of the slot, it has been running like this for a few months now. It's a summary view of what during the last slot. More A feature more than a bug. With that said we can add a debug log for live event. Feel free to open an issue for enhanced debug log

[2020-02-01 15:41] nisdas commented on #4702
ex: if I attest in slot 30 , shouldn't the log show up in between slot 29 and 31 ? instead of 29, 31 and then 30

[2020-02-01 16:36] handelaar2 commented on #4702
Indeed, if the log entry is reported at the end of a slot, how can the log entry of slot 161131 come before 161130?
Attached is a screen print with the validator log of the previous testnet. As you can see there, all slots are in sequence (and I guess correct timewise). So in the previous testnet it looked ok to me, but not now.

The submission of attestations (and proposer blocks) is time critica

[2020-02-01 17:06] terencechain commented on #4702
I see what you guys mean now. Likely they are on separate routines. This is indeed a bug. Repened

[2020-02-01 17:08] terencechain commented on #4703
Unable to reproduce. @tsudmi which slot did you restart?

[2020-02-01 17:09] nisdas commented on #4703
Just to add in, I have seen this a few times while running it locally. Not sure of a reliable way to reproduce, but it comes up whenever I restart my node

[2020-02-01 17:23] terencechain commented on #4703
Probably need more details, when do you restart the node?

[2020-02-01 17:28] tsudmi commented on #4703
@terencechain Didn't record the slot number, but it happened twice at blocks `~70000` and `~100000`. I had a spike at RAM usage which caused the restart of the container. Those are the flags I was using:
[code]

[2020-02-01 17:44] tsudmi commented on #4686
Hi @mcdee ,
I'm running the validator in Kubernetes, so I have to pass these parameters in `yaml` file.
Here is a snippet of the POD container:
[code]
@prestonvanloon did you manage to pass those parameters inside your deployment files?

[2020-02-01 20:27] prestonvanloon opened #4706 "Cannot start node due to pruning of "garbage" states"
Was introduced in https://github.com/prysmaticlabs/prysm/pull/4697

https://github.com/prysmaticlabs/prysm/blob/c2fbb40909d7bb2a2af493aa8fd1f125c1d0bfde/beacon-chain/blockchain/service.go#L171-L175

Assigning to @terencechain as PR author.

![image](https://user-images.githubusercontent.com/7246818/73598511-0f6e1800-44ee-11ea-8604-af6de16f3108.png)

[2020-02-01 20:29] prestonvanloon commented on #4706
A resolution might be to simply change this from a fatal condition to a warning or error log.

[2020-02-01 20:37] prestonvanloon commented on #4706
For anyone stuck on this, I have a temporary docker image from c2fbb40909d7bb2a2af493aa8fd1f125c1d0bfde with local changes to make this issue a warning rather than fatal condition.

Use image `gcr.io/prysmaticlabs/prysm/beacon-chain:issue-4706` for now.

[2020-02-01 20:51] #4706 closed

[2020-02-01 21:55] Buttaa opened #4708 "--initial-sync-cache-state is not working properly"
--initial-sync-cache-state is not working properly
crashes at block 11392 on windows & macos

![image](https://user-images.githubusercontent.com/26490734/73599636-d8c3ec00-4545-11ea-9b17-8a83ac275df8.png)

[2020-02-01 22:35] mcdee commented on #4686
The keymanager options need to be JSON so single quotes around strings won't work.  Possibly something like:

    --keymanageropts='{"path":"/etc/validators","passphrase":"'"${KEYSTORE_PASSWORD}"'"}'

could do the trick, although it depends on how yaml files treat quotes.  If not, there's a patch #4687 that has yet to be merged but when it has it will allow you to specify a path in keymanageropts

[2020-02-02 11:08] jenkinsr001 commented on #4703
I am also getting this error (repeatably) when running with --initial-sync-cache-state. The sync speed is much faster with that flag but eventually fails after 5-10 minutes. After restarting I get this error and the beacon node will not run.

I can only assume it corrupts the database as I have to start with a fresh sync.

[2020-02-02 15:22] somuchid commented on #4640
add second --datadir to validator would be useful for 2 sites failover. when one site goes down, the other site could take over the job, by simply adding --datadir=firstSiteKeyFiles in its validator process.

[2020-02-03 06:12] garyschulte opened #4723 "Add validator prometheus metrics"
It would be helpful for dashboard and alerting if the validator client exposed additional prometheus metrics for validator performance, per public key.

Useful validator metrics include:
* balances per validator public key
* attestations and failures per public key

Since some validator instances may have many hundreds (or thousands) of validator keys, this behavior should be behind a CLI paramete

[2020-02-03 06:47] garyschulte commented on #4586
It looks like the sync block counter is implemented by taking the time since genesis and dividing by seconds per slot.  Is that a reliable way to calculate this metric or is there likely to be some accumulated drift?

[2020-02-03 16:28] garyschulteog opened #4727 "`--cache-proposer-indices` causes OOM for long chains at beacon startup"
With a beaconchain sync'd up to about 166k slots, enabling `--cache-proposer-indices` will quickly run my node out of memory (4gb).  Running without the proposer cache, the memory requirement is stable at ~2.7gb.  On another machine without as tight a memory constraint, it appears the proposer cache gets pruned (during? after?) the initial sync and resident mem usage is <3gb.

[2020-02-03 16:10:01

[2020-02-03 16:43] nisdas commented on #4727
The offending code is here
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/helpers/committee.go#L458 .

Getting all the proposers for the epoch leads to a runtime complexity of O(m *n ^2) . This is because we are still using the inefficient shuffling method here:
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/helpers/shuffle.go#L67

when we should be usin

[2020-02-03 16:50] terencechain commented on #4727
Are you suggesting `precomputeProposerIndices` to use the optimized algorithm in L152?

[2020-02-03 16:57] nisdas commented on #4727
@terencechain yeap that is correct, that should resolve this issue

[2020-02-03 17:03] terencechain commented on #4727
Great. Thanks!

[2020-02-03 19:39] prestonvanloon opened #4730 "API: Cannot fetch genesis block. Found more than 1 genesis block"
This type of request https://api.prylabs.net/eth/v1alpha1/beacon/blocks?genesis=true fails with the error "Found more than 1 genesis block".

This is the genesis block: https://api.prylabs.net/eth/v1alpha1/beacon/blocks?root=iyUwG966Ag1CJulJ6uDs77iGPgYLeERWbVHgpC7WSQ4=

[2020-02-03 23:12] rauljordan opened #4734 "Documentation Improvements Tracking"
Hi all,

This is a tracking issue to determine next priorities for the Prysm project in terms of documentation needs. @har00ga fully ported our docs into our shiny new website: https://docs.prylabs.network where it is maintained as an open-source project in [github.com/prysmaticlabs/documentation](https://github.com/prysmaticlabs/documentation).

We want running our code and eth2 to be as friendly

[2020-02-03 23:58] har00ga commented on #4734
It's like a technical writers Christmas list. :joy: Happy to help with these / any new additions that come in!

[2020-02-04 05:02] rauljordan opened #4738 "Implement Custom SSZ Marshal/Unmarshal for Prysm Eth2 Data Structures"
Hi all,

As we reach production-readiness and now handle mainnet-sized amounts of validators in our testnet, it is critical for the foundations of our codebase to become more efficient and more secure. One of the key pillars of the eth2 protocol is having a standardized serialization specification for key data structures that are communicated as raw bytes over the wire when nodes communicate via p

[2020-02-04 05:28] #3917 closed

[2020-02-04 07:04] ppratscher opened #4741 "Archival service fails to return data or serves invalid data for certain epochs"
We still see the following error messages from time to time:

[code]

This happens usually after restarting a node or during times of finality issues. Unfortunately even after restarting affected nodes we are unable to recover epoch statistics data for certain epochs.

For example around epoch 3017 our node was restarted and now returns a participation rate of 0 for that epoch, but there are aroun

[2020-02-04 11:17] Mrtenz commented on #4734
Some documentation I'd like to see:
* Command line options for the beacon node and validator.
* How to use your own eth1 node.
* Instructions for running the beacon node and validator with `docker-compose`. [Here](https://gist.github.com/Mrtenz/bfcd2aacd3c19be5ee80fd62bcca9896) is my stack for example, though it includes Geth, Watchtower and Eth2stats as well, which may be a little bit overkill.

[2020-02-04 12:13] nisdas commented on #4727
Looking at this again, I am not sure why `preComputeIndices` leads to an OOM. We do this for every epoch and have not had an OOM till slot 166,000 in the above case. While it may be inefficient in its current iteration, I do not see how there are OOMs from it. I cant reproduce the above situation. @garyschulteog Is it consistently reproducible for you ?

[2020-02-04 15:35] rauljordan commented on #4544
Closing in favor of #4738

[2020-02-04 15:35] #4544 closed

[2020-02-04 15:37] rauljordan commented on #4295
Resolved by @terencechain in #4740

[2020-02-04 15:37] #4295 closed

[2020-02-04 15:38] rauljordan commented on #2285
This functionality already exists in Prysm, closing

[2020-02-04 15:38] #2285 closed

[2020-02-04 15:40] rauljordan commented on #4123
Closing in favor of #4734

[2020-02-04 15:40] #4123 closed

[2020-02-04 15:43] rauljordan commented on #4667
Hi @GuillaumeOcculy this was due to a bug that would keep requesting blocks and spamming peers due to a genesis time mismatch, so you would get rate limited for this spam. The bug has since then been resolved by @0xKiwi

[2020-02-04 15:43] #4667 closed

[2020-02-04 16:14] rauljordan commented on #4591
Hey @avalyn2 two things seem to have happened here:

1. The first error is due to some peer timing out on a response in p2p, which should probably be changed to DEBUG level logging
2. The connection to the eth1 proof of work chain endpoint got messed up and it failed to process logs from the deposit contract

[2020-02-04 16:16] rauljordan commented on #4686
Closing for now unless @tsudmi still has failures with the suggested solutions

[2020-02-04 16:16] #4686 closed

[2020-02-04 16:18] rauljordan commented on #4685
This issue is mostly due to inefficiencies in the beacon node due to our code. For example, sometimes the beacon node takes way too long to process slots and ends up timing out on various requests. This is no longer the case in our latest master as it includes several key optimizations to prevent deadlines happening. If this happens again we'll reopen.

[2020-02-04 16:18] #4685 closed

[2020-02-04 16:20] rauljordan commented on #4631
It looks like you were likely getting banned due to rate limiting during that time of the testnet, which @prestonvanloon helped resolve in #4637. It should be a lot easier to find suitable peers now.

[2020-02-04 16:20] #4631 closed

[2020-02-04 16:29] rauljordan commented on #4673
Hey all, this is due to several issues regarding beacon nodes being extremely inefficient at certain operations given the number of validators currently in the network. With some new changes that are now live in latest master, our beacon node is a lot more resilient and should minimize or eliminate these deadlines albeit in extreme scenarios. Closing for now unless it is still seen in latest maste

[2020-02-04 16:30] rauljordan commented on #4578
Hey @torfbolt looks like the process was probably extremely resource constrained, which is what we were observing around the time this issue was opened. We have since then pushed a lot of great improvements to master to reduce resource utilization and should help avoid any of these problems. Let us know if you face them again.

[2020-02-04 16:30] #4578 closed

[2020-02-04 16:32] rauljordan commented on #4249
Done by #4705

[2020-02-04 16:32] #4249 closed

[2020-02-04 16:34] rauljordan commented on #4212
Our beacon node in latest master is significantly more resilient to these types of issues. If you all are still seeing this with latest master please mention this and we'll reopen.

[2020-02-04 16:34] #4212 closed

[2020-02-04 16:35] rauljordan commented on #4708
This was due to a bug in fork choice in tandem with the --initial-sync-cache-state flag. We have since then resolved and our node on master is more resilient with the --proto-array-forkchoice flag.

[2020-02-04 16:35] #4708 closed

[2020-02-04 16:42] rauljordan commented on #4278
Is this still relevant @terencechain ? I think we still have to retrieve missing att.data.head_block_root from the network right? Maybe we can open a tracking issue for that feature and close this one. I know we can now fetch the target from the network if it's missing.

[2020-02-04 16:43] rauljordan commented on #4611
You are currently active, it just takes a super long time for validators to activate given we only have around 900 activations per day https://www.beaconcha.in/validator/32146

[2020-02-04 16:43] #4611 closed

[2020-02-04 16:44] rauljordan commented on #4702
Any update on this @terencechain ?

[2020-02-04 16:46] terencechain commented on #4278
This was done

[2020-02-04 16:46] #4278 closed

[2020-02-04 16:46] rauljordan commented on #4657
@0xKiwi is this still a problem? The error here is due to a configuration mismatch. The function that computes HTR of eth1 data votes highly depends on the beacon config. Check what it should be in minimal vs. what's defined in the config.go file in shared/params. You might need --define ssz=minimal as well here, but I'm confident this is a config issue.

[2020-02-04 16:46] rauljordan commented on #4703
Do we still have this problem @terencechain ?

[2020-02-04 16:47] terencechain commented on #4703
I'm not sure. Will keep it open and close in a week if no one has raised more incident

[2020-02-04 16:47] 0xKiwi commented on #4657
@rauljordan haven't encountered it since, seems like it's good now.

[2020-02-04 16:48] terencechain commented on #4702
I'm not working on this. Perhaps someone who has looked into this can comment further

[2020-02-04 16:50] rauljordan commented on #4657
Great, if it occurs again we just have to check the config values to resolve

[2020-02-04 16:50] #4657 closed

[2020-02-04 17:01] rauljordan commented on #4586
Hi @garyschulte we do have this prometheus metric live in our nodes, it is called `beacon_slot` here https://github.com/prysmaticlabs/prysm/blob/80248cd296d441121373b733d9d971f85057d8b5/beacon-chain/blockchain/metrics.go#L13

[2020-02-04 17:09] GuillaumeOcculy commented on #4673
@rauljordan I still have the error :

[code]

[2020-02-04 17:12] handelaar2 commented on #4586
@rauljordan Then it is lagging (at least for me). I refreshed my metric page and immediately took a screenshot.
beacon_slot here is 11 slots behind the "calculated genesis-seconds times 12" as shown by eth2stats

<img width="475" alt="Screenshot 2020-02-04 at 18 05 30" src="https://user-images.githubusercontent.com/28559038/73768542-7d7a3f80-4779-11ea-9190-f52ae8694815.png">

[2020-02-04 17:20] rauljordan commented on #4727
Struggling to reproduce as well - do you get the same results without the flag @garyschulteog ?

[2020-02-04 17:21] #4591 closed

[2020-02-04 17:21] #4605 closed

[2020-02-04 17:21] #4517 closed

[2020-02-04 17:21] #4652 closed

[2020-02-04 17:43] GuillaumeOcculy commented on #4673
@rauljordan
By the way I have several times this error on `beacon-chain`:

[code]

[2020-02-04 17:51] garyschulte commented on #4586
I noticed the same behavior.  I am charting beacon_slot and beacon_head_slot, and head slot does definitely lag for whatever reason.  Perhaps whatever code path that isemitting that metric is not being triggered during those periods

[2020-02-04 22:17] somuchid commented on #4723
lighthouse has some dashboards can be borrowed: https://github.com/sigp/lighthouse-metrics/tree/master/dashboards

[2020-02-04 23:51] garyschulte commented on #4723
true, but those dashboards are specific to the metrics that the lighthouse client emits.  This pr adds metrics that one could use to build a prysm-specific validator dashboard

[2020-02-05 00:29] prestonvanloon commented on #3696
This doesn't print the HTML rendering. I'll pick this up since it's simply plugging in the suggestions from my comment in october

[2020-02-05 00:31] terencechain commented on #3696
thanks @prestonvanloon

here's the code: https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/blockchain/info.go#L78

[2020-02-05 01:14] #3696 closed

[2020-02-05 17:15] rauljordan commented on #4604
Do we need to keep these deposits around always? Could we just read them at the time we see them, add the relevant data need to the in-mem trie, and then have them be garbage collected? Thoughts @nisdas

[2020-02-05 18:04] handelaar2 commented on #4586
This (already closed) issue has resolved itself via #4754

<img width="665" alt="2020-02-05_19-00-54" src="https://user-images.githubusercontent.com/28559038/73869137-12e50480-484a-11ea-919d-54676037d529.png">

It is ok now as can be seen in the screen print.
(I only observed a max of 1 slot behind the "ticker".

Thanks @terencechain

[2020-02-05 18:18] rauljordan opened #4756 "Include Validator Success Rate in ValidatorPerformanceMetrics Logs"
Thanks to some comments from members of our discord, displaying the overall success rate of a validator client every epoch (out of the assigned slots, how many have been successfully proposed/attested?). Maybe this could be split up by proposals or attestations and can be shown as a success percentage or a ratio.

[2020-02-05 18:33] rauljordan opened #4757 "Eliminate All Uses of Proto.Clone From Prysm"
Proto.clone is an extremely expensive method that we have taken great lengths to avoid in some recent refactors. However, a quick grep in Prysm shows it still being used significantly for various reasons, especially in certain helper functions and cached values in the beacon chain. Now, we have a bunch of custom copy functions in `beacon-chain/state/getters.go` that we can use instead of an expens

[2020-02-05 20:10] Gsuslu opened #4762 "Beacon node KILLED. Already 3 days."
[2020-02-05 20:12:56] ERROR sync: Failed to handle p2p pubsub error=block from slot 192882 is not a descendent of the current finalized block slot 192896,  != 0xbb4b6c7eba19
could not process block from fork choice service
github.com/prysmaticlabs/prysm/beacon-chain/blockchain.(*Service).ReceiveBlockNoPubsub
	beacon-chain/blockchain/receive_block.go:74
github.com/prysmaticlabs/prysm/beacon-chain/s

[2020-02-05 21:01] #4619 closed

[2020-02-05 23:29] prestonvanloon commented on #4673
I'm reopening this to try to capture a profile of a deadline exceeded on get attestation data or get block.

[2020-02-06 04:08] prestonvanloon commented on #4673
I have a feeling this happens when the user is requesting data which requires an epoch transition. Epoch transitions can often be expensive so I have been looking for ways to make it more efficient.  I've submitted #4766 which might help reduce the frequency of this issue.

I still haven't captured a CPU profile of the timed out API call, but hopefully soon.

I'll keep hunting for bottlenecks...

[2020-02-06 06:47] nisdas opened #4773 "Attestation Signature Does Not Verify"
A non-trivial amount of attestations fail with
[code]
This most likely is caused because of a bug in our aggregation code.

[2020-02-06 08:57] handelaar2 commented on #4586
Still different things I would say (my_headslot<>others_headslot<>slot_ticker). I guess we need to create our own additional value outside the metrics-page to be able to also track the "slot_ticker". Confusing.

<img width="701" alt="2020-02-06_09-43-50" src="https://user-images.githubusercontent.com/28559038/73920951-baa01800-48c6-11ea-98e0-174ff35760cc.png">

[2020-02-06 16:01] timmyers opened #4777 "panic: runtime error: integer divide by zero"
Beacon-chain encountered this error/crash during operation:

[code]

[2020-02-06 17:44] terencechain commented on #4777
Thanks, this is a good first issue. Will need a `0` check for the following line:

https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/sync/pending_attestations_queue.go#L102

[2020-02-06 17:45] terencechain opened #4781 "Top issues before multi client testnet"
- [x] Attestation signature fails to verify for fork choice accounting #4773
- [x] Increasing # of users reporting OOM #4813
- [x] A lot of forking showed on the block tree visualizer. Concerning given it's a testnet with artificially short block time
- [x] Dynamic subscription of committee subnet
- [x] Attester should submit attestation right away if head slot == current slot
- [x] Discv5 Infra s

[2020-02-06 19:08] prestonvanloon opened #4783 "fatal error: concurrent map read and map write"
Violation here

https://github.com/prysmaticlabs/prysm/blob/3388ab74cf9fa691307d723dda22153c42b2460d/beacon-chain/forkchoice/protoarray/helpers.go#L56

Full log: [log.txt](https://github.com/prysmaticlabs/prysm/files/4167269/message.3.txt)

Assigning to @terencechain as most recent code owner

[2020-02-06 19:23] #4730 closed

[2020-02-06 19:59] #4783 closed

[2020-02-06 20:37] #4250 closed

[2020-02-07 06:02] princesinha19 commented on #4543
@prestonvanloon should we remove `syncingPeers` count from here to make it less confusing?

[2020-02-07 06:44] princesinha19 commented on #4773
@nisdas I think this is duplicate of #4630

[2020-02-07 18:13] terencechain commented on #4757
Assigned to @garyschulte

Thanks for helping with this one! :)

[2020-02-07 20:20] Gsuslu commented on #4762
I did the beacon node from the beginning. Reboot server. Again a problem:

[2020-02-07 20:56:58]  INFO forkchoice: Executing state transition on block root=0xa253312e... slot=207563
[2020-02-07 20:56:59]  INFO blockchain: Finished applying state transition attestations=47 deposits=0 slot=207536
[2020-02-07 20:57:02]  INFO blockchain: Finished applying state transition attestations=49 deposits=0 sl

[2020-02-07 20:24] strictlymomo opened #4792 "API - gRPC internal server error for /blocks?epoch="
e.g. `https://api.prylabs.net/eth/v1alpha1/beacon/blocks?epoch=6482` provides a response of

[code]

[2020-02-07 20:29] prestonvanloon commented on #4792
Seems to be an issue in prod. This request works against a local server.

[2020-02-07 20:30] prestonvanloon commented on #4792
The response might be too large to handle. Still investigating...

[2020-02-09 07:01] zediir opened #4801 "panic: interface conversion during syn"
got
[code]
 during sync with --initial-sync-cache-state.

[2020-02-09 08:41] #4801 closed

[2020-02-09 16:35] mtbitcoin opened #4805 "Incorrect values returned for certain epochs using API ​/eth​/v1alpha1​/validators​/participation"
When using the api endpoint (validators/participation/) and with the node fully synched, certain epochs (for example : https://beacon.etherscan.io/epoch/1077) are returning what appears to be an incorrect error message

"Could not retrieve data for epoch 0, perhaps --archive in the running beacon node is disabled "

curl -X GET "https://api.prylabs.net/eth/v1alpha1/validators/participation?epoch=1

[2020-02-09 18:37] clabornd opened #4807 "Some output from beacone node dying"
Dunno what it means, but here's the output from the beacon node and validator, hope it helps.

Running on Ubuntu 16.04 LTS with docker containers.  Died after about 3 days.  Was restarted from an address that had been inactive for a while, and I was basically only getting negative %change in balance for the duration of it successfully running.

**Beacon Node**:

`goroutine 16215307 [semacquire, 12

[2020-02-10 14:35] nisdas opened #4813 "Initial Sync Cache State Leads to OOMs"
Using the ```initial-sync-cache-state``` flags leads to  OOMs when syncing blocks in a period without finality. This is as we cache the relevant fields of each state in a slot. Without finality there is no pruning of states, so all these fields are kept on the heap and leads to the heap size quickly ballooning.

A solution for this would be to handle periods without finality properly and not keep

[2020-02-10 14:38] nisdas opened #4814 "Nodes Should Send Goodbye Messages When Shutting Down"
Currently when we shut down our node, we just disconnect with all our peers at once. The proper way would be to send a goodbye message to them and then disconnect with them

[2020-02-10 14:44] nisdas opened #4815 "Separate Block Fetching from Processing"
In initial sync, currently block downloading and processing are tightly coupled together. However this leads to a penalty in our syncing speeds as we have to wait for other peers to return blocks back before being able to process them.

What we should be able to do is concurrently download blocks and also process them at the same time. What this will accomplish is allow us to seamlessly process on

[2020-02-10 14:49] nisdas commented on #4727
I dont think this should be an issue anymore, can you confirm it is resolved now ? @garyschulteog
For this, I think I have an idea for the OOM, at slot 166,000 we had a long period without finality. So running with ```initial-sync-cache-state``` can easily lead to your node storing 1000 states in memory which would have led your node seeing that OOM. This is being tracked in #4813

[2020-02-10 15:02] rauljordan commented on #4580
Done by @mcdee in #4590

[2020-02-10 15:02] #4580 closed

[2020-02-10 16:58] rauljordan commented on #4683
Hey @q9f closing for now, as this is resolved in current master thanks to @mcdee , see #4687

[2020-02-10 16:58] #4683 closed

[2020-02-10 17:03] rauljordan commented on #4673
Can this be closed @prestonvanloon ?

[2020-02-10 17:04] rauljordan commented on #2766
This was done by @shayzluf , closing

[2020-02-10 17:06] rauljordan commented on #4582
Hey @torfbolt we just resolved this thanks @nisdas in #4811, could you try again?

[2020-02-10 17:06] #4582 closed

[2020-02-10 17:16] rauljordan commented on #4773
Closing in favor of #4630

[2020-02-10 17:16] #4773 closed

[2020-02-10 17:27] rauljordan commented on #4630
Confirmed with @terencechain we are now `checking att sig at sync with committee index and public key and drop the bad attestation in sync versus letting the attestation getting in the pool` so this error will not come up anymore in sync as it did before.

[2020-02-10 17:27] #4630 closed

[2020-02-10 17:30] rauljordan commented on #4727
Closing in favor of #4813

[2020-02-10 17:30] #4727 closed

[2020-02-10 17:34] tzapu opened #4816 "AttestationPool grpc method results are not paginated"
The AttestationPool grpc method results are not paginated, and as the attestation pool is huge now, it s causing some issues to fetch it. even the http api seems to return an empty reponse https://api.prylabs.net/#/BeaconChain/AttestationPool

Also useful would be a call just to return the "in pool" counter, but if you paginate the call, then you can just get the counter from the first response...

[2020-02-10 19:15] rauljordan commented on #4673
Has not been seen in a while and unable to reproduce through local testing - closing

[2020-02-10 19:15] #4673 closed

[2020-02-10 19:59] rauljordan commented on #4738
Approved @renaynay! Please keep us posted on a PRD for this and if you need any more info regarding the bounty for now.

[2020-02-11 01:59] rauljordan commented on #4813
Can we close this @nisdas now that we're deleting states after init sync?

[2020-02-11 08:45] mondsen opened #4829 "beacon-chain fatal error: concurrent map iteration and map write"
I am running on a 2x vCPU (VPS) with 4 GB RAM in Docker. My node crashed after roughly 17h with the fatal error: concurrent map iteration and map write.

Full log for my node (see line 252409)
[log.zip](https://github.com/prysmaticlabs/prysm/files/4184722/log.zip)

[2020-02-11 16:24] rauljordan commented on #4814
Is this solved @nisdas ? I recall we just merged in a PR regarding a panic in the goodbye message

[2020-02-11 16:24] rauljordan commented on #4703
This hasn't been seen in a long time, closing unless it becomes an issue in the node

[2020-02-11 16:24] #4703 closed

[2020-02-11 16:25] nisdas commented on #4814
hey no @rauljordan not yet, that PR was just to fix a panic when receiving goodbye messages

[2020-02-11 18:08] prestonvanloon commented on #4829
Relevant logs:
[code]

This will be fixed in #4833

[2020-02-11 18:49] prestonvanloon commented on #4813
I'm not entirely sure this is resolved by #4817. If users are crashing OOM during init sync, then the problem is not resolved by #4817.

[2020-02-11 19:18] #4816 closed

[2020-02-11 19:33] prestonvanloon commented on #4582
FYI #4811 was reverted in #4825

[2020-02-11 19:52] somuchid commented on #4781
some validators are penalized while some are rewarded {{4589}}

[2020-02-11 20:46] rauljordan opened #4836 "Rework Slasher Architecture for Maintainability and Speed"
Hi all,

This is a tracking issue that revisits the current [slasher project](https://github.com/prysmaticlabs/prysm/tree/master/slasher) in Prysm in order to increase its code health and performance through good tests, separation of concerns, and carefully thought out design decisions. Currently, slasher lacks enough tests, does not follow the code health patterns we use in the beacon node or val

[2020-02-12 03:07] shayzluf commented on #4836
@rauljordan about `We can have an easier way of tracking in the DB if a validator index has committed double votes by having a schema such as: validatorIdx + epoch => []attDataRoot, check if > 1, then true`
we can replace  attestations keys in #4832 with attDataRoot and add attDataRoot to indexed attestation key for quick lookup in case slashing offence was committed

[2020-02-12 04:58] prestonvanloon commented on #4829
This is still happening in commit 0882908d2c9587d6a88a9d3cd45b7f0448b8329a.

[code]

[2020-02-12 08:52] torfbolt commented on #4295
Still seeing this quite regularly in the latest docker images after #4740. It seems to happen often enough that my validator has a net negative reward.

[2020-02-12 13:32] mangoleap opened #4842 "Beacon chains dying"
I have to chains running on different architectures, both are dying at the same progress right now. I don't know where's the start / end on these logs so I copied a lot for you guys:

[code]

[2020-02-12 15:36] mangoleap opened #4843 "Initial sync not possible due to "invalid memory address or nil pointer dereference""
[code]

[2020-02-12 17:58] strictlymomo commented on #4792
Attaching some additional data here. Thanks for your help in advance.

![Screen Shot 2020-02-12 at 12 46 01 PM](https://user-images.githubusercontent.com/8671427/74361945-c479bd80-4d95-11ea-8b3e-db8157d153da.png)

[2020-02-12 19:36] GuillaumeOcculy opened #4846 "panic: failed to send request to peer: max dial attempts exceeded"
This is what I got when I ran `docker run -d -it -v $HOME/prysm:/data -p 4000:4000 -p 13000:13000 --name beacon-node   gcr.io/prysmaticlabs/prysm/beacon-chain:latest   --datadir=/data` :

[code]

[2020-02-12 19:52] prestonvanloon commented on #4842
I am pretty sure this is a duplicate of #4783. Can you try with the latest master / docker image and reopen this issue if you have further problems?

Thanks

[2020-02-12 19:52] #4842 closed

[2020-02-12 21:20] prestonvanloon commented on #4807
I think this is a duplicate of #4829. Please download the latest master or docker image and reopen if you are still experiencing issues.

[2020-02-12 21:20] #4807 closed

[2020-02-13 18:56] prestonvanloon commented on #2766
This was not done.

https://github.com/prysmaticlabs/prysm/blob/c44a30672eede4690de662bab71c70cb3a0abdea/beacon-chain/rpc/validator/proposer.go#L83-98

[2020-02-13 19:11] shayzluf commented on #2766
it was done here https://github.com/prysmaticlabs/prysm/blob/29aff0fdb8f1b93b6ed3e7982e1524ca419b6fbb/beacon-chain/rpc/validator/proposer.go#L82 will pick the relevant changes and create a new PR

[2020-02-13 22:34] prestonvanloon commented on #2766
Related ##4836

[2020-02-13 22:40] prestonvanloon commented on #4836
Please add #2766 to this task.

[2020-02-14 00:54] prestonvanloon commented on #4843
Hi @mangoleap, which version or commit of Prysm did this error occur?

[2020-02-14 01:03] #4757 closed

[2020-02-14 01:17] somuchid opened #4859 "increase decimal point of validator metric validator_balance"
right now it is only one decimal point such as 3.2 eth. It can't show the tiny change of each reward / penalty given. please show the whole number of balance.

[2020-02-14 13:44] somuchid commented on #4859
Change looks good. Thanks a lot.

[2020-02-14 13:44] #4859 closed

[2020-02-14 15:22] garyschulte opened #4864 "Validator with inactivate keys will panic when reporting metrics"
On a validator with 11 keys total - 10 active and 1 inactive, I get the following stack trace and panic when reporting epoch metrics:

[code]

It appears that the validator is expecting all queried keys to be in the response from the beacon chain at validator/client/validator_metrics.go:78. but it looks though only active validators are being returned in the response

[2020-02-14 16:59] #4864 closed

[2020-02-14 19:01] rauljordan opened #4868 "Deprecate BeaconState Protobuf before v0.10 Network Restart"
Hi all,

Currently our beacon state is a wrapper around an old beacon state protobuf object as we did not want to break backwards compatibility and old chain DB's. In preparation for a network restart, we should deprecate our old beacon state protobuf completely and just use the new state for everything in the beacon chain.

[2020-02-14 19:34] renaynay commented on #4738
Still working on PRD with Ramin. Talked to @prestonvanloon a couple days ago and we should have a PRD by end of next week.

[2020-02-14 19:57] prestonvanloon commented on #2849
Reopening this as we still have cross compile issues.

[2020-02-14 20:03] prestonvanloon commented on #2849
I have this script to build and upload multiple platform binaries here: https://gist.github.com/prestonvanloon/32fdec43aba8bd96c656739ada69a23e#file-build_and_upload-sh

To consider this issue resolved, we should be able to run the above script on linux and successfully build all four targets:

Host machine: linux amd64

Targets:
- linux amd64
- linux arm64
- darwin amd64
- windows amd64

[2020-02-15 14:53] KuDeTa commented on #4829
[PrsymaticFanboyDebugLog.txt](https://github.com/prysmaticlabs/prysm/files/4208602/PrsymaticFanboyDebugLog.txt)

Image | gcr.io/prysmaticlabs/prysm/beacon-chain:latest@sha256:20046246d79d74bcb07db54390a3feb477d2a365472797831d6857322f8f52ba
-- | --
CMD | --datadir=/data  --p2p-host-ip=5.42.129.6 --web3provider=ws://goerli-node:9546/  --http-web3provider=http://goerli-node:9545/ --p2p-max-peers 120

[2020-02-15 18:02] prestonvanloon commented on #4829
I think that is an old image @KuDeTa. Can you update to a more recent image? I believe this has been resolved.

[2020-02-15 18:02] #4829 closed

[2020-02-15 18:18] prestonvanloon commented on #4868
This might complicate database storage as all of our database objects are protobuf messages. One requirement is that ssz.Encode is significantly faster than proto.Marshal.

At the moment, with a generic ssz.Marshal, we could not move forward on this.

[code]

Marking this as blocked until we have a custom SSZ #4738 and we have updated benchmarks to compare.

[2020-02-16 11:09] KuDeTa opened #4874 "panic: bitlists are different lengths"
[2020-02-16 04:30:52]  INFO sync: Requesting parent block currentSlot=267714 parentRoot=2fadb24ae0ae
panic: bitlists are different lengths

goroutine 191 [running]:
github.com/prysmaticlabs/go-bitfield.Bitlist.Overlaps(0xc03a8afb00, 0x11, 0x11, 0xc03b8e40c0, 0x11, 0x11, 0x7e)
	external/com_github_prysmaticlabs_go_bitfield/bitlist.go:148 +0x1cd
github.com/prysmaticlabs/prysm/beacon-chain/core/helpe

[2020-02-16 16:07] KuDeTa opened #4875 "panic: runtime error: integer divide by zero"
[2020-02-16 01:24:16]  WARN blockchain: Could not receive attestation in chain service aggregationCount=40 beaconBlockRoot=0x9637ba8b4fa7 committeeIndex=3 error=head at slot 266784 with weight 10119 is not eligible, finalizedEpoch 8335 != 8335, justifiedEpoch 8336 != 8337
could not process attestation
github.com/prysmaticlabs/prysm/beacon-chain/blockchain.(*Service).ReceiveAttestationNoPubsub
	bea

[2020-02-16 16:56] prestonvanloon commented on #4875
Duplicate of #4777

[2020-02-16 16:56] #4875 closed

[2020-02-16 16:57] prestonvanloon commented on #4777
Any update @aranhaagency?

[2020-02-16 17:18] #4874 closed

[2020-02-16 20:58] aranhaagency commented on #4875
Hi @prestonvanloon, I'm waiting for the review of the pull request.

[2020-02-17 08:29] shayzluf opened #4882 "[Mega Tracking] Fuzz test core packages"
As part of improving the project resiliency we should fuzz test core package to detect possible panics.

- [x] blocks #4907
- [ ] epoch
- [ ] feed
- [ ] helpers
- [x] state #4883
- [ ] validators

[2020-02-17 10:03] guybrush opened #4884 "API: eligibleEther != sum(valiadtorList[].validator.effectiveBalance)"
If I am understanding the API correctly `/eth/v1alpha1/validators/participation.participation.eligibleEther` should be the same as the sum of all effective balances of active validators (`/eth/v1alpha1/validators.validatorList[].validator.effectiveBalance`)?

But using this program to connect to my beacon-node it looks like that is not the case?

Output:
[code]

<details><summary>Program</summary>

[2020-02-17 11:06] Buttaa opened #4885 "Make `--gc-percent=x` adapt dynamically"
Memory spikes usually occur when syncing blocks without finality - where gc percent is required.
Would be a nice feature if gc percent adapts dynamically during these blocks (e.g 100->10)

[2020-02-17 12:51] GuillaumeOcculy opened #4886 "ERROR powchain: Could not connect to powchain endpoint error=EOF"
I pulled the last image with `docker pull gcr.io/prysmaticlabs/prysm/beacon-chain:latest`

This is what I receive when I run :
[code]

[code]

[2020-02-17 15:58] mangoleap opened #4887 "runtime error: invalid memory address or nil pointer dereference"
Latest docker image. Happens on initial sync right after connecting to peers.

[code]

[2020-02-17 18:21] #4887 closed

[2020-02-17 19:15] prestonvanloon commented on #4884
Hey @guybrush!

The issue here is that there are 7 exited validators and you are not excluding their effective balance in your calculation of `totalEffectiveBalance`. https://beaconcha.in/validators#exited

To put it more concisely from the Ethereum 2.0 spec. You are using logic from [get_total_balance](https://github.com/ethereum/eth2.0-specs/blob/master/specs/phase0/beacon-chain.md#get_total_bal

[2020-02-17 19:41] har00ga opened #4891 "Tracking: Troubleshooting tips for documentation"
Hey folks,

This is a tracker issue to maintain an ongoing list of problems that users frequently run into while setting up Prysm and its related tooling. The aim is to compile them into 'Troubleshooting' and 'Useful tips' pages in the [documentation portal](https://docs.prylabs.network) and hopefully simplify the process of finding answers for repeat questions.

I'll be going through tickets toda

[2020-02-17 19:54] har00ga commented on #4734
By suggestion of @prestonvanloon: Include documentation for running and syncing a eth1 node on port 8545 and 8546 and use flags `--http-web3provider=localhost:8545` and `--web3provider=localhost8546`. Include link to go-ethereum documentation on eth1 node setup.

[2020-02-18 03:12] rauljordan commented on #4886
Hi @GuillaumeOcculy looks like the powchain was having some errors (our goerli nodes that we run aren't that great, so a few restarts to reattempt should work). Let us know if you are still facing the issue.

[2020-02-18 03:14] rauljordan commented on #4589
We consider this resolved, looking at the validator leaderboard, almost everyone is a net positive across the board: https://beaconcha.in/validators/leaderboard. We can close this unless it is still a significant problem.

[2020-02-18 03:14] #4589 closed

[2020-02-18 03:17] rauljordan commented on #4450
This is no longer necessary with the cold/hot state management, as archival nodes will be deprecated anyways and we'll have all the blocks needed to replay any states we want, even forked ones.

[2020-02-18 03:17] #4450 closed

[2020-02-18 03:23] rauljordan commented on #4756
We can close this right @terencechain

[2020-02-18 03:25] rauljordan commented on #4762
Hey @Gsuslu what specs are you running this on? Can you hop on our discord server and chat about it? https://discord.gg/x6SRFB8 we believe the `Killed ` message happens when you run on very weak hardware such as raspberry pi's with SD cards that cannot handle the beacon node process.

[2020-02-18 03:27] rauljordan commented on #3133
Closing this in favor of #4836

[2020-02-18 03:27] #3133 closed

[2020-02-18 03:29] #4777 closed

[2020-02-18 04:57] rauljordan commented on #4222
This is a really great first issue for our new teammate @farazdagi to get involved in the repo. To outline some of the requirements a bit more, our [validator client](https://github.com/prysmaticlabs/prysm/tree/master/validator) currently uses a `keymanager` interface created by @mcdee [here](https://github.com/prysmaticlabs/prysm/blob/40afef8b9e076fed4200f2aaa1cb2ab7c46b5b57/validator/keymanager/

[2020-02-18 04:58] rauljordan commented on #4222
It is also useful to sometimes add benchmarks for validating assumptions for a feature such as this. Perhaps an encrypted keystore rescan might be really expensive to do compared to a direct, unencrypted keymanager, and those numbers could come in handy if needed.

[2020-02-18 05:03] rauljordan commented on #4815
This code concerns the round robin initial sync process written [here](https://github.com/prysmaticlabs/prysm/blob/40afef8b9e076fed4200f2aaa1cb2ab7c46b5b57/beacon-chain/sync/initial-sync/round_robin.go#L210) which basically requests blocks and then sequentially processes them through the block processing pipeline. This prevents us from requesting more blocks until processing is complete. An approa

[2020-02-18 05:26] shayzluf commented on #4836
@rauljordan @0xKiwi

could be completely removed as we seem to be able to detect both using span maps

[2020-02-18 08:31] guybrush commented on #4884
Ah sorry I did not make clear what I am trying to check with my program.

`activeEffectiveBalance` should be the same as `eligibleEther`

`totalEffectiveBalance` is just for debugging.

I updated my program and also checked epochs which do not include exited validators:

Output:
[code]

Program:
[code]

[2020-02-18 09:45] torfbolt opened #4900 "Multi-Arch docker images"
It would be great if the automatic docker build process could be expanded for multi-arch images, something like this:
https://www.docker.com/blog/multi-arch-images/

This way people with ARM machines could use the latest client versions and help testing the bleeding edge.

[2020-02-18 09:51] torfbolt commented on #4886
How much overhead is it to run a local goerli node? Would it make sense to build e.g. a docker-compose config for this so people can easily run their own powchain node?

[2020-02-18 10:21] mcdee commented on #4222
Note that rescanning for information has traditionally been carried out on receipt of a signal in unix land  (commonly SIGHUP); having a user-initiated rescan will cut down on the amount of unnecessary work the validator has to do.

Perhaps this could be an RPC call in to the validator (if the validator even has an RPC interface)?

[2020-02-18 10:34] farazdagi commented on #4222
Idea of having user-initiated rescan is definitely something to keep in mind. It definitely will work quite well with the naive/resource intensive approach to rescan (since we, supposedly, don't have unnecessary runs, our process might be relatively expensive).

Once I get my head around the validator's code better (and have benchmarks), will get back with more sensible comment.

[2020-02-18 15:37] rauljordan commented on #4756
Bump on this one @terencechain

[2020-02-18 15:39] #4756 closed

[2020-02-18 17:13] GuillaumeOcculy commented on #4886
@rauljordan I just pulled and ran the command again. I'm not facing this error anymore.

[2020-02-18 17:19] GuillaumeOcculy commented on #4685
@rauljordan I'm still facing this error.

[2020-02-18 21:10] #4813 closed

[2020-02-18 22:20] #4886 closed

[2020-02-20 17:40] renaynay commented on #4738
I am having a call with Raul tomorrow to discuss the PRD.

[2020-02-20 17:46] terencechain opened #4916 "Update attestation inclusion percentage log to use percentages"
Validator log where it says `attestationInclusionPercentage=1.00 correctlyVotedHeadPercentage=0.00 correctlyVotedSourcePercentage=1.00 correctlyVotedTargetPercentage=1.00` should be percentage `100%` not decimal point `1.00`

Opening this issue to update the log to percentage presentation.
Here is the line:
https://github.com/prysmaticlabs/prysm/blob/master/validator/client/validator_metrics.go#L1

[2020-02-20 21:10] #2766 closed

[2020-02-21 16:55] tsudmi opened #4923 "Invalid activation epoch calculation"
Hi,

It looks like there is a problem with `activation_epoch` calculation when running with `--minimal-config`. Its Unix timestamp is behind `inclusion_slot` timestamp when the validator is in `PENDING` status. As soon as the validator moves to `ACTIVE` status, its `activation_epoch` is set correctly.

I've seen that issue in [#4623](https://github.com/prysmaticlabs/prysm/issues/4623#issuecomment-

[2020-02-22 04:06] nisdas commented on #4815
This is the current design doc for this issue:
https://docs.google.com/document/d/1mm__vLgJfkq25iryIAqWNSgFNfaXqU2tM7P31e8jyf8/edit?usp=sharing

[2020-02-22 21:41] zediir opened #4927 "Aggregated voting summary includes validators that haven't been activated yet"
Aggregated voting summary should probably not include validators that could not have made attestations during the epoch. Or it's missing some active ones. The following summary should have 10 active and 10 waiting to be activated (some having deposit included, some waiting for deposit inclusion). So if it was the active 10 the percentages should be multiples of 0.10.

[code]

[2020-02-22 23:30] terencechain commented on #4927
Thanks for reporting this. If you dont mind, can you give #4928 a try?

[2020-02-23 02:39] prestonvanloon opened #4929 "Attestation pool grows to large size"
![Screenshot from 2020-02-22 18-38-29](https://user-images.githubusercontent.com/7246818/75102567-928d0600-55a2-11ea-95b6-da714838bc21.png)

Some nodes are reporting as high as 300k+ attestations in the pool. This is causing instability issues in the testnet over the last few days.

[2020-02-23 02:49] prestonvanloon commented on #4929
This is not just a reporting issue. The value, number of attestations in pool, is derived from len(atts).

https://github.com/prysmaticlabs/prysm/blob/5db8c5ad0c9f85f0a5ce3d2eaaf18b63563a6f27/beacon-chain/rpc/beacon/attestations.go#L260

[2020-02-23 02:51] prestonvanloon commented on #4929
This may be a regression from #4904.

[2020-02-23 02:57] prestonvanloon commented on #4929
Temporary workaround is to restart your beacon node. Lowering priority.

[2020-02-24 07:39] handelaar2 opened #4935 "Validator log: inclusion_slot + inclusion_distance incorrect"
Two issues with the new voting summary in the validator log.

**Issue one (where correctlyVotedHead=true)**
InclusionSlot seems wrong. The inclusionSlot does not match the "calculation": inclusion slot - assigned slot = distance as provided by @terencechain in a discord chat.
The value of the inclusionSlot is from 'some' previous epoch.
326077-326127= -50  (!=1)
An inclusion cannot take place prio

[2020-02-24 14:36] terencechain commented on #4935
issue 2 is fine. 0 would not make more sense since it refers to genesis slot hence we refer to use max int for missed.

[2020-02-24 14:39] terencechain commented on #4935
issue 1 is something to look at and it seems cosmetic at first glance

[2020-02-24 16:18] #4929 closed

[2020-02-24 16:28] #4927 closed

[2020-02-24 17:44] rauljordan commented on #3898
This is something perhaps @farazdagi should keep in mind while designing the block processor in initial sync

[2020-02-24 17:45] rauljordan commented on #4734
Adding Go coding conventions specific to Prysm (maybe like a Prysm style guide) would be nice to our docs. See: https://github.com/prysmaticlabs/prysm/issues/2311. We could have specific guidelines as to how we write tests, how we define new services in Prysm, how to define a new API endpoint, etc.

[2020-02-24 17:46] rauljordan commented on #2311
Closing in favor of https://github.com/prysmaticlabs/prysm/issues/4734

[2020-02-24 17:46] #2311 closed

[2020-02-24 17:46] rauljordan commented on #4604
Bump @nisdas is this still relevant?

[2020-02-24 17:46] rauljordan commented on #4843
Hi @mangoleap just a follow-up on this - are you still seeing this issue? Is it still reproducible if you try to sync?

[2020-02-24 17:50] farazdagi commented on #4815
note (to myself): when working on block processing it is worth reviewing the #3898

[2020-02-24 21:15] GuillaumeOcculy opened #4939 "ERROR validator: Could not request attestation to sign at slot error=rpc error: code = DeadlineExceeded"
I still got this error after running :
[code]

[code]

[2020-02-25 23:08] garyschulte commented on #2849
I am working on a cross-compiling docker container and toolchains that will support cross compiling arm64, darwin and windows from any x86-64 machine that has docker installed.

So far I have docker images and toolchain branches for :
 * arm64/linux/clang10 -> successfully builds prysm beacon-chain and validator
 * x86_64/darwin/clang9 -> partial success;  builds bls target but failing on beacon a

[2020-02-25 23:11] SuburbanDad commented on #2849
I am working on a cross-compiling docker container and toolchains that will support cross compiling arm64, darwin and windows from any x86-64 machine that has docker installed.

So far I have docker images and toolchain branches for :

arm64/linux/clang10 -> successfully builds prysm beacon-chain and validator
x86_64/darwin/clang9 -> partial success; builds bls target but failing on beacon and val

[2020-02-26 00:25] prestonvanloon commented on #2849
Awesome progress @SuburbanDad.

If possible, can you check in the ARM build? We can start providing arm64 docker images sooner

[2020-02-26 00:54] SuburbanDad commented on #2849
I will get it into a committable state tonight and publish the MVP docker cross compiler image :+1:

[2020-02-26 17:20] renaynay commented on #4738
PRD approved Friday, now working on implementation

[2020-02-26 21:16] prestonvanloon opened #4952 "Tracking: Delete deprecated SubmitAggregateAndProof"
PR #4951 deprecates the old SubmitAggregateAndProof aggregator RPC.

This old method should be deleted at a later date after validator clients have stopped using it.

[2020-02-27 02:14] superphiz opened #4955 "One validator key with an incorrect password causes all to fail"
When launching the validator client with three validator keys, one had a password that was not provided correctly and the validator failed with:

`ERROR main: could not get private key: could not decrypt key with given passphrase`

The ideal behavior is that the validator would continue to validate for keys with the correct passphrase while aggressively reporting the warning for the key(s) with in

[2020-02-27 05:16] imnisen opened #4957 "Deposit_Data fields defined as slice or array differs in ssz type"
I have a question about the **ssz** `hash_tree_root` implementation used in function `DepositInput `:
https://github.com/prysmaticlabs/prysm/blob/76aad0f44414b53d647a7e40bf65acb88f52d415/shared/keystore/deposit_input.go#L25

When calculating the `hash_tree_root` of the `DepositMessage`,  as the [spec](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/beacon-chain.md#depositmessage)  s

[2020-02-27 05:45] nisdas commented on #4957
Hey @imnisen , we use `ssz` tags on our proto objects. Since protobufs do not allow for fixed sized arrays, we have to add tags to specify what length the arrays are going to be. We do not specify them in the [ethereum-apis](https://github.com/prysmaticlabs/ethereumapis) repo, but instead add them in the patch over here:
https://github.com/prysmaticlabs/prysm/blob/master/third_party/com_github_pry

[2020-02-27 06:36] imnisen commented on #4957
That's great! I didn't see it before.

[2020-02-27 06:36] #4957 closed

[2020-02-27 19:01] terencechain opened #4958 "Mega tracking - state management service"
Opening this up to track state management service related todos

### Local setup checks
- [x] eth1 mock RPC with 64 validators with finality over 100 epochs
- [x] eth1 mock RPC with 16384 validators with finality over 100 epochs
- [x] Verify one can query historical state with eth1 mock RPC setup. From genesis epoch to latest epoch
- [x] Check profiling for the above

### Cluster checks
- [x] Veri

[2020-02-28 14:50] handelaar2 opened #4964 "Beacon stuck processing same slot"
Using Latest:
 af5cc31565629f3e766b11caf7d8a7560d6c8901. Built at: 2020-02-28 01:28:46+00:00

running with following feature flags:
--enable-ssz-cache
--enable-byte-mempool

<img width="1660" alt="2020-02-28_15-22-13" src="https://user-images.githubusercontent.com/28559038/75557965-50037780-5a41-11ea-9922-c891ea354168.png">

The Beacon got stuck processing slot 357060.
After trying the same slot f

[2020-02-28 17:24] terencechain commented on #4958
Fun fact. With the new state mgmt service and comparing to latest beacon node. The new state mgmt service uses 70% less on TotalAlloc  reported by memstats. TotalAlloc tracks the cumulative bytes allocated for heap objects. I think this is heading towards the right direction

[code]

[2020-02-29 22:19] torfbolt opened #4969 "Beacon client repeatedly processing slots during init sync"
The latest beacon client (af5cc31565629f3e766b11caf7d8a7560d6c8901) processes each block lots of times before moving on to the next one during init sync:

[code]

This is unexpected and looks like a regression to me, earlier versions did not do this.

Edit: After restarting the client it continued syncing with the normal 1 log message per slot.

[2020-02-29 22:34] torfbolt opened #4970 "Beacon client crashed with OOM during init-sync"
Beacon client (af5cc31565629f3e766b11caf7d8a7560d6c8901) showed the following behavior (repeatedly, every time):
- Started init sync normally (with existing DB)
- After some minutes it dropped most of the peers
- After ~2min some peers were reconnected
- Then there was a sudden surge in memory usage and it crashed, presumably due to my docker memory limit of 8G

[code]

[2020-03-02 08:48] SuburbanDad commented on #2849
PR submitted for all four working targets.  🎉

[2020-03-02 15:20] tzapu opened #4980 "adding full public key to validator metrics"
any chance of adding the full public key in a validator's metrics?
currently as an example it's `validator_balance{pkey="0xb4ad7f637c163efd"} 3.195840341`

or maybe some other way (api call) to get what the public key of a validator s running instance is?
cheers

[2020-03-03 07:44] guybrush opened #4986 "gRPC panicked! runtime error: index out of range with length 0"
I got this with a07e604e

[code]

[2020-03-03 09:05] Buttaa opened #4987 "Show overall validator results instead of epoch specific"
![image](https://user-images.githubusercontent.com/26490734/75759878-90f7d680-5d36-11ea-9cb5-04870804b289.png)

[2020-03-03 10:10] handelaar2 commented on #4964
Also happens with commit: a07e604eeacc9dd95705318fd92a1c7b5a2a1b42

<img width="1652" alt="2020-03-03_11-09-02" src="https://user-images.githubusercontent.com/28559038/75765218-7413d100-5d3f-11ea-98e9-827c9c0cfa18.png">

[2020-03-03 11:15] terencechain commented on #4987
I think we can show one for previous epoch and one for progression since starting up. Prev epoch stats is still useful imo

[2020-03-03 11:54] handelaar2 opened #4990 "ERROR gRPC panicked! error=runtime error: index out of range"
During startup of beacon
commit: 703ce63c12ba3304f28d68cd4b8c6d49e8fdbe2b. Built at: 2020-03-03 10:03:17+00:00

[beacon.log](https://github.com/prysmaticlabs/prysm/files/4281097/beacon.log)

flags used:
--enable-ssz-cache
--enable-byte-mempool
--check-head-state

@mcdee Is this a different from #4968 ? (because if not, the error is still there)

[2020-03-03 12:00] guybrush commented on #4986
relevant: #4990

[2020-03-03 12:13] handelaar2 commented on #4990
Closed this issue because @guybrush already opened the same

[2020-03-03 12:13] #4990 closed

[2020-03-03 21:21] tzapu commented on #4980
this is sorted, cooooool

[2020-03-03 21:21] #4980 closed

[2020-03-04 05:06] har00ga commented on #4734
@rauljordan Is there relevant links / issues I should be looking to parse for this information?

[2020-03-04 10:25] tzapu opened #4998 "keymanageropts path not being expanded"
if you use
`--keymanageropts='{"path":"~/prysm-keys/","passphrase":"changeme"}' `
you might expect prysm to use the homefolder for ~, instead it will create a `'~'` folder in the current path and use that

[2020-03-04 10:37] mcdee commented on #4998
The single quotation mark tells the shell not to expand anything inside it.

There are a couple of ways around this.  One would be to have a file instead of supplying the data directly on the command line, for example: `--keymanageropts=~/opts.json` and then have a file at `~/opt.json` that contained:

[code]

This has the benefit of not making your passphrase visible to anyone with access to the

[2020-03-04 10:45] tzapu commented on #4998
cool, the first option looks interesting.
wanted to flag me because i wasted a lot of time trying to find out why multiple validator keys were not loaded because they were in the "wrong" folder and I can see how someone else would run into this as well

[2020-03-04 10:49] mcdee commented on #4998
We're in the process of transition from old-style to new-style functionality so there are some rough edges.  I'll add in a check when seeing a path with shell-type characters (~ or $) in it to warn of this condition.

[2020-03-04 11:37] tzapu commented on #4998
sounds great. feel free to close this or i can if you want

[2020-03-04 11:38] mcdee commented on #4998
Let's hold it open to remind me to do the work :smile:

[2020-03-04 17:31] tzapu opened #5002 "validator node not providing feedback when a secondary key's status changes"
i might be completely off base on this one, but the following seems to happen:
- assuming one key active 0x0000 and one just created but deposit not sent yet 0x1111
- WaitForActivation runs and returns as soon as it can do something which results in logs for 0x0000 as active and 0x1111 as UNKNOWN_STATUS
- send deposit for 0x1111, no feedback in logs
- wait some more, still no mention of any change

[2020-03-04 18:34] #4998 closed

[2020-03-05 01:15] prestonvanloon opened #5008 "Cannot build validator for Windows"
[code]

[2020-03-05 01:26] prestonvanloon commented on #2849
Update: @SuburbanDad's PR meets all of the requirements of the bounty. In PR review, I asked if we could make use of bazel's remote build execution and/or docker sandbox. Over a few days of offline discussion, @SuburbanDad and I were able to connect the plumbing from PR #4945 into the bazel RBE and bazel docker sandbox functionality for cross compile.

So far, we are able to cross compile and conf

[2020-03-05 13:59] tzapu commented on #5002
i played a bit with adding this, but got nowhere, it would need adding a batch version of `https://api.prylabs.net/#/BeaconNodeValidator/ValidatorStatus` or maybe a non blocking `WaitForActivation` request instead of stream so a bit more than my current skill

[2020-03-05 14:17] handelaar2 commented on #4964
The same happened today with commit: 5961aaf588e2037164a236d744ebdf3a6774ed24. Built at: 2020-03-05 07:37:28+00:00
Active flags:
--enable-ssz-cache
--enable-byte-mempool
--check-head-state

<img width="1633" alt="2020-03-05_15-13-57" src="https://user-images.githubusercontent.com/28559038/75989870-4c199e80-5ef4-11ea-8ca5-ea900ca1fba0.png">

(This time, slot 400159)

[2020-03-05 15:11] tzapu commented on #5002
maybe another option is to add all statuses to `https://api.prylabs.net/#/BeaconNodeValidator/GetDuties` currently, if deposited, it looks like it returns `status=UNKNOWN_STATUS`

[2020-03-05 15:23] tzapu commented on #5002
added a very naive pull request to log the statuses when they change and also add them to metrics
https://github.com/prysmaticlabs/prysm/pull/5013

out of ideas, the GetDuties thingy will still print out wrong tho...

[2020-03-05 16:32] SuburbanDad opened #5014 "Validator balance metrics misattributed by key"
I have noticed a sawtooth pattern in the validator balances chart in my local grafana.  It looks like balances are being misattributed by key in the logs and metrics.  When you have balances that are significantly different, what ends up happening is a sawtooth chart that looks something like this:
<img width="417" alt="Screen Shot 2020-03-05 at 8 30 21 AM" src="https://user-images.githubuserconte

[2020-03-05 16:41] SuburbanDad commented on #5014
This behavior became quite apparent on 2/29 when I made an additional deposit so I could have a validator with an effective balance of 3.2.  Note: there is only one pub key with an effective balance over 3.2:

<img width="1756" alt="Screen Shot 2020-03-05 at 8 39 38 AM" src="https://user-images.githubusercontent.com/61096102/76003580-1d340600-5ebd-11ea-97d0-0283979861ed.png">

[2020-03-05 16:58] rauljordan opened #5015 "Fix Critical Race Condition Bug at Genesis"
Hi all,

Currently in our blockchain service, we have two important goroutines that happen when the node first kicks off. One begins listening for incoming attestations, and the other begins listening for the genesis state to be initialized. The former depends on a **one time event** fired by the latter. Given the two are launched as goroutines at the same time, there's a high likelihood (reproduc

[2020-03-05 16:59] #2849 closed

[2020-03-05 17:56] terencechain commented on #5014
Asked on discord but also posting here and it doesn't get lost:
https://discordapp.com/channels/476244492043812875/476588476393848832/685180034323054695

[2020-03-05 19:50] SuburbanDad commented on #5014
This issue appears to be fixed by  #4968

[2020-03-05 19:50] #5014 closed

[2020-03-05 21:14] prestonvanloon commented on #2849
@ceresstation This is good to go! Please release the bounty to @SuburbanDad

[2020-03-05 21:20] #5015 closed

[2020-03-06 06:18] prestonvanloon commented on #5008
Closed in #5010

[2020-03-06 06:18] #5008 closed

[2020-03-06 06:25] prestonvanloon commented on #4900
We're providing precompiled binaries with every release starting with tag v0.3.2.

Building ARM images should work with the following command
[code]

[2020-03-06 06:29] prestonvanloon commented on #4900
Actually, I just tried the above command and the result was
[code]

In any case, you could copy the release files into an ARM64 based image and that would satisfy the use case I think.

I'll leave this open now to consider adding this automatically in our continuous integration pipeline.

[2020-03-06 06:30] prestonvanloon commented on #4884
@rauljordan can you take a look at this?

[2020-03-06 06:31] prestonvanloon commented on #4987
Assigning to @terencechain for now.

@terencechain please triage appropriately.

[2020-03-06 06:32] prestonvanloon commented on #4986
Are you also running eth2stats client?
Did this error occur while syncing?

[2020-03-06 06:33] prestonvanloon commented on #4970
@nisdas has this been resolved?

[2020-03-06 06:34] prestonvanloon commented on #4969
@farazdagi could you please take a look. Is this related to your recent changes?

[2020-03-06 06:35] prestonvanloon commented on #4964
Looks like `--enable-ssz-cache` is still causing issues.

@rauljordan, what do you think?

[2020-03-06 06:36] prestonvanloon commented on #4955
@mcdee Do you have any input/ideas about this issue?

[2020-03-06 06:38] prestonvanloon opened #5022 "Feature flag cleanup for mainnet release"
As part of the next testnet restart, let's clean up and remove any deprecated feature flags.

[2020-03-06 06:42] prestonvanloon commented on #4939
These issues are very difficult to identify root cause. In short, the beacon chain node took too long to generate the attestation data to sign.

We should take a look at these deadlines to see if they could be tweaked. Currently, the client requires the request to complete within the same slot. Maximum of 12 seconds.

Another idea would be to retry this request repeatedly until the epoch is over.

[2020-03-06 06:42] prestonvanloon commented on #4885
@nisdas is this feasible?

[2020-03-06 06:43] prestonvanloon commented on #4882
@shayzluf can you give an update? Are the other packages going to be fuzz tested?

[2020-03-06 06:45] #4843 closed

[2020-03-06 06:48] prestonvanloon commented on #4814
I'd recommend this is part of the p2p service `Stop()` method.

https://github.com/prysmaticlabs/prysm/blob/acb15a1f047ced45ac72eec0709dd02a04d0fd1c/beacon-chain/p2p/service.go#L232-L239

[2020-03-06 06:48] prestonvanloon commented on #4805
@terencechain can you take a look at this please?

[2020-03-06 06:54] terencechain commented on #4805
This will be resolved via #4958

Retuning zero values is not necessarily correct it'll mean it's supported and it's 0 (no participation), which it's more confusing than "not supported"

I'll close this and defer to #4958, feel free to reopen again if it doesn't resolve when that completes

[2020-03-06 06:54] #4805 closed

[2020-03-06 06:54] handelaar2 commented on #4986
In my case (I had the same issue ( #4990 ) which I closed to avoid double issue-recording):
eth2stats: **yes**
Did this error occur while syncing: **direct at startup of beacon** (see beacon.log in #4990)

[2020-03-06 06:57] terencechain commented on #4987
Since this is a "fun" one and does not require much code knowledge, I will like to ask community's help and I will provide full guidance for support.

Any takers?

[2020-03-06 06:58] terencechain commented on #4792
Looks like @prestonvanloon has started investigation. Temporarily assigning to him for now

[2020-03-06 07:00] terencechain commented on #4952
Can this be closed? @prestonvanloon

[2020-03-06 07:06] prestonvanloon commented on #4952
No, still needs to be deleted

[2020-03-06 07:27] nisdas commented on #4885
It is feasible, but we would need to design this carefully as this could have have pretty negative consequences if it goes wrong. Also I would prefer to make our code better and handle/eliminate memory spikes altogether rather than go this way.

[2020-03-06 07:28] nisdas commented on #4970
Not as far as I know of, this is a new issue it looks like.

[2020-03-06 09:15] mcdee commented on #4955
We can't easily change the keystore format to have multiple passwords at this point, as it would break others' installations.  Probably best to do as @superphiz suggests and warn for any keys we cannot decode, but continue rather than exit.  I'll code something up to this effect.

The long-term solution is to move to the `wallet` keystore, which supports multiple passphrases.  I'll think of the be

[2020-03-06 09:57] farazdagi commented on #4969
@torfbolt can you please provide more information about flags you are using (so that we know that the issue is not a duplicate of #4964)

[2020-03-06 10:02] torfbolt commented on #4969
The command I used was
`docker run -m 8G -it -v ~/.prysm/:/data -p 4000:4000 -p 13000:13000 gcr.io/prysmaticlabs/prysm/beacon-chain:latest --datadir=/data`

So no flags, default settings for that build.

[2020-03-06 12:27] tzapu commented on #5002
suggestions and indications are welcome and i'd be happy to try and sort it...

[2020-03-06 15:38] #4986 closed

[2020-03-06 23:28] rauljordan opened #5030 "Retrieve Attestations from Blocks for Historical Slashing Detection"
Currently, detecting historical attestations is disabled in our slasher service, as we need to be able to retrieve all historical attestations from blocks, convert them into indexed form, and detect on them accordingly. This is a tracking issue for instead fetching blocks and returning their contained attestations in the RPC response.

We have yet to fully decide whether or not we should have a ne

[2020-03-06 23:33] rauljordan commented on #2974
Done by @SuburbanDad

[2020-03-06 23:33] #2974 closed

[2020-03-06 23:34] rauljordan commented on #2546
Done by @SuburbanDad and included in our https://docs.prylabs.network

[2020-03-06 23:34] #2546 closed

[2020-03-06 23:34] rauljordan commented on #3687
#4991 this resolved this issue

[2020-03-06 23:34] #3687 closed

[2020-03-06 23:34] rauljordan commented on #3509
Can we close @nisdas ?

[2020-03-06 23:35] jgresham commented on #2546
Link to install docs: https://docs.prylabs.network/docs/install/arm/

[2020-03-06 23:36] rauljordan commented on #4640
@somuchid take a look at the project done at ethlondon that aims to solve this problem: https://devpost.com/software/eth-2-0-validator-protection. Also @mcdee has been working on an awesome key manager which protects the validator. It can connect to our slasher detector as a middleware and prevent validators from being slashed even if running in remote, failover modes. Let us know if this is good

[2020-03-06 23:36] rauljordan commented on #4232
Is this solved by our cross-compile stuff @prestonvanloon?

[2020-03-06 23:37] rauljordan commented on #4231
Resolved by @SuburbanDad and @prestonvanloon

[2020-03-06 23:37] #4231 closed

[2020-03-06 23:37] rauljordan commented on #4604
Bump @nisdas let me know what you think

[2020-03-06 23:41] prestonvanloon commented on #4232
Not really. I don't think that we can build on windows, but we are now
providing windows binaries.

I think this can be closed unless someone really wants to build prysm from
source on windows.

[2020-03-07 04:35] rauljordan opened #5031 "Provide Aggregated/Unaggregated Attestations from Pool to RPC Stream Indexed Attestations"
Hi all,

Currently in #5029 we aggregate attestations we receive via RPC and then broadcast them to the slasher. In parallel, our attestation pool does the same aggregation routine in the background elsewhere in the node runtime. This redundancy is inefficient given the aggregation algorithm is slow. Ideally, we can remove the logic from rpc `StreamIndexedAttestations` and instead use the aggregat

[2020-03-07 04:52] wchuan11 commented on #4231
@SuburbanDad @prestonvanloon Is there any instructions or documentation to test on this?
Tested using `bazel build --define=ssz=minimal --platforms=@io_bazel_rules_go//go/toolchain:windows_amd64 //beacon-chain` does not work on Mac still.

[2020-03-07 04:56] prestonvanloon commented on #4231
Please see https://github.com/prysmaticlabs/prysm/blob/master/tools/cross-toolchain/README.md

The README needs to be updated since #5008 has been resolved. Try using the docker sandbox approach.

[code]

[2020-03-07 05:05] #4955 closed

[2020-03-07 23:50] lsankar4033 commented on #4814
If this is still open, I'd be interested in taking it!

[2020-03-08 02:47] prestonvanloon commented on #4814
It's still open. Thanks!

[2020-03-08 06:54] wikidemic commented on #2546
I just attempted to load the ‘Unofficial’ version(2.1.0) of Bazel for ARM architecture using docs below.  Unfortunately, it did not work as the current version is now at 2.2 and does not incorporate this Arm edit (by SuburbanDad)

I haven’t coded in quite a while so I cann’t offer too much detail other than saying Bazel doesn’t load on my RPi4.  Installation script error notes that Unofficial Baze

[2020-03-08 11:56] SuburbanDad commented on #2546
@wikidemic prysm has pinned to bazel 2.1.1 for now.  I added an arm64 build of 2.1.1:
https://github.com/SuburbanDad/bazel/releases/tag/2.1.1

give it a whirl

[2020-03-08 17:40] 0xKiwi opened #5040 "Remove lookback and properly handle min span updates in Slasher"
This is an issue for handling min span updates in the slasher, since currently they require going to epoch 0 on a first run, we need a better way to handle them as using the lookback sacrifices security.

following the initial design doc: https://hackmd.prylabs.network/s/H1jO_H9wL

Starting to resolve this issue:

- [x] batch read attestation validators spans from db #5534
- [x] batch write attest

[2020-03-09 12:03] handelaar2 commented on #4964
Same happened again today with commit: 01cb01a8f26c36a7216855c483789f403c376160. Built at: 2020-03-09 05:39:28+00:00

Active flags:
--enable-ssz-cache
--enable-byte-mempool
--check-head-state

<img width="1628" alt="2020-03-09_12-59-47" src="https://user-images.githubusercontent.com/28559038/76211187-edab3380-6205-11ea-86c7-f06076559b7d.png">

(This time slot 428291)

[2020-03-09 13:20] GuillaumeOcculy opened #5051 "Balance decreasing"
Is there a reason why my balance is decreasing?

[code]

[2020-03-09 18:17] rauljordan commented on #4836
Complete

[2020-03-09 18:17] #4836 closed

[2020-03-10 02:14] rauljordan opened #5056 "Slasher Prom Metrics"
This is an issue to add important prometheus metrics to our slasher, including but not limited to:
- Cache metrics (eviction, size, keys)
- Span cache updating metrics
- Attester slashings detected (surrounding, surrounded, double voting attestations)
- Attestations received per slot (to have a feeling of how much load slasher is enduring vs. how much data the beacon node is aggregating before sen

[2020-03-10 13:41] superphiz opened #5059 "status=UNKNOWN_STATUS should show "ETH1 DEPOSIT RECEIVED" when appropriate"
UNKNOWN_STATUS is extremely vague and is certain to cause a lot of turmoil in the minds of new stakers when we go live. Showing that an Eth1 deposit has been received before the validator is pending inclusion will enhance the quality of the product in the minds of end users. There may be other appropriate status updates that could be included.

[2020-03-10 19:41] #5056 closed

[2020-03-10 23:13] prestonvanloon opened #5063 "Slashed validator continuously penalized"
Validator 35293 was slashed and exited a few days ago, but their balance continues to decrease, despite not being part of the active validator set.

https://beaconcha.in/validator/814a68d4ed9b75dd113dc00d44ea0cf19eabbd2c8d5b0233ae18019eb02405c3b42c5b8b47e01d80e785664e240aaaed

[2020-03-10 23:27] prestonvanloon commented on #5063
Looks like that validator has not reached its withdraw epoch.
[code]
The mainnet parameters are that they cannot withdraw for `8192` epochs. So the will continue to be penalized until that time, by design.

[2020-03-10 23:27] #5063 closed

[2020-03-11 02:47] nisdas opened #5065 "Allow Multiple Proposal Slots in an Epoch"
Currently is is assumed that a validator will only have a single proposal slot in an epoch, however due to the fact that proposal slots are computed in on a per slot basis, there is the possibility that a validator could have multiple proposal slots in an epoch instead of once. This issue is to track the implementation of the required changes for this. We will need to modify our ethereum-api and t

[2020-03-11 03:00] #3509 closed

[2020-03-11 06:27] shayzluf commented on #4882
working on slasher as it got priority. will get back to add more fuzzing tests next week

[2020-03-11 08:57] handelaar2 commented on #4964
Same happened again today with commit: 8d3fc1ad3ecf5457bb03621f2bbf50022cfd9d65. Built at: 2020-03-10 20:03:46+00:00
Active flags:
--enable-ssz-cache
--enable-byte-mempool
--check-head-state

<img width="1646" alt="2020-03-11_09-55-56" src="https://user-images.githubusercontent.com/28559038/76399228-9086bd80-637e-11ea-843e-30027211280c.png">

(This time, slot 441829)

Any solution in sight?

[2020-03-11 15:47] nisdas commented on #4964
@handelaar2 can you try running the node without this ?
[code]

[2020-03-11 15:48] nisdas commented on #4964
Ah actually I think it might be this one
[code]
please run without this flag. I will look into it tomorrow, there are certain times it fails

[2020-03-11 15:53] handelaar2 commented on #4964
it is unlike that it is --check-head-state
When I started seeing this behaviour, that flag did not exist (see initial post of this issue)

I will take out the ssz-cache flag now and see if the error returns. (And see if I can run at all without that szz-cash flag)

[2020-03-11 17:54] shayzluf opened #5072 "broadcast slashings when flag is set"
Finding a slashing offence and seeing it being included in a block takes vary long if only one validator is connected to our beacon node.
We need to add a flag broadcast-slashings and let the rpc broadcast it after adding it to the local slashing pool.

[2020-03-11 19:47] rauljordan opened #5074 "VerifyAttester/ProposerSlashing on Insert"
Hi all,

Currently https://github.com/prysmaticlabs/prysm/pull/5071 verifies attester/proposer slashings when a proposer retrieves them from the pool. It makes more sense to do it on the insert operation. Opening this issue for tracking.

[2020-03-11 21:47] lsankar4033 commented on #4814
I noticed that the goodbye code for client shutdown is currently unexported (https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/sync/rpc_goodbye.go#L12). Is there another way to refer to this that I should be using?

I was planning on using `Service.Send` for these goodbye messages like so: https://github.com/lsankar4033/prysm/blob/send-goodbye-message-on-shutdown/beacon-chain/p2p/ser

[2020-03-11 22:11] #5074 closed

[2020-03-12 16:02] shayzluf opened #5080 "Save slashings to slasher_db"
in order to debug slashing detection and the ability to retransmit slashings we need to store slashing proofs to slasher db

[2020-03-12 19:07] #5002 closed

[2020-03-12 22:07] rauljordan commented on #4884
@terencechain looked deeper into this and concerned it's a deeper problem from within the core precompute package. The value mismatches we're seeing above come from there, specifically from the epoch precompute eligible balances results. What do you think?

[2020-03-12 22:08] rauljordan commented on #5072
Complete

[2020-03-12 22:08] #5072 closed

[2020-03-12 22:36] terencechain commented on #4884
Hey @guybrush. The validator participation is one epoch behind. For example in `checking epoch 8852`. The `eligibleEther  128978300000000` gets accounted at the end of `8851` for epoch transitioning `8851` to `8852`.  When we query `activeEffectiveBalance` to compare, we should use epoch `8851` not `8852`

In code:
[code]

[2020-03-13 09:01] shayzluf opened #5088 "Write a tool to broadcast db saved slashings to p2p network"
in order to be able to debug slashings that have been found we need a tool that will enable us to re-broadcast found slashings to the network(maybe after some modifications)

[2020-03-13 12:33] shayzluf opened #5091 "slasher get attestation gets disconnected on error"
error like `[2020-03-13 17:39:47] ERROR beaconclient: Could not receive attestations from beacon node error=rpc error: code = Internal desc = Could not retrieve committees for epoch 14289: rpc error: code = InvalidArgument desc = Cannot retrieve information about an epoch in the future, current epoch 14288, requesting 14289`
cause the slasher rpc connection to stop

[2020-03-13 13:57] #5080 closed

[2020-03-13 13:58] terencechain commented on #5080
please close issue once it's done, thanks!

[2020-03-14 11:31] handelaar2 commented on #4964
I ran the beacon 3 days **without** the --enable-ssz-cache flag. The error did not occur once.

Today I put back the enable-ssz-cache flag, and the error came back right away.
(I put the flag back because without it my CPU has problems keeping up)

<img width="1667" alt="2020-03-14_12-23-00" src="https://user-images.githubusercontent.com/28559038/76681040-aac6d280-65ee-11ea-9140-0847fc27d882.png">

[2020-03-14 13:59] terencechain commented on #4964
cc @rauljordan

[2020-03-14 21:48] prestonvanloon commented on #4691
Can you try building with `--config=llvm`? This will use clang to build the BLS libraries from source.

[2020-03-15 17:40] 0xKiwi opened #5104 "Allow requesting multiple specific validators from RPC"
Currently within Prysm, there is `ListValidators ` for requesting all validators in a given epoch, and there is `GetValidator` for requesting one specific validator.

`ListValidators` should be changed to include a `indices` and `pubkeys` parameters, to let users request multiple indices in a single call.

[2020-03-15 18:21] prestonvanloon opened #5105 "panic: runtime error: integer divide by zero"
[code]

[2020-03-15 18:48] terencechain commented on #5091
Please close issues after merge!

[2020-03-15 18:48] #5091 closed

[2020-03-15 18:48] prestonvanloon commented on #5105
The issue was here when `bp.CurrentEpoch` was zero.

https://github.com/prysmaticlabs/prysm/blob/de2ec8e575a8b9c9d6a188393e6778fa636670f4/beacon-chain/core/epoch/precompute/reward_penalty.go#L81

[2020-03-15 19:14] #5105 closed

[2020-03-15 22:39] jgresham commented on #2546
@SuburbanDad Should the bazel binaries on your releases work on a raspi4? I having issues after running step 3 from here https://docs.prylabs.network/docs/install/arm/ so I am trying to build prysm from source.

Here is the result from trying to use your bazel binaries on raspi4:
[code]

Here is result from trying to run prysm on a raspi4:
[code]

In the meantime, I am trying to build bazel 2.1.1

[2020-03-15 23:21] SuburbanDad commented on #2546
Hey @jgresham,

I am guessing you are running raspbian on you pi?  You need to run a 64 bit
operating system like Ubuntu to build and run prysm, and unfortunately
raspbian is 32 bit.

Good luck

On Sun, Mar 15, 2020, 3:40 PM Johns Gresham <notifications@github.com>
wrote:

[2020-03-16 11:29] shayzluf opened #5112 "indexed attestation stream get into infinite loop"
when indexed attestation stream tries to get committees of a non existing epoch in the future it gets into an infinite loop that causes the slasher to hang

[code]

[2020-03-16 13:50] terencechain commented on #5112
What is the update for this? Looks like you opened a pr and closed it?

[2020-03-16 15:03] rauljordan commented on #5112
No longer a bug, Shay discovered the cluster hadn't been updated with the latest master

[2020-03-16 15:03] #5112 closed

[2020-03-16 15:33] rauljordan commented on #4132
After further discussions with operators of block explorers, this feature is not necessary given we already expose the sync status endpoint from our node service. It does not pose much risk.

[2020-03-16 15:33] #4132 closed

[2020-03-16 15:34] rauljordan commented on #3898
@farazdagi do your PRs deal with this issue? Do you think we can close this after your PRs are merged in? Maybe add `resolves #3898` to the descriptions if that's the case.

[2020-03-16 15:34] rauljordan commented on #3214
We are now using fuzzit thanks to some new work from @prestonvanloon. We can close this issue.

[2020-03-16 15:34] #3214 closed

[2020-03-16 15:35] rauljordan commented on #4762
Closing this due to inactivity

[2020-03-16 15:35] #4762 closed

[2020-03-16 15:36] rauljordan commented on #4691
Please let us know if the llvm config option works @jdetychey, thanks!

[2020-03-16 15:37] rauljordan commented on #4640
Closing due to inactivity

[2020-03-16 15:43] farazdagi commented on #3898
I think that even the current implementation doesn't panic on invalid blocks (it just tries to re-fetch from another peer). Still, I will double check, and make sure that we have covered all the different cases of invalid blocks (not only if block's parent doesn't match any existing hashes in DB).

Will assign issue to myself, and report back when I have more info.

[2020-03-16 15:52] rauljordan commented on #4666
To resolve this issue, we can perhaps we can add a section on Fedora in the install GNU/Linux section of our docs portal @har00ga using the suggestions @nisdas posted above

[2020-03-16 20:27] terencechain opened #5114 "Useful DB getters for more efficient state management"
This issue outlines the new DB getters I have in mind, this will enable better state gen management UX and more efficient usage around state.

1-
`LastSavedState(ctx) (state, error)`
This returns the last saved state (ie highest slot) in the DB. Given current slot is at 100 but the available state in DB is slot 90. It returns state at slot 90
2-
`LastSavedStateBeforeSlot(ctx, slot uint64) (state,

[2020-03-16 21:59] rauljordan commented on #4868
This isn't really important or worth it. We'll likely never get to it so unless it becomes an actual painpoint we can close.

[2020-03-16 21:59] #4868 closed

[2020-03-17 09:38] shayzluf opened #5116 "Add proposer slashing detection"
In order to complete the slasher functionality we need to add proposer slashing functionality to the slasher. in order to complete this functionality we need to complete these tasks:
- [x] write and test proposer slashing detector #5120
- [x] add proposer index to blockheader #5127
- [x] receive signed blocks from stream and detect slashing #5139
- [x] change proposer slashing to detect by slot an

[2020-03-17 10:39] farazdagi commented on #4969
Yes, this should be resolved by the refactored init-sync (currently toggled with `--enable-initial-sync-queue` flag).

While it can happen that all peers return invalid block, and we get stuck (for a moment), the general queueing of requests is more sophisticated, and system will re-try fetching with different parameters (bigger batch size, reset start slot), so should not remain stuck for too lon

[2020-03-17 16:28] terencechain opened #5119 "Align to spec v0.11"
With the release of [v0.11](https://github.com/ethereum/eth2.0-specs/releases/tag/v0.11.0) to facilitate new shading proposal. This PR tracks to the progress to align Prysm to v.0.11 which is important for multi client test net. The experimental branch for this is:

The v.0.9 consists of the following:
https://github.com/prysmaticlabs/prysm/tree/spec-v0.11

## Beacon chain
- [x] Adjust hysteresis

[2020-03-17 17:27] #4815 closed

[2020-03-17 17:27] #4969 closed

[2020-03-17 17:49] #3898 closed

[2020-03-18 06:51] handelaar2 commented on #4781
ipv6 support?  (#3420)

[2020-03-18 18:08] alonmuroch opened #5130 "Refactor build to not use patches on ethereumapi"
ethereumapi is used widely through out the project.
prysm uses Bazel patches to modify ethereumapi with a bunch of addons, some are tags for serialisation.

For any other project to use ethereumapi it will need to apply that patch as well but some of the modifications in it are hard coded, for example the prysm workspace name.

For ethereumapi to truly be a standalone project that can be used anyw

[2020-03-18 18:14] prestonvanloon opened #5131 "Proposer slashing: panic during panic"
Capturing this bug from fuzzit. I think this is the relevant stack, but needs investigation.
[code]

[orgs_prysmaticlabs-gh_targets_proposer-slashing_jobs_K5N4nOIRcwrdcWhHn4f2_log.txt](https://github.com/prysmaticlabs/prysm/files/4350601/orgs_prysmaticlabs-gh_targets_proposer-slashing_jobs_K5N4nOIRcwrdcWhHn4f2_log.txt)

[crash.tar.gz](https://github.com/prysmaticlabs/prysm/files/4350606/crash.tar.

[2020-03-18 18:30] prestonvanloon commented on #5131
This seems to be the relevant generated code
[code]

[2020-03-18 18:42] prestonvanloon commented on #5131
Looking at the logs a bit deeper, I think the relevant error is actually.
[code]

Relevant: https://github.com/golang/go/issues/35158

[2020-03-18 20:00] rauljordan opened #5132 "Allow gRPC Client Load Balancing"
Currently, we do not allow a single validator to connect to multiple beacon node backends in a round robin fashion. Ideally, we should be able to do `--beacon-rpc-provider=BEACON_NODE_IP_1,BEACON_NODE_IP_2` from the validator client, but we have to do some gRPC setup for this to work. Thanks to @mcdee, this link on stackoverflow https://stackoverflow.com/questions/50293480/dial-multiple-ip-address

[2020-03-19 00:20] mcdee commented on #4781
Any thoughts about removing the `keystore` keymanager?  Now seems a good a time as any to do so.

[2020-03-19 01:45] xrow opened #5134 "binary fails inside docker container at start up on centos 8"
Hi,

I try to run the binary distribution inside docker and it fails. If I run it outside docker it all works fine.

Here is how to reproduce on centos 8:

[code]

The output is when running `docker run -it --user 0 localhost/test:latest`

[code]

[2020-03-19 01:49] xrow commented on #5132
Great idea....

What would happen if you have an lb in between? Will that work?

[code]

[2020-03-19 02:11] xrow commented on #5134
Hi, found out it is way simpler to reproduce under centos 8.

[code]

[2020-03-19 02:35] prestonvanloon opened #5135 "Attestation: panic: runtime error: slice bounds out of range [576460752303423480:0]"
[code]

https://app.fuzzit.dev/orgs/prysmaticlabs-gh/targets/attestation/YxVNAO1h0jr651YFYOy6

[2020-03-19 03:22] prestonvanloon commented on #5135
Input data as proto string
[code]

[2020-03-19 04:41] #5135 closed

[2020-03-19 07:57] mcdee commented on #5132
Depends how the load balancer would work.  Safest way would be to prefer one node over another, _e.g._:

  - on validator startup shuffle the list of nodes
  - connect to first beacon node
  - if first node fails at any point, connect to second beacon node

This could easily be extended to multiple load balancers.

There's also a question as to if the load balancer should be a separate process or

[2020-03-19 10:49] xrow commented on #5132
@mcdee Thanks for your feedback. As a side note to clearify. I have much experience with cloud native so I will simulate this case for it. An internal loadbalancer in Cloud Native would be a so called Service. A service is a dns based named endpoint like "beacon". Behind beacon there are multiple beacon nodes. I would estimate the current implementation is therefore sufficent if a validator 1 can

[2020-03-19 11:21] mcdee commented on #5132
@xrow It is entirely possible for beacon nodes to have different states.  What I'm unsure about is if it matters for our normal validator operations when we're carrying out multiple RPC requests that could go to different beacon nodes; perhaps Raul has some thoughts on that piece.

A primary/secondary configuration would certainly be safer than a round-robin configuration, but I may be worrying un

[2020-03-19 12:15] ghost opened #5138 "My node on Hetzner got put on notice for abuse"
Hi guys,
I'm running the latest master (built yesterday) and just today Hetzner has put the server on notice for abuse. It's a fresh install dedicated node with only the beacon and validators running. Here is the log they sent. Not sure if this is where to report, but maybe this may be of interest here.
I'm hoping that it's a false positive? Or something misconfigured?

Here is the abuse report in

[2020-03-19 12:18] mcdee commented on #5138
You will need to configure your firewall to stop outgoing connections to private networks.  Something like:

[code]

ufw will probably require more configuration than this.

[2020-03-19 12:19] convid-19 commented on #5138
Thank you! Will try that.

[2020-03-20 01:58] prestonvanloon commented on #5131
I think this was resolved in go 1.14.1

https://github.com/golang/go/issues/37782

Closing this for now and will reopen if fuzzer picks it up again.

[2020-03-20 02:05] prestonvanloon commented on #5134
I think the BLS binaries were pre-compiled for ubuntu 18. We've seen issues with ubuntu 16 https://github.com/prysmaticlabs/prysm/issues/4691 as well which were resolved by using ubuntu 18.

I'd recommend building from source with LLVM. This requires libgmp-dev installed on your system.

[code]

Likewise with the validator
[code]

[2020-03-20 02:16] prestonvanloon commented on #5132
This issue is about client side load balancing. See the examples here: https://github.com/grpc/grpc-go/tree/master/examples/features/load_balancing

I think this requires a bit of careful thinking. Some RPC calls will want to load balance as a failover and others will want to load balance as a "broadcast".

Here's an example workflow:
- GetAssignments (LB=Round robin or pick first, retry failed re

[2020-03-20 02:20] prestonvanloon commented on #5130
cc: @rauljordan

I understand it is difficult or cumbersome to extend Prysm's flavor of Ethereum APIs.

A few clarifying questions:
- How do you handle your dependency management in your project? (Bazel, go mod, vendored?)
- What are your most basic needs? (gRPC + ssz, just gRPC, just ssz?)

[2020-03-20 09:12] alonmuroch commented on #5130
@prestonvanloon @rauljordan

- I use Bazel
- My particular case was building a remote wallet that connects to the validator, serves pub keys and signs. The remote wallet has the responsibility to prevent itself signing a slashable request. He gets BeaconBlockHeader/ AttestationData and needs to locally serialise them. Thats where the patch issue comes into play as we need the ssz tags to be equal,

[2020-03-20 11:07] guybrush commented on #4884
The api from my node says that the sum of effective balances of all active validators staid the same in these three epochs (8851, 8852, 8853), while the eligible ether changed. Even if the eligble ether returned by the api corresponds to the previous epoch, shouldn't the sum of all effective balances change aswell?

[code]

[2020-03-20 11:46] mcdee commented on #5132
Dynamic attestation subnets somewhat push us away from being able to carry out simple round robin, as we could send an attestation to a beacon node that isn't subscribed to the relevant subnet.

[2020-03-20 13:04] tzapu opened #5143 "provide a RPC endpoint to identify a beacon node client uniquely"
maybe the public key, or peer id?

[2020-03-20 13:05] mcdee commented on #5143
Related to this, we should tidy up the node RPCs.  There are lots of single-use calls that could be amalgamated in to a single `NodeInfo()` call.  The 0.11 release would be a good time for such a tidy up.

[2020-03-20 14:48] xrow commented on #5132
I don't know, if this is possible from what I read or even allowed. I in general favor a model for clients to not have any LB logic. Therefore can the logik of ProposeBlock and ProposeAttestation handled by one backend talking to other backends after the inital request? Some kind of replication....

[2020-03-20 18:02] prestonvanloon commented on #5131
This is still happening with go 1.14.1. https://app.fuzzit.dev/orgs/prysmaticlabs-gh/targets/proposer-slashing/HVZlMFw1gYncqUJeblqh

[2020-03-21 01:05] prestonvanloon commented on #5132
Good point about the round robin strategy and attestation subnets. You have this assumption that the beacon node backends are either always connected to appropriate subnets or can quickly discover subnets for adequate and rapid propagation of unaggregated attestations.

With that said, one can imagine that some RPC calls have different strategies such as

| RPC | Strategies |
|--------|-----------

[2020-03-21 07:47] fuzzit-dev[bot] opened #5150 "[FUZZIT] Crash at fuzzing target block"
A new crash was discovered for fuzzing target block.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/prysmaticlabs-gh/targets/block/urkMs15vqfWtLLR1Tbil)

Cheers,
Fuzzit Bot

[2020-03-21 07:47] fuzzit-dev[bot] opened #5151 "[FUZZIT] Crash at fuzzing target block"
A new crash was discovered for fuzzing target block.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/prysmaticlabs-gh/targets/block/urkMs15vqfWtLLR1Tbil)

Cheers,
Fuzzit Bot

[2020-03-21 07:47] fuzzit-dev[bot] opened #5152 "[FUZZIT] Crash at fuzzing target block"
A new crash was discovered for fuzzing target block.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/prysmaticlabs-gh/targets/block/urkMs15vqfWtLLR1Tbil)

Cheers,
Fuzzit Bot

[2020-03-21 07:47] fuzzit-dev[bot] opened #5153 "[FUZZIT] Crash at fuzzing target block"
A new crash was discovered for fuzzing target block.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/prysmaticlabs-gh/targets/block/urkMs15vqfWtLLR1Tbil)

Cheers,
Fuzzit Bot

[2020-03-21 07:47] fuzzit-dev[bot] opened #5154 "[FUZZIT] Crash at fuzzing target block"
A new crash was discovered for fuzzing target block.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/prysmaticlabs-gh/targets/block/urkMs15vqfWtLLR1Tbil)

Cheers,
Fuzzit Bot

[2020-03-21 07:47] fuzzit-dev[bot] opened #5155 "[FUZZIT] Crash at fuzzing target block"
A new crash was discovered for fuzzing target block.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/prysmaticlabs-gh/targets/block/urkMs15vqfWtLLR1Tbil)

Cheers,
Fuzzit Bot

[2020-03-21 07:49] #5150 closed

[2020-03-21 07:49] #5151 closed

[2020-03-21 07:49] #5152 closed

[2020-03-21 07:49] #5153 closed

[2020-03-21 07:49] #5154 closed

[2020-03-21 07:49] #5155 closed

[2020-03-21 10:14] mcdee commented on #5132
This is starting to morph in to a more complicated beast.  Similar to the initial suggestion and diagram posted by @xrow I'm starting to wonder if an "Ethereum 2 proxy/router" would be a thing.  It would basically be the piece that manages peer connections and data movement.  The beacon node could stay as it is for full functionality without the router, but this would give additional features such

[2020-03-21 17:33] 0xKiwi opened #5157 "Validators Lose Money due to Time to Aggregate in v0.11"
This is an issue to track a possible issue with #5123 that may affect attester rewards.

Logs from #5123 enabled E2E tests:
[code]

Normal logs without the feature flag:
[code]

In E2E 2 validators are punished in the first 2 epochs, possibly for late attestation inclusions or improper aggregation.

[2020-03-22 10:26] cleanunicorn opened #5164 "Could not receive attestation in chain service"
Operating system: Arch
[code]

Running `beacon-chain` image in docker, latest image.
[code]

Error message.

[code]

It recovered automatically, it kept going after outputting the error.

[2020-03-22 20:21] prestonvanloon opened #5167 "fatal error: acquireSudog: found s.elem != nil in cache"
This has happened with a few fuzz targets.

https://app.fuzzit.dev/orgs/prysmaticlabs-gh/targets/attestation/8XaQqowAnISV2GkZ1hio
https://app.fuzzit.dev/orgs/prysmaticlabs-gh/targets/voluntary-exit/fhMhyQSRXOm7mo8HT487

[code]

[full_log.txt](https://github.com/prysmaticlabs/prysm/files/4366279/orgs_prysmaticlabs-gh_targets_attestation_jobs_8XaQqowAnISV2GkZ1hio_log.txt)

[2020-03-22 20:24] prestonvanloon commented on #5167
Looks like this has been an issue a few years ago and mentions memory corruption (https://github.com/golang/go/issues/10541) and it may be resolved with an update to the linux kernel (https://github.com/golang/go/issues/18067). My brief google search doesn't return much more than those two points.

I'll email the fuzzit team and ask for more info about the environment.

[2020-03-22 20:34] prestonvanloon commented on #5167
The last line of our code that panics looks like this

bazel-out/k8-opt/bin/proto/beacon/p2p/v1/generated.ssz.go
[code]

[2020-03-23 10:16] cleanunicorn opened #5171 "Fatal error: mlock of signal stack failed"
Operating system: Arch
[code]

Running `beacon-chain` image in docker, latest image.
[code]

It seems to be related to this issue.
https://github.com/golang/go/issues/37436

Which is a problem with the current go version.

The node keeps crashing and I am unable to validate any more.

[code]

[2020-03-23 17:09] morrigan opened #5175 "CORS headers on API"
Hi,

seems like [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) headers are not configurable on API. Not sure about other setup but I am using API with enabled gRPC gateway for JSON requests.

This is a required for all cases, either running API on another host or same host with different port. More precisely, `Access-Control-Allow-Origin` is required to be configurable.

[2020-03-23 17:17] prestonvanloon commented on #5175
I'll add a flag `--grpc-gateway-corsdomain` that will accept a comma separated list of domains to accept cross origin requests.

[2020-03-23 17:29] prestonvanloon opened #5176 "Verify all attestations in initial sync"
Currently, we do not verify all attestations before the finalized checkpoint unless using feature flag `--initial-sync-verify-all-signatures`.

[2020-03-23 17:39] terencechain commented on #5176
Something to look into on solving BLS bottlenecks during initial sync:
https://ethresear.ch/t/fast-verification-of-multiple-bls-signatures/5407/7

[2020-03-23 18:17] #5175 closed

[2020-03-23 20:40] xrow commented on #5134
Here is my current progress. I gave up on bazel after it was failing with the `--output_base` param.

[code]

[2020-03-23 20:59] prestonvanloon commented on #5134
Can you elaborate on the output base issue? Why override the default?

[2020-03-23 21:26] prestonvanloon commented on #5134
My progress so far
[code]

[2020-03-23 21:30] prestonvanloon commented on #5171
Have you seen https://golang.org/wiki/LinuxKernelSignalVectorBug?

I'm tracking this issue, but unclear on a fast resolution or workaround we can make.

[2020-03-23 21:38] prestonvanloon commented on #5171
I'm going to go ahead and close this since it appears to be a bug in the linux kernel.

The long term resolution is described here: https://github.com/golang/go/issues/37436#issuecomment-591327351

TL;DR update your linux kernel as advised in the error.

If that still doesn't work, please reopen and we can investigate further.

[2020-03-23 21:38] #5171 closed

[2020-03-23 21:41] prestonvanloon commented on #5164
Looks like you received an attestation 1 second early.

There are two possible causes:
1. Your clock is wrong
1. Someone else's clock is wrong.

Thinking about this error and the concern that it brings to the user, maybe we can suppress this warning and simply delay processing for 1 second. We already have a minor tolerance enabled for time based assertions and this might be a rounding error. Look

[2020-03-23 21:44] prestonvanloon commented on #5164
Another quick note, this attestation would _not_ have been re-processed in current master.
The attestation you saw was dropped from your pool on failure.

[2020-03-23 23:12] prestonvanloon commented on #5164
After some more investigation. This issue is not a clock based problem. The error message is printing slots, not time.

I have a fix in progress that includes
- Improving the error message
- Preventing this issue by selecting the correct prior state for attestation data

Thanks for bringing this issue up, it's actually a bit of a big deal in some cases!

[2020-03-24 04:30] #5164 closed

[2020-03-24 04:37] terencechain opened #5185 "Make state mgmt service an implementation as DB"
Currently the new state mgmt service is implemented as a wrapper on top of DB, it's implemented as a service because it does service-like thing (ie. replay blocks, execute state transitions) @prestonvanloon brought a good point the new mgmt service should be an implementation as DB for better UX.

The easier to reason DB is the universal way on how users access state throughout the application. Wi

[2020-03-24 04:58] prestonvanloon commented on #5132
There isn't much work to do here for server side load balancing.

I'd still like to consider a client side load balancer, at least for failover.

[2020-03-24 04:59] prestonvanloon commented on #5143
Adding this to the testnet restart milestone for consideration.

[2020-03-24 05:03] prestonvanloon commented on #5130
OK great. Thanks for the response.

I am thinking that we can provide a starlark workspace macro, such as `prysm_dependencies()` where you'd automatically receive the same ethereumapis version (and patch) that we are targeting. Would that be a helpful solution?

[2020-03-24 05:06] prestonvanloon opened #5186 "Migrate boltdb to bbolt"
BoltDB is deprecated and we've hit our first issue after upgrading to go 1.14. As time goes on, more of these issues will appear so we should migrate to an alternative as soon as possible.

etcd maintains a fork of bbolt which has the fix for go 1.14 above.
https://github.com/etcd-io/bbolt

Specific fix https://github.com/etcd-io/bbolt/pull/201

This should be a drop in replacement for boltdb.

[2020-03-24 05:07] prestonvanloon commented on #5138
Hey @convid-19 is there anything else actionable in this issue?

[2020-03-24 05:09] prestonvanloon commented on #4781
Yes. Let's remove `keystore` manager

[2020-03-24 05:10] prestonvanloon commented on #3420
Adding to testnet restart milestone for consideration. My intuition is that this shouldn't be difficult to add.

[2020-03-24 05:15] #4691 closed

[2020-03-24 05:25] nisdas commented on #5186
This can be a drop in replacement but we might need to fork our metrics collector as it only supports the original boltdb. At least that was the blocker the last time I tried using the etcd fork

[2020-03-24 05:26] prestonvanloon commented on #5186
Good point. We can fork the metrics collector and drop in bbolt there as well.

[2020-03-24 05:28] prestonvanloon commented on #5104
Can you elaborate on the use case please?

[2020-03-24 05:30] xrow commented on #5132
I guess is if you have implemented retry you do not need a client side load balancer. One highly available endpoint should do the trick. You can combine dns, ip, location failover via the lb. But I rather stay clam now since I don`t understand the protocol yet. Sorry :-)

I am currently working on a helm chart. With that I can demo server side lb.

[2020-03-24 05:35] prestonvanloon commented on #5059
Good point that UNKNOWN is a bit concerning. It simply means that the status was not set.

We should look into adding or fixing eth1 deposit received. We should be returning a status to indicate that the beacon node has seen the eth1 deposit.

We could also display "Awaiting deposit" or something along those lines if the deposit has not been observed in eth1 deposit contract.

[2020-03-24 06:20] 0xKiwi commented on #5104
If I want only want a subset or validators, but more than one. My only
option before this change was to request `GetValidator(i)` for every
validator in N. You can see the changes made to `ListValidators` in #5141.

On Tue, Mar 24, 2020, 1:28 AM Preston Van Loon <notifications@github.com>
wrote:

[2020-03-24 07:15] nisdas opened #5188 "DB: Replace Proto Marshaller with SSZ Marshaller"
As of our latest state benchmarks now utilising the `fast_ssz` library,
[code]
[code]
There is a sizable improvement especially in unmarshal. Given the node is read heavy, with us reading the state much more often than writing to it, this will have a sizeable improvement in the performance of our node.

This issue is to track the replacement of replacing the encoder with ssz instead of protobufs i

[2020-03-24 08:25] jdetychey commented on #4691
With `--config=llvm`:
For `//beacon-chain:beacon-chain`:
`INFO: Build completed successfully, 1249 total actions`
For `build //validator:validator`:
`INFO: Build completed successfully, 735 total actions`

[2020-03-24 08:28] tzapu commented on #4781
once this is done, will validators currently using the keystore manager just fail to start after a pull?
if so, would you consider adding a console message with migrations instructions? if you think it's worth it? (non issue if it will only take effect on the testnet restart i guess)

[2020-03-24 08:37] nisdas commented on #4781
@tzapu it will only happen in our testnet restart, yeah that sounds like a good idea. We can link the instructions in a log to our docs, so that users who are not sure can still be able to use the new key manager

[2020-03-24 08:39] tzapu commented on #4781
@nisdas if it s on testnet restart, then it's not gonna be so important, there will be a lot of other manual things to be done anywa... but the participate website should be updated :D

[2020-03-24 09:16] shayzluf opened #5189 "reintroduce slasher RPC server"
in order to support validator redundancy slasher need to support external calls:
- [x] slasher grpc server #5190
- [x] implement IsSLashableAttestation endpoint #5209
- [ ] implement IsSLashableBlock endpoint #5765
- [x] retrieve and cache validators public keys #5220
- [x] get fork version and genesis validators root ethereumapi endpoint
- [x] implement ethereumapi endpoint in beacon node
- [x] v

[2020-03-24 09:37] jdetychey commented on #4691
But unfortunately, the command:
`~/prysm$ bazel run //beacon-chain -- --clear-db --datadir=$HOME/prysm --config=llvm
`did not complete
[code]

[2020-03-24 09:39] nisdas commented on #4691
@jdetychey you need to use
[code]

[2020-03-24 10:24] jdetychey commented on #4691
See `--verborse_failures` below:
[code]

[2020-03-24 11:34] cleanunicorn commented on #5171
I compiled the `.c` program they provide in the link and ran the binary. Unfortunately it did not crash. They say the program should crash immediately if the kernel has the bug or it will run for 60 seconds if it's not vulnerable.

[code]
The kernel is in the version vulnerable error range but I don't know if it was compiled with GCC9 (vulnerable) or GCC8 (not vulnerable).

[code]

[2020-03-24 11:34] har00ga commented on #4666
Sorry I missed this, using Github's new notification panel and still getting used to it :sweat_smile: No problem! Will post here after merge.

[2020-03-24 12:24] cleanunicorn commented on #5171
Even though it seems it's not vulnerable, adding `--ulimit memlock=67108864` fixes the problem.

Thanks for the help, @prestonvanloon !

[2020-03-24 15:14] jdetychey commented on #4691
Thx a lot everyone, I am syncing :+1:

[2020-03-24 15:26] terencechain commented on #5088
Closing this due to the closure of #5089

[2020-03-24 15:26] #5088 closed

[2020-03-24 18:21] alonmuroch commented on #5130
I'll do that and get back with some insights.

[2020-03-24 20:00] #5186 closed

[2020-03-24 21:38] prestonvanloon commented on #5130
I can take a look at this idea tomorrow. Gazelle (the BUILD file generator for go) has functionality where we can specify to write dependencies in a macro rather than in the workspace.

Alternatively, you can simply reference our patch as `@prysm//third_party:com_github_prysmaticlabs_ethereumapis-tags.patch`

Example:
[code]

With this, you won't need to do any manual maintenance of the patch file

[2020-03-25 00:49] terencechain opened #5196 "Respond canonical blocks for BeaconBlocksByRange for non-finalized block range"
As specified in [network spec](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/p2p-interface.md#beaconblocksbyrange) for proper respond to `BeaconBlocksByRange` message:

Current a Prysm node will respond blocks that include non-canonical one without selected by forkchoice.

[code]

[2020-03-25 01:56] convid-19 commented on #5138
@prestonvanloon after applying the firewall rules, my validators are running and I'm not receiving any new complaints from Hetzner. Thank you.

This is a throwaway account, so I'll be riding off in to the sunset on my unicorn now... Yeehaa 🤠🦄

[2020-03-25 03:09] prestonvanloon commented on #5196
Just a note on this, we currently return canonical _finalized_ blocks.
After the most recent finalized checkpoint, we just return whatever we blocks we know about.

[2020-03-25 03:12] #5138 closed

[2020-03-25 03:54] prestonvanloon commented on #5188
Note: this is a breaking change and must not merge directly to master except through the v0.11 branch.

[2020-03-25 03:54] terencechain commented on #5196
We only return ~~canonical~~ finalized blocks. We don't return blocks filtered canonical / fork choice.

[code]

Instead of returning `[320, 319, 317, 315]`, we return `[320, 319, 318, 317, 316, 315]`. Unless I miss something while inspecting the code

[2020-03-25 03:56] prestonvanloon commented on #5022
As of #4878 we are no longer displaying deprecated flags in the help text. Given that these deprecated flags are no longer extremely annoying, I'm removing from testnet restart milestone and changing this to mainnet / v1 requirement.

[2020-03-25 04:03] #3420 closed

[2020-03-25 04:04] terencechain commented on #5196
My previous comment was incorrect, we do return canonical finalized blocks here https://github.com/prysmaticlabs/prysm/pull/3873/files

Thanks @prestonvanloon for linking the page

[2020-03-25 04:13] prestonvanloon commented on #4952
The new method has been implemented for 3 weeks and multiple releases. I think it's safe to delete the old method now. I'll start on that

[2020-03-25 04:53] Leibniz137 opened #5201 ""Could not ssz marshal the genesis beacon state" when generating a genesis state"
## Problem Description:
I use the following script to (attempt to) generate a genesis state in ssz format:
[code]

Which produces the following output:
[code]

## YAML works fine!
Interestingly, I am able to produce yaml genesis state:
[code]

## Looking at the source
It appears that the ssz.Marshal function doesn't like the genesis state that is produced:
[code]
https://github.com/prysmaticlabs/p

[2020-03-25 07:30] imnisen opened #5202 "Add validator keys while validator client is running"
As we can deploy multi validators in one validator client node, currently a restart is the only way to pick up new keys. However, maybe the existed validators need to do their job while restarting, which seems not appropriate. So could we add new keys while node running?

[2020-03-25 07:48] alonmuroch commented on #5202
With a remote wallet you could simply add new keys.
Problem arises as the validator is currently also responsible of preventing slashing and if you add dynamically new keys I din't believe it has any db entry for them.

[2020-03-25 07:50] alonmuroch commented on #5130
@prestonvanloon for now in order to make the patch work the workspace namespace needs to be prysm as well. Not sure if we can make it dynamic.
The above could work in terms of keeping the latest patch up to date though I suspect changes will require more changes (like adding more dependencies into the workspace file if you add any more dependencies to ethereumapi).

[2020-03-25 07:55] mcdee commented on #5202
Some thoughts on this:
  - each keymanager is responsible for holding and caching its own keys.  We probably want to retain this functionality, as `keymanager.FetchValidatingKeys()` is called frequently throughout the codebase
    - the alternative would be for the validator to have a key cache separate to the keymanager; although this is possible it would lead to duplication of data between keyma

[2020-03-25 13:14] #4952 closed

[2020-03-25 13:55] rauljordan commented on #5201
Hi @Leibniz137 was able to reproduce and was able to fix by using the following flags:
[code]
could you try that out?

[2020-03-25 14:12] rauljordan commented on #4738
This is now resolved by @ferranbt with https://github.com/ferranbt/fastssz, now included in Prysm

[2020-03-25 14:12] #4738 closed

[2020-03-25 14:13] rauljordan commented on #4180
We can close - confirmed with @nisdas and @mcdee "its mostly one way now. I think its defined in the spec, where the inbound peer sends the status request"

[2020-03-25 14:13] #4180 closed

[2020-03-25 16:41] Leibniz137 commented on #5201
yes that worked, thank you!

[2020-03-25 16:41] #5201 closed

[2020-03-25 19:38] mjackson001 opened #5210 "Docker client on Linux appears to run out of memory during sync"
This error is happening every couple of hours trying to sync a new node using the docker client on Ubuntu Linux

[2020-03-25 19:14:29] INFO initial-sync: Processing block 390429/545772 - estimated time remaining 5h23m37s blocksPerSecond=8.0 peers=15/22
fatal error: runtime: out of memory

runtime stack:
runtime.throw(0x16f4536, 0x16)
GOROOT/src/runtime/panic.go:1112 +0x72
runtime.sysMap(0xc1b40000

[2020-03-25 19:52] prestonvanloon opened #5211 "Release --enable-skip-slots-cache"
This feature has been running in prod for several months now and has massive benefits in times of chain distress.

[2020-03-25 20:50] prestonvanloon commented on #5210
Discussed on discord to try the experimental memory management via flag `--enable-byte-mempool`.

[2020-03-25 21:26] prestonvanloon commented on #5130
Prysm's workspace namespace is `prysm`. On the point of dependencies, yes that is still a concern.
I think we'll need to add a rule and test to ensure the dependencies.

I'll spend a few minutes on this today.

[2020-03-25 21:36] prestonvanloon opened #5212 "Add alpine based docker images"
Some users have requested a more versatile base docker image for prysm deployments.
Currently the production docker image is a slim image with the absolute bare minimum. Additionally, the debug image is not compiled with compile time optimizations.

Adding an alpine based image would be beneficial.

[2020-03-26 00:36] #5212 closed

[2020-03-26 03:41] nisdas opened #5216 "Save State Metadata in the DB"
Currently we re-generate the field tries everytime we retrieve a state from the db. This can be expensive to do consistently as retrieving the data from the db would be faster than recomputing it again. This issue is to explore the possiblility and any potential issue that may arise from saving a state's metadata(fieldTries, merke layers,etc) in the db and using that instead.

[2020-03-26 06:12] terencechain commented on #5176
Unless I'm missing something, we do verify all attestations signatures and even block signature unless `--initial-sync-no-verify` is specified.  Which we haven't used in a while

See: https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/sync/initial-sync-old/round_robin.go#L224

[2020-03-26 06:20] alonmuroch commented on #5130
@prestonvanloon what is the concern of having all the ssz tags within the actual ethereumapi project? (leaving the work needed to do that)
For me it seems they should be there and not as a patch as they are very important part to make ethereumapi interop

[2020-03-26 14:48] nisdas opened #5222 "Refactor Stateutils to a Shared Library"
Discussed in #5219 with @terencechain , currently stateutils has a lot of HashTreeRoot methods for non-state objects. These methods would be better lived in a shared library rather than in `stateutils` which is mostly utilities for hashing the beacon state trie. This issue is to track the refactor and clean up of this.

[2020-03-26 17:20] terencechain commented on #5114
Completed. Thanks @prestonvanloon @nisdas and @rauljordan for the thorough reviews on this

[2020-03-26 17:20] #5114 closed

[2020-03-26 22:46] terencechain opened #5226 "Optimize slot indices storage"
The beacon DB stores a list of bitfields where the indices are the slots. `1` means has state saved, `0` means no state saved. The bitfields serve useful purpose for fast-finding which slot has state saved.

It looks like below. With 256 slots per archived point. Every 256 bits, there may be a 1.  Later on, every 32 bits, there may be a 1.
`
[2020-03-26 15:27:03]  INFO state-gen: Saved full state

[2020-03-26 23:33] prestonvanloon commented on #5226
A quick thought from offline discussion. I think that snappy compression takes care of this problem reasonably (not maximum compression, but very fast).

I'd like to see more data on the impact and potential trade offs that would be made by any given solution.

[2020-03-27 00:31] terencechain opened #5227 "Align to spec v0.11.1"
With the release of [v0.11.1](https://github.com/ethereum/eth2.0-specs/releases/tag/v0.11.1). This PR tracks to the progress to align Prysm to v.0.11.1. v0.11.1 a multi client testnet target!

## Beacon chain
- [x] Avoid divide by zero in extreme balance case (https://github.com/ethereum/eth2.0-specs/pull/1664)
- [x] Attestation reward summation bug (https://github.com/ethereum/eth2.0-specs/pull/1

[2020-03-27 15:11] #5119 closed

[2020-03-27 23:22] prestonvanloon opened #5232 "DeleteAggregatedAttestation - panic: bitlists are different lengths"
[code]

[2020-03-28 06:25] #5232 closed

[2020-03-28 19:25] amaurer commented on #2546
I found that the attempted download of the binaries failed from https://api.github.com/repos/prysmaticlabs/prysm/releases/latest

Line one of the binary file was "Not Found" which resulted in an error - `line 1: Not: command not found`

Turns out I was hitting the rate-limit imposed by github for unauthenticated requests.

```{"message":"API rate limit exceeded for x.x.x.x . (But here's the good n

[2020-03-29 15:04] mcdee commented on #5202
I'm inclined to believe that we can move ahead with a transparent internal push system.  The way this will work is:

  - each keymanager maintains its own cache of validating keys (as it does today)
  - the keymanager creates its own method to either find or be informed of changes to the keys it is managing
  - the keymanager uses the information obtained from the change notifications to update it

[2020-03-29 18:57] alrevuelta opened #5240 "Can't run beacon-chain on macOS 10.13.6"
I'm trying to run the `beacon-chain` under macOS 10.13.6 following [the doc](https://docs.prylabs.network/docs/install/mac/) with the following command, but I'm getting an error:

`./prysm.sh beacon-chain --clear-db --datadir=$HOME/prysm`

At the beginning of the output I can see this:

[code]

But right after it I get the following error
[code]
I don't get the `flat namespace`. Any ideas?

[2020-03-29 20:05] prestonvanloon commented on #5240
Can any Mac owner take a look please?
@rauljordan @terencechain @0xKiwi

[2020-03-30 04:45] har00ga commented on #4666
Merged :) Can be seen under dependencies here: https://docs.prylabs.network/docs/install/linux/

[2020-03-30 04:45] #4666 closed

[2020-03-30 14:44] torfbolt opened #5247 "Lots of correctlyVotedHead=false Epochs"
If I understand correctly, the voting summary should normally show all epochs as correctly voted. However, I get lots (>50%) of epochs where only source & target are correct and the head vote is incorrect. This is also reflected in the attestation rewards, which are generally low or even negative for my validator (index 41644).

As far as I can tell there are no warnings or errors for the incorrec

[2020-03-30 16:13] alonmuroch commented on #5202
@mcdee what about a mechanism that pulls new keys from a remote wallet say once an epoch?
1) New epoch starts
2) key manager asks remote wallet for new keys (that he doesn't have)
3) remote wallet returns an array of those
4) key manager adds them to cache

This way we have a fixed time span from one update to another. Predictable and pretty cheap in terms of communication overhead (and complexity

[2020-03-30 16:30] mcdee commented on #5202
A polling mechanism would be a fallback if I can't convince the remote wallet to have an update channel.

Currently playing with an notification implementation for `wallet`, that will give me an idea if it's going to be possible to use something similar for `remote`.

[2020-03-30 17:29] terencechain commented on #5247
Likely network propagation issues. Will cont monitor this next testnet release

[2020-03-30 17:30] terencechain commented on #5240
it works for me, running 10.15.2 (19C57)

[2020-03-30 17:33] rauljordan commented on #4024
@prestonvanloon integrated go-fuzz with our latest version of Go in Prysm, we can close this

[2020-03-30 17:33] #4024 closed

[2020-03-30 17:33] rauljordan commented on #1930
@prestonvanloon can we close this? Or perhaps open up in a more granular issue thread

[2020-03-30 17:35] rauljordan commented on #4814
Feel free to export what you sensibly need to complete the feature @lsankar4033. Also, yes we should be handling the error message result from service.Send

[2020-03-30 17:35] prestonvanloon commented on #5240
I talked with @0xKiwi and he wasn't able to reproduce. Can you try on a newer version of Mac OS?

[2020-03-30 17:37] prestonvanloon commented on #5222
Can you elaborate on this a bit more. Is this something that would be useful outside of the beacon-chain part of the project? Why should it live under `//shared`?

[2020-03-30 17:37] prestonvanloon commented on #5216
I'll take a look at this

[2020-03-30 17:39] prestonvanloon commented on #5202
Marking this as "help wanted". If anyone is interested in implementing this, let me know and I will assign to you.

[2020-03-30 17:54] prestonvanloon commented on #5210
Closing in favor of https://github.com/prysmaticlabs/prysm/issues/4970

[2020-03-30 17:54] #5210 closed

[2020-03-30 17:55] prestonvanloon commented on #5188
Assigning to @nisdas. I noticed you were working on this in some branch already.

[2020-03-30 18:24] rauljordan commented on #5240
Hi @alrevuelta can you try `brew install cmake && brew install make` and retry? Seems like that worked in other projects that encountered the similar error message: https://github.com/nodegui/nodegui/issues/391

[2020-03-30 18:24] rauljordan commented on #5240
Confirmed it works for me, I am running 10.15.3

[2020-03-30 23:08] mcdee commented on #5202
I have an initial implementation of this for `wallet`; if anyone wants to take on something for `remote` that would be a great help.

[2020-03-31 04:11] prestonvanloon commented on #5134
@xrow is this still a valid issue?

[2020-03-31 04:14] prestonvanloon commented on #5040
@0xKiwi Please add more context. I am not sure how to triage this issue or what action needs to be taken.

[2020-03-31 04:17] prestonvanloon commented on #5051
Thanks for the report.

The most common reasons for balance decreasing is
- There hasn't been a finalized epoch (everyone gets penalized slightly)
- Your attestation was not received and/or included by a block proposer.

We are working on improving aggregation strategies and profitability in this testnet.

I'll close this issue for now as the last few weeks have seen major progress towards validat