[2019-09-16 19:58] terencechain commented on #3491
thanks @0xKiwi !!

[2019-09-16 20:33] rauljordan commented on #2928
This is resolved with the new networking spec and revamped regular sync

[2019-09-16 20:33] #2928 closed

[2019-09-16 20:33] #2740 closed

[2019-09-16 20:45] #1202 closed

[2019-09-16 21:32] rauljordan commented on #3439
Resolved by #3473

[2019-09-16 21:32] #3439 closed

[2019-09-16 21:39] #3397 closed

[2019-09-16 21:54] rauljordan commented on #1909
This will be the responsibility of the slasher mechanism designed by @shayzluf and @0xKiwi. Could you guys add the link to the slashing design doc here for reference?

[2019-09-16 21:57] rauljordan opened #3497 "Explore Load Testing Beacon Nodes"
Hi all,

It would be fun and interesting to see just how spammable our beacon nodes are and see if we can find interesting endpoints, either p2p/RPC-based, which can be DDoS'ed by anyone. Granted, we can have spam controls by gRPC, we might still find that we could brick beacon nodes if we called expensive methods when we're not supposed to.

It would be useful to have this functionality as some s

[2019-09-16 22:02] terencechain opened #3498 "Context deadline exceeded when validators retrieve rewards/penalties report"
With 512 validators attached to a single node, we saw the following context time out when reporting back rewards/penalties via RPC:
[code]
Opening this issue to investigate further

[2019-09-16 22:11] terencechain commented on #3063
To implement this, we'll require a design doc

[2019-09-16 22:45] owocki commented on #2740
@ceresstation looks like your tx was never broadcast to the ethereum network https://etherscan.io/tx/0x759eaa5622729df427c05974241468de54900c1409f6086524c5256eb0f9aea5

maybe you have some transactions with lower nonces that you need to speed up?

[2019-09-17 08:32] 0xKiwi commented on #3491
Changes after removing the duplicated committee calculation in `CommitteeAssignments`
[code]

Not to major as there is only one extra crosslink committee calculation done every time this function is called.

[2019-09-17 09:09] nisdas commented on #3498
This most likely has to do with the fact we perform a Validator Performance RPC request for each validator, which leads to retrieving the state, active validator count and total balance for each validator. The correct way would be to batch this into a single call

[2019-09-17 09:26] nisdas opened #3501 "Calling GenesisBeaconState at Chainstart Takes Too Long"
When ever we call `GenesisBeaconState`
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/state/state.go#L54
it takes a large amount of time if we have a large number of genesis deposits. This is because we process each deposit again in this function at chainstart, a potential solution would be to keep a genesis state in memory, or genesis validators in memory. This issue is to e

[2019-09-17 10:32] nisdas opened #3502 "Multinode is currently Broken"
Blocks have different signing roots between peers. If one peer broadcasts a block and that block has a root of `0x123` for that peer, the other peer would get the same block and determine the root as `0x456`.

[code]

[2019-09-17 15:49] rauljordan commented on #3502
Resolved by #3504

[2019-09-17 15:49] #3502 closed

[2019-09-17 15:51] rauljordan commented on #3238
Hi there @rsreeni, we don't recommend using go.mod with our project, as we exclusively fix our deps with Bazel so we don't worry about third party changes breaking our build. We don't currently have support for go mod

[2019-09-17 16:16] prestonvanloon opened #3505 "Pubsub: ignore processing until client is synced"
Building off of #3486, we should not attempt to process attestations or blocks until we are fully synced with the network.

[2019-09-17 18:25] #3491 closed

[2019-09-17 18:32] terencechain opened #3508 "Sync decodes non-proto message"
We provide a base protobuf to clone as the destination for unmarshalling, however we have data coming in that is not ssz container (array of blocks) so we can't use `proto.Message` as the base type for creating new destination for unmarshalling. Here's the few changes recommended from @prestonvanloon

1.)
[code]
2.)
and use that reflect new trick instead of proto clone
[code]
3.)
[code]

[2019-09-17 18:43] prestonvanloon opened #3509 "Safe discv5"
The upstream p2p discv5 package has several panics and unsafe slice access.

We should fork the code changes or write a new discv5 to change the API to be safer at runtime.

https://github.com/fjl/go-ethereum/tree/discover-v5-rebase/p2p

Example panic that killed the testnet:
[code]

[2019-09-17 20:31] 0xKiwi opened #3511 "Various duplicated computations in Prysm"
I went through the spec and Prysm's codebase to see potential improvements in computations.

## Notes
Functions that compute a single committee for when they're called:
* `get_attestation_data_slot` .
* `get_attesting_indices`.
* `get_unslashed_attesting_indices` which calls `get_attesting_indices`.
* `get_attesting_balance` which calls `get_unslashed_attesting_indices`.
* `get_indexed_attestation

[2019-09-18 16:47] #3498 closed

[2019-09-18 16:55] rauljordan commented on #1344
Can this be closed @prestonvanloon ?

[2019-09-18 20:48] #3508 closed

[2019-09-18 21:23] prestonvanloon commented on #1344
Yeah, should be OK

[2019-09-18 21:23] #1344 closed

[2019-09-19 02:05] 0xKiwi commented on #3511
After further observation [our BLS](https://cdn.discordapp.com/attachments/550365651118850081/624060764231172096/Screen_Shot_2019-09-18_at_9.54.12_PM.png) in incredibly slow compared to any of the state transition functions, closing this issue.

[2019-09-19 02:05] #3511 closed

[2019-09-19 02:11] #3458 closed

[2019-09-19 20:28] rauljordan commented on #3438
Resolved by #3512

[2019-09-19 20:28] #3438 closed

[2019-09-19 20:44] rauljordan opened #3532 "Use ValidatorIndex as Key for Block Operations in DB"
Hi all, currently our Database API exposes methods for getting/putting block operations indexed by their room such as:

[code]
However, this isn't much use, as it makes more sense to have validator index as the key, which opens up a lot more use cases. For example, when archiving information from the state, being able to retrieve the operations that occurred by index is a lot more useful than the

[2019-09-20 14:34] skillful-alex commented on #3497
Monitoring/Visualization - metrics p2p_peer_count, p2p_message_recieved_total already exist. We can add metrics in the context of message types and in the context of p2p nodes (maybe this is a bad idea, because p2p nodes are dynamic). Including the metrics Count_of_MESSAGE_TYPE and Time_spent_on_MESSAGE_TYPE.
Load testing is only a separate utility, but we must understand what data to send to the

[2019-09-20 17:54] #3505 closed

[2019-09-20 21:29] 0xKiwi opened #3537 "Inconsistent Operation Function Design"
After the addition of `ExecuteStateTransitionNoVerify()`, the function `ProcessAttestation` has been changed to the following:
[code]

The original `ProcessAttestation` has been split into 2 parts, its necessary checks and modifications to the state in one function, with its signature verification in another function. This design allows us to easily create a function that exclude signature verific

[2019-09-23 11:11] bitcoinsky3000 commented on #3225
Someone knows when the testnet will be online again?

[2019-09-23 16:17] rauljordan commented on #3157
Resolved by #3542

[2019-09-23 16:17] #3157 closed

[2019-09-23 23:36] #3492 closed

[2019-09-24 20:04] rauljordan commented on #3457
This can be marked as closed - everything we need to archive is properly implemented and complete

[2019-09-24 20:04] #3457 closed

[2019-09-24 22:27] prestonvanloon opened #3576 "keystore.DepositInput is incorrect"
https://github.com/prysmaticlabs/prysm/blob/d9664d3b6b68ca9610571fa70c3e0e1fd9483033/shared/keystore/deposit_input.go#L25

This method returns data based on the old contract ABI.

We used to send the ssz encoded deposit_input above to this method
[code]

However, the arguments have changed and it is now
[code]

When generating the deposit data for validator account creation, we should generate the

[2019-09-25 03:16] #3576 closed

[2019-09-26 11:32] nisdas opened #3593 "Handle Different File Types for Genesis States"
Currently by default we unmarshal any genesis state file using ssz. However we might get genesis states of different file types such as json,yaml. By right we should be checking the file type of the genesis state before unmarshalling them. This issue is to track the implementation of this in the `interop-coldstart` service.

[2019-09-26 15:03] rauljordan opened #3598 "Explore Compression Formats for Persistent Byte Data"
This is a tracking issue to explore and bench various compression formats for the raw bytes data such as snappy. It would be useful to benchmark their memory and CPU usage accordingly. The context of this issue was brought up by @nisdas:
[code]

[2019-09-26 15:24] nisdas commented on #1909
This would be distinct from the slasher and will need to be done by each validator

[2019-09-26 19:19] rauljordan commented on #2674
No longer relevant in latest master

[2019-09-26 19:19] #2674 closed

[2019-09-26 21:46] #3045 closed

[2019-09-26 21:52] terencechain opened #3603 "Improve and standardize prysm caching"
This PR tracks the overall progress on improving and standardizing Prysm cache.

Working items:

- [x] Remove the deprecated caches (i.e. total balance, start shard, seed) #3584
- [x] Can retrieve shuffled committee indices by inputting state and epoch #3605
- [x] Can cache for shuffled committee indices #3607
- [x] Can update committee cache in block processing #3617
- [x] Use a feature flag #361

[2019-09-26 22:15] rauljordan opened #3604 "Exploring Shorter Duration Testnets"
This is a tracking issue to look into how far we can tweak our `SecondsPerSlot` parameter and still have a stable runtime. We can use this issue to track bottlenecks or critical failures as we reduce the slot duration and figure out what our current max-min scenario of `NumValidators` to `SecondsPerSlot` realistically is.

- [x] Mock BLS verification and signature creation with a feature flag to e

[2019-09-27 03:18] rauljordan opened #3610 "Return All Pending Queue Validators in GetValidatorsQueue RPC"

[2019-09-27 03:22] #3610 closed

[2019-09-27 16:11] #2512 closed

[2019-09-27 16:54] #3537 closed

[2019-09-27 17:10] rauljordan commented on #3604
Latest progress: was able to make a 30x improvement in fetching db block roots. Instead of fetching all blocks and computing their signing root, we now simply retrieve the bolt db keys.

Previous:
<img width="343" alt="Screen Shot 2019-09-27 at 12 10 02 PM" src="https://user-images.githubusercontent.com/5572669/65787996-c8c37800-e11f-11e9-9726-9971ef6f4967.png">

After:

![Screen Shot 2019-09-27 a

[2019-09-27 18:04] droconnel22 commented on #3225
Thank you @prestonvanloon and team for you hard work. Looking forward to Testnet being up soon.

[2019-09-27 18:26] rauljordan commented on #3604
Really great progress! 100x improvement in the ReceiveAttestation pipeline from before across the board, using more batching techniques in bolt and eliminating more red flames one at a time. The predominant bottleneck now is proto.Clone(state), db.HeadState, and indeed process slots -> . hash_tree_root(state).

![Screen Shot 2019-09-27 at 1 25 17 PM](https://user-images.githubusercontent.com/55726

[2019-09-28 14:12] stefa2k opened #3628 "Beacon Chain block processing fails with error"
Looks like processing block 28160 failed to process, after a resync it worked again.

Block processing information:

Error + Stacktrace:
https://pastebin.com/0yuj4Pv4

[2019-09-28 14:15] stefa2k opened #3630 "Change log level of not-so-relevant information"
Lots and lots of this in Beacon Chain:

As suggested in Discord by @rauljordan & @nisdas, move this to debug.

[2019-09-28 15:53] terencechain commented on #3630
This is actually a missing feature on our end. We need to save those attestations in a pending queue and process them as their blocks come in. In the mean time we can change it to `debug`. Thanks for opening this issue!

[2019-09-29 02:49] prestonvanloon opened #3634 "Add prometheus metrics for bolt stats"
It is interesting to understand a bit more about the state of the database. We can query the size of the disk in most deployments, but which buckets are taking up the most space or using the most I/O?

Some things to consider:
- https://github.com/mdlayher/prombolt
- Previous attempt that was reverted https://github.com/prysmaticlabs/prysm/pull/2768

[2019-09-29 12:21] stefa2k opened #3636 "When finished state transition, error occures"
Happens sometimes after full sync:
https://pastebin.com/xW7HsUV8

[2019-09-29 14:13] terencechain opened #3638 "CORS error from test net"
@nisdas reported there's a need to restart a few times before getting validator's status changed. The reason behind it could very well be the CORS failures from the testnet site:

`
participate:1 Access to XMLHttpRequest at 'https://api.prylabs.net/faucet.FaucetService/RequestFunds' from origin 'https://prylabs.network' has been blocked by CORS policy: Response to preflight request doesn't pass ac

[2019-09-29 21:54] prestonvanloon commented on #3638
This has been resolved.

[2019-09-29 22:22] #3638 closed

[2019-09-29 22:23] prestonvanloon opened #3644 "Unable to update peer statuses"
[code]

Prysm infrequently requests the peer status from peers to ensure it has the lastest reported value from that peer. This seems to be failing for all peers.

[2019-09-30 00:55] prestonvanloon commented on #3225
Thanks for your patience all. The testnet is online again and mostly stable. At this point, I feel confident in closing this issue while we monitor for issues.

Enjoy!
https://prylabs.net

[2019-09-30 00:55] #3225 closed

[2019-09-30 01:48] prestonvanloon commented on #3419
I wonder if this was a symptom of something else. For example, we see EOF and handshake failures when requesting another handshake after we have received one already. #3644

This bug seems aligned in that if we had a successful handshake, the second one would fail.

[2019-09-30 07:45] stefa2k opened #3664 "Unable to process p2p attestation"
https://pastebin.com/5UeG3xt8

I used an outdated "latest" taged docker image to run the beacon chain. This might be the cause.

/E:
Also happens on "latest" taged docker image for beacon chain. Slightly differen stack trace though:
[code]

[2019-09-30 08:07] stefa2k commented on #3644
Can confirm, happens to my beacon node too on a regular basis:

[2019-09-30 09:46] stefa2k opened #3665 "Sync skips blocks"
Looks like the sync process skipped a block:
[code]
Take a close look to the block number, 15954 is missing.

[2019-09-30 18:18] prestonvanloon opened #3668 "Benchmark processing times with 65536 validators"
Specific requests are

1. The processing time of a block containing 65536 votes split between 128 attestations
2. The processing time of a block containing 65536 votes split between 256 attestations

The obvious barrier to this test is the state setup.

Generating a state with 65536 deposits is expensive so we should consider a precomputed / pregenerated state on disk with keys to load. Additional

[2019-10-01 14:51] ferranbt commented on #3598
I can work on this.

I can do a gist with benchmarks of different compression formats (snappy and zstd) for a couple of mock structures (i.e. blocks and state). Then do a PR with the implementation on the boltdb datastore.

[2019-10-01 17:02] ferranbt commented on #3598
I have an early analysis of the compression in this repo: https://github.com/ferranbt/compression-test
I have used three different compression libraries, one for snappy and two for zstd (one with a native implementation 'zstd' and another with cgo bindings 'gozstd'). As a input data I have used real headers from eth1x mainnet (in RLP format) to provide a byte source as realistic as possible.

This

[2019-10-01 20:41] terencechain commented on #3106
We can close this when #3631 is merged

[2019-10-02 13:09] shayzluf opened #3686 "Beacon chain panics on libp2p error"
getting this error from libp2p
[code]

[2019-10-02 15:02] rauljordan commented on #2991
Completed by #3600 and #3661

[2019-10-02 15:02] #2991 closed

[2019-10-02 15:02] rauljordan commented on #3374
Resolves by #3622

[2019-10-02 15:02] #3374 closed

[2019-10-02 15:10] rauljordan commented on #3461
No longer relevant as we do not use this cache

[2019-10-02 15:10] #3461 closed

[2019-10-02 15:11] rauljordan commented on #3238
Travis provides little value to our project - we should consider abandoning it and sticking with the buildkite pipeline

[2019-10-02 15:11] #3238 closed

[2019-10-02 15:14] rauljordan opened #3687 "Implement Noise Framework Handshakes for Mainnet"
This is a follow-up to #3147. The only item we are missing is to implement Noise Handshakes for the mainnet functionality of the beacon chain.

From the networking spec:

#### Mainnet

[Noise Framework](http://www.noiseprotocol.org/) handshakes will be used for mainnet. libp2p Noise support [is in the process of being standardized](https://github.com/libp2p/specs/issues/195) in the libp2p project.

[2019-10-02 15:14] #3147 closed

[2019-10-02 15:33] rauljordan commented on #2943
This is a bit too open ended of an issue to be resolved - let's come up with smaller, specific tracking issues for the things outlined above.

[2019-10-02 15:33] #2943 closed

[2019-10-02 15:34] rauljordan commented on #2798
Resolved already by @terencechain

[2019-10-02 15:34] #2798 closed

[2019-10-02 15:35] rauljordan commented on #1951
Duplicate of #3162

[2019-10-02 15:35] #1951 closed

[2019-10-02 15:37] rauljordan commented on #3630
Resolved by #3600

[2019-10-02 15:37] #3630 closed

[2019-10-02 15:38] rauljordan commented on #3450
This is also too open ended to ever be resolved - instead, we should open the remaining items as specific tracking issues with clear goals. Closing for now.

[2019-10-02 15:38] #3450 closed

[2019-10-02 15:39] terencechain commented on #1765
Old spec. Can be closed

[2019-10-02 15:39] #1765 closed

[2019-10-02 20:28] prestonvanloon commented on #3664
Thanks for the bug report @stefa2k. What's going on here is that your client is receiving an attestation over p2p which cannot be verified in your local state.

There are two scenarios this might happen:
- You or the peer producing the attestation are on a forked chain
- There is a software bug within your client or peer's client with regards to validator indices and/or assignments. Someone signed

[2019-10-02 20:49] santiagorp opened #3691 "Loss in validator funds while running multiple validators"
While using multiple validators I see random decrease in the funds:

[code]

I have also observed (but not sure if at the same time and related) constant error messages in the beacon-node as described in #3664.

[2019-10-02 21:55] santiagorp opened #3692 "Improve docker commands in the documentation"
Some docker commands can be improved in the documentation.

In the file `README.md`, the command to start the beacon node has the following problems:

1. Typo in the `--clear-db` parameter (a backslash is missing in the previous line)
2. The `/tmp` directory is deleted in each system reboot so the chain data will need to be re-synced and also the private keys will be lost. As a result the user wil

[2019-10-02 22:55] prestonvanloon commented on #3664
We believe the issue has been temporarily resolved. The nodes that we run in the network we using an experimental cache which may have led to some issues.

We'll be monitoring this the next day before closing.

[2019-10-02 23:03] prestonvanloon commented on #3692
cc: @har00ga

[2019-10-02 23:07] prestonvanloon commented on #3686
can you paste the whole error? I panicked on libp2p?

[2019-10-03 01:16] terencechain commented on #3664
This was an issue due to incompatibility of 2 different cache implementations.

Background:
We have been using caches since early 0.2 spec, the current implementations are outdated but still get the job done. We have 3 caches (i.e. active indices, shuffled indices and active balances) that are used in run time. Last week, we implemented a  newshuffled indices cache to replace the old implementatio

[2019-10-03 01:17] terencechain commented on #3664
Lowering the priority as it's no longer blocking run time

[2019-10-03 01:56] prestonvanloon commented on #3106
Related #3664.

[2019-10-03 02:18] terencechain opened #3696 "Render graphviz raw string in html"
For #3690, I'm looking for help to use JS to render raw dot data.
For example the HTML can be:
[code]
http://viz-js.com/  <- Given such diagraph, the library can be rendered in browser. We'll need to fiure out how to plugin JS to the html template and understand how viz-js works.

[2019-10-03 02:27] prestonvanloon commented on #3696
https://github.com/mdaines/viz.js/wiki/Usage

I took a quick glance at the docs and here's what I think you need to do (mostly copied from the link above):
[code]

CDN hosted files are here: https://cdnjs.com/libraries/viz.js

There are also examples here: https://github.com/mdaines/viz-examples

[2019-10-03 02:46] shayzluf commented on #3686
@prestonvanloon pasted it. thanks

[2019-10-03 03:11] terencechain commented on #3696
Thanks so much for the context, here's an example dot string generated by the chain service handler:
[code]

[2019-10-03 03:28] har00ga commented on #3692
Hey there, thanks for noting these issues :slightly_smiling_face: I'll have them adjusted on the README and in the Gitbook by the weekend.

[2019-10-03 06:23] nisdas opened #3697 "Validators are Penalised Despite Consistent Participation"
![image](https://user-images.githubusercontent.com/33201827/66103528-b475f400-e5d3-11e9-9669-611d566eed19.png)

Some users have reported being penalised despite having their validator consistently attesting to the current head. The above image contains the logs of a validator which has been penalised.

1) Attestations are not being included properly, which leads to momentary penalties.
20 Messages

[2019-10-03 12:43] santiagorp commented on #3665
I am getting the same error. I am running a beacon node already for a couple of days (docker) but I tried to start a new one from scratch using bazel and I cannot sync even one block:

[code]

I have tried several times to check if I was lucky with different peers without luck so far...

[2019-10-03 13:53] #3644 closed

[2019-10-03 14:32] prestonvanloon commented on #3664
Related #3699

[2019-10-03 14:39] prestonvanloon opened #3700 "BLS pubkey copy is not a copy"
The copy method calls Set
https://github.com/prysmaticlabs/prysm/blob/6d2ce49c066762069a6f3342a11b8883f2d523ee/shared/bls/bls.go#L130-L133

and Set uses the same pointers of `PointG1`

[code]

https://github.com/kilic/bls12-381/blob/0e0109c48123644c3af40cb5f8586b18b58b460e/g1.go#L10-15

In short, these are still the same objects under the hood and could be mutated. This could allow for the pubkey

[2019-10-03 15:07] prestonvanloon commented on #3700
cc: @kilic

[2019-10-03 20:04] kilic commented on #3700
Naming is misleading. At element level it is a copy.

[code]

[2019-10-03 20:16] prestonvanloon commented on #3664
This is happening again. Looks like it is not related to the BLS pubkey cache which was disabled by default in #3699. Investigating...

[2019-10-03 22:30] prestonvanloon commented on #2546
Recent BLS PR has broken ARM builds #3670. Reopening this issue for tracking.

[2019-10-03 22:33] prestonvanloon commented on #3700
Thanks for clarifying!

[2019-10-03 22:33] #3700 closed

[2019-10-07 05:58] nisdas opened #3733 "Sync Fails Due to Signing Root Verification"
[code]

The same bug pops up even after multiple restarts and occurs at the same block slot of `101313`

[2019-10-07 13:05] stefa2k commented on #3733
Got the same issue

[code]

[2019-10-08 05:02] rauljordan commented on #3409
No longer relevant

[2019-10-08 05:02] #3409 closed

[2019-10-09 02:16] shogochiai commented on #971
FYI: I believe this is a relevant topic (without Tor).

https://ethresear.ch/t/anonymity-a-zkp-to-remove-the-mapping-ip-address-wallets-public-key-of-a-validator/6049

[2019-10-09 04:53] rauljordan opened #3744 "Attestation Aggregation is Broken"
- [x] Use bitfield utils to detect overlaps instead of the bitfield.Contains function when handling attestations in operations service #3747
- [ ] Change the key for attestations to be the SigningRoot of the entire attestation rather than simply the HashTreeRoot
- [ ] Explore optimal strategy for detecting the overlapped attestations

[2019-10-09 05:03] rauljordan opened #3745 "Implement Validator Client <> Beacon Node Redundancy"
A bad beacon node will cause problems in individual validator clients such as causing them to lose money or get slashed. We should have the ability for a single validator to connect to multiple beacon nodes as sources of truth. This is a tracking issue as this feature will require a design to complete.

[2019-10-09 05:08] prestonvanloon commented on #3745
gRPC allows multiple servers with client side load balancing.  We actually had a lot of issues with frequent shifting of server backends. Perhaps a better route is to improve health checks and not serve traffic when a beacon chain is bad.

One simple solution is to provide multiple backends, if desired for client side load balancing.

[2019-10-09 05:11] prestonvanloon commented on #3744
Related: https://github.com/prysmaticlabs/go-bitfield/pull/18

[2019-10-10 10:34] Skretch commented on #3733
I have the same issue at block 26073

[code]

[2019-10-10 10:36] stefa2k commented on #3733
@Skretch yes I can confirm I got the same error now at the same block.

[2019-10-10 15:47] Doppelbock42 commented on #3733
I'm getting this also.
`[2019-10-10 15:42:34]  INFO initial-sync: Processing block 26072/35622 - estimated time remaining 2h7m20s blocksPerSecond=1.2 peers=4/6
[2019-10-10 15:42:34]  INFO initial-sync: Processing block 26073/35622 - estimated time remaining 2h2m25s blocksPerSecond=1.3 peers=4/6
panic: could not process block from fork choice service: could not execute state transition: could not p

[2019-10-10 19:56] MartinNBG commented on #3733
I have the same issue at the same block... ._.

[2019-10-11 03:06] terencechain opened #3753 "Optimize epoch processing"
This issue tracks epoch processing optimization. Current implementation is straight up from the spec with a few instances of O(n^2) complexity.

Optimization can be done via 1 iteration over active validators for basic info, then 1 iteration over pending attestations to collect vote stats, and 1 iteration over validator to compute for balances. This shortens run time to O(V + A) where V is the len

[2019-10-12 02:51] terencechain commented on #3744
It is required to have todo 1 and 2 merged together for run time

[2019-10-12 03:45] prestonvanloon commented on #3744
Also need to add functionality to the attestation pool for maximum profit / attestation inclusion.

For a first pass, we'll naively fill blocks up to max attestations. We must revisit the scenarios where full blocks must select the most profitable attestations.

[2019-10-12 04:34] Magicking opened #3755 "Beacon-chain quit instead of retrying when PoW chain endpoint is unavailable"
[code]

Not really a bug but from a UX standpoint retrying with back-off could help running nodes.

[2019-10-12 04:41] Magicking opened #3756 "Latest docker beacon-chain image panic on initial syncing"
[code]

`--clear-db` is not present but database was wiped clean by hand before.

[2019-10-12 04:44] Magicking commented on #3756
Seems to be related to #3665

[2019-10-12 07:55] prestonvanloon commented on #3744
Added a full design for this solution: https://hackmd.io/@prestonvanloon/better_aggregation_inclusion

[2019-10-12 22:36] jamesthesken commented on #3277
Hey @rauljordan I'd like to take a look at this if it's still needed

[2019-10-12 23:34] jamesthesken commented on #3277
Is this in reference to https://github.com/prysmaticlabs/prysm/issues/3277 ?

[2019-10-14 17:51] terencechain opened #3777 "eth1 mock rpc is broken"
#3736 broke the usability eth1-mock-rpc, now when we run beacon node with eth1-mock-rpc, we get the following errors:
[code]

[2019-10-14 18:56] renovate[bot] opened #3779 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid regExp for packageRules[0].packagePatterns: `.*``

[2019-10-15 09:26] #3779 closed

[2019-10-15 20:11] har00ga commented on #3692
Updated in the Gitbook documentation: https://prysmaticlabs.gitbook.io/prysm/

[2019-10-16 18:14] prestonvanloon opened #3791 "Phase 1: Implement custody bits on attestations"
This is a generalized tracking issue for stubbed logic regarding custody bitfields.

[2019-10-17 07:02] jamesthesken commented on #3665
I also have the same issue @santiagorp after a fresh clone and build using:
- Ubuntu 16.04
- Bazel v1.0.0
- Golang 1.11.1 linux/amd64

[2019-10-17 16:55] prestonvanloon opened #3796 "One validator in a committee usually attests to a different data root"
Example logs from testnet:
[code]
The expected behavior is that the committee (identified by shard in this example) should have all validators attesting to the same root.

This is consistently reproducible in a single client local network with 64 validators. Turn debug logs on to see information about the block attestations printed when the operations service prunes attestations from the pool.

[2019-10-18 13:50] terencechain opened #3801 "Attester attests to head at last slot"
We are seeing attester attests to the head for last slot not current slot.
What we want:
[code]
What we see:
[code]

[2019-10-19 22:00] terencechain commented on #3753
Completed via #3805

[2019-10-19 22:00] #3753 closed

[2019-10-19 22:01] terencechain commented on #3744
Completed via #3790, it's working run time

[2019-10-19 22:01] #3744 closed

[2019-10-19 22:02] terencechain commented on #3686
Is this still reproducible?

[2019-10-19 22:02] terencechain commented on #3604
Can we close this? @rauljordan

[2019-10-20 00:32] pjindal opened #3809 "Error received during initial sync"
Received the following error during initial sync of the beacon chain using the latest docker image (10/19/19):

https://media.discordapp.net/attachments/560308336248225812/635173657345523742/unknown.png

Copying error as text:

[2019-10-19` 16:18:09]  INFO initial-sync: Processing block 16445/28925 - estimated time remaining 17m7s blocksPerSecond=12.2 peers=5/8
[2019-10-19 16:18:21] ERROR powchain

[2019-10-20 00:36] pjindal commented on #3809
May be related to #3756 or #3665

[2019-10-20 14:45] ethgasstation commented on #3756
I am having this same issue on initial sync

[2019-10-21 07:25] rauljordan commented on #3604
Yes, we have decided 256 per beacon node is an relative maximum we would recommend per beacon node, and we are able to go down to 2 to 3 seconds without problem due to new optimizations

[2019-10-21 07:25] #3604 closed

[2019-10-21 07:34] rauljordan commented on #2011
A design that would have excellent side effects for this would be store the state itself in a Merkle DB structure.

From @protolambda's [design](https://github.com/protolambda/eth2-impl-design):

[code]

Doing this would allow us to easily fetch the data we need at runtime without needing the entire state and would allow for lightning fast fetching of its hash tree root.

[2019-10-21 07:34] rauljordan commented on #2011
@nisdas @prestonvanloon @terencechain @0xKiwi @shayzluf what do you all think?

[2019-10-21 07:54] nisdas commented on #2011
@rauljordan this looks good to me. Optimizing for some thing like this would def be very helpful. But as you stated we need to be extra careful about data corruption. The state having so many pieces, it would be easy for a minor bug to slip in and cause unintended mutation. If we store this as a binary db, how would the state look like in bolt ?

Right now we just place the whole ssz blob into the

[2019-10-21 18:15] 3ach commented on #2849
I tried building the darwin_amd64 and windows_amd64 rules on my machine and it worked fine. is this still an issue?

[2019-10-21 23:15] #3796 closed

[2019-10-21 23:15] #3801 closed

[2019-10-21 23:41] mkinney opened #3817 "rpc not working as expected on beacon node"
I was experimenting with https://prylabs.net/participate and was able to get it working without any issues. Good job!

I wanted to see if the rpc was working. (just experimenting)

I added ' -p 7000:7000' and '--grpc-gateway-port=7000' to the beacon-chain:latest docker command.

I see the port 7000 is open but I'm getting:

`curl: (56) Recv failure: Connection reset by peer`

when I try:

`curl -v

[2019-10-22 01:32] mkinney commented on #3817
Thanks for making the code changes/PR but I still think there is an issue.

I see the docker images changed.

I removed my docker images and re-pulled the latest.

I started it like this:

[code]

Here's the top of the log (showing the commit version):

[code]

Port is open:

[code]

Still get same error:

[code]

Any ideas?

[2019-10-22 01:35] pjindal opened #3819 "Beacon chain recurring error / warning message every 10-15 minutes"
The following error / warning message recurs every 10-15 minutes:

https://cdn.discordapp.com/attachments/560308336248225812/636008981994799114/unknown.png

Copying text as error:

[2019-10-22 00:08:02] ERROR sync: Failed to handle p2p pubsub error=pre state of target block 62424 does not exist
could not process attestation from fork choice service
github.com/prysmaticlabs/prysm/beacon-chain/block

[2019-10-22 02:23] mkinney commented on #3817
I uninstalled docker.io and installed docker-ce by using https://docs.docker.com/install/linux/docker-ce/ubuntu/

Same results.

Trying from docker on mac as well. I get a slightly different error:

[code]

[2019-10-22 03:06] mkinney commented on #3817
I built locally on mac using bazel:

[code]

So, I don't think it's a code issue at this point.

[2019-10-23 21:02] terencechain opened #3835 "Implement naive aggregations strategy"
This issue tracks the necessary changes needed to implement the naive aggregation strategy as outlined [here](https://github.com/ethereum/eth2.0-specs/pull/1440/files). To break it down into smaller tasks:
- [ ] Update sync service
- [x] Update pool service
- [x] Implement new helpers #3837
- [x] Implement new proto field #3836

[2019-10-24 03:42] prestonvanloon opened #3841 "Panic on startup"
[code]

Offending line of code: https://github.com/prysmaticlabs/prysm/blob/be5451abef69a9b501945f96e36f03b6bb8874ae/beacon-chain/blockchain/service.go#L316

Not sure how to reproduce yet, asked user for copy of beaconchain.db.

[2019-10-24 03:51] prestonvanloon commented on #3841
Seems like a regression from #3824 since the symptom is a missing state in the db.

[2019-10-24 03:59] prestonvanloon commented on #3841
Discussed offline that the process that deletes saved states does so before updating the finalized checkpoint in the database. We can imagine that if the process was terminated in between these events then we have deleted the finalized state from the db.

Solutions:
- Return an error when database tries to delete the finalized state
- Update finalized checkpoint before deleting old states

[2019-10-24 04:00] Utopii commented on #3841
Got this error. Copy of beaconchain.db
[beaconchain.zip](https://github.com/prysmaticlabs/prysm/files/3765649/beaconchain.zip)

[2019-10-24 05:39] #3841 closed

[2019-10-24 06:07] rauljordan opened #3844 "ListValidatorBalances Not Working"
The ListValidatorBalances RPC call returns nothing, given it expects indices or public keys to function. We should return all balances paginated by default.

[2019-10-24 06:09] prestonvanloon commented on #3844
Some observations:
- Getting this data with no parameters returns nothing, i expected the current set of validators w/ balances.
- Specifying only a validator index doesnt work since "epoch" is 0 / unspecified. If you set it to some large value in the future, then it works to fetch that validators balance in the head state.

Ex: `curl -X GET "https://api.prylabs.network/eth/v1alpha1/validators/bal

[2019-10-24 16:43] Skretch commented on #3665
Have this same issue:
[code]
[code]
[code]

It gets a little further every time a try to sync

[2019-10-24 22:50] pjindal opened #3848 "Missing block doesn't link back to finalized check point in state"
Beacon chain started receiving the following errors:

https://cdn.discordapp.com/attachments/560308336248225812/636916326299861022/unknown.png

As text:

[2019-10-24 19:47:11] ERROR sync: Could not process block from slot 97362: could not process block from fork choice service: block from slot 97362 is not a descendent of the current finalized block
[2019-10-24 19:47:11]  INFO sync: Processed ance

[2019-10-24 23:21] paulhauner opened #3849 "Domain for deposit signatures"
Hey Prysm 👋

I'm working to build a genesis state from your deposit contract but all the signatures are failing on our end. After some digging, I suspect there's a mismatch between Prysm and the spec.

In `process_deposit`, the spec declares:

[code]

The second parameter to `compute_domain` is omitted, so it defaults to `Version()` which I understand to be `[0, 0, 0, 0]`.

In Prysm it seems you'r

[2019-10-24 23:28] terencechain commented on #3849
Ahh yes. thank you for pointing that out. We bumped up the fork version on every test net restarts for critical bug fixes. This is to disconnect with external peers that may no longer be compatible to sync with post critical bug fixes.

Not sure what's the best course forward. Is rolling back to fork version 0 a possibility? @prestonvanloon @rauljordan @nisdas

[2019-10-24 23:44] paulhauner commented on #3849
You're welcome!

I think you can keep bumping the fork version, but deposits need to stay on the 0 fork/domain to stick with the spec. All other non-deposit messages will still fail verification.

Interestingly, keeping the deposits on the 0 fork/domain means that you can replay deposits across different testnets. This doesn't immediately seem like a vuln though, there seems to be no gain to spend

[2019-10-24 23:57] terencechain commented on #3849
I'm just happy when we are discovering new "features" along with this experiment ; )

[2019-10-25 00:29] nisdas commented on #3849
@paulhauner Actually for our tests our fork version is still
[code]
so that is why we are still compliant with the spectests. The only time the fork version diverges
is during runtime where we use our `demoConfig` to set our custom parameters. However for the purposes of running our test suite it chooses the default beacon config, which always has the fork version as
[code]

[2019-10-25 00:47] paulhauner commented on #3849
@nisdas, makes sense. It would also break in the case where the fork version was incremented by a legit hard-fork, though.

[2019-10-25 00:53] nisdas commented on #3849
Not exactly, if there was a hard-fork, we would increment the fork version in the default config(Mainnet Config) .
https://github.com/prysmaticlabs/prysm/blob/master/shared/params/config.go#L173.

So we would then use this fork version across all our tests, etc.

[2019-10-25 00:57] paulhauner commented on #3849
I mean the client would diverge from consensus at runtime because it would declare all deposit signatures invalid.

The value you linked me wouldn't be what we increment during a fork, it would be `fork.current_version`.

I open an issue to add a test case for this here: https://github.com/ethereum/eth2.0-specs/issues/1445

[2019-10-25 01:08] nisdas commented on #3849
Ah k. Yes in that case it would declare some deposit signatures as invalid. Processing deposit logs from the eth1 chain would be problematic in this case

[2019-10-25 04:14] nisdas opened #3851 "Hard Forks Could Render Deposits Invalid"
Following on #3849, @paulhauner brought up an interesting case where in the case of a changed fork version in the case of hardforks, this would lead to valid deposits being rejected. Due to failing signature verification.

https://github.com/prysmaticlabs/prysm/blob/9bf55e53e70bfda50cc82ef460a1470d89b90e54/beacon-chain/core/blocks/block_operations.go#L966-L972.

Although currently for our testnet

[2019-10-25 04:40] nisdas opened #3852 "Adjust Processing of Deposit Logs When State Exists"
We currently process all the deposit logs from genesis irregardless if the node has an already saved beacon state or not. This is not an issue currently for our testnet as we only have 330 deposit logs to process. But in production the number could grow much larger to 65536,etc. Processing all deposit logs in the case of a restart would be repeated computation which serves no purpose, as the depos

[2019-10-25 05:02] paulhauner commented on #3851
Hey :) I'm not sure if I'm missing the point here, but there should be no need to "co-ordinate processing of deposit logs according to the appropriate fork version".

The fork version for a deposit is _always_ `[0, 0, 0, 0]`, regardless of any `beacon_state.fork.current_version`.

[2019-10-25 05:22] nisdas commented on #3851
below is the spec's definition of `get_domain`.
[code]
A different fork version in the state will lead to a different domain, which when verifying a signature for a deposit( which was made with an old fork version) will lead to the verification failing.

So when starting up the beacon node, and processing all the deposit logs from the deposit contract, we have to take into mind what the fork versi

[2019-10-25 05:23] paulhauner commented on #3851
In `process_deposit`, the spec declares:

[code]

The second parameter to `compute_domain` is omitted, so it defaults to `Version()` which I understand to be `[0, 0, 0, 0]`.

[2019-10-25 05:31] nisdas commented on #3851
ah, that is a bug then in our code. From the spec https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md#deposits

However, we use `get_domain` instead of `compute_domain` which is probably the source of confusion. Thanks for explaining this and bringing this up, will open a PR for this in a bit

[2019-10-25 05:33] nisdas commented on #3851
Closing this issue, since its not relevant with the current `ProcessDeposit` in the spec.

[2019-10-25 05:33] #3851 closed

[2019-10-25 06:02] pjindal commented on #3665
Having this issue as well

[2019-10-25 06:37] nisdas opened #3853 "Hardcode Fork Version for Compute Domain"
Currently we use `genesis fork version` as our fork version for retrieving the domain for validators to sign with. This cannot be hardcoded currently to `[]byte{0,0,0,0}` as this would break deposit verification in the testnet. However in our next testnet restart we can hardcode it so as to have parity with the spec.

[2019-10-25 06:38] paulhauner commented on #3851
No worries! :)

[2019-10-26 21:41] prestonvanloon opened #3858 "Initial sync stuck at slot 101323. Peers serving non-canonical block"
In the current running testnet, block at slot 101323 has a parent that is older than a finalized epoch.

101285 is the parent of block at slot 101323
101288 is finalized
syncing continues until 101323 then we see the following error
[code]

[2019-10-27 08:24] prestonvanloon commented on #3858
Related: https://github.com/prysmaticlabs/prysm/issues/3848

[2019-10-27 17:30] nisdas opened #3860 "Cache Skipped Slots"
Currently if we face an extended period of no finality, `ProcessSlots` becomes expensive and eventually poses a substantial risk to the functioning of the beacon node. It is because each time we advance the state by 1 slot, we have to treehash the whole state. If we have, for example 10 epochs with no finality, this grows to 80 slots and the beacon-node will have to tree-hash the state 80 times. U

[2019-10-28 00:16] terencechain commented on #3853
Can we close this with the merging of #3654?

[2019-10-28 03:58] nisdas commented on #3853
You mean #3854, right ? Not yet we will need to hardcode the version to `[]byte{0,0,0,0}` first and that would only be possible in the case of a testnet restart

[2019-10-28 10:47] fooock opened #3863 "Docker run in README.md doesn't works"
Running via Docker, section Linux/Mac in [README.md](https://github.com/prysmaticlabs/prysm/blob/master/README.md#running-via-docker) fails when execute:

[code]

You should put `--name` after port configuration. Currently, the result of executing this command is:

[code]

[2019-10-28 10:57] fooock commented on #3863
Related to #3692

[2019-10-28 11:11] fooock opened #3864 "Unable to start beacon chain behind proxy"
I want to start the `beacon-chain` container behind a proxy, but when I execute:

[code]

but, the result is:

[code]

I'm using the `http_proxy` and `https_proxy`  environment variables but it seems that they are not used at all.

Should exist an option in the beacon chain to set up the connection using a proxy server?

[2019-10-28 11:14] fooock commented on #3864
I'm using this beacon-chain version:
`Git commit: 582c3827716436d879ea7cb80719b1fe18527b71. Built at: 2019-10-27 03:46:10+00:00`

[2019-10-28 13:43] soc1c commented on #3756
Having the same issue. Any workarounds?

[2019-10-28 14:00] terencechain opened #3865 "Align to spec v0.9"
With the release of [v0.9](https://github.com/ethereum/eth2.0-specs/pull/1453) to facilitate new shading proposal. This PR tracks to the progress to align Prysm to v.0.9 which is important for multi client test net. The experimental branch for this is: https://github.com/prysmaticlabs/prysm/pull/3760

The v.0.9 consists of the following:
## Beacon chain
### feature

- [x] alter beacon proposer sel

[2019-10-28 14:01] nisdas opened #3866 "Add Argument to Clear DB"
Each time `--clear-db` is run on a beacon node, it forces the user to give an input to clear the db. An argument should be provided to it, to force clean the db. Ex: `--clear-db=force` . This would prevent on user input being required.

This is an issue to track the implementation of it

[2019-10-28 16:09] tsudmi opened #3867 "Beacon chain crashes when calling gRPC before genesis"
Hi,

The beacon node crashed for me when I was using `ValidatorPerformance` and `ValidatorStatus` gRPC services before genesis start.
I was using the latest beacon chain image (ID: `8674833ec5bd`). The crash dump was following:
[code]

[2019-10-28 16:28] torfbolt commented on #3864
Eth2 uses a peer-to-peer network which is not based on HTTP, so I don't think connecting via an HTTP proxy will ever be possible.

[2019-10-28 17:09] har00ga commented on #3863
Thanks for noting this! Adjustments have been merged with #3834

[2019-10-28 19:37] mkinney commented on #3866
I think this is ready, but I'd like some help having someone review it/provide feedback.

[2019-10-28 19:48] #3863 closed

[2019-10-29 01:01] prestonvanloon commented on #3849
What is the resolution for this issue?

[2019-10-29 01:33] terencechain commented on #3692
We can close this with the merge of #3834

[2019-10-29 01:33] #3692 closed

[2019-10-29 03:38] prestonvanloon opened #3874 "Feature flag cleanup: remove --optimize-process-epoch"
Ensure this is fully tested at runtime and ready to release.

Original issue #3753.

[2019-10-29 03:39] prestonvanloon opened #3875 "Feature flag cleanup: remove --prune-finalized-states"
This feature should be fully tested at runtime, released, and flag removed.

[2019-10-29 03:45] prestonvanloon commented on #654
This builds on windows.

[2019-10-29 03:45] #654 closed

[2019-10-29 03:45] terencechain commented on #3874
Please review and merge #3855 for this. It fixed an critical edge case

[2019-10-29 03:47] prestonvanloon commented on #2938
This should build OK with bazel  v1+. Please reopen if this is not the case. Thanks!

[2019-10-29 03:47] #2938 closed

[2019-10-29 04:05] terencechain commented on #3865
Working on `beacon proposer selection logic` and ` remove shards/crosslinks`

[2019-10-29 06:42] prestonvanloon commented on #3819
I believe this is due to multiple blocks stored at the same slot in the beacon database. It should be resolved with #3873.

[2019-10-29 06:43] prestonvanloon commented on #3864
Seems like an issue with the proxy? I'm not sure what code changes would help here.

[2019-10-29 06:44] prestonvanloon commented on #3866
Why not just make this another flag? `--force-clear-db`? The argument seems a bit cumbersome

[2019-10-29 06:45] prestonvanloon commented on #3777
It should always be using domain for {0,0,0,0}. See #3876

[2019-10-29 06:48] prestonvanloon commented on #3756
This is due to not having the correct genesis time. Please use `--no-genesis-delay` flag for testnet access.

[2019-10-29 06:49] prestonvanloon commented on #3809
This looks like an intermittent networking issue. Either on our side with the testnet hosted nodes or on your local machine.

Going to close for now. Please re-open if you see it again.

[2019-10-29 06:49] #3809 closed

[2019-10-29 06:50] prestonvanloon commented on #3697
Occasional penalty is expected when committee sizes are not divisible by the number of slots per epoch.

Consistent penalty is another issue...

[2019-10-29 06:51] prestonvanloon commented on #3665
I believe this was indeed resolved by #3862. There are still a few pre-state issues that will hopefully be resolved by #3873.

[2019-10-29 06:51] #3665 closed

[2019-10-29 08:36] nisdas commented on #3777
Yeap , once we merge the PR in, this should no longer be an issue

[2019-10-29 08:47] nisdas commented on #3866
that might be a better idea ...
@mkinney what do you think ? sorry for the changed requirements on this

[2019-10-29 09:19] soc1c commented on #3756
That worked @prestonvanloon

[2019-10-29 15:14] #3819 closed

[2019-10-29 15:14] #3848 closed

[2019-10-29 15:14] #3858 closed

[2019-10-29 17:10] mkinney commented on #3866
Since there was only one function in clear_db.go that primarily prompted the user if they wanted to clear the db. Since that option is no longer available via command line flags, I removed that file.

[2019-10-29 17:15] mkinney commented on #3867
What command were you running? (steps to reproduce)

[2019-10-29 17:18] nisdas commented on #3866
We actually just need 2.) . You can leave the clear-db flag as it is

[2019-10-29 17:20] mkinney commented on #3866
Ok. I'll do that.

[2019-10-29 17:34] prestonvanloon opened #3885 "Cannot process block at slot 112849"
[code]

[2019-10-29 17:51] prestonvanloon commented on #3885
I'm getting it at 112848 now...

[2019-10-29 10:49:30]  INFO forkchoice: Executing state transition on block root=0x6a4f34d5... slot=112848
[2019-10-29 10:49:30]  WARN interop: Writing block to disk at /tmp/beacon_block_112848.ssz
[2019-10-29 10:49:30]  WARN interop: Writing state to disk at /tmp/beacon_state_112848.ssz
panic: could not process block from fork choice service: could not execute sta

[2019-10-29 18:26] Magicking commented on #3756
Tested today using guide from https://prylabs.net/participate (e.g: `--no-genesis-delay`) worked like a charm!

[2019-10-29 18:26] #3756 closed

[2019-10-29 19:23] prestonvanloon commented on #3885
`zcli` agrees this is bad transition.

[code]

[2019-10-29 20:08] fooock commented on #3864
@prestonvanloon I will check my proxy, without it, the beacon-chain works well, as expected

[2019-10-29 20:18] prestonvanloon commented on #3885
All of the balances are different.

[diff.log](https://github.com/prysmaticlabs/prysm/files/3785631/diff.log)

[2019-10-29 21:05] metanull-operator opened #3890 "Pre State of Slot 56911 Does Not Exist"
I have been attempting to sync the beacon-chain from a clear DB today, and keep running into errors such as the following examples, in order:

[2019-10-29 17:05:27] DEBUG blockchain: Saved new head info headRoot=0x615fe62b3b1504a0b7070822716668e70367c78a93be86f48307b201e2e108df slot=40835
[2019-10-29 17:05:27]  INFO blockchain: Finished applying state transition attestations=3 deposits=0 slot=4083

[2019-10-29 21:48] terencechain opened #3891 "GenerateFullBlock using the wrong state root?"
`GenerateFullBlock` 's state root is a tree hash of calculated state root. I found that to be weird but it's working?

[code]

https://github.com/prysmaticlabs/prysm/blob/master/shared/testutil/block.go#L115

[2019-10-29 23:20] tsudmi commented on #3867
Hi @mkinney,

1. Start a beacon node with the demo config and connect it with the eth1 chain where VRC is deployed.
2. Provision validator node and register it in a beacon chain.
3. Use a `ValidatorService` from [services.proto](https://github.com/prysmaticlabs/prysm/blob/master/proto/beacon/rpc/v1/services.proto) to query a beacon node for the deployed validator public key (I've used [python gRPC

[2019-10-29 23:30] Magicking commented on #3890
I have the same problem using the today docker-image, I run with ```while true; do docker run -it -v /tmp/prysm-data:/data -p 4000:4000 \
  gcr.io/prysmaticlabs/prysm/beacon-chain:latest \
  --datadir=/data \
  --no-genesis-delay \
  --init-sync-no-verify; sleep 1; done```

[2019-10-29 23:38] metanull-operator commented on #3890
Another...

panic: could not process block from fork choice service: pre state of slot 65971 does not exist
goroutine 251 [running]:
github.com/prysmaticlabs/prysm/beacon-chain/sync/initial-sync.(*InitialSync).Start(0xc0003ee8d0)
        beacon-chain/sync/initial-sync/service.go:106 +0x97d
created by github.com/prysmaticlabs/prysm/shared.(*ServiceRegistry).StartAll
        shared/service_registry.

[2019-10-29 23:55] prestonvanloon commented on #3867
The root issue here is that our panic handler is panicking. This handler is meant to capture the panic and gracefully return an error.

A resolution here would be to fix the panic handler to accept `runtime.errorString` or `string` interface type conversions.

[2019-10-30 03:01] metanull-operator commented on #3890
[2019-10-30 02:55:54]  INFO blockchain: Finished applying state transition attestations=3 deposits=0 slot=82313
[2019-10-30 02:55:54]  INFO initial-sync: Processing block 82318/179303 - estimated time remaining 20h43m23s blocksPerSecond=1.3 peers=5/7
panic: could not process block from fork choice service: pre state of slot 82318 does not exist
goroutine 223 [running]:
github.com/prysmaticlabs/pry

[2019-10-30 03:09] prestonvanloon commented on #3885
At this stage of investigation, we are trying to understand how this happened.

Current idea is that this is caching related. We have disabled the shuffled index cache behind a feature flag for now (#3893) and are continuing to try to understand how it manifested.

[2019-10-30 03:12] prestonvanloon commented on #3885
Next steps are to walk through every step of block processing to identify potential non-deterministic inputs / side effects.

[2019-10-30 03:49] metanull-operator commented on #3890
[2019-10-30 03:32:21]  INFO initial-sync: Processing block 84752/179667 - estimated time remaining 23h58m6s blocksPerSecond=1.1 peers=5/6
panic: could not process block from fork choice service: pre state of slot 84752 does not exist
goroutine 236 [running]:
github.com/prysmaticlabs/prysm/beacon-chain/sync/initial-sync.(*InitialSync).Start(0xc0005320c0)
        beacon-chain/sync/initial-sync/servi

[2019-10-30 03:52] metanull-operator commented on #3890
[2019-10-30 03:50:21]  INFO blockchain: Finished applying state transition attestations=3 deposits=0 slot=84747
[2019-10-30 03:50:21]  INFO initial-sync: Processing block 84753/179847 - estimated time remaining 17h2m30s blocksPerSecond=1.6 peers=6/6
panic: could not process block from fork choice service: pre state of slot 84753 does not exist
goroutine 219 [running]:
github.com/prysmaticlabs/prys

[2019-10-30 03:54] metanull-operator commented on #3890
I'll hold back on any further reports, but it continues after this.

[2019-10-30 03:59] metanull-operator commented on #3890
OK. One more, but only because this next message was different than the rest. Could be separate issue.

[2019-10-30 03:54:59]  INFO initial-sync: Processing block 84757/179893 - estimated time remaining 16h0m58s blocksPerSecond=1.6 peers=6/6
[2019-10-30 03:54:59] DEBUG operations: No attestations found with this root. root=0x3ab03534139be56e94d4684ce6b86ff39f3b07e8e9b1cc5380e773477556ec72
[2019-10

[2019-10-30 05:42] nisdas opened #3895 "Version Does Not Print Anything"
If we run `./beacon-node --version`, we get
[code]
which does not tell us anything, as the git commit and date are both empty. This issue is to track the implementation of the proper version information of the beacon node being printed.

[2019-10-30 12:34] Magicking commented on #3890
Using commit 2785a6d5eeabe28d231177ddd319891ed191f19d image that include the [Track finalized block root index and filter in blocks by range](https://github.com/prysmaticlabs/prysm/pull/3873/commits) PR the behavior I'm observing is that when we restart the beacon-client after a panic, it restarts with its block tip from a few blocks back and then continue processing past the faulty block.

Maybe

[2019-10-30 12:43] nisdas commented on #3890
hey @Magicking  #3880, should fix this. It will be cleaned up and up for review. If you want, you could try building the PR and sync with the testnet. I am confident this will prevent the `pre state of slot ...` panic from coming up again.

[2019-10-30 13:46] nisdas opened #3898 "Handle Invalid Blocks in Initial Sync"
Currently we panic if we receive an invalid block in initial sync. Ex: It causes a transition with an invalid state root, or it has an invalid attestation,deposit,etc .

We should instead continue syncing even though the block is bad rather than panicking, Currently we panic, so as to be able to debug any potential testnet bugs more easily. This issue is to track the implementation of an invalid b

[2019-10-30 15:26] Magicking opened #3899 "Switching web3provider seems to switch correctly"
At time of writing the default web3 provider seems to be down and switching to another (wss://goerli.eth.6120.eu/ws) seems to pass the initial check of web3provider available but a non-fatal 503 http error was displayed indicating that maybe the default provider is in use.

[2019-10-30 16:33] mkinney commented on #3895
The code is in `shared/version/version.go`.

[2019-10-30 16:43] mkinney commented on #3895
The script does the work:

$ cat scripts/workspace_status.sh

[code]

But when I run it...

[code]

Looks like a mac/date issue.

[2019-10-30 16:55] nisdas opened #3900 "Decouple ETH1 Node From Beacon Node"
The Beacon Node is tightly coupled with the connected ETH1 Node. With the Istanbul Hardfork on Goerli, all our beacon nodes ended up crashing due to disconnecting from the eth1 goerli node. Going forward we will need to decouple the eth1 node from our node. We should be able to handle failures,disconnection from the goerli node and still be able to propose blocks, etc .

This issue is to track han

[2019-10-30 17:32] prestonvanloon commented on #3895
You have to build the beacon chain node with the stamp.

[code]

The version could be better about detecting that the binary was not stamped and print a better message.

[2019-10-30 17:36] prestonvanloon opened #3901 "Testnet is stalled / down"
The current running testnet (fork version 2) is stalled and will soon be dead. Next testnet is targeting to start on November 4th, pending milestone completion.

See the [incident write up](https://docs.google.com/document/d/1R4WWO88UtMP_rMY9rwaIGlDuwP_lxhQLbb_zRp65kGY/edit#).

Follow the progress in the associated milestone for this issue. We'll close this once we start with a new chain.

[2019-10-30 22:40] #3867 closed

[2019-10-31 00:02] Magicking commented on #3890
Yes, before using the PR above I had the same `pre state of slot XXXX does not exist` as described by OP at multiple previous blocks

[2019-10-31 02:55] mkinney commented on #3899
What was the command that you were using?

If running from build, what is the commit?

What was the full error?

[2019-10-31 03:21] mkinney commented on #3898
Do you know at what block it dies?

Or, do you know how to simulate the failure?

I've started a few syncs after running `clear-db`.

[2019-10-31 03:30] mkinney commented on #3898
One of the syncs go to here:

[code]

[2019-10-31 03:40] mkinney commented on #3898
Here's a diff... and re-trying a sync (after `clear-db`):

[code]

[2019-10-31 03:49] mkinney commented on #3898
Want me to create a PR for changing the panic to a log?

Want a new flag `--stop-on-sync-error`?

[2019-10-31 03:53] terencechain commented on #3898
This is probably move involved than panic -> log. We might want an invalid block handler

[2019-10-31 03:56] mkinney commented on #3898
What would the invalid block handler do? Re-try `n` times with a backoff amount? Or perhaps something else?

[2019-10-31 04:15] nisdas commented on #3898
Ah no we dont want a flag for this, #3880 should handle most of the panics we are seeing now. This is to track the implementation of an invalid block handler. For the purposes of debugging our testnet, we panic if we receive a block that causes an invalid transition. Eventually we will want to handle any invalid blocks properly in mainnet

[2019-10-31 05:19] mkinney commented on #3899
Is this related to https://github.com/prysmaticlabs/prysm/issues/3755 ?

[2019-10-31 19:46] prestonvanloon commented on #3860
Closed by #3879

[2019-10-31 19:46] #3860 closed

[2019-11-01 00:30] paulhauner opened #3909 "Genesis validator count"
Hello :)

I changed our deposit signatures so they match what Prysm is using. I was able to start from genesis, however our genesis state has 91 validators and the one I received from @prestonvanloon has 64 validators. I believe that 91 is correct and 64 is not.

Looking at the [Genesis](https://github.com/ethereum/eth2.0-specs/blob/v0.8.4/specs/core/0_beacon-chain.md#genesis) section, the spec de

[2019-11-01 01:29] nisdas commented on #3909
Hey thanks for bringing this up, yeah it seems like we might not be setting the genesis state correctly after re-reading the spec. I will work on this today and get this fixed

[2019-11-01 02:54] nisdas commented on #3909
@paulhauner #3911 should fix this. Running the PR locally , I also get 91 deposits so I think we should be compatible now

[2019-11-01 06:17] paulhauner commented on #3909
Great. I'd love to get a copy of your genesis state, if it's not much trouble?

I'll compare it to mine, which has the root `0x2a98…0088`.

[2019-11-01 08:18] nisdas commented on #3909
Alright attached is the state , with root
`0xc933be3f4ef861ac5d122de2eb944a94da5025aedaa9bf08e2b878baf3433896` .

I am guessing the difference is the genesis time. We use a modified version of the genesis time:
Ours:
[code]
Spec:
[code]
The primary reason is being able to start up a testnet quickly, otherwise we would have to wait 2 days before the chain starts.

State:

[genesis.tar.gz](https://g

[2019-11-01 14:51] rauljordan commented on #3745
This is sufficient to resolve this issue, that's what I had in mind

[2019-11-01 14:51] #3745 closed

[2019-11-01 20:10] #3909 closed

[2019-11-02 22:03] #3844 closed

[2019-11-03 17:42] rauljordan commented on #3864
Agree this is an issue with the proxy not allowing the connection, not due to Prysm/Bazel itself. Closing unless there is more evidence of the root cause.

[2019-11-03 17:42] #3864 closed

[2019-11-03 17:58] mkinney commented on #3866
Ok to close this issue. PR was merged.

[2019-11-03 18:06] prestonvanloon commented on #3866
Closed by #3871

[2019-11-03 18:06] #3866 closed

[2019-11-03 23:37] #3777 closed

[2019-11-03 23:37] #3853 closed

[2019-11-04 01:12] xiaods commented on #3598
any update on this bounties. does it working?

[2019-11-04 05:30] rauljordan commented on #1909
Closing in favor of #3133

[2019-11-04 05:30] #1909 closed

[2019-11-04 14:51] rauljordan opened #3917 "Implement RPC Endpoint to Retrieve Current Config Parameters"
Feature request from our users in our discord server: having a nice way to retrieve current chain configuration parameters via an RPC endpoint would be very useful to understand what sort of of node one is talking to.

[2019-11-04 16:55] prestonvanloon commented on #3598
@rauljordan is this issue still relevant?

[2019-11-04 16:56] mkinney commented on #3917
What info?

1. Any exposed endpoints? (rpc, gRPC, health check, swagger, etc.)

2. Anything from BeaconConfig?

(list is derived from the command `find . -type f -name \*.go -exec grep -o "params.BeaconConfig()\.[A-Za-z]*" {} \; | sort | uniq`)

params.BeaconConfig().ActivationExitDelay
params.BeaconConfig().BLSPubkeyLength
params.BeaconConfig().BLSWithdrawalPrefixByte
params.BeaconConfig().BaseRe

[2019-11-04 18:00] mkinney commented on #3917
Any info on how to use/generate using protoc-gen-gogo?

[2019-11-04 18:10] terencechain commented on #3917
@mkinney just beacon chain config, not the beacon state

[2019-11-04 21:11] prestonvanloon commented on #3917
IMO this can be a gRPC message that is a map of all properties in the beacon config.

[code]

This would be easier than defining the beacon config as a full message.
I'm not sure what the use cases are here.

[2019-11-05 01:11] xrow opened #3923 "Running container in kubernetes / openshift"
Hi,

if I try to run the container in for example openshift I get the error message below because the container has no terminal available. I think I might be smart to not have the entrypoint pointed towards the binary. Try to use something like this as an entry point. Also it could be better to have env vars controlling the params of the binary.

Proposal for new entry point
[code]

[code]

[2019-11-05 02:56] mkinney commented on #3917
Sorry for my ignorance. I've been doing a bit of learning about google's protobuf stuff today. I see that the go-go stuff has reflection, so, yeah, this may be much easier than I thought it'd be. (if you know what you're doing)

I think this came up in the `ethereum-api` channel:

and

[2019-11-05 03:34] prestonvanloon commented on #3917
For the config params, i'm suggesting a lazy way of returning generic map of the config params.

For the current slot / epoch, you can get the genesis time and determine that from the current clock time.

[2019-11-05 05:29] prestonvanloon commented on #3849
I believe this was resolved by #3876. Please reopen if that is not the case.

[2019-11-05 05:29] #3849 closed

[2019-11-05 05:29] prestonvanloon commented on #3900
Resolved by #3915 and #3914

[2019-11-05 05:29] #3900 closed

[2019-11-06 00:10] xiaods commented on #3598
no feedback rightnow.

[2019-11-06 05:40] prestonvanloon commented on #3923
Hey xrow, our docker containers are extremely minimal. They consist of only the compiled binary for linux amd64 and the manifest that describes the docker image.

If you need shell, or any other tooling, then you may want to generate your own docker image. We think that a minimal image is more secure than an image that builds off of some external base image.

With regards to environment variables,

[2019-11-06 15:46] rauljordan commented on #3598
We can close this issue, @ferranbt 's analysis was sufficient to clarify snappy is superior here. @ceresstation can we award the bounty?

[2019-11-06 15:47] rauljordan commented on #3817
@mkinney is this resolved by #3868?

[2019-11-06 16:02] #3598 closed

[2019-11-06 16:10] terencechain opened #3937 "Verify new cache works with v0.9"
Opening this issue to verify `committee cache` works with `v0.9`. Given the committee aka new cache is disabled by default, we are moving forward with v0.9 without detailed verification how this cache does in v0.9

[2019-11-06 16:11] terencechain opened #3938 "Verify archival mode works with v0.9"
Opening this issue to verify archival mode works with v0.9. Given the archival mode is disabled by default, we are moving forward with v0.9 without detailed verification on how archival mode does in v0.9 run time

[2019-11-06 16:21] rauljordan commented on #3593
Still relevant? Can't foresee any use cases for json or yaml states so far -  seems like .ssz is the standard

[2019-11-06 16:21] rauljordan commented on #3593
@nisdas

[2019-11-06 16:46] rauljordan commented on #3895
Resolved by #3904

[2019-11-06 16:46] #3895 closed

[2019-11-06 16:47] rauljordan commented on #3755
This is resolved by #3914 right? @terencechain @nisdas

[2019-11-06 17:59] prestonvanloon opened #3943 "Local builds depend on git. exec: "git": executable file not found in $PATH"
If a Prysm binary is built without `--workspace_status_command=./scripts/workspace_status.sh` then the binary fails to start on systems that don't have git installed.

We need to revert or amend #3904 as this might cause issues for users that wish to build locally and run on machines that don't have git installed.

_Originally posted by @prestonvanloon in https://github.com/prysmaticlabs/prysm/pul

[2019-11-06 17:59] prestonvanloon commented on #3943
cc: @mkinney

[2019-11-06 18:24] mkinney commented on #3943
Sorry. Should not have put a fatal in there.

[2019-11-06 18:41] #3943 closed

[2019-11-06 18:54] mkinney commented on #3817
With help from @prestonvanloon I was able to fix/test the issue.

Did need to change the localhost to `0.0.0.0`.

For posterity, here is how I was able to test it. (from mac)

`DOCKER_TAG=latest bazel run //beacon-chain:image_bundle --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64_cgo`

`docker run -v $HOME/prysm-data:/data -p 4000:4000 -p 7000:7000   --name beacon-node   gcr.io/prysmaticl

[2019-11-06 19:01] #3817 closed

[2019-11-06 20:23] rauljordan commented on #3628
Duplicate of #3664

[2019-11-06 20:23] #3628 closed

[2019-11-06 23:28] prestonvanloon opened #3947 "Finalized block index is missing blocks in finalized epoch"
When we index finalized block roots, we are assuming that the checkpoint root is the starting point for walking up the ancestry tree to build the canonical finalized chain. However, the finalized root in the checkpoint is the highest block up to or including the block at the finalized slot. This leaves the other blocks in the epoch un-indexed and therefore return false when asking `db.IsFinalizedB

[2019-11-06 23:30] terencechain commented on #3947
Run time is broken for initial syncing. if you need immediate relief take the following `+1` out:
https://github.com/prysmaticlabs/prysm/blob/0481eb4872be535764bf80a0e32bd157ade37ac2/beacon-chain/sync/rpc_beacon_blocks_by_range.go#L88

[2019-11-07 02:05] nisdas commented on #3347
This is currently handled, so closing the issue.

[2019-11-07 02:05] #3347 closed

[2019-11-07 05:09] rauljordan opened #3949 "Allow Filtering of Blocks and Block Roots by Epochs"
This is pretty ugly:

[code]
Instead, we should allow blocks to be filterable by `StartEpoch` and `EndEpoch` as well. Thanks @prestonvanloon for bringing this up.

[2019-11-07 05:12] prestonvanloon commented on #3949
Thanks for filing this! Just to clarify a bit on my objective. I wanted to query such that I would retrieve all block roots for blocks within the epoch identified by `checkpoint.Epoch`.

[2019-11-07 17:31] terencechain opened #3952 "Block validator response until sync to head"
The problem is when a beacon node is syncing to head and we start validator the same time before the beacon node is fully sync'ed. Beacon node will pass validators old assignments and old attestation to sign then broadcast those attestations to the rest of the network. Here's an example:

1.) Node A at head
2.) Node B starts at genesis slot
3.) Start validator clients and attach to node B
4.) Whil

[2019-11-07 18:28] prestonvanloon commented on #3952
Discussed offline a two part solution:
- Beacon node should return an error for gRPC requests that require the node to be in sync. This includes CommitteeAssignments, RequestBlock, RequestAttestation, etc.
- The validator should ensure that the beacon node is in sync before connecting and requesting work. This could be a simple 3 to 5 second poll to [Node.GetSyncStatus](https://github.com/prysmati

[2019-11-07 19:08] prestonvanloon commented on #3885
This should be resolved with feature flags on caches. Will monitor closely in next testnet.

[2019-11-07 19:08] #3885 closed

[2019-11-08 03:00] #3947 closed

[2019-11-08 21:39] rauljordan commented on #3593
Closing this for now as there is little utility in the feature

[2019-11-08 21:39] #3593 closed

[2019-11-08 22:08] terencechain opened #3960 "Align to spec v0.9.1"
With the release of [v0.91](https://github.com/ethereum/eth2.0-specs/releases/tag/v0.9.1) to remove custody bit construct and modify fork choice rule to harden defenses. This PR tracks to the progress to align Prysm to v.0.91

The v.0.91 consists of the following:
### Beacon chain

- [x] remove custody_bits from Phase 0(https://github.com/ethereum/eth2.0-specs/pull/1462)

### Fork choice

- [x]  a

[2019-11-10 20:03] prestonvanloon opened #3965 "spec v0.9 branch cannot process deposits"
Reproduction steps:
- Start chain with many deposits, usually all at once before the chain starts
- When finality occurs, blocks start failing processing in p2p/sync

[code]

[2019-11-11 17:54] prestonvanloon commented on #3965
Resolved by #3966. Looks like there was data being modified when receiving a block.

We'll need to follow up with a root cause, but the issue is resolved for now.

[2019-11-11 17:54] #3965 closed

[2019-11-11 18:09] rauljordan opened #3969 "Implement GetCommittees RPC Endpoint"
As part of @shayzluf's work on slashing detection, being able to have access to validator committees by epoch would be critical in order to convert attestations into indexed form. We can easily expose a GetCommittees RPC endpoint that does that to support that use case from Prysm. This functionality, however, will require the node to be archival to work properly.

[2019-11-11 18:10] rauljordan commented on #3969
I can take on this feature today.

[2019-11-11 18:27] rauljordan opened #3970 "Identify Duplicated Logic in Prysm and Introduce Better Abstractions"
A major source of bugs in our repo is due to having multiple implementations of the same functions, with very few differences between each other such as the function's input arguments.

This is hard to notice because theres a strict spec version of a function that's in the `core/` . package, and at the same time, we find use cases for such function in other parts of our runtime but don't want to u

[2019-11-11 18:42] 0xKiwi opened #3971 "Modify GetValidatorParticipation to calculate participation from last epoch"
Currently, `GetValidatorParticipation` in our beacon chain node API tries to calculate validator participation off of the current head state. This is improper because the head state is constantly changing, and any data regarding participation that is calculated on a changing state is useless.

This is a tracking issue to ensure this endpoint is modified to calculate participation from the previous

[2019-11-11 21:14] tzapu opened #3972 "confused about epoch boundries and their respective blocks"
hi guys,

the issue i have is from the point of view of an api user.

for some stuff it's a whole lot easier to reason in epochs rather than slots, like finalized and justified epochs, yet the api does not have a way of getting the current/justified/finalized epochs, just slots via `beacon/chainhead`.
as i understand it, if we consider the number of slots in an epoch to be 8, epoch 0 would be slot

[2019-11-11 21:25] rauljordan opened #3973 "Tidy Up Beacon Chain RPC Package"
This is a tracking issue for tidying up our beacon chain RPC package, which has become unwieldy. Currently [`beacon-chain/rpc/beacon_chain_server_test.go`](https://github.com/prysmaticlabs/prysm/blob/be1b90d51188ddfff375cd9c149d3f55cd165143/beacon-chain/rpc/beacon_chain_server_test.go) is sitting at over 2000 loc. We should split up these different RPC servers into their own subpackages in the `rp

[2019-11-11 21:26] rauljordan opened #3974 "Improve RPC Error Return Types Using gRPC Error Codes"
Part of #3973, this is a tracking issue to improve error codes in our RPC package. Instead of always returning `Unknown`, we should be using more informative gRPC errors such as `NotFound`, `Unavailable`, etc. See [gRPC Error Code Guidelines](https://grpc.io/docs/guides/error/) here for more context.

[2019-11-11 22:41] rauljordan commented on #3901
Testnet is back up with #3935 :)

[2019-11-12 00:22] prestonvanloon commented on #3901
Testnet site still needs to be updated. Working through ABI changes from the deposit contract. I'll close this issue again after that is resolved.

[2019-11-12 01:28] prestonvanloon opened #3979 "New Deposits Are Unable to Be Included in Deposit Contract"
~As part of v0.9.0, we must compute the new deposit trie root with the deposit or ethereum 1 transaction will fail.~

~There are a few concerns here:~
- ~validator accounts create needs access to a synced node (eth1?) to determine latest deposit trie root~
- ~if the deposit is frontrun and the deposit trie root changes, then this transaction will fail. This is a UX concern because users will need

[2019-11-12 01:29] prestonvanloon commented on #3901
Testnet is running but new validator deposits are blocked by https://github.com/prysmaticlabs/prysm/issues/3979

[2019-11-12 07:35] prestonvanloon commented on #3979
This seems to be incorrect. @nisdas can you comment please?

[2019-11-12 07:40] nisdas commented on #3979
Just to clarify this doesn't have anything to do with the deposit trie root. Currently we are not able to send any new deposits using our deposit tool. We currently have 256 deposits successfully processed by the contract. However all new deposits are failing to be included.

[2019-11-12 15:29] tzapu opened #3982 "getting error when calling activesetchanges with an epoch param"
tested here
https://api.prylabs.net/#/BeaconChain/GetValidatorActiveSetChanges
with an older epoch as the param

`curl -X GET "https://api.prylabs.net/eth/v1alpha1/validators/activesetchanges?epoch=85" -H  "accept: application/json"`

[2019-11-12 15:36] nisdas opened #3983 "Block is Being Mutated When Received From Sync"
Currently blocks received from sync have their deposit proofs mutated when they are processed. These lead to bugs such as #3965. Although now that we clone block before processing them to unblock ourselves and proceed with the testnet relaunch, this bug still remains. This issue is to track the ultimate resolution of this issue by finding the core cause of mutation.

[2019-11-12 17:01] #3973 closed

[2019-11-12 17:07] prestonvanloon opened #3985 "Key manager should wait for transactions to be mined to confirm success"
https://github.com/prysmaticlabs/prysm/blob/81c53c26fb97c179f80c5d77e1719cfd83ac329e/tools/cluster-pk-manager/server/server.go#L71-L75

We noticed some behavior where private keys were allocated with failed deposits yesterday. This should not be allowed to be a successful response.

[2019-11-12 17:08] prestonvanloon commented on #3979
Looks like it was a testnet site issue. https://alpha.prylabs.network working OK.

[2019-11-12 17:08] #3979 closed

[2019-11-12 17:12] prestonvanloon commented on #3901
Testnet back up at https://alpha.prylabs.network. Will promote to prod at end of day.

[2019-11-12 17:12] #3901 closed

[2019-11-12 23:51] terencechain commented on #3960
thanks @prestonvanloon for taking on [fix period_tail in get_eth1_vote](ethereum/eth2.0-specs#1468)

[2019-11-13 05:17] #3971 closed

[2019-11-13 05:31] rauljordan opened #3991 "Provide StateRoot as Parameter to ListBeaconCommittees RPC"
Discussed in #3977, there are cases in which there could be a forked chain and committees might be different from the point of view of a node. If a state root can be passed in as a request parameter, the `ListBeaconCommittees` function can verify it and the client can have peace of mind the committees being returned are from the same chain it is requesting. This would be an enhancement on top of #

[2019-11-13 05:32] #3969 closed

[2019-11-13 05:33] rauljordan commented on #3991
What should the behavior be if the state root does not match @shayzluf @nisdas, should we be returning an error or some sort of response that mentions the chain is forked?

[2019-11-13 05:35] rauljordan commented on #3890
These problems are now resolved as of our latest testnet release, currently available in https://prylabs.net. Closing for now unless it manifests again.

[2019-11-13 05:35] #3890 closed

[2019-11-13 05:36] rauljordan commented on #3938
Confirmed it works with #3977!

[2019-11-13 05:36] #3938 closed

[2019-11-13 11:35] tzapu commented on #3972
hey @prestonvanloon @terencechain maybe you could shed some light for me on the above.
mostly looking into confirmation if epoch 0 would contain slots 0-7 and if that is the case, why does `beacon/chainhead` return as justifiedSlot/finalizedSlot the end of epoch + 1 (in case of epoch 0 it would return 8), should it not return the actual end of the epoch?
thanks

[2019-11-13 15:14] rauljordan commented on #3791
Is this still relevant? It has been removed and will likely be redesigned as phase 1 keeps materializing over the coming months.

[2019-11-13 15:15] rauljordan commented on #2241
Update on this issue @prestonvanloon ?

[2019-11-13 16:31] #3755 closed

[2019-11-13 16:31] #3985 closed

[2019-11-13 16:33] #3952 closed

[2019-11-13 16:34] rauljordan commented on #3664
Resolved by #3704

[2019-11-13 16:34] #3664 closed

[2019-11-13 16:35] rauljordan commented on #3733
This is resolved as of the #3865 and latest release

[2019-11-13 16:35] #3733 closed

[2019-11-13 16:46] rauljordan commented on #3222
Is this still relevant towards slashing work @shayzluf @0xKiwi?

[2019-11-13 16:47] rauljordan commented on #3636
Resolved by our latest release including #3865

[2019-11-13 16:47] #3636 closed

[2019-11-13 16:48] rauljordan commented on #2289
This has been revamped since the past few releases and is no longer the case

[2019-11-13 16:48] #2289 closed

[2019-11-13 16:51] rauljordan commented on #3982
Hey @tzapu this is related to #3974, as we do not have good error codes. The issue is the nodes serving API traffic are not archive enabled, so it should be returning a proper error instead.

[2019-11-13 19:31] Mkkoll opened #3997 "Win 10 Docker: prylabs.net/participate commands do not work for Docker on Windows"
Windows 10 - Suggested docker commands to generate validator keys and start the beacon chain and validator do not work . Default path of usr/local/prysm/ in the suggested commands does not match the directory the user is asked to create in the Windows version of the instructions.

**Generating validator key**
Suggested command
[code]
Command I used to get running
`docker run -it -v /tmp/prysm-data

[2019-11-13 20:00] terencechain commented on #3997
@har00ga Mind updating the windows instructions with the above? thanks!

[2019-11-13 20:23] tzapu commented on #3982
cool, good to know, guess i need to setup my own archive node then.

[2019-11-13 20:23] #3982 closed

[2019-11-13 20:28] har00ga commented on #3997
No problem, will make this adjustment. :slightly_smiling_face:

[2019-11-13 21:03] #3974 closed

[2019-11-13 23:16] #3937 closed

[2019-11-13 23:17] #2522 closed

[2019-11-13 23:19] terencechain commented on #3791
Still relevant. See: https://github.com/ethereum/eth2.0-specs/pull/1427

[2019-11-13 23:20] terencechain commented on #3791
With that said. We have removed all custody bit stubs for phase 0. I'm ok with closing this for now

[2019-11-14 07:15] stefa2k opened #4003 "beaconchain can't process deposit logs"
Beaconchain spills out lots of these (numbers match every time, they don't change):
[code]

[2019-11-15 19:37] prestonvanloon commented on #2241
This is a disaster scenario where the whole network goes offline at once and there is no one to sync with. I don't think it's relevant at this point, given our testnet stability

[2019-11-15 19:37] #2241 closed

[2019-11-16 12:43] danilind opened #4013 "Beacon node error: Invalid memory address or nil pointer dereference"
I got this error when trying to sync the beacon node on windows. Please see the attached screenshot. After i got the error i started the client over again, and the sync continued where it left of. I'm now at block 17000 without getting the same error any more times, it only happened once.

![unknown](https://user-images.githubusercontent.com/9575748/68993322-f81c7880-0876-11ea-834a-19b51ea126d0.pn

[2019-11-17 16:08] rauljordan opened #4016 "Epoch Data Not Archived if Last Slot in Epoch is Skipped"
Hi all,

Currently, our archival service works on the following premise:
[code]
If a proposer fails to create a block at that slot (called a skip slot in the eth2 protocol), then we will _never_ archive data for that slot! Some users of our API reported some data missing for various epochs, which is something we can resolve.

A solution would be to instead keep track of the last epoch archived in

[2019-11-17 16:59] xrow commented on #3923
@prestonvanloon

The idea is basicly to be able to introspect a running container via web terminal. Do you think it is a security risk to have that available.

What are your security concerns in detail?

[2019-11-17 17:07] xrow commented on #3923
Also I have seen that you start 2 processes in the startup script. I don't know if that is really required. It could lead to less rubustness. It could be smarter to split it up into two containers and processes. But that is all depending a bit on how your software works in detail.

[2019-11-17 18:55] xrow commented on #3923
Just as a hint... I was thinking about something like this to also support the openshift uid security model....

[code]
#!/bin/bash

if ! whoami &> /dev/null; then
  if [ -w /etc/passwd ]; then
    echo "${USER_NAME:-default}:x:$(id -u):0:${USER_NAME:-default} user:${HOME}:/sbin/nologin" >> /etc/passwd
  fi
fi

exec $@
[code]

[2019-11-17 20:17] ppratscher opened #4018 "Ethereum API: GetValidators RPC call always returns result, even for invalid epochs"
The GetValidators RPC call always returns a result set even when specifying an epoch that is way in the future, for example for epoch 18446744073709551615 it returns 356 validators.

For example:
[code]

[2019-11-17 20:18] ppratscher opened #4019 "Ethereum API: Pagination error thrown when no results are available"
When a query does not return any results it currently throws an error related to paging, for example `rpc error: code = Internal desc = Could not paginate results: page start 0 >= list 0` when running
[code]
Here it would be nicer to just return an empty result array with TotalSize = 0 instead on an error.

[2019-11-17 20:54] ppratscher opened #4020 "Ethereum API: Index out of range error when querying validator balances by epoch"
[code]
returns `rpc error: code = Unknown desc = runtime error: index out of range [345] with length 345`

Also please note the inconsistent naming, while the api call is called **List**ValidatorBalances the parameters are called **Get**ValidatorBalances

[2019-11-17 21:01] rauljordan opened #4021 "Restarting Beacon Node + Validator After a While Leads to UNKNOWN_STATUS in Validator"
This is a bug raised by some of our testnet users in our discord chat. Unfortunately, when turning off the beacon node + validator and starting them up again after a few hours, users reported seeing `UNKNOWN_STATUS` in their validator that is currently active in the protocol. The suspicion is there is some data stored in-memory regarding a validator's status that is lost upon a restart.

Have not

[2019-11-17 21:56] rauljordan opened #4022 "Implement GetAttestingIndices RPC Endpoint"
A useful endpoint would be to allow anyone to retrieve the list of validator indices who participated in an attestation by providing the attestation bitfield and some other minimal info.  Will be useful for block explorers.

[2019-11-17 22:19] prestonvanloon commented on #4021
Information:

Reported log from user
[code]

At the time of reporting, they were not ejected
[code]

And they had a positive balance > 3.2 ETH.

[code]

[2019-11-17 22:28] prestonvanloon commented on #4021
Confirmed that assignments does not read from any cached or in memory values. Determining assignments reads from the head state, so this could be a symptom of requesting assignments from a beacon chain node that is not in sync.

[2019-11-17 22:30] prestonvanloon commented on #4021
User confirms that the beacon chain node was in sync at the time.

@terencechain confirms we block gRPC behavior from head state, so fetching assignments from out of sync node should have returned an obvious error if that were the case. https://github.com/prysmaticlabs/prysm/pull/3968

[2019-11-17 22:43] prestonvanloon commented on #4021
One possible problem area is when the ETH1 deposit fetcher fails to correctly return the deposit block number, an empty response is returned. This looks like the response the users are receiving.

https://github.com/prysmaticlabs/prysm/blob/53c4a26184909a2022e4b200dfb82a81d616a9fc/beacon-chain/rpc/validator/status.go#L83-L88

[2019-11-17 22:49] prestonvanloon commented on #4021
The root cause is somewhere in the deposit cache being cleared, but the immediate resolution is to check the head state for the validator existence before checking the ETH1 chain.

If a problem in the deposit cache remains, the consequences are that the ETh1DepositBlockNumber is zero when the validator is activated. This clearly isn't the intended behavior, but it is more tolerable than an empty r

[2019-11-18 03:20] gnattishness opened #4024 "Enable build export as GOPATH-style structure."
As part of [beacon-fuzz](https://github.com/sigp/beacon-fuzz), we want to use a custom `go build` ( [`go-fuzz-build`](https://github.com/dvyukov/go-fuzz)) to build fuzzing harness static libraries with prysm (or parts of it) as a dependency.

For this, prysm (and its dependencies) should be accessible in a GOPATH-style directory structure.

Could also be useful for GOPATH-based editor/IDE integrat

[2019-11-18 03:25] gnattishness commented on #4024
`go-fuzz` now has preliminary support for go modules, so this could be used in the future (if prysm had its dependencies defined in `go.mod`, `go.sum` files), but current implementation makes use of GOPATH structure, so we'll make use of that for now.

[2019-11-18 07:53] torfbolt opened #4027 "BC Error: gRPC panicked! invalid memory address or nil pointer dereference"
After running fine for some time, this morning I noticed my beacon chain client was giving this error every few seconds:

[code]

[2019-11-18 10:36] nisdas opened #4029 "GetValidators RPC call returns all the Validators in State"
Currently calling `GetValidators` returns all the validators stored in our registry instead of just the active validators. This issue is to track the resolution of this bug

[2019-11-18 16:28] rauljordan commented on #4027
Assigning to @terencechain - maybe we can add a nil check for head state there?

[2019-11-18 16:29] rauljordan commented on #3875
We can close this right @terencechain ?

[2019-11-18 16:29] rauljordan commented on #3697
This no longer the case in our testnet with v0.9 since launch

[2019-11-18 16:29] #3697 closed

[2019-11-18 16:31] rauljordan commented on #2298
Wondering if this is still relevant given our sync+p2p has changed radically since April. @prestonvanloon could you chime in? I don't think we use the blacklisting hashes strategy anymore. Feel free to close if this issue is no longer relevant.

[2019-11-18 16:31] rauljordan commented on #2591
This is no longer the case in our v0.9 testnet

[2019-11-18 16:31] #2591 closed

[2019-11-18 16:32] rauljordan commented on #3419
Still relevant @prestonvanloon @nisdas?

[2019-11-18 16:56] terencechain commented on #4027
Yep! Will work on this today!

[2019-11-18 17:19] terencechain commented on #3875
The flag is still there
https://github.com/prysmaticlabs/prysm/blob/master/shared/featureconfig/flags.go#L81

[2019-11-18 17:46] prestonvanloon commented on #3972
Hey @tzapu, sorry for the delay here!

When we finalize an epoch, the state's [finalized checkpoint](https://github.com/prysmaticlabs/prysm/blob/f43a7c67f222ac1325fc4a205cff8cb70faf1f25/proto/beacon/p2p/v1/types.proto#L45)  is updated.

https://github.com/prysmaticlabs/prysm/blob/f43a7c67f222ac1325fc4a205cff8cb70faf1f25/proto/eth/v1alpha1/attestation.proto#L48-L56

If we finalized epoch 10, the ch

[2019-11-18 19:32] prestonvanloon opened #4031 "FeatureFlag: remove --scatter"
Testing in prod this week. If no issues, we can deprecate the feature flag so that the feature is fully enabled for all.

[2019-11-18 20:08] terencechain commented on #3972
Suggesting to use `block_slot` instead of `slot:

[code]

[2019-11-18 20:33] #4027 closed

[2019-11-18 21:05] prestonvanloon opened #4035 "Panic in github.com/prysmaticlabs/prysm/beacon-chain/blockchain/forkchoice.(*Store).updateAttVotes"
[code]

Experienced this a little while ago in canary running image tag `HEAD-3b18ae` @ commit 3b18aee18171c290991f0547000d29194a6d579f

[2019-11-18 21:08] prestonvanloon commented on #4035
Offending LOC https://github.com/prysmaticlabs/prysm/blob/3b18aee18171c290991f0547000d29194a6d579f/beacon-chain/blockchain/forkchoice/process_attestation.go#L182

It must be that `indexedAtt.CustodyBit_0Indices` is nil for some reason.

[2019-11-18 21:24] terencechain opened #4036 "archival service panics"
Reported by Peter from Bitfly. Beacon node crashed due to the following:
[code]
He did mention after restart it seems to work again

[2019-11-18 21:36] rauljordan opened #4037 "Handle Missing Data Fallback in Blockchain.HeadState()"
Issues such as #4036 shows that headFetcher.HeadState() is not a safe function. It should:

- Check if the state is nil, if so
- Fallback into checking from the DB
- If that fails or is nil, return an error

This will prevent most problems we have been seeing regarding panics at runtime

[2019-11-18 21:39] rauljordan opened #4038 "Inconsistent Naming in API"
#4020 points out we frequently have methods with inconsistent naming such as ` ListValidatorBalances the parameters are called GetValidatorBalances`. We should standardize this in Prysm and upstream in Ethereum APIs. I prefer `List`

[2019-11-18 22:09] #4035 closed

[2019-11-18 23:24] #4018 closed

[2019-11-18 23:24] #4019 closed

[2019-11-18 23:29] prestonvanloon opened #4041 "Sync panic: attempted to ask for a start slot greater than the next highest epoch"
Debug logs:

[code]

The current slot was `52467` at the time of failure.
It was syncing with 15 peers at the time.

[beacon-archival-node.log](https://github.com/prysmaticlabs/prysm/files/3861161/out.log)

[2019-11-18 23:33] rauljordan commented on #4020
Great find, this is due to:

[code]
in our ListValidatorBalances implementation. If the balances come from the archive, we shouldn't be appending to the `res` slice from `headState`, but rather from the archived balances. Will resolve this soon.

[2019-11-18 23:34] rauljordan commented on #4020
Full stack trace:

[code]

[2019-11-19 00:47] #4021 closed

[2019-11-19 03:00] blockchainunchained opened #4045 "Use a port other than 8080 for Prometheus"
It's extremely common for port 8080 to be in use, why have it as the default?

There is no need for Prometheus to be running on port 8080 specifically and it could quite easily run on a different port. This would make it easier to deploy the test network for newcomers.

[2019-11-19 03:11] prestonvanloon commented on #4045
Please use `--monitoring-port=12345` to set prometheus to another port.

We set it to 8080 as default because it is a very common port and frequently used in development / local testing.

[2019-11-19 03:11] #4045 closed

[2019-11-19 05:05] prestonvanloon commented on #3419
Probably not.

[2019-11-19 05:05] #3419 closed

[2019-11-19 06:47] prestonvanloon commented on #3997
Had to revert https://github.com/prysmaticlabs/prysm-testnet-site/pull/78, see comments in that PR

[2019-11-19 06:56] prestonvanloon commented on #4041
This is partially resolved. This incident still may occur until the initial sync test for multiple failures is resolved.

If any user runs into this issue frequently during sync, try running with `--verbosity=debug` and pasting your full log here.

[2019-11-19 09:54] tzapu commented on #3972
hey guys, thanks for this, the above reponse changes seem great. at first look they sort out all the issues without having to do any other lookups
cheers

[2019-11-19 15:33] diglos commented on #2546
Hi,
I just ran into this issue trying to compile Prysm for the Raspberry Pi 4. Thanks for reopening this.

[2019-11-19 16:12] #4037 closed

[2019-11-19 16:17] stefa2k opened #4052 "Beaconchain requesting old block from forked chain"
[code]
A restart of the beacon chain resolved the issue.

Validator looks fine and stakes successfully.

[2019-11-19 16:21] rauljordan commented on #4036
Closed by #4042

[2019-11-19 16:21] #4036 closed

[2019-11-19 16:22] rauljordan commented on #4029
This should be the intended functionality - instead, we can add a query filter for `Active`

[2019-11-19 18:47] tsudmi opened #4055 "Prometheus powchain.Service cannot detect re-established ETH1 WS connection"
Hi,

When the Eth1 node is restarted, the beacon node starts reporting failed websocket connections without trying to re-establish them:
[code]
The beacon node should try to re-establish the connection to the Eth1 chain.

[2019-11-19 19:33] #3972 closed

[2019-11-19 20:05] tsudmi opened #4056 "gRPC error on validator status request"
Hi,

I've created a deposit which was successfully received by the beacon node:
[code]
However, validator client cannot get out from them `UNKNOWN_STATUS` for quite some time.
If I fetch validator status directly from the beacon node, I get following response:
[code]
This happens randomly and repeats for all the future deposits.

[2019-11-19 21:10] rauljordan opened #4057 "Implement Graffiti Flag to Add Custom Graffiti to Beacon Blocks"
We can add a graffiti flag to the validator binary for users to add useful/fun metadata into the blocks they produce. For our purposes, it would be useful to include the k8s podname running the validator container which produced the block (thanks @prestonvanloon for the suggestion).
[code]

[2019-11-19 21:14] prestonvanloon commented on #4057
Adding the block graffiti in the validator client can go between the response from the beacon chain and signing the block.

https://github.com/prysmaticlabs/prysm/blob/89f4053c33444d1949db6d4f0af25dc95170a0f6/validator/client/validator_propose.go#L44-L54

The graffiti is at most 32 bytes.
Users may want to set this to a fun value or to a functional one (k8s pod name, process metadata, etc).

[2019-11-19 21:35] rauljordan opened #4060 "Add README to End2End Package"
Given the `endtoend` package is top-level in Prysm, it would be neat to have a detailed README explaining what it does, why it is useful, how to run it, and explaining the various test cases . such as evaluators.

[2019-11-19 23:48] torfbolt commented on #4052
Same issue for me:
`
[2019-11-19 23:44:21]  INFO sync: Requesting parent block currentSlot=56495 parentRoot=d92eec9b7d3ff1a51880206adef6574a0f37c4f61fc7ec5c511d62116861f6b0`
...

Each attestation of the validator client fails with something like

`[2019-11-19 23:46:20] ERROR validator: Could not request attestation to sign at slot 59791: rpc error: code = Internal desc = Could not process slots up

[2019-11-20 00:36] #4038 closed

[2019-11-20 05:14] prestonvanloon commented on #4056
How can we reproduce this error? There haven't been proto changes to validator status RPC since #3935, so I'm not sure how you are getting wrong wire type during unmarshalling.

[2019-11-20 05:21] prestonvanloon opened #4064 "De-duplicate EthereumAPIs in Prysm"
In the Prysm repository, we maintain a copy of the upstream github.com/prysmaticlabs/ethereumapis protos with some gogoproto annotations for ssz.

Maintaining two sets of the same data can lead to issues.

See:
- https://github.com/prysmaticlabs/ethereumapis/pull/43
- https://github.com/prysmaticlabs/ethereumapis/pull/45
- https://github.com/prysmaticlabs/ethereumapis/pull/46

My suggestion is tha

[2019-11-20 05:24] rauljordan commented on #4056
+1 what image / version was used to cause this? Seems like an out of date version

[2019-11-20 05:53] #4016 closed

[2019-11-20 12:10] tzapu opened #4067 "field naming consistency in beacon/chainhead"
hello,

since you are actively looking to improve consistency, i figured i'd add this as well:
[code]
you have: headBlockSlot, finalizedBlockSlot, justifiedBlockSlot and then previousJustifiedSlot which seems to be missing a Block.
you have: finalizedEpoch, justifiedEpoch, previousJustifiedEpoch and then headBlockEpoch whcih seems to have and extra Block in the name.

if it was intentionally left

[2019-11-20 12:31] tsudmi commented on #4056
@prestonvanloon The issue seems to occur if the beacon node restarts after the chain started. The genesis validators will reestablish the connection and continue running normally, but the new validator nodes will be stuck in the `unknown` state. It could be that they went successfully through the activation process, but the validator client fails to fetch the new state. This happens to me not the

[2019-11-20 13:23] tzapu opened #4068 "validator set changes seem cached until there is some change"
not sure if this is intended, but it's at least non intuitive
vaslidator set changes seem cached between epochs, so you are left with a set of exited public keys for instance for multiple epochs.
to replicate you can keep refreshing `https://api.prylabs.net/eth/v1alpha1/validators/activesetchanges` until an epoch changes and you can see the returned data does not change.
due to this i had a valida

[2019-11-20 15:11] tzapu opened #4069 "can not get validators/activesetchanges for current epoch-1"
on an archive node, assuming the current epoch is 8000, i can do the following:
- call `validators/activesetchanges?epoch=8000` => returns fine with some results
- epoch increases to 8001
- call `validators/activesetchanges?epoch=8000` => returns 404 with error `Did not find any data for epoch 8000 - perhaps no active set changed occurred during the epoch`
- epoch increases to 8002
- call `validat

[2019-11-20 16:05] terencechain commented on #4067
let's renamed to the following:
[code]

[2019-11-20 17:29] prestonvanloon commented on #4067
Sounds good to me

[2019-11-20 17:34] prestonvanloon commented on #4056
There might be two issues here.

The first issue you describe about getting in unknown state after restart should have been resolved in #4032. Can you confirm that your running a git commit after 13207a9de5f7b5f499d96f50eea1bda5e9f7d31f?

The second issue, is this python? How did you compile the protos? Can you share the code?

[2019-11-21 00:47] terencechain opened #4072 "eth1 mock RPC is broken"
Beacon node <-> eth1 mock RPC is broken. Seeing the following error on beacon node:
[code]

Reverting #4015 fixes the problem

[2019-11-21 01:16] strictlymomo opened #4073 "Could not process slot from the future"
I'm running a validator node via [https://prylabs.net/participate](https://prylabs.net/participate).
The sync error recurs about once a minute.
[code]

[2019-11-21 01:26] prestonvanloon commented on #4022
We already have a path for this:
- Have some attestation
- Call ListBeaconCommittees for the appropriate epoch
- Use the aggregation bitfield to determine the indices in the committee that attested to this attestation

[2019-11-21 01:29] terencechain commented on #4022
Instead of using aggregation_bitfield to determine the indices in the committee, use committee_index and slot. Easier

[2019-11-21 05:01] prestonvanloon commented on #4073
Looks like someone’s clock is skewed. How often does this happen?

[2019-11-21 07:03] prestonvanloon commented on #4022
Some discussion offline that the proto response for get committees could be improved: https://discordapp.com/channels/476244492043812875/603588441741066241/646885914370637844

[2019-11-21 13:03] ppratscher opened #4076 "Error when retrieving epoch participation"
Sometime we get occasional errors when querying the `GetValidatorParticipation` API endpoint:

[code]

After waiting for a few minutes the call returns again a proper result.

[2019-11-21 18:12] torfbolt commented on #4073
Happened to me too and it was indeed the clock. Make sure ntpd is installed on your machine and properly configured.

[2019-11-21 18:13] prestonvanloon commented on #4072
Are you recommending to revert #4015?

[2019-11-21 18:25] prestonvanloon commented on #4022
Closing and opening https://github.com/prysmaticlabs/ethereumapis/issues/48 for data structure improvements.

[2019-11-21 18:25] #4022 closed

[2019-11-21 18:30] prestonvanloon commented on #4076
At the time of the request, was this a previous, current, or future epoch?

[2019-11-21 20:29] #4029 closed

[2019-11-21 20:49] metanull-operator commented on #4057
Can I get assigned this issue?

[2019-11-21 20:56] metanull-operator opened #4078 "Instructions for Local Testnet Start Command Do Not Work"
Attempted to create a local testnet using instructions in README.md.

`bazel run //beacon-chain -- \
--no-genesis-delay \
--bootstrap-node= \
--deposit-contract 0xD775140349E6A5D12524C6ccc3d6A1d4519D4029 \
--clear-db \
--interop-num-validators 64 \
--interop-eth1data-votes`

This command results in an error:

`Unable to retrieve data from deposit contract could not retrieve deposit root: abi: unma

[2019-11-21 21:11] prestonvanloon commented on #4031
This is safe to deprecate.

[2019-11-21 21:28] prestonvanloon commented on #4078
I think this is what is happening: 0xD775140349E6A5D12524C6ccc3d6A1d4519D4029 is a dummy contract that is actually deployed. It is the old contract ABI.

Here's a new one, can you try it out 0xDffEDfF9bD959DFD95e1b2BcdDA954c851f729EA @metanull-operator?

[2019-11-21 21:55] torfbolt opened #4083 "Beacon Client Error: Could not receive attestation in chain service"
I noticed the following error repeatedly, starting from slot 73579:

[code]

As far as I can tell the client then continued to run just fine from slot 73585 onwards.

[2019-11-21 23:29] strictlymomo commented on #4073
I re-synced the client and am running it again. Here are the logs to get a sense of the frequency of the errors.

- I can confirm my machine's clock is aligned with UNIX time.  Is that adequate to determine the time skew is coming from one of the peers or could it still be me? as @torfbolt recommends, install ntpd? I'm a bit reluctant to mess too much with something foundational like a system cloc

[2019-11-22 04:08] #4031 closed

[2019-11-22 04:31] prestonvanloon commented on #4073
Thanks for that log. This issue is hard to pinpoint because it could be one of your peers where their clock is off.

It's not much of a concern if you are still receiving blocks and are confident that your clock is sync. I'd like to find the root cause of this so any additional info or thoughts are welcome.

[2019-11-22 04:39] #4020 closed

[2019-11-22 08:02] torfbolt commented on #4083
Just had the same bug again for a short while this morning. During this time my validator was punished, so it obviously did not submit valid attestations. However, no error was reported by the validator client. After a few slots everything was fine again and both clients continued normal operation with increasing validator balance.

[2019-11-22 10:05] ppratscher commented on #4076
We get this error vor historic and current epochs. For example:
[code]

[2019-11-22 10:11] ppratscher commented on #4076
Most likely it was for the current epoch, we execute the call for the current, previous and last finalized epoch every 10s.

[2019-11-22 14:54] benjaminion opened #4088 "Beacon node panic on testnet"
I had one beacon node and one validator running happily for about 5 days.  However, the beacon node suffered a panic that also caused the validator to fail. They ran on for another day before I noticed, but did not recover (same error keeps occurring).

Set up: I'm running the docker images on a QNAP NAS box exactly as per the initial instructions.

[code]

(Seems to be a unix time issue on the cr

[2019-11-22 14:58] terencechain commented on #4088
Thanks for opening the issue Ben!

Looks like your node is requesting parent block and not able to get it through peers. We'll take deeper look at this today

[2019-11-22 15:19] strictlymomo commented on #4073
Thanks for the feedback.  I'll close this issue for now and re-open if necessary.

[2019-11-22 15:19] #4073 closed

[2019-11-22 17:02] prestonvanloon commented on #4088
FYI: about unix CREATED time https://github.com/bazelbuild/rules_docker/issues/52#issuecomment-308490078

TL;DR = you can't have reproducible builds and timestamps ¯\_(ツ)_/¯

[2019-11-23 01:44] prestonvanloon commented on #4076
Yeah, I think that is likely what happened. We probably have an out of range error when calculating participation for a epoch that is still in progress.

Assigning to @terencechain because I think they worked on this. Terence, please triage as necessary.

[2019-11-23 02:21] prestonvanloon commented on #4088
@benjaminion can you print the full image ID?

[code]

I'm having a hard time determining what version / commit you were running with just that information.

[2019-11-23 12:09] benjaminion commented on #4088
Here you go:
[code]

This might help as well:
[code]

[2019-11-23 20:29] prestonvanloon commented on #4088
Thanks this really helps!

[2019-11-23 20:35] prestonvanloon commented on #4088
So this is the offending line of code: https://github.com/prysmaticlabs/prysm/blob/5acc362f7e954e6369d5a709937165728f93eb99/beacon-chain/sync/subscriber_beacon_blocks.go#L19

And this panic was fixed in https://github.com/prysmaticlabs/prysm/pull/4042

Closing for now, but please reopen if it persists on a recent commit.

[2019-11-23 20:35] #4088 closed

[2019-11-23 21:00] mtbitcoin opened #4097 "unknown service error for "/eth/v1alpha1/validator/block" api end point"
"/eth/v1alpha1/validator/block"

Getting an {"error":"unknown service ethereum.eth.v1alpha1.BeaconNodeValidator","code":12,"message":"unknown service ethereum.eth.v1alpha1.BeaconNodeValidator","details":[]} when attempting to call the api end point

[2019-11-24 06:49] metanull-operator commented on #4078
After replacing the contract address, the command no longer gives any errors. The following is the last log entry from the beacon-chain at this time:

`INFO powchain: Connected to eth1 proof-of-work chain endpoint=wss://goerli.prylabs.net/websocket`

I have never run a local testnet before, so I'm not sure what it is supposed to look like. So far my validators are waiting to be processed into stat

[2019-11-24 17:55] metanull-operator commented on #4078
The testnet did not appear to start correctly, but it seems like a separate issue from this one. I can log something separately, if I can confirm that it isn't user error.

For the record, the errors I am receiving are about not being able to connect to goerli.prylabs.net (failure in name resolution), and "Not connected to ETH1. Cannot determine validator ETH1 deposit block number". These look lik

[2019-11-24 19:03] terencechain opened #4098 "Align to spec v0.9.2"
With the release of [v0.9.2](https://github.com/ethereum/eth2.0-specs/releases/tag/v0.9.2). This issue tracks to the progress to align Prysm to v.0.9.2

The v0.9.2 consists of the following:

### Aggregation Refactor

We need to refactor entirely how aggregation works based on https://github.com/ethereum/eth2.0-specs/pull/1484

### Beacon chain

- [x] remove Hash alias and add Root alias for Bytes

[2019-11-24 19:44] ppratscher opened #4099 "Becaon node panic after node restart"
After restarting the node it continuously panics with the following error:
[code]

In order to avoid any unclean shutdown our process manager has a grace period of 5 minutes before killing the process. Unfortunately we don't have any logs prior to the restart.

In order to get rid of the panic we had to delete the db and re-sync the node from scratch.

[2019-11-25 14:47] tzapu opened #4103 "fetching of block at slot 0"
There seems to be some inconsistency about how block at slot 0 is returned.
if you call `beacon/blocks?slot=0` you don't get any results
if you call `beacon/blocks?epoch=0` or `beacon/blocks?root=YL1nu10moi9VhNaKmf43YuqnQ8RBlmE1MCdjMFdTBkg` you do get a block back that looks like this
[code]

i assume this is the genesis block but it's inconsistent returning it with some filters and not with other

[2019-11-25 15:22] rauljordan commented on #4103
Closing when https://github.com/prysmaticlabs/ethereumapis/issues/49 is resolved

[2019-11-25 15:28] rauljordan commented on #3874
No longer exists in master https://github.com/prysmaticlabs/prysm/commit/feb1267feee1c305b6ebaeda305b08f53fa589b7 and has been marked as deprecated

[2019-11-25 15:28] #3874 closed

[2019-11-25 15:30] rauljordan commented on #3875
Deprecated and no longer used in runtime https://github.com/prysmaticlabs/prysm/commit/feb1267feee1c305b6ebaeda305b08f53fa589b7 - can close

[2019-11-25 15:30] #3875 closed

[2019-11-25 16:19] rauljordan commented on #4056
Bump on this @tsudmi - do you have more info on the failure? It seems to be this is due to running an old, incompatible version of the API

[2019-11-25 17:02] rauljordan opened #4105 "Utilize Public Validator API Instead of Internal Endpoints"
This is a tracking issue for us to use the Public Validator API instead of internal methods such as `RequestBlock` or `RequestAttestation` to maintain a nice standard for other clients to eventually interop with our API as well. Opening this after seeing issues such as https://github.com/prysmaticlabs/prysm/issues/4097 raised by users, which show we aren't using all of our public API endpoints to

[2019-11-25 17:02] rauljordan commented on #4105
I'll be taking on this task

[2019-11-25 17:06] rauljordan commented on #4097
Hey @mtbitcoin this is a discrepancy between Prysm's internal API usage vs. the public API on api.prylabs.network. This will be resolved by a PR for #4105.

[2019-11-25 22:38] torfbolt commented on #4099
Can confirm, same problem here after node restart.

[2019-11-25 22:49] prestonvanloon commented on #4078
@metanull-operator is there any thing else I can help with to resolve this issue?

[2019-11-25 23:31] #4076 closed

[2019-11-26 04:39] terencechain opened #4113 "Duplicated attestations in DB"
Today we found out there's tons of duplicated attestations saved in DB. Here's the number of attestations saved for each slot using the unique beacon block root as filter:
[code]

Database backup to replicate is here:
gs://prysmaticlabs.com/uploads/prysm_beacondb_at_slot_0074315.backup

[2019-11-26 09:08] har00ga commented on #3997
Partial solution, now documented in Gitbook: https://prysmaticlabs.gitbook.io/prysm/activating-a-validator - prylabs.net site still needs to be adjusted to feature Windows-specific (and possibly Bazel) commands however

[2019-11-26 13:06] ppratscher commented on #4099
Same issue happened today with our node again (latest master).

[2019-11-26 13:19] ppratscher opened #4116 "Index out of range error while syncing"
While syncing our node (latest master) crashed with the following error:
[code]

After a restart the node continued to sync.

[2019-11-26 16:05] terencechain commented on #4113
Looked at another DB. The number looks more reasonable but we should still avoid saving of duplicated attestations
[code]

[2019-11-26 17:29] prestonvanloon opened #4117 "ETH1Data majority preference voting"
Follow up from #4002.

Part of the honest validator guide recommends voting with the majority eth1data votes.
See the write up for more context.

https://hackmd.io/@prestonvanloon/H1rfsG5iH

[2019-11-26 17:45] terencechain commented on #4113
Regression test to reproduce this bug:
https://github.com/prysmaticlabs/prysm/compare/db-test?expand=1#diff-bf630c3206a31101c23101270b97ab03R268

[2019-11-26 19:04] terencechain commented on #4116
The fix is happening in #4115

[2019-11-26 19:26] #4113 closed

[2019-11-26 21:52] tsudmi commented on #4056
Sorry for the delayed reply.

I was running following versions:
[code]
@prestonvanloon the commit is after `13207a9`.

For protos, I use [python grpc](https://grpc.io/docs/quickstart/python/). The example compile command is the following:
[code]
I haven't pulled new images since then. I will try to do that during the week and see whether I can still reproduce that.

[2019-11-26 22:32] prestonvanloon commented on #4013
This issue is more apparent now that some nodes are disconnect peers when too many connections are open.

[2019-11-26 22:46] ethers opened #4119 "panic: could not process blockCopy from fork choice service: could not delete states prior to finalized check point"
[2019-11-26 22:10:36]  INFO initial-sync: Processing block 108192/109712 - estimated time remaining 10m33s blocksPerSecond=2.4 peers=4/3
panic: could not process blockCopy from fork choice service: could not delete states prior to finalized check point, range: 108145, 108152: deleting states failed with 1 errors: could not delete genesis or finalized state

goroutine 217 [running]:
github.com/prys

[2019-11-26 22:47] ethers opened #4120 "ERROR sync: Panic occurred error=bitlists are different lengths topic=/eth2/beacon_attestation/ssz"
[code]

[2019-11-26 23:20] ethers opened #4122 "ERROR sync: Failed to handle p2p pubsub"
did not see this filed yet

[2019-11-26 23:19:13] ERROR sync: Failed to handle p2p pubsub error=attestation aggregation signature did not verify 0x857279c9d260
could not verify indexed attestation
github.com/prysmaticlabs/prysm/beacon-chain/blockchain/forkchoice.(*Store).verifyAttestation
	beacon-chain/blockchain/forkchoice/process_attestation.go:170
github.com/prysmaticlabs/prysm/beacon-chain/blo

[2019-11-26 23:24] ethers opened #4123 "docs for mitigating validator status=UNKNOWN_STATUS"
docs should ask user to double check that their deposit has made it into a beacon block

[2019-11-26 23:25] ethers opened #4124 "docs for mitigating insecure gRPC"
[2019-11-26 23:24:45]  WARN rpc: You are using an insecure gRPC connection! Provide a certificate and key to connect securely

[2019-11-27 04:33] prestonvanloon opened #4126 "--prune-finalized-state does not work as intended"
We are seeing about 50% of states retained. Specifically around 55k out of 110k.

The expected implementation should have retained all of the states at finalize checkpoints.

Two issues to solve here

- [ ] pruning finalized state doesnt work as intended
- [ ] pruning finalized state should remove all states older than the finalized one, except for archival nodes (to be confirmed why)

[2019-11-27 05:47] rauljordan commented on #4064
Resolved by #4112

[2019-11-27 05:47] #4064 closed

[2019-11-27 06:47] metanull-operator commented on #4078
Does the README need to be updated? Is that part of this issue?

[2019-11-27 06:56] #4116 closed

[2019-11-27 06:59] prestonvanloon commented on #4078
Ah yes good point. We need to update the readme with the new address.

[2019-11-27 16:01] #4013 closed

[2019-11-27 16:36] rauljordan opened #4131 "Add README to Third Party Directory With Instructions for Patching Ethereum APIs"
Hi all,

Currently for our API and canonical types used in Prysm we are now using https://github.com/prysmaticlabs/ethereumapis. However, that repo is meant to be more of a reference for anyone looking to find an eth2 API and have an understanding of its schema.  In reality, we need to add a few modifications for it to be usable in Prysm, such as adding struct tags to the generated protobufs for S

[2019-11-27 16:41] rauljordan opened #4132 "Prevent Fetching of RPC-APIs Data if Not Synced"
All of our RPC endpoints should return an error if the node is performing chain sync, otherwise, the returned data may be inaccurate or wrong to users and people building on our API such as block explorers. We should return `status.Error(codes.Unavailable, "Node is currently syncing to head")` if the node is syncing.

We currently do this for a few critical endpoints such as retrieving assignments

[2019-11-27 16:43] rauljordan commented on #2739
No longer used in Prysm, we can close this for now

[2019-11-27 16:43] #2739 closed

[2019-11-27 16:44] rauljordan commented on #3668
Done by #3688

[2019-11-27 16:44] #3668 closed

[2019-11-27 16:46] rauljordan commented on #2298
Outdated, we no longer use this approach in Prysm

[2019-11-27 16:46] #2298 closed

[2019-11-27 16:52] prestonvanloon commented on #2981
We have a work in progress slashing protection mechanism that will solve this use case.

We could expand on existing commands to solve this use case. Perhaps participation endpoint.

[2019-11-27 16:54] rauljordan commented on #2981
+1 @ethDreamer could you elaborate exactly on what the use case is? If it is explicitly only for monitoring, we wouldn't recommend doing so this way, but rather through some process monitoring of your actual validator instance. Slashing protection as @prestonvanloon will resolve the first use-case.

[2019-11-27 17:00] terencechain commented on #904
Can close this with latest merge of E2E test. Feel free to open another mega tracking e2e issue if there's more to this

[2019-11-27 17:00] #904 closed

[2019-11-27 17:02] terencechain commented on #2573
Closed via #2995

[2019-11-27 17:02] #2573 closed

[2019-11-27 17:06] terencechain commented on #280
Is this still relevant?

[2019-11-27 17:07] #3154 closed

[2019-11-27 17:10] rauljordan commented on #280
Our code has evolved significantly and the only few services which still have a run function as a main goroutine are properly closed when receiving a done signal from a canceled context

[2019-11-27 17:10] #280 closed

[2019-11-27 17:13] terencechain commented on #2284
Closed due to lack of discussion. Will repoen if we see this in the field

[2019-11-27 17:13] #2284 closed

[2019-11-27 17:14] rauljordan commented on #3106
We can close this as it is nearly identical to #3603

[2019-11-27 17:14] #3106 closed

[2019-11-27 17:16] rauljordan commented on #4003
Resolved by @nisdas's bug fixes in our powchain service

[2019-11-27 17:16] #4003 closed

[2019-11-27 17:18] #4041 closed

[2019-11-27 23:05] prestonvanloon commented on #4132
On thing to consider is to use a gRPC interceptor for services where this matters.

I think the following services should require the interceptor:
- eth.v1alpha1.BeaconChain
- eth.v1alpha.Validator

These services may not need it:
- eth.v1alpha1.Node

Helpful guide: https://medium.com/@shijuvar/writing-grpc-interceptors-in-go-bf3e7671fe48

[2019-11-27 23:09] prestonvanloon commented on #2573
@terencechain #2995 was never merged. Should this be closed?

[2019-11-27 23:22] prestonvanloon commented on #3634
Done in #3663

[2019-11-27 23:22] #3634 closed

[2019-11-27 23:22] prestonvanloon commented on #3462
Ping on this. Need more info or close please.

[2019-11-27 23:24] prestonvanloon commented on #52
This isn't relevant until phase 2 so let's go ahead and close this until we need it. Backlog is growing too large.

[2019-11-27 23:24] #52 closed

[2019-11-27 23:25] prestonvanloon commented on #2384
I believe this was fixed, but I don't recall the specific PR number.

[2019-11-27 23:25] #2384 closed

[2019-11-27 23:26] prestonvanloon commented on #2849
This is resolved by toolchains in rules_go.

[2019-11-27 23:27] #4131 closed

[2019-11-27 23:28] prestonvanloon commented on #3686
So this is when your only peer went away. I believe was recently fixed by @nisdas in #4130 or #4128

[2019-11-27 23:28] #3686 closed

[2019-11-27 23:30] prestonvanloon commented on #4056
@tsudmi what was the call you were trying to make?

[2019-11-27 23:40] terencechain commented on #4072
Fixed

[2019-11-27 23:40] #4072 closed

[2019-11-27 23:47] terencechain opened #4137 "Fork choice filter viable branches"
We have been seeing head state reverts to older finalized epochs. This is due to discrepancy in fork choice branch filter. Since the validators use the state at the head to cast votes, but fork choice uses latest check points to advance. There's an edge case when the two go out of band.

The solution for is under research and can be tracked: https://github.com/ethereum/eth2.0-specs/pull/1495

[2019-11-27 23:52] terencechain opened #4138 "Improve hash_tree_root for process_slot"
We have seen inefficiency when we `process_slot` due to `hash_tree_root(state)` is slow but the only item changed in the state is `slot`. It wouldn't be that slow with proper caching branches of the state tree structure. This issue tracks how we can improve. We've seen multiple incidents where RPC context times out due to slowness of `process_slot`

[2019-11-28 04:38] prestonvanloon commented on #4124
Relevant: https://grpc.io/docs/guides/auth/

[2019-11-28 04:49] prestonvanloon commented on #4099
What's interesting about these is that it seems you have two blocks at the same slot. Given that these are close to the head of the chain and some of the finality reversions we have seen this week, I think this might be prevented with #4137.

However, I still think we need a resolution here. I suggest that once we have synced to finality, if there are any issues in syncing blocks after the finaliz

[2019-11-28 04:55] terencechain commented on #4126
#4139 should address the 2

[2019-11-28 12:02] handelaar2 opened #4140 "Attestation assignments not in line with committees"
The 'new assignments/submittals' for attestation do not not always follow the committees.
Example case in screen prints.

Actual assignments according to validator log. Slots:
120443
120448
120461

Scheduled assignments according to Epoch committees:
120451 (epoch 15055 = 120447-120454)
120456 (epoch 15056 = 120454-120461)

BTW: slot 120454 has committees listed in both epochs=> related issue?

so

[2019-11-28 18:50] prestonvanloon opened #4141 "Implement eth.v1alpha1.Node.ListPeers"
https://github.com/prysmaticlabs/ethereumapis/pull/55

[2019-11-28 20:10] nikosv commented on #4122
same error to me also

[2019-11-28 20:49] mcdee commented on #4141
I have the code lying around (as I went backwards on this from code to definition); I'll send something in later tonight.

[2019-11-28 20:54] prestonvanloon commented on #4141
Thanks @mcdee !

[2019-11-28 23:05] #4126 closed

[2019-11-29 12:16] diglos commented on #2546
Hi,
Any ETA to fix this?
Thanks!

[2019-11-29 13:57] tzapu opened #4144 "when using the default fage size in the api there's no way to know if there are more pages"
... if you are not aware what that default page size is (250 currently i think)
maybe `nextPageToken` could be 0 if there is no next page?

[2019-11-29 16:16] mtbitcoin opened #4145 "BlockRoot <> Next Parent Root"
Have a question regarding /beacon/blocks?epoch=16027  , if you look at the json output for slot #128221  and slot #128222,  shouldn't the parentRoot of slot#128222 =  blockRoot of slot#128221 ?

![image](https://user-images.githubusercontent.com/8327464/69881030-8fe08480-12c3-11ea-9be4-20a45a11c48f.png)

it looks as if they forked and the reorg did not correct this

[2019-11-29 16:41] mtbitcoin commented on #4145
feature not bug, closing ticket

[2019-11-29 16:41] #4145 closed

[2019-11-29 21:28] torfbolt commented on #4122
Also seeing the same here.

[2019-11-30 01:56] prestonvanloon commented on #4057
@metanull-operator are you still working on this?

[2019-11-30 02:10] prestonvanloon commented on #4144
@rauljordan please triage

[2019-11-30 03:40] metanull-operator commented on #4057
@prestonvanloon I am for now, unless there is an urgency to this. My first approach was incorrect, and I believe I understand the correct approach. I plan to make one more attempt this weekend.

[2019-11-30 05:30] prestonvanloon commented on #4057
No urgency, just a friendly ping. Thanks!

[2019-11-30 05:36] #4141 closed

[2019-11-30 13:12] tsudmi commented on #4056
@prestonvanloon I was calling [ValidatorStatus](https://github.com/prysmaticlabs/prysm/blob/master/proto/beacon/rpc/v1/services.proto#L28).
The call usually works, so that's not something that is causing the problem.

[2019-11-30 16:58] austinfromboston commented on #4119
I am having a similar issue, beacon chain container is crashing during initial sync, started about a week ago.  If the issue isn't common, it's probably related to some bad local state from a prior panic.

Started validating about 3 weeks ago, usually beacon or validator will panic after a couple of days, I'll update the container and resume, but this issue is blocking resume.  if I don't hear any

[2019-11-30 21:31] ethers opened #4156 "ERROR sync: could not process block from fork choice service"
There is an ERROR below; included the preceding lines in the log in case it provides some helpful context.  (This may be a known issue but I did not find an existing one that had enough specifics.)
[code]

[2019-12-01 02:32] prestonvanloon commented on #4156
At a minimum, we need to fix this log message.

[2019-12-01 04:30] #4103 closed

[2019-12-01 16:12] metanull-operator commented on #4057
I have this working now, but will be reviewing my code and writing tests prior to submitting a PR.

[2019-12-02 08:30] lucianyao opened #4161 "services.proto refers to files under non-existing dir'eth/v1alpha1/'?"
at [f55a380ad]:
in proto/beacon/rpc/v1/services.proto, there are:

[code]

but while the "eth/v1alpha1" was removed at the merge commit:
[Apply Patch Rules to Use EthereumAPIs Generated Protos in Prysm](https://github.com/prysmaticlabs/prysm/commit/0326be86b5781b8e9d40d8f003d28a895e71203f)

could the paths be forgotten to update when refactoring?

[2019-12-02 09:10] lucianyao opened #4162 "gateway.go imports v1alpha1_gateway in "ethereumapis" while the gateway is still at "prysm""
[f55a380], in beacon-chain/gateway/gateway.go:
[code]
but v1alpha1_gateway is still at "prysm" instead of "ethereumapis"

the import path was updated at [0326be8].

[2019-12-02 09:43] nisdas commented on #4161
Thanks for opening this, #4163 should resolve this @lucianyao

[2019-12-02 18:02] ppratscher opened #4165 "No assignment data available for epoch 9266"
Our archive node does not have any validator assignment data for epoch 9266:

[code]

Will return:
[code]

We were able to replicate the error on a second independently synced archive node.

[2019-12-02 23:19] #4161 closed

[2019-12-03 01:44] prestonvanloon commented on #3960
Remaining open issues are ETH1Data voting related, tracked here: https://github.com/prysmaticlabs/prysm/issues/4117

[2019-12-03 01:44] #3960 closed

[2019-12-03 01:46] terencechain commented on #3865
Closed via #4098

[2019-12-03 01:46] #3865 closed

[2019-12-03 01:49] rauljordan commented on #3166
@prestonvanloon

[2019-12-03 02:02] lucianyao opened #4169 "there are still files referring to non-existing 'proto/eth/v1alpha1'"
at[e3c3dea], there are still 2 files:

proto/beacon/db/attestation_container.pb.go
proto/beacon/rpc/v1_gateway/services.pb.go

importing the non-existing "github.com/prysmaticlabs/prysm/proto/eth/v1alpha1"

related to #4161

[2019-12-03 05:14] prestonvanloon opened #4170 "Add 0.9.2 testnet info to github.com/eth2-clients/eth2-testnets"
It would be nice to provide this info for interop. I'll submit a PR with the required information to that repo.

https://github.com/eth2-clients/eth2-testnets

[2019-12-03 07:11] ppratscher commented on #4165
After a full re-index we are seeing similar behavior for multiple epochs:
[code]

[2019-12-03 09:30] ppratscher opened #4174 "Improve API paging behavior"
Currently paged API calls are a little bit difficulty to handle. Generally all paged API calls return a next page token even if there is no next page. If you pass a next page token that returns no results the api throws an error:
[code]

Instead it would be much nicer for the api to return an empty next page token in case there are no further pages available. If the caller asks for a non-existing

[2019-12-03 15:36] prestonvanloon opened #4177 "gRPC: Add endpoint to retrieve specific validator details"
See: https://github.com/prysmaticlabs/ethereumapis/pull/61

[2019-12-03 15:38] prestonvanloon commented on #4174
@rauljordan please triage as necessary

[2019-12-03 15:47] prestonvanloon commented on #4162
I'm not seeing this. The path was changed in #4112 to the correct value.

[2019-12-03 15:47] #4162 closed

[2019-12-03 15:59] prestonvanloon commented on #4165
@rauljordan is it possible that those are empty epochs?

[2019-12-03 16:45] #4169 closed

[2019-12-03 17:21] prestonvanloon opened #4180 "Ensure handshakes for inbound p2p connections"
_Originally posted by @mcdee in https://github.com/prysmaticlabs/prysm/pull/4173_

This looks like an existing issue discoverd in @mcdee's PR. Filing an issue so we can capture this.

[2019-12-03 18:06] rauljordan commented on #4165
Hey guys so the only scenario I imagine is if an entire epoch was skipped. The way the archiver works is:

1. Archive the current epoch upon the current epoch ending
2. If the last slot in the epoch is skipped, wait till a block from the next epoch, then archive the previous epoch

It's likely this was during a long period of finality and/or other problems in the testnet we ended up not properly a

[2019-12-03 18:10] rauljordan commented on #4165
A solution to this would be:
1. If the end slot of an epoch is a skip slot, wait till we receive a block in the future
2. Once we receive a block, archive all the epochs we missed since last time we archived

[2019-12-03 19:10] rauljordan commented on #4056
Hey @tsudmi can you share the code you used for this? We are having trouble reproducing and would love to get this resolved soon

[2019-12-03 19:13] rauljordan commented on #4174
Closed by #4176

[2019-12-03 19:13] #4174 closed

[2019-12-03 19:14] rauljordan commented on #4144
Closed by #4176

[2019-12-03 19:14] #4144 closed

[2019-12-03 19:49] rauljordan commented on #4067
Closed by #59

[2019-12-03 19:49] #4067 closed

[2019-12-03 19:49] rauljordan commented on #4097
Closing in favor of #4105

[2019-12-03 19:49] #4097 closed

[2019-12-03 20:57] tsudmi commented on #4056
@rauljordan The problem was not the way I was calling RPC endpoints, but the sequence of actions (chain start, beacon node restart, new validator registered) which leaded beacon node to the state when it was not activating new validators anymore.

However, it looks like recent commits have fixed it as I'm not able to bring the beacon node to that state anymore. We could close this issue for now an

[2019-12-03 21:00] rauljordan commented on #4056
Great, let us know if this pops up again - happy to help

[2019-12-03 21:00] #4056 closed

[2019-12-03 21:13] rauljordan opened #4183 "Remove Epochs Filter for Blocks"
See: https://github.com/prysmaticlabs/ethereumapis/pull/63

We should remove epoch filtering for blocks via RPC due to concerns raised in https://github.com/prysmaticlabs/ethereumapis/issues/23

[2019-12-03 21:14] rauljordan opened #4184 "Implement Attestation Stream"
See: https://github.com/prysmaticlabs/ethereumapis/issues/62 we should implement a feed we send every received attestation in the beacon node to so we can stream them via gRPC to connected clients after implementing streaming functionality. I can take this on.

[2019-12-03 21:34] #4068 closed

[2019-12-03 21:34] #4069 closed

[2019-12-03 23:27] cyberbono3 commented on #2955
@prestonvanloon   can you approve me as a worker, please?

[2019-12-03 23:29] prestonvanloon commented on #2955
@ceresstation can you help? This is complete.

[2019-12-03 23:29] #2955 closed

[2019-12-03 23:44] #4183 closed

[2019-12-04 00:11] rauljordan commented on #2981
Hi @ethDreamer closing this for now unless there is a clearer use-case for the endpoint, if you have more input on this feel free to continue this thread and we can reopen if needed.

[2019-12-04 00:11] #2981 closed

[2019-12-04 00:33] #4177 closed

[2019-12-04 05:07] cyberbono3 commented on #3852
@prestonvanloon  can you assign me, please ?

[2019-12-04 18:47] rauljordan commented on #3497
Closing this for now until we have more actionable items

[2019-12-04 18:47] #3497 closed

[2019-12-04 20:50] metanull-operator commented on #4057
A minor update to base code was made today which moves the call to ToBytes32() to lower down. This should protect against malicious RPC calls to ProposeBlock() that might try to pass too many bytes for graffiti.

Base implementation is now complete, AFAIC. Presently working out how to write tests that truly test the graffiti feature.

[2019-12-04 20:50] metanull-operator commented on #4057
Example of block containing graffiti using the latest code: https://api.prylabs.net/eth/v1alpha1/beacon/blocks?slot=166533

[2019-12-04 23:23] prestonvanloon commented on #4057
Awesome!

[2019-12-05 11:04] nisdas commented on #2546
hey @diglos , with #4181 merged in, we have ARM support added in

[2019-12-05 11:07] handelaar2 commented on #4140
As there is no response, it must be me who misunderstands. In the mean time we are many builds later. let's wait for interop.

[2019-12-05 11:11] nisdas commented on #4140
hey @handelaar2 I am reopening this as I think it merits discussion. @terencechain what do you think ? The behaviour does not seem in line with the spec, it would explain why we have only 90% participation rate, instead of close to 100%

[2019-12-05 14:05] diglos commented on #2546
Hi,
Thanks @nisdas.
It compiles on ARM64 (NanoPC-T4) but fails on ARM32 (Raspberry Pi 4) for both, beacon chain and validator. Please check attached log.

[prysm-arm7-error.txt](https://github.com/prysmaticlabs/prysm/files/3927163/prysm-arm7-error.txt)

[2019-12-05 17:45] terencechain commented on #4140
I believe the log is correct but the assignment fetching via may not be correct. I suspect archival may have something to do with it

[2019-12-05 17:45] terencechain commented on #4140
cc @rauljordan for this

[2019-12-05 18:03] rauljordan commented on #2617
No longer relevant as assignments are dependent on finality, not on a reorg at a slot

[2019-12-05 18:03] #2617 closed

[2019-12-05 18:04] rauljordan commented on #1614
Closing due to stagnation + low priority

[2019-12-05 18:04] #1614 closed

[2019-12-05 20:10] handelaar2 commented on #4140
Another case of just now (it happens rarely, maybe 1in6 epochs).
There is a mismatch between epochs and the slots it contains. Epoch 21725 has started but the sequence of slots show in the committee list of 21724

Beacon
docker run -it -v $HOME/prysm-data:/data -p 4000:4000 -p 4001:4001  gcr.io/prysmaticlabs/prysm/beacon-chain:latest   --datadir=/data    --init-sync-no-verify --grpc-gateway-port 4

[2019-12-05 20:24] #4138 closed

[2019-12-06 09:03] handelaar2 commented on #4140
When I now retrieve the same epoch(21724) committee, it shows different slots in line with the actual attestations. It therefore looks that v1alpha1/beacon/committee initially gives wrong results. So if the latest (below) committee list is correct, the validator has sent the correct attestations and it is just the api being wrong at times. This would also conclude that the "low" participation rate

[2019-12-06 16:50] metanull-operator commented on #4057
beaconcha.in now supports displaying UTF-8 graffiti.
Same block as previous link: https://beaconcha.in/block/166533

[2019-12-06 17:39] nisdas commented on #2546
hey @diglos , thanks for testing this out. It seems like we might not be giving the correct archive for bls, I will try and see where it fails

[2019-12-06 20:47] torfbolt commented on #4122
Still seeing this error quite regularly. When it occurs both clients continue to work, but the validator shows negative balance update, so it looks like no correct attestation is happening.

[2019-12-06 21:01] torfbolt opened #4212 "Beacon node panic: no peers left to request blocks"
After update to the latest beacon-chain client I did a node restart. It waits for 3 connected peers and ~10s after the 3rd one is connected I got this panic:

[code]

The second time I tried restarting it worked, so the error is not 100% reproducible.

[2019-12-06 21:14] rauljordan commented on #4120
Is this resolved @prestonvanloon?

[2019-12-06 21:36] prestonvanloon commented on #4120
Fixed in #4209

[2019-12-06 21:36] #4120 closed

[2019-12-06 21:56] prestonvanloon commented on #4057
Great! Can we review a PR? Would love to start using this feature!

[2019-12-06 22:40] torfbolt commented on #4122
Actually I just noticed that the error title is the same, but the start of the trace looks a bit different for me now:

[code]

[2019-12-07 05:15] prestonvanloon opened #4217 "Add metrics to bootnode"
https://github.com/prysmaticlabs/prysm/tree/master/tools/bootnode

It would be nice to show the libp2p kad dht peer count and discv5 peer count.

Suggested metrics:
- `bootstrap_node_kaddht_peers`
- `bootstrap_discv5_peers`

[2019-12-07 13:04] torfbolt opened #4218 "Latest beacon client produces duplicate log entries"
The latest client versions seem to log some (not all) of the messages twice:

[code]

Minor issue, but maybe an indication of something that might be causing other bugs. Feel free to close as wontfix.

[2019-12-07 22:34] calumtomeny commented on #4212
I get the same error after a minute or two every time I try to sync:

[2019-12-07 22:14:26]  INFO initial-sync: Processing block 9032/188932 - estimated time remaining 6h19m32s blocksPerSecond=7.9 peers=1/3
[2019-12-07 22:14:26]  INFO initial-sync: Processing block 9033/188932 - estimated time remaining 6h17m8s blocksPerSecond=8.0 peers=1/3
[2019-12-07 22:14:26]  INFO initial-sync: Processing bloc

[2019-12-08 00:40] DannyDesert opened #4221 "Have gotten this failure a couple times now. Been running for a couple of hours"
![Screen Shot 2019-12-07 at 4 39 06 PM](https://user-images.githubusercontent.com/6620224/70382388-30f8bc00-1910-11ea-87fc-c420bbbf1421.png)

[2019-12-08 15:03] DannyDesert commented on #4221
Happened again
![Screen Shot 2019-12-08 at 7 02 07 AM](https://user-images.githubusercontent.com/6620224/70391320-c3d53d00-1988-11ea-9910-79343ce4756f.png)

[2019-12-08 17:25] superphiz opened #4222 "[Enhancement] Rescan keypool for new validator keys"
In its current form the validator scans prysm/validator for validatorprivatekey files once on launch. With this design adding new validators could result in a disruption in validator uptime. Add a feature to enable for new validator key scanning with a minimum disruption to currently running validators.

[2019-12-08 18:37] terencechain opened #4224 "Attestation pool tracking for v0.9.2"
This tracks the current progress of attestation pool revamp for v0.9.2

- [x] Attestation pool basic CRUD methods #4191
- [x] RPC Attester server uses pool #4223
- [x] RPC Proposer server uses pool #4223
- [x] RPC Aggregator server uses pool #4223
- [ ] Sync aggregation subscription uses pool #4240
 - [ ] Sync committee_index unaggregated subscription uses pool
- [ ] Fork choice service uses pool

[2019-12-08 22:04] calumtomeny opened #4225 "panic: runtime error: invalid memory address or nil pointer dereference"
Error after syncing for around 15 minutes:

[code]

[2019-12-08 22:11] prestonvanloon commented on #4225
Related: #4221

[2019-12-08 23:30] #4221 closed

[2019-12-08 23:30] #4225 closed

[2019-12-09 06:39] metanull-operator commented on #4057
Is there any action I need to take to close this issue?

[2019-12-09 07:23] nisdas commented on #4057
Hey nope, I think this can be closed :)

[2019-12-09 07:23] #4057 closed

[2019-12-09 11:43] wchuan11 opened #4231 "Fail to build for target Windows (on Mac)"
Error message:
[code]

Requires c++ toolchain to get it to work.

[2019-12-09 11:46] wchuan11 opened #4232 "Unable to build on Windows"
Error message:
[code]

[2019-12-09 20:41] rauljordan commented on #3891
This is fine @terencechain because the rules of SSZ state hash tree root of a single element with 32 bytes is just that element (the identity function).

[2019-12-09 20:41] #3891 closed

[2019-12-09 21:48] strictlymomo opened #4235 "Prysm API: what are the reasons for missing slots/blocks?"
Here's a screenshot of the head of the blockchain at a certain point in time.

<img width="856" alt="Screen Shot 2019-12-09 at 3 49 13 PM" src="https://user-images.githubusercontent.com/8671427/70473761-b199f280-1a9f-11ea-9179-426f00ff998c.png">

You'll notice:
- 202903 - scheduled
- 202902 - **not exist**
- 202901 - scheduled

I don't think this is beaconcha.in as `https://api.prylabs.net/eth/v1a

[2019-12-09 22:02] mcdee commented on #4235
There is no guarantee that any given slot has a block.  At each slot a single proposer _can_ create a block, but it is not _required_ to do so.  For example, the validator may be offline when it is given the role to propose.

[2019-12-09 22:12] rauljordan commented on #4235
As @mcdee mentioned, proposers can skip slots, so there won't be a block at every slot and that is part of the protocol. However, it is concerning when there was a block proposed but *no block archived in the DB* when attempting to retrieve it from the API. There are many nodes powering the API, not just one, so this is pretty strange behavior.

[2019-12-09 22:46] strictlymomo commented on #4235
Thanks. In this scenario, would you consider the status `missed` or "not exist"? Or does `missed` mean something else?

To go back to [Epoch 25242](https://beaconcha.in/epoch/25242) example:
- Beaconchain UI = `Missed` block for [Slot 201940](https://api.prylabs.net/eth/v1alpha1/beacon/blocks?slot=201940) . Would this indicate:

- Beaconchain UI = non-existent for [Slot 201939](https://api.prylabs

[2019-12-09 22:48] rauljordan commented on #4235
I think `Missed` is a good work to mean: a validator was supposed to propose a block at slot X, but failed to do so.

The words `NotFound` or `Non-Existent` should refer to a block that was proposed at a slot, but for some reason it is missing from a node's database

[2019-12-09 22:55] Phistr90 commented on #4212
Same. Now when I retry I even cant get enough peers to start syncing.

[2019-12-09 23:58] Phistr90 commented on #4212
Preston told me on Discord:

That helped for me.

[2019-12-10 00:25] mog3n opened #4236 "Crash after a few minutes (Beacon Chain)"
Following the steps on https://prylabs.net/participate I've encountered a bug causing beacon-chain to crash after a few minutes. It was launched under a Ubuntu Xenial (16.04) virtual machine with VirtualBox.

After running
[code]

I'm not too sure how to debug this. Running the latest via
`docker pull gcr.io/prysmaticlabs/prysm/beacon-chain:latest`

It seems to connect to a few peers, and then dow

[2019-12-10 01:28] mog3n commented on #4212
So a simple port forward at 13000 UDP should fix the issue?

[2019-12-10 13:40] tzapu opened #4238 "add a client name to /node/version"
it would be useful to have a client name on https://api.prylabs.net/eth/v1alpha1/node/version
so it would look something like :
[code]
maybe. or any other combination you think is appropriate.
Cheers

[2019-12-10 15:58] prestonvanloon commented on #4212
@mog3n it's TCP port 13000. The issue here is that you maybe struggling to find peers that accept inbound connections and when you do find those peers they may go away at any time.

One potential solution is to change your set up so you can accept inbound connections. To do this, you can port forward TCP 13000 in your router to your local machine. Then you can add flag `--p2p-host-ip=$(curl -s ide

[2019-12-10 16:08] prestonvanloon commented on #4218
Interesting. This could mean that the same routine is running twice. Is this still producible?

cc: @terencechain

[2019-12-10 16:11] prestonvanloon commented on #4137
Research topic has merged. https://github.com/ethereum/eth2.0-specs/pull/1495

[2019-12-10 16:15] terencechain commented on #4218
Reproduced on my local node syncing with cluster. Will look into this today

[2019-12-10 16:17] terencechain commented on #4137
Waiting for official v0.9.3 release: https://github.com/ethereum/eth2.0-specs/pull/1507

Here's a few more fixes we should take in as well:
https://github.com/ethereum/eth2.0-specs/pull/1508
https://github.com/ethereum/eth2.0-specs/pull/1509
https://github.com/ethereum/eth2.0-specs/pull/1510

[2019-12-10 16:47] prestonvanloon commented on #4231
Related cross compile issues: #2849 #2974

[2019-12-10 16:49] prestonvanloon commented on #4232
Looks very similar to https://github.com/bazelbuild/bazel/issues/4496. Can you take a look at that issue and see if it resolves your problem? @wchuan11

[2019-12-10 17:01] prestonvanloon commented on #4236
@mog3n Do you happen to have the full error by chance? The part you pasted is missing part of it.
If possible, upload the full log. Thanks!

[2019-12-10 17:10] torfbolt commented on #4212
Sure, without 13000 open it will be harder, but the client still shouldn't crash with a panic. Or is this really a p2p network state that is not recoverable?

[2019-12-10 17:31] prestonvanloon commented on #4238
I agree. Thanks for the suggestion!

[2019-12-10 17:57] prestonvanloon commented on #4212
I agree it shouldn't panic. The above suggestion is a workaround until we have a resilient solution.

[2019-12-10 21:59] mog3n commented on #4236
Hey @prestonvanloon ! I got a different error this time.
The command I ran was:
`docker run -v $HOME/prysm-data:/data -p 4000:4000   --name beacon-node   gcr.io/prysmaticlabs/prysm/beacon-chain:latest   --no-genesis-delay   --datadir=/data --p2p-max-peers=40 --p2p-host-ip=99.244.106.108 |& tee -a log.txt`

[code]

[2019-12-10 22:07] mog3n commented on #4236
Update: I ran the command again and the original error is back: https://gist.github.com/mog3n/84540b49e48febc5f6ef892a9f63ef2a
Thanks!

[2019-12-10 23:04] xochipilli opened #4246 "Could not process slot from the future"
I restarted my beacon chain and it now gives this error and won't sync anymore.

[code]

Any idea what to do?

[2019-12-11 01:52] terencechain opened #4248 "Committee cache handles N+1 fork scenario"
Currently the committee list cache does not handle reorg which invalidates cached shuffled indices at epoch N+1. The program is outlined below:
* At the start of epoch N, a node should be able to cache shuffling for N and N + 1
* Such shuffling is determined by epoch N and randao seed at the start of N
* If the chain reorg such that randao at the start of N is different, then the shuffled indices

[2019-12-11 01:52] terencechain commented on #4248
This is my number 1 priority for tomorrow

[2019-12-11 02:12] terencechain opened #4249 "Recursively fetch voted block from attestation"
We currently don't recursively fetch for missing blocks voted by attestation. e.g.  Receive attestation A with for block B.  The node doesn't have block B, so the node fetches it. The block has parent C, node doesn't have that so it fetches block C. This is one of the reason sometime we see forks can't be resolved with prysm nodes

[2019-12-11 02:13] mog3n commented on #4236
I ran the command on a native Ubuntu device and the same error seems to have appeared: https://gist.github.com/mog3n/0dd8ef05249f813e3c7f4b505a08ec5d

[2019-12-11 02:20] terencechain opened #4250 "Keep invalid attestations until expiration"
As outline in a fork choice spec, an incoming attestation that is asserted as invalid may be valid at a later time. A node should keep it around and consider scheduling it for later processing. In our implementation, the node simply discards the invalid attestation and loses it for later processing. This could contribute to the unresolvable fork issue

[2019-12-11 03:01] nisdas commented on #4236
This errors seem to be pointing to a deeper issue in your machine
[code]
you mentioned you were running with

If possible, could you try with a more current version of Ubuntu ? ex: Bionic(18.04)

[2019-12-11 04:07] mog3n commented on #4236
@nisdas I've now run it on Ubuntu Bionic 18.04 LTS, and i'm getting the same error. https://gist.github.com/mog3n/d4e6ea7352512ee3ca27869d43b59120
[code]

Thanks

[2019-12-11 04:41] nisdas commented on #4236
Hey I opened a PR https://github.com/prysmaticlabs/prysm/pull/4252 , this should resolves your error. Can you try it and let me know if it fixes it for you ?

[2019-12-11 06:27] tzapu opened #4254 "panic when using the grpc StreamChainHead"
when trying to stream chain head i am getting this error in  the server logs and in the client app
[code]

cheers

[2019-12-11 12:22] tzapu opened #4257 "trying to fetch genesis block errors"
hi

when trying to get the genesis block from your node, i get a 503 error for
`curl -X GET "https://api.prylabs.net/eth/v1alpha1/beacon/blocks?genesis=true" -H  "accept: application/json"`

when i try to get it from my server i get
`rpc error: code = Internal desc = Found more than 1 genesis block: list blocks`

please let me know how i can help debug this further,
cheers

[2019-12-11 12:27] tzapu opened #4258 "fetching blocks with slot=0 returns multiple entries"
hi
when trying to list blocks with the filter slot=0 i get back multiple (250, a page i assume) return values on my node and a 503 error on yours.
`curl -X GET "https://api.prylabs.net/eth/v1alpha1/beacon/blocks?slot=0" -H  "accept: application/json"`
cheers

possibly linked to https://github.com/prysmaticlabs/prysm/issues/4257

[2019-12-11 13:28] mtbitcoin commented on #4231
Just to add more info to the above, the compilation for windows binaries on a Mac used too work before and only broke recently..

[2019-12-11 13:35] ppratscher opened #4259 "ActiveValidatorIndices helper function returns wrong indices"
The ActiveValidatorIndices function is supposed to return the indices of the currently active validators.
But when appending to the indices array it appends the index of the validator in the array returned by `activeIndicesCache.ActiveIndicesInEpoch(epoch)` and not the actual index of the validator.

See:
https://github.com/prysmaticlabs/prysm/blob/0326be86b5781b8e9d40d8f003d28a895e71203f/beacon-c

[2019-12-11 15:14] torfbolt commented on #4246
Looks like your system time is way off. Make sure you have an NTP service running and it's properly configured.

[2019-12-11 15:18] handelaar2 commented on #4259
validator log as requested by terence

[validator.log](https://github.com/prysmaticlabs/prysm/files/3951056/validator.log)

[2019-12-11 15:23] metanull-operator commented on #4259
[validator.log](https://github.com/prysmaticlabs/prysm/files/3951083/validator.log)

[2019-12-11 15:31] terencechain commented on #4259
Looking at this today

[2019-12-11 15:50] terencechain commented on #4257
cc @rauljordan

[2019-12-11 16:50] rauljordan opened #4261 "Add Slot Range Filter for Blocks"
No tracking issue, but this is a follow-up to #4183. We removed an epoch filter from the ListBlocks API due to it being ambiguous, but we should add a request that can specify a range of slots to retrieve, such as `0-100` (inclusive on both ends). This issue can be resolved via a straightforward PR.

[2019-12-11 17:05] prestonvanloon commented on #4250
I think we need to consider this carefully. Do we propagate invalid attestations? Our current pubsub pipeline only processes "valid" messages and propagates any new, distinct, and valid message.

[2019-12-11 17:22] xochipilli commented on #4246
Thanks for replying but I am still getting the error - I checked the date and even synchronised it with no luck:

serenity@serenity:~/prysm$ date
Wed Dec 11 18:14:37 CET 2019

serenity@serenity:~/prysm$ sudo ntpdate 0.europe.pool.ntp.org
11 Dec 18:16:31 ntpdate[907]: adjust time server 116.203.209.35 offset 0.006368 sec

When I start again it gives the same error:
[code]

Any idea? There must be s

[2019-12-11 17:35] prestonvanloon commented on #4258
Slot=0 is the same as not setting a slot value, if you intended to get the genesis block, you can set genesis=true.

https://api.prylabs.net/eth/v1alpha1/beacon/blocks?genesis=true

However, this also seems to be broken with #4257. I'll close this as a duplicate of #4257, but please reopen it if you feel there is something different to address. Thanks!

[2019-12-11 17:35] #4258 closed

[2019-12-11 17:36] prestonvanloon commented on #4257
We see the same thing in production as well.

[code]

[2019-12-11 17:47] xochipilli commented on #4246
Not sure if related but when I installed this Debian box (fresh install only for staking) I selected wrong timezone (geographical area). I only later fixed it with 'tzselect'. Could this have an effect?

I now tried to reconfigure system time to what I think is default - UTC - but the error persists.

Everything worked before but then I wanted to restart the beacon chain to try the support with mu

[2019-12-11 18:50] prestonvanloon commented on #4246
Related: #4073

[2019-12-11 19:29] prestonvanloon commented on #4259
Could this be why we experience behavior where we don't see any proposers with an index higher than ~500? Those validators are still selected to attest, but never propose.

[2019-12-11 19:30] prestonvanloon commented on #4259
Bumping priority because I think this is a P0 bug if the above is true.

[2019-12-11 19:34] prestonvanloon commented on #4259
Looking into a regression test for this

[2019-12-11 19:35] prestonvanloon commented on #4259
There is no unit test for helpers.ActiveValidatorIndices. Working on a fix now.
I am not sure how this is going to affect syncing the existing chain, it might be invalid and require a restart.

[2019-12-11 19:48] prestonvanloon commented on #4259
Confirmed with regression test for `ActiveValidatorIndices`. This is a bug, I'll try to sync a client with the fix and see if it's runtime breaking.

[2019-12-11 19:53] prestonvanloon commented on #4259
Spoke too soon. I cannot confirm this as a bug, even with tests. The `i` value is the validator's index

[2019-12-11 19:56] terencechain commented on #4259
Right I wasn't sure if this was bug, given cache returns empty list if miss and we would have experienced it earlier. Lack of test coverage forsure and we should delete the old cache

[2019-12-11 19:57] terencechain commented on #4259
Have a regression test with existing DB set up, will run it through to get a better picture

[2019-12-11 19:58] ppratscher commented on #4259
But `state.Validators` is an array and not a map hence `i` will always be the array index. I think it might only return the correct validator indices if it returns all validators (active & inactive ones)?

[2019-12-11 19:58] prestonvanloon commented on #4259
This cache doesn't support fork conditions though. When adding feature flag for EnableActiveIndicesCache, this fails with different state Validators. Maybe we need epoch + finalized checkpoint to be confident about a cache hit?

It should be noted that most clients aren't running with this cache on so it would miss 100% of the time, unless they are using experimental caching flags, but even then t

[2019-12-11 20:00] terencechain commented on #4259
That cache is old and we were suppose to delete a long time ago. It's not supposed to be used. See #3631

[2019-12-11 20:01] terencechain commented on #4259
There's only one cache for run time and that's the shuffled committee cache

[2019-12-11 20:04] prestonvanloon commented on #4259
Added test here: https://github.com/prysmaticlabs/prysm/pull/4263

I think this is a non-issue. state.Validators returns all validators that ever existed in the system, including active and inactive validators. I am concerned about these caches under forking conditions and finality reversion scenarios, but we'll need to revisit that in a different issue.

[2019-12-11 20:13] prestonvanloon commented on #4259
I'll submit fix to delete old active index cache. If it's not used then should be safe to delete and avoid confusion.

[2019-12-11 20:17] terencechain commented on #4259
Sounds good. Check if it's not done in #3631. Don't wanna duplicate work :)

[2019-12-11 20:18] prestonvanloon commented on #4259
It's probably done in that PR but it looks rotten and does more than delete active index cache, also deletes shuffled indexes.

[2019-12-11 20:30] prestonvanloon commented on #4259
Removing this unused cache entirely in #4264. @ppratscher do you think this is resolved?

[2019-12-11 20:34] terencechain commented on #4259
I am not sure if it solved it. The bug ultimately lies in archival service retrieving proposer and attesters in old epochs. That's what I'm seeing with my tests. With that said, this is a good fix

[2019-12-11 20:53] ppratscher commented on #4259
I think the bug might be in the `ComputeProposerIndex` function.

From what I understand it should return `indices[candidateIndex]` and not just candidateIndex as the return value of `ComputeShuffledIndex` in this case cannot be greater than len(indices). That will also explain why only validators with an index < len(activeIndices) receive a block proposal assignment.

[2019-12-11 21:15] prestonvanloon commented on #4259
Bumping priority based on https://github.com/prysmaticlabs/prysm/issues/4259#issuecomment-564727994. This is another helper with no unit test, I'll try to write a regression test for this scenario.

[2019-12-11 21:30] tzapu commented on #4258
hey @prestonvanloon , it does not seem to behave the same. if you call it without any filter you get back `400 Undocumented | Error: Bad Request` and with `?slot=0` i no longer get a 503 as in the intial post but i do get a 200 http status code.

[2019-12-11 21:44] terencechain commented on #4259
Working on this now

[2019-12-11 21:53] prestonvanloon commented on #4259
This will be resolved in #4265. Waiting to see if this is consensus breaking on current testnet or not.

If it is, we'll likely merge it into 0.9.2 branch and try to expedite the testnet restart.

[2019-12-11 22:40] terencechain commented on #4250
This definitely requires a design doc. At the same time it's an important piece for fork choice to resolve

[2019-12-12 02:27] #4261 closed

[2019-12-12 03:02] wchuan11 commented on #4232
Have tried the suggestions in the referenced thread but issue remains.

[2019-12-12 11:17] tzapu opened #4267 "--p2p-host-ip does nto seem reflected in logs"
hi

i have used --p2p-host-ip to sepcify an external ip but the multi addr seems to still point at the docker internal ip
`time="2019-12-12 11:14:31" level=info msg="Node started p2p server" multiAddr="/ip4/172.17.0.2/tcp/8546/p2p/16Uiu2HAm1oYE38s5JE9TkhoY9xGm9w6FH469hpJyXmpApaAeUSFX" prefix=p2p`
is this correct?
sync up seemed a lot faster, but might be just an impression

[2019-12-12 11:21] nisdas commented on #4267
hey so `p2p-host-ip` is added to the libp2p address factory and that is still used. Just that we do not log it over here. We probably should do that too.

[2019-12-12 11:24] tzapu commented on #4267
but is the multiaddr correct in this case where i manually specify an external public ip?

[2019-12-12 11:25] nisdas commented on #4267
So this multiaddress will not work in that case, since this is an internal IP, any external peer cannot reach you with this multiaddress

[2019-12-12 11:29] tzapu commented on #4267
then i would assume whatever's set in p2p-host-ip should propagate to this as well. the port i set did  (8546)

[2019-12-12 11:32] nisdas commented on #4267
Yeap it will propagate to external peers. So what happens is that when initially connecting with another peer, all the multiaddresses are exchanged between peers, including one with your internal docker ip and host ip.

[2019-12-12 11:34] tzapu commented on #4267
sorry, what i meant to say is that since i am starting the node with `-p2p-tcp-port PORT --p2p-host-ip IP.ADD.R.ESS those should be appearing in the multiaddr string as well, but only the port i set does, the ip i set does not.

[2019-12-12 11:42] mcdee commented on #4267
There are two addresses involved here.

One is the address to which the beacon node binds.  This will always be the address of one of the interfaces on your server, and can be confirmed by checking for the listening port:

[code]

The other is the address which is sent over the libp2p network and is used for other peers to connect to you.  This latter address is the one that is set by `--p2p-host-

[2019-12-12 11:44] tzapu commented on #4267
ok, cool, thanks guys, makes sense now.
as @nisdas said it would be useful to log the external one as well then
feel free to close this

[2019-12-12 11:45] nisdas commented on #4267
I am going to leave this open, as we do want to log both of them, not just the ip that we bind to.

[2019-12-12 13:23] tzapu commented on #4254
hey, tried this, am no longer gettign an error, but I am gettign an EOF after the first item is streamed

[2019-12-12 16:49] rauljordan commented on #4257
hmm that's really bad, checking this right now

[2019-12-12 16:51] rauljordan commented on #4235
Closing this as it has been answered

[2019-12-12 16:51] #4235 closed

[2019-12-12 16:56] rauljordan commented on #4257
Confirmed it happens locally as well

[2019-12-12 18:26] rauljordan commented on #4257
#4269 fixes this @tzapu

[2019-12-12 18:27] rauljordan commented on #4254
This is probably because the function returns instead of keeping the stream open - fixing this next

[2019-12-12 18:31] #4105 closed

[2019-12-12 21:19] prestonvanloon commented on #4254
EOF means end of stream. This is normal and should be handled appropriately
in the client.

[2019-12-12 21:20] prestonvanloon commented on #4254
Ah actually I misunderstood. If the server closes the stream when it should
continue streaming, that’s a bug. Thanks

[2019-12-12 21:57] terencechain opened #4272 "Align to spec v0.9.3"
With the release of spec [v0.9.3](https://github.com/ethereum/eth2.0-specs/releases/tag/v0.9.3). This issue tracks to the overall progress to align Prysm codebase to spec v.0.9.3

The v0.9.3 release contains of the following:

### Beacon chain

- [x] remove `signing_root` and add explicit signed message containers (https://github.com/ethereum/eth2.0-specs/pull/1491)
- [x] ensure attestation slot a

[2019-12-12 22:05] terencechain opened #4273 "Switch back to initial sync"
A few of our users have reported this issue and I also have ran into it. Currently the beacon node doesn't have the ability to switch from recursive parent syncing back to initial sync. My beacon node is at a state where says initial sync exited at `224224` and it starts to requesting parent block at `224867`.  With 600 slots differences we should be able to switch back to initial sync

[code]

[2019-12-12 22:27] #4257 closed

[2019-12-12 22:41] prestonvanloon commented on #4258
Ah ok, thanks. In any case, this looks resolved by #4257

[2019-12-12 22:44] prestonvanloon commented on #4259
Confirmed this is consensus breaking and will require a testnet restart. I am out of office until Sunday night, I'll pick this up as my top priority as soon as I can get back online.

[2019-12-12 22:46] prestonvanloon opened #4274 "Deprecate unused feature flags from #4266"
Please deprecate the feature flags.

_Originally posted by @prestonvanloon in https://github.com/prysmaticlabs/prysm/pull/4266#issuecomment-565220863_

[2019-12-12 22:47] terencechain commented on #4259
@prestonvanloon what are the required actions from this? can delegate

[2019-12-12 22:52] prestonvanloon commented on #4259
Thanks @terencechain. Need to get a green PR on #4265.

Following that, we need to focus on 0.9.2 features (#4154) such that we can start testing this at runtime.

[2019-12-12 22:53] terencechain commented on #4259
Roger that. On the same page with you. Focusing on 0.9.2 features this week

[2019-12-12 22:57] prestonvanloon commented on #4261
Are we closing this as a non-issue or do we still want to add slot range for querying blocks?

[2019-12-13 00:45] nisdas commented on #4273
Will be looking at this today

[2019-12-13 00:56] terencechain commented on #4273
Thank you @nisdas

[2019-12-13 08:01] ethers opened #4277 "panic: could not process blockCopy from fork choice service: pre state of slot 217810 does not exist"
I think a restart is just going to lead to the same error. How to recover?

[2019-12-13 07:49:11]  INFO initial-sync: Waiting for enough peer handshakes before syncing handshakes=2/3
[2019-12-13 07:49:11]  INFO p2p: Peer connected active=3 peer=16Uiu2HAmUYj89iS7jCXrnrGcrvdDgfBXB1H5zUis1GJXS7ovn467
[2019-12-13 07:49:16]  INFO initial-sync: Processing block 217810/227806 - estimated time remaining 5

[2019-12-13 08:10] ethers commented on #4277
just noticed if dupe of #4099 please close. thanks

[2019-12-13 08:27] ethers opened #4278 "Attestation failed to update vote no state found in db with attestation tgt root"
Also, logging to a file has ESC: can prysm prevent that?

[code]

[2019-12-13 14:00] #4274 closed

[2019-12-13 14:26] prestonvanloon commented on #4278
@ethers you can set the log format to json or fluentd. `--log-format=json`. This format is more appropriate for file based logging.

[2019-12-13 14:28] #4277 closed

[2019-12-13 16:53] metanull-operator commented on #4238
I'm happy to pick this one up, if you want to assign it to me. Do you want to go with the suggestion, or is there something else you'd like to have in the version information? Any other changes, other than adding "Prysm"?

[2019-12-13 17:08] terencechain commented on #4238
The suggestion is good with me

Minor modifications can happen in the PR

[2019-12-13 19:16] metanull-operator commented on #4238
This can be closed. Are there any steps I can take for that?

[2019-12-13 19:21] handelaar2 opened #4283 "Bazel failed to build beacon-chain"
Fails:
bazel build //beacon-chain:beacon-chain
bazel version 1.2.1

DEBUG: Rule 'io_bazel_rules_docker' indicated that a canonical reproducible form can be obtained by modifying arguments sha256 = "14ac30773fdb393ddec90e158c9ec7ebb3f8a4fd533ec2abbfd8789ad81a284b"
DEBUG: Call stack for the definition of repository 'io_bazel_rules_docker' which is a http_archive (rule definition at /home/ubuntu/.cac

[2019-12-13 19:28] terencechain commented on #4218
Looked into this. Ristretto cache isn't working as expected. Duplicated blocks and attestations pass through the following checks

[code]

[2019-12-13 19:28] terencechain commented on #4218
cc @prestonvanloon

[2019-12-13 19:39] prestonvanloon commented on #4218
We need a regression test to validate this theory. Is the cache being
pruned?

[2019-12-13 19:42] terencechain commented on #4218
I verified run time. There's always one of the same object that gets through 25% of the time. What do you recommend for regression testing this type of intermittent issue?

[2019-12-13 20:38] torfbolt commented on #4218
If the info helps, I have sometimes seen triple and even quadruple log entries.

[2019-12-13 20:41] prestonvanloon commented on #4218
Any unit test that proves this theory. Do multiple identical objects miss
the cache? How what is the root cause?

[2019-12-13 20:44] prestonvanloon commented on #4283
You need to have cmake installed on your system to build the c++ sources.
We should update the docs as well to reflect this requirement.

https://cmake.org/install/

[2019-12-13 20:46] terencechain commented on #4218
So far unable to reproduce via unit test

[2019-12-13 23:27] terencechain commented on #4218
Sorry I haven't been able to spend much time on it due to v0.9.2 and addressing cache feedback. Will spend more time on it this weekend

[2019-12-13 23:45] rauljordan commented on #4238
Hey @metanull-operator typically if you put the words `Resolves #4238` in your PR corresponding to this issue, once the PR is merged into master, the issue will automatically close

[2019-12-13 23:45] #4238 closed

[2019-12-14 02:58] metanull-operator commented on #4238
I suppose the square brackets in the PR template are supposed to be removed? I had "[Resolves]" in my PR. That must explain it.

[2019-12-14 11:20] handelaar2 commented on #4283
I already figured that **cmake** was missing but I installed it from the **snap store**. Maybe that was the issue.
$sudo snap install cmake --classic
$which make  => /snap/bin/cmake
$cmake -version => cmake version 3.16.1 CMake suite maintained and supported by Kitware.....
This morning I installed cmake from the tar. Now it says:
$which cmake" => /usr/local/bin/cmake
(I guess this is the right cm

[2019-12-14 13:13] prestonvanloon commented on #4283
Looks like the process ran out of memory when building .

What are your system specs? How much RAM do you have?

[2019-12-14 13:33] handelaar2 commented on #4283
Oops, I overlooked the "out of memory" message in the log. Sorry.
Running the t2.micro in below overview, so 1GiB.

<img width="899" alt="Screenshot 2019-12-14 at 14 24 33" src="https://user-images.githubusercontent.com/28559038/70849419-4d4fa800-1e7e-11ea-8646-31aea071e42f.png">

Any suggestions on the minimal size in above list to build (and run) the beacon+validator.

[2019-12-14 14:47] xochipilli commented on #4246
I tried adding new user account and did the whole installation/compiling thing. I get the same error. Restarting the server also didn't help. At this point I would just need to reinstall whole system to get the validator working again.

[2019-12-14 16:06] prestonvanloon commented on #4283
Maybe 2gb is a safe minimum. Here’s an article that may help too
https://docs.bazel.build/versions/master/memory-saving-mode.html

[2019-12-14 16:59] prestonvanloon commented on #4218
We discussed this a bit offline. There are two parts message de-duplication. The application layer, which is outlined in this issue, checks the hash tree root of the object and if the application has seen that particular object already. The second part of de-duplication is pubsub message IDs. We currently aren’t using libp2p pubsub validation pipeline because it would require deserializing the mes

[2019-12-15 15:13] wikidemic commented on #2546
There’s an army of RPi4 standing by to join test network.
Any progress towards successful compile yet?

[2019-12-15 17:53] cyberbono3 commented on #2955
@owocki can you help?

[2019-12-15 19:38] owocki commented on #2955
let me bump to scott

[2019-12-15 22:26] ceresstation commented on #2955
Sorry about that @cyberbono3 should be good to go now!

[2019-12-16 04:11] WhisperingChaos opened #4295 "Beacon Chain Client: error "Failed to handle p2p pubsub" error="could not process attestation from fork choice service: pre state of target block 229896 does not exist""
msg="Starting beacon node" prefix=node version="Git commit: a9a5973b983c8293148cc59403221cfab4112081. Built at: 2019-12-12 22:57:27+00:00"

Seems like duplicate of #3819, as even the timing is similar.  However, message emission doesn't always follow 15min interval.

[code]

[2019-12-16 04:19] WhisperingChaos opened #4296 "Beacon Chain Client: error msg="Failed to handle p2p pubsub" error="could not save head: could not save head root in DB: ...""
msg="Starting beacon node" prefix=node version="Git commit: a9a5973. Built at: 2019-12-12 22:57:27+00:00"
[code]

[2019-12-16 06:47] prestonvanloon commented on #1430
This is a mainnet config requirement. Reading 16k logs on start up takes several minutes.

[2019-12-16 07:42] handelaar2 commented on #4283
Those 'memory saving' bazel parameters did not bring relief for the 1gb image. The out-of-memory error continued. So I fired up a new instance, now with the 2gb option. This time both beacon and validator compiled!

The beacon is currently syncing at ~25 blocks per sec.
(commit fd93751b  (Dec15 after Faucet fix) )
INFO initial-sync: Processing block 28869/249258 - estimated time remaining 2h26m20s

[2019-12-16 08:58] wchuan11 commented on #4232
@prestonvanloon Are you are able to build on your Windows VM?

[2019-12-16 08:59] wchuan11 commented on #4231
@nisdas If you manage to look into this, will test it out

[2019-12-16 16:21] rauljordan commented on #3691
This is no longer the case in our current testnet

[2019-12-16 16:21] #3691 closed

[2019-12-16 16:21] rauljordan commented on #3603
This can be closed as we are now taking a more thorough approach to caching with fuzz tests where appropriate, making only incremental changes

[2019-12-16 16:21] #3603 closed

[2019-12-16 16:22] rauljordan commented on #3222
This is no longer needed as far as I understand based on latest research around surround vote detection and how slasher will work

[2019-12-16 16:22] #3222 closed

[2019-12-16 16:22] rauljordan commented on #3259
This is a duplicate of #2766, closing

[2019-12-16 16:22] #3259 closed

[2019-12-16 16:23] #3462 closed

[2019-12-16 16:23] rauljordan commented on #3462
No longer relevant, resolved by how our current testnet handles activations

[2019-12-16 16:26] rauljordan commented on #3923
Thoughts @prestonvanloon ?

[2019-12-16 16:28] rauljordan commented on #4052
Resolved by #4066

[2019-12-16 16:28] #4052 closed

[2019-12-16 16:29] rauljordan commented on #3997
This can be closed, refer to https://prysmaticlabs.gitbook.io/prysm/activating-a-validator

[2019-12-16 16:29] #3997 closed

[2019-12-16 16:30] rauljordan commented on #4078
We'll update the readme to instead use `--deposit-contract $(curl https://prylabs.net/contract)` as the flag, as that will always work

[2019-12-16 16:32] rauljordan commented on #4083
Hey @torfbolt, @terencechain added a fix that will eliminate most of these errors in #4270. There might still be cases when this error occurs but they will be less frequent.

[2019-12-16 16:36] rauljordan commented on #4283
This is very useful @handelaar2, instead of closing the issue, maybe we can add this to the README on suggestions for how to run on a standard Ubuntu EC2 instance for other users with your situation. @har00ga maybe we can add to our top-level README? We can also add to Gitbook

[2019-12-16 16:53] rauljordan commented on #4124
This is a duplicate of #791, also see attached link above ^

[2019-12-16 16:53] #4124 closed

[2019-12-16 18:14] #4083 closed

[2019-12-16 18:14] #4248 closed

[2019-12-16 19:45] har00ga commented on #4283
For sure, definitely worth adding. Updating the README to match changes in the Gitbook was already on my agenda for the afternoon, so this suggestion has good timing. :slightly_smiling_face:

[2019-12-16 22:53] rauljordan opened #4301 "Migrate Docs to Docusaurus"
@har00ga brought up how Gitbook is becoming hard for us to maintain and customize for our growing documentation needs. A big part of it has to do with how closed source it is and also how it locks us into a particular form of editing and collaboration. Instead, @har00ga suggested using [Docusaurus](https://docusaurus.io/en/) as an alternative. It looks nice, is open source, allows for all sorts of

[2019-12-16 23:52] prestonvanloon commented on #4232
@wchuan11, sorry about the delay. I was out of office last week and have not had a moment to attempt this. I'll try sometime later this week.

[2019-12-17 01:52] rauljordan commented on #1430
Hey @prestonvanloon could you try this again with #4299

[2019-12-17 02:52] #4078 closed

[2019-12-17 06:00] prestonvanloon commented on #4283
Thanks for such a detailed resolution @handelaar2. You don't need go installed on your system, it is provided via bazel. I'd also like to see cmake be provided from bazel as well, but we'll have to address that at a later time.

Closing this. We need to add cmake as an extra system dependency for now.

[2019-12-17 06:00] #4283 closed

[2019-12-17 18:46] tsudmi opened #4307 "ValidatorPerformance RPC returns more public keys than requested"
Hi,

Looks like [ValidatorPerfomance](https://github.com/prysmaticlabs/prysm/blob/master/proto/beacon/rpc/v1/services.proto#L29) RPC can return more balances back than the number of public keys requested:

[code]

[2019-12-18 04:07] #4254 closed

[2019-12-18 06:15] prestonvanloon commented on #4283
If anyone else runs into this issue and the above tips do not work, we've added a build flag in #4309 to exclude Kafka from the build.

Try using `--define kafka_enabled=false` in your `bazel build` for beacon chain targets. This flag is not needed for validator client.

[2019-12-18 06:23] prestonvanloon commented on #1430
#4299 adds significant improvement from 3 minutes to under 1 minute, but this is still unsatisfactory for node restarts.

[2019-12-18 06:24] prestonvanloon commented on #4301
@rauljordan who owns this and do we know how much effort it is to migrate?

[2019-12-18 06:29] prestonvanloon commented on #3923
I would probably recommend a builder pattern from a docker image since these are optimized for docker already. Take a look at how DappNode builds their docker images for beacon chain: https://github.com/eduadiez/DAppNodePackage-prysm-beacon-chain/blob/master/build/Dockerfile

[code]

With this, you can build upon or extend these docker images. However, we won't support anything other than the mini

[2019-12-18 13:44] nisdas commented on #4231
Hey @wchuan11 , I haven't been able to solve this so far. Unfortunately I am still blocked on this

[2019-12-18 16:23] nisdas opened #4317 "Gossipsub Usage Is Incorrect"
@protolambda has brought to light some problems with our current gossip sub usage. Currently we have two main problems with how we use it.

1) Excessive Broadcasting
We currently manually re-broadcast each message we receive; however the gossipsub router does this internally too over here. https://github.com/libp2p/go-libp2p-pubsub/blob/7e5b02f152ae2dd8bceb897affe7ef57cb3c6b4e/pubsub.go#L761
So me

[2019-12-18 16:43] torfbolt commented on #4317
Could the first issue be linked with https://github.com/prysmaticlabs/prysm/issues/4218?

[2019-12-18 16:45] nisdas commented on #4317
Hey @torfbolt that makes sense, it seems related

[2019-12-18 19:27] xrow commented on #3923
@prestonvanloon prestonvanloon This is also a nice proposal, but will not fix the security demands of kubernetes nor openshift for whatever you ship. Plus the pattern has no support in RHEL 7 just RHEL 8. Sorry for being so picky.

https://docs.openshift.com/container-platform/3.11/creating_images/guidelines.html

REF:

[code]

[2019-12-18 19:30] xrow commented on #3923
Nevertheless. I am happy to maintain a better Kubernetes/OpenShift Version of the image.

[2019-12-18 19:31] xrow commented on #3923
Does the binary hav static bindings to the os layer or is all self contained?

[2019-12-18 19:40] prestonvanloon commented on #3923
Our docker images are essentially the go binary built for the architecture in a minimal image.

The base image we use is gcr.io/distroless/cc. See: https://github.com/GoogleContainerTools/distroless. Then we insert the built go binary. The only static bindings would be libc++, as far as I know.

I think I understand your concern and we see an example of how to do this in the rules_docker repositor

[2019-12-18 19:54] prestonvanloon commented on #3923
@xrow I have a fix for you at #4320. Thanks!

[2019-12-18 20:14] xrow commented on #3923
Great move... I am not quite sure most people set that user id to 1001 and not 1002. I test your build sooner or later.

[2019-12-18 20:16] prestonvanloon commented on #3923
1001 is fine too, let me know if we should change it and I would happily submit a fix to do so.

[2019-12-18 20:19] xrow commented on #3923
Please do, if you would ask me like you did. I hope I can post more cloud native ideas in the future.

[2019-12-18 20:30] prestonvanloon commented on #3923
OK changed to uid 1001: https://github.com/prysmaticlabs/prysm/pull/4320/commits/f774aba452d59a05de49d27f10d13fd103fe2abf

[2019-12-18 20:52] #3923 closed

[2019-12-18 23:03] rauljordan commented on #4301
@har00ga is this something you could take up? It would be really awesome to have all our docs in docusaurus instead of Gitbook

[2019-12-19 00:15] #3949 closed

[2019-12-19 02:31] har00ga commented on #4301
Oh sorry, I had only replied to this in Discord -- absolutely, happy to get this completed! It won't take long, Docusaurus accepts MD files so there's no painstaking reformatting to be done. There will need to be some adjustments made for the new layout considerations, but after that is completed it will mostly be  making the aesthetic changes that everyone would like to see. It'll take maybe a so

[2019-12-19 07:36] nisdas commented on #2546
Hey sorry currently we haven't been able to get it to work on arm32 yet, only arm64 is currently supported. I havent been able to dedicate the time to resolving this, I hope this can be done soon

[2019-12-19 12:10] handelaar2 opened #4326 "Metrics on localhost:8080 from Docker image are incomplete"
I try to scrape localhost:8080 for metrics to feed into Prometheus/Grafana.
The list of metrics generated from a docker image (latest on Dec19=HEAD-8c28d1) is incomplete.

When running the following command I get **77** metrics.
curl -s localhost:8080/metrics|egrep -v '^(#|bolt)' | sed -e 's/ .*//'|wc -l
(thanks @mcdee)
Doing the same for a Bazel build (cloned less than a week ago) it gives: **314

[2019-12-19 15:33] prestonvanloon commented on #4326
How can we reproduce this?

We run the docker images in production and see all of the metrics expected metrics.

[2019-12-19 15:41] handelaar2 commented on #4326
yes, Nishant has seen the same issue.

I run:
docker pull gcr.io/prysmaticlabs/prysm/beacon-chain:latest

docker run -it -v $HOME/prysm-data:/data -p 4000:4000 -p 4001:4001 -p 13000:13000 gcr.io/prysmaticlabs/prysm/beacon-chain:latest   --datadir=/data    --initial-sync-verify-all-signatures --grpc-gateway-port 4001 --verbosity info --archive --enable-upnp --p2p-max-peers 20

Then look at the resu

[2019-12-19 15:51] prestonvanloon commented on #4326
This is normal behavior. Metrics may not appear until they have been used, especially metrics with labels.

[2019-12-19 16:16] handelaar2 commented on #4326
It was not normal behaviour. The reason is that port 8080 is not forwarded in docker. As a result, it does only work partially and only some metrics are shown. Port forwarding needs to be added to docker for the metrics to work fully: **-p 8080:8080**

Issue can be closed

[2019-12-19 17:34] #4326 closed

[2019-12-19 20:36] metanull-operator opened #4331 "Cannot Start Containers: file permission denied"
I cannot start either the beacon-chain or validator using docker. After trying to get latest earlier today, I got the following errors:

`[2019-12-19 19:09:06] ERROR main: mkdir /data/beaconchaindata: permission denied`

and

`[2019-12-19 20:22:19] ERROR main: could not get private key: open /data/validatorprivatekey82fc5770988d: permission denied`

I started my beacon-chain with the following com

[2019-12-19 21:31] mangoleap commented on #2546
I'm trying to get it to run on a NanoPC T4 (ARM 64). Installed docker and pulled the images.

When I run

`docker run -v $HOME/prysm-data:/data -p 4000:4000 --name beacon-node gcr.io/prysmaticlabs/prysm/beacon-chain:latest --no-genesis-delay --datadir=/data`

I get the error

`standard_init_linux.go:211: exec user process caused "exec format error"`

That's all, nothing else. Any idea how to proce

[2019-12-19 22:45] prestonvanloon commented on #4331
This is certainly caused by #4320 where we changed the default docker container user to be uid 1001. This user likely does not have the permissions to write/read in those directories. I recommended setting the docker `--user` flag to be your user ID and group ID which is what $(id -u):($id -g) is doing, but this seems not to work for some users.

Read more about this feature here: https://docs.doc

[2019-12-20 03:10] wikidemic commented on #2546
I

@diglos seems to be on the ball here.  If you don’t answer for your docker image question, suggest you look up diglox image here on github - diglos/userpatches.

I’m considering NanoPC T4 purchase from Friendly Arm this week.  So I’m tracking developer responsiveness here before I pull trigger.  Let us know if you make progress!

[2019-12-20 03:18] #4317 closed

[2019-12-20 03:26] prestonvanloon commented on #2546
The current docker image is compile for AMD64 so it will not work on ARM64. It's not compiled for ARM and I am not sure about any workaround.

To give you guys a sense of timeline, we most likely won't get to this until after the holiday.

We'd welcome anyone to attempt a resolution here. I have a few ideas if someone wants to attempt resolving builds for ARM64.

[2019-12-20 05:33] metanull-operator commented on #4331
This may not be a problem with the code. I tried an older build (8701c835e2e6990f6362fc705b8c147ff78e56e629732e134bfefef951aa8e90), from prior to the root user change, and I still get the same error.

[2019-12-20 10:35] diglos commented on #2546
Hi @mangoleap.

Are you running a Ethereum on ARM image?. If so, you can install it by typing (it is a very recent package):

`sudo apt-get update && sudo apt-get install prysm-beacon prysm-validator`

@prestonvanloon, @wikidemic, it compiles fine on ARM64 (NanoPC-T4 and RockPro64) after  #4181 merged. ARM7 (Raspberry Pi 4), doesn't work at the moment.

[2019-12-20 11:04] mangoleap commented on #2546
@diglos That worked, thank you!

If anyone wants to try it:

Config files are at
[code]

Chain and validator can be started with
[code]

Auto start up on boot can be enabled with
[code]

Real time output from both services can be watched with
[code]

[2019-12-21 00:31] torfbolt commented on #4331
Had the same problem today, temporary workaround for me was to do a chmod 0777 on the data dir.

[2019-12-22 22:29] torfbolt commented on #4246
I also get this error here occasionally, at the moment with blocks dating 9 seconds from the future. The rest of the received blocks are good and validating works. The time on my machine is correct and synced via NTP, so maybe some peers are sending blocks with timestamps from the future?

[2019-12-23 04:18] metanull-operator commented on #4331
Thank you. That workaround got me back up and running. My own troubleshooting has not resolved this issue yet, but chmod 777 at least stopped the bleeding to penalties. I am tempted to try a clean install of Ubuntu to try again, because I have probably broken my docker installation in other ways in an attempt to fix this/get up and running again.

[2019-12-23 11:25] torfbolt commented on #4295
Can confirm, same error here occasionally with latest beacon client version (30b4b045f503a52142a9f26a8d614b4d226b44eb).

Looking at the validator balance it seems like this prevents proper validation, as my client accrues negative rewards during the duration of this beacon client error.

[2019-12-24 09:48] torfbolt opened #4351 "Beacon client crashed with "slice bounds out of range""
Tonight my client (30b4b045f503a52142a9f26a8d614b4d226b44eb) crashed and stopped with this error:

[2019-12-24 09:52] nisdas commented on #4351
Hey @torfbolt #4350, captures the panic and prevents the node from crashing

[2019-12-24 09:55] torfbolt commented on #4351
Hi @nisdas, so you think this is already fixed, or is it just mitigated from crash to panic error message?

[2019-12-24 09:57] nisdas commented on #4351
I inadvertently caused the error in the network, so it shouldn't show up as an error either. This issue should not come up again

[2019-12-24 10:05] torfbolt commented on #4218
Haven't seen this again for a few days. Do you think #4319 fixed it?

Can we close this? My guess from @terencechain 's comments would be that it's hard and probably not worth the effort to try and write a test case for this.

[2019-12-24 10:07] torfbolt commented on #4351
Thanks, closing it then.

[2019-12-24 10:07] #4351 closed

[2019-12-24 13:16] msc82 opened #4353 "ERROR sync: Failed to handle p2p pubsub error=signature did not verify github.com/prysmaticlabs/prysm/beacon-chain/core/blocks.init"
**Getting this error recently within node-sync in power-shell   but even that
it is continue working * i copy and paste  before and after it**

[code]

[2019-12-24 13:47] torfbolt commented on #4353
Looks very similar to #4122 and I'm also getting this quite often at the moment.

[2019-12-25 21:52] puredelta commented on #4353
getting following error as well.
![image](https://user-images.githubusercontent.com/35744680/71450784-d8734c80-2760-11ea-8b4f-95019f0e0ca1.png)

[2019-12-26 16:40] somuchid opened #4358 "error building beacon chain node"
os: Ubuntu 18.04.3 LTS (fresh & minimal installation)
bazel label: 2.0.0
command: bazel build //beacon-chain:beacon-chain
error locations: two
1st) ./third_party/kafka/BUILD.bazel:3:1: error executing shell command
2nd) ./prysm/beacon-chain/BUILD.bazel:80:1 error executing shell command

detail error message:

ERROR: /home/j/prysm/third_party/kafka/BUILD.bazel:3:1: error executing shell command: '

[2019-12-26 17:14] rauljordan commented on #4218
I have not observed this today with latest master after syncing to head - closing unless it comes up again

[2019-12-26 17:14] #4218 closed

[2019-12-26 17:31] rauljordan commented on #4259
Resolved by #4265

[2019-12-26 17:31] #4259 closed

[2019-12-26 17:32] rauljordan commented on #4224
@terencechain this can now be closed right?

[2019-12-26 17:41] rauljordan commented on #1430
I believe this is resolved by #4329, right @nisdas?

[2019-12-26 18:05] rauljordan commented on #4307
Hi @tsudmi can you paste in here the public keys you're requesting so we can reproduce? I believe this is caused by a bug in our testnet where a multiple validators can have the same public key. This will be resolved in our v0.9.3 relaunch of our testnet coming up in January, so would be good to confirm this soon.

[2019-12-27 10:14] tsudmi commented on #4307
Hi @rauljordan ,
I'm running a private network, so the public keys I'm using are not used in a public testnet.
Can you please send a link to this bug? I could try testing from the commit it was fixed in.

[2019-12-28 11:59] xrow opened #4363 "runtime error: slice bounds out of range [:273522048] with capacity 496"
Hi,

I have my beacon node running for some days. I find some funny errors. I tough I better report. MAybe they are fixed by now. I am runing version 0.27

[code]

[2019-12-28 16:00] terencechain commented on #4137
Addressed in #4272

[2019-12-28 16:00] #4137 closed

[2019-12-29 17:34] prestonvanloon opened #4370 "Genesis validators incorrect when min genesis time in future"
Problem scenario:
- Send more than `MinGenesisActiveValidatorCount` valid deposits before `MinGenesisTime`.
- When current time exceeds `MinGenesisTime`, all valid deposits are added to the genesis state.
- New nodes that sync after genesis time have only `MinGenesisActiveValidatorCount` validators.

Expected behavior:
- Same behavior as pre-genesis nodes.

Edit: Edited to update based on feedback

[2019-12-30 00:35] prestonvanloon commented on #4370
Re-opening. I believe there is still an issue here. From my observation, if the number of genesis validators is not exactly the min amount then there are problems for new nodes to sync to the network after the chain has started.

[2019-12-30 19:22] terencechain opened #4378 "Flaky e2e test - mining log not found"
We have observed e2e tests to be flaky lately. With the following failure, it usually requires a few restarts to get a pass. Opening this issue for investigation

[code]

[2019-12-30 19:29] prestonvanloon commented on #4378
This is FLAKY. Sometimes works, sometimes does not. See https://buildkite.com/prysmatic-labs/prysm/builds/19953#8a06deda-d407-4bad-8386-2db5a4732916

[2019-12-31 02:54] nisdas commented on #1430
Yeap @rauljordan, this is resolved by #4329

[2019-12-31 02:54] #1430 closed

[2019-12-31 16:18] terencechain commented on #4224
Can be closed with merging of #4316

[2019-12-31 16:18] #4224 closed

[2019-12-31 20:54] terencechain opened #4379 "Validator index part of the RPC assignment respond"
Opening this issue to make validator index as part of the committee assignment respond

[2020-01-01 17:22] positivenoise commented on #4358
Hello fellow human,
I also encountered this, you need to install cmake. Resolve it with `sudo apt install cmake`
Enjoy!

[2020-01-02 04:02] rauljordan commented on #4363
Hi @xrow this is a known bug that occurred with some other types of nodes syncing with the wrong configuration with Prysm nodes. This has now been fixed and will no longer be a problem in our upcoming testnet restart this January. Please let us know if this ever happens again.

[2020-01-02 04:02] #4363 closed

[2020-01-02 08:09] #4273 closed

[2020-01-02 16:42] rauljordan commented on #4098
All items done

[2020-01-02 16:42] #4098 closed

[2020-01-02 17:32] rauljordan commented on #4307
Hey @tsudmi try the branch v0.9.2 on commit [5da81125e48387f17699ad3fdfa6f1faf733bb5e](https://github.com/prysmaticlabs/prysm/pull/4154/commits/5da81125e48387f17699ad3fdfa6f1faf733bb5e). The branch has a TON of huge breaking changes which wont go live until our upcoming testnet restart this January, but if it works for you hopefully it will resolve your bug.

[2020-01-02 17:33] rauljordan commented on #4307
Fairly confident this has to do with a known bug regarding multiple validators having the same public key, but curious to see what results you get

[2020-01-02 17:33] rauljordan commented on #4272
This can be closed as well as all items are complete

[2020-01-02 17:33] #4272 closed

[2020-01-02 18:52] terencechain opened #4386 "Ejected validator has effective balance 3.2ETH"
Saw a few instances in beacon block explorer where a validator's status is ejected but still has 3.2ETH as effective balance. Opening this issue to track investigation.

![Screen Shot 2020-01-02 at 10 50 35 AM](https://user-images.githubusercontent.com/21316537/71685659-e66f3180-2d4d-11ea-92b5-5076459c949e.png)

https://beaconcha.in/validator/300

[2020-01-02 18:55] rauljordan commented on #4386
@ppratscher just wondering if this is something on the front-end side? Or does the data the beacon nodes send you say 3.2?

[2020-01-02 18:59] terencechain commented on #4386
Etherscan says 3.2 too

https://beacon.etherscan.io/validator/0x86000c054a50653b4d4e5e4fa5c01b8f3f2a0743f924e3afda0541a39a1839ce1645d0789451d7217a3b5f8c5928363c

[2020-01-02 19:04] rauljordan commented on #4386
He got ejected, then tried to top-off his balance by sending another deposit, and looks like effective balance jumped back up to 3.2 Nice catch @terencechain, this is a bug.

[2020-01-02 19:19] terencechain commented on #4386
After further discussion with @rauljordan and looking at the spec. This is an expected behavior from enshrined protocol design.
What we learn from this is wallet design for on-boarding and deposit workflow should be solid to protect user from such action

[2020-01-02 19:19] #4386 closed

[2020-01-03 18:18] terencechain commented on #4378
Moving this to high as we have to restart often for merging to master

[2020-01-03 19:15] prestonvanloon commented on #4370
This should be resolved in v0.9.2 from #4329

[2020-01-03 19:15] #4370 closed

[2020-01-03 19:17] prestonvanloon commented on #4358
Duplicate of #4283. Please install cmake locally or disable kafka as recommended here https://github.com/prysmaticlabs/prysm/issues/4283#issuecomment-566884428

[2020-01-03 19:17] #4358 closed

[2020-01-04 00:22] vesperaka opened #4403 "Beacon Chain repeatedly trying to process same blocks while syncing"
When trying to sync the beacon chain using the latest docker image, my client repeatedly tries to process blocks 383195 through 383319 (about twice per second).

![beacon](https://user-images.githubusercontent.com/59491400/71756507-4ce37500-2e5e-11ea-9df2-86205aeb5e97.png)