[2021-06-16 19:14] prestonvanloon commented on #9052
Was your validator connected to a beacon node?

[2021-06-16 19:16] prestonvanloon commented on #9052
@rkapka Looks related to some gateway work. `g.conn` seems that it is not set when calling Status(). Any idea?

Simple solution is to check that it is not nil.

[2021-06-16 19:26] Belkaar commented on #9052
Yes and correctly attesting

[2021-06-17 00:17] #8606 closed

[2021-06-17 12:33] voska commented on #7950
I've been running (amd64) Prysm on M1 for the past few months without issues, but in seeking better performance, I tried compiling natively for M1 arm64. Currently, Bazel 3.7.0 is required to compile Prysm, and Bazel doesn't have an arm64 build for 3.7.0, but they do for 4.1.0.

If we can update Prysm to use Bazel 4.1.0, then we should be able to successfully compile darwin-arm64 builds.

[2021-06-18 01:17] rauljordan commented on #8893
One month later, finally identified the bug @realbigsean. Will be resolved by #9060

[2021-06-18 01:37] #8504 closed

[2021-06-18 13:35] #9023 closed

[2021-06-18 14:37] Kyrrui commented on #6942
@nisdas Hello! So I upgraded my node to the $40 a month version temporarily so I don't have anything saved but can describe the setup I had and the behavior.
The node is running a validator client with a graffiti tag, the ETH2 beacon chain was running with just the '--http-web3provider' flag connected to an infura endpoint.
The log was just normal output then 'killed'. I looked into the system log

[2021-06-18 18:50] #8709 closed

[2021-06-20 02:14] Karmastic opened #9065 "eth1 connection issue triggers flood of ReloadPublicKeys"
# 🐞 Bug Report

### Description

ReloadPublicKeys called in tight loop when eth1 connection fails (client v1.3.8)

### Has this worked before in a previous version?

This wasn't observed in earlier versions.

## 🔬 Minimal Reproduction

## 🔥 Error

A beacon had 14 seconds where it couldn't connect to eth1 (still trying to figure out why) -- while it was in that state, it generated close to 2000 err

[2021-06-20 12:53] ahadda5 commented on #8778
i tried it with the new  v.1.3.11 and i cannot reproduce in this instant.

[2021-06-21 05:15] #8893 closed

[2021-06-21 15:05] d00medman commented on #8259
@mohamedmansour why an independently running cron job rather than a goroutine in the background directly running the backup method?

[2021-06-22 00:56] sharkya1 opened #9070 "Beacon-Chain Crashes"
# 🐞 Bug Report

### Description

 Beacon-Chain crashes after being online for hours. It has crashed 3x in a few hours of being online and once after being online for ~10 hours.

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: 1.3.10

## 🔬 Minimal Reproduction

.\prysm.bat beacon-chain --http-web3provider=http://127.0.0.1:8545
.\p

[2021-06-22 01:14] nisdas commented on #9070
@sharkya1 It is hard to discern anything from this, are there anymore logs that I can observe from ? If the beacon chain is down, then there should be some sort of log, indicating a failure here. However from what you have pasted there is nothing.

[2021-06-22 02:19] sharkya1 commented on #9070
@nisdas I wasn't able to find any errors being logged from the beacon chain. I even checked Event Viewer. Do you have any other suggestions?

[2021-06-22 02:24] nisdas commented on #9070
@sharkya1 Its a possibility that your anti-virus(ex: Windows Defender), might be killing it

[2021-06-22 12:11] ahadda5 commented on #9041
@prestonvanloon  starting with the .sh script, it is clear that it constructs the path based on the dir, version, system(win, Linux ) and architecture(amd64 etc).   It then immediately assumes it is up to date!  Not sure why you would do that.
So a simple check ; curl the full paths of beacon-chain/validator/client-states  ensuring if it exists , if not stop.

[2021-06-22 13:37] sharkya1 commented on #9070
@nisdas There are no recent actions in Windows Defender's Protection History. I have reverted to 1.3.10 and I'll try the next version of prysm after it is released. I'd be glad to do any additional debugging if you have more ideas.

[2021-06-22 14:23] nisdas commented on #9070
@sharkya1 This seems like something that was introduced a few years back.
https://social.technet.microsoft.com/Forums/en-US/9f854673-f3b2-46db-8bfd-85cc08f5c8af/after-upgrading-to-windows-10-1803-no-wer-window-appears-after-any-application-going-to-crash?forum=win10itprogeneral

You can try enabling error reporting so that in the event of a crash it does at least log something.

[2021-06-22 14:51] rauljordan opened #9071 "Eliminate the Eth2 Terminology from Our Project"
# 💎 Issue

### Background

Eth2 is a common term across our entire repository and everything we have done at Prysmatic Labs. It served us as a good term to differentiate us from the work happening in Eth1 coredev. However, as Ethereum is now moving toward the merge, Eth2 is a very dangerous term to continue using. We put users at greater risk of scam, confusion, and possibly criticism at how the p

[2021-06-24 03:20] robbtezos opened #9088 "Explicitly provide a flag for specifying whether updating prysm.sh to be automatic or not.."
This is a very much needed future.

A flag to confirm if I want to update the old version to newest when launching it would be very useful to avoid update issues creeping when process restarts etc.

Reason being that automated scripts can restart process without the issue of updating to latest release when not knowing if latest release is buggy or safe.

I rather experiment with latest release on

[2021-06-24 09:05] dnkolegov opened #9091 "No length check in AggregatePublicKeys"
# 💎 Issue

### Description

There is no length check in [`AggregatePublicKeys`](https://github.com/prysmaticlabs/prysm/blob/develop/shared/bls/blst/public_key.go#L56). If `pubs` is `nil` or `[][]byte{}` the function returns a public key without error.

[2021-06-24 16:21] mohamedmansour commented on #9041
@prestonvanloon @rauljordan i noticed we have like a script for every os, In Chromium dev since the infra is in python (recently moving to go) we write all the scripts in python and then wrappers so .bat and .sh just call it. Maybe something along those lines could be done to these scripts? Makes maintenance easier

[2021-06-25 00:43] cin3rama commented on #7237
I needed to upgrade our test server's disk drive as it was beyond 90% full.  Prior to starting the process I deleted some old files, namely the old prysm v1.X.X files up to but not including v1.3.10 and some extraneous tar.gz files, to open up some space.  In addition, I toggled the --historical-slasher-node from TRUE to FALSE.  I did this as a test to learn what I might encounter on the productio

[2021-06-25 11:16] dnkolegov opened #9098 "Detect unsafe coefficients in VerifyMultipleSignatures"
# 💎 Issue

### Background

In the implementation of [Fast verification of multiple BLS signatures](https://ethresear.ch/t/fast-verification-of-multiple-bls-signatures/5407), a zero coefficient would allow the verification of signatures including an invalid one (if assigned a zero r_i).

`VerifyMultipleSignature`'s comments say that r_i must be generated randomly from 1 to max uint64.

[code]
At th

[2021-06-25 13:32] prestonvanloon opened #9100 "Slasher: Could not cache justified state balances: could not get ancestor state: unknown block"
I needed to upgrade our test server's disk drive as it was beyond 90% full.  Prior to starting the process I deleted some old files, namely the old prysm v1.X.X files up to but not including v1.3.10 and some extraneous tar.gz files, to open up some space.  In addition, I toggled the --historical-slasher-node from TRUE to FALSE.  I did this as a test to learn what I might encounter on the productio

[2021-06-25 13:33] prestonvanloon commented on #7237
@cin3rama I have filed #9100 for you. We will look into your issue in that newly filed issue. Thanks!

[2021-06-25 13:34] prestonvanloon commented on #9100
This is an issue with the current slasher binary. I suspect that this issue will not manifest with the new integrated `--slasher` in the beacon node.

@rauljordan does this issue look familiar?

[2021-06-25 13:36] prestonvanloon commented on #9100
@cin3rama what version of prysm were you running at the time of this error?

[2021-06-25 14:51] cin3rama commented on #7237
Thank you @prestonvanloon

[2021-06-25 15:06] cin3rama commented on #9100
@prestonvanloon It started with 1.3.10 and continued through 1.3.11 (auto upgrade to .11 occurred when I rebooted as part of the disk drive volume increase, noted in my original post).

You are correct, not very familiar with this version of the slasher.  Also observed and extreme disk write condition, I've attached a graph.  Please note - the drop in writes on the graph is because I shut down the

[2021-06-27 06:39] ahadda5 commented on #8778
Okay i confirm it did happen with v1.3.11 .
Noticed it is unlikely to happen if machine is restarted.  Once it happens and i restart my machine the error is no longer there.
 Just an observation after seeing this #9031

[2021-06-27 16:13] #9091 closed

[2021-06-28 06:40] ahadda5 commented on #9098
So the spec wants 1 to max unit64 (2^64 or 0xFFFFFFFFFFFFFFFF) and math/rand does [0, 1<<64)   . So the upper end is covered while the lower end needs to start from 1 vs 0.  Correct?

[2021-06-28 06:50] dnkolegov commented on #9098
That's correct.
JFR: https://github.com/ConsenSys/teku/issues/4112

[2021-06-28 07:46] nisdas commented on #9098
Thanks for opening this issue up, #9109 will resolve it.

[2021-06-28 23:18] prestonvanloon commented on #9088
One workaround is to set the environment variable for the version you wish to use.

[code]
This always uses version v1.3.0, even if that is not the "latest" release.

[2021-06-29 02:25] aely-aronoff commented on #9019
Can confirm the problem was timing out. Shortening the slots per archive point solved it for me. Thank you!

[2021-06-29 02:25] #9019 closed

[2021-06-29 12:39] asharoo1 opened #9118 "Unable to run the validator node from the restored or backed-up data"
# 🐞 Bug Report

### Hello! 😄. I'm trying to run the validator node on Testnet from the backed-up validator data and encountered this error.
[code]
I'm using the command:
`sudo docker run -it -v $HOME/.eth2validators/prysm-wallet-v2:/wallet  -v /home/ubuntu/password:/password -v $HOME/restoredValidatorData:/validatorDB --network="host" --name validatorTest gcr.io/prysmaticlabs/prysm/validator:stabl

[2021-06-29 14:08] mrabino1 opened #9119 "Public site verification to replace local password - doppelgänger enhanced feature"
Challenge: Today, if a validator is using Prysm and has implemented the all of the proper services in place to cause Prysm to auto-start and auto-validate (especially if there was a power outage) that same functionality can be used against the validator unless the operator take certain precautions (e.g. removes the password or disables the service).

The above said, that doesn't protect the operat

[2021-06-29 16:09] rauljordan commented on #9118
hi @asharoo1 we need more information about the backup. What Prysm version was used to take the backup? And then, what Prysm version was used to try to import the backup?

[2021-06-29 18:25] terencechain commented on #8921
Let's wait until the merge is around the corner before we evaluate this feature

[2021-06-29 21:37] cin3rama commented on #9100
Following up with some additional information and context.
1. The slasher was running in the original configuration, having its own directory and systemd files.  Slasher systemd config - monitoring-host 0.0.0.0, enable-historical-detection: true, pyrmont: true, accept-terms: true
2. All prysm components, beacon-chain, validator and slasher were shut down since my original issue post.  However, I f

[2021-06-30 03:28] asharoo1 commented on #9118
Hey @rauljordan I'm using the same **prysm v1.3.11** for backup as well as for importing the backup.

[2021-06-30 07:21] rkapka opened #9126 "`ForkDigest`"

[2021-06-30 07:21] #9126 closed

[2021-06-30 11:40] rkapka commented on #9052
This was fixed in https://github.com/prysmaticlabs/prysm/pull/9050

[2021-06-30 11:40] #9052 closed

[2021-06-30 14:48] yorickdowne opened #9127 "Validator client can start with invalid parameters"
# 🐞 Bug Report

### Description

The validator client will start when given invalid parameters. Example, note the `platypus`:

[code]

In practice, a user ran `sudo -u prysmvalidator /opt/prysm/validator/prysm.sh validator --wallet-dir=/var/lib/prysm/validator --wallet-password-file=/var/lib/prysm/validator/password.txt --accept-terms-of-use    validator client-stats --beacon-node-metrics-url=http

[2021-06-30 15:36] ahadda5 commented on #9127
In terms of running a second validator process, there is this [PR](https://github.com/prysmaticlabs/prysm/pull/9120) coming soon. And is designed to help users not get slashed if they start a second validator (same wallet/keys) without being aware of a running duplicate.
As for the extra parameters/flag ; you are correct neither the .sh script nor the base code checks for extra params.  However It

[2021-06-30 15:40] terencechain commented on #9127
addressed in #9129

[2021-06-30 16:24] #9127 closed

[2021-06-30 21:09] Maharacha commented on #8778
I have the same issue. I have reproduced what @alex3498 did, but on 1.3.11, and get the same error.

[2021-07-01 12:49] yorickdowne opened #9133 "Feature: prysm.sh can update itself"
# 🚀 Feature Request

### Description

Add functionality to `prysm.sh` to update itself, and print a warning when it is run as a user that does not have permissions to update it.

### Current behavior

With `prysm.sh` owned by `yorick`, it does not update itself, example:

[code]

[2021-07-02 04:11] #7985 closed

[2021-07-02 10:58] jmozah opened #9141 "Make exportdb tool faster"
# 🚀 Feature Request

### Description

exportdb tool takes long time to export the stats if the db is large. This issue is t make it faster.

### Describe the solution you'd like

- Parallelize the bucket processing (process every bucket in its own routine)
- If there are more keys, process them parallely as several block.

### Describe alternatives you've considered

 Have you considered any alter

[2021-07-02 18:43] #9071 closed

[2021-07-05 11:37] asharoo1 commented on #9118
Please reply

[2021-07-06 14:32] jmozah commented on #8786
+1 for this.

This choice should be left to the user. I may have a 64 core machine, but i would want `prysm` to use only 4 to 6 cores only. Same for memory and bandwidth. User should give some sort of `upper` and `lower` thresholds for resource utilisation and we can use the internal monitoring service to tune the CPU / Memory/ Bandwidth accordingly.

Again, this should be based on the memory / CP

[2021-07-06 14:44] jmozah opened #9151 "Handle early Attestations"
# 💎 Issue
Handling early Attestations

### Background
Handling of early attestations is discussed in #8606.
PR #8975 implemented the logic to accept blocks or attestation 2 slots in future.
But the attestation processing tolerance `earlyAttestationProcessingTolerance` was still set to 500ms to make sure that we handle this in another PR.

### Description
This issue is a place holder to process att

[2021-07-07 09:24] Piradoxlanieve opened #9156 "Node down Ubuntu 20.04"
since 3 hours my node has stopped working.

Latest Prysm version is v1.3.11.
geth VERSION:
   1.10.4-stable-aa637fd3

prysm.sh[2165]: time="2021-07-07 11:17:49" level=warning msg="Could not determine if beacon chain started: could not setup beacon chain ChainStart streaming client: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 127.0.0.1:4000

[2021-07-07 11:28] potuz opened #9159 "Bandwidth increase on the input chain"
Since a few days back, I'm seeing an increase in the input bandwidth. The input and output rates are diverging as you can see in this graph. The scale is a big off due to the event marked there, but the two lines are clearly separating with the input one having increased about 30% while the output less than 10%

![fo](https://user-images.githubusercontent.com/16044918/124750886-630f3d00-defc-11eb-

[2021-07-07 14:53] BoxKei commented on #9156
same problem, can someone help pls?

[2021-07-07 14:55] nisdas commented on #9156
@Piradoxlanieve @BoxKei this would mean your beacon node is down, can you check why it is down ?

[2021-07-07 15:00] Piradoxlanieve commented on #9156
root@vmi485933:~# systemctl status beacon-chain.service
● beacon-chain.service - eth2 beacon chain service
     Loaded: loaded (/etc/systemd/system/beacon-chain.service; enabled; vendor preset: enabled)
     Active: active (running) since Wed 2021-07-07 15:58:40 CEST; 59min ago
   Main PID: 55278 (beacon-chain-v1)
      Tasks: 16 (limit: 36052)
     Memory: 14.3G
     CGroup: /system.slice/beacon-

[2021-07-07 16:52] stefa2k opened #9161 "Opening prysm ui while processing deposits"
# 🐞 Bug Report

### Description

When opening prysm UI while beacon is still processing deposit logs and error appears in the logs.

### Has this worked before in a previous version?

don't know

## 🔬 Minimal Reproduction

Start beacon from scratch, no db. Prysm will start processing deposits. Then open up Prysm UI

## 🔥 Error

<pre><code>
time="2021-07-07 16:48:00" level=error msg="gRPC panicked!

[2021-07-07 17:42] BoxKei commented on #9156
any solution for this issue?

[2021-07-07 18:17] Piradoxlanieve commented on #9156
@nisdas
everything was working fine this morning until this started to come out, nothing was modified and it started to fail

Jul 07 08:20:12 vmi485933 prysm.sh[2167]: time="2021-07-07 08:20:12" level=info msg="Finished applying state transition" attestations=122 deposits=16 prefix=blockchain
Jul 07 08:20:25 vmi485933 prysm.sh[2167]: time="2021-07-07 08:20:25" level=info msg="Synced new block" blo

[2021-07-07 18:22] Piradoxlanieve commented on #9156
@nisdas
And validator log
Jul 07 08:08:23 vmi485933 prysm.sh[2171]: time="2021-07-07 08:08:23" level=info msg="Attestation schedule" attesterDutiesAtSlot=1 prefix=validator pubKeys=[0x8da251b37c20] slot=1567842 slotInEpoch=2 totalAttestersInEpoch=1
Jul 07 08:08:51 vmi485933 prysm.sh[2171]: time="2021-07-07 08:08:51" level=info msg="Submitted new attestations" AggregatorIndices=[] AttesterIndices=[

[2021-07-07 20:57] Piradoxlanieve commented on #9156
Hi @prestonvanloon .
Does it mean that when they release the new version my node will be active again? Currently I have been inactive for more than 12 hours,(https://beaconcha.in/validator/25698) I do not know what to do to solve this problem.
thanks for your job
Sorry my band english.

[2021-07-07 21:07] prestonvanloon commented on #9156
@Piradoxlanieve yes! #9068 will solve your issue in the next release. @nisdas may have a temporary solution for you in the meantime.

[2021-07-07 21:48] nisdas commented on #9156
@Piradoxlanieve Can you restart your beacon node/validator and run again ? it should have things running till our next release.

[2021-07-07 21:57] Piradoxlanieve commented on #9156
@nisdas
it restarted but it continues not working, does it mean that we have to wait for the new version to be able to have the node active? Any approximate date for the launch? thanks for your help and work.
Sorry my bad english.
root@vmi485933:/home/eth# systemctl status beacon-chain validator
● beacon-chain.service - eth2 beacon chain service
     Loaded: loaded (/etc/systemd/system/beacon-chai

[2021-07-07 21:59] nisdas commented on #9156
@Piradoxlanieve How long is the node stuck there ? It should be running after a while.

[2021-07-07 22:03] SaavyGirl commented on #9156
On Wed, Jul 7, 2021 at 4:57 PM Piradoxlanieve ***@***.***>
wrote:

--
Erica K Vance

[2021-07-07 22:12] Piradoxlanieve commented on #9156
@nisdas
I just restarted the entire server, in case there was a process stuck, but with the same results, the same error continues in the validator, and the beacon does not move, only the geth client is processing blocks.

[2021-07-07 22:19] nisdas commented on #9156
@Piradoxlanieve Is this db your are running with for the beacon node a backup file by any chance?

[2021-07-07 22:27] Piradoxlanieve commented on #9156
@nisdas
you mean the file validator.db?
drwx ------ 2 eth eth 4096 Dec 2 2020 accounts /
-rw ------- 1 eth eth 28479488 Jul 8 00:15 validator.db
I have not modified anything, it seems that when it is restarted, it only modifies? Do you mean to delete it and generate a new one?
My English is basic, and I don't understand very well what you want to say to me, I'm sorry.

[2021-07-07 22:33] nisdas commented on #9156
@Piradoxlanieve No worries, your english is fine.

[code]
Is your beacon node still stuck here ?

when you do
[code]
what is your output ?

[2021-07-07 22:39] Piradoxlanieve commented on #9156
@nisdas yes. stuck
-- Reboot --
Jul 08 00:08:41 vmi485933 systemd[1]: Started eth2 beacon chain service.
Jul 08 00:08:41 vmi485933 prysm.sh[2182]: Latest Prysm version is v1.3.11.
Jul 08 00:08:41 vmi485933 prysm.sh[2182]: Beacon chain is up to date.
Jul 08 00:08:41 vmi485933 prysm.sh[2182]: Verifying binary integrity.
Jul 08 00:08:42 vmi485933 prysm.sh[2265]: beacon-chain-v1.3.11-linux-amd64: OK
J

[2021-07-07 22:42] Piradoxlanieve commented on #9156
@nisdas  validator service
Jul 08 00:36:49 vmi485933 systemd[1]: Started eth2 validator service.
Jul 08 00:36:49 vmi485933 prysm.sh[17950]: Latest Prysm version is v1.3.11.
Jul 08 00:36:49 vmi485933 prysm.sh[17950]: Validator is up to date.
Jul 08 00:36:49 vmi485933 prysm.sh[17950]: Verifying binary integrity.
Jul 08 00:36:50 vmi485933 prysm.sh[17994]: validator-v1.3.11-linux-amd64: OK
Jul 08 00:3

[2021-07-08 06:01] Piradoxlanieve commented on #9156
@prestonvanloon @nisdas
Good morning, it was very late and I went to sleep.
It still doesn't work, when I got up in the morning the server load was 18.1-20.5 and the ram used was 30gb by the prysm process.
My node has not worked for almost 24 hours.
Any idea what I can do?

New logs
root@vmi485933:~# journalctl -u beacon-chain.service -n 100
-- Logs begin at Fri 2021-04-09 21:46:03 CEST, end at Th

[2021-07-08 06:40] nisdas commented on #9156
@Piradoxlanieve Your best bet would be to resync your prysm node, it seems like your db has gone corrupted. You would have to start from a fresh directory. Do you know what hardware specs you are running on ? DB corruptions are usually very rare with bolt, so I am interested to know more on this.

[2021-07-08 06:49] Piradoxlanieve commented on #9156
@nisdas

: AMD EPYC 7282 16-Core Processor
8 vCPU Cores
30 GB RAM
800 GB SSD

I don't understand very well, it refers to deleting the directory prysm (include.deposit) and prysm-wallet-v2 (include validator.db) and accounts (all-accounts.keystore.json)

[2021-07-08 06:55] nisdas commented on #9156
Basically only data in the `/beaconchaindata` folder . If its possible, do you mind saving the corrupted db in another directory and possibly sending it to me ? I know the file might be big, so if its too much hassle for you, you can ignore this and simply delete the folder.

[2021-07-08 07:02] Piradoxlanieve commented on #9156
@nisdas
-rw------- 1 eth eth  19G Jul  8 08:39 beaconchain.db
eth@vmi485933:~/.eth2/beaconchaindata$
with the validator stopped and the beacon services, am I going to move beaconchain.db to another directory and launch the services? is that right?
Yes of course I can send you the 19gb without problems.

[2021-07-08 07:02] nisdas commented on #9156
That is correct, that will allow your node to resync.

[2021-07-08 07:08] Piradoxlanieve commented on #9156
@nisdas
I have only started the beacon service, I wait for it to finish to start the validator? or nothing happens if I start it. Thank you very much for being so kind and patient.
 journalctl -u beacon-chain.service -f
-- Logs begin at Fri 2021-04-09 21:46:03 CEST. --
Jul 08 09:06:16 vmi485933 prysm.sh[311331]: time="2021-07-08 09:06:16" level=info msg="Connected to eth1 proof-of-work chain" endp

[2021-07-08 07:10] nisdas commented on #9156
Your beacon node is syncing now, so it will take a while to get synced. You can also start up your validator now, once your beacon node is synced, your validator will start attesting again .

[2021-07-08 10:07] Piradoxlanieve commented on #9156
@nisdas
Hello again I leave you the download https://boxkei.tk/beaconchain_fail.db, so that you and your colleagues can download it in case you can help server.
When you no longer need it, let me know to delete it.
Greetings and thank you.
Once I finish synchronizing the beacon completely, I will inform you.
Thanks again, for your help.

[2021-07-08 14:48] Piradoxlanieve commented on #9156
Hi @nisdas
can I use the flag, --init-sync-no-verify? or not recommended?
speed seems slow.
Jul 08 16:47:31 vmi485933 prysm.sh [311331]: time = "2021-07-08 16:47:31" level = info msg = "Processing block batch of size 63 starting from 0x7219b095 ... 656000/1577635 - estimated time remaining 13h32m43s "blocksPerSecond = 18.9 peers = 33 pre>

[2021-07-08 16:22] rauljordan commented on #8483
What's the status on this one @nisdas ?

[2021-07-08 16:24] rauljordan commented on #9041
Closed by #9072

[2021-07-08 16:24] #9041 closed

[2021-07-08 16:25] rauljordan commented on #9070
Any update @sharkya1

[2021-07-08 16:30] rauljordan commented on #6701
Is this something we resolve with peer scoring @nisdas ? Not sure what the resolution of this issue is

[2021-07-08 16:32] rauljordan commented on #8071
@DoHaiSon a lot of changes have gone in since then that most likely make this issue outdated. I will close for now unless you still see the issue arise, thank you

[2021-07-08 16:32] #8071 closed

[2021-07-08 16:35] rauljordan commented on #7514
It's hard to find a single resolution for this issue, as it mostly involves ongoing changes. Will instead focus on what's actionable in a new tracking issue for prysm v2.0.0

[2021-07-08 16:35] #7514 closed

[2021-07-08 16:53] rauljordan opened #9166 "[Tracking] - Prysm v2.0.0 Release"
## Background

The Altair hard fork is around the corner. This network upgrade marks an important milestone for Ethereum proof of stake and is also a unique opportunity for a mandatory, major version upgrade of the Prysm software. This means we have a special chance to do some breaking changes to Prysm that will improve the overall developer and user experience. This issue is meant to track the ch

[2021-07-08 16:56] rauljordan commented on #8205
Roots seem to have a fundamental problem, along with the other types mentioned which are fixed-size arrays. CC @rkapka, perhaps it might not be feasible to add those to eth2-types, and we might need to close this issue. Your call

[2021-07-08 17:59] sharkya1 commented on #9070
@rauljordan I haven't tried 1.3.11 again since reverting to 1.3.10. I added the registry key that nisdas suggested (however, mine was located at Computer\HKEY_LOCAL_MACHINE\SOFTWARE\**WOW6432Node**\Microsoft\Windows\Windows Error Reporting)

I was planning to try the next version when it is released, but if others are having a similar issue, I can try 1.3.11 again to help debug.

[2021-07-09 05:04] nisdas commented on #9156
@Piradoxlanieve Don't use that flag, it won't help and is outdated anyway. We do plan to remove it soon. Syncing will take a while
unfortunately you will have to wait.

When you no longer need it, let me know to delete it.

Perfect, thanks. You can delete it

[2021-07-09 08:46] Piradoxlanieve commented on #9156
@nisdas
there is little left, I hope that my node after this is active again.
Now that I can review some logs I see some warnings.
Should I be concerned?
Jul 09 10:43:15 vmi485933 prysm.sh [773018]: time = "2021-07-09 10:43:15" level = info msg = "Processing block batch of size 31 starting from 0x0e14dcc2 ... 1515329/1583014 - estimated time remaining 2h23m42s "blocksPerSecond = 7.8 peers = 55 pre

[2021-07-09 08:52] nisdas commented on #9156
As long you don't consistently get them you are fine. It should be ok. You will be synced up very soon in that case.

[2021-07-09 11:16] Piradoxlanieve commented on #9156
@nisdas @prestonvanloon
Thanks to your help, my node is active again.
Do you know if what happened to my node has happened to more people?
It was a weird thing, nothing was updated and it stopped working, from what I understood was that the database was corrupted for some reason.
I wish I had the knowledge to be able to help in this project, but my knowledge is not very high in development.
Again

[2021-07-09 11:29] nisdas commented on #9156
It was a weird thing, nothing was updated and it stopped working, from what I understood was that the database was corrupted for some reason.

The fix to the initial failure has been patched and will be in the next release. However the database corruption is a mystery, it happens very rarely, it might potentially be an indication of some hardware issue but I have very little data to go on. I will

[2021-07-09 11:29] #9156 closed

[2021-07-12 16:12] prestonvanloon commented on #9161
Looks like a bug where this bit of code has a nil head state

https://github.com/prysmaticlabs/prysm/blob/4ebb008bc9a1f6a89ac45929d87d180aa25ffd1e/beacon-chain/rpc/prysm/v1alpha1/beacon/validators.go#L216-L230

An appropriate fix would be to handle a nil `reqState` and return a relevant error to the client.

[2021-07-12 16:15] prestonvanloon commented on #9159
Thanks for filing an issue. I'm thinking about what action @prysmaticlabs/core-team can take here.
Do you have any additional information that would be relevant? Which network was this?

[2021-07-12 16:36] rkapka commented on #8205
@rauljordan I think it might still be valuable to add these custom types. Even though it will not be possible to catch wrong array size at compile time, it will guard against mistakenly mixing up types.

[2021-07-12 16:41] rkapka commented on #9166
What about our protoc plugin? It's not useful outside of Prysm, right?

[2021-07-12 17:40] potuz commented on #9159
Those are my thoughts, just opened cause @nisdas asked, so that he remembers to look into bandwidth growth. This is on mainnet. I think this is mostly a placeholder for @nisdas to look if there's an actual issue. I'm fine if this is closed at any moment.

[2021-07-13 06:51] ahadda5 opened #9180 "[Testing Pre-release Tracking] Altair manual testing of RPC end points"
💎 Issue

### Background
Altair hard fork is coming up.  The aim is to log manual testing done.

### Description
This issue was created to document the manual testing done

1) Run local testnet where node has progressed past Altair fork epoch. Ensure you are on the hf1 branch, and set the mainnetAltairForkEpoch  to a past epoch
2) Call v1alpha1 rpc end points and verify none breaks

### Test cases

[2021-07-13 09:03] jmozah opened #9181 "DIsplay new validator buckets in exploredb tool"
# 🚀 Feature Request

### Description

Enhance exploredb tool to show new state buclets.

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2021-07-13 14:55] prestonvanloon opened #9185 "E2E test logs/output no longer copied to bazel-testlogs"
# 🐞 Bug Report

### Description

The testlogs for tests with starlark transitions are not being copied to the bazel-testlogs output directory.

### Has this worked before in a previous version?

This worked prior to #9122.

## 🔬 Minimal Reproduction

Run bazel test on any of the test targets with the new eth_network starlark transition.

At the time of filing this PR, the output of this query (`ba

[2021-07-13 15:37] prestonvanloon commented on #9185
Blocked by https://github.com/bazelbuild/bazel/issues/13674

[2021-07-13 17:00] prestonvanloon commented on #9185
It looks like we may be able to match the logs in this format
[code]

I'll try this in buildkite and see if it helps.

[2021-07-13 18:45] dapplion opened #9188 "Log auth token with --web"
# 🚀 Feature Request

### Description

When using the `--web` the UI routes are not authenticated and "anyone" can start the user flow. That's not ideal, thus the validator client alerts of this possibility with periodic logs.

### Describe the solution you'd like

When using the `--web` flag, the validator client can generate a random auth token and log it to stdout + write it to a file to persist

[2021-07-14 10:20] rkapka commented on #9166
Also what about majority voting? Do we remove it all together in v2?

[2021-07-14 10:54] jmozah opened #9192 "Add more metrics in network layer"
# 🚀 Feature Request

### Description
Today we don't seem to have enough coverage of metrics around  our network layer (read libp2p).  It is imperative to add more metrics to optimise and to fix certain bugs (1).  This issue is a place holder to add metrics to libp2p.

(1) https://github.com/prysmaticlabs/prysm/issues/9159

### Describe the solution you'd like

 If you have a solution in mind, plea

[2021-07-15 05:28] nisdas commented on #8300
This has been addressed in earlier PRs a while back. Closing it now.

[2021-07-15 05:28] #8300 closed

[2021-07-16 13:51] MeoMix commented on #9070
I am experiencing the same issue. Crashes after hours of uptime, restarting the process fixes it, started occurring a little over a week ago.

[2021-07-16 16:56] pschlup commented on #9100
I had the exact same error message ("Could not cache justified state balances: could not get ancestor state: unknown block"), however I'm not running a slasher. I suspect your db file was somehow corrupted due to the disk being full.

I solved the issue by moving the db file to another location as a backup (mine was at /var/lib/prysm/.eth2/beaconchaindata/beaconchain.db) and letting the beacon-cha

[2021-07-16 22:24] #9141 closed

[2021-07-17 02:51] MeoMix opened #9214 "prysm beacon-chain reliably crashes after a couple of hours"
# 🐞 Bug Report

### Description

About a week ago I started having trouble keeping my beacon-chain running reliably. Nothing appreciable has changed on my end since the issue started occurring, but if https://github.com/prysmaticlabs/prysm/issues/9070 is related then perhaps it is a recent regression in prysm.

I've tried disabling Windows Defender entirely as well as restarting my machine.

### H

[2021-07-17 05:32] yashbhavsar007 opened #9215 "Validator restarting issue when using webinterface in docker"
Hi,
Here I'm describing the issue and related information.
**Issue**
When using the web interface on docker once we set up the wallet and start the validator it works fine but when we restart the docker container it freezes with few logs given below.

[code]

**Reason**
This happens because the wallet directory is already available on a given path which was created before we restart the docker. If

[2021-07-17 09:50] nisdas commented on #9214
@MeoMix Thanks for the report, do you by chance have the full stack trace ? Unfortunately what you pasted is only a portion of it, so it isn't possible for us to narrow down the issue with it.

[2021-07-17 12:33] MeoMix commented on #9214
@nisdas Understood, let me try to get a full one. It's clipping in powershell when I get to it and need to save something to disk.

[2021-07-17 16:52] ianmacd opened #9216 "Deposit acceptance by beacon chain not always noticed by Prysm's validator."
# 🐞 Bug Report

### Description

After a deposit is accepted by the beacon chain, the Prysm validator sometimes fails to acknowledge this event. In such cases, the new validator retains the status `STATUS_UNKNOWN`.

### Has this worked before in a previous version?

Unknown.

## 🔬 Minimal Reproduction

I started with a working validator with no issues.

I stopped the validator (in the gap between

[2021-07-17 22:28] MeoMix commented on #9214
@nisdas Here is a full stack trace. For the the non-pastebin link but it's over the max limit for a regular pastebin account.

I've edited my original post to reference this one, too.

https://controlc.com/8dcff677

[2021-07-18 04:53] nisdas commented on #9214
[code]
This is a very interesting error, would point to some incompatibility with your hardware with our crypto library. Do you mind listing out the hardware specs of the machine you are running prysm on ?

[code]

[2021-07-18 05:21] MeoMix commented on #9214
Architecture: AMD64
OS: Windows 10 Pro N 64-bit (10.0, Build 19042.1110), Version: 20H2, Windows Feature Experience Pack 120.2212.3530.0
Processor: AMD Ryzen 7 1700x Eight-Core Processor (16 CPUs), ~3.4GHz
Memory: 20480MB (G.Skill Ripjaws V Series DDR4)
MOBO: Gigabyte AX370-Gaming 5
GPU: NVIDIA GeForce GTX 1080 Ti (not OCed)
SSD: SAMSUNG 970 EVO Plus SSD 2TB - M.2 NVMe

[2021-07-18 11:53] ahadda5 opened #9217 "latest develop causing a goroutine stack overflow"
🐞 Bug Report

### Description

Running beacon-chain is causing a runtime goroutine stack exceeds 1000000000-byte limit
This is likely a newly introduced infinite recursion?

### Has this worked before in a previous version?

This has only manifested itself recently

## 🔬 Minimal Reproduction
Came across it running interop

- rm -rf /tmp/genesis.szz
- bazel run //tools/genesis-state-gen -- --num-va

[2021-07-18 11:53] ahadda5 commented on #9217
INFO: Build completed successfully, 1 total action
[2021-07-18 14:19:34]  WARN flags: Running on Pyrmont Testnet
[2021-07-18 14:19:34]  INFO node: Checking DB database-path=/tmp/chaindata/beaconchaindata
[2021-07-18 14:19:34]  WARN node: Removing database
[2021-07-18 14:19:34]  INFO node: Deposit contract: 0x8a04d14125d0fdcdc742f4a05c051de07232eda4
[2021-07-18 14:19:34]  WARN p2p: No bootstrap add

[2021-07-18 23:06] nisdas commented on #9214
That is correct. thanks for pasting your info here. I will see if I can anything related.

[2021-07-18 23:08] MeoMix commented on #9214
@nisdas Alright. Let me know if I can be of any assistance in debugging. I'll reinstall the software in a few days to see if "turning it off and on" helps at all, but will leave it in a bad state for now just in case you need more info.

[2021-07-19 00:07] nisdas commented on #9214
So interestingly a random crash on windows was reported here too:
https://github.com/golang/go/issues/40878

It had to do with the anti-virus messing with it. I looked through our commits between v1.3.10 and v1.3.11 , and there was no update to our crypto library. It seems like this version has been running for a few months across many different releases.
https://github.com/prysmaticlabs/prysm/com

[2021-07-19 00:17] MeoMix commented on #9214
@nisdas It could be something to do with a windows update? Beyond that though, no. I'll see if there's any additional measures I can take to reduce Windows virus scanning.

[2021-07-19 00:20] nisdas commented on #9214
That is possible, but I would have expected other complaints too. You can try switching off the AV, when running prysm just to see if it makes a difference.

[2021-07-19 00:23] MeoMix commented on #9214
Yah. I've added an exclusion to the ethereum folder and tried to more aggressively kill off Windows Defender. I'll let you know how it goes. This is likely it from the looks of the issue you linked -- nice find. I appreciate you digging for me. :)

[2021-07-19 15:46] ahadda5 commented on #9217
Could it be because my alchemyapi monthly capacity limit reached, and some new changes now requires its registration?
I know interop does not care about web3provider .

[2021-07-19 16:02] ahadda5 commented on #9217
0 well! my bad. in my attempt to v1alpha rpc endpoints, the server is crashing b/c I was calling it a corrupt(Misspelled or missing parentheses) json!

[2021-07-19 16:03] #9217 closed

[2021-07-20 04:23] MeoMix commented on #9214
It crashed twice in the last day, but the frequency seems lower than it was before I started messing with the AV more. I haven't fussed with registry settings to enable me to turn off "Real Time Protection" for more than a few minutes, but I have the entire rest of the Windows Defender suite disabled and no virus scan has occurred for the past three days.

I will look into disabling Windows Defend

[2021-07-20 11:27] ahadda5 commented on #9180
**Beacon Get endpoints**

No errors were observed.
[code]

[2021-07-20 11:34] ahadda5 commented on #9180
@terencechain i did the above test cases. No errors were observed.
Do you have specific (e2e, full-process etc) tests in mind, ones which could be executed through rpc calls?

[2021-07-20 23:50] #8863 closed

[2021-07-21 05:09] nisdas opened #9235 "Nested Subcommands Are Broken on v1.4.1"
# 🐞 Bug Report

### Description

Nested Subcommands are Broken on `v1.4.1` . Any subcommand whose parent was a subcommand
is affected by this bug.  #9129 introduced stricter validation of commands and arguments which did end up
breaking this command flow.

### Has this worked before in a previous version?

Yes this has been working previously till v1.3.11 .

## 🔬 Minimal Reproduction

[code]

## 🔥

[2021-07-21 06:14] nisdas commented on #8880
Resolved in #9108

[2021-07-21 06:14] #8880 closed

[2021-07-21 11:01] #9235 closed

[2021-07-21 13:50] prestonvanloon commented on #9235
# :bulb: Workaround

There are no breaking changes between v1.3.11 (previous release) and v1.4.1. Therefore, it is possible and safe to run validator account commands with the prior version until a release for v1.4.2 is announced in the coming days.

If using the prysm.sh script, set the environment variable `USE_PRYSM_VERSION` to `v1.3.11` and run your commands.
[code]

If using docker `:stable`

[2021-07-22 02:10] MeoMix commented on #9214
I received updates to prysm about a day ago and ran with the new latest for a while.

Interestingly, I'm no longer hard crashing. When I check my computer, instead of coming back to a stack trace, I see periodic blips of instability. Every 10-20 minutes I see a few "context deadline exceeded" messages. Then, everything seem to work as expected. Then, it blips again.

https://pastebin.com/f5RnxrKR

[2021-07-22 03:09] nisdas commented on #9214
So I looked at the logs pasted, the context deadline errors means that something is blocking outbound peer dials. Therefore the node cannot find enough peers to broadcast to. Any way to see if there is any windows process that might be overzealous here and blocking off the beacon node. The logs you have are very similar to the ones reported by windows users previously when they had their AV/some o

[2021-07-22 12:30] ahadda5 opened #9246 "Improperly formatted rpc-curl-calls crashes the beacon-node [a security concern]"
🐞 Bug Report

### Description

Calling rpc endpoints using curl with the wrong format/params causes the beacon-chain to crash.

This is a security concern.  A bad actor can invoke a "DDOS-style" attack shutting beacon-nodes at will with rather minimal effort by just sending improperly formatted curl commands.

## 🔬 Minimal Reproduction

Run a beacon node (or interop for less cpu-resouces)

- bazel

[2021-07-22 13:26] dnkolegov opened #9247 "Possible DoS via beacon node API endpoints if the API exposed to untrusted parties"
# 💎 Issue

### Background

If the beacon node API is accessible on the internet then an attacker can perform a range-based DoS attack using `/eth/v1/validator/duties/attester/`.

The documents https://docs.prylabs.network/docs/how-prysm-works/ethereum-public-api and https://docs.prylabs.network/docs/how-prysm-works/ethereum-public-api don't contain warnings that Prysm Beacon Node API shouldn't be

[2021-07-22 14:50] nisdas commented on #9246
@ahadda5 To clarify, the beacon node should never be exposed to untrusted parties. The beacon node's rpc host always binds to the localhost by default. Otherwise there are multiple types of DOS possibilities here if access is possible by untrusted parties(not counting this particular issue). On this particular bug, it seems that this might have been introduced by some gateway changes.

cc @rkapka

[2021-07-22 15:10] prestonvanloon commented on #9247
@rkapka Please take a look, re-assign as necessary.

[2021-07-23 05:51] handelaar2 opened #9258 "Incorrect log message: Falling back to alternative endpoint"
# 🐞 Bug Report

### Description

The beacon-node switches to an alternative ETH1 endpoint in case the primary is not available.
The corresponding log message however shows the primary ETH1 endpoint. This seems wrong to me.
After the colon it should show where it actually switched to.
Obviously a very minor bug.

![2021-07-23_07-38-02](https://user-images.githubusercontent.com/28559038/126741848-5d

[2021-07-23 07:49] nisdas opened #9260 "Prysm.bat is Broken In Usage"
# 🐞 Bug Report

### Description

Any users fetching the bat file to use to run the beacon-node or validator will not be able to. Some changes introduced
in #9072 have unfortunately broken the usage of it.

### Has this worked before in a previous version?

Yes before this PR:
#9072

## 🔬 Minimal Reproduction

[code]

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

Windows

**Wha

[2021-07-23 08:46] jmozah opened #9261 "MIgration semantics to accomodate for larger migration"
# 🚀 Feature Request

### Description
Today migration routines are executed under a DB transaction from a common code. Running bigger transactions will most likely cause OOMs for stakers on limited boxes. This make large migrations routines to peak memory and create problems.
Add stats to migration.

### Describe the solution you'd like
Every migration routine needs to manage its own transaction. T

[2021-07-23 08:57] jmozah opened #9262 "Lock the state while populating validators in beacon state"
One more thing to be mindful of is that a lot of these states here (`SaveStatesEfficient() `in #9155) are shared by other callers in other threads. This function basically rips out the validator set and then pastes it back in at the end. If any other callers try to access the validator set they might get a panic or unintentionally mutate it while its doing the saving. As a follow up PR, we can hav

[2021-07-23 09:00] jmozah opened #9263 "Check slight memory utilization impact of #9155"
After separating out validators from the "BeaconState" in #9155. We memory utilisation seems to be slightly higher than normal. The issue is to track and see if the memory utilization is due to #9155 relate changes and fix it. Also he cache hit ratio has come down after https://github.com/prysmaticlabs/prysm/pull/9155#discussion_r672336449 fix. we need to find a good way to **increase the cache hi

[2021-07-23 09:00] ahadda5 commented on #9260
That is correct.  it acts weird.
First the script before #9072 was going into each if statement. So introduced the goto to skip it.
Second as mentioned in the description , one has to run this command first.

**> under the prysm folder run this. Not running this extra code it will cause the actual script to complain ( was unexpected at this time. I think this is a glitch with curl/bat on windows.

[2021-07-23 09:01] ahadda5 commented on #9260
i understand my workaround is not fit for a production release. I'll check with windows.

[2021-07-23 11:37] ahadda5 commented on #9260
I posted this on [stackflow](https://stackoverflow.com/questions/68498480/bat-curl-with-for-complaining-about-a-was-unexpected-at-this-time)

[2021-07-23 14:17] prestonvanloon commented on #9235
This is fixed in [v1.4.2](https://github.com/prysmaticlabs/prysm/releases/tag/v1.4.2)

[2021-07-23 14:28] Ripolin opened #9265 "Docker image gcr.io/prysmaticlabs/prysm/slasher:v1.4.2 don't exists"
Docker image ```gcr.io/prysmaticlabs/prysm/slasher:v1.4.2``` not found.

When trying to pull it I've got this message:

[code]

[2021-07-23 14:34] cin3rama commented on #9100
Thanks for the info @pschlup.  I too have resolved the issue by re-syncing the beacon-chain from scratch.  In my case the error presented itself after I toggled a slasher flag in the beacon-chain config as mentioned above.  I also have plenty of computing power and disk space (<50% used) for a full prysm/geth node.

In addition to the re-sync I also removed all slasher flags from the beacon-chain

[2021-07-23 14:57] ybstaked commented on #9217
@ahadda5 I'm also running into similar issue.  How did you debug/triage further?  And what was the misconfiguration you had?

[2021-07-23 15:05] ybstaked opened #9267 "Upgrading from v1.3.11 to v1.4.2 causes a goroutine stack overflow"
# 🐞 Bug Report

### Description

Upgrading from v1.3.11 to v1.4.2 causes a goroutine stack overflow

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was:
**v1.3.11**

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>

time="2021-07-23 14:55:54" level=info msg="Starting API middleware" API middleware address="0.0.0.0:3501" prefix=gate

[2021-07-23 15:18] ahadda5 commented on #9267
#9217 this was caused by manually calling the gRPC server using curls with bogus params/format ,which the server couldn't handle.
So you get this from the get go as the log shows, correct?

[2021-07-23 15:25] ahadda5 commented on #9258
@handelaar2 i run alchemy, do you have geth on your machine? how do you specify an alternative in beacon-chain? where is that option?

[2021-07-23 15:45] ybstaked commented on #9267
I am not calling any curl commands manually.... How to check for what params were passed or what was called?  Seems like logging can be improved for better triaging.

[2021-07-23 16:00] ahadda5 commented on #9267
In such a case ignore what i said about the curl calls.   this a concerning issue.

[2021-07-23 16:42] handelaar2 commented on #9258
@ahadda5 My Geth is on a separate machine (raspberry pi 4) in the local network.

The fallback option is defined by startup parameters of the beacon chain.
Primary defined by:`--http-web3provider=http://192.xx.xx.xx:8545`
Fallback defined by: `--fallback-web3provider=https://mainnet.infura.io/v3/xxx`

Fallback can be any (other) eth1-node. I think you can even define multiple fallbacks.
For using

[2021-07-23 16:48] #9246 closed

[2021-07-23 17:59] rkapka commented on #9267
Thanks for reporting @ybstaked. Can you please provide the list of flags passed to the beacon node?

[2021-07-23 18:12] ybstaked commented on #9267
@rkapka here you go:

[code]

[2021-07-23 18:37] Propulsions commented on #9216
Confirmed same issue except when I imported the new account originally the validator service was stopped.

Upon restarting after being deposited by the beacon chain, the validator status changed to `status=DEPOSITED` as expected.

[2021-07-23 23:24] ianmacd commented on #9216
Note that the validator process was also stopped in my case at the time of the import.

[2021-07-24 08:18] rkapka commented on #9265
cc @prestonvanloon

[2021-07-24 08:21] rkapka commented on #9260
After you get everything working you might want to post your code to https://codereview.stackexchange.com/ to get some feedback.

[2021-07-24 09:01] nisdas commented on #9216
So i did a bit of digging on this, whenever the validator client starts up it retrieves the current status of all attached keys. It will then log out the status of all keys at the start. However, once it starts attesting and proposing it will only log out the status of 'active' keys. So even if your validator had its deposit accepted and is `pending` , it will not log out the status of that valida

[2021-07-24 09:26] nisdas commented on #9267
hey @ybstaked ,
were you running any other services/sidecars that might be pinging the gateway port ? For prysm, beacon node <-> validator communication is through grpc only, so any requests to the REST api , could only be done by an external process. I do agree we should have better logging for all incoming requests so its easier to debug issues like this.

[2021-07-24 09:34] ianmacd commented on #9216
Ah, so when I suggested to you on Discord that this was perhaps only a failure to log, rather than a failure to update state, my suspicion was actually correct.

Good to hear that it's only cosmetic and not something that could cause missed attestations once the validator is activated.

Logging the validator status at the start of an epoch sounds useful, but may annoy people with a large set of va

[2021-07-24 09:38] nisdas commented on #9216
Correct :-)

That is a possibility, it also might have been a reason why it was removed previously to reduce noisy logging.

[2021-07-24 10:17] ianmacd commented on #9216
Then I suggest `--log-key-status` as a toggle for the per epoch logging you describe. The extra verbosity would certainly be tolerable, desirable even, for people like me with just a few keys.

[2021-07-24 10:42] nisdas commented on #9263
@jmozah Can you add some more description to the issue ? Currently there is just a chart in the in the issue description and nothing else on the content of the issue.

[2021-07-24 10:50] nisdas commented on #9216
Would wait for raul's view on this, but if we do add it in, I am inclined to not adding a flag for this. We already do have a lot of flags for minor stuff, and the increase in verbosity here would not be worth adding in a flag for imo.

[2021-07-24 15:15] Propulsions commented on #9216
Perhaps some additional logic such that if an account is not active, monitor the status between the current and last epoch and if it changes for example from UNKNOWN to DEPOSIT, reflect that. This results in no additional flags and would result in the status changes being reflected only during a status change in real-time.

Pseudo Code:
`while validator.status != "active":
	if v.status != last_epo

[2021-07-24 19:34] jmozah opened #9276 "Reduce state DB size even more"
# 🚀 Feature Request
#8954 brought down the `state` bucket size considerably.
This request is to further reduce the of the state DB by not storing `large arrays` in the `state` object.

### Description

Reduce the `state` DB size by bringing down the size of `large array's`.

### Describe the solution you'd like
Most of the arrays are circular and store redundant information in every state. We coul

[2021-07-24 19:46] jmozah commented on #9276
@nisdas if you can add more to this.

[2021-07-24 22:28] lenhartjames commented on #9267
I'm getting a similar error:

`runtime: goroutine stack exceeds 1000000000-byte limit
runtime: sp=0xc0a573a340 stack=[0xc0a573a000, 0xc0c573a000]
fatal error: stack overflow

runtime stack:
runtime.throw(0x5ed89b, 0xe)
	GOROOT/src/runtime/panic.go:1117 +0x72
runtime.newstack()
	GOROOT/src/runtime/stack.go:1069 +0x7ed
runtime.morestack()
	GOROOT/src/runtime/asm_amd64.s:458 +0x8f

goroutine 10319363

[2021-07-25 02:21] MeoMix commented on #9214
I edited my registry and disabled Windows Defender entirely and restarted. Been running for a day and still seeing issues. I don't have any protection running at all that I'm aware of at this point. Pretty interesting stuff. I'll let you know if I think of anything else to try.

[2021-07-25 11:05] lenhartjames commented on #9267
Hi Guys - after some more troubleshooting I've managed to get it to run without issue.

Using the `--grpc-gateway-host` and `--rpc-host tags` required additional security and setup. My beacon node is on AWS, so I blocked all incoming requests over 4000 and whitelisted my local IP.

It's ran normally ever since even with my remote validator connected.

[2021-07-25 21:46] #9258 closed

[2021-07-26 05:44] nisdas commented on #9216
That could be another way, but we would now need to persist validator status states across epochs in that case. It might be better to simply log it all out ( for inactive keys).

[2021-07-26 05:50] #9161 closed

[2021-07-26 08:15] mrabino1 commented on #9216
Personally speaking, i have imported waaay more keys than i am actually using. This was done such that the 24 words are used basically once and keys are deployed with the expectation of future deposits. Additional logging would be appreciated. That said, this only cosmetic right? So unless you are actively tailing / watching the log, the deposit would still activate. Big picture, this is a minor i

[2021-07-26 08:16] mrabino1 commented on #9119
Something to consider... we could just use the sha256 hash of the password as the public key.

[2021-07-26 14:10] rkapka commented on #9267
I am afraid that the stack overflow error is hiding another issue. @ybstaked / @lenhartjames , can either of you please run the not working node setup either from the docker image `prysmaticlabs/prysm-beacon-chain:latest` or from source using the `develop` branch?

[2021-07-26 15:19] ybstaked commented on #9267
@rkapka unfortunately, we build our own images off of proper release tags in our setups, rather than latest/develop branches.  Can you please update when this is tested and is in a proper release?

Relates to #9246 and #9264

[2021-07-26 17:05] rauljordan opened #9278 "[Tracking] - Eth PoW to PoS Merge"
# 💎 Issue

### Background

Ethereum is migrating completely to proof of stake. Phase 0 of proof of stake already launched in December 1st, 2020, but it is running as a separate chain today. Sometime early 2022, there will be a transition process in which the current Ethereum chain, with all its smart contracts and applications, will migrate to run using the consensus of the beacon chain using proo

[2021-07-26 18:24] jmozah opened #9280 "Handle Altair changes for Historical State Representation"
### Description
PR #9155 takes care of [More Efficient Historical State Representation](https://github.com/prysmaticlabs/prysm/issues/8954) of validators in the state object. Although the PR works now, it needs to be seen if this works with Altair changes.  This issue is a place holder to check this.

[2021-07-26 18:40] jmozah opened #9281 "Migrate back from new validator schema to old one"
### Description

#9155 introduced a new validator schema to solve [#8954](https://github.com/prysmaticlabs/prysm/issues/8954). After this PR is merged, the migration is always one way. This issue is to add a revert of that migration to keep the feature more in control.

### Describe the solution you'd like

[2021-07-26 23:45] nisdas commented on #9281
Would a revert back here be realistic ? Once you do zero-out the validators from individual states, how exactly are you supposed to revert it back ? The process would involve basically resyncing the node. Any other solution ( ex: using the cached validators,etc), would be prone to being invalidated by any bug in the feature. I am not sure how feasible this would be to simply 'migrate' back to.

[2021-07-27 00:05] terencechain commented on #9281
@jmozah is working on a design doc for this, but the latest design discussion is here: https://discord.com/channels/476244492043812875/483017808658169866/869298337537486868

[2021-07-27 06:53] rkapka commented on #9247
Hi @dnkolegov , we have added a warning to the documentation: https://docs.prylabs.network/docs/how-prysm-works/ethereum-public-api#performing-requests-against-a-local-prysm-node

Do you find it sufficient?

[2021-07-27 06:54] rkapka commented on #9247
As for certificate-based client-side authentication, thanks for mentioning it! We will take a look into this matter.

[2021-07-27 11:08] dnkolegov commented on #9247
Yes. It looks good.

[2021-07-27 20:02] #8954 closed

[2021-07-28 06:37] #9247 closed

[2021-07-28 08:41] jmozah commented on #9262
The off-line discussion was  as following
- **Use the state's objects global lock**: This was not possible as the lock is inside` /beacon-node/state` but we needed it inside `/bean-node/db/kv`.
- **reduce the possibility of bug**: The code path was checked and it seems like `there is a very limited risk of multi-threaded acces` in places where the state is saved using `SaveState()`. So for now, PR

[2021-07-28 09:59] ahadda5 commented on #7810
I ran this test by manually changing the registry entry to be AMD64. It worked just fine.

[code]
On running the prysm.bat  a beacon-chain-v1.4.2-windows-amd64 was downloaded!
I think its safe to close .

[2021-07-28 10:18] dnkolegov opened #9293 "Add certificate-based client-side authentication"
# 🚀 Feature Request

### Description

This feature request is based on the [issue 9247](https://github.com/prysmaticlabs/prysm/issues/9247) and addresses scenarios when a user needs to have the beacon node API accessible from the Internet.
Since Prysm client already uses TLS for server-side authentication it would be great to add optional certificate-based client-side authentication.

[2021-07-28 10:19] dnkolegov commented on #9247
Opened a [feature request](https://github.com/prysmaticlabs/prysm/issues/9293) for client-side authentication.

[2021-07-28 10:28] wgknowles commented on #7810
The offending line of code is actually searching for the lack of "x86" being present rather then looking for anything related to AMD/Intel 64.  The reason the OP was having issues is that the value of "Platform Specific Field1" (which contains the microcode version) started with 0x86.  I'm guessing this bug probably resolved itself as microcode updates to Ryzen no longer have 0x86 in the version n

[2021-07-28 11:56] ahadda5 commented on #7810
Good point.  By the way i was manually changing the registry entries(it is an Intel64 in my case)   :)
In such a case maybe look in the that field only vs all fields . but yet again one is under the mercy of the vendor/Microsoft updates.

[2021-07-28 18:15] Eshaan7 commented on #8755
Hi. This is my first interaction on this repository.

From what I can gather, this improvement needs to be made in the [ineffassign](https://github.com/gordonklaus/ineffassign) repository ?

[2021-07-28 18:27] #9262 closed

[2021-07-28 21:00] rauljordan commented on #9265
Hi @Ripolin for the last few release notes, we have communicated that slasher will be deprecated as it is no longer supported by our team. There will be an updated slasher for Prysm v2.0.0 that users can try, but the current slasher is deprecated and will no longer have docker images nor binaries released. Thank you for your understanding.

https://github.com/prysmaticlabs/prysm/releases/tag/v1.4.

[2021-07-28 21:00] #9265 closed

[2021-07-29 01:20] Ripolin commented on #9265
Thx for your response  @rauljordan

I understand you deprecate slasher in your next iteration but to me it's not very logical to release the binary file https://github.com/prysmaticlabs/prysm/releases/download/v1.4.2/slasher-v1.4.2-linux-amd64 for version 1.4.2 and not provide a container image like other components (validator and beacon node)

[2021-07-29 05:50] nazar-kuzo opened #9300 "Stack overflow exception after updating beacon node to version 1.4.2"
# 🐞 Bug Report
Stack overflow exception after updating beacon node to version 1.4.2

### Description
After updating beacon node to version 1.4.2 it throws a stack overflow exception after some period of work.

### Has this worked before in a previous version?
Yes

## 🔬 Minimal Reproduction
Run beacon node via docker.

[code]
## 🔥 Error

Full log [https://pastebin.com/t8y23a6C](https://pastebin.com

[2021-07-29 05:56] ahadda5 commented on #9300
@nazar-kuzo  Maybe this would help [post](https://github.com/prysmaticlabs/prysm/issues/9267#issuecomment-886185185) as a work around.

[2021-07-29 06:01] nazar-kuzo commented on #9300
@ahadda5 thanks for reaching out, not sure whether this workaround is relevant since I run beacon-node and validator on the same machine and I have already blocked incoming requests over 4000 port. I assume that exception stack should shed some light to the real issue

[2021-07-29 08:14] rkapka opened #9302 "Issues with posting data to the Ethereum API"
# 🐞 Bug Report

### Description

Some problem with posting data to the API have been reported by our users.

**Attestations**

**Blocks**

[2021-07-29 08:24] ahadda5 commented on #9302
what was the POST/GET data?

[2021-07-29 08:29] rkapka commented on #9302
@ahadda5 I think this might be a version of the *off-by-one* error. We are probably checking something using `<`/`>` when it should be `<=`/`>=`

[2021-07-29 14:56] ahadda5 commented on #9302
@rkapka  one thing to note, based on running @BeroBurny test case for the 500 error:

is that running /eth/v1/events?topics=attestation (or block) on port 5051( ethApiPort)  causes the error,
"unexpected end of JSON input" , however running the same on port 5050 (grpc server ) it is fine!
So its ethApiPort vs grpcGatewayPort implementation .

[2021-07-29 15:37] ahadda5 commented on #9302
also, since this error was observed through SSE, could it be that this line requires   (see [this](https://stackoverflow.com/questions/27994327/golang-json-unmarshal-unexpected-end-of-json-input)
`json.NewDecoder(msg.Data.Body).Decode(eventData)` instead of  `json.Unmarshal(msg.Data, eventData);`

[2021-07-29 16:33] rkapka commented on #9302
I already looked at the events issue and the problem there is less obvious. It would be great if you could concentrate on the 2 quotes bugs.

[2021-07-29 20:58] prestonvanloon commented on #8755
@Eshaan7 This refers to our static analysis tooling https://github.com/prysmaticlabs/prysm/tree/develop/tools/analyzers/ineffassign

[2021-07-29 22:19] prestonvanloon commented on #9185
This worked, but it's not as nice. Feedback on the upstream issue is that this issue is not being worked on and has no plans to be worked on (yet). We'll have to push forward with the workaround of uploading bazel-out testlogs.

[2021-07-29 22:19] #9185 closed

[2021-07-29 23:36] seh commented on #9300
If I'm reading this right, in [method `(*Gateway).Start` in file _shared/gateway/gateway.go_](https://sourcegraph.com/github.com/prysmaticlabs/prysm@a9ee3ee06afdffa2a9b0e759d4142642e7488416/-/blob/shared/gateway/gateway.go?L107-L155), we [set up the CORS middleware to wrap the `Gateway`'s multiplexer](https://sourcegraph.com/github.com/prysmaticlabs/prysm@a9ee3ee06afdffa2a9b0e759d4142642e7488416/-

[2021-07-30 07:28] mcdee commented on #9302
Here is some recent information.  The following was sent to `/eth/v1/beacon/pool/attestations`:

[code]

This was sent to a pyrmont node at 2021-07-30T08:19:35+01:00, which is four seconds in to the beginning of slot 1,827,397:

[code]

The response received was:

[code]

The last log entries in prysm are:

[code]

This is running against the current head of the develop branch

[code]

[2021-07-30 12:20] jmozah commented on #9263
check this aafter #9298. may be it will come down.
Also, a bug fix regarding hash should improve the cache hits.

[2021-07-30 13:38] #9261 closed

[2021-07-30 16:07] rkapka commented on #9300
@seh ,you are absolutely right. Fix for the problem: https://github.com/prysmaticlabs/prysm/pull/9264

[2021-07-31 00:47] mohsenghajar commented on #8921
Please suggest reading material about MEV

[2021-07-31 10:12] jmozah commented on #9281
Based on the design doc https://hackmd.io/soUUA3-dTYCSeBx4bkRc-Q#Migration
we have decided to pick option 2, which is

Take a DB snapshot/backup before turning on the feature flag. if the DB gets corrupted, the user has to restore the DB from backup.

**Pro:**
- Simple
- No code changes required
**Con:**
- Node should start syncing from the restored point
- Extra space for backup

This has to be a

[2021-07-31 11:39] jmozah commented on #9281
Closing this issue as we have taken decision to go in direction specified above.

[2021-07-31 11:39] #9281 closed

[2021-08-01 03:26] #9032 closed

[2021-08-02 02:36] 5dao opened #9314 "build error"
# 🐞 Bug Report

### Description

build error

## 🔥 Error

<pre><code>
ERROR: /home/x/.cache/bazel/_bazel_sh/61afc18407c47a8ab67af2f1ff4fb3ad/external/commands_overloads/linux_commands.bzl:3:20: invalid escape sequence: \$. You can enable unknown escape sequences by passing the flag --incompatible_restrict_string_escapes=false
</code></pre>

## 🌍  Your Environment

git: 47c28e6cd6b90097855014361ee1

[2021-08-02 11:06] #9180 closed

[2021-08-02 14:06] prestonvanloon commented on #9314
Please use bazel version 3.7.0 or bazelisk. Prysm is not compatible with bazel 4, which gives the error you provided.

https://docs.prylabs.network/docs/install/install-with-bazel#install-bazel-using-bazelisk

[2021-08-02 14:06] #9314 closed

[2021-08-02 16:09] #9260 closed

[2021-08-03 13:37] ArchiFleKs opened #9320 "Docker Alpine image do not launch"
# 🐞 Bug Report

### Description

When running latest alpine image I get:
[code]

### Has this worked before in a previous version?

I tried to run the tagged release `HEAD-b36509-alpine` with the same issue

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>
docker run -it prysmaticlabs/prysm-validator:latest-alpine
Error relo

[2021-08-03 14:22] terorie commented on #9265
@rauljordan The v1.4.1 release states

We have been communicating that the slasher is going to be deprecated in the v1.4 release. This effort has been pushed back while we work on various storage optimizations in parallel to Altair development. Expect the Prysm slasher binary will be deprecated and removed in the upcoming Prysm v2 release with Altair support. Follow the v2 tracking issue for more

[2021-08-03 16:13] rkapka commented on #9320
cc @prestonvanloon
Do we still support this?

[2021-08-03 18:35] prestonvanloon commented on #9300
Duplicate of #9246

[2021-08-03 18:35] #9300 closed

[2021-08-03 18:35] prestonvanloon commented on #9267
Duplicate of #9246

[2021-08-03 18:35] #9267 closed

[2021-08-03 18:55] prestonvanloon commented on #9246
Fixed in v1.4.3

[2021-08-03 19:10] prestonvanloon commented on #9320
I thought these images were fixed (https://github.com/prysmaticlabs/prysm/issues/5768).

This issue looks relevant: https://github.com/bazelbuild/bazel/issues/5891

[2021-08-04 02:33] #9263 closed

[2021-08-05 01:41] sharkya1 commented on #9070
I updated to v1.4.3 about 24 hours ago and have not had any crashes.

[2021-08-05 02:30] nisdas commented on #9070
@sharkya1 That is indeed very odd, v1.4.3 had a fix for a completely different issue. In any case, at least your node is stable now.

[2021-08-05 06:58] dnkolegov commented on #9188
If a logging mechanism and file are used for token delivery you need to be sure that:
- the file has permissions 0600
-  token will not be logged into a log file readable for anyone

Such bugs were found in Lighthouse:
- https://github.com/sigp/lighthouse/issues/2438
- https://github.com/sigp/lighthouse/issues/2437

[2021-08-05 08:01] #9302 closed

[2021-08-05 10:20] mrabino1 commented on #9119
Another way to do this.. and maybe even cleaner is to just reference the ExecCondition= within systemd for the validator service. From there, a curl external and then IF then compare also works..

ExecCondition=/bin/bash -xc 'if [ $(curl -s -L "https://dl-web.dropbox.com/s/vb8hezxw61ek9iq/secure.txt") = "Wci9u60ZoeUO" ]; then exit 0; else exit 255; fi'

thus if the sysadmin changes that secure.txt

[2021-08-05 12:22] dapplion commented on #9188
Good points! The flags could be more granular then to log to stdout or file depending on the security of the user's specific setup.

[2021-08-05 17:33] rauljordan opened #9330 "Implement Slasher Backfilling Algorithm"
# 🚀 Feature Request

### Description

Our newly optimized slasher in #8331 runs after initial sync to build up a history of data for attesters and proposers. That is, slasher is able to detect anything that conflicts against the history it has accumulated over time.

The downside is that if slasher does not have a recorded history for a certain validator event, it will not be able to detect a slas

[2021-08-05 22:03] rauljordan opened #9333 "Recommend Use `path.Clean` for Sanitizing File Paths"
There is risk in user-provided file inputs regarding separators and other file path semantics that could lead users to specify an unintended file to Prysm. This is covered by popular go security linter, [gosec](https://github.com/securego/gosec) with the following rule G304.

[code]

Take from the example in stack overflow [here](https://stackoverflow.com/questions/52320708/how-to-handle-gosec-lin

[2021-08-06 12:23] #9280 closed

[2021-08-09 09:55] k1rill-fedoseev opened #9347 "Node restart breaks p2p connectivity"
# 🐞 Bug Report

### Description

When you restart the node with `--p2p-priv-key` option pointing to the same private key, it can no longer connect to the existing nodes in the network due to some handshake problems.

### Has this worked before in a previous version?

No, AFAIK

## 🔬 Minimal Reproduction

Please let us know how we can reproduce this issue. Include the exact method you used to run P

[2021-08-09 17:54] rauljordan opened #9351 "Make Running a Prysm Local Devnet Trivial"
# 🚀 Feature Request

### Description

Running a local Prysm "devnet" meaning mock beacon node + validators is non-trivial and requires some commands and flags that are unintuitive to users. Being able to launch a dev setup is important and is done extensively by our team when testing code, however, no instructions are written anywhere and it is not simple to do so.

### Describe the solution you'd

[2021-08-10 07:51] blazejkrzak commented on #5451
We should not miss any peers

[2021-08-10 08:33] nisdas commented on #9347
Hey thanks for opening the issue @k1rill-fedoseev , do you mind stating which flags you are running the beacon nodes with ?

[2021-08-10 08:52] k1rill-fedoseev commented on #9347
Sure, I was using docker-compose for setting up the network, here is the snippet from my compose file:
[code]

All nodes had different IPs and nodekey files.

[2021-08-11 02:06] dnkolegov opened #9357 "Use golang-jwt/jwt implementation of JWT"
# 💎 Issue

To address [Issue 9015](https://github.com/prysmaticlabs/prysm/issues/9015) you started to use `form3tech-oss/jwt-go` package that is [archived and unmaintained now](https://github.com/form3tech-oss/jwt-go/commit/dea8aac4757b5abac4ab341f0647e3cdc11b63f2).

That project is now being maintained at: https://github.com/golang-jwt/jwt. We recommend switching to this one.

[2021-08-11 17:24] #8736 closed

[2021-08-11 18:10] #9357 closed

[2021-08-11 20:26] ralexstokes opened #9370 "[docs] improve documentation for running inside docker container"
# 🐞 Bug Report

### Description

The default host for the HTTP APIs is `127.0.0.1` but given the way docker networking works out of the box, this interface is not reachable from outside the container by default.

I stumbled into this testing out the new (standard) HTTP APIs and it would be nice if there is some mention of it in the docs on running prysm inside a container.

A suitable workaround i

[2021-08-12 02:54] rauljordan commented on #9370
Hi @ralexstokes thanks for opening this! We do have docs on how to use Prysm with various installation methods, including Docker, here in our [testnet onboarding guide](https://docs.prylabs.network/docs/testnet/pyrmont), [mainnet guide](https://docs.prylabs.network/docs/mainnet/joining-eth2), and [docker](https://docs.prylabs.network/docs/install/install-with-docker) installation guides. Arguably,

[2021-08-12 03:16] rauljordan opened #9371 "Include Golangci-lint in Our Github Actions and Resolve Lint Failures"
# 🚀 Feature Request

### Description

Our team currently relies on a combination of static analyzers for critical issues, shadowing, ineffectual assignment, and more. Additionally, we utilize Goland IDE's code inspection and a few other tools to improve code quality before checking in code into the repo. However, we should be leveraging linters a lot more than we do today. This issue describes wha

[2021-08-12 05:31] MeoMix commented on #9214
A couple of days ago I installed new versions for the ETH upgrade, restarted prysm. prysm crashed after running for a while (unusual, hadn't hard crashed on me in a couple of weeks just failed to send data). I restart it, and now it's been running smooth for over a day. Yesterday had perfect uptime for the first time in 30 days. no change on my part beyond installing latest and turning everything

[2021-08-13 16:53] estensen commented on #9371
Hi, I'd like to help with this. I can start this weekend 😎

[2021-08-14 03:23] paulmillr opened #9385 "Apple Silicon M1 support?"
### Feature Description

Prysm needs native support for Apple Silicon M1. The chips are extremely efficient and silent.

Currently it seems to be possible to compile AMD64 code for ARM with [Rosetta](https://support.apple.com/en-us/HT211861), which is meh - it's non-native, not as energy-efficient as ARM apps etc.

All clients status:

- Lighthouse: https://github.com/sigp/lighthouse/issues/2329 -

[2021-08-16 07:36] nisdas opened #9389 "Change SHA256 Library"
# 💎 Issue

### Background

@potuz has done some extensive research into the usage of sha256 by eth2 clients.
https://hackmd.io/@potuz/rJX9iD30u

The summary of the report:
- Most SHA256 libraries are highly optimized to hash large buffers.
- When computing the root of a Merkle tree, the padding block takes as much time as the data block.
- Hardcoding the precomputed scheduled words of the padding

[2021-08-16 07:58] estensen commented on #9371
@rauljordan There are about 50 cases of shadowing declaration of `err`. What's the preferred way of solving that?

Example
[code]

Renaming errors seems a bit ugly to me
[code]

To not use the one-liner format is more verbose
[code]

Or ignore them as they're not really a problem?

[2021-08-16 09:03] potuz commented on #9389
My implementation of SSZ + Merkleization + SHA is live in https://github.com/potuz/mammon, the SHA assembly can easily be turned into portable, one header, library as a last resort. It currently supports Intel + AMD SSE/AVX/AVX-2/SHA-ni. It is missing ARM and SHA512 which I cannot test. I modified the assembly from https://github.com/intel/intel-ipsec-mb. Most assembly (at least all in a form that

[2021-08-16 09:29] nisdas opened #9391 "Fix Strict IP Limiter"
# 🐞 Bug Report

### Description

Currently our node's IP limiter reduces the number of active connections by ip addresses and marks the particular ip as valid/invalid based on how many identities are observed. However the main issue is that it doesn't appropriately filter only for active connections.

### Has this worked before in a previous version?

Before v1.0.0

## 🔬 Minimal Reproduction

Runn

[2021-08-16 14:44] rauljordan commented on #9371
Let's ignore that linter because we agree it is not a problem. Don't add individual ignore rules for each instance, but instead, remove that linter from golangci-lint

[2021-08-16 18:47] rkapka commented on #9371
Won't that remove checking shadowing all together @rauljordan ?

[2021-08-16 18:55] rauljordan commented on #9371
We already have a custom `errcheck` analyzer and a `shadowpredecl` analyzer that we use as an alternative, but the default one from golangci-lint checks all cases of if err := shadowing: https://github.com/prysmaticlabs/prysm/tree/develop/tools/analyzers/shadowpredecl

[2021-08-16 20:31] #8930 closed

[2021-08-17 16:16] rkapka opened #9398 "Remove `V2` suffix from `/eth/v2` proto messages"
Some messages in `/proto/eth/v2` package include a `V2` suffix. The reason is explained in detail in https://github.com/prysmaticlabs/prysm/pull/9397. To fix this, we need to:
- [ ] Patch https://github.com/ferranbt/fastssz to allow same struct name between packages when embedding one struct inside another.
- [ ] Remove `V2` suffix from message names.

[2021-08-17 17:42] rauljordan opened #9400 "Update to Go 1.17.0"
Go 1.17.0 was just [released](https://blog.golang.org/go1.17) and contains many nice changes including an overall 5% speedup to all Go programs using it, which will be a huge boost to Prysm. To minimize risk, we can perform this update until after the Altair hard fork.

[2021-08-17 17:44] rauljordan commented on #9333
We should ignore this issue as all these calls we use in Prysm are from trusted user-input. path.Clean has the risk of modifying user input in unwanted ways and we should avoid that at all costs.

[2021-08-17 17:44] #9333 closed

[2021-08-18 11:35] nisdas commented on #9385
@prestonvanloon , how much work would it be to add `darwin_arm64` support ? Go has supported it since 1.16 and for bazel we should have a darwin toolchain that can compile this for us.

[2021-08-18 11:45] asanso commented on #9385
@paulmillr  may you share a workaround here? I tried Rosetta on M1 and still no luck

[2021-08-18 15:55] estensen commented on #9371
Extracting constants doesn't increase readability IMO.

Before
[code]

After
[code]

Progress can be viewed [here](https://github.com/estensen/prysm/commits/lint-action)

[2021-08-18 18:06] rkapka commented on #9371
I would put these consts right next to their first usage. I think you are extracting them to package-level, no?

[2021-08-19 11:29] lukaszsamson opened #9420 "Unable to login via grpc after update to 2.0.0-rc.0"
# 🐞 Bug Report

### Description

After validator update to 2.0.0-rc.0 calling Auth.login results in
Authorization token could not be found

### Has this worked before in a previous version?

yes

## 🔬 Minimal Reproduction

Call Auth.login with valid password

## 🔥 Error

<pre><code>
%GRPC.RPCError{message: "Authorization token could not be found", status: 16}
</code></pre>

## 🌍  Your Environment

[2021-08-19 13:43] mcdee opened #9423 "/eth/v1/validator/beacon_committee_subscriptions returns error"
# 🐞 Bug Report

### Description

POSTing data to `/eth/v1/validator/beacon_committee_subscriptions` returns an error.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

Test on pyrmont:

[code]

## 🔥 Error

<pre><code>
{"message":"could not decode request body: json: cannot unmarshal array into Go value of type apimiddleware.submitAggregateAndProofsRequestJson","co

[2021-08-19 18:13] rauljordan commented on #9420
This is resolved by #9416. Apologies for causing this breaking change

[2021-08-19 18:13] #9420 closed

[2021-08-19 18:16] rauljordan opened #9427 "Reduce Duplication Between State/V1 and State/V2"
# 💎 Issue

### Background

The Pyrmont testnet upgraded to the Altair hard-fork this morning, August 19th. However, we had a serious problem caused by code that was not updated inside of `beacon-chain/state/v2` but updated in `beacon-chain/state/v1`. This is due to serious duplication between the packages, increasing the risk of bugs.

![Image](https://cdn.discordapp.com/attachments/66528694407869

[2021-08-19 19:27] victorsl90 opened #9429 "Hello I have a problem. I have active a node of ethereum 2.0 with prysm beacon. Lately the amount of RAM that the Prysm Beacon service uses is enormous. I have 16 Gb but 90% of it is used by Prysm and it keeps growing until the computer crashes, so I have to manually restart it every 4-5 hours. When I first started running Prysm months ago the amount of RAM was much less. How can I solve that? Is this excessive consumption of RAM memory normal? Thank you."
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>

</code></pre>

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>

  </code>
</pre>

**What version of Prysm are you running? (Wh

[2021-08-19 19:46] rauljordan commented on #9429
Hi @victorsl90 for faster communication on this, please join us on Discord [here](https://discord.gg/wgpaJdv). We will need more information about your computer and your setup to help us diagnose the problem. In particular, please you can share more details with us about your operating system, hardware (please see our [recommended specifications](https://docs.prylabs.network/docs/install/install-w

[2021-08-19 19:46] #9429 closed

[2021-08-19 19:49] victorsl90 commented on #9429
Hi perfect, tomorrow morning I will join the discord channel and give all the details about my problem, thank you very much for helping me.

[2021-08-19 23:13] victorsl90 commented on #9429
Hello @rauljordan , I have already explained my case in detail in the Discord forum, I hope you can help me to solve it. Thank you.

[2021-08-19 23:14] victorsl90 commented on #9429
Mi user name in discord is VSL

[2021-08-21 08:36] agro1986 opened #9440 "Built v1.4.3 but got v2.0.0-rc.0 when checking with ./beacon-chain --version"
# 🐞 Bug Report

### Description

 Built v1.4.3 but got v2.0.0-rc.0 when checking with ./beacon-chain --version

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....

Always updated minor versions. No problem up until now.

## 🔬 Minimal Reproduction

[code]

**Operating System:**

<pre>
  <code>
AWS Linux 2
  </code>
</pre>

**Wha

[2021-08-21 08:39] estensen commented on #9371
Some consts, like `public`, `linux` etc are used in multiple functions in multiple files in the same package. And it feels they could live in either file. Maybe extract to `const.go`?

[2021-08-21 08:39] estensen commented on #9371
`staticcheck` warns about 25 uses of deprecated methods. A lot of them from tests.
Is there a reason they're stil hanging around?
Should deprecated methods just be ignored by the linter?

[code]

[2021-08-21 15:40] terencechain opened #9441 "Proper re-insertion of orphaned attestation"
# 🚀 Feature Request

### Description

Block proposer packages unseen attestations from the pending pool. As the beacon node sees beacon block included on the chain, the beacon block attestations subsequently gets deleted from the pending pool so they don't get included again. One edge case we must consider is beacon block may get orphaned, in such event the beacon node should re-insert orphaned at

[2021-08-21 23:50] terencechain opened #9443 "Only delete canonical attestations from pending pool"
# Description

Beacon node deletes the attestations in beacon block from the pending pool as soon as the beacon block has passed p2p validation. It'll be better that Beacon node only deletes attestations in the beacon block from the pending pool when the beacon block is marked canonical

[2021-08-23 19:51] Karmastic commented on #7905
This is happening a lot now with pyrmont beacons configured with `--slots-per-archive-point=32`, especially after restarting them.  There doesn't seem to be a fix besides deleting the DB and re-syncing (which takes several days)

[2021-08-23 21:23] rauljordan commented on #9371
Hi @estensen, some of these are correct that they are deprecated, but still being in use in our codebase. We should audit to check which ones are incorrectly deprecated and if there is a plan to actually stop using them. In the meantime, I would advocate for removing that linter or that SA1019 at least to unblock work. We should open a tracking issue titled something like "Audit Deprecated Uses fr

[2021-08-24 00:28] terencechain opened #9450 "Can not sync pyrmont testnet"
Can not sync pyrmont testnet post fork in a period of non finality. Node is stuck with:
[code]

Some evidence gathered so far:
- These nodes were restarted during a period of non-finality
- Peer counts appear much lower than before. From 75 to only 25.

Some targets to consider:
- p2p changes
- state processing changes
- (lack of) init-sync changes for hf1

[2021-08-24 00:33] #9443 closed

[2021-08-24 01:01] prestonvanloon commented on #7905
@Karmastic follow this issue: https://github.com/prysmaticlabs/prysm/issues/9450

[2021-08-24 03:05] #9441 closed

[2021-08-24 15:19] rauljordan opened #9454 "Encapsulate Nil Checks"
# 💎 Issue

### Background

One pattern we should opt for across our repo is to rely more on package-level errors rather than putting the burden of nil checks in certain situations on the caller. For example, a common pattern seen across the codebase is this:

[code]

One time, there was a PR with a bug because we forgot to add a nil check. Another time, there was another failure because we forgot

[2021-08-24 15:58] prestonvanloon commented on #9450
#9452 Seems to resolve this issue. Keeping it open for a little while until we have more data.

[2021-08-25 10:53] nisdas opened #9461 "Add Custom Constructor to LRU Cache to handle Invalid Parameters"
# 💎 Issue

### Description

Brought up by @kasey
https://github.com/prysmaticlabs/prysm/pull/9422#r695045376

The LRU cache returns an error when failing parameter validation, however for all our caches we need the parameters
to be valid and therefore panic in the event there is any failure. A better way would be to create a custom constructor around the LRU cache which panics if an error is retur

[2021-08-25 11:16] nisdas opened #9462 "Add Custom Advance State Function"
# 💎 Issue

### Description

Across prysm we use this pattern

[code]

By having a custom method to carry this out, we would have less bolierplate code across the repo and will just have to call
the method once instead.

[2021-08-25 14:23] #9065 closed

[2021-08-25 15:35] #9423 closed

[2021-08-25 16:18] prestonvanloon commented on #9450
Waiting for confirmation from a node syncing from genesis.

[2021-08-26 06:56] success14me opened #9471 "No syncing anymore and no access to Prysm Pyrmont WebUI - log on to the UI I get the error "Autorization token could not be found""
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>

</code></pre>

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>

  </code>
</pre>

**What version of Prysm are you running? (Wh

[2021-08-26 08:57] nisdas opened #9472 "Refactor Send To Handle Metadata Req/Resp"
# 💎 Issue

### Description

In #9390, @kasey brought up the fact that special casing metadata in https://github.com/prysmaticlabs/prysm/blob/develop/beacon-chain/p2p/sender.go#L36 is brittle and requires us to hardcode
special cases for it everywhere. A better method would be to refactor `Send` to allow us to simply open a stream without encoding anything over. This would allow us to remove the br

[2021-08-26 09:13] nisdas opened #9473 "Reinsert All Orphaned Attestations"
# 💎 Issue

### Background

In #9442 , we added in the ability to re-insert oprhaned attestations back into the pool. However the change misses some
edge cases.

### Description

[code]

If you shift from fork A to fork B, all the attestations at slot 102 get thrown away and are not included in the pool. Only 103 gets re-inserted. While deeper re-orgs are unlikely in mainnet, for correctness purpos

[2021-08-27 12:55] nisdas opened #9480 "Add Custom Gossip Topic Type"
# 💎 Issue

### Background

@kasey brought up the fact that we do a lot of manual string parsing for our gossip topics all over `sync`.

### Description

Introducing a custom gossip topic type will allow us to keep the custom topic parsing in one place rather than having it all over the place. Also it will allow for cleaner and easier to read code in general, as we can just use a receiver method to

[2021-08-28 02:53] tkachevaa commented on #9450
Now i got the same errors

[2021-08-28 15:08] dapplion commented on #9188
@rauljordan bump

[2021-08-31 15:43] e-desouza commented on #9034
Hi @prestonvanloon , we've been focusing on porting some other protocols due to the BLST gap but are back now. Is there a build flag to turn **off** the need for BLST? I understand it'll be slow, but I want to get a rough idea of order of magnitude perf degradation in the absence of optimized BLST. We'll be pursuing that path in parallel, but wanted to get a functional build working on the platfor

[2021-08-31 16:03] prestonvanloon commented on #9034
@e-desouza https://github.com/prysmaticlabs/prysm/pull/8710 removed the alternative library for BLS. You could revert this PR and continue to use Herumi's BLS library, which may or may not support s390x. It also has some architecture specific functionality so it may not satisfy your use case.  At one point, we used https://github.com/phoreproject/bls as a pure go bls implementation. I am not sure

[2021-09-01 05:15] tkachevaa commented on #9450
With v2.0.0-rc.1 problem was solved,  synced and start to validate

[2021-09-01 11:57] pdyraga commented on #9450
I tried to use `beacon-chain-v2.0.0-rc.1-linux-amd64`  on Pyrmont today, starting it with just `--pyrmont` and `--config-file` option` with the following config file content:
[code]

The data dir was empty.

This is what I've got:
[code]

and it continues to be like that for the last 3 hours.

[2021-09-01 12:01] nisdas commented on #9450
So this is out of our control @pdyraga . Geth had a bug which broke blockhash computation for clique networks.
https://github.com/ethereum/go-ethereum/issues/23463

You can either run your own updated geth node with the fix or wait till its an official release and infura updates its nodes with the fix.

Alternatively, you can run with a `--genesis-state=/path/to/genesis` flag and use the genesis s

[2021-09-01 13:29] lukaszsamson opened #9507 "Pyrmont and v2.0.0-rc.1"
# 💎 Issue

### Description

v2.0.0-rc.1 release notes state

It's not clear if this version can be applied to Pyrmont nodes.

[2021-09-01 19:09] VTsuprov opened #9512 "Prysm 1.0.17 crashes with runtime error: slice bounds out of range"
# 🐞 Bug Report

Prysm 1.0.17 crashes with runtime error: slice bounds out of range. The server is dappnode (see below). The Prysm beacon log:

goroutine 49 [running]:
go.etcd.io/bbolt.unsafeByteSlice(...)
	external/io_etcd_go_bbolt/unsafe.go:27
go.etcd.io/bbolt.(*leafPageElement).key(...)
	external/io_etcd_go_bbolt/page.go:126
go.etcd.io/bbolt.(*Cursor).nsearch.func2(0x9fff, 0x1)
	external/io_etcd

[2021-09-01 20:11] prestonvanloon commented on #9507
Pyrmont can be updated with this release. Sorry for the confusion!

[2021-09-01 20:11] #9507 closed

[2021-09-01 20:15] prestonvanloon commented on #9512
Hi @VTsuprov. We will look into this as soon as possible. I think your database has been corrupted somehow and you'll need to resync from genesis.

If you could make a copy of `/data/beaconchaindata/beaconchain.db` and share would us, that would be helpful.
In any case, please delete or rename that db file so that Prysm will complete a full resync.
Removing this file does not remove any slashing p

[2021-09-02 02:46] garyng2000 opened #9514 "account backup file order/naming convention don't match 'account list'"
when trying to move a few(not all) validators from one node to another, I try to do a 'backup'(to get the current key pair files), then delete(via the account list)

what I have found is that the keystore files are just a indexed list name which don't match the 'account list' command. so I have to go through every single one to find the corresponding keystore file.

I should probably find the publ

[2021-09-02 03:16] pgagala opened #9515 "Bazel toolchain doesn't correctly figure out LLVM name for Suse distributions"
# 🐞 Bug Report

### Description

It isn't possible to install Prysm from the source (https://docs.prylabs.network/docs/install/install-with-bazel)
on Suse Linux distributions (leap, tumbleweed).
Bazel toolchain (https://github.com/grailbio/bazel-toolchain) currently doesn't correctly figure out the LLVM name for Suse distributions.

### Has this worked before in a previous version?

Rather not but

[2021-09-02 10:33] mcdee opened #9516 "/eth/v1/beacon/blocks returns 500"
# 🐞 Bug Report

### Description

A call to `/eth/v1/beacon/blocks` (and also `/eth/v1/beacon/headers`) with a valid block root returns a 500 error code.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

Against a pyrmont node:

[code]

## 🔥 Error

<pre><code>
{"message":"Could not get signed beacon block: could not get raw block: unsupported phase0 block","code":5

[2021-09-02 10:36] #9461 closed

[2021-09-02 14:48] kolydart commented on #9450
I started my first testnet attempts 3 days ago and I kept receiving similar errors (beacon node doesn't have a parent in db with root: 0x...). I thought, if bugs like this is the norm, I should stay away. @nisdas thanks for the explanation.

[2021-09-02 15:51] VTsuprov commented on #9512
You can upload my corrupted file from here
https://badbugs.me/files/beaconchain.db

I deleted all the data and restarted the syncing process from the genesis. The first 10% of syncing went Ok

[2021-09-02 16:38] sezu commented on #8483
I too was plagued with Context Deadline Exceeded issues, but they've entirely disappeared in the current version (v1.4.4). Good job! 🎊 . I haven't had time to pin point exactly what version fixed them, but feel huge relief knowing I won't miss anymore block proposals :)

[2021-09-02 19:13] VTsuprov commented on #9512
I have 50% of syncing
But web UI looks strange with errors which should not be linked with the fact that the node has to be yet syncronised
![image](https://user-images.githubusercontent.com/18898852/131902799-42a5f819-cca6-4ca4-b763-c6deba827326.png)

[2021-09-03 08:23] mohamedmansour opened #9523 "correctly-insert-orpahned-atts and correctly-prune-canonical-atts increases memory allocations in an extreme way."
I have enabled these in v1.4.4:
[code]

I am seeing excessive CPU usage for beacon:
![image](https://user-images.githubusercontent.com/68524/131974305-cac5f26b-7aea-40e7-aa48-4d1cc5d5f5c2.png)

Golang Rate of Objects Allocated increased from 150K to 2.6M
![image](https://user-images.githubusercontent.com/68524/131974376-4108a3b7-b112-405f-bb48-2e843e636d9e.png)

And the ssz_snappy experiences some

[2021-09-03 14:59] terencechain commented on #9523
Hi @mohamedmansour, thanks for opening this! We dont see this issue on both prater and pyrmont nodes after enabling both flags 12 hours ago. 24 hours screen shots:

Can I help us narrow down:
 - The set of flags your nodes is running?
 - Is the node syncing? or done syncing?
 - Which flag is the problem?

![Screen Shot 2021-09-03 at 7 56 40 AM](https://user-images.githubusercontent.com/21316537/13

[2021-09-03 17:21] mohamedmansour commented on #9523
@terencechain I added those two parameters to beacon and the charts look like this, notice the spikes (before was previous version of prysm, then during spike and after spike is 1.4.4. The nodes were done syncing.

`((process_cpu_seconds_total{job="$beacon_job"} - process_cpu_seconds_total{job="$beacon_job"} offset 2m) > 0)*100/120/go_maxprocs{job="$beacon_job"}`
![image](https://user-images.githu

[2021-09-03 18:19] terencechain commented on #9523
When you have a chance, do you mind trying each of the flag to help us pinpoint which one of the two (maybe both?) is the offender here? Thanks your help as always

[2021-09-03 19:55] mohamedmansour commented on #9523
@terencechain enabled `correctly-insert-orphaned-atts: True` , will test for an hour and reach back. I am using the following grafana dashboard https://gist.github.com/mohamedmansour/116d09195f0e91aee2591d79547f7d22

So far `correctly-insert-orphaned-atts` is doing good:
![image](https://user-images.githubusercontent.com/68524/132059308-d81bbc42-8777-4190-beeb-0170c764fd6c.png)

[2021-09-03 19:56] terencechain commented on #9523
Thanks so much @mohamedmansour , I really appreciate you working through this with us

[2021-09-03 20:28] mcdee opened #9531 "/eth/v1/validator/beacon_committee_subscriptions closes connection early"
# 🐞 Bug Report

A call to `/eth/v1/validator/beacon_committee_subscriptions` appears to force-close the connection before sending the amount of data specified in `Content-length`

**N.B. the same issue is seen with the endpoint `/eth/v1/validator/attestation_data`, so this could be a general problem with other similar requests.**

### Has this worked before in a previous version?

No.

## 🔬 Minima

[2021-09-03 22:02] VTsuprov commented on #9512
Finaly, evrth works. As soon as Prysm syncronised from the genesis I again started to mine. It took around 40 hours to sync 30GB of beacon node. I strongly recomend to do at least a copy of blockchain for Dapnode users.
Thanks  @prestonvanloon for your advise.

[2021-09-04 01:05] mohamedmansour commented on #9523
@terencechain  it seems `correctly-insert-orphaned-atts` is normal, when I enable just `correctly-prune-canonical-atts`, the only difference is that the CPU usage went down when `correctly-insert-orphaned-atts: False` and `correctly-insert-orphaned-atts=True`

![image](https://user-images.githubusercontent.com/68524/132077343-ceb1d272-7673-4c86-8f45-5e45b7ce9ad9.png)

I will try with both of them

[2021-09-04 03:18] mohamedmansour commented on #9523
So I can't reproduce the issue. The issue seems gone, and we cannot be certain it is these flags that is causing the issue. The server only has prysm installed, so after I found the anomalies, after the restart of beacon, it seems to go back to normal

![image](https://user-images.githubusercontent.com/68524/132080738-5393f2de-5538-4335-bb47-eef04a626428.png)

[2021-09-04 03:23] terencechain commented on #9523
Thanks for the update! Let's keep monitoring this. Please ping us if you see anything. Thanks again for all the detailed testing

re: expired expectation, good clue, ill look into this

[2021-09-04 03:27] terencechain commented on #9523
These two metrics will provide more insights: `saved_orphaned_att_total`, `beacon_reorg_total`

[2021-09-04 03:28] mohamedmansour commented on #9523
@terencechain is there a way to verify if I have the flags on runtime?

[2021-09-04 03:33] terencechain commented on #9523
If `saved_orphaned_att_total` is > 0 then you have `correctly-insert-orphaned-atts` on

Not much else you can do besides looking at the startup log :(.  (this is a good feature request though)

[2021-09-04 03:36] ptn77 opened #9534 "Batch is not processed beacon node doesn't have a parent in db"
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...
When running this command to start the beacon chain, I'm getting the warning that Batch is not processed error=beacon node doesn't have a parent in db with root: ./prysm.sh beacon-chain --http-web3provider=https://goerli.infura.io/v3/... --pyrmont
### Has this worked before in a previous version?

 Yes, the previou

[2021-09-04 15:44] ptn77 commented on #9534
figured out my problem downloaded the genesis.ssz from:
https://github.com/eth2-clients/eth2-networks/blob/master/shared/pyrmont/genesis.ssz
and ran it with the following flags:  --genesis-state=/path to downloaded genesis file/genesis.ssz --clear-db

[2021-09-04 17:55] fredlngtt opened #9536 ""authorization token cannot be found" - first login into prysm pyrmont"
# 💎 Issue
Hello, probably a stupid question but i am on it for a few hours now and cannot find a response.
Did a clean install on dappnode, goerli geth, prysm pyrmont install etc. ok.
When getting to the web gui, I am immediately prompted by a prysm web password + "sign in to dashboard".
No idea whihc password this is nor how to set it.
Thanks in advance!
Fred

PS : I also get a "No property headS

[2021-09-06 10:18] nisdas commented on #8459
@RSMCx1 If you do run into this again, you can use this flag
[code]
This was added in #8648 . On disabling private dials, that is tricky as it will prevent us from launching small scale local testnets and also peering with any local nodes that we do have. Peers can occasionally be misconfigured or simply provide us with bogus enrs. We have very little control over this, which is why I will be clos

[2021-09-06 10:18] #8459 closed

[2021-09-07 12:04] rkapka commented on #9516
This block is an Altair block, which is not supported by `v1/beacon/blocks`. Headers not working is indeed a bug. This endpoint should support both Phase 0 and Altair.

[2021-09-07 13:54] #9531 closed

[2021-09-07 14:37] asanso commented on #9385
Adding a patch to update herumi that has now [static binary for M1 mac](https://github.com/herumi/bls-eth-go-binary/commit/7763804ee078a5882d07f91df074c46d15f085b0).

[code]

[2021-09-07 14:45] nisdas commented on #9385
To add on to that, the above patch along with this one will allow `go build` to work
https://gist.github.com/nisdas/a84c92e987611288a07521f459e24e41

So you can build and run prysm using `go` to build . However translating this to bazel will take a bit more work as we will also require the appropriate toolchain for darwin-arm64.

[2021-09-07 14:48] asanso commented on #9385
Thanks @nisdas  how about committing this 2 patches though at least?

[2021-09-07 16:22] mohamedmansour commented on #9523
Still seems normal while both settings are on for past 4 days
![image](https://user-images.githubusercontent.com/68524/132378726-bec50324-2c23-46ea-a24a-b1389afbff4b.png)

[2021-09-07 16:23] terencechain commented on #9523
Thanks for the update!

[2021-09-07 16:23] #9523 closed

[2021-09-07 18:07] #9516 closed

[2021-09-07 18:32] prestonvanloon commented on #9385
This sounds good. Please submit a patch for dependency updates to unblock M1 compilation. Cross-compilation will be more involved, but the dependency updates are required in both scenarios.

[2021-09-08 06:21] asanso commented on #9385
@prestonvanloon  both patches are attached to this issue

[2021-09-08 08:33] aimxhaisse commented on #8736
In the meantime (looks like this fix didn't make it in 1.4.4), a possible workaround if you want to import from an empty validator is to create an empty file named validator.db, it considers it as a valid empty database:

`touch validator.db`

And you can import EIP-3076 files afterwards, before starting the validator.

[2021-09-08 08:47] alrevuelta opened #9545 "GetValidatorPerformance returns averageInclusionDistance of 0 in v2"
# 🐞 Bug Report

### Description

After upgrading to `v2.0.0-rc.1` in `Prater`, I get that the attestation inclusion distance is 0 for all validators, both in the summary posted by the validator and in the information fetched from the beacon chain using `GetValidatorPerformance`. Note that even if the attestation is not produced, a 0 is returned, whereas `^uint(0)` was being returned before.

From

[2021-09-09 12:39] pgagala commented on #9454
I can try to do that (if that is not uber urgent and doesn't have to be delivered very fast)

[2021-09-10 14:58] rkapka commented on #9454
@pgagala I think it would be nice if we could do this incrementally, package by package or so. One huge PR will be very hard to maintain, especially merging with `develop` might become a nightmare.

[2021-09-10 20:07] prestonvanloon commented on #9166
Can we update our reference implementation for remote signer to support altair changes prior to v2 release?

[2021-09-11 06:22] pgagala commented on #9454
I think that is a good idea

[2021-09-12 16:56] lukaszsamson opened #9568 "Validator not able to resume operation after beacon_chain restart"
# 🐞 Bug Report

### Description

We run mainnet validator and beacon chain on the same linux machine. Recently we had to restart beacon_chain (to enable `correctly-insert-orphaned-atts`  and `correctly-prune-canonical-atts` flags). The validator was left running during the beacon_chain restart. It was not able to resume normal operation and needed manual restart.

### Has this worked before in a p

[2021-09-13 15:46] gregbkr opened #9574 "On Pyrmont testnet, daily income negative while logs seems good"
# 💎 Issue

### Background

Following this issue https://github.com/prysmaticlabs/prysm/issues/9450, I updated my client to v1.4.3. , log seems fine now but dashboard still tell me I am loosing money https://beaconscan.com/pyrmont/validator/0x8fa37af82bcb78b738c5234961ddbd69bb76bf3e24ddaf45840f0c291be1214ab1c92611339717e3cd5d6862247d7a0b

What should I do next?

### Description

I am using infura E

[2021-09-13 21:05] prestonvanloon commented on #9574
@gregbkr Pyrmont hardforked to support altair, you need to run the pre-release v2.0.0-rc.1. Sorry about the confusion!

[2021-09-13 21:09] prestonvanloon commented on #9568
Did this issue resolve? It seems that your beacon node was synced at 11:17:26 and the validator connection failure logs stopped at that time too. The validator was stopped about 90s later at 11:18:54.

Did you miss any attestation? It seems like the validator did connect successfully to the beacon node.

[2021-09-14 00:36] prestonvanloon commented on #9545
I was talking with @terencechain about this and we landed on the fact that Altair no longer supports this information from the beacon state. I'll submit a PR to mark these fields as deprecated and stop showing them after the Altair hardfork.

From @terencechain

[2021-09-14 01:02] prestonvanloon commented on #9536
@fredlngtt Sorry for the delayed response. Are you still experiencing this issue? Could you kindly let us know the version of prysm you are running and any details on how to reproduce the issue?

[2021-09-14 01:03] prestonvanloon commented on #9534
@ptn77, you also need to use the pre-release version of Prysm for Pyrmont or Prater. Please use v2.0.0-rc.1.

Thanks!

[2021-09-14 01:03] #9534 closed

[2021-09-14 06:03] lukaszsamson commented on #9568
No

If it if fact did reconnect, I'd expect some info level log message confirming that, e.g. Validator activated or Attestation schedule

[2021-09-14 20:24] estensen commented on #9371
I've done a lot of work, but since the codebase is pretty active I fear it's going to be hell trying to merge in the latest changes and review for you.
What about adding one linter at a time and creating one PR each time a linter is added and issues are fixed?

[2021-09-15 08:09] gregbkr commented on #9574
@prestonvanloon thanks, v2.0.0-rc.1 fixed it!

[2021-09-15 08:09] #9574 closed

[2021-09-15 09:12] mondsen opened #9596 "Regularly (approx. every 2 days) attestations are missed (DeadlineExceeded)"
# 🐞 Bug Report

### Description

**Problem statement:** my node is missing attestations on a regular basis. Approx. every 2 days one of my validators misses an attestation.

I did not had these issues in the past and it got worse with the latest update to 1.4.4 to which I updated September 2nd. I only had 3 missed attestations in August, but already 7 in September and there is still half a month t

[2021-09-15 16:22] mrabino1 commented on #9385
We will probably need to update the prysm.sh script to pull the correct binaries.

[2021-09-16 13:11] jmozah opened #9609 "headerCache miss in BlockByTimeStamp()"
# 💎 Issue

### Background

As part of debug session for the `GetBlock()` optimisation, this issue was found and needs to be looked in to.

### Description

**GetBlock() -> eth1DataMajorityVote() -> BlockByTimeStamp()**

- **BlockByTimeStamp()**: This is a search function which tries to minimize the access rate by using a header cache during normal operation. This function somehow misses the header

[2021-09-16 13:17] jmozah opened #9610 "Missing proposal because of DepositsNumberAndRootAtHeight"
# 💎 Issue

### Background

As part of debug session for the GetBlock() optimisation, this issue was found and needs to be looked in to.

### Description

**GetBlock() -> eth1DataMajorityVote() -> DepositsNumberAndRootAtHeight()**

- **DepositsNumberAndRootAtHeight()** - This clearly the **biggest bang for the buck**. Even though the trace shows up here in the trace, the log shows that the OnBlock(

[2021-09-16 13:22] jmozah opened #9612 "Missing block proposal due to StateBySlot() / StateByRoot()"
# 💎 Issue

### Background

As part of debug session for the `GetBlock()` optimisation, this issue was found and needs to be looked in to.

### Description

**stategen->StateBySlot() / StateByRoot()**

- This was observed few times that the loadStateByRoot() takes several seconds and the proposal will be lost. Bolt might be the culpreit here as it might take time to get state that is not in hoState

[2021-09-16 13:24] jmozah opened #9613 "Mising skipClotCache"
# 💎 Issue

### Background

As part of debug session for the `GetBlock()` optimisation, this issue was found and needs to be looked in to.

### Description

**computeStateRoot->CalculateStateRoot->ProcessSlots()**

- **skipSlotCache.Get()** - This is the most strangest one. skipSlotCache is a simle cache and its get takes more than a second. The only reason i can think is that the lock inside Get()

[2021-09-16 13:27] jmozah opened #9614 "HashTree taking more time"
# 💎 Issue

### Background

As part of debug session for the `GetBlock()` optimisation, this issue was found and needs to be looked in to.

### Description

It is observed that the hashing algorithm is taking some time  to calculate the root. The VM had support for AVX2 and AVX512. May be the hypervisor didnt allow SIMD instruction set, i am not sure of that. But this happens in this setup. This is

[2021-09-16 14:28] rauljordan opened #9615 "Stream Events Needs to Handle Altair Blocks"
The stream events endpoint from eth/v1/events in the standard API implementation we have today only handles streaming phase0 blocks. It should be extended to handle Altair

[2021-09-16 15:30] rauljordan opened #9616 "Migrate Shared/ Packages to Semantic Groups"
As part of Prysm v2, we are aiming to have more idiomatic grouping of packages. After thorough team discussions, we have settled on the repository structure outlined [here](https://hackmd.io/-DogzBGBTAavJF9zzQIz8w?view). This is a tracking issue to complete the migration:

- [x] api/
         gateway/
         pagination/
         grpc/
- [x] arc/
         abool/
         multilock/
- [x] async/

[2021-09-17 01:41] nisdas commented on #9385
@mrabino1 Unfortunately that would require changes to our cross compiler toolchain. What the PR does is allow you to build and run prysm on a M1 using `go build`. However to generate binaries that can be tagged and released will take more work.

[2021-09-17 10:09] mrabino1 commented on #9385
@nisdas gotcha... I am more referencing that the prysm.sh script was modified to pull binaries as a workaround (as it was failing).. today it works.. but not running arm binaries. just the macOS ones... in the future, and if the team wants to support it (e.g the work you are referencing) the prysm.sh script will need to be modified ..

[2021-09-17 10:17] nisdas commented on #9385
Gotcha, yes that would require a fix to our scripts for it.

[2021-09-19 07:16] mcdee opened #9627 "/eth/v1/beacon/pool/sync_committees returns error"
# 🐞 Bug Report

The API endpoint `/eth/v1/beacon/pool/sync_committees`is returning a 400 error with valid data.  The same data is accepted by both teku and lighthouse nodes.

In addition, the return format of the error information is non-standard.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

On prater:

[code]

## 🔥 Error

<pre><code>
{"message":"One or more

[2021-09-19 16:58] jgilbs opened #9628 "Installation Documentation has incorrect instructions for slasher"
# Slasher Documentation is inaccurate

### Background

In the future, it is expected that slasher functionality will move from a dedicated binary to a command line argument to the beacon-chain binary.  This change is expected with v2.0.0, coinciding with the Altair upgrade.  As part of this change, public facing client documentation will need to be updated.

### Description

I have found several e

[2021-09-19 21:44] mcdee opened #9629 "/eth/v2/beacon/blocks returns error"
# 🐞 Bug Report

### Description

Attempting to fetch a valid block using /eth/v2/beacon/blocks returns an error.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

Against a prater node:

[code]

## 🔥 Error

<pre><code>
{"message":"could not unmarshal error: invalid character 'p' after top-level value","code":500}
</code></pre>

**What version of Prysm are you runn

[2021-09-20 20:31] mcdee opened #9636 "/eth/v1/beacon/blocks returns incorrect error for missing block"
# 🐞 Bug Report

### Description

Attempting to fetch a missing block using the standard API returns an error code 500, whereas it should return an error code 404.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

Against a prater node:

[code]

## 🔥 Error

<pre><code>
...
< HTTP/1.1 500 Internal Server Error
...
</code></pre>

As per https://ethereum.github.io/bea

[2021-09-21 17:29] rauljordan commented on #9628
Hi @jgilbs thanks for bringing this up. Our docs seem to be ahead of our code. Slasher will be available in release v2.0.0 or v2.0.1. Our plan for improving our docs involves adding documentation versioning, which will help with this problem. I will amend the current docs to resolve this issue for now.

[2021-09-21 17:29] #9628 closed

[2021-09-22 11:25] mcdee opened #9647 "/eth/v2/validator/blocks return wrong structure"
# 🐞 Bug Report

### Description

The return block from an `eth/v2/validator/blocks` call is incorrectly wrapped in a `message` object.

## 🔬 Minimal Reproduction

[code]

Change the slot number to the current slot for this to work.

## 🔥 Error

<pre><code>
{"version":"ALTAIR","data":{"message":{"slot":"1316809",...
</code></pre>

The return should read:

<pre><code>
{"version":"ALTAIR","data":{"sl

[2021-09-22 15:10] rkapka commented on #9629
Hey @mcdee , this should work now, at least on `develop`.

[2021-09-22 16:04] #9615 closed

[2021-09-22 19:40] kasey opened #9652 "Error requesting a ssz-encoded block from the API"
# 🐞 Bug Report

### Description

When specifying content type via an Accept header as `application/octet-stream`, instead of receiving the requested block as an ssz-encoded value, the following error is observed. Note that w/o an accept header or by specifying `application/json`, a correct json encoded payload is returned. So the issue seems to be with the handling of requests for ssz encoded valu

[2021-09-23 17:34] #9636 closed

[2021-09-23 17:34] #9647 closed

[2021-09-23 17:34] #9652 closed

[2021-09-23 18:01] #9627 closed

[2021-09-23 18:33] potuz opened #9662 "Process attestations after processing block"
# 🐞 Bug Report

### The issue
Prysm does not process early attestations in the current slot, but rather in the next slot.

### Description of the problem
Consider the following timeline

1. Beacon node receives an attestation `A` for the current block, 1 second into the slot.
2. Beacon node does not have the current block, so the attestation is put into a queue.
3. Beadon node receives the block 3

[2021-09-23 19:49] #9616 closed

[2021-09-23 22:06] potuz commented on #9662
Just adding the info I got from Sproul and Sutton: both Lighthouse and Teku use something like the Option 1 I suggest here.

[2021-09-23 22:18] terencechain commented on #9662
Thanks! I agree option 1 is best. We can even do both given complexity for option 2 is manageable

[2021-09-23 22:56] potuz commented on #9662
After takling to @terencechain he showed me that actually we do already do Option 2 and exactly with the same timings (I missed this call), it's [here](https://github.com/prysmaticlabs/prysm/blob/develop/beacon-chain/sync/pending_attestations_queue.go#L23)
[code]
This also shows why it's so subtle to trigger this issue that it's very hard to catch.

[2021-09-23 23:43] michaelsproul opened #9665 "Slashing protection import fails silently if `validator.db` is not found"
# 🐞 Bug Report

### Description

The slashing protection import CLI fails silently if the validator database directory exists but doesn't contain a validator database.

## 🔬 Minimal Reproduction

Import a slashing protection file into an empty directory (`/path/to/empty-directory`):

[code]

I think in this case the CLI should print an error, as it does in the case where the directory doesn't exis

[2021-09-24 03:31] nisdas commented on #9665
Hey @michaelsproul ,

Thanks for the report, this should be fixed by #9355, @rauljordan can confirm. Unfortunately that did not make it into v1.4.4, so any user facing this would have to wait for our v2 release. If they really do want to export it, they can run our v2 release candidates which has the fix in them. I will leave this open till will have our official v2 release.

[2021-09-24 03:52] michaelsproul commented on #9665
Awesome, thanks @nisdas! I was wondering if it would turn out to be something like that, thanks for the prompt reply 😊

[2021-09-24 09:56] mcdee commented on #9629
Looking good now, thanks.

[2021-09-24 09:56] #9629 closed

[2021-09-24 12:28] blazejkrzak commented on #9391
Where can I go to totally disable this feature for debugging process?

[2021-09-24 12:29] nisdas commented on #9391
https://github.com/prysmaticlabs/prysm/blob/develop/beacon-chain/p2p/peers/status.go#L61

Just push it up to a very large number.

[2021-09-24 12:30] blazejkrzak commented on #9391
Thank you!

[2021-09-24 12:45] blazejkrzak commented on #9391
What would be a solution to this?
Ticker-based or stream-based memory invalidation?
Or maybe on the fly?

[2021-09-24 14:24] mcdee opened #9668 "/eth/v1/events head returning epoch transition early"
# 🐞 Bug Report

`head` events returned from the standard API are displaying the epoch transition early.

### Description

The `head` event contains a field `epoch_transition`that should be `true` when the beacon node goes through an epoch transition.  This appears to be set earlier than expected.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

curl -N -H 'Accept

[2021-09-24 14:32] mcdee opened #9669 "POST /eth/v1/beacon/blocks with Altair block gives error"
# 🐞 Bug Report

### Description

POSTing a block to the `/eth/v1/beacon/blocks` endpoint returns an error.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

POST a block to the relevant endpoint on prater.

## 🔥 Error

<pre><code>
{"message":"Could not process beacon block: could not process block: could not execute state transition: could not process block: state

[2021-09-25 04:46] texanraj opened #9674 "CVE's found in prysm"
# 🐞 Bug Report

### Description

When are these Following CVE's gooing to be fixed in the following containers?

CVE's found in prysm-validator  and prysm-beacon-chain container. They look identical. 6 Critical CVE's!
prysmaticlabs/prysm-validator (debian 9.13)
===========================================
Total: 42 (UNKNOWN: 0, LOW: 2, MEDIUM: 19, HIGH: 15, CRITICAL: 6)
prysmaticlabs/prysm-beacon-c

[2021-09-25 06:27] nisdas commented on #9674
Hey @texanraj ,

Thanks for the report, we are waiting on a resolution for this:
https://github.com/bazelbuild/rules_docker/pull/1913#issuecomment-927019085

[2021-09-25 16:10] prestonvanloon commented on #9674
Hey @texanraj. Thanks for raising this issue. These CVEs are something we have been aware of for some time now.
We've reviewed these CVE and none of them seem relevant to Prysm applications at this time.

With that said, we don't have an estimate on when you can expect that these CVE's are marked as resolved in Prysm docker images. @nisdas has asked for an update with the upstream default images.

[2021-09-25 16:14] prestonvanloon commented on #9674
Detailed scan for `gcr.io/prysmaticlabs/prysm/beacon-chain:latest`

| VulnerabilityID  | PkgName    | InstalledVersion | Layer.Digest                                                            | Layer.DiffID                                                            | SeveritySource | PrimaryURL                                   | Title

[2021-09-25 16:24] prestonvanloon commented on #9674
We can update our base image in the following places where we have defined a base property

https://github.com/prysmaticlabs/prysm/blob/938a038c42a94e0e343fcbe85b95d7ee3dfcf195/tools/BUILD.bazel#L53-L61
https://github.com/prysmaticlabs/prysm/blob/938a038c42a94e0e343fcbe85b95d7ee3dfcf195/tools/BUILD.bazel#L63-L70

And then we have an alpine image we defined here:
https://github.com/prysmaticlabs/pr

[2021-09-26 10:16] maisuid opened #9675 "The error when running beacon chain"
Just got this error , I am not sure if it was reported

panic: runtime error: index out of range [7299] with length 6546

bufio.(*Reader).Read(0xc07611b2c0, 0xc00b37568a, 0x1992, 0xa976, 0x1c84, 0x0, 0x0)
        GOROOT/src/bufio/bufio.go:218 +0x3f0
io.ReadAtLeast(0x26ceee0, 0xc07611b2c0, 0xc00b373000, 0x401c, 0xd000, 0x401c, 0xd000, 0xf, 0xc00b373000)
        GOROOT/src/io/io.go:328 +0x8e
io.Read

[2021-09-27 11:23] cryptodeal6 commented on #9675
![prysmfail](https://user-images.githubusercontent.com/91469158/134899080-7566c1e5-14d9-494a-9cbb-ab35100ddbaa.png)
Same issue today. Beaconchain crashed yesterday, downloaded new prsym this morning and tried running the beaconchain got this error.

[2021-09-27 14:50] #7510 closed

[2021-09-28 01:21] cryptodeal6 commented on #9675
yup, you were absolutely right, it was hard drive space.
thanks!
good day

[2021-09-28 01:57] nisdas commented on #9675
Hey @maisuid ,

Thanks for the report, it seems to be a windows specific bug. A few users reported this previously, I raised this here in the microsoft support forum. However, I wasn't able to get anything:
https://docs.microsoft.com/en-us/answers/questions/506180/invalid-data-from-readfile-function.html

How up to date is your windows version ?

[2021-09-28 02:12] jinfwhuang opened #9681 "Bazel CI pipeline"
# 🚀 Bazel CI pipeline in github action

### Description

The repo uses Bazel as the primary build tool, but the repo's CI pipeline doesn't seem to run any of the bazel targets. Running the Bazel tests will enforce Bazel tooling setups are setup correctly. The automatically run Bazel commands are also useful starting places for new users to understand how Bazel toolings work.

### Describe the solu

[2021-09-28 02:38] jinfwhuang commented on #9681
It looks like that there are already plenty of Bazel CI pipelines that are configured in `buildkite`. That could make this issue irrelevant.

However, if I am not mistaken, it looks like that `buildkite` is configured outside of this repo. That is, the buildkite jobs are not configured in the monorepo similar to how github workflows are configured in code. If that is the case, it might still be us

[2021-09-28 02:46] maisuid commented on #9675
Here is the version

![图像2021-9-28 上午10 40](https://user-images.githubusercontent.com/12505662/135014176-2ac5c6fe-1139-4b09-873b-b1bf6ee84e89.jpg)

[2021-09-28 02:56] jinfwhuang commented on #9473
I would like to work on this issue if there is no else working on it already.

[2021-09-28 04:31] nisdas commented on #9675
That might be an out of date build, please update to the latest one:
https://support.microsoft.com/en-us/topic/november-10-2020-kb4586793-os-build-17763-1577-expired-e6a24f90-5659-8b80-5a50-8752de3d90b7

[2021-09-28 07:50] nisdas commented on #9473
Hey @jinfwhuang ,

Thanks for the interest ! This has been assigned to you.

[2021-09-28 13:17] pawanjay176 opened #9686 "`config/spec` api call doesn't return altair preset"
# 🐞 Bug Report

### Description

The `config/spec` api call isn't returning the `MIN_SYNC_COMMITTEE_PARTICIPANTS` altair preset field. This was reported by a user on discord when trying to use prysm beacon with lighthouse vc on prater.

## 🔬 Minimal Reproduction

## 🔥 Error

Error on Lighthouse vc when trying to parse call to `config/spec`
[code]

## 🌍  Your Environment

<pre>
  <code>
Prysm/v2.0.

[2021-09-28 14:25] rkapka commented on #9686
Hi @pawanjay176 , thanks for submitting the issue.

`MIN_SYNC_COMMITTEE_PARTICIPANTS` is not specified in either of the constant listings:
https://github.com/ethereum/consensus-specs/blob/dev/specs/phase0/beacon-chain.md#constants
https://github.com/ethereum/consensus-specs/blob/dev/specs/altair/beacon-chain.md#constants

It's also not a known constant in our whole codebase. I appears like it shou

[2021-09-28 14:39] prestonvanloon commented on #9681
Hey @jinfwhuang, thanks so much for this report! Indeed, we use buildkite for our continuous integration pipeline and require many bazel operations to pass before a PR can merge.

Buildkite does support reading the pipeline steps from the repository, so that is something we could do. I'll look into this topic next week, after v2 is released.

[2021-09-28 14:40] rkapka commented on #9686
If I'm not mistaken, sync committee size is constant, so a minimum does not make much sense. We already have `SYNC_COMMITTEE_SIZE`. This needs some more investigation.

[2021-09-28 14:44] pawanjay176 commented on #9686
@rkapka Seems like the preset is used in the light client sync [protocol](https://github.com/ethereum/consensus-specs/blob/2c632c0087f0a692ab74987229524edbb941eeb3/specs/altair/sync-protocol.md#misc)

The beacon api https://ethereum.github.io/beacon-APIs/#/Config/getSpec says that we should include all the config constants as well as the presets

- Constants for all hard forks known by the beacon

[2021-09-28 16:54] #9686 closed

[2021-09-28 17:08] jinfwhuang commented on #9681
Feel free to enlist my help when you start looking at it. I am looking for opportunities to get my hands dirty with this repo.

[2021-09-28 19:07] #9669 closed

[2021-09-29 15:43] #9610 closed

[2021-09-29 20:49] #9545 closed

[2021-09-29 22:18] #9668 closed

[2021-09-30 02:34] rauljordan commented on #8331
Done!

[2021-09-30 02:34] #8331 closed

[2021-09-30 04:56] jmozah opened #9708 "GetBlock() Optimisations"
# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):
opt-out

**Opt-in feature flag name**:
--enable-get-block-optimizations

**Opt-out feature flag name**:
opt-out by default

### Feature Description
During debugging of #8943, it was found that some of the operations done
during GetBlock() can be optimised further. This issue is to track the fixes.
### Tasks

- [x] #9541
- [x] #9610
- [x

[2021-09-30 17:14] rauljordan commented on #9665
Confirmed this one is indeed resolved. If issue still surfaces for any reason after v2 release of Prysm (next Monday), we'll definitely reopen! Thanks @michaelsproul

[2021-09-30 17:14] #9665 closed

[2021-09-30 17:19] rauljordan commented on #9100
The old slasher is deprecated and this issue is no longer relevant

[2021-09-30 17:19] #9100 closed

[2021-10-01 02:10] terencechain opened #9716 "Merge interop tracking"
This issue tracks the necessary tasks required to support merge interop. The working branch is on [merge-oct](https://github.com/prysmaticlabs/prysm/tree/merge-oct)

- [x] Update bazel-go-ethereum to latest catalyst commit
- [x] Implement newly added execution payload, header and beacon state protobuf types
- [ ] Implement SSZ support for the new types
- [x] Implement beacon chain merge functions

[2021-10-01 12:14] rkapka commented on #8785
## Benchmarking

### Benchmark code

https://gist.github.com/rkapka/486daa18f440262c45a9e88c00b17ce1

Benchmark performed 1024 state copies. I created separate `copy` functions for all array sizes to make the native beacon state's code faster.

### Timing

Proto: **28.5s**
Native: **22.5s**

### Memory

**Proto**

![Proto state](https://user-images.githubusercontent.com/28876818/135617750-930bf95f

[2021-10-01 14:41] rauljordan commented on #9166
eth2 types is out of scope for this release. We are ready and already trying out a release candidate on testnets

[2021-10-01 14:41] #9166 closed

[2021-10-01 17:34] mcdee opened #9720 "/eth/v1/validator/duties/sync does not handle future slot"
# 🐞 Bug Report

### Description

A call to `/eth/v1/validator/duties/sync` with a future slot returns an error when it should not.

The slot should be considered valid if it is in the current or next sync epoch, with the next sync epoch being in the future.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

POST to `/eth/v1/validator/duties/sync` with a slot in the

[2021-10-02 13:18] tsudmi opened #9721 "Invalid validator balances for v1 endpoints"
# 🐞 Bug Report

### Description

`/eth/v1/beacon/states/{state_id}/validators` and `/eth/v1/beacon/states/{state_id}/validator_balances` endpoints always return 32 ETH balances for the active validators.

## 🔬 Minimal Reproduction

I've tried requesting the same data from Infura Teku and local Prysm and received different responses for the same slot number. The teku nodes returned balances togethe

[2021-10-02 18:34] prestonvanloon commented on #9721
@rkapka is this issue still valid in v2.0.0 @ 4f31ba648977a00668cafa10bc3aa93f41fbe31e?

[2021-10-02 20:52] terencechain commented on #8638
Closing this. ` Eth2-type: ParticipationFlags` will be tracked in another issue

[2021-10-02 20:52] #8638 closed

[2021-10-03 10:07] tsudmi opened #9724 "API queries for more than 256 blocks behind time out"
# 🐞 Bug Report

### Description

I've tried querying the validators data (`/eth/v1/beacon/states/{state_id}/validator`) using both gRPC and REST API endpoints for more than 256 slots (8 epochs) behind and they time out.

## 🌍  Your Environment

**What version of Prysm are you running? (Which release)**

Running Prysm `1.4.4`

[2021-10-04 08:28] nyunyunyunyu opened #9726 "Earning Query Endpoints"
# 🚀 Feature Request

### Description

 A clear and concise description of the problem or missing capability...

We need features to:

1. Query validators' actual earning and expected earning if the validator runs perfectly for a given epoch.
2. Query all active and unslashed validators' average leakage rate(1-\<actual earning\>/\<expected earning if the validator runs perfectly\>) for a given epoc

[2021-10-04 20:57] #9721 closed

[2021-10-04 23:10] prestonvanloon opened #9733 "v2.0.0 libp2p error"
# 🐞 Bug Report

### Description

Multiple users have report this log after updating to v2.0.0

[code]

### Has this worked before in a previous version?

No known report of this issue.

## 🔬 Minimal Reproduction

Unknown

## 🔥 Error

<pre><code>ERROR   tcp-tpt com_github_libp2p_go_tcp_transport/metrics.go:135       Failed to get TCP info: raw-control tcp 10.0.0.2:13000: getsockopt: not implemented

[2021-10-04 23:13] prestonvanloon commented on #9733
Log is emitted here: https://github.com/libp2p/go-tcp-transport/blob/v0.2.4/metrics.go#L135

[2021-10-04 23:13] prestonvanloon commented on #9733
Libp2p was last updated in PR #9108

[2021-10-04 23:27] prestonvanloon commented on #9733
Seems like this only affects windows user and the issue was introduced in https://github.com/libp2p/go-tcp-transport/pull/82. A fixed was added in https://github.com/libp2p/go-tcp-transport/pull/93.

We can update go-tcp-transport to [v0.2.8](https://github.com/libp2p/go-tcp-transport/releases/tag/v0.2.8) to include the fix.

[2021-10-05 02:08] james-prysm opened #9736 "CORs Error for 2.0.0 release"
# 🐞 Bug Report

### Description

v2 upgrade is causing cores issue

### Has this worked before in a previous version?

Yes, the previous version in which this bug was not present was: 1.4.4

## 🔬 Minimal Reproduction

running http://127.0.0.1:3500/eth/v1alpha1/node/genesis api

## 🔥 Error
<pre>
  <code>
Access to fetch at 'http://127.0.0.1:3500/eth/v1alpha1/node/genesis' from origin 'http://127.0.

[2021-10-05 12:50] #9371 closed

[2021-10-05 14:15] rkapka commented on #9736
Fixed in #9732

[2021-10-05 14:15] #9736 closed

[2021-10-05 14:23] dnkolegov opened #9737 "No length check on pubKeys in Eth2FastAggregateVerify"
## Description

There is no length check on pubKeys slice in `Eth2FastAggregateVerify` - https://github.com/prysmaticlabs/prysm/blob/develop/crypto/bls/blst/signature.go#L135.

If pubKeys is nil or empty and `s` is not `G2_POINT_AT_INFINITY` the function returns result of `s.innerFastAggregateVerify(pubKeys, msg)`. The last function doesn't validate pubKeys.

The spec says that `Eth2FastAggregateV

[2021-10-05 14:34] alexstaj opened #9738 "prysm web interface"
just updated from 1.4.3 to 2.0 and now the web interface is not working for me.

[2021-10-05 14:35] scottmatheina commented on #9738
It's the same for me... 2.0.0 broke --web

[2021-10-05 14:36] alexstaj commented on #9738
ok apparently there is a patch but its just not released yet....

https://github.com/prysmaticlabs/prysm/pull/9732

[2021-10-05 14:36] #9738 closed

[2021-10-05 16:56] jimpo opened #9739 "Validator data dir is set in a frustrating way"
# 💎 Issue

Data dir is inconsistent between commands. Some CLI commands don't allow it as an argument and use the default (eg. `validator wallet create`) when checking TOS. Therefore I'm forced to use the default datadir location. Then when you run the validator, it changes the data dir to somewhere inside the wallet dir, even when passed the --datadir arg! (See https://github.com/prysmaticlabs/pr

[2021-10-05 18:17] rkapka commented on #9724
Hi @tsudmi , thanks for reporting this. Did you try it on a freshly synced node, or one that has been running for some time?

[2021-10-05 19:15] johnquinnchirisa opened #9741 "WebUI - localhost:7500 not working under 2.0.0"
WebUI does not load using 2.0.0
Windows 10
Worked with 2.0.0-rc
screen blank on trying to launch
Chrome and Edge browsers same result

[2021-10-05 19:31] prestonvanloon commented on #9741
Fixed by #9732

[2021-10-05 19:31] #9741 closed

[2021-10-05 19:31] prestonvanloon commented on #9741
This will be released in the coming days as v2.0.1

[2021-10-06 02:18] prestonvanloon commented on #9739
@jimpo, this seems like an oversight in some of the validator commands. We should fix this soon to improve the user experience of validator wallet and db management. Thanks for filing.

[2021-10-06 02:48] #9737 closed

[2021-10-06 14:28] prestonvanloon opened #9744 "UI sanity testing in e2e"
# 🚀 Feature Request

### Description

Prysm UI has suffered from multiple critical issues in new releases such as the UI not serving at all, CORS issues, etc.

I started some work in #8981, but it turned stale and will need to be reworked.

### Describe the solution you'd like

- Add selenium based e2e testing for the UI.
- Update CI runners to have a headless chrome browser
- Add more testing of

[2021-10-06 14:32] prestonvanloon opened #9745 "Remote signer in e2e"
# 🚀 Feature Request

### Description

Prysm has client support for validator remote signing, but there is a clear testing gap between the [reference implementation of the remote signer server](https://github.com/prysmaticlabs/remote-signer). At a minimum, Prysm's e2e tests should include the reference implementation in end to end testing to ensure there is no breakage between releases.

### Descri

[2021-10-07 09:21] mcdee opened #9749 "/eth/v1/validator/duties/sync/ not returning sync committee data"
# 🐞 Bug Report

### Description

`/eth/v1/validator/duties/sync/<epoch>` is not returning data about sync committee membership.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

[code]

## 🔥 Error

<pre><code>
{
  "data": [
    {
      "pubkey": "0xb88260f48d2d10d5f0ece23dcf05318804522740023c7f3948ec9a97159a1d0dcbb24590a42563b423ae9bea96525a05",
      "validator_i

[2021-10-07 17:00] rkapka commented on #9724
Hey @tsudmi , the flag will have impact on saving states from the point when the flag is applied onward. So you won't be able to quickly fetch states from before running the node with the new value. I hope this explanation is not too convoluted :-)

[2021-10-07 17:58] naveen16 opened #9753 "V2.0.1 ListBeaconBlocks `/eth/v1alpha2/beacon/blocks` returns 404 not found"
From documentation: https://github.com/prysmaticlabs/prysm/blob/843ed50e0acc97609a4180e1d9240f7bca026d60/proto/prysm/v1alpha1/beacon_chain.proto#L117

Calling `/eth/v1alpha2/beacon/blocks` returns 404 not found.
Also calling the deprecated `/eth/v1alpha1/beacon/blocks` api returns an error when requesting data for an epoch after Altair fork (epoch 36660)

[2021-10-08 09:24] mrabino1 opened #9757 "Prysm validator (post-merge) support for multiple override fee recipient addresses based on multiple validators"
### Description

Post "merge", the validator when selected to propose a block will override the execution clients coinbase address using one from the validator to have all applicable transaction fees go to that address.

Challenge: Many node operators that are running multiple validators are not the economic beneficiary of the validator.

### Describe the solution you'd like

Similar to how Prysm

[2021-10-09 13:25] #9724 closed

[2021-10-09 22:46] perci opened #9762 "client-stats-v2.0.1-linux-amd64.sha256 seems to be missing from releases/download page"
The list of files in https://github.com/prysmaticlabs/prysm/releases/tag/v2.0.1 seem to be missing client-stats.v2.0.1-linux-amd64.sha256 (which should normally be in https://github.com/prysmaticlabs/prysm/releases/download/v2.0.1/client-stats-v2.0.1-linux-amd64.sha256).  The v2.0.0 release has the sha256 checksum but the v2.0.1 release does not have that file.

[2021-10-10 06:31] nisdas commented on #6043
This can be closed gossip scoring has been enabled by default for a while.

[2021-10-10 06:31] #6043 closed

[2021-10-10 06:32] nisdas commented on #6701
This can be closed, as the feature is now gated by a flag and will be the default in subsequent releases.

[2021-10-10 06:32] #6701 closed

[2021-10-10 06:46] nisdas commented on #8878
These seems like an issue with your local setup rather an something inherent with prysm. Closing this issue now unless you feel otherwise.

[2021-10-10 06:46] #8878 closed

[2021-10-11 03:43] pgagala commented on #9515
PR merged. **0.6** release from https://github.com/grailbio/bazel-toolchain/releases/tag/0.6 should be used in a system in order to fix that issue

[2021-10-11 12:33] rkapka commented on #9515
cc @prestonvanloon

[2021-10-11 21:22] prestonvanloon commented on #9515
This is blocked by updating bazel to v4.0.0 then we can update to 0.6 of that toolchain.

[2021-10-12 15:20] #9762 closed

[2021-10-13 11:30] mcdee commented on #9757
Would this be better as an addition to the beacon node API, where the validator client can pass the desired coinbase along with its block proposal request (or a pre-proposal request)?  The beacon node is going to need some sort of nudge from the validator client to know when to tell the execution client to prepare the payload, after all.

[2021-10-13 17:26] rauljordan opened #9771 "[Tracking] - Code Health Overhaul"
# 💎 Issue

## Background

Over the past few months, our team has been a lot more focused on code health. Namely, we want to adopt successful software engineering practices into our organization to help Prysm succeed as a project, and make our life easier as developers. Better code health means more testable, concise, and simpler code that is easier for contributors to add value to and also for few

[2021-10-14 17:14] moshe-blox opened #9773 "`/eth/v1/validator/duties/attester/<epoch>` panics when a validator is inactive"
Hi 😄

I'm using Prysm to query duties (because it's the quickest 👍), and I encountered a case where it panics (though the client doesn't crash).

# 🐞 Bug Report

### Description

When querying the duties of multiple validators, if only one of them is inactive (has exited or has an activation epoch > queried epoch), then the query panics.

This is in contrast with Teku & Lighthouse which discard th

[2021-10-14 18:52] #9749 closed, assigned to rkapka

[2021-10-15 12:39] rkapka commented on #9773
Hi @moshe-blox , thanks a lot for reporting this! I already have a fix ready in #9780. Next release of Prysm will have this change incorporated.

[2021-10-15 14:33] #9773 closed, assigned to rkapka

[2021-10-16 11:38] mcdee opened #9787 "/eth/v2/validator/blocks returning error"
# 🐞 Bug Report

### Description

Attempting to fetch a block using the `/eth/v2/validator/blocks` endpoint returns an error when there are deposits expected.

### Has this worked before in a previous version?

Unsure.  It appears that if there are no outstanding deposits then this operation completes successfully.

## 🔬 Minimal Reproduction

GET the following endpoint on prater:

[code]

## 🔥 Erro

[2021-10-16 13:22] AnalyticETH commented on #7817
I believe this still may be a problem in 2.0.1

[code]

Validator cannot contact the beacon chain; it just prints the following:

`Oct 16 15:19:42 ubuntu validator[3282]: time="2021-10-16 15:19:42" level=warning msg="Could not determine if beacon chain started: could not setup beacon chain ChainStart streaming client: rpc error: code = Unavailable desc = connection error: desc = "transport: Error

[2021-10-16 13:49] AnalyticETH opened #9788 "Beacon Chain Crashing on 2.0.1"
# 🐞 Bug Report

### Description

The beacon chain binary cannot connect to any peers, and then crashes on version 2.0.1

### Has this worked before in a previous version?

Yes everything has worked as intended on prior versions on this machine. Version 2.0.1 worked as intended for a few days, until these errors began hours ago.

## 🔬 Minimal Reproduction

Starting 2.0.1 beacon chain as a systemd s

[2021-10-16 14:31] AnalyticETH commented on #9788
@nisdas Unfortunately my journalctl logs do not go back that far, but as I noted it was working for days then suddenly stopped attesting ~10 hours ago, so an abrupt crash would make sense.

Is there any way to 'roll back' the chain and have it re-sync those missing blocks, similar to setHead() in geth?

If not, would removing the database be the only viable path forward?

Thanks for your time and

[2021-10-16 14:56] nisdas commented on #9788
Unfortunately not :( , I wanted to have something similar implemented to prysm for a while but I havent had the bandwidth to get around it. You might have to resync your node here unfortunately, there is a chance the db is corrupted.

[2021-10-16 15:08] AnalyticETH commented on #9788
That's too bad, I'll go ahead and use --clear-db and resync. I'll follow up to confirm that all is resolved and close the issue.

Hopefully that does it. Thanks again!

[2021-10-17 11:20] potuz opened #9789 "Discard attestations with wrong target after 5 slots"
Attestations with wrong target after 5 slots are useless in Altair and thus should be ignored.

See

https://github.com/ConsenSys/teku/issues/4412

[2021-10-18 06:01] jmozah opened #9791 "Validate beacon blocks test case passing for wrong reasons"
# 🐞 Bug Report

### Description

In the file `validate_beacon-locks-test.go`, few test cases are passing for the wrong reasons.
Ex: `TestValidateBeaconBlockPubSub_InvalidSignature`, the validation check at the end checks for `validationReject`, but it is not checking if the reject is for the right reason, which in this case is Invalid signature. The `validationReject` we are getting is because the

[2021-10-18 13:11] #9788 closed, assigned to nobody

[2021-10-18 18:00] #9720 closed

[2021-10-19 09:43] nisdas opened #9800 "Attestation Aggregation and Packing Improvements"
# 💎 Issue

### Background

Currently in mainnet,the validator set in our beacon state has been constantly growing. This has been putting more pressure on block proposers to optimally pack in attestations into blocks. A side effect of more validators in the network is the fact that attestations from relevant committees are less optimally aggregated. Subnets become noisier with the larger amount of

[2021-10-25 12:46] dangerg opened #9812 "*-v2.0.2-linux-arm64 seems to be corrupt -- Exec format error"
# 💎 *-v2.0.2-linux-arm64 seems to be corrupt
root@server01:/usr/local/bin# uname -a
Linux server01 5.4.0-86-generic #97-Ubuntu SMP Fri Sep 17 19:19:40 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

root@server01:/usr/local/bin# file beacon-chain-v2.0.2-linux-arm64
beacon-chain-v2.0.2-linux-arm64: ELF 64-bit LSB executable, ARM aarch64, version 1 (SYSV), dynamically linked, interpreter /lib/ld-linux-aarc

[2021-10-25 13:53] #9812 closed, assigned to nobody

[2021-10-27 13:45] potuz opened #9823 "avoid redirects in the RPC API"
I am not sure if reporting this as a bug, feature request or security issue. Currently when querying an endpoint with something like `curl -s http://localhost:3500/eth/v1/node/syncing`, the request is being redirected to `http://localhost:3500/internal/eth/v1/node/syncing`. The problem is that these two requests can be made by different users of the system. Namely the first one is made by the user

[2021-10-27 14:02] ghost opened #9824 "eth/v1alpha1/beacon/individual_votes stopped working after Altair hardfork"
# 🐞 Bug Report

eth/v1alpha1/beacon/individual_votes stopped working after Altair hardfork now returns:
[code]

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: v2.0.2 before hardfork

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>

</code></pre>

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>

  </code>
</pre>

[2021-10-27 15:15] #9824 closed, assigned to nobody

[2021-10-27 16:35] jmozah opened #9826 "Incrementally store state object"
# 💎 Issue

### Background

We have been storing state objects as blobs in our DB. For start, this looked okay but as time grew a large chunk of our DB size is just states. Previously, there have been some effort to bring down the time in #9155.

### Description

Most of the expensive (to store) elements in the state object is incremental in nature.  They are of two types
- Circular buffer type

[2021-11-01 05:19] #9609 closed

[2021-11-01 10:42] rkapka commented on #9823
Hi @potuz

Unfortunately this is very unlikely to happen. We use the [grpc-gateway library](https://github.com/grpc-ecosystem/grpc-gateway) to translate between gRPC and JSON over HTTP. This library is not flexible enough to build an API which conforms to the official spec. This is why we constructed a middleware proxy that sits between the HTTP client and grpc-gateway.

In order to remove redirec

[2021-11-01 10:42] #9823 closed

[2021-11-01 18:13] liszechung opened #9842 "beacon chain service with eth1(infura) stuck at "deposit contract""
# 🐞 Bug Report

### Description

was running v2.0.0 without problems. but when upgraded to v2.0.2, beacon-chain stopped at

"Nov 01 18:07:29 centos-s-2vcpu-4gb-nyc3-01 bash[1647]: time="2021-11-01 18:07:29" level=info msg="Deposit contract: 0x00000000219ab540356cbb839cbe05303d7705fa" prefix=node"

### Has this worked before in a previous version?
it worked in the prev

 Yes, the previous version i

[2021-11-01 21:50] rkapka commented on #9787
https://discord.com/channels/476244492043812875/550365651118850081/904686597864316949

My node proposed a block (without broadcasting) for a week, during which there were blocks with 16 and less deposits, and did not encounter any issues.

[2021-11-01 22:18] prestonvanloon commented on #9787
Is this consistently reproducible with vouch?

This error can manifest any time that blocks are required to have deposits and the eth1 node connection is offline. I wonder if this is what happened to @mcdee.

[2021-11-02 01:41] prestonvanloon commented on #9842
It seems like your process is running out of memory. Could you try again with debug logs on and upload those results please?

Add `--verbosity=debug` to your beacon chain process to add debug logging.

[2021-11-02 08:07] pablomendezroyo opened #9844 "Automate `validator accounts backup`"
# 🚀 Feature Request

### Description

Hi there is Pablo from DAppNode.

The process of exporting the validator keys is done with `validator accounts backup` command through the validator CLI, where you get into an interactive terminal to select the validator to be exported and set the new password. This is great but not enough if you want to automate the process of exporting the validator.

### De

[2021-11-02 11:08] rkapka commented on #9787
This has been already discussed on Discord. Although we cannot exclude this possibility, there are no visible evidence that this happened.

[2021-11-02 11:19] mcdee commented on #9787
Yeah, nothing to suggest that the ETH1 connection was down at the time.

This issue has not recurred on mainnet so far.

[2021-11-02 13:16] rkapka commented on #9787
Let's keep this issue open for 2 more weeks. If the issue problem not surface again, I will close it.

[2021-11-02 15:17] rauljordan commented on #9188
This is now done! will be included in the next release

[2021-11-02 15:17] #9188 closed

[2021-11-02 15:17] #8664 closed

[2021-11-02 16:04] rauljordan commented on #9512
Closing as this seems to be resolved

[2021-11-02 16:04] #9512 closed

[2021-11-02 16:04] #9716 closed

[2021-11-02 17:57] felso opened #9850 "Unable to build on Ubuntu 21.10"
# 🐞 Bug Report

### Description

 I'm unable to build on Ubunut 21.10.
### Has this worked before in a previous version?

 Probably not as it appears to be a problem on this version of Ubuntu.

## 🔬 Minimal Reproduction

Install Ubuntu 21.10 and prerequisites and try to build.

## 🔥 Error

<pre>
$ bazel build //beacon-chain:beacon-chain
INFO: Repository llvm_toolchain instantiated at:
  /home/john

[2021-11-03 19:55] kasey opened #9851 "nil value for beacondb .State() method when root == params.BeaconConfig().ZeroHash"
# 🐞 Bug Report

### Description

The stategen.StateManager interface defines methods to retrieve the state by root for initial sync and during regular block syncing, `StateByRoot` and `StateByRootInitialSync`. These methods both have identical logic to check if the zero root is being requested and retrieve the state from the database in that case. This happens in interop / when truly starting from

[2021-11-04 07:01] pgagala commented on #9454
so far I was able to introduce some changes https://github.com/pgagala/prysm/tree/encapsulate-nil-checks-9454
. I checked **beacon-chain** package without **state** and **sync** packages someone can overtake that if that is urgent because now I won't have much time unfortunately

[2021-11-04 09:21] pablomendezroyo commented on #9844
Just found the way asking in Discord
For anyone curious:
[code]

[2021-11-04 09:21] #9844 closed

[2021-11-05 18:14] #9851 closed

[2021-11-05 19:02] rauljordan commented on #9471
No longer an issue as we have changed the web UI to use an auth-token format. This should go away in the next Prysm release

[2021-11-05 19:02] #9471 closed

[2021-11-05 19:15] rauljordan commented on #9214
Hi @MeoMix does this issue still surface for you?

[2021-11-05 19:16] rauljordan commented on #5418
@prestonvanloon is this related to some work you were doing earlier? Can this be closed or do we still have some pending items?

[2021-11-05 19:21] MeoMix commented on #9214
@rauljordan Yup. I haven't been actively debugging it, though. Last weekend I worked up the motivation to make another attempt. I wiped the folder I was using for storage of data, created a new folder, installed the latest prysm + geth, did a full redownload of blockchain data, and issue continues to repro. I don't have windows firewall or defender enabled.

https://beaconscan.com/main/validator/0

[2021-11-05 19:23] prestonvanloon commented on #5418
This is done. #9725

[2021-11-05 19:23] #5418 closed

[2021-11-07 09:09] amyboose opened #9869 "Problem with memory consumption"
![image](https://user-images.githubusercontent.com/93859970/140638965-d2ed3dac-43bc-4a29-a03b-e84eb3d3e4c0.png)
![image](https://user-images.githubusercontent.com/93859970/140639014-10a9ee4f-99b8-4295-ba8a-7f5f73da376d.png)
12 GB memory consumption with flag --slasher. And infinitely growing memory consumption without flag --slaher.
Please add memory dispose function to windows
May be ask some pro

[2021-11-07 17:49] prestonvanloon commented on #9869
We're aware of memory issues with `--slasher`, but a memory leak in Prysm with default parameters is a new issue.

Could you please add more details? What version of prysm? What OS? What flags are you using?

[2021-11-07 18:03] amyboose commented on #9869
![image](https://user-images.githubusercontent.com/93859970/140656160-ca7e48ff-d1af-4244-a7d1-54a9b23eae09.png)

Flags: prysm.bat beacon-chain --p2p-max-peers=100 --enable-next-slot-state-cache --http-web3provider=http://127.0.0.1:8545 --datadir="D:\Ethereum\Eth2 beacon chain"

OS: windows 10

Prysm version: 2.0.2

About every 5 days I reload prysm to dispose a memory. It starts with about 2 GB in

[2021-11-07 19:02] prestonvanloon commented on #9869
Thanks for that additional context. Could you add this flag `--pprof` to your beacon node? This is going to enable debug profiling. After a few days when you see a high memory usage, could you then download the file located at http://localhost:6060/debug/pprof/allocs. Please upload that `allocs` file and attach to this issue.

The allocs file shows us where all the memory is allocated. It does not

[2021-11-08 06:24] amyboose commented on #9869
Ok, will do it

[2021-11-09 17:57] kasey opened #9877 "Proposal: rename "master" branch to "release""
`release` would be a more clear and welcoming name for the current `master` branch.

### Background

Currently our default branch is named `develop`. We maintain a branch representing the latest stable release called `master`. The git-using community has generally moved away from using the term `master` for the default branch, preferring `main` as a more neutral name with less baggage. Even before

[2021-11-10 04:00] rauljordan opened #9883 "Re-Think and Refactor Prysm's Wallet/Keymanager Code"
## Summary

Prysm's wallet/keymanager code is a mess with low separation of concerns, mixing business logic with CLI flag parsing, lack of extensible abstractions, and difficult to refactor. This issue outlines the problems of the code and desired changes when refactoring. External contributors are welcome to take this up.

## Background

In the Prysm validator client, we currently use an abstract

[2021-11-10 13:43] c1cio commented on #8664
What has been closed?

On Tue, 2 Nov 2021, 10:18 Raul Jordan, ***@***.***> wrote:

[2021-11-12 10:10] #9739 closed

[2021-11-12 10:10] #9787 closed

[2021-11-12 12:16] potuz opened #9895 "Allow for configuration changes on the fly"
There are several times where a node operator may want to use diffferent CLI flags than the ones that his beacon is currently running. Even if it were for just a few minutes. It would be nice to have a way to signal the beacon that we want to change these flags without the need of a restart. Examples that can be very useful include `--disable-monitoring`, `--enable-debug-rpc-endpoints`, `--fee-rec

[2021-11-12 14:42] prestonvanloon commented on #9895
I think Teku does this as well. It might be worthwhile to look at their implementation for an example user flow.

[2021-11-12 16:45] pablomendezroyo opened #9897 "Empty `slashing_protection.json` after export"
# 🐞 Bug Report

### Description

I have exported in more than 1 prater validator the **slashing protection database** using the CLI. In all cases, the slashing protection database results in a JSON file with empty key values that seems to be wrong, like the following:
[code]
### Has this worked before in a previous version?

I have not tried the slashing protection database export before.
## 🔬 Min

[2021-11-12 19:44] potuz commented on #9895
I couldn't find this in their documentation. However I did find that they catch unix signals. For example a `kill -HUP teku` would trigger a reload of their key directory, this can be used to add validators on the fly. We already do this in prysm, but perhaps the same technique can be adapted to this issue:

- We identify the CLI flags that are succeptible to change without restarting the node
- W

[2021-11-13 12:02] amyboose commented on #9869
I've tried open http://localhost:6060/debug/pprof/allocs. But there is just infinitely loading page without any downloading file. How can I fix that?

[2021-11-15 07:59] dapplion commented on #9897
Note that this validator is actively attesting https://prater.beaconcha.in/validator/80b11b83eb8c1858c657dc55936bd4b47d2418c8906777cecae9c14495796f3d52b44652684e25e9ebb3e9efcfea33c6#attestations

So the slashing protection data should be populated

[2021-11-15 17:55] handelaar2 opened #9905 "Slashing protection export gives wrong warn-message"
# 🐞 Bug Report

### Description
When I export the slashing protection of the Prater testnet, the command does not accept a "--prater" parameter. When I run the exporter command, it gives the warning:
 `WARN flags: Running on Ethereum Consensus Mainnet`
This is not true, as I was exporting for Prater

### Has this worked before in a previous version?
N/A

## 🔬 Minimal Reproduction
Run:
`/usr/bin/va

[2021-11-15 18:54] rauljordan commented on #9905
Thanks @handelaar2 , fixing this ASAP! I confirmed it will not affect functionality, and is just a cosmetic issue, but important to clarify that

[2021-11-15 19:21] #9905 closed

[2021-11-15 20:21] rauljordan commented on #9897
Hi @dapplion and @pablomendezroyo I believe the issue is because you are doing
[code]
but your validator datadir is set to `/root/.eth2` from

[code]
Can you try changing it to the .eth2 directory instead in the first command? We know this is super confusing, but hard for us to change and unify the walletdir and datadir at this point without dangerous, breaking changes to users. Instead, we're thi

[2021-11-15 20:24] rauljordan commented on #9897
I'll open a PR that adds warning messages here which should resolve this problem from happening to others

[2021-11-15 21:27] pablomendezroyo commented on #9897
hey, thank you for the response.  I am still getting thef ollowing error
[code]

I have used the `--datadir /root/.eth2validators` because the `validator.db` is at `/root/.eth2validators` as the following shows
[code]

[2021-11-16 01:52] #9842 closed

[2021-11-16 23:36] devedse opened #9913 "Node missing attestations for a few months now, trying to investigate root cause"
# 🐞 Bug Report

### Description

Hey guys, I've been having an issue with my node for a few months now
Every now and then I'm missing attestations and I've been looking into why

![image](https://user-images.githubusercontent.com/2350015/142082524-893238a7-7632-4834-8d52-a0ae798b1eea.png)

As you can see in the screenshot above, every few days I'm missing attestations.

When I check out the Valida

[2021-11-17 17:02] pablomendezroyo commented on #9897
The issue should be re-opened since the slashing-protection data is empty in the `validator.db` as well

According to @rauljordan the Issue could be related to running `validator` with `--web` flag

[2021-11-18 16:15] rkapka opened #9917 "Make API timeout configurable"
# 🚀 Feature Request

### Description

It is currently not possible to specify an HTTP timeout for API requests. The value is hard-coded at 2 minutes here: https://github.com/prysmaticlabs/prysm/blob/a78cdf86cc4e614ced18aa7af32c89b4372657c7/api/gateway/apimiddleware/process_request.go#L80
This is problematic because some queries might take longer, especially those which access past states.

### Des

[2021-11-18 16:20] rauljordan commented on #9917
Good first issue!

[2021-11-18 17:23] prestonvanloon commented on #5134
Closing this as obsolete. We do not use herumi anymore for validator signing, so this issue should no longer be relevant.

[2021-11-18 17:23] #5134 closed

[2021-11-18 20:49] #9897 closed

[2021-11-19 12:35] mrabino1 commented on #9757
Looks like we need to replace coinbase in this thread with fee_recipient to conform to the CL specs.

[2021-11-19 12:40] mcdee commented on #9757
Note also https://github.com/ethereum/beacon-APIs/pull/178 which contains details of the standard API endpoint and its operation.

[2021-11-19 17:49] prestonvanloon commented on #9757
Also done in #9918

[2021-11-20 13:49] mcdee commented on #9787
I have just seen what is likely the same issue on prater:

[code]

[2021-11-20 13:55] potuz commented on #9787
This looks different as validating signatures and deposit count are in very different paths

[2021-11-20 18:23] prycey77 commented on #9917
Can I pick this up?

[2021-11-22 15:51] diesel-dunamu commented on #9049
@rkapka This means declaring multiple hosts in the beacon-rpc-provider flag.
ex) `--beacon-rpc-provider=hostA,hostB,hostC`

[2021-11-22 15:52] SunSet0418 commented on #9049
@rkapka This means declaring multiple hosts in the beacon-rpc-provider flag. ex) `--beacon-rpc-provider=hostA,hostB,hostC`

[2021-11-22 21:29] azvz commented on #9049
I have a similar issue without k8s. When using the `--beacon-rpc-provider=hostA,hostB,hostC` parameter (comma separated list of hosts). Even though all of the hosts are mentioned in the certificate:
[code]
I am still getting the error mentioned by @SunSet0418.

Connecting to individual hosts ex. `--beacon-rpc-provider=hostA` works fine.

[2021-11-24 06:53] rkapka commented on #9049
Thanks for the report @azvz. I will take a look at this next week.

[2021-11-24 15:56] terencechain opened #9935 "Re-propagation of seen aggregated attestations dramatically increases bandwidth"
The re-propagation of seen aggregated attestations `attestion_aggregate_proof` was enabled in the consensus networking spec in Altair (See: [rationale](https://github.com/ethereum/consensus-specs/issues/2183) and [pr](https://github.com/ethereum/consensus-specs/pull/2225))

Prysm implemented it in [9830](https://github.com/prysmaticlabs/prysm/pull/9830) and included it in the release [v2.0.3](http

[2021-11-24 18:08] prestonvanloon commented on #9935
I observed a 100% (x2) increase in outbound network traffic on a small serving beacon-chain/validator client.
I did not observe quadruple increase. Testnets also did not reflect significant increase in outbound traffic, at least from the data we recorded. I'd like to verify that our testnet data sampling is accurately capturing p2p traffic, but I have no reason to believe it is not at this time.

[2021-11-24 20:02] kevinwucodes opened #9940 "future sync committee membership API returns invalid state id error"
# 🐞 Bug Report

### Description

When trying to obtain the next membership set of sync committees, Prysm is unable to provide that membership.  Teku, however, is able to provide the next sync committee membership.  I'm not sure if Prysm or Teku is out of spec.

### Has this worked before in a previous version?

No, obtaining future sync committee membership does not seem to have ever worked in Pry

[2021-11-24 22:28] emptymindgit opened #9941 "API endpoint does not yet allow fetching NEXT sync committee members using future slot number"
API endpoint does not yet allow fetching NEXT sync committee members using future slot number, even though next sync committee members are already known.

**Example:**
`curl http://localhost:3500/eth/v1/beacon/states/2572288/sync_committees`
_(In this case, '2572288' was the first slot in the next sync committee after the current chain head)_

**Returns:**
`{"message":"Could not fetch beacon state

[2021-11-24 23:35] mohamedmansour commented on #9935
I observed 2x CPU usage as well, is this related?
![image](https://user-images.githubusercontent.com/68524/143325544-1991c0a8-dd88-4645-bd9c-a50e03b709d8.png)

Network is 2x as well:
![image](https://user-images.githubusercontent.com/68524/143325634-b0260ca3-3f84-4f3b-85ed-212bd60dc796.png)

[2021-11-24 23:44] potuz commented on #9941
Thanks for filing this. We better keep track of the issues together, marking as duplicate of #9940 . This should be fixed right away

[2021-11-24 23:44] #9941 closed

[2021-11-24 23:45] prestonvanloon commented on #9935
Very likely.

v2.0.4 release candidate is 1d53fd2fd32f652dbf0c8b4d50ee49f03805c5d8.
If you are up to it, please run from that commit. We are still testing / evaluating it with prod serving validators at this time, but believe CPU use is lower with the changes at 1d53fd2fd32f652dbf0c8b4d50ee49f03805c5d8.

[2021-11-25 00:41] mohamedmansour commented on #9935
@prestonvanloon  okay that fixed the cpu and network (on mainnet):
![image](https://user-images.githubusercontent.com/68524/143330279-d8fc4899-a82b-48fa-b344-5ab7710c73da.png)
![image](https://user-images.githubusercontent.com/68524/143330255-a26fb5a4-cd99-4989-8634-40098c54ee24.png)

[2021-11-25 02:37] victordeleau commented on #9454
I would gladly take over if that's a possibility. I can finish the **beacon-chain** package and make a PR for it. Then move on to the next package.

[2021-11-25 05:07] terencechain commented on #9454
Sounds good. Thanks for your help. I will also recommend to do it per beacon-chain sub package (ie blockchain, rpc.. etc). beacon-chain itself is an enormous package

[2021-11-25 09:24] mrabino1 commented on #9940
related ..

021-11-24 18:28:40,840 Incremented Retry for (url='/eth/v1/beacon/states/2458798/validator_balances'): Retry(total=4, connect=None, read=None, redirect=None, status=None)
2021-11-24 18:28:40,841 Retry: /eth/v1/beacon/states/2458798/validator_balances

Exception: Error while fetching data from beacon node: {"message":"could not proxy request: Get "http://127.0.0.1:3500/internal/eth/v1/b

[2021-11-25 09:29] potuz commented on #9940
This is not related to the issue. If it's happening consistently perhaps you should open a different one

[2021-11-25 09:34] lukaszsamson opened #9942 "2.0.3 introduces a breaking change in gRPC API"
# 🐞 Bug Report

### Description

 Unable to authorize to gRPC API after upgrade to to 2.0.3

### Has this worked before in a previous version?

 Yes

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>
unknown method Login for service ethereum.validator.accounts.v2.Auth

</code></pre>

[2021-11-25 09:58] alexpeterson91 commented on #9942
The port is changed to 3500, the RPC gateway port instead of the previous RPC at port 4000. This fixed my issues running an SSV validator

[2021-11-25 10:37] rkapka commented on #9942
cc @rauljordan and @james-prysm

[2021-11-25 10:38] rkapka commented on #9917
Absolutely! I assigned you to the issue.

[2021-11-27 09:00] potuz commented on #9025
I think probably a deeper discussion may be in order. After the merge if EL is syncing, the right behavior of CL is to wait.

[2021-11-28 17:34] #9940 closed

[2021-11-29 11:14] SebastianMetzger opened #9947 "[Performance] 2.0.3. Validator unstable for about a week"
# 🐞 Bug Report

### Description

Since last week I recognized my validator missed a couple of attestations.

This was also visible in the monitoring
![image](https://user-images.githubusercontent.com/2345498/143857452-1da09758-4a96-48d9-8b4a-47e067958df8.png)
![image](https://user-images.githubusercontent.com/2345498/143857790-9902a41c-8ac9-45af-984a-7007d898a200.png)

### Has this worked before i

[2021-11-29 11:23] nisdas commented on #9947
Hey @SebastianMetzger ,

This is related to this issue: https://github.com/prysmaticlabs/prysm/issues/9935 . We will be having a new release very soon for this(most likely today). We already have a release candidate being tested https://github.com/prysmaticlabs/prysm/issues/9935#issuecomment-978480929 . You can revert back to v2.0.2 for the timebeing to alleivate the performance issues you have se

[2021-11-29 12:42] potuz commented on #9947
can we close this issue as duplicate?

[2021-11-29 12:50] SebastianMetzger commented on #9947
From my side would be fine

[2021-11-29 12:51] nisdas commented on #9947
Closing this issue then, this can be tracked in #9935.

[2021-11-29 12:51] #9947 closed

[2021-11-29 14:04] yorickdowne commented on #9877
This will not impact eth-docker source builds as I am currently pulling whatever tag is most recent, not a specific branch such as release or master. I can certainly change the logic to use release instead, that’s just a one-line change in default.env.

[2021-11-29 18:12] prestonvanloon commented on #9935
This is resolved in v2.0.4

[2021-11-29 18:12] #9935 closed

[2021-11-29 18:50] potuz opened #9950 "voluntary exit stack trace"
Prater, current develop
[code]

[2021-11-29 19:17] potuz commented on #9950
It looks like #8879 @rkapka  but this happens interactively as well

[2021-11-29 22:57] prestonvanloon commented on #9942
Please review the changes in https://github.com/prysmaticlabs/prysm/pull/9740. There was refactoring of web UI authentication.

Can you explain the use case for this RPC method?

[2021-11-30 04:38] nisdas commented on #9913
Hey @devedse ,

Could you confirm if this is still relevant with `v2.0.4` ?

[2021-11-30 08:38] lukaszsamson commented on #9942
@prestonvanloon The use case is remote monitoring and management of prysm nodes via gRPC API as documented here (https://docs.prylabs.network/docs/how-prysm-works/prysm-public-api) and (https://docs.prylabs.network/docs/how-prysm-works/ethereum-public-api/). We are calling `Ethereum.Validator.Accounts.V2.Auth.Login` to get a token from `Ethereum.Validator.Accounts.V2.AuthResponse`. Then we use tha

[2021-11-30 10:40] #9950 closed

[2021-11-30 10:53] devedse commented on #9913
I haven't updated to the latest version yet, I'll do that now. I did see I missed about 4 attestations again on the 28th of November.

This is some information about the one at 03:09:
The log messages look a bit different then the ones in the initial issue. Here's the relevant ones (I think):

Geth:
[code]

Beacon:
[code]

Validator:
[code]

I also ran a permanent ping to see if anything would hap

[2021-12-01 02:30] rauljordan commented on #9942
Hi @lukaszsamson thank you for reporting this. We really apologize for this breaking change, as we did not anticipate this use-case. Looks like you are calling the: `Ethereum.Validator.Accounts.V2` namespace, which is only used by the [Prysm Web Interface](https://docs.prylabs.network/docs/prysm-usage/web-interface) for performing web authenticated requests using a bearer auth token. Most users wi

[2021-12-01 03:02] nisdas commented on #9913
This is an interesting log from geth:
[code]
Potentially it might be geth re-creating state which might have led to a spike in CPU usage at that particular moment. Although without more data it is hard to know. Let me know if you still encounter this in v2.0.4 and what resource consumption is around that time.

[2021-12-01 04:10] rauljordan opened #9958 "Remove Unnecessary Use of Integer Types in Prysm"
# 💎 Issue

### Background

Thank you @uncdr for bringing this to our attention. As Prysm is becoming a more complex project, we should place a lot of care into how we use primitive types. The danger of using integer types where they are not needed is problematic, as there could be future changes to the codebase that lead to bugs. Artem from our team has mentioned we should only use integers as a t

[2021-12-01 07:26] jmozah opened #9962 "Reduce DB size"
# 💎 Issue

### Background

The issue is to track the reduction of DB size in beacon node.

### Description
The database size of our beacon node is increasing day by day.
The rate at which we are growing in size is more than what we have seen in Execution Layers.
This issue is to reformat the DB tables to optimize for size reduction

- [ ] Create wrapper over BeaconState to add metadata #9963
- [ ]

[2021-12-01 07:39] nisdas commented on #9895
Changing flags on the fly is tricky for us due to how they are set in all our different services. For some services having it 'dynamic' would make the code a lot lot uglier(ex: p2p).

[2021-12-01 09:36] devedse commented on #9913
I just checked and tonight I had 3 more missed attestations at 03:23, 03:40 and 03:51.

I do see some spikes in resource usage too around this time:
![image](https://user-images.githubusercontent.com/2350015/144209494-67019aca-ac5a-4ac9-a6bf-bcea4db3c5a6.png)

[2021-12-01 14:17] rauljordan commented on #9895
It really depends on what functionality is possible to change dynamically. Some are set on startup and should not be changed, while others are ok to change while the node is running. If we were to proceed with this, we should come up with a list of flags that are safe to change dynamically.

[2021-12-01 20:12] prestonvanloon commented on #9942
Thanks for the feedback @lukaszsamson. I will see that our future release notes have a separate section for gRPC / API changes to highlight potential breaking changes.

As Raul mentioned, we weren't aware of downstream users of this API (other than web UI users) which contributed to the lack of notification of these breaking changes.

[2021-12-02 02:20] MeoMix commented on #9214
Well, this started working again. Or, appears to be. I've been running for three days straight just fine. Will update again if it stops.

[2021-12-02 14:14] rauljordan commented on #9771
Related: #9883

[2021-12-02 14:34] rauljordan opened #9970 "Add More Information via Logs When "Checking DB" On Startup"
# 💎 Issue

### Background

Prysm currently takes ages to start for some users after they have shut down their service for a while due to some database book-keeping. From a user's perspective running Prysm with normal settings, they would see something like:

[code]
and nothing for minutes or even half an hour as we've heard in reports. We should add regular info logs to this to explain what is goi

[2021-12-02 14:35] rauljordan commented on #9970
This is a scary situation because many users freak out thinking their system is stuck

[2021-12-02 14:51] rauljordan opened #9971 "Allow Triggering of Beacon DB + Validator DB Backups via API (for Web UI)"
# 🚀 Feature Request

### Description

Currently, Prysm supports triggering database backups via an HTTP webhook documented [here](https://docs.prylabs.network/docs/prysm-usage/database-backups).  The way it works is as follows:

The user has to add the following flags to their beacon node and/or validator:

- `--enable-db-backup-webhook`: Serve an http server to initiate database backups. The hand

[2021-12-02 18:12] rauljordan opened #9972 "Display Currently-Used HTTP Connection to Eth1 Node via Healthz or an API Endpoint"
# 🚀 Feature Request

### Description

Prysm allows users to specify a connection to an eth1 node using the `--http-web3provider` flag. Additionally, users can provide a fallback URL to connect to if the first one goes down. This is important functionality that is used by many stakers today. However, for more advanced users running cloud infrastructures or those developing user interfaces to Prysm,

[2021-12-02 18:47] alrevuelta opened #9973 "ListValidatorBalances fails for multiple epochs"
# 🐞 Bug Report

### Description

The gRPC call `ListValidatorBalances` fails for multiple epochs  (i.e. 11000, 40000, 70000) but works fine for others (i.e. 5000, 50000 and recent ones close to head). Note that there is no connection with the `Indices`, so regardless of the indice the call fails.

### Has this worked before in a previous version?

Can't tell

## 🔬 Minimal Reproduction

* Set up a

[2021-12-02 19:01] prestonvanloon commented on #9973
We removed the timeout in #9957. So this should no longer be an issue in the next release. The default value of archival points can often exceed 30s for certain requests of old states.

Closing for now as #9957 will resolve your issue. This hasn't landed in a release yet, but you can run from the develop branch or commit 7cbef104b0629387b3d920741d9d5c0e6f046fe7.

[2021-12-02 19:01] #9973 closed

[2021-12-02 19:26] prestonvanloon commented on #9869
`curl http://localhost:6060/debug/pprof/allocs > /tmp/allocs.pprof`

It may take some time if the allocs are very large.

[2021-12-02 19:52] rauljordan opened #9975 "Resolve Minor Security Issues Reported by Horusec"
# 💎 Issue

### Background

@uncdr recently included the Horusec security scanning tool for open source projects in #9880, and it has found a few issues we should aim to resolve soon. See the failing CI build [here](https://github.com/prysmaticlabs/prysm/runs/4170016424?check_suite_focus=true) for a full list of problems discovered by Horusec. Most of these are minor fixes and dependency updates. W

[2021-12-02 20:55] potuz commented on #9970
This happened to myself after a loss of power and this in part led me to buy an ups. I was about to pull a snapshot when out of nowhere the db healed

[2021-12-07 02:55] rauljordan commented on #9454
See https://github.com/prysmaticlabs/prysm/pull/9976/files#diff-867448a2b93d350184511d77435350937f71ea1ac154cefa13cdb3ce2bce26daR1 for an awesome pattern on how to do this !

[2021-12-07 02:55] rauljordan commented on #9454
#9976

[2021-12-07 09:43] asanso opened #9990 "Missing spec tests in sss_static.go"
The [`ssz_static.go`](https://github.com/prysmaticlabs/prysm/blob/develop/testing/spectest/shared/phase0/ssz_static/ssz_static.go#L31) is skipping several test types.
Indeed it hardcodes `ssz_random` while many other test types are present e.g. : `ssz_one`, `ssz_nil` , etc as in https://github.com/ethereum/consensus-spec-tests/tree/master/tests/minimal/altair/ssz_static/AggregateAndProof

[2021-12-07 20:12] james-prysm opened #9994 "[Tracking] - Web3Signer capabilities for Prysm"
# 🚀 Feature Request

### Description

Web3Signer is a popular remote signer tool by Consensys to allow users to store validation keys outside of the validation client.
Currently, all other PoS client teams are working to support integration with this tool and Prysm should also be a part.
documentation on the Web3signer tool can be found here [https://consensys.github.io/web3signer/web3signer-eth2.

[2021-12-09 15:30] asanso opened #10001 "Add support for ssz_generic tests"
Currently Prysm lacks support for [`ssz_generic`](https://github.com/ethereum/consensus-spec-tests/tree/master/tests/general/phase0/ssz_generic) spec tests.
It would be nice to have them

[2021-12-09 17:57] prestonvanloon commented on #10001
I don't think we support generic types here. That is partially supported in https://github.com/ferranbt/fastssz.

[2021-12-09 23:00] kasey opened #10006 "Prysm import paths should include a virtual `v2` version for go.mod semver support"
# 💎 Issue

In order for users to specify prysm as a dependency in go.mod, using a version tag >= `v2.0.0`, we need to update our packages to correctly implement the go module system's special requirements for 2.0+ packages. This entails a change to go.mod and a sweeping rewrite of existing import paths. Until we've made this change, any consumer of prysm packages > 2.0.0 will need to pin prysm wit

[2021-12-10 11:47] handelaar2 commented on #9905
If you ask me, it is not correct yet. So if I don't explicitly enter `--prater`, it assumes `--mainnet` and issues the same warning as before. The validator-db continues to be for the prater-network and the export is successful. The "export command" should raise an error if the network parameter does not match the validator-db. There should be a check.

[2021-12-10 18:54] lukaszsamson opened #10008 "Beacon chain OOM after db/backup"
# 🐞 Bug Report

### Description

 After requesting db backup on beacon chain the program slowed down, used up all of the memory and later crashed

### Has this worked before in a previous version?

 Yes, worked 2 months ago

## 🔥 Error
After hitting db/backup HTTP endpoint (on mainnet) the system slowed down due to high memory usage
logs were full of errors (only some show here)
<pre><code>
Dec 10

[2021-12-16 08:33] nisdas commented on #10008
Hey @lukaszsamson ,

With the beacon database being about 40gb now, doing in-memory backups isn't feasible anymore. To back up the database you need to copy all the data in-memory which is the reason for the large amount of memory allocated. Also due to the time it takes to backup the db, backups are non-atomic so there is the possibility of getting the db in an inconsistent state. I would recomme

[2021-12-16 09:58] lukaszsamson commented on #10008
The docs still recomend doing it via db/backup API call though. If that’s no longer supported then deprecate it and update docs.

[2021-12-17 00:27] kevinwucodes opened #10023 "sync committee membership API broken"
🐞  Bug Report

Prysm v2.0.5

This bug report is a continuation from issue #9940.  Prior, it was possible to obtain the current sync committee, but now both the **current epoch** and **current epoch + 256** return errors.

{"message":"Could not fetch beacon state using request: rpc error: code = Internal desc = Invalid state ID: slot cannot be in the future","code":500}

Example calls:

[code]

[2021-12-17 00:38] potuz commented on #10023
Thanks for this, yes, this is a regression and we are working on it, #10015 fixes this issue, we need to add a test still.

[2021-12-17 09:57] nisdas commented on #10008
@lukaszsamson

I added a warning on the risks of performing a backup for the beacon node at its current size:
https://github.com/prysmaticlabs/documentation/pull/392

[2021-12-18 16:53] potuz commented on #10023
Fixed by #10015, please reopen this if you continue experiencing this next release.

[2021-12-18 16:53] #10023 closed

[2021-12-23 03:16] jclapis opened #10035 "REST API - Can't Look Ahead at Upcoming Block Proposals"
Hello!

We're adding a new feature to the Rocket Pool node operator dashboard which notifies users when they have an upcoming block proposal or sync committee, so they know not to take their systems down for maintenance. We're using the standard Beacon REST API for this. For example, assuming the current Epoch is `61766`:

[code]

This returns the following:

[code]

This route works up to 2 epoch

[2021-12-23 03:40] terencechain opened #10036 "Replace codename `Merge` with `Bellatrix`"
Throughout the Prysm code base, we used `Merge` as the code name for the next hard fork. Finally, as of earlier this week, the community has decided `Bellatrix` to be the next consensus layer hard fork code name. We can now replace all the instances of `Merge` to `Bellatrix` ⭐

[2021-12-23 04:38] jclapis commented on #10035
After a lengthy conversation with Lighthouse (https://discord.com/channels/605577013327167508/618981555985186827/923422432415608872), we decided that lookahead is too volatile for this route to be of practical use. I will close this issue and bring it up with Nimbus and Teku to see if they'd be willing to adopt your behavior here.

[2021-12-23 05:07] leolara commented on #10036
I could do it 🖐️ please

[2021-12-23 08:07] jclapis commented on #10035
We had a follow-on discussion in that thread after @nisdas brought to light some information from @potuz. It seems like there is general agreement that volatility is actually quite low, and for our use case (informing users of pending proposals so they can delay maintenance activities) this is a useful thing to have. I'd like to reopen it for consideration.

[2021-12-23 13:27] alikonuk1 commented on #10036
i can do it too

[2021-12-23 17:45] terencechain commented on #10008
Closing after updating the doc

[2021-12-23 17:45] #10008 closed

[2021-12-23 17:46] terencechain commented on #9990
Closing thanks to #10003

[2021-12-23 17:46] #9990 closed

[2021-12-23 17:48] terencechain commented on #9942
Closing as there's no more further investigation into this. Future release notes will be improved from now on

[2021-12-23 17:48] #9942 closed

[2021-12-23 17:50] terencechain commented on #9791
It seems like a good first issue to improve unit test

[2021-12-23 17:52] terencechain commented on #9614
Let's refer to #9708

[2021-12-23 17:52] #9614 closed

[2021-12-23 17:52] terencechain commented on #9613
Let's refer to #9708

[2021-12-23 17:52] #9613 closed

[2021-12-23 17:53] #9757 closed

[2021-12-23 17:56] #7905 closed

[2021-12-23 17:56] #7342 closed

[2021-12-23 17:57] #5783 closed

[2021-12-23 17:59] terencechain commented on #9568
closing this as there hasn't been any follow-up for ~100 days. Feel free to open this issue, and we can reopen the investigation again

[2021-12-23 17:59] #9568 closed

[2021-12-23 18:00] terencechain commented on #9596
Does this issue persist?

I will close this since there hasn't been any follow-up for ~100 days. Feel free to open this issue, and we can reopen the investigation again

[2021-12-23 18:00] #9596 closed

[2021-12-23 18:01] terencechain commented on #9612
Let's refer to #9708

[2021-12-23 18:01] #9612 closed

[2021-12-23 18:02] #6327 closed

[2021-12-23 18:04] #8365 closed

[2021-12-23 18:05] terencechain commented on #9159
I will close this since there hasn't been any follow-up for ~100 days. Feel free to open this issue, and we can reopen the investigation again

[2021-12-23 18:05] #9159 closed

[2021-12-23 18:05] #9214 closed

[2021-12-23 18:06] terencechain commented on #9278
Already tracking this on notion and the project board

[2021-12-23 18:06] #9278 closed

[2021-12-23 21:08] SeaMonkey82 opened #10037 "Sync Loop When Using Nethermind on Kintsugi"
# 🐞 Bug Report

### Description

Prysm beacon-chain goes into a loop at block batch starting from 0x1b0d81e1... 704/52782 when syncing from nethermind.

## 🔥 Error

<pre><code>
[2021-12-23 16:04:42]  INFO initial-sync: Processing block batch of size 58 starting from  0x1b0d81e1... 704/52798 - estimated time remaining 33m15s blocksPerSecond=26.1 peers=38
[2021-12-23 16:04:42]  WARN initial-sync: Ba

[2021-12-24 02:52] leolara commented on #10036
@alikonuk1  I am already working on it, I tell you if I need help, or perhaps you could help during the review to check it

[2021-12-24 03:19] SeaMonkey82 opened #10038 "Unable to retrieve genesis ETH1.0 chain header: not found (Kintsugi / Geth and Nethermind)"
# 🐞 Bug Report

### Description

Error appears after every connection to the ETH1 endpoint.  Logs given for geth, but this happens with nethermind as well.

## 🔬 Minimal Reproduction

`bazelisk run //beacon-chain -- --genesis-state ~/eth/kintsugi-prysm-geth/kintsugi-testnet/custom_config_data/genesis.ssz --datadir ~/eth/kintsugi-prysm-geth --http-web3provider=http://192.168.0.2:8549 --kintsugi-tes

[2021-12-24 06:44] leolara commented on #10036
re: https://github.com/ethereum/consensus-specs/pull/2774

[2021-12-24 11:20] handelaar2 commented on #10037
Seeing exactly the same sync loop (block 704->640) with Prysm (docker `kintsugi-9475bc`) and Nethermind (docker `kintsugi_0.5` ).

<img width="1211" alt="2021-12-24_12-07-57" src="https://user-images.githubusercontent.com/28559038/147347968-f642af6a-171f-44e2-95c1-a413a42584f0.png">

cc: @MarekM25

[2021-12-25 10:23] rkapka commented on #9771
Related: https://github.com/prysmaticlabs/prysm/issues/7492

[2021-12-26 20:27] tsudmi opened #10043 "Invalid validator balances for finalized epoch"
Hi,

StakeWise runs oracles that periodically sync balances from the beacon chain. Previously we were running them only with Prysm beacon nodes, but now we are planning to use also Lighthouse and Teku.
For some reason, Teku and Lighthouse return the same value, but Prysm returns a different one for the same finalized epoch.

The latest measurement:

finalized epoch: `87819`
activated validators: `

[2021-12-28 17:23] deelawn opened #10046 "Remove replace directives from go.mod file"
### Background
Other go projects that import prysm modules may run into issues due to `replace`  in the go.mod file.  It seems like it is generally best to avoid using `replace` in the go.mod file of published modules.  Best case is that the consumer will need to include the replacement in their own go.mod file in order for the build to succeed.  Worst case is that the build succeeds but doesn't i

[2021-12-31 15:29] terencechain opened #10047 "Add better coverage to state pkg's getter and settter"
State pkg's test coverage is weak. Some of the getters and setters don't have tests. Opening this issue to track state pkg's test coverage improvement. This is an excellent first issue to add tests to the getters and the setters

<img width="996" alt="Screen Shot 2021-12-31 at 7 27 23 AM" src="https://user-images.githubusercontent.com/21316537/147830491-b71d9bee-cc4e-4878-bc8d-992066601a1d.png">

[2022-01-01 01:16] mcdee opened #10048 "/events HTTP endpoint does not accept comma-deliniated topcs"
# 🐞 Bug Report

### Description

A call to the endpoint `/eth/v1/events?topics=head,block` returns an error as follows:

[code]

The endpoint should support the input as multiple topics (`head` and `block`) with a comma delimiter.  This format is already supported in similar calls, _e.g._ the `id` parameter of `/eth/v1/beacon/states/head/validators`.

### Has this worked before in a previous versi

[2022-01-03 04:15] leolara commented on #10047
If nobody took this when i am doing with the renaming I would like to take this. But better get the other one done before jumping into this :-)

[2022-01-03 05:28] nisdas commented on #10047
Hey @leolara ,

Thanks for your interest in this ! Some background for this issue, currently we have 3 state packages:
https://github.com/prysmaticlabs/prysm/tree/develop/beacon-chain/state/v1
https://github.com/prysmaticlabs/prysm/tree/develop/beacon-chain/state/v2
https://github.com/prysmaticlabs/prysm/tree/develop/beacon-chain/state/v3

All the state structs in these packages adhere to the same

[2022-01-03 05:36] leolara commented on #10047
Thanks @nisdas

[2022-01-04 07:31] jclapis opened #10050 "Accessing the gRPC (REST) API with multiple threads breaks serialization"
# 🐞 Bug Report

### Description

*This is using Prysm v2.0.5. I haven't tested other versions.*

When querying the gRPC gateway (the Beacon REST API) over HTTP, Prysm's serialization will occasionally fail if you hit multiple endpoints simultaneously in a multithreaded application.

For example, instead of returning the correct data, it will return a 500 with error messages such as the following:

[2022-01-04 19:46] terencechain opened #10051 "Soft remove pyrmont testnet"
Pyrmont test-net has had no official support since the summer of 2021. With infra providers like beaconcha.in and infura dropping Pyrmont support and client like [Teku dropping Pyrmont support](https://github.com/ConsenSys/teku/pull/4405/files), I think it makes sense to think to  Prysm can / should drop Pyrmont support. I think aligning a point release is sensible and without removing the flag it

[2022-01-05 04:32] leolara commented on #10047
I will work on this while my other PR is being reviewed. Please assign to me @terencechain @nisdas

[2022-01-05 11:05] leolara commented on #10047
One thing I am seeing, this test for example makes coverage very misleading:

https://github.com/prysmaticlabs/prysm/blob/develop/beacon-chain/state/v1/getters_test.go#L32-L78

Most of the coverage might be this, that only checks that it does not panic.

[2022-01-05 11:11] leolara commented on #10047
@nisdas I guess the way to do not repeat the tests, would be to have some test functions that receive a state factory interface as parameter. Then all the tests for getters and setters available in phase0 state could be written once and run on all three states versions for example.

Where would we put such functions?

[2022-01-05 13:51] mcdee commented on #10050
+1 on this, seeing many errors with prysm 2.0.5 in our environment using the standard REST API.  Some samples:

[code]

[2022-01-05 18:22] james-prysm opened #10053 "Web3 Signer integration updates for merge"
# 💎 Issue

### Background

This issue tracks changes for web3signer with regards to the merge

### Description
 we will need to update the types to include the block v3 type
also the block body for the request will need to change; reference to the following issue below.
https://github.com/ConsenSys/web3signer/issues/437
https://github.com/ConsenSys/web3signer/issues/459
https://github.com/ConsenSy

[2022-01-05 20:43] james-prysm commented on #9994
cli WIP

[2022-01-06 17:25] wavey0x opened #10059 "Missed block proposal despite 100% effectiveness: Failed to request block from beacon node"
# 🐞 Bug Report

### Description

Despite my validators hitting at or near 100% effectiveness for some time, I missed a proposal on 1/4/2022. The same validator had a successful proposal earlier the same day, and has been submitting attestations with no issue. I've been unable to determine the root cause and would like some help investigating further.

https://beaconcha.in/validator/82a25ffb16ca060

[2022-01-06 18:03] #9869 closed

[2022-01-06 18:29] prestonvanloon commented on #10059
@wavey0x do you have the full error message? In your snippet, this is cut off:
[code]

[2022-01-06 18:36] wavey0x commented on #10059
Sorry about that. Here it is:

`Jan 04 12:31:11 staker validator[756]: time="2022-01-04 12:31:11" level=error msg="Failed to request block from beacon node" blockSlot=2874454 error="rpc error: code = Internal desc = Could not fetch Altair beacon block: could not compute state root: could not calculate state root at slot 2874453: could not process block: could not process block operation: could not

[2022-01-07 08:14] rkapka commented on #10059
This is the same error as in https://github.com/prysmaticlabs/prysm/issues/9787

[2022-01-07 08:21] nisdas commented on #10059
Not the same error @rkapka , this was diagnosed offline. It turns out @wavey0x 's geth node was doing nothing at all(no new blocks were being processed), so no new deposits could be inluded into the block by the validator.

[2022-01-07 14:34] prestonvanloon commented on #10059
@nisdas is there any corrective action to take here or can we close this issue?

@wavey0x were there any signs that your geth node was not operating correctly?
Was there anything we could add to Prysm to help notify of this issue?

[2022-01-07 17:17] #10048 closed

[2022-01-07 20:49] james-prysm commented on #9994
Working on Web3signer object mapping right now

[2022-01-07 23:39] terencechain commented on #10038
@SeaMonkey82 This is a cosmetic error. It has no harm to running prysm beacon node and validator. The error shows up because the test net uses a fake deposit contract to bootstrap a large validator count. I've hided the error when `--kintsugi-testnet` flag is applied on the beacon node

[2022-01-07 23:39] #10038 closed

[2022-01-08 22:21] michaelneuder commented on #9972
Hey Raul!

This is something I would like to take a swing at. I wanted to run my plan by you before diving too deep in case there is something obvious I am missing (highly likely).

This is how I am understanding the data flow of the URLs:
1. The flags `http-web3provider` and `fallback-web3provider` are set and parsed into a slice of strings, which is passed into the beacon node options [here](htt

[2022-01-09 03:08] terencechain opened #10067 "Support multiple bootnodes from CLI"
It will be great to support multiple boot nodes from the CLI command line with comma separation. (e.g `----bootstrap-node $BOOTNODE1,$BOOTNODE2,$BOOTNODE3... `). There's no other way to support >1 boot node other than hard coding in the config and invoking it using a flag

[2022-01-09 14:25] olegshmuelov opened #10068 "Validator data base64 encoded response"
using the last Prysm v2.0.5

in some cases when requesting validators data `eth/v1/beacon/states/head/validators`
the response data is base64 encoded instead of hex encoded

for example:
`eth/v1/beacon/states/head/validators?id=0x93266152b568d5587878f3590f30ff7e8f1d49cc85a2d71f66ef03efe7527227269b108fac399bb9cce9877845caf829`

response:
[code]
desired response:
[code]

also in some cases getting a

[2022-01-09 16:58] michaelneuder commented on #9972
FYI I wrote up a little proof-of-concept in https://github.com/michaelneuder/prysm/pull/1. I need to add tests and clean up obviously, but I am going to pause here before getting to invested in this implementation in case the approach needs to be adjusted.

[2022-01-09 21:17] prestonvanloon commented on #10067
You can specify the flag multiple times `--bootstrap-node=$BOOTNODE1 --bootstrap-node=$BOOTNODE2 --bootstrap-node=$BOOTNODE3`

[2022-01-09 21:21] terencechain commented on #10067
Gotcha. We just need to update the instructions then

[2022-01-09 21:24] prestonvanloon commented on #10067
Any of the `SliceFlag` type flags are the same. I.e. `--peer`, `--bootstrap-node`, `--p2p-denylist`, etc.

[2022-01-09 21:45] prestonvanloon commented on #10046
I agree with this sentiment. We should remove replace directives and either merge changes upstream or actually replace the imports with a forked repository.