[2018-01-27 03:05] Magicking opened #12 "Modify EVM for Sharding"
The EVM needs to be modified in order for sharding to works, unfortunately documentation is still in progress, I'm creating this issue to centralize the documentations and discussions for the work in progress implementation in Geth.

List of useful links:
 - https://ethresear.ch/t/tradeoffs-in-account-abstraction-proposals/263 (New opcodes proposal)
 - https://github.com/ethereum/vyper/issues/632

[2018-01-28 19:51] rauljordan opened #14 "Consider Case When ChainID != NetworkID When Signing Transactions"
On Ethereum Classic, ChainID != NetworkID and the following code would fail when signing the initial contract creation transaction in `vmc.go`:

[code]

We currently fetch networkID via the ethclient's NetworkID method, but we should consider situations in which this could break. Keeping it as an open issue for now.

[2018-01-28 22:26] rauljordan opened #16 "Allow user to specify whether he/she wants to become a validator upon client start"
Currently, the client will **automatically deposit 100ETH from the user's account** into the the VMC validator set. In the future, we need to allow users to specify whether or not they want to take this action, perhaps as a cli flag upon launching the sharding client.

`geth shard --joinvalidatorset`

will deposit the 100ETH automatically into the VMC.

`geth shard`

will start the client and **no

[2018-02-02 03:39] rauljordan opened #17 "Transaction simulator tool"
Hey guys,

We'll need a transaction simulator tool that can start when the sharding client is launched so that the client can have stuff to process into collations on the shards. Ideally, we can turn this into an independent cli tool that we can launch while our geth node is running.

[2018-02-04 15:48] prestonvanloon commented on #17
[Google doc](https://docs.google.com/document/d/1YohsW4R9dIRo0u5RqfNOYjCkYKVCmzjgoBDBYDdu5m0/edit?usp=sharing) on how this should work.

[2018-02-07 03:58] prestonvanloon opened #18 "Add unit tests for sharding manager solidity contract"
SMC: sharding/contracts/sharding_manager.sol

~Truffle framework looks promising http://truffleframework.com/docs/getting_started/solidity-tests~

Resolving this issue requires:

- Providing 100% coverage
- Unit tests for all code branches
- Adding test runs to Travis

[2018-02-07 08:04] enriquefynn commented on #18
Isn't better to test directly with go?

[2018-02-07 09:35] nisdas commented on #18
I dont think there is any framework for unit testing solidity in go

[2018-02-07 12:46] enriquefynn commented on #18
Calling functions in the VMC and checking the outcome can be done in go.

[2018-02-07 13:09] nisdas commented on #18
We could do the solidity testing using truffle then run a separate set of tests in go using the bindings to test functions in the VMC

[2018-02-07 14:31] prestonvanloon commented on #18
Testing from Go would be a more end to end test. We would need to simulate or run an actual chain to test the contract via Go. We could/should do both but we could really use some specific unit tests in solidity.

[2018-02-07 15:54] prestonvanloon commented on #18
Discussed in gitter. Truffle provides a test runner and some assertion libraries, but introduces new development dependencies. Given that we already can run tests and use Go's standard testing library, we should continue to write tests in go for purposes of unit testing the validator management contact.

[2018-02-09 19:54] Magicking commented on #12
# EVM Modification Strategy

The geth EVM support configuration via the [go-ethereum/core/vm.Config](https://godoc.org/github.com/ethereum/go-ethereum/core/vm#Config) type and more specifically the JumpTable.

Since I haven't seen any thorough discussion on how/when includes them I propose for now to use a specific EVM configuration for the sharding client that would includes the new opcodes (more

[2018-02-20 01:28] rauljordan opened #29 "Start implementing Collation interface/structs"
We need to start creating an interface for the Collation type and brainstorm the different methods we will require to interact with it.

When fetching information from the txpool and adding transactions into collations, we need to keep track of gas used, so a low-hanging fruit would be to start working on that functionality.

Specifically, I'm referring to the python pseudocode specified by the sh

[2018-02-25 21:18] #29 closed

[2018-02-25 21:27] rauljordan opened #34 "Add PR to go-ethereum repo to subscribe to pending tx's from JSON-RPC"
We need the ability to subscribe to pending tx's from the txpool of the running node through JSON-RPC but this functionality is not yet available upstream. A PR needs to be created and worked on to get that merged on both our end and their end.

[2018-02-25 21:32] rauljordan opened #35 "Add Top Level, Prysmatic Labs README For Our Implementation"
We need to transfer over the Prysmatic Labs implementation doc from google docs to a top level Github README for people to understand our project and how to get involved.

[2018-02-25 21:40] rauljordan opened #36 "Explain how we will forego certain security considerations for purposes of Ruby Release"
Hi team,

As discussed earlier, we will need to explain to the community how we will forego certain security practices for the purposes of the Ruby release (e.g. slashing, 2/3's signing from validators when supernodes validate collations, etc.).

This can be a specific section we talk about in the README, or we can create a Ruby Release README that has all the components necessary to run the first

[2018-02-25 23:11] prestonvanloon opened #37 "Collation: Check transaction does not exceed gas limit"
See TODO here: https://github.com/prysmaticlabs/geth-sharding/blob/972509a8c2d3934cb6711e467138ac471b43b344/sharding/collation.go#L33

[2018-02-25 23:13] prestonvanloon opened #38 "Unlocking accounts: Use bufio.Scanner or other reader"
See TODO here:

https://github.com/prysmaticlabs/geth-sharding/blob/972509a8c2d3934cb6711e467138ac471b43b344/sharding/client.go#L127-L128

[2018-02-25 23:15] prestonvanloon opened #39 "Join collator pool: check that account is not already in collator pool"
See TODO here:
https://github.com/prysmaticlabs/geth-sharding/blob/972509a8c2d3934cb6711e467138ac471b43b344/sharding/vmc.go#L58-L60

[2018-02-26 19:54] rauljordan opened #40 "Check that we are in the validator pool before calling getEligibleProposer"
Because there are no guarantees the deposit tx will be included in the immediate block, we need to first wait until we are in the validator pool before we call getEligibleProposer in the `collator.go` file.

[2018-02-26 19:57] prestonvanloon commented on #40
This came up in gitter. Here's a link for additional context: https://gitter.im/prysmaticlabs/geth-sharding?at=5a946517458cbde557cf1e97

[2018-02-27 01:19] prestonvanloon opened #42 "CollatorClient interface: Refactor Account()"
It's not a great developer experience to handle an error everytime we need to access the account for validation. If the account can be unlocked at the time the sharding client is created, then the unlocked account returned from `Account()` then we should refactor the interface from
https://github.com/prysmaticlabs/geth-sharding/blob/972509a8c2d3934cb6711e467138ac471b43b344/sharding/collator.go#L17

[2018-02-27 01:24] prestonvanloon opened #43 "Collator header subscriber: Error handling"
Handle error and edge cases for the collator header subscriber.

https://github.com/prysmaticlabs/geth-sharding/blob/972509a8c2d3934cb6711e467138ac471b43b344/sharding/collator.go#L38

[2018-02-27 01:41] terenc3t commented on #39
the deposit method in VMC checks if account is already in validator, the following err catches it

`tx, err := c.vmc.VMCTransactor.Deposit(txOps)`

[2018-02-27 04:09] terenc3t commented on #40
Merged #40, this can be closed

[2018-02-27 04:09] #40 closed

[2018-02-27 19:03] #38 closed

[2018-02-27 21:32] terenc3t commented on #42
resolved via #46

[2018-02-27 21:32] #42 closed

[2018-02-28 00:35] terenc3t opened #48 "create a simple prompt for user to confirm 100 eth will be withdrawn"
To improve UX, and on top of joinvalidatorset flag,  I think we should create a simple prompt to let users confirm we'll be taking eth out of their account to join validator set, it could just have user type **yes** or **no** to confirm

[2018-02-28 00:48] nisdas commented on #48
Wouldn't `-- joinvalidatorset` imply that though ? I dont think they would use that flag if they didnt intend to deposit 100 eth

[2018-02-28 13:29] terenc3t commented on #48
Good point, I'm gonna go ahead and close this, let me know if anyone still thinks this is necessary

[2018-02-28 13:29] #48 closed

[2018-02-28 15:47] terenc3t commented on #16
This is done via #41

[2018-02-28 15:47] #16 closed

[2018-02-28 18:33] terenc3t opened #50 "Allow user to withdraw fund and to leave validator set"
Let's create a cli flag for user to withdraw funds and to leave the validator set
`geth shard --leavevalidatorset`

[2018-03-06 03:08] prestonvanloon opened #52 "Docs: Life of a Transaction in Sharding: Diagram"
Add flowchart or some graphic to illustrate the life of a transaction in a sharded system.

[2018-03-06 03:13] prestonvanloon opened #53 "Docs: Add TXgen Design Doc in Markdown"
[Google doc](https://docs.google.com/document/d/1YohsW4R9dIRo0u5RqfNOYjCkYKVCmzjgoBDBYDdu5m0/edit)

It needs a few updates for the new strategy of separating collator/validator responsibilities and p2p networking details.

[2018-03-06 04:06] #36 closed

[2018-03-06 05:01] #35 closed

[2018-03-06 18:57] nisdas opened #59 "Proposer Client Implementation Notes"
After the core Team meeting on the 24th of March and to align with the updated Sharding Spec , the Proposer Client Implementation will be as following :

In Phase 1 for our implementation there will be no state execution and no P2P wire protocol will be implemented and everything will be implemented using the local file system. Also the collations will basically consists of blobs of random data ra

[2018-03-06 21:51] rauljordan commented on #59
Hey @nisdas @prestonvanloon @terenc3t, as we just discussed over chat, we need to figure out the major functionality behind a collator node and how we can split its parts up into multiple tasks distributed across the team.

My proposal is that we will need the following PR's:

- [ ] Subscribe to pending tx's from the geth node and filter out the ones that ask for too much gas
- [ ] Process pending

[2018-03-06 22:06] rauljordan opened #61 "Collator Client Modifications"
Hi All,

As we have separated state execution and consensus into collators and proposers, respectively, we'll need to create new PR's to split up work effectively.

I propose the following potential PR's:

- [ ] Once a collator is selected, he/she needs to fetch collations from the proposals pool and take the one with the highest payout.
- [ ] Collator needs to countersign the selected collation a

[2018-03-07 01:52] terenc3t opened #63 "Proposal Pool Implementation Notes"
Let's use this to figure out the implementation detail of the proposal pool. Propers submits collations to the proposal pool, and Validators subscribes and fetches collations from the proposal pool  Here is the functionality splits up into multiple tasks

- [ ] API to inspect collations - list the details of all the collations currently pending/queued for inclusion in the next block
- [ ] API for

[2018-03-07 15:11] vs77bb commented on #18
@rauljordan Great to meet you at ETHDenver - Vivek from Gitcoin here. Would it be helpful to bounty this to our dev community? Is there another issue which is higher priority at this time + fits the 'good first issue' mold for someone wanting to come contribute?

[2018-03-07 16:45] terenc3t opened #64 "Modify Sharding Management Contract to Align With New Phase 1"
SMC needs to make the following modifications for Proposer

- [ ] add Proposer struct and mapping (similar to the Validator's stack implementation)
- [ ] functions to deposit and withdraw
- [ ] functions to verify Proposer's signature, deduct Proposer's bid from deposit upon receiving collation header

Let me know if I miss anything

[2018-03-08 16:25] rauljordan opened #65 "Rename Terms Across Repository to Match New Glossary"
Hi Everyone,

As recently mentioned on Gitter, we'll need to revise our old terminology spread out across our projects, pull requests, issues, code, and documentation to match the new glossary. The terms we have to change are the following:

- **collators** (old glossary term is validator) are agents selected by the smart contract to reach consensus on collations that will be added to the mainchai

[2018-03-08 18:17] enriquefynn commented on #65
WIP in #67

[2018-03-08 18:19] enriquefynn commented on #65
I also think we should rename **period** to **dynasty**

[2018-03-08 18:31] terenc3t commented on #65
WIP for code in #66

[2018-03-11 22:51] #65 closed

[2018-03-12 15:55] terenc3t commented on #63
Created the following design doc to track open questions:
https://docs.google.com/document/d/1stdJD00efftDTeofRNhSLPXY9S5O-vyhfsBBmUJOnqk/edit?usp=sharing

[2018-03-12 18:14] terenc3t opened #70 "Header with GNU/GPL license text"
Opening this issue to discuss the necessity of putting a license notice in our header. The license notice makes the header of the file cluttered, and we should have a sweeping license in the root of the project. Let's evaluate our options to avoid possible legal complications for the future

[2018-03-13 18:55] rauljordan commented on #70
I would recommend we hold off on this. We have a license in the top-level README at the bottom of the file.

[2018-03-13 18:56] #34 closed

[2018-03-14 01:23] rauljordan opened #72 "Sharding P2P Protocol Specs Proposition"
Hi Team,

As part of this issue I would like to propose we use **libp2p** as our sharding networking protocol. It is a solid library created by Protocol Labs and currently powering IPFS. Let's use this issue to elaborate on this as much as we can and discuss if we want to integrate this.

Let's figure out how different it is from devp2p and if it would be worth our while to try this approach.

Her

[2018-03-14 01:52] terenc3t commented on #72
Check out Felix's slide on evolving devp2p from devcon3:
https://twurst.com/files/devcon3-evolving-devp2p.pdf

Also WhisperV6 runs on libp2p because whisper peering sucks on devp2p

[2018-03-14 14:36] Magicking commented on #72
For a different [project](https://github.com/Magicking/protochannel) I
looked at devp2p & libp2p.
Libp2p was what we choosed to experiment[1] with mainly because it looked
more mature, seemed to be more used in the wild and there were good
[examples](https://github.com/libp2p/go-libp2p/tree/master/examples) to
begin with while I'm less convinced by devp2p due to the lack of easy to
read examples &

[2018-03-15 03:08] prestonvanloon commented on #70
If we do decide to do this, there are many tools to easily add the preamble.

[2018-03-18 04:29] prestonvanloon commented on #52
I think the infographic is a good example: https://www.icloud.com/keynote/05Q0CUa8WRPrvPx0tVgLTri_A#Ethereum_Sharding_Infographic

Specifically section 8. What's missing here is the process by which proposer collect and manage transactions. It would be helpful to visualize p2p communication from Ethereum user to packaged collation.

[2018-03-21 02:26] rauljordan commented on #64
# Framework to Modify SMC

(Phase 1 New Spec SMC Changes)[https://ethresear.ch/t/sharding-phase-1-spec/1407]
We will be including the methods from the SMC phase 1 spec

[2018-03-21 02:46] prestonvanloon commented on #64
@enriquefynn can you update this issue? The requirements that @terenc3t outlined are not accurate.

[2018-03-21 03:46] terenc3t commented on #64
Sorry, we do need to update this issue. Those requirements were before phase 1 spec

[2018-03-21 04:00] enriquefynn commented on #64
I'll make a PR, when I have a more or less functioning implementation from the spec @rauljordan referenced. Basically what we need is in the spec, doesn't make much sense to replicate it here

[2018-03-21 05:41] rauljordan commented on #70
It makes the most sense that we will be sticking to the go-ethereum license for our sharding implementation. Closing this issue unless anyone has important concerns at the moment.

[2018-03-21 05:43] nisdas commented on #72
I did an overview summarizing what devp2p and libp2p would entail , you guys can take a look for it here https://docs.google.com/document/d/1K9NVV2SBjxdgejWnip3l-ZYyknOdWu6i5Ot_X_y6t1k/edit?usp=sharing

I am in agreement with Raul that for us using libp2p would be a better option than devp2p owing to the fact the former has more robust documentation , libp2p was designed to be able to use a much w

[2018-03-21 05:58] prestonvanloon commented on #70
That isn't the question. The question is: do we need to add the license preamble to our new files?

[2018-03-21 06:03] Magicking opened #74 "Collator connection to Ethereum node: Use any full-duplex protocol available"
Collator client actually enforce the use of IPC whereas any full-duplex (e.g: WebSocket) should work.

[2018-03-21 06:11] prestonvanloon commented on #74
This is a nice-to-have but not a requirement for any milestone, IMO.

[2018-03-21 07:29] Magicking commented on #74
Pebcak problem, closing.

Valid use as of #9e90de44fb1f
`geth sharding-collator [...] ws://host:port/`
without --ipcpath.

[2018-03-21 07:29] #74 closed

[2018-03-23 12:11] Magicking commented on #72
As I re-read this issue, there is also something missing as libp2p or devp2p would only be the network layer where we also need a protocol specification to define the standard communication mecanism, it's certainly an issue we should tackle upstream (https://ethresear.ch/c/sharding)

[2018-03-23 12:28] enriquefynn commented on #72
I think this should be pushed forward in the implementation. We don't need any p2p network for a local client.

[2018-03-23 12:30] nisdas commented on #72
We would need for our proposer node , since it is using a separate transaction pool to the main client

[2018-03-23 12:32] enriquefynn commented on #72
Can you elaborate why you need a p2p network for a *local* implementation?

[2018-03-23 18:21] enriquefynn commented on #72
We don't need any p2p network for a **local** client, I'm pushing this to the sapphire release

[2018-03-24 16:01] prestonvanloon commented on #70
Raul will confirm with go-ethereum team

[2018-03-24 16:04] prestonvanloon commented on #61
Can you split this into subtasks?

[2018-03-24 17:47] terenc3t commented on #52
Is the infographic good enough to use and to close this issue? I can help with this if anything is needed

[2018-03-24 17:48] terenc3t commented on #39
We can close this issue. SMC's deposit method checks if the account is in collator pool

[2018-03-24 20:56] terenc3t opened #79 "Collator design for phase 1"
Here are the functions collator needs to implement for proposal/collator game in phase 1 Sharding. Feel free to edit/add anything I missed

- [x] Fetch for incoming block headers
- [x] Check for eligible collator from SCM
- [ ] Sort proposals by highest bid
- [ ] Commitment scheme to proposers for the looked at proposals
- [ ] Challenge response scheme to answer proposer's challenge
- [ ] Windback

[2018-03-24 20:56] terenc3t opened #80 "Proposer design for phase 1"
Here are the functions proposer needs to implement for proposal/collator game in phase 1 Sharding. Feel free to edit/add anything I missed

- [ ] Process transactions (dummy data) into collation bodies and collation headers
- [ ] Propose collation header or collation body to collator
- [ ] Check for commitment from collator
- [ ] Challenge scheme to challenge collator who doesn't download collatio

[2018-03-24 21:12] prestonvanloon commented on #52
I'd like to keep this open until p2p is more defined

[2018-03-24 21:13] prestonvanloon commented on #39
The TODO still exists

[2018-03-27 05:52] jamesray1 commented on #12
For clarity on why this was closed, according to [the draft phase 1 spec](https://ethresear.ch/t/sharding-phase-1-spec/1407) the EVM won't be specified until phase 2.

[2018-03-30 07:36] rauljordan commented on #70
Confirmed by Peter from the geth team. We will use LGPL for lib code and GPL for binaries. Closing.

[2018-03-30 12:09] prestonvanloon commented on #70
We shouldn't close this until it is resolved.
Your comment confirms that we need preambles before merging upstream so we'll need it eventually.

[2018-03-30 14:32] prestonvanloon opened #84 "Add gitcop and similar restrictions as go-ethereum"
We're already facing a huge problem with go-ethereum coding guidelines

[code]

We'll need to retroactively conform to these guidelines as well, and it likely won't be very fun, but this should be done sooner rather than later.

[2018-04-01 02:37] terenc3t commented on #84
py-evm's commit message structure:
- What was wrong?
- TODO
- How was it fixed?
- Cute Animal Picture

[2018-04-01 02:46] terenc3t commented on #84
vyper's commit message structure:
- What I did
- How I did it
- How to verify it
- Description for the changelog
- Cute Animal Picture

[2018-04-01 02:48] terenc3t commented on #84
solidity doesn't have a commit message structure, it refers to issue

[2018-04-01 02:50] terenc3t commented on #84
Casper's commit message structure:

- Issue
- Proposed implementation

[2018-04-02 00:05] prestonvanloon commented on #84
I reached out to the folks at ethereum/go-ethereum to get a copy of their gitcop configuration. I've also enabled gitcop (I think), but it might not be the same rules until I hear back.

I'll rebase all of our commit messages, but it will take a me a little while to do it since there are 3 months worth of messages that do not conform to the rule.

From now on, we must use the `sharding: ` prefix t

[2018-04-02 00:25] terenc3t commented on #84
Let me know if you need help on rebasing our commit msgs

On Sun, Apr 1, 2018 at 5:05 PM Preston Van Loon <notifications@github.com>
wrote:

--
Terence

[2018-04-02 01:59] prestonvanloon commented on #84
Yeah, any clue how to do this properly? I tried `git rebase -i ` and changed the commit messages in the git-todo along with setting it to "reword", but it seems to have not reworded anything and just double signed all commits. https://github.com/prysmaticlabs/geth-sharding/compare/master...prestonvanloon:forced-rebase

[2018-04-06 15:05] terenc3t commented on #80
Details: https://docs.google.com/document/d/1WRx2T6YuUr6wKCjVrv8q2Mv1-ACvJ7BAHDysnExVg44/edit#heading=h.5z805i39z8yb

[2018-04-06 15:05] terenc3t commented on #79
Details: https://docs.google.com/document/d/1WRx2T6YuUr6wKCjVrv8q2Mv1-ACvJ7BAHDysnExVg44/edit#heading=h.5z805i39z8yb

[2018-04-08 13:40] prestonvanloon opened #89 "SMC Changes for a minimal sharding protocol"
The research team has identified a few new changes in "`spec 1.1`" that they are confident will not be removed in a future specification.

High level requirements (please check off these as PRs are merged):

- [x] Anyone can call addHeader(period_id, shard_id, chunks_root) at any time. The first header to get included for a given shard in a given period gets in, all others don’t. This function jus

[2018-04-08 13:43] prestonvanloon commented on #64
There are some new requirements for SMC, see https://github.com/prysmaticlabs/geth-sharding/issues/89

[2018-04-10 20:37] terenc3t commented on #89
Adding new requirements after latest research thread:

- [ ] SMC initializes proposer_registry per shard which keeps track of proposer deposits
- [ ] proposer client calls get_eligible_proposer to sample per shard per period
- [ ] shard uses main chain block hashes delayed by 20 mins

Reference:
[Expanding on proposer/notary seperation](https://ethresear.ch/t/expanding-on-proposer-notary-separatio

[2018-04-10 20:43] enriquefynn commented on #89
We shouldn't use "minutes" when talking about casual time dependencies, since we don't have a real time clock.

[2018-04-10 21:04] rauljordan commented on #89
@terenc3t thoughts on integrating the changes from the proposer/notary separation into the minimal sharding protocol? We need something we can start implementing asap.

[2018-04-10 21:05] rauljordan commented on #61
Closing for now. Gonna continue any discussion in  #79

[2018-04-10 21:05] #61 closed

[2018-04-10 21:06] rauljordan commented on #64
Closing this for now for neatness purposes. We'll continue in #89.

[2018-04-10 21:06] #64 closed

[2018-04-10 21:18] terenc3t commented on #89
@rauljordan We have enough information to start making changes on the SMC. I prefer we make incremental changes and open small/medium sized PR in parallel with the progress of the research side.

Besides p2p, what we can start implementing now:
- Proposer client can sample for _getEligibleProposer()_ and call _addHeader()_
- Notary client can call _submitVote()_
- SMC emits logs for _addHeader()_

[2018-04-11 00:29] prestonvanloon commented on #89
Some hints from py-evm https://github.com/ethereum/py-evm/issues/539

[2018-04-12 02:47] nisdas commented on #59
Closing this as proposer client is deprecated with the new spec

[2018-04-12 02:47] #59 closed

[2018-04-12 02:50] nisdas commented on #80
Closing this as it is not relevant anymore with the new spec , same reason as for #59

[2018-04-12 02:50] #80 closed

[2018-04-12 02:52] nisdas commented on #63
Closing  this as not relevant anymore with the new spec

[2018-04-12 02:52] #63 closed

[2018-04-19 03:28] rauljordan opened #94 "Design Spec for a Sharding Visualization Front-End"
The goal of this potential project is to create a web front-end that visualizes a sharded Ethereum blockchain network. Could be built as an extension to [ethstats](https://ethstats.net) or as its own, independent interface.

**Requirements / Acceptance Criteria**
- Ability to inspect transaction load on n number of shards
- Ability to visualize cross-shard interactions
- Ability to see number of n

[2018-04-20 12:43] vs77bb commented on #94
Hi @justpixel! Could you please comment with your plan of action for this ticket / any clarifying questions you might have? Excited to see your interest.

[2018-04-23 13:48] justpixel commented on #94
@vs77bb @rauljordan I think the first step is to build a wireframe. Do you use any IM where we can chat?
Thanks.

[2018-04-23 15:44] rauljordan commented on #89
Being worked on in https://github.com/prysmaticlabs/geth-sharding/pull/93 already

[2018-04-23 16:28] rauljordan commented on #84
What do we need to get this closed? Do we just have to update all our previous commit msgs?

[2018-04-23 16:36] prestonvanloon commented on #84
Yeah and enable gitcop. I have the settings from Peter in an email. If you know of an easy way to update all of the previous messages, let me know!

[2018-04-23 16:38] prestonvanloon commented on #94
@justpixel join us on gitter

https://gitter.im/prysmaticlabs/geth-sharding

[2018-04-23 16:55] rauljordan commented on #79
A lot of this is part of the deprecated phase 1 spec, and the SMC is the only relevant part at the moment which is being worked on in #93. Closing for now.

[2018-04-23 16:55] #79 closed

[2018-04-23 16:56] rauljordan commented on #43
Thoughts on requirements for getting this closed? Let's discuss what the problems of naive disconnection would be. Would notaries lose stake? What would occur?

[2018-04-23 16:57] rauljordan commented on #18
Can this be closed? We are testing using the go bindings and I think that is good enough for our purposes.

[2018-04-23 16:59] rauljordan commented on #39
Status on this issue? Can this be closed? @terenc3t @prestonvanloon

[2018-04-23 16:59] rauljordan commented on #37
This is not relevant as we have still not even discussed execution engines for the later phases. Let's close as I do not see this being a discussion for a while after Ruby release.

[2018-04-23 17:29] rauljordan commented on #18
Let's close in this case.

2018年4月23日(月) 10:24 terence tsao <notifications@github.com>:

--
Sent from Mobile

[2018-04-23 17:30] rauljordan commented on #39
Perfect, feel free to close @terenc3t.

2018年4月23日(月) 10:23 terence tsao <notifications@github.com>:

--
Sent from Mobile

[2018-04-23 17:31] #18 closed

[2018-04-23 17:31] #39 closed

[2018-04-23 19:39] prestonvanloon commented on #37
The TODO still exists. Please do not close issues without resolving the TODO.
https://github.com/prysmaticlabs/geth-sharding/blob/master/sharding/collation.go#L38

[2018-04-23 19:41] prestonvanloon commented on #14
Moving to full production release (diamond)

[2018-04-23 19:42] prestonvanloon commented on #43
FYI this TODO has moved to https://github.com/prysmaticlabs/geth-sharding/blob/master/sharding/collator/collator.go#L32

[2018-04-27 09:42] justpixel commented on #94
@rauljordan @prestonvanloon
I've made this wireframe with a dashboard of widgets, each widget representing a requirement:

- **Transaction load / shard** - Ability to inspect transaction load on n number of shards
- **Cross-shard interactions** -  Ability to visualize cross-shard interactions
- **Number of nodes / shards** - Ability to see number of nodes and distribution of nodes across shards
-

[2018-04-27 10:00] jamesray1 commented on #94
This looks good! I think what would also be good to see is a geographical distribution of nodes e.g. like https://www.ethernodes.org, where you can select by a shard, or it's colour-coded by different shards. And as mentioned above, "Some way of visualizing the actual p2p network topology" would be nice, but that might be tricky until the p2p sharding protocol is more well-developed.

[2018-04-30 02:46] prestonvanloon commented on #94
@justpixel Can you elaborate on why this is a good design?
I'm curious how the data will be represented in a meaningful way.

Transaction load / shard: How is this quantified? Is the average fullness of last N blocks for each shard? There will be around 100 shards, possibly more in the future. While these widgets look nice in the wireframe you have presented, have you considered how this will look

[2018-04-30 03:10] terenc3t commented on #94
@justpixel What does the color represents for **Collations / shard** widget?

[2018-04-30 15:57] justpixel commented on #94
@prestonvanloon @jamesray1 I'll be away for two weeks, so if it's anybody that wants to continue the work from here feel free to jump in.

[2018-05-01 07:00] ConnorChristie commented on #94
I took a stab at a design for information at the period level per each shard and I came up with this timeline concept that allows the shard to be selected and the period.

Not sure whether there will ever be more than 5 periods but if so then that could probably switch to a dropdown as well.

I am unsure of the bubbles on top, they would most likely go underneath as some sort of short stats for th

[2018-05-01 10:55] jamesray1 commented on #94
Nice! The expectation is that the number of shards will be constant at around 100 initially, although they may grow over time. So being able to not just pick a block and see how many shards it has, but see a range of blocks where there was X number of shards, then the next range where the number of shards increased, and so on. But I suggest not implementing that visualization until we have a bette

[2018-05-01 13:06] ConnorChristie commented on #94
Here is an alternative mockup (more adminish), this one has much more detail and shows an overview of each shard's statistics. Another page will probably come soon after this detailing the information around a specific shard.

![image](https://user-images.githubusercontent.com/1206980/39473812-dd15fab8-4da4-11e8-8a5c-453b796c0178.png)

[2018-05-02 09:30] ConnorChristie commented on #94
Here are two different graphs that I believe can fit the role of displaying cross-shard interactions, let me know which one seems better!

![image](https://user-images.githubusercontent.com/1206980/39516106-09550b36-4e50-11e8-93c2-e62633a1549e.png)

[2018-05-02 15:10] rauljordan commented on #94
Really great mockup @ConnorChristie ! I like the graph on the left for cross-shard tx's as it is easier for me to see the links between shards. I imagine the graph on the right would get pretty hairy the more shards are added and it could become difficult to visualize the edges. Thanks for putting this together, this is awesome.

[2018-05-02 15:12] rauljordan commented on #89
@terenc3t and @prestonvanloon can we close this?

[2018-05-02 15:13] rauljordan commented on #43
Bump @prestonvanloon. What do you envision are the requirements to get this closed? What could a PR for this look like?

[2018-05-02 15:44] terenc3t commented on #89
Let's close this after #97. We are almost there

[2018-05-02 15:53] rauljordan opened #99 "Create a Shard Interface/Struct With Useful Receiver Methods in Client Package"
Hey all,

To proceed with the shard local state storage, I am creating this issue and a PR shortly to include a Shard interface/struct in our client package. This interface will have a lot of useful receiver methods for checking availability, interfacing with the shardDB backend, and fetching collations/headers from within a certain shard.

## Context

This was worked on in Py-EVM https://github.c

[2018-05-02 15:55] terenc3t commented on #94
Great job @ConnorChristie. I prefer the left one as it's more manageable when shards get large. Do you have a mockup to display the stats of the individual shard? Everything else looks really good!

[2018-05-02 16:39] nisdas commented on #94
It looks really good @ConnorChristie , I like how you have all the shard metrics on display. It looks really intuitive for the user. Also the one on the left looks better for cross-shard visualization. Great Job!

[2018-05-03 05:17] rauljordan opened #102 "Sharding-Enabled Merkle Trie Design Choices"
Hi all,

This issue will explore all of the latest talk around what Merkle tree scheme we will follow as part of our sharding implementation. As #100 is being worked on, it is important to discuss the state trie design as it is beyond the scope of that PR. Sharding gives us a unique opportunity to optimize Ethereum's state tries in ways that were not possible before.

In its current form, Ethereum

[2018-05-03 17:44] prestonvanloon opened #104 "Fix travis failures caused by #98"
This is blocking all PRs now

#98: see https://travis-ci.org/prysmaticlabs/geth-sharding/builds/374024398

[2018-05-03 22:13] #104 closed

[2018-05-04 11:58] Magicking commented on #102
### Data availability
The Reed-Solomon approach seems more complex in term of algorithm and structure that having something close to a flat layout (nonce, balance, code, storage) in a simple tree (where hash can then easily be used for adressing).

### Proof footprint
I also liked the idea of having smaller proof/receipt/simple-walk-along-**one**-tree in a environment where we are highly restricte

[2018-05-04 21:10] rauljordan commented on #94
# Final Requirements for Closing the Bounty

Hi @ConnorChristie and all, as a final requirement to close this bounty, we'd like you to answer the following user stories in order to understand how your design offers efficient solutions to them.

1. Bob wants is thinking about deploying a new contract that he expects to have high traffic. Bob wants a shard with mostly non-full collations so he can t

[2018-05-05 10:58] jamesray1 commented on #94
That would be an upper bound on the MB, assuming all collations are full.

[2018-05-06 20:25] rauljordan commented on #94
Hi @ConnorChristie, we really like your responses to the questions and the work you put together. Great job! We are happy to now **close** this bounty and award the ETH to you.

[2018-05-09 02:53] prestonvanloon opened #106 "Propose collations onto SMC"
In particular, this involves implementing the proposer here: https://github.com/prysmaticlabs/geth-sharding/blob/master/sharding/proposer/proposer_client.go

Blocked by #89

[2018-05-09 02:56] prestonvanloon opened #107 "Notaries vote on collations"
This would involve cleaning up the notary logic here: https://github.com/prysmaticlabs/geth-sharding/blob/master/sharding/notary/notary.go

As well as implementing the necessary actions for a notary to take each period.

Blocked by #89

[2018-05-09 03:00] prestonvanloon opened #108 "Clients Can Join the Network, Sync, and Propagate Messages"
This is a mega issue and might need to be broken up into smaller tasks.

- [x] Clients can join the network
- [x] Clients can sync collations
- [x] Clients propagate messages
- [ ] Clients are selective about their peers (torus network?)
- [x] p2p messages are defined

TODO: Add more tasks to the list above and/or break into smaller issues.

We had some discussion in #72, but bumped it to Sapphire

[2018-05-09 03:03] prestonvanloon opened #109 "Clients store chaindata in local KV store and can produce it later"
Extending #99... this is a tracking issue for clients to store their chain data such that they can produce it when they receive the message "Hey, do you have collation 55?" and they can respond with collation 55.

[2018-05-09 04:59] terenc3t commented on #106
I'll take on this. Will open a PR after #97

[2018-05-09 05:36] nisdas commented on #107
I will be taking this on after I am done with #92

[2018-05-09 14:52] rauljordan commented on #109
Perfect, I will take charge on this after #100. This will most likely involve having an event that is triggered through p2p and will fetch the collation information stored in the local file system.

[2018-05-09 14:53] rauljordan commented on #108
Best places to start are in defining the barebones p2p messages + the initial join/handshake as PR's @prestonvanloon

[2018-05-09 16:57] prestonvanloon commented on #108
Yes. I'll flush this out in a design, but those are probably the best places to start based on the exploration I have done so far.

[2018-05-09 21:15] terenc3t opened #110 "Refactor Overall Test Structure"
## Context
To efficiently maintain all our tests, I am creating this issue to discuss the state of our current tests and how we can refactor them to be better. There's a lot of reusable test code that can ported to a test helper/util like file. Then we can re-use the test helper functions to avoid repeatable code tests

### Current test structure:
- **contracts**
   - sharding_manager_test.go
- **

[2018-05-10 00:53] terenc3t commented on #110
The tests will live next to the file they are testing. I've updated the proposal with library files

[2018-05-10 03:56] #89 closed

[2018-05-10 15:28] terenc3t commented on #106
To add more color into this issue. Here are the major functions a proposer will implement:

- Creates collation
- Signs collation
- Sends `addHeader` transaction to SMC
- Broadcasts the CollationBody to shard network

[2018-05-12 15:49] #94 closed

[2018-05-12 15:55] rauljordan opened #112 "Calculate Chunk Root Using Blob Serialization & Proof of Custody"
Hey all,

To continue with the work done on #100 and #92 with respect to creating a `Shard` struct and the blob serialization implementation done by @nisdas, we now need to calculate ChunkRoot according to the serialization algorithm on the body of a collation.

# Context

In #100, I included a simple `CalculateChunkRoot` method on the `Collation` type. Given this was out of scope of my PR and blo

[2018-05-13 15:15] prestonvanloon opened #114 "--deposit tries to deposit as a notary when already deposited"
This flag should really confirm that we are not already deposited because this is an unpleasant error.

To reproduce:
Deploy the contract, deposit ETH as a notary, update config.go with the contract addres, then try to deposit again.
[code]

[2018-05-13 15:17] prestonvanloon opened #115 "Running a notary always tries to deposit 1000ETH"
To reproduce:

Deploy the contract, deposit ETH as a notary, update config.go with the contract address, then run the client as a notary again without `--deposit`.

[code]

[2018-05-13 17:56] #115 closed

[2018-05-13 20:37] #114 closed

[2018-05-15 15:35] terenc3t opened #119 "SMC missing notary deposit field"
The amount of notary balance is missing from the notary struct in SMC. We should add it to track the balance of deposit amount since there will be slashing condition for the notaries.

What to fix:
1. Notary struct should track notary deposit balance
2. When releasing notary, send current balance instead constant `NOTARY_DEPOSIT`

A similar [issue](https://github.com/ethereum/sharding/issues/80) w

[2018-05-15 20:35] #119 closed

[2018-05-16 05:05] rauljordan opened #122 "Exploring the Current Client Protocol Architecture"
Hi all,

As more of our sharding client code is being created in our fork, it is critical to understand the design considerations of the current Ethereum nodes baked into go-ethereum. In particular, our notary/proposer clients need to be designed with good event loop management, pluggable services, and solid entry points for p2p functionality built in. As a case study, we will be looking at lights

[2018-05-16 17:25] terenc3t commented on #122
Great read! it definitely opened my eyes. We should turn your write up into a Medium article to benefit broader audiences.

Take Notary as an example, do we think the following is the right path?

`makeNotaryNode()` gets notary config by calling `makeConfigNotaryNode()` and registers notary services by calling `registerNotaryService()`. Then `makeNotaryNode()` starts notary node via `startNotaryNo

[2018-05-16 17:47] rauljordan commented on #122
I'm not a fan of the complicated config setups that are spread across multiple files, but I'm a fan of having a bunch of services that implement a certain interface be attached to our notary client with each of them having a `.Start()` func. I don't think we should copy exactly what they did, but instead trim it down as much as possible and keep the good parts that leverage concurrency.

[2018-05-16 21:45] rauljordan commented on #122
Hey all,

So thinking more about this as I transition into creating a PR for #109, here is a proposal I would like to make for our sharding clients moving forward. As our code base grows, it's important to think about how we can best leverage concurrency, event management, and simple configuration options that don't cause any headaches to those reading our work. There are elements of the light nod

[2018-05-16 23:17] terenc3t commented on #122
Looks good. In regard to how clients interact with each other, check out this LES flow control writeup: https://github.com/zsfelfoldi/go-ethereum/wiki/Client-Side-Flow-Control-model-for-the-LES-protocol

[2018-05-18 03:45] rauljordan opened #125 "Use Blob Serialization to Construct Collation Instances"
We can resolve some TODO's by taking advantage of the blob serialization algorithm created in #92 by @nisdas. When creating a new collation object and having access to the collation's byte serialized body, we can deserialize that body into a slice of transactions that we can pass into the `NewCollation` function.

An example of this is in `shard.go`, but there are other similar todo's.

[code]

[2018-05-18 22:40] rauljordan opened #126 "Revamp the Sharding Client Entry Points / Architecture"
Hi all,

This is an issue that expands upon #122 to restructure our sharding client effectively. We need to leverage the first-class concurrency Go offers and allow for more modularity in the services attached to our running clients.

This is a very big topic requiring extensive discussion and design, so I propose a simple PR to get things started.

## Requirements

- Refactor the entry point of t

[2018-05-18 22:48] terenc3t commented on #126
Yes. I agree this is the next logical issue/PR to tackle. Once this is done, we can begin service implementations for `notary` and `proposer`. It's gonna be fun! Let me know if you need help with the PR

[2018-05-18 22:50] terenc3t commented on #37
The TODO is no longer there. We can close this issue

[2018-05-18 22:50] #37 closed

[2018-05-19 06:30] nisdas commented on #126
Yeah agreed this is a good first step in order to tackle the issues raised in #122. What are the advantages of using a flag like `--nodetype="proposer"` instead of `sharding-proposer` for the entrypoint for sharding ?

[2018-05-19 19:49] prestonvanloon commented on #126
I agree with refactoring to support a modular node framework. Our existing code relies on a running geth node to connect to. These changes will make the sharding actors run as independent and self contained nodes.

[2018-05-21 03:35] rauljordan commented on #126
Ok so here's how I've been approaching this:

In `/cmd/geth/shardingcmd.go`
[code]

Then, `sharding.NewNode` has the responsibility of registering all the config options of the cli, registering different sharding services, and managing their lifecycle.

## Service Registration

Then, within this `NewNode` func, we register a few services depending on the cli flags. If `utils.flags.ClientType` is s

[2018-05-21 16:07] terenc3t commented on #126
I'm a fan of attaching services as protocols to each actor (proposer/notary). What should a client do if he just wants to be an observer? In that case he wouldn't register `NewNotary` or `NewProposer` service, but still needs to StartP2P `protocolManager.StartP2P()`. The observer will also wanna goto a specific shard, we can get the shard number from cli.

[2018-05-21 16:13] rauljordan commented on #126
Yeah this model allows for us to easily do this via cli flags. If client type is not set then the node just becomes an observer in this case.

[2018-05-22 15:57] rauljordan opened #129 "Setup a Simple libp2p Echo Server as a Service Attached to Sharding Node"
Hi all,

As a simple way to integrate libp2p and to begin our experimentation of libp2p into our repo, we can start by setting up a bootnode that serves a simple echo server, and attach another libp2p node to our sharding node as a `Service` (see #127). Let's keep this constrained a package called `p2p` under the `sharding` package in our repo.

We can register this echo service in the `registerSh

[2018-05-22 22:56] rauljordan commented on #129
Could be interesting to check out the work done in other PR's like: https://github.com/ethereum/go-ethereum/pull/16419

[2018-05-22 22:58] terenc3t commented on #129
I'm also interested in the development of this [thread](https://github.com/libp2p/libp2p/issues/33)

[2018-05-23 14:48] rauljordan opened #132 "Reduce References to cli.Context of the Sharding Node in its Services"
Hi all,

As pointed out by @prestonvanloon in the comments in #127, we have a bunch of places where we reference the sharding node's .Context(). It would be best if we can simplify this by instead just passing in the values the services will need. Instead of calling .Context() to fetch a cli flag, we could just pass in that cli flag instead. This makes it clear to the reader what cli args each ser

[2018-05-24 02:03] nisdas commented on #125
Assigned to [Eli](https://github.com/elihanover)

[2018-05-24 20:46] terenc3t opened #134 "Optimize collation serializer and deserializer functions"
We can further optimize collation serializer and deserializer collations functions as the following:
- Serializer function should be pure, it should not depend on a collation pointer receiver
- `collation.Serialize()` can be deleted because we can get the same data from `collation.Body()`
- `collation.Deserialize()` can be deleted because we can get the same data from `collation.Transactions()`

I

[2018-05-24 21:05] terenc3t opened #135 "Should We Store Both Txs and Chunks Inside Collation?"
I'd like to start an a discussion for the following. In Collation structure, we have`body` and `transactions` fields.
[code]
`body` stores chunks from serialized `transactions`. Once we serialize `transactions` into chunks and store chunks into `body`, should we store the `transactions` into the collation along side with `body`?
[code]
The downside is the duplication of transactions in memory foot

[2018-05-24 22:30] #122 closed

[2018-05-24 22:30] #126 closed

[2018-05-24 23:01] rauljordan commented on #135
My first instinct is that serializing/deserializing frequently will depend on the requirements of proposers and notaries as we build them out. I'd rather assume we will be doing this frequently than not, as it seems easier to refactor and scale down that way.

[2018-05-25 02:09] nisdas commented on #135
I would rather we store chunks and transactions in the collation for now. If it does cause any significant performance issues we can always refactor and remove it in the future

[2018-05-25 02:21] prestonvanloon opened #139 "Improve Serialization Performance"
I ran some benchmark tests against a few simple round trip serializations for collations and found tha the performance was not that great. I wonder if the bottleneck is within our serialization code, RLP, or something else.

Any improvements in this area should reference this issue.
This can be closed once we come to a consensus that the serialization is the absolute most efficent that it could ev

[2018-05-25 02:34] prestonvanloon commented on #132
To shine more light on this: my specific suggestion was to add abstraction around flag access for the users of the sharding `node`.

I.e. change this
[code]
to this
[code]

Why? It's easier to use, consume, and understand for the bit of code that needs to know what type of actor to operate in this specific example. It probably makes it easier to test as well.

There may be only one instance of thi

[2018-05-25 02:35] prestonvanloon commented on #134
Is this done with #136?

[2018-05-25 02:36] terenc3t commented on #134
Yup. We can close

[2018-05-25 02:36] #134 closed

[2018-05-25 02:41] prestonvanloon commented on #135
The main question to answer here is whether this trade-off makes sense for a production client.

There are 3 possible combinations of storing collation data in memory:
- Store serialized body and a list of transactions. No serialization/deserialization needed for all usages of a collation
- Store serialized body only. Deserialization necessary to inspect the contents of the collation.
- Store list

[2018-05-25 02:46] prestonvanloon commented on #108
The immediate goal is to add this to the service registry to start P2P and outline a basic interface for interaction with other services.

[2018-05-25 02:46] prestonvanloon commented on #110
@terenc3t is this still something you are working on? Could you shine a bit more light on the details of implementation?

[2018-05-25 03:37] rauljordan commented on #132
Great point, this will reduce the need for certain imports and makes the code a lot more clear. I already started fixing this in #137 where I use `n.DataDir()` as an abstraction over the cli context. This, along with the DepositFlag are the only two scenarios here but we will keep this in mind moving forward. I'll fix the DepositFlag situation in a different PR.

[2018-05-25 03:37] rauljordan commented on #99
Closed by #100

[2018-05-25 03:37] #99 closed

[2018-05-25 08:03] nisdas commented on #139
Assigned to [Yutaro](https://github.com/rawfalafel)

[2018-05-25 21:20] terenc3t commented on #110
Do we want to move these occurring helper/setup methods (`mockNode`, `transactOpts()`, `setup()`) to a common sharding testing package? If not, we can close this issue

[2018-05-26 08:37] weberV commented on #94
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.31 ETH (214.55 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/prysmaticlabs/geth-sharding/94/276).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <

[2018-05-29 05:38] #109 closed

[2018-05-29 05:38] #110 closed

[2018-05-29 22:53] rauljordan opened #143 "Reusing Geth's Nodes and Interfaces in Our Implementation"
Hi all,

As our goal is to eventually merge with upstream, we need to leverage the tools and interfaces Geth uses to spin up nodes instead of rewriting everything from scratch ourselves. As an example, instead of writing our own sharding node, we could try to leverage what currently exists in geth and instead attach a sharding server as a `Service`to a node in a similar way that the `les` package

[2018-05-29 22:58] prestonvanloon commented on #143
Some of the key questions to answer:
- What are the backends a geth node?
- What is different about sharding backends?
- How interchangeable are those backends? (i.e. Are the constructor arguments based on interfaces or structs for the backends we need to change).
- How would our actors "hook" into a running shard node?
- How would our actors interface with the main chain? (i.e. Do we run a LES al

[2018-05-30 04:05] elihanover commented on #102
Working on binary state trie version of geth, should be done by the end of the week.

[2018-05-30 04:33] terenc3t commented on #102
@elihanover Thanks a lot for working on this! Before getting too deep into coding. Can you elaborate more on your design choice? In particular why a binary trie versus other options like Radix trie, Read-Solomon trie or Sparse Merkle trie?

[2018-05-30 05:15] rauljordan commented on #102
Hey @terenc3t, the binary trie choice was originally mentioned on [ETHResearch](https://ethresear.ch/t/a-two-layer-account-trie-inside-a-single-layer-trie/210/2) as proofs for light cilents would be much, much smaller. This would work well for a system such as sharding where we assume very little computational requirements or storage capacity of nodes.

[2018-05-30 05:16] elihanover commented on #102
No problem.  All I'm doing at first is changing the radix of the state trie to 2, which mostly involves changes to the encoding and nodes.  Having that should allow us to test whether the smaller Merkle proofs are worth the increased size of the tree.  It's mostly an experiment for me to get more familiar with the trie package, and give us a place to start testing things out as @rauljordan suggest

[2018-05-30 20:31] terenc3t commented on #143
protocolManager lives in LesServer, where LesServer defines node server configuration, it hosts fields such as config, flowControl, private key and what topics to listen to. When we initialize a new LesServer in `NewLesServer()` we call `NewProtocolManager()` in `handler.go`

In `server.go`:
[code]
[code]

protocolManager gives you access to txpool, chainConfig, chainDB and odr configs. NewProtoco

[2018-05-31 00:53] prestonvanloon commented on #143
## Protocol Manager API

The API for the `ProtocolManager` of the full geth node is:

[code]

The LES version is slightly different:

[code]

What are the common params (not in order)?

| Param | Full node? | LES Node? |
| -------- | -------- | -------- |
| config \*params.ChainConfig | Yes | Yes |
| mode downloader.SyncMode | Yes | No |
| networkId uint64 | Yes | Yes |
| mux \*event.TypeMux | Yes

[2018-05-31 01:30] prestonvanloon commented on #143
## What are the params for sharding?

| Param type | What is it? |
|------------|-------------|
| `networkId` int64 | The network ID, used for P2P handshakes and peer acceptance |
| `chainConfig` *(new!)* \*params.ChainConfig | Sharding will have its own struct for a chain config. This will contain various data including the chain ID, fork block numbers, etc. See the existing implementation [here]

[2018-05-31 01:36] prestonvanloon commented on #143
Summarizing the unanswered questions at this point:

- Can we use the `consensus.Engine` interface for sharding?
- What is the difference between [core.Blockchain](https://godoc.org/github.com/ethereum/go-ethereum/core#BlockChain) and [les.Blockchain](https://godoc.org/github.com/ethereum/go-ethereum/les#BlockChain)?
- Do we need a sharding `Blockchain`?

[2018-05-31 04:04] terenc3t commented on #143
core.Blockchain has access to the complete data set of the canonical chain starting from genesis block. Blockchain manages chain imports, reverts and reorgs. LightChain only represents a canonical chain that by default only handles block headers and it only does header validation during chain insertion.

Field | Blockchain | Lightchain
------------ | ---- | ----
chainConfig *params.ChainConfig | Y

[2018-05-31 04:53] nisdas commented on #143
How the trie is built is specified in the light package
[code]
The trie is implemented the same way it is for `les` and full geth. The same can be said for the state which created using a given trie through
`func NewState(ctx context.Context, head *types.Header, odr OdrBackend) *state.StateDB`

If you look at the backend for les
[code]
there is no difference between full geth and `les` on how they

[2018-05-31 05:36] rauljordan commented on #143
State syncing in sharding would be different for notaries and proposers. Proposers would indeed need to be syncing with the shard they are processing tx's for and I can imagine we can follow certain similarities to geth here. For notaries, however, we have to be very efficient about [notary burst overhead](https://ethresear.ch/t/a-general-framework-of-overhead-and-finality-time-in-sharding-and-a-p

[2018-05-31 05:42] rauljordan commented on #143
Thanks a lot for this guys - we're getting close. I think we can do very well if we can reuse a lot of the caching mechanisms Geth has as fields within a lot of these structs. Tests should also be easier to write as we will have clear references to existing tests if we import a lot of what Geth currently does.

[2018-05-31 06:06] nisdas commented on #143
@rauljordan Yeap, thats right. We can reuse the same interface for our sharded db. A lot of the interfaces in the `light` and `les` package can be re-used for our purposes. This way seems much easier as instead of building from the ground up we can reuse a lot of the code in the `les` package and modify/add new code as required.

[2018-06-02 18:30] rauljordan commented on #143
Hey all, the `core.Blockchain` struct should be very different than the one we use in the `ShardProtocolManager`. We will need some of the cache, sync, and checkpoint fields, but the implementations will be fundamentally different due to having different primitives.

A lot of the `Blockchain` api methods rely on the current implementation of the state, consensus mechanisms, and gas/execution conce

[2018-06-02 18:55] rauljordan opened #148 "Shard Node and ShardProtocolManager Design"
Hi all,

Moving forward on #143, let's come up with a design for a `ShardEthereum` and `ShardProtocolManager` in line with Geth's way of doing things.

For context, refer to #143.

## Entry Point

When we call `geth sharding`, we configure a geth node using the `makeFullNode` defined in `cmd/geth/config.go`, where a function called `utils.RegisterEthService` is currently called. This function dete

[2018-06-02 19:20] prestonvanloon commented on #148
I propose we split up this design work into the following components:

- Shard server i.e. what's needed to start & bootstrap a sharded server while conforming to the geth node entrypoint.
- Shard protocol manager and how the actors can utlize this to enable their behavior.
- More something else?

[2018-06-02 19:55] rauljordan commented on #148
Closing for now as this will be explained by the design doc.

[2018-06-02 19:55] #148 closed

[2018-06-03 01:13] prestonvanloon commented on #148
Discussion continued in the design doc draft: https://docs.google.com/document/d/1J4AEHTSKDGJpNzWS7ZXPqD0yEjqecb-xjdVkjGrxRMk/edit

[2018-06-03 01:13] prestonvanloon commented on #143
Further discussion in the design doc: https://docs.google.com/document/d/1J4AEHTSKDGJpNzWS7ZXPqD0yEjqecb-xjdVkjGrxRMk/edit

[2018-06-05 01:18] prestonvanloon opened #150 "Exploring Serialization via Protobuf and Others"
This issue exists to track progress on exploration of other serialization strategies for sharding and Ethereum. We'll likely want to move this into a new repository once work has been started.

## Motivation
With RLP and other serialization mechanisms for Ethereum, it feels a bit like reinventing the wheel when there may be a more supported open source library.

The main motivation for RLP:

The q

[2018-06-05 01:19] prestonvanloon commented on #150
cc: @rawfalafel

[2018-06-05 04:24] terenc3t opened #151 "Exploring SMC With New Registration and Dynamic Shard Count Properties"
## Background

This issue was created with inspirations from research threads: [Registrations, shard count and shuffling](https://ethresear.ch/t/registrations-shard-count-and-shuffling/2129/7) and [A proposal for structuring committees, cross-links](https://ethresear.ch/t/a-proposal-for-structuring-committees-cross-links-etc/2118).

Current SMC implementation was designed with minimal functionalit

[2018-06-05 21:35] rauljordan commented on #151
Very neat @terenc3t ! Agree with getting a head start. I actually would recommend attaching a bounty to this issue, as this is something best suited for outside contributors that want to learn more about sharding and contribute something immensely helpful.

Thoughts @prestonvanloon @nisdas ?

[2018-06-05 21:39] rauljordan commented on #150
I am getting more sold on protobufs, especially with how it leaves decoding up to each client.

Do you have examples of other projects using gRPC that do this via docker compose? Orchestration seems to be the only big question that arises from this proposal.

[2018-06-05 21:39] rauljordan commented on #139
Closed by #138

[2018-06-05 21:39] #139 closed

[2018-06-05 21:39] rauljordan commented on #132
Closed by #149

[2018-06-05 21:39] #132 closed

[2018-06-05 21:40] rauljordan commented on #129
#149 simplifies this immensely, as this can be constrained to the `p2p` subpackage in the `sharding` package and attached as a service to `ShardEthereum`

[2018-06-05 21:41] rauljordan commented on #102
Moving this to Sapphire release as not critical for minimal sharding protocol.

[2018-06-05 21:46] rauljordan commented on #151
Tagging this as an intermediate issue.

[2018-06-06 02:31] elihanover commented on #102
Just to give an update, I implemented the binary trie and just need to run some tests on it, so will hopefully have that by the end of the week.

[2018-06-06 02:33] terenc3t commented on #102
awesome! thank for the update @elihanover

[2018-06-06 02:36] rauljordan commented on #102
Thanks for this @elihanover can you share links to some code when you get a chance?

[2018-06-06 11:14] prestonvanloon commented on #150
My thoughts on orchestration: we build the containers for each service then set up something to manage those containers.

I'm not too familiar with docker compose, but we need something that achieves the following:
1) Builds image containers for each gRPC service
2) Starts all of the containers on a port mapping (i.e. they could all serve on :5000 in their container)
3) Runs the test suite or allo

[2018-06-06 17:07] rauljordan opened #152 "Handle the Functions in notary/service.go Through Goroutines"
As part of the refactor done in #149, we should use goroutines to make the entire flow of a notary's service concurrent. Right now, the following functions are blocking the rest of the services running in the ShardEthereum node:

[code]

Namely, joinNotaryPool and subscribeBlockHeaders.

[2018-06-06 20:34] rauljordan opened #153 "Implement a Shard Transaction Generator"
Now that #149 is merged, we can create a simple shard tx generator as a service attached to `ShardEthereum` from `sharding/node/backend.go` that publishes `[]*types.Transaction` data to a go channel.

The proposer service will need this in order to process these incoming transactions into serialized blobs that will then be packaged into collations.

[2018-06-06 20:39] rauljordan opened #154 "Get Started on a ShardP2P Service"
Hi all,

Given that #149 is merged and we have defined a `p2p` subpackage under the `sharding` package, we can start working on basic p2p proof of concepts. The p2p service is already initialized in `sharding/node/backend.go` as part of `ShardEthereum`. Now, we have a well-defined service that runs all the required peer to peer functionality for sharding, so we can start integrating existing go-li

[2018-06-06 20:39] #129 closed

[2018-06-06 20:39] #143 closed

[2018-06-06 20:56] rauljordan opened #155 "Define the Requirements and Functionality for an Observer Service"
In the minimal sharding protocol, we have 2 different types of actors: notaries and proposers.

- Notaries are in charge of the voting/consensus layer of deciding on canonical collations and are also responsible for data availability checking.
- Proposers are in charge of listening for incoming transactions over p2p, packaging them into collation bodies and broadcasting their respective headers to

[2018-06-06 21:02] rauljordan opened #156 "Integrate ShardDB Into the ShardEthereum Instance"
Now that we have defined `ShardEthereum` in `sharding/node/backend.go` to the main container for every single sharding service, we have decided it will contain properties important for shared access across these services. One of them is a `shardChainDb` property that will provide access to a persistent db (either leveldb, badger, or others). However, we have yet to initialize this shardChainDb.

U

[2018-06-06 21:13] rauljordan opened #157 "Design Sync of Shard Chain Data"
Now that we are moving into the Ruby release, it is important that we think about how sync would work for shard chains. A lot of work has been put into Geth's fast sync by using a checkpoints/skeleton strategy to rapidly download chaindata via peer to peer.

This will be more of an open discussion where we think about where the sync code should go in our implementation and how in-depth we should g

[2018-06-06 21:36] rauljordan opened #158 "Docker-Compose Our Ruby Release"
Hi all,

As we move into the Ruby release and now that #149 is in place, we should determine how we can release something compact and complete for the minimal sharding protocol for anyone to try out. Ideally, we would use docker-compose or other containerization techniques to do this.

The idea here is that for someone to get the full picture of what the minimal sharding protocol would look like,

[2018-06-06 21:42] rauljordan opened #159 "Separate the Deployment of the SMC from the Sharding Node"
Currently, if a Sharding Manager Contract has not yet been deployed upon initializing a sharding node, the node deploys it to a mainchain Geth node via RPC. Ideally, we want this behavior decoupled from the sharding node as in production, there will be a known address for a public Sharding Manager Contract.

Opening this issue as a discussion thread for how to do this and how we can begin solving

[2018-06-06 22:01] terenc3t opened #160 "Make Better Use of Config for Node and Actors"
Rather than having global variables in `config.go`. We should consolidate the fields in `config.go` into sharding config object as outlined in `shardEthereum` struct.

What's currently inside config.go:
[code]
A lot of the fields can be moved to shardConfig object

[code]

[2018-06-06 22:12] terenc3t opened #161 "Implement Sharded TxPool"
We'll need to design and implement a sharding specific transaction pool. One prominent use case of the transaction pool is for the proposer to insert fake transactions. P2P implementation may want to use the receiving of test transactions in the transaction pool. This issue will have impact to proposer implementation as opened in #111

Some questions to answer:
What are the use cases?
How will it

[2018-06-06 22:31] terenc3t opened #162 "Implement Notary Withdraw CLI"
Currently notary has no way to deregister and receive fund back using command line. I'd like to see this working for our Ruby release and to demo.

The workflow for Notary:
1. notary register to notary pool with deposit
2. notary gets elected, vote on some collation headers
3. notary deregister, wait lockup period to end
4. notary fall back to observer role
5. lock up period ends, notary receives

[2018-06-06 22:42] nisdas opened #163 "Create Common Testing Interface that all Sharding Actors Will be Able to Use"
Currently the mock `smcClient` is used for testing both in the notary and proposer packages.
[code]
Instead of repeating it for testing in both notary and proposer, it would be better to define it in a common package and then use it from there.

So the mock smcClient , and its methods can be defined in `sharding/client/testing`  and have its methods defined something like this:
[code]
This will be

[2018-06-06 23:00] nisdas opened #164 "Implement ChainReader in Tests"
Currently in our testing we do not implement the chainreader interface:
[code]
This will be needed to write and implement more expressive and complete tests. As we will need to retrieve blocks or headers using either its number or hash, and the current mock `backend` does not provide that ability.

One possible solution would be to use the reflect package to use the unexported fields in the mock b

[2018-06-06 23:13] terenc3t commented on #164
@nisdas is this blocking #131 ?

[2018-06-06 23:21] nisdas commented on #164
Yeah if we want to write tests which will need access to block information, we do need to implement chainreader, or at least the required methods.  We could just stub out the test for now, until chainreader is implemented, then revisit it

[2018-06-07 01:38] rauljordan commented on #161
Hey @terenc3t this is a duplicate of #153

[2018-06-07 01:42] prestonvanloon commented on #158
+1 to containerize. I can help with k8s stuff.

[2018-06-07 01:45] prestonvanloon commented on #154
Depends on or related to #72 and #108. All three of these issues could be reviewed and consolidated (if possible) after p2p design review.

[2018-06-07 01:45] prestonvanloon commented on #154
Assigning this to myself for now until I have a design spec, then I can add details here and anyone can work on it or I can do it.

[2018-06-07 01:51] prestonvanloon commented on #164
See an example here: https://github.com/ethereum/go-ethereum/blob/90b22773e99244b37f68f3a8401c405254e0af4e/consensus/clique/snapshot_test.go#L74

[2018-06-07 01:53] prestonvanloon commented on #164
Can you add information as to why you can't use a real ChainReader with a client connected to a fake backend?

[2018-06-07 02:00] prestonvanloon commented on #164
core/blockchain.go implements the ChainReader and we can see an example of this used with a fake PoW in test: https://github.com/ethereum/go-ethereum/blob/90b22773e99244b37f68f3a8401c405254e0af4e/core/blockchain_test.go#L41

[2018-06-07 02:00] terenc3t commented on #161
Ah! My bad

[2018-06-07 02:35] rawfalafel commented on #150
We discussed this on gitter but I'll recap here:

Protobuf was originally evaluated and passed on as a serialization mechanism because it doesn't provide byte-perfect consistency. With protobuf, the same object can be encoded multiple ways, and different encodings can be deserialized into the same object.

@prestonvanloon mentioned that this isn't an issue once a proposer commits to a `chunkRoot`,

[2018-06-07 02:41] prestonvanloon commented on #161
I don't think this is a duplicate of #153.

#153 outlines the work to create a service to broadcast "fake" transactions through the same mechanism that the P2P library would be broadcasting them within the application. In other words, #153 is supposed to be a stub for P2P that provides a stream of transactions for the proposer to use for development and testing.

It is then up to the proposer to d

[2018-06-07 05:08] nisdas commented on #164
The problem is that information `simulatedBackend` does not give access to its blockchain.
[code]
Its blockchain field is unexported so we do not have any access to it. Also its methods do not give any access:
[code]
I am not sure how to proceed with this, beacuse to implement chainreader we will need access to `simulatedBackend` 's blockchain

[2018-06-07 15:38] musalbas commented on #102
Just wanted to note that the Reed-Solomon encoded tree and the sparse merkle tree serve two different purposes, and both may be needed.

The Reed-Solomon encoded tree is for representing the transaction data in each block, in such a way that allows for data availability guarantees (i.e. that the transaction data is actually available), as opposed to using a standard merkle tree.

Sparse merkle tre

[2018-06-07 15:54] Magicking commented on #158
I see 3 solutions:

Easiest (user PoV):
- One-liner or multiple docker-compose files that initialize (possibly through scripts) & run everything.

Easiest(?) PoV:
- K8s, I'm not very familliar with it but AFAIK you can convert docker-compose files to k8s with kompose.

Complicated or for production:
 - Integration through puppeth (see cmd/puppeth/*)

Simple but without dependencies:
 - Nightly bui

[2018-06-07 22:22] rauljordan commented on #153
Hey @rawfalafel, as I mentioned, I started on this issue but happy for you to take over if you want.

The idea was that I added an event feed to the shard txpool as follows:

in `sharding/txpool/service.go`
[code]

and then in the `proposer` subpackage, I subscribed to this feed via a for, select block:

in `sharding/proposer/service.go`
[code]

Right now I just used an int for the channel but we

[2018-06-08 02:05] terenc3t opened #165 "Implement Shard ID Flag for CLI"
We are missing Shard ID from user input. Shard ID will be used for services like p2p, observer and proposer. P2p service needs shard ID to know which network to start p2pServer. Proposer service needs shard ID to know which shard to listen incoming transactions, and package transactions into collations and submit to the SMC.

The geth command will look like this for a proposer to propose collation

[2018-06-08 15:11] rauljordan opened #166 "Create a Publicly-Readable Challenge Period in the SMC for Notaries"
An important part of the Minimal Sharding Protocol and our first release is enforcing a challenge period
for a Notary's Proof of Custody. That is, when a Notary votes on a collation header and submits a proof of custody to show that it has the full collation data at time of submission, we want to prevent notaries from deleting this data from their persistent storage until a certain challenge perio

[2018-06-08 15:56] terenc3t commented on #166
How do we we calculate the challenge period? is there a formula? or it's just constant 25 periods?

[2018-06-08 17:05] rauljordan commented on #157
I have started on a design for this in the following [Google Doc](https://docs.google.com/document/d/1Z9ORAX5heRn8_9cZyZjDNgOH-mBQxgQcRqmlHwfZiUE/edit#)

@prestonvanloon @terenc3t @nisdas

[2018-06-08 22:55] rauljordan commented on #166
It should be the same as the windback length I believe

[2018-06-08 23:11] terenc3t commented on #166
That's 25 periods. What does the SMC needs to do?  If we know challenge period is constant at 25 periods. Can the client calculate what to delete on its own?
[code]

[2018-06-08 23:27] prestonvanloon commented on #150
@tfalencar No we haven't, but a quick 15 second scan of this project and I found this:

[code]

To be a reasonable replacement for RLP, it should preferably work for all modern languages.

With that said, nothing is out of question for this. If you have ideas or would like to explore fleece and share your results then the community would be interested!

[2018-06-08 23:43] terenc3t commented on #156
Closed via #167

[2018-06-08 23:43] #156 closed

[2018-06-09 14:55] terenc3t commented on #166
Got it. Addressed in #168. Can you take a look when you have a chance?

[2018-06-11 11:03] rawfalafel commented on #153
Pulled in your branch and taking a look now. Thanks @rauljordan !

[2018-06-11 16:05] rauljordan commented on #106
This was closed by #111

[2018-06-11 16:05] #106 closed

[2018-06-11 17:55] rauljordan commented on #157
Based on the [Sharding P2P Design](https://docs.google.com/document/d/1cthKuGPreOSQH96Ujt7sArcT-IRICk6b-QcdD0EnLsI/edit#heading=h.4d4hnezaletr) created by @prestonvanloon, we can design a basic sync structure that responds to messages from a specific peer only based on the Shardchain Sync design doc created [here](https://docs.google.com/document/d/1Z9ORAX5heRn8_9cZyZjDNgOH-mBQxgQcRqmlHwfZiUE/edit

[2018-06-11 19:43] terenc3t commented on #166
Closed via #168

[2018-06-11 19:43] #166 closed

[2018-06-13 11:41] prestonvanloon opened #175 "p2p: Implement PeerInfo and Send to Single Peer"
[Design doc](https://docs.google.com/document/d/1cthKuGPreOSQH96Ujt7sArcT-IRICk6b-QcdD0EnLsI/edit)

- [ ]  Add details to peer info based on requirements by the underlying p2p protocol

- [ ] Implement `func (s *Server) Send(msg interface{}, peer Peer)`

More details to come through the design.

[2018-06-13 11:43] prestonvanloon opened #176 "p2p: Implement broadcast"
[Design doc](https://docs.google.com/document/d/1cthKuGPreOSQH96Ujt7sArcT-IRICk6b-QcdD0EnLsI/edit)

- [ ] Implement `func (s *Server) Broadcast(msg interface{})`

More details to come through the design.

[2018-06-13 11:48] prestonvanloon commented on #152
@rauljordan I think you did this recently?

[2018-06-13 13:10] #160 closed

[2018-06-13 15:17] #154 closed

[2018-06-14 14:48] terenc3t commented on #165
Closed via #169

[2018-06-14 14:48] #165 closed

[2018-06-14 15:00] #152 closed

[2018-06-15 00:10] elihanover commented on #102
Implemented a binary version of the state trie [here](https://github.com/elihanover/go-ethereum/) if you guys want to check it out.  We needed to change the encoding scheme for the paths due to padding, which is described in the readme.

The benchmarks showed that the encoding scheme added a some overhead since the binary paths are longer; however, we could do a more grand change to the encoding a

[2018-06-15 00:51] rauljordan opened #183 "Breakdown Large Interfaces Into Smaller, More Useful Ones"
Hi all,

Part of effective go is the usage of interfaces as a way to enable easy refactoring and reusability of code through layers of abstraction. Interfaces are ideal when mocking certain methods in order to unit test small/medium size functions, yet we often end up having very large interfaces that map almost 1-to-1 to their implementation. That is, we define items such as:

[code]
_in sharding

[2018-06-15 17:02] terenc3t commented on #183
Thanks for opening this up. This will inherently solve #163 and #164

[2018-06-17 14:28] rauljordan commented on #162
It seems like this has not even been decided for the beacon chain idea. If we are going to eventually move into beacon chain after ruby, I feel like it would be a waste of time to implement this. Should we close?

[2018-06-17 15:20] prestonvanloon opened #187 "Move shardchainDB out of ShardEthereum struct and register as a service"
The shardchain DB should not be a value on ShardEthereum, rather it should be a registered service.

See TODO here:
https://github.com/prysmaticlabs/geth-sharding/blob/234ecadd2cde1efe3e19895fa4ada607d98c6fce/sharding/node/backend.go#L73

Requirements:
- Register database as a service on ShardEthereum
- Provide database to dependent services (the actors)
- Create unit tests for the lifecycle of st

[2018-06-17 16:03] terenc3t commented on #162
I agree. SMC is going to depreciate in favor of beacon chain. Client withdraw will use beacon chain logic instead of SMC logic. Will close this for now and open when beacon chain spec and implementation get more finalized

[2018-06-17 16:03] #162 closed

[2018-06-17 17:39] #163 closed

[2018-06-17 17:39] #164 closed

[2018-06-17 17:39] #183 closed

[2018-06-17 22:35] terenc3t commented on #151
Going to close this for now. Latest research has indicated we'll be moving away from SMC to beacon chain. This won't be relevant after Ruby release.

[2018-06-17 22:35] #151 closed

[2018-06-19 14:28] #187 closed

[2018-06-19 20:03] rauljordan commented on #161
This should be very minimal for Ruby release and probably piggyback off #171. We want the simplest thing possible and it probably shouldn't do much more than what #171 already does.

[2018-06-19 20:07] terenc3t commented on #161
I have written this tx pool  design doc but it might be an over kill for Ruby release
https://docs.google.com/document/d/1Arh-7L61nt_iR8REOjrmzMKyu1ZxvzovZ3qOLdmxKRo/edit#

Let's strip it down and come back with a simpler design

[2018-06-19 20:52] terenc3t opened #193 "Fix RespondCollationBody Handle Collation Request"
In `RespondCollationBody()`. A proposer shouldn't have to sign again to reconstruct header to retrieve collation body for response. What it means is only the original proposer can respond with its collation body, and no one else can

[code]

The correct work flow should be:
1. proposer creates, signs and adds header to smc
2. proposer broadcasts collation body to the rest of the network
3. notary

[2018-06-19 22:50] terenc3t opened #194 "Main Chain Smart Contract to Deposit 32 ETH"
For beacon chain design, a validator will deposit 32 ETH to the main chain smart contract. The deposits are done via a one way burn contract on the main chain. A validator can withdraw the deposit in later phase from the beacon chain to the shard.

In order to track validator registrations and deposits in shards, this issue explores the idea of develop the smart contract in Solidity. In summary, t

[2018-06-20 03:59] #153 closed

[2018-06-20 19:40] terenc3t commented on #155
From discussing with the team last night, the role of the **observer** is really just a **client** sending TXs to **proposer**.  As discussed for Ruby release, we'll use **stimulator** to facilitate workflows between **proposer** and **notary**. Is there more work to do here?

[2018-06-20 19:42] rauljordan commented on #155
Simulator is the one that will be generating transactions and broadcasting it to the p2p network. I don't see what observers should do in this system. They just connect to p2p for now, and that's it,

[2018-06-20 19:42] terenc3t commented on #193
I'm going to fix the first SMC part by adding a signature field to CollationRecord

[2018-06-20 19:50] rauljordan opened #195 "Turn Simulator Package Into an Actor"
Hi all,

As part of the [Ruby Release one-pager](https://docs.google.com/document/d/125ajrN-0cKGwAMlv_bi02MKzGUxMDC_TeDvHCpqAKAs/edit#), we discussed introducing a third actor in addition to Proposers and Notaries. We refer to this actor as a **Simulator** and will be one of the three options for launching the sharding client.

For the Ruby Release, If a node joins as a simulator, its only respons

[2018-06-21 02:37] rauljordan opened #197 "Remove Timeouts in Tests and Test Goroutines Using Channels and Contexts"
Hi all,

Currently, many tests in our services involve checking for logs being fired in goroutines. We can implement a function as part of the LogHandler in the `sharding/internal` package that waits for a log to be written by using channels and mutexes in order to make our testing situations easy and feasible.

We can do stuff like:

[code]

Currently, we resort to using channels within goroutine

[2018-06-21 03:07] rauljordan opened #198 "Write Unit Tests for the Notary Service and Refactor Using Concurrent Structures"
Given that tests for the notary package were a lot harder than expected and were blocking other development, we need to cover this code as it is one of the most important aspects of our implementation.

[2018-06-21 03:39] rauljordan opened #199 "Notary: Request Collation Proposals Via P2P When Selected on a Shard"
Hi all,

Currently, we simulate requests from a `simulator` service that runs when a node runs as a Proposer. This service simulates incoming notary requests for collation bodies where the current node has to fetch the relevant information from persistent storage and respond accordingly. This is because we do not have the ability to communicate remotely across nodes until the first version of shar

[2018-06-21 04:06] rauljordan opened #200 "Notary: Implement Windback Sync, Fetch 25 Previous Canonical Collations From Other Nodes"
Hi all,

As part of the Ruby Release Product Requirements [doc](https://docs.google.com/document/d/125ajrN-0cKGwAMlv_bi02MKzGUxMDC_TeDvHCpqAKAs/edit#), we have defined one of the requirements of a Notary actor is to fetch the 25 canonical collation headers from the SMC previous to its currently assigned period number. This process is known as windback and it is an important component at the data a

[2018-06-21 04:08] rauljordan opened #201 "Notary: Configure the Persisting of Collation Data in Local Storage"
Hi all,

(TL;DR: A PR for this should configure a flag that allows a user to specify how long it wants to persist data and a sharding client should know when to delete the data when the specified time is reached)

As part of the minimal sharding protocol, notaries are in charge with checking for data availability of collation bodies submitted to the Sharding Manager Contract. Once a notary is sele

[2018-06-21 04:11] rauljordan opened #202 "Add MockNode Into Internals Package"
We currently use the `type mockNode{} struct` across a variety of tests and we could easily abstract this repeated code into the `sharding/internal` package that can be imported in the tests requiring it.

The refactoring of tests using this struct should be done through separate PRs

[2018-06-21 04:12] rauljordan opened #203 "Write Unit Tests and Reach Solid Coverage on the Mainchain Package"
Hi all,

With our goal of reaching high code coverage on our services in the sharding client, we want to ensure the mainchain package is well-tested as it contains critical code for our functionality. A PR for this should attempt to reach this goal in an effective manner through good use of smaller interfaces.

[2018-06-21 04:13] rauljordan commented on #197
I will resolve this using the suggestion given by @rawfalafel as part of #172

[2018-06-21 04:14] #157 closed

[2018-06-21 14:57] rauljordan opened #204 "Remove Need for Adding Signature in RespondCollationBody"
Hi all,

As part of the Ruby Release Product Requirements Doc, we decided that **all** sharding clients should have the ability to respond to requests for collation body data from the shardp2p network. Responding to requests entails the following:

- Receiving a p2p `Message` struct with necessary fields to fetch and construct a collation body from persistent, local storage
- The node receiving th

[2018-06-21 15:00] rauljordan opened #205 "Notary: Receive Collation Bodies via P2P and Vote on Data Availability"
Currently, a Notary is able to create requests for collation bodies and broadcast them to the shardp2p network. Other nodes respond to those requests but notaries do nothing with the received responses. A PR for this should take the collation body responses, keep track of their data availability by persisting them in local storage, and vote on one collation using the proof of custody method into t

[2018-06-21 15:50] #193 closed

[2018-06-21 16:22] rauljordan opened #206 "Every Node Should Handle Collation Data Requests, Not Just Proposers"
As part of the Ruby Release PR Doc, every node in the network should be able to handle incoming requests for collation data. Right now, only proposers are able to respond. With the merging of #196, we can extend this functionality to every node.

Assigning provisionally to @terenc3t and he is the creator of #196.

[2018-06-21 17:52] terenc3t commented on #195
Just to clarify, simulator will be a standalone actor, it doesn't need proposer or notary to run. It's purpose is to consistently broadcast tx to all the peers at certain period. That said, I don't think I can use `TransactionsFeed.send()` to transmit tx to proposer because they both are independent actors, I'll have to use p2p broadcast

[2018-06-21 18:04] terenc3t opened #209 "Check AddHeader Transaction is Mined"
We are missing an important checking step in proposer's `AddHeader` function. It doesn't wait for AddHeader's transaction to be mined before proceeding. Let's use `TransactionReceipt` and `WaitForTransaction` functionalities in #186 to check for TX status before proceeding further.

[code]

[2018-06-21 23:40] prestonvanloon commented on #202
The mockclient was copied to internal package and the test code still needs to be refactored/cleaned up to use this internal package helper.

[2018-06-21 23:46] prestonvanloon commented on #155
In the end, the **observer** is the same as what we consider a normal node on the Ethereum network.

- Connect to the sharded universe
- Sync chains
- Provide interface for users to interact with Ethereum. This could be via console or exposing RPC endpoints.

Essentially, it has the same capabilities as a proposer or notary, but has no role.
This is the default state and there really is not much t

[2018-06-21 23:51] prestonvanloon commented on #199
@rauljordan can you outline the requirements for this? I don't understand the issue.

Why do we need to simulate notary requests? Isn't the task to implement the request when the notary is selected?

[2018-06-21 23:55] prestonvanloon commented on #200
@rauljordan Is there any sync design you could share?

[2018-06-21 23:58] prestonvanloon commented on #201
Please add more context to the requirements. We need to provide more information for a outside contributor to pick this up.

- How long is the challenge period? How will the notary know if the challenge period has ended?
- What about if they are challenged just before the period ends? Shouldn't we have some buffer and a check to be sure we aren't being challenged before purging this data?
- What f

[2018-06-22 00:00] prestonvanloon commented on #203
To shine a bit of light on this issue: we are hoping to reach complete code coverage and testing on the sharding/mainchain package. This would involve some refactoring, better uses of smaller interfaces, and best practices with regards to testing.

The only specific requirements to close this are that the coverage is at 100%.
Please consider breaking up work into small pull requests for easier rev

[2018-06-22 00:04] prestonvanloon commented on #204
So the task is to remove the code you pasted here? I don't fully understand this.

[2018-06-22 00:05] prestonvanloon commented on #205
Is there any design to add here? @terenc3t

[2018-06-22 00:07] prestonvanloon commented on #206
Why are proposers the only ones able to do this? Isn't the sync/data service independent of the actor role?

[2018-06-22 00:10] prestonvanloon commented on #195
Yes, I think that is correct @terenc3t

[2018-06-22 00:11] terenc3t commented on #206
Currently proposers are the only ones able to handle incoming requests for collation data (Why? because we are not storing signature in SMC)
We need to extend this functionality to the rest of the actors.

[2018-06-22 02:49] nisdas commented on #155
Should we close this issue then since there really is not anything more to do ?

[2018-06-22 03:42] prestonvanloon commented on #155
Yes. Closing since there isn't anything actionable here.

[2018-06-22 03:42] #155 closed

[2018-06-22 04:13] rauljordan commented on #199
@prestonvanloon that's what I meant, I'll update the description to make it clear. We are currently using simulator, but we do **not** want to use simulator but instead have this be part of the core logic of a notary's workflow.

[2018-06-22 04:16] rauljordan commented on #200
Hey @prestonvanloon, I added a reference to the sync design doc. I don't think a simple version of this would require extensive design, as we can simply fetch the headers from the collation records in the SMC and then broadcast requests for them from within the notary package. I believe this can be done through a well-scoped, fleshed out PR.

[2018-06-22 04:17] rauljordan commented on #202
Updated the issue description to clarify @prestonvanloon

[2018-06-22 15:15] terenc3t opened #213 "Write Unit Tests and Reach Solid Coverage on the Node Package"
Similar to #203. We want to reach high code coverage on our services for node backend package. We want to ensure the node package is well-tested as it contains critical code for our functionality. A PR for this should attempt to reach this goal in an effective manner through good use of smaller interfaces.

[2018-06-22 16:02] rauljordan commented on #201
Hey @prestonvanloon updated the issue description to answer all your questions.

[2018-06-22 16:48] rauljordan commented on #204
@prestonvanloon yes the goal is to use the signature from the p2p.Message request instead of having to compute it on the spot. The current functionality restricts responding to collation body requests only to proposers as they are the only ones that can compute this signature. The goal of a PR for this would be to use the signature from the SMC to do this instead.

[2018-06-23 14:54] terenc3t commented on #194
Moving this issue to beacon chain repo

[2018-06-23 14:54] #194 closed

[2018-06-25 01:31] prestonvanloon opened #214 "Simulator is generating nil collation body requests"
To reproduce:

- Start the observer service connected a geth node
- The geth node is running with `--dev` flag and not advancing the chain
- See that there is nothing simulated every 15 seconds

This line has `req == nil`:
https://sourcegraph.com/github.com/prysmaticlabs/geth-sharding/-/blob/sharding/simulator/service.go?utm_source=share#L99

Is this because this is a fresh VMC with no notaries or

[2018-06-25 01:42] prestonvanloon opened #215 "Sharding Node Service Context is Returning Copies of Dependencies"
https://sourcegraph.com/github.com/prysmaticlabs/geth-sharding/-/blob/sharding/interfaces.go?utm_source=share#L56:12

The `RetrieveService` method is doing the following:
- Creating a new value of type `v`.
- Assigning the value of the service of type v to this new value on the interface param provided.

In short, this is making a copy of the value.

This service method must
- Return a pointer
- C

[2018-06-27 18:19] #197 closed

[2018-06-27 19:06] #202 closed

[2018-06-27 19:14] rauljordan opened #219 "Write Better Tests for the Proposer Service and Refactor Using Concurrent Structures"
Based on the work done in #216 and #217 we can simplify the code in the proposer package to be aligned with the patters and testing ideas used in the simulator and syncer packages.

[2018-06-28 18:01] terenc3t commented on #209
Going to take on this today

[2018-06-29 00:56] #214 closed

[2018-06-29 03:34] #209 closed

[2018-07-01 23:20] terenc3t opened #226 "Flakey Simulator Test"
With the latest master, the simulator test has been really flakey. It passes most of the time but rarely one out of five times it fails with the following.

[code]

[2018-07-04 18:21] rauljordan opened #230 "Restructure Our First Release Around Beacon Chain"
Hi all,

Over the past few months, we have been working on finalizing the Minimal Sharding Protocol Spec put out by Vitalik a while back. This was originally created as a development target for sharding client teams while phase 1 decisions were still under review. Since then, a lot of work has been done on determining the most reasonable path forward for a sharding implementation, and a lot of new

[2018-07-04 18:29] rauljordan commented on #219
Closing due to #230.

[2018-07-04 18:29] #219 closed

[2018-07-04 18:30] rauljordan commented on #205
Closing due to #230.

[2018-07-04 18:30] #205 closed

[2018-07-04 18:30] rauljordan commented on #203
Closing due to #230.

[2018-07-04 18:30] #203 closed

[2018-07-04 18:30] rauljordan commented on #201
Closing due to #230.

[2018-07-04 18:30] #201 closed

[2018-07-04 18:30] rauljordan commented on #200
Closing due to #230.

[2018-07-04 18:30] #200 closed

[2018-07-04 18:31] rauljordan commented on #199
Closing due to #230.

[2018-07-04 18:31] #199 closed

[2018-07-04 18:31] rauljordan commented on #198
Closing due to #230.

[2018-07-04 18:31] #198 closed

[2018-07-04 18:32] rauljordan commented on #107
Closing due to #230.

[2018-07-04 18:32] #107 closed

[2018-07-04 18:32] rauljordan commented on #84
We will no longer be dependent on Geth. Closing.

[2018-07-04 18:32] #84 closed

[2018-07-04 18:32] rauljordan commented on #70
We will no longer be a fork of geth. Closing.

[2018-07-04 18:32] #17 closed

[2018-07-04 18:34] rauljordan commented on #43
This is no longer relevant.

[2018-07-04 18:34] #43 closed

[2018-07-04 18:39] rauljordan commented on #215
Closed by #217

[2018-07-04 18:39] #215 closed

[2018-07-04 18:49] rauljordan opened #231 "Eliminate Geth From Our Codebase, Use Bazel for Builds"
Hi all,

As part of #230 and our greater effort to proceed with a random beacon chain implementation, our system will have little to no dependencies on geth, therefore it is not necessary for us to continue using their environment and build system. As we implement the random beacon chain, we should look into gradually eliminating geth from this repository and proceeding with turning this repositor

[2018-07-04 18:52] rauljordan opened #232 "Integrate Random Beacon Chain Design as an Interface to Replace SMC"
Hi all,

As part of #230, we are eliminating our dependency on geth and also on the Sharding Manager Contract, which will be replaced by a Random Beacon Chain designed in this [google doc](https://docs.google.com/document/d/1lTDUy6JwRGNE4rDKiyzaV-lxhG2SZ2F6wCthM-QCSFQ/edit#). As the design is being done, we should replace the SMC with a Go interface that is implemented through no-ops in the meanti

[2018-07-04 18:55] rauljordan opened #233 "Update Our Documentation to Explain the Beacon Chain Research"
Hi all,

As part of #230, we will no longer be implementing the minimal sharding protocol for our ruby release. Instead, most of the work will deal with a random beacon chain implementation as originally proposed by Vitalik [here](https://notes.ethereum.org/SCIg8AH5SA-O4C1G1LYZHQ?both).

A solution for this issue will replace the Sharding markdown document we have in our repo with the latest resea

[2018-07-04 18:57] #206 closed

[2018-07-05 14:59] terenc3t commented on #150
It might be worth to revisit this again now sharding's breaking away from main chain to beacon chain, it's more feasible to switch over to protobuf from rlp with a different consensus protocol. The likely case is to use protobuf to replace RLP with blob serialization

[2018-07-05 16:34] terenc3t opened #234 "Change Actor Name Notary to Attester"
The naming of the actors got changed again with the [latest spec](https://notes.ethereum.org/SCIg8AH5SA-O4C1G1LYZHQ?view)
While proposer stays the same. The old **notary** whose role is to sign off on block is now called an **attester**. The new notary's role is to sign off on cross link between shard chain and beacon chain. A cross link is a set of signatures that attest to a block in a shard cha

[2018-07-06 20:47] prestonvanloon commented on #70
This isn't a geth dependency but a licensing question. If we are going to use GNU/GPL then we may need this preamble

[2018-07-09 02:40] #231 closed

[2018-07-10 03:55] rauljordan opened #243 "Update Documentation Using the Research Synopsis Document"
Hi all,

It's been a while since we last updated our docs and they are due for an important overhaul as we are now using bazel.

I did a research synopsis on the notes leading up to the beacon chain idea [here](https://docs.google.com/document/d/19KyosgCFdsv_UzVdaApmIr0zh37Va0Tck1cca5uEtss/edit#heading=h.e2l2g8nbixjd) that we should put in the `README.md` under the sharding folder. Ideally we shou

[2018-07-10 03:59] rauljordan opened #244 "Port Over the Beacon Chain Repo as a Bazel Subpackage in Geth-Sharding"
Hi all,

Based on the decisions taken in the [random beacon chain design doc](https://docs.google.com/document/d/1lTDUy6JwRGNE4rDKiyzaV-lxhG2SZ2F6wCthM-QCSFQ/edit#), we can start porting over the [beacon chain repo](https://github.com/prysmaticlabs/beacon-chain) into geth-sharding as we intend to create a monorepo.

A PR for this will most likely have to use bazel target rules to set visibility as

[2018-07-10 04:04] terenc3t commented on #244
Thanks for creating this issue! I will do the `contracts` and `shared` repos

[2018-07-10 04:05] rauljordan commented on #244
Great @terenc3t ! Can you open two issues for that and assign yourself?

[2018-07-10 07:57] nisdas commented on #244
I can do the beacon chain repo

[2018-07-10 15:00] terenc3t opened #245 "Port Over Contract Repo as a Bazel Subpackage"
To build off on #244, this issue addresses the porting over of `contracts` repo, where all the smart contracts are contained and given a public visibility bazel target rule.

[2018-07-10 15:35] terenc3t opened #246 "Port Over Shared Repo as a Bazel Subpackage"
To build off on #244, this issue addresses the porting over of shared repo, where all the common packages can be contained and given a public visibility bazel target rule.

[2018-07-11 04:05] nisdas opened #248 "Port over the beacon chain repo as a sub package in bazel"
Building on #244 , this will deal with porting over the beacon chain repo and applying bazel visibility rules to set it as a sub-package in the repo

[2018-07-11 23:29] #245 closed

[2018-07-12 00:05] #244 closed

[2018-07-12 00:05] #248 closed

[2018-07-12 17:12] #243 closed

[2018-07-12 17:31] #246 closed

[2018-07-12 17:32] rauljordan commented on #233
Closed by #247

[2018-07-12 17:32] #233 closed

[2018-07-13 05:06] terenc3t opened #255 "Implement Fork choice Rule for Beacon Chain"
To resolve this issue, you will implement beacon chain fork choice rule for ethereum 2.0. you need to implement beacon chain as standalone PoS chain which tags alone with the PoW main chain. There is a dependent fork choice rule where the head of the beacon chain is the highest scoring beacon chain block along with a main chain block reference that points to the highest scoring main chain block. T

[2018-07-13 05:21] terenc3t opened #256 "Implement Block Processing Logic for Beacon Chain"
To close this issue, we need to implement the logic for nodes to process beacon chain block.  Just like PoW clients, the nodes will download and process blocks to maintain a view of what's the current "canonical chain" terminating at the current "head".

However, beacon chain is a PoS chain that contains blocks point to the PoW chain, the processing logic is different than PoW clients. For a beaco

[2018-07-13 05:44] terenc3t opened #257 "Implement Epoch Transition Function for Beacon Chain"
To close this issue, we need to implement the epoch transition function for beacon chain node. The epoch transition function affects both crystallized state and the active state. It focuses on the functionalities of:

- maintaining validator set (which validators got added or removed)
- adjusting balances
- tracking which epoch is last justified and last finalized
- setting FFG check points

For e

[2018-07-13 07:54] rawfalafel opened #258 "Signature Verification for Beacon Chain"
Casper 2.0 will likely use [BLS multisigs](https://ethresear.ch/t/pragmatic-signature-aggregation-with-bls/2105) to efficiently secure signatures from attesters and notaries. However we're still undecided on the signature scheme used for Ruby because the implementation details are subject to change and BLS multisig implementations are few and far between. This issue will track our options until we

[2018-07-13 10:39] nisdas opened #259 "Rewards/Penalties (Slashing Conditions) in the Beacon Chain"
In order to implement this we will need to
- Compute the total deposits of every validator who participated in the last epoch
- Compute the online reward and offline penalty based on Casper FFG Incentive(not specified yet)
- Add the online reward to every validator that participated in the last epoch and subtract the penalty from those who did not

Rewards for crosslinks are not in scope for Ruby

[2018-07-13 14:33] terenc3t commented on #258
Please keep in mind. Regarding BLS, both the one from Dfinity and the one from crypto.stanford.edu are using GMP which has tricky licensing (not allowed on app stores for example)

[2018-07-13 15:35] #213 closed

[2018-07-13 15:47] terenc3t opened #260 "Implement Reorg Scheme for Beacon Chain"
To close this issue, we'll implement the reorg logic for beacon chain node to process. As beacon chain node subscribes to the incoming main chain block, it should notice when there's a reorg happens in the main chain and reorg the beacon chain accordingly.

Here is an example provided in the [spec](https://notes.ethereum.org/SCIg8AH5SA-O4C1G1LYZHQ?view):
[code]

[2018-07-13 15:49] rauljordan opened #261 "Beacon Chain Should Connect to a Mainchain Web3 Endpoint to Fetch Latest Blockhash, Block Number, and Logs"
Hi all,

The beacon chain needs a read-only connection to a PoW mainchain node in order to fetch the latest blockhash, block number, and read from logs fired by the validator registration contract. We can use web3 for this and do not need an IPC connection or any persistent connection for that matter.

[2018-07-13 15:56] rauljordan opened #262 "Implement Beacon Node and Service Registry"
Hi all,

We need an entry point for a beacon node to start up and kick off all its associated services and goroutines. This should be quite trivial, as it will be pretty much the same as the way we structure the sharding entry point.

[2018-07-13 15:58] rauljordan opened #263 "Beacon Node P2P"
Hi all,

This issue is opened to design the structure of beacon chain p2p and how it will integrate with shardp2p. Since a beacon validator can be multiple roles at once (proposer, attester, etc.), it will need to manage multiple open p2p connections, each at different time points, and each requiring to connect to different networks and find peers within those networks.

This is an open issue for

[2018-07-13 16:08] rauljordan opened #264 "Chain Sync for Random Beacon Chain"
Hi all,

This issue is here to discuss beacon chainsync given a full PoS chain implementing Casper FFG. This will be the first step of beacon chain p2p, as the beacon node needs to be synced up to the canonical chain before a validator can create blocks or be selected as a proposer/attester.

Given the finality Casper FFG brings via checkpoints, sync can start from the last finalized checkpoint an

[2018-07-13 16:13] rauljordan opened #265 "Listen to Validator Registration Contract Logs for Registered Validators, Use Same Private Key in Beacon Node"
Hi all,

When the beacon node begins, it needs to read the logs from a validator registration contract for registered validators.  When a validator deposits 32ETH into the contract on the mainchain, they pass in the public key they will be using for signing. This same public key will be used in the beacon node.

To do this, we should pass in the address of a deployed Validator Registration Contrac

[2018-07-13 16:21] rauljordan opened #266 "Create a Beacon Chain State Data Structure - Only Mutable By its Services"
Hi all,

This issue refers to representing the beacon chain state as a state-machine data structure as defined in the [Project Structure](https://docs.google.com/document/d/1lTDUy6JwRGNE4rDKiyzaV-lxhG2SZ2F6wCthM-QCSFQ/edit#) in our random beacon chain design doc. Every time this structure changes, we will persist it to disk. It cannot mutate itself using internal methods, but instead will be mutat

[2018-07-13 16:51] terenc3t opened #267 "Implement Dynasty Transition Logic for Beacon Chain"
Dynasty transition happens when the last two epochs were both justified. This issue implements dynasty transition logic for beacon chain node. A node should detect when last two epochs were both justified and perform the following operations:

- Increase `crystallized_state.dynasty` by 1
- Go through all queued_validators, in order from first to last. Any validators whose switch_dynasty is equal t

[2018-07-13 19:47] rauljordan opened #269 "Ensure Bazel Maintains the Same Visibility Upon New bazel run //:gazelle"
Hi all,

Even though we set the visibility of packages such as the beacon-chain to be `beacon-chain:__subpackages__`, triggering new gazelle runs will generate build files in new subfolders with public visibility. It will also switch the visibility of the binaries to public. We should fix this.

[2018-07-13 22:34] terenc3t opened #270 "Utils to Deploy Validator Registration Contract"
To close this issue, we'll implement a util tool (go binary) to deploy Validator Registration Contract and output the contract address. The util will be in the contracts package. This is to simply the beacon node work flow for users and for demo.

[2018-07-13 22:44] prestonvanloon commented on #230
@rauljordan What are the requirements to close this issue?

If we are talking about phase 1 Ruby, does an update to the [Ruby PRD](https://docs.google.com/document/d/125ajrN-0cKGwAMlv_bi02MKzGUxMDC_TeDvHCpqAKAs/edit) satisfy this issue?

[2018-07-13 22:50] prestonvanloon commented on #108
I will update after #222 is merged.

[2018-07-13 22:52] prestonvanloon commented on #263
Related: #108

[2018-07-13 22:53] prestonvanloon commented on #264
Related: #108

[2018-07-13 23:23] prestonvanloon opened #272 "Add Skylark Rule For Abigen"
[code]
This involves writing the skylark rule which leverages the go-ethereum abigen and solidity compiler in the bazel toolchain to generate the go bindings and expose them as a go_library.

https://docs.bazel.build/versions/master/skylark/spec.html

The benefit here is that users will no longer need to regenerate the go-bindings when updating contracts and we can conform to the same version of s

[2018-07-14 02:15] #262 closed

[2018-07-14 02:21] rauljordan commented on #230
Good Q. Yes I think having an updated PRD with an idea of what we want to release will be enough to close this. I'd like to hold off until we make more progress on the beacon node.

[2018-07-14 02:36] rauljordan opened #274 "Add Back Debug.Exit() so CPU Profile Data is Flushed and Ensure Trace"
Hi all,

This issue adds back the debug.Exit() logic found in geth that allowed for CPU profiling to be flushed and debug tracing to occur in our repo.

[2018-07-14 03:35] #274 closed

[2018-07-14 07:54] rawfalafel commented on #258
Good point. I'll track noteworthy licenses for any library we choose to import in this issue.

[2018-07-14 19:48] #261 closed

[2018-07-14 23:15] prestonvanloon opened #277 "Proposer Is Creating Collation For Every Received Transaction"
This should be batching transactions into a transaction pool.

https://github.com/prysmaticlabs/geth-sharding/blob/b883562e12344c7eeab25b5fb24133fc820b6f05/sharding/proposer/service.go#L80-L101

Please wait for #222 to be merged as there will be some changes to the p2p message types.

[2018-07-14 23:16] prestonvanloon commented on #277
Maybe depends on #161. @terenc3t can you confirm?

[2018-07-15 04:00] rawfalafel opened #280 "Use Beacon Node Context to Establish Pattern for Cleaning Up Resources"
Now that we've established a pattern for passing contexts through to services in #273, let's take advantage of it.

Here's the chain of events when a user shuts down the beacon node:
1. `BeaconNode` listens for `SIGINT` or `SIGTERM`
2. `BeaconNode` calls `Stop` on all services
3. `Stop` calls `ctx.cancel`
4. goroutines exit

The new chain of events should be:
1. `BeaconNode` listens for `SIGINT` o

[2018-07-15 11:16] nisdas commented on #277
It looks like it happens because everytime a transaction is received in the channel a collation is proposed. One solution is to make the channel buffered and have a condition
[code]
where size would be the number of transactions in the collation

[2018-07-15 15:36] prestonvanloon opened #282 "Continous Integration: Setup Bazel Remote Execution / Caching"
To create faster builds, we can leverage Bazel's feature to execute on remote workers and take some burden off of Travis (or other CI). It might make sense to do this when we launch a Sapphire testnet with extra resources in a compute cluster.

At this time we can also explore other CI pipelines for more flexibility, such as [Buildkite](https://buildkite.com).

This is low priority until Travis ca

[2018-07-16 01:07] rauljordan opened #285 "Replace Logrus Prefixes in Log Messages With Timestamps, Service Scope"
Hi all,

Currently logrus issues logs in the following manner

[code]

Ideally, we'd want messages that capture a timestamp and the context of the service that fired the log. A PR for this would add both pieces of functionality.

[2018-07-16 02:37] rauljordan commented on #204
@terenc3t do we still need this?

[2018-07-16 02:42] terenc3t commented on #204
This got fixed by #223. `RespondCollationBody` no longer needs a signature

[code]

[2018-07-16 02:42] #204 closed

[2018-07-16 16:24] terenc3t opened #286 "Design Doc Skeleton Template"
We have been writing a lot of design docs across multiple components (p2p, block processing, fork choice..etc) It will be very nice to have a design doc skeleton template. Let's use this issue to create a design doc skeleton template and place it in Prysmatic Lab's google drive

[2018-07-17 01:56] prestonvanloon commented on #70
I think that we'll choose a more permissive license and the preamble may not be necessary. Not sure how to reach a definitive answer though.

[2018-07-17 01:58] prestonvanloon opened #287 "Add Additional P2P Discovery Mechanisms: DHT & Others"
Our p2p framework needs more than multicast discovery for Sapphire release.

This issue serves as a general placeholder for adding more discovery mechanisms.
We'll need to update this issue with more design details and background after Ruby.

[2018-07-17 20:46] rauljordan opened #289 "Move P2P to Shared Package"
Hi all,

The p2p implementation for sharding will also be needed by the beacon-chain repo. Let's move it to the shared package.

[2018-07-17 20:50] prestonvanloon commented on #289
This is a bit more involved then simply moving p2p package to shared package so that both projects can consume it.

Each actor may have its own topics and configuration to handle. We should design this carefully so that code can be effectively reused by random beacon chain and the sharding client.

[2018-07-17 20:57] terenc3t opened #290 "Beacon Chain Node Private Key Management"
Using this issue to open up discussion on how we plan to manage private key from beacon chain node's point of view. Let's explore how to harden the access to the private key for future releases as security is going to be a real consideration.
User should have the options to generate new key pair from beacon chain node or import previously owned key pair from main chain. At the same time, we should

[2018-07-18 15:06] terenc3t opened #294 "Testing Methodology for Beacon Chain Block Processing"
Let's start a discussion on how we plan on testing the beacon chain. Like go-ethereum's simulated backend, it would be nice for beacon chain to have a similar back end functionality on advancing beacon blocks. Developers can use this functionality to test re-orgs, fork choice rules, and state changes.
Another option is to avoid simulated back end architecture for testing, and focus on the e2e aspe

[2018-07-18 15:32] rauljordan commented on #294
@prestonvanloon elaborated on the idea of not having a simulated backend but instead just having a real chain where data is persisted in-memory.

One of my only requests for this piece of functionality is to work with small interfaces in the implementation for easy mocking and extensibility.

One of the downsides of not having a simulated backend is that e2e testing approach will be difficult to m

[2018-07-18 19:18] terenc3t commented on #272
@hubris
Fork, create a new branch, and open a PR. Check out these [guidelines](https://github.com/prysmaticlabs/geth-sharding/blob/master/sharding/CONTRIBUTING.md)

[2018-07-18 20:38] hubris commented on #272
@terenc3t Since I'm new to this project I want to be sure that I'm heading toward the right direction:
1) Add the solidity compiler as an external dep
2) Rule which:
    -Use the solc compiler to generate the abi
    -Use abigen (which is already an external) to generate the go library

Also it seems abigen can directly generate the lib from the sol file if it has a compiler.
Let me now if I misse

[2018-07-18 20:42] prestonvanloon commented on #272
@hubris We're looking to build something that is along the same lines as the [go-proto-library](https://github.com/bazelbuild/rules_go/blob/master/proto/core.rst#go_proto_library).

Ideally, this would be the same user workflow. However, we use a solidity contract rather than a protobuf definition.

[2018-07-18 21:03] hubris commented on #272
@prestonvanloon awesome, it will  be of great help to me!

[2018-07-19 15:18] #265 closed

[2018-07-19 16:31] #266 closed

[2018-07-19 18:25] rauljordan commented on #277
@nisdas can you open a PR for this and try out your suggestion?

[2018-07-19 18:27] rauljordan commented on #256
Hey @terenc3t I'll open up a PR that just implements the logic outlined above. The functions I will write can later be combined with the network block simulator proposed by @rawfalafel as part of the entire event loop.

[2018-07-19 18:36] rauljordan commented on #108
Update on this @prestonvanloon ?

[2018-07-19 18:56] rauljordan commented on #256
As mentioned in #255:

This means we should store the incoming blocks (once we are allowed to process them) in a trie structure until a separate goroutine called UpdateHead applies the fork choice rule to this trie.

[2018-07-19 21:40] terenc3t opened #296 "Active State Transition Function for Beacon Chain"
Opening up this issue to plan and design beacon chain's state transition function. Please refer to latest [beacon chain spec](https://notes.ethereum.org/SCIg8AH5SA-O4C1G1LYZHQ?view) as a reference.
As quoted in the design spec, the state transition is made up of 2 parts:

This issue aims to addresses the state transition function in regards to per-block processing. It affects the active state only

[2018-07-20 21:55] #230 closed

[2018-07-21 17:51] #285 closed

[2018-07-21 18:49] hubris commented on #272
@prestonvanloon  Hi, just to let you know what I'm doing.

So I took the code from go-proto-library and I'm making the needed change for solidity.
For now, like the go_proto_library, I have an additional abi_library rule which generates the abi files. I don't know if it is of any use to you to have this additional step or if it should be merged with the go_abi_library rule in the final version. He

[2018-07-21 20:10] prestonvanloon commented on #272
@hubris that is great! With that pattern we can extend it for other languages.

[2018-07-22 02:12] prestonvanloon opened #311 "Migrate cla-assistant to Self Hosted Solution"
https://cla-assistant.io is free and could likely go away at any time (along with our data). As such, we should move to a self-hosted solution as soon as possible.

This is a bit of a bigger project since we don't have any cloud infrastructure set up for this project yet. Ideally, we can spin up a Kubernetes cluster and add the cla-assistant as a running pod.
However, we would need to discuss infr

[2018-07-22 02:13] prestonvanloon commented on #289
I'll be starting work on this tomorrow

[2018-07-22 12:54] hubris commented on #272
Hi,
I'm using abigen from https://github.com/prysmaticlabs/bazel-go-ethereum to compile .abi to .go.
The problem is that the generated go file don't have all the needed import. If I use abigen generated form go-ethereum Makefile AND I launch it from go-ethereum source directory the go file is correct.
Do you have any clues about that?

[code]
instead of
[code]

[2018-07-22 13:36] hubris commented on #272
Ok abigen needs go-ethereum in its GOPATH to work properly.

[2018-07-22 13:48] prestonvanloon commented on #272
@hubris Everything must be part of the toolchain. Bazel should provide everything so you should be able to build and run these targets on a new machine with only Bazel installed (no go, no GOPATH, or anything).

If you have go-ethereum as go-repository dependency, you can use the abigen target:
[code]
We have a bazel-friendly fork of go-ethereum here: https://github.com/prysmaticlabs/bazel-go-ethe

[2018-07-22 14:45] hubris commented on #272
@prestonvanloon Yes that's what I'm using.

[2018-07-22 16:11] terenc3t commented on #257
Will work on this after #309

[2018-07-22 16:13] nisdas commented on #259
I think I will hold off on this until slashing conditions are specified and the spec is slightly more mature

[2018-07-22 16:16] terenc3t commented on #259
Here is the latest spec:
[code]

[2018-07-22 17:17] rauljordan commented on #294
**Summary of what we need to do to wrap this up:**

Our blockchain service will have a running goroutine that
- Listens for received blocks
- Checks if we can process them
- Runs updateActiveState for each
- Stores the updated state and processed block inside of a trie structure
- Persists this trie structure in local storage to prevent against the node being disconnected

Then, chain service will

[2018-07-22 19:44] hubris commented on #272
According to this [https://github.com/ethereum/go-ethereum/issues/15827](https://github.com/ethereum/go-ethereum/issues/15827), abigen indeed expects go-ethereum in its GOPATH.

@prestonvanloon  To generate the go file from the abi file, I'm using an action which executes @com_github_ethereum_go_ethereum//cmd/abigen:abigen. I'm trying to set GOPATH in the action's env.
[code]
For now, my main prob

[2018-07-22 20:09] prestonvanloon commented on #272
@hubris this will not work if it depends on go-ethereum being installed in the GOPATH.

We have used abigen successfully in this project.

[code]
The above tool is available to run in the same way as the tutorial, for example
[code]

To confirm that abigen doesn't expect anything from the gopath, I've run the above command in a cloud shell that does not have go installed or any gopath

However, th

[2018-07-22 20:50] hubris commented on #272
@prestonvanloon Thank you for the answer. I tried the exact same commands as you. At the end my generated file still miss some imports:
[code]
I checked that my GOPATH was empty. I'm working on a Fedora 26.

[2018-07-23 01:44] rauljordan opened #315 "Deprecate SMC, Replace With an Interface and Mocked Methods for a Beacon Chain in Client"
Hi all,

One of our goals in building the beacon chain is to eventually deprecated the **Sharding Manager Contract** defined in the `client` folder in our repo. The purpose of the SMC in the minimal sharding spec and our implementation is to:

- Handle the submission of collation headers and proofs of custody across shard, period pairs
- Select committees (notaries) on shards for a certain period

[2018-07-23 16:04] nisdas opened #316 "Fix tests in the Proposer Package"
Currently the tests for `proposeCollations` in #305 are unable to pass travis due to the fact they end up leaking into each other during the package test. The best way to fix it would be to use an alternate method rather than log hooks to check for whether collations have been created and sent.
#### Lifecycle of Collation
- Transactions are received from p2p feed
- Transactions are then batched to

[2018-07-23 16:52] hubris commented on #272
@prestonvanloon Sorry to disturb you again but can you confirm that the output of your abigen has all the go-ethereum import?
Also can you give me the exact Linux distribution of the node so I can try to reproduce your result in a VM?
Thank you.

[2018-07-23 23:41] prestonvanloon commented on #272
Ah, thanks for the context @hubris. I apologize, I did not understand the constraint.

[Here we see that the abigen uses golang's imports.Process](https://github.com/ethereum/go-ethereum/blob/fe6a9473dc49b4cc17f3c9d2f63d409ab878bce1/accounts/abi/bind/bind.go#L150)

And it looks like there is a proposal to support goimports from bazel WORKSPACE. https://github.com/golang/go/issues/18441

However, i

[2018-07-24 03:20] #14 closed

[2018-07-24 03:20] #70 closed

[2018-07-24 03:20] rauljordan commented on #108
Bump @prestonvanloon

[2018-07-24 08:20] fgimenez commented on #280
hey @rawfalafel are you working on this? If not I'd like to give it a try (encouraged by the labels ;)

[2018-07-24 09:21] rawfalafel commented on #280
hey @fgimenez

After looking at this a litte longer, I realized that the changes are more invasive than I initially thought. That label's outdated, sorry!

Regardless, looks like there aren't any unassigned "Good First Issue" tasks left. Its partly because everything's still in flux since the recent spec update. There should be an issue with the tag soon, so keep an eye out.

[2018-07-24 12:05] prestonvanloon commented on #108
Thanks I've updated based on the p2p PR merged.

I haven't been able to get syncing to work successfully yet so I won't mark that box as complete.
The p2p messages are currently defined as protobufs but we are still exploring whether this is the best solution. See #150

[2018-07-24 12:06] prestonvanloon commented on #14
@rauljordan can you comment why this was closed?

[2018-07-24 12:08] prestonvanloon commented on #289
It looks like this can be moved to the shared package and made more generic with regards to what topics are subscribed.

[2018-07-24 15:31] rauljordan commented on #14
This should be irrelevant now that we have the beacon chain. There will be no need to have write access to a mainchain node, and no need to consider this case as we will not be signing mainchain transactions.

[2018-07-25 01:49] nisdas commented on #259
Hey @terenc3t , isnt the v2.1 spec not finalised yet ? I think in the sharding gitter channel they said it was most likely suspect to heavy change.

[2018-07-25 12:02] nisdas commented on #176
@prestonvanloon Can we close this , its already implemented?

[2018-07-25 12:56] terenc3t commented on #176
Yes, this was implemented under p2p's `service.go`

[2018-07-25 12:56] #176 closed

[2018-07-25 16:12] terenc3t opened #324 "Check Parent Hash in Block Processing Function"
When a beacon node processes a incoming beacon block, one of the verification step is to check the incoming block's parent hash correctly exists and locally stored in the beaconDB. To fix this issue, we should implement conditional check to verify `block.ParentHash`exists in beaconDB and return an error if it doesn't

https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/blockchain/core.

[2018-07-25 16:34] rauljordan opened #325 "Have Each Service Run a Single, Main Routine to Prevent Race Conditions"
Hi all,

As per the work @rawfalafel is doing in #322, we have discussed having every service run a single, main routine instead of multiple different ones that have shared state. This will allow for the prevention of race conditions at runtime that will be pesky to catch and allow for simpler services.

[2018-07-25 16:58] rawfalafel commented on #325
The one exception in `beacon` and `shared` that I see is `shared/p2p/service.go`. It starts one goroutine per topic but they're all self-contained.

[2018-07-26 03:45] prestonvanloon opened #330 "Handle Invalid Messages Received on Gossipsub"
In the current implementation, the p2p service connects to peers and subscribes to certain message topics. These message topics expect a specific protobuf message, although the peer could send anything into the topic.

The task is to add some validation that the received message on a topic is indeed the expected protobuf message type. If not, ignore the message (don't propagate it to feed subscrib

[2018-07-26 04:11] prestonvanloon opened #331 "Add Feed Subscribe() Convenience Method"
The task is to add the following to shared/p2p/feed.go with test coverage and update GoDoc and example feed:

[code]

This makes it easier to mock or stub the p2p service as well as makes for less typing.

[code]

[2018-07-26 14:16] #331 closed

[2018-07-27 00:29] #316 closed

[2018-07-27 14:46] #234 closed

[2018-07-27 14:46] #289 closed

[2018-07-27 18:14] terenc3t opened #337 "Implement Get Cutoff Algorithm for Validator Assignment"
Use the following algorithm to split up validators into groups. The groups determine at what height the validators can make attestations for, and the groups determine at what height the validators can make cross links for.
Second step, within each group of height, it should split the subgroup for different shards. When a validator set is too small to support a committee at every height, some heigh

[2018-07-27 18:47] s1na commented on #324
Can I give this a try?

[2018-07-27 19:14] prestonvanloon commented on #324
Yes.

Consider this assigned to @s1na

[2018-07-28 17:16] hubris commented on #272
@gitcoinbot yes

[2018-07-28 21:25] rauljordan opened #342 "Declare Explicit Fields in Struct Initialization Across Entire Repo"
Hi all,

Instead of initializing structs as `&ChainService{nil, nil, web3Service, nil}`, we can use a combination of the `Config` struct pattern and named fields in the initializers. This will increase readability.

[2018-07-29 01:48] nisdas opened #345 "Implement Slashing Conditions"
The current research spec has not described the conditions in any detail yet, however when they do they will need to be implemented and added to the main `updateChainState` service. Tentatively the condtions that might be implemented are listed below:

- Casper FFG height equivocation
- Casper FFG surround
- Beacon chain proposal equivocation
- Shard chain proposal equivocation
- Proof of custody

[2018-07-29 13:35] hubris commented on #272
@prestonvanloon  Hi,
I'm a little stuck with the goimport. Here is the result of my investigation.

First, goimports expects a tree structure like this _**src**/github.com/ethereum/go-ethereum_. This structure is generated in the  atlassian script [here](https://github.com/atlassian/bazel-tools/blob/e0e575b8a809c4565ef189be871bb6b11cd91043/goimports/runner.bash.template#L11).

The atlassian tool a

[2018-07-29 15:10] prestonvanloon commented on #272
Hey @hubris!

Sorry that this is turning out to be so challenging! I don't know how to do that without digging deep into Skylark/Bazel rules/macros. I believe you should be able to use make variables provided by bazel. Something like `$(location @com_github_ethereum_go_ethereum//:some_target)` which would provide you the location of that target in a genrule.

Another idea is to provide those targe

[2018-07-29 17:03] #337 closed

[2018-07-29 17:07] nisdas commented on #259
Closed via #323

[2018-07-29 17:07] #259 closed

[2018-07-30 01:14] terenc3t opened #347 "Implement State Sync Services"
Using this issue to open a PR for state sync. This PR will address state syncer workflow for receiving incoming active and crystallized states via feeds of proto messages. Will break this down into many PRs.

Todo:
- Move crystallized and active states to use the underlying proto structs
- Update current code that uses crystallized and active states, make sure tests don't break
- Implement sync se

[2018-07-30 05:57] terenc3t commented on #347
Will be working on it this week. Expect multiple medium-sized PRs on the way

[2018-07-30 12:39] rawfalafel opened #349 "Update CanProcessBlock To Fetch Genesis Block From Disk"
Right now, `CanProcessBlock` checks the slot number's validity against a [fixed timestamp](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/types/block.go#L40). Ideally the timestamp should reflect the timestamp of the genesis block on disk. Furthermore, its fairly inefficient to create a new block object when all we need is the timestamp. This ticket should address both issues by f

[2018-07-30 13:37] rawfalafel commented on #264
sync design (may be out of date): https://docs.google.com/document/d/1turojexnkAf_Yrf_YYQv6a-b8prnbkYAYoj4zLo1GgA/edit?usp=sharing

[2018-07-30 13:43] rawfalafel opened #351 "Implement Initial Sync For Random Beacon Chain"
This is the last major task for #264. This feature allows the beacon chain to catch up to the network's canonical chain. The simplest approach would be to assume that all nodes are honest (for now) and query for the block + state of the last finalized checkpoint and build from there.

[2018-07-30 14:06] rawfalafel opened #352 "Split BeaconChain.persist Into Active/Crystallized State"
`persist` should be split into two functions to allow one to be udpated without the other. This will become  necessary when the size of the crystallized state increases with the validator set.

In addition, this issue should refactor the existing code to batch writes to disk, particularly when updating the crystallized state. Currently in `computeValidatorRewardsAndPenalties`, the entire crystalli

[2018-07-31 09:06] #324 closed

[2018-07-31 15:35] rauljordan commented on #296
Was this closed by your some of your latest PR's @terenc3t ?

[2018-08-01 16:15] #347 closed

[2018-08-01 16:17] terenc3t commented on #296
Not yet. We still need to verify aggregate signatures during active state transition and that's waiting on BLS

[2018-08-01 16:18] #257 closed

[2018-08-01 16:19] terenc3t commented on #260
Latest discussion on reorg: https://ethresear.ch/t/beacon-chain-casper-ffg-rpj-mini-spec/2760

[2018-08-01 16:27] terenc3t opened #363 "Split Topics for P2P Beacon Chain and P2P Sharding"
Currently all the P2P topics are grouped under sharding and used by mapping `topicTypeMapping` in `topics.go`. This issue should separate beacon chain related topics out of sharding topics.

Under sharding/messages.proto:
[code]

[2018-08-02 00:41] prestonvanloon opened #366 "Support Secure gRPC Connections by Default"
PR #364 introduces gRPC server connection through insecure connections.

https://github.com/prysmaticlabs/prysm/pull/364/files#diff-6df2af9c5a6ba83c50b7b5ec427fba94R39

We should do the following:
- Add flag to specify insecure connections (`--use_insecure_rpc` or similiar) where the default is secure connection
- Warning that this is an insecure connection
- Support TLS secure connections provide

[2018-08-02 14:49] mratsim commented on #150
Another potential alternative: Cap'n Proto https://capnproto.org/ by the guy who implemented Protobuf at Google in the first place.

It seems to fit:

[2018-08-02 15:37] terenc3t commented on #352
Addressed this in #367

[2018-08-03 01:28] #352 closed

[2018-08-03 03:56] rauljordan commented on #150
Also Cap'n proto has tons of language support - perhaps we can put together a small repo where we play around with these different schema-based serialization protocols across their different language implementations?

[2018-08-03 13:04] IvanTheGreatDev commented on #349
I'm looking to give this a go, how would one fetch the genesis block from the disc?

[2018-08-03 14:44] terenc3t commented on #342
assigned to @IvanTheGreatDev

[2018-08-03 21:31] #342 closed

[2018-08-04 00:03] terenc3t commented on #349
Closed via #373

[2018-08-04 00:05] terenc3t commented on #280
Can we close this after #353 and 335?

[2018-08-04 14:48] prestonvanloon opened #377 "Tests Fail With Race Detection"
[code]
Results
[code]

This is likely due to some p2p issues where the tests are attempting discovery.

[2018-08-04 14:49] prestonvanloon opened #378 "Add Race Detection to CI"
Let's add race detection to our tests in continous integration.

This can be achieved by adding `--features=race` to the `bazel test` line in `travis.yml`.

Blocked by #377

[2018-08-05 12:01] hubris commented on #272
@gitcoinbot yes
@prestonvanloon Sorry I didn't have so much time to work on it, plus the unexpected difficulties. If you are not in a hurry I will continue to work on it.

[2018-08-06 15:09] rauljordan commented on #325
I think it means that we originally had services that did:

[code]

and instead we can have

``go
func Start() {
  go run()
}

func run() {
  // select statement that handles all goroutines with shared state
}
[code]

[2018-08-06 15:12] rauljordan commented on #280
I can take hold of this one.

[2018-08-06 15:12] terenc3t commented on #377
Assigned to @fgimenez

[2018-08-06 17:53] vs77bb commented on #272
Thanks for the updates @hubris. Appreciate your persistence here!

[2018-08-06 20:42] terenc3t commented on #325
I can take on this later today if there's still any work left

[2018-08-07 02:15] prestonvanloon commented on #286
This is done and the gdoc skeleton is here: https://docs.google.com/document/d/1ItkSY7-moVfTLq1sD2BIA5qlDJjrOPoj12ieuzwC6JQ/edit?usp=sharing

[2018-08-07 02:15] #286 closed

[2018-08-07 17:56] #325 closed

[2018-08-08 06:57] #351 closed

[2018-08-08 12:14] nisdas opened #388 "Split Sync into Two Different Services"
Currently the sync service handles both the initial sync and regular sync. As our implementation grows our initial sync will become more complicated as we start to factor in security concerns, etc . Also the initial sync and regular sync use different methods and fields.

A pr for this will create a separate struct/service for initial sync and regular sync and also will ensure that only one servic

[2018-08-08 12:39] nisdas opened #389 "Broadcast Newly Added Blocks"
Currently nodes do no broadcast any new blocks after they have been proposed or attested to, they just listen to the p2p feed for any newly processed blocks for syncing. A PR for this will allow proposers to broadcast their newly created blocks.  Once this is done nodes will be able to both send and receive blocks instead of currently where they just receive blocks.

[2018-08-08 16:00] nisdas commented on #389
Ah, k yeah you are right. For some reason I mixed up saving the blocks with broadcasting them, changed the issue description.

[2018-08-09 14:12] rauljordan commented on #366
Can this be closed @prestonvanloon ?

[2018-08-09 16:34] hubris commented on #272
@gitcoinbot yes

[2018-08-09 23:49] terenc3t opened #392 "Deprecate SMC, Put SMC in Contract Repo and Update Readme"
Building off on #365, one of the following task is to move SMC to `/contract` project and update readme to indicate it's deprecated. I'll take care of this before the weekend.

[2018-08-12 17:43] hubris commented on #272
@prestonvanloon
Hi,
I tried to focus on generating a go file from a sol file.
I made a wip branch  [here](https://github.com/hubris/solrules). The rule looks like this:
[code]
I use a script similar to the goimports atlassian's rules. I only managed to find the "external" directory I had to do an ugly sed on the 'sandbox' directory which is probably not a good thing.
You can try the rule on my rep

[2018-08-12 22:37] rauljordan commented on #388
Agree with this - same pattern as fetcher/downloader in geth. Perhaps we can do these as subpackages within the syncer package? Maybe call it "announcements" / "chainsync" ? I'd love for us to opt for something easier to understand. @nisdas can you update the sync design doc to include these two items?

[2018-08-13 02:34] #315 closed

[2018-08-13 02:34] #392 closed

[2018-08-14 01:32] rawfalafel commented on #388
I can take this one.

Agree that naming is key. I'm having problems thinking of a good concise name.

[2018-08-14 01:50] prestonvanloon commented on #282
@fgimenez I think a few proposals/investigation would be a good start.

I have looked at bazel-buildfarm and bazel-buildbarn. I think there are a few others that support the remoteexecution API (BuildGrid?).

Also, it appears that Google is working on a remoteexecution service. Maybe as part of Google Cloud? I'm not sure, but if you look at the Tensorflow project, they are using some kind of remot

[2018-08-16 12:25] prestonvanloon opened #409 "Travis is failing on master since #402"
https://travis-ci.org/prysmaticlabs/prysm/branches

First started failing yesterday after merge of #402.
I'm unable to reproduce locally with a simple `bazel test //...` and the logs don't seem to be very helpful in travis.

[2018-08-16 14:49] hubris commented on #272
@prestonvanloon Hi, I submitted a PR for you to review. I put the rules in contracts/rules. The 2 contracts  validator-registration-contract  and sharding-manager-contract are now generated with the new rule.

Note that in order to work solc must be installed since it doesn't seem to exist a bazel repo for this.

In the end, I drifted away from the original design. As explained in the PR,  the rul

[2018-08-16 21:03] terenc3t opened #412 "Blockchain Tests Fail With Race Detection"
Blockchain tests failed with race detection on in Travis and we have turned race detection off in blockchain tests package. Opened this issue to investigate why it was failing with race on and how to resolve it.

See: https://travis-ci.org/prysmaticlabs/prysm/jobs/416935859

[2018-08-16 21:54] rauljordan opened #413 "If Node is a Validator, Exit if Web3 Connection Cannot be Established"
Hi all,

Currently, the beacon node acting as a validator does not exit if a connection to a web3 PoW node cannot be established. This is a critical component of all beacon validator functionality, and we should issue a Fatalf if the connection cannot occur. Otherwise, users will run into panic conditions. This Fatal tlog should occur if we have some sort of `--validator` flag enabled.

### In the

[2018-08-16 22:02] terenc3t commented on #413
Not all the users that launch beacon node is validator. I think's it's better to specify a validator flag and. If it's `on` and there's no web3 connection, beacon node issues Fatalf

[2018-08-16 23:44] prestonvanloon commented on #272
Hey @hubris, I left some feedback on #411

[2018-08-16 23:44] prestonvanloon commented on #409
Fixed with #405

[2018-08-16 23:44] #409 closed

[2018-08-17 06:46] IvanTheGreatDev commented on #349
Can this be closed now?

[2018-08-17 06:47] nisdas commented on #349
Yeap, I will close it

[2018-08-17 06:47] #349 closed

[2018-08-17 06:48] IvanTheGreatDev commented on #377
Is there more work needed on this?

[2018-08-17 06:48] terenc3t commented on #413
I'll take on this tmw

[2018-08-17 06:50] nisdas commented on #377
Yeah there are a few more race conditions to fix. I think @fgimenez is working on fixing the remaining conditions.

[2018-08-17 06:53] terenc3t commented on #296
This is implemented with latest 2.1

[2018-08-17 06:53] #296 closed

[2018-08-17 06:54] nisdas commented on #135
With the changed spec, this issue is outdated, I am closing it

[2018-08-17 06:54] #135 closed

[2018-08-17 06:57] terenc3t commented on #108
@prestonvanloon Can we close this yet?

[2018-08-17 06:58] nisdas commented on #161
Should we close this ?  we do not really know right now what shards would look like and how a txpool would be used in a shard

[2018-08-17 07:01] terenc3t commented on #161
This is still a very valid issue and can be implemented anytime. Proposer needs a txpool to store tx, it doesn't have to do with shards, it's just a priority queue. This is up to the client team to design

[2018-08-17 07:40] fgimenez commented on #377
Not really, currently there's only one remaining data race in `shared/p2p`, but we can't fix it because it is caused by a third-party library, see https://github.com/prysmaticlabs/prysm/pull/390#issuecomment-412415378.

We had some issues recently regarding tests that fail on travis with the race detector enabled, but these seem to be related to travis execution environment (the failure is not fro

[2018-08-17 14:36] #377 closed

[2018-08-18 03:14] elihanover commented on #102
Forgot to get back to this for a while, but I've got an implementation of a binary trie with some results [here](https://github.com/elihanover/go-ethereum) that might be of interest. While proofs ended up being about half the size of radix 16 proofs, this is still far from optimal as mentioned [here](https://github.com/ethereum/wiki/wiki/Wishlist#trie). I'm interested in optimizing this further an

[2018-08-18 20:29] terenc3t commented on #260
We can close this. This is should be under fork choice rule.

[2018-08-18 20:29] #260 closed

[2018-08-19 15:03] rauljordan opened #418 "Use Blake2b-512[:32] in Prysm"
Hi all,

In order to use the same standards as the Beacon Chain python implementation, we should switch from blake2b 256 to 512. See https://github.com/ethereum/beacon_chain/issues/60.

[2018-08-19 16:44] terenc3t opened #420 "Test Definition Format: (Fork Choice Immediate Message Driven GHOST)"
The test format for Casper fork choice rule is up for discussion [here](https://notes.ethereum.org/6ozACHyKR9i86vfkt086Ow#)
As a team, we should decide if we like the format and come up with a comprehensive design doc. It's also important we study what other client teams are doing for synchrony. (Ex: https://github.com/ethereum/beacon_chain/issues/58)
This issue is associated with #255

More on fo

[2018-08-19 17:49] prestonvanloon commented on #420
What is RPJ?

[2018-08-19 20:03] prestonvanloon commented on #420
So the task is to come up with some language agnostic format for describing tests.

Given the example in the first link:

[code]
We understand the the first values are the test configuration:

|  Param    | Value  |
|-----|-----|
|validators| 100|
|epoch length| 8|
|shard count| 32|
|minimum committee size| 8|

[code]
And then we have a list of validator actions that should occur to test the fork

[2018-08-19 20:58] terenc3t commented on #420
This is great. Thanks a lot for the comprehensive thoughts! @prestonvanloon

 I see is slot ordering can be used for certain shorts. For example, [2] means validators defined in slot 2. [=6] means to enforce that this particular definition is at slot 6 explicitly.

I think empty slots can happen because validators can go offline, each slot is just a 8 seconds time window.

[2018-08-19 21:53] prestonvanloon commented on #420
A slot is referring to a segment of time? Why?

My other question is why reference another slot rather than denormalize the data. These slot references or concatenations add additional complexity.

I don’t see any time related functionality here. Rather we are establishing the chain state for the fork choice rule to decide the head.

[2018-08-20 00:01] #418 closed

[2018-08-20 13:53] nisdas commented on #420
@prestonvanloon
Isnt that in the definition of a slot ? A period of 8s. So 6 slots would come out to a period of 48s

Agree on the slot references, they needlessly complicate things and I do not really see the advantage of having them, why not just explicitly state what the data is.

[2018-08-20 15:50] #413 closed

[2018-08-20 20:13] djrtwo commented on #420
Slots are actually important to this construction. The current shuffling of validators (`indices_for_heights`) provides a different subset of validators for each slot in a cycle so when you say `0-5` in slot 0, it is not necessarily the same as `0-5` in slot 1.

I haven't reviewed your notes in detail yet. On the run currently! Wanted to drop that piece of info in, and I'll come back with more not

[2018-08-21 03:11] prestonvanloon commented on #420
Maybe we could define what a slot actually is and how they are related, if at all, and why are they related?

If slots are related to shuffling, are we assured that the shuffling is deterministic?

[2018-08-22 05:54] nisdas opened #426 "Resume Sync After Initial Sync Completes"
With #404 being merged in , initial sync and resume sync are separate services. With this when initial sync is done, it exits the initial sync service. However normal sync is not resumed. A PR dealing with this issue will allow normal sync to resume, also the PR will deal with changing the sync polling interval so that nodes with insufficient number of peers are given a larger interval to get up t

[2018-08-22 06:02] nisdas opened #427 "Modify Simulator for syncing of beacon node"
Currently the simulator is used to simulate broadcasting of blocks, for syncing we will need the simulator to respond to another node's request for a block by slot number. A PR dealing with this will allow the simulator to respond to those requests by retrieving the blocks from the db and sending those blocks to the beacon-node. This issue will be resolved when a new node is able to sync to the la

[2018-08-22 17:50] rauljordan opened #429 "Use Sparse Merkle Trie for Fork-Choice Rule Data Structure"
Hi all,

As part of #422, we are using a DAG to store received blocks at each received slot number. This is implemented naively as a map of slots to slices of blocks, which does not lend itself to light-client friendly proofs. SMT (Sparse Merkle Tries) have been discussed as the path forward. A PR for this would use an SMT instead of the map created in #422's `/beacon-chain/blockchain/service.go`.

[2018-08-22 18:05] rawfalafel commented on #388
Resolved with #404

[2018-08-22 18:05] #388 closed

[2018-08-24 02:56] eolszewski commented on #290
I think that most people in the security community would disagree with the idea of copying private keys around. In lieu of this, we can create a new key to use on the beacon chain and sign (certify) it with our mainchain key.

[2018-08-24 11:01] nisdas commented on #102
@elihanover That looks pretty interesting so instead of 4 bits of the hp - encoding you have 6 bits of encoding+padding from switching over to the binary trie ? Currently we will most likely be using the Sparse Merkle tree for representing the state of the whole chain

[2018-08-24 14:55] zigen opened #432 "Docs: the links in contracts/README.md are 404"
Hi there,

the links in [contracts/README.md](https://github.com/prysmaticlabs/prysm/blob/master/contracts/README.md) are broken
it points `validator_registration_contract/README.md`, but actually `validator-registration-contract/README.md`

[2018-08-24 15:52] terenc3t opened #434 "Flakey Casper Tests in Travis"
Casper Tests have been flakey in Travis but they work reliably in local environment. Opening up this issue to investigate why it's flakey to failure in Travis. Also, I've noticed it takes 6 seconds to execute casper tests in Travis, but only 405ms in local enviroment.

Example log: https://travis-ci.org/prysmaticlabs/prysm/jobs/420168402

[2018-08-24 16:33] eolszewski commented on #258
Would [this](https://github.com/tfhe/tfhe) not provide the same benefit?

[2018-08-24 22:09] elihanover commented on #102
@nisdas HP has 4 bit prefix and 0 or 4 bits of padding, while the binary encoding is 4 bits prefix and 0-7 bits of padding.  I saw this particular encoding as a simple way to take advantage of the preexisting HP encoding code (and luckily the 2 unused bits which just happened to be the exact amount of information needed for the change); however, I imagine there are significantly better encoding sc

[2018-08-25 20:11] #432 closed

[2018-08-26 17:37] prestonvanloon opened #437 "[Instrumentation] P2P Message Monitoring Metrics"
Create and add a p2p middleware adapter to increment monitoring metrics counters via [prometheus](https://github.com/prometheus).

Some of the requirements to close this issue:
- [ ] Brief design on what metrics are interesting to monitor
- [ ] An easily reusable p2p middleware adapter to monitor incoming and outgoing p2p messages
- [ ] Exposing metrics to prometheus via HTTP server (preferrably s

[2018-08-26 17:45] prestonvanloon opened #438 "[Instrumentation] Opentracing on P2P Messages"
Similar to #437, this task is to add tracing to Prysm, starting with P2P messages.

https://github.com/opentracing/opentracing-go
https://www.jaegertracing.io/

The ideal use case is to trace a P2P request from start to finish to determine where bottlenecks might be. Imagine that a request for a block body took 4 seconds from receiving the request to the reply. A tracing framework would be able to

[2018-08-26 19:50] nisdas commented on #429
design doc for this https://docs.google.com/document/d/1C-9uOsA2ozWz5gcGwnbfZX1x8Ryi8jTJZqoouq8Lgm0/edit#

[2018-08-28 04:50] terenc3t opened #442 "Use Slots instead of Heights Across Codebase"
We have deprecated the term `height` and replaced it with `slot` in the latest capser/sharding spec. Slot means a period of 8 seconds, during which one proposer has the ability to create a block and some attesters have the ability to make attestations.

To be consistent, let's scan through prysm code base and replace the word height for slot.

[2018-08-28 19:03] djrtwo commented on #420
Because of the epoch-less casper consensus rules, a validator attesting to a block at slot N is a casper vote for the block at slot N and the blocks in the previous CYCLE_LENGTH-1 slots (voting on a total of CYCLE_LENGTH slots). If there are empty blocks for some of these slots that are to be voted on by an attestation, then it is simply skipped. Note, it is _not_ the previous CYCLE_LENGTH blocks

[2018-08-28 19:04] djrtwo commented on #420
Note: ChiCheng has moved forward with the string parser for now, but we can replace the parser and tests with a different format and still keep the guts the same when we decide on a more favorable format here.

[2018-08-28 23:44] prestonvanloon commented on #420
Link to @ChihChengLiang's PR: https://github.com/ethereum/beacon_chain/pull/80

Why do we need shuffling here if this is testing the fork choice rule?

My interpretation of this test is to build a scenario for the fork choice rule to select the proper head given the information provided to the method.

To answer my earlier question: What is a slot and how are they related? @djrtwo answered offline

[2018-08-29 15:54] djrtwo commented on #420
We don't really need to be shuffling anything, but we do need the concept of only a subset of validators per slot (~`len(active_validator_set)/CYCLE_LENGTH`). Thus when you say I want 0-9 to attest to slot-1, we are saying the 0-9 assigned to slot-1, not the 0-9 of the total validator set. The specification of this shouldn't allow us to specify validators to attest to a slot that aren't supposed t

[2018-08-29 16:32] #363 closed

[2018-08-29 23:12] vbuterin commented on #420
The reason I went with a human-writable language is that it really does make life easier for a human to easily be able to crank out a test in 2 minutes without having to fiddle around with tools. I'd personally take JSON over protobuf text format, as most existing ethereum tests are in JSON; I suppose we could get the same gains as we had from the human-writable language by creating a translator?

[2018-08-30 03:39] prestonvanloon commented on #420
I agree with JSON. My suggestion for protobuf is to provide the type safety and schema for non-type-safe languages. However, protobuf text format is... not great. It's actually quite bizzare and hard to understand initially. This suggestion might be overkill or an imposition on others.

Back to JSON: I'd imagine that it would be possible to parse the originally proposed language into the JSON and

[2018-08-30 04:40] rauljordan commented on #429
Closing this as we have decided to persist all processed blocks and purge after 2 * cycle_length

[2018-08-30 04:54] #429 closed

[2018-08-30 04:55] rauljordan commented on #294
Can this count as part of #420? If so, can we close this?

[2018-08-30 04:57] rauljordan commented on #158
We will no longer be doing this but instead running a cluster for Ruby through k8s on some cloud solution

[2018-08-30 04:57] #158 closed

[2018-08-30 04:59] rauljordan opened #447 "Implement Proto Msg and Sync Handler for Block By Slot Number"
Hi all,

To unblock initial sync from being fully functional for demo purposes, we need a way to request blocks by slot number from peers through the sync service. Implementing a proto message + a handler in the sync service along with tests would be a well-scoped PR that solves this issue.

[2018-08-30 05:00] terenc3t commented on #294
Yeah. We can move this discussion to #420.

[2018-08-30 05:00] #294 closed

[2018-08-30 05:05] rauljordan commented on #255
To update this, we have implemented all of the block processing + head update logic with a naive fork choice rule as a stub (see #422) that selects the first received processed block during a slot as canonical. A PR that successfully fulfills this issue will implement a minimal, immediate message driven GHOST protocol as a real fork choice rule in our beacon chain instead of our current stub. This

[2018-08-30 05:09] rauljordan opened #448 "Define Clear Responsibilities of an Observer Beacon Node"
Hi all,

We currently have an observer mode when running a beacon node by default, which means a node that does not interact with validators in order to advance the canonical chain, but instead just listens on the p2p network and performs block sync. We have yet to clearly define all of the roles of an observer node throughout our system and how important they are for the future. Opening this issu

[2018-08-30 05:12] rauljordan opened #449 "Warn Validator of Upcoming Assigned Slot"
Hi all,

Currently a validator does not know when it will need to perform its responsibilities until the moment the slot arrives. We actually know this information as early as a cycle transition, so we can leverage this in order to notify validators way in advance of their role. Say, if a validator is selected to propose 20 slots from now, we can warn them 10 slots before their assignment. Logs ca

[2018-08-30 05:21] rauljordan opened #450 "Implement Bloom Filter to Check If Beacon Block Exists"
Hi all,

A PR for this issue would implement a [bloom filter](https://en.wikipedia.org/wiki/Bloom_filter) data structure to check for existence of a beacon block in our beacon chain project. Bloom filters are quite efficient also used by geth for checking existence of logs. We can keep this data structure in our shared/utils/ package.

[2018-08-30 05:33] rauljordan opened #452 "Implement P2P Message Interactions Between Validator"
Hi all,

As part of Eth 2.0 we require validators to communicate with each other on their assigned shard in order to exchange information about attestations. Specifically, we want proposers to receive attestation fields from attesters in a certain shard in order to package that data up into a block to be sent to a beacon node for processing. Workflow is as follows:

1. Proposer packages up basic i

[2018-08-30 05:34] rauljordan commented on #452
Super important for wrapping up our initial demo of the full system.

[2018-08-30 05:37] rauljordan opened #453 "Implement Attester Reponsibility"
Hi all,

This leverages the work from #452 in order to implement an attester's actual responsibility of voting on a received proposal and sending those attestations back to the proposer to package into a tentative beacon block. Similar to #441, this will expand on the stubbed attester package in the `validator` project to implement a real, functioning attester responsibility. Assigning provisional

[2018-08-30 11:38] prestonvanloon commented on #450
Can you elaborate more on this issue?
Why do we need our own implementation of a bloom filter rather than using a third party library?

[2018-08-30 11:42] prestonvanloon commented on #448
Can you elaborate more on this issue?

An observer has no responsibilities in the sharded system. This role exists merely to enable users to join the network without being a validator. The role is similar to a non-miner node in ethereum 1.0.

[2018-08-30 11:44] prestonvanloon commented on #449
So the issue is to look ahead 10 slots and INFO log if our validator address is selected to propose?

Should this be a configurable flag?
What is the intended action in the future, other than logging?

[2018-08-30 12:15] prestonvanloon commented on #434
The long execution time might be due to testing for race conditions as well as a constrained environment.

[2018-08-30 12:19] prestonvanloon commented on #290
+1 to not copying private keys.

@terenc3t can you clarify the problem up for discussion?
Is it that validators are registered with a mainchain wallet address and that the validator is meant to sign attestations with that same wallet address?
Can you add some general background for this discussion?

[2018-08-30 13:28] rauljordan commented on #434
Not so sure - there is no concurrency in the casper package AFAIK. This could be tricky.

[2018-08-30 13:30] rauljordan commented on #450
Thinking about this more and can't seem to figure out why we would use it instead of just a db.Has. Closing until further discussions.

[2018-08-30 13:30] #450 closed

[2018-08-30 13:31] rauljordan commented on #290
@prestonvanloon that approach would require some moving of priv keys around. Would be best to follow a suggestion similar to what @eolszewski mentioned - where we create a new key for attestations that is certified by the validator's mainchain key.

[2018-08-30 13:34] rauljordan commented on #448
Pinging @terenc3t as he brought up this point in our call

[2018-08-30 14:13] prestonvanloon commented on #290
I understand that. What I don’t understand is the original issue for discussion.

[2018-08-30 14:34] terenc3t commented on #448
We should discuss if there's additional observer functionality to implement before our pre-release/demo. My understanding is for the demo we'll launch geth node/validator node/observer node. For the observer node, do we need additional features like?

- cli flag to select if it's a beacon chain observer node or a shard chain observer node
- cli flag to select which shard to monitor
- anything else

[2018-08-30 15:02] nisdas commented on #427
The idea was that the simulator would have full set of features of a node, including being able to respond to requests by slot number. Currently our node doesnt broadcast blocks or respond to requests so if we have one node that is ex : at slot 50 , and we start a  new node , it will not sync. But yeah since we are dealing with this in #447 it will not be necessary

[2018-08-31 02:48] rawfalafel commented on #290
The original issue was that if the private key used to deposit 32ETH to the PoW chain was the same as the private key used to validate on the beacon chain, there would have to be some mechanism to securely move the private key over to the beacon chain.

This shouldn't be an issue. A would-be validator can generate a new private key from the validator client and include the pubkey of the new key in

[2018-08-31 08:39] mratsim commented on #420
Following yesterday's call, reposting my comments from the [beacon chain repo](https://github.com/ethereum/beacon_chain/issues/58#issuecomment-415702618)

In summary, human readable/writable format are good but it needs comment (which JSON doesn't support). I do prefer using a widespread format rather than a custom one we would need to write parsers for.

I feel like TOML or YAML can fit all those

[2018-08-31 10:38] rawfalafel opened #458 "Make State Immutable"
Currently, `ActiveState` is [mutable](https://github.com/prysmaticlabs/prysm/blob/f0abbf6f2679d9606e71b0c9d37113a7a2300d3a/beacon-chain/types/state.go#L195) in [various](https://github.com/prysmaticlabs/prysm/blob/f0abbf6f2679d9606e71b0c9d37113a7a2300d3a/beacon-chain/types/state.go#L166) [ways](https://github.com/prysmaticlabs/prysm/blob/f0abbf6f2679d9606e71b0c9d37113a7a2300d3a/beacon-chain/types/

[2018-08-31 10:48] rawfalafel opened #459 "Fix recentBlockHashes Update"
Our update to [`replaceBlockHashes`](https://github.com/prysmaticlabs/prysm/blob/f0abbf6f2679d9606e71b0c9d37113a7a2300d3a/beacon-chain/blockchain/core.go#L279) looks different from the [2.1 spec](https://notes.ethereum.org/SCIg8AH5SA-O4C1G1LYZHQ?view#Per-block-processing). I'm not sure why the code is different from our spec (it doesn't look unintentional), so it may be best to check with @terenc3

[2018-08-31 11:14] rawfalafel opened #460 "Update Crystallized State Once Per Cycle"
Currently, [`setCrystallizedState`](https://github.com/prysmaticlabs/prysm/blob/f0abbf6f2679d9606e71b0c9d37113a7a2300d3a/beacon-chain/blockchain/service.go#L203) gets called every slot, even though it only changes once per cycle. Check that the state changed before writing to disk.

[2018-08-31 12:59] rawfalafel commented on #448
There aren't any extra features we need that I can think of.

But, we should test that everything works as expected when zero/one/multiple validators connect to a beacon chain. There was that one bug where a buffered channel got stuck when no validators were available to flush the channel. We might run into similar bugs in the future.

[2018-08-31 14:15] eolszewski commented on #290
I've seen plenty of talk about CAS and the current lack of on-chain implementation is certainly stymying our plasma efforts. Can you link to where you saw something alluding to this change?

[2018-08-31 14:35] rawfalafel commented on #290
Yep! https://ethresear.ch/t/pragmatic-signature-aggregation-with-bls/2105

Gonna sound ignorant but what's CAS?

[2018-08-31 14:38] eolszewski commented on #290
Cryptographic Aggregate Signatures, it's on that link you posted, haha.

I have seen this and am aware of the bottleneck but didn't think that there was going to be a complete transition - although this is reasonable.

[2018-08-31 14:43] rawfalafel commented on #290
Whoops lol.

Maybe this is obvious but I'll include just in case: We don't require any changes to the EVM because the beacon chain doesn't manage transaction state. BLS aggregation would all be done in whatever language the client implements with.

[2018-08-31 14:57] rauljordan commented on #448
Agree - we will do that in preparation for the pre-release

[2018-08-31 15:00] rauljordan commented on #420
@mratsim YAML is a good compromise. +1.

[2018-08-31 16:32] rauljordan commented on #290
Should we go ahead and use ECDSA to certify a new key in the beacon chain with a validator's powchain key? Or should we hold off on this and just go ahead with BLS? tagging: @terenc3t

[2018-08-31 16:42] ChihChengLiang commented on #420
To shed some light on how this test language would be applied, let me paste here the chain test example from the deprecated hybrid Casper.
- [Test examples](https://github.com/karlfloersch/pyethereum/blob/develop/ethereum/tests/hybrid_casper/test_chain.py#L152-L192)
- [Test language implementation](https://github.com/karlfloersch/pyethereum/blob/develop/ethereum/tests/hybrid_casper/testing_lang.py

[2018-08-31 16:51] eolszewski commented on #290
I think that's a reasonable and well understood path forward for the time being.

[2018-08-31 17:11] terenc3t commented on #459
Indeed `replaceBlockHashes`is incorrect, let's fix it using this issue.

[2018-09-01 16:02] #442 closed

[2018-09-02 15:57] prestonvanloon commented on #420
My primary issue with the string format is that it is difficult to read or understand.

It seems reasonable to me that we could come up with some mechanism to easily create test scenarios while making it easy to read and understand. This could be writing a string language that can generate the test code in strictYAML or a GUI if someone was so inclined to do so.

[2018-09-02 16:30] djrtwo commented on #420
Agreed on YAML being a good option. @ChihChengLiang We can build and support a simple python tool that converts the string representation into yaml output.

I'll write up a new proposal taking into account @prestonvanloon's and @mratsim's notes/questions.

[2018-09-02 17:03] rawfalafel opened #463 "Fix getSignedParentHashes"
From the spec:

Compute `parent_hashes = [get_block_hash(active_state, block, slot - CYCLE_LENGTH + i) for i in range(1, CYCLE_LENGTH - len(oblique_parent_hashes) + 1)] + oblique_parent_hashes`.
eg, if `CYCLE_LENGTH = 4`, `slot = 5`, the actual block hashes starting from slot 0 are `Z A B C D E F G H I J`, and `oblique_parent_hashes = [D', E']` then `parent_hashes = [B, C, D' E'])`

This is fairly

[2018-09-02 19:54] rauljordan opened #464 "If Chain Is New, gRPC Validator Clients Request Latest Block/State from Beacon Node"
Hi all,

Currently, a beacon node streams the latest canonical block to gRPC validator clients each time the updateHead function runs successfully. That is, gRPC `stream.Send` is called once the fork choice rule is successfully applied and a new canonical head is determined.

### What Is Wrong

If the chain is beginning however, there is no fork choice rule to apply and no way that validator clien

[2018-09-02 22:31] rauljordan opened #465 "Broadcasting/Sending P2P Msgs Is Broken"
Hi all,

A recent change to accept proto.Message instead of generic `interface{}` for p2p messages over topics led to some breaking issues at runtime.

### What Went Wrong and How to Reproduce?

If we run the beacon-chain on the master branch with a simulator flag on, we get unknown topics. We can address this issue by making sure every `.Send(), .Broadcast()` call in the beacon chain project uses

[2018-09-02 22:45] prestonvanloon commented on #465
Currently investigating this issue. The primary suspicion is that the changes to the API for broadcasting messages might be related or something with the adapter changes.

Trying to reproduce within a test and I hope to resolve this soon or revert the breaking changes.

[2018-09-03 03:48] rauljordan commented on #464
@rawfalafel proposed a different solution in which we send the latest canonical beacon block to gRPC clients (validators) as they connect. This would require the beacon node to be aware of when a new connection is established to it.

[2018-09-05 01:35] #447 closed

[2018-09-05 05:04] bakaoh commented on #438
Brief design:
- If i get it right, the p2p request using grpc, we may use grpc interceptor to trace incoming and outgoing, something like this one  https://github.com/grpc-ecosystem/go-grpc-middleware/tree/master/tracing/opentracing
- Add tracer interceptor:
  + For client: https://github.com/prysmaticlabs/prysm/blob/master/validator/rpcclient/service.go#L46
  + For server: https://github.com/prys

[2018-09-05 12:51] mkosowsk commented on #438
Hi @d1vyank, do you have a brief write-up of your plan of attack for this issue?

[2018-09-05 13:58] djrtwo opened #468 "Bug in `processAttestation` regarding justified_slot"
The following line is a bug in relation to the spec:
https://github.com/prysmaticlabs/prysm/blob/ee91be2c4a0ad3ce5a12783eeecf1262134f97ab/beacon-chain/blockchain/core.go#L255

The spec requires "Verify that the `justified_slot` and `justified_block_hash` given are in the chain and are equal to or earlier than the `last_justified_slot` in the crystallized state."

Note that there are two requiremen

[2018-09-05 13:58] vs77bb commented on #438
@bakaoh Are you planning on applying for this one, as well? Please do so [here](https://gitcoin.co/issue/prysmaticlabs/prysm/438/1098), if so!

[2018-09-05 19:46] terenc3t opened #469 "Change indices_for_slot to shard_and_committees_for_slot"
We are using indices_for_slot across prysm, from proto definition to core logic. Let's do the following:

- Inside crystallized field,  change `indices_for_slots` to `shard_and_committees`
- Change `GetIndicesForSlot` to `GetShardAndCommitteesForSlot`

In the end, crystallized state contains an array of ShardAndCommittee struct. Within ShardAndCommittee struct, there's shard_id and committee combo

[2018-09-05 23:09] terenc3t opened #470 "Refactor Blockchain, Casper and Types Packages to Simplify Beacon Chain Architecture"
Currently `core.go` holds beacon chain database, state snapshots, a lock and many more methods. Some of those methods can be converted to be stateless and some methods really belong in types (which is what the state package is called) and casper package. There's some overlap and we could find a better way to organize `block chain`, `casper` and `types` packages better.

This issue addresses how to

[2018-09-06 01:51] bakaoh commented on #438
@vs77bb -- look like @d1vyank already discussed the details while i didn't quite sure i understand it right

[2018-09-06 03:02] nisdas opened #471 "Update Rewards to Align With Current Spec"
The spec has updated to include more details about rewards, a PR dealing with this will add the following to the Casper Package
-  `reward_quotient = BASE_REWARD_QUOTIENT * int(sqrt(total_deposits in ETH))`

The reward quotient will specify how the validator would be rewarded are and 1/`reward_quotient` would define the per slot maximum interest rate.

-  `quadratic_penalty_quotient = int(sqrt(SQR

[2018-09-06 03:14] terenc3t commented on #471
We should probably explain how `reward_quotient` and `quadratic_penalty_quotient` are used in this issue

[2018-09-06 03:39] nisdas commented on #471
Added some examples above

[2018-09-06 07:02] d1vyank commented on #438
Hi @mkosowsk, I'm still working out the details but here is the approach I've mapped out so far:
- After a brief discussion with @prestonvanloon on Discord I propose that we use OpenCensus+Jaeger for trace collection in place of OpenTracing+Jaeger. OpenCensus provides support for Go 1.11's execution tracer which gives us better insight in Go's runtime events (GC, scheduling, etc) and how they impa

[2018-09-06 16:05] mkosowsk commented on #438
@d1vyank looks like a solid approach to me! @vs77bb please approve at your earliest convenience :)

[2018-09-06 21:27] terenc3t opened #476 "Align Attestation Slot Validity Check with 2.1 Spec"
In the latest 2.1 spec. Attestation slot validity rule has changed from referencing "current_slot" to "parent_slot".

Before:
[code]
Now:
[code]

Here's where the change should happen: https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/blockchain/core.go#L244

[2018-09-06 21:38] terenc3t opened #477 "Add Proposer Validity Rule for Incoming Block"
Add proposer validation to part of block validity check. From v2.1 spec, to check whether the incoming beacon block has been signed by the correct proposer. We should perform the following check:

1.) Use `parent.slot_number % len(get_indices_for_slot(crystallized_state, parent.slot_number)[0])` to figure out which validator index is the proposer whom also attested for it's own proposed block.

2.

[2018-09-06 21:59] terencechain opened #478 "Add Slot to CrosslinkRecord"
Before we implement #471, we should add `slot` to `CrosslinkRecord for validator reward's accounting. A PR should implement the following:

- add `slot` to the `CrosslinkRecord` fields
- initialize `slot` to 0 for all the `CrosslinkRecords` in `CrystallizedState` for genesis state
- when updating a `CrosslinkRecord` during a state recalculation, assign `CrossLinkRecord.Slot` to current block slot

[2018-09-07 05:06] terenc3t opened #479 "Add Crosslink Processing Logic to Cycle Transition"
One of the beacon chain's main responsibility is to process crosslinks for the shard chain. This issue will implement crosslink processing logic inside cycle transition function which happens every cycle_length slots (64).

From 2.1 spec, cross link processing will do the following:

For all (shard_id, shard_block_hash) tuples, compute the total deposit size of validators that attested to that sha

[2018-09-07 11:38] ceresstation commented on #437
Hey @pfilippi24 great to hear that you're interested! Do you have a rough timeline for completion?

[2018-09-07 11:40] ceresstation commented on #438
@mkosowsk Agreed, thanks for the detailed outline @d1vyank, approving you now! :)

[2018-09-07 11:43] pfilippi24 commented on #437
Hi @ceresstation
no real timeline, because I need to start digging through you code before I can give a real estimate. But I have nothing else to do over the weekend (and we got bad weather ahead of us). So should be pretty quick.

[2018-09-07 12:14] dappstore123 opened #480 "Please Use Go Module"
Please use Go module instead of bazel.

[2018-09-08 10:34] rauljordan commented on #480
Can you elaborate on this @dappstore123? Can you explain what you mean by this? Is this an issue advocating for replacing our entire build system?

[2018-09-08 10:35] rauljordan commented on #465
Hey @prestonvanloon have you had a chance to look into this more?

[2018-09-08 10:41] rauljordan opened #485 "Create a Meaningful, E2E Demo Of BeaconChain+Validator"
Hi all,

This is an issue tracking progress towards creating a meaningful demo of our current beacon chain + validator system. Ideally, a user should be able to spin up a beacon node as a validator, connect one or more validator clients to it via RPC, and see meaningful interactions occurring.

Some of the Desired Features Are:
- [x] Initial + Incoming Block Sync
- [x] Validator Shuffling, State T

[2018-09-08 15:23] #478 closed, assigned to terencechain

[2018-09-08 20:39] terenc3t commented on #267
Hey @nisdas, Mind if I take on this? I got some free cycle today/tomorrow : )

[2018-09-08 22:29] prestonvanloon commented on #465
I have been unable to reproduce with a test. For whatever reason, libp2p is not cooperating with me.

I have subscriber tests here: https://github.com/prysmaticlabs/prysm/blob/d4209b7357101642a17dd8e4f3326fe73c89c0bb/shared/p2p/service_test.go#L187

These currently send an empty message on a topic, just to see if the adapters run. The reason I am using an empty message is that if I pass a non-empt

[2018-09-08 23:55] prestonvanloon commented on #465
The above issues can be reproduced in this branch: https://github.com/prestonvanloon/prysm/commit/ca35a6fabb0711f07b627d22c03634f4f35412e0

[2018-09-09 02:51] IvanTheGreatDev commented on #468
Is this related to #476 at all?

[2018-09-09 02:54] terenc3t commented on #468
No. This is for Justifiedslot. #476 is for slotNumber.

[2018-09-09 03:49] dappstore123 commented on #480
yes. https://golang.org/doc/go1.11#modules

[2018-09-09 03:54] dappstore123 commented on #480
maybe bazel is better。

[2018-09-09 15:32] prestonvanloon commented on #480
Is there a path where we can use go module and bazel? We have been maintaining the project such that you could use native go tools, without bazel, if you so desired.

We like bazel for the incremental builds (I think go does incremental builds natively now), the ability for remote execution and caching of builds (this will be helpful for CI as the project grows), the upcoming support for uploading

[2018-09-09 15:34] prestonvanloon commented on #465
I have identified the issue with reflect types. Since proto.Message is a pointer to the underlying struct, i.e. `*pb.BeaconBlockAnnounce`, and reflect.New creates a new pointer to the given type, we ended up with `**pb.BeaconBlockAnnounce` which ended up resolving to a nil ptr.

I have the fix ready, I'm just trying to resolve new test breakages with libp2p.

[2018-09-09 16:26] prestonvanloon opened #488 "Cannot Simulate Incoming libp2p Messages In Test"
Specifically with the TestRegisterTopic_* tests in shared/p2p/service_test.go. I'm not sure what the issue is yet, but I'm skipping the tests for now to unblock resolution of #465.

[2018-09-09 22:15] #465 closed

[2018-09-10 15:52] terenc3t opened #493 "Load Genesis States from JSON"
When a node starts up, it first populates its default state config from a genesis file to get common validator set, crosslink records, starting block hashes and shards. By doing that, all the nodes are in sync, and on the same page with each other.

Currently, the default state is hard coded in code (ex: `NewGenesisCrystallizedState` in `crystallized_state.go`). Instead of loading the default stat

[2018-09-10 16:01] terenc3t opened #494 "Populate CrosslinkingStartShard during CalculateNewCrystallizedState"
Whenever the node computes a new crystallized state, the field `CrosslinkingStartShard` is always stubbed with 0. This issue requires someone to read the latest [2.1 spec](https://notes.ethereum.org/SCIg8AH5SA-O4C1G1LYZHQ?view) and figure out what to put for `CrosslinkingStartShard` when we recompute for a new crystallized state.

[2018-09-10 16:05] terenc3t opened #495 "Add Block Default Fields for NewGenesisBlock"
**Requirements**
In [Block.NewGenesisBlock](https://github.com/prysmaticlabs/prysm/blob/9639161fccd503dfd7bdfc0eb43570294dcdd889/beacon-chain/types/block.go#L50) , initialize `CrystallizedStateHash` and `ActiveStateHash`. Crystallized state and Active state are created at the same time, so you can simply derive the hash from the object itself.

**Readings**
[2.1 spec](https://notes.ethereum.org/SC

[2018-09-11 01:39] prestonvanloon opened #497 "Add script to check formatting of TODOs in go code"
We would like to start enforcing the format of `TODO(1234)` for TODOs in our code where 1234 represents the github issue associated with that task.

The requirements for this issue are to add a script to travis that will complain if there are any issues incorrectly formatted. See [scripts/check_gazelle.sh](https://github.com/prysmaticlabs/prysm/blob/master/scripts/check_gazelle.sh) for inspiration

[2018-09-11 01:46] prestonvanloon commented on #438
@d1vyank I merged support for go 1.11 in #490 so you should be unblocked :)

[2018-09-11 05:17] d1vyank commented on #438
Thank you! Quick update: I've been reading up on the Ethereum 2.0 architecture to understand the types of p2p messages and their flows so that I can trace them.

[2018-09-11 20:09] djrtwo commented on #420
Proposed YAML format: https://notes.ethereum.org/-1cuR-dzR3W4R3qJJXyrSw

Leave any comments here. We can discuss in depth at our Thursday meeting.

[2018-09-11 22:59] terenc3t opened #499 ""Has No Symbols" Flooded Travis Test Log"
The entire log is flooded with complains of darwin_amd64_race's cgo libs have no symbols.

Log: https://travis-ci.org/prysmaticlabs/prysm/jobs/427326631

[2018-09-12 03:05] prestonvanloon commented on #499
This is probably (definitely) caused by dependencies in go-ethereum, we'd need to update bazel-go-ethereum and it may be hard to merge in upstream changes if we deviate too much. Although maybe it's just some flag configuration for gcc. Not sure!

[2018-09-12 03:17] #267 closed

[2018-09-12 04:05] prestonvanloon opened #502 "Validator Management Contract: Pubkey Should Be 64 bytes"
Ethereum public keys are 64 bytes so the contract should accept an input of 64 bytes for the deposit parameter type.

Also see: https://notes.ethereum.org/SCIg8AH5SA-O4C1G1LYZHQ#PoW-main-chain-changes

[2018-09-12 04:08] prestonvanloon commented on #502
Also see ValidatorRecord here: https://notes.ethereum.org/SCIg8AH5SA-O4C1G1LYZHQ#Beacon-chain

In this definition, it is `int256`. So we may need to confirm what type it should be.

[2018-09-12 04:15] terenc3t commented on #502
If it's `int256` then pub key should be 32 bytes.
To clarify, we are not going to use current ethereum public keys for beacon chain/shard chains. We'll generate a new public key. This new public key would be 32 bytes and the signature scheme is still TBD. I'll make sure to bring this up during thurs meeting.

[2018-09-12 04:37] rawfalafel commented on #477
This is confusing, but the above description won't validate the current block's proposer, only the parent block's proposer.

This means that we need to modify `BeaconBlockRequest` to also include the attestation of the block, and then validate that signature the way its described above.

[2018-09-12 04:49] rawfalafel commented on #470
With the recent refactor (https://github.com/prysmaticlabs/prysm/commit/f312c013fcc677c1fdc29a36ff03e93a1367db0d), a lot of `core.go` code got moved over to `block.go`, `active_state.go`, and `crystallized_state.go`. I'm going to start working on migrating over to Bolt, which will move the rest of the database logic into its own package as well.

I think the distinction between `types` and `casper

[2018-09-12 05:10] rawfalafel commented on #495
The four fields missing are `RandaoReveal`, `PowChainRef`, `ActiveStateHash`, and `CrystallizedStateHash`. Maybe this issue should simply be to fill the last two since fields?

[2018-09-12 13:12] terenc3t commented on #470
Sounds good closing this. Thanks for refactoring `core.go` and types package.

[2018-09-12 13:12] #470 closed

[2018-09-12 13:37] djrtwo commented on #477
The proposer signature needs to be broadcast alongside the proposer's block. The proposer proposes a block at slot N and attests to it. The attestation cannot be included until at least slot N+1.

This is why the following was added to the pre-conditions for processing a block:

So I have to first see the proposer's signature floating around before I process the proposer's block.

This somewhat st

[2018-09-13 00:39] terenc3t commented on #468
assigned to @danielschonfeld

[2018-09-13 02:55] rawfalafel opened #511 "Implement Precise Ticker for Slot Interval"
**Background**
In the current spec, new blocks are allowed to advance the chain every `slotDuration` seconds. As a concrete example, if the genesis block is published at time `T`, the first block can be published at time `T+slotDuration`, the second block time `T+2*slotDuration`, etc. Prysm currently has a naive implementation that uses the standard library [Ticker](https://golang.org/pkg/time/#Ne

[2018-09-13 09:01] nisdas commented on #434
Is this still an issue ? I am having a hard time seeing how casper could be flakey, the functions are self - contained and there is no concurrency in the package. afaik see, the Casper test has been fine in the past few builds

[2018-09-13 15:06] terenc3t commented on #434
We haven't seen this in a while. Closing for now, reopen if anyone sees it again.

[2018-09-13 15:06] #434 closed

[2018-09-13 21:05] houjieth opened #514 "DB write conflicts"
Based on my experiment, I found that when saving attestation hash lists with a DB key that contains suffix as a blockhash, it actually ruins the storage for that block.

reading block with db key: [98 108 111 99 107 45 **144 122 112 59 83 227 174 173 221 76 194 9 118 123 241 72 121 146 240 99 96 135 201 73 131 190 224 230 252 1 126 75**]

got block with slot 4, hash [**144 122 112 59 83 227 174 17

[2018-09-13 21:11] terenc3t commented on #514
Interesting. It's something to watch out for as #503 progresses

[2018-09-13 23:02] rawfalafel commented on #514
Hey @houjieth , could you show an example of a failing test case?

[2018-09-14 01:27] danielschonfeld commented on #511
@rawfalafel are you referring to `SLOT_DURATION` instead of `cycleLength` ?

[2018-09-14 01:44] rawfalafel commented on #511
@danielschonfeld yeah, thanks!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-14 02:06] danielschonfeld commented on #511
I am no expert on this, but from reading Russ Cox's comments and code examples, it seems to me that both him and the original OP come to agreement that there is no drift problem with go or their ticket implementation.  It seems that the problem is between the virtualized environment (Azure VM in this case) and the real world clock.

Russ also goes on to say that Go's implementation will generally

[2018-09-14 02:09] danielschonfeld commented on #495
should this be closed?

[2018-09-14 02:37] danielschonfeld commented on #463
I'm confused about the nice-to-have.  Isn't the resulting array gonna be of length composed of `CYCLE_LENGTH-len(Attestation.oblique_parent_hashes)` + `len(Attestation.oblique_parent_hashes` ?

[2018-09-14 02:44] rawfalafel commented on #495
still looks relevant to me. description updated!

[2018-09-14 02:52] rawfalafel commented on #463
Yep, thanks!

[2018-09-14 11:57] rawfalafel commented on #514
It's hard to tell without reproducible code, but it sounds like you were able to work around the issue by changing the key to a suffix. Is it okay if I close this issue?

[2018-09-14 12:52] danielschonfeld commented on #463
i'm gonna have this done later today

[2018-09-14 16:28] d1vyank commented on #438
Update: I've put up a PR for the first part (execution tracing), reviews appreciated!

The second part (distributed tracing) requires a bit of design. I've been looking into the libp2p spec and couldn't find any provision for tracing related information to be transported at the protocol level. libp2p simply offers data streams between peers without defining what flows through them, unlike gRPC whi

[2018-09-14 19:56] prestonvanloon commented on #497
Zach’s proposal sounds good. We don’t really need git blame as part of the script since we wouldn’t allow any new improperly formatted comments to be introduced, but I suppose it could be helpful for the existing issues.

Make sure it exits non-zero so it will cause a failure on Travis if there is an improper comment.

Thanks!

[2018-09-14 23:51] rawfalafel commented on #514
I looked into this a little more, and there's a bug/limitation in the in memory database. Here's a failing test case:

[code]

[Here's the line where things go wrong](https://github.com/prysmaticlabs/prysm/blob/master/shared/database/inmemory.go#L46). The inmemory database uses 32 byte arrays as the key, and truncates from the right if the provided key is too long. This explains why your issue was

[2018-09-14 23:51] #514 closed

[2018-09-15 14:39] prestonvanloon commented on #502
@terenc3t sounds good. Let's close this.

Please reopen if necessary. Thanks!

[2018-09-15 14:39] #502 closed

[2018-09-15 14:42] prestonvanloon commented on #480
I would like to hear more about how we can leverage modules in this project.

For the time being, we are supporting building via native go tooling and building via bazel. Occasionally, we have pain in our continuous integration linter since it fetches dependencies at HEAD and there are often breaking changes.

If we can easily peg specific versions of modules to make building by go easier then I w

[2018-09-15 14:51] #477 closed

[2018-09-16 01:12] #452 closed

[2018-09-16 05:37] nisdas opened #523 "Validator Client Unable to Start Up"
The validator client exits with an error when run with these flags
[code]
which results in the below logs
[code]

[2018-09-16 06:24] nisdas opened #525 "Sync Service Constantly Logs Error"
Whenever the beacon node is up and running the sync service constantly logs the following error:
[code]
This most likely has to do with the node trying to retrieve the parent block of a synced block, however because the local node does not have the parent block saved, the error is logged

[2018-09-16 14:49] #480 closed

[2018-09-16 15:30] rauljordan opened #527 "Create --dev Flag for Advancing a Beacon Node Locally"
Hi all,

For a local development version of a beacon chain to advance, it would be useful to have a `--dev` flag we can enable in order to stub out certain items for a meaningful demo. For example, the dev flag can stub out the web3 service with some simulation of it instead and also skip certain validity checks such as validator pub key verification.

Opening this issue for discussion and ideas o

[2018-09-16 22:31] ceresstation commented on #497
Sorry, was at Hack the North all weekend! @zachzundel you're good to go, just approved you :)

[2018-09-17 04:13] #523 closed

[2018-09-17 16:21] terenc3t opened #529 "Routine for Aggregating Attestations"
Attester broadcasts attestation every slots. One of the responsibility of a beacon node is to receive incoming attestations and aggregate them into one aggregated attestation. Let's open a PR that takes in attestation via P2P to pass to blockchain service via feed. Blockchain service will aggregate these attestations inside a routine of its own

I'll work on it this week

[2018-09-17 21:40] rauljordan commented on #448
Closing this, as a dev flag will encompass a lot of this functionality for local development purposes #530

[2018-09-17 21:40] #448 closed

[2018-09-17 21:40] rauljordan commented on #453
This is done by #487

[2018-09-17 21:40] #453 closed

[2018-09-17 21:42] rauljordan commented on #12
This is quite out of scope as we will no longer use the EVM for Ethereum2.0. A lot of floating context around state execution at the moment, but will close this for now as it will no longer be relevant anyways.

[2018-09-17 21:42] #12 closed

[2018-09-17 21:45] rauljordan commented on #264
Can we close this @rawfalafel @prestonvanloon ?

[2018-09-17 21:45] rauljordan commented on #264
I think sync is a very broad topic and will probably have many different parts and optimizations to it. For those future scenarios, we can have smaller, more scoped issues that discuss them.

[2018-09-17 21:46] rauljordan commented on #53
Thoughts on closing this, @prestonvanloon ? state execution, transactions, and gas might be very different in Ethereum 2.0 and this issue will probably just stick around here for ages until then.

[2018-09-17 21:47] rauljordan commented on #52
Should we close this? We are super far away from figuring out what shard tx's will look like - just trying to clean up our issue count a bit.

[2018-09-18 01:32] prestonvanloon opened #531 "Pull requests should have an associated tracking issue"
If you're planning non-trivial work. Be sure to create a github issue prior to starting work.

That issue should capture background on what the problem is that you are trying to solve and **that issue should be referenced and closed by your pull request**.

[2018-09-18 01:32] #531 closed

[2018-09-18 01:53] prestonvanloon commented on #269
We have a primitive visibility checking script where we check that no target under beacon-chain or validator has public visibility.

The specific requirement is that targets under beacon-chain or validator can only be accessed by sub packages under those directories.

[2018-09-18 01:54] prestonvanloon commented on #280
@rauljordan Any update on this? Has it been resolved?

[2018-09-18 02:03] prestonvanloon commented on #366
Yes. The default would require to ship with a certificate of some kind. We have a WARN level logging to communicate that the connection is insecure for now.

[2018-09-18 02:03] #366 closed

[2018-09-18 04:32] rauljordan commented on #511
Could be useful perhaps to check NTP at each cycle transition as that is a sensitive point for all beacon clients

[2018-09-18 07:28] rawfalafel opened #534 "Fix Attestation Data Structure For Incoming Blocks"
**Background** : Incoming blocks must also include an attestation by the proposer. Specifically, a signature along with a shard block hash must be included. The current implementation includes `AggregatedAttestation`, a data structure that represents an aggregation of attestations, not a single one. There are fields that won't be used to validate the block, and are therefore a waste of resources.

[2018-09-18 12:07] prestonvanloon commented on #53
Sure. We may not even need it. I’ll reopen in the future if we need this.

[2018-09-18 12:07] #53 closed

[2018-09-18 14:04] terenc3t commented on #534
I thought of this as I implemented #508. Ultimately I stopped because I couldn't figure out how to get `ObliqueParentHashes` and `JustifiedSlotNumber` if they don't come from the proposer. What do you think? @rawfalafel

[2018-09-18 14:08] terenc3t opened #535 "Remove total_deposits from CrystallizedState"
The latest v2.1 spec no longer has the field total_deposits in CrystallizedState. We should remove that from proto, and types/crystallized state and test. When the beacon chain node needs to calculate the total deposit it can calculate that on the fly

[2018-09-18 14:32] terenc3t opened #536 "Changes in Proposer Attestation Check"
The proposer attestation check for latest 2.1 spec just got updated. Before the proposer attestation has to be at least one of the AttestationRecord objects. Now the proposer attestation has to be the first (ie. item 0 in the array) AttestationRecord object. I can take care of this as part of #508 clean up

[2018-09-18 15:10] terenc3t opened #538 "Use Big Int for Validator Balances and Deposits"
We are currently using uint64 for validators balances and deposits. Validator balances are denominated in wei and we'll have integer overflow if we use uint64. The latest v2.1 spec has changed validator balance to type `int128` to allow for full wei precision which is inline with ewasm's intentions to use `int128`

[2018-09-18 18:46] ceresstation commented on #437
Hey @pfilippi24 are you still interested in working on this? If not I'll pass it back to the crowd, thanks :)

[2018-09-18 19:37] zachzundel commented on #497
Violations found:

beacon-chain/simulator/service.go 123 (@rauljordan)
beacon-chain/blockchain/service.go 188 (@rauljordan )
beacon-chain/blockchain/service.go 239 (@terenc3t )
beacon-chain/rpc/service.go 104 (@rauljordan )
beacon-chain/rpc/service.go 134 (@rauljordan )
beacon-chain/node/p2p_config.go 28 (@prestonvanloon )
beacon-chain/sync/service.go 89 (@rawfalafel )
beacon-chain/sync/service.go

[2018-09-18 19:42] zachzundel commented on #497
Oh, rereading @prestonvanloon it looks like I can simplify my script a bit. I will go ahead and amend my PR.

[2018-09-18 20:45] terenc3t commented on #497
let's have the respective owners deal these issues. @rauljordan @prestonvanloon @rawfalafel  @nisdas. Let's clean them up soon

[2018-09-18 21:49] ceresstation commented on #437
Alternatively, is this of interest to you @zachzundel? :)

[2018-09-19 02:27] leandro-lugaresi commented on #437
@ceresstation I am interested!

[2018-09-19 03:13] rawfalafel commented on #536
To be clear, the proposer attestation is a part of the first `AttestationRecord` object, not the attestation itself. Meaning that we need to check if the proposer's validator index is true in the bitfield.

[2018-09-19 03:43] terenc3t commented on #536
Misunderstood`part of` .. Given proposer index 2 I though it has to be `0010000` but `10101010` should be valid too

[2018-09-19 03:45] rawfalafel commented on #280
Not yet. The process still exits before allowing each goroutine to exit cleanly. The description is outdated though. I can take a look at the requirements later.

[2018-09-19 03:50] rawfalafel commented on #529
Why? Attestations need to be valid for the block to be valid.

Fork choice rule can happen independely. Won't validating attestations separately make block validation more complex?

[2018-09-19 03:54] terenc3t commented on #529
I should have been more clear with the issue. This is not for checking block validity and applying fork choice. This is for receiving broadcasted attestations from attesters and aggregating them using a separate routine. We currently don't do any of that.

[2018-09-19 03:58] rawfalafel commented on #529
I see I see. What do you mean by `processBlocks` here?

[2018-09-19 07:35] rawfalafel commented on #497
:+1: I'll open up issues.

@prestonvanloon , is it too late to expand the scope to also check that the issue numbers in the comments are valid? For example, [this TODO](https://github.com/prysmaticlabs/prysm/blob/8bfed4897f02e50149d948a8836c55691b1473d0/beacon-chain/blockchain/service.go#L74) points to a closed issue. Would be nice if this could be detected!

[2018-09-19 13:28] terenc3t opened #542 "Bug in Getting Validator Balance of a Block"
In `NewStateRecalculations` from `crystallized_state.go` Every block, we are suppose to compare the attester's participated balance to the total balance of the block if every attester has participated.

There's a bug of the current code where attester's participated balance is compared with the total deposits of the crystallized state. This is incorrect we should compare to the total deposits of t

[2018-09-19 16:08] terenc3t commented on #529
Updated the issue  😅

[2018-09-19 21:15] ceresstation commented on #437
@leandro-lugaresi Awesome, once you apply to start work on the issue I'll accept you :)

[2018-09-20 00:59] prestonvanloon commented on #497
I think that would be a great feature! I don't think we can ask that as part of this task since it's already been funded and started.

[2018-09-20 01:01] zachzundel commented on #497
I wouldn’t mind adding it in another task.

On Wed, Sep 19, 2018 at 18:59 Preston Van Loon <notifications@github.com>
wrote:

[2018-09-20 01:08] prestonvanloon opened #543 "P2P Service Test TestBroadcast Needs to Test Round Trip Broadcasting"
Write/improve test for TestBroadcast such that a broadcast is tested to be received by a p2p peer. This involves looking into the libp2p library to determine how to appropriately create hosts in memory for a full test of our broadcast p2p logic.

See: https://github.com/prysmaticlabs/prysm/blob/master/shared/p2p/service_test.go