[2020-08-05 06:33] adamskrodzki opened #6883 "Docker beacon-chain sync problem after restart"
# 🐞 Bug Report

### Description

Docker container with gcr.io/prysmaticlabs/prysm/beacon-chain:latest

repeatedly displays
`Waiting for enough suitable peers before syncing required=3 suitable=0`
and do not connect to Medalla testnet

### Has this worked before in a previous version?
I do not know that is first version i tested

## 🔬 Minimal Reproduction

I've started prysm following
I installed a

[2020-08-05 06:57] mrabino1 commented on #6738
following on

TOTP has already been battle tested. We already have a shared keystore so we can compute the sha256 of that keystore for uniqueness. That sha256 digest is the TOTP secret

TOTP generates a 6 digit code that changes every X seconds.

once we know how many clones / replica validator nodes we will have (and each one has a constant number), we should have to do the following to that TOTP

[2020-08-05 07:17] prestonvanloon opened #6884 "FR: Phase out hosted eth1 support"
# 🚀 Feature Request

### Description

Remove Prysmatic's hosted eth1 nodes as a default parameter.

### Describe the solution you'd like

1. Log an error stating that the default Prysm nodes will be removed in the next release. It can go in the same block as this warning. (alpha.19)

https://github.com/prysmaticlabs/prysm/blob/7903ec0b12dcc705bac0e5eee6b457be687b6dee/beacon-chain/node/node.go#L469

[2020-08-05 08:55] stefa2k opened #6886 "Missed Attestation but logs show Submitted Attestation"
# 🐞 Bug Report

### Description

Validator 2104 shows a missed attestation for block 5774: https://beaconscan.com/validator/0x8f6dd53b1dad5aab95733af5a0d1b8fb7ebe34301482a22976c415721cd421e393ba0d3d53214af4492b2c8b5963aca3#attestations
But logs indicate otherwise:
[code]

Validator 2104 is also affected: https://beaconscan.com/validator/0x914cfbe6e83dbee11a91bfe0a16e3a97b2f6d0dacc4f216722977b88f21

[2020-08-05 09:24] timjp87 opened #6887 "Validator crash SIGSEGV after clock offset warning"
# 🐞 Bug Report

### Description

I updated my client to alpha18 as soon as it was released. After this i left it unattended on my machine which does not run any other service (other than the beaconchain). This morning I imported more validators and attached to my validator tmux session to restart it and saw that it has crashed yesterday evening. There was a clock offset warning. I check "timedatec

[2020-08-05 09:28] prestonvanloon commented on #6887
Duplicate of https://github.com/prysmaticlabs/prysm/issues/6468

I don’t think the roughtime offset warning is related to the panic you observed.

[2020-08-05 09:28] #6887 closed

[2020-08-05 11:06] stefa2k commented on #6673
Looks like its still there:
https://beaconcha.in/validator/b1c8c3ac9508bb170200b25b7222b3f985e7bdfe86584e77ca121b9e2709e285a60f32769cffa6dcde18920bdf96ddcd#attestations (validator 2085)
Slot 3844: https://beaconscan.com/slot/3844#votes
log:
[code]

[2020-08-05 12:12] stefa2k commented on #6886
this could be a doublicate of #6673

[2020-08-05 12:27] stefa2k opened #6888 "Slasher's "Could not receive attestations from beacon node" and stopps logging"
# 🐞 Bug Report

### Description

Slasher throws error, stopps logging but works as expected.
See log:
[slasher_with_hostname.txt](https://github.com/prysmaticlabs/prysm/files/5028340/slasher_with_hostname.txt)

node-a has validators connected to it, node-b doesnt' have any validators connected to the slasher.

### Has this worked before in a previous version?

No, never tested

## 🔬 Minimal Reprod

[2020-08-05 14:17] terencechain commented on #6886
yep! duplicated

[2020-08-05 14:17] #6886 closed

[2020-08-05 14:49] prestonvanloon opened #6890 "FR: Make use of roughtime opt-in"
# 🚀 Feature Request

### Description

Currently, we sync with roughtime secure time servers every hour. There is no way to disable this functionality in your client.

### Describe the solution you'd like

I'd like to start with an opt-in flag for roughtime while we evaluate potential issues stemming from erroneous roughtime responses.

### Describe alternatives you've considered

N/A

[2020-08-05 14:59] terencechain commented on #6673
I'll write a debug end point to better understand this problem

[2020-08-05 16:20] ncitron commented on #6851
I can give this a shot. I'm thinking the best solution would be to just check in `shared/params/testnet_medalla_config.go`, `shared/params/testnet_altona_config.go`, and `shared/params/mainnet_config.go` if a chain-id and network-id flag has been set, and to override it if so.

[2020-08-05 16:38] rkapka opened #6891 "Replacing deprecated packages and members"
This is a part of https://github.com/prysmaticlabs/prysm/issues/6747. Replacing deprecated members is not obvious, so let's discuss them one-by-one. The analysis can be found here: https://deepsource.io/gh/rkapka/prysm/issue/SCC-SA1019/occurrences

---

**What?**
- [x] package github.com/golang/protobuf/proto is deprecated: Use the "google.golang.org/protobuf/proto" package instead.

**Where?**
ht

[2020-08-05 18:20] rauljordan commented on #6891
For the switch to the new protobuf package, tried to update it a while back but ran into issues. To fix the compilation errors, one has to convert our message types into MessageV2 protobufs: https://godoc.org/github.com/golang/protobuf/proto#MessageV2. However, there is some issue in dependencies that prevented us from doing so. It might be a pain to go through this route.

Regarding logging, that

[2020-08-05 18:21] Buttaa opened #6892 "Malwarebytes blocks outbound communication"
Malwarebytes blocks **some** outbound communications. Windows defender might be doing the same without any notification. Potentially blocking some block proposals or attestations.

![image](https://user-images.githubusercontent.com/26490734/89449087-e35f7800-d758-11ea-868f-621d84a23a2e.png)

[2020-08-05 18:37] prestonvanloon commented on #6892
Related: https://github.com/prysmaticlabs/prysm/issues/5337

[2020-08-05 21:17] #6888 closed

[2020-08-05 22:03] #6851 closed

[2020-08-05 22:18] terencechain commented on #6673
Updates:
 * I added a debug endpoint in #6895 for observatory. I can confirm that all your missed attestations were never included in the chain. Hence this is not a block chain explorer's issue, this is a networking and/or protocol issue.
 * @prestonvanloon has been working on an improvement fix for this in #6893, we are confident that will solve this issue

[2020-08-05 22:20] Belkaar opened #6896 "Validator not starting if started together with beacon chain"
# 🐞 Bug Report

### Description

If validator and beacon chain are started together with systemd (calling prysm.sh), the validator prints this:
`level=info msg="Waiting for beacon chain start log from the ETH 1.0 deposit contract" prefix=validator`
and stays there.

Restarting the validator resolves the issue, but the system does not boot to a functional state.

### Has this worked before in a pre

[2020-08-05 23:51] j8sr opened #6897 "segfault in p2p stream handler while gracefully shutting down beacon chain"
# 🐞 Bug Report

### Description

When turning off with a SIGINT, my beacon-chain segfaulted while shutting down. I was running with a lot of peers and it looks like it segfaulted in some p2p handler, but what do I know XD

### Has this worked before in a previous version?

I have not seen this error before.

## 🔬 Minimal Reproduction
Beacon chain points to local geth node.
`geth --goerli --rpc --p

[2020-08-05 23:56] j8sr commented on #6896
How long did you wait after starting up both? After the beacon chain syncs to the most current node the validator will start on its own.
`level=info msg="Waiting for beacon chain start log from the ETH 1.0 deposit contract" prefix=validator`
is expected behaviour for the validator during beacon chain startup.

[2020-08-05 23:58] Michael-A-Heuer commented on #6896
I can confirm this. This seems to happen even if the beacon node was synced before.
I repeatedly got
[code]
for 5 minutes.
Stopping the validator, restarting the beacon, and starting the validator helped.

[2020-08-06 01:02] terencechain commented on #6825
Should be addressed by #6879

[2020-08-06 01:04] #6734 closed

[2020-08-06 03:57] rauljordan commented on #6715
Please re-check for closure @rkapka

[2020-08-06 03:58] rauljordan commented on #5830
No longer relevant

[2020-08-06 03:58] #5830 closed

[2020-08-06 03:58] rauljordan commented on #5536
@protolambda is this still an issue for you?

[2020-08-06 03:59] rauljordan commented on #4507
Update on this @farazdagi ?

[2020-08-06 05:25] Belkaar opened #6901 "Beacon node crashes with out of memory despite having 1GB+ free"
# 🐞 Bug Report

### Description

Beacon crashes with out of memory after running fine for 8 hours with ~ 1GB free memory on the system.

### Has this worked before in a previous version?

Don't Know

## 🔬 Minimal Reproduction

No reproducer.

## 🔥 Error

See attached log
[out_of_memory.log](https://github.com/prysmaticlabs/prysm/files/5032755/out_of_memory.log)

## 🌍  Your Environment

**Operating

[2020-08-06 05:34] Belkaar commented on #6901
![image](https://user-images.githubusercontent.com/2395990/89494776-32d49100-d7b7-11ea-9330-f089bb126b3e.png)

[2020-08-06 05:40] Belkaar commented on #6901
![image](https://user-images.githubusercontent.com/2395990/89495220-1c7b0500-d7b8-11ea-89c3-cbd831b59be7.png)

[2020-08-06 05:53] nisdas commented on #6901
@terencechain What do you think of this ? its a pretty interesting error that came up when regenerating states. Seems related to #6104

[2020-08-06 06:21] Belkaar opened #6902 "Have prysm.sh create symlinks to the latest executables"
# 🚀 Feature Request

### Description

Updating to a new prysm version requires modifying systemd service files, since the executable filename changes.

### Describe the solution you'd like

For easier integration prysm.sh/prysm.bat could create a symlink to the latest version.
Example: "beacon-chain-linux-amd64" pointing to "beacon-chain-v1.0.0-alpha.19-linux-amd64"

This would allow to manually t

[2020-08-06 07:55] prestonvanloon commented on #5801
![Screenshot from 2020-08-06 00-50-47](https://user-images.githubusercontent.com/7246818/89505738-f1c08a80-d77e-11ea-8587-48e3c7bd4490.png)

Something is still slow about GetBlock, if it's not due to reconstruction of the depositTrie.

@rkapka That renaming makes sense to me

[2020-08-06 07:59] protolambda commented on #5536
No, works fine for me, I'll close this. Thanks, forgot about this issue.

[2020-08-06 07:59] #5536 closed

[2020-08-06 09:14] farazdagi commented on #4507
Sorry for the delay, got stuck with next round of updates to init-sync. Will produce an update on this, right after I get my peer scoring related PRs merged (should be next couple of days).

[2020-08-06 12:09] fireagainsmile commented on #6896
I built a docker image using prysm script,  run a validator and a beacon chain in two containers on the same machine.
use API query beacon-chain status:
`#curl localhost:3500/eth/v1alpha1/node/syncing
{"syncing":false}`
restarted several times, always got this

`time="2020-08-06 10:52:49" level=info msg="(wallet path) /root/.eth2validators/prysm-wallet-v2" prefix=accounts-v2
time="2020-08-06 10:52

[2020-08-06 12:49] nisdas commented on #6325
This has been reported again, re-opening the issue

[2020-08-06 13:15] WMEth commented on #6325
Still occasionally experiencing the same problem originally reported here:

If validator and beacon chain are started together e.g. with systemd (calling prysm.sh), the validator prints "Waiting for beacon chain start log from the ETH 1.0 deposit contract" and stays there.

Restarting the validator resolves the issue, but the system does not boot to a functional state.

The validator is failing to

[2020-08-06 13:37] 2naive opened #6905 "Could not update validator protection error=unexpected EOF"
# 🐞 Bug Report

### Description

 After Validator is activated -> error repeats

## 🔬 Minimal Reproduction

Basic installation

## 🔥 Error

https://pastebin.com/raw/X4czUgvB

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 20.04.1 LTS (GNU/Linux 4.4.0-17134-Microsoft x86_64)
  </code>
</pre>

**What version of Prysm are you running? (Which release)**

<pre>
  <code>
validator-

[2020-08-06 13:44] terencechain commented on #6901
Also related to https://github.com/prysmaticlabs/prysm/issues/6658. All the blocks are full of deposits today. 1GB may not be enough

[2020-08-06 13:45] nisdas commented on #6901
Working on a solution now, will have it up for review in an hour or two. @terencechain

[2020-08-06 14:18] shayzluf commented on #6905
[code]
seems like local protection issue assigning @0xKiwi

[2020-08-06 14:34] shayzluf commented on #6892
assigned @prestonvanloon as #5337

[2020-08-06 14:36] shayzluf commented on #6828
assigned to @0xKiwi as i think he has a windows machine

[2020-08-06 14:40] nisdas commented on #6905
Closing this as it has been brought up by @2naive offline that he is running a node in WSL and its an issue with an old version of WSL similar to #2543 rather than the validator's database.

[2020-08-06 14:40] #6905 closed

[2020-08-06 14:41] shayzluf commented on #6870
assigned to @rauljordan not sure if this issue got resolved already

[2020-08-06 14:45] shayzluf commented on #6746
not sure if this is related to the issue @farazdagi and myself had the day after launch. we both use mac

[2020-08-06 14:48] shayzluf commented on #5716
assigned to @0xKiwi due to having windows machine

[2020-08-06 14:52] shayzluf commented on #6835
assigned to @rauljordan will be happy to join the design discussion and take this issue

[2020-08-06 16:18] rauljordan commented on #5185
Update on this @terencechain ?

[2020-08-06 16:20] rauljordan commented on #5716
No longer relevant

[2020-08-06 16:20] #5716 closed

[2020-08-06 16:21] rauljordan commented on #5783
Still relevant @terencechain ?

[2020-08-06 16:32] rauljordan commented on #6081
No longer relevant on the newer install guides

[2020-08-06 16:32] #6081 closed

[2020-08-06 16:42] rauljordan commented on #6284
Still relevant @terencechain ?

[2020-08-06 16:44] rauljordan commented on #6338
Really difficult to understand this one and take action. The best we can do is suspect #6104. Closing

[2020-08-06 16:44] #6338 closed

[2020-08-06 16:45] rauljordan commented on #6345
Update on this @nisdas ?

[2020-08-06 16:47] rauljordan commented on #6255
Bump @nisdas

[2020-08-06 16:48] nisdas commented on #6255
Resolved with #6261 .

[2020-08-06 16:48] #6255 closed

[2020-08-06 16:49] #6284 closed

[2020-08-06 16:49] rauljordan commented on #6314
hi @farazdagi checking if this is still relevant

[2020-08-06 16:49] terencechain commented on #5185
Yeah let's keep this open

[2020-08-06 16:49] terencechain commented on #5783
It's 67% now. Let's close it until we get to 75%

[2020-08-06 16:50] nisdas commented on #6345
This looks like a non prysm error, looks to be an issue with the specific machine. So closing this for now.

[2020-08-06 16:50] #6345 closed

[2020-08-06 16:50] rauljordan commented on #6538
Hi @farazdagi could you take a look at this issue?

[2020-08-06 16:51] rauljordan commented on #6408
This is no longer relevant

[2020-08-06 16:51] #6408 closed

[2020-08-06 16:51] jrhea commented on #6855
## update:

I just rebuilt the validator from this commit: 5b75f4e6be4eff359b2d0354b5f99dc070e5f4b2

and ran this version of the beacon chain: `Latest Prysm version is v1.0.0-alpha.19`

When i start the beacon chain it still makes me wait for a bunch of testnet deposits to process, but now the validator seems to recover and pick up its duties around slot 40 once the beacon chain is ready.

beacon

[2020-08-06 16:54] rauljordan commented on #6779
Duplicate of  #6746, please follow that issue for updates

[2020-08-06 16:54] #6779 closed

[2020-08-06 19:18] rauljordan commented on #6870
Closing as unable to reproduce

[2020-08-06 19:18] #6870 closed

[2020-08-06 20:23] rauljordan commented on #6869
Hi @yulidai we identified the issue. It will be resolved with #6914

[2020-08-06 20:35] prestonvanloon commented on #6870
This was probably fixed in #6875

[2020-08-06 20:50] rauljordan commented on #6862
Cannot reproduce @Buttaa, tried multiple iterations of this and it works as expected. If the problem indeed happened to you and it was not a directory issue, please let us know and we can reopen.

[2020-08-06 20:50] #6862 closed

[2020-08-06 21:01] prestonvanloon commented on #6855
This seems to be syncing deposits from medalla.

Please see some of the discussion on discord here: https://discordapp.com/channels/476244492043812875/619926417970429962/740972835559702591

TL;DR / lazy: override the contract flag with some dummy contract and that should fix it from reading medalla deposits.
`--deposit-contract 0x8A04d14125D0FDCDc742F4A05C051De07232EDa4`

[2020-08-06 21:27] rauljordan commented on #6795
Hi @metanull-operator you need --disable-accounts-v2 if you want to use the old format. Tested it out and it seems to work.

[2020-08-06 21:27] #6795 closed

[2020-08-06 21:56] #6869 closed

[2020-08-06 22:40] #6860 closed

[2020-08-06 23:19] rauljordan commented on #6802
This is resolved since alpha19

[2020-08-06 23:19] #6802 closed

[2020-08-06 23:21] rauljordan commented on #6855
Hi @jrhea you need to use --disable-accounts-v2, apologize the gist we sent earlier didn't have this flag in it

[2020-08-06 23:40] #6797 closed

[2020-08-07 00:39] prestonvanloon commented on #5801
![Screenshot from 2020-08-06 17-37-45](https://user-images.githubusercontent.com/7246818/89596283-a1dbd500-d80b-11ea-8d49-a205e401ae92.png)

Looks like this might be resolved. Lets check again after more data can be collected from #6903 in prod.

[2020-08-07 01:42] #6658 closed

[2020-08-07 01:48] nisdas commented on #6901
Resolved by #6910

[2020-08-07 01:48] #6901 closed

[2020-08-07 05:14] rauljordan commented on #6798
Duplicate of #6561

[2020-08-07 05:14] rauljordan commented on #6798
Actually, scratch that. They are similar but not the same issue

[2020-08-07 08:56] stefa2k opened #6924 "Panic when beacon gets shut down"
# 🐞 Bug Report

### Description

Beacon chain container gets shut down with `docker-compose down` and throws panic.

### Has this worked before in a previous version?

## 🔬 Minimal Reproduction

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 20.04
  </code>
</pre>

**What version of Prysm are you running? (Which release)**

<pre>
  <code>
https://github.co

[2020-08-07 10:52] #6833 closed

[2020-08-07 13:37] Belkaar opened #6925 "Strange warnings "Invalid attester slot""
# 🐞 Bug Report

### Description

Strange warnings "Invaldi attester slot" as validators transitioned from PENDING to ACTIVE

### Has this worked before in a previous version?

Don't know.

## 🔬 Minimal Reproduction

Don't know

## 🔥 Error

<pre><code>
Aug 07 15:12:56 eth2-test prysm.sh[599]: time="2020-08-07 15:12:56" level=warning msg="Invalid attester slot" duty=public_key:"\204B|3t\002,\245\327

[2020-08-07 14:25] rauljordan commented on #6826
@tzapu

[2020-08-07 15:44] Buttaa opened #6926 "Validator balance decreases without any reason"
Validator 18279 https://beaconcha.in/validator/18279

Balance decreases from epoch 665 to epoch 666 even though the validator hasn't missed any attestations or block proposals.

[code]

[2020-08-07 15:47] Buttaa opened #6927 "Prysm & Lighthouse client return different Participation rates"
According to @djrtwo the Lighthouse client returns a participation rate of ~75% for Epoch 548.

Prysm however returns 47.9%. I am not sure which of the two is correct.

[code]

[2020-08-07 15:49] djrtwo commented on #6926
Is the attestation "correct"?

If you get more things wrong about it than correct (say, head and source incorrect, but target correct), then you can lose a small amount of eth even if your attestation gets on chain.
Note this is still better than if it didn't get there at all

[2020-08-07 15:54] MysticRyuujin commented on #6926
[code]

[2020-08-07 16:39] rauljordan commented on #6805
Added in #6929 @stefa2k

[2020-08-07 17:17] rauljordan opened #6931 "Verify Deposit Data When Creating Account With Accounts-v2"
# 🚀 Feature Request

### Description

We should have the ability to cross-check and verify the deposit generated by accounts-v2 create and give this feedback to the user similar to the eth2.0-deposit-cli.

[2020-08-07 17:55] jrhea commented on #6855
You're good....I figured out that i needed that flag before i opened the issue (my true talent in life is wild button pushing 😂).

fwiw, this is was the command i used:

[code]

[2020-08-07 18:13] jrhea commented on #6855
Actually...ya this plus a long enough genesis delay seems to work well enough for my purposes.  thanks again gentlemen :)

[2020-08-07 19:29] terencechain commented on #6926
That's what i thought. I'm going to close this until there's further evidence that points out the attestation in epoch 665 is profitable

[2020-08-07 19:29] #6926 closed

[2020-08-07 19:32] terencechain commented on #6927
@Buttaa can you check what's lighthouse's participation for epoch 547 and 549? I suspect we have a + or - one issue

[2020-08-07 19:33] terencechain commented on #6927
Prysm:
{"epoch":"547","finalized":true,"participation":{"globalParticipationRate":0.77318144,"votedEther":"547264000000000","eligibleEther":"707808000000000"}}%                                                                                                                                               {"epoch":"548","finalized":true,"participation":{"globalParticipationRate":0.47986263,"votedEther

[2020-08-07 19:55] MysticRyuujin commented on #6926
You mean other than the logs I posted?

[2020-08-07 20:03] terencechain commented on #6926
Right. The log seemed to support the evidence and showed that 2 out of the 3 fields were voted incorrectly:
`correctlyVotedHead=false correctlyVotedSource=true correctlyVotedTarget=false`

For evidence, i meant the math supporting behind it. I can calculate it later to double verify the decrease

[2020-08-07 20:06] MysticRyuujin commented on #6926
I guess I don't understand the logs or the behavior then.

You left off the `epoch=664` part of that line entry.

So my balanced decreased in 665 because 664 was bad, but the alert I get is for 666?

[2020-08-07 20:12] terencechain commented on #6926
That's correct. Attestation has one epoch to get included in the chain. At epoch 666, we process the attestations from epoch 664

[2020-08-07 20:53] rauljordan commented on #6867
Hi @Radi88 we are working on a fix that will prevent missed attestations, it will be live in our next release. If this still happens to you after our next release, please feel free to comment and we can re-open.

[2020-08-07 20:53] #6867 closed

[2020-08-07 21:31] DeMEdPit opened #6935 "Log Out Graffiti Whenever It Is Provided Through A Flag"
Had a block proposed in which my graffiti was not present. Turns out I was just missing `\` on the password commend line (i.e.,`--passwords-dir=/eth2passwords`.) This is user Docker. See below.

**Wrong**

`docker run -it -v $HOME/Eth2Validators/prysm-wallet-v2:/wallet --network="host" \`
`  -v $HOME/Eth2Validators/prysm-wallet-v2-passwords:/eth2passwords \`
`  gcr.io/prysmaticlabs/prysm/validator

[2020-08-07 22:00] tzapu commented on #6826
proto did a bunch of fixes that seem related here https://github.com/Alethio/eth2stats-client/pull/47
could you pull latest  and try again @xuyenvuong ?

[2020-08-07 22:14] #6863 closed

[2020-08-07 22:44] xuyenvuong commented on #6826
@tzapu - Seems like it is fine now after pulling the latest. Thanks for looking into this.

[2020-08-07 22:45] #6826 closed

[2020-08-07 23:04] prestonvanloon commented on #6935
Hi @DeMEdPit, was there a mistake in the documentation or some action we can take?

Thanks for the report!

[2020-08-08 01:20] PandaWhisperer commented on #6715
Not sure if this is the right issue for this, but I've just created some validator keys using the `eth2.0-deposit-cli`, and I am having trouble importing them into Prysm.

I'm using @stefa2k's [prysm-docker-compose](https://github.com/stefa2k/prysm-docker-compose) setup, but FWIW I'm essentially running the following command:

    accounts-v2 import --keys-dir="/launchpad/validator_keys" --wallet-

[2020-08-08 01:23] farazdagi commented on #6590
Working on `core/*` items.

[2020-08-08 01:39] nisdas commented on #6935
Hey @DeMEdPit brought this up to me offline, what happened was that he had forgotten to properly format his command, with a backslash before the newline. So his graffiti never made it into his proposed block, which instead was zeroed out. We should log out the graffiti it is provided to make validator operarators aware that it is functional and will be a part of a future proposed block.

[2020-08-08 02:53] 2naive commented on #5972
@nisdas updated to WSL2, cannot reproduce anymore.

But have in validator:
[2020-08-08 04:03:09] ERROR validator: Could not submit slot signature to beacon node: rpc error: code = DeadlineExceeded desc = context deadline exceeded slot=25214

-- repeating a few times per hour

[2020-08-08 02:56] 2naive commented on #6905
[Updating to WSL2](https://docs.microsoft.com/en-us/windows/wsl/install-win10#update-to-wsl-2) solves the problem.

[2020-08-08 13:39] stefa2k commented on #6715
@PandaWhisperer actually pdc shouldn't ask a password if you [configure it properly](https://github.com/stefa2k/prysm-docker-compose/blob/master/validator/passwords/wallet-password) properly as described [here](https://github.com/stefa2k/prysm-docker-compose#validator-accounts-with-launchpad). If this is not working please ping me or create an issue at [pdc](https://github.com/stefa2k/prysm-docker

[2020-08-08 14:58] sergiolch commented on #6783
I have similar problem, it shuts down all the time.

last lines of output:

[code]

After that error:

[code]

There are more output error line but it was too much.

## Environment:

### OS:

[code]

### Prysm version:

[code]

### public key:

validator:
[code]

[2020-08-08 22:57] farazdagi commented on #6590
Working on `shared`.

[2020-08-08 23:28] terencechain commented on #6590
https://github.com/prysmaticlabs/prysm/pull/6666

[2020-08-09 00:34] farazdagi commented on #6590
Sorry! Working on `slasher` then :)

[2020-08-09 10:45] SickLead opened #6942 "Out of memory on beaconchain process"
# 🐞 Bug Report

### Description

Maybe this is already reported, but I would like to share a problem of the beacon node – 2 core/4gb ram/80 gb SSD. I am waiting for validation of my validator and when I start the beaconnode, sometimes I run out of memory on my droplet and I need to restart the beacon node manually.

I don’t really know if it has anything to do with the fact that the validator is s

[2020-08-09 12:15] JanKalin opened #6943 "Prysm not attesting"
# 🐞 Bug Report

### Description

I went through the instructions at https://docs.prylabs.network/docs/install/windows/ and https://docs.prylabs.network/docs/install/win/activating-a-validator/.

 I am not aware of making any mistakes, but the validator is not attesting any blocks and the deposit is being slowly depleted, as seen on https://beaconscan.com/validator/0x99ee7b41aea767ad9114433f8f3d9d1

[2020-08-09 18:08] terencechain commented on #6943
I checked the `validator.log`, the validator client did not point to any key store keys. See error:
[code]

This is a user error. Can you please verify that path `--keystore-path=%LOCALAPPDATA%\.eth2validator` is correct?

[2020-08-09 18:08] #6943 closed

[2020-08-09 18:31] 1mdc commented on #6896
I have the same problem. My setup is in kubernetes and so the order of starting up is not guarantee. I had this issue times to times and had to restart the validator to fix.

[2020-08-09 19:16] JanKalin commented on #6943
Oh c**p. In the batch file I had `--keystore-path=%LOCALAPPDATA%\.eth2validator` instead of '--keystore-path=%LOCALAPPDATA%\.eth2validator`...

Sorry for bother...

[2020-08-09 19:19] terencechain commented on #6943
No worries! Glad we were able to figure this out : )

[2020-08-10 05:07] nisdas opened #6948 "Slashing Protection Hardening"
💎 Issue

Currently slashing protection for a validator falls into two categories both of which are:

- Local Slashing Protection
- Slasher Based Protection

However for a non-technical user it still difficult to configure both of these solutions correctly. This issue will explore certain mitigation we can add to protect a user better.

### Background

In medalla we had a user have all 5 of his val

[2020-08-10 09:37] rkapka commented on #6715
1. I am not sure why the wallet's directory is hidden by default. I got confused when I couldn't find it after running the command for the first time. What adds to the confusion is that it will be visible after changing it to some other directory which does not start with a `.`. #6736

2. There is an info displayed after successfully creating a wallet:
INFO accounts-v2: Successfully created wallet

[2020-08-10 10:09] shayzluf commented on #6948
working on adding a lock on wallet
- Add a lock file for our wallets so that multiple validators cannot use it at the same time.

[2020-08-10 13:30] terencechain commented on #6070
Can be closed. Discussion: https://discordapp.com/channels/476244492043812875/603588441741066241/742300946503172177

[2020-08-10 13:30] #6070 closed

[2020-08-10 14:03] nisdas opened #6950 "Refactor Find Peers With Subnet Method"
# 💎 Issue

### Background

In the course of working on #6893, it came to attention that the `FindPeersWithSubnet` method was problematic and could lead to very high CPU usage. On initial benchmarks, running the method concurrently in 100 separate go-routines increased the runtime of each call linearly based on the number of go-routines running. This would indicate each network lookup was bounded b

[2020-08-10 16:52] #6832 closed

[2020-08-10 18:14] #6715 closed

[2020-08-10 18:54] #6859 closed

[2020-08-10 19:18] #6935 closed

[2020-08-10 19:35] djrtwo commented on #6927
this is another one of those epochs
https://beaconcha.in/epoch/1408

LH says ~75%

[2020-08-10 19:41] djrtwo commented on #6927
Lighthouse for those epochs:

* 547
  * `epoch_target_attesting_gwei`: 551488000000000
  * `epoch_active_gwei`: 707808000000000
  * `target_vote`: 0.7791491477914915
* 548
  * `epoch_target_attesting_gwei`: 550912000000000
  * `epoch_active_gwei`: 707936000000000
  * `target_vote`: 0.7781946390634181
* 549
  * `epoch_target_attesting_gwei`: 546624000000000
  * `epoch_active_gwei`: 708064000000000

[2020-08-10 22:05] terencechain commented on #6927
Thanks @Buttaa and @djrtwo, I figured out what the issue was. To get the participation, we do the following steps:
1. retrieve the state that's `requested_epoch + 1`, this requires replay historical blocks starting from an archived state.
2. run `process_epoch` on the retrieved state
3. parse participations stats of previous epoch from the result of `process_epoch`

The mistake is in the loading o

[2020-08-10 23:32] xuyenvuong opened #6957 "Beacon, Validator, Slasher logs not going to the default log files after logrotate"
# 🐞 Bug Report

### Description

 Beacon, Validator, Slasher logs not going to the default log files after logrotate. New logs are going to the newly rotated log. Since log rotate won't rotate empty logs, the log files are inflating. Restarting Beacon, Validator, Slasher would help to write to default log files. It would be nice to not restart these processes.

### Has this worked before in a prev

[2020-08-10 23:35] #6927 closed

[2020-08-11 01:23] raphpa commented on #6957
That is an expected behaviour of logrotate. You would need an option to signal the processes to write to the new file (like HUP).

You can try using the `copytruncate` option of logrotate, which will copy the log to the new file and then truncate the current log to empty it.

[2020-08-11 03:11] xuyenvuong commented on #6957
@raphpa - I tried `copytruncate` option, but same behavior. I will look into HUP.

[2020-08-11 16:32] #6805 closed

[2020-08-11 18:30] michaelhly commented on #6063
I can work on this. We just need to check for deposit amount > 32 ETH (in wei) here:
https://github.com/prysmaticlabs/prysm/blob/11c9699129029c0ee7bf83a738f2e650b7690bc3/beacon-chain/rpc/validator/status.go#L157
 and return the `PARTIALLY_DEPOSITED`status right?

[2020-08-11 19:36] #6545 closed

[2020-08-12 03:16] rauljordan opened #6969 "Implement Accounts Backup for Derived Keymanager"
Currently, only `direct` keymanager benefits from `accounts-v2 backup`. This is a tracking issue to remember to implement it for derived as well, which should be fairly simple.

[2020-08-12 03:16] #6855 closed

[2020-08-12 03:17] rauljordan commented on #6777
Done by #6936

[2020-08-12 03:17] #6777 closed

[2020-08-12 04:05] xuyenvuong commented on #6957
After moving `copytruncate` to the very top of the list, the logrotate seems to work fine. Closing this ticket.

`/home/ethereum/logs/*.log
{
    rotate 7
    daily
    copytruncate
    missingok
    notifempty
    delaycompress
    compress
    postrotate
        systemctl reload prysm-logs
    endscript
}`

[2020-08-12 04:05] #6957 closed

[2020-08-12 13:36] tuxcanfly opened #6971 "sendDepositTx needs to be updated"
# 🐞 Bug Report

### Description

The deposit address on the `sendDepositTx` readme is outdated:

https://github.com/prysmaticlabs/prysm/tree/master/tools/sendDepositTx

    --depositContract 0x767E9ef9610Abb992099b0994D5e0c164C0813Ab

The README also mentions this:

    To run the utility, it assumes there is a running geth node as a separate process attached to proof-of-work main chain.

Which is

[2020-08-12 14:15] #6971 closed

[2020-08-12 18:53] djrtwo commented on #6927
great work! Thanks @terencechain :)

[2020-08-12 18:56] RoBiK75 opened #6976 "Accounts-V2: listing accounts produces incorrect output mixing up "validating public key" entries"
# 🐞 Bug Report

### Description

When listing V2 validator accounts, the output is incorrect, the "validating public key" entries are mixed up, showing as belonging to different accounts than they really do.

An example can be seen in ##6918, copied below:

<pre>
  <code>
Account 0 | constantly-popular-wasp
[validating public key] 0xb692725fe769d79863eefe4752fac00f878072b8c898a8fbfca32189692ceb0bd

[2020-08-12 19:47] mondsen opened #6977 ""accounts-v2 list --show-deposit-data" does not work for multiple accounts in combination with different creation methods"
# 🐞 Bug Report

### Description

 It is not possible to display all deposit data of the validator accounts when using the command
accounts-v2 list **--show-deposit-data**

Important information: the first validator account (account 0) was created using Medalla launchpad process. Account 1 and 2 were created using `accounts-v2 create` command.

Console output:
[code]

### Has this worked before in

[2020-08-12 22:33] farazdagi opened #6980 "Feature Flag Tracking: enablePeerScorer"
# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):
- opt-in

**Opt-in feature flag name**:
`--enable-peer-scorer`

**Opt-out feature flag name**:
`--disable-peer-scorer`

### Feature Description
Enables peer scoring (capturing peer performance and exposing single value capturing different metrics).

### Tasks

- [x] Feature flag created as opt-in #6709
- [x] Feature implemented / code c

[2020-08-13 08:09] farazdagi commented on #6314
I can't reproduce this with the latest code (segfault was triggered deep in herumi package, but our BLS package has been updated quite a bit, so previous logs point to previous interface).

@ldouze can you please let me know if you are still experiencing this with the latest (alpha20) code?

[2020-08-13 08:16] farazdagi commented on #6538
Possibly related to #6531 (as at resumed init-sync "block already processed" errors are emitted). Will work on that today, hopefully, it will resolve this issue as well.

[2020-08-13 16:12] tsudmi opened #6988 "Random "Slasher is not ready" errors on validator start"
# 🐞 Bug Report

### Description

Validator fails to connect to slasher with the following error:
[code]
The slasher is running with no errors and constantly reports new attestations, blocks. It can successfully connect to the beacon node. Only after 7 connection trials (in average) validator stops throwing a fatal error above.

### Has this worked before in a previous version?

Yes, the previous v

[2020-08-13 17:01] Buttaa opened #6989 "Same command on Terminal works, but doesn't on Powershell"
` C:\prysm\prysm.bat validator --wallet-dir=C:\prysm\wallet1 --datadir=C:\prysm --graffiti="beaconcha.in<3"`

![cmd_2020-08-13_18-59-24](https://user-images.githubusercontent.com/26490734/90164091-3e1b5400-dd97-11ea-91f4-e2f4c6f43e67.png)

[2020-08-13 17:03] Buttaa opened #6990 "Validator client asks me choose a new passwort after every restart"
Using derived keys, with every restart of the validator client it asks me to choose a new password.

![cmd_2020-08-13_19-02-49](https://user-images.githubusercontent.com/26490734/90164460-b550e800-dd97-11ea-9039-d536b09c4aea.png)

[2020-08-13 17:10] rkapka commented on #4604
### Solution proposal
By far the largest amount of memory is required for the `Deposit.Proof` field. We currently keep all deposits (including historical) in `DepositCache.deposits` and all pending deposits (again including historical) in `DepositCache.pendingDeposits`, which means a lot of proofs are kept as well. Additionally most deposits are needlessly duplicated, bloating the memory even furt

[2020-08-13 17:27] terencechain opened #6991 "Prysm blocks are full of attestations"
I'm going to further optimize this. Using this issue for tracking

![Screen Shot 2020-08-13 at 10 27 00 AM](https://user-images.githubusercontent.com/21316537/90166801-9cbcdf80-dd4f-11ea-9fee-866b0885b293.png)

[2020-08-13 17:33] #6459 closed

[2020-08-13 17:34] tsudmi commented on #6876
I'm experiencing the same issue in alpha.20

[2020-08-13 21:52] #6991 closed

[2020-08-14 00:49] nisdas commented on #4604
What do you mean by this ? Log processing isn't fetching the deposits here, it is just saving it to the db. It already does handle processing and saving deposits to the cache..

[2020-08-14 01:02] nisdas commented on #6104
Resolved by #6910

[2020-08-14 01:02] #6104 closed

[2020-08-14 11:33] rkapka commented on #4604
After digging a bit deeper into which parts of deposits are used, it turns out that only proofs can be safely removed. The current solution is to remove deposit `d` from cached pending deposits and remove `d.Proof` from cached deposits when block that includes `d` gets finalized.

*Note:*
Make sure that removing a deposit from the pending deposits slice does not remove the same deposit from the de

[2020-08-14 13:40] Chriton commented on #6942
The "Out of memory" memory happened to me also but I was running on a Raspberry Pi 3 model B v1.2 with 1gb ram on Ubuntu 64bit. Now I am running the beacon chain and validator on a raspberry pi4 with 8gb ram and works fine.

[2020-08-14 15:34] DigiDr opened #7000 "SSZ Snappy Error"
# 🐞 Bug Report

### Description

SSZ Snappy Error

### Has this worked before in a previous version?

Not seen before

## 🔬 Minimal Reproduction

## 🔥 Error
[2020-08-14 15:01:08]  WARN sync: Subscription next failed error=subscription cancelled topic=/eth2/e7a75d5a/beacon_attestation_10/ssz_snappy
[2020-08-14 15:07:44]  WARN sync: Subscription next failed error=subscription cancelled topic=/eth2/e

[2020-08-14 17:53] terencechain commented on #6825
Just observed this again in latest master

[2020-08-14 19:22] #6890 closed

[2020-08-14 22:34] alexfisher commented on #5571
FWIW, I'm seeing this error tonight for the first time repeatedly (after updating from the Medalla time problem today).

I'm seeing many iterations of the error at the same time stamp.  I have logs going to Papertrail and it reports something like at least 4000 copies of this error over the last couple hours.

[2020-08-14 23:08] farazdagi commented on #6590
@terencechain I've updated description of #6666 ("Part of" -> "Closes", as your PR will be last one before we can close this issue.

[2020-08-14 23:34] terencechain commented on #6590
Sounds good. Also fyi, there's a few left that's not in shared.

![Screen Shot 2020-08-14 at 4 33 53 PM](https://user-images.githubusercontent.com/21316537/90299716-0ae6cc80-de4c-11ea-9fd2-00fead576f5f.png)

[2020-08-14 23:47] farazdagi commented on #6590
Got it, will check the ones that are not part of `slasher` (#6998) or `shared` (#6666).

[2020-08-15 14:14] Shammah commented on #6989
I've made a PR that specifically adds a PowerShell version of the `prysm.bat` script, but it has yet to be merged. Could you try it and out and see if it fixes your issue?

https://github.com/prysmaticlabs/prysm/pull/6829

[2020-08-15 15:51] protolambda commented on #6924
Also getting a panic on shutdown (on attacknet node), may be related:
[code]

[2020-08-15 16:43] clabornd opened #7009 "Most attestations missed, various errors."
#6226 💎 Issue

Running through prysm.sh on Ubuntu 20.04 I7 8750H 512GSSD, generic broadband connection.

Getting lots of missed attestations:

https://beaconscan.com/validator/0xaccde6dc96d4cebf609d7abe5d61d21bdd827b2141dfc60594442971400f844856b9588a0582147d40d40a1cc92cea63#

`[2020-08-15 09:18:32]  INFO validator: Vote summary since launch attestationsInclusionPct=21% averageInclusionDistance=2.1

[2020-08-15 23:03] ZigoAmigo commented on #6593
I have the same error for two days now with the batch sync, my beacon chain is not catching up anymore due to this issue.

Prysm/v1.0.0-alpha.20/cbc27e0f2e2259504a77e14727b7465d5a7f7341.

When checking the logs when it started I saw some messages like "Roughtime reports your clock is off by more than 2 seconds", don't know if it's related or not, in any case I enforced NTP sync afterwards.

The gr

[2020-08-16 15:46] Bobface opened #7013 "Validator segfault"
# 🐞 Bug Report

### Description

The validator crashed after some time.
Git commit `859e59b6f7aa1eddc1f7abe359fd853b8f32a2cf`

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

Ubuntu 20.04

**What version of Prysm are you running? (Which release)**
Git commit `859e59b6f7aa1eddc1f7abe359fd853b8f32a2cf`

[2020-08-16 17:22] mcdee opened #7014 "interop mode does not use the interop genesis time"
It appears that interop mode is no longer working as intended.  When starting up an interop node with the following command:

[code]

the beacon node attempts to find peers to sync with, rather than starting the chain fresh as would be expected:

[code]

The key point being that chain genesis time is initially at the correct time for interop (_i.e._ now), but reverts to that for the default config

[2020-08-17 01:58] #6449 closed

[2020-08-17 01:58] #7000 closed

[2020-08-17 03:26] xuyenvuong commented on #6449
Thank you @prestonvanloon - I'll will test it out.

[2020-08-17 08:36] stefa2k opened #7029 "Incorrect log level "prometheus.writeResponse""
# 🐞 Bug Report

### Description

Lots of these in my beacon log files:
[code]

### Has this worked before in a previous version?

yes

## 🔬 Minimal Reproduction

## 🔥 Error

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 2004
  </code>
</pre>

**What version of Prysm are you running? (Which release)**

<pre>
  <code>
https://github.com/stefa2k/prysm-docker-compose with docker

[2020-08-17 08:49] stefa2k opened #7030 "Slasher: "cound not update spans""
# 🐞 Bug Report

### Description

Slasher is having lots of errors

### Has this worked before in a previous version?

yes

## 🔬 Minimal Reproduction

## 🔥 Error

See slasher log:

[slasher span errors.txt](https://github.com/prysmaticlabs/prysm/files/5083150/slasher.span.errors.txt)

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 20.04
  </code>
</pre>

**What version of Prys

[2020-08-17 12:24] protolambda opened #7033 "Prysm sync on attacknet stuck"
# 🐞 Bug Report

### Description

Prysm cannot sync to actual head in attacknet, after turning off Teku, and only syncing from lighthouse nodes.

### Has this worked before in a previous version?

Yes?

## 🔬 Minimal Reproduction

Start a Prysm node on the multi-client attacknet, it does not sync past slot 91615, while the lighthouse nodes are at 111000+.

## 🔥 Error

https://gist.github.com/protola

[2020-08-17 12:29] protolambda commented on #7033
After also turning off all but 1 prysm node, and thus exclusively syncing from healthy lighthouse nodes, it still does not work.

[2020-08-17 12:35] djrtwo commented on #7033
I'm pretty sure many users are seeing this on Medalla as well

[2020-08-17 12:43] hwwhww commented on #7033
Not relevant to this issue, I think the `v1.0.0-alpha.21` is the buggy release. Maybe consider updating to `v1.0.0-alpha.22`.

[2020-08-17 12:46] farazdagi commented on #7033
Yep, alpha.22 also has some code that allows init-sync not to exit too early.

[2020-08-17 12:48] djrtwo commented on #7033
It's `alpha.22` @hwwhww

[2020-08-17 13:16] nisdas commented on #7033
Hey guys @farazdagi is handling this in #7032. That should fix your issue, @protolambda can you try it out and confirm for the attacknets?

[2020-08-17 13:19] protolambda commented on #7033
The version numbers in docker releases are bugged I think (cc @prestonvanloon is aware of it, had an issue with it earlier as well). Please just focus on the commit hash, which is only 5 hours old right now. f193dc2f54a84ee63b014a1f3ce33c53f29f4aaf

@nisdas sure, I'll try that

[2020-08-17 15:28] 0xKiwi commented on #7013
Hello @Bobface , thank you for reporting this issue.

The commit you have reported to be running is pretty old, would you mind trying again from the latest head? The problem shouldn't be occurring anymore.

[2020-08-17 15:36] KevinVitale opened #7034 "eth2stats client causing beacon node runtime error when pulling for peers"
# 🐞 Bug Report

### Description

[I opened a ticket](https://github.com/Alethio/eth2stats-client/issues/53) on the _eth2stats_ first, not knowing if this was an issue for Prysm. **Please close it if it's an _eth2stats_ issue**. However, I looked at the logs of my beacon node and noticed the flood of runtime errors in the gRPC call (see below). These were being caused by the _eth2stats_ client tryi

[2020-08-17 17:06] DigiDr opened #7035 "Some validators "EXITED" after roughtime incident."
# 🐞 Bug Report

### Description
Looks like approx 7/57 of my validators were EXITED during the black-Friday medalla incident. I was running a conventional beacon-chain node on x86/Ubuntu/docker which is kept up to date with :latest and docker watchtower. A slasher node was running. The validator is on the same machine as the beacon-chain node. The EXITED nodes all now report a balance of 0.

[2020

[2020-08-17 17:13] alexfisher commented on #7035
Adding in a comment here per @nisdas 's request.  I'm also showing that 1 of 20 validators were exited.

`time="2020-08-16 23:07:16" level=info msg="Validator exited" index=27479 prefix=validator pubKey=0xb95e040cda30 status=EXITED`

I've got beacon, validator, slasher and geth-goerli running using docker-compose.  Logs are being sent out to Papertrail on a rolling 7 day basis so I can provide any

[2020-08-17 18:22] droconnel22 commented on #7035
This affected my validator as well:
https://beaconscan.com/medalla/validator/0xad987e4f090ff0c121d6fc24628913cc1c3f2b13385c48267613966b0cfcaa501198c92896755ea91edfef87f75fe012

[2020-08-17 18:37] rauljordan commented on #6988
@shayzluf

[2020-08-17 18:52] shayzluf commented on #6988
@rauljordan thanks, will look into it

[2020-08-18 01:50] nisdas commented on #7035
Hey guys thanks for reporting this, @DigiDr @alexfisher @droconnel22 .

A few questions:
1) Can you all give more details on how you were running the node ?
Ex: Script, Docker, Bazel , etc

2) Also what is the exact command you guys were using to run the node.

3) During the course of the roughtime incident did you restart your node ?

4) If any of you were running on docker, were you specifying t

[2020-08-18 03:04] #6988 closed

[2020-08-18 03:39] SYoungETH opened #7042 "Display informative messages on beacon node"
# 🚀 Feature Request

### Description
This request is mostly cosmetic.

During the great finality restoration period of Medalla (whose unrest was initially caused by time travelers) it was not immediately obvious what was happening in the background of the beacon node client, e.g. if any re-orgs or forks were detected/resolved, or if any slots were discarded/denied. Many users were confused/unaware

[2020-08-18 04:28] pjindal commented on #7042
Second this! This might be solved with the GUI prsym has in the works so we can better understand what is happening during network outages.

[2020-08-18 06:08] tsudmi commented on #7030
Also experiencing that issue with external slashing protection enabled.
The validator outputs the following:
[code]
Validator version: `HEAD-27c840`

[2020-08-18 06:13] shayzluf commented on #7030
@tsudmi running #7043 with --spans-cache-size=2000 should resolve this issue

[2020-08-18 07:18] Bobface commented on #7013
Yes, I have updated to the latest head now. I'll see if it happens again!

[2020-08-18 08:08] farazdagi commented on #6531
Fixed in https://github.com/prysmaticlabs/prysm/pull/7006

[2020-08-18 08:08] #6531 closed

[2020-08-18 08:09] farazdagi commented on #6538
#6531 is resolved, and sync has been significantly updated, so this shouldn't be an issue anymore, closing (please, feel free to re-open, should issue re-appear).

[2020-08-18 08:09] #6538 closed

[2020-08-18 11:18] #7030 closed

[2020-08-18 13:04] alexfisher commented on #7035
I'm running the node with Docker using a modified fork of the prysm-docker-compose project.

Using docker-compose, and command is generated from a couple different configuration files.

.env
[code]

docker-compose.yaml

[code]

config/beacon.yaml
[code]

config/validator.yaml (some info redacted)
[code]

Admittedly, the above files have been modified since the incident.

Yes, immediately updated a

[2020-08-18 14:39] droconnel22 commented on #7035
Docker on Ubuntu 18

[code]

Yes, for each release from Alpha v.20 to v.21, the rollback to v.20, then v.21 to v.23

I ran the validator as this:
[code]

[2020-08-18 18:50] nagadevshanmukh opened #7047 "Beaconchain crashes after sycing"
![2020-08-18 11_41_42-](https://user-images.githubusercontent.com/45544213/90553380-24885c80-e149-11ea-84a5-bf046754cc52.png)

After alpha.23 was released, I downloaded and built from source, Ran Beacon chain by clearing db and dev flags. But the process crashes after syncing with the error message in the screenshot. Let me know if you need more info.

[2020-08-18 20:24] farazdagi commented on #7047
Can you please provide more information about your environment: OS, Golang version, how you run the node (using bazel, script, or directly go)?

[2020-08-18 21:19] nagadevshanmukh commented on #7047
Just to be sure, I pulled the latest version again and built it - reran the process without clear-db flag. Started syncing from ~71k again, syncs to head and then crashes -

[2020-08-18 13:55:42]  INFO initial-sync: Processing block 0x08a3a233... 102560/102577 - estimated time remaining 1s blocksPerSecond=10.8 peers=100
[2020-08-18 13:55:42]  INFO blockchain: Synced new block block=0x08a3a233... e

[2020-08-18 21:23] nagadevshanmukh commented on #7047
OS - Ubuntu 20.04 LTS
Golang version 1.14.3
I am building using go.

I have been running beaconchain and validators with no problems before this.

[2020-08-18 21:26] farazdagi commented on #7047
- @nagadevshanmukh thank you, so much.
- @nisdas @terencechain `processPendingBlocksQueue` was updated recently, can you please review the issue and see if you can probably spot a regression?

[2020-08-19 00:49] KevinVitale commented on #7034
I retried eth2stats and this no longer seems to be an issue. Closing.

[2020-08-19 00:49] #7034 closed

[2020-08-19 01:13] nisdas commented on #7047
This is probably an issue with building using go vs bazel. Bazel manages our gogo protobuf dependency separately. But since this causes issues with go built binaries we can probably just use another method to check conformance. Ex: `ssz.DeepEqual` . @terencechain what do you think ?

[2020-08-19 06:57] nagadevshanmukh commented on #7047
@nisdas thanks for the additional information. I switched to building with bazel, will report back when sync is complete.

[2020-08-19 07:11] michaelbryan92 commented on #4813
This is still happening. My Prysm node crashed while running well after the initial-sync period was over, and upon restarting had to sync the whole beacon chain again.

[2020-08-19 07:14] michaelbryan92 commented on #7047
I'm having the same issue. ubuntu 18.04

[2020-08-19 10:51] mattcee233 opened #7049 ""wallet-v2 recover" output not recognised by validator"
# 🐞 Bug Report

### "wallet-v2 recover" output not recognised by validator

### Has this worked before in a previous version?

Unknown, I'm new but assume so based on the number of tutorials saying to use recover to import wallets

## 🔬 Minimal Reproduction

use wallet-v2 recover to recover a wallet from passphrase then try to start validator using output wallet directory

## 🔥 Error

<pre><code>

[2020-08-19 10:54] mattcee233 commented on #7049
To clarify, if you are unable to reproduce this may well be user error - I was able to get everything running fine by using wallet-v2 import instead

[2020-08-19 13:15] RoBiK75 opened #7050 "gRPC panicked! error=runtime error: invalid memory address or nil pointer dereference"
# 🐞 Bug Report

### Description

The beacon node has been running for some time and then started to produce error messages repeating each 12 second. See bellow for the error message and stacktrace.

### Has this worked before in a previous version?

not sure

## 🔬 Minimal Reproduction

i don't know how to reproduce it

## 🔥 Error

<pre><code>
ERROR gRPC panicked! error=runtime error: invalid memor

[2020-08-19 13:29] j1v commented on #7050
I possibly observe the same or similar bug. Found it after eth2stats started crashing repeatedly.

Node is running great and returning all other kind of gRPC request, except /eth/v1alpha1/node/peers

[code]

and at the same time in the node :

[code]

The node is running 700+ peers

[2020-08-19 13:32] protolambda opened #7051 "Prysm attacknet config bug"
# 🐞 Bug Report

### Description

When configured with to run on the attacknet, it reports a correct chain, correct deposit, but bad genesis time: it reports the medalla genesis time instead of attacknet genesis time. Status message validation subsequently fails, and prysm nodes lost all peers.

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not

[2020-08-19 13:44] protolambda commented on #7051
Config: https://gist.github.com/protolambda/726704afa73c3ca35dbc5045fe3de43e
From discord chat: appears the config loaded a medalla genesis time value, while it shouldn't have loaded it.

[2020-08-19 13:50] RoBiK75 commented on #6976
Edited the initial post for more clarity.

[2020-08-19 15:42] #7051 closed

[2020-08-19 15:48] 0xKiwi commented on #7050
Thank you for reporting! @prestonvanloon do you know what the source could be for this bug?

[2020-08-19 15:49] 0xKiwi commented on #7049
Hello @mattcee233! Thank you for reporting! #7038 solves this issue, please try it again once it merges.

[2020-08-19 15:53] 0xKiwi commented on #7042
Hello! Thank you for reporting this feature :smile: ! @terencechain, is there any info you think we could add to the beacon node that could reduce confusion during moments like these?

[2020-08-19 16:00] terencechain commented on #7042
Starting a design doc for this is the best way forward

[2020-08-19 16:08] #7013 closed

[2020-08-19 16:09] 0xKiwi commented on #7014
Hello @mcdee , Interop isn't a feature we're actively maintaining at the moment. @nisdas what do you think we should do about this?

[2020-08-19 16:39] nagadevshanmukh commented on #7047
Built using Bazel and this resolved the problem on my end.

[2020-08-19 16:46] #6990 closed

[2020-08-19 16:46] #7049 closed

[2020-08-19 19:35] Belkaar opened #7054 "Crash on shutdown"
# 🐞 Bug Report

### Description

Got a crash during shutdown after finalize event.
Node reprocessed all blocks from 73xxx or something.

### Has this worked before in a previous version?

Don't know

## 🔬 Minimal Reproduction

Restart the node i guess. Not really reproducable for me, but I don't restart that often.

## 🔥 Error

<pre><code>
Aug 19 20:56:56 eth2-test prysm.sh[358]: panic: runtime er

[2020-08-19 20:27] hannesrohde opened #7056 "Resyncing from scratch on Medalla: log warnings and errors for "ssz_snappy""
# 🐞 Bug Report

### Description

I've removed all previous data in an attempt to re-sync Medalla from scratch.

After restarting the beacon-chain with an empty data dir using the latest docker image I observed sporadic warnings and errors in the logs, though sync seems to continue.

## 🔬 Minimal Reproduction

I am running the beacon chain in docker on Ubuntu using the following command with an emp

[2020-08-19 21:33] msc82 opened #7057 "peer disconnected run my own eth1 node + restart node and is not sync with the latest block 75872/110588"
[2020-08-19 23:21:56]  INFO p2p: Peer disconnected activePeers=25 multiAddr=/ip4/167.172.202.210/tcp/9000/p2p/16Uiu2HAmSLRuSFfPF5wQB8C7K3NB8hHJxqu85JrUfX7g3hSAcRMb
[2020-08-19 23:21:56]  INFO p2p: Peer connected activePeers=26 direction=Outbound multiAddr=/ip4/91.223.175.173/tcp/9999/p2p/16Uiu2HAmAVhcnvhxzCv51sMGXen3EFnwcA3ryDRtU8vuLiHoGjJB
[2020-08-19 23:22:03]  INFO p2p: Peer disconnected active

[2020-08-19 21:40] msc82 commented on #7057
after restart beacon chain

[2020-08-19 23:37:50]  INFO initial-sync: Processing block 0x70a7b40f... 75872/110588 - estimated time remaining 6h25m44s blocksPerSecond=1.5 peers=16

[2020-08-20 05:43] 0xKiwi commented on #7054
This looks like a bug with RPC blocks by range, any idea? @terencechain

[2020-08-20 05:52] 0xKiwi commented on #6896
This seems like a common issue, maybe it's affected by accounts-v2 decrypting? @rauljordan

[2020-08-20 05:54] 0xKiwi commented on #7057
Hello @msc82 ! What's the issue you're experiencing? What version/commit and OS was this issue on?

[2020-08-20 06:17] 0xKiwi commented on #7056
Hello @hannesrohde! Thank you for reporting! @prestonvanloon know anything about this? Should we make the log a debug instead of warning?

[2020-08-20 09:30] msc82 commented on #7057
Hi @0xKiwi I'm using prysm script win10 version, peer disconnect and when I try restart the chain it starts from block 75xxx
i have deleted the chain and re-sync again.

[2020-08-20 11:47] diglos commented on #7057
Hi all.

I'm seeing this as well (see attached log).

Everything goes fine but suddenly this error appears:

`Aug 20 10:58:36 ethnode-f3b2bb7ac beacon-chain[79722]: time="2020-08-20 10:58:36" level=warning msg="Failed to handle p2p RPC" error="invalid finalized root" peer=16Uiu2HAm2jvaBpXWgAsk3rAJpXmAGLjhQv93uq7qgkTgmy27k9cS prefix=sync topic="/eth2/beacon_chain/req/status/1/ssz_snappy"`

And the

[2020-08-20 12:15] ktrianta commented on #7057
This also happened to me after finality was reached for epoch 3577 as you can observe in the attached logs (timestamp 2020-08-20 13:58:47). Shortly before,
 this error can be observed `time="2020-08-20 13:57:56" level=error msg="Failed to retrieve pre state" error="could not get pre state for slot 114560: context deadline exceeded" prefix=sync`

I do not run my own ETH1 node.
Hardware: Raspberry P

[2020-08-20 12:54] diglos commented on #7057
It now seems that it is in a loop. "Invalid finalized root" error vanished but it can not move forward from 114880 ("level=info msg="Processing block 0x7eb6ce62... **114880**/115085")

Peers are increasing, though.

[beacon-chain-error2.txt](https://github.com/prysmaticlabs/prysm/files/5103119/beacon-chain-error2.txt)

[2020-08-20 13:04] diglos commented on #7057
Apparently the resync went through. I'm providing a full log now.

Issue starts on 10:58

[beacon-chain-error3.txt](https://github.com/prysmaticlabs/prysm/files/5103210/beacon-chain-error3.txt)

[2020-08-20 13:21] terencechain commented on #7054
@0xKiwi I'm not too familiar with `RPC blocks by range`, while I certainly can look into this, perhaps there's a better owner?

[2020-08-20 19:31] rauljordan commented on #6976
Hi @RoBiK75 what's the status on this?

[2020-08-20 19:32] rauljordan commented on #6825
Has since been resolved https://docs.google.com/document/d/11RmitNRui10LcLCyoXY6B1INCZZKq30gEU6BEg3EWfk/edit#

[2020-08-20 19:32] #6825 closed

[2020-08-20 19:43] RoBiK75 commented on #6976
Hi @rauljordan,
I closed the original pull request and I am preparing an another pull request with the solution we discussed on discord. It will be probably ready by tomorrow.

[2020-08-20 19:49] rauljordan commented on #6308
I don't feel good about this. It will be a huge pain to maintain and only add more bloat to our CI when it seems like it doesn't bring as much benefit to us as our current linter.

[2020-08-20 19:49] #6308 closed

[2020-08-20 19:49] rauljordan commented on #6063
@michaelhly what's the status on this one, how can we help?

[2020-08-20 19:50] rauljordan commented on #6324
Has not been observed recently in normal network conditions. We also have new peer scoring in place that can help prevent some of this. If anyone still sees this issue in a good network, it is worth an investigation

[2020-08-20 19:50] #6324 closed

[2020-08-20 19:52] rauljordan commented on #6043
Update on this one @farazdagi ? Any plans to pick this up soon?

[2020-08-20 19:54] rauljordan commented on #6835
@Buttaa not sure this is in scope. We already have the eth2 deposit CLI that seems to serve this purpose. There is also ethdo if you want more granular management of keys. In Prysm, we want to keep things simple.

[2020-08-20 19:54] #6835 closed

[2020-08-20 19:55] rauljordan commented on #6883
Hi @adamskrodzki , there have been significant improvements to peer scoring and networking since the last 3 weeks. Please try again and let us know if this issue persists. You can also checkout https://docs.prylabs.network/docs/prysm-usage/p2p-host-ip. Let us know on here if you still have the issue and we will reopen.

[2020-08-20 19:55] #6883 closed

[2020-08-20 19:57] rauljordan commented on #6783
Hey guys, there have been significant improvements since then that optimize for memory and CPU. These issues you were seeing are related to resource constraints of your beacon node on your machine. If they still persist, please comment on here and we will reopen.

[2020-08-20 19:57] #6783 closed

[2020-08-20 19:58] rauljordan commented on #6746
Please see #6779. If this issue still persists, let us know and we will reopen. There have been significant improvements over the last 2 weeks that prevent these scenarios

[2020-08-20 19:59] rauljordan commented on #6673
Hi @stefa2k we have since then significantly improved this code path. Let us know if this issue still persists and we will reopen as needed

[2020-08-20 19:59] #6673 closed

[2020-08-20 20:00] rauljordan commented on #6598
Any insights on this one @farazdagi ?

[2020-08-20 20:01] prestonvanloon commented on #5801
I need a bit more time on this. Since our validators were slashed over the weekend, I don't have recent data on block proposals.

We just sent another round of deposits which should be included in the next 3 to 4 days. At that time, we should have some span data to understand how long block proposals are taking. Thanks

[2020-08-20 20:03] rauljordan commented on #6942
Hi @Chriton 4Gb was not enough during the incident the testnet suffered this past weekend. We have some big improvements in the pipeline and usage should be a lot lower now. You should be ok at the moment with 4Gb.

[2020-08-20 20:03] #6942 closed

[2020-08-20 20:04] rauljordan commented on #7009
Hi @clabornd please see https://medium.com/prysmatic-labs/eth2-medalla-testnet-incident-f7fbc3cc934a. We are confident most of these issues are now solved as the network is back to a stable state. Apologies for the craziness

[2020-08-20 20:04] #7009 closed

[2020-08-20 20:04] rauljordan commented on #6989
Duplicate of #6828

[2020-08-20 20:04] #6989 closed

[2020-08-20 20:05] rauljordan commented on #7033
Resolved by @nisdas here https://discordapp.com/channels/476244492043812875/619926417970429962/745644701193076817

[2020-08-20 20:05] #7033 closed

[2020-08-20 20:13] rauljordan commented on #7057
Hi @diglos this was a known issue with the significant problems that occurred in the testnet from the weekend https://medium.com/prysmatic-labs/eth2-medalla-testnet-incident-f7fbc3cc934a. This was also a known issue after we reached finality that we discovered was fixed by a restart. Your node looks good now, as expected

[2020-08-20 20:13] #7057 closed

[2020-08-20 20:14] 1mdc opened #7068 "When I recover mnemonic, it always generates a new one instead"
# 🐞 Bug Report

### Description

I cannot recover mnemonic phrase. When I recover mnemonic, it always generates a new one instead.

### Has this worked before in a previous version?

Yes It worked before.  I think version alpha-20

## 🔬 Minimal Reproduction

1. Generate new wallet `./prysm.sh validator wallet-v2 create`
2. Generate account `./prysm.sh validator accounts-v2 create`
3. Step 2 gives

[2020-08-20 20:14] rauljordan commented on #6925
We have very little information to investigate. Did this eventually get fixed? Did it get fixed if you restarted your validator?

[2020-08-20 20:37] xuyenvuong commented on #6825
Thanks.

[2020-08-20 20:53] #6828 closed

[2020-08-20 21:21] michaelhly commented on #6063
@rauljordan Sorry, was a bit busy this week. Let me publish my PR. Just need to write tests.

[2020-08-21 00:38] clabornd commented on #7009
@rauljordan All good, and much thanks.  There is now a nice column of green 'attested' on beaconscan :)

[2020-08-21 02:55] terencechain commented on #7056
These logs were moved to debug

[2020-08-21 02:55] #7056 closed

[2020-08-21 03:38] 0xKiwi commented on #7029
Hello @stefa2k ! Thanks for reporting! @prestonvanloon do you know how we can handle this? I took a quick look but I wasn't sure if we could prevent these logs. They don't seem standard.

[2020-08-21 04:07] 0xKiwi commented on #7054
Ah sorry, I think @nisdas is the owner?
Also, this issue seems similar to #6897

[2020-08-21 05:18] xuyenvuong opened #7073 "Slasher: Could not submit attester slashing with indices [xxxxxx]"
# 🐞 Bug Report

### Description

Slasher producing so much error per second after got enabled after 66% participation rate. Not sure if these indices are repeated in the log. I will update asap after comb a bit more thru the log.

### Has this worked before in a previous version?

 Yes, however this issue seems like it has to do with the recent roughtime incident

## 🔬 Minimal Reproduction

1. Tur

[2020-08-21 08:43] rkapka opened #7074 "It is not possible to use the analysistest package with Bazel"
# 💎 Issue

### Description

Trying to run any analyzer tests such as these with Bazel

[code]

results in

[code]

`go test` works perfectly fine.

Because of this problem it is not possible to run such tests during the CI process. Example: https://github.com/prysmaticlabs/prysm/blob/master/tools/analyzers/cryptorand/analyzer_test.go (the file is explicitly ignored in `BAZEL.build`).

[2020-08-21 10:35] nisdas opened #7076 "Validators Slashed With Local Protection"
# 🐞 Bug Report

### Description

In the course of the[ Medalla Incident](https://medium.com/prysmatic-labs/eth2-medalla-testnet-incident-f7fbc3cc934a), a large number of validators got slashed. A large amount of those validators were running with docker and forgot to specify the volume for the validator db. This lead to a new db being created on each restart.

However a subset were also running lo

[2020-08-21 21:35] Edward89crypto opened #7079 "Graffiti not working under windows"
## 🌍  Your Environment

**Operating System:**

<pre> windows 10 pro  cmd script
  <code>

  </code>
</pre>

**What version of Prysm are you running? (Which release)**

<pre> Latest
  <code>

  </code>
</pre>

**Anything else relevant (validator index / public key)?**
This is my cmd line and i dont have any signed graffiti since genesis.
this is my first genesis validator 👍
My eth adress : 0xA8F308

[2020-08-21 22:14] #7079 closed, assigned to nobody

[2020-08-22 13:35] Kwaskoff opened #7082 "eth2 testnet is simulation of real eth2"
I started node with your software and had slashing when net had hard fork https://beaconcha.in/validator/8f4100bd7eb5ca0a123df868567040b68eb5e9019d08318e39b9c9311f04fd3bb4369f68008f4f5951a52cfcffed3480#overview
refund me 1 testnet eth =)

[2020-08-22 23:51] #7082 closed, assigned to nobody

[2020-08-23 07:35] Buttaa opened #7085 "[Feature request] Deterministic colors from wallet"
The idea is to make it (more/better) visible for the user which wallet has been accepted by the validator client

If key from wallet1 has a log = red ,
if key from wallet2 has a log = blue

[2020-08-23 12:28] tsudmi opened #7088 "Exited validator balance keeps changing"
# 🐞 Bug Report

### Description

The validator which was slashed and has changed the status to `Exited` keeps receiving penalties.
The validator exited 14 hours back.

Here are the beaconscan screenshots of the balance change:

![Screenshot 2020-08-23 at 15 19 38](https://user-images.githubusercontent.com/6001614/90978196-9d762280-e554-11ea-9e4e-6f8261c7f167.png)

![Screenshot 2020-08-23 at 15 24

[2020-08-23 17:02] terencechain commented on #7088
This is expected. When a validator is slashed, a further delay of ~40 days is imposed. This further penalizes them by forcing them to hold the eth. This makes the penalty somewhat larger for malicious validators that are trying to destroy the chain at the same time than those validators that made a honest mistake

[2020-08-23 17:02] #7088 closed

[2020-08-23 19:20] xuyenvuong commented on #7073
Symptom is now gone after I:
1. Restart beacon-chain, lower the number of max peers from 500 down to 100.
2. Restart Slasher

time="2020-08-23 19:15:56" level=info msg="Received block from beacon node" prefix=beaconclient proposer_index=4390 root=0xfc9ceb5ed46e3e88... slot=138679
time="2020-08-23 19:16:21" level=info msg="Received block from beacon node" prefix=beaconclient proposer_index=13441 ro

[2020-08-23 20:46] gbacoins opened #7089 "ERROR validator: Could not request attestation to sign at slot error=rpc"
Ubuntu 20.04.1 LTS

Running ETH1 Node, Beacon Chain and Validator

I'm getting this error on my Validator:

Starting Prysm validator --tls-cert=ca.cert --monitoring-host 0.0.0.0 --beacon-rpc-provider 127.0.0.1:4000 --graffiti ETH to the moon
[2020-08-23 13:34:46]  INFO accounts-v2: (wallet path) /home/desktop/.eth2validators/prysm-wallet-v2
[2020-08-23 13:34:46]  INFO accounts-v2: (wallet director

[2020-08-23 21:23] xuyenvuong commented on #7073
Hmm... this is back again. Same issue. Very hard to nail down to the root cause.

[2020-08-24 11:41] farazdagi opened #7094 "Incorrect checks for errors in several tests"
# 🐞 Bug Report

### Description

There's a bug in number of tests that use the following construct:
[code]
The problem with that code is that in order to make sure that we do not get segfault (when `err = nil`), `err != nil` check is added, but then this test (when generally used to check for a given error) can pass when no error is returned (that's the initial purpose of test is ignored)!

### Co

[2020-08-24 18:49] allpeopletop opened #7099 "Account V-2 Import Issue: Cannot import accounts into Prysm - Message: "Please try again, could not use password to import account 0xa.....""
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>

</code></pre>

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>

  </code>
</pre>

**What version of Prysm are you running? (Wh

[2020-08-24 19:21] terencechain opened #7101 "block proposal failing with fastssz and accounts v2"
I saw all my proposers were failing to propose blocks with these errors:
[code]
These errors happened after #6760. I tried it with #6760 reverted and block proposal worked.

I'm running accounts v2 with directly imported keys from eth2 launch pads.

[2020-08-24 19:25] terencechain opened #7102 "E2e test to cover accounts v2"
We should add accounts v2 to e2e tests to cover validator signing related operations. Learning from incident #7101. A PR was merged but validator signing for runtime failed.

[2020-08-24 19:54] 0xKiwi commented on #7099
Hello @allpeopletop ! It seems your issue report is lacking some details, can you provide more information?

[2020-08-24 22:30] rauljordan commented on #7068
The accounts-v2 behavior has been strange recently. It now also asks you to create a mnemonic until you run the validator if you haven't created an account yet. Example: `prysm.sh validator wallet-v2 create`, no mnemonic confirmation happens. Then I run `prysm validator` and it asks me to write down my mnemonic. Could https://github.com/prysmaticlabs/prysm/pull/7038 have affected the behavior @0xK

[2020-08-24 23:19] xuyenvuong commented on #7073
Removing the slasher.db seems to stabilized slasher. I will attach the backup slasher.db.bak asap.

-rw------- 1 ethereum ethereum 17887174656 Aug 24 21:18 slasher.db.bak

[2020-08-24 23:48] WMEth commented on #6896
I believe this is a duplicate of #6325. This problem has been around since at least June 20th so I think the cause predates accounts-v2.

[2020-08-25 00:00] xuyenvuong commented on #7073
The slasher.db was up to 17GB - This is quite huge.

slasher.db.bak   100%   17GB  10.4MB/s   27:25

[2020-08-25 00:57] sinkingsugar commented on #7014
This is a bit of a shame..
I was trying to make an automated multi-net test here, but prysm is not cooperating.. no wonders after reading this issue.
https://github.com/sinkingsugar/multinet
My rationale was the immense need to test gossip 1.1 behemoth interaction between clients.

[2020-08-25 01:37] #7102 closed

[2020-08-25 02:21] nisdas commented on #7014
Hey @mcdee @sinkingsugar , i will fix this by today.

[2020-08-25 02:23] sinkingsugar commented on #7014
very nice thanks @nisdas !

[2020-08-25 02:24] sinkingsugar commented on #7014
by the way I didn't have exactly this issue as I was generating mock data in nimbus and passed this:
[code]

It launched kind of ok but didn't do anything (no debug logs, didn't try to connect to bootstrap either)

[2020-08-25 03:38] nisdas commented on #7014
@sinkingsugar if you do want to run using the bootnodes you need to do
[code]
with the argument being comma separated if you are providing multiple bootnodes. Also if you want to run the bootnodes you will need to remove this flag: `--disable-discv5` . That disables all discovery, so explains why your node does nothing.

[2020-08-25 05:11] sinkingsugar commented on #7014
I ran this:
[code]

Contract at 0x0 or mock address didn't make a difference

Full log here if you have a minute to check
https://gist.github.com/sinkingsugar/5ffe67a567358774609872770b6fa8f6

[2020-08-25 05:12] sinkingsugar commented on #7014
I just noticed a issue while pasting this.. there is no genesis state for some reason.. I will double check

[2020-08-25 05:16] sinkingsugar commented on #7014
Fixed command line:
[code]

And log:
https://gist.github.com/sinkingsugar/5ffe67a567358774609872770b6fa8f6

[2020-08-25 05:22] nisdas commented on #7014
can you try with these two flags ?
[code]
you need a contract with the deposit and it looks like there are peering issues.

[2020-08-25 05:26] nisdas commented on #7014
also can you try it with #7106 ? this might solve the issues you are seeing.

[2020-08-25 05:26] sinkingsugar commented on #7014
I was just trying with the above flags before yes, I will try #7106

[2020-08-25 05:49] sinkingsugar commented on #7014
Didn't change much,
Updated the log:
https://gist.github.com/sinkingsugar/5ffe67a567358774609872770b6fa8f6

[2020-08-25 05:52] nisdas commented on #7014
do you mind running it with `--verbosity=trace` and pasting the logs here. That should help us more

[2020-08-25 06:14] sinkingsugar commented on #7014
[multinet.log](https://github.com/prysmaticlabs/prysm/files/5121646/multinet.log)

[code]
might be a issue I guess...?

[2020-08-25 06:18] nisdas commented on #7014
no worries, I think the main issue is this one
[code]

It seems like the node has a different peer id than expected.

[2020-08-25 06:19] sinkingsugar commented on #7014
Ah
[code]
I guess that's it

[2020-08-25 06:37] nisdas commented on #7076
Another slashing for a user running a persistent db:

https://cdn.discordapp.com/attachments/476588476393848832/747705610266738739/validator.db

https://www.beaconcha.in/validator/14661

[2020-08-25 07:03] sinkingsugar commented on #7014
Any idea what is the `Bad discv5 packet` issue btw? we might wanna fix this too

[2020-08-25 07:12] nisdas commented on #7014
That might be related to the first error, it comes up if the node is communicating with a node which is misconfigured. Ex: Enr specifies a pubkey X but the peer instead communicates with a pubkey Y. The other peer might be misconfigured.

[2020-08-25 09:17] #7014 closed

[2020-08-25 11:50] prestonvanloon opened #7108 "Feature Request: Add debug endpoint to change flag values in flight"
# 🚀 Feature Request

### Description

Similar to this idea https://github.com/prysmaticlabs/prysm/issues/5574 where we are able to change the log level verbosity, users have requested the ability to change other flag parameters.

The specific user request was to be able to adjust the p2p max peer count.

### Describe the solution you'd like

An endpoint that allows users to change some or all flag

[2020-08-25 15:23] #6590 closed

[2020-08-25 17:03] jrhea opened #7110 "Prysm replies to malformed RANDOM PACKETS"
# 🐞 Bug Report

### Description

Prysm doesn't properly validate `RANDOM PACKET` before replying with `WHOAREYOU`.  Per the discv5 protocol a `RANDOM_PACKET` is sent to initiate a handshake and the receiving node replies with `WHOAREYOU`.  The `RANDOM_PACKET` should have the following layout:

There are two issues

1) Prysm will reply to undersized `RANDOM PACKETS`.

The Discv5 rationale document

[2020-08-25 17:36] rkapka commented on #6786
#6818 finally fixed the problem. The long-running e2e has passed: https://buildkite.com/prysmatic-labs/prysm-e2e/builds/10765#1c4d085e-b4e5-41c8-8a2d-3f3f0a518713

[2020-08-25 19:30] #7068 closed

[2020-08-25 20:57] #6705 closed

[2020-08-25 22:39] xuyenvuong commented on #7073
Slasher is still running very stable since the db removed.

[2020-08-26 03:17] sinkingsugar opened #7111 "multinet automated testing - validator crash"
Follow up on #7014 discussion with @nisdas

I manage to progress but ran into this issue with the validator:
[code]

I would appreciate if you could take a peek!, full log here:
[multinet.txt](https://github.com/prysmaticlabs/prysm/files/5127391/multinet.txt)

P.S.
The current multinet repo I'm working on is here (bit out of date as WIP):
https://github.com/sinkingsugar/multinet

Command lines use

[2020-08-26 04:24] nisdas commented on #7111
Hey thanks for posting this issue, unfortunately this looks like an issue with the validator not existing in the state currently. In the wallet, are all keys of those that have already been included in the genesis state ?

[2020-08-26 05:20] sinkingsugar commented on #7111
Thanks for answering!
Interesting, I am actually generating deposits using @protolambda tools ( https://github.com/protolambda/eth2-val-tools.git )  (Proto, maybe you know something about this issue ?)
So far to the tool I pass fork-version but that's about it.

Btw nimbus and lighthouse do not have this issue/requirement.

I'm completely skipping POW in those tests btw, no connection to goerli or

[2020-08-26 05:29] nisdas commented on #7111
How do you generate the state in this case ? It might be the case where by the tool generates validators that do not exist in the state yet. I can try maybe fixing that so that it doesn't error for you in that case.

[2020-08-26 05:34] sinkingsugar commented on #7111
Using an internal tool in nim beacon chain here:
https://github.com/status-im/nim-beacon-chain/blob/a84a8ba192e2f4c7bae22470b44b2db12f95ab0f/beacon_chain/beacon_node.nim#L1102
(cc @zah , could you please have look here)

[2020-08-26 05:36] sinkingsugar commented on #7111
Yes the tool that generates validators is detached indeed in this case (I'm not using the nim beacon chain generated ones).

[2020-08-26 05:39] nisdas commented on #7111
Ok thanks for clarifying this. I will try to get this fixed by today, so that we do not have this strict requirement and the validator can proceed as expected even if it is not in the state.

[2020-08-26 05:42] sinkingsugar commented on #7111
Sounds good! cheers!

[2020-08-26 10:27] TomWang10 opened #7113 "Prysm crashed on local testnet"
# 🐞 Bug Report

### Description
We ran 1000 validators in the 2.0 testnet built by ourselves，then prysm crashed.

### Has this worked before in a previous version?

Not tested

## 🔬 Minimal Reproduction

I built a complete set of local eth1.0 and eth2.0 testnets, and used the following command to start 1000 validators:

#node1
bazel run //beacon-chain -- --datadir=/data/eth2/beacon-chain-data --ht

[2020-08-26 10:48] nisdas commented on #7111
@sinkingsugar #7114 will fix your issue, let me know if you have any other issues with your multinet scripts.

[2020-08-26 10:54] #6896 closed

[2020-08-26 10:55] nisdas commented on #6325
Closed by #7112

[2020-08-26 10:55] #6325 closed

[2020-08-26 11:15] sinkingsugar commented on #7111
thanks a lot @nisdas , do I have to turn on any particular flag or it's already fine with those I have? never-the-less I will try it now as they are.

[2020-08-26 11:25] nisdas commented on #7111
it should be fine as it is. You will not get anymore panics from it

[2020-08-26 11:41] sinkingsugar commented on #7111
No panics anymore indeed, now I get a constant spam every x seconds with

[code]

I guess it's awaiting an activation that will never happen, is it safe or that means it won't progress?

[2020-08-26 11:43] nisdas commented on #7111
This is fine as long as you expect the provided keys to do nothing. If you expect the provided keys to prysm to be valid and current then that probably means that those keys are not correct in the context of the current state.

[2020-08-26 11:48] protolambda commented on #7111
Hey, I might be able to help get a correct beacon-state set up. Can you describe your approach with assigning keys, and building the genesis state? Also, maybe discuss on discord instead?

[2020-08-26 11:52] sinkingsugar commented on #7111
I was thinking about you @protolambda cos I am generating the keys with your tool 😄 , discord is good yes!

[2020-08-26 13:30] #7111 closed

[2020-08-26 13:43] prestonvanloon commented on #6786
Looks good to me! Thanks

[2020-08-26 13:43] #6786 closed

[2020-08-26 14:39] Buttaa opened #7116 "eth/v1alpha1/validators/participation returns wrong data"
http://localhost:3500/eth/v1alpha1/validators/participation?epoch=4805
[code]
Lighthouse reports 78%
https://lighthouse-book.sigmaprime.io/http/consensus.html#consensusglobal_votes

quoting @djrtwo here as he found the issue, thanks :)

[2020-08-26 15:56] terencechain commented on #7116
This looks like a limitation of the participation end point, it only counts target balances from the canonical chain, and not the forked chains.

[2020-08-26 16:33] fabdarice commented on #7116
Can help with that if you need @terencechain.

[2020-08-26 17:52] rkapka commented on #6518
My bad. I forgot that the I added the flag in #6768. It was blocked by majority voting, but the issue has been finally resolved.

Let's get back to this a week after the PR get merged.

[2020-08-26 18:31] terencechain commented on #7116
Thanks @Buttaa for opening this. Fixed with #7117

[code]

[2020-08-26 20:07] djrtwo commented on #7116
wait, should it include orphaned blocks? I would expect the endpoint to be for on-chain participation

The issue here is that at the end of epoch `N`, participation was pretty low _because_ there were a number of orphaned blocks. But by the end of epoch `N+1`, participation was reasonable high because the attestations got filled in in slightly "late" blocks. Because the finality and reward calcula

[2020-08-26 20:37] terencechain commented on #7116
If the orphaned blocks have attestations for the correct target root, they still should be counted no?

Makes sense. It currently uses the start of `N+1`. End of `N+1` is more correct in this context

That's just the target rate. We certainly should update this API to include source and head as well

[2020-08-26 20:45] terencechain commented on #7116
Changed from start of `N+1` to end of `N+1`. Getting the exact percentages as lighthouse 🙌

[code]

[2020-08-26 21:22] terencechain opened #7118 "eth/v1alpha1/validators/participation to include source and head %"
From feedbacks, several users have reported that granularity of seeing head vs target vs source has been useful when following other client's metrics such as LH.  Each "participation rate" has its own meaning about network performance, it'll be great if Prysm can adopt to this standard as well

[2020-08-27 04:07] nisdas commented on #7111
I can help test out any interop issues with prysm, @sinkingsugar you can just ping me on discord too, would be faster to communicate through it.

[2020-08-27 08:19] #7116 closed

[2020-08-27 08:44] #6314 closed

[2020-08-27 13:12] #7047 closed

[2020-08-27 15:17] #6884 closed

[2020-08-27 19:00] prestonvanloon commented on #5801
![Screenshot from 2020-08-27 11-59-19](https://user-images.githubusercontent.com/7246818/91483633-d9fb9400-e85c-11ea-9580-4ca08324fd91.png)

This looks like it is resolved. Thanks!

[2020-08-27 19:00] #5801 closed

[2020-08-27 19:41] #6063 closed

[2020-08-27 20:45] rauljordan commented on #7101
done by #7115

[2020-08-27 20:45] #7101 closed

[2020-08-27 21:02] djrtwo commented on #7116
well! it depends on what you're counting.

If you are counting just all the attestations that exist (maybe for understanding the fork choice), then you should include all branches and attestations not in branches. For the purposes of understanding on-chain health, would no include orphans

[2020-08-27 21:39] terencechain commented on #7116
Yeah I see it now. Querying to the end of `N+1` would have fixed this

[2020-08-27 22:34] terencechain opened #7130 "eth/v1alpha1/validators/participation has deprecated fields"
These fields are deprecated and will be removed in the near future

`GlobalParticipationRate`
`VotedEther`
`EligibleEther`

[2020-08-27 23:57] #7118 closed

[2020-08-28 07:04] ethgit opened #7131 "Allow specifying target directory when using --enable-db-backup-webhook"
### Description

Currently, triggering the backup endpoint at http://localhost:8080/db/backup will produce a safe copy of the database in the same folder where the database is located. Thus, it would require to keep half of the disk empty to be prepared for future updates.

### Describe the solution you'd like

Allow user to specify a custom directory where the backup is supposed to be stored when

[2020-08-28 14:53] shayzluf commented on #6948
working on design for:
- Beacon node handles multiple repeated keys on their end too. If multiple validator clients are connected, we ensure that each validator client has distinct validator keys. If any of the keys are common we reject the particular validator client from requesting any data and straight away disconnect from it.

[2020-08-28 16:06] stefa2k commented on #6948
I fear this will break my setup in many ways (which worked good and safely!), here are just some:
- The validators are coupled loose to the beacon (by using haproxy and having failovers configured in there). Therefore there is no "connect" request. To talk to a failover the connect-request would be resent.
- Validators can connect to one beacon node (and do so regularly) with the same set of keys.

[2020-08-28 16:23] somuchid opened #7137 "awaiting activation messages are off"
message:
[2020-08-28 10:53:38]  INFO validator: Validator status activationEpoch=18446744073709551615 index=50289 pubKey=0x86984862c1c7 status=PARTIALLY_DEPOSITED

Off:
1. status=PARTIALLY_DEPOSITED
should be DEPOSITED, cause it is full 32 eth

2. activationEpoch=18446744073709551615
that is an infinite number, not the actual epoch

[2020-08-30 13:35] nisdas commented on #7110
@jrhea Thanks for reporting this !  I will take a deeper look into this by this week.

[2020-08-30 15:09] terencechain commented on #7137
Should be fixed by #7138

[2020-08-30 15:10] terencechain commented on #7113
It seems like your node ran out of memory. Can you try more 8GB?

[2020-08-30 15:10] #7113 closed

[2020-08-30 21:26] terencechain opened #7141 "Remove deprecated metrics"
Opening issues to track deprecated metrics that need to be removed before mainnet.
- [ ] total_eligible_balances
- [ ] total_voted_target_balances

[2020-08-31 22:45] #7137 closed

[2020-08-31 23:38] #5202 closed

[2020-09-01 09:16] xuyenvuong opened #7150 "Validator: Could not get rough time result: lookup caesium.tannerryan.ca: Temporary failure in name resolution"
# 🐞 Bug Report

### Description

Validators throwing the below errors and causing the earning to drop to close 0% on the hourly tracker.

### Has this worked before in a previous version?

 This seems to be intermittent as I upgraded my node to alpha.24 today.

## 🔬 Minimal Reproduction

No special changes between alpha.23 vs. alpha.24.

## 🔥 Error

<pre><code>
time="2020-09-01 08:06:28" level=err

[2020-09-01 15:10] terencechain commented on #7150
This may just be a temporary down time whether it is your internet or on the remote.

Does this link work for you? caesium.tannerryan.ca

[2020-09-01 15:11] terencechain commented on #7099
Closing due to lack of details

[2020-09-01 15:11] #7099 closed

[2020-09-01 15:12] terencechain commented on #7089
context deadline exceeds when the validator first loads up is ok, it should work after that. Please reopen this if it persists

[2020-09-01 15:12] #7089 closed

[2020-09-01 15:15] terencechain commented on #7035
Closing this as we have collected all the information and this hasn't been active for 2 weeks

[2020-09-01 15:15] #7035 closed

[2020-09-01 15:16] terencechain commented on #6925
Closing due to lack of information. Please reopen once new info is provided

[2020-09-01 15:16] #6925 closed

[2020-09-01 15:17] #6876 closed

[2020-09-01 16:46] xuyenvuong commented on #7150
@terencechain - The link is working for me. It's probably just a hiccup from the ISP in my area. Thanks.

[2020-09-01 18:13] #6976 closed

[2020-09-01 18:32] Murugaiyan opened #7156 "beacon-chain stopped with panic error"
Beacon chain stopped with panic error in version v1.0.0-alpha.24.

**Logs:**
Sep 02 02:11:46 eth2medalla prysm.sh[2727]: time="2020-09-02 02:11:46" level=info msg="Peer connected" activePeers=54 direction=Outbound multiAddr="/ip4/68.7.209.75/tcp/9000/p2p/16Uiu2HAm3oMUoVqMG8eA8EGXcdDgY1rqgTFTkp3YpHbnh1118py8" prefix=p2p
Sep 02 02:11:48 eth2medalla prysm.sh[2727]: time="2020-09-02 02:11:48" level=in

[2020-09-02 09:39] stefa2k opened #7159 "Slasher prevents proposal"
# 🐞 Bug Report

### Description

Seems like slasher prevents proposal of all validators, not every time. Validator 2073 skipped a proposal because slasher prevented the proposal. https://beaconscan.com/slot/183839

### Has this worked before in a previous version?

Yes

## 🔬 Minimal Reproduction

## 🔥 Error

Validator A:
[code]

Validator B:
[code]

Validator C:
[code]

## 🌍  Your Environment

**O

[2020-09-02 13:37] shayzluf opened #7161 "Slasher doesnt handle attestation edge case well"
# 🐞 Bug Report

### Description

Slasher doesn't handle unexpected cases like source > target well. Underflow, then ignored, while still potentially slashable.

[2020-09-02 13:47] shayzluf commented on #7073
i think it was some testnet instability (branches that resulted in different committees) wdyt @0xKiwi ?

[2020-09-02 16:02] somuchid opened #7163 "--version miss version number and report wrong build time"
The output of --version are like these:

beacon-chain version Prysm/{STABLE_GIT_TAG}/{STABLE_GIT_COMMIT}. Built at: 2020-09-02T11:52:20-04:00

validator version Prysm/{STABLE_GIT_TAG}/{STABLE_GIT_COMMIT}. Built at: 2020-09-02T11:53:32-04:00

Running --version first time right after build:
beacon-chain version Prysm/{STABLE_GIT_TAG}/87181204d03c9c6b3b7c3d2bd10a95f04ba5b72a. Built at: 2020-09-02T11:

[2020-09-02 16:21] danielschonfeld opened #7164 "Error when trying to auto deposit using accounts-v2 deposit"
# 🐞 Bug Report

### Description

Receiving the following error when running accounts-v2 deposit:

```[2020-09-02 11:40:04] FATAL accounts-v2: Could not send validator deposit(s): read /home/myuser/prysm: is a directory```

### Has this worked before in a previous version?

N/A - not sure

## 🔬 Minimal Reproduction

Used the following command to invoke:
```./prysm.sh validator accounts-v2 deposit -

[2020-09-03 14:34] rauljordan commented on #6931
Done by #6996

[2020-09-03 14:34] #6931 closed

[2020-09-04 06:29] nisdas commented on #7110
Seems like this is a known issue with the discovery V5 spec here:
https://github.com/ethereum/devp2p/pull/157

This should be fixed once v5.1 is finalized and all clients are updated to it.

[2020-09-04 12:08] rofra opened #7174 "Validator status "PARTIALLY_DEPOSITED" though 32 Eth deposited"
# 💎 Issue

### Background

I just created my validator node, connected to my beacon node fully synced, all set. The 2 nodes are running the *v1.0.0-alpha.24* release

### Description

In my Validator's log, I see multiple lines with some kind on line like this:
[code]
Here the logs for transition from DEPOSITED to PARTIALLY_DEPOSITED:
[code]

I do not understand why it is named Paritally deposited

[2020-09-04 12:36] fjl commented on #7110
Yes, it will be fixed in the v5.1 spec. I will implement it in go-ethereum, so you don't need to worry about it for Prysm.

[2020-09-04 18:07] stefa2k commented on #7159
same thing here: https://beaconcha.in/validator/2222#blocks with slot 187519

And external slashing protection didn't work with https://beaconcha.in/validator/2222 there is only one `Failed block safety check` of proposal (on 3 nodes) expected were 2 `Failed block safety check`.

[2020-09-04 19:45] prestonvanloon commented on #7150
Closing as not reproducible

[2020-09-04 19:45] #7150 closed

[2020-09-04 19:49] prestonvanloon commented on #7163
Please build with `--config=release` to properly stamp the process with build information.

[code]

[2020-09-04 19:49] #7163 closed

[2020-09-05 02:40] nisdas commented on #7110
No worries @jrhea !

[2020-09-06 14:34] somuchid opened #7183 ""validator --version" still talk to rough time service"
sometimes, launch command "validator --version" took long time or stuck, turns out it still tries to get current time from rough time service.

$ validator --version
ERRO[0008] Could not get rough time result: lookup caesium.tannerryan.ca: Temporary failure in name resolution  prefix=roughtime
validator version Prysm/v1.0.0-alpha.24/245c18784eda370ea3218e8704651edad763978d. Built at: 2020-09-06 13

[2020-09-07 15:37] jrhea commented on #7110
According to the RLP specification, this field should be prepended with 8c followed by 12 bytes.

@nisdas, @fjl the other issue I found should probably be addressed as well.  Before decoding the Auth_tag, the discovery code should verify that it contains the proper length prefix of `8c`. bc this is discovery domain specific... it should be done outside of the RLP decoder.  should I open an issue d

[2020-09-08 06:43] nisdas commented on #7110
@jrhea If I am understanding the issue correctly, shouldnt this be handled by the RLP decoder ? If we need the length prefix to be there for `auth-tag` according to the rlp specs

[2020-09-08 09:37] rkapka commented on #6518
#6768 has been merged almost 2 weeks ago. All good to move on @terencechain?

[2020-09-08 13:48] terencechain commented on #6518
yes!

[2020-09-08 17:13] asovern-crypto opened #7193 "Slasher is contributing to Attestation and Aggregate Failure"
An increase in both CPU usage along with Attestation and Aggregate failures started happening once ten more validator keys were activated within the same Validator.

After resync of the Beacon Node with activating both Validators and Slasher at the same time.

Both issues presented again within the first ten attestations but after new attestations were assigned with the error codes Deadline Exceed

[2020-09-09 07:07] shayzluf commented on #7193
Are you running slasher with historical detection?

[2020-09-09 07:27] asovern-crypto commented on #7193
No flags for historical detection.
Only flag are to set the remote monitoring host and port.
Since turned off Slasher on same device as node/validator, there have not
been att or agg errors.

Will attempt to rpc Slasher into the node for external monitoring at least.

On Wed, Sep 9, 2020 at 12:08 AM Shay Zluf <notifications@github.com> wrote:

[2020-09-09 07:32] shayzluf opened #7196 "Support local protection data interchange format"
# 💎 Issue

### Background

in order to support validators to seamlessly migrate to and from prysm we have to support the [protection db data interchange
](https://hackmd.io/@sproul/Bk0Y0qdGD)
### Description
this is the list of steps to be taken:

- [x] create a new proposal schema update #7197
- [x] create a new attestation schema update #7248
- [x] support migration of data from old schema to ne

[2020-09-09 11:32] mrtestyboy781 opened #7198 "Cannot produce blocks after genesis in private net"
# 🐞 Bug Report

### Description

Cannot create blocks in beacon-chain after genesis activation in private testnet setup.

### Has this worked before in a previous version?

Never attempted before.

## 🔬 Minimal Reproduction

### ETH1 side
1. Launch ETH1 Auro chain node (PoA)
2. Deploy ETH 2.0 deposit contract to ETH1 chain
3. Generated 16 validator keys with [deposit-cli](https://github.com/ethere

[2020-09-09 12:52] alexfisher commented on #7174
Came here to report this and found this issue.  Noticed my validator is scheduled to become active in 2 days and is showing PARTIALLY_DEPOSITED.  I was confused because there are definitely 32 ETH that were deposited on Goerli:

https://medalla.beaconcha.in/validator/b661350862b5c283f981154eb4c900dabcd1c4c7356bc63d6461aceccd28828ef66e704371dc0b6f14d67e3dcc349b21#deposits

[2020-09-09 12:56] alexfisher commented on #7174
Taking another look at logs, and it looks like Activation Epoch is messed up?

[code]

[2020-09-09 15:26] jrhea commented on #7110
If you look at the screenshot of the packet capture from Wireshark, you can see that a payload consisting of 46 (or more) bytes of `0x58` is decoded and replied to.  This implies that whatever is decoding the auth_tag doesn’t care about the length prefix.  Furthermore, the rlp library should only care about the RLP being valid so as long as the prefix matches the length.  At the risk of being wron

[2020-09-09 15:40] rauljordan commented on #6043
Update on this one @farazdagi ?

[2020-09-09 15:46] rauljordan commented on #5768
@timmyers this issue has likely gone stale. Can you try our latest alpine images and let us know if you run into any issues? if so, we can reopen

[2020-09-09 15:47] raulk commented on #6043
The Lotus-side change has landed on master. Please take it out for a spin, and report back!

[2020-09-09 15:49] #5185 closed

[2020-09-09 15:49] terencechain commented on #5185
Shifting priorities, i dont think we'll get to this before mainnet. Will reopen when the timing is acceptable

[2020-09-09 15:49] rauljordan commented on #6950
@nisdas is this still relevant or have there been significant improvements to this code? I recall this part of the codebase has changed a bit since the Medalla incident

[2020-09-09 15:56] rauljordan commented on #6425
This is no longer in the codebase

[2020-09-09 15:56] #6425 closed

[2020-09-09 16:05] #6290 closed

[2020-09-09 16:28] farazdagi commented on #6043
@nisdas has created a draft branch https://github.com/prysmaticlabs/prysm/pull/7184, where he is experimenting with injecting peer scorer into p2p router.

[2020-09-10 02:25] nisdas commented on #6746
Reopening this as this has been reported again.

[2020-09-10 06:05] farazdagi commented on #6083
The fix provided resolves only one branch of code (see line 244):

https://github.com/prysmaticlabs/go-ssz/blob/6d5c9aa213ae42b6b1b2f45d623b535e96922416/types/struct.go#L228-L253

and the one within the first condition's body (containing line 233 - where panic occurs), doesn't seem to check for the bounds.

To reproduce (reported by @pventuzelo):

[code]

Error:
[code]

In our upstream repo, we ne

[2020-09-10 07:04] nivBlox commented on #7174
@All our pending validators has PARTIALLY_DEPOSITED status too. some have exactly 32 balance and some have more than 32 so the status should not be PARTIALLY_DEPOSITED.
By the way one of the validators became active even that the status was PARTIALLY_DEPOSITED.

--------------------------------------------------------------
@alexfisher use the "positionInActivationQueue" in order to get the positi

[2020-09-10 09:35] raphpa commented on #7174
Duplicate of #7137
Fix is not in the precompiled binaries yet.

[2020-09-10 15:15] rkapka opened #7208 "[Tracking Issue] Inform how the user can track their validator exit status"
# 💎 Issue

### Background

Follow-up to #6882

After submitting a voluntary exit, the user is not able to track the status of his exit in the Prysm client. It would be nice to log a link to some block explorer's web page where the status of the exit would be displayed, e.g. https://beaconcha.in/exits/0x29389283982

### Description

~~- [ ] Have the functionality available on a block explorer's web

[2020-09-10 18:02] fjl commented on #7110
The auth_tag will not be RLP anymore in the v5.1 spec, so this issue will be fixed by the update as well.

[2020-09-10 18:50] terencechain opened #7210 "Update weak subjectivity checkpoint epoch calculation"
In mainnet config, `SafetyDecay` is defined is `1/10` which is 0 for uint64. The spec uses 10% for float which we would love to avoid at all cost. Working with Aditya on this

https://github.com/prysmaticlabs/prysm/blob/master/shared/params/mainnet_config.go#L135

Thanks @prestonvanloon for pointing this out

[2020-09-10 19:23] terencechain commented on #7210
As it turns out the calculation of the weak subjectivity period in the hackmd is not accurate since it doesn't account for inactivity leaks, withdrawal delays, etc. Specifying an accurate equation is underway & @adiasg will share as soon as he has something

https://notes.ethereum.org/@adiasg/weak-subjectvity-eth2

[2020-09-10 22:23] dv8silencer opened #7211 "Providing a wrong pass followed by a correct pass during accounts-v2 import overwrites the password"
#🐞 Bug Report
### Description

In current master, if you have a direct-type wallet and try to import using accounts-v2 import, something like the following happens:
Attempt 1) Try the correct password <--- All goes well
Attempt 2) Try an incorrect password and the program keeps looping until you provide a good password. <--- The first (incorrect) password becomes the new password after the new key

[2020-09-11 00:12] dv8silencer opened #7213 "Passphrase given during HD-wallet creation is not used. Empty string is used for HD-wallet operations."
# 🐞 Bug Report

If you create a HD wallet, you are asked for a passphrase.  Regardless of what you choose, you can access the wallet using whatever passphrase you please.

### Description

Create HD wallet with passphrase1
Then run accounts-v2 create using passphrase2 <-- No issues
Repeat prior step with a set of random passphrases <-- No issues
List accounts, also no issue.

This stems from the f

[2020-09-11 02:22] jrhea commented on #7110
it's a good thing we voted to update to 5.1 in the networking meeting this week 😅

[2020-09-11 04:53] nisdas commented on #7110
Ok that makes sense then @jrhea thanks for clarifying this. Seems like v5.1 will also take care of this then

[2020-09-12 02:51] Bit24888 opened #7218 "rJb5KsHsDHF1YS5B5DU6QCkH5NsPaKQTcy"
#

# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):

**Opt-in feature flag name**:

**Opt-out feature flag name**:

### Feature Description

 A clear and concise description of the new feature. Provide links to your technical
design document or other supporting information.

### Tasks

- [ ] Feature flag created as opt-in
- [ ] Feature implemented / code complete
- [ ] Feature tested

[2020-09-12 05:23] #7218 closed

[2020-09-12 12:45] handelaar2 opened #7220 "Dynamic IP address: Peers drop without recovery after IP-reset"
# 🐞 Bug Report

### Description
My ISP resets my IP every day (it only provides dynamic IP V4 addresses). Im running my beacon with --p2p-host-dns=xxx
The host-dns instantly resolves to the new ip.

However after this ip-change, my peers drop to only a few (<5) and the beacon does not recover from the change anymore back to the expected max-peer value (=30).

What is somewhat strange that the peer

[2020-09-13 04:04] tannerryan opened #7223 "Update cloudflare/roughtime Go dependency"
# 💎 Issue

### Background

The Roughtime ecosystem list maintained by Cloudflare has been updated.

### Description

I run one of the servers within Cloudflare's Roughtime ecosystem which Prysm uses. The domain name of the Caesium Roughtime server has been updated from [caesium.tannerryan.ca](https://caesium.tannerryan.ca) to [time.0xt.ca](https://time.0xt.ca).

While the old domain name will cont

[2020-09-13 04:07] terencechain commented on #7223
Thanks @tannerryan feel free to submit a PR. Much appreciated 🙏

[2020-09-13 14:15] tsudmi opened #7225 "Beacon node memory usage grows until evicted"
# 🐞 Bug Report

### Description

Beacon nodes get restarted every hour as their memory usage grows up until 4GB and then they get OOM killed.
This happens every hour. Beacon node version: `v1.0.0-alpha.24`

Here is the usage graph:

![Screenshot 2020-09-11 at 13 25 55](https://user-images.githubusercontent.com/6001614/93020298-e154c880-f5e4-11ea-9c21-42272bfef7ec.png)

1 - `2GB`, 2 - `4GB`.

[2020-09-13 15:53] #7183 closed

[2020-09-13 22:06] SeaMonkey82 commented on #7050
Just posting to say that I'm seeing this in alpha.24 as well.

[2020-09-14 09:10] #7156 closed

[2020-09-14 18:08] terencechain commented on #7225
The chart looks pretty consistent at 2GB with `1`. We'll need more info here. What's the difference between `1` and `2`? is it during initial syncing? how many peers? how many validators?

[2020-09-14 18:13] prestonvanloon opened #7236 "ERROR pool/attestations: Cannot delete seen attestations error=<nil>"
# 🐞 Bug Report

### Description

Users are seeing an error message for a nil error after deleting seen attestations.

[code]

https://github.com/prysmaticlabs/prysm/blob/572227d25e5c76b6f662e9713aedb7b0c668e6eb/beacon-chain/operations/attestations/prune_expired.go#L38-L40

This is not an actual error, but a mistake in the if statement. The line of code should check `err != nil` but does the opposi

[2020-09-14 18:14] terencechain commented on #7236
@prestonvanloon fixed here https://github.com/prysmaticlabs/prysm/pull/7217

[2020-09-14 18:15] prestonvanloon commented on #7236
Thanks!

[2020-09-14 18:15] #7236 closed

[2020-09-14 18:15] prestonvanloon commented on #7236
This will be resolved in v1.0.0-alpha.26

[2020-09-14 18:36] tmcgukin opened #7237 "sysctl start beacon.service panics on startup"
I was running my services for over two weeks(whenever sync was fixed) with zero issues and then my beacon just stopped working.  When restarting my beacon service it goes through about 10 seconds of the loading and errors out and restarts.

Error : level=fatal msg="Could not cache justified state balances: could not get ancestor state: unknown block" prefix=blockchain

Switching to the ./prysm.sh

[2020-09-14 18:39] prestonvanloon commented on #7237
The error "Cannot delete seen attestations" is known: #7236.

[2020-09-14 18:53] terencechain commented on #7237
Double checked, the `"Could not cache justified state balances: could not get ancestor state: unknown block"`error is just an older version without the following fix

https://github.com/prysmaticlabs/prysm/pull/6861

As long as you keep running Alpha 25, it'll be fine. "Cannot delete seen attestations" can be ignored

[2020-09-14 18:53] terencechain commented on #7237
Going to close this unless `Could not cache justified state balances: could not get ancestor state: unknown block` happens in alpha25

[2020-09-14 18:57] tmcgukin commented on #7237
Not too familiar with github, I looked through 6861, but didnt see anything clear.  What exactly should be changed on my side?

[2020-09-14 18:59] xuyenvuong opened #7238 "Beacon: "Cannot delete seen attestations" error=<nil> prefix="pool/attestations"
# 🐞 Bug Report

### Description

After upgrade to alpha.25 there new errors are surfacing on the beacon log. It was very cryptic so, it hard to dig into more. The config on my current setup has not change since alpha.24

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: alpha.24

## 🔬 Minimal Reproduction

Upgrade from alpha.24 to

[2020-09-14 19:03] terencechain commented on #7238
duplicated #7236

[2020-09-14 19:03] #7238 closed

[2020-09-14 19:39] prestonvanloon commented on #7237
@terencechain this user report comes from alpha.25.

[2020-09-14 19:41] terencechain commented on #7237
@prestonvanloon got it, i was under the impression `Could not cache justified state balances` came from versions before 25. Either way, can't reproduce this and haven't seen this in 24/25

[2020-09-14 19:58] terencechain commented on #7237
Just chatted with @tmcgukin. The script is working for 25. The other setup where it uses `sysctl start beacon.service` doesn't work. Asked to check operational setup

![image](https://user-images.githubusercontent.com/21316537/93132121-fafc1b80-f689-11ea-8a52-7fa9f65df6d9.png)

[2020-09-14 23:01] terencechain opened #7239 "Feature Flag Tracking: --use-check-point-cache"
# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):

**Opt-in feature flag name**:

**Opt-out feature flag name**:

### Feature Description

`--use-check-point-cache` is a superior implementation comparing to the current attestation check point state cache. It uses 50% less memory and is a life saver at long epochs without finality periods

### Tasks

- [x] Feature flag created as opt-in

[2020-09-14 23:04] #7164 closed

[2020-09-15 00:45] terencechain commented on #7237
Thanks @dv8silencer for the DB. I looked into this. One of the parent block `be5d14a2329be5e3cbb263ed82a7729ec06dca90c138bcf9dd3be3d2596b23a4` is missing in the DB. The question is how did it get into this state? and what we can do to prevent beacon node getting into this state? I'll open a preventive PR on this this week

[2020-09-15 06:56] tsudmi commented on #7225
Hi @terencechain ,

`1` is the memory requested: 2GB. When it grows to `2` it means that it exceeds the requested amount twice (4GB), then the node restarts, and memory consumption starts growing again.

This is not during the initial sync and the number of peers has the default value (30?).
There are 56 validator clients in total, each one attesting up to 50 validator keys.

[2020-09-15 14:52] #7211 closed

[2020-09-15 17:30] terencechain opened #7243 "Feature Flag Tracking: --batch-block-verify"
# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):

**Opt-in feature flag name**:

**Opt-out feature flag name**:

### Feature Description

`--batch-block-verify` is a better initial syncing algorithm than the current naive initial syncing algorithm. This allows batch verification of beacon chain objects which improves the syncing speed.

### Tasks

- [x] Feature flag created as opt-in

[2020-09-16 16:36] terencechain opened #7250 "ERROR main: failed to listen on any addresses"
#6363 broke latest master on my mac osx setup. The errors are below 👇

[code]

Command line arguments:
[code]

[2020-09-16 19:54] rauljordan commented on #7174
Resolved in alpha.25

[2020-09-16 19:54] #7174 closed

[2020-09-16 20:12] #7213 closed

[2020-09-16 20:39] rauljordan opened #7253 "End to End Fails on MacOS Catalina Due to Buffer Size Being Too Large in bufio.Scanner"
# 🐞 Bug Report

### Description

[code]

Fails when running on MacOS catalina with the following error:

[code]

### Has this worked before in a previous version?

Yes, it worked in catalina a while back, but not sure which commit

## 🔬 Minimal Reproduction

[code]

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
MacOSX Catalina
  </code>
</pre>

**What version of Prysm are you runni

[2020-09-16 23:29] justin95-eth2 opened #7255 "When Importing multiple sets of keys with different passwords, import fails"
Environment: Windows 10 Version 10.0.18363
Prysm Alpha 25

I did my final addition today of adding and depositing 580 validators. When I did this, I did them in runs of 85 with a final run of 70 on the medalla launchpad due to metamask not being able to keep up with that many transactions. I also like to have good security so I made each run of 85 a different password using the deposit.exe file av

[2020-09-16 23:41] #7253 closed

[2020-09-17 03:02] #7250 closed

[2020-09-17 10:03] mrtestyboy781 commented on #7198
Resolved by https://github.com/prysmaticlabs/prysm/pull/7258

[2020-09-17 10:03] #7198 closed

[2020-09-17 19:03] xuyenvuong opened #7262 "Beacon node restart due to "Could not get rough time result: lookup caesium.tannerryan.ca: too many open files""
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...
Occasionally I got several Grafana notification ([OK] WARN NODE/VALIDATOR: The process just restarted) about my Beacon Node is restarting. Checking the log and got these errors that is time corresponding to the node restarting time. During beacon node's down time, the number of attestation and aggregation failures

[2020-09-17 19:05] terencechain commented on #7262
Fixed in #7221

Will be in alpha.26

[2020-09-17 19:05] #7262 closed

[2020-09-17 19:57] xuyenvuong commented on #7262
Thanks @terencechain

[2020-09-17 20:09] dv8silencer opened #7264 "Creating HD wallet at site of already-existing wallet gives cryptic error."
#🐞 Bug Report

If you have an HD wallet at location A and issue a wallet-v2 create with a wallet-dir that is also A, and if the password for the new wallet does not match the old wallet's password, you receive this:

`[2020-09-17 12:20:42] FATAL accounts-v2: Could not create a wallet: could not initialize wallet with derived keymanager: could not initialize keymanager: could not initialize derived

[2020-09-17 20:11] dv8silencer commented on #7264
I'd like to take a stab.

[2020-09-17 21:59] mohammedpatla opened #7266 "Running into `FATAL blockchain: Could not set up chain info: finalized state and block can't be nil` after a restart of beacon chain"
# 🐞 FATAL blockchain: Could not set up chain info: finalized state and block can't be nil

### This is when I run the prysm beacon script using this command
``` ./prysm.sh beacon-chain --http-web3provider=https://goerli.prylabs.net --verbosity debug --log-file beacon.log```
The issue is resolved when I delete beaconchain/beaconchain.db and restart, but at some point my script automatically is kill

[2020-09-17 22:04] mohammedpatla commented on #7266
link to .db https://www.dropbox.com/s/5xxtseged6sjetl/olddata.zip?dl=0

[2020-09-18 00:59] dv8silencer opened #7269 "When creating a new Direct-type wallet, the password provided is not used"
# 🐞 Bug Report

### Description

Whenever wallet-v2 create is used to create a Direct wallet with password A, and then later accounts-v2 create is used to create a direct-type account with password B, password B becomes the actual wallet password.  B can be anything (Bypass validation) e.g. "asdf"

in CreateWalletWithKeymanager
[code]
The only thing done is to write the keymanageropts.json which d

[2020-09-18 10:00] ric2020stake opened #7271 "prysm beacon-chain"
# 🐞 Bug Report

### Description Starting Prysm beacon-chain with "./prysm.sh beacon-chain"

 A clear and concise description of the problem...

### Has this worked before in a previous version? don't know

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction
Starting Prysm beacon-chain --datadir /mnt/ssd/prysm
./prysm.sh: rivi 241: /home/pi/prysm/dist/b

[2020-09-18 10:03] ric2020stake commented on #7271
I need help with this problem
Starting Prysm beacon-chain --datadir /mnt/ssd/prysm
./prysm.sh: rivi 241: /home/pi/prysm/dist/beacon-chain-v1.0.0-alpha.25-linux-arm64: Tiedostoa tai hakemistoa ei ole

[2020-09-18 17:16] #4507 closed

[2020-09-18 18:41] terencechain opened #7274 "Align to v0.12.3"
Opening this to track `v0.12.3` changes. This is 100% backwards compatible with `v0.12.x`

Beacon chain
- [x] Add configuration -- PROPORTIONAL_SLASHING_MULTIPLIER -- for slashing multiplier (https://github.com/ethereum/eth2.0-specs/pull/2034)
- [x] [non-substantive] Add clarifying comment for genesis skip conditions (https://github.com/ethereum/eth2.0-specs/pull/1999)

Fork choice
- [x] [non-subs

[2020-09-18 21:01] #7264 closed

[2020-09-19 17:01] terencechain opened #7277 "ssz mainnet spec test is skipped for v0.12.3"
**Why?**
In v0.12.3, the ssz mainnet spec test got mistakenly skipped due to miss configuration on the generator. Due to that, eth2.0-spec-test did not have ssz mainnet spec test. The impacted file on our end is `ssz_static_mainnet_test.go`

https://github.com/ethereum/eth2.0-specs/issues/2076

****When will this be fixed?****
When v0.12.4 releases

[2020-09-19 18:28] mohammedpatla commented on #7266
Ok so i figured out the cause of the issue.

When the Beacon chain is killed because of lack of system resources(either hardware or software limitations) it corrupts all the data I think that's why its unable to restart and resume.

[2020-09-19 21:23] jwhelan72 opened #7279 "Upgrade from alpha-24 to alpha-25 doubles CPU usage and load"
After upgrading from alpha-24 to alpha-25 a few days ago, I see that my VPS CPU usage and load has doubled.

All other settings remain the same. Only two validators running.

![image](https://user-images.githubusercontent.com/1807284/93689464-05297a00-facf-11ea-892f-acb3373dc46a.png)

![image](https://user-images.githubusercontent.com/1807284/93689469-0b1f5b00-facf-11ea-8527-006306579aca.png)

Pro

[2020-09-20 02:31] dv8silencer opened #7280 "accounts-v2 backup does not backup HD-wallet accounts"
# 🐞 Bug Report

If you have an HD-type wallet with accounts in it and try to back them up using accounts-v2 backup, the program execution will make it seem that all is going well (no errors, exits without issue) but there is no actual backup created.

I suspect it is related to:

https://github.com/prysmaticlabs/prysm/blob/b928e9531c6b5b7ad4b8548404fd3e0867966d56/validator/accounts/v2/accounts_bac

[2020-09-20 03:04] dv8silencer opened #7281 "Different wallet types don't mix well within the same wallet directory"
# 🐞 Bug Report

Example:

Start w/ user w/  No Prysm wallets/never used Prysm before/just freshly installed Prysm after going through eth2.0-deposit-cli

1) accounts-v2 import --keys-dir ........ (as one may import launchpad keys).  During interaction w/ the program, create the wallet [direct] with Password A and in default dir
2) accounts-v2 list   ---> works as expected
3) wallet-v2 create HD (D

[2020-09-20 03:25] finoaker commented on #7279
![image](https://user-images.githubusercontent.com/52343686/93693517-20829c80-fb44-11ea-963d-39951e545fa2.png)

Same for me. Low spec machine so much higher utilisation, but in versions prior to alpha 25, would sit around 40-50% utilisation, peaking to 90+% only a few times per min.

[2020-09-20 04:46] nisdas commented on #5768
Reopening this issue as it has been reported that alpine images are still not functional

[2020-09-20 11:28] rkapka commented on #4604
Small update - I plan to handle this issue next week.

[2020-09-21 08:50] #7280 closed

[2020-09-21 19:27] rauljordan commented on #7269
Successfully reproduced. When creating a wallet, the user is asked for a strong password, but we do not use that anywhere. So when they try to create an account, they are able to bypass all validation by using a weak password as we have nothing to compare it to

[2020-09-21 19:36] rauljordan commented on #7281
There should only be one wallet type per wallet directory. An easy solution to this issue is to disallow multiple wallets in the same directory

[2020-09-21 21:19] prestonvanloon commented on #7277
https://github.com/ethereum/eth2.0-specs/issues/2076#issuecomment-696329058

The tests were regenerated for v0.12.3 with the missing spec tests.
CI will fail until we update the sha in WORKSPACE.

[2020-09-21 22:22] #7277 closed

[2020-09-22 01:22] divdev2000 opened #7294 "Password for recovered HD wallet rejected"
# 🐞 Bug Report

### Description

Password validation fails attempting to list a recovered HD wallet created with validator wallet-v2 recover

### Has this worked before in a previous version?

Yes, I can access the same wallet using the expected password and v1.0.0-alpha.25
USE_PRYSM_VERSION=v1.0.0-alpha.25 ./prysm.sh validator accounts-v2 list

It appears to be only the version used to access the

[2020-09-22 03:09] Domintek opened #7296 "Multiple Ctrl-C 's required to stop beacon chain."
<
!--💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎

Hellooo! 😄

To help us tend to your issue faster, please search our currently open issues before submitting a new one.
Existing issues often contain information about workarounds, resolution, or progress updates.

💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎-->

# 🐞 Bug Report

### Description

When I use Ctrl-C to stop my prysm.sh script, I have had to do multiple Ctrl

[2020-09-22 03:13] Njoiyt opened #7297 "Validator wallet-v2 recover does not use default '0'"
# 🐞 Bug Report

### Description

When specifying, "how many accounts you would like to recover" during "validator wallet-v2 recover", the default of 0 is not defaulting properly. When left blank, you receive the following error, "Entry not valid: strconv.Atoi: parsing "": invalid syntax"

### Has this worked before in a previous version?

I didn't try this before alpha26

## 🔬 Minimal Reproduction

[2020-09-22 03:25] deni64k opened #7298 "ListValidatorBalances responds "Could not get state""
# 🐞 Bug Report

### Description

This GRPC query
[code]

leads to an error:
[code]

### Has this worked before in a previous version?

It worked on the current version because I was running very similar queries without having any problems.

## 🔬 Minimal Reproduction

1. Public API

[code]

2. GRPC
[code]

## 🔥 Error

Nothing in logs

## 🌍  Your Environment

**Operating System:**

macOS, Linux

**W

[2020-09-22 03:41] terencechain commented on #7298
Works for me on latest master

➜  ~ curl -X GET "http://localhost:3051/eth/v1alpha1/validators/balances?epoch=10575&indices=32831" -H "accept: application/json"
{"epoch":"10575","balances":[{"publicKey":"kXRKQA10JoIToMMQejOwiLUOCpIzfBQ1wu9RprEH1lxeHjGNc2pe7V9gutcT/xZp","index":"32831","balance":"32038661584"}],"nextPageToken":"","totalSize":1}%

Can you try alpha 26?

[2020-09-22 04:18] deni64k commented on #7298
The same error on alpha 26.

[2020-09-22 04:34] dv8silencer commented on #7294
When you recover, if you put 0 accounts when it asks
`Enter how many accounts you would like to recover (default: 0):`
and then afterwards recover the number of accounts you have using
`accounts-v2 create --num-accounts 10`  (10 as an example)
Does it work?

If so likely https://github.com/prysmaticlabs/prysm/pull/7295 by @rauljordan will resolve the issue.  https://github.com/prysmaticlabs/prysm/

[2020-09-22 04:42] prestonvanloon commented on #7279
Could you please confirm this for alpha.16?

[2020-09-22 04:51] finoaker commented on #7279
Was just checking as your message arrived. Better but, not back down to alpha 24 level. Upgraded at 12:30 mark, pattern was the same for 12 hours prior using alpha 25.

![image](https://user-images.githubusercontent.com/52343686/93845034-b8b68800-fce2-11ea-8bb7-a5e477848439.png)

[2020-09-22 06:35] #7297 closed

[2020-09-22 09:53] shayzluf commented on #7298
@rauljordan please reassign to me if you find the assignment inappropriate

[2020-09-22 10:07] shayzluf commented on #7296
@farazdagi seems related to p2p , please reassign to me if you think its inappropriate

[2020-09-22 10:10] shayzluf commented on #6798
seems like a ci issue @prestonvanloon please reassign to me if you find it inappropriate

[2020-09-22 10:11] shayzluf commented on #6950
@nisdas any update on this issue?

[2020-09-22 10:24] shayzluf commented on #7074
@rkapka are there more tools to be added or this can be closed?

[2020-09-22 10:26] shayzluf commented on #6746
@farazdagi is it related to peer scoring?

[2020-09-22 12:00] divdev2000 commented on #7294
Yes, I tried what you suggest and it does work if I start the recovery with 0 accounts and then create them afterwards my password is accepted.

[2020-09-22 12:00] #7294 closed

[2020-09-22 14:49] #7269 closed

[2020-09-22 15:43] terencechain commented on #7237
there's no more actions to follow up with this. I think this can be closed after the merging of #7245
If it happens again, please reopen this and we can take a look

[2020-09-22 15:43] #7237 closed

[2020-09-22 15:44] terencechain commented on #7298
@deni64k if it's possible, can you upload your DB somewhere for us to take a look? Feel free to dm me on discord with any questions

[2020-09-22 16:07] rauljordan opened #7306 "Wrong Result Returned from rpc.ListValidators Call"
# 🐞 Bug Report

### Description

Thanks to @mcdee for finding this.

### Has this worked before in a previous version?

No

## 🔬 Minimal Reproduction

curl -X GET "http://localhost:3500/eth/v1alpha1/validators?epoch=10989" -H "accept: application/json"

will return a total size of 57387 which is incorrect

## 🔥 Error

The culprit is here https://sourcegraph.com/github.com/prysmaticlabs/prysm/-/blo

[2020-09-22 19:32] bidlocode opened #7310 "Config file params ignored when running subcommand"
🐞 Bug Report

### Description

Config file parameters ignored when running subcommand. Config file parameters in question:
<pre>
  <code>
wallet-dir: /data/wallets
wallet-password-file: /data/passwords/wallet-password
keys-dir: /launchpad/eth2.0-deposit-cli/validator_keys
  </code>
</pre>

## 🔬 Minimal Reproduction

Everything works as expected:
<pre>
  <code>
./prysm.sh validator --config-file=/c

[2020-09-22 19:41] prestonvanloon commented on #7298
@terencechain this happened in our nodes too. We could pull the db from beacon-chain-prod-4 if that is helpful.

[2020-09-22 19:52] prestonvanloon commented on #7279
Looking through this commit range: https://github.com/prysmaticlabs/prysm/compare/v1.0.0-alpha.24...v1.0.0-alpha.26

[2020-09-22 22:49] raphpa commented on #7279
I just had the same issue, cannot reproduce unfortunately (on :latest)

- On the first start after a server reboot it used up all RAM available, so I restarted the docker container again.
- On consecutive container restarts I had a high CPU load and the prometheus endpoint did just stall on an open connection and did not return any data, even though the node seemed to work okay (besides the high c

[2020-09-22 23:38] raphpa commented on #7279
Got it again, maybe there is something interesting in the pprof file

[cpu.pprof.zip](https://github.com/prysmaticlabs/prysm/files/5264611/cpu.pprof.zip)

[2020-09-23 00:03] necrotic1979 opened #7312 "blst gives "illegal instruction""
# 🐞 Bug Report

### Description

Tried using blst for the first time today after updating to version 26.  Crashed immediately on starting to sync. Repeated a few times with same results.

### Has this worked before in a previous version?

No, blst is new to version 26

## 🔬 Minimal Reproduction

command line as follows: user@debianserver:~/prysm$ ./prysm.sh beacon-chain --http-web3provider=https:/

[2020-09-23 00:22] dv8silencer commented on #7281
`wallet-v2 recover` bypasses the checks and allows a user to have multiple wallet types per directory.  This can be reproduced by making a direct wallet, then using `wallet-v2 recover` into same wallet dir, which results in both direct and derived types in the same folder

Also:
in validator/rpc/wallet.go, (s *Server) CreateWallet() calls CreateWalletWithKeymanager line 43--- is this another way t

[2020-09-23 02:34] deni64k commented on #7298
I have my db shared here: https://ipfs.io/ipfs/Qmdofz1aG4XjT78kg7aPRAKPGgxu2k7j9cPZW8zFVvtF1F?filename=prysm.tar.gz
But, my upload speed is very slow, 10 MiB, so you might have to wait for long to download it.

[2020-09-23 02:59] terencechain commented on #7298
Thanks @deni64k, we have figured out the bug and have a solution. You can cancel the upload now if you want.

[2020-09-23 07:00] racer8 opened #7315 ""error=could not process slot from the future" error is incorrect"
Regarding the "error=could not process slot from the future" error, I set my system clock to 2 minutes ahead of real time and still got the errors.  I was getting errors for blocks that were well into the past so I think the beacon is incorrectly identifying blocks as being in the future.
It could be that the beacon is getting the time from the wrong place due to the following:
- The stdout timest

[2020-09-23 08:09] bidlocode opened #7317 "Option to explicitly disable unneeded ports"
🚀 Feature Request

### Description

option to disable rpc port, grpc-gateway, monitoring port or any non-vital ports
for example --rpc-port 0 to disable rpc-port on validator instance

[2020-09-23 08:59] farazdagi commented on #6746
Shay, no it is not. As it is currently implemented, peers that are considered by scorer as bad/slow are not banned or removed, their chance to participate in fetching the next batch are diminished (yet, they can still continue participating).

[2020-09-23 09:25] jwhelan72 commented on #7279
Below is the CPU & Load stats when running 24, 25 & 26.  As you can see, there was a big jump in resource consumption with 25.  That dropped considerably with 26 but is not back to the level when running 24.

![image](https://user-images.githubusercontent.com/1807284/93993859-87e05c80-fd8f-11ea-84df-2c18a8ac8af5.png)

[2020-09-23 13:28] raphpa opened #7319 "Validator should print more information about the read wallet/accounts"
# 🚀 Feature Request

### Description

Referring to #5450

After startup Validator should display information about the wallet and/or accounts it read from the wallet, independent from the deposit status.
Right now Validator just sits there, waiting to connect to Beacon-Chain or waiting for it to sync to the chain head before you get any information about your validator accounts.

This becomes more

[2020-09-23 18:22] wackerow commented on #7312
![image](https://user-images.githubusercontent.com/54227730/94052621-09cf8600-fd8e-11ea-98fd-df8c649c728b.png)
Had same issue after upgrading to alpha-26 and incorporating `--blst` flag. `SIGILL: illegal instruction` then a large console dump and crash.
Ubuntu 20.04.1 LTS (GNU/Linux 5.4.0-1018-raspi aarch64).

Staying on alpha-26 and removing `--blst` flag allowed beaconchain to resume normal func

[2020-09-23 18:26] prestonvanloon opened #7322 "Panic when goerli is stalled / down"
# 🐞 Bug Report

### Description

Beacon chain experiences a panic in BlockTimeByHeight.

### Has this worked before in a previous version?

Yes, but unknown if this issue existed in prior version.

## 🔬 Minimal Reproduction

When goerli is down or stalled the error occurs. At the time of writing, Goerli has not seen a new block in over 15 minutes.

## 🔥 Error

<pre><code>
panic: runtime error: inv

[2020-09-23 18:29] prestonvanloon commented on #7322
The offending line of code is
https://github.com/prysmaticlabs/prysm/blob/5bfc4579045cb821b46b1bd4ee8a6b99310d1f1d/beacon-chain/powchain/block_reader.go#L65

It looks like the eth1DataFetcher was nil.

[2020-09-23 21:39] #7298 closed

[2020-09-23 21:58] MysticRyuujin commented on #7312
This happening on my Intel NUC / Ubuntu / Docker setup as well.

[beacon_crash.log](https://github.com/prysmaticlabs/prysm/files/5272121/beacon_crash.log)

[2020-09-23 23:16] #7322 closed

[2020-09-24 01:07] deni64k commented on #7298
Just tested it on `6ad117b17562501f18b80b0ca8aeadf290f61054`:

[code]

The output is as expected.

Thanks, folks, for a very quick fix!

[2020-09-24 01:09] terencechain commented on #7298
Anytime! thanks for confirming and the reporting!

[2020-09-24 08:13] nisdas commented on #7312
Just to give an update I have opened an issue here:
https://github.com/supranational/blst/issues/31 .

For now you can run without `--blst` to prevent the panics, hopefully we can get this fixed by the next release.

[2020-09-24 08:56] tsudmi opened #7331 "Cannot initialize validator.db: permission denied"
# 🐞 Bug Report

### Description

Hi, I can't upgrade my validators as version `v1.0.0-alpha.25` introduced a breaking change of moving `validator.db` from `data` directory to the `wallet` directory. In the Kubernetes environment where these two directories are separated (one is mounted as `rw` and is PV and another is mounted as `ro` and is Kubernetes secret), there is no way to combine those two

[2020-09-24 09:53] yorickdowne opened #7333 "Supply docker AppArmor profile"
# Please supply an AppArmor profile for Prysm

You know your application best and what it requires from the OS. Being able to easily "lock it down" inside a container to those paths it needs would be a boon to security.

## What is AppArmor?

See https://docs.docker.com/engine/security/apparmor/ . AppArmor security profiles define what can and cannot be done inside a container, specific to the app

[2020-09-24 11:40] shayzluf opened #7334 "Activate attestation pruning in slasher db"
# 🐞 Bug Report

### Description

Slasher disk space footprint is quite big (~300MB per day ~90gb for the whole weak subjectivity period) pruning old attestations (older then weak subjectivity should help confine the resources needed to run a slasher

### Has this worked before in a previous version?

was removed at some stage from the codebase

[2020-09-24 16:15] yorickdowne opened #7339 "validator dies if beacon node not ready, with "error while dialing""
# 🐞 Bug Report

### Description

If the beacon node is not ready when the validator starts, the validator will exit with error, see below

For automated environments, this will require wrapping the validator in "wait-for-it" or similar. While depends_on can make sure the beacon node is up, nothing prevents a race condition where the beacon node is not yet accepting connections when the validator s

[2020-09-24 18:52] terencechain opened #7342 "Make weak subjectivity check mandatory"
Once the weak subjectivity check is well tested and widely adopted in production, we should make weak subjectivity check mandatory in run time.

It's currently not mandatory as anyone can skip the flag and the node will sync pass

[2020-09-24 19:44] rauljordan opened #7343 "Mismatch Between Recommend Wallets in Docs vs. Code"
From one of our stakers in our Discord:
[code]
We should recommend a simple import wallet always

[2020-09-25 02:08] tannerryan commented on #7223
Closing issue as per https://github.com/prysmaticlabs/prysm/pull/7299.

[2020-09-25 02:08] #7223 closed

[2020-09-25 03:17] viveksahu26 commented on #7343
Hey @rauljordan , I would like to work on this issue.

[2020-09-25 03:27] rauljordan commented on #7343
Assigned! The right solution is to change the text in Prysm to align with the docs

[2020-09-25 12:29] zilm13 opened #7346 "Discovery V5 half handshake bug"
# 🐞 Bug Report

### Description
Sequence
<pre><code>
random packet ->
<- whoareyou
malformed authheadermessage packet ->
malformed authheadermessage packet (same) ->
malformed authheadermessage packet (same) ->
malformed authheadermessage packet (same) ->
correct authheadermessage packet ->
</code></pre>
passes the authorization. You could send any number of malformed AuthHeaderMessages until time

[2020-09-25 20:43] #7319 closed

[2020-09-25 20:44] #7210 closed

[2020-09-25 21:54] rkapka commented on #7074
@shayzluf There will be one more, but this issue is not tracking them. It's #6747

As for this issue, I am going to propose a solution on Discord now. Thank you for pinging me.

[2020-09-25 22:33] terencechain commented on #7315
you could get these errors if you receive blocks and and attestations from the future. Do you have the error log for example? I'm going to close this because this is very likely a set up issue

[2020-09-25 22:33] #7315 closed

[2020-09-25 22:37] terencechain commented on #7271
This is a set up error, please ask help in the discord chat rooms

[2020-09-25 22:37] #7271 closed

[2020-09-26 00:18] prestonvanloon commented on #7279
This should be fixed with #7340, let's keep this open until alpha.27 is available on Monday for testing.

[2020-09-26 00:21] prestonvanloon commented on #7317
You can disable grpc gateway with `--disable-grpc-gateway` and monitoring port `--disable-monitoring`.

gRPC is needed by the validator and we don't have support at the moment to disable it. Is there a use case for syncing a beacon node that doesn't allow validators to connect via gRPC?

[2020-09-26 00:27] dv8silencer opened #7350 "wallet-v2 recover panics if you ask it to create 1 account"
#🐞 Bug Report

Create a new wallet using `wallet-v2 recover` and when asked "Enter how many accounts you would like to recover...." Enter 1.  This will lead to a panic:

[code]

### Description

See above

### Has this worked before in a previous version?

I don't really know.

## 🔬 Minimal Reproduction

See above

## 🌍  Your Environment

**Operating System:**

Ubuntu VM running Docker

**What ver

[2020-09-26 00:38] prestonvanloon commented on #6798
We don;t have a solution for this yet, but I am probably the most appropriate owner at the moment. Thanks

[2020-09-26 07:13] racer8 commented on #7315
If I was truly getting blocks from the future then every beacon would be logging this error which does not seem to be the case.  What is the set up error?  You're guessing.

[2020-09-26 07:55] bidlocode commented on #7317
As far as i understand
in the most mininal configuration we only need p2p-ports and grpc-port on **beacon** node?

<pre>
<code>## beacon-chain
tcp:4000
tcp:13000
udp:12000</code>
</pre>

All other ports are optional
<pre>
<code>## beacon-chain
tcp:8080	OK		--disable-monitoring
tcp:3500	OK		--disable-grpc-gateway

## validator
tcp:8081	???		(--disable-monitoring ERRO[0000] flag provided but not def

[2020-09-26 10:13] #7350 closed

[2020-09-26 10:29] bidlocode commented on #7317
I can add it, but i don't really familiar with the process of contributing to the project

[2020-09-26 10:48] nisdas commented on #7312
Hey guys just to give an update #7352 was merged in which *should* fix the issues you guys have been encountering. This is slated to be included in alpha.27, so just keep a look out on that.

[2020-09-26 11:00] nisdas commented on #7315
@racer8 I tried setting my local time 10 minutes ahead and got no such error. I am suspecting it might be an issue with time in your local system, how have you synced time on your local machine ?

[2020-09-26 11:52] potuz opened #7353 "Use journald loglevel on Linux systems"
Currently if running on the background on Linux using systemd, all events are logged at the default level (typically "info").

By prefixing the lines of output with angle brackets with the loglevel, for example

<4> This is a warning message
<6> This is an info message

Then a command like `journalctl -u beacon-chain -p 4` will only print the warning message.

Arguably this is uncomfortable for th

[2020-09-26 12:07] racer8 commented on #7315
You would need to set your clock back to get the error.  I set mine forward to try and remove the error.  I have synced my clock many times (as have others reporting the error) and can be less than a second different to real time but that does not help.

Here is some of the error log
[2020-09-26 12:01:31]  INFO blockchain: Synced new block block=0x741137bd... epoch=11915 finalizedEpoch=11913 final

[2020-09-26 12:40] nisdas commented on #7315
I am not sure if I understand
[code]
the difference in slots here is 20. With each slot being 12 seconds , The difference between the blocks is 4 minutes, If you were 1 hour behind, then you wouldnt be able to process both  blocks. Instead you are able to process the first one and reject the second one. From the second one's error log, it is 11 seconds off so not a very big difference. System time

[2020-09-26 12:54] racer8 commented on #7315
Thank you for your effort on this problem.  I think the daylight saving may or may not be causing a problem so let's ignore in the meantime.

What I can tell you is that that using https://www.timeanddate.com/ I can see that my system time is within a second of the real time and time.is says my time is exact So I don't understand why the beacon is seeing a 12 second difference.  My system has spar

[2020-09-26 13:00] nisdas commented on #7315
So it isnt the case that your node is behind but that other nodes might also be out of sync. So you get these blocks, unless
you see this happening very often you shouldnt have to worry. When I say difference in slots I am mostly referring to block time, here. A difference in 1 slot is 12 seconds, 2 slots is 24 seconds, etc .

[2020-09-26 20:29] prestonvanloon commented on #7353
We could add this as another logging format. We already support JSON and fluentd, so another format would be acceptable if anyone finds it useful.

[2020-09-26 20:32] prestonvanloon commented on #7333
I'd be happy to collaborate with anyone on this, but I'm not familiar with app armor or its syntax.

[2020-09-26 20:38] prestonvanloon commented on #7317
Looks like a few things to do here:
- The disable-monitoring flag doesn't work on validator or slasher
- Validator port 7000 is the validator's gRPC server, used for querying information in the UI
- Validator port 7500 is the gRPC gateway, same usage as port 7500. This should also be disabled with disable-grpc-gateway
- Slasher port 4002 is the slasher's gRPC server, it does not have a flag to dis

[2020-09-26 20:38] potuz commented on #7353
Journald accepts JSON (as long as it's key=value pairs) so it may be simple to port already the JSON format

https://www.freedesktop.org/wiki/Software/systemd/json/

https://stackoverflow.com/questions/45604563/injecting-structured-json-logs-into-journald

[2020-09-26 20:40] prestonvanloon commented on #7353
Try `--log-format=json` or `--log-format=fluentd`, fluentd is also JSON but a more standard format. JSON should be a single object with key value pairs for each entry, fluentd might have nested objects.

[2020-09-26 20:46] potuz commented on #7353
That just prints the json in the journal, to feed the json I think it has to be through the local socket or connecting with HTTP on port 19531 for example.

[2020-09-27 01:41] potuz commented on #7343
hehe, I'm happy that I have two different "Good First Issue" here :). Anyway, if you change the text in Prysm and you recommend the non-HD wallet, then I'd recommend that you also change the order so that it is also the first one offered.

[2020-09-27 08:20] racer8 commented on #7315
Where does the timestamp on the future blocks come from?  The peer that provides it or the node that actually creates the original block?

[2020-09-27 16:54] KevinVitale opened #7356 "Beacon-chain failed to start prior to Spadina genesis"
# 🐞 Bug Report

### Description

I experienced an issue with the `beacon-chain` where it failed to start prior to Spadina genesis. I'm using Docker Compose and I restarted my `beacon-chain`, `validator`, and `slasher` services.

A snippet of the logs is as follows:

<pre><code>
time="2020-09-27 16:25:27" level=info msg="Connected to eth1 proof-of-work chain" endpoint="/root/.ethereum/geth.ipc" pre

[2020-09-27 17:03] prestonvanloon commented on #7356
Tentatively assigning to @terencechain since they introduced this code.

I was able to reproduce by restarted the node between the time the genesis state was determined and the start of genesis.

[2020-09-27 18:08] #5132 closed

[2020-09-27 20:52] ChuckNorrison opened #7360 "100% cpu from beacon-chain-v1 prior spadina"
iam running a prysm beacon node on ubuntu 20 LTS. This worked fine so far till spadina gets activated. Its running 24/7 on 100% CPU. Is this expected?

beacon service output looks fine
`Sep 27 22:52:25 prysm prysm.sh[690]: time="2020-09-27 22:52:25" level=info msg="39h8m47s until chain genesis" genesisTime="2020-09-29 14:00:13 +0200 CEST" genesisValidators=2856 prefix=slotutil`

The prysm client i

[2020-09-27 21:00] ChuckNorrison commented on #7360
Restart of service results in
[code]

This already gets discussed in
https://github.com/prysmaticlabs/prysm/issues/7356

[2020-09-27 21:05] ChuckNorrison commented on #7360
I Will close this for duplicate.

Solved with stop beacon-chain process and start `./prysm.sh beacon-chain --force-clear-db `

[2020-09-27 21:05] #7360 closed

[2020-09-27 21:09] #7356 closed

[2020-09-27 23:43] protolambda commented on #5827
This is actually quite important, can someone take a look at this please?

[2020-09-28 05:13] nisdas commented on #5827
@protolambda been on my todo list for too long, will take a look at it today. Thanks for the reminder.

[2020-09-28 13:04] farazdagi commented on #5797
@dv8silencer are you still interested in tackling this issue?

Re. answer to your question: the OSX version of `find` util is not GNU find compatible, so `prysm.sh` script will require one to install `findutils` with brew. This is only needed when system is run with `prysm.sh` though (and is already handled by the script itself).

I believe, we should keep scope simple and focused, that's:
  - sta

[2020-09-28 13:13] farazdagi commented on #6529
The flag has been inverted in https://github.com/prysmaticlabs/prysm/pull/6922 and is on by default now.

[2020-09-28 13:13] #6529 closed

[2020-09-28 15:50] farazdagi commented on #7076
@shayzluf is that something you can look into?

[2020-09-28 16:06] farazdagi commented on #7266
The error is triggered by the following code: https://github.com/prysmaticlabs/prysm/blob/951c139cff5592398514f3cb5051e292ee52fda8/beacon-chain/blockchain/service.go#L445-L457

@terencechain what can be a reason for a `nil` finalized state returned from `stategen.Resume()`? Is there a known way to make sure that even on abrupt node termination, the last saved checkpoint is still guaranteed to have

[2020-09-28 16:11] farazdagi commented on #7220
@nisdas is there any known way to resolve this?

[2020-09-28 16:12] terencechain commented on #7266
Should be fixed in #7359, please give a try with alpha27

[2020-09-28 16:48] prestonvanloon commented on #7315
@racer8 the blocks don't have a timestamp, but they do have a slot number. From the slot number, we can derive the slot start time. If a block arrives _before_ our determined slot start time, it is considered "from the future" and should not be processed.

There is a small acceptance/tolerance for blocks that arrive early, but a block that arrives 12 seconds early is not acceptable.

The root of t

[2020-09-28 17:49] prestonvanloon commented on #7220
I don't think there is much more we can do here. I'd recommend to the user to purchase a static IP from their ISP or not to advertise their public IP. What is happening here is that the user is losing their inbound connections when the IP changes. There really isn't much we can do about it from the code perspective as far as I can tell.

With regards to geth node, what flags are you using? Are you

[2020-09-28 17:55] bidlocode commented on #7310
Looks like the problem is that all flags from config-file get redefined in all subcommands. In this case it happens in `validator/accounts/v2/cmd_accounts.go`
[code]

[2020-09-28 18:09] racer8 commented on #7315
Thanks.  Did you see my comments above?  My system time is accurate and I get lots of these errors.  Is there anything I can provide you to help find this error?

[2020-09-28 18:21] prestonvanloon commented on #7315
Could you provide more information?

What operating system?
What version of Prysm?
How are you running it? (docker, prysh.sh, prysm.bat, or bazel build/run)

[2020-09-28 18:22] dmcclung commented on #7310
Is there a way to check the cliCtx to see if the configure yaml has already been parsed?

[2020-09-28 18:27] racer8 commented on #7315
I'm running Windows 10 Home, version 10.0.19041 Build 19041.  I'm only running the latest Docker version of the Beacon (Alpha.26), no validators.

[2020-09-28 18:28] prestonvanloon commented on #7315
OK great thanks.

I wonder if there is some drift with docker machine clock on windows. Do you have the same issue if you run with `prysm.bat`?

[2020-09-28 18:33] terencechain commented on #7306
Resolved via #7354

[2020-09-28 18:33] #7306 closed

[2020-09-28 18:33] racer8 commented on #7315
I have not run with Prysm.bat - how do you do that?

[2020-09-28 18:34] #7274 closed

[2020-09-28 18:39] prestonvanloon commented on #7315
Following the instructions for windows here: https://docs.prylabs.network/docs/install/install-with-script#running-the-prysm-startup-script

[2020-09-28 18:40] bidlocode commented on #7310
just by checking the `cmd.ConfigFileFlag.Name` i guess

config-file being parsed every time app initialized in `validator/main.go` (when `cmd.ConfigFileFlag.Name` flag is set)
[code]

[2020-09-28 18:48] bidlocode commented on #7310
i feel that the fix to this probably will involve good amount of refactoring

[2020-09-28 18:51] rauljordan commented on #6837
Thoughts on this @nisdas ?

[2020-09-28 19:39] bidlocode commented on #7310
1. or we can take away `Flags: []cli.Flag{}` completely from all subcommand definitions
2. or leave only subcommand related flags

[code]

[2020-09-28 19:54] yorickdowne opened #7366 "Beacon cannot be restarted after genesis event, before genesis block"
# 🐞 Bug Report

### Description

On spadina testnet, prysm beacon was running and got to generating genesis state. It was then stopped and restarted.

This produces an error, see below.
Recovery by deleting the contents of the data directory and starting over worked.

[code]

[2020-09-28 20:04] prestonvanloon commented on #7366
Duplicate of #7356.

This is fixed, we are going to cherry pick into today's release (v1.0.0-alpha.27).

[2020-09-28 20:04] #7366 closed

[2020-09-28 21:53] dmcclung commented on #7310
The context has a parent context.
https://github.com/urfave/cli/blob/master/context.go

I would debug and see if that parent context is there. I'm guessing that a sub command should have the context of the parent which then should have the flags set. When the validator is configured, it may need to look at the parent context if available.

[2020-09-29 00:06] protolambda commented on #6837
Now we're close to spadina, and still not changed. I wouldn't risk the change for spadina genesis itself, but it would still be good to clean up code, and testrun this change before mainnet.

[2020-09-29 02:32] georgercarder opened #7369 "`prysm.sh` : add support for `sha256sum`"
# 🦄 Feature Request

The shell script `prysm.sh` currently checks the environment for `shasum` which gives `shasum -a 256` later on line :137 to check integrity of download. Some systems have `sha256sum` installed in place of `shasum` where the call `sha256sum -c <file to check>` is equivalent to `shasum -a 256 -c <file to check>`.
An incoming PR `shell_script_support4_sha256sum` makes the appropr

[2020-09-29 05:29] farazdagi commented on #7369
Thank you for starting this. It is certainly not a "Feature tracking" request (so updated issue text and removed "Tracking" label). Other that that, your idea sounds good, will review linked PR now.

[2020-09-29 06:10] nisdas commented on #7220
While IP resets are not great, discovery should still recover. From what it looks like we are completely unable to find new peers which shouldnt be expected even with a dynamic ip. Outbound connections should still very much be possible, I have been meaning to dig into this but I have been occupied with other things(sorry !). I will ping you in discord to debug this further this week @handelaar2 .

[2020-09-29 06:10] racer8 commented on #7315
Hi - I've run the docker system info command and it does look like the docker clock is many seconds behind real time so your intuition looks to be correct.  I have run with prysm.bat and it runs error free.  Thanks for your time to solve this problem.

[2020-09-29 06:49] nisdas commented on #6837
This would be a more involved change in stream multiplexer libraries rather than something internal to prysm. I can take a look and see how much work this would take to fix.

[2020-09-29 09:02] Buttaa opened #7371 "Display deposit contract address during deposit process"
Display the deposit contract address next to the logs so users can verify the contract address on the logs

![image](https://user-images.githubusercontent.com/26490734/94537208-447c6700-0243-11eb-87cf-6fc506c977af.png)

[2020-09-29 09:56] bidlocode commented on #7371
it will give incorrect contract message if you trying to run with different contract
`"database contract is %#x but tried to run with %#x", knownContract, cfg.DepositContract.Bytes()`

[2020-09-29 11:29] #7074 closed

[2020-09-29 12:14] ChuckNorrison commented on #7366
Hits me...

Could not set up chain info: finalized state and block can't be nil

[2020-09-29 12:22] #7369 closed

[2020-09-29 12:24] ChuckNorrison commented on #7356
hi my validators do not attest cause of this...

[2020-09-29 12:24] ChuckNorrison opened #7372 "Could not set up chain info: finalized state and block can't be nil"
this is still an issue... what can i do to get into this spadina testnet with the prysm clinet which seems to be fixed to 0.26?

Closed duplicates
https://github.com/prysmaticlabs/prysm/issues/7366
https://github.com/prysmaticlabs/prysm/issues/7356

[2020-09-29 12:31] nisdas commented on #7356
@ChuckNorrison
Please ask us here
https://discord.gg/UE4GWu

[2020-09-29 12:49] ChuckNorrison commented on #7372
cause this will loose a lot of money in LIVE and nobody cares, this gets solved with a client switch

[2020-09-29 12:49] #7372 closed

[2020-09-29 12:51] terencechain commented on #7372
Hi, this was fixed in master and will get resolved in alpha-v0.27 which will be released today. Apology for the inconvenience. I will ping you once the fix is ready to test again

[2020-09-29 12:51] ChuckNorrison opened #7373 "peers without a static ip and port forwarding"
lighthouse can read public ip from udp packets and make use of it

no chance for the prysm to get used without a static public ip or dyndns?

[2020-09-29 12:52] ChuckNorrison commented on #7373
peers should be found prior genesis to get some work done which was not expected...

[2020-09-29 12:57] nisdas commented on #7373
@ChuckNorrison This has been fixed in `master` , the bootstrap- node isnt baked into alpha.26. So the node will not be able to find any peers. If you can come on discord, we can get the node setup for you.

[2020-09-29 13:01] ChuckNorrison commented on #7373
Thanks for your response. This will fail for some reasons, prysm does not work for me.

I need:
- port forwardings
- IPv4 support, even IPv6 is active
- Public IP parsed from UDP packets automatically to find peers

All this will make me force to use another client

[2020-09-29 13:06] nisdas commented on #7373
@ChuckNorrison you dont need a static ip or need to portforward. Prysm is able to determine its IP from inbound packets. All you do need is a bootstrap-node. so please try with this flag
[code]
Please re-run the node with these flags. This should fix your issues

[2020-09-29 13:15] ChuckNorrison commented on #7373
`level=error msg="Invalid address of enr:-Ku4QGQJf2bcDAwVGvbvtq3AB4KKwAvStTenY-i_QnW2ABNRRBncIU_5qR_e_um-9t3s9g-Y5ZfFATj1nhtzq6lvgc4Bh2F0dG5ldHOIAAAAAAAAAACEZXRoMpDEqCQNAAAAAv__gmlkgnY0gmlwhBLf22SJc2VjcDI1NmsxoQNoed9JnQh7ltcAacHEGOjwocL1BhMQbYTgaPX0kFuXtIN1ZHCCE4g provided: failed to parse multiaddr "enr:-Ku4QGQJf2bcDAwVGvbvtq3AB4KKwAvStTenY-i_QnW2ABNRRBncIU_5qR_e_um-9t3s9g-Y5ZfFATj1nhtzq6lvgc4Bh2

[2020-09-29 13:20] nisdas commented on #7373
sorry @ChuckNorrison , try this one.
[code]

[2020-09-29 13:28] ChuckNorrison commented on #7373
Ok this is working with the bootnode, sorry i was a bit mad this does not flow as i hoped and i missed a possibility to make sure everything works fine prior spadina genesis.

Further it seems the validator and slahser instances needs to always restart with the beacon instance. They will not reconnect my beacon if it got restarted. Maybe this gets solved with .27?

Thanks for your support

[2020-09-29 13:37] nisdas commented on #7373
@ChuckNorrison Understood , this was a bad on our part. We have this all fixed in the latest master, however this was not released in the current latest release (alpha.26). This is the primary reason for the current difficulties. We will be releasing alpha.27 today with all the fixes, so it should make your life a lot easier.

[2020-09-29 14:16] potuz opened #7374 "Infura showing huge blank method bandwidth usage"
Hi, I am running a validator on spadina and another on medalla on the same machine. On Arch linux with these commands:

[code]

And infura is showing a huge bandwitdh usage of blank method calls:

![fo](https://user-images.githubusercontent.com/16044918/94570205-f9fbea00-0244-11eb-9a32-65d8fc8a9d78.jpg)

I am happy to provide you any logs if you want, but I guess this happened only because of the

[2020-09-29 14:44] potuz opened #7375 "Error connecting to infura right before proposing a block"
This happened at least twice for me and another Discord user reports the same twice.

Getting this error in the beacon-chain
[code]
The next slot shown is 733 which is where my validator `0x85b1fd7f48aa3247a540524e0bf30c0c3af9813c7f221f54a949d249a46f41b31ff1dc11f0eaa877c1f13245c8452d16` proposed a block.

[2020-09-29 15:00] OisinKyne opened #7376 "bootstrap-node option doesn't work from a config file only works on CLI"
# 🐞 Bug Report

### Description

I was taking part in the Spadina genesis on Alpha26. A fix was announced to add a bootnode via ENR to help get peers and get on the network. I am supplying config to my beacon client via a config file. I added
[code]
to my config file and cleared my DB.

When I started the client again I got the error:
[code]

I tried it with and without the double quotes around th

[2020-09-29 18:07] georgercarder opened #7377 "prysm bazel build does not support ArchLabs"
Prysm bazel build does not support archLabs (likely also will not support Arch-Linux).
When I try to build on my system running "ArchLabs" I get the following logs:
[code]

# 🚀 Feature Request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternativ

[2020-09-29 19:49] #7373 closed

[2020-09-29 19:51] ChuckNorrison commented on #7373
even after .27 it needs another --force-clear-db and resync and another bunch of missing attestations got thrown cause it needs another 10 min to to recognize that some output is missing... After RPC connection success this instance hangs even in version .27

[2020-09-30 00:02] xuyenvuong opened #7380 "Beacon Error: gRPC panicked - runtime error: invalid memory address or nil pointer dereference"
# 🐞 Bug Report

### Description

Upgraded to alpha.27 and get error dump as below

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: alpha.26

## 🔬 Minimal Reproduction

Upgraded from alpha.26 to alpha.27 same config.

## 🔥 Error

<pre><code>

time="2020-09-29 23:58:21" level=error msg="gRPC panicked!" error="runtime error: invalid

[2020-09-30 00:25] #5827 closed

[2020-09-30 06:38] MariusVanDerWijden opened #7382 "Beaconnode: runtime panic: Index out of bounds"
# 🐞 Bug Report

### Description

Running the beacon node with `--spadina` fails for me with an index out of bounds.
What I did was run it an older version normally with no flags. This synced up the chain properly, then I switched to the newest version and ran `./prysm.sh beacon-chain --http-web3provider=$HOME/.ethereum/goerli/geth.ipc --spadina` which produced the following error: `[2020-09-30 08:

[2020-09-30 06:42] MariusVanDerWijden commented on #7382
Purging the Eth2 dir solved the problem
`rm -rf $HOME/.eth2`
But I think there should be some check that this gracefully exits

[2020-09-30 08:00] farazdagi commented on #7377
Do you think it is configuration issue in Prysm, or ArchLabs is not supported by upstream `llvm_toolchain`?

[2020-09-30 11:52] yorickdowne opened #7383 "Beacon does not reacquire peers after network disruption"
# 🐞 Bug Report

### Description

- Prysm 1.0.0-alpha.27
- Ubuntu 20.04
- Dockerized
- Behind many-to-one NAT
- Beacon ports forwarded on firewall

After network connectivity was lost and restored, Prysm did not reacquire peers. Log excerpt

[code]

Expected behavior: Prysm beacon will reacquire peers, even when it lost all of them, without a restart of the beacon.

[2020-09-30 11:58] yorickdowne opened #7384 "Add --medalla flag"
Prysm currently has flags for all supported testnets, with the exception of `--medalla`, the default.

This makes it difficult to have a uniform docker-compose environment for all testnets. Passing `--${TESTNET}` and relying on `.env` is not possible, because `--medalla` is missing as an option.

[2020-09-30 12:00] nisdas commented on #7383
Potentially related to #7220, will be digging into these issues by tomorrow.

[2020-09-30 12:43] bidlocode commented on #7310
we can do that with something like this?
<pre><code>if parentCtx.flagSet != nil {
           //...
}</code></pre>
but why do we redeclare all common shared flags in all subcommands again?

[2020-09-30 16:07] rauljordan opened #7387 "Add validator accounts-v2 private-keys subcommands"
# 🚀 Feature Request

### Description

It is clear to users they can recover their private keys, including withdrawal keys, from a mnemonic seed phrase. However, we do not have this functionality yet. Moreover, users can't even extract the validating private keys from a non-HD wallet today without programmatically decrypting them.

### Describe the solution you'd like

This is a feature request to

[2020-09-30 16:15] georgercarder commented on #7377
From the logs above it looks like the query is within the path `/home/me/.cache/bazel/_bazel_me/`, i.e. it's an issue with the relationship of bazel vs my system. I'm personally not familiar with Bazel as I'd tyically use gnu `make` in its place. With `make`, if a package is missing in my system I can fetch and install the package in a way tailored to my system. Being that Bazel works within that

[2020-09-30 16:56] terencechain opened #7390 "Add Zinken bootnodes"
Set up and add zinken bootnodes in `testnet_zinken_config.go`

[2020-09-30 18:56] jwhelan72 opened #7393 "Prysm no longer reports import of duplicate validator keys"
Prysm used to report when duplicate validator keys were attempted to be imported (v25 and v26 I think).  This no longer appears to be the case in v27.

For example, as a test I tried to import 100 duplicate keys and got the following success message:

[code]

It should report that they were in fact duplicates.

[2020-09-30 19:04] rauljordan opened #7394 "Allow for Genesis State Regeneration from Set of Public Keys + Deposit Data"
# 🚀 Feature Request

### Description

Having the ability to create a genesis state by providing a yaml or perhaps JSON file of public keys + deposit data would be very useful to some of our users for testing purposes. This is a feature request to extend our genesis-state-gen to include this functionality.

[2020-09-30 19:34] #6518 closed

[2020-09-30 19:34] rkapka commented on #6518
Closing this issue because we will deprecate flags after a beta release.

[2020-09-30 20:39] prestonvanloon commented on #7390
@nisdas please try to prioritize this for next release so alpha.28 will be ready for zinken. Thanks!

[2020-09-30 21:23] #7317 closed

[2020-10-01 00:38] #7281 closed

[2020-10-01 03:45] nisdas commented on #7373
Hey @ChuckNorrison definitely understood, the issue has been patched in master so a new user will not have to `force-clear-db` anymore. This shouldnt be an issue as of the current moment as it only happens in certain edge cases right after genesis. Those edge cases have been resolved for now and the fix will be included in alpha.28 .

[2020-10-01 07:33] nisdas opened #7401 "Clear Database does not work on Windows"
# 🐞 Bug Report

### Description

Users running with the `clear-db` flag in windows will end up with the node unable to start due to
the OS claiming another process is currently using the db.

### Has this worked before in a previous version?

Before Alpha.27

## 🔬 Minimal Reproduction

Run either beacon-node or validator with `--clear-db`

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating Sy

[2020-10-01 11:53] bidlocode commented on #7310
If we follow this current concept:
<pre><code>USAGE:
   prysm.sh [options] command [command options] [arguments...]</code></pre>
As i see it, in subcommand definitions, it should be either:
- only subcommand related flags, and to check if any not set flag in **currtent ctx** were set in **parent ctx**
- only subcommand related flags, and make these flags required (because all subcmds are interacti

[2020-10-01 14:38] #7094 closed

[2020-10-01 20:59] prestonvanloon commented on #7377
@farazdagi this is an issue with `grailbio/bazel-toolchain`. I thought arch was supported with https://github.com/grailbio/bazel-toolchain/pull/2. However it looks like "ArchLabs" doesn't match the OS name "arch" https://github.com/grailbio/bazel-toolchain/blob/e3de4f318c6615fde7b248cef7c38c1205bcc856/toolchain/tools/llvm_release_name.py#L20.

Any idea why your OS reports "ArchLabs" instead of "ar

[2020-10-01 21:05] georgercarder commented on #7377
Yes, the machine where this issue arose from has as its OS an arch-linux based distro called ArchLabs.

[2020-10-01 21:23] prestonvanloon commented on #7377
OK. It sounds like someone would need to add the appropriate changes upstream to `grailbio/bazel-toolchain` to support ArchLabs OS.

[2020-10-01 21:30] prestonvanloon commented on #7376
Bootstrap node is a repeated flag so it must be an array in yaml. Please see: https://github.com/prysmaticlabs/prysm/issues/6822

[2020-10-01 21:30] #7376 closed

[2020-10-01 21:30] prestonvanloon commented on #7376
@OisinKyne if you have any suggestions on where we could document this better, I would love the opportunity to improve it. Thanks

[2020-10-01 21:32] prestonvanloon commented on #7374
What is a blank method? This seems like a bug in infura. Have you talked with them?

[2020-10-01 21:40] prestonvanloon commented on #7371
I see how it could be helpful to log the contract address. Thanks!

[2020-10-01 22:55] #7371 closed

[2020-10-01 23:08] potuz commented on #7374
It may well be indeed. I'll contact them and come back here. I asked a few people on discord and all were seeing similar issues

[2020-10-01 23:24] prestonvanloon commented on #7374
@potuz Please let me know what you find out. I wouldn't be surprised if this was real API traffic and it would make investigation easier if we knew what calls Infura is reporting 2gb. Thanks

[2020-10-01 23:28] potuz commented on #7374
Fwiw, I switched to a local geth node and the total bandwidth on the same validators stays more or less the same. I haven't really tried to separate by calls though.

[2020-10-02 02:42] terencechain opened #7410 "Trail of Bits audit tracking"
This tracks the progress on audit resolutions, we will update this through out the duration of the audit:

- [x] 1. Failure to propagate errors in beacon-chain #7246
- [x] 2. Data race in featureconfig #7406
- [x] 3. Context leak in validator client #7405
- [x] 4. Variable shadowing in beacon-chain history regeneration code #7308
- [x] 5. Data race in beacon-chain syncing code #7682
- [x] 6. Failu

[2020-10-02 02:45] terencechain commented on #7410
For 12, we actually can not use `MaxGossipSize` (1MB)  to safe guard against decode in `db/kv`. Reason being db decodes beacon state which is not a gossip object. Currently a medalla beacon state is 30MB

[2020-10-02 06:45] #5797 closed

[2020-10-02 07:18] rkapka commented on #7410
Related with 9: #6891

[2020-10-02 07:31] #7375 closed

[2020-10-02 09:15] nisdas opened #7412 "Observed Data Races In Prysm"
# 🐞 Bug Report

### Description

This tracks the current data races observed in prysm during runtime.

### Has this worked before in a previous version?

N.A

## 🔬 Minimal Reproduction

N.A

## 🔥 Error

Data Race 1:

- [x] Observed at startup when subscribing for subnets:
[Sync Race 2.txt](https://github.com/prysmaticlabs/prysm/files/5316398/Sync.Race.2.txt)

Data Race 2:

- [x] Observed when sett

[2020-10-02 11:29] OisinKyne commented on #7376
Hey @prestonvanloon that looks to be what was wrong all right.

As for docs, maybe in this table: https://docs.prylabs.network/docs/prysm-usage/parameters#base-flags

`--bootstrap-node` can be described as:

Also, do you guys use any aliases for CLI args? An alias between `bootstrap-node` and `bootstrap-nodes` might help people infer this is meant to be an array of nodes rather than a single value

[2020-10-02 16:07] potuz commented on #7374
[code]

[2020-10-02 19:28] #7390 closed

[2020-10-02 22:15] terencechain commented on #7412
#7423 resolves bullet point 2

[2020-10-02 22:19] protolambda opened #7424 "FindPeersWithSubnet does not handle connectWithPeer bad-peer case"
Possibly a bug with finding subnet peers, looking for clarification.

### Background

Just browsing code, and noticed that [`connectWithPeer`](https://github.com/prysmaticlabs/prysm/blob/7a96412ef2fddd7aa03a2f2841a892c30d00034f/beacon-chain/p2p/service.go#L405) just returns nil without doing anything when the peer is bad. Although this seems like reasonable behavior, the callers expect a connectio

[2020-10-02 22:42] protolambda opened #7425 "Req-resp Error responses are decoded incorrectly."
# 🐞 Bug Report

### Description

`ErrorResponse` is defined in the spec as a `List[byte, 256]`, not a `Container{ List[byte, 256] }`. The spec states:

And defines the error as:

The schema used in Prysm, and the type with generated FastSSZ methods, incorrectly deserialize as container.

The difference is that the first 4 bytes are being recognized as offset in the container case. And for such sin

[2020-10-03 00:30] terencechain commented on #7412
#7426 resolves bullet points 9, 10, 11, 12

[2020-10-03 22:41] potuz commented on #7353
I know nothing about go, installed it today and started browsing your code, found that you're using logrus and found a very simple hook for journald

https://github.com/sirupsen/logrus/commit/4d9b4f0c8393f52d78a2876e8784813819d9fcb1
https://github.com/wercker/journalhook

Seems very simple to implement, if noone takes this in the next few days I may add it

[2020-10-04 02:27] potuz commented on #7353
I added a PR, but then I read that you guys do not accept PRs with new dependencies. Instructions were to open a new Issue, but perhaps this one is enough?

[2020-10-04 15:03] #6747 closed

[2020-10-04 20:35] johanschaap opened #7431 "absolute vs. relative path"
Just started to run both an ETH1 and beacon-node on my VPS. But I found that _only an_ **absolute path** is working to connect to the beacon-node to the ETH 1 goerli chain...

Please review both of my commands below:

![Screenshot 2020-10-04 at 22 24 28](https://user-images.githubusercontent.com/30007331/95026373-38543780-0691-11eb-8a16-878122252674.png)

The command that starts with ~/.ethereum/

[2020-10-05 04:46] nisdas commented on #7431
hey @johanschaap if you do want to use the relative path you will need to remove `=` otherwise we are unable to properly parse it. So the command will be

[code]
using `=` prevents the shell from correctly expanding the path.

[2020-10-05 04:49] nisdas commented on #7424
Thanks for reporting this @protolambda , labeling this as a bug as it is not the expected behaviour .

[2020-10-05 04:51] nisdas commented on #7425
Thanks for reporting this @protolambda , will get this fixed by this week.

[2020-10-05 12:05] #6882 closed

[2020-10-05 15:13] prestonvanloon commented on #7374
@nisdas have your recent PRs helped with this issue?

[2020-10-05 17:46] prestonvanloon opened #7437 "Sync.subscribeWithBase has unused arg "base" message"
# 💎 Issue

### Background

https://github.com/prysmaticlabs/prysm/blob/419fad07cd9d66e775369d0e1a73645ba11e0ef7/beacon-chain/sync/subscriber.go#L94

### Description

The "base" proto message is no longer used and should be refactored or removed.
Adding this issue as a tracking for a TODO.

[2020-10-06 16:18] rauljordan opened #7448 "Prysm Wallet Recovery Not Aligned With Latest Launchpad"
# 💎 Issue

### Background

The current Zinken launchpad now supports an updated EIP2333 derivation scheme https://github.com/ethereum/eth2.0-deposit-cli/pull/108 which we are not compliant with. Unfortunately, updating Prysm to be compliant would break existing Medalla user's key recovery. This is a tracking issue for us to find a sensible way to upgrade, which would likely be through a migration

[2020-10-06 23:29] prestonvanloon commented on #7431
Thanks for the workaround @nisdas. I think prysm should accept a relative path with the `=` sign.
Any idea why it is this?

[2020-10-07 13:45] potuz commented on #7393
I just imported succesfully with v25 duplicated keys. I went back to alpha.19 and couldn't find anything about duplicated validator keys in the code.

1. Are you sure prysm used to report duplicate keys? Perhaps on v1 accounts?
2. Even if prysm didn't use to, would this be a wanted feature? I suppose it is, I'm asking to see if I should look into this.

[code]

[2020-10-07 16:18] dv8silencer opened #7454 "Prysm will not compile for Windows"
# 🐞 Bug Report

### Description
Current master will not compile for Windows on Windows using `go build` or if attempted to compile for Windows on Linux (Cross compile)

Output if compilation attempted on Windows using` go build .` inside validator folder:
`C:\Users\dv8si\go\pkg\mod\github.com\coreos\go-systemd@v0.0.0-20181012123002-c6f51f82210d\journal\journal.go:99:13: undefined: syscall.UnixRigh

[2020-10-07 16:36] dv8silencer opened #7455 "accounts-v2 import into non-existent wallet leads to error in Windows"
# 🐞 Bug Report

### Description
If you `accounts-v2 import --key-dir /path/to/keys` in Windows it will lead to:

`FATAL accounts-v2: Could not import accounts: could not initialize wallet: could not check if wallet exists: could not check if dir is valid: open C:\Users\dv8si\AppData\Roaming\Eth2Validators\prysm-wallet-v2: The system cannot find the path specified.`

if the wallet directory does no

[2020-10-07 16:40] prestonvanloon commented on #7353
@potuz Unfortunately, PR #7429 adds a dependency on core-os which does not work when building on windows.
We are reverting that PR and re-opening this issue.
Please see #7454

[2020-10-07 16:47] potuz commented on #7353
I'll see if I can add a flag for linux, I'm surprised this got past the CI

[2020-10-07 17:31] prestonvanloon commented on #7353
Yeah, looks like we don't test windows builds in the CI. I'll take a look into that as well.

[2020-10-07 19:09] #7454 closed

[2020-10-07 19:51] prestonvanloon commented on #7455
@rauljordan can you take a look to see if this is related to changes in #7400 please?

[2020-10-07 23:04] #7384 closed

[2020-10-08 09:33] nisdas opened #7464 "Beacon Node Still Returns Out of Order Blocks From Range Requests"
# 🐞 Bug Report

### Description

Currently Lighthouse Peers score Prysm Nodes down due to the fact that prysm nodes occasionally
send back out of order blocks.

### Has this worked before in a previous version?

Supposed to.

## 🔬 Minimal Reproduction

Run a Prysm Node in medalla, and after a while lighthouse nodes start banning them.

## 🔥 Error

[code]
Consistent goodbyes received from lighthous

[2020-10-08 14:15] farazdagi commented on #7464
Nishant, are you absolutely sure that disconnects are due to out of order blocks? It seems we already deduplicate and sort the list of returned blocks:
https://github.com/prysmaticlabs/prysm/blob/48fcb08ebc2bb0ae4686618f94b5bd5178c96477/beacon-chain/sync/rpc_beacon_blocks_by_range.go#L147-L156

I've checked the implementation -- everything seems to be intact. So, I wonder whether there might be st

[2020-10-08 14:30] #7455 closed

[2020-10-08 15:02] farazdagi commented on #7296
I've reviewed the code behind the functionality. This is how it was implemented:
- With termination signal (`Ctrl+C`) one is able to interrupt the program.
- Once interrupted, node starts to close all its services, sometimes it takes some time to close all routines (depending on the system load, and load within the application i.e. what app is doing at the moment).
- One is still able to force nod

[2020-10-08 15:02] #7296 closed

[2020-10-08 15:16] farazdagi commented on #7296
Further update: the issue with peer discovery should be solved in https://github.com/prysmaticlabs/prysm/pull/7434

[2020-10-08 15:16] #7383 closed

[2020-10-08 23:33] AgeManning commented on #7464
The responses that are sent are definitely one of the major sources that is causing issues between Lighthouse and Prysm.

The specific error we are seeing is that at least one block in the chain segment returned did not have its parent root set to the root of the prior block sent.

It may be the case the blocks are ordered and de-duplicated. After a quick skim of this code, perhaps its the case th

[2020-10-09 01:27] dv8silencer commented on #7401
I can tackle this.

[2020-10-09 02:03] terencechain commented on #7401
assigned to @dv8silencer, thanks!

[2020-10-09 05:22] nisdas commented on #7220
Unfortunately it still is not resolved by #7434 as reported by @handelaar2 , so re-opening it now

[2020-10-09 05:30] nisdas commented on #7464
@AgeManning You are right in that is most likely the cause. @farazdagi and I discussed this offline and came to the same conclusion, the remaining issue we would probably have to figure out is why we do receive non canonical blocks from our database. In our interop efforts to debug this, the epochs requested were already finalized so technically all blocks returned should be canonical. Something w

[2020-10-09 06:32] mcdee commented on #7464
Tangentially related, but regarding 'non-canonical' blocks: it would be useful if nodes kept around orphaned blocks, for data analysis purposes.  Unsure if you consider a block that was generated by the correct proposer but not part of the chain non-canonical, but if you do please either don't discard it during pruning, or have an option for same.

(Unless the issue is that _receiving_ non-canonic

[2020-10-09 09:28] #7401 closed

[2020-10-09 13:44] bidlocode opened #7476 "Pre genesis countdown msgs might be confusing"
## 💎 Issue
### Description

Pre genesis countdown log messages might be confusing:
[code]

[2020-10-09 18:47] MysticRyuujin opened #7483 "Clear and Explicit Password Requirements for Wallets"
# 💎 Issue

Currently when doing `accounts-v2 import` you're prompted for a new wallet password, without any indication of the password requirements up front.

Additionally, some symbols seems to be off limits (I *think* `_` is an invalid character?)

[code]

First I tried a super long password without any special characters. Then I tried a different password that met all of the requirements, but o

[2020-10-09 20:03] MysticRyuujin opened #7485 "Enable/Disable Validator Keys"
# 🚀 Feature Request

### Description

I would like the ability to enable/disable validator keys on the fly without having to delete and/or re-import the keys.

### Describe the solution you'd like

Lighthouse has a simple `enabled: true|false` flag that can be set on a per-validator entry:
https://lighthouse-book.sigmaprime.io/validator-management.html

I would like the ability to do something sim

[2020-10-10 01:45] #7393 closed

[2020-10-10 04:17] nisdas opened #7492 "Event Subscriptions Should Be Initialized in the Constructor"
# 💎 Issue

Currently a few services initialize event subscriptions for state events(State Initialization, Syncing) in the `Start` routine of a service. This should instead be done in the constructor of the service.

### Background

In #7468, the initial PR failed in runtime during pre-genesis in `Zinken` . This was because the `initial-sync` service instead skipped waiting for state initialization

[2020-10-10 05:08] bidlocode commented on #7431
probably because the `~` is the same as `$HOME` and shell parses and replaces it with env vars before give it as args?

[2020-10-10 07:50] kirkyb opened #7493 "Deposit processed, entering activation queue after finalization"
# 💎 Issue

### Background

 My 32 GoETH has been processed but the prysm.bat validator appears to be stuck at "Deposit processed, entering activation queue after finalization" for over 6 hours now.
Is this normal behaviour?

Thanks.

### Description

[2020-10-11 04:28] jerryji opened #7497 "--version option behaves strangely for binary compiled from source"
# 💎 Issue

### Background

 I compiled latest prysm using bazel --

[code]
and copied the resulting binary to `/usr/local/bin/` , however, the `--version` output goes from strange to weird.

### Description

- first, the `STABLE_GIT_TAG` and `STABLE_GIT_COMMIT` are not set
- then the `Built at` is not correct, it always shows current time
- last but not the least, `STABLE_GIT_COMMIT` gets assigned

[2020-10-11 14:39] ChuckNorrison commented on #7315
the block i receive comes 2 seconds from the future if i get this right?

Version used is alpha28. i already checked local time and ntp sync, could not find any issues.... some hints on timestamp servers to use?

[2020-10-11 15:27] #7310 closed

[2020-10-12 00:12] HeikoAydt opened #7498 "Infinite sync looping after 'incorrect proposer index' warning and `context canceled' error"
# 🐞 Bug Report

### Description
The problem occurs when using Prysm as beacon node and [Vouch](https://github.com/attestantio/vouch) as validator client. After an `incorrect proposer index` warning, beacon node falls behind and has to be synced again. Sync process starts but then jumps back to earlier blocks to sync from and never finishes / keeps going in a loop.

### Has this worked before in a

[2020-10-12 06:13] nisdas commented on #7498
I dont think this has anything to do with vouch.
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/sync/validate_beacon_blocks.go#L156

The above error comes around with an invalid proposer index. What I am assuming is happening is that we are actually rejecting a valid block here. Which leads to all child blocks also being rejected.

This would only be possible if we had a bad entry

[2020-10-12 08:58] nisdas commented on #7497
@jerryji you need to run with

[code]
This bakes in the build data to your binary.

[2020-10-12 09:18] wgknowles opened #7499 "prysm-wallet-v2 "The system cannot find the file specified""
# 🐞 Bug Report

### Description

Encountered the following error
When first running the following command:
[code]
It crashes out instead of automatically creating the folder.  Runs fine after the folder is created manually.
[code]

## 🌍  Your Environment

Win10
**What version of Prysm are you running? (Which release)**
prysm version v1.0.0-alpha.29.

[2020-10-12 11:45] calamenium opened #7502 ""--web" flag (alpha-29) is causing validator to fail in some instances"
# 🐞 Bug Report

### Description

Upon upgrading to alpha-29 the validator process will not start and produces an error due to being unable to open browser via  xdg-open.

### Has this worked before in a previous version?

First release with --web

## 🔬 Minimal Reproduction

Has been reproduced by myself and a few others noted in discord. May be related to xdg-utils not operating properly within a

[2020-10-12 12:07] terencechain commented on #7498
Yeah i thought so. I can't reproduce it yet. Will keep this open and monitor

[2020-10-12 12:28] terencechain opened #7503 "Requesting parent block log on Zinken testnet"
Before first finalized epoch, prysm node logs out `Requesting parent block` repeatedly in Zinken testnet

![Screen Shot 2020-10-12 at 5 27 14 AM](https://user-images.githubusercontent.com/21316537/95746507-be511f00-0c4b-11eb-8dc0-3fe915aba1c3.png)

[2020-10-12 12:30] rkapka opened #7504 "Feature Flag Tracking: enable-pruning-deposit-proofs"
# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):
opt-in

**Opt-in feature flag name**:
`enablePruningDepositProofs`

**Opt-out feature flag name**:
`disablePruningDepositProofs`

### Feature Description

Enables pruning deposit proofs when they are no longer needed. This significantly reduces deposit size.

### Tasks

- [x] Feature flag created as opt-in #7478
- [x] Feature implemente

[2020-10-12 12:54] potuz opened #7505 "web ui should require wallet password only when needed"
When running the validator with --web flag, the browser asks for the wallet password on the first time you open the webpage. I think the user should be able to provide an arbitrary unrelated password to access monitoring features and be requested the wallet password when required to perform actions on the wallet itself or some of the accounts.

[2020-10-12 12:57] potuz opened #7506 "web ui logging breaks prometheus and other loggers"
Running the validator with the web ui interface the logs get sent to the ui and are lost from other system loggers like journald. This also breaks existing monitoring tools like prometheus and grafana. Logs should be replicated perhaps.

[2020-10-12 17:07] #7266 closed

[2020-10-12 17:07] #7193 closed

[2020-10-12 17:11] terencechain opened #7509 "Remove feature flags for beta"
This issue tracks the follow of the following + rationales:

* Delete the following feature flags:
    * `disable-fork-choice-unsafe`: This is an unsafe flag. It hasn't been used in a while. This was designed in Sapphire days for emergency recovery. #7511
    * `disable-ssz-cache`: This hasn't been used in a while. This was designed in Topaz days for emergency recover. #7513
    * `skip-bls-verify

[2020-10-12 17:38] calumtomeny commented on #7503
I was getting that and once I restarted the process I was getting this:

[code]
I then cleared the db with the `--clear-db` flag which allowed for a successful sync.

[2020-10-12 17:53] 0xKiwi opened #7510 "[Mega tracking] - 🦄 Standard Eth2 APIs Implementation"
### 💎 Feature Description
This is a mega tracking issue for progress on the standardized Eth2 API endpoints here: https://ethereum.github.io/eth2.0-APIs/

Any new services should be placed in a temporary `${SERVICE}v1` folder to not cause renames in the entire repo.

### 🦄 Tasks

### EthereumAPIs protos
- [x] `beacon` endpoints protos
- [x] `config` endpoints protos
- [x] `debug` endpoints protos

[2020-10-12 18:03] terencechain commented on #7509
Questions for @rkapka

Can I delete these two flags?
    * disable-finalized-deposits-cache
    * enable-eth1-data-majority-vote

[2020-10-12 18:10] #4604 closed

[2020-10-12 18:25] rkapka commented on #7509
Yes

No - please see #7362. It requires an optimization PR that @nisdas is working on. We might be able to invert the flag without the optimization, but it might result in a lot of `BlockExists` calls, which send requests to the ETH1 endpoint.

[2020-10-12 19:12] terencechain commented on #7509
Questions for @nisdas, can i delete the following flags?
* enable-att-broadcast-discovery-attempts
* disable-dynamic-committee-subnets
* disable-noise

[2020-10-12 22:51] rauljordan commented on #6216
This is out of scope given its complexity and execution risk at this point. State is already quite optimized with fastssz and copy-on-write mechanisms

[2020-10-12 22:51] #6216 closed

[2020-10-12 22:59] rauljordan opened #7514 "[Mega tracking] - Security Improvements and More Robust Code"
# 💎 Issue

### Background

This is a large tracking issue for improving the security of Prysm as well as enhance

### Description

**High Level**
- [x] Resolve deep source analysis issues, especially those with bug risks attached to them
- [x] Resolve race detection issues with go test all across Prysm
- [x] Harden dependencies, update relevant ones which had bug fixes

**Repository Health**
- [x]

[2020-10-12 23:06] rauljordan opened #7515 "[Mega tracking] - Prysm Beta Release"
# 💎 Issue

### Background

This is a large tracking issue for our breaking release, the Prysm beta release

### Description

- [ ] Remove feature flags for beta #7509
- [ ] Remove accounts-v1
- [ ] Finish eth2 apis integration #7510
- [ ] Align wallet derivation with the EIP-2335 updates
- [ ] Include slashing protection history in accounts-v2 backup
- [ ] Include legal waiver for users of Prysm t

[2020-10-13 15:15] rauljordan commented on #7279
No longer reported as an issue. If this is still a problem in alpha.29 we can re-open, please advise @jwhelan72

[2020-10-13 15:15] #7279 closed

[2020-10-13 23:25] HeikoAydt commented on #7498
Here is a debug log for the issue. This is from a node that runs on Zinken but the same problem also occurs on Medalla.
[prysm-zinken.log](https://github.com/prysmaticlabs/prysm/files/5374675/prysm-zinken.log)

[2020-10-14 00:10] #7353 closed

[2020-10-14 07:55] #7425 closed

[2020-10-14 09:42] rkapka opened #7528 "cross-toolchain README's validator+windows_amd64 build is outdated"
#5008 fixed the windows validator build, but the README says that it doesn't work. This should be updated to reflect the current support.

[2020-10-14 09:54] nisdas commented on #7346
This has been added in to the v5.1 branch as of this commit:
https://github.com/ethereum/go-ethereum/pull/21647/commits/59b11fa55e228a3ec299a75590a04252a48b43e0

So this should be resolved once v5.1 is merged in to geth's master.

[2020-10-14 15:40] eth2353 commented on #7498
Same thing happening here. After restarting the beacon node it gets a bit further than the previous slot it was stuck on, but then gets stuck in a loop later on again.

Attaching another debug log from Medalla. I'm also using Vouch as a validator client.
[prysm_debug.log](https://github.com/prysmaticlabs/prysm/files/5379315/prysm_debug.log)

[2020-10-14 16:34] rauljordan commented on #7130
No longer relevant as we are now writing up eth2apis

[2020-10-14 16:34] #7130 closed

[2020-10-14 16:35] #7085 closed

[2020-10-14 16:36] rauljordan commented on #4792
Almost impossible to diagnose at this point and not too relevant to use as we will no longer expose an API in production

[2020-10-14 16:36] #4792 closed

[2020-10-14 16:38] rauljordan commented on #6236
Hi @farazdagi, just wondering if you have an update on this one

[2020-10-14 16:41] rauljordan commented on #7110
https://github.com/prysmaticlabs/prysm/issues/7515 includes an update to discv5.1, so closing in favor of the tracking issue

[2020-10-14 16:41] #7110 closed

[2020-10-14 16:41] farazdagi commented on #6236
Raul, will come try to come up with a closing PRs (bench + flag deprecation) till the end of this week.

[2020-10-14 16:42] rauljordan commented on #6083
No longer using go-ssz

[2020-10-14 16:42] #6083 closed

[2020-10-14 16:42] rauljordan commented on #6746
No longer been reported and no diagnosis info available to resolve at this point

[2020-10-14 16:42] #6746 closed

[2020-10-14 16:43] rauljordan commented on #5781
Not sure if this is something we will get to and also makes assumptions about eth1 nodes that people should use

[2020-10-14 16:43] #5781 closed

[2020-10-14 16:44] rauljordan commented on #5022
Closing in favor of https://github.com/prysmaticlabs/prysm/issues/7509

[2020-10-14 16:44] #5022 closed

[2020-10-14 17:32] potuz commented on #7448
Just my two cents: leave this incompatible. Add instructions on your website on how to use ethdo to recover  and upgrade the accounts for those users that wish to do so.

[2020-10-14 19:55] #7343 closed

[2020-10-14 20:10] eth2353 commented on #7498
To provide you with more information, added the following lines to beacon-chain/sync/validate_beacon_blocks.go :

[code]
Here's the debug level output around the time the issue reoccurred, hope it helps:

[prysm debug - extra verbose.log](https://github.com/prysmaticlabs/prysm/files/5380610/prysm.debug.-.extra.verbose.log)

[2020-10-14 23:33] metanull-operator opened #7534 "Duplicate Exit Throws Error"
# 🐞 Bug Report

### Description

Running 5 validators on Zinken, and I wanted to attempt an exit. Using prysm.sh I ran the command to exit and select 1 validator to exit. After seeing that my validator appeared on the exit queue, I ran prysm.sh again to exit my remaining validators. I selected the "all" option to exit all validators, not realizing that my previously exited validator is still in th

[2020-10-15 04:44] emile2738 opened #7538 "validator fails to terminate gracefully after successful exit from zinken chain"
Running zinken on a system along side medalla, I ran the zinken validator and beacon as follows:
[code]
then in a third bash session I exited:
[code]
and after a delay, I'm now seeing the following three lines of validator output every 6'24"
[code]

[2020-10-15 15:56] terencechain commented on #7509
`disable-finalized-deposits-cache` was removed in #7533

[2020-10-15 16:08] #7387 closed

[2020-10-15 16:15] 0xKiwi commented on #7538
Hey @emile2738 thanks for submitting this!

@rkapka do you think this is a bug in terms of handling exits?

[2020-10-15 16:30] 0xKiwi commented on #7506
Hello @potuz thank you for reporting!

This seems like an issue with the web ui and how it handles logs. Any ideas to handle this? @rauljordan

[2020-10-15 16:35] potuz commented on #7506
For the logs simply doubling them would be a solution. I'm not sure about Prometheus but it seems to me that you are hooking it to logrus so that may also be solved by doubling.

[2020-10-15 16:39] 0xKiwi commented on #7493
Hello, this is normal behavior as there may not be finalization yet or the queue is extremely long.

[2020-10-15 16:39] #7493 closed

[2020-10-15 16:40] 0xKiwi commented on #7485
Thanks for the suggestion @MysticRyuujin !

@rauljordan , do you think this is a feature we can implement? Might be useful and not too bad to implement.

[2020-10-15 16:43] 0xKiwi commented on #7377
Closing as this is a toolchain issue, unrelated to prysm.

[2020-10-15 16:43] #7377 closed

[2020-10-15 16:44] 0xKiwi commented on #7380
Hello @xuyenvuong , thank you for reporting. What caused this error? Was the beacon node just running and it randomly stopped or did you attempt to cancel it?

[2020-10-15 16:46] 0xKiwi commented on #7382
@prestonvanloon any confirmations if this has been fixed? @MariusVanDerWijden have you encountered the issue again?

[2020-10-15 16:48] 0xKiwi commented on #7312
Any updates on if you've encountered this issue again? @necrotic1979 @wackerow @MysticRyuujin ?

[2020-10-15 16:49] wackerow commented on #7312
Nope! Been working perfectly on my raspi!

[2020-10-15 16:50] MysticRyuujin commented on #7312
I haven't tried against since reporting. But I can try again next time I run a node.

[2020-10-15 16:57] rkapka commented on #7534
Hi there!

This is how Prysm currently handles error logging. Because you wanted to exit a validator that had already exited, an error occurred and was logged out to the terminal. I understand that it's a bit unusual to see an error message and a success message during one command execution, but that's just how it is at the moment.

We might consider changing it in the future. Thank you for submit

[2020-10-15 17:03] rkapka commented on #7538
On a first look it does not seem related. @emile2738 were you able to successfully perform the exit or was there some kind of error reported in the terminal?

[2020-10-15 17:39] potuz commented on #7538
I experienced the same, I think it's the fact that you do not have any active validators in the wallet. There's a check when you start but not once you are running. I think the proper way to handle this would be to exit the validator when you are left with zero active/pending validators.

[2020-10-15 17:48] emile2738 commented on #7538
The exit appeared to function without issues or exceptions, although it was
the first exit I'd attempted.

On Thu, Oct 15, 2020, 10:03 AM Radosław Kapka <notifications@github.com>
wrote:

[2020-10-15 18:40] MariusVanDerWijden commented on #7382
I haven't tried, but the repro is pretty easy: init the node with one genesis, kill the node, run with another genesis

[2020-10-15 19:09] #7509 closed

[2020-10-15 19:56] metanull-operator commented on #7534
Hi. My issue is the stack trace, not the fact that there are two error messages. Stack traces aren't particularly user friendly.

[2020-10-15 19:57] metanull-operator commented on #7534
@rkapka

[2020-10-15 20:33] #7448 closed

[2020-10-15 20:47] yorickdowne opened #7546 "Voluntary exit does not support secure gRPC connection"
# 🐞 Bug Report

### Description

Although `--tls-cert` is passed to `validator accounts-v2 voluntary-exit`, it does not establish a secure connection to the beacon.
The same beacon has been tested successfully with `validator` and `--tls-cert`

## 🔬 Minimal Reproduction

Set up a beacon with a TLS cert and key, I used Let's Encrypt. Feel free to use mine to reproduce. The following
assumes that /k

[2020-10-15 23:17] kirkyb opened #7548 "Waiting for beacon node to sync to latest chain head"
I've been having trouble getting Prysm to work, it was working perfectly fine 2-3 days ago but now I am receiving the error "Waiting for beacon node to sync to latest chain head"

How do I go about fixing this issue please?

I have updated Geth and Prysm so I'm running on the latest releases.

[2020-10-16 00:05] #7497 closed

[2020-10-16 14:19] emile2738 opened #7552 "validator sugests a parameter that's missing from it's help"
![image](https://user-images.githubusercontent.com/69115862/96269774-a77a3780-0f7f-11eb-8fa6-2d87dd43dccc.png)

suggests using --ssl-no-revoke

while it's not documented in help

root@prysm00:/home/emile/dist# ./validator-v1.0.0-alpha.28-linux-amd64 --help | grep ssl
root@prysm00:/home/emile/dist# ./beacon-chain-v1.0.0-alpha.28-linux-amd64 --help | grep ssl
root@prysm00:/home/emile/dist# ./beacon-