[2022-08-05 23:49] tamaszl opened #11178 "Attestations failing - level=warning msg="Range is not processed" error="Range had no valid blocks to process" prefix=initial-sync"
# 💎 Issue

validator started failing attestations. I restarted the beacon-chain and now i get this warning:
Aug 06 08:48:03 eth2 prysm.sh[1617195]: time="2022-08-06 08:48:03" level=warning msg="Range is not processed" error="Range had no valid blocks to process" prefix=initial-sync

### Background

# $HOME/prysm/prysm.sh beacon-chain --version
Latest Prysm version is v2.1.3.
Beacon chain is up to

[2022-08-06 14:00] yorickdowne opened #11179 "Bug: Prysm keymanager DELETE should return lowercase status"
# 🐞 Bug Report

### Description

On a `DELETE` call of `eth/v1/keystores`, Prysm returns an uppercase `.data.status` field.

As per https://github.com/ethereum/keymanager-APIs/blob/master/apis/local_keystores.yaml, it should be lowercase

[2022-08-06 16:38] terencechain opened #11180 "Debug subcommand to dump unfinalized blocks into zip file"
Useful for debugging if we can add a prysmctl subcommand that dumps all the unfinalized blocks as ssz format into a zip file. The ssz format could indicate slot and root

[2022-08-06 18:45] terencechain opened #11181 "Validator registration on non-builder beacon node"
Assume the following setups
[code]

In the event bn1 goes down, validators switch to bn2. The builder-enabled validators will all default to local EE for block construction.  Validators will see messages such as `could not submit validator registration.` Is that enough? Could we do more on the validator's or the beacon node's end to amplify the intent so validators could notify bn2 to turn on mev-

[2022-08-08 13:18] Piradoxlanieve opened #11183 "Checkpoint not work prater"
# 🐞 Bug Report

### Description

I'm trying to run from checkpoint, it worked for me once, but now I wanted to sync again since I deleted the database but I got this error.

## 🔥 Error

<pre>ago 08 15:15:33 AcePc prysm.sh[155371]: Verified /home/eth/prysm/dist/beacon-chain-v2.1.3-linux-amd64 has been signed by Prysmatic Labs.
ago 08 15:15:33 AcePc prysm.sh[155371]: Starting Prysm beacon-chain --pr

[2022-08-08 14:15] james-prysm commented on #11122
https://github.com/urfave/cli/issues/1394 looks like this is the underlying issue to this.

[2022-08-08 14:15] james-prysm commented on #11150
related issue updated

[2022-08-08 23:11] terencechain opened #11187 "Can't change intended fee recipient: external builder -> local execution engine"
There's one use case we can not satisfy when using block construction through the external builder that fails over to using local execution engine

A validator can not specify the following intent:
- I want to use fee recipient 0xA to build my block using an external builder and relayer
- In the event, an external builder or relayer fails or circuit break triggers
- I want to use fee recipient 0xB

[2022-08-08 23:17] terencechain opened #11188 "Default to local ee if header is malformed"
Beacon node that wants to use external builder for block construction will default to local execution engine if one of the following fails:
- RPC `getHeader` call returns an error
- RPC `getHeader` call times out after 1s

There's one condition that we missed that is validating the header's integrity. We should run through the following spec function.

[code]

If any of the above assertions fail,

[2022-08-08 23:18] terencechain commented on #11001
@come-maiz like james said, you have to use config. Will close this for now, feel free to dm us if you have any more questions!

[2022-08-08 23:18] #11001 closed

[2022-08-09 03:12] terencechain opened #11189 "Better display of relayer error code"
When receiving an error from external relayer, we can display the error better and one way is to leverage the error code and translate that into intended error message

[code]

[2022-08-09 04:57] james-prysm commented on #11183
@kasey do you have an opinion on this?

[2022-08-09 09:14] artjoma commented on #10877
Sepolia, v2.1.4-rc-1 and 2.1.3. Stack with initial sync.
[code]

[2022-08-09 09:15] nisdas commented on #10877
@potuz @terencechain
[code]

Is this a new issue, or something resolved in develop ?

[2022-08-09 09:16] nisdas commented on #10877
@barwod You need to use the engine port in geth and connect prysm to that (8551 instead of 8545)

[2022-08-09 09:22] nisdas commented on #10877
@artjoma Can you link your ee(erigon)  logs in this time period too ? It seems related

[2022-08-09 09:29] artjoma commented on #10877
@nisdas
Right now I updated Erigon to 2022.08.01(last stable version). Problem not solved.
Logs from Erigon
[code]

[2022-08-09 09:30] nisdas commented on #10877
@artjoma
[code]
This might be the reason it is failing, it appears to be a bug in erigon then.

[2022-08-09 09:31] nisdas commented on #10877
[code]
It keeps on rejecting the payloads from the beacon node.

[2022-08-09 09:32] nisdas commented on #10877
This is a valid block that erigon keeps on rejecting:
https://sepolia.etherscan.io/block/0x6ec18e10b257326452b249705b66350c3ef2963da75da9e769c065ca0401938a

[2022-08-09 13:38] james-prysm commented on #11181
perhaps we should add an additional log on the beacon node side if they are using the EE fallback/have the builder flag on

[2022-08-09 13:43] terencechain commented on #11189
Error codes defined here: https://github.com/ethereum/builder-specs/tree/main/apis/builder

[2022-08-09 14:44] james-prysm commented on #11179
not just the DELETE call I believe all of our keystores return upper case

[2022-08-10 01:45] artjoma commented on #10877
@nisdas thank you! Created Erigon new issue: https://github.com/ledgerwatch/erigon/issues/4977

[2022-08-10 11:33] rkapka commented on #11139
Hi @jacquesvcritien , I tried to reproduce the problem but the failover worked for me.

First I started two beacon nodes:
[code]

Then I started the validator client:
[code]

Initially the second beacon node was not fully synced and the validator started attesting, which ensured me that it's connected to the first node. After some time I stopped the first node and got the following logs from the v

[2022-08-10 17:33] mondsen commented on #11070
This issue still appears regulary which means I miss attestations :(

[2022-08-10 18:31] #11188 closed

[2022-08-10 18:55] james-prysm commented on #11177
I think it's a property of how our flag system works, try doing `accounts list  --wallet-dir /somedir --goerli`

[2022-08-10 18:58] jyap808 commented on #11177
Yeah I’m saying the flag parsing should be consistent behavior, not trial and error.

[2022-08-10 19:25] rctrinity opened #11200 "Beacon Node powchain error"
Hi,

Trying to get my node up to snuff for upcoming merge and am only receiving this error at the moment.

ERROR powchain: Unable to process past deposit contract logs: no contract code at given address

Is there something I have not yet setup correctly with my GETH (Execution Layer software)?
My GETH client is currently in healing process, but still fetching new blocks. I haven't setup the API se

[2022-08-10 21:30] artjoma commented on #10877
Solved. Look at: https://github.com/ledgerwatch/erigon/issues/4977

[2022-08-10 22:26] Piradoxlanieve commented on #11200
Do you have the new enpoint configured http://127.0.0.1:8551 ?

[2022-08-10 22:29] Piradoxlanieve commented on #11200
I did not have the chain of beacons synchronized in goerli, and when updating to prysm 2.1.4, it has stopped synchronizing and gives me an error and restarts,
I have removed the genesis.ssz flag and validator.db no longer crashes but does not start synchronizing the beacon chain

[2022-08-11 00:33] nisdas commented on #10877
Not exactly, you linked a different error from above. Will link this to the issue.

[2022-08-11 01:59] rctrinity commented on #11200
I haven't configured prysm to use 8551 (v2.1.4) as I am running on mainnet, not test. Beacon node is connected to geth through 8545, so no change there yet.  It is syncing and that is not the issue.  Just whines about that error from powchain. Not sure what the contract deposit logs is necessary for powchain, which I assume the error is from GETH.

[2022-08-11 03:38] james-prysm commented on #11177
still investigating if it's something that'd need to change on ourside or on the cli package

[2022-08-11 05:45] Piradoxlanieve opened #11202 "Beacon chain no start Goerli"
# 🐞 Bug Report

### Description

with version 2.1.3 it started perfectly, but with 2.1.4 it did not start the following error

### Has this worked before in a previous version?

 Yes, the previous version  work fine 2.1.3
## 🔬 Minimal Reproduction

## 🔥 Error

<pre>ago 11 07:40:24 AcePc prysm.sh[365236]: Starting Prysm beacon-chain --goerli --http-web3provider=http://127.0.0.1:5555 --http-web3prov

[2022-08-11 13:16] prestonvanloon commented on #11202
@potuz any idea on this? Looks like illegal instruction in gohashtree.

[2022-08-11 13:54] Piradoxlanieve commented on #11202
executed manually, my knowledge of linux is not very high and my English is not very good, I hope I can help with my errors, version v2.1.3 worked perfectly.
I'm testing on intel i5 and amd epyc and i don't have this error, maybe i have some problem with j4125 processor? I have not done any update of ubuntu, then I will come back with the portable version 2.1.3 to test.

[code]

[2022-08-11 14:45] potuz commented on #11202
This shows that the CPU shows that it supports SHA instructions which it doesn't

https://www.intel.com/content/www/us/en/products/sku/197305/intel-celeron-processor-j4125-4m-cache-up-to-2-70-ghz/specifications.html

I don't have access to such a celeron, I wonder if you could reach me on Discord so that you can help me diagnose the CPUinfo call of this CPU?

It would also help if you could post t

[2022-08-11 14:50] Piradoxlanieve commented on #11202
[code]

Si soy de españa, se agrade tu ayuda.
Thanks for your help  @potuz

[2022-08-11 15:27] #11202 closed

[2022-08-11 16:09] Piradoxlanieve commented on #11202
@potuz  También tengo un intel j5005 pero veo que tampoco es compatible con avx, así que moveré mi red de prueba a una computadora de respaldo intel i5 6500T que tengo en caso de que falle la red principal de mi computadora, si necesita que haga alguna prueba antes de iniciar alguna version en mi mini pc j4125 dime.
Muy amable por vuestra ayuda y gracias a todo el equipo por vuestro esfuerzo.-----

[2022-08-11 16:13] potuz commented on #11202
Te agradezco la disponibilidad, si ves alguna falla en cualquiera de estos procesadores te agradezco me informes. No hay problemas que el procesador no posea AVX, el problema era una combinación de SHA_ni + AVX. Si falla en alguno de estos otros procesadores por favor avísame.  Una forma de ver si falla o no en un procesador, puedes ir a https://github.com/prysmaticlabs/gohashtree is ver las instr

[2022-08-11 16:25] Piradoxlanieve commented on #11202
@potuz
Test Intel j4125:

[code]

[2022-08-11 19:05] #11181 closed

[2022-08-11 19:49] #11189 closed

[2022-08-11 19:54] rauljordan commented on #10844
Hi @shiziwen do you still have this problem?

[2022-08-11 19:55] rauljordan commented on #10826
Hi @terencechain still an issue?

[2022-08-11 21:04] potuz commented on #10826
This was fixed in 2.1.4rc0

[2022-08-11 21:04] #10826 closed

[2022-08-11 21:40] #9385 closed

[2022-08-11 21:58] potuz commented on #11202
Interesting, the good news is that the fix does work and that the code works in your CPU, the bad news is that it defaults to a generic implementation that is way worse than the one using crypto extension (that your CPU does support). cc @nisdas I'm not sure how common these CPUs are as to warrant changing the assembly to avoid vector instructions in the SHA_ni code.

[2022-08-11 22:18] Piradoxlanieve commented on #11202
i have been using this cpu for some years from pyrmont testnet, because of its low power cost, and its price, j4125 is a hot selling cpu in minipc, chuwi, acepc and various chinese computers, its performance is quite better than rpi4, even version 2.1.3 has worked great on the testnet, on the mainet I have not tried it since I only have a half validator with a friend on vps contabo XL, but last we

[2022-08-12 01:03] miguelmota commented on #11101
@nisdas ah I see thanks. I'm trying to run the checkpoint save command as mentioned in the docs but running into some install errors

[code]

[code]

[2022-08-12 07:31] nisdas commented on #11101
@miguelmota Your go version might be too old here, could you try updating to 1.17 or 1.18 ?

[2022-08-12 10:46] Piradoxlanieve opened #11211 "[Goerli]Beacon sync Warning Batch is not processed" error="could not process block in batch:"
# 🐞 Bug Report

### Description

Hellooo! 😄
It seems that they are synchronizing the blocks, but I have a warning, on a different computer I am synchronizing it, they have the same blocks but I do not have these warnings, is this correct?

### Has this worked before in a previous version?
Yes.  2.1.3

## 🔥 Error

<pre><code>
[code]

</code></pre>

## 🌍  Your Environment

**Operating System:**

<pr

[2022-08-12 12:20] potuz commented on #11202
Oh no, we will certainly support this CPU. What worries me is that our hashing library is slower than the standard library on this CPU, this is the only known case where this happens. I think this is because the standard library uses SSE4 assembly while our hashing library will default to to a generic Go implementation in this CPU.

[2022-08-12 12:32] potuz commented on #11202
@Piradoxlanieve Can I ask you a big favor and try again the library gohashtree? instructions are as follows, on linux, you can
[code]
And post the results here please? I'm mostly interested in your Celeron CPU want to know if that crashes.

[2022-08-12 13:27] Piradoxlanieve commented on #11202
Sorry I couldn't answer you earlier, I was coming back from work and I had that computer turned off.
This is the proof. It seems that it has failed. @potuz
[code]

[code]

[2022-08-12 13:53] Piradoxlanieve commented on #11202
Aviseme si necesitas alguna prueba mas :) @potuz

[2022-08-12 14:53] Piradoxlanieve commented on #11211
now it seems that it is also repeated in the goerli testnet in the contabo vps xl,
Beacon-chain
[code]
Geth log

[code]

[2022-08-13 23:28] rkapka commented on #6534
Closing this as we have a developer wiki in our docs now.

[2022-08-13 23:28] #6534 closed

[2022-08-15 01:26] miguelmota commented on #11101
@nisdas I updated to latest go but getting module errors when trying the `go run` command from docs

[code]

[2022-08-15 02:06] nisdas commented on #11101
Hey @miguelmota , you are probably running into this issue:
https://github.com/prysmaticlabs/prysm/issues/10006

We will be fixing this in our v3 release very soon (1 week eta), but as a work around you can use a commit:
[code]
Then run this, it should work.

[2022-08-15 04:31] miguelmota commented on #11101
@nisdas go get with that commit succeeds but I'm unsure on how to run the prysmctl cli

[code]

[code]

[2022-08-15 04:33] nisdas commented on #11101
We aren't up-to date with 1.19 yet @miguelmota , do you mind failling back to 1.18 ?
[code]

[2022-08-15 04:57] miguelmota commented on #11101
@nisdas nice prysmctl is working with go 1.18 :)

the checkpoint command is returning a 404 error and I'm not sure how to proceed

[code]

beacon node docker command used

[code]

[2022-08-15 04:59] nisdas commented on #11101
That doesnt make sense, it should be fine, @kasey any ideas ? @miguelmota Does this happen each time you run it

[2022-08-15 05:12] miguelmota commented on #11101
@nisdas yes every time I try the checkpoint save. I'm using latest `stable` image

beacon logs

[code]

[2022-08-15 05:19] nisdas commented on #11101
Understood, will let kasey give his view on this as he is most familiar with this feature.

[2022-08-15 05:20] jclapis opened #11218 "[Prater] `/eth/v2/beacon/blocks` route returns non-canonical blocks"
# 🐞 Bug Report

### Description

It looks like after Bellatrix, Prysm v2.1.4 is returning non-canonical blocks via the `/eth/v2/beacon/blocks/<slot>` API route. Specifically, it is returning blocks that were missing from the finalized canonical chain. This is different from the other clients, which all return a 404 when querying a slot that was missing.

For example, look at slot `3651831`. Beacon

[2022-08-15 05:26] jclapis opened #11219 "[Prater] Proposer index is different than calculated"
# 🐞 Bug Report

### Description

When calling the API route `/eth/v1/beacon/states/<state>/validators` using a historical state for `<state>` from a few days ago, I ran into this RPC error:

[code]

The Beacon Node did not show any errors in its logs when this happened, so all I have is this RPC error message.
I suspect this has something to do with Blinded Blocks?

This error is intermittent; try

[2022-08-15 09:07] moshe-blox opened #11220 "Add `/eth/v1/validator/register_validator` to Beacon API"
# 🚀 Feature Request

### Description

Prysm can `register_validator` via gRPC, but not yet via the Beacon API.

This would be great for 3rd party validator clients such as [Vouch](github.com/attestantio/vouch).

[Link to spec](https://ethereum.github.io/beacon-APIs/#/Validator/registerValidator) <--

🙏

[2022-08-15 13:40] terencechain commented on #11220
cc @james-prysm is this implemented?

[2022-08-15 14:12] kasey commented on #11101
Hello, looking at your beacon node command I see that you are not specifying the flag to enable debug endpoints, including state retrieval. Debug endpoints are not enabled by default because they are expensive requests to serve (therefore potential DoS vectors). As per the the checkpoint sync doc[1] you need to add these flags to your beacon node docker command: `--enable-debug-rpc-endpoints` and

[2022-08-15 15:48] #11218 closed

[2022-08-15 15:49] prycey77 commented on #11148
Can I pick this up?

[2022-08-15 16:10] miguelmota commented on #11101
@kasey ah I should have read the docs more carefully. That worked, thank you!

[2022-08-15 18:22] #10853 closed

[2022-08-15 19:17] james-prysm commented on #11220
working on this now.

[2022-08-15 20:15] james-prysm commented on #11220
@moshe-blox wondering if you'd be able to run a small test on my PR above just making sure things are good on that end.

[2022-08-15 21:09] rauljordan commented on #11109
Done at #11215

[2022-08-15 21:09] #11109 closed

[2022-08-15 21:10] rauljordan commented on #6980
Peer scoring is enabled by default in 2.1.4

[2022-08-15 21:10] #6980 closed

[2022-08-15 21:12] rauljordan commented on #8955
@nisdas is this fixed by your latest canonical inclusion PR?

[2022-08-15 21:12] rauljordan commented on #9850
Tested today, we finally have an LLVM v10 for Ubuntu 18+! Closing

[2022-08-15 21:12] #9850 closed

[2022-08-15 21:14] rauljordan commented on #9883
Thanks to @michaelneuder , I consider this closed, as now our keymanager code is far more robust with its use of interfaces! Thank you so much for making this really solid

[2022-08-15 21:14] #9883 closed

[2022-08-15 21:15] rauljordan commented on #9994
Hi @james-prysm where are we on this tracking issue so far? You've made so much progress since then and I feel like we're very close to closing

[2022-08-15 21:17] rauljordan commented on #10197
I think the risk-reward ratio of doing this is too high, and don't see major benefits aside from easier testing. However, we are not really constrained on testing due to time and there are far too many things to build that I would rather close this idea

[2022-08-15 21:17] #10197 closed

[2022-08-15 21:17] rauljordan commented on #10149
The go pbs script is no longer as annoying as it used to be. Closing

[2022-08-15 21:17] #10149 closed

[2022-08-15 21:18] rauljordan commented on #10165
No longer an issue now that we only support a single eth1 connection

[2022-08-15 21:18] #10165 closed

[2022-08-15 21:18] rauljordan commented on #10257
Done! Thanks @leolara

[2022-08-15 21:18] #10257 closed

[2022-08-15 21:19] rauljordan commented on #10279
hi @kbrannon95 I realized you never received an answer to this and I sincerely apologize. I think the issue is in your validator database, so clearing your validator DB would be enough. Will close this for now but please let me know if this does not resolve your problem or if you still need help

[2022-08-15 21:19] #10279 closed

[2022-08-15 21:19] rauljordan commented on #10279
Our Discord https://discord.gg/prysmaticlabs is a better place for us to answer some of these debugging questions

[2022-08-15 21:37] rauljordan commented on #10442
Bazel build now works on M1 and M2 macs. Please let us know if this issue is still present

[2022-08-15 22:23] rauljordan commented on #10536
hi @Giulio2002 does this answer your questions? Let us know if we can still help with anything. If so, we can re-open

[2022-08-15 22:23] #10536 closed

[2022-08-16 03:43] james-prysm commented on #9994
@rauljordan this issue was jsut overall tracking of the web3signer feature including any items that were potentially not covered. a big thing is just tracking future items, for example, the inbuilt TLS support that was asked about as well as multiple signer support. I listed those things as things we don't cover at the moment but haven't had many users ask about this. I'd think it'd mostly be used

[2022-08-16 07:57] xihucuyu888 commented on #10695
any updates?

[2022-08-16 08:37] leolara commented on #9850
@rauljordan yes, the MacOs ARM PR was based in the PR referenced here, so this changed got included when that one was merged

[2022-08-16 12:08] nisdas commented on #8955
Not that PR, it appeared to be a forkchoice bug that @potuz has fixed a while back. We can close this issue

[2022-08-16 12:08] #8955 closed

[2022-08-16 12:20] #10006 closed

[2022-08-16 16:13] Allen-yan commented on #11183
I meet the same issue
version v2.1.4
ubuntu 20.04

The upper node running with
`./prysm.sh  beacon-chain --http-web3provider=http://localhost:8551 --prater --jwt-secret=/data/prysm/jwt.hex --genesis-state=/data/prysm/genesis.ssz --enable-debug-rpc-endpoints  --grpc-max-msg-size=65568081 `

The new prater node running with options
`/data/prysm/prysm.sh beacon-chain --http-web3provider=http://localh

[2022-08-16 17:22] #10588 closed

[2022-08-16 17:30] #11211 closed

[2022-08-16 17:35] Piradoxlanieve commented on #11183
In the end I managed to get it to work with my infura api, I think you are missing a flag to put.
--enable-debug-rpc-endpoints \
--grpc-max-msg-size=65568081 \
--checkpoint-sync-url=https:///yourapi-infura@eth2-beacon-prater.infura.io \
--genesis-beacon-api-url=https://yourapi-infura@eth2-beacon-prater.infura.io \

[2022-08-16 17:59] kasey commented on #11183
@Piradoxlanieve and @Allen-yan I believe this issue has been fixed in our development branch. The merged PR is visible here:
https://github.com/prysmaticlabs/prysm/pull/11210/files

This fix will be available in the next release, `3.0.0-rc0`, which should be available this Friday. The issue was an error on the serving side ("upper node") when requesting the ssz-encoding of a post-bellatrix block.

[2022-08-16 18:05] #11173 closed

[2022-08-17 01:02] Allen-yan commented on #11183
Great! Thanks! Looking forward to the new version

[2022-08-17 08:39] hanzhenlong1314 opened #11238 "There is something wrong with the documentation, can't access curl http://localhost:3500/eth/v1alpha1/node/syncing"
# 💎 Issue

### Background

 Context and background information on the discussion...

### Description

I build a beacon chain test node according to this documentation (https://docs.prylabs.network/docs/install/install-with-docker), but execute curl http://localhost:3500/eth/v1alpha1/node/syncing Nothing came back, so I just used curl http://localhost:13000/eth/v1/node/syncing but the value returne

[2022-08-17 08:41] nisdas commented on #11238
@hanzhenlong1314 You need to use port 3500 , not 13000. That is our p2p port.

[2022-08-17 08:45] hanzhenlong1314 commented on #11238
So how should I modify this command, docker run -dit -v /data/ node_eth2/prysm:/data -v /data/node_eth2/genesis.ssz:/genesis/genesis.ssz -p 4000:4000 -p 13000:13000 -p 12000:12000/udp --name beacon-node
gcr.io/prysmaticlabs/prysm/beacon-chain:stable
--datadir=/data
--rpc-host=0.0.0.0
--monitoring-host=0.0.0.0
--http-web3provider=https://goerli.infura.io/v3/XXX\
--genesis-state=/genesis/genesis.ssz

[2022-08-17 08:46] nisdas commented on #11238
Add `-p 3500:3500` to your docker command

[2022-08-17 08:48] hanzhenlong1314 commented on #11238
ok,thanks,iwill try it

[2022-08-17 09:08] hanzhenlong1314 commented on #11238
![image](https://user-images.githubusercontent.com/25896081/185080371-1aff41d5-bfa6-4858-a486-41cddf9a26de.png)
![image](https://user-images.githubusercontent.com/25896081/185080435-68db506f-7a62-49b2-bd44-884b1aed907f.png)
docker run -dit -v /data/node_eth2/prysm:/data -v /data/node_eth2/genesis.ssz:/genesis/genesis.ssz -p 4000:4000 -p 13000:13000 -p 3500:3500 -p 12000:12000/udp --name beacon-nod

[2022-08-17 11:41] #11220 closed

[2022-08-17 15:18] rkapka commented on #11148
Assigned to you @prycey77

[2022-08-17 15:48] rauljordan commented on #11009
hi @james-prysm is this resolved?

[2022-08-17 15:51] james-prysm commented on #11009
Yes this should be resolved but it's not released yet.
I was waiting for @nalepae to return from OOO before closing.

[2022-08-17 20:05] prestonvanloon commented on #11179
@yorickdowne this should be resolved in the next release and that should have a release candidate on Friday August 19.

[2022-08-18 09:06] saolyn opened #11256 "EIP-4881 Deposit Trie Optimization"
# 🦄 Feature Tracking

This feature stems from an idea of @nisdas on representing the deposit trie in a more space-efficient manner: #10179.

More details can be found in the [design doc](https://www.notion.so/prysmaticlabs/EIP-4881-Deposit-Trie-Optimizations-962179eb5bd348ec9411b80c281fa13c).

### Feature Description

Currently, Prysm stores a deposits Merkle trie in memory, which is a massive cos

[2022-08-18 09:14] saolyn commented on #11256
Here is a [branch](https://github.com/prysmaticlabs/prysm/compare/optimized-deposit-tree) containing the bare minimum raw implementation of the EIP-4881 algorithm.

[2022-08-18 11:00] VieYang commented on #10442
`bazel build //beacon-chain:beacon-chain` is ok but `bazel build //beacon-chain:beacon-chain --config=release` still had this error.

[2022-08-18 11:58] potuz commented on #10442
https://discord.com/channels/476244492043812875/701094045879107744/1009429658112102421

Is this relevant?

[2022-08-18 12:06] prestonvanloon commented on #10442
We could update llvm to a more recent one. 10.0.0 is 2 years old

[2022-08-18 15:54] VieYang commented on #10442
No, I don't think the two are the same error.
Although both errors occur after adding `--config=release`, but  I don't think the cause of the error is quite the same.
This error caused by llvm.

[2022-08-18 15:56] VieYang commented on #10442
Yes, we should upgrade it to the latest version.
 I tried to upgrade llvm before, but obviously, I failed.

[2022-08-18 16:55] rauljordan commented on #10695
hi @xihucuyu888 and @mrihn apologies for the huge delay on this, but we now have fully functional instructions to do this [here](https://www.notion.so/prysmaticlabs/PUBLIC-DOC-Configuring-a-Local-Prysm-Development-Network-a2e7ba2e28694778aac86c5a420b2fab). Please let us know if you run into any problems. You can talk to our team on Discord [here](https://discord.gg/prysmaticlabs) or reply in this

[2022-08-18 16:55] #10695 closed

[2022-08-18 17:42] nick-staked opened #11258 "Proposer config "gas_limit" string issue"
# 🐞 Bug Report

### Description

Hello, there seems to be an incompatibility with the proposer config "gas_limit" field.

Your documentation does show an integer. But other clients and flashbots all use a string.

Relevant section in flashbots spec:
[code]

### Has this worked before in a previous version?

I haven't tested this on previous versions.

## 🔬 Minimal Reproduction

[code]

## 🔥 Error

[2022-08-19 09:51] nalepae commented on #11009
Is there a Docker image where I can test it?

[2022-08-19 14:12] hanzhenlong1314 opened #11270 "beacon node doesn't have a parent in db with root"
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>

</code></pre>

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>

  </code>
</pre>

**What version of Prysm are you running? (Wh

[2022-08-19 16:36] #11258 closed

[2022-08-19 16:45] james-prysm commented on #11009
@nalepae I think you can get it from here https://hub.docker.com/r/prysmaticlabs/prysm-validator/tags changes are in develop

[2022-08-20 15:30] navy665180 opened #11277 "prysm.sh: line 118: curl: command not found"
# 🐞 Bug Report

### Description

prysm.sh: line 118: curl: command not found

## 🌍  Your Environment

china

**Operating System:**

ubuntu 2.4

**What version of Prysm are you running? (Which release)**
2.1.4

[2022-08-20 16:01] potuz commented on #11277
You need to install curl in your system `apt install curl`

[2022-08-20 17:10] ptxptx2 opened #11279 "on restart, beaconchain initial-sync error shows beacon node doesn't have a parent in db with root... causing validator to keep waiting (prater/goerli)"
# 🐞 Bug Report

I am running v2.1.4 of beaconchain and validator.  The validator can't proceed because the beaconchain is not syncing properly.

### Description

 A clear and concise description of the problem...

On restart of the beaconchain, it seems to be stuck trying to complete the initial-sync portion.  It keeps repeating this in the log:

Aug 20 09:29:58 nuc4 beacon-chain[1945]: time="2022

[2022-08-20 17:18] ptxptx2 commented on #11279
This is the log entry for what seems like the first time it happened:

Aug 20 07:19:08 nuc4 beacon-chain[370963]: time="2022-08-20 07:19:08" level=info msg="Peer summary" activePeers=40 inbound=0 outbound=40 prefix=p2p
Aug 20 07:19:12 nuc4 beacon-chain[370963]: time="2022-08-20 07:19:12" level=info msg="Updated fee recipient addresses for validator indices" prefix="rpc/valid
ator" validatorIndices

[2022-08-21 11:24] nisdas commented on #11279
@ptxptx2 Does this still fail even after a restart ?

[2022-08-21 12:11] ptxptx2 commented on #11279
Yes, I've restarted a few times with the same result.

[2022-08-21 13:25] nisdas commented on #11279
Before the initial restart, was the node functioning fine ?

[2022-08-21 13:59] ptxptx2 commented on #11279
Yes, I installed this on Aug 8, and it went through the prater/goerli merge fine and was running ok until the Aug 20 restart.

[2022-08-21 14:39] ptxptx2 commented on #11279
To further clarify, the node was down for about 1 hour and started up on Aug 19 23:57:03, that seemed to chug along fine until Aug 20 07:12.  Here's the snippet of that in the log - I've attached the log for that time period.  Here are some error and warning log entries in that time period:

Aug 20 07:13:29 nuc4 beacon-chain[370963]: time="2022-08-20 07:13:29" level=error msg="Could not handle p2p

[2022-08-21 14:41] potuz commented on #11279
Thank you, these last ones are very useful

[2022-08-21 14:42] chpiatt commented on #11279
Running into same issue on goerli with 2.1.4

[2022-08-21 14:43] ptxptx2 commented on #11279
Let me know if you need other logs.

[2022-08-21 14:47] potuz commented on #11279
Just to make sure, about this sentence:

Here it means that since aproximately  midnight of Aug 20 until 7am, the node was synced fine and functioning and validators attesting fine?

[2022-08-21 14:49] nisdas commented on #11279
@chpiatt Just to clarify, what are the errors you see on your node ?

[2022-08-21 14:50] ptxptx2 commented on #11279
Yes, here are some entries prior to Aug 20 07:12 and overlapping into 07:12 where some error occurs:

Aug 20 07:11:49 nuc4 beacon-chain[370963]: time="2022-08-20 07:11:49" level=info msg="Finished applying state transition" attestations=128 payloadHash=0xa6083873a135 prefix=blockchain slot=3708059 syncBitsCount=437 txCount=40
Aug 20 07:12:01 nuc4 beacon-chain[370963]: time="2022-08-20 07:12:01" le

[2022-08-21 14:56] chpiatt commented on #11279
time="2022-08-21 14:55:24" level=warning msg="Batch is not processed" error="beacon node doesn't have a parent in db with root: 0x45ab4d89e866c6ac9e16e0cd13e1afc8e552896da931f7d784ab26322f6b3fd2 (in processBatchedBlocks, slot=815488)" prefix=initial-sync

[2022-08-21 14:56] ptxptx2 commented on #11279
I just checked the log on the validator, and to answer your specific question, yes, the validator submitted a new attestation at 07:15 (there is only one validator running):

Aug 20 07:12:48 nuc4 validator[370982]: time="2022-08-20 07:12:48" level=info msg="Attestation schedule" attesterDutiesAtSlot=1 prefix=validator pubKeys=[0x8428c056246d] slot=3708077 slotInEpoch=13 totalAttestersInEpoch=1
Aug

[2022-08-21 14:57] potuz commented on #11279
Do you see the same roots as in this message?

[2022-08-21 15:08] chpiatt commented on #11279
No, I'm seeing different roots

[2022-08-21 15:10] chpiatt commented on #11279
Working off of this genesis, if it helps: https://github.com/eth-clients/eth2-networks/raw/master/shared/prater/genesis.ssz

[2022-08-21 15:17] potuz commented on #11279
do you see the same error mesasge like the one I posted from @ptxptx2? if so, can you paste yours?

[2022-08-21 15:27] chpiatt commented on #11279
No, I don't see any `Could not handle p2p pubsub` errors, just `beacon node doesn't have a parent in db with root` with a bunch of different roots tried

[2022-08-21 15:34] potuz commented on #11279
ahh ok, then this you're experiencing a different issue not related to this one.

[2022-08-21 15:49] potuz commented on #11279
@ptxptx2 could you tell me what exact CPU do you run and what are the contents of `cat /proc/cpuinfo | grep flags` ?

[2022-08-21 15:51] ptxptx2 commented on #11279
8 core - here's one of them...

processor	: 7
vendor_id	: GenuineIntel
cpu family	: 6
model		: 142
model name	: Intel(R) Core(TM) i7-8559U CPU @ 2.70GHz

flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts acpi mmx fxsr sse sse2 ss ht tm pbe syscall nx pdpe1gb rdtscp lm constant_tsc art arch_perfmon pebs bts rep_good nopl xtopology nonstop_tsc cpuid aperfmp

[2022-08-21 15:52] potuz commented on #11279
Thanks for that. That CPU is very well covered and tested. Specially on linux

Also if you wouldn't mind running a memtest on that computer that would help, We want to rule out hardware issues cause from here it looks as if your dbase has saved a bad root

[2022-08-21 16:27] ptxptx2 commented on #11279
(It's taking me some time to get memtest going, working on it....)

[2022-08-21 17:58] ptxptx2 commented on #11279
I did get memtest running and it's still running - having just completed pass 1 (out of 4 passes).  Pass 1 showed no errors.

[2022-08-21 18:28] ptxptx2 commented on #11279
What could have caused the bad root in the database and how can that be repaired?

[2022-08-21 18:39] potuz commented on #11279
Thanks, I don't think there's a solution to that if you have a corrupt database. But it's important to get to the bottom as to why do you have this database. It could be hardware (memory corruption, disk problems, etc) or it could be a bug in the software. We've spent a good few hours analyzing this and came with nothing yet. Would you be able to provide us with your beacon database for us to anal

[2022-08-21 19:06] ptxptx2 commented on #11279
I assume this is beaconchain.db.   Did you need network-keys as well?

Is there a place I can upload it to?  I can try that once memtest finishes (it's still on pass 2).

[2022-08-21 22:43] ptxptx2 commented on #11279
On memtest, it shows 0 errors on all 4 passes.  So, no memory issues detected.

[2022-08-22 05:09] nisdas commented on #11279
@ptxptx2 Can you try uploading it here ?
https://share.ipfs.io/#/

Then share the link and we can take a look at it.

[2022-08-22 14:52] jadechip opened #11285 ""Could not check configuration values between execution and consensus client" error="method not found""
Hi there 👋 , I am running a Goerli node and a Prysm node in two Kubernetes pods, but I am getting the following error.

[code]

The Prysm flags I am using are:

[code]

The Goerli node flags I am using are:

[code]

Any clues what the issue could be?

[2022-08-22 15:16] ptxptx2 commented on #11279
beaconchain.db is 99gb big - and it just failed when I tried to share via https://share.ipfs.io.  I will see if I can set up an ipfs node for that.  Or do you have other suggestions on sharing the file.

[2022-08-22 15:26] rauljordan commented on #11285
hi @jadechip the issue is that geth exposes a special API called the "engine API" which is needed for the merge on a separate port than the normal JSON-RPC. You need to connect to geth on port 8551 by default, which is controlled by the flags:

[code]

This requires JWT authentication by specifying a path to a file containing a 0x-prefixed string representing 32-byte secret. See [here](https://doc

[2022-08-22 15:26] #11285 closed

[2022-08-22 15:26] rauljordan commented on #11285
Let us know if you have more questions. The flag for the JWT file in Prysm is called --jwt-secret=/path/to/secret.txt

[2022-08-22 15:27] rauljordan commented on #11219
Maybe the endpoint is not fork-aware @terencechain or @rkapka, like how Terence just fixed #11274

[2022-08-22 15:28] rauljordan commented on #11179
hi @james-prysm can this be closed?

[2022-08-22 15:29] james-prysm commented on #11179
yes closing now.

[2022-08-22 15:38] pablote opened #11286 "Merged testnet doesn't sync back after being offline for a few days"
# 🐞 Bug Report

### Description

My issue is similar to this, but the error messages are not quite the same: https://github.com/prysmaticlabs/prysm/issues/11279

I have a Goeli/Prater testnet running for some time. I don't usually keep it up 100% of the time, I usually just stop geth and prysm just so that 1) it doesn't use much of my Internet 2) I can test how it syncs back after being down.

I'v

[2022-08-22 15:56] rauljordan commented on #11183
Let us know if unresolved after the new version is released and we can revisit this

[2022-08-22 15:56] #11183 closed

[2022-08-22 15:57] rauljordan commented on #11114
A bit too late for this one, unfortunately. Will close for now

[2022-08-22 15:57] #11114 closed

[2022-08-22 16:09] pablote commented on #11286
Following up on that other issue, here's my finalized state, to help diagnosing

[code]

[code]

[2022-08-22 16:25] ptxptx2 commented on #11279
It says the file size is too big - so I shared finalized.ssz as https://ipfs.io/QmZmEjuoJRw5Fo3sAcqg84roXoe7eHVEZK7zRhF7fkvrh4 - hopefully, you can access properly?

[2022-08-22 16:36] ptxptx2 commented on #11279
I am not sure that ipfs thing is working - so I just uploaded finalized.ssz to my google drive:

https://drive.google.com/file/d/1Gfb1pkJGz1Ux_vISv0Cc56xaBJbLebvI/view?usp=sharing

[2022-08-22 17:20] ptxptx2 commented on #11279
Ok, the ipfs url - https://ipfs.io/ipfs/QmZmEjuoJRw5Fo3sAcqg84roXoe7eHVEZK7zRhF7fkvrh4 - should be working now as well (for finalized.ssz).

[2022-08-22 17:59] kasey opened #11287 "rename prysmctl cpt latest?"
# 💎 Issue
The subcommand for computing the latest weak subjectivity checkpoint could be improved. One idea is to call it `prysmctl cpt weak-subjectivty`.

### Background
 It was originally a companion command to checkpoint sync, so it lives right next to `cpt save` (used for downloading state+block ssz files for checkpoint sync). Now that these are 2 distinct concepts, we should give it a clearer

[2022-08-22 22:53] ptxptx2 commented on #11279
I also have the database shared via ipfs - https://ipfs.io/ipfs/QmUncEf8BHyFL6JoQA2FWLcj3uzfbuqeuaNe6nZVmjMKNe

[2022-08-22 23:32] potuz commented on #11279
Thanks a lot this is very helpful

[2022-08-22 23:53] etalot opened #11288 "Validator is offline, I cannot find any information in Google via error from log's files"
# 🐞 Bug Report

### Description

Validator is offline

### Has this worked before in a previous version?

Validator worked 1 year, then 10 month was offline.

## 🔥 Error

Beacon logs:
<pre><code>
[2022-08-23 02:49:24]  INFO initial-sync: Processing block batch of size 62 starting from  0x9828e100... 2483808/4532345 - estimated time remaining 36h21m36s blocksPerSecond=15.7 peers=55
[2022-08-23 02:4

[2022-08-23 00:19] potuz commented on #11288
What are the flags that use to run the beacon and what execution client do you run? It looks like it should be updated

[2022-08-23 00:34] etalot commented on #11288
./prysm/prysm.sh beacon-chain --datadir=$HOME/beacondata --log-file=$HOME/beacon.log --accept-terms-of-use --http-web3provider=https://mainnet.infura.io/v3/8489ec1d72ce47848c622a0a748xxxxx

I didn't change anything here till the validator worked.

"execution client" ? What is this?

[2022-08-23 01:30] james-prysm commented on #11177
Sorry for the late response, I believe this needs to be addressed at the CLI package side and will take some time before it's addressed along with a few other things. Will keep this open for tracking.

[2022-08-23 01:32] james-prysm commented on #11148
I believe this partially addresses this at least for recovery https://github.com/prysmaticlabs/prysm/pull/11278

[2022-08-23 01:37] james-prysm commented on #11148
it seems like we are supporting the following for recovery at least
[code]
did not see a list for creation that's where the opportunity is

[2022-08-23 01:47] zzh1996 opened #11289 "Is it possible to run multiple execution clients against one prysm?"
# 💎 Issue

I'm currently running multiple execution clients (geth, erigon, etc) on the same machine. I want these execution clients to share the same prysm to avoid (disk, memory, network, cpu) redundancy. I searched on the Internet (also prysm documentation) but found nobody talking about this approach.

If possible, how can I do this?

If not possible, please treat this as a feature request.

Al

[2022-08-23 04:53] jclapis opened #11291 "`PbBellatrixBlock is not supported for bellatrix` when trying to call `eth/v1/beacon/blocks/<slot>/attestations`"
# 🐞 Bug Report

### Description

Hello folks!

I'm trying to use the `eth/v1/beacon/blocks/<slot>/attestations` route [from the standard Beacon API](https://ethereum.github.io/beacon-APIs/#/Beacon/getBlockAttestations) using v3.0.0 on Prater. However, I'm being greeted with this in response:

[code]

We're using this route specifically to avoid retrieving an entire block (which relies on the EL, w

[2022-08-23 05:19] jadechip commented on #11285
Thanks for your reply @rauljordan. Indeed my mistake was not exposing the 8551 port correctly and not setting the authrpc.addr flag to 0.0.0.0. It seems the nodes are successfully connecting now 🎉

[2022-08-23 05:28] cyruskarsan commented on #11288
Read the docs. You must run your own execution client. You cannot use infura anymore.

https://docs.prylabs.network/docs/prepare-for-merge

[2022-08-23 05:50] nisdas commented on #11279
This is very helpful @ptxptx2 , thank you for uploading it.

[2022-08-23 07:32] Piradoxlanieve commented on #11202
@potuz Acabo de probar la version v.3.0.0 en mi j4125 y ya funciona correctamente.
Gracias por tu trabjo.
-------------------------------------------------------------
I just tried version v.3.0.0 on my j4125 and it works fine now.
Thanks for your job.

[2022-08-23 07:34] Piradoxlanieve commented on #11202
I have to say that now it is working on ubuntu 22.04
lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 22.04.1 LTS
Release:        22.04
Codename:       jammy

[2022-08-23 10:19] nisdas commented on #11286
Hey @pablote , your issue seems different from the other issue. Do you have all your logs during this period ? Ex: before offline period, during offline period, after back online period

[2022-08-23 10:44] potuz commented on #11202
Yeah indeed it should work. However in that particular CPU I would recommend that you run with `--disable-vectorized-htr`

[2022-08-23 12:03] ptxptx2 commented on #11289
I would think it's not possible because the beacon chain has to point to an execution client endpoint - and only one execution client can be listening to a specific endpoint.

If you are talking about just running 2 execution clients and then have prysm beacon chain point to one of them such that only the execution client pointed to would be doing actual execution, I would think that's possible.

[2022-08-23 12:14] pablote commented on #11286
No sorry, I don't keep logs of before the offline period, it was just running fine then. And after starting things back again it's logging what I posted continously.

[2022-08-23 12:59] Allen-yan commented on #11183
I have upgraded my nodes with the latest release version v3.0.0. The checkpoint sync mode works ! My new node has synced to the latest blocks.
Thanks a lot !

By the way can I initialize another new node from this new node  ?  Or is a node synced from checkpoint mode  the same as " a fully synced beacon node"?
https://docs.prylabs.network/docs/prysm-usage/checkpoint-sync#option-1-configure-checkpo

[2022-08-23 13:17] nisdas commented on #11286
No worries, it would be helpful if you had the logs of when it first started going wrong. As usually it would give an indication of what is wrong with the node. But in any case, we can continue investigating this on our end.

[2022-08-23 13:26] pablote commented on #11286
Maybe I didn't explain correctly the scenario. There's no point in time, and in the logs, in which Prysm beacon goes from working well to stop syncing with these messages. Prysm was working well, it was stopped for a week, and then started again. It's when starting it again that it can't seem to sync back. I'm attaching logs from service startup:

[code]

[2022-08-23 13:28] nisdas commented on #11286
Ok this is much more helpful @pablote , the logs you provided give a better indication of the issue

[2022-08-23 14:53] mcdee opened #11293 "Blinded block generation should not require validator registration"
# 🐞 Bug Report

### Description

When attempting to generate a blinded beacon block prysm currently refuses to do so unless the validator has been registered.  However, in configurations with multiple beacon nodes or alternative registration systems the beacon node may not have been informed of the registration.  As such, it should not check for local knowledge of the registration as a gate to fet

[2022-08-23 16:46] terencechain commented on #11293
I'm concerned about setups like:

1.)
bn (`--http-mev-relay=xyz`)  <-> vc (`--enable-builder=false`)

or hybrid version

2.)
bn (`--http-mev-relay=xyz`)  <-> vc where settings are mixture of `--enable-builder=true/false`

In such setups, the validators who prefer local ee would always call mev-boost/relayer firsthand then fallback to failure. Even worse, a bad relayer could return a legit block ev

[2022-08-23 16:47] #11291 closed

[2022-08-23 16:54] rauljordan commented on #11288
Hi @etalot you cannot run infura anymore and _need_ to set up your own ethereum execution client locally to run with Prysm. Execution clients are software such as [go-ethereum](https://github.com/ethereum/go-ethereum) [nethermind](https://github.com/NethermindEth/nethermind) and [besu](https://github.com/hyperledger/besu). Please see our detailed instructions on how to prepare for the merge and wh

[2022-08-23 16:54] #11288 closed

[2022-08-23 17:53] rauljordan commented on #11289
Hi @zzh1996 this technically possible but not something that is supported in Prysm today or in other consensus clients as far as we are aware. After the merge, each execution client needs one consensus client. It is a model of 1 Prysm : 1 Geth, but you could do 1 Prysm : N Geth if you had some kind of connection multiplexer in-between that sends the same data from Prysm to your N geth instances.

[2022-08-23 17:53] #11289 closed

[2022-08-23 20:30] mcdee commented on #11293
Wouldn't a VC that had `--enable-builder=false` request beacon blocks rather than blinded beacon blocks, so that wouldn't be an issue?

I'd be fine with a flag, just not sure that it's necessary.

[2022-08-23 20:37] mcdee opened #11297 "/eth/v1/validator/register_validator corrupts input"
# 🐞 Bug Report

JSON input to `/eth/v1/validator/register_validator` appears to be corrupted during decoding.

### Description

An attempt to send data to the above endpoint, for example:

[code]

results in warnings in the prysm log:

[code]

(note that the request body and errors are both subsets of the actual request sent, so the warnings may well apply to different validators.)

The pubkey fie

[2022-08-23 22:23] james-prysm commented on #11297
This may be just cosmetic i'll do some testing. this log is thrown for public keys where we can't find the validator index ( the public key might not be active) in any case I think this is valid will look into it.

[2022-08-24 01:21] terencechain opened #11298 "Defaults for testnet ports and data directories"
It'd be nice to have defaults for testnets (i.e., Sepolia, Prater... etc.) ports and data directories. One downside is this is a breaking change, so we'll need to time it accordingly

[2022-08-24 02:35] james-prysm commented on #11297
Confirmed something is wrong with the encoding now, apologies, I am investigating what happened

[2022-08-24 12:42] franono commented on #11139
Hi @rkapka, (replying on behalf of @jacquesvcritien), we're hitting a different rpc error than Context canceled. Ours stall is being hit when the following error happens:
```DeadlineExceeded desc = context deadline exceeded,```

I want to figure out how to replicate this, as we've only hit this in production whilst validator clients are using a beacon chain at another provider and there's a hiccup

[2022-08-24 14:48] terencechain commented on #11293
I think this is true for beacon API. For prysm API, it's a single endpoint, so we don't have a great way for separation.

Couple options
1. Caller always has to register through the beacon node before the proposal (this is not ideal)
2. Add a flag to the beacon node to skip the registration check
3. Fix prysm validators / prysm API to have better isolations for full block and blind block (this wil

[2022-08-24 14:50] terencechain commented on #11293
The more I look at the code, I realized `ProduceBlindedBlock` really shouldn't care whether the validator is registered. I'll study how we can refactor it better. I think this is the best option

[2022-08-24 15:05] #11297 closed

[2022-08-24 22:40] terencechain commented on #10322
Closing this. For the remaining items that we wish to carry to V4 (breaking changes only), we can open a separate issue for it

[2022-08-24 22:40] #10322 closed

[2022-08-25 09:26] LaplaceMan commented on #11200
I also have the same error. Will this error affect the use? How can we solve this problem?

[2022-08-25 11:48] Quilamir commented on #4003
@nisdas i am using the latest erigon client version 2022.08.2-alpha-35c4faa1

[2022-08-25 13:40] rauljordan commented on #11238
hi @hanzhenlong1314 I think you issue is you need to provide --grpc-gateway-host=0.0.0.0 as well. Let me know if that fixes it

[2022-08-25 13:42] rauljordan commented on #10491
hi @nisdas is this one fixed?

[2022-08-25 13:43] rauljordan commented on #10286
Hi @potuz can we close this one as completed?

[2022-08-25 13:44] potuz commented on #10286
Yeah thanks!

[2022-08-25 13:44] #10286 closed

[2022-08-25 14:56] james-prysm commented on #11155
Completed!

[2022-08-25 14:56] #11155 closed

[2022-08-25 15:02] prestonvanloon commented on #11200
For testnets, your execution engine node needs to be synced to the point at which the deposit contract was deployed. Otherwise the execution engine will fail to serve logs at that contract address because it doesn't exist (yet) in the state of that client. This isn't a problem on mainnet, generally, because the genesis is baked into the client.

TL;DR -- Sync EE before starting CL.

[2022-08-25 15:04] nisdas commented on #10491
It is fixed, we can close it.

[2022-08-25 15:04] #10491 closed

[2022-08-25 17:19] #11293 closed

[2022-08-26 01:52] hanzhenlong1314 commented on #11279
I am using the latest 3.0.0 version to deploy sepolia, and ropsten has encountered the same problem, how to solve it?
![image](https://user-images.githubusercontent.com/25896081/186799544-ddaa24dc-ad49-4033-92a6-cbaf5632b613.png)       this is sepolia

[2022-08-26 01:54] hanzhenlong1314 commented on #11279
[2022-08-26 01:53:40]  WARN initial-sync: Batch is not processed error=could not process block in batch: got an unexpected error in JSON-RPC response: Post "http://47.57.189.139:8872": dial tcp 47.57.189.139:8872: connect: connection refused: received an undefined ee error
[2022-08-26 01:53:40]  INFO initial-sync: Processing block batch of size 19 starting from  0xd285ca15... 115232/478768 - estim

[2022-08-26 03:19] hanzhenlong1314 commented on #11279
It has been solved, because geth has less configuration
--authrpc.vhosts="*" --authrpc.addr=0.0.0.0

[2022-08-26 08:55] heeckhau opened #11322 "Fee recipient change not persisted"
# 🐞 Bug Report

### Description

When I change the fee recipient of one or more specific validators with the KeyManager API, the changes are applied at first, but after a restart they are reset to the default.

I see the same behaviour when I use the Web UI:
* After configuring the fee recipient:
<img width="615" alt="Screenshot 2022-08-26 at 10 27 52" src="https://user-images.githubusercontent.co

[2022-08-26 14:04] james-prysm commented on #11322
Hi Heeku,  thanks for reporting this and reminding me to add a note on our documents. you are correct currently we don't have the feature to support persistence after restart via updates from the webUI. We can keep this issue open in the meantime to track this feature as I begin work on this.

to get around this I recommend using the --proposer-settings-file providing a config of the updated value

[2022-08-26 15:00] heeckhau commented on #11322
Hi James, thanks for the info.

That is unfortunate for my use case. I am developing a UI for Avado, that works with both Prysm and Teku. It is based on the KeyManager API, so I can avoid as much Prysm/Teku-specific code as possible.
I'll work around this for now, and mark it as a future simplification.

Does the persistence limitation also apply to importing keys with the Keymanager API?

[2022-08-26 15:16] james-prysm commented on #11322
This limitation wouldn't apply to importing keys as that gets saved to the Prysm wallet.

[2022-08-26 16:24] ybstaked opened #11327 "prysm 3.0.0 beacon data gets corrupted"
# 🐞 Bug Report

### Description

prysm 3.0.0 beacon data gets corrupted while running

## 🔬 Minimal Reproduction

running prysm beacon 3.0.0

[code]

## 🔥 Error

Before node is broken
[code]

Upon a restart after the previous state
[code]

Once node is broken
[code]

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Kubernetes
  </code>
</pre>

**What version of Prysm are you running?

[2022-08-27 07:41] lyzs90 commented on #10327
How does adding a small margin of error sound? I've raised a small PR to illustrate the approach.

[2022-08-28 10:51] navy665180 opened #11335 "error main：error preparing to initialize genesis db state from local ssz files:error checking existence of ssz-encoded file genesis.ssz for genesis state init : createfile genesis.ssz:the system cannot find the file specified."
### Description

error main：error preparing to initialize genesis db state from local ssz files:error checking existence of ssz-encoded file genesis.ssz for genesis state init : createfile genesis.ssz:the system cannot find the file specified.

## 🔥 Error

error main：error preparing to initialize genesis db state from local ssz files:error checking existence of ssz-encoded file genesis.ssz for gen

[2022-08-28 10:53] navy665180 opened #11336 "prysm.bat beacon-chain --http-web3provider=//./pipe/geth.ipc --suggested-fee-recipient=0x01234567722E6b0000012BFEBf6177F1D2e9758D9"
excuse me ，i want to know ,//./pipe/geth.ipc   do not need to change?the only thing i need to change is the ETH address

[2022-08-28 11:36] navy665180 opened #11337 "error could not connect to execution client endpoint error=could not dia1 execution node:no known transport for URL scheme"C""
error could not connect to execution client endpoint error=could not dia1 execution node:no known transport for URL scheme"C"

windows 10 .

[2022-08-29 08:43] skrbug commented on #11009
Same issue in v2.1.4.
v3.0.0 works well.

[2022-08-29 09:35] xihucuyu888 commented on #10695
https://github.com/rauljordan/eth-pos-devnet

[2022-08-29 15:24] prestonvanloon commented on #11337
@navy665180 could you share what flag value you used for `--execution-endpoint` or `--http-web3provider`?

[2022-08-29 15:57] prestonvanloon commented on #11327
Thanks for the report. I'll admit, this error is a bit unhelpful as there are three places that unmarshalling errors could have returned. I have added some additional context in PR #11342.

We also run in kubernetes with go-ethereum and have never experienced this issue. Would you be willing to share a corrupted database privately?

[2022-08-29 16:05] ybstaked commented on #11327
Unfortunately, no, we had to cleanup the pvcs and restart from checkpoint so we didn't continue to miss attestations and lose rewards.

[2022-08-29 16:25] james-prysm commented on #11009
going to close this now that v3.0.0 works

[2022-08-29 16:25] #11009 closed

[2022-08-29 16:27] james-prysm commented on #11336
we have this awesome doc from @mick-prysm https://docs.prylabs.network/docs/install/install-with-script that shows the flags you'll need... that being said yet you will need to update that suggested-fee-recipient flag value with a wallet address you own.

[2022-08-29 16:28] phpmac opened #11343 "method not found"
[2022-08-30 00:28:15] ERROR powchain: Could not check configuration values between execution and consensus client error=method not found

Can someone help me?

[2022-08-29 16:31] james-prysm commented on #11343
you probably aren't using the correct flags... you should double check if your configuration is correct here
https://docs.prylabs.network/docs/install/install-with-script

[2022-08-29 16:32] james-prysm commented on #11335
responded in another issue you opened

[2022-08-29 16:34] james-prysm commented on #11335
There are other flags you need and the --http-web3provider flag has changed https://docs.prylabs.network/docs/prepare-for-merge you'll find the correct flags and changes in the merge doc we prepared.

[2022-08-29 16:46] phpmac commented on #11343
Is that why?

"This validator has exited the system during epoch [43005](https://beaconcha.in/epoch/43005) and is no longer validating. There is no need to keep the validator running anymore. Funds will be withdrawable after epoch [51192](https://beaconcha.in/epoch/51192)."

[2022-08-29 16:47] phpmac commented on #11343
Could that be the reason?

"This validator has exited the system during epoch [43005](https://beaconcha.in/epoch/43005) and is no longer validating. There is no need to keep the validator running anymore. Funds will be withdrawable after epoch [51192](https://beaconcha.in/epoch/51192)."

[2022-08-29 17:01] prestonvanloon commented on #11327
OK, no worries. #11342 should help in v3.0.1. We will keep monitoring and investigation open until we can pin point the issue.

If anyone stumbles upon this issue and hasn't deleted their beaconchain.db, please save a copy and reach out to me preston@prysmaticlabs.com or discord. It would greatly help to see what bytes are failing to unmarshal.

[2022-08-29 17:52] james-prysm commented on #11343
This sounds like a totally different issue than the first one you described... your first issue is referring to not being able to connect to the execution client due to using the wrong flags
i.e. you'll probably see an error on geth `the method engine_exechangeTransitionConfigurationV1 does not exist/is not available` so you just need to make sure you follow the sets to fix that.

having a validat

[2022-08-29 19:48] james-prysm commented on #10720
@lyzs90 It's set the first time here, but I think to kasey's point of starting this issue, the beaconConfig was intended to be this read-only config based on network settings ( mainnet, minimal -which is test net, etc) and not setting values at runtime. I'm sure we have other instances of breaking this intention but don't want things to get dangerous and break consensus unintentionally.
this was a

[2022-08-29 23:34] #11149 closed

[2022-08-30 02:57] terencechain opened #11348 "Builder: unable to read response body: unexpected end of JSON input"
Get header failed with the following message. It looks like we got a non 200 response and also failed to handle the reponse

[code]

I don't think `json.Unmarshal(bodyBytes, &errMessage)` is working as intended

[code]

[2022-08-30 05:28] miguelmota commented on #11343
seeing the same error today after restarting

![DeepinScreenshot_select-area_20220829222259](https://user-images.githubusercontent.com/168240/187356116-03e1d2ff-6bce-422b-a0cb-bd1d286934aa.png)

[2022-08-30 06:29] nisdas commented on #11343
@miguelmota What are your prysm flags ? It seems like you might be using the http port ( 8545) , not the engine port (8551)

[2022-08-30 08:21] Piradoxlanieve opened #11351 "[GOERLI] No sync geth or prysm?"
# 🐞 Bug Report

### Description

Problem:

It's been working until 2-3 days ago fine but now it's not working and I don't know if it's geth or prysm.

But the problem is that neither geth nor prysm advances

Sorry my bad english.

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><c

[2022-08-30 09:01] Piradoxlanieve commented on #11351
I thought that after a day it would synchronize but it is not like that, it was working but now the logs have entered a repetitive loop that never advances.

[2022-08-30 09:57] potuz commented on #11351
Hola! Esto comenzó a pasar en un nodo que estaba funcionando bien de un momento para otro o después de reiniciar?

[2022-08-30 10:42] moshe-blox opened #11352 "`/eth/v1/validator/duties/sync/<epoch>` fails when requested at beginnings of epochs"
# 🐞 Bug Report

### Description

When requesting `/eth/v1/validator/duties/sync/<epoch>` around the beginning of the requested epoch (first 6-12 seconds or so), Prysm returns a 500 error. This happens on both prater & mainnet. Not sure if it's consistent, but it's reproducible on most prater epochs.

### Has this worked before in a previous version?

 Yes, the previous version in which this bug wa

[2022-08-30 11:48] potuz commented on #11351
puedes enviarme todos los logs desde el comienzo hasta el primer error?

[2022-08-30 12:14] Piradoxlanieve commented on #11351
creo que comenzo aqui @potuz parece ser que me debi quedar algunos minutos sin  sin internet.
[code]

[2022-08-30 12:33] phpmac commented on #11343
ok,I'm using https://infura.io/,Does it mean that infura does not support the RPC method??

[2022-08-30 12:36] lyzs90 commented on #10720
Gotcha, thanks for clarifying

[2022-08-30 14:50] james-prysm commented on #11343
you'll need to run your own execution client and not use infura.

[2022-08-30 15:07] phpmac commented on #11343
So that's it. Thank you very much.thankyou james.

[2022-08-30 15:14] #11343 closed

[2022-08-30 15:16] ybstaked commented on #11327
See another set of errors in another node here:
[code]

[2022-08-30 15:23] Piradoxlanieve commented on #11351
Hace 15 dias habia dejado de usar el checkpoint con infura y beaconchaindata.db ocupaba unos 500Mb, hoy he intentado reanudarlo pero me salte algo  parecido.
[code]
He eliminado el archivo beaconchaindata.db del "cheackpoint" y ha comenzado a funcionar(se ha generado uno nuevo claro), pero claro eliminar desde genesis el beaconchaindata.db son mas de 100Gb y estuve como 8-10 dias hasta que sincorn

[2022-08-30 15:32] ybstaked commented on #11327
No, this error does not occur right away when starting a node with checkpoint sync.  I shared our node's flags before, but here it is again.  We are using infura currently as the checkpoint node.

[code]

[2022-08-30 15:42] prestonvanloon commented on #11327
Thanks for that context. We are still investigating both of these issues. The first one may be related to an improper shutdown of the client. Kubernetes podSpec default value for `terminationGracePeriodSeconds` is 30. This may be too short for Prysm to shutdown properly. I would recommend increasing it to 120 and ensuring that you are using a solid state disk for faster writes.

[2022-08-30 15:51] james-prysm commented on #11348
it must have been code 204, i think i found my mistake here... i'll create a PR to fix

[2022-08-30 15:52] ybstaked commented on #11327
Ok noted, but in this case, the first error I sent you here was before any restarts or shutdowns: https://github.com/prysmaticlabs/prysm/issues/11327#issuecomment-1231810731

[2022-08-30 16:05] ybstaked commented on #11327
@prestonvanloon I emailed you the beaconchain.db specifically from: https://github.com/prysmaticlabs/prysm/issues/11327#issuecomment-1231810731

[2022-08-30 17:01] jtraglia opened #11358 "Missing timeouts for some builder requests"
# 💎 Issue

### Background

I was looking at the builder endpoint in Prysm. Making sure that everything looks right.

### Description

[There is a timeout for getting the block header](https://github.com/jtraglia/prysm/blob/436792fe385134611376a54b03bb7e5f6264eaf7/beacon-chain/rpc/prysm/v1alpha1/validator/proposer_bellatrix.go#L390) but I don't see timeouts for the other builder requests:

* [Getti

[2022-08-30 17:09] terencechain commented on #11358
`Getting the builder status`: we only call this once at start. If the builder status fails, then we mark the builder as unhealthy. We use the default HTTP timeout for this. I don't feel too strongly about aligning with the spec unless someone feels strongly about it
`Submitting validator registration`: the timeout is on the validator client side. It used to timeout quite a lot but ever since then

[2022-08-30 17:30] jtraglia commented on #11358
Thank you, @terencechain. You're right. I needed to go up a few more calls. Sorry, I'm still getting used to Prysm.

This is the timeout (deadline) for validator registrations and proposals, right? It has until the end of the slot.

https://github.com/prysmaticlabs/prysm/blob/d077483577bc8fdc658940adf71d8d11dfa5949b/validator/client/runner.go#L107-L110

Yes, after submitting the signed header ther

[2022-08-30 17:30] #11358 closed

[2022-08-30 17:40] terencechain commented on #11358
Thanks for the review. Really appreciate it! <3

[2022-08-30 18:47] prestonvanloon commented on #11327
Thanks @ybstaked. I was able to reproduce this issue. Still investigating...

[2022-08-30 19:31] #11348 closed

[2022-08-30 20:08] kasey opened #11361 "Use less ominous language in --weak-subjectivity-checkpoint warning"
# 💎 Issue

### Background
When prysm is run without a weak subjectivity checkpoint specified, it currently prints a very ominous warning:
`--weak-subjectivity-checkpoint not provided. Prysm recommends providing a weak subjectivity checkpoint for nodes synced from genesis, or manual verification of block and state roots for checkpoint sync nodes.`

This is causing users some angst, so we want to di

[2022-08-30 22:13] porktonkatsu opened #11364 "Version 3.0.0 calls deprecated engine_exchangeTransitionConfigurationV1"
Here is the beacon log

[code]

on the geth side

[code]

Versions:

[code]

[code]

Happy to provide anything else as necessary to help debug.

[2022-08-30 22:52] terencechain opened #11365 "Checkpoint sync state retrieval timeout"
If the checkpoint state provider not return any data, the beacon node should not halt and hangs indefinitely waiting for a response. We should prefer timeout/exist or retry or give up and sync another way like using the database or a fallback url

[2022-08-30 22:55] terencechain opened #11366 "Add optional support to store orphaned blocks"
I think it may be valuable to add optional support to store orphaned blocks. Post merge, orphaned blocks may be useful for analysis and I could see some demands for them

[2022-08-30 23:18] rauljordan opened #11367 "Desired Mainnet Merge Metrics Tracking"
# 💎 Issue

## Background

As part of our foray into improving our prometheus metrics for monitoring the merge, we have some more things we want to track in a more granular fashion in Prysm. This is a tracking issue for those items.

### Global Blockchain Health

- [x] Exit queue size (gauge) #11374
- [x] Activation queue size (gauge) #11374

### P2P Insights

- [x] Gossipsub scoring by topic and n

[2022-08-30 23:21] nisdas commented on #11366
We don't delete blocks, no ? Only invalid ones

[2022-08-30 23:22] porktonkatsu commented on #11364
This might also be actually an issue in geth

https://github.com/ethereum/go-ethereum/issues/25464

[2022-08-30 23:29] nisdas commented on #11364
Its not an issue in geth, it means your node isnt correctly configured for the merge:
https://docs.prylabs.network/docs/prepare-for-merge

[2022-08-31 00:05] porktonkatsu commented on #11364
Ah yea, this is the step that was missing https://docs.prylabs.network/docs/execution-node/authentication

Closing then. Thx

[2022-08-31 00:05] #11364 closed

[2022-08-31 00:16] #11286 closed

[2022-08-31 00:16] #11351 closed

[2022-08-31 13:12] potuz commented on #11327
I believe this issue is solved:
[code]

But this other one I do not really know how it happens. Would it be possible to check with the current develop images?

[code]

[2022-08-31 13:35] ybstaked commented on #11327
thanks @potuz, for this error, @prestonvanloon mentioned that it may be related to an improper shutdown, i.e.: https://github.com/prysmaticlabs/prysm/issues/11327#issuecomment-1231843716 and also said:

"Later this week, I'll try some experimentation with SIGKILL to see if I can replicate the state you were in. We may not be able to prevent improper shutdowns, but maybe we can repair damaged datab

[2022-08-31 15:59] muang0 commented on #10410
Love this, exactly the use-case I was looking looking to fill with checkpoint-sync.
If you happen to know already, could you could share a rough estimate on how much time it might take to checkpoint-sync from a recently finalized state?

[2022-08-31 16:49] terencechain commented on #11367
I'm working on these
[code]

[2022-08-31 18:18] #11287 closed

[2022-08-31 18:52] muang0 opened #11376 "Set checkpoint-sync flag on synced node"
# 💎 Issue
When started with checkpoint-sync arguments, can prysm choose between checkpoint-sync provided state and existing db finalized head (if db already exists for node)?  Or maybe even just skip loading checkpoint-sync configured state if db is populated with any state?

### Background

(Nice-to-have) in prod environments if there was some issue that required db wipe/new volume, teams could r

[2022-08-31 20:40] james-prysm opened #11378 "Proposer Settings File updates reflecting on runtime"
# 🚀 Feature Request

### Description

Currently flags `--proposer-settings-file` and `--proposer-settings-url` populate internal in-memory settings on runtime, however, we may want to watch for file changes and use the json or yaml file as a place to persist setting data.

### Describe the solution you'd like/considered

currently, one thought was to introduce a new flag to enable polling on files

[2022-08-31 20:47] mcdee opened #11379 "Uncontactable builder results in process exit"
# 🐞 Bug Report

### Description

If a builder is configured for the beacon node but it is unavailable at startup then prysm shuts down.  Other beacon nodes note that the builder is unavailable and continue with local execution payloads (they also appear to check periodically if the builder is back up, and allow blinded block production if so).

### Has this worked before in a previous version?

N/

[2022-08-31 23:18] rauljordan opened #11381 "Use Atomic Bool from Stdlib Rather than Third-Party Package"
Go includes atomic boolean and even some generic atomic items in the standard library we could integrate. Today, we forked a project called `abool` in Prysm. We shluld instead use the standard library and also evaluate how we can use atomic types in our repo more.

[2022-08-31 23:58] #11379 closed

[2022-09-01 01:56] #11361 closed

[2022-09-01 02:07] FahdW opened #11382 "Unable to connect to peer nodes on prysm (Goerli)"
[code]

This is pretty much what i am getting from Prysm as i try and run geth

I am on Geth 1.0.23
Prysm 3.0.0

I have opened the ports approriately, my Geth was previously syncing and it can't get past the block that is the latest goerli block.

I performed a `geth removedb` but that seems to have yielded nothing because i previously ran this chain on snap mode, i am unsure if that is contributi

[2022-09-01 05:14] nisdas commented on #11382
https://docs.prylabs.network/docs/install/install-with-script

You need to provide a genesis state for goerli, please look at our docs for the correct steps to run prysm.

[2022-09-01 07:42] nisdas commented on #11382
@FahdW Can you remove prysm's db from the data directory and try again ? It should be in `~/.eth2`

[2022-09-01 07:49] nisdas commented on #11382
Can you add to `--verbosity=debug` in prysm and paste the logs that you see

[2022-09-01 07:53] nisdas commented on #11382
@FahdW It doesn't appear you removed the old db. The debug logs are consistent with an older db. Can you confirm that you removed it ?

[2022-09-01 08:10] nisdas commented on #11382
What about your firewall ? Any restrictions on the machine prysm and geth are running on

[2022-09-01 08:13] nisdas commented on #11382
Is prysm able to make outbound connections from any port in your machine ?

[2022-09-01 08:18] nisdas commented on #11382
When you say

Do you mean you have opened these ports up for inbound connections ? Or are these only for outbound connections via your security group

[2022-09-01 08:22] nisdas commented on #11382
Ok so, you need to allow outbound udp connections from any port in your machine through your security group.

[2022-09-01 08:27] #11382 closed, assigned to nobody

[2022-09-01 12:28] rkapka opened #11383 "`timeTillDuty` log shows a negative number"
I turned on my validator after the attestation slot had already passed and this was the duties log:
[code]
Notice `timeTillDuty=-1m0s` (there is a `-` at the beginning). We should probably skip the field in such cases.

[2022-09-01 12:59] Texnomic opened #11384 "ERROR main: could not get ancestor state: signed beacon block can't be nil"
# 🐞 Bug Report

### Description

Node Can't Be Started.

### Has this worked before in a previous version?

Yes

## 🔬 Minimal Reproduction

[code]

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu Server
  </code>
</pre>

**What version of Prysm are you running? (Which release)**

<pre>
  <code>
v3.0.0
  </code>
</pre>

[2022-09-01 13:49] prestonvanloon commented on #11384
Possibly related to #11327

[2022-09-01 14:21] nalepae commented on #11009
It works, thanks!

[2022-09-01 18:00] #11367 closed

[2022-09-02 00:53] miguelmota opened #11392 "Stuck repeating same `Processing block` during initial sync"
# 🐞 Bug Report

### Description

The beacon node appears to be stuck in a loop `Processing block` during initial sync. It keeps logging these same logs indefinitely.

[code]

### Has this worked before in a previous version?

Yes, from a few weeks ago.

## 🔬 Minimal Reproduction

[code]

## 🔥 Error

<pre><code>
[2022-09-02 00:52:36]  WARN initial-sync: Block is not processed error=could not proces

[2022-09-02 04:24] nisdas commented on #11392
@miguelmota Are you constantly stuck here ?

[2022-09-02 04:44] potuz commented on #11392
If you're stuck on restarts, is it always in the same block?

[2022-09-02 07:16] miguelmota commented on #11392
@nisdas @potuz yes same block after restarts

[2022-09-02 07:18] nisdas commented on #11392
@miguelmota Can you paste add in `--verbosity=debug` to prysm and paste all the logs you see from your node ?

[2022-09-02 07:19] nisdas commented on #11392
Also do you have all your previous logs ? Ex: Logs of prysm until it hit this issue

[2022-09-02 12:25] ybstaked commented on #11327
Btw I just checked and we use a terminationGracePeriodSeconds of 180 seconds (this is what was set when I posted that error;  more than your recommendation of 120 seconds)

[2022-09-02 14:41] terencechain opened #11393 "Flag to filter out builder profit"
We can add a CLI flag to filter out builder blocks based on builder profit (ex: `--builder-profit-threshold <wei value> `). If the builder's bid is below the threshold value then we default to using the local execution engine. Unfortunately, the local block's value can't be retrieved nor compared at this moment until engine-API support. Credit to @realbigsean for this idea

[2022-09-02 18:38] realbigsean commented on #11393
Thanks for the shoutout @terencechain  but I have to deflect the credit to @allboxes who raised an [issue](https://github.com/sigp/lighthouse/issues/3517) in our repo!

[2022-09-04 04:08] miguelmota commented on #11343
@nisdas I tried using `8551` with jwt but still getting the method not found error

[code]

![DeepinScreenshot_select-area_20220903210741](https://user-images.githubusercontent.com/168240/188296854-27f3cbda-4e3a-4cc3-baf8-0f300ea2a93b.png)

[2022-09-04 05:08] nisdas commented on #11343
@miguelmota do you mind stating what flags you are using for both prysm and your execution client ?

[2022-09-04 06:31] miguelmota commented on #11343
@nisdas here are the flags

geth

[code]

beacon

[code]

[2022-09-04 06:50] nisdas commented on #11343
Can you confirm that try removing this flag from geth ? `--authrpc.addr="0.0.0.0" \`

[2022-09-05 03:17] terencechain opened #11399 "Increaes builder-api getPayload timeout to 3s"
We should increase getPayload timeout to 3s. Given once a signed header has been submitted, there's no other alternative, the node might as well wait longer to publish the block. Given attestations are broadcasted at 4s mark. 3s mark is a good value for timeout bound

[2022-09-05 03:33] potuz commented on #11399
Is this supposed to be for all cases or only when using an external builder and we have already sent a blinded block? I would agree with the latter, but not the former

[2022-09-05 03:46] terencechain commented on #11399
My apology, I forgot engine-api also uses `getPayload`. My intent for this is only for external builder in the event that  blinded block has been signed and sent

[2022-09-05 09:00] miguelmota opened #11400 "crash error "unexpected fault address 0x0""
# 🐞 Bug Report

Can't finish syncing, getting crash error `unexpected fault address 0x0`

### Has this worked before in a previous version?

version from a few months ago seemed to be working

## 🔬 Minimal Reproduction

[code]

## 🔥 Error

[code]

[full panic log gist](https://gist.github.com/miguelmota/1dbcee4bf0f4dd25aa4c591645434da4)

## 🌍  Your Environment

**Operating System:**

[code]

**Wha

[2022-09-05 10:29] potuz commented on #11399
Thinking a little more about this, it may be that the same timeout works for the local engine as well: if the local engine does not return a block anyway we're not proposing and there aren't options.

[2022-09-05 12:42] dg123lzk opened #11401 "error"
Could not check configuration values between execution and consensus client error=method not found

[2022-09-05 15:14] terencechain commented on #11399
that's a fine point. I also created #11404 that's inspired from your comment

[2022-09-05 16:30] miguelmota opened #11405 "ERROR main: could not process block: could not process block header: parent root does not match the latest block header signing root in state"
# 🐞 Bug Report

### Description

Can't finish syncing because of error `ERROR main: could not process block: could not process block header: parent root 0x7e535f17c96b293b70cf215adaa950dc5dfae51a10480186b2c2e52648386ddf does not match the latest block header signing root in state 0x8f531f5266ce77444d6c9af9eb9ae65740527b8408df1c6b90f823f5522559f9`

### Has this worked before in a previous version?

[2022-09-05 17:59] potuz commented on #11405
At this stage @miguelmota it is starting to look like you have some hardware problems, most likely memory. Specially given #11400, could we ask you to upload your database giving rise to any of these issues (if you can reproduce them consistently) so that we try them locally?

[2022-09-05 18:31] potuz commented on #11405
I believe this is a corrupt memory
[code]
The beacon block with that parent root is [this one](https://beaconcha.in/block/0x7e535f17c96b293b70cf215adaa950dc5dfae51a10480186b2c2e52648386ddf). The state root for the child block is `0x9f58880714984090e81ecb5e9f44dd875b585d800e4544b3226fb811d2d71817` instead of the reported one, so either we are processing a wrong block (the next missed/orphaned block

[2022-09-05 19:19] begetan opened #11408 "beacon-chain prints incorrect error message: you have disabled the flag enable-only-blinded-beacon-blocks"
# 🐞 Bug Report

### Description

Prysm beacon-chain client incorrectly reports errors about flag `enable-only-blinded-beacon-blocks` when getting incorrect network db version actually

### Has this worked before in a previous version?
This bug might be itroduced in version 2.4.1 with the new flag

## 🔬 Minimal Reproduction

1.  Download or sync goerli/prater beacon file `beaconchain.db`
2. Change

[2022-09-05 23:52] terencechain commented on #11408
@begetan goerli/prater DB and mainnet DB need to be in different location, you can't mix them under one location

[2022-09-06 01:34] Zagal435 opened #11409 "M"
# 💎 Issue

### Background

 Context and background information on the discussion...

### Description

[2022-09-06 01:41] #11409 closed

[2022-09-06 09:28] eightfourseventwo commented on #11364
Just leaving this here in case anyone else runs into this. I got this error when running geth on goerli with syncmode=light . The error message on both ends is cryptic, but switching to syncmode=snap solved it for me.

[2022-09-06 09:52] 00ssh commented on #10920
I am getting the same repeating pattern in the logs. It does not seem to surpass 2 peers in the last 2 hours. I'm trying Goerli.
`time="2022-09-06 09:50:27" level=info msg="Peer summary" activePeers=2 inbound=0 outbound=2 prefix=p2p
time="2022-09-06 09:50:28" level=info msg="Waiting for enough suitable peers before syncing" prefix=initial-sync required=3 suitable=0
time="2022-09-06 09:50:30" level

[2022-09-06 14:12] rkapka commented on #11408
I think what OP is getting at is that the `database contract is ...` error should be shown instead of the blinded blocks one, as flipping the flag won't help you when you have the wrong db version.

[2022-09-06 14:36] #11401 closed

[2022-09-07 01:04] miguelmota commented on #11405
@potuz thanks for the response and suggestions. I replaced the memory modules and initiated a resync. I'll report back if there's any corrupt data errors but the bad memory seems like the root cause.

[2022-09-07 01:04] #11405 closed

[2022-09-07 01:04] #11400 closed

[2022-09-07 01:06] miguelmota commented on #11392
@nisdas sadly I don't have the logs anymore but it's possible it's related to the bad memory issues (https://github.com/prysmaticlabs/prysm/issues/11405). I'll report back if I see the same behavior after a resync

[2022-09-07 01:06] #11392 closed

[2022-09-07 01:20] miguelmota commented on #11343
aright looks like it's working now and was a configuration issue on my end

[2022-09-07 08:52] jackyzhujiale commented on #11289
@zzh1996 seems nimbus support this feature. https://nimbus.guide/web3-backup.html
Also per Execution API doc this should be possible: https://github.com/ethereum/execution-apis/blob/main/src/engine/specification.md#load-balancing-and-advanced-configurations

[2022-09-07 09:09] nisdas commented on #11289
@zzh1996 So post-merge, having a fallback will fail in its purpose. Each fallback execution node needs to be able to keep in sync with the tip of the execution chain, without a beacon node that it isnt possible. The nimbus doc states:
[code]
So even if you fallback, you might need to wait a while ( depending on when your fallback was last synced) , to be back up. If you really need to have a singl

[2022-09-07 15:53] terencechain commented on #11366
You are right! I forgot that

[2022-09-07 15:53] #11366 closed

[2022-09-07 15:54] james-prysm commented on #11335
closing for being stale...

[2022-09-07 15:54] #11335 closed

[2022-09-07 15:54] james-prysm commented on #11336
closing for being stale...

[2022-09-07 15:54] #11336 closed

[2022-09-07 15:54] james-prysm commented on #11337
stale... no response from user.

[2022-09-07 15:54] #11337 closed

[2022-09-07 16:00] rkapka commented on #11352
This behavior is expected and it also occurs on 2.1.4 (I just tested it). When you ask for sync committee duties for the current epoch (or a later one), we retrieve the state at slot 0 of the current epoch as part of processing. When you issue the request very early in an epoch, the head state hasn't been updated yet, and that's why you get this error.

[2022-09-07 16:00] #11352 closed

[2022-09-07 19:25] klestrong opened #11414 "ERROR powchain: Could not connect to execution client endpoint error=Post "http://localhost:8551": dial tcp 127.0.0.1:8551: connect: connection refused..."
# 💎 Issue
Hi! 😄

I’m getting connection refused messages for the execution client I’ve configured for Beacon.
[code]
### Background

 Context and background information on the discussion...

### Description
My docker run command for Beacon (Prysm v3.1.0) is below:
[code]
I’ve configured JWT token for both the Geth execution client and Beacon node.  Prylabs docs indicate the above error could be tr

[2022-09-07 19:52] prestonvanloon commented on #11414
This seems like a docker-compose issue. I suspect that the containers are not running with the same networking device so `localhost` would not connect.

I _think_ you need to use the container name in place of `localhost`. Try `--execution-endpoint=http://geth:8551`. If that doesn't work, you might need to set the network_mode to host

[2022-09-07 20:24] klestrong commented on #11414
Thanks for the help!
I've tried putting them in the same docker network, like below, but still no go.  Also, this doesn't apply to the config in which I run Geth execution client and Beacon node on separate servers.  When on separate servers, I'm able to get a successful curl to the Geth execution client from the Beacon node.
[code]
[code]

[2022-09-07 20:42] klestrong commented on #11414
Regarding your comment "--execution-endpoint=http://geth:8551".  I've tried that too.  I did the below on the Beacon node docker run specifying the Geth execution client name.  Still didn't work.  Could this be something other than connectivity?
[code]

[2022-09-07 20:48] prestonvanloon commented on #11414
Add these to geth, just to be sure
[code]

[2022-09-08 00:20] nining opened #11415 "Critical 🔥: The validator keeps submitting outdated message to beacon node. "Sync Committee Message is too old to broadcast, discarding it""
# 🐞 Bug Report

### Description

The validator keep submitting outdated message to beacon node.

### Has this worked before in a previous version?

Never has this issue before

## 🔬 Minimal Reproduction

N/A

## 🔥 Error

<pre><code>

Here is the log from validator:
time="2022-09-08 08:02:03" level=info msg="Submitted new sync message" blockRoot=0x5fa482fc3bb6 prefix=validator slot=4647608 slotStar

[2022-09-08 03:56] yerry262 opened #11416 "default config fee recipient on Prysm website's has error in code example"
{
  "proposer_config": {
    "0x01234567155ad77931185101128655c0191bd0214c201ca48ed887f6c4c6adf334070efcd75140eada5ac83a92506dd7a": {
      "fee_recipient": "0x012345670FCE8a85ec7055A5F8b2bE214B3DaeFd3",
      "builder": {
        "enabled": true,
        "gas_limit": "30000000"
      }
    },
    "0x0123456748ed887f6c4c6adf334070efcd75140eada5ac83a92506dd7a057816155ad77931185101128655c0191bd0214"

[2022-09-08 05:30] Chaz27 opened #11418 "Error with first block in each epoch"
# 🐞 Bug Report

### Description

Upgraded to 3.1.0 and I am now seeing error logs at the start of every epoch. The beacon chain log does not display the first block, but will then display an error a little while later. I believe I am still attesting correctly to any blocks in slot 0.

### Has this worked before in a previous version?

I don't believe I saw the issue in 3.0.0. Definitely never saw

[2022-09-08 13:07] #11415 closed

[2022-09-08 21:43] willruggiano opened #11422 "Runtime error after building prysm from source"
I am trying to package prysm for nixpkgs, which means building the binaries from source.

I have been able to "successfully" build the project, however when I run it I get the following error;
[code]

As a disclaimer, I am not familiar with the source code of prysm (or its dependencies); I just run some validator nodes and am looking to use Nix/OS as my underlying operating system.

Any suggestion

[2022-09-08 22:10] willruggiano commented on #11422
I am running the following, which yields that error;
[code]
where `beacon-chain` is the binary that has been built locally

[2022-09-08 22:41] VTsuprov opened #11423 "Network or system error"
# 🐞 Bug Report

### Description

Evrthg worked well but the prysm has suddenly stopped connecting to the chain.
I use dappnode. The system reports that it works ok. But I cann't update any packages with Dappnode UI

## 🔬 Minimal Reproduction

So when i open the prysm UI I do not get any data from the validator. The interface is empty. And then i get the error

## 🔥 Error

{
  "headers": {
    "nor

[2022-09-09 00:20] Chaz27 commented on #11418
An update, I did a reboot of the beacon chain and the error has now disappeared. So not sure what that was all about 🙈

[2022-09-09 17:40] philknows opened #11430 "Modification of agent version for Lodestar"
# 💎 Issue

Reference: https://github.com/ChainSafe/lodestar/issues/4465

Lodestar is looking to modify the agent version gossiped from the default libp2p string `js-libp2p/0.36.2` to `lodestar/version`. We are requesting an update to your client on how you identify Lodestar nodes for better tracking and referencing of Lodestar peers on the network for debug purposes. We will not implement until it

[2022-09-09 22:48] nisdas commented on #11430
Hey @philknows , thanks for the ping. @rauljordan we can probably fix this in our client identification metrics to check for both `js-libp2p` and `lodestar`

[2022-09-10 01:59] nisdas commented on #11422
Hey @willruggiano ,

This appears to be an issue with running with herumi. It isn't able to initialize the bls curve correctly.
https://github.com/herumi/bls-eth-go-binary/blob/master/bls/bls.go#L49

This is indicative of some possible incompatibility with mcl.

[2022-09-10 18:04] ptxptx2 commented on #11279
FYI, on my original problem, I've since resynced both execution and consensus layers (with v1.10.23 geth and v3.0.0 prysm) and that resynced system has been stable.

[2022-09-10 18:04] #11279 closed

[2022-09-10 22:09] potuz opened #11431 "Add option to log full ssz data on rejected gossip messages"
Learned from @ajsutton that this is what Teku does and it's very handy, for example we remove invalid blocks from DB, we may keep the data in the logs.

[2022-09-11 01:55] ajsutton commented on #11431
This is useful, but worth noting that it is a potential DoS vector as you can wind up logging quite a lot if someone keeps sending you large invalid messages.  You'll likely want to only enable it on nodes not doing anything else important.

[2022-09-11 11:12] terencechain opened #11432 "Next state slot cache audit and improvements"
Opening this issue to track audit and improvement for the next slot state cache
We suspect the next state slot cache has some issues given the `next_slot_cache_miss` count.
We also know specific issues exist, such that
- It doesn't cache well in the event of a skip slot. 31-> one won't work because it's only cached up to 0. So we will still need to process 0->1. This can improve together with skip

[2022-09-11 11:19] potuz opened #11433 "Don't use HTR for the cache key in ssc"
We currently use the beacon-block header HTR hashed against the slot for the skip slot cache key. This requires two calls to hashing routines that are completely unnecessary in in
[code]
We can simply use the `StateRoot` in `bh` instead of `bh.HashTreeRoot()` and we can just replace the last 8 bytes with the slot instead of hashing.

[2022-09-11 11:50] terencechain commented on #11432
#11433 also prompts a good question on why we can't leverage skip slot state cache for next slot state cache

[2022-09-12 07:42] #11277 closed

[2022-09-12 07:44] terencechain commented on #11270
Looks like this is resolved via #11279, please reopen if it isn't

[2022-09-12 07:44] #11270 closed

[2022-09-12 07:45] terencechain commented on #11238
@hanzhenlong1314 please reopen if it still exists after adding gateway host

[2022-09-12 07:45] #11238 closed

[2022-09-12 07:45] terencechain commented on #11178
Looks like this is resoled, the validator is attesting good

[2022-09-12 07:45] #11178 closed

[2022-09-12 07:46] terencechain commented on #10909
@duktig666 please reopen if it still persists

[2022-09-12 07:46] #10909 closed

[2022-09-12 07:46] terencechain commented on #10877
Please reopen if this issue still persists

[2022-09-12 07:46] #10877 closed

[2022-09-12 12:38] yorickdowne opened #11436 "Prysm REST API does not work for sync committee"
# 🐞 Bug Report

### Description

Lighthouse VC v3.1.0 towards Prysm REST API v3.1.1

Lighthouse VC shows this error:

[code]

It appears `eth/v1/validator/duties/sync/` is not implemented in Prysm's REST API

### Has this worked before in a previous version?

Unknown

## 🌍  Your Environment

Ubuntu 22.04, docker

## Prysm startup parameters

For reference, this is how the Prysm CL is started:

[co

[2022-09-12 13:15] yorickdowne opened #11437 "`accounts backup` creates a `name` field, should be `description`"
# 🐞 Bug Report

### Description

When using `accounts backup`, the resulting keystore-0.json is incorrectly formatted: It contains a `name` field, which should be `description` as per [EIP-2335](https://eips.ethereum.org/EIPS/eip-2335#description).

This causes import into Nimbus to fail.

## Sample

[code]

## 🌍  Your Environment

Ubuntu 22.04, docker

Prysm v3.1.1

[2022-09-12 13:29] hanzhenlong1314 commented on #11238
it work

[2022-09-12 17:10] rauljordan opened #11438 "Add Migration to Blinded Beacon Blocks when Feature Is Enabled"
# 💎 Issue

### Background

We have a feature in Prysm that allows node operators to only save blinded beacon blocks in the database if enabled, lowering the disk requirements for Prysm significantly. However, we do not have a migration strategy that allows someone to migrate an existing DB of full beacon blocks to blinded format if the flag is added to an existing DB. This issue can be closed once

[2022-09-12 22:01] rkapka commented on #11436
I think this is a timeout issue as per `source: TimedOut`. Will look into this.

[2022-09-13 08:06] sleepyqadir commented on #11437
@prestonvanloon can you assign this task to me?

[2022-09-13 08:46] yorickdowne commented on #11437
Jim comments that he needs this to remain `name`. And to resolve this by "You could tweak the JSON in passing to change 'name' to 'description'.".

Reason as to why this is a wontfix in his library: "description isn't unique, whereas name is.  This was a long-ago argument, but we require the name field to be present and unique as it is commonly used as the reference for the account."

[2022-09-13 13:46] rkapka commented on #11436
I am querying `/eth/v1/validator/duties/sync/120832` on Prater and it gives me the response in a few seconds. You can try increasing the timeout with the `--api-timeout` flag.

[2022-09-13 14:22] lyzs90 commented on #9789
I do believe this is already implemented: https://github.com/prysmaticlabs/prysm/blob/develop/beacon-chain/core/altair/attestation.go#L290-L291

[2022-09-13 16:11] yorickdowne commented on #11436
Hey sorry for sending you down a rabbit hole! I think I overloaded this machine. I was trying to track down a connection issue, but I think in the process of trying to reproduce it I didn't give the clients enough resources.

Thank you for taking the time to have a look. If I find what caused the Vouch<->Prysm issue, I'll open a new github issue for it.

[2022-09-13 16:11] #11436 closed

[2022-09-13 17:47] prestonvanloon commented on #11437
@sleepyqadir Thank you!

@yorickdowne That seems reasonable. We could map description to name and the inverse as well.

[2022-09-13 17:59] potuz commented on #9789
The quoted check just checks for the correct source, did you mean something else?

[2022-09-14 00:28] lyzs90 commented on #9789
Correct me if I'm wrong: this participation flag is false if the delay is > 5 slots, hence the attestation will not be processed.

Or were you looking to filter prior to this, say OnAttestation?

[2022-09-14 00:40] potuz commented on #9789
That participation flag is false but that doesn't mean that the attestation won't be processed. An attestation can have false timely source (as is the case of the check you highlighted) but have true timely target. The point of the issue is that any attestation that has wrong target after 5 slots will have false **all timely flags** and therefore it only occupies space in blocks if included.

[2022-09-14 02:31] yasyzb opened #11442 "Should I restart prysm when I upgrade geth?"
I want to use prysm + geth + ipc.
And I notice that if geth stopped(upgrade), the file `geth.ipc` disappeared. So should I restart prysm when geth start again?

[2022-09-14 07:16] terencechain commented on #9789
@Iyzs90 I'm going to close this but feel free to reopen if there's any questions

[2022-09-14 08:48] nisdas opened #11444 "Handle Race When Initializing The P2P Service"
# 🐞 Bug Report

### Description

Currently if we initialize a libp2p host without initializing the peer manager in time, this could
cause a panic.

Bug Found By Antithesis.

### Has this worked before in a previous version?

N.A

## 🔬 Minimal Reproduction

It would be possible to trigger this for nodes running via a preknown/static identity at startup. If they are constantly dialed in from
inbound

[2022-09-14 12:15] mratsim commented on #11437
I think the spec (EIP-2335) needs to be rediscussed and eventually modified to support the current limitations then. Otherwise we'll get many varying implementations for a prime attack target.

[2022-09-14 15:39] Tumble23 commented on #11415
This can be solved by (re)installing the chrony package on Ubuntu.  I think we may have lost it in an upgrade...

https://www.osradar.com/ntp-server-chrony-ubuntu/

[2022-09-14 17:30] marshnmedia commented on #10892
@shiziwen did you resolve this?  I'm getting the same messages, but using erigon execution client on goerli

[2022-09-14 18:21] nazar-kuzo commented on #11418
Got same error lately, here are some logs during that time

[code]

[2022-09-14 18:25] izidorit opened #11447 "What happens with full node if Prysm not synced yet"
Hi Guys,

Sorry for opening this but I don't find the answer anywhere, and I'm afraid the worst will happen. We have 4 full nodes for ethereum mainnet, which will change to POS tomorrow.
I prepared GETH and PRYSM, but I'm very much concerned what will happen with our node, if PRYSM hasn't synced yet, and merge will happen?
It says in the logs it's ready "Ready for The Merge", but I can see it need

[2022-09-14 18:29] rauljordan commented on #11447
Hi Izidorit are you part of our discord? Come in and we can help https://discord.gg/prysmaticlabs

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: izidorit ***@***.***>
Sent: Wednesday, September 14, 2022 1:25:56 PM
To: prysmaticlabs/prysm ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [prysmaticlabs/prysm] What happens with full node if Prysm not synced yet (I

[2022-09-14 21:38] majedtraboulsi commented on #11414
@klestrong did the comment above resolve your issue? it did for me.

[2022-09-15 07:05] Ericalvin opened #11448 "what happened with this"
Hi every one,
I run a Geth and Prysm,  and prysm log say "Ready for The Merge", but still "initial-sync: Processing block batch of size", now already merge, what should i do ? wait the "initial-sync" finish ?

`[2022-09-15 07:00:50]  WARN powchain: Execution client is not syncing`
`[2022-09-15 07:00:41]  INFO initial-sync: Processing block batch of size 62 starting from  0x3b65eb41... 1674130/4700

[2022-09-15 11:34] GBBx opened #11449 "Erigon/Prysm combination not working (no terminal total difficulty)"
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...
Prysm-Erigon combo doesn't work on mainnet:
[code]

### Has this worked before in a previous version?

Not on mainnet.

## 🔬 Minimal Reproduction

Start latest Erigon (v2022.09.01):
[code]

Start latest Prysm (3.1.1):
[code]
I tried to add difficulty override to both Erigon and Prysm, in both hex and decimal format

[2022-09-15 11:37] masayil commented on #11449
My erigon node stucks at 15538247(post-merge)

[2022-09-15 12:00] xux1217 opened #11450 "Safe Head & Finalized Blocks Problem After Post-Merge"
# 🐞 Bug Report

### Description

please refer here: https://github.com/ethereum/go-ethereum/issues/25766

I find the "safe block number" is significantly behind "the latest block number", and "finalized block number" too.

It is different with the blob: https://blog.ethereum.org/2021/11/29/how-the-merge-impacts-app-layer
![image](https://user-images.githubusercontent.com/9280285/190398184-0520572f

[2022-09-15 12:08] etalot opened #11451 "Could not perform voluntary exit"
# 🐞 Bug Report

### Description

I'm trying to exit from validation, and getting error:
FATAL accounts: Could not perform voluntary exit error=could not perform exit: beacon node is syncing.

## 🔬 Minimal Reproduction

./prysm.sh validator accounts voluntary-exit --wallet-dir=$HOME/validators

## 🔥 Error

<pre><code>
FATAL accounts: Could not perform voluntary exit error=could not perform exit: be

[2022-09-15 13:14] iFA88 opened #11454 "Sync hangs"
# 🐞 Bug Report

### Description

Lot of `beacon node doesn't have a parent in db with root` error in log and syncing loops from a specific block. I run just the prysm without pow node.

## 🔥 Error

<pre><code>
time="2022-09-15 14:42:32" level=info msg="Node started p2p server" multiAddr="/ip4/88.151.101.14/tcp/13000/p2p/16Uiu2HAmRcCDxvWRSr79HmyfeMUdcb6NP7E33QWMP1eGPRN85qV1" prefix=p2p
time="2022-0

[2022-09-15 13:34] stellaro15 commented on #11447
Any specific reason why people should go to some gaming platform to receive support for project-related questions? There are a lot of emerging issues after the merge and we hope you guys aren't spending your time on gaming instead of working on Prysm.

[2022-09-15 13:37] stellaro15 commented on #11447
Any specific reason why people should go to some gaming platform to seek support for project-related questions? There are a lot of emerging issues after the merge and we hope you guys aren't spending your time on video games instead of working on Prysm.

[2022-09-15 13:39] sealbox opened #11456 "Beacon chain unable to find peers"
Hello,

I have been running geth 1.10.20 before the merge, and everything was working fine. Merge happened so I had to update. What I did is first to update geth to 1.10.24, then to install prysm 3.1.1. I am starting everything according to documentation in https://docs.prylabs.network/docs/install/install-with-script but I am unable to make it work.

My folder structure is as follows:

[code]

I

[2022-09-15 13:41] Sreeram1993 commented on #11448
Its because your beacon chain is not synced till merge slot. Wait for the beacon chain to sync. Then it will connect with geth node and run together.

[2022-09-15 13:45] prestonvanloon commented on #11447
The execution node would stop until a consensus client synced. You need both to stay with the chain after the merge.

[2022-09-15 13:45] #11447 closed

[2022-09-15 13:46] prestonvanloon commented on #11451
Please wait for your beacon node to finish syncing to complete the voluntary exit.

[2022-09-15 13:48] prestonvanloon commented on #11448
Thanks @Sreeram1993, that is correct. The execution client has halted until prysm is synced enough to drive it.

[2022-09-15 13:48] #11448 closed

[2022-09-15 13:55] rotsen11 commented on #11448
Enviado desde mi iPhoneEl 15 sep 2022, a la(s) 8:41, Sreeram J ***@***.***> escribió:﻿
Its because your beacon chain is not synced till merge slot. Wait for the beacon chain to sync. Then it will connect with geth node and run together.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-09-15 14:10] Ericalvin commented on #11448
@Sreeram1993 @prestonvanloon  thank you.

[2022-09-15 14:13] stellaro15 commented on #11447
That didn't happen at all, now a lot of people get out-of-synced Geth. Your post-merge integration for Geth is completely broken and there are lots of other issues emerging right now that you ignore.

I get now why you guys are using Discord. Not being able to take constructive critics isn't a good start for this project, as deleting comments you dislike like a toddler won't get you anywhere.  Sad

[2022-09-15 15:09] prestonvanloon commented on #11451
I think we can implement a form of offline signing for voluntary exits where you could submit to Infura via beacon API. It would not be easy to use because you would still need to know the correct fork information for creating the signature.

However, we do not support this at the moment and I do not have an ETA on when that could be supported.
It is unlikely that it is any time soon.

[2022-09-15 16:26] xux1217 commented on #11450
Sorry, I have fully understand the safe and finalized block number means, close the issue.

[2022-09-15 16:56] sealbox commented on #11456
Ok, It seems I was able to fix the powchain prefix error. The documentation states that it is possible to generate JWT token using this instruction - which I previously used:

[code]

But in my case (Ubuntu 18.04) it lead to creation of that "invalid signature" error when connecting to geth node. If I used the other solution of:

[code]

Then it works correctly, I don't have a powchain error anymo

[2022-09-15 18:47] #10231 closed

[2022-09-15 18:54] Zagal435 opened #11460 "ALZAGHAL"
# 💎 Issue

### Background

 Context and background information on the discussion...

### Description

[2022-09-15 19:04] smartins commented on #11454
I'm getting the same issue, prysm seems to have been stuck and can't finish syncing (and was synched before).
[code]

`head_slot` is always 4700063 and `sync_distance` keeps increasing

[2022-09-15 20:42] rkapka commented on #11454
Do you mean you did not run an execution client such as Geth or Nethermind? In that case it is the problem. You *need* it for Prysm to work correctly.

[2022-09-15 21:27] #11454 closed

[2022-09-16 01:41] tjayrush commented on #9385
Can you point me to instructions on how to do this?

[2022-09-16 02:30] SLoeuillet commented on #11364
geth light client missed that function
has been fixed upstream in current geth master :

https://github.com/ethereum/go-ethereum/pull/25752
https://github.com/ethereum/go-ethereum/commit/1d2f5cf610aa6ec9ae3e5b78d52c11f9d9ec3ad4

[2022-09-16 02:34] prestonvanloon commented on #9385
@tjayrush

If you install M1 native go on your M1 device, you can build Prysm with go like `go build ./cmd/beacon-chain` and it will be compiled for the M1 chip.

We have also started issuing M1 supported binaries with each release. They are labeled darwin_arm64.

Please DM me if you need more support!

[2022-09-16 03:22] aiji-nishijma commented on #11414
I'm also stuck in a similar situation.

[2022-09-16 05:52] vladbalmos commented on #11450
@xux1217 Can you please share why is the safe block so behind the head? I too was under the impression that it should be only seconds behind the "latest". Thanks!

[2022-09-16 07:19] smartins commented on #11454
geth is running as well but looses connection with prysm

<img width="791" alt="image" src="https://user-images.githubusercontent.com/396734/190579851-847547ac-2b35-49cc-8702-e727ac58da76.png">

[2022-09-16 07:31] smartins commented on #11454
I decided to delete prysm database and re-sync from scratch the beacon chain.

[2022-09-16 12:44] GBBx commented on #11449
It seems to have been an issue with my Erigon. See my comments in the other ticket.

[2022-09-16 12:44] #11449 closed

[2022-09-16 14:17] potuz commented on #9789
This issue is very much still open

[2022-09-16 16:40] lyzs90 commented on #9789
Cool, I think I'm getting close. Similar to the Teku implementation, the filter can be placed prior to block proposal: https://github.com/prysmaticlabs/prysm/blob/develop/beacon-chain/rpc/prysm/v1alpha1/validator/proposer_attestations.go

[2022-09-16 16:54] potuz commented on #9789
I'd support if there's an earlier path for this. Any delay in packing attestations hurts block proposals and may affect broadcast timing. If we could get rid of those attestations in the pool earlier it would be best I think.

[2022-09-16 19:29] sirnicolas21 commented on #11364
[code]
still doing it in ada603fa commit

[2022-09-16 20:03] uranik777 opened #11461 "download beaconchain.db"
Can I download the last full base Bolt DB - beaconchain.db for main eth2 somewhere ?

[2022-09-17 07:25] mtb-pro commented on #11461
I am also looking for beaconchain.db
Can anyone help?
prysm takes too long to sync

[2022-09-17 09:17] rotsen11 commented on #11448
- [ ] @rotsen11

[2022-09-17 13:25] rkapka commented on #11461
Hey guys, please see https://docs.prylabs.network/docs/prysm-usage/checkpoint-sync

[2022-09-17 14:08] #11461 closed

[2022-09-18 09:26] sirnicolas21 commented on #11364
[code]
and 8e520155

[2022-09-18 10:47] terencechain opened #11462 "Beacon node: how to unregister validators in db"
The current validator registration for mev-boost is stored in DB, which means when a validator register with `enabled-builder:true` and then restarts the validator client with `enabled-builder:false`, the beacon DB would still persist the validator registration as true. Some solutions are currently considered such as caching the registrations in memory (not DB), or deleting the registrations after

[2022-09-18 14:11] nazar-kuzo commented on #11418
Still getting this error after restarting Nethermind and Beacon Node.

Did restart two times in a row and had exact same issue.

Once Nethermind is up and running and I restart Beacon Node only then this error is not showing up.

Error that I see every minute:
`[2022-09-18 14:00:30] ERROR sync: Could not handle p2p pubsub error=could not process block: could not validate new payload: timeout from

[2022-09-18 21:39] nazar-kuzo commented on #11418
Also received this error recently

[code]

[2022-09-19 00:24] redhatlg opened #11464 "Unable to cache headers for execution client votes error"
Unable to cache headers for execution client votes error=(1663463511 > 1663224162): provided time is later than the current eth1 head。Hello, how to deal with the error reported in the latest version? Thank you

[2022-09-19 01:29] tunlong opened #11465 "No proposal for 20 days with 10 validators, is this normal?"
# 💎 Issue
I'm running 10 validators solo. It is a very long time I don't get a proposal since Aug 31. No error log found with below program. It seems erverything is fine, just no proposal. So I wanna know is this normal?
prysm 3.1.1
geth 1.10.25
mev 1.3.1
![image](https://user-images.githubusercontent.com/32350461/190940799-adb07dae-0e34-4405-ac7c-c79da92b235c.png)

[2022-09-19 01:44] Ericalvin opened #11466 "prysm time issue"
Hi, every one,
I run prysm+geth on the same host, and my prysm log say:
`Unable to cache headers for execution client votes error=(1663488087 > 1663322891): provided time is later than the current eth1 head`

how to fix this ? thank you.

[2022-09-19 05:48] zhaomengru2015 commented on #11466
same issue here
<img width="1778" alt="image" src="https://user-images.githubusercontent.com/9380107/190956293-0cf78fff-c7f5-4d40-82a5-210801d5f93d.png">

[2022-09-19 06:18] anchorite01 commented on #11466
Me too
![image](https://user-images.githubusercontent.com/40764351/190959378-d051be63-052f-447a-beb3-24a658f82a2d.png)

[2022-09-19 09:06] Ericalvin commented on #11466
@zhaomengru2015 @anchorite01  I think i know the cause of error , it look like geth was not fully synced, my geth is sync finish now, then prysm log  no longer show those log.

[2022-09-19 09:13] elsampsa opened #11469 "can't clear db"
[code]
???

[2022-09-19 09:51] zhaomengru2015 commented on #11466
@Ericalvin thanks for your reply
but my geth node stuck with error
<img width="1782" alt="image" src="https://user-images.githubusercontent.com/9380107/190992411-5c83dfe6-ef9f-4e5d-b41a-c35282671c0c.png">

[2022-09-19 10:14] zhaomengru2015 commented on #11466
@Ericalvin thanks for your reply, but my geth stuck with error
<img width="1361" alt="image" src="https://user-images.githubusercontent.com/9380107/190996003-66a28096-4a8f-48a6-a5a4-d9c01e8d9700.png">
anything I can do to fix that?

[2022-09-19 10:34] terencechain commented on #11466
Which prysm version? Afaik, the warning is removed in the latest release

[2022-09-19 13:04] prestonvanloon commented on #11469
Try this:
[code]

[2022-09-19 14:27] PPianAIC commented on #11456
me too, I also encountered this problem. How to find the suitable peers? Please!!!
./prysm.sh beacon-chain --datadir /data/ethereum/.ethereum --execution-endpoint=http://localhost:8551 --jwt-secret=/data/ethereum/consensus/prysm/jwt.hex --suggested-fee-recipient=0xB16f3bCCc8375Eb0AF2a27d970DB42CB60725620

[2022-09-19 14:22:44]  INFO p2p: Peer summary activePeers=0 inbound=0 outbound=0
[2022-09-19

[2022-09-19 15:00] skillful-alex commented on #11462
It can be normal.
But to understand exactly, you need to see what the status of the validator is, and whether attestations are sent to them. For example on https://beaconcha.in/

[2022-09-19 15:02] skillful-alex commented on #11465
It can be normal.
But to understand exactly, you need to see what the status of the validator is, and whether attestations are sent to them. For example on https://beaconcha.in/

[2022-09-19 15:07] prestonvanloon commented on #11465
Proposers are selected at random. Given that this is random, you might not get a block for 100 days and you might get 100 blocks in one day.  You should expect each of your validators to propose 4 to 6 blocks per year, on average.

With that said, I don't believe there is any technical issue here.

[2022-09-19 15:07] #11465 closed

[2022-09-19 15:10] tunlong commented on #11465
I have checked the status on beaconcha.in. The attestations is good enough, even no misss attestation.

[2022-09-19 17:07] smartins commented on #11454
Following up on this issue, got stuck on the same location as before, having synced the beacon chain from scratch again.

[code]
[code]

This time stuck at `head_slot` 4700031

[2022-09-19 17:19] b10c77 opened #11471 "Sync stuck at head_slot 4700031"
# 🐞 Bug Report

### Description

Lots of `beacon node doesn't have a parent in db with root` errors in log and syncing loops from a specific block.

## 🔥 Error

<pre><code>
block in batch: could not reconstruct parent state
[2022-09-19 17:06:16]  INFO initial-sync: Processing block batch of size 63 starting from  0x063c579d... 4700096/4731929 - estimated time remaining 4m57s blocksPerSecond=107.1

[2022-09-19 17:20] yierx opened #11472 "It should return 404 instead of 500 for GRPC error code `NotFound`"
# 🐞 Bug Report

### Description

`curl -v http://127.0.0.1:3500/eth/v1/beacon/headers/4723199` returns

[code]

[2022-09-19 17:23] iFA88 commented on #11454
It seems you did not have synced any block from POS to execution layer? DO you have connection to it?

[2022-09-19 17:55] smartins commented on #11454
I do, but geth looses connection with prysm after a few minutes.

Basically, when prysm is on the "state" of showing the logs `beacon node doesn't have a parent in db with root`, geth is unable to connect to it

`WARN [09-19|17:50:17.305] Post-merge network, but no beacon client seen. Please launch one to follow the chain!`

If I restart prysm, geth is able to connect:
`WARN [09-19|17:52:32.317] B

[2022-09-19 17:56] iFA88 commented on #11454
Which version of prysm do use? do a `prysm -v`

[2022-09-19 18:06] iFA88 commented on #11454
What happens when you wait half-one hour? When the issue is still available, please open a new issue about this.

[2022-09-19 18:08] smartins commented on #11454
Remains stuck as before. Left it overnight already.

Already opened a new ticket, https://github.com/prysmaticlabs/prysm/issues/11471

[2022-09-20 03:48] gavin-xin opened #11473 "Beacon API does not meet the Eth2Spec"
# 🐞 Bug Report

### Description

If we query a non-existed block using `/eth/v2/beacon/blocks/{block_id}` API,
-  As the [spec](https://ethereum.github.io/beacon-APIs/#/Beacon/getBlockV2) described, prysm endpoint should returns status code `404` , with mesage: `{ "code": 400,"message": "Invalid block ID: current"}`
- But `v3.1.1` will return status code `500`, with message: `{"message":"GetBlockV

[2022-09-20 07:27] nitikas99 commented on #11471
is there any other solution we can't start the chain again, if there is any option help

[2022-09-20 07:38] nitikas99 opened #11474 "Sync stuck at head_slot 4700031"
[2022-09-20 04:41:21]  WARN initial-sync: Skip processing batched blocks error=beacon node doesn't have a parent in db with root: xxxxxxxxxxxxxxxxxxxxxxxxxx (in processBatchedBlocks, slot=4700351)

[2022-09-20 07:52] nitikas99 opened #11475 "WARN initial-sync: Skip processing batched blocks error=beacon node doesn't have a parent in db with root: xxxxxxxxxxxxxxxxxxxxxxxxxx (in processBatchedBlocks, slot=4700351)"
WARN initial-sync: Skip processing batched blocks error=beacon node doesn't have a parent in db with root: xxxxxxxxxxxxxxxxxxxxxxxxxx (in processBatchedBlocks, slot=4700351)

[2022-09-20 11:20] #11469 closed

[2022-09-20 11:32] elsampsa opened #11476 "Estimated time to sync creeps up"
### Description

Started a fresh sync more than 24 hrs ago.  Here are some of the logs on the way:
[code]

### Has this worked before in a previous version?

Prysm has _never_ worked for me.

## 🔬 Minimal Reproduction

Ditto

## 🔥 Error

Sync time just keeps creeping up.  Currently at 60+ hrs.

## 🌍  Your Environment

**Operating System:**

[code]

**What version of Prysm are you running? (Which r

[2022-09-20 11:36] elsampsa commented on #11476
appendum: running as systemd daemon.  Here you can see the actual command used to run it:
[code]

[2022-09-20 13:56] prestonvanloon commented on #11473
Duplicate of #11472

[2022-09-20 14:01] prestonvanloon commented on #11476
Are you running two beacon nodes?

PID 1296 was at 4259808/4728644, very close to the head of the chain.
And then it seems like you have a second process with PID 15521 that is much farther behind 1920192/4737418.

In any case, I understand the frustration caused by this time remaining estimate. Phase 0 syncs at about 100 blocks per second while Altair or Bellatrix syncs about 10 blocks per second

[2022-09-20 14:04] prestonvanloon commented on #11474
Duplicate of #11471

[2022-09-20 14:04] #11474 closed

[2022-09-20 14:06] #11475 closed

[2022-09-20 14:07] prestonvanloon commented on #11471
What flags are you using? Is this an IPC connection?

[2022-09-20 14:12] prestonvanloon commented on #11471
This seems like a meaningful message and I believe it originates here:

https://github.com/prysmaticlabs/prysm/blob/653ea3b030c3bb99aa3f3d95a8de9f4d6e147930/beacon-chain/blockchain/process_block_helpers.go#L72-L74

Next in the error stack:

https://github.com/prysmaticlabs/prysm/blob/653ea3b030c3bb99aa3f3d95a8de9f4d6e147930/beacon-chain/blockchain/receive_block.go#L93-L97

Was there more to that e

[2022-09-20 14:17] prestonvanloon commented on #11471
For what it's worth, `4700479` is the merge block. I suspect there may be some issue with your connection between execution client and consensus client.

[2022-09-20 16:52] prestonvanloon commented on #11456
Could you try turning the log verbosity higher? `--verbosity=debug`

Maybe there are some clues there, however I suspect the problem is a misconfiguration of the firewall or networking issues rather than a software issue.

[2022-09-20 16:55] prestonvanloon commented on #11464
Consolidating this as a duplicate of #11466.

[2022-09-20 16:55] #11464 closed

[2022-09-20 16:57] prestonvanloon commented on #11466
@terencechain that warning was not removed.

https://github.com/prysmaticlabs/prysm/blob/653ea3b030c3bb99aa3f3d95a8de9f4d6e147930/beacon-chain/execution/service.go#L541-L549

[2022-09-20 17:00] prestonvanloon commented on #11466
I suspect this is an issue only during initial syncing, when the execution client (eth1) head is still behind the requested block header cache range.

The warning can be safely ignored during initial sync. However if you are seeing these issues once both clients are fully synced, then it is a bigger issue.

In any case, I think the UX needs to be improved in Prysm

[2022-09-21 05:59] dtto commented on #8459
I stumbled upon this issue when trying to figure out why prysm was sending traffic to RFC1918 addresses. FWIW, I am not sure why this is the default behavior. For use cases where traffic needs to be sent to RFC1918 it could be enabled.

Also, for anyone else who wants to disable it and uses a yaml config file, it may be done using:

`p2p-denylist: ["10.0.0.0/8","172.16.0.0/12","192.168.0.0/16","10

[2022-09-21 06:28] Sreeram1993 commented on #11476
Similar scenarios in my node as well. I have 2 geth archival nodes connected to 2 beacon nodes and both seems to have completed merge. But the geth node seems to be syncing very slowly. PFB the status from both nodes

GETH
node 0 - INFO [09-21|06:25:06.231] Imported new potential chain segment blocks=1 txs=295 mgas=22.221 elapsed=9.974s mgasps=2.228 number=15,559,291 hash=0961a7..1d9571 age=2d21h4

[2022-09-21 14:27] rauljordan opened #11477 "POST /eth/v1/beacon/blinded_blocks Does Not Work"
# 🐞 Bug Report

### Description

The `POST /eth/v1/beacon/blinded_blocks` endpoint in Prysm does not work correctly. It accepts a blinded beacon block and then passes it through the normal `submitBlock` function that are used for all other block types. This function broadcasts over p2p, processes in the blockchain service, and more. However, a blinded block _must_ be converted to full format befor

[2022-09-21 15:27] tropicar opened #11478 "Do an exit of your validators if you use a external signer"
# 💎 Issue

### Background + definition

If you have a infrastructure where its running validator/beacon chain + web3signer, th ekeystore files are not allocated on the validator container. Its possible to do an exit in the same way if you allocate the keystone in the validator container?

Adding more content related, i have tried to do the exit with the next command:
`validator accounts voluntary-

[2022-09-21 15:29] kayagoban opened #11479 "Client-stats stops validator from functioning (and doesn't work itself)"
# 🐞 Bug Report

### Client-stats prevents validator from functioning (and doesn't work itself)

When I run client-stats and connect to the beacon and validator, two things happen:
1) I get JSON that has no useful stats
2) the validator process stops processing validatiions

### Has this worked before in a previous version?

Actually the client-stats binary used to crash prysm completely, so this i

[2022-09-21 16:57] lyzs90 commented on #9789
@potuz Do let me know if that MR is on the right track, I think this is as early as it gets for filtering during block proposal. An alternative is while pruning the attestation pool, we could check the head and attempt filtering there?

[2022-09-21 18:55] mcdee opened #11481 "Fetching beacon block through API triggers relay request"
# 🐞 Bug Report

### Description

When an attempt to obtain a beacon block via the `/eth/v2/validator/blocks/{slot}` is made to a beacon node configured with an MEV relay, the beacon node erroneously contacts that MEV relay.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

- configure prysm with the `--http-mev-relay` option
- attempt to fetch a block via the REST

[2022-09-21 19:09] elsampsa commented on #11476
Sorry about the confusion.. It seems I mixed up two different logs: the earlier PID 1296 corresponds to an earlier desperate attempt to run prysm & geth (an older version which I updated) together.  I've cross-checked: there is only one prysm running.

So let's concentrate on that later run (pls dont mind the pid this time: I stopper & restarted the daemon):
[code]

The problem here seems to be th

[2022-09-21 19:26] prestonvanloon commented on #11476
A block is produced every 12 seconds. You are syncing at 9 blocks per second, so you will eventually catch up. The bottleneck is likely disk I/O and CPU or memory constraints. That internet connection is sufficient and it seems like you have plenty of peers.

Running multiple instances of beacon chain and geth on the same machine will slow each of them down since they are sharing resources. For Pr

[2022-09-21 21:12] elsampsa commented on #11476
Well, I am _not_ running multiple instances of geth & prysm.  Just one instance of geth (that's at the moment just sitting there, waiting for prysm to sync) and one instance of prysm.

You pointed out that beacon chain produces 0.08 blocks per second.  My client's speed is 9 blocks per second.

What would be an acceptable blocks-per-second speed to sync from scratch within a few days (it's too lat

[2022-09-22 12:02] nazar-kuzo commented on #11418
@potuz @nisdas I assume that this fix [https://github.com/prysmaticlabs/prysm/pull/11487](https://github.com/prysmaticlabs/prysm/pull/11487) might be related to some of the issues mentioned here

[2022-09-22 20:13] #11477 closed

[2022-09-22 21:00] maxwolff commented on #11113
@terencechain could you say more about what you think the deliverable is here? should we actually start up a mev-boost server in the e2e test? run the docker image?

[2022-09-23 01:03] Chaz27 opened #11490 "mev-boost context deadline exceeded"
# 💎 Issue

I've setup mev-boost locally and connected to the endpoint via the beacon node config --http-mev-relay="http://localhost:18550".
However both times trying to retrieve a block I've received the error message "context deadline exceeded". I'm guessing this is a timeout error?

In the mev-boost logs, there are no errors, all requests have success 200. However what I did notice is the last r

[2022-09-23 14:21] alex-test-38 commented on #11414
I have the same issue and using host network mode can work it out. But I have no idea why Prysm beacon node cannot connect geth node under docker network settings.

[2022-09-23 14:45] DerekYeung opened #11491 "How do I connect to other nodes within the intranet"
I have several machines on the same LAN all running beacon nodes, is there any way to connect these nodes together?

[2022-09-23 14:49] prestonvanloon commented on #11490
The builder API specification says honest proposers must abort the SignedBuilderBid request after 1s.

https://github.com/ethereum/builder-specs/blob/main/specs/validator.md#relation-to-local-block-building

This timeout is not configurable in Prysm. Consider using a different relay or local block production only.

[2022-09-23 14:53] prestonvanloon commented on #11476
OK, I was confused why you had two processes originally. One of them was almost entirely synced and the other was about half way.

Your results here are typical. The initial sync process is slower in the later phases of the beacon chain.

Closing this issue now as there doesn't seem to be any technical issues. We are aware that sync slows down over time.

[2022-09-23 14:53] #11476 closed

[2022-09-23 15:14] prestonvanloon commented on #11481
@mcdee Could you help point to the part in the specification that says a block retrieved from `/eth/v2/validator/blocks/{slot}` must be a block produced by a local execution node? In review of #11488, I was struggling to find this information.

[2022-09-23 15:26] prestonvanloon commented on #11491
You can use the `--peer` flag multiple times to connect nodes. Your peer address is printed at start up

[2022-09-23 15:59] mcdee commented on #11481
https://ethereum.github.io/beacon-APIs/#/ValidatorRequiredApi/produceBlockV2 states that the returned object is a `BeaconBlock`, not a `BlindedBeaconBlock`.  As such, the block must return a full `ExecutionPayload`.  MEV-boost relays do not provide an `ExecutionPayload`, only an `ExecutionPayloadHeader`, prior to being presented with a signed `BeaconBlockHeader`.  Hence it is not possible for `/et

[2022-09-23 16:38] prestonvanloon commented on #11481
Thanks @mcdee. That makes sense!

[2022-09-23 16:46] prestonvanloon commented on #11472
I believe this is resolved by #11486

[2022-09-23 16:46] #11472 closed

[2022-09-23 17:08] DerekYeung commented on #11491
`--peer nodeAddress`?

[2022-09-23 17:09] DerekYeung commented on #11491
btw can I use one consensus client to serve multiple execution clients?

[2022-09-23 17:11] prestonvanloon commented on #11491
Look for a message like this
[code]

Then in your other client add the peer flag like this
[code]

You can specify the peer flag multiple times for each peer you want to add manually.

[2022-09-23 17:12] prestonvanloon commented on #11491
Not at this time. It's a bit more complicated than it sounds

[2022-09-23 17:13] DerekYeung commented on #11491
oh I see, I guess the description of this documentation confuses me, it says "Connect with this peer", I didn't realize "this" represented the target address lol

[2022-09-23 17:13] DerekYeung commented on #11491
got it, thanks!

[2022-09-23 17:14] prestonvanloon commented on #11491
Is there somewhere we can improve that documentation?

cc @mick-prysm (docs expert)

[2022-09-23 17:25] DerekYeung commented on #11491
--peer value            Connect with this peer. This flag may be used multiple times.  (accepts multiple inputs)

I perfer change to "Connect with target peer"
"this" made me mistake it for itself, personal feeling

[2022-09-23 17:51] DerekYeung commented on #11491
opps I have a question my prysm client is running via docker, so the address in the logs is `/ip4/172.18.0.3/tcp/13001/p2p/`, can I change 172 to my local ip? will that work or I need set something up?

[2022-09-23 17:53] prestonvanloon commented on #11491
Try setting `--p2p-host-ip` to the appropriate value. This is the IP that the node will advertise, and I think will affect the log message you see to have the correct IP.

[2022-09-23 17:54] DerekYeung commented on #11491
I currently set p2p-host-ip to my real ip and map it in the route

[2022-09-23 17:55] DerekYeung commented on #11491
let me try the local ip first, if it doesnt work I think the public ip should work right

[2022-09-23 17:58] prestonvanloon commented on #11491
Yeah, you can just replace the public IP with the private one. That ought to work.

[2022-09-23 17:59] DerekYeung commented on #11491
@prestonvanloon is there anyone to check if its working?

[2022-09-23 18:00] prestonvanloon commented on #11491
Check http://localhost:8080/p2p to see your peers. If it's not on localhost, you may need to set `--monitoring-host=0.0.0.0`

[2022-09-23 18:01] #11491 closed, assigned to nobody

[2022-09-23 18:45] #11481 closed

[2022-09-24 07:42] melodyht opened #11494 "How do I merge into geth private network?"
How do I merge into geth private network?

[2022-09-24 13:46] zeb-roshan opened #11496 "Prysm Consensus Client Sync Issue"
### Description

 A clear and concise description of the problem...
Conensus Client suddenly stops validating, and the following issue shows:

![image](https://user-images.githubusercontent.com/89435901/192101390-1c227d59-fd48-47cc-bc68-c256a75a7d01.png)

Sync continues to loop but never ends.

Execution Client shows the following:
![image](https://user-images.githubusercontent.com/89435901/192101

[2022-09-24 16:46] pyraven commented on #11456
I had this issue last night. I noticed that when I started geth, it was loading a jwt from /home/<user>/.ethereum/geth/jwtsecret which was different than the one I created and started geth with "--authrpc.jwtsecret=/home/<user>/prysm/jwt.hex." I recommend checking this when geth starts up and make sure it matches that of the beacon client.

[2022-09-24 17:54] #11496 closed

[2022-09-25 20:02] nazar-kuzo opened #11497 "Prysm CL shows `could not migrate to cold` error from time to time"
# 🐞 Bug Report

### Description

Prysm CL shows `could not migrate to cold` error from time to time

[code]

### Has this worked before in a previous version?

I dont know

## 🔬 Minimal Reproduction

Run Nethermind + Prysm docker containers. Wait for error to appear in logs

Nethermind
[code]

Prysm CL
[code]

## 🔥 Error

Logs for error at `[2022-09-24 09:59:39]`
[code]

Logs for error at `[2022-0

[2022-09-26 02:56] Ericalvin opened #11500 "error=no contract code at given address"
Hi every one,
My eth is use prysm+geth, and i found my prysm log say ERROR with:

[code]
[code]

but my geth is syned finish, below is geth log :

[code]

geth is follow the new block number, why prysm say not fully synced,  thank you.

[2022-09-26 15:31] prestonvanloon commented on #11500
I believe this log is part of the issue. State heal in progress may mean that the state is missing data, such as the deposit contract. From some online searching, this may take 4 hours or more to complete after your initial syncing.

[2022-09-26 23:52] terencechain commented on #11490
I believe this is related and somewhat addressed by: https://github.com/prysmaticlabs/prysm/pull/11413

[2022-09-27 01:47] Ericalvin commented on #11500
@prestonvanloon yes, you're right!! after many hours, now the log is back normal, thanks a lot.

[2022-09-27 05:09] #11500 closed

[2022-09-27 11:02] krasi-georgiev opened #11504 "Why not expose the api structs so that clients can use to marshal and unmarshal requests and responses?"
For example exposing the  `validatorJson` would help parse a response from a client

[2022-09-27 12:53] sungjun-kdac opened #11505 "Prysm Validator Node's multiple beacon endpoints with TLS are not working."
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...
I runned one prysm validator node as follows.
--beacon-rpc-provider=xxx.xxx.xxx.xxx:4000,yyy.yyy.yyy.yyy:4000
 --tls-cert=/config/tls/ca.cert
But validator node is not working.
In case of --beacon-rpc-provider=xxx.xxx.xxx.xxx:4000 only one parameter, It is working well.
Is it bug?

### Has this worked before in a p

[2022-09-27 14:21] terencechain commented on #11466
My bad, looks like this PR didn't make it to 3.1.1: https://github.com/prysmaticlabs/prysm/pull/11398

I think the UX can still be improved. Maybe we can change logging to `Unable to cache headers for execution client votes, perhaps your execution layer client is still syncing`

[2022-09-28 12:36] nalepae opened #11507 "Could not sign validator registration"
# 🐞 Bug Report
- EL Geth version: `v1.10.23`
- BN/VC Prysm version: `v3.1.1`
- MEV-Boost version: `v1.3.2`
- Web3Signer version: `22.8.1-jdk17`

### Description

When running Geth/Prysm/MEV-Boost (and Web3Signer) combo on `mainnet`, with only one key, I get this error on Prysm VC:
[code]

However, I get this in BN logs, which seems normal.
[code]

MEV-Boost logs:
[code]

In a normal situation, VC

[2022-09-28 13:21] james-prysm commented on #11507
Do you see anything on web3signer? maybe something wasn't properly added in web3signer?

[2022-09-28 13:23] james-prysm commented on #11478
I'll start looking at this. currently we don't handle this.

[2022-09-28 13:26] parithosh opened #11508 "[FEAT] Support genesis from a merged state"
# 🦄 Feature Tracking

**Opt-in feature flag name**: `--enable-merge-genesis-state`

### Feature Description

Current testnet tools all generate a phase0 genesis state and are perfect for testing the merge transition. However, now that the merge transition is completed on mainnet, we'd like to deprecate these tools to save on testing time/complexity with TTD.  This would require client teams to sup

[2022-09-28 13:36] nalepae commented on #11507
Do you think this issue is related to W3S?
Apart proposing block via MEV-boost, everything goes well:
- Attestations are OK
- Block proposals are OK (but coming from EL)

To be 100% sure this issue does not come from W3S, I will create a `debug` W3S instance especially with only the key I'm trying to get working with Prysm.

[2022-09-28 13:40] james-prysm commented on #11507
you mentioned you're using > and Web3Signer

since the validator registration needs to be signed it submits it to the Web3signer to sign before submitting the registration requestion to the MEV relay.

[2022-09-28 14:25] nalepae commented on #11507
OK:

Here is log from Prysm VC:
[code]

And, at the same timestamp, log from Web3Signer:
[code]

Do you think the issue could come:
- From Prysm?
- From Web3Signer?
- From a bad configuration on my side?

[2022-09-28 14:55] #11399 closed

[2022-09-28 14:58] james-prysm commented on #11507
I'm guessing it's a configuration issue, most likely with web3signer (possibly due to the network it's on?) it looks like it's on mainnet? web3signer does a validator of the schema of the request so guessing it's not the format of the data sent... if it's using the latest we can see if anything changed recently.

[2022-09-28 15:08] james-prysm commented on #11322
I merged a fix to develop, if anyone wants to try it out and provide any feedback here. the persistence happens at the start of each epoch.

[2022-09-28 15:10] nalepae commented on #11507
You'r right!

Found this in the Web3Signer configuration:
[code]

instead of

[code]

Thanks!

[2022-09-28 15:10] #11507 closed

[2022-09-28 18:07] kapisolec opened #11509 "could not read JWT secret file for authenticating execution API"
# 💎 Cannot open JWT secret file

### Description

 Hello, I'm trying to sync my own Ethereum fullnode after the merge. I decided to use prysm beacon node and I constantly get the error:
[code]

I've got no clue why it's happening. If I run my geth execution client it works just fine (it says loaded jwtsecret succesfully). Only when I try to use the consensus client I get the error. Obviously there

[2022-09-28 22:55] philknows commented on #11430
Hi @nisdas and @rauljordan! Any updates on when this may get implemented in Prysm? Thanks!

[2022-09-29 04:39] nisdas commented on #11430
Hey @philknows ,

Will take a look at this today/this week. Its a simple change on our end.

[2022-09-29 09:37] nisdas opened #11510 "v3.1.2 Release Tracking"
# 💎 Issue

### Background

This issue tracks all the required items for our first post-merge release.

### Description

- [x] Fix incorrect engine api timeouts. #11487
- [x] Fix context deadlines when saving historical states. #11501
- [x] Add flag to extend engine api timeouts. #11489
- [ ] Migrate bellatrix blocks when enabling blinded payloads. #11438
- [x] Add support for new lodestar agent ve

[2022-09-29 19:48] james-prysm commented on #11509
From the error it's definitely saying that the path is not accessible, since it's running from docker maybe the relative path/absolute path is not what it's expected to be.

[2022-09-29 19:48] #11383 closed

[2022-09-29 20:30] prestonvanloon commented on #11509
@kapisolec You must make that file available to you docker container. You did a volume mount for `$HOME/.eth2` but did not do a volume mount for `/root`

[2022-09-30 02:34] terencechain commented on #11510
Let's also take care of #11340

[2022-09-30 03:40] rauljordan commented on #11504
This is a good idea @rkapka , otherwise people have to resort to writing their own tools. Seems like simply exporting the structs could be sufficient and could be done using goland refactoring capabilities

[2022-09-30 03:55] prestonvanloon commented on #311
I think CLA assistant has been much more stable since this issue was filed 4 years ago.

[2022-09-30 03:55] #311 closed

[2022-09-30 03:59] prestonvanloon commented on #6382
Closing this old post. Log rotation seems more of an operator preference than an application feature.

However, if there is still demand for documentation and examples of using logrotate, then please file a request at https://github.com/prysmaticlabs/documentation

[2022-09-30 03:59] #6382 closed

[2022-09-30 04:14] prestonvanloon commented on #6317
Libp2p uses github.com/ipfs/go-log/v2. Perhaps we can do something like this?
[code]

This may not be the correct use of [io.PipeReader](https://pkg.go.dev/io#PipeReader), but it seems like there is a path forward.

Go-ethereum seems to use their [own logging library](https://pkg.go.dev/github.com/ethereum/go-ethereum/log) that is similar to glog. The API offers handler registration and perhaps th

[2022-09-30 04:15] #6798 closed

[2022-09-30 04:15] prestonvanloon commented on #6798
This has been fixed for some time. Thanks @rauljordan

[2022-09-30 04:17] prestonvanloon commented on #6837
Closing this as it's very old and out of date. Please comment here to reopen or file another issue if this is still an issue.

[2022-09-30 04:17] #6837 closed

[2022-09-30 04:18] prestonvanloon commented on #7950
This is done since v3.0.0. We just need to amend the prysm.sh and prysm.bat scripts for darwin users to download the ARM64 binary instead of using the AMD64 version.

[2022-09-30 07:16] PacoBits opened #11516 "Empty Block. Txs on EC but not seen anything on Prysm"
We produced a empty block: https://etherscan.io/block/15637620

This issue is reproducible on mainnet and prater using this setup:

We have a 3-layer configuration with the validator client, the Beacon node  and the execution client running separately.

These are our current versions and configs:

[code]

[code]

[code]

The attached logs shows block was generated by besu with 276 transactions, bu

[2022-09-30 09:16] kapisolec commented on #11509
Thank you very much, I mounted /root volume and it worked, thanks!

[2022-09-30 09:16] #11509 closed

[2022-09-30 12:15] emrahsariboz opened #11517 "Why eth.blocknumber is 0 while syncing"
# 💎 Issue
eth.blocknumber is zero despite sync.

### Background
I use `geth` and `prysm` to run full-node on the Ethereum blockchain. On the attached screenshot, the most-left terminal is geth, the middle is prysm, and the right-most is client attached to the geth console. Despite sync (as seen on the middle terminal), my `eth.blocknumber is zero`. Why is this the case?

[2022-09-30 12:15] emrahsariboz commented on #11517
<img width="1183" alt="Screen Shot 2022-09-30 at 6 07 16 AM" src="https://user-images.githubusercontent.com/10096038/193267436-97983d5b-d4cc-47a2-bc78-65e257168621.png">

[2022-09-30 12:19] potuz commented on #11516
Besu's log shows
[code]
Which is the block that was published with zero transactions, and then later shows
[code]
that it built the block with the same identifier in 3.5 seconds. I am guessing that there is a timeout going on here, hinting to a Besu bug.

On the other hand, Besu's logs also show something strange: there are many different `newPayloads` in sequence, and only few  FCU. It would be n

[2022-09-30 12:25] ymonye opened #11518 "beaconchain.db Archive Data Will Quickly Exceed the 16TB File Size Limit on EXT4 Filesystems"
Hi,

As I'm currently synching an archive mainnet instance of Prysm, I'd noticed everything is kept in a single file (beacondchain.db) which is already at 4TB. I can always accommodate by migrating to XFS RAID arrays, but this would be an issue once it approaches the 16TB file size limit for users on EXT4 formatted RAID arrays.

Does the team plan to split the beaconchain.db data into multiple fil

[2022-09-30 13:15] terencechain opened #11520 "Beacon api `GetProposerDuties` does not cache proposers for next slot"
Related [11516](https://github.com/prysmaticlabs/prysm/issues/11516)

For an EE to prepare a payload in advance, the beacon node must know the to-be-served proposers at the current epoch. If at slot `N`, the beacon node knows it is serving a proposer at `N+1`. The beacon node will call FCU with a payload attribute. Or else the beacon node will not do that.

We currently do this for prysm-api, but

[2022-09-30 13:17] potuz commented on #11520
Related to #11516 (note that this does not explain the lack of FCU logs in that issue)

[2022-09-30 13:56] prestonvanloon commented on #11517
Please see the commentary in this issue https://github.com/ethereum/go-ethereum/issues/23405#issuecomment-899770257

[2022-09-30 14:03] prestonvanloon commented on #11518
@ymonye What is the value for `--slots-per-archive-point=`?

Using multiple files would require a different database backend. We currently use [bbolt](https://pkg.go.dev/go.etcd.io/bbolt). It would be a considerable effort to add a different database backend, but it is possible

[2022-09-30 14:16] prestonvanloon commented on #11471
Are you still stuck ?

[2022-09-30 15:13] potuz commented on #11516
Confirmed with Besu that they don't log all FCUs so fixing #11520 should close this issue. Can we probably mark it as duplicate?

[2022-09-30 15:18] fab-10 commented on #11516
Looking at the Besu logs, the GetPayload was called shortly after the FcU call with the payload parameters, and so only the empty block was ready at that time, and it was returned, concurrently the better one was still building but if was ready too late. We are evaluating strategies to mitigate this kind of scenario and avoid returning an empty block.

[2022-09-30 17:19] #11516 closed

[2022-09-30 17:19] #11520 closed

[2022-09-30 18:10] ybstaked opened #11522 "Expose current sync committee and next sync committee per pubkey in the validator prometheus metrics"
# 🚀 Feature Request

### Description

Mainly need to know two things (from sync committee perspective):
- which pubkey is in a sync committee currently
- which pubkey will be in a sync committee next

If we're really concerned about data, then as a baseline, even just knowing that the validator has one of the keys in sync committee currently and/or next would be useful to expose via prometheus, so

[2022-09-30 19:12] emrahsariboz commented on #11447
So that means the execution client will not start syncing until Prysm finishes sync?

[2022-09-30 23:49] prestonvanloon commented on #11447
It means that the execution client will sync up until the last proof of work block, then it needs a consensus client to continue. I could be wrong, I haven't tried it myself, but that is how I understand it.

[2022-10-01 01:42] apiscerena opened #11525 "unable to continue the checkpoint sync: could not get ancestor state"
How to restart and continue the sync procedure?
`
10月 01 09:17:56 yang systemd[1]: Started eth consensus layer beacon chain service.

10月 01 09:17:58 yang prysm.sh[3170]: Latest Prysm version is v3.1.1.
10月 01 09:17:58 yang prysm.sh[3170]: Beacon chain is up to date.
10月 01 09:17:58 yang prysm.sh[3170]: Verifying binary integrity.
10月 01 09:17:59 yang prysm.sh[3170]: beacon-chain-v3.1.1-linux-amd6

[2022-10-01 01:47] ymonye commented on #11518
Hey Preston, I have this value at 1. I just double-checked your docs and saw the recommended value is a multiple of 32... my mistake there. Could that be why my db built up so quickly to 4TB?

[2022-10-01 08:53] potuz commented on #11518
Certainly, 32 or even 128 would work fine for an archive node

[2022-10-01 14:45] ymonye commented on #11518
Thank you!

[2022-10-01 14:45] #11518 closed

[2022-10-01 22:44] rauljordan commented on #11442
The IPC file will reapper if you restart geth. Please let us know if you still run into issues and we can reopen

[2022-10-01 22:44] #11442 closed

[2022-10-02 13:43] mcdee opened #11529 "/eth/v1/events head not returning individual attestation data"
# 🐞 Bug Report

### Description

The `/eth/v1/events` endpoint does not send the correct data for individual attestations.  The attestations are received as:

[code]

### Has this worked before in a previous version?

Unknown.

## 🔬 Minimal Reproduction

Check output of
[code]

over a 12-second period.
## 🌍  Your Environment

`beacon-chain version Prysm/v3.1.1/653ea3b030c3bb99aa3f3d95a8de9f4d6e147

[2022-10-03 03:52] pmdyy opened #11531 "`WARN powchain: Unable to cache headers for execution client votes`"
# 🐞 Bug Report

### Description

Getting this warning ever so often. I'm not sure if this is normal or not:

[code]

### Has this worked before in a previous version?

 No idea, I'm new to Prysm.

## 🔬 Minimal Reproduction

Start up Erigon as execution client and once it is fully synced, sync up Prysm v3.1.1 to the beacon chain on mainnet.

## 🔥 Error

Prysm (Consensus layer):

<pre><code>
Startin

[2022-10-03 15:52] mick-prysm opened #11532 "`--monitor-indices` doesn't produce expected `INFO: monitor` output"
# 🐞 Bug Report

### Description

`--monitor-indices` doesn't produce expected output. [Docs set the expectation](https://docs.prylabs.network/docs/prysm-usage/individual-validator-monitoring) that `beacon-chain --monitor-indices 1` will generate output `INFO monitor: "Starting service" ValidatorIndices="[1 2 12 15]"`. I don't see this using 3.1.1:

![Untitled](https://user-images.githubusercontent

[2022-10-03 17:53] #11433 closed

[2022-10-03 18:22] cprivitera opened #11573 "Feature Request: Validator flag to bypass confirmation prompt when exiting"
Source: https://docs.prylabs.network/docs/wallet/exiting-a-validator

Request: (how can we help?)

Is there a way to bypass the prompt when exiting a validator? Is there a flag to accept-voluntary-exit?

[2022-10-03 20:40] rauljordan opened #11533 "Consider Hardcoding Genesis Values as Config Parameters"
In Prysm, we tend to use the blockchain service or other places in order to retrieve the chain's genesis time. However, this is not relevant for most networks that have already had a genesis. Instead, we can add the actual chain genesis times for the different networks we support under our `params.BeaconConfig()` which could be modified if a user wishes to via a custom configuration. This would el

[2022-10-03 22:05] james-prysm commented on #11322
still broken adding more fixes

[2022-10-04 06:40] nisdas commented on #11532
@potuz any ideas ?

[2022-10-04 08:37] potuz commented on #11532
Something broke in the cli parsing of integer slices. It's returning nil here: https://github.com/prysmaticlabs/prysm/blob/develop/beacon-chain/node/node.go#L933
without any bandwitdh to look at it now

[2022-10-04 08:50] nisdas commented on #11532
Np, will look at this now. I suspect updating our cli library broke some things.

[2022-10-04 10:44] #11532 closed

[2022-10-04 12:39] #11430 closed

[2022-10-04 14:25] james-prysm opened #11539 "Keymanager API: Fee Recipient not periodically sending values"
# 🐞 Bug Report

### Description

The[ Keymanager API ](https://github.com/ethereum/keymanager-APIs/blob/master/apis/fee_recipient.yaml) for the following requests did not work as intended and was not updating the beacon node periodically on execution.

- set fee recipient
- delete fee recipient

The impact is that the validator will continue to use the fee recipients at startup.

### Has this work

[2022-10-04 17:11] wmitsuda opened #11542 "Prysm 3.1.1 crash"
prysm 3.1.1, mainnet/macos/docker:

This is my dev/laptop node, so I stop/start it a lot and then let it catch to the tip.

Today I started it again (after having it synced it up to the tip yesterday night) and it started crashing just a few minutes after start, see logs:

[code]

[2022-10-04 18:09] wmitsuda commented on #11542
Found some strange evidence, I started prysm standalone (without EL), it was able to start and do some progress.

After giving it a lot of time, I started erigon, and then as soon as I started it, prysm crashed with the same `panic: page 1932712 already freed` error.

The same combo with the same versions used to work perfectly fine until yesterday.

[2022-10-04 23:23] kasey commented on #11533
I am assuming that going forward we will always use pre-generated genesis states for test networks. Given that assumption, we'll always have a genesis timestamp in the genesis state, which we can retrieve in the BeaconNode service and plumb through to the other services. I would prefer handling the timestamp that way over adding more values to config params.

[2022-10-05 10:44] okorolov opened #11544 "validator goes OOM when adding multiple keys via WEB interface"
# 🐞 Bug Report

### Description

Prysm Validator goes OOM when adding multiple keys via Web interface.

## 🔬 Minimal Reproduction

Start a validator running on any type of instance with < 32GB RAM.
Use WEB UI to load 100 validator keys.

Application / POD will be killed due to OOM event.

## 🔥 Error

POD fails with OOM event.

## 🌍  Your Environment

- EKS (kubernetes)
- AL2_x86_64 instance type f

[2022-10-05 15:18] #11431 closed

[2022-10-05 19:11] #11497 closed

[2022-10-05 23:26] nisdas commented on #11544
@james-prysm Any ideas on this ?

[2022-10-05 23:33] james-prysm commented on #11544
I'll take a look there are some inefficient processes due to api limitations but haven't investigated this.

[2022-10-06 00:31] terencechain opened #11545 "Add RANDAO beacon API end point"
See: https://github.com/ethereum/beacon-APIs/pull/242

[2022-10-06 22:06] james-prysm commented on #11544
@okorolov as I begin this investigation could you let me know when you experienced this on the UI? was this during wallet creation or adding additional on the dashboard.

[2022-10-06 22:12] okorolov commented on #11544
This happens during wallet creation process. I will additionally verify if the situation is any different on the already created wallet. Will update. Thanks.

[2022-10-07 05:30] okorolov commented on #11544
@james-prysm the situation is the same with already created wallet.
Tried importing 10 keys on a small validator instance (2GB RAM) and validator pod failed in 5 seconds.

`LAST SEEN   TYPE      REASON      OBJECT                                          MESSAGE
4m13s       Warning   SystemOOM   node/ip-10-10-2-60.us-east-2.compute.internal   System OOM encountered, victim process: validator, pid:

[2022-10-07 07:29] #11531 closed

[2022-10-07 10:48] rkapka commented on #11529
Looks correct on my node

[code]

[2022-10-07 10:49] mcdee commented on #11529
None of those are individual attestations, as can be seen from the aggregation bits.

[2022-10-07 18:55] rohrerman commented on #11505
:+1:
I would welcome this feature! At the moment I am running a backup-cl-el-machine...

[2022-10-08 08:42] mcdee opened #11548 "Potential block packing weakness in algorithm"
# 🐞 Bug Report

Mainnet block 4864065 was possibly generated by prysm (as per blockprint).  If so, it shows a weakness in prysm's block packing algorithm where it prefers low-value attestations with a lower inclusion distance than high-value attestations with a higher inclusion distance.

### Description

Block 4864064 included no attestations (due to an issue with a different client).  this means

[2022-10-08 10:04] potuz commented on #11548
There's a trade-off here in that it's preferable to have attestations with the right target for the current epoch as justification is more important than validator earnings. But it's a great find, we need to discuss the design around this

[2022-10-08 10:43] mcdee commented on #11548
This may be a larger discussion, then, but in my opinion the rewards for any attestation should be totally aligned with their value to the chain.  If that is not the case then we should revisit the rewards so that they are, otherwise we will end up with a conflict between what is best for the chain Vs .what is best for the proposer (at least in this specific situation).

[2022-10-09 03:40] dorisRiver opened #11549 "redundant lock"
### Description
[code]

[2022-10-09 07:35] nining commented on #11471
I have the same issue with prysm v3.1.1
Here is the log:
`
time="2022-10-09 07:34:42" level=warning msg="Execution client is not syncing" prefix=powchain
time="2022-10-09 07:34:46" level=warning msg="Skip processing batched blocks" error="could not process block in batch: could not set node to invalid: invalid nil or unknown node" prefix=initial-sync
time="2022-10-09 07:34:46" level=info msg="Proc

[2022-10-10 18:35] benv666 opened #11551 "Validator and `--graffiti-file` producing empty graffiti blocks"
# 🐞 Bug Report

### Description

When running the Prysm Validator client with the `--graffiti-file` option there are [several ways](https://docs.prylabs.network/docs/prysm-usage/graffiti-file) of specifying what graffiti to pick for what validator and in what order.

For [our group graffiti drawing](https://github.com/stake-house/DecentralizedGraffitiDrawing) effort our code had always used the `o

[2022-10-11 08:09] gdistasi commented on #9385
you can download the binaries for m1, they work

On Fri, 16 Sept 2022, 3:41 am Thomas Jay Rush, ***@***.***>
wrote:

[2022-10-15 23:38] phillipleblanc commented on #11471
Could this be fixed by #11356 ?

[2022-10-16 03:38] terencechain opened #11553 "Support Verkle tree prototype"
We should support the Verkle tree effort such that proofs and witnesses of the pre-state are included in the execution payload and the blocks. The new fields should propagate across the network so other clients can use them in their Verkle tree-enabled EL. We'll have to make modifications to the `ExecutionPayload` to support the following fields:
- `VerkleProof`: variable length byte array
- `Verk

[2022-10-16 04:37] potuz commented on #11553
Assigning this to me as I've already spoken with @gballet and will produce a branch that simply changes the Bellatrix types for the time being

[2022-10-16 14:46] handelaar2 opened #11554 "Builder validator registration not working with parameter: --proposer-settings-file"
# 🐞 Bug Report

### Description

To activate MEV, I added the following '2 parameters' to the validator config:
--enable-builder
--suggested-fee-recipient=xxx

This works and I see a validator log entry: `"Submitted builder validator registration settings for custom builders"`

However the moment I add parameter `--proposer-settings-file` (with a valid json file), it no longer registers my validat

[2022-10-16 21:04] gballet commented on #11553
Thanks for creating the issue, I had a talk with @potuz and I'm happy to support this effort.

To make sure we are on the same page: the first step would be a prototype that starts in PoW mode on the EL side, with verkle trees already enabled there, and then perform the merge. Is that correct/what you have in mind?

[2022-10-16 21:37] potuz commented on #11553
Correct, we can start with pow genesis with Verkle trees and then merge directly without changing the execution payload object

[2022-10-17 14:59] #9049 closed

[2022-10-17 14:59] #11505 closed

[2022-10-17 16:23] james-prysm commented on #11544
Thanks for checking, I'll try to take a look at this soon as I am now back from devcon

[2022-10-17 21:04] #11478 closed

[2022-10-17 21:13] #11539 closed

[2022-10-17 21:19] james-prysm commented on #11554
the log may not print because the value may already be cached. did you check on your custom builder that the value is not included?

[2022-10-18 00:01] rauljordan commented on #11451
This should now be fixed, right @james-prysm ?

[2022-10-18 00:03] rauljordan commented on #9398
Hi @rkapka can we close this one?

[2022-10-18 00:03] rauljordan commented on #9192
We have these available metrics now and use them in our monitoring

[2022-10-18 00:05] rauljordan commented on #8259
Hi @yashbhavsar007 I unfortunately think that we will not get to this feature given it is not as necessary as one may think. Validator doppelganger detection is, for the most part, the best way to prevent slashings even if you lose your slashing protection history and have to restart your validator. These approaches have been working fine for most users and there are other features we would like t

[2022-10-18 00:05] #8259 closed

[2022-10-18 00:05] james-prysm commented on #11451
No this still requires a synced beacon node to perform this. We also don't support http on commmand either which will need to be in future prs

[2022-10-18 06:01] handelaar2 commented on #11554
That was indeed the issue.  `builder`(json) and `--enable-builder`  both work, but with  `validator_registration`(json) and `--enable-validator-registration`, only the latter works. PrysmaticLabs should really update the below link. Its current state (old) will put a lot of people on the wrong foot.
https://boost.flashbots.net/mev-boost-status-updates/mev-boost-status-update-sep-9-sept-22-2022

![

[2022-10-18 06:01] #11554 closed

[2022-10-18 14:34] #11529 closed

[2022-10-18 16:39] rkapka commented on #9398
No, this is still not done

[2022-10-19 14:07] james-prysm commented on #11451
I'll be updating docs around this soon

[2022-10-19 14:18] #11490 closed

[2022-10-19 14:37] #10100 closed

[2022-10-20 02:08] james-prysm commented on #11544
adding #237 in the next release, this makes it at the very least 1 validation request instead of 1 for each when the password is the same. hopefully this will solve most usecases. the button staying disabled was another thing I fixed.

[2022-10-20 16:55] james-prysm commented on #11510
adding web3signer validator exit support ( migrated to prysm ctl) #11478
adding web ui release to help address oom issue #11544

[2022-10-23 14:58] terencechain opened #11571 "[Tracking] - Light client server support"
We should support light client-server to advance further decentralization. The general todos for light client support are outlined as:
- Implement new light client [types](https://github.com/ethereum/consensus-specs/blob/dev/specs/altair/light-client/sync-protocol.md#containers)
- Implement new light client gossip [topics](https://github.com/ethereum/consensus-specs/blob/dev/specs/altair/light-cli

[2022-10-24 16:34] prestonvanloon commented on #11573
@cprivitera I have transferred this request to a feature request for Prysm.

[2022-10-24 19:08] rauljordan opened #11574 "[Tracking] - Block Processing Improvements"
# 💎 Issue

## Background

Block processing is the most critical code path in Prysm, as it involves significant complexity in validation of data, steps of processing, atomicity, and order of operations which could cause serious consensus bugs or leave nodes in inconsistent states if they go wrong. Over the past months, block processing has evolved significantly due to the complexity of the merge, e

[2022-10-24 20:06] rkapka commented on #11573
I would like to see it as a wallet setting.

[2022-10-25 00:19] potuz commented on #11573
Aren't we moving this to prysmctl?

[2022-10-25 10:48] #10822 closed

[2022-10-25 13:34] kasey opened #11576 "Stop requiring genesis.ssz for checkpoint sync"
# 🚀 Feature Request

### Description

Currently the genesis state needs to be provided when starting from checkpoint sync. This was a compromise to safely satisfy the numerous code paths that rely on the genesis state being fetchable.

### Describe the solution you'd like

We should be able to fallback to the `origin` state (the one used to start from checkpoint) instead.

[2022-10-25 14:01] protolambda commented on #11508
Please consider making this general enough that future beacon-chain upgrades after the Merge (like withdrawals/4844) are also able to start from a genesis state. E.g. `--genesis-state-type=phase0|altair|merge|4844|` (Or better: determine the type of state from the configured hardfork epoch values).

[2022-10-25 14:54] rkapka commented on #11573
We will support both prysmctl and the validator client until Prysm v4

[2022-10-26 15:30] james-prysm commented on #10339
i think we can close this now with mike's help

[2022-10-26 15:30] #10339 closed

[2022-10-26 16:16] terencechain opened #11579 "[Tracking] - EIP-4844"
## Background

With many eyes on EIP4844 lately, we need a canonical tracking issue to start capturing tasks needed in Prysm to support EIP4844. There have been many ongoing parallel efforts on implementing 4844 for prysm and those branches are scattered over the places. We should consolidate them in one place. This Issue will capture the detailed todos and push EIP4844 forward with Prysm

### New

[2022-10-26 18:16] nalepae opened #11580 "Rewrite the validator client code to be compatible with the Beacon API instead of prysmaticlabs' internal API."
## Abstract
This ticket aims to synthesize design decisions concerning the following macro task:
_**Rewrite the validator client code to be compatible with the Beacon API instead of prysmaticlabs' internal API.**_

Smaller specific implementation tickets will eventually be written when the design phase is finished.

This task has been proposed by @potuz to be part of the [Ethereum Protocol Fellows

[2022-10-26 20:38] terencechain opened #11581 "Implement per valdiator reward API"
Some of these APIs that @michaelsproul proposed provide excellent visibility to validator performances, I think Prysm should consider them and even better promote them to be part of the beacon API standard

https://github.com/sigp/lighthouse/issues/3661

[2022-10-26 21:04] #11148 closed

[2022-10-26 21:10] terencechain opened #11582 "Add capability to narrow down to which signature fails"
For performance reasons, we batch-verify all the signatures in the block. The downside of this is if any of the signatures are invalid, the process block will fail and there's no way to which signature was invalid on what object. It may be nice to provide an option to Prysm state transition cmd to identify precisely which signature is invalid. This could also be part of prysmctl util

[2022-10-27 02:30] terencechain commented on #11581
I agree that we should remove validator client metrics and promote beacon node side monitoring metrics

[2022-10-27 09:46] anchorite01 commented on #11466
Thanks for your recovery，I deleted geth's data and resynced and it's ok now

[2022-10-27 12:12] rkapka commented on #11573
After some thought I decided to go with a flag instead of a wallet setting. It will be much easier to implement,

[2022-10-27 14:40] prestonvanloon opened #11587 "Warning message "Sync contribution for validator has no bits set.""
# 💎 Issue

### Background

[code]

### Description

Two issues with this log message:

- The pubkey is not formatted for humans.
- What is the action item here?

I would like to understand why these messages are happening and what actions can be taken to reduce the frequency.

[2022-10-27 15:24] #11573 closed

[2022-10-28 07:21] wade-liwei opened #11592 "could you please give me an example for how to generate go code from proto ?"
could you please give me an example for how to  generate go code from proto ?

I try the following cmd, but get lost dependence;  I do not how implement with bazel.
Please help me.
thanks a lot.

protoc --go_out=. --go_opt=paths=source_relative     --go-grpc_out=. --go-grpc_opt=paths=source_relative  $(find ./ -name "*.proto")

[2022-10-28 09:10] potuz commented on #11592
try running the script `hack/update-go-pbs.sh`

[2022-10-30 15:18] nivshitrit opened #11595 "Validator cannot connect to beacon on goerli"
edit:
this can be marked as solved. all i had to do was add the following flags to my beacon-chain:
--rpc-port=4000
--rpc-host=0.0.0.0

-------------------------------------------------------

im running geth and a beacon chain in a pod in a kubernetes cluster. the sync is done, they are both running and actively importing new blocks

geth logs:

INFO [10-30|15:01:50.037] Chain head was updated

[2022-10-30 23:47] #11595 closed

[2022-10-31 14:56] farazdagi commented on #10719
I remember we had peer connectivity problem (and I've refactored the whole e2e suite in https://github.com/prysmaticlabs/prysm/pull/8643 + there's a connectivity test added in https://github.com/prysmaticlabs/prysm/pull/8607). The issue, if I remember it correctly, was incomplete isolation of individual tests and improper checks for service commencements (for full design rationale of e2e refactori

[2022-11-01 06:41] nisdas commented on #10719
Its nice to see you here again @farazdagi :) No one has been looking/working on it so far, so feel free to have a look at it. Assigning this to you

[2022-11-01 20:17] web3d3v commented on #6746
Much like @tanliwei, I'm on arch linux, latest prysm, latest geth.

Managed to sync up to latest about a week ago, afterwards gracefully shutdown. Since then for a week:

```Waiting for enough suitable peers before syncing required=3 suitable=0```

Increasing `--p2p-max-peers` did not solve the issue. Deleting `.eth2` and trying to start over did not solve the issue either.

[2022-11-01 20:22] web3d3v commented on #10920
I'm on arch linux, latest prysm, latest geth.

Managed to sync up to latest about a week ago, afterwards gracefully shutdown. Since then for a week:

Waiting for enough suitable peers before syncing required=3 suitable=0

Increasing --p2p-max-peers did not solve the issue. Deleting .eth2 and trying to start over did not solve the issue either.

[2022-11-01 22:57] nisdas commented on #6746
@web3d3v Can you try running `v3.1.1` for prysm and see if that fixes your issue ?

[2022-11-02 15:44] terencechain opened #11604 "Make payload an interface in beacon state"
In `beacon-chain/state/state-native/beacon_state_mainnet.go`, instead of having:

[code]

we should just have:
[code]

Where `ExecutionData` is the superset. This avoids boating the beacon state with more fields of payload whenever it's updated in the future. This is much cleaner

Note that `ssz-gen` currently is unused and can be removed

credit to @Inphi for pointing this out

[2022-11-02 16:09] prestonvanloon commented on #11604
Does this change how ssz-gen will work? I think it needs to know the underlying type

[2022-11-02 16:11] terencechain commented on #11604
I don't think beacon state uses ``ssz-gen:"true"``, the SSZ marshal/unmarshal is done through native protobuf iirc
the SSZ hashtreeroot is hand crafted

[2022-11-02 16:17] prestonvanloon commented on #11604
the SSZ hashtreeroot is hand crafted

OK -- it was in your description which is why i mentioned it. Why is it in the description?

[2022-11-02 16:22] prestonvanloon commented on #11604
Discussed the ssz-gen issue offline. @rkapka is there a plan to use ssz-gen for native state or can we remove those unused struct tags?

[2022-11-03 02:26] TifferPelode commented on #6746
I got the same issue, as I run with command `./prysm.sh beacon-chain --execution-endpoint=http://localhost:8551 --jwt-secret=jwt.hex --checkpoint-sync-url=https://sync.invis.tools --genesis-beacon-api-url=https://sync.invis.tools`
Should I add or delete some flags?

[2022-11-03 03:10] 0xRook1e opened #11608 "Graffiti flag not work"
# 🐞 Bug Report

### Description

I deployed a set in K8S with reference to the document, but Graffti did not take effect. I'm not sure if it is related to external signatures (we use Web3signer)

Here is my container args
[code]

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

## 🔥 Error
Container

[2022-11-03 03:16] TifferPelode commented on #6746
I solved this issue by setting port, after I open port 13000/TCP and 12000/UDP, it works.
https://docs.prylabs.network/docs/prysm-usage/p2p-host-ip
I think these should be placed in a more prominent place.

[2022-11-03 03:40] prestonvanloon commented on #11608
I suspect this is related to the external signer.

cc @james-prysm

[2022-11-03 03:43] prestonvanloon commented on #6746
@mick-prysm do you think we can improve our docs here?

[2022-11-03 05:04] james-prysm commented on #11608
Ok I can take a look.

[2022-11-03 08:26] nobsu commented on #5132
At present, has server-side load balancing been implemented?

[2022-11-03 12:46] prestonvanloon commented on #5132
There are solutions for proxy load balancers, yes. These solutions aren't
specific to Prysm as a generic gRPC proxy load balancer would work.

https://grpc.io/blog/grpc-load-balancing/

[2022-11-03 13:36] terencechain commented on #11604
Sorry. I copied and pasted from the codebase. I'll remove them now

[2022-11-03 14:29] james-prysm commented on #11608
The log proposed here looks like for Attestations, graffiti shows up for proposed blocks, not attestations.

[2022-11-03 16:45] garyng2000 opened #11611 "3.1.2 beacon cannot find peers ?"
I upgraded to the latest 3.1.2 and have been stuck into the waiting for enough peers for a long time(both goerli/prater and ropsten),the peer count is always zero.

the switched back to 3.1.1 via the USE_PRYSM_VERSION=3.1.1 and restart and everything is back to normal. anyone experience this ?

[2022-11-04 03:16] 0xRook1e commented on #11608
@james-prysm I read it wrong. I checked the log and found it exists

[2022-11-04 03:16] #11608 closed

[2022-11-04 04:48] nisdas commented on #11611
Hey, you might be running into this issue:
https://github.com/libp2p/go-libp2p/issues/1849

We hope to have this patched by the next release. For the timebeing you can run v3.1.1

[2022-11-04 05:39] garyng2000 commented on #11611
I am running 3.1.1 though just in case, my setup is not with VPN or anything, it is ubuntu directly connected to ISP port, only firewall related thing is ufw but all the related ports are opened.

[2022-11-04 08:48] nalepae opened #11616 "Local antislashing DB pruning"
# 🚀 Feature Request

### Description

When having a lot of validators, local antislashing DB can grow up to dozen of GB.

A cool feature: Implement an antislashing DB pruning.

### Describe the solution you'd like

This pruning action could be either:
- trigged manually
- automatically

After the pruning, only the few last epochs would remain in the DB (since we normally don't need old epochs).

#

[2022-11-04 09:40] potuz commented on #11581
@sproul explained that I had a misconception of what this API is about. The beacon monitor will not be a place for these. The monitor could be the natural consumer of this endpoints in order to export tracking metrics. But the API and the endpoints themselves need to be in the beacon

[2022-11-04 13:51] garyng2000 commented on #11611
yes modem/router, no complicated networking stuff

[2022-11-04 14:50] potuz opened #11619 "Remove unused Capella helpers"
There are some Capella helpers that are methods of `ReadOnlyValidator`: these are

- HasETH1WithdrawalCredentials
- IsFullyWithdrawable
- IsPartialWithdrawable

These methods need to be removed if the interface is not used.

[2022-11-04 18:22] kapisolec opened #11620 "Beacon node stops suddenly after `Deposit contract` message"
# 💎 Beacon node doesn't work

### Background

My beacon node stops after `[2022-11-04 19:15:05]  INFO node: Deposit contract: 0x00000000219ab540356cbb839cbe05303d7705fa`

### Description
I run my beacon node using:
[code]
and it worked since the merge, but today after around 11 am UTC it suddenly stopped working. I tried to restart it but since then it just stopps at message:

[code]
I tried updat

[2022-11-04 18:28] #11620 closed

[2022-11-04 19:00] james-prysm commented on #11544
Item has been released, closing now please request reopen if issue persists in the same way

[2022-11-04 19:00] #11544 closed

[2022-11-05 06:50] taggart commented on #8459
Yes, it would be better if this was the default and you had to explicitly turn on this behavior if you wanted it. Probably all (or 99.99%) users would benefit from this being turned off.

[2022-11-05 15:25] nazar-kuzo opened #11623 "Prysm CL shows `could not insert block ####### to fork choice store` error from time to time"
# 🐞 Bug Report

### Description

Prysm CL shows `could not insert block ####### to fork choice store` error from time to time

[code]

### Has this worked before in a previous version?

Didnt see such errors on previous versions

## 🔬 Minimal Reproduction

Run Nethermind + Prysm docker containers. Wait for error to appear in logs

Nethermind
[code]

Prysm CL
[code]

## 🔥 Error

Logs for error at `

[2022-11-06 20:18] garyng2000 opened #11625 "successive reduction in validator balance on ropsten ?"
given that ropsten will be gone soon(it is still working as I can still submit tx to EL and the CL is still syncing), I am using it to test the final leg of the process(voluntary exit) and observe something I can't explain.

I am seeing a constant reduction in validator balances on each epoch(may not be related to exit as one of them is active, the other is still in exiting state and it is still p

[2022-11-07 00:11] A-Link-To-The-Future opened #11626 "When trying to run beacon chain recieving error slice out of bounds"
After running

./prysm.sh beacon-chain --execution-endpoint=http://localhost:8551 --jwt-secret=jwt.hex --suggested-fee-recipient=0x*

ERROR main: Runtime panic: runtime error: slice bounds out of range [::2474945000] with length 2147483647

I am running the latest stable release of ubuntu.

[2022-11-07 00:26] nisdas commented on #11626
@A-Link-To-The-Future Do you mind pasting the whole panic ? Otherwise its hard for us to investigate this

[2022-11-07 00:26] A-Link-To-The-Future commented on #11626
2022-11-06 18:23:08] ERROR main: Runtime panic: runtime error: slice bounds out of range [::2474945000] with length 2147483647
goroutine 1 [running]:
runtime/debug.Stack()
	GOROOT/src/runtime/debug/stack.go:24 +0x65
main.main.func2()
	cmd/beacon-chain/main.go:211 +0x45
panic({0x552ea0, 0xc000056198})
	GOROOT/src/runtime/panic.go:838 +0x207
go.etcd.io/bbolt.unsafeByteSlice(...)
	external/io_etcd_go

[2022-11-07 00:28] nisdas commented on #11626
This might indicate that your db has been corrupted

[2022-11-07 00:29] A-Link-To-The-Future commented on #11626
what steps should i take to renew my db then?

[2022-11-07 00:31] nisdas commented on #11626
You can take a look here:
https://docs.prylabs.network/docs/prysm-usage/checkpoint-sync

[2022-11-07 00:34] A-Link-To-The-Future commented on #11626
./prysm.sh beacon-chain --checkpoint-sync-url=http://localhost:3500 --genesis-beacon-api-url=http://localhost:3500
ran this command and recieved the same error

[2022-11-07 00:34] A-Link-To-The-Future commented on #11626
[2022-11-06 18:33:50] ERROR main: Runtime panic: runtime error: slice bounds out of range [::2474945000] with length 2147483647
goroutine 1 [running]:
runtime/debug.Stack()
	GOROOT/src/runtime/debug/stack.go:24 +0x65
main.main.func2()
	cmd/beacon-chain/main.go:211 +0x45
panic({0x552ea0, 0xc00013a3f0})
	GOROOT/src/runtime/panic.go:838 +0x207
go.etcd.io/bbolt.unsafeByteSlice(...)
	external/io_etcd_g

[2022-11-07 00:36] nisdas commented on #11626
You need to remove your old db first. You can run it with `--clear-db` first

[2022-11-07 00:41] A-Link-To-The-Future commented on #11626
i'm still recieving the same error. should i manually remove beaconchain.db from the .eth2 folder?

[2022-11-07 00:41] nisdas commented on #11626
Yes, you can do that too

[2022-11-07 00:46] A-Link-To-The-Future commented on #11626
That appears to have worked, thank you!

[2022-11-07 00:46] #11626 closed

[2022-11-07 09:48] PandamineHub opened #11627 "Memory consumption rising to 100% with 128GB RAM"
Hello all, could you please help me? I am facing issue with memory consumption. When I run prysm it consistently increase memory consumption higher and higher up to almost 100% and I have 128GB RAM. Before sometimes it happened when I was runnning slasher, now its happening with and without --slasher as well.

running prysm v3.1.2

[2022-11-07 12:57] rkapka commented on #11625
You will need to wait at least for at least `MIN_VALIDATOR_WITHDRAWABILITY_DELAY = 256` epochs, which is around 27 hours, plus the time needed for your validator to be processed through the ext queue. It seems like it should have exited by now.

[2022-11-07 13:22] PandamineHub commented on #11627
Hello nisdas,

ExecStart=/home/panda/ethereum/consensus/prysm/./prysm.sh beacon-chain --mainnet --execution-endpoint=/home/panda/ethereum/execution/geth.ipc --p2p-max-peers 50 --slasher --datadir /home/panda/ethereum/consensus --suggested-fee-recipient="My address"

[2022-11-07 13:28] nisdas commented on #11627
@PandamineHub You can try a fresh sync. If you constantly move between slasher( and no slasher) flag it causes a lot of disk fragmentation with your db. This could lead to what you saw above, you can try checkpoint sync:
https://docs.prylabs.network/docs/prysm-usage/checkpoint-sync

[2022-11-07 13:32] PandamineHub commented on #11627
I did not move between slasher and no-slasher, it happenned today that my memory consumption rised to 110GB, so I have restarted prysm, but didnt help, then I only tried to run without slasher, but didnt help as well

[2022-11-07 13:37] nisdas commented on #11627
How long have you been running with a slasher ?

[2022-11-07 13:38] yierx opened #11628 "The `dependent_root` value of API `eth/v1/validator/duties/proposer/{epoch}` is wrong."
# 🐞 Bug Report

### Description
API: https://ethereum.github.io/beacon-APIs/#/Validator/getProposerDuties

**get /eth/v1/validator/duties/proposer/157122**
returns
[code]

but the expected should be
[code]

[2022-11-07 13:44] PandamineHub commented on #11627
from beginning as I know, for months..

[2022-11-07 13:45] nisdas commented on #11627
So 2 years ?

[2022-11-07 13:50] nisdas commented on #11627
Do you know how big is your database right now ?

[2022-11-07 13:51] nisdas commented on #11627
I would recommend using checkpoint sync to get back online, and removing your current db if you want to have your validators online soon.

[2022-11-07 14:08] PandamineHub commented on #11627
When I remove db and use checkpoint sync, the whole database will download again or not? Do I need to reconfigure it later or can I use checkpoint sync from now forever?

[2022-11-07 14:46] prestonvanloon commented on #11627
When we update to go1.19 (https://github.com/prysmaticlabs/prysm/pull/11630), we can introduce a memory limit flag or users can set GOMEMORYLIMIT environment variable.

See the changes in "Runtime" of the release notes https://tip.golang.org/doc/go1.19

[2022-11-07 18:35] bmmojo opened #11632 "Hide Password File"
# 💎 Issue

### Description

Hello, I wanted to know is it possible to hide the wallet password file in the command line? I'm concerned that if a threat actor was sitting on my network, they could take advantage of this and easily find this file. If you could point me to a guide that would be great!

`./prysm.sh accounts import --keys-dir=/Users/insertname/Documents/dev/staking_deposit-cli-#######-

[2022-11-07 18:41] garyng2000 commented on #11632
the design is intended for server side usage so all precautions about how to protect these 'secret files' have to be taken. beside, a thread vector should not be able randomly access you file and even if they do, the max damage would be they can see your pubkey(or may be export it) and import it to another node which cause slashing/exit but would not be able to touch your balance as it is not stor

[2022-11-07 19:25] bmmojo commented on #11632
Great thank you @garyng2000

[2022-11-07 19:25] #11632 closed

[2022-11-08 02:28] james-prysm commented on #11628
just wondering how did you get the expected dependent root, is it comparing it with another client?

[2022-11-08 13:10] PandamineHub commented on #11627
Hello, how can I delete SLASHER DB?

[2022-11-09 01:56] Karmastic opened #11640 "Allow specializing additional endpoints specified by `--beacon-rpc`"
[https://github.com/prysmaticlabs/prysm/issues/11640](https://github.com/prysmaticlabs/prysm/issues/11640) - possible related issue

gRPC switching doesn't check the health of the backend

[2022-11-09 12:50] Karmastic opened #11641 "Add support for generating a new ND account"
# 🚀 Feature Request

### Description

The `validator` CLI allows generating an ND wallet but only allows importing accounts into it.  It would be useful to be able to generate an account (BLS key for Validator) non-interactively from the CLI.

### Describe the solution you'd like

Currently we use `ethdo` for this but would like to eliminate that dependency for our key generation. Ethdo uses the `

[2022-11-09 13:16] potuz commented on #11641
I think key generation belongs naturally on tooling and not on prysm itself, by adding key generation to prysm it increases the surface area for operator errors and very bad bugs that are not part of the core functionality of Prysm. Specialized and audited tooling exist for this motive and I don't see why should Prysm risk adding this functionality and getting it wrong.

[2022-11-09 14:10] yierx commented on #11628
@james-prysm the expected slot is 157122 * 32 - 1 = 5027903, so we can fetch the header info by calling get `/eth/v1/beacon/headers/5027903`, the result is
[code]

[2022-11-09 14:11] yierx commented on #11628
https://ethereum.github.io/beacon-APIs/#/Validator/getProposerDuties

[2022-11-09 15:02] chappjc opened #11643 "cannot get peers with v3.1.2, but can with v3.1.1"
Between these minor patch releases, it goes from being able to get "suitable" peers to never getting any.  It's as simple as downgrading to v3.1.1 and prysm gets peers right away.  Switch to v3.1.2 and it just says `INFO initial-sync: Waiting for enough suitable peers before syncing required=3 suitable=0` forever.

It is perfectly reproducible by switching between these two releases.  Immediate pe

[2022-11-10 11:05] Andrei-sys opened #11649 ""Could not process deposit log" error message"
Hello, updated CL with v3.1.2 and the node is fully synced but there are some weird error messages that don't know if I should take into consideration or not. Anyone encountered the same issue after the update?

level=info msg="Falling back to historical headers and logs sync. Current difference is 42059" prefix=powchain
level=error msg="Could not process deposit log: received incorrect merkle ind

[2022-11-10 11:06] nisdas commented on #11649
Hey @Andrei-sys ,

which execution client is this with ?

[2022-11-10 11:07] Andrei-sys commented on #11649
Hi, Erigon v2022.10.01

[2022-11-10 11:08] nisdas commented on #11643
Hey @chappjc ,

This is related to https://github.com/libp2p/go-libp2p/issues/1849, we will have this patched by the next release. For now you can run with v3.1.1 .

[2022-11-10 11:11] nisdas commented on #11649
Ok this is a known erigon issue, you will have to ask the erigon team on it. Alternatively, restarting erigon has been said to work for it.

[2022-11-10 11:12] Andrei-sys commented on #11649
Ok...I see, will ask them then, thank you very much for your quick answer!

[2022-11-10 11:14] #11649 closed

[2022-11-10 17:17] Inphi commented on #11604
I can look into doing this if no one else is. Would rather have this resolved sooner rather than later to simplify the upstream EIP-4844 implementation.

[2022-11-10 17:20] terencechain commented on #11604
Thanks @Inphi ! I dont think anyone else is working on this

[2022-11-10 17:48] Larrax commented on #11279
Hi, as posted on [Discord](https://discord.com/channels/476244492043812875/667761857209040916/1040291873576718346), I might have encountered the same problem on Mainnet, with version 3.1.2, Ubuntu Server 22. Appending beaconchain logs.

I did checkpoint resync of beaconchain which fixed the issue. Let me know if you need any more details.
[logs-beaconchain.txt](https://github.com/prysmaticlabs/pry

[2022-11-11 21:26] victorelec14 opened #11651 "Command to specify the slasher directory --slasher-datadir"
# 🚀 Feature Request

### Description

Hello,

I think it would be nice to be able to use some custom directory for the slasher.

For example, in my case I want to use the Slasher in another nvme because of the high disk usage it generates and I prefer not to have it on the same disk as the beaconchain db.

With docker I have mounted the datadir to a directory but I can't mount a volume with only t

[2022-11-15 06:19] hiromaily commented on #11414
I had a same issue but, fixed by using container name
[code]
[code]

[2022-11-15 14:37] xichan-ms opened #11663 "error in obtaining the beacon state"
when I query the beacon state by following api path, **always return 404**, however, other apis works.
/eth/v2/debug/beacon/states/{state_id}

is there any config wrong for my node or nit in api path? great thanks

![image](https://user-images.githubusercontent.com/26354131/201946160-7cf8fe95-cfb9-4020-924c-6d68a0f76cda.png)

[2022-11-17 07:29] nisdas commented on #11663
@xichan-ms You have to use the `--enable-debug-rpc-endpoints` flag , this will allow you access to the debug namespace

[2022-11-17 21:25] cabrinha commented on #8092
Hey @superphiz and @0xKiwi! Looks like all this work has been completed in https://github.com/prysmaticlabs/prysm/pull/8872 by @aliask , yet there is still no PPA that enables users to just `apt install` these packages and take advantage of these convenient configuration files.

Can we have the prysm team setup an official PPA to make the distribution of these packages easier on users?

[2022-11-18 21:27] james-prysm commented on #11625
Circling back on this is this still an issue?

[2022-11-18 21:59] garyng2000 commented on #11625
it finally changed from 4 to 6, after I think 3 weeks. so still function as expected. ropsten really is on its final days as the balances of those active are constantly decreasing each epoch. But that is not a concern to me anymore assuming it is a network thing and my test of the full cycle has been completed. this ticket can be closed.

[2022-11-20 15:35] jwhelan72 commented on #11322
Still broken as of v3.1.2.  Quite frustrating actually when different batches of validators have different suggested fee recipient settings.  Can totally break privacy and general sanitization settings.

Can we save this to a file please instead of simply running in memory?

[2022-11-21 00:13] A-Link-To-The-Future opened #11672 "ERROR blockchain: Could not compute head from new attestations error=unknown justified root"
Getting this error, when running beacon-chain.
ERROR blockchain: Could not compute head from new attestations error=unknown justified root
also comes with warnings: Skip processing batched blocks error=beacon node doesn't have a parent in db with root:

[2022-11-21 07:11] heeckhau commented on #11322
@jwhelan72 The workaround is to use a proposer settings file: https://docs.prylabs.network/docs/execution-node/fee-recipient

[2022-11-21 14:45] james-prysm commented on #11322
@jwhelan72 the setting is scheduled every epoch so it does try to persist after setting + the 1 epoch. could you let me know what happened in your case?

[2022-11-21 14:56] #10292 closed

[2022-11-21 17:50] rkapka commented on #11219
Closing as non-reproducible. We can reopen if someone else runs into the same issue.

[2022-11-21 17:50] #11219 closed

[2022-11-21 19:23] james-prysm commented on #11423
stale, closing now

[2022-11-21 19:23] #11423 closed

[2022-11-21 19:54] james-prysm commented on #11122
I believe this will be fixed with v3 cli, waiting for release, I fixed the bug in the library.

[2022-11-21 22:29] james-prysm commented on #11663
closing after informing the user, can reopen if it's a bug.

[2022-11-21 22:29] #11663 closed

[2022-11-21 23:11] #7950 closed

[2022-11-22 04:02] sbakshi007 commented on #11200
I  am also seeing same error in beacon node traces "ERROR powchain: Unable to process past deposit contract logs, perhaps your execution client is not fully synced error=no contract code at given address".

In geth console, eth.syncing is 'false' - so geth has synced.

curl http://localhost:8080/healthz has following output
*p2p.Service: OK
*execution.Service: ERROR, no contract code at given addr

[2022-11-22 09:26] RadNi opened #11676 "Problem running local/private merge test-net with Geth"
# 🐞 Bug Report

### Description

I'm trying to run a private merge test-net. When starting the validator it gives the error `INFO validator: Waiting for beacon node to sync to latest chain head` every two seconds. And on the beacon-chain client traces show me `DEBUG initial-sync: Can not process event epoch=0 error=no peers available, waiting for reconnect event=dataReceived`

### Has this worked

[2022-11-22 12:19] #10832 closed

[2022-11-22 15:35] #10892 closed

[2022-11-22 19:21] prestonvanloon commented on #11676
Discussed with @RadNi on discord and they are following @rauljordan's guide https://rauljordan.com/2022/08/21/how-to-setup-a-proof-of-stake-devnet.html

[2022-11-23 19:59] james-prysm commented on #11322
Tested persistence after 1 epoch. should persist as long as a validator flag is not provided( that would override the api result when restarting the validator). closing issue again , can reopen if needed.

[2022-11-23 19:59] #11322 closed

[2022-11-23 22:13] nyetwurk commented on #10006
why was this closed?
[code]

[2022-11-23 22:13] nyetwurk commented on #10153
why was this closed?
[code]

[2022-11-24 08:57] dyng commented on #11444
Hi @nisdas , I want to help on this issue, can you provide more informations? The line number in stack trace does not match the source in `57b7e0b57252eacd79ea64b5a25c6ab32ee42da9` well and I can't say which object is nil with confidence. Thanks!

[2022-11-24 11:00] nisdas commented on #10006
@nyetwurk Prysm is currently in `v3` , we fixed this in our `v3` release to align with go.mod semver support. If you change the prysm version to `v3` , you shouldn't have any issues

[2022-11-24 18:53] nyetwurk commented on #10006
Our current includes look like
[code]

How should they look in v3?

[2022-11-24 18:58] nyetwurk commented on #10006
Specifically
[code]

[2022-11-25 00:09] nisdas commented on #10006
@nyetwurk That is correct, using the above format for `v3` should work. Let us know if that is not the case.

[2022-11-25 04:50] dyng commented on #11444
@nisdas Thanks for your explanation, I'm working on this now. Will update here if any progress.

[2022-11-25 15:28] dyng commented on #11444
Hi @nisdas, I think a simple solution that 'deny all incoming connection when `peers` is not ready' should work fine in this case, but not sure if it's ok to do like that. Do you have any suggestion?

[2022-11-26 11:04] potuz opened #11692 "Batch log messages and downgrade log level"
There are a few log messages that are very noisy

Messages proposed to batch:

- Sync committe messages should be batched by validator index.
- "Gossip message was ignored" should be batched by type/slot

Messages proposed to be downgraded

- "Set deadline for proposals and attestations"

Messages proposed to be removed:
- "Submitted sync committee messages succesfully to beacon node" when there a

[2022-11-26 18:50] terencechain commented on #11692
@saolyn you might be interested in this

[2022-11-28 02:05] potuz commented on #11077
The current endpoint `pool/bls_to_execution_changes` in the `capella` branch needs to be hardened to only accept BLS_TO_EXECUTION_CHANGE signed in the right forks. We are happy to take a very early one and then fail to validate it.

[2022-11-28 05:54] nisdas commented on #11444
@dyng That seems like it would make sense, I don't have any opposition to the solution.

[2022-11-28 09:32] J1a-wei opened #11697 "How to debug validator‘s balance decrease"
# 💎 Issue

### Background

I deployed geth+prysm on kubernetes (resources are sufficient). A total of 70 validators are running. But monitoring shows that one or two validators miss att every day.  It will deduct -10320 GWei. statistics show that about 10 validators miss att every week. How should I troubleshoot when I encounter this situation? All logs are normal, not error.

In addition, the mon

[2022-11-28 16:11] fcorneli opened #11699 "--monitoring-port -1"
To prevent `prysm` from highjacking port 8080, which is already used by our application server, I temporarily want to disable the prysm metrics via:
[code]
However, prysm gives a rather ugly error on this:
[code]
Would be nicer if prysm would say on `--monitoring-port -1` something like: disabling monitoring service, really dude?

[2022-11-28 16:23] prestonvanloon commented on #11699
Try `--disable-monitoring` .

[2022-11-28 16:23] #11699 closed, assigned to nobody

[2022-11-28 16:53] fcorneli commented on #11699
heh... didn't notice this options. Thanks.

[2022-11-28 16:56] james-prysm commented on #11641
-nishant

we can keep this one open to continue the discussion here.

[2022-11-28 16:57] james-prysm commented on #11627
Please reach out on discord to continue the discussion, this issue seems user-specific.

[2022-11-28 16:57] #11627 closed

[2022-11-28 17:04] #11625 closed

[2022-11-28 17:09] james-prysm commented on #10805
closing in favor of moving descriptions to #9994

[2022-11-28 17:09] #10805 closed

[2022-11-28 17:10] james-prysm commented on #10242
Closing due to completion of merge

[2022-11-28 17:10] #10242 closed

[2022-11-28 17:45] james-prysm opened #11700 "Deprecate the Prysm Remote Signer in favor of Web3signer interface"
# 💎 Issue

### Background

Prysm currently has integration for 2 types of remote signers
- Prysm Remote Signer, gRPC, developed in-house
- Web3signer, REST, developed by consensys

Web3signer's interface became the defacto standard remote signer among the consensus clients prior to the merge. Prysm Remote Signer was gRPC-based it was not adopted by other clients.

### Description
We propose deprec

[2022-11-28 17:47] james-prysm commented on #9745
closing issue since web3signer is already added as a scenario test and proposing deprecation of Prysm Remote Signer features https://github.com/prysmaticlabs/prysm/issues/11700

[2022-11-28 17:47] #9745 closed

[2022-11-28 19:02] james-prysm commented on #11551
sorry for getting back to you so late on this, recently started pruning through older issues. the --graffiti flag will override the --graffiti-file flag.
perhaps this clears things up a bit
- // When specified, default graffiti from the command line takes the first priority.
- // When specified, individual validator specified graffiti takes the second priority.
- // When specified, a graffiti from

[2022-11-28 21:25] james-prysm commented on #11466
Closing this issue as user mentioned it's working ok now.

[2022-11-28 21:25] #11466 closed