[2020-10-16 14:27] #7546 closed

[2020-10-16 16:25] Neozaru opened #7553 "Clarify argument `--http-web3provider` required format"
# 🚀 Feature Request

### Description

About this part of the doc :

![image](https://user-images.githubusercontent.com/1905292/96283458-88f65980-0fdc-11eb-8b05-61b43122d725.png)

Quick feedback on that part : I tried to set `--http-web3provider=localhost`, then `--http-web3provider=127.0.0.1`. Took me a while to realize that the full string was required (`--http-web3provider=http://localhost:8545`

[2020-10-17 02:15] bidlocode commented on #7506
It's already there: `mw := io.MultiWriter(logrus.StandardLogger().Out, w)`

Just tested it looks like logs go both destinations (with journald hook and without) and  monitoring port gives metrics.
@potuz Can you give more info on how to reproduce?

[2020-10-17 03:44] necrotic1979 commented on #7312
I haven't tried yet either. I'm using the binary so I dont want to restart my node until the next version is out (alpha.29 has that sync bug that I thankfully didn't update into). Will update next week after the next release

[2020-10-17 05:28] bidlocode commented on #7505
+1 it's really important for security reasons also

[2020-10-17 06:00] #7499 closed

[2020-10-17 10:08] #7534 closed

[2020-10-17 10:33] bidlocode opened #7558 "Panic index out of range during initial sync"
# 🐞 Bug Report

## 🔥 Error
<pre><code>
beacon       | time="2020-10-17 09:30:05" level=info msg="Peer disconnected" activePeers=98 multiAddr="/ip4/15.207.63.236/tcp/9001/p2p/16Uiu2HAmB3fTGtZ49VT6mVWg4mavkY2JeGyVrgg9eHcohUAUENhT" prefix=p2p
beacon       | time="2020-10-17 09:30:08" level=info msg="Peer disconnected" activePeers=97 multiAddr="/ip4/167.86.116.134/tcp/9000/p2p/16Uiu2HAm1mj3S8m7DB6jwd2

[2020-10-17 12:51] MysticRyuujin commented on #7485
fwiw @rauljordan asked me to open this issue and said it should be doable, over on discord.

[2020-10-17 14:31] raphpa commented on #7552
This is not implemented correctly in the launch scripts.

`--ssl-no-revoke` is a parameter of curl.

Some anti virus solutions inject their own SSL certificate into a secure http connection to be able to monitor malicious downloads. Curl fails, if not called with `--ssl-no-revoke` at this because it cannot fetch the revoke list for that self signed certificate and has to be called with that parame

[2020-10-17 19:00] potuz commented on #7506
Oh it may well be invalid. My system became unusable when I tried to run with `--web` and the first thing I noticed is that the grafana endpoint of my (other) running validator lost all data. I currently can't check this cause I'm trying to keep my node in sync and it's taking over all my resources

[2020-10-17 19:09] bidlocode commented on #7506
`--web` has different initializaion sequence, startup process woun't advance untill you unlock it with password from webui. Have you had it unlocked?

[2020-10-17 19:12] potuz commented on #7506
That may be it, I didn't want to unlock the wallet on the browser, (that's why I opened #7505) so I hit "create a new wallet" or whatever the option was to create a different one and create some accounts.

[2020-10-17 22:35] rkapka commented on #7534
Should be fixed in the next release @metanull-operator

[2020-10-19 14:24] canbal99 commented on #7312
I have a similar crash on RPi4 (Ubuntu 20.04) with --blst flag. No problem if I remove blst flag
[beaconchain.txt](https://github.com/prysmaticlabs/prysm/files/5402550/beaconchain.txt)

[2020-10-20 00:40] prestonvanloon opened #7577 "Starting gRPC with missing SSL credentials should fail"
https://github.com/prysmaticlabs/prysm/blob/9db6c0042b02d48d593f2121e82df1c666672b1a/beacon-chain/rpc/service.go#L219-L226

Prysm currently marks the node as unhealthy, but will continue to serve an unsecured gRPC server.
This should be changed to a fatal condition on startup.

[2020-10-20 07:40] yorickdowne opened #7580 "Panic during shutdown"
# 🐞 Bug Report

### Description

During shutdown, beacon panics with "Could not stop the following service: *blockchain.Service, could not get ancestor state: context canceled"

## 🔬 Minimal Reproduction

Start beacon

Stop beacon

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

Ubuntu 20.04

**What version of Prysm are you running? (Which release)**

Prysm/v1.0.0-alpha.29/81b55

[2020-10-20 09:35] systemblox opened #7581 "error msg="gRPC panicked!" error="runtime error: slice bounds out of range [:250] with capacity 1""
### Description

Hi Team, we see this errors from our nodes.
We are using beacon-chain with below flags:
[code]
Log:
[code]

[2020-10-20 10:44] potuz commented on #7505
Should this be closed by #7569 ?

[2020-10-20 11:09] #7334 closed

[2020-10-20 14:04] rkapka commented on #7548
Hi @kirkyb

Could you clarify a little bit? From what I understand your beacon node is fully synced, but the validator displays a message suggesting that it's not. Can you please provide some logs for both the node and the validator?

[2020-10-20 14:47] rkapka commented on #7374
This is Medalla after running for a couple of hours. @potuz can you please verify that the issue still persists?

![obraz](https://user-images.githubusercontent.com/28876818/96602881-c8ca8300-12f3-11eb-9e60-c7bef9674230.png)

[2020-10-20 16:06] rkapka commented on #7374
Closing the issue after as a result of Discord discussion: https://discord.com/channels/476244492043812875/667761857209040916/768142565496455208

[2020-10-20 16:06] #7374 closed

[2020-10-20 20:04] emansipater opened #7585 "Memory usage increases significantly during non-finality"
# 💎 Issue

Memory usage has been all over the place during the recent non-finality on Medalla, but reached a peak for me of 7.85 GiB and is routinely bumping over 6 GiB.

### Background

It's been tough for Dappnode to keep up with all the releases lately, but these numbers are based on the current dappnode stable package for Prysm on Medalla (v1.0.0-alpha.27).  Lighthouse [has a similar problem](

[2020-10-20 20:45] #7581 closed

[2020-10-20 21:45] ChuckNorrison opened #7586 "Web UI and Wallet Password not accepted"
# 🐞 Bug Report

### Description

iam testing the current beta and the new web ui. After starting my validator with `--web `and `--web-host `parameter, i can get into the login page of the new web ui.  After entered the wallet password created with account-v2 in previous version with spadina testnet, the password gets rejected with `Needs at least 1 uppercase letter, 1 number, and 1 special char`

[2020-10-21 01:57] rauljordan commented on #7586
@ChuckNorrison please see our release notes for beta.0.rc https://github.com/prysmaticlabs/prysm/releases/tag/v1.0.0-beta.0.rc, specifically the known issues section:

Apologies for the inconvenience, it will be fixed in the next release

[2020-10-21 01:57] #7586 closed

[2020-10-21 04:40] dpdanpittman opened #7589 "Terms of Service Typos"
# 💎 Issue

### Background

 Context and background information on the discussion...

### Description

I'm just fixing a couple of typos.  Illinois are a tribe of Natives...

[2020-10-21 06:23] Djadih opened #7592 "Script warns for --<testnet> flag even when it's provided in configuration file"
# 🐞 Bug Report

### Description

The script warns/reminds the user to specify the --<testnet> flag, despite the user providing that information in the configuration file.

### Has this worked before in a previous version?

Probably did not work in a previous version, as this warning is pretty recent.

## 🔬 Minimal Reproduction

Create a config-file example.yaml with the following contents:
`datadi

[2020-10-21 06:29] prestonvanloon commented on #7592
cc: @bidlocode

[2020-10-21 06:34] bidlocode commented on #7592
In yaml it's `medalla: true`
When you provide a flag you see a different warning like this `WARN flags: Running on Medalla Testnet`. It's ok.
All available flags and correct way of specifing them are in `--help`.

[2020-10-21 09:51] nisdas commented on #7580
This is already tracked here #6924 , lets track the issue from there since this will be a duplicate.

[2020-10-21 09:51] #7580 closed

[2020-10-21 13:41] necrotic1979 commented on #7312
--blst working now for me on the beta version

[2020-10-21 22:32] #7505 closed

[2020-10-22 05:53] #7431 closed

[2020-10-22 14:33] #7464 closed

[2020-10-22 15:21] rauljordan commented on #7589
Fixed by #7590

[2020-10-22 15:21] #7589 closed

[2020-10-22 16:28] rauljordan commented on #7503
no longer relevant

[2020-10-22 16:29] rauljordan commented on #7503
Mistake in previous comment. Still a relevant issue, but we moved it to `DEBUG` verbosity logging

[2020-10-22 16:56] #7437 closed

[2020-10-22 17:04] rauljordan commented on #7553
Fixed by https://github.com/prysmaticlabs/documentation/pull/256

[2020-10-22 17:04] #7553 closed

[2020-10-22 17:09] rauljordan commented on #7346
Resolved now that discv5.1 is merged

[2020-10-22 17:09] #7346 closed

[2020-10-22 17:35] rauljordan commented on #7382
No longer possible given we return err if saving a nil eth1 data

[2020-10-22 17:35] #7382 closed

[2020-10-22 18:02] #7483 closed

[2020-10-22 18:49] #7380 closed

[2020-10-22 19:06] rauljordan commented on #6977
Now we only allow HD wallets to display deposit data, so we will no longer have non-HD wallets with mixed deposit data + no deposit data available

[2020-10-22 19:06] #6977 closed

[2020-10-22 19:17] rauljordan commented on #6669
@stefa2k this actually seems related to #7339

[2020-10-22 19:18] #7312 closed

[2020-10-22 19:19] rauljordan commented on #7225
This one is hard for us to resolve, as it is a general issue that has no actionable PR. We can perhaps close in favor of #7585. We might also be raising our recommended hardware specs to help stakers deal with worst case scenarios

[2020-10-22 19:19] #7225 closed

[2020-10-22 19:37] rauljordan commented on #7073
@shayzluf what should we do about this issue? Is there a resolution for slasher to handle the situation where there are forks with different committees? Let's find a path to closing this one

[2020-10-22 20:14] #7141 closed

[2020-10-22 20:32] rauljordan commented on #7076
@shayzluf is this still an issue?

[2020-10-22 20:35] rauljordan commented on #6052
This one is more of a list of generic problems which do not have clear, actionable PRs as resolutions compared to other open issues. Instead, this will be fixed by a combination of https://github.com/prysmaticlabs/prysm/issues/6534, improving our logging, and adding documentation for items such as slasher. It is also related to #7514

[2020-10-22 20:35] #6052 closed

[2020-10-22 20:37] rauljordan commented on #6204
This is not necessarily something we can fix on our end. If it still reported, we can bring it back up or get in touch with the nethermind team

[2020-10-22 20:37] #6204 closed

[2020-10-22 20:45] shayzluf commented on #7076
Didn't find the cause for this

[2020-10-22 20:51] shayzluf commented on #7073
Slasher doesn't know about committees.  I think the only thing that could lead to this outcome is somthing that goes wrong in convert to indexed

[2020-10-22 20:55] shayzluf commented on #7073
I will look in our logs to see if it still happens

[2020-10-22 21:05] #7331 closed

[2020-10-22 21:08] rauljordan commented on #7552
This is tricky. I'd prefer we not add --ssl-no-revoke to our script, but instead recommend stakers to download the script directly from our releases page if they are having issues

[2020-10-22 21:20] rauljordan commented on #7506
This is resolved by #7471

[2020-10-22 21:20] #7506 closed

[2020-10-22 21:41] #7528 closed

[2020-10-22 22:25] #7552 closed

[2020-10-22 23:58] #7577 closed

[2020-10-23 02:22] nisdas opened #7620 "Load Blocks Should Return Error On Invalid Range"
# 💎 Issue

### Background

As of #7593, load blocks simply returns nothing in the event it processes and invalid range. The reason we do not return an error yet is because a lot of tests using `stategen` would break as then all states and blocks used in the relevant tests would have to be fully valid ( able to transition state). This would prevent us from being able to test out various test scenar

[2020-10-23 05:21] #7476 closed

[2020-10-23 12:43] #6924 closed

[2020-10-23 14:24] pasajeros commented on #7548
I have the same problem. Already for weeks. Ubuntu 20.04 on Raspberry Pi, latest packages from repository:
prysm-beacon/now 1.0.0-alpha29-0 arm64 [installed,local]
prysm-slasher/now 1.0.0-alpha29-0 arm64 [installed,local]
prysm-validator/now 1.0.0-alpha29-0 arm64 [installed,local]

Please tell me what you need to investigate? I added the logs for the node and validator.
[validator.log](https://git

[2020-10-23 17:48] rauljordan commented on #6327
-  QSP-4 Insecure gRPC connection by default: won't fix, this is only a concern for users that are running on different machines, and it will be a significant UX constraint to force normal users to handle and deal with TLS certs when they might not need to
-  QSP-57 Undocumented Kafka topics: won't fix, as it is too low priority and not much importance given barely anyone is using our kafka suppor

[2020-10-23 21:35] rauljordan commented on #7050
Solved https://github.com/prysmaticlabs/prysm/pull/7612

[2020-10-23 21:35] #7050 closed

[2020-10-24 05:53] nisdas commented on #7548
@kirkyb @pasajeros Please update both beacon node and validator to our latest release the issue has been fixed.

[2020-10-24 07:45] pasajeros commented on #7548
@nisdas do you know what release and which repository to use for Ubuntu 20.04 on arm64 (Raspberry Pi)? Because now "sudo apt update" doesn't show a new release.

[2020-10-24 08:33] nisdas commented on #7548
ah k, I am not sure about that. The current ethereum on ARM images might not be updated to beta yet.
cc @diglos

[2020-10-24 08:59] kirkyb commented on #7548
I'm currently running on the 1.00 beta for both validator and beacon chain. I think the issue I'm facing is that the validators are currently running at <66% network participation so the chains aren't being finalised.

[2020-10-24 10:28] ChuckNorrison commented on #7548
no peers here with currenz pre release beta.0 since restarting the service yesterday. Ports are all open and avaiable public after `--rpc-host` was used (4000 and custom p2p ports 13001 tcp, 12001 udp). Did not found any reasons besides broken libp2p

[2020-10-24 11:42] ChuckNorrison commented on #7373
this is still an issue with current beta.0. No peers since yesterday. After update it seems to works for some time. After restart the service today it can not find any peers.

[2020-10-25 05:49] jerryji opened #7636 "beacon-chain fails to sync to head"
# 🐞 Bug Report

### Description

 beacon-chain fails to sync to head, seems to be related to `--head-sync`

### Has this worked before in a previous version?

 Never observed similar issue in previous versions

## 🔬 Minimal Reproduction

Not sure how this issue can be reproduced deterministically, the key arguments used were `--head-sync --blst --medalla`, and the sync issue did go away after remo

[2020-10-25 06:01] ChuckNorrison commented on #7636
mine is missing peers at spadina testnet after update and reboot. This is running with 0 peers after hours of config tweaking, i cant find a reason. Lighthouse has the same issue with current release and zinken testnet.

[2020-10-25 11:57] yorickdowne commented on #7636
@ChuckNorrison Spadina and Zinken are done, they also do not support discv5.1. The longer-running testnet is Medalla.

[2020-10-25 22:16] rev3ks opened #7639 "Beacon node repeatedly processes the same blocks"
# 🐞 Bug Report

### Description
logs repeatedly process the same blocks, never making any progress. Checked if this was a known issue or user error in discord and was directed to open a ticket. I saw this behavior when using --head-sync option. I may have nuked the database on a previous restart, so I am guessing it did not have up to date state to start from.

### Has this worked before in a prev

[2020-10-26 10:48] nisdas commented on #7373
Hey @ChuckNorrison given that spadina and zinken are intended to be short-term testnets, peer discovery in our beta release is not backwards compatible with most spadina nodes. In beta, we updated our discovery to v5.1 which is a breaking change, which is why you see 0 peers. You can use our alpha versions to be able to run on spadina.

[2020-10-26 10:54] ChuckNorrison commented on #7373
Thanks, i was not aware of that fact. We still have some testnet flags available which do not work anymore

[2020-10-26 15:50] terencechain commented on #7243
Completed in latest release

[2020-10-26 15:50] #7243 closed

[2020-10-26 16:43] rauljordan commented on #971
@nisdas is this something in scope for us or does this need to be a change done in libp2p itself? If so, we can perhaps close this issue as we cannot resolve it ourselves

[2020-10-26 16:56] #7255 closed

[2020-10-26 18:20] #7131 closed

[2020-10-26 19:19] rauljordan commented on #6948
@nisdas what would be required for successful closure of this issue? We have a few other related ones such as #7076, #7159, and #7161. Would closing those 3 be sufficient for closing this one?

[2020-10-26 19:21] rauljordan commented on #5793
Now that new-state-mgmt is the default, you can just use --disable-historical-detection to achieve the desired results

[2020-10-26 19:21] #5793 closed

[2020-10-26 19:22] rauljordan commented on #6329
@GuillaumeMiralles could you share more details about the metrics you are currently using? Wouldn't validator_balance be enough for your purposes?

[2020-10-26 19:31] rauljordan commented on #7515
Beta.0 released https://github.com/prysmaticlabs/prysm/releases/tag/v1.0.0-beta.0

[2020-10-26 19:32] rauljordan commented on #7498
@nisdas what else aside from #7542 is needed to resolve?

[2020-10-26 19:33] rauljordan commented on #7424
Any update on this one @nisdas or @farazdagi ?

[2020-10-26 19:42] rauljordan commented on #7208
@rkapka would it be enough if we just show a link to beaconcha.in/exits/0x02939023 once? And then the user can frequentlly check that link to see if they have exited

[2020-10-26 19:47] rauljordan commented on #6445
@Buttaa we might not get to this given other priorities, but I've been reading the code and shouldn't it behave this way already? Once we have a genesis state, the /validators/queue endpoint should work ok. What results did you get earlier?

[2020-10-26 20:02] #7592 closed

[2020-10-26 20:55] Buttaa commented on #6445
@rauljordan
`/eth/v1alpha1/validators/queue` only returns the validators which have been recognized by beaconchain (8 hours), however the queue is already known once the deposit transaction reaches the deposit contract

[2020-10-26 21:47] prestonvanloon commented on #971
This would require changes in libp2p and Prysm.

Some people are working on this idea: https://github.com/berty/go-libp2p-tor-transport

[2020-10-26 22:49] terencechain commented on #7239
No longer relevant

[2020-10-26 22:49] #7239 closed

[2020-10-27 04:37] rauljordan commented on #7108
Interested in this after audit resolutions

[2020-10-27 05:55] GuillaumeMiralles commented on #6329
No this metric wouldn't be enough. I cannot know how much ETH the user deposited on his validator, since he could do multiple deposits at different time. So in order to calculate perfectly the total earning, I require this data.
What it is done right now is that it guess that the validator got 32 ETH deposited, no more no less. So if the user wants to have the real total earning, he needs to subst

[2020-10-27 09:20] nisdas commented on #971
@rauljordan The main changes will have to be done at the base transport level which would be in libp2p. Also a preston mentioned there would need to be quite a few changes in prysm itself too to allow the possibility of running something like this.

[2020-10-27 11:47] littleskunk commented on #7586
My feedback on this topic:

Prysm is currently not stable. In the announcements, we have been told to watch out for deprecated parameter because in the next release the deprecated parameter will be removed. It was a surprise to me that also other parameters have been removed without any deprecate warning. I am using docker and leave the updates to watchtower. My problem is not so much that the web

[2020-10-27 12:39] littleskunk opened #7650 "Validator: Could not submit attestation to beacon node - context deadline exceeded"
# 🐞 Bug Report

### Description

Validator keeps losing ETH balance.
[code]

This behavior stops as soon as I stop the slasher. The behavior comes back as soon as I start the slasher.
[code]

### Has this worked before in a previous version?

Since a few releases, my validators are failing for different errors. Yes it has worked a few releases ago but I can't say which version it was.

## 🔬 Minima

[2020-10-27 13:42] ChuckNorrison commented on #7586
early stage can be confusing to users, especially if breaking changes are happening. Iam fine with it, even the docs do not coverage all dependencies. For zinken and spadina testnet it would have be useful to get this Information in release notes, to not get users try to debug for hours ;)

[2020-10-27 13:42] #7504 closed

[2020-10-27 14:29] #7538 closed

[2020-10-27 16:36] rauljordan commented on #7410
Working on
9. Dependencies are out of date
10. Code relies on two dependencies with OSS advisories
22. Hardcoded contract bytecode
23. Files and directories created with os.MkdirAll and ioutil.WriteFile are not ensured to have correct permissions
24. Response body not closed in tests

[2020-10-27 20:51] #6880 closed

[2020-10-28 05:45] prestonvanloon opened #7658 "Improve getAttPreState with multilock"
# 🚀 Feature Request

### Description

Prior to https://github.com/prysmaticlabs/prysm/pull/7656, we had a lock around getAttPreState. The original intention was to prevent the following scenario:

- Goroutine 0: getAttPreState(checkpoint0), the state at checkpoint 0 is not cached, so we start regenerating it
- Goroutine 1: getAttPreState(checkpoint0), the state at checkpoint 0 is not cached, so we

[2020-10-28 14:25] potuz opened #7661 "Could not write websocket accessing logs"
# 🐞 Bug Report

### Description
accessing `http://localhost:8080/logs` I get a `bad request` reply in the browser and the following in the logs
[code]

### Has this worked before in a previous version?

I think yes, and {{7240}} indicates that this was supposed to work

## 🔬 Minimal Reproduction

1. Run the beacon-node (resp. the validator)
2. Access `http://127.0.0.1:8080/logs` (resp. 8081)

## 🔥

[2020-10-28 14:56] potuz commented on #7661
Sorry for the noise, this is invalid, I need to check with a websocket connection

[2020-10-28 14:56] #7661 closed

[2020-10-28 17:14] terencechain commented on #7410
24 is addressed in #7450

[2020-10-28 18:37] rauljordan commented on #7410
Regarding: 25. Password guesses should be limited to prevent brute force
Won't fix because there is no reliable way to enforce password guesses. If we add some file that marks how long a user is locked out of password attempts, the attacker can just remove that file and keep brute forcing. Moreover, passwords are now forced to have stricter requirements

[2020-10-28 19:42] rauljordan commented on #7410
22: Won't fix as it does not affect any dependencies nor behavior of eth2 in mainnet. We do want to get rid of the deposit contract code eventually so we only promote the canonical eth2 deposit contract repo

[2020-10-28 19:53] rauljordan commented on #7410
7 has been fixed, auditors were eventually able to run e2e tests normally

[2020-10-28 20:11] metanull-operator commented on #7485
Consider whether an enable/disable "all" option would be appropriate in any related commands. It seems convenient, but it may not be desirable for other reasons.

[2020-10-29 00:07] dv8silencer opened #7668 "Not using --head-sync still seems to use head-sync after earlier issue with sync loop"
#🐞 Bug Report

I ran head-sync on 8c2fff3a75ffe672781a8c8d61651f64c228c370 (yesterday's master) fine for ~20 hours.  Then it entered a sync loop:

(Info level only): https://www.dropbox.com/s/5y5mnk3xa0acjre/INFOonly.txt?dl=0
(Debug level): https://www.dropbox.com/s/xppeu8mvs5fkbvq/resync.log?dl=0
(Smaller section debug level): https://www.dropbox.com/s/c1159hejul81ilu/message.txt?dl=0
(DB): https

[2020-10-29 10:44] rkapka opened #7673 "Interop testnet's beacon node can't find peers in beta.0"
# 🐞 Bug Report

### Description

 Running the interop testnet produces the following beacon node error:
[code]

Validator also reports errors:
[code]

### Has this worked before in a previous version?

It works fine in `beta.0.rc`

## 🔬 Minimal Reproduction
Terminal 1
[code]
Terminal 2
[code]

[2020-10-29 16:01] rauljordan commented on #7498
Has no longer been reported

[2020-10-29 16:01] #7498 closed

[2020-10-29 20:56] ChuckNorrison opened #7679 "WebUI: Create HD Wallet Internal server error"
# 🐞 Bug Report

### Description

I try to Create HD Wallet via WebUI, that fails with a red coloured notification after the desired Wallet Password was entered

### Has this worked before in a previous version?

unknown

## 🔬 Minimal Reproduction

Open WebUI, Create HD Wallet, use complex passwords with special chars

## 🔥 Error

<pre><code>
Internal server error, something went wrong
</code></pre

[2020-10-29 22:37] #7394 closed

[2020-11-01 00:12] fab-spring opened #7694 "Add Inclusion Distance as prometheus metrics (maybe Attestation Effectiveness)"
# 🚀 Feature Request

### Description

Being able to monitor our inclusion distance over time, and ideally calculate the attestation effectiveness of our validator node would help stakers noticing when there's potentially an issue with our node causing our attestations to be broadcast late OR worse, not at all.
An example for me, during this period of non-finality was that the default max-peers (3)

[2020-11-01 00:13] fab-spring commented on #7694
Note: If this feature is approved, I'll be more than happy to tackle this issue.

[2020-11-01 02:05] dimiandre commented on #5972
I'm getting the same error with latest prysm version using docker

Already third time that happen to me during sync

[code]

[fulltrace.log](https://github.com/prysmaticlabs/prysm/files/5470090/fulltrace.log)

[2020-11-02 00:22] yorickdowne opened #7695 "--head-sync before sync has reached last finalized block will cause sync to fail"
# 🐞 Bug Report

### Description

If restarting a beacon with `--head-sync` before sync has reached the last finalized block, sync will fail.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

Sync a beacon from scratch, let it get a few k in, stop it, and restart with `--head-sync`

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

Ubuntu.

**What

[2020-11-02 00:46] potuz opened #7696 "ValidatorPerformance does not correctly report late included attestations"
# 🐞 Bug Report

### Description

An attestation for epoch N that is only included in epoch N+1 is treated as missing by `GetValidatorPerformance`

### Has this worked before in a previous version?

No

## 🔬 Minimal Reproduction

If a validator attested in epochs N and N+1 and both attestations are included in epoch N+1 then a call to `/eth/v1alpha1/validators/performance` on epoch N returns `inclu

[2020-11-02 02:49] #7696 closed

[2020-11-02 14:26] potuz opened #7699 "performance aggregates are wrong"
# 🐞 Bug Report

### Description
The validator performance aggregates logged in `LogValidatorGainsAndLosses` may miss attestations that are included later

### Has this worked before in a previous version?

No

### The problem:

The performance stats including averages to `InclusionDistance`, `InclusionSlot`, `CorrectlyVotedHead`, `CorrectlyVotedTarget` and `CorrectlyVotedSource` are updated on eac

[2020-11-02 15:29] potuz commented on #7699
An implementation of the first (simplest) solution above is in https://github.com/potuz/prysm/tree/report-last-boundary-performance

[2020-11-02 18:19] #6766 closed

[2020-11-02 18:37] prestonvanloon opened #7701 "ARM builds are broken in beta.1 due to blsMultiVerifyFinal missing symbol"
# 🐞 Bug Report

### Description

[code]

### Has this worked before in a previous version?

beta.0

## 🔬 Minimal Reproduction

Run beta.1 with arm64

## 🔥 Error

<pre><code>
ubuntu@ubuntu:/home/prysm$ ./prysm.sh beacon-chain --version
Latest Prysm version is v1.0.0-beta.1.
Beacon chain is up to date.
Verifying binary integrity.
beacon-chain-v1.0.0-beta.1-linux-arm64: OK
gpg: Signature made Mon Nov

[2020-11-02 19:57] Nikolay-everstake opened #7703 "My node v1.0.0-beta.1 is consuming a lot of memory."
# 💎 Issue

### Background
My node is consuming a lot of memory.
node version v1.0.0-beta.1
### Description
My node v1.0.0-beta.1 is consuming a lot of memory.
OS Ubuntu 16.04.6 LTS
Linux ethereum2 4.15.0-70-generic
Intel(R) Core(TM) i7-6700 CPU @ 3.40GHz
64 Gb RAM
My proc report
cat /proc/16950/status
Name:   beacon-chain-v1
Umask:  0002
State:  S (sleeping)
Tgid:   16950
Ngid:   0
Pid:    16950
P

[2020-11-02 23:47] rkapka commented on #7208
@rauljordan I had the same thought a few days ago. Let's implement it this way and close the issue.

[2020-11-03 00:24] dankrad opened #7705 "Email list to inform users of critical issues/updates"
When critical updates are published, or there are urgent problems with the clients that need all stakers to intervene, there should be a way to quickly get this information out to all Prysm users. I recommend:
 *  Setting up an email list that stakers can subscribe to and on which highly critical information can be pushed
 * Additionally, setting up groups/accounts on other channels (twitter, tele

[2020-11-03 00:27] prestonvanloon commented on #7705
We can support a low volume email list for release announcements. I'll set something up this week. Thanks for the suggestions!

[2020-11-03 01:18] dv8silencer commented on #7668
I think can be closed.  The sync loop is another issue that is possibly solved already.  The behavior of the sync jump is just because of a change from finalized to justified block that Nishant mentioned in Discord.

[2020-11-03 02:35] rauljordan commented on #7650
@littleskunk this has since been resolved in 1.0.0-beta.1, please let us know if the issue persists and we can reopen

[2020-11-03 02:35] #7650 closed

[2020-11-03 02:36] rauljordan commented on #7639
this has since been resolved in 1.0.0-beta.1, please let us know if the issue persists and we can reopen @rev3ks

[2020-11-03 02:36] #7639 closed

[2020-11-03 02:36] rauljordan commented on #7636
this has since been resolved in 1.0.0-beta.1, please let us know if the issue persists and we can reopen @jerryji

[2020-11-03 02:36] #7636 closed

[2020-11-03 03:15] rauljordan commented on #6891
hey @rkapka this one is still relevant. My deps update PR #7646 only updates bug fix or security vulnerabilities in dependencies, but we still have to amend the Prysm code in this issue that uses deprecated package members

[2020-11-03 03:57] nisdas commented on #7703
@Nikolay-everstake How many validators are you running ?

[2020-11-03 05:12] prestonvanloon commented on #7701
It looks like Herumi pre-compiled archives for ARM64 were not updated.

Here's a patch to prevent this from happening in the future.
[code]

[2020-11-03 05:28] #7701 closed

[2020-11-03 05:31] prestonvanloon commented on #7701
Note to ARM users, we have built "hotfix" binaries for beta.1. These binaries are built from commit b852bdb588f35845f9857d18de53def49c6ebb2c.

Use this environment variable with the prysm script to access the hotfix binaries.
[code]

The binaries are also available for download:
https://prysmaticlabs.com/releases/beacon-chain-v1.0.0-beta.1-hotfix-linux-arm64
https://prysmaticlabs.com/releases/beac

[2020-11-03 06:50] Nikolay-everstake commented on #7703
On this node 2 validators.

вт, 3 нояб. 2020 г., 05:57 Nishant Das <notifications@github.com>:

[2020-11-03 07:33] SeaMonkey82 opened #7707 "All validators are exited, no more work to perform..."
# 🐞 Bug Report

### Description

Validator process shows two exited validators (from the initial time sync bug), but then states that all validators are exited.

### Has this worked before in a previous version?

Behavior was not observed until updating to beta.1

## 🔬 Minimal Reproduction

`~/Downloads/prysm/prysm.sh beacon-chain --config-file ~/.eth2/prysm/medallabeacon.yaml --blst --head-sync`

[2020-11-03 13:13] nisdas opened #7711 "Add Subgroup Check For Respective Points"
# 💎 Issue

### Background

Currently for both of our BLS libraries do not perform sub-group checks on deserialization.  While it is fine at the current moment, having a subgroup check on our pubkeys /signatures would be important. This is especially relevant for our pubkeys as we do cache them, so performing the check before hand is important. Verifying the subgroup of signatures would have to be

[2020-11-03 13:44] potuz opened #7712 "validator_count and related metrics should align to spec"
# 💎 Issue

The metric `validator_count{state="Active"}` should include the exiting validators and the slashing validators. Similar for (Effective) Balance

Active is defined in the specs as

[code]

And these include the above mentioned.

[2020-11-03 14:06] jerryji opened #7714 "beacon-chain v1.0.0-beta.1 requires more than 25G RAM"
# 🐞 Bug Report

### Description

 beacon-chain v1.0.0-beta.1 requires more than 25G memory to run

![image](https://user-images.githubusercontent.com/83122/97996126-5b097580-1e22-11eb-8d04-cc8d50391d68.png)

### Has this worked before in a previous version?

 N.A.

## 🔬 Minimal Reproduction

Not sure how special my case is, Nishant and others are saying their nodes use less than 4G memory...

## 🔥

[2020-11-03 14:29] nisdas commented on #7714
So both profiles basically show the same story, it seems like your db potentially might have a bad head block ? Your node basically isnt starting up at all. You might have better luck syncing with a fresh db.

cc @terencechain
any ideas on how this is possible ? the state generation isn't terminating to any obvious state. So it looks like its running perputually.

[2020-11-03 14:55] terencechain commented on #7714
It's impossible to tell what is going on based on the given information. @jerryji can you upload your db somewhere?

[2020-11-03 15:32] jerryji commented on #7714
OMG, I've already restarted with --force-clear-db

[2020-11-03 19:57] rauljordan commented on #7714
Duplicate of #7703

[2020-11-03 19:57] #7714 closed

[2020-11-03 20:40] #7712 closed

[2020-11-03 21:18] #7658 closed

[2020-11-03 21:49] rauljordan commented on #6892
Closing in favor of #5337

[2020-11-03 21:49] #6892 closed

[2020-11-03 22:07] rauljordan commented on #5418
Any update on this one @nisdas?

[2020-11-03 22:07] rauljordan commented on #7548
No longer the case in beta.1

[2020-11-03 22:07] #7548 closed

[2020-11-03 23:11] terencechain commented on #7585
Finality was reached on 11/3 ~230pm pst.

My Prysm beacon node memory has been around 5GB for the last 2 weeks.

We can close this for now. Let's re-open if memory spikes up again

[2020-11-03 23:11] #7585 closed

[2020-11-03 23:47] #7699 closed

[2020-11-04 01:10] prestonvanloon opened #7720 "sync: Failed to handle p2p RPC error=collector does not exist for topic"
# 🐞 Bug Report

### Description

Many debug logs print in rapid succession, process is unable to shutdown gracefully.

### Has this worked before in a previous version?

Yes. Beta.0

## 🔬 Minimal Reproduction

User reported this occurred when trying to shut down a beacon node

Send exit signal to running beacon node.

*Note: I have not reproduced this yet myself.*

## 🔥 Error

[code]

## 🌍  Your E

[2020-11-04 01:11] prestonvanloon commented on #7720
@farazdagi could you take a look please?

[2020-11-04 01:14] dv8silencer commented on #7720
OS:  Ubuntu AMD64, but this was exitFix branch by Nishant (e751b2ad9d6c9df388330736a6e904984ada9486) a couple of days ago which was merged into master.  But I've been having this issue on master itself in the last week or more.  Sometimes it exits gracefully with a single ctrl+c, sometimes it just does this and it has to be killed.

[2020-11-04 05:47] nisdas commented on #7720
This is because we actually force a checkpoint. So while we wait for that to happen our p2p service is still running, we should pre-emptively remove our handlers when stopping our sync service. This is a side effect of #7625 being merged in, so a solution to this would be to shut down our services in sync better. #7723 should fix this.

[2020-11-04 07:24] #7720 closed

[2020-11-04 11:28] 3cl1ps opened #7724 "beacon using vpn and nat"
Hey, i got this message in the log :
[2020-11-04 11:13:03]  INFO p2p: Node started p2p server multiAddr=/ip4/192.168.1.173/tcp/3439/p2p/16Uiu2HAkvRynE4wayY6zSAkDFtiSd6vibHUPaVvbxXjEmUf6Uc3b
[2020-11-04 11:13:03]  INFO p2p: Node started external p2p server multiAddr=/ip4/A.A.A.A/tcp/3439/p2p/16Uiu2HAkvRynE4wayY6zSAkDFtiSd6vibHUPaVvbxXjEmUf6Uc3b
[2020-11-04 11:13:04]  WARN p2p: IP address is not acc

[2020-11-04 13:17] mrtestyboy781 commented on #7673
Also seeing this in privatenet setup

[2020-11-04 22:04] prestonvanloon commented on #7705
A mailing list can be found here: https://groups.google.com/g/prysm-dev

[2020-11-04 23:57] tsudmi opened #7732 "Fails to load dynamically validator key when using symbolic link"
# 🐞 Bug Report

### Description

Hi,

When `all-accounts-keystore.json` is created as a Kubernetes secret, the validator client fails to read dynamically updated keys from it and it must be restarted to re-sync newly added keys.

## 🔬 Minimal Reproduction

1. Create a Kubernetes secret with `all-accounts-keystore.json`
2. Create a validator pod with secret mounted as a volume to `/home/.eth2valida

[2020-11-05 00:21] prestonvanloon commented on #7732
Can you paste any part of your manifest? If not, can you confirm you are not using the subPath volume mount?

What flags are you using?

I think that secrets are mounted via symbolic link and we are only monitoring write events, which would not apply to a symbolic link.
https://github.com/prysmaticlabs/prysm/blob/7e44d1eec73a5a89bce095d4ce01dadc3cf2efe7/validator/keymanager/imported/refresh.go#L84

[2020-11-05 00:26] prestonvanloon commented on #7732
Istio seems to have solved this problem at some point (and then later removed that functionality as they didn't need it). https://github.com/istio/istio/pull/9370

Also related https://github.com/fsnotify/fsnotify/issues/199

[2020-11-05 00:52] tsudmi commented on #7732
Hi @prestonvanloon ,

Here is a part of manifest that could be relevant:

[code]

Could it be due to the volume mounted as `readOnly`?

Looks like the secrets are mounted as a `tmpfs` volume as per docs: https://kubernetes.io/docs/concepts/storage/volumes/#secret

[2020-11-05 01:02] prestonvanloon commented on #7732
It could be due to readOnly, although I suspect that is not the case.

Here's another example of fswatcher in k8s: https://github.com/jimmidyson/configmap-reload/blob/306e52eb38809d3b3bf7b7fbc0fd76514f2dac63/configmap-reload.go#L99

That example monitors *any* event and triggers prometheus to reload the configuration.
I'm thinking that we should also monitor any event and load any new keys into me

[2020-11-05 10:59] farazdagi opened #7734 "Feature Flag Tracking: enableSyncBacktracking"
# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):
- `opt-in`

**Opt-in feature flag name**:
`--enable-sync-backtracking`

**Opt-out feature flag name**:
`--disable-sync-backtracking`

### Feature Description

Turns on backtracking routine when init-sync works on block beyond the finalized epoch (alternative branches are explored).

### Tasks

- [x] Feature flag created as opt-in #7564

[2020-11-05 12:54] yorickdowne opened #7735 "Add `--mainnet` flag"
# 🚀 Feature Request

### Description

Please add a `--mainnet` flag to Prysm beacon and validator (and slasher).

Rationale: I am using docker tooling that uses `--${NETWORK}` to work with mainnet as well as test nets. This tooling will be easier if it works the same way for main as well as test, without needing to special-case Prysm.

`mainnet` is used by eth2.0-deposit-cli as the string to indic

[2020-11-05 16:21] prestonvanloon commented on #7735
Right now, mainnet is the default option. We could support this functionality where a `--mainnet` flag is a no-op since mainnet was the default anyway. In go-ethereum, these types of network flags have been defined for testnets only where the lack of a defined network flag means you intended the main network.

Perhaps eth2.0-deposit-cli can remove that flag requirement?
It sounds like that that cl

[2020-11-05 16:32] terencechain commented on #7342
This is blocked by infra support. Let's see how other clients tackle this

[2020-11-05 16:41] terencechain commented on #7503
This is fine. The fact was the node did receive a block with parent root as zero hashes and the node tried to request it. This is the intended behavior.

We could try to add a condition that discards zero hash parent block but that feels wrong philosophically and anti-spec

[2020-11-05 16:41] #7503 closed

[2020-11-05 16:47] yorickdowne commented on #7735
In a nutshell, where this leaves me for eth2-docker tooling:

With `--mainnet`, the user need make no choice other than set `NETWORK` to `mainnet` in `.env`.

Without it, it becomes some kind of shuffle where I have maybe a `prysm-base.yml` for main and `prysm-base-test.yml` for test. I can work around it - I'd just love to make it really easy for users of the "eth2-docker" tooling.

[2020-11-05 16:49] rauljordan commented on #7310
NOTE: Accounts-v2 is deprecated, do not use accounts-v2 in Prysm

[2020-11-05 17:36] prestonvanloon commented on #7735
@yorickdowne, it looks like this has a tangible benefit to you and is a small ask for the project. Let's add this feature. Thanks!

[2020-11-05 19:17] yorickdowne commented on #7735
Teku does `--network mainnet`. Nimbus and LH haven't released their support yet.

Geth indeed has no flag, it requires some user intervention to indicate "not test".

[2020-11-05 20:36] yorickdowne commented on #7735
After discussion on Discord, rationale for this change: Not having the flag makes my tooling more difficult, having it makes it easier.

Without the flag works, it's just extra steps. So instead of NETWORK= and then either medalla or mainnet, I'll need to duplicate prysm-base and have a prysm-base-main and prysm-base-test yml, because the docker-compose entrypoint right now assumes it can specify

[2020-11-05 22:24] rauljordan commented on #7732
Another issue:
[code]
from @tsudmi

[2020-11-06 02:09] fabdarice commented on #7485
If needed, I'll be happy to tackle this one.

[2020-11-06 02:12] fabdarice commented on #6445
If needed, I'll be happy to tackle this one.

[2020-11-06 02:40] terencechain commented on #7485
@fabdarice sounds good, thanks!

[2020-11-06 02:41] fabdarice commented on #7485
Will tackle this, keeping y'all posted.

[2020-11-06 06:57] nisdas opened #7739 "Use Dynamic Moving Average for Eth1 Blocktime"
# 💎 Issue

Use Moving Average for ETH1 Blocktime

### Background

Currently our eth1 block time is a static parameter created at node initialization. However while this has been the average for a while, it would be much more accurate to instead use a moving average of the last 1000 eth1 blocks and use that to determine our estimated eth1 block time. This would be more accurate than using a static

[2020-11-06 10:32] gregbkr opened #7740 "Security: validator account vs interactive password vs remote signer"
# 💎 Open question on validator account security

### Background

Some questions following the [documentation](https://docs.prylabs.network/docs/wallet/introduction) about how to protect your validator account, understanding the consequence of a hack while running on a VPS in the cloud, or using remote signer with a raspberry at home.

### Description

Hello,

I understand that ETH2 keys can be gen

[2020-11-06 16:25] rauljordan commented on #6445
Thanks @fabdarice, do you think we can get this wrapped up within a week? We should discuss the approach to this issue. One way we could do it is:
- Inside of the keymanageropts.json file within a wallet, we can store a "disabled_validators": [pubkey] entry and exclude those validators when initializing the keymanager (both imported and derived)
- Define `enable` and `disable` commands under prysm

[2020-11-06 16:32] fabdarice commented on #6445
Hey @rauljordan , Terence assigned me to https://github.com/prysmaticlabs/prysm/issues/7485
I'm currently getting myself familiar with the account/wallet codebase.

If #6445 is more urgent, I'm happy to switch gear, let me know. I'm planning on helping out during my spare-time.

Also, are you commenting on the right issues here?

[2020-11-06 16:49] rauljordan commented on #6445
oh shoot, sorry about that! For some reason thought this was #7485. This one is more important as genesis of the beacon chain is near

[2020-11-06 16:52] fabdarice commented on #7485
Continuing the discussion here @rauljordan .

I was thinking of doing 2, which in my opinion is easier for the average joe.

[2020-11-06 18:02] #7735 closed

[2020-11-08 02:02] jerryji opened #7745 "Validator Does Not Attest For EXITING Accounts"
# 🐞 Bug Report

### Description

 validator ( v1.0.0-beta.1 ) does not attest for accounts in EXITING status

### Has this worked before in a previous version?

 N.A.

## 🔬 Minimal Reproduction

Voluntary exit an account, _then_ start its validator

NOTE: if the account changes status to EXITING _while_ its validator is running, validator would keep on attesting

## 🔥 Error

<pre><code>
Nov 07 22:

[2020-11-08 02:38] terencechain commented on #7745
@jerryji nice one! thanks for reporting

[2020-11-08 16:07] potuz commented on #7745
I think the following should solve this issue:

[code]
I am not willing to sacrifice my validator to test :)

[2020-11-08 22:46] PandamineHub opened #7749 "Error powchain"
Hello, when I am starting BC in docker, I am not able to connect to eth1 node which is running:

docker run -it -v C:\Users\jakub\AppData\Roaming\Eth2:/data -p 4000:4000 -p 13000:13000 -p 12000:12000/udp gcr.io/prysmaticlabs/prysm/beacon-chain:stable --datadir=/data --rpc-host=127.0.0.1 --monitoring-host=127.0.0.1 --http-web3provider=http://localhost:8545 --medalla

When I run BC using prysm insta

[2020-11-09 04:39] nisdas commented on #7749
How are you running your eth1 node ?

[2020-11-09 06:36] PandamineHub commented on #7749
geth --datadir="C:\Mainnet_Testnet" --http --goerli

[2020-11-09 07:10] protolambda opened #7750 "Docker image build v1 glibc error"
# 🐞 Bug Report

### Description

GLIBC version problem in docker. Is docker not supposed to help avoid such situations where the host has a different glibc version?

### Has this worked before in a previous version?

Not building prysm docker images with bazel often, not sure.

## 🔬 Minimal Reproduction

Had some versioning problem with bazel (installed 3.2 from source, but bad version string), ru

[2020-11-09 07:13] nisdas commented on #7749
`--http.vhosts` , you will need to whitelist the host ip of your beacon node. Which will be a private ip assigned by docker.
From geth's docs
[code]

[2020-11-09 07:15] protolambda commented on #7750
Can't seem to build the master branch either. Still want to run Prysm v1 branch for Toledo. Can anyone help prepare a docker image?

[2020-11-09 07:52] PandamineHub commented on #7749
Thank you very much for your help so far. Could you please help me how to find out which ip has been assigned by docker?

[2020-11-09 08:41] nisdas commented on #7750
Not too sure why you have that failure, would have to dig into it. However I managed to build toledo and push it up for both the beacon node and validator. If you need the slasher too, I can build for that and push it up too.
https://console.cloud.google.com/gcr/images/prysmaticlabs/GLOBAL/prysm/beacon-chain?gcrImageListsize=30
https://console.cloud.google.com/gcr/images/prysmaticlabs/GLOBAL/prysm

[2020-11-09 17:34] rauljordan opened #7752 "Remove Support for Pre-V2 EIP Keystores Before Mainnet"
We have some old code [here](https://github.com/prysmaticlabs/prysm/blob/5995d2394cc6eb556faa88367b680c8c21b43e10/validator/keymanager/imported/keymanager.go#L103) supporting keys generated before Prysm beta and after Prysm beta. The ones generated before Prysm beta use insecure keystore parameters and a different derivation strategy than the one for mainnet. We should remove this code for our mai

[2020-11-09 18:01] #7745 closed

[2020-11-09 18:25] egoni commented on #7732
After updating the wallet with a new validator key by issuing command like this:
`prysm.sh validator accounts import --keys-dir=validator_keys`
the validator doesn't use the new validator key, this is the log output:
`time="2020-11-09 17:51:24" level=info msg="Deposit processed, entering activation queue after finalization" index=104375 positionInActivationQueue=18009 prefix=validator pubKey=0x81a

[2020-11-09 18:48] protolambda opened #7753 "Repeating docker `exec: "git": executable file not found`"
# 💎 Issue

### Background

Docker image does not have git executable, and git tag is missing in linker options when building. The result is that every time GetVersion() is called, it re-tries to execute `git`, and fails over and over.
This results in spam in the logs, ignores consistent logging (it's just `log` package, instead of the prysm logger), and costs unnecessary overhead (eth2stats polls

[2020-11-09 19:42] SeaMonkey82 commented on #7707
Announcement claims this is fixed in beta.2, but it isn't.

[2020-11-09 19:53] terencechain commented on #7707
@SeaMonkey82 this fix was included in beta.2

Are you saying the fix doesn't work?

[2020-11-09 19:59] ChuckNorrison commented on #7705
Highly recommend this discord channel https://discord.gg/RyhtQqQ6bz

[2020-11-09 20:03] prestonvanloon commented on #7707
@SeaMonkey82 please update with reproduction instructions.

[2020-11-09 20:22] prestonvanloon commented on #7753
Please build with `--config=release`

[2020-11-09 20:22] rauljordan commented on #7705
This is now fixed in our documentation portal, as we have now included a page on how to keep Prysm up to date

[2020-11-09 20:22] #7705 closed

[2020-11-09 20:27] #7410 closed

[2020-11-09 20:30] protolambda commented on #7753
@prestonvanloon thanks, not aware of that flag. @nisdas built this image for me though, since local build with bazel wasn't working, see: #7750

[2020-11-09 20:32] rauljordan commented on #7679
Hi @ChuckNorrison this is related to https://github.com/prysmaticlabs/prysm-web-ui/issues/91 and also due to host:port issues that we are looking into. Please subscribe to that issue for updates

[2020-11-09 20:32] #7679 closed

[2020-11-09 21:44] potuz commented on #7707
@prestonvanloon I don't see how #7747 helps here since that only affects the log of the validator status and the output of `WaitForActivation` In fact reading the code in current master I do not see how this issue can manifest itself. I think we need more info on how to reproduce.

[2020-11-09 22:00] PandamineHub commented on #7749
Hello, I have tried out following:

Private address:
ipconfig | findstr /i "IPv4 Address"

Public address:
curl v4.ident.me

IP address of home router:
ipconfig | findstr /i "Gateway"

But no address work for my docker, still cannot connect to my eth1 node localy. But prysm.bat still working properly with "localhost" connection.

How can I found the IP assigned by docker?

Thank you very much!!

J

[2020-11-09 22:12] rauljordan commented on #7159
We have not been able to isolate this to slasher, and I believe @shayzluf has worked on this and has not found a correlation. Is it comes up and we have clear data about it, we can take further action

[2020-11-09 22:12] #7159 closed

[2020-11-09 22:32] rauljordan commented on #7073
This was likely due to a fork and caches in our beacon node which did not use roots and simply slots as keys. This has no longer been observed in the wild

[2020-11-09 22:32] #7073 closed

[2020-11-10 01:46] SeaMonkey82 commented on #7707
I'm using the same commands and configs provided in the first post and see the same error.  I'm not sure what more info I can provide.  I did update the beaconcha.in link in the first post since medalla has been relocated to its own subdomain.

[2020-11-10 01:49] potuz commented on #7707
@dv8silencer figured out the issue and a fix is already available, the PR should come shortly:

https://discord.com/channels/476244492043812875/667761857209040916/775516270626865154

[2020-11-10 04:16] nisdas commented on #7753
@protolambda This has been fixed with the latest image for toledo, I recompiled it with our release flag. Let me know if it works for you.

[2020-11-10 04:31] protolambda commented on #7753
That worked, thank you. Would still be nice to limit `exec "git"` attempts, or document the release flag near the bazel code (I couldn't find it)

[2020-11-10 04:46] #7707 closed

[2020-11-10 05:07] rauljordan commented on #7740
@gregbkr you summarized it perfectly. I'll add a bit more to the risks of each.

For (2.a), yes the attacker could gain your password and thereby obtain your accounts and unencrypted validating private keys. The attacker will never have your withdrawal private keys, however.

For (2.b) The decrypted accounts live in RAM so yes they could dump the RAM and still steal your accounts

For (2.c) Yes th

[2020-11-10 05:07] #7740 closed

[2020-11-10 07:33] nisdas commented on #7753
Yeah, its still a `TODO` unfortunately.
https://github.com/prysmaticlabs/documentation/issues/258

We will try and get this documented before mainnet, for anyone building from source using the release flag would be more desirable.

[2020-11-10 07:33] #7753 closed

[2020-11-10 07:38] nisdas commented on #7749
Hey Jakub,

can you try `ipconfig docker0` , I am assuming the windows counterpart works the same as linux.

If you do see a private ip specified, you can provided that + `/16`

so ex: `172.0.0.1/16` and provide that to geth in the flag.

Also if you still have issues you can come to our discord: https://discord.gg/vfNBrSDV

[2020-11-10 13:03] CarlBeek opened #7763 "Outdated EIP2333 version"
# Outdated EIP2333 version

### Description

A few months ago, EIP 2333 was updated so that `hkdf_mod_r` matched the `KeyGen` function update in the BLS specs. Prysm is still using the old version.

## 🔬 Minimal Reproduction

Try run the EIP's tests against your implementation.

## The fix
Update `hkdf_mod_r` to the new version with the while loop as per [EIP2333](https://eips.ethereum.org/EIPS/ei

[2020-11-10 13:54] stefa2k opened #7764 "Beacon: finalized state not found in disk"
# 🐞 Bug Report

### Description

Disk space ran out, now beacon chain won't start up anymore. After removing the container and spinning it up it worked again (data resides outside container).

### Has this worked before in a previous version?

Never had this issue before.

## 🔬 Minimal Reproduction

Unkonwn

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 2

[2020-11-10 14:01] fabdarice opened #7765 "Version is not correctly displayed when running beaconchain node"
# 🐞 Bug Report

### Description

As we can see in the log below, the Prysm version is not correctly displayed, the string interpolation seemed to be missed.

[code]

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Linux Arch
  </code>
</pre>

**What version of Prysm are you running? (Which release)**

<pre>
  <code>
1.0.0-beta.2
  </code>
</pre>

**Anything else relevant (validator i

[2020-11-10 14:01] fabdarice commented on #7765
Happy to fix this real quick.

[2020-11-10 14:05] nisdas commented on #7765
@fabdarice you need to build with `--config=release`  it will bake in the binary data. For reference:
https://github.com/prysmaticlabs/prysm/issues/7497

[2020-11-10 14:05] #7765 closed

[2020-11-10 15:06] terencechain commented on #7764
@stefa2k can you upload your db somewhere?

[2020-11-10 17:08] leontodd opened #7766 "Missed proposal due to "validator has already submitted an exit", but no exit submitted"
# 🐞 Bug Report

### Description

I noticed that my validators had been attesting but consistently missing all proposals. I've included the logs from the time of one of the missed proposals below. The log seems to indicate that the proposal failed because the validator had already submitted an exit. I have not exited any validators and can't seem to find any indication that this validator has been

[2020-11-10 17:10] roman-blox commented on #7764
same issue

[2020-11-10 17:14] terencechain commented on #7764
@roman-blox can you upload your db somewhere?

[2020-11-10 18:01] gregbkr commented on #7740
Thank you @rauljordan for your clear answer!
Is there on the roadmap any "ledger eth2 staking app", to protect your validator private key, similar to [tezos-baking-app](https://github.com/obsidiansystems/ledger-app-tezos)? It seems like the ultimate/efficient security solution. Thanks!

[2020-11-10 18:05] rauljordan commented on #7740
Unfortunately, no hardware wallet support is known at the moment. The best we recommend for average stakers is to keep your mnemonic always offline and safe, and only import validating keys into Prysm as you need them. For advanced stakers, remote signers are the best way, but there isn't a documented way to set one up yet for production. We are working on using a remote signer internally and afte

[2020-11-10 20:13] #7694 closed

[2020-11-10 22:15] rauljordan commented on #7412
Update, found this data race triggered many times after initial sync

![Uploading Screen_Shot_2020-11-10_at_11.33.12_AM.png…]()

[2020-11-10 23:10] rauljordan commented on #7412
Data Race 1 was due to p2p.GossipTypeMappings which discussed offline is OK as we never write to that map

[2020-11-10 23:25] rauljordan commented on #7412
13 is an issue in the internal grpc logger package that is not a big deal for Prysm, we can ignore

[2020-11-11 02:57] #7412 closed

[2020-11-11 03:30] rauljordan commented on #5418
Still blocked by rules go and likely should be added to the backlog

[2020-11-11 05:20] rauljordan commented on #7558
@bidlocode we have spent time attempting to diagnose the code path based on the stack trace above, and it is impossible for us to determine what led to this condition. It seems there might have been some crazy memory corruption occurring when you had this panic. We have now handled the code so there will no longer be a panic if this happens again, but unfortunately will have to close this unless i

[2020-11-11 05:20] #7558 closed

[2020-11-11 06:14] michaelsproul commented on #7196
EIP-3076 is now the canonical reference for the format: https://eips.ethereum.org/EIPS/eip-3076

I also need input from Prysm on some decisions here: https://ethereum-magicians.org/t/eip-3076-validator-client-interchange-format-slashing-protection/4883/2

[2020-11-11 12:00] imnisen opened #7780 "Should mainnet genesis delay be 7 days?"
https://github.com/prysmaticlabs/prysm/blob/d3ca9985eb9c00d1d7f1fc69b1c48bc6c54f5c7e/shared/params/mainnet_config.go#L46

As in the [spec](https://github.com/ethereum/eth2.0-specs/blob/450c8c26f9873775c842669edb6d6f3cca02b7ea/configs/mainnet/phase0.yaml#L82)

[code]

[2020-11-11 12:10] nisdas commented on #7780
Hey @imnisen you can monitor this here:
https://github.com/prysmaticlabs/prysm/tree/v1.0.0-rc.0

We havent updated all our config values yet, we will be doing them in time. That branch is still a work in progress.

[2020-11-11 16:28] #7780 closed

[2020-11-11 18:23] rauljordan commented on #7763
Hi @CarlBeek we just tested this out in #7783 and are compliant with the tests. The reason there might be a misunderstanding is because we vendored in an old dependency to support old users of the Medalla testnet

https://github.com/prysmaticlabs/prysm/blob/d3ca9985eb9c00d1d7f1fc69b1c48bc6c54f5c7e/validator/keymanager/derived/keymanager.go#L491

We have a tracking issue to remove this old dependen

[2020-11-11 18:23] #7763 closed

[2020-11-11 18:36] rauljordan commented on #6948
Discussed with @shayzluf that only (2) is a reasonable suggestion we can use today. Moreover, it is already solved as our imported keymanager disallows duplicate keystores

[2020-11-11 18:36] #6948 closed

[2020-11-11 18:40] rauljordan commented on #7703
@Nikolay-everstake could you update us on your performance with beta.2? Are you also running a slasher?

[2020-11-11 18:41] rkapka commented on #7766
I don't think anything can be done here without an explanation of how to reproduce this, @leontodd. Are you able to provide more details?

[2020-11-11 18:51] prestonvanloon commented on #7766
@rkapka It seems like they had voluntary exit in their queue when that voluntary exit had already been included in the chain.

This user is likely not going to be able to give us reproduction instructions so we will have to reverse engineer the problem.
It is very likely that something is wrong with this method:
https://github.com/prysmaticlabs/prysm/blob/fcbb168c76ac6a471fdd6c5a2a1611857883499d/b

[2020-11-11 18:54] prestonvanloon commented on #7766
I suspect that their voluntary exit pool had two different exits for the same validator.

[2020-11-11 19:04] prestonvanloon commented on #7766
Fixed by #7774

[2020-11-11 19:04] #7766 closed

[2020-11-11 19:07] prestonvanloon commented on #7750
Please use `--config=release` to build docker images.

[2020-11-11 19:10] prestonvanloon commented on #7750
Alpine still broken, no one is looking into it right now as far as i know :( #5768

[2020-11-11 19:30] protolambda commented on #5768
Which libraries in prysm require native dependencies? Previously I went through Herumi BLS to get it to run on alpine linux, see:
- https://github.com/herumi/bls/issues/50
- https://github.com/herumi/bls-eth-go-binary/pull/8

Maybe that's broken here? Or maybe there is a similar problem with another library?

[2020-11-11 21:52] prestonvanloon commented on #5768
This is what happens when I tried to run alpine:
[code]

[2020-11-11 23:05] fabdarice opened #7785 "`account list` should distinguish which accounts are enabled and disabled"
# 🚀 Feature Request

### Description
Following #7746, when a user is running `account list`, he should be able to distinguish which accounts have been disabled from the ones that are still active.

### Describe the solution you'd like
Tackling this feature as a follow-up PR of #7746

[2020-11-11 23:17] fabdarice commented on #7785
@rauljordan feel free to assign it to me.

[2020-11-12 00:05] fabdarice opened #7787 "Enable & Disable Account"
# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):

**Opt-in feature flag name**:

**Opt-out feature flag name**:

### Feature Description
The feature will allow users to enable and disable via command lines one or many validator keys.
Disabled validators will not be removed from the account wallet, but instead simply be inactive and will not perform any attestation, aggregation or bloc

[2020-11-12 00:11] fabdarice commented on #7785
Opened a tracking issue #7787

[2020-11-12 00:11] #7785 closed

[2020-11-12 02:22] #7695 closed

[2020-11-12 09:34] notfound8000 opened #7788 "Crash report: Failed to verify deposit data, verifying signatures individually error=one or more deposit signatures did not verify"
# 🐞 Bug Report

### Description
After upgrading to v1.0.0-beta.2 and restarting beacon-chain, software hangs at start and crashes after a while.

### Has this worked before in a previous version?
Same error is happening now after downgrading to v1.0.0-beta.1

## 🔬 Minimal Reproduction
<pre><code>
./beacon-chain \
    --grpc-gateway-port=2250 \
    --grpc-gateway-host=$XXX \
    --medalla \
    --h

[2020-11-12 14:17] shayzluf opened #7791 "Handle missing validator.db file or relevant data"
# 🚀 Feature Request

### Description

I order to harden slashing protection and educate our users about its importance we have to add steps that prevents the accidental lose of the validator.db file or its relevant content

### Describe the solution you'd like

Two steps solution:

- [x]  add warning for missing file

- [x] prompt user for running an activated validator key that has no relevant pr

[2020-11-12 21:06] rauljordan opened #7798 "Final Pass at Removing Deprecated Flags and Old Testnet Configs for v1.0.0"
This is a tracking issue to remove all deprecated and old testnet configs and flags for Prysm's v1.0.0 release, to start mainnet with a clean slate

[2020-11-12 21:16] #7752 closed

[2020-11-12 22:07] #7076 closed

[2020-11-12 23:16] prestonvanloon commented on #7788
The invalid deposits are normal logs, when someone sends an invalid deposit. Medalla has several of those.

Can you post the whole logs? I wonder why it is crashing. Is it out of memory?

[2020-11-12 23:18] prestonvanloon commented on #7732
@rauljordan do you think you could take a look at this? I'm wondering if we are not monitoring enough events. Perhaps we can reload the validator keys on _any_ event, not just fsnotify.Write.

[2020-11-12 23:20] prestonvanloon commented on #7673
How many peers do you have? If none, what did you expect from a p2p.BroadcastAttestation?

[2020-11-13 02:22] DoHaiSon commented on #7673
It for interop testnet, so peer=0 (min-sync-peer=0).

[2020-11-13 13:24] alexfisher opened #7806 "geth restart causes beacon node to lose connection to powchain endpoint and doesn't reconnect"
# 🐞 Bug Report

### Description

With this week's ETH 1 network issue due to out-of-date geth releases, I performed two geth updates that triggered this error condition two different times.  I'm running geth in its own docker container and prysm beacon and validator in their own containers.  Typically, the beacon node connects to geth via IPC which is shared between each respective docker containe

[2020-11-13 15:14] ddn commented on #7788
Not sure if this is related, but after it was killed by the kernel for OOM, I am unable to restart beacon-chain and it gives this error as well as another error that was fixed/referenced in  https://github.com/prysmaticlabs/prysm/issues/3733

Latest Prysm version is v1.0.0-beta.2.
Beacon chain is up to date.
Verifying binary integrity.
beacon-chain-v1.0.0-beta.2-linux-amd64: OK
gpg: Signature made

[2020-11-13 15:31] nisdas commented on #7788
@ddn you need to add in the `--medalla` flag.

[2020-11-13 15:50] ddn commented on #7788
@nisdas 🤦  thank you

[2020-11-13 15:57] #7788 closed

[2020-11-13 16:06] #7485 closed

[2020-11-13 16:07] littleskunk opened #7807 "Beacon crash loop after docker restart: does not match the latest block header signing root in state"
# 🐞 Bug Report

### Description

Beacon node is unable to start after a docker restart command

Shutdown looks clean to me
[code]

Next startup is now a crash loop
[code]

### Has this worked before in a previous version?

Yes

## 🔬 Minimal Reproduction

docker restart beacon

## 🔥 Error

See description

## 🌍  Your Environment

**Operating System:**

OpenMediaVault (Debian)

**What version of Pry

[2020-11-13 16:10] rauljordan commented on #7807
@littleskunk we have diagnosed this and looks like this happens when you were running on a different chain, such as mainnet, and then restart with --medalla or vice versa. Can you confirm you were running the --medalla flag before the restart (when you shutdown) and after the restart?

[2020-11-13 16:15] littleskunk commented on #7807
I executed a docker restart command. I am not using a config file. Even if I would have changed my docker compose file (I haven't) docker restart would not apply that change and keep running the old option. As you can see after the restart the medalla flag was set so it must have been present before as well.

This was the last block that my beacon node picked up:
[code]

[2020-11-13 17:08] prestonvanloon opened #7810 "Windows: prysm.bat does not recognize AMD processors as 64 bit"
https://github.com/prysmaticlabs/prysm/blob/075f1458b46e2e61f5e883076b0d52b637814e83/prysm.bat#L37-L41

![unknown (1)](https://user-images.githubusercontent.com/7246818/99099697-a85ab500-258f-11eb-9de2-e3645b81c27c.png)

There is no "x86" string for AMD processors such as AMD Ryzen 5 4600H

[2020-11-13 17:11] prestonvanloon commented on #7810
Workaround script can be used here: https://gist.github.com/prestonvanloon/22b39cffb75371fbe3036d054a89a3ed

[2020-11-13 17:14] prestonvanloon commented on #7810
cc: @wgknowles

[2020-11-13 19:02] potuz commented on #6329
Do we really want this? the only way to effectively track this would be with a gauge for a timeseries since the deposits can happen at any time during the lifetime of the validator. This will be a series by pubkey.  I feel like this will increase the cardinality of the dbase mostly unnecessarily. The vast majority of users will not need this feature. Or can just simply change their dashboard accor

[2020-11-14 00:45] rauljordan opened #7813 "[Tracking] - Standard Slashing Protection Interchange Functionality"
# 💎 Issue

### Background

The objective of this issue is to define a clear path for Prysm to implement the eth2 client slashing protection interchange format defined by [EIP-3076](https://eips.ethereum.org/EIPS/eip-3076). The EIP now comes with conformity tests which we can ensure our client satisfies. We have written up a design document for this feature [here](https://docs.google.com/document/d

[2020-11-14 04:35] wgknowles commented on #7810
On holiday for a week, but here’s some helpful info: https://ss64.com/nt/syntax-64bit.html

[2020-11-14 13:50] yorickdowne opened #7815 "Introduce "stable" docker tag for easier tooling"
# 🚀 Feature Request

### Description

Currently, a versioned docker tag and a `latest` tag exist, where `latest` tracks development on `master`.

In addition to these two, a `stable` tag would be useful, that tracks latest release. This makes docker tooling easier,
as there's no need to change configuration files with a new release.

I have no opinion on the exact name of such a tag. There might b

[2020-11-14 14:25] raphpa commented on #7815
There actually is a :stable tag in the registry
[https://console.cloud.google.com/gcr/images/prysmaticlabs/GLOBAL/prysm/beacon-chain](https://console.cloud.google.com/gcr/images/prysmaticlabs/GLOBAL/prysm/beacon-chain?gcrImageListsize=30&gcrImageListquery=%255B%257B_22k_22_3A_22_22_2C_22t_22_3A10_2C_22v_22_3A_22_5C_22stable_5C_22_22%257D%255D)

[2020-11-14 18:17] prestonvanloon commented on #7815
We provide a stable tag with every release.

[2020-11-14 18:17] #7815 closed

[2020-11-15 05:50] jesmith0 opened #7817 "Beacon chain stuck "Checking DB""
I'm attempting to sync with the Medalla testnet and encountering an issue where the node is stuck logging the following:

[code]

This following a restart after noticing my node was stuck logging "Saved state in DB" for over 2 hours in the middle of the sync process. Could this restart have corrupted the DB?

Command that DAppNode ran to start the beacon chain:

`beacon-chain --medalla --datadir=/

[2020-11-15 10:47] egoni opened #7818 "add --no-check-certificate for beacon node"
# 🚀 Feature Request

### Description

If geth is running behind nginx proxy to serve tls encription with self signed certificate, the connection to the geth client fails because the beacon node can't verify the certification issuer:
`[2020-11-15 02:17:04] ERROR powchain: Could not connect to powchain endpoint error=Post "https://<ipgeth>/": x509: certificate signed by unknown authority`

### Descr

[2020-11-15 11:30] dpSky commented on #7806
I used the bash shell to start the goetherum client and encountered the same problem, beaconchain **could not link to eth1 powchain**.
I configured them like this:
`/usr/local/bin/geth --goerli --http --datadir /var/eth-box/geth --rpc --rpcaddr 127.0.0.1`

`ExecStart=/usr/local/bin/beacon-chain --p2p-host-ip=‘’ --datadir=/var/eth-box/beacon-chain --http-web3provider=http://127.0.0.1:8545 --accept-

[2020-11-15 22:08] fabdarice commented on #7424
I could potentially help with next. Might need some guidance on an easy way to reproduce it?

[2020-11-15 22:17] fabdarice commented on #5450
I can take a look a this if needed. I recently look at `client/runner.go run()` so familiar with the life cycle of a validator.

[2020-11-16 01:06] #7620 closed

[2020-11-16 04:45] nisdas commented on #7749
@PandamineHub has already informed me offline that he has it resolved, it had to do with his geth setup while trying to use a non-localhost binding address.

[2020-11-16 04:45] #7749 closed

[2020-11-16 10:51] Nikolay-everstake commented on #7703
Yes. I have updated node nodes to beta.2
on node with 2 val keys
RssAnon:         5595112 kB
RssFile:         6522604 kB
slasher runned
on node with 100 val keys
RssAnon:         7603080 kB
RssFile:         6335452 kB
slasher runned

[2020-11-16 13:46] shayzluf commented on #7161
working on it

[2020-11-16 15:29] #7220 closed

[2020-11-16 19:42] prestonvanloon opened #7827 "Unable to process past logs query returned more than 10000 results"
# 🐞 Bug Report

### Description

When running a beacon node on pyrmont with an infura endpoint, the powchain receives this error.

[code]

### Has this worked before in a previous version?

Yes, in other testnets. Although other testnets have not enjoyed such rapid deposits up to 100k.

## 🔬 Minimal Reproduction

[code]

## 🔥 Error

<pre><code>
[2020-11-16 11:42:03]  INFO powchain: Connected to et

[2020-11-16 19:43] dv8silencer opened #7828 "If the keystore folder has duplicate keys during accounts import, it'll exit with FATAL error"
🐞 Bug Report

### Description
Importing from a validator keys directory that has duplicate keys will cause a FATAL error.

Create a folder with one keystore.json.  Copy that file to another file in the same folder.  Then try importing to a fresh wallet using `validator accounts import --keys-dir`.  This will lead to:

[code]

A `accounts list` shows that the wallet has 0 keys.  I think intended be

[2020-11-16 19:43] prestonvanloon commented on #7827
Note: this does not happen when running your own eth1 node. Infura is returning this error.

[2020-11-16 19:53] dv8silencer commented on #7828
Can I please be assigned.  Thanks

[2020-11-16 20:32] meehow opened #7829 "flag provided but not defined: -medalla"
# 🐞 Bug Report

### Description

Was `--medalla` flag removed without any explanation? How to join the testnet now?

### Has this worked before in a previous version?

Yes, it worked with beacon-chain-v1.0.0-beta.2

## 🔬 Minimal Reproduction

Just start it: `./prysm.sh beacon-chain --medalla`

## 🔥 Error

<pre><code>

ERRO[0000] flag provided but not defined: -medalla       prefix=main

</code></p

[2020-11-16 20:35] meehow commented on #7829
ok, just read release notes

[2020-11-17 04:12] #7711 closed

[2020-11-17 05:28] prestonvanloon commented on #7818
Another workaround is to add the self signed certificate as a trusted CA.

https://manuals.gfi.com/en/kerio/connect/content/server-configuration/ssl-certificates/adding-trusted-root-certificates-to-the-server-1605.html

[2020-11-17 09:52] imnisen opened #7838 "RPC ListValidatorBalances index out range error"
https://github.com/prysmaticlabs/prysm/blob/ad5151f25d0aa46e1357eb56dc5079d7d32a725a/beacon-chain/rpc/beacon/validators.go#L30

Hi, when requesting `ListValidatorBalances` api with a page_size and a non-existed pubkey (such as eth/v1alpha1/validators/balances?epoch=1346&pageSize=100&publicKeys=xxxx) , this handler would crash due to index out of range error. Which occured in my beacon node.

After

[2020-11-17 11:24] shayzluf commented on #7798
@rauljordan can we bring back :
- disable-broadcast-slashings
- disable-dynamic-committee-subnets
that were deleted in
https://github.com/prysmaticlabs/prysm/pull/7533
they are needed flags

[2020-11-17 12:59] fabdarice commented on #7838
I can help w/ @nisdas if you wanna assign this one to me.

[2020-11-17 13:01] nisdas commented on #7838
Great, thanks ! Assigned to you

[2020-11-17 13:05] fabdarice commented on #7827
I can look into this. Is this a limitation from infura? or we are fetching too many blocks at once?
I faced similar issues in the past when I had to dynamically fetch N numbers of blocks back because we cannot predict how many events will be included in each block.
I think geth will crash around ~2.5K events.

[2020-11-17 13:16] fabdarice commented on #7827
@prestonvanloon browsing through my logs, seeing this as well with my local eth1 node.

[code]

[2020-11-17 15:06] terencechain commented on #7798
@shayzluf can you please clarify why they are needed? Lighthouse or teku for example do not have those flags

[2020-11-17 15:07] nisdas commented on #7798
#7836 has been merged again. So you can just use that

[2020-11-17 15:58] #7787 closed

[2020-11-17 16:04] fabdarice commented on #7787
@rauljordan does your recent change de-activate disabled accounts without having to restart the node?
I didn't see anything in the `run()` of validator.client.runner.run()` that would remove disabled accounts even if the keystore are hot-reloaded by the watchers.
In my old PR #7820, I had to add a function that watches for only ACTIVE/EXITING status or the code will trigger an error as there are n

[2020-11-17 16:30] shayzluf commented on #7798
@terencechain for `disable-broadcast-slashings` i think people would like to try their luck in including the slashings they found

[2020-11-17 16:50] terencechain commented on #7798
I dont think we should encourage this behavior:
1.) Not outlined in the validator spec
2.) Other clients (LH and Teku) dont have this
3.) We dont have documentation to support this
4.) Incentives don't add up, the inclusion reward is little and chances to become proposer is also very little
5.) It was fine to implement for experimental and testing purpose but im not sure how we feel about rolling

[2020-11-17 17:17] #7161 closed

[2020-11-17 19:50] #7828 closed

[2020-11-17 19:51] terencechain opened #7845 "Remove go-ssz usage"
This PR tracks the progress of go-ssz usage removal. We are deprecating go-ssz in favor of fast ssz. Here's the branch that started the removal, it's currently stuck at basic type since fast ssz does not have support for it.

Given the complexity, this will be pursued after mainnet

https://github.com/prysmaticlabs/prysm/tree/rm-go-ssz

[2020-11-18 00:56] prestonvanloon commented on #6682
There is a missing edge case in #7077.

The beacon node should serve validators if it has a genesis state, but the chain has not started yet.
The beacon node should not serve validators while it is processing deposits to determine the genesis state.

[2020-11-18 06:42] xiaojian-zhou commented on #7827
I switch to alchemy, and it looks fine for me

[2020-11-18 09:46] jerryji commented on #7827
I got the same error -- is it related to the 100,000 pre-deposit in Pyrmont? I wonder how the Prysm team runs its own Pyrmont beacon-chain

[2020-11-18 09:56] nisdas commented on #7827
You can either run your own eth1 node or use another 3rd party eth1 provider. As for us, we have our goerli endpoint, which doesn't have any restrictions compared to infura.
[code]

[2020-11-18 17:36] prestonvanloon commented on #7827
@infura @timmyers @egalano
Any suggested workarounds or thoughts?
This seems to be an infura only issue, but may be pointing out an inappropriate use of the eth1 json-rpc API.

[2020-11-18 21:42] prestonvanloon opened #7856 "eth1data: Prysm does not vote with the majority if the majority is voting on an older block"
# 🐞 Bug Report

### Description

At the moment, eth1data consensus is not being reached.

![image](https://user-images.githubusercontent.com/7246818/99590732-98cdd880-29a2-11eb-8fc3-5a127e0c5734.png)

Nimbus is voting for a very old block, 5 days old. https://goerli.etherscan.io/block/0x0566a632683a61180a735bf72f7daea59deeb9781d4a43be41a86d484df6287f

Lighthouse and Teku are voting on a block that

[2020-11-18 21:50] protolambda commented on #7856
Small (bug related?) issue in your description:
The genesis time is not `1605700800`, that is the minimum genesis time.
The actual genesis time is `1605700807  # (Wednesday, November 18, 2020 12:00:07 PM)`
This is due to it being triggered by the first eth1 block after the minimum genesis time, minus eth1 delay.

[2020-11-18 21:52] prestonvanloon commented on #7856
@protolambda Thanks for that check. I'll update description, i was off by a few seconds. It doesn't explain the 30mins discrepancy though!

[2020-11-18 21:52] protolambda commented on #7856
Also note that the genesis delay was set to 5 days. This may relate to the nimbus bug!

[2020-11-18 21:54] prestonvanloon commented on #7856
Also looks like I have the assumption wrong, we want the highest block up to the voting round start time. Editing that...

[2020-11-18 22:01] prestonvanloon commented on #7856
Thinking about this more, Prysm should be voting with LH+Teku. Assigning @rkapka to look at that. It seems our voting with the majority is not working properly.

Assigning to @nisdas to look into our deviation of mainnet spec configuration of 14s for eth1 block times.
https://github.com/prysmaticlabs/prysm/blob/095c4d5dd51a11c8d63c58e01a4a4774a0b5ad27/shared/params/mainnet_config.go#L85

[2020-11-18 22:20] mbucci opened #7857 "Lower eth1HeaderReqLimit"
# 🐞 Bug Report

### Description

Given an `eth1HeaderReqLimit` of 1000 it's very easy for log processing to exceed the get_Logs limit of some common web3 providers (e.g. infura limits at 10,000). I believe these types of web3 providers will be a common alternative to running one's own eth1 node.

### Has this worked before in a previous version?

Wasn't as much of an issue when running a Medalla b

[2020-11-18 22:35] prestonvanloon commented on #7857
Duplicate of #7827

[2020-11-18 22:35] #7857 closed

[2020-11-18 22:35] prestonvanloon commented on #7827
One user suggested to lower the request limit in #7857. Potentially, this could be configurable.

[2020-11-18 23:28] prestonvanloon commented on #7856
This actually makes sense. The voting period starts and we are supposed to consider the highest eth1 block before the start of the voting period.

[2020-11-19 00:38] prestonvanloon commented on #7856
I restarted all prylabs nodes and they are suddenly voting for the majority block.

I could not reproduce this locally either. I am thinking there is some caching issue of some kind, but overall the majority vote determining algorithm is correct. Lowering to P1, but still with some urgency before v1 mainnet.

[2020-11-19 01:32] jerryji commented on #7827
Lighthouse did a similar commit -- https://github.com/sigp/lighthouse/commit/bcc7f6b143ccd46aa8e493e150af359b2d3639b8 , which works fine with Infura up to 150

[2020-11-19 04:00] prestonvanloon opened #7859 "Validator error level message should be a warning"
# 🐞 Bug Report

### Description

[code]

Also, we should return a different error code. I recommend [codes.NotFound](https://github.com/grpc/grpc-go/blob/78864797b87780af8d88b2d4d64721020abbe7ea/codes/codes.go#L73).

### Has this worked before in a previous version?

Probably not.

## 🔬 Minimal Reproduction

Request to aggregate a signature when there are no attestations in the pool

## 🔥 Error

<

[2020-11-19 04:32] duongvansang opened #7860 "After restart node, It keep warn Range is not processed err=Range had no valid blocks to process"
I restarted my medalla node, and could not sync any more
Log keep printout:  WARN initial-sync: Range is not processed err=Range had no valid blocks to process

OS: Ubuntu 20.04 LTS on WSL
ETH1: Openethereum

[2020-11-19 06:09] egalano commented on #7827
Hey @prestonvanloon . This limit was put in place because certain queries can return huge amounts of data which caused instability both in our backend systems and also would force the client to deal with a huge chunk of data returned in the response. The JSON-RPC API doesn't prevent someone from asking for every event from the genesis block to the latest block which would timeout or error. Since t

[2020-11-19 12:44] Maigre opened #7862 "Node using incorrect chain id, 0 != 1"
# 🐞 Bug Report

### Description

**geth --http --datadir=/path** is synced now on mainnet
But when starting  **./prysm.sh beacon-chain --http-web3provider=http://localhost:8545/ --mainnet --datadir=/anotherpath**
i got **Could not connect to powchain endpoint error=eth1 node using incorrect chain id, 0 != 1**

### Has this worked before in a previous version?

Working ok with local geth node (same

[2020-11-19 12:48] Maigre commented on #7862
As suggested on Discord i ran

`curl -X POST 127.0.0.1:8545 -H "Content-Type: application/json" --data '{"jsonrpc":"2.0","method":"eth_syncing","id":1}'`

which gives

`{"jsonrpc":"2.0","id":1,"result":{"currentBlock":"0xac3f48","highestBlock":"0xac3fc1","knownStates":"0x202fa76f","pulledStates":"0x202f105d","startingBlock":"0xac35ab"}}`

so id returned by geth seems valid...

[2020-11-19 15:49] prestonvanloon commented on #7856
This is fixed for pyrmont by #7861.

Leaving open until we fix the mainnet spec difference.

[2020-11-19 17:20] EpStR0M commented on #7862
That id is not networkid, it's the id you passed on your request {"jsonrpc":"2.0","method":"eth_syncing",**"id":1**}.

Alson your node seems to be still syncing, when it's synced you should see something like:

[code]

To see network id run:

curl -X POST 127.0.0.1:8545 -H "Content-Type: application/json" --data '{ "jsonrpc": "2.0", "method": "net_version", "params": [], "id": 1 }'

And look at th

[2020-11-19 17:45] Maigre commented on #7862
oops, here is the result, still valid but not recognized by prysm..
`{"jsonrpc":"2.0","id":1,"result":"1"}`

As discussed on Discord, the weird thing is the request here: [#L398](https://github.com/prysmaticlabs/prysm/blob/c3451a6ce97bd193da1cbfe92b92c1140d87745e/beacon-chain/powchain/service.go#L398 )

returns **0** as **cID** and **nil** as **err** so it does not trigger an error [#L399](https:/

[2020-11-20 07:34] Maigre commented on #7862
Ok now Geth is synced again, and the error is gone.
I guess i was not synced properly in the first place.
Might be good to update the log with "waiting for ETH1 chain to sync" instead of "Node using incorrect chain id, 0 != 1"..

[2020-11-20 07:34] #7862 closed

[2020-11-20 10:25] jeffprestes commented on #7382
Got same issue. I did what was suggested by @MariusVanDerWijden and later when I was trying to move to Pyrmont testnet ```/srv/prysm$ ./prysm.sh beacon-chain --pyrmont --http-web3provider=/home/jeffprestes/.ethereum/goerli/geth.ipc ```
I got this error: ```ERROR main: database contract is 0x00000000219ab540356cbb839cbe05303d7705fa but tried to run with 0x8c5fecdc472e27bc447696f431e425d02dd46a8c```

[2020-11-20 10:30] jeffprestes opened #7867 "Error during Pyrmont beaconchain initialization"
# 🐞 Bug Report

### Description

Error during Pyrmont beaconchain initialization
When I run: ```./prysm.sh beacon-chain --pyrmont --http-web3provider=/home/jeffprestes/.ethereum/goerli/geth.ipc```
I am getting this return: ```ERROR main: database contract is 0x00000000219ab540356cbb839cbe05303d7705fa but tried to run with 0x8c5fecdc472e27bc447696f431e425d02dd46a8c```

### Has this worked before in

[2020-11-20 10:33] pinglamb commented on #5768
Is the issue related to dynamic linking described here: https://stackoverflow.com/questions/36279253/go-compiled-binary-wont-run-in-an-alpine-docker-container-on-ubuntu-host

It seems to be able to build an alpine image using this command (with the flags suggested in the post):

[code]

[2020-11-20 10:41] pinglamb commented on #7867
I got similar error when I started the beacon node pointing to mainnet and restarted to point to pyrmont.

You can try to start with `--clear-db` to clean the database or perhaps clean it yourself by removing I think `~/.eth2` folder.

[2020-11-20 12:47] jeffprestes commented on #7867
Thanks @pinglamb
It worked.
For future references the entire successful command line was:
```./prysm.sh beacon-chain --pyrmont --clear-db --http-web3provider=/home/jeffprestes/.ethereum/goerli/geth.ipc```

[2020-11-20 12:47] #7867 closed

[2020-11-20 16:39] terencechain commented on #7860
This is a warning and is expected in some edge cases. Medalla also has been deprecated so please give Pyrmont a try

[2020-11-20 16:39] #7860 closed

[2020-11-20 20:05] prestonvanloon commented on #5337
Waiting on verification from digicert.

[2020-11-20 20:10] prestonvanloon commented on #7817
Could you try again with debug logging? It's not clear what the issue is with the given information.

[code]

[2020-11-20 20:11] prestonvanloon commented on #7042
Removing from v1 milestone. There isn't enough time, sorry!

[2020-11-20 20:12] prestonvanloon commented on #5337
Removing from v1. We won't have digicert certificate before Monday...

[2020-11-20 20:12] prestonvanloon commented on #6317
Removing from v1 milestone. This is nice to have but low priority and not enough time to complete it.

[2020-11-20 20:13] prestonvanloon commented on #6236
@farazdagi can we release this feature fully?

[2020-11-20 20:14] prestonvanloon commented on #6701
Removing  from v1 milestone as there is not enough time to design and implement this feature before v1 cut off.

[2020-11-20 20:14] prestonvanloon commented on #6798
Removing from v1 milestone. We'll have a better pipeline in place soon, but this is not a milestone blocker.

[2020-11-20 20:15] prestonvanloon commented on #6902
This is nice to have. Unfortunately, there isn't enough time to complete before the v1 mainnet cut off. Removing from the milestone.

[2020-11-20 20:17] #7859 closed

[2020-11-20 20:19] prestonvanloon commented on #5783
Removing from v1 milestone as it is not a release blocker.

[2020-11-20 20:19] prestonvanloon commented on #5216
Oops. I forgot about this feature... It will have to be worked on after mainnet v1.

[2020-11-20 20:21] prestonvanloon commented on #6445
Removing from mainnet milestone. Sorry, this didn't get implemented in time.

[2020-11-20 20:21] farazdagi commented on #6622
Removing from the milestone - we need some more efforts before scoring is considered solid.

[2020-11-20 20:22] prestonvanloon commented on #7798
The only remaining items for this are just to remove deprecated flags? @rauljordan

[2020-11-20 20:23] prestonvanloon commented on #5450
Can anyone confirm this issue is still relevant?

Removing from v1 milestone since this isn't a release blocker.

[2020-11-20 20:27] prestonvanloon commented on #6891
Removing from v1 milestone since it's not a release blocker.

[2020-11-20 20:29] prestonvanloon commented on #7108
Not enough time to resolve this before v1 mainnet cut off.

[2020-11-20 20:40] farazdagi opened #7871 "Attestation aggregation: further optimizations"
# 🚀 Feature Request

### Description

- Extracted from #6236
- Within scope of this item we need to provide more benchmarks (both when it comes to algorithm clock-time efficiency and profitability).
- Additionally, more work on how we filter out duplicate validators' votes will be conduced within the same scope.

[2020-11-20 20:41] farazdagi commented on #6236
Since attestation aggregation is a enum-type flag (we are able to feed in values "naive" and "max_cover"), and deprecated flags have been removed for beta -- nothing more to do on this item ("max_cover" is enabled by default for quite some time now, and ability to switch to "naive" is still needed for base comparison).

[2020-11-20 20:41] #6236 closed

[2020-11-20 20:52] jesmith0 commented on #7817
Restarted with debug messaging. Haven't had log output after "ECDSA private key generated" for about 25 minutes:

[code]

[2020-11-20 22:05] #7732 closed

[2020-11-20 22:52] fabdarice commented on #7838
hey, @imnisen I am not able to reproduce what you seem to be experiencing.
I've tried with current `master` your exact HTTP request and the curl is returning 100 balances correctly, even when passing incorrect/unknown public keys (which is also weird, but a different topic).

Trying here also yields the same result: https://api.prylabs.network/#/BeaconChain/ListValidatorBalances

[2020-11-20 22:53] fabdarice commented on #7838
[code]

[2020-11-20 23:13] terencechain commented on #7871
I'd put more emphasis on filter out duplicate validators vote. Aggregated attestation signature subsctraction may be hard to implement and introduce additional overhead to a running node. With that said, it's a good area to explore if there's free cycle

[2020-11-20 23:25] terencechain commented on #7798
Fixed with #7877

[2020-11-20 23:25] #7798 closed

[2020-11-21 00:23] fabdarice commented on #7845
@terencechain is that something that someone without experience with go-ssz OR fast-ssz could tackle?
Note that I've read a few explanations on SSZ.

[2020-11-21 01:28] #6682 closed

[2020-11-21 06:12] #7856 closed

[2020-11-21 06:28] tsudmi commented on #7732
@rauljordan there is also a second point for that issue that we've identified before:
The updates stream is not reset for the dynamically added keys.

[2020-11-21 09:52] pingnamo commented on #5768
As discussed in Discord, this project probably cannot be built with `--features=static --features=pure`.

Further investigation shows that the binary built has dynamic dependencies like this:

[code]

and the Alpine needs to have [libc6-compat](https://pkgs.alpinelinux.org/package/edge/main/x86_64/libc6-compat) installed so the dymanic linking will work (which seems to be a symlink to `/lib/libc.m

[2020-11-21 09:53] pingnamo commented on #5768
As discussed in Discord, this project probably cannot be built with `--features=static --features=pure`.

Further investigation shows that the binary built has dynamic dependencies like this:

[code]

and the Alpine needs to have [libc6-compat](https://pkgs.alpinelinux.org/package/edge/main/x86_64/libc6-compat) installed so the dymanic linking will work (which seems to be a symlink to `/lib/libc.m

[2020-11-21 09:57] pinglamb commented on #5768
As discussed in Discord, this project probably cannot be built with `--features=static --features=pure`.

Further investigation shows that the binary built has dynamic dependencies like this:

[code]

and the Alpine needs to have [libc6-compat](https://pkgs.alpinelinux.org/package/edge/main/x86_64/libc6-compat) installed so the dymanic linking will work (which seems to be a symlink to `/lib/libc.m

[2020-11-21 15:44] pinglamb commented on #6561
It seems to be by design so that the build is reproducible. https://github.com/bazelbuild/rules_docker/issues/52#issuecomment-308490078

[2020-11-21 16:32] pingnamo commented on #6561
The main reason for `stamp` not working is that `go_image` doesn't support that: https://github.com/bazelbuild/rules_docker/pull/560. It doesn't pass the `stamp` or `creation_time` config to the underlying `container_image` call.

The `container_bundle` `stamp` option (which is deprecated) is more for the image tag, it allows us to substitute `{BUILD_TIMESTAMP}` into tag if we want to (e.g. `v0.1-

[2020-11-21 16:38] pinglamb commented on #6561
The main reason for `stamp` not working is that `go_image` doesn't support that: https://github.com/bazelbuild/rules_docker/pull/560. It doesn't pass the `stamp` or `creation_time` config to the underlying `container_image` call.

The `container_bundle` `stamp` option (which is deprecated) is more for the image tag, it allows us to substitute `{BUILD_TIMESTAMP}` into tag if we want to (e.g. `v0.1-

[2020-11-21 16:40] pinglamb commented on #6561
@terencechain @prestonvanloon If we want to add the timestamp I can draft a PR with the above changes, or we can close this saying it is expected behaviour.

[2020-11-21 18:16] prestonvanloon commented on #6561
@pinglamb If it's not a lot of work, please draft a PR and I can take a look. Thanks!

[2020-11-21 19:45] rauljordan commented on #7732
Thanks Dmitri, we'll open a separate issue for that

On Sat, Nov 21, 2020 at 12:28 AM Dmitri Tsumak <notifications@github.com>
wrote:

--
*Raul E. Jordan | Co-Founder, Prysmatic Labs*
prysmaticlabs.com
rauljordan.com
Twitter: @raulitojordan <https://twitter.com/raulitojordan>

gpg --receive-keys 95452A701810FEDB

[2020-11-21 19:52] rauljordan opened #7887 "Dynamic Key Import Reload Not Working for Inactive Validator Keys"
# 💎 Issue

### Background

Related to #7732

I expect to see something like time="2020-11-05 21:44:49" level=info msg="Waiting for deposit to be observed by beacon node" prefix=validator pubKey=0x8ce44f6b70c0 status="UNKNOWN_STATUS".

The problem with dynamic key reloading in the validator client is that if you import new keys that have not yet been activated, the validator client will ignore them

[2020-11-21 20:09] #7424 closed

[2020-11-21 20:39] prestonvanloon opened #7888 "Fix TestStartDiscV5_DiscoverPeersWithSubnets"
This test is currently skipped from PR #7885 and needs to be rewritten. Adding this issue to track that it is not forgotten.

https://github.com/prysmaticlabs/prysm/blob/9a10462c64b8425212e4e39f95c0512e7ae6b27d/beacon-chain/p2p/subnets_test.go#L21-L22

[2020-11-21 21:37] #6561 closed

[2020-11-22 05:39] realdevknow opened #7893 "New accounts import to existing wallet asks for New Password instead of Existing Password in some cases"
# 🐞 Bug Report

### Description

When importing new additional accounts to a directory with an existing wallet, the CLI will ask for a "New Wallet Password" in certain cases.

If the ```--wallet-dir``` argument is passed directly as an argument to the import command, the CLI will correctly ask you for your existing wallet password, since a wallet exists already in that dir.

If you do not pass the

[2020-11-22 07:53] ethstak3r opened #7894 "FATAL Validator: Could not determine if beacon chain started:.... (Error while trying to run the validator)"
Hello,
The below error has popped up in my command prompt while trying to run the validator according to step 6 in the link: https://docs.prylabs.network/docs/testnet/pyrmont

FATAL validator: Could not determine if beacon chain started: Could not setup beacon chain ChainStart streaming client: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 1

[2020-11-22 08:29] jonjander commented on #7862
I still have the same problem. I deleted the geth db and synced. But i still get the 0 != 1 error
{"jsonrpc":"2.0","id":1,"result":"1"}

[2020-11-22 08:57] nisdas commented on #7862
Keep a lookout for #7895, @Maigre @jonjander . Should make more sense in the event your node is not synced.

[2020-11-22 15:23] dv8silencer opened #7898 "Windows accounts import issue: "file already exists without proper 0600 permissions""
#🐞 Bug Report

`[2020-11-22 09:02:07] FATAL accounts: Could not import accounts: could not write accounts: file already exists without proper 0600 permissions`

### Description
In Windows (with no prior existing wallet at the location), if you accounts import first (which creates the wallet and imports) and then immediately again, it will give the above error.  See:

[code]
**Immediately re-execut

[2020-11-22 16:17] fabdarice commented on #7893
Hey @realdevknow, thanks for the details. I was not able to reproduce your situation (didn't reach the FATAL error, although reach a different issue).

[code]

[code]

[2020-11-22 16:17] fabdarice commented on #7893
I agree with you that it shouldn't ask for a New wallet password, since the password has already been created previously.

[2020-11-22 16:28] prestonvanloon opened #7900 "Define mainnet bootnodes"
# 💎 Issue

### Background

Bootnodes are required to bootstrap peer discovery.

### Description

The current mainnet config has an empty array of bootnodes. This is a hard requirement for v1.

[2020-11-22 17:01] rauljordan opened #7903 "[Tracking] - Prysm Mainnet Week"
# 💎 Issue

### Background

This is a tracking issue for all our related priorities this upcoming week now that Prysm v1 has a release candidate and we must prepare for launch.

- [x] Create v1.1.0 branch and merge larger features into this branch instead of master (specifically, revamp of validator slashing protection and anything that is non-trivial)
- [x] Everyone needs to comb through everythin

[2020-11-22 17:02] realdevknow commented on #7893
@fabdarice The Fatal error was only reached if I used a different wallet password than the existing wallet in the New / Confirm prompts. If I used the same password I knew I used originally, it worked despite the misleading New Password prompts.

[2020-11-22 17:04] fabdarice commented on #7893
@realdevknow yes I did set a different password as well, was still able to import the keys.

[2020-11-22 17:20] sknuth opened #7905 "[Pyrmont] Beacon chain stopped syncing for unknown reason"
# 🐞 Bug Report

### Description

Hello, I would like to report a strange behaviour. my prism validator on pyrmont has suddenly stopped attesting.
when I discovered the issue :
the beacon logs showed :
[code]
I had to restart the beacon and validator services
Now it is working fine

### Has this worked before in a previous version?

Not reproduced on Medalla

## 🔬 Minimal Reproduction
Prysm is runn

[2020-11-22 17:27] terencechain commented on #7903
I'm working on `Review WARNING/ERROR level logs` across Prysm's beacon chain and validator repo. If someone can take slasher that'd be great

[2020-11-22 17:35] fabdarice opened #7907 "[Accounts] Remove imported wallet `wallet create`"
# Description
`wallet create` today doesn't provide anything beneficial for imported wallet as it will simply create an empty directory.
On top of that, it asks for a password, which is ultimately never used because no accouns are imported in that step.
People got confused (i.e: #7893 ).

This ticket suggests removing Imported Wallets from `wallet create` since `accounts import` already provide ev

[2020-11-22 17:36] dv8silencer opened #7908 "Using accounts import for non-imported wallets will cause a silent failure."
# 🐞 Bug Report
If you attemp accounts import into a non-imported type wallet (eg derived type) then it will simply fail without giving any good feedback:

[code]

### Description

See above.

### Has this worked before in a previous version?
Cannot recall.

## 🔬 Minimal Reproduction

Create empty HD wallet.  Then try accounts import into it.

## 🌍  Your Environment

**Operating System:**

Both Win

[2020-11-22 18:04] #5768 closed

[2020-11-22 18:04] #7750 closed

[2020-11-22 18:11] terencechain opened #7911 "Revamp logging"
Part of #7903

Opening this issue to track error revamp across Prysm beacon node and validator. We have errors with incorrect verbosity and wrap usages. The verbosity level will be defined as the following:
[code]

We'll go through each package and reflect it's changes in the tracking below 👇
* Beacon chain
    * blockchain
    * cache
    * core
    * db
    * forkchoice
    * operations
    * p2

[2020-11-22 19:18] vvavepacket commented on #7827
I can confirm this is happening on Pyrmont, where if its a newly created beacon node, Infura or prysm is going to return results of more than 10000. But if you already have a beacon node running for some time, it doesn't happen. it seems its happening only for new folks wanting to run fresh validators

[code]

[2020-11-22 23:36] prestonvanloon commented on #7900
Teku has their bootnode ready: `enr:-KG4QOtcP9X1FbIMOe17QNMKqDxCpm14jcX5tiOE4_TyMrFqbmhPZHK_ZPG2Gxb1GE2xdtodOfx9-cgvNtxnRyHEmC0ghGV0aDKQ9aX9QgAAAAD__4JpZIJ2NIJpcIQDE8KdiXNlY3AyNTZrMaEDhpehBDbZjM_L9ek699Y7vhUJ-eAdMyQW_Fil522Y0fODdGNwgiMog3VkcIIjKA`

[2020-11-23 00:06] prestonvanloon opened #7918 "Failed block safety check: validator history empty for public key"
# 🐞 Bug Report

### Description

User reported issue that they were missing block proposals. They found in their logs that the slashing protection mechanism blocked their block proposal.

### Has this worked before in a previous version?

Yes

## 🔬 Minimal Reproduction

ExecStart=/usr/local/bin/validator --web --pyrmont --datadir /var/lib/prysm/validator_pry --wallet-dir /var/lib/prysm/validator_p

[2020-11-23 00:14] akarub commented on #7918
This is the validator: https://pyrmont.beaconcha.in/validator/0x8f45b3954aebe0bca36d9edd582320a9646db2537995a678cde04472562dbaba064414c68ef500c7d4cb4fb2f424e84c#blocks

[2020-11-23 01:07] akarub commented on #7918
I also have this on the logs:

`Nov 18 03:00:17 staking-server validator[55834]: time="2020-11-18 03:00:17" level=warning msg="error creating directory: /var/lib/prysm/validator_pry" error="dir already exists without proper 0700 permissions" prefix=tos`

The validator.db was created on the folder. The datetime is being updated, but the size stayed the same, 600KB

![image](https://user-images.gith

[2020-11-23 01:12] terencechain commented on #7918
Setting priority to high

[2020-11-23 04:08] #7908 closed

[2020-11-23 06:33] edsonayllon commented on #7827
+1

[2020-11-23 08:18] einyx commented on #7382
same issue here

[2020-11-23 08:37] imnisen commented on #7838
@fabdarice What's the result of trying with incorrect/unknown public keys?  What crashes my node is a request with unknown pubkeys and page_size as parameters.

When I request with a wrong pubkey:

[code]

I don't get any responses. Since I couldn't see the beacon chain node logs of the remote node behind `api.prylabs.net`, I couldn't tell if it crashed.

[2020-11-23 08:53] imnisen commented on #7838
@fabdarice  I could help fix this if you need.  However, what stops me before is to check other RPCs of the same logic.

[2020-11-23 08:58] fab-spring commented on #7838
@imnisen feel free! I cannot reproduce it.
I've tried with invalid and incorrect keys.
Even tried on the public prylabs api and local node.
Both would return a page of 100 validators (although weird behavior, should return an error)

[2020-11-23 10:11] imnisen commented on #7838
@fabdarice Could you describe the "weird behavior", I wonder what's this.

[2020-11-23 12:31] agro1986 opened #7924 "validator --version doesn't print out actual version but Prysm/{STABLE_GIT_TAG}/{STABLE_GIT_COMMIT}"
# 🐞 Bug Report

### Description

[code]

prints out

[code]

### Has this worked before in a previous version?

don't know. works with `beacon-chain --version` which gives

[code]

## 🔬 Minimal Reproduction

[code]

then run

[code]

built on amazon linux 2

## 🔥 Error

<pre><code>

$ validator --version
2020/11/23 21:20:48 exit status 128
validator version Prysm/{STABLE_GIT_TAG}/{STABLE_GIT_COMMI

[2020-11-23 14:49] Molkavi commented on #7827
+1 on Windows, same repro...

[2020-11-23 17:19] #7900 closed

[2020-11-23 18:26] pinglamb commented on #7924
I tested with your command and the build reports proper version

Build command:
[code]

Result:
[code]

Base on the bazel config, the values of `STABLE_GIT_TAG` and `STABLE_GIT_COMMIT ` are defined in `./scripts/workspace_status.sh`, and in `.bazelrc`:

[code]

I guess your validator bin is built without `--config=release`. Can you try again?

[2020-11-23 18:52] dapplion opened #7929 "Persist wallet password to file on web onboarding"
When using the `--web` and completing the onboarding flow, the validator binary should persist the provided wallet password to a file specified by `--wallet-password-file` or at a default location.

This is mandatory for a dockerized distribution where the user will not have access to the command line to provide the password such as DAppNode.

[2020-11-23 21:49] terencechain commented on #7911
Combed through the rest, everything looked good

[2020-11-23 21:49] #7911 closed

[2020-11-23 22:11] #7929 closed

[2020-11-23 22:13] egk10 commented on #7898
Same issue , trying to add another validator
![importar key validador](https://user-images.githubusercontent.com/69823897/100021250-f78abc00-2dbf-11eb-8694-9e043398e4cc.PNG)

[2020-11-23 23:26] victorelec14 opened #7933 ""eth1 node using incorrect chain id, 0 != 1" when geth is not fully synced"
# 🐞 Bug Report

### Description

beacon-chain does not start with a private node ETH1 (Docker)

### Has this worked before in a previous version?

 i dont know

## 🔬 Minimal Reproduction

## 🔥 Error

<pre>
time="2020-11-23 23:31:54" level=warning msg="Running on ETH2 Mainnet" prefix=flags
time="2020-11-23 23:31:54" level=info msg="Using "max_cover" strategy on attestation aggregation" prefix=flags

[2020-11-24 01:55] ChainlinkResources commented on #7827
As @nisdas  recommended:
You can either run your own eth1 node or use another 3rd party eth1 provider. As for us, we have our goerli endpoint, which doesn't have any restrictions compared to infura.

https://goerli.prylabs.net/

Using this endpoint worked great, no hiccups!

[2020-11-24 01:56] vvavepacket commented on #7827
Do you have an endpoint pointing to mainnet?

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
11/23/20,
08:55:40 PM

On Mon, Nov 23, 2020 at 8:55 PM Kirsten Imler <notifications@github.com>
wrote:

[2020-11-24 10:03] mohamedmansour opened #7939 "Connecting to Infura with JWT"
Infura only has JWT Authentication, meanwhile Prysm has Cert authentication. Would be nice if we can use different authentication providers for the --http-web3provider

[2020-11-24 12:48] akarub commented on #7918
I ran the chown again and restarted the node. The size of the validator.db has grown, but hadn't got new proposals to see if it's working now.

![image](https://user-images.githubusercontent.com/74686152/100093342-4fbccf00-2e4f-11eb-86f1-a36c966e7c8b.png)

[2020-11-24 13:35] PJWilkinson commented on #7827
Does it mean it will still sync (i.e. ignore the error) or would we need to switch away from Infura?

[2020-11-24 15:11] jerryji commented on #7827
FYI, I used my https://eth-goerli.alchemyapi.io/v2/<api_key> to get over the initial sync, then switch back to Infura (as alchemyapi.io free tier does not offer enough credits).

[2020-11-24 15:26] #7764 closed

[2020-11-24 15:30] PJWilkinson commented on #7827
Awesome - thanks @jerryji - didn't realise you could swap between them either.

[2020-11-24 16:06] 1hugoboss1 commented on #7827
Any tutorials on how to set up the beacon chain using Alchemy?

[2020-11-24 16:45] vvavepacket commented on #7827
Create an account at alchemy, get the URL and use that in your beacon node

On Tue, Nov 24, 2020, 11:06 AM 1hugoboss1 <notifications@github.com> wrote:

[2020-11-24 16:52] dv8silencer opened #7944 "The log for database contract not being compatible with network choice can be improved"
# 💎 Issue/Background/Description

Currently when users start the beacon-chain with a network that does not match the database's network they will receive an error such as:

Many users see this message yet don't really know what is wrong or potential next steps.  It can be improved.

[2020-11-24 16:53] dv8silencer commented on #7944
Can I be assigned. thanks

[2020-11-24 18:55] BiggT76 commented on #7933
I am also experiencing this problem.

[2020-11-24 20:57] victorelec14 commented on #7933
I have tried with "--mainnet"  which was added in **v1.0.0-beta.2** but it does not work either, it is as if I always want to start in the testnet and eth1 is in mainnet.

With prymont and medal I have had no problems being testnets.

Cleardb too nothing

[2020-11-24 21:02] BiggT76 commented on #7933
I've heard others having this problem, if I had to guess its because Prysm isn't ready for mainnet yet.  Given all the big bold warnings on their website _not to run_ prysm on mainnet yet...

Hopefully someone "in the know" can offer more insight.

[2020-11-24 21:15] prestonvanloon commented on #7933
Can you try with RPC enabled in geth? `--rpc`

[2020-11-24 21:20] victorelec14 commented on #7933
--http -http.addr are the new parameter, rpc be deprecated in future, but i get the same response with --rpc

[2020-11-24 22:16] victorelec14 commented on #7933
[code]

[2020-11-24 23:14] MAI1O commented on #7933
I am experiencing this same issue. Only difference is I'm not using docker. I've tried a number of things but nothing works. Really hoping somebody comes through on this. Sorry I can't contribute anything else.

[2020-11-24 23:53] BiggT76 commented on #7933
I might have a clue:
Just confirmed that the issue appears to be related to how the wallet is created/imported.  I know how two people (myself included) that created the keys on one machine but imported them into another.  Did anyone else here do the same?

Reference:  https://www.reddit.com/r/ethstaker/comments/k0cblo/can_anyone_help_could_not_connect_to_powchain/gdhx69i/?context=3

[2020-11-24 23:58] prestonvanloon commented on #7933
This specific error doesn't have anything to do with importing validator wallets.

For some reason, your eth1 node is returning a chain ID of 0, which doesn't make much sense. ETH1 mainnet chain ID is 1.

Could you kindly run this and paste the results?
[code]

You should see
[code]

The result is the chain ID.

[2020-11-25 00:08] BiggT76 commented on #7933
`invalid content type, only application/json is supported`

[2020-11-25 00:09] prestonvanloon commented on #7933
@BiggT76, sorry, I edited it. Please try again

[2020-11-25 00:10] BiggT76 commented on #7933
`{"jsonrpc":"2.0","id":67,"result":"0x0"}
`

[2020-11-25 00:12] BiggT76 commented on #7933
Beginning of geth config:

[2020-11-25 00:13] prestonvanloon commented on #7933
OK, we have identified the issue. Your geth node is not fully synced and for some reason is returning `0x0` for the chain ID.

[2020-11-25 00:14] BiggT76 commented on #7933
That's strange...I'll double check that.  I swore it was updated.
Thanks for your help @prestonvanloon , if the problem persists after full sync I'll provide an update.

[2020-11-25 00:18] prestonvanloon commented on #7933
@BiggT76 No problem at all! I'm going to see if we can file an issue in go-ethereum.

[2020-11-25 00:19] prestonvanloon commented on #7933
See: https://github.com/ethereum/go-ethereum/issues/20894

[2020-11-25 00:19] prestonvanloon commented on #7933
It should be fixed by https://github.com/ethereum/go-ethereum/pull/21686

[2020-11-25 01:22] egk10 commented on #7933
my geth is synced whith a 1 block delay comparing on etherscan. is this consider UNSYNC ???
![sync](https://user-images.githubusercontent.com/69823897/100170018-858ba300-2ea3-11eb-9668-596235df51b2.PNG)

[2020-11-25 01:31] BiggT76 commented on #7933
@egk10 It's my understanding that its still processing all of the _state entries_ records that keep popping up.  This was what I found on the [geth FAQ page](https://geth.ethereum.org/docs/faq):

[2020-11-25 05:15] #7944 closed

[2020-11-25 07:15] soumensahoo opened #7950 "Macs with M1 chip are missing precompiled binaries (darwin-arm64)"
# 🐞 Bug Report

### Description
I am using Mac mini (with latest M1 Model) and all commands are run in Rosetta 2 terminal.
When starting Beacon-chain node using following command, it throws following error#1.
./prysm.sh beacon-chain --http-web3provider=$HOME/Mainnet/geth.ipc

When running the command with environment variable, it throws error#2 below.
PRYSM_ALLOW_UNVERIFIED_BINARIES=1 ./prysm.sh b

[2020-11-25 07:35] karalabe commented on #7933
@prestonvanloon This is not a bug. As long as the node only has the genesis block available, the chain ID is for all intents and purposes `0`, because the notion of a chain id did not exist. Whether we should change the behavior is debatable (and debated a lot really), but it's not a bug, it's intended to work like this.

[2020-11-25 08:30] victorelec14 commented on #7933
`{"jsonrpc":"2.0","id":67,"result":"0x0"}`

Get Status:

[code]

it seems to me that there is something wrong with geht? , it is the second time I synchronize the chain

[2020-11-25 08:31] karalabe commented on #7933
@victorelec14 There are 650 million state entries. You'll need to wait it out

[2020-11-25 08:35] victorelec14 commented on #7933
@prestonvanloon  @karalabe

What node do you recommend me to use?
- go-ethereum (Geth)
- parity
- openethereum
- nethermind

[2020-11-25 08:44] victorelec14 commented on #7933
confirmed, I'm on the same BlockNumber as Etherscan, but the "state entries" haven't finished importing.

Maybe you could put an info message in Prism or check the status of the chain and show it?

thanks

[2020-11-25 08:47] karalabe commented on #7933
@victorelec14 You are **not** on the same block. As long as the states didn't download all the states, you are essentially on block 0. It's a painful process and takes a lot of time, sorry about that. There's a new sync protocol that will solve this, but it's not something served yet by nodes, so it won't help you yet.

[2020-11-25 08:59] nisdas commented on #7933
@victorelec14 Keep a lookout for this PR
https://github.com/prysmaticlabs/prysm/pull/7895

It will be merged in the next release. Unfortunately the current error log is confusing as you have noticed. With this PR it will inform you first if your node is 'synced' or not.  We performed the sync check later on in the initial startup routine, which as we have realised might confuse users here when val

[2020-11-25 12:16] agro1986 commented on #7924
@pinglamb I think I found the cause. The snippet below:
[code]
(which is on popular guides like https://someresat.medium.com/guide-to-staking-on-ethereum-2-0-ubuntu-pyrmont-prysm-a10b5129c7e3 )

Will cause bazel to be rebuilt without "--config=release" option, which will cause the wrong output.

Is there a (potential) security vulnerability if you import validator keys using a binary without --con

[2020-11-25 12:17] agro1986 commented on #7924
modifying the command to:

[code]

might be a potential solution to that

[2020-11-25 16:47] Jason-Wanxt opened #7955 ""Unable to process past logs stream error: stream ID 13; INTERNAL_ERROR" prefix=powchain"
# Issue
When running beacon chain with infura or alchemyapi,it showed this above.

[2020-11-25 17:09] soumensahoo commented on #7950
I think the following Beacon Node Run command ("PRYSM_ALLOW_UNVERIFIED_BINARIES=1 ./prysm.sh beacon-chain --http-web3provider=$HOME/Mainnet/geth.ipc") is trying to download "beacon-chain-v1.0.0-darwin-arm64" but in the repository the actual file name is beacon-chain-v1.0.0-darwin-amd64
The variable ${arch} (i.e. uname -m) defined in prysm.sh returns arm64 not amd64, that's why it returns the html

[2020-11-25 18:10] prestonvanloon commented on #7933
Thanks for the insight @karalabe! PR #7895 will handle this more gracefully.

[2020-11-25 18:13] prestonvanloon commented on #7950
@soumensahoo we do not offer arm64 binaries are mac at this time.

You may try compiling the code yourself, but we have not tested on M1 chips yet so please observe carefully and try with a testnet before staking any real value ETH.

[2020-11-25 18:27] #7933 closed

[2020-11-25 18:35] prestonvanloon commented on #7955
@Jason-Wanxt how can we reproduce this? What version of Prysm?

[2020-11-25 19:43] prestonvanloon commented on #7933
Expect this to be released in the next patch version v1.0.1. ETA Friday November 27, by end of day US/Pacific.

[2020-11-25 19:44] prestonvanloon commented on #7827
There are several 3rd party eth1 providers out there.

Take a look at https://ethereumnodes.com/. I am not sure if all of these support goerli or not and **do your own due diligence** as always.

[2020-11-25 21:09] egalano commented on #7827
@prestonvanloon do you think you'll be able to merge #7896 soon? Or do you need help from our team in getting this resolved. This close to Phase 0 launch, we want to be as helpful as possible to people in their preparations.

[2020-11-25 21:12] prestonvanloon commented on #7827
@egalano I've added a comment to that PR https://github.com/prysmaticlabs/prysm/pull/7896#issuecomment-733947363
Nishant had some feedback, I'll wait for them to respond before we continue forward on it. I think we can include this into the patch release later this week and revisit later, unless a graceful retry approach is easy to implement.

[2020-11-26 03:53] Jason-Wanxt commented on #7955
Oh,when i wait for about 2 hours,it showed success.

[2020-11-26 04:11] #7903 closed

[2020-11-26 15:40] vvavepacket opened #7969 "Multiple ETH1 endpoints"
# 🚀 Feature Request

### Description

Currently the beacon node accepts a single URL for ETH1 endpoint. Due to the recent AWS outage, its important to have multiple endpoint support just incase if the primary ETH1 fails, beacon node will then fallback to the secondary URL. Then if the primary endpoint recovers then start to switch from secondary to primary

### Describe the solution you'd like

Mo

[2020-11-26 16:07] emile2738 commented on #7827
A workaround that got me going after having the same issues was by first syncing with a free account at alchemy with --clear-db then reconnecting to local eth1 node.

[2020-11-26 17:08] schwarmco opened #7972 "First Voting Summary Logs have NaN"
Because the newly activated validator wasn't yet included in a slot right after his first submission, `included` is 0 here:

https://github.com/prysmaticlabs/prysm/blob/10857223d021ae3b3ed42d9451a66ce57c24e720/validator/client/metrics.go#L294-L347

Dividing then by 0 causes some of the logged values to be `NaN%`

[code]

To fix that, i'd suggest to not log voting summaries, when `included < 1`

Fo

[2020-11-26 17:37] prestonvanloon commented on #7827
When #7896 merged, please use add `--eth1-header-req-limit=150` to your beacon chain client.

This will be available in the patch release v1.0.1.

[2020-11-26 18:38] #7827 closed

[2020-11-27 02:37] jerryji opened #7976 "Backup ETH1 Provider Support"
# 🚀 Feature Request

### Description

 Lighthouse has a PR for Fallback nodes for eth1 access sigp/lighthouse/pull/1918
It would be great if Prysm supports backup --http-web3provider as well

### Describe the solution you'd like

 NA

### Describe alternatives you've considered

 NA

[2020-11-27 05:07] #7673 closed

[2020-11-27 12:18] akarub commented on #7918
One of the validators from the same setup, was able to successfuly propose a new block:
https://pyrmont.beaconcha.in/validator/0x89620cb60d646bc79b32051802e2ede9c0cff767015f7d24c94a54aede70a5eaea561db0919b0647abc5559cef96d092#blocks

Is it safe to assume the other validator that had problems, will be able to propose new blocks, or should I wait to see?

[2020-11-27 17:03] LukkePrague opened #7980 "Compiling issue - Build v1.0.0 did NOT complete successfully - an error of analyzers"
# 🐞 Bug Report

### Description

I was unable to compile build v1.0.0, everytime I got an error. When I disabled analyzers it solved my issue:

go to /go/prysm/BUILD.bazel and put a # sign at the beginning of every line starting from "//tools/analyzers/maligned:go_tool_library", up to "//tools/analyzers/properpermissions:go_tool_library",

### Has this worked before in a previous version?

Didn't

[2020-11-27 17:07] rkapka commented on #7980
This error occurred while following https://someresat.medium.com/guide-to-staking-on-ethereum-2-0-ubuntu-pyrmont-prysm-a10b5129c7e3

[2020-11-27 18:19] 0xKiwi commented on #7980
Hello @LukkePrague ! Thanks for submitting an issue. Can you provide your local bazel version?

[2020-11-27 18:22] 0xKiwi commented on #7976
Closing as this is a duplicate of: #7969

[2020-11-27 18:22] #7976 closed

[2020-11-27 19:27] rauljordan opened #7984 "Consolidate All Prysm Web Backends Into One"
# 💎 Issue

### Background

Currently, the web UI utilizes several different backends to retrieve information, leading to annoying CORS issues and complex configuration options at runtime. This has been evidenced by significant user reports of errors and overall complexity when adding features.

Instead, we should consolidate all of the backends into a single /api proxy endpoint, and the validator

[2020-11-27 19:43] 0xKiwi commented on #7894
Hello @ethstak3r ! Thanks for creating an issue!

Are you running your beacon node? Is it running properly if so?

Also, what version of Prysm are you using?

Thank you!

[2020-11-27 19:48] 0xKiwi commented on #7893
Hello @fabdarice ! Thank you for making an issue! This definitely seems like a problem with the accounts process.
Any updates on #7909 ? We've been focusing on the release so haven't had the time to review it.

@rauljordan wdyt about the change in #7909?

[2020-11-27 20:08] 0xKiwi commented on #7724
Hello @3cl1ps ! Thanks for making an issue!

Have you had any large issues? The beacon node may be reporting its inaccessible due to your setup, but if everything is working fine then thats good! Are you experiencing any problems?

[2020-11-27 20:11] 0xKiwi commented on #7703
Hello @Nikolay-everstake , the slasher is not necessarily mainnet-ready and may incur large memory usage, we recommend not using it if you are using the same beacon node for your validators.

Is your problem still occurring without the slasher?

[2020-11-27 20:11] #7668 closed

[2020-11-27 20:13] 0xKiwi commented on #7817
Hey @jesmith0 ! Any updates? Are you still experiencing this problem? What are your specs?

[2020-11-27 20:14] 0xKiwi commented on #7838
Hey @fabdarice are you still taking care of this issue? Or is it not reproducible?

[2020-11-27 20:16] 0xKiwi commented on #7905
Hello @sknuth thank you for reporting this!

@farazdagi any idea what could be going on here?

[2020-11-27 20:20] 0xKiwi commented on #7924
Hey @agro1986 , thanks for filing this. @prestonvanloon is this something we can improve its display of on the validator?

[2020-11-27 20:21] 0xKiwi commented on #7955
Hello @Jason-Wanxt are you still experiencing problems? If not, we can close this.

[2020-11-27 20:34] LukkePrague commented on #7980
Hi. As rkapka mentioned, my local bazel version is latest at the moment - 3.7.0.

[2020-11-28 01:02] potuz opened #7985 "Check on-chain for attestations at validator launch"
# 🚀 Feature Request

### Description
In the event of having a corrupted `validator.db` an easy and cheap safeguard would be to grab attestations from the last 3 epochs from the beacon-node and check if the validating indexes appear there. This would prevent having a double attestation in most cases. This test can be run only at launchtime and if the validator.db does not show any activity for the

[2020-11-28 01:16] terencechain commented on #7985
I will advocate no flag. We should eliminate the number of the flags for both beacon node and validator. More flags == more doc support == more room for errors and unnecessary frictions.

What if the db doesn't have previous epoch info but the block attestation has?

Can you also run this idea in the eth2 discord? Will be good to get opinions from other implementor teams

[2020-11-28 01:25] potuz commented on #7985
Thanks for the tag, I wasn't allowed. I think  if the db doesn't have info from the previous epoch but the block has it the validator should stop and assume either the db is corrupted (had a dirtly stop for example) or there's another validator running the same keys. In both cases you should stop to prevent such attestations from happening. If you do not want to add an extra flag that is fine too.

[2020-11-28 01:34] terencechain commented on #7985
Flag might be useful if the user intentionally understands the risk and still wants to procee. Example:

1.) epoch 100: attest on computer A, stop validator
2.) epoch 101: start validator on computer B with a fresh DB

I'm not sure how really applicable the above case is but it's a trade off that's worth looking at

[2020-11-28 04:31] zhouxiaojian1985 commented on #7955
I have similar issue when using alchemyapi
[code]

my prysm version
[code]

[2020-11-28 06:20] #7703 closed

[2020-11-28 06:20] #5337 closed

[2020-11-28 06:21] rauljordan commented on #6445
We did not get to this feature :(

[2020-11-28 06:21] #6445 closed

[2020-11-28 07:42] zhouxiaojian1985 commented on #7955
I switch to goerli.prylabs.net, but has similar error
[code]

[2020-11-28 08:55] imnisen commented on #7838
I have tried with `api.prylabs.ne`
[code]

[2020-11-28 10:01] banananramatron opened #7986 "Validator wont get passed download step"
# 💎 Issue
Trying to run prysm.bat on winows CLI:
set PRYSM_AUTORESTART=1
cmd /k prysm.bat validator --datadir=C:\prysm --web
![image](https://user-images.githubusercontent.com/75162432/100499248-cac61280-31cc-11eb-83c1-1573be04718f.png)

### Background
installed Geth and beacon node and they are running ok
![image](https://user-images.githubusercontent.com/75162432/100499256-e9c4a480-31cc-11eb-99f

[2020-11-28 10:48] LukkePrague commented on #7980
The same issue with v1.0.1

[2020-11-28 10:52] banananramatron commented on #7986
Found something that fixed it.  I loaded all parameters into a batch file called validator.bat.  When prysm.bat was running it would run validator.bat and therefore loop the program again.  Renamed Validator.bat to Validator run.bat and its working correctly.
![image](https://user-images.githubusercontent.com/75162432/100513800-c1d93f00-31d4-11eb-9a7b-b1ef00a1efaf.png)

[2020-11-28 15:39] nisdas commented on #7986
@rkapka Re-opening this as its still an issue, users shouldn't need to create custom batch files to run the binaries.

[2020-11-28 15:42] nisdas opened #7987 "DB Backups are Not Working"
# 🐞 Bug Report

### Description

The webhook flag for DB backups is no longer functional.

### Has this worked before in a previous version?

Yes before our v1 mainnet release and most likely before this PR #7630 .

## 🔬 Minimal Reproduction

Run a node with this flag `--enable-db-backup-webhook`

## 🔥 Error

The node will fail to start as the flag isn't recognised.

[2020-11-28 16:29] nisdas commented on #7987
Closed as it has been confirmed it is a non-issue

[2020-11-28 16:29] #7987 closed

[2020-11-28 18:45] Mr-Lim opened #7989 "Unable to process past headers cannot convert block header with nil block number"
Mainnet
ETH1 node is Nethermind .41 using default mainnet.cfg (includes fastsync of receipts, bodies, ancient barrier of 11000000 for both)
Running Prysm beacon-node

AFTER processing deposits from ETH1, Prysm starts giving the errors below. Prior to this, no errors:

←[90m[2020-11-28 12:55:56]←[0m ←[32m INFO←[0m←[36m powchain:←[0m Processing deposits from Ethereum 1 chain ←[32mdeposits←[0m=17920

[2020-11-28 18:52] prestonvanloon commented on #7989
@nisdas do you know what causes a nil block number? Perhaps the eth1 node was not fully synced?

[2020-11-28 18:56] nisdas commented on #7989
@prestonvanloon This is a current open issue with nethermind
https://github.com/NethermindEth/nethermind/issues/2525

@Mr-Lim please subscribe to the above issue ^

Block requests fail occasionally which make it difficult to continue processing block headers and logs.

[2020-11-28 20:53] banananramatron commented on #7986
I have batch files for convenience to keep all commands in one place instead of manually typing it out or using a shortcut

[2020-11-28 22:18] prestonvanloon commented on #2243
Re-opening because it is annoying and should be fixed.

[2020-11-28 22:30] tkstanczak commented on #7989
We believe that it will happen for users who did not select --Sync.DownloadReceiptsInFastSync true during the initial sync. In such cases for now resync of Nethermind is required so the receipts are available - version 1.9.41 has this option enabled by default to avoid problems for users who are not aware of it.

[2020-11-28 22:35] fabdarice commented on #7893
hey @0xKiwi , #7909 should be ready to go.
I originally made it a lot more complex than it should be.

[2020-11-28 22:38] soumensahoo commented on #7950
I am running the eth1 node and the beacon-chain node(by running the beacon-chain node binary directly) and getting below errors from time to time. I just restart and it runs fine until error pop up again. not to mention I am running both in Mac mini M1 chip.

eth1 node run logs:
INFO [11-28|13:40:22.135] Imported new chain segment               blocks=19   txs=2560 mgas=236.828 elapsed=8.212s mgas

[2020-11-28 22:38] fabdarice commented on #7838
Hey @0xKiwi ,

I am unable to reproduce what @imnisen is seeing.

See below on my end:
[code]

[2020-11-28 23:12] MysticRyuujin commented on #7969
Lighthouse has this now 👍

An optional for those looking is [dshackle](https://github.com/emeraldpay/dshackle). However, the eth_chainId function is broken in the latest release (v0.8.3) and a fix is pending release.

[2020-11-29 01:05] prestonvanloon commented on #7950
Thanks for that screenshot! Running the amd64 binaries on Mac M1 arm64 chips is not recommended at this time.

[2020-11-29 01:23] alec-francis commented on #7898
I can confirm this issue. Ran into the same error when adding a second validator on my Windows machine.

[2020-11-29 02:03] #6873 closed

[2020-11-29 02:03] rauljordan commented on #5450
Unfortunately we did not get a chance to implement this feature, and since chainstart is in a few days and we have already created our final release before genesis, we are closing this

[2020-11-29 02:03] #5450 closed

[2020-11-29 15:20] alrevuelta commented on #7969
Lighthouse recently added this feature on [v.1.0.1](https://github.com/sigp/lighthouse/releases/tag/v1.0.1). Would be really nice to have :D

[2020-11-29 15:48] potuz commented on #7985
@arnetheduck for pointed me to this implementation of Nimbus

https://github.com/status-im/nimbus-eth2/pull/1915

which is pretty much the same as I am suggesting except they default for 2 epochs instead of three. I haven't read in detail because I do not know their code, but an implementation detail (that I admittedly might be reading wrong) is that they wait and listen for 2 epochs before they s

[2020-11-29 18:57] stefanlsd opened #7995 "Validator exits with "Could not wait for validator activation while waiting for deposit""
# 🐞 Bug Report

### Description

 Could not wait for validator activation: could not receive validator activation from stream: rpc error: code = Unavailable desc = transport is closing" prefix=validator

### Has this worked before in a previous version?
Unsure as this may be under specific conditions

## 🔬 Minimal Reproduction
- Running on  pyrmont
- Running two accounts on single validator
Beacon

[2020-11-30 09:55] mrabino1 opened #7996 "Logs in Prysm UI are not the same as the command line"
v1.0.1

When you look at the validator logs in the prysm UI they are different than the logs thrown to syslog (for example).. including around which validators are activated.

[2020-11-30 09:59] mrabino1 opened #7997 "validator accounts delete (then select all) doesn't actually delete all of the accounts"
v1.0.1

running
 ./validator accounts delete --wallet-dir={dir}/.eth2validators/prysm-wallet-v2

and then select ALL

it looks like it selects them all. the user confirms.. it starts to delete.. and then completes

then you run
./validator accounts list --wallet-dir={dir}/.eth2validators/prysm-wallet-v2
and about half are still there..

repeat the process above multiple times.. and then after abou

[2020-11-30 14:51] navy665180 opened #8001 "can i build eth2.0 client by openthereum-prysm in china?by the steps in guild file."
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>

</code></pre>

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>

  </code>
</pre>

**What version of Prysm are you running? (Wh

[2020-11-30 15:04] LukkePrague commented on #7980
I just installed brand new machine (so not using VMWare this time) and I got a same error! Same for v1.0.2. I had to disable analyzers in order to have this built...

[2020-11-30 15:04] rkapka commented on #7996
Can you please give a specific example and/or screenshots of the differences?

[2020-11-30 16:10] mrabino1 commented on #7996
difficult to do without doxing myself.. summary.. I have more than one validator.. and in the prysm UI log of hte validator.. it shows only one..

[2020-11-30 18:51] stefanlsd commented on #7995
To add, once the deposits were accepted on the chain the validator started working and hasn't had any issues. Seems to be some race condition while waiting for deposits.

[2020-11-30 20:20] alec-francis opened #8005 "Error http2: Transport: cannot retry"
# 💎 Issue

### Background

My beacon node seems to be running fine but I did see one occurrence of the error below in the log.

[code]

### Description
This may not matter as the error has only shown up once and everything else seems to be running fine.

I'm running version 1.0.2 and here is my start command:

[code]

Also, I checked Infura and I'm well under the daily request limit.

Thanks,

Ale

[2020-11-30 23:28] #7972 closed

[2020-12-01 00:01] rauljordan commented on #7918
Resolved in v1.0.1

[2020-12-01 00:01] #7918 closed

[2020-12-01 05:28] menhigkong commented on #7955
I have the same issue when running beacon chain with infura

Latest Prysm version is v1.0.2.

ERROR powchain: Unable to process past logs stream error: stream ID 143; INTERNAL_ERROR

Has your problem been solved?

[2020-12-01 06:38] navy665180 opened #8008 "ERROR powchain: Unable to process past logs stream error: stream ID 15; INTERNAL_ERROR"
# 🐞 Bug Report
hi !   In WINDOWS  STEP2:
I use infura,to get the note of eth1.0
prysm.bat beacon-chain --http-web3provider=https://mainnet.infura.io/v3/6d453562570341079329bf3d7a408ccb

i think the problem is i can not connect infura.  i am not sure.also i don't kown how to solve the problem.
chould you help me ??or give me any advice?
thanks!

![无标题](https://user-images.githubusercontent.com/7514

[2020-12-01 07:12] levelboy commented on #7905
Happened the same for me:

Running Ubuntu 20.04
And Prysm version is v1.0.2 (but also had this on v1.0.1 and v1.0.0-beta.3

Validator Index: 105421
Public Key: 0x818ae19143d47e6cc85a425d7b87952859606670222b12e91804bb0d3825292c2b42f05c7376037cbdb5ef1015db3f3a

Now the beacon chain is failing to sync with errors like this:
[code]

[2020-12-01 07:19] nisdas commented on #7905
@levelboy can you confirm that this was indeed on `v1.0.2` ?

what is the output of `--version` ?

[2020-12-01 08:00] farazdagi commented on #7905
@levelboy also, if you've run your node with `--log-file filepath`, can you please share the full logs (archived copy attached to `sync-bugs` in discord will be ideal).

[2020-12-01 09:26] levelboy commented on #7905
@nisdas sorry, I confirm that it's *NOT* `v1.0.2` . It is `v1.0.1`
[code]

[2020-12-01 09:27] levelboy commented on #7905
@farazdagi was not running  it with log-file, but started it with log file now

[2020-12-01 09:28] farazdagi commented on #7905
Thank you! If it is not on `1.0.2` then this should be a known issue (which is fixed in `1.0.2`).

[2020-12-01 13:36] eduadiez opened #8010 "Separate monitoring-host from UI Logs endpoint"
# 🚀 Feature Request

### Description

In dappnode, we need a way to set the `monitoring-host` and the UI logs endpoint separately and be able to set `monitoring-host` to 0.0.0.0. Right now we use domains in dappnode, but sometimes we are not able to update the new ip in time, so we get this error:

[code]
### Describe the solution you'd like

It'd be ideal if we could set (even if it's with an env

[2020-12-01 16:01] Jason-Wanxt commented on #7955
Not yet, when my validator do attestations,it some time will occur this problems, which will lead to attest fail.

[2020-12-01 16:06] Jason-Wanxt commented on #7955
Which showed:
`level=error msg="Unable to process past headers stream error: stream ID 271; INTERNAL_ERROR" prefix=powchain`

[2020-12-01 19:23] rauljordan commented on #8010
Part of #7984, subscribe to that issue for a resolution

[2020-12-01 19:23] #8010 closed

[2020-12-01 21:12] prestonvanloon opened #8014 "Panic on shutdown with failed eth1 connection"
# 🐞 Bug Report

### Description

Panic on shutdown

### Has this worked before in a previous version?

## 🔬 Minimal Reproduction

Start beacon node with a genesis state, but with an offline eth1 node.

## 🔥 Error

<pre><code>
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x20 pc=0x145321b]

goroutine 244 [running]:
git

[2020-12-01 21:14] prestonvanloon commented on #8005
Without looking into this at all... this seems like an error with infura.

[2020-12-01 23:07] alec-francis commented on #8005
No worries. I'll close. I thought I would just put the error on record as it hasn't come up in previous issues on this repo.

Alex

[2020-12-01 23:07] #8005 closed

[2020-12-02 00:28] ThothLogos commented on #7810
I was just poking around your issues, some possibilities to explore perhaps for whoever jumps on it:

[code]

[2020-12-02 05:26] rauljordan commented on #7950
Closing this issue, we are not supporting M1 at the moment and have no plans to do so in the short term, sorry @soumensahoo

[2020-12-02 05:27] rauljordan commented on #7817
This issue has not been observed in any other situation. If you are still seeing this please let us know and we can reopen

[2020-12-02 05:27] rauljordan commented on #7791
Closing in favor of #7813

[2020-12-02 05:27] #7791 closed

[2020-12-02 05:28] rauljordan commented on #7196
Closing in favor of #7813

[2020-12-02 05:28] #7196 closed

[2020-12-02 05:28] #7807 closed

[2020-12-02 05:30] rauljordan commented on #5721
We are closing this now that we are in mainnet. Unlikely we will develop this feature

[2020-12-02 05:30] #5721 closed

[2020-12-02 05:30] rauljordan commented on #7997
Thanks @mrabino1 this is a big problem, we will look into soon

[2020-12-02 05:40] islishude opened #8016 "version of docker image v1.0.3 is v1.0.2"
![img](https://user-images.githubusercontent.com/24730006/100832936-d141dc00-34a3-11eb-8172-deabe39d7f0e.png)

[2020-12-02 06:52] econoar opened #8017 "Missing attestations every epoch"
# 🐞 Bug Report

### Description

My validator gets to attestation assignments and immediately after, I get the errors(s) below. Most of the time, it's only 2 or 3 failures out of a larger attestation set. However, the failures always start at the first slot assignment and move down.

<pre>
  <code>
[2020-12-01 20:38:55] ERROR validator: Could not request attestation to sign at slot error=rpc error

[2020-12-02 07:48] econoar commented on #8017
Issue is related to using 3rd party web3 providers.

Flipped off flag and attestations started working fine. Added a local node endpoint back and also fine.

[2020-12-02 09:48] shayzluf commented on #7997
looking into it

[2020-12-02 09:52] #7955 closed

[2020-12-02 14:19] redblaze4209 opened #8019 "New"
# 🚀 Feature Request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-12-02 15:31] rkapka commented on #7997
As I mentioned on Discord, we are not able to reproduce the issue. Can you please give us some more information? For example how many validators you had initially, is this Mainnet, Pyrmont or Medalla etc.

[2020-12-02 15:38] rauljordan commented on #8016
Related to #6798

[2020-12-02 15:38] #8016 closed

[2020-12-02 15:39] rauljordan commented on #7996
Duplicate of https://github.com/prysmaticlabs/prysm-web-ui/issues/94, please track that one for a resolution

[2020-12-02 15:39] #7996 closed

[2020-12-02 15:42] rauljordan commented on #7734
Update on this one @farazdagi ?

[2020-12-02 16:39] farazdagi commented on #7734
Feature has been confirmed to work on pyrmont, will create an opt-out flag today.

[2020-12-02 18:15] prestonvanloon commented on #7887
@rauljordan does this only occur when the original keys are not yet activated?

[2020-12-02 18:38] mrabino1 commented on #7997
mainnet .. ubuntu server. ARM. imported 200 validators (not funded yet)..  then then try to delete all of them... it only does half..

[2020-12-02 19:30] mrabino1 commented on #7997
<img width="765" alt="2020-12-02_19-52-29" src="https://user-images.githubusercontent.com/4902221/100921517-f868cf80-34dc-11eb-9e8d-fdf6856af9c1.png">
<img width="787" alt="2020-12-02_20-09-11" src="https://user-images.githubusercontent.com/4902221/100921537-fbfc5680-34dc-11eb-8909-36c171a9823d.png">
<img width="748" alt="2020-12-02_20-11-38" src="https://user-images.githubusercontent.com/4902221/

[2020-12-02 19:56] AKZ98 commented on #8001
#8001

[2020-12-02 20:51] rkapka commented on #7997
Thank you for the reproduction steps, this is very helpful.

[2020-12-02 21:17] #8017 closed

[2020-12-02 21:22] mrabino1 commented on #7997
so in text

create 200 validators offline
import all 200
delete all
(only about half get deleted)
delete all
(only about half get deleted)
...... repeat
then ultimately it deleted them all..

[2020-12-02 23:17] rauljordan commented on #7887
That's right. It _seems_ to work on Pyrmont for keys that are already
activated

On Wed, Dec 2, 2020 at 12:16 PM Preston Van Loon <notifications@github.com>
wrote:

--
*Raul E. Jordan | Co-Founder, Prysmatic Labs*
prysmaticlabs.com
rauljordan.com
Twitter: @raulitojordan <https://twitter.com/raulitojordan>

gpg --receive-keys 95452A701810FEDB

[2020-12-03 00:12] BiggT76 opened #8028 "Importing new validators blanks out current validator balance (web-ui)"
# 🐞 Bug Report

### Description

 When importing new validators into a current wallet, current balance is either "0" or "n/a" in web portal until beacon chain deposit confirmation

### Has this worked before in a previous version?

 Not sure, first attempt.

## 🔬 Minimal Reproduction

Run validator 1 and wait for deposit confirmation (my validator was actively processing at the time).  Import a ne

[2020-12-03 04:40] Faraj1 opened #8032 "Hiu"
# 💎 Issue

### Background

 Context and background information on the discussion...

### Description

[2020-12-03 04:41] Faraj1 commented on #8032
Y

[2020-12-03 08:15] shayzluf commented on #8032
Seems like spam. closing

[2020-12-03 08:15] #8032 closed

[2020-12-03 08:17] shayzluf commented on #8014
working on it

[2020-12-03 13:04] yorickdowne commented on #7984
R-Amen.

Ideal operation in my book is that the Web UI can be accessed remotely, not just via localhost: That is, http://prysm-host:7500 is sufficient. This will also allow it to be secure with a TLS reverse proxy such as traefik, caddy or nginx.

[2020-12-03 14:09] Novop opened #8035 "Post-slashing fail safe mechanism"
**Description**

Any papa staker's worse nightmare would be a potential slashing of his baby validator.  As much care as we all put into the safeguarding of our validators, we cannot dismiss the small chance of an honest mistake happening.  An example of that being accidentally running the validator on two machines simultaneously.  A single slashed validator can be a heavy price to pay but managea

[2020-12-03 17:44] prestonvanloon opened #8037 "Load graffiti from file and select different graffiti per validator"
# 🚀 Feature Request

### Description

Many users have requested this feature where they could use different graffiti for different validators running in the same client.

Reasons may include:
- Privacy (same graffiti may link validators)
- Fun (graffiti wall, etc)

### Describe the solution you'd like

New validator flag: `--graffiti-file=/path/to/graffitis.yaml`

Support for a yaml or JSON mappin

[2020-12-04 02:52] BiggT76 commented on #8028
Inadvertently rebooted my machine and now it is showing the balance correctly, just didn't update the dashboard without rebooting.

![image](https://user-images.githubusercontent.com/6043075/101115717-cffed500-35b1-11eb-8084-a8c79447c298.png)

![image](https://user-images.githubusercontent.com/6043075/101115663-b8275100-35b1-11eb-8ba8-29156dae51f9.png)

[2020-12-04 05:05] AtHeartEngineer commented on #8037
being able to go down a list of items to use as graffiti would be great too, especially for the graffiti wall.

[2020-12-04 05:07] terencechain commented on #8037
Good idea, I will add this to #8041

[2020-12-04 10:48] Novop commented on #8035
Here's the first poor soul. 10 validators slashed by the time the operator managed to stop the client.

https://beaconcha.in/dashboard?validators=3988,4007,4052,4086,4100,4102,4103,4104,4106,4107,4108,4110,4113,4171,4206,4218,4230,4237,4238,4239,4243,4244,4246,4256,4258,4259,4261,4262,4302,4305,4329,4356,4390,4411,4451,4456,4458,4462,4465,4466,4467,4472,7411,9431,10213,10275,10977,11051,11167,1121

[2020-12-04 17:35] JBC2323 opened #8049 "Why won't my deposit verify on BeaconChain when running my validator? I am losing ETH by the minute."
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>

</code></pre>

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>

  </code>
</pre>

**What version of Prysm are you running? (Wh

[2020-12-04 17:38] JBC2323 opened #8050 "My computer crashed running my BeaconNode - Critical Process Error and Memory Management"
The last issue was my Dad's Node.  His validator has been confirming deposit since Monday and he is losing Ethereum.  This is an outrage.  His Node is 1883.

Mine is 3069.  This is a seperate outrage in that my computer went blue screen on memory management.  Then I got a critical process error and I have to re-install Windows.  What is going on here!

Justin Chapman

# 🐞 Bug Report

### Descripti

[2020-12-04 17:50] prestonvanloon commented on #8049
Can you please provide any info?

[2020-12-04 17:53] prestonvanloon commented on #8050
I understand your dad (validator 1883) is not active.
Can you provide any details?
What version of Prysm are you running?
Can you share any logs in your beacon node or validator?
Are there any errors?

For your validator 3069, I understand you reinstalled windows. Is there still an issue?

[2020-12-04 21:16] JBC2323 commented on #8050
Microsoft Windows [Version 10.0.18363.1198]
(c) 2019 Microsoft Corporation. All rights reserved.

D:\>D:

D:\>cd prysm

D:\prysm>prysm.bat validator accounts import --keys-dir="E:\Justin's Flash Backup\Dad's Ethereum Validator Node\ETH 2.0 Mainnet Deposit\validator_keys\keystore-m_12381_3600_0_0_0-1605229897.json"
A subdirectory or file D:\prysm\dist already exists.
Latest prysm release is v1.0.3.

[2020-12-04 21:18] JBC2323 commented on #8050
It's still waiting been waiting for 5 days

[2020-12-04 21:20] prestonvanloon commented on #8050
What is this public key `0xb4e55bd91193`?

It's not validator 1883 (`0x8031a3d23db9d7d3ed733cb7daaca8368de476ee14d53ea8962d7970be433041dc3db253cf0a1b34a8497abdb8ddcd57`).

and it's not 3069 (`0xa8813256536de76870d9bc94dec6ff16614fc2461b25a5ddc4aa809530665786cba531ea98fc53f9e472489162b21a84`).

[2020-12-04 21:31] JBC2323 commented on #8050
I have no idea that's a good question
I just used the keystore that was saved post-deposit
Thanks for your quick feedback

[2020-12-04 21:32] JBC2323 commented on #8050
I am about to re-install WIndows after mine crashed and re-boot my validator node.  I have been getting penalized all day.

[2020-12-04 21:33] JBC2323 commented on #8050
Do I need to access my Dad's keystore and insert the correct validator key into the public key section or will that break the keystore file for his deposit key

[2020-12-04 21:33] prestonvanloon commented on #8050
I think that is the issue. You'll need to restore the validator client with the correct keystore to start validating again.

[2020-12-04 21:35] JBC2323 commented on #8050
In the keystore JSON file right?
Where it says "description": "", "pubkey": "........................ that's where I type my Dad's Validator Node Public Key?

[2020-12-04 21:35] JBC2323 commented on #8050
Inside the JSON Keystore-m file?

[2020-12-04 21:36] JBC2323 commented on #8050
Thanks again!

[2020-12-04 21:36] JBC2323 commented on #8050
About to try

[2020-12-04 21:36] prestonvanloon commented on #8050
First thing you'll want to do is to make sure your Dad's keys are not running on any other machine. If you run your Dad's validator and he runs it too, then you could get slashed.

When you import the validator keys from the launchpad keystore, it doesn't modify the original keystore file. Prysm loads the JSON file, decrypts it with the provided password, then creates a new wallet in prysm with a

[2020-12-04 21:40] JBC2323 commented on #8050
I went in the JSON script and replaced the wrong public ID with my Dad's and it worked

[2020-12-04 21:40] prestonvanloon commented on #7985
Is there a reason for 2 or 3 epochs? Technically, you could be slashed as far back as the weak subjectivity period. (i think)

[2020-12-04 21:41] JBC2323 commented on #8050
Unbelivable for some reason it had the wrong public ID - What is this public key 0xb4e55bd91193
The keystore file

[2020-12-04 21:41] JBC2323 commented on #8050
With mine I am very concerned about the memory mamagement error and critical process error
WHen I re-install WIndows I will reach back out with feedback.  I have an external D Drive that has 16TB HD

[2020-12-04 21:45] potuz commented on #7985
Yes but this should only happen in a forked environment. It seems like a good compromise since this request will impact every launch of the validator.

[2020-12-04 21:47] prestonvanloon commented on #8050
I don't think this worked. You might have seen the public key printed when you completed the import, but the secret key in the keystore will not match.

https://github.com/prysmaticlabs/prysm/blob/01bf97293feae72ad8298bf670352927629321bd/validator/keymanager/imported/import.go#L106-L113

Can you please reach out on discord? I'm very concerned about your situtation. https://discord.gg/z9efH7e

[2020-12-04 21:51] JBC2323 commented on #8050
It isn't working you're right this is awful

[2020-12-04 21:52] JBC2323 commented on #8050
The validator is running but not attesting

[2020-12-04 21:52] JBC2323 commented on #8050
Why would we receive a keystore with a validation public address different than my Dad's validation address

[2020-12-04 21:54] prestonvanloon commented on #8050
Please reach out on discord and we can help you there. https://discord.gg/z9efH7e

[2020-12-04 22:29] prestonvanloon commented on #8050
We connected on discord and resolved this offline. The user's account was recovered successfully from their mnemonic phrases.

[2020-12-04 22:29] #8050 closed

[2020-12-04 22:30] prestonvanloon commented on #8049
Duplicate of #8050

[2020-12-04 22:30] #8049 closed

[2020-12-04 23:06] rauljordan opened #8052 "[Tracking] - Integrating Slashing Protection Invariants"
As a follow-up to #7813, we want to ensure we enforce some strong invariants recommended by EIP-3076 after slashing protection data is imported into the validator client. Given this is high risk to include in a minor semver patch, we need to test it for a while and will be separate from #7813, which is safe to go in a minor patch release.

- [ ] Support the invariant below:

- [ ]  Support the inv

[2020-12-04 23:15] #8037 closed

[2020-12-04 23:40] rauljordan commented on #8052
After discussion offline, closing and moving back to #7813

[2020-12-04 23:40] #8052 closed

[2020-12-06 02:21] Phistr90 commented on #7220
Still an issue for me

[2020-12-06 08:41] navy665180 opened #8054 "ERROR powchain: Could not connect to powchain endpoint error=403 Forbidden: {"jsonrpc":"2.0","error":{"code":-32002,"message":"rejected due to project ID settings"}}"
# 🐞 Bug Report

### Description

./prysm.sh beacon-chain --http-web3provider=https://mainnet.infura.io/v3/8ac88cb61b9347139361bba090d26f0f
use infura ,then
![mistake](https://user-images.githubusercontent.com/75147624/101275569-81d01880-37e1-11eb-9d27-9e39c8cccd69.png)

could not dial eth1 nodes

### Has this worked before in a previous version?

no
 Yes, the previous version in which this bug was

[2020-12-06 13:13] handelaar2 commented on #7220
Not sure if I understand. You write "Prysm goes into deadlock" but also " Prysm reconnects to peers relatively fast". The specific error you mention is already being worked with #8048. This issue I raised (now closed) was about peer_count going to almost zero and stay there (so not being able to discover new peers). This is different from finding no peers for a specific subnet.
I think you need to

[2020-12-06 14:51] navy665180 opened #8055 "about infura"
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...

can not connect the infura.
i guess the port is not open ??
how and where to open the port??
thanks!
![mistake](https://user-images.githubusercontent.com/75147624/101283475-90d0be00-3815-11eb-88a0-0fa339ebe1b4.png)

### Has this worked before in a previous version?no

 Yes, the previous version in which this bug w

[2020-12-06 15:07] danielschonfeld opened #8056 "Logging a countdown till next validator scheduled operation"
# 🚀 Feature Request

### Description
### Describe the solution you'd like

Logging a countdown till the next validator scheduled operation across all validator public keys the process is assigned. A prometheus metric might not be a bad idea too.

I think it'll make for better ability to time upgrade and minor restarts, without losing on valuable profits, in particular proposing a block.

### Descr

[2020-12-06 17:26] Phistr90 commented on #7220
Yeah you are correct, this is the wrong place for my issue. Was too late for me when submitted and just searched for dynamic ip 😓 Hopefully the mentioned PR will do the trick otherwise I'll open a new issue. The problem at hand is that although I have peers overall and subnets, it still stops syncing.

[2020-12-06 17:59] prestonvanloon commented on #8054
Hi! Sorry you are having issues. It looks like a misconfiguration in your infura settings. Could you confirm that you don't have any security restrictions set on your infura project?

It would look something like this
![Screenshot from 2020-12-06 09-58-45](https://user-images.githubusercontent.com/7246818/101288124-b0ca9800-37a9-11eb-9fb8-48816e397167.png)

![Screenshot from 2020-12-06 09-58-38](h

[2020-12-06 22:07] aviadshimoni commented on #7969
I've really considered moving to lighthous because of that. that's a really useful and easy and reasonable feature.
thanks for the community.

[2020-12-06 22:11] mondsen commented on #7969
I agree it would be a good thing, but you have several of options
- move to lighthouse as you said
- use nginx as proxy to do this
- wait

[2020-12-06 22:29] MysticRyuujin commented on #7969
NGINX and/or HAProxy won't fail over unless the node is completely unavailable, it doesn't do any real health check on the state of the node. `dshackle` is a better option, but that's relying on a 3rd party dependency and it has it's own issues here and there, but it's probably the best option for now.

[2020-12-06 23:50] vvavepacket commented on #7969
I'll wait. I believe the next release will include this MR.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
12/06/20,
06:50:04 PM

On Sun, Dec 6, 2020 at 5:29 PM Chase Wright <notifications@github.com>
wrote:

[2020-12-07 00:07] nisdas commented on #7969
I will be working on this today, should be ready by v1.05. With mainnet launch last week, there were other more pressing issues to deal with but I am now free to pursue this today.

[2020-12-07 02:58] Phistr90 opened #8059 "Prysm beaconchain stops syncing / block processing after (VPN) reconnection"
# 🐞 Bug Report

### Description

I have a prysm beacon node setup which I run over a vpn with port forwarding on a residential internet connection. The ISP disconnects every 24h and issues a new IP.
When the disconnect happens, obv Prysm loses all the peers. The vpn connection is reestablished. Prysm seems to reconnect to peers (75) and also has peers for all subnets etc (see logPeers). However, p

[2020-12-07 09:01] AtHeartEngineer commented on #7969
new hero

[2020-12-07 10:16] #8014 closed

[2020-12-07 11:51] nisdas commented on #7969
Alright PR is up in #8062, if everything goes well you guys can expect it in v1.0.5

[2020-12-07 14:32] navy665180 commented on #8054
could you explan "security restrictions"? it is on infura?or on my operator system(ubuntu)?

[2020-12-07 15:16] peterbitfly opened #8064 "API returns block data for orphaned slots in finalized epochs"
# 🐞 Bug Report

### Description

It would be good if it is possible to disable returning orphaned blocks via the prysm API. Currently for example the following request on mainnet will return a block that has been orphaned:

<pre><code>
curl localhost:3500/eth/v1alpha1/beacon/blocks?slot=43331
</code></pre>

An API consumer gets no indication that the block is not canonical and will need to travers

[2020-12-07 15:48] shayzluf commented on #7939
working on it

[2020-12-07 16:15] mohamedmansour commented on #7939
Awesome thanks! Please work with @nisdas on his fallback eth1 node because the intent of using authenticated infura would be for a fallback url in case the local primary url fails.

[2020-12-07 16:22] ben-staked opened #8066 "Prysm Validator Missing Attestations"
# 🐞 Bug Report

### Description

The prysm client occasionally misses attestations for slots due to grpc deadline for making the attestations passing before it's able to make the attestations.  It errors out with `Could not request attestation to sign at slot` when it does this.

As the number of keys that the validator client is attesting for goes up, the probability of this happening also seems

[2020-12-07 16:57] navy665180 commented on #8054
ethereum@ubuntu:~$ curl https://mainnet.infura.io/v3/dd973522085c4043a159cb34e9503f4d
404 page not found

[2020-12-07 17:06] tsudmi commented on #8066
Also experiencing the same issue in `v1.0.3`.

[2020-12-07 17:21] StanleyDing commented on #8066
Encountered the same issue in v1.0.3

[2020-12-08 02:32] Cipioo opened #8070 "Slasher DB backup not working on Windows 10"
# 🐞 Bug Report

### Description
DB Backup is not working for the slasher on Windows 10.

### Has this worked before in a previous version?
No, this is a new enhancement as of 1.0.4

## 🔬 Minimal Reproduction

Run slasher with these flags: C:\prysm\prysm.bat slasher --enable-db-backup-webhook --db-backup-output-dir="D:\Slasher_Backup"

Data backup does not occur. Upon going to a web browser and vis

[2020-12-08 05:45] yuilleb commented on #7905
This just happened to me as well on 1.0.2

`beacon-chain version Prysm/v1.0.2/b150acffca3d93e8cf1f404ff7e4602391017186. Built at: 2020-11-30 02:48:11+00:00
`

`Dec 08 05:23:11 wci-eth1 prysm-beacon-chain[463]: time="2020-12-08 05:23:11" level=info msg="Synced new block" block=0x2e7417bd... epoch=1512 finalizedEpoch=1510 finalizedRoot=0xbefdbb17... prefix=blockchain slot=48414 slotInEpoch=30
Dec 08

[2020-12-08 06:41] farazdagi commented on #8059
Are you absolutely sure that after losing the connection node is stuck i.e. it doesn't get recovered in 6-8 minutes? Your logs do not show that, can you please share full logs?

[2020-12-08 06:52] farazdagi commented on #7905
@yuilleb are those full logs? Can you please share logs of what happened btw `05:32:30` and `05:47:22`? Node seems to fall behind, and drop from the normal sync back to initial-sync (to catch up), but then nothing happens?

[2020-12-08 06:56] yuilleb commented on #7905
@farazdagi Yes sorry, I should have copied the line preceding `05:47:22`, but yes the log right before that is `05:32:30`. Nothing happened in between. No new logs were generated until I tried to gracefully stop the process.

[2020-12-08 07:01] DoHaiSon opened #8071 "Balance of validators decreased after 2 Epochs on Interop_Testnet."
# 🐞 Bug Report

### Description

 I have used Interop to create a private testnet, however I realized that after the first 2 Epochs, when the validator-cli summary to reward the penalty, I noticed the following result:

`[2020-12-08 13:46:14] INFO validator: Vote summary since launch attestationsInclusionPct = 50% averageInclusionDistance = 2.00 slots correctlyVotedHeadPct = 100% correctlyVotedSou

[2020-12-08 07:05] Phistr90 commented on #8059
@farazdagi Yes, I am sure that it doesnt recover in 6-8mins. It doesn't recover in at least 20mins. I did that the other day, wont try it again and lose money.
Also, Nishant told me that he was able to reproduce it. Their node recovered after 30mins but that's obv. totally unacceptable.

[2020-12-08 07:14] farazdagi commented on #8059
Ok, thank you for clarification. Definitely, such a long recovery is not normal (normally, we expect a node to get back online in couple of epochs at most). We will be looking into it, as a high priority item.

[2020-12-08 08:23] Novop commented on #8056
Indeed a prometheus metric would be very helpful in timing validator restarts

[2020-12-08 08:43] Zolmeister commented on #5597
With https://github.com/prysmaticlabs/prysm/pull/8041 landing, all that's required for programmatic access (via file-updating) is to not cache the config file.
https://github.com/prysmaticlabs/prysm/blob/b4437e6cecd78257d2699f42073a90a940baf716/validator/node/node.go#L379

[2020-12-08 10:50] q9f opened #8072 "ERROR: no such package '@llvm_toolchain//': Unknown LLVM release: clang+llvm-10.0.0-x86_64-linux-gnu-ubuntu-16.04.tar.xz"
# 🐞 Bug Report

### Description

Bazel fails to initialize the toolchain on Archlinux with `Unknown LLVM release`.

### Has this worked before in a previous version?

Yes, the alpha and rc builds used to work a couple of months ago. I don't recall an exact version though.

## 🔬 Minimal Reproduction

[code]

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

[code]

**What version o

[2020-12-08 11:41] navy665180 opened #8073 "help./prysm.sh beacon-chain --http-web3provider=http://localhost:8545"
![snapshot1 20201208](https://user-images.githubusercontent.com/75147624/101481097-981bd700-398f-11eb-9b5f-085fdba2d2e1.png)
![snapshot  geth syncing  20201208](https://user-images.githubusercontent.com/75147624/101481126-9eaa4e80-398f-11eb-9e77-86b51944cf24.png)

# 🐞 Bug Report

### Description

 A clear and concise description of the problem...
i use geth as the eth1.0.  2days later,geth get the

[2020-12-08 12:20] farazdagi commented on #8072
This issue has been raised by others on Discord as well, there's no LLVM v10 for ubuntu 16.04. So, one has to either upgrade their OS or change LLVM version in workspace file, to v8/v9 in: https://github.com/prysmaticlabs/prysm/blob/53a8c3e66f019c822f5ac464e3e0ed8355df4216/WORKSPACE#L31

Preston planned to fix that (probably by sticking with LLVM that corresponds to some LTS version of OS).

[2020-12-08 12:57] nining opened #8074 "lots of "Incorrect voting" cause balance decrease"
# 🐞 Bug Report

### Description

I'm hosting more than 500 validators on the same machine.  Most of the time the validator process worked perfectly.  But some time I got the following error message in the validator process log, and when I checked the validator's balance I found some decrease for that epoch.

<pre><code>
...
144578:time="2020-12-08 17:26:43" level=info msg="Previous epoch voting su

[2020-12-08 19:18] prestonvanloon commented on #8066
This may have been fixed by https://github.com/prysmaticlabs/prysm/pull/8023.

Can you confirm two things:
- Did you have a non-zero amount of validators that were not yet active? If so, can you give an approximate number? 10, 100, etc
- Does this issue still exist in v1.0.4? v1.0.4 has PR #8023 included, so that might resolve your issue.

[2020-12-08 20:04] ben-staked commented on #8066
- There are not very many inactive validators on the node that I'm looking at.  In general, I've observed that active validators contribute more heavily to the bug than inactive ones.
- I will test it out on `v1.0.4` and update

[2020-12-08 21:44] prestonvanloon commented on #8066
Thanks @ben-staked. I'm also thinking that #8023 might not have resolved your issue, based on the logs provided in the original issue.

Something seems off about the timestamps in the logs. I understand you've edited out any identifiable information, but did you also remove other logs? I'm specifically looking for this type of log
[code]
I don't see one in your logs prior to the calls at `2020-12-

[2020-12-08 21:57] prestonvanloon commented on #8066
Was the previous epoch task so delayed that it ran into the next epoch?
Another weird thing is that your logs show an epoch deadline of only 1 slot.
What slot did this happen at?

[2020-12-08 22:06] prestonvanloon commented on #8066
Ah actually it's a slot deadline... that makes sense, still looking

[2020-12-08 23:01] protolambda commented on #8066
I think I'm also hitting attestation deadlines on all my Pyrmont validators.
[code]
It then requests more, and times out against, same after restarts as after running for a while.

Version: `Prysm/v1.0.4/ade3b2f2dffc242341dfc0793984b431a889e5b2. Built at: 2020-12-08 04:02:32+00:00`

[2020-12-08 23:28] prestonvanloon commented on #8066
@protolambda if all of your validators are hitting deadlines, that might be a bigger and different issue.
For some context, we aren't seeing any wide spread deadlines in pyrmont with our validators.
However, we are seeing a slight increase deadlines exceeded in pyrmont in the last 1 to 2 hours and we are investigating that.

[2020-12-08 23:31] protolambda commented on #8066
Messaged on telegram chat just now, copying that over:

I definitely think something changed, but not sure what it could be. Just a little extra stress on the nodes, or something related to bad RPC / timeout behavior.

[2020-12-08 23:51] prestonvanloon commented on #8072
The work around above is correct. For whatever reason, LLVM didn't upload a distro for ubuntu 16.

[2020-12-09 02:50] StanleyDing commented on #8066
Have around 500 inactive validators. We run our validators in a k8s cluster, and it will often fail after running for a couple of hours if using beacon node within the k8s. Currently we are using beacon node outside of k8s cluster, and the validator looks normal now.

[2020-12-09 05:26] sako013 commented on #7827
i used Alchemy instead of Infura and it seems working but I could choose Eth2 in Infura,I am not sure about Alchemy is it the same!

[2020-12-09 07:14] mrabino1 opened #8080 "time sync via peers as backup"
prysm should take the consensus time from the peers as an alternative to the hosts own time reference.

in the event the hosts time significant deviates from that of the beaconchain then a new time consensus algo kicks in to determine which is right.

at the same time minor deltas should probably yield to the local hosts time material ones should be viewed as an external attack. when smoothed out,

[2020-12-09 16:28] Phistr90 commented on #8059
I had the same issue today midday. VPN reconnection (no connection for about <1min) and it took prysm about 20mins to recover.

[2020-12-09 20:31] ben-staked commented on #8066
@prestonvanloon It seems like 1.0.4 helped a little bit.  Hitting deadlines still happens, but it's a little bit less frequent than before.  Is there any way to raise the deadline?

[2020-12-10 03:34] Cipioo commented on #8070
Wanted to mention, I have since writing this also tried DB backup for Validator and Beacon and none were working.

[2020-12-10 04:26] terencechain commented on #8056
Did some work on this today:

<img width="897" alt="Screen Shot 2020-12-09 at 8 07 42 PM" src="https://user-images.githubusercontent.com/21316537/101721407-c2879600-3a5c-11eb-941f-a364ccdba911.png">

[2020-12-10 12:36] MicahZoltu commented on #5660
The above PR just updated the docs, prysm still defaults to putting everything in roaming profile folder.  As others mentioned, keys probably shouldn't go there as it means they'll be copied around the network (not E2E encrypted unless Prism is encrypting on disk), and the bulk data definitely shouldn't be copied over the network on login/logout.

The one thing I disagree with the OP about is:

Pr

[2020-12-10 12:52] farazdagi commented on #5660
Thank you for providing more info/context, I'll produce fixing PR within a session.

[2020-12-10 18:56] #8056 closed

[2020-12-10 19:01] danielschonfeld commented on #8056
Wow this looks fantastic!!!!

[2020-12-10 19:10] terencechain commented on #8056
Anytime. Thanks for the great feedback. This will be part of next mondays release

[2020-12-10 23:53] mikemr commented on #8074
I am seeing similar issue
time="2020-12-10 13:29:51" level=info msg="Previous epoch voting summary" correctlyVotedHead=false correctlyVotedSource=false correctlyVotedTarget=false epoch=2112 inclusionDistance=18446744073709551615 inclusionSlot=18446744073709551615 newBalance=32.147345665 oldBalance=32.147395807 percentChange="-0.00016%" percentChangeSinceStart="0.13842%" prefix=validator pubKey=xxx

[2020-12-11 00:02] potuz commented on #8074
All the slots reported here are votes on the first slot of the epoch. I think this is related to what has been discussed in R&D Discord

[2020-12-11 00:24] terencechain commented on #8074
does this persist? keep in mind when you first start out your validator client, this is what you will see in the first 2 epochs

[2020-12-11 01:26] #2243 closed

[2020-12-11 02:46] Jlonghi opened #8091 "Remote signer wallets in 1.0.4 break backwards compatibility with older wallets"
# 🐞 Bug Report

### Description

Remote wallets created before 1.0.4 do not have
[code]
Causing an error when trying to start a validator that used tls with remote signer previously.
Adding require_tls fixes the issue.

### Has this worked before in a previous version?

There was no issues in versions before 1.0.4

## 🔬 Minimal Reproduction

Start a validator on version 1.0.3 or lower and use a ke

[2020-12-11 04:04] nining commented on #8074
It persists all the time.  Now I'm monitoring the balance decrease event.  Everyday this issue occurs about 10~20 times, and every time it affected 10~20 validators.

[2020-12-11 04:11] nining commented on #8074
It persists.  And it's not the first 2 epochs after the validator activated.  Please check this validator https://beaconcha.in/validator/24791

[2020-12-11 05:34] potuz commented on #8074
Are you sure it was that validator? In epoch 2042 that validator attested in slot 65373, it's attestation was included in the next slot and it voted for the right head.

[2020-12-11 05:47] potuz commented on #8074
I wanted to add that in a day there are 7200 slots, 225 of which are the first slot of an epoch. With 500 validators you would expect in average to have 15-16 votes in the first slot of an epoch on each epoch. So when you get the first block late you will expect in average to have a balance decrease in as many validators as you are seeing. Given the numbers I see on mainnet I would have expected t

[2020-12-11 05:57] nining commented on #8074
Here is the validator's log:

92820:time="2020-12-10 21:49:07" level=info msg="Previous epoch voting summary" correctlyVotedHead=false correctlyVotedSource=true correctlyVotedTarget=false epoch=2040 inclusionDistance=1 inclusionSlot=65281 newBalance=32.07000012 oldBalance=32.070002368 percentChange="-0.00001%" percentChangeSinceStart="0.10021%" prefix=validator pubKey=0xb82d5e6fe8de startBalance=3

[2020-12-11 09:27] potuz commented on #8074
Ok that's in epoch 2040 and the validator voted in slot 65280 which is the first block of the epoch. This seems to be the phenomenon described in previous comments

[2020-12-11 10:16] rkapka commented on #7887
activated

The original description of the issue is not correct. The problem here is that it's not possible to add new keys if none of the current keys is active. See https://discord.com/channels/476244492043812875/730447046930071672/786713443578937394 for details.

[2020-12-11 11:15] #7969 closed

[2020-12-11 11:16] nisdas commented on #7969
Alright feature has been merged in, so you all will see this in v1.05 next week.

[2020-12-11 17:07] superphiz opened #8092 "PPA installation for prysm packages"
# 🚀 Feature Request

### Description

Lighthouse updates through the psysm.sh script are nice, but they work around the apt packaging system by using a custom update solution.

### Describe the solution you'd like

Implement a Personal Package Archive (PPA) installation and upgrading solution for prysm to automate installation and upgrading. This technique will VASTLY improve installation by creat

[2020-12-11 18:20] KevinVitale opened #8093 "[Metrics] Balances are "0" for validators in the PENDING state"
# 🐞 Bug Report

### Description

I have a pending deposits with assigned indexes and estimated epochs; however, Grafana is reporting their balances as `0`.

## 🔬 Minimal Reproduction

Deposit some ETH and wait for an index to be assigned. Metrics reports the balance as "0".

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu Linux
  </code>
</pre>

**What version of Prysm are you

[2020-12-11 20:29] #7894 closed

[2020-12-12 10:59] nisdas commented on #8091
Seems like this PR is the cause: https://github.com/prysmaticlabs/prysm/pull/7953
Looks like it ended up having the opposite effect :) , @rkapka

https://github.com/prysmaticlabs/prysm/pull/7953/files#diff-d315c7707882861692f23127b1360d9e4c5cc3722afa2d21c1b1a2bba2c33bd1R72

The default value for that flag is false, so it ends up being a requirement to run tls by default. Is that intended ?

[2020-12-13 20:25] stefa2k opened #8105 "panic: runtime error: makeslice: cap out of range"
# 🐞 Bug Report

### Description

Was updating host, running docker, got the panic two times below.

### Has this worked before in a previous version?

Yes

## 🔬 Minimal Reproduction

Don't know, happened only once but two times in a row.

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 20.04 LTS
  </code>
</pre>

**What version of Prysm are you running? (Wh

[2020-12-14 14:32] protolambda opened #8108 "Wrong chain ID when configuring testnet"
# 🐞 Bug Report

### Description

When configuring a custom testnet, the chain ID and network ID config variables are ignored.

### Has this worked before in a previous version?

It appears that the current testnets all hardcode the variables, whereas it should be configurable.

See #6727

## 🔬 Minimal Reproduction

Load a custom testnet config, containing:
[code]

## 🔥 Error

<pre><code>
time="202

[2020-12-14 14:41] parithosh commented on #8108
Additonal information:

- Config file was loaded onto prysm using the flag ` --chain-config-file="<PATH-TO-CONFIG>/prysm_config.yaml"`

[2020-12-14 19:45] nicolashomble opened #8112 "[Docker image] version showed in logs still v1.0.4"
# 💎 Issue

### Background

Starting the new v1.0.5 docker image, validator and beacon node

### Description

Certainly not a big issue but in the logs when i start the new docker image v1.0.5 the validator and beacon node version still show prysm/v1.0.4/$tag instead of what i assume should be prysm/v1.0.5/$tag now.

with the proper tag for the v1.0.5 (242888...) according to the release page

See

[2020-12-14 22:08] mfiumara commented on #8112
Same here was wondering what I was doing wrong but it looks like something went wrong with the build.

[2020-12-14 22:09] #8070 closed

[2020-12-14 22:11] prestonvanloon commented on #8112
Duplicate of #6798.

We're still working on streamlining our build pipeline. The issue is the images are created before the git tag is pushed. I thought we had fixed this, but will continue to work on it in #6798.

[2020-12-14 22:11] #8112 closed

[2020-12-15 01:51] Phistr90 commented on #8059
Updated to v1.0.5 today. The reconnection worked today without a problem. As I pointed out before the problem is a little inconsistent but nonetheless this is a positive indication that it works now if you guys applied a fix in the new release.

[2020-12-15 02:44] R3TSU commented on #8054
@navy665180, Just want to add, this is how to test the endpoint

curl -X POST https://mainnet.infura.io/v3/dd973522085c4043a159cb34e9503f4d -H 'Content-Type: application/json' -H 'cache-control: no-cache'  -d '{"jsonrpc":"2.0","method":"eth_blockNumber","params":[],"id":1}'

when successful, it should return something like this
{"jsonrpc":"2.0","id":1,"result":"0xaec9fb"}

that endpoint is success

[2020-12-15 04:49] nisdas commented on #8054
Would echo what @R3TSU mentioned above, please recreate your project ID. Unfortunately you have published your private url here so anyone can now abuse that url.

[2020-12-15 07:34] nisdas opened #8115 "Prysm Makes Excessive Block Requests With Nethermind"
# 🐞 Bug Report

### Description

Currently when running a prysm node with nethermind, there are certain situations that trigger the beacon node to make very large amounts of `eth_blockNumber` requests(rather than batching it as expected). This would indicate that there maybe certain edge cases being hit which were not observed with geth.

Making large amounts of single block/log requests would ind

[2020-12-15 07:36] kwood commented on #7509
I'm confused as to why `disable-broadcast-slashings` was removed? Broadcasting currently removes all incentive to run a slasher, as 100% of the whistleblower reward currently goes to the proposer. The explanation above `The node should broadcast slashing by default` doesn't really make sense, that already was the default. Is there something else unsafe about not broadcasting slashings?

[2020-12-15 08:06] nisdas opened #8116 "Allow All the Different Data Directories To Be Easily Configurable In Validator"
# 🚀 Feature Request

### Description

Allow all the different data directories to be configurable with a single flag in the validator. Currently if we want to set a non default wallet directory , we ideally also want all the db/backup dbs and other related data to be in the same directory. However given how we specify the directories, if we set ```wallet-dir``` to a different path, our other direc

[2020-12-15 15:40] chrishobcroft opened #8118 "Show the "number of pubkeys attesting" in the "Next duty" log output"
# 🚀 Feature Request

### Description

 A clear and concise description of the problem or missing capability...

The new feature in the logging output for the `validator` is very nice - it shows a user how long until the any of the Validators will have a duty to perform.
[code]

This is very useful when restarting a process (e.g. to update to a new version of prysm) or to restart the OS (e.g. to up

[2020-12-15 17:58] rkapka commented on #7887
A fix for the remote keymanager will come in a separate PR.

[2020-12-15 18:28] potuz commented on #8056
I would like this to be reverted. My reasons for this are twofold. On the one hand because this adds one extra message per slot `No duty until next epoch`  and `Next duty`  which makes 1) harder to read the log if you are looking for information and 2) requires space to keep these extra message every 12 second.

On the other hand this information is already included in the logs that prysm has by d

[2020-12-15 18:30] terencechain commented on #8056
@danielschonfeld any input to this?

[2020-12-15 18:38] MicahZoltu opened #8123 "Newb-friendly UX on Windows."
# 🚀 Feature Request

### Description

Improve the validator UX for Windows users who are not particularly tech savvy.

### Describe the solution you'd like

1. Downloadable installer.
2. Installs Beacon client as a system service.
3. Installs Validator client as a system service.
4. Adds system tray icon for monitoring their status.
5. Clicking on the system tray icon brings up a UI (could be elec

[2020-12-15 19:01] victorelec14 opened #8124 "Served net_version err="the method net_version does not exist/is not available""
# 🐞 Bug Report

### Description

 I have this error in Geth after updating to version 1.0.5 (docker) and start using the Eth1 provider backup (alchemy/influra).

this error did not happen in the previous version (v1.0.4).

I already tested in geht with the http.api (old --rpcapi) with "net, eth":

Alchemy give response:

![image](https://user-images.githubusercontent.com/543450/102260676-112ba900-

[2020-12-15 19:17] victorelec14 commented on #8124
net_version be deprecated ?

https://github.com/ethereum/EIPs/issues/611

[2020-12-15 19:48] victorelec14 commented on #8124
Better replace **net_version** for **net_listening** ?

[code]

[2020-12-15 19:50] danielschonfeld commented on #8056
I don't generally disagree with @potuz assertions.  But I do want to ask couple questions for discussion
1) Does the current 'Attestation Schedule' message, also show when your validator is scheduled for Proposal?
  - My original intent was to have a way of mitigating losing on such a once in a while event, which was more profitable for the validator because of an upgrade restart or other server m

[2020-12-15 19:57] potuz commented on #8056
Yes it does, there's a log message `Proposal schedule`

In case you have 20 - 30 validators then it doesn't matter, you will have duties throghout the epoch. In any case, there is going to be one message for each proposal slot (with multiple indexes if you have more than one validator proposing in that slot) and similar for attestations.

This will be even worse, the prometheus db will increase dr

[2020-12-15 20:01] #5660 closed

[2020-12-15 20:15] danielschonfeld commented on #8056
There is no need for per public key.  You only want to know when you're about to take an action.  It doesn't matter per public key, since it's an all or nothing.  One metric, with the next slot you're scheduled to have any kind of duty on.  Preferably two, one with ``next_attestation_slot`` and one with ``next_proposal_slot``.

[2020-12-15 20:18] rauljordan commented on #7907
We received feedback from some users running a cloud deployment that they really need the ability to create an empty imported wallet and then dynamically import keys later. Unfortunately, we'll have to close this PR given the importance of that feature to these large stakers

[2020-12-15 20:18] #7907 closed

[2020-12-15 20:21] rauljordan commented on #8055
Hi @navy665180 this seems like a problem with your infura settings, not in Prysm. Can you try to see if your infura options allow you to have a public endpoint?

[2020-12-15 20:21] #8055 closed

[2020-12-15 20:24] rauljordan commented on #5597
Done with #8041

[2020-12-15 20:24] #5597 closed

[2020-12-15 20:28] rauljordan commented on #7339
https://github.com/prysmaticlabs/prysm/pull/8057 done

[2020-12-15 20:28] #7339 closed

[2020-12-15 20:29] rauljordan commented on #6329
Agreed this will be a very high cardinality database for folks with a lot of validators. We should mostly point users to block explorers if they desire this information

[2020-12-15 20:29] #6329 closed

[2020-12-15 20:30] rauljordan commented on #7995
Closed by #8057. Validator will reattempt connections

[2020-12-15 20:30] #7995 closed

[2020-12-15 20:50] rauljordan commented on #8074
We suspect https://github.com/prysmaticlabs/prysm/pull/8094
https://github.com/prysmaticlabs/prysm/pull/8107 will resolve these issues. Will report once we have more proof

[2020-12-15 20:51] rauljordan commented on #8066
v1.0.5 should resolve these issues completely @ben-staked , can you check if that's the case?

[2020-12-15 21:27] Zolmeister commented on #5597
@rauljordan did you see my comment? (https://github.com/prysmaticlabs/prysm/issues/5597#issuecomment-740474680)
I can create a new issue if preferred.

[2020-12-15 21:31] terencechain commented on #5597
Yes. Please create a separate issue for this

[2020-12-15 21:46] Zolmeister opened #8126 "Programmatic Graffiti File Access"
# 🚀 Feature Request

### Description

Allow external scripts to modify graffiti at run-time.

### Describe the solution you'd like

With #8041 landing, all that's required for programmatic access (via file-updating) is to not cache the config file.

### Describe alternatives you've considered

Currently can be worked around by restarting validators.

[2020-12-15 22:59] cyperbg opened #8128 "Nomachine breaks Prysm: Could not determine if beacon chain started"
# 🐞 Bug Report

Nomachine remote admin software seems to break Prysm

I followed [THIS](https://someresat.medium.com/guide-to-staking-on-ethereum-2-0-ubuntu-prysm-56f681646f74) guide to setup an ETH validator and everything worked fine until I installed Nomachine remote administrator program.
Then Prysm started restarting in a loop:
[code]

Then I uninstalled Nomachine and it started working again

[2020-12-16 01:26] prestonvanloon commented on #8128
Looks like nomachine uses port 4000, which is the same port that Prysm's beacon chain serves.

Suggestion:
- Set beacon chain to use a non default port grpc. `--rpc-port=4001`
- Set validator to use this new address. `--beacon-rpc-provider=127.0.0.1:4001`

Alternatively, set nomachine to not use port 4000. I don't know how to do this so I'm not suggesting it.

[2020-12-16 02:21] cyperbg commented on #8128
That explains it. Thank you.

[2020-12-16 02:22] #8128 closed

[2020-12-16 07:47] nisdas commented on #7989
Closing this as it has been resolved in nethermind as of 1.9.41

[2020-12-16 07:47] #7989 closed

[2020-12-16 07:51] nisdas commented on #8001
Hey @navy665180 , openethereum and Prysm shouldnt have any issues running, this question is better suited in our discord server.
https://discord.gg/Fz4vsKbaXn

[2020-12-16 07:51] #8001 closed

[2020-12-16 07:54] nisdas commented on #8105
Oh this is really odd, seems like an underflow here. Is there anything special about the eth1-providers you were running over here ?

[2020-12-16 07:57] stefa2k commented on #8105
Using geth's latest official docker image

[2020-12-16 07:58] nisdas commented on #8115
An update on this:
- Got a Nethermind node up and running which managed to sync goerli in about 2- 3 hours.
- However was unable to reproduce this issue at all, nethermind worked perfectly fine with the prysm beacon node
on pyrmont.
- I suspect the issue here is with the OS running these 2 clients, I tried this out on linux while this error came up regularly with users running nethermind and prysm

[2020-12-16 08:00] nisdas commented on #8108
This wouldn't be too difficult, our deposit/chain id are part of our network config. We would simply need to shift it over to the beacon config with the appropriate yaml tags and it should resolve this.

[2020-12-16 08:02] nisdas commented on #8105
Is it running behind a load-balancer to route requests to different geth nodes ? Or is it a vanilla setup with only 1 geth node being relied on over here.

[2020-12-16 08:05] stefa2k commented on #8105
no load balancer, geth also got other clients

[2020-12-16 08:07] nisdas commented on #8105
Ah k, which other clients are being used alongside geth ?

[2020-12-16 08:08] nisdas commented on #8073
@navy665180 Your eth1 node is still syncing, which is why you still see that error. You have to wait a while before your geth node is ready to serve after syncing.

[2020-12-16 08:08] #8073 closed

[2020-12-16 08:10] stefa2k commented on #8105
Sorry I meant that geth also get's used by other eth2 beacon clients not just this prysm beacon chain. Lighthouse and Teku are also connected to the same geth. There is no failover set for the eth2 prysm beacon client or any loadbalancer failover. It's a direct connection between geth and prysm's beacon-chain.

[2020-12-16 08:11] nisdas commented on #8054
As stated above this is an issue with infura, so it would be best to contact them. Closing this issue as this isn't something prysm can handle.

[2020-12-16 08:11] #8054 closed

[2020-12-16 08:14] nisdas commented on #8105
Ah k thanks for the context, will dig into it and see why it fails. Just curious, have you tried any later versions since v1.04, and has it failed any more times since the initial incident ?

[2020-12-16 08:19] nisdas commented on #8064
@terencechain , is it desirable to return non canonical blocks here, or should we be more strict on the kind of blocks returned by the endpoint ?

[2020-12-16 08:20] nisdas commented on #8008
This is an issue with your internal eth1 provider, so this is something we cant solve.

[2020-12-16 08:20] #8008 closed

[2020-12-16 08:24] nisdas commented on #7980
@LukkePrague Is this still an issue for you ?

[2020-12-16 08:50] nisdas opened #8131 "Participation API Returning Incorrect Data"
# 🐞 Bug Report

### Description

Both Etherscan and beaconcha.in showed the incorrect participation metric for epoch 3335:

https://www.beaconcha.in/epoch/3335
https://beaconscan.com/epoch/3335

It showed 15.43% in both explorers, while the actual value derived from metrics was instead 98%.

### Has this worked before in a previous version?

Usually it works fine.

[2020-12-16 08:52] nisdas commented on #8131
cc @terencechain

[2020-12-16 11:27] rkapka commented on #8091
Yes, this is intended. TLS should be enabled by default.

[2020-12-16 13:23] nisdas opened #8134 "Refactor Historical Logs And Block Fetching to Have a More Graceful Retry"
# 🚀 Feature Request

### Description

It has been brought up by @ferranbt that to avoid situations like #7827 , we could have a more graceful way to request blocks/logs in the event we do exceed the limit of eth1 provider.

### Describe the solution you'd like

The solution would be similar to the one implemented here:
https://github.com/umbracle/go-web3/blob/master/tracker/tracker.go#L344

which

[2020-12-16 14:13] rkapka commented on #8116
Interesting idea. Maybe we could break our YAML into sections and allow to specify a single YAML with all Prysm configuration?

Example with bad syntax:
[code]

[2020-12-16 14:27] rkapka commented on #8123
I think we should prioritize these items in terms of "how seriously can a user hurt themselves without this feature"?

[2020-12-16 14:53] ferranbt commented on #8134
This is how it would look like if we remove all the unnecessary stuff from that code.
[code]

[2020-12-16 16:23] #7724 closed

[2020-12-16 18:22] potuz commented on #8056
That would be useless for the purpose you want it: validators get assigned a duty at epoch transitions. Consider you have two validators, on epoch start they are assigned on duties as follows.  The first validator is assigned on slot M to to attest. The second validator is assigned on slot M+1 to propose. In this circumstances you won't have any notice of the proposition.

[2020-12-16 19:25] terencechain opened #8138 "Implement DB block getter by slot"
# 🚀 Feature Request

To retrieve a block using slot using the DB is inefficient today. We do the following in our code base:
[code]
I'd like to see the following getters. It'll improve both performance and code clarity

`BlockBySlot(ctx, slot) *block, bool, error`

`BlockRootBySlot(ctx, slot) [32]byte, bool, error`

[2020-12-16 19:31] #8131 closed

[2020-12-17 04:43] MicahZoltu commented on #8115
It appears to be an issue with stopping Nethermind and/or Beacon client for a while and then starting them back up.  I was able to reproduce this problem by shutting both down for a night, and then starting both back up the next day.  It may be possible to reproduce by only shutting down one of them for a day.

[2020-12-17 11:18] rkapka commented on #7510
Working on Node.

[2020-12-17 13:03] nisdas opened #8144 "Discovery on Windows is Broken With Clock Drifts"
# 🐞 Bug Report

### Description

Currently there have been a non trivial amount of users complaining on Windows about their number of peers
slowly reducing to zero. v1.05 has had some important changes with regards to stream management and subnet search.
However none of these components should have had any material impact on discovery. Windows machines being more
susceptible to clock drifts sudden

[2020-12-17 13:32] samjessup commented on #7898
I also hit this problem.

In case it's useful, I confirmed that os.stat.Perm() on windows currently returns 0666 for a normal file, and 0444 if you set the windows read only flag.   Changing windows security permissions on the file makes no difference, it will always return 0666 even if you do not have access to the file.

[2020-12-17 14:55] ben-staked commented on #8066
@rauljordan That didn't seem to help at all.  Still getting the same rate of attestation misses on validators with the same message.

I don't think I was clear about this in my original bug report, but whenever the validator misses, it misses for all attestations in that slot.

[2020-12-17 16:59] #8091 closed

[2020-12-17 18:49] #8115 closed

[2020-12-17 19:35] yv989c opened #8152 "Beacon node DB backup not working after first successful backup (Windows 10)"
# 🐞 Bug Report

### Description

After properly setting up the beacon node startup parameters to enable database backups, I'm able to perform an initial backup if the target backup folder does not exist, after it's created then subsequent backup attempts will fail with the following error:
`Failed to create backup error=dir already exists without proper 0700 permissions`

My startup script:
`prysm

[2020-12-18 11:59] Buttaa opened #8154 "Prysm API returns slashing rewards and block rewards in different epochs"
# 🐞 Bug Report

### Description

The issue seems to be that even though slashings are included in a block, that the Prysm api returns the rewards for slashings in the next epoch and for block rewards after two.
Which is why the rewards in 3690 are +0.06256 ETH (slashing) and 3691 +0.00214 ETH (block proposal). It should however be +0,06470 ETH in Epoch 3690 (block+slashing)

https://mainnet.beacon

[2020-12-18 13:14] blazejkrzak opened #8157 "SSZ marshalling and unmarshalling codestyle improvement"
# 🚀 Feature Request

### Description
Currently ssz serialization and deserialization is written in very unclear way.
Lets assume this code below:
[code]

Ranges of buf bytes `[0:4]` `[4:132]` and so on are hardcoded and points for no clear answer if `[4:132`] or `[4:133]` is a proper one. Even though it is compatible with ssz structure it is nowhere near the go possibility to annotate strutcs.

##

[2020-12-18 18:03] #7984 closed

[2020-12-18 18:52] achimachim commented on #7898
Hello samjessup ..i am having this problem right now too. Did you find a way how to solve it?

[2020-12-18 22:22] #8108 closed

[2020-12-18 22:59] sriney-staked commented on #8066
I want to pile on with another thing, but maybe need to file a separate bug/issue.

When an aggregation (not just attestation) is done with two or more keys, we observe sometimes that the inclusion distance is very high (20+).  Seems to also only happen in bigger > 100 validator wallets.+

[2020-12-19 07:15] achimachim commented on #7898
@ Alec Francis ..https://github.com/prysmaticlabs/prysm/issues/7898#issuecomment-735314390 ..im having the same problem. Did you find a solution?

[2020-12-19 08:10] alec-francis commented on #7898
I actually switched to Ubuntu Server. It's much more practical than Windows for running a resilient node. Since I switched everything has been great.

[2020-12-19 08:24] achimachim commented on #7898
https://github.com/prysmaticlabs/prysm/issues/7898#issuecomment-748439227 ..but do you know whether there would be a solution to continue with windows? ..i dont want to change actually, its all setup now with windows..