[2020-05-02 21:27] Pacittos opened #5718 "Show notification or warning when user is offline when starting beacon chain/ validator"
# 🚀 Feature Request

### Description

In case there is no available internet connection, the command "./prysm.sh beacon-chain" or "./prysm.sh validator" immediately returns and doesn't show any output/ error message. Tested in Ubuntu 18.04.4.

### Describe the solution you'd like

Would it be possible/ desirable to get a notification or warning when no internet connection is available, when starti

[2020-05-02 21:50] Pacittos opened #5719 ""./prysm.sh beacon-chain" command freezes in case beacon chain is already running and internet connection is unavailable"
# 🐞 Bug Report

### Description

In case a user has a beacon-chain running, and tries to start a second beacon chain it should fail with the following output:
`ERROR main: cannot obtain database lock, database may be in use by another process. `
However, when a user has the first beacon chain running, then loses internet connection, and tries to start a beacon chain in a new terminal (maybe the us

[2020-05-03 07:59] wimel commented on #5700
Hi!! sorry for delay and thanks. Yes I use the default path (add image to check).
With the latest release I don't have any problems, _at the moment_ :1st_place_medal:
![prysm](https://user-images.githubusercontent.com/17170149/80908982-a3859080-8d24-11ea-8ce9-28cb8a1bee47.png)

[2020-05-03 08:36] farazdagi commented on #5700
Ok, thank you! Closing the issue, as it it works for you now.

[2020-05-03 08:40] wimel commented on #5700
After the upgrade some errors appear, the node don't stop for this error, just add more info in case it help you
[code]

[2020-05-03 09:49] wimel commented on #5700
Hi @farazdagi another error, and node crash and stop. Do you think is good to open another ISSUE?

[This](https://pastebin.com/rCG02rAh) is the output

[2020-05-03 10:24] farazdagi commented on #5700
Re-openning for investigation:
- the first issue with inability to connect to ETH1 chain
- for the second issue @wimel it seems that error out put is trimmed (missing head section with error), if it (or another issue) reappears - please feel free to post a comment.

[2020-05-03 15:41] Phistr90 commented on #5665
It keeps getting worse. Now also my validators on my Intel Nuc are mostly (about 70%, validators changing) voting on incorrect heads. Internet connection is my stable and high bandwidth. Was perfectly fine on my Intel nuc for the first 1.5 weeks.

[2020-05-03 16:15] terencechain commented on #5665
@Phistr90 the issue here is not from your node, it's rest of the nodes your node peered with.

What do you see with the following metric?

[2020-05-03 16:32] Phistr90 commented on #5665
@terencechain Which metric?

[2020-05-03 16:38] terencechain commented on #5665
block_arrival_latency_milliseconds histogram

Reference: https://github.com/prysmaticlabs/prysm/pull/5708

[2020-05-03 17:04] Phistr90 commented on #5665
`# HELP block_arrival_latency_milliseconds Captures blocks propagation time. Blocks arrival in milliseconds distribution
# TYPE block_arrival_latency_milliseconds histogram
block_arrival_latency_milliseconds_bucket{le="1000"} 0
block_arrival_latency_milliseconds_bucket{le="2000"} 2
block_arrival_latency_milliseconds_bucket{le="3000"} 34
block_arrival_latency_milliseconds_bucket{le="4000"} 47
block

[2020-05-03 17:37] terencechain commented on #5665
A lot of late blocks indeed.  10% of my blocks are 4s+ and I considered that to be bad. Preston's 4s+ blocks is 5% and his internet is much faster than mine. @Phistr90 can you open a feature request for 'number of hops'?

I'm going to close this issue and open subsequent issues to track late blocks.

What we learned from this issue:
1.) In prysm, when a validator misses a vote on "head" it's solel

[2020-05-03 17:37] #5665 closed

[2020-05-03 17:49] GuillaumeMiralles opened #5720 "Validator status DEPOSITED never returned to Prometheus metrics"
# 🐞 Bug Report

### Description

When adding a new validator key to my validator client, I was expecting my grafana dashboard to update my validator status from 0 (UNKNOWN) to 1 (DEPOSITED), then 2 (PENDING)

## 🔬 Minimal Reproduction

Create a new validator key pair, make deposit, and check for the validator client metrics to see that the value 1 (DEPOSITED) will never be returned

## 🔥 Error

Th

[2020-05-03 17:57] Phistr90 opened #5721 "Collect block propagation information - 'number of hops'"
🚀 Feature Request

### Description

As seen in #5665 getting blocks late can lead to an increase in incorrect head voting.
In order to understand the root cause of late blocks and high propagation times better it might be helpful to get some data on how many hops were done in order to get the block from a peer.

But please note: This feature should be for debugging purposes only and should be remo

[2020-05-03 18:58] 0xKiwi commented on #5659
Can we also look into making deposit data reproducible? Currently it's just made once, and pretty much unretrievable since theres no way to connect withdrawal keys with the relevant sharding keys.

[2020-05-04 10:00] wgknowles opened #5729 "Console log: "Enter this raw deposit TX data into step 3 on the prylabs.net/participate page""
# 🚀 Feature Request

Lots of new users aren't taking the raw deposit TX data and submitting it via the the prylabs.net/participate page.  The UX could be improved by adding instructions in the form of a console message accompanying the TX data.

 If you have a solution in mind, please describe it.

The end of "validator accounts generate should look like this:

[code]

[2020-05-04 10:49] xrow opened #5731 "Failed to propose block"
#4918 🐞 Bug Report

### Description

I saw a missed blocks of my validators. If I look in the logs I see this message:

### Has this worked before in a previous version?

It might have been around for a while.

## 🔬 Minimal Reproduction

I just wait for a missed proposed block.

## 🔥 Error

<pre><code>
time="2020-05-03 20:14:24" level=info msg="Previous epoch aggregated voting summary" attestation

[2020-05-04 12:05] xrow commented on #5731
Here is a list of my validators https://beaconcha.in/dashboard?validators=17311,17343,17350,17351,17352,23859

they all seem to suffer that problem in a way.

[2020-05-04 12:51] tsudmi commented on #4923
Hi @0xKiwi ,

Yes, I can still catch the error:
[code]
It prints:
[code]
Commit: `af5b92`

[2020-05-04 14:52] 0xKiwi commented on #5731
Wow, @xrow. You're not running a slasher? This was from validators connected to your beacon node?

[2020-05-04 15:19] xrow commented on #5731
This was a log from a validator. A slasher was also there.

[2020-05-04 15:29] farazdagi commented on #5700
- The ETH1 connectivity issue is due to our ETH1 nodes being overloaded with requests i.e. there's no issues in code, you just need to point to good running/non-overloaded ETH1 nodes (infura or local `geth`) by specifying the `http-web3provider` and `web3provider` flags. It needs to be properly documented though.
- When it comes to the second issue, @wimel when/if it re-occurs, please, create anot

[2020-05-04 15:29] #5700 closed

[2020-05-04 15:39] xrow commented on #5132
Hi,

I wanted to report I am running now this model and didn`t notice any issues.
[code]

[2020-05-04 15:42] shayzluf commented on #5729
@har00ga please reassign to me if you find the assignment inappropriate

[2020-05-04 15:45] shayzluf commented on #5720
@0xKiwi please reassign to me if you find the assignment inappropriate

[2020-05-04 15:58] shayzluf commented on #5719
tried to reproduce process wasn't seem to get stuck but no error message was received

[2020-05-04 16:02] shayzluf commented on #5719
Duplicate of #5718

[2020-05-04 16:04] shayzluf commented on #5719
@Pacittos closing this in favour of #5718

[2020-05-04 16:04] #5719 closed

[2020-05-04 16:08] shayzluf commented on #5715
@0xKiwi please reassign to me if you find the assignment inappropriate

[2020-05-04 16:14] shayzluf commented on #5682
@nisdas seems like this change will not be specific but will reflect in all cases .
spec is going to change if i understand right so i am adding blocked label to the issue . please remove if its not blocked by spec update.
can you please update the issue to description?

[2020-05-04 16:18] nisdas commented on #5682
This doesn't really have anything to do with the spec. Its just a matter of keeping the ENR fixed upon initalization, not accounting for any additional information added to it.

[2020-05-04 16:19] shayzluf commented on #5663
@har00ga please reassign to me if you find the assignment inappropriate

[2020-05-04 16:20] shayzluf commented on #5682
@nisdas thanks

[2020-05-04 16:23] xrow commented on #5132
This is the overall picture. Please send in corrections.

![Overview](https://user-images.githubusercontent.com/295491/80988842-5c86c080-8e34-11ea-853b-d310e2a96d62.png)

[2020-05-04 16:38] shayzluf opened #5733 "Enable running prysm.sh validator accounts keys without providing password"
#🚀 Feature Request

### Description

`./prysm.sh validator accounts keys --keystore-path ~/validator` should support printout of keys without providing password on the terminal

### Describe the solution you'd like

would like to copy the behaviour of running the command with wrong password to running the command with no password

[2020-05-04 16:39] shayzluf commented on #5733
please reassign to me if you think the assignment is inappropriate

[2020-05-04 16:40] shayzluf commented on #5483
@wgknowles opened #5733 to solve this issue . thanks for reporting it

[2020-05-04 16:40] nisdas commented on #5733
Any reason this can't come under #5659 ?

[2020-05-04 16:55] shayzluf commented on #5733
Duplicate of #5659
thanks @nisdas for pointing it out

[2020-05-04 16:55] #5733 closed

[2020-05-04 18:13] wgknowles commented on #5716
Report is on behalf of another user:
Crypto_Thoughts05/03/2020
Hi! I ran into a bug that could prevent some users from being able to create accounts on Windows 10. My User has a space in its name. For some reason this causes the create accounts script throw an error. I was getting "Permission Denied" from my command prompt. I then created a new user that did not contain a space. I re-cloned the re

[2020-05-04 18:15] wgknowles commented on #5716
C:\Prysm\prysm>prysm.bat validator accounts create --keystore="C:\Prysm\validator folder"
A subdirectory or file C:\Prysm\prysm\dist already exists.
Latest prysm release is v1.0.0-alpha.6.
Using prysm version v1.0.0-alpha.6.
'Validator' is not recognized as an internal or external command,
operable program or batch file.
WARN GPG verification is not natively available on Windows.
WARN Skipping int

[2020-05-04 18:17] wgknowles commented on #5716
prysm.bat validator accounts create --keystore-path="C:\Prysm\validator folder"

Above command works fine.

[2020-05-04 18:19] wgknowles commented on #5716
Perhaps user error?

[2020-05-04 18:20] wgknowles commented on #5716
pragmatics05/03/2020
Thanks for the report.  did you happen to specify a --keystore path explicitly?
Crypto_Thoughts05/03/2020
No I did not

[2020-05-04 18:21] wgknowles commented on #5716
duplicate of #5538

[2020-05-04 18:24] prestonvanloon commented on #5731
Can we validate slashing objects before adding them to a block?

[2020-05-04 18:30] prestonvanloon commented on #5663
We can enhance our documentation to recommend the p2p-host-ip, but peers will still advertise their internal IPs too.

We have `--p2p-whitelist` flag, we could add a `--p2p-blacklist` flag as well.

[2020-05-04 18:33] prestonvanloon commented on #5132
@xrow that is server side load balancing. L4 / L7 load balancing would work well for power users, but having a client side load balancer where the validator could failover to a beacon chain node running in an entirely different data center or region would be ideal for many use cases.

[2020-05-04 18:46] prestonvanloon commented on #5721
I don't think this is going to be possible with the current networking protocol. We don't have any mechanism to transmit additional metadata with pubsub objects as far as i know

[2020-05-04 18:48] prestonvanloon commented on #5716
Closing as duplicate of  #5538

[2020-05-04 18:56] ncsolar opened #5735 "Slasher: PROCESS can be beacon-chain or validator."
# 🐞 Bug Report

### Description

When I try the command ./prysm.sh slasher i get errors

### Has this worked before in a previous version?

Yes, the previous version in which this bug was not present was

## 🔬 Minimal Reproduction

When i run the command ./prysm.sh slasher

## 🔥 Error

<pre><code>
Latest Prysm version is v1.0.0-alpha.6.
Beacon chain is up to date.
Validator is up to date.
Usage: .

[2020-05-04 19:03] terencechain opened #5736 "Use cached check point state to validate att in sync"
# 🚀 Feature Request

### Description

As we can see from the following flame. Majority of the flame is occupied by head  state copy used to validate aggregated attestation in sync pipe line.

<img width="1978" alt="Screen Shot 2020-05-04 at 8 39 14 AM" src="https://user-images.githubusercontent.com/21316537/81003142-3b57ad00-8dff-11ea-9973-1f1965bc467c.png">

The node shouldn't have to use head st

[2020-05-04 19:04] terencechain commented on #5736
Marking this as high. My node is at 2GB today because of that. Will work on this today

[2020-05-04 19:09] xrow commented on #5132
I was thinking about moving the validators to a different datacenter if a datacenter has downtime. Though it needs some kind of election of a leader if validators pop up somewhere else. Usually the network is down in those failure events so there is no route to connect to a failover beacon node. Client side loadbalacing is still a great choise, but can`t garantee 100% uptime of the validator. So i

[2020-05-04 19:14] Phistr90 commented on #5721
@prestonvanloon doesnt libp2p pubsub supports tracing? I might misunderstand that feature.

[2020-05-04 20:25] ncsolar commented on #5735
Update the error went away after deleting slasher.db

[2020-05-04 23:48] #5736 closed

[2020-05-05 00:46] nisdas commented on #5663
Just to clarify this isn't a documentation issue @shayzluf , its more of an issue with kad-dht and libp2p.

https://github.com/ipfs/go-ipfs/issues/6932
https://github.com/ipfs/go-ipfs/issues/1226
https://github.com/libp2p/go-libp2p/issues/436

@prestonvanloon , that makes sense. I think as a short-term solution we can add a `--p2p-blacklist` for now, and restrict any outbound dials to private IPs

[2020-05-05 03:03] metanull-operator commented on #5390
Update after upgrading to v1.0.0-alpha.6, memory consumption looks more reasonably now, but I will continue to monitor.

![image](https://user-images.githubusercontent.com/54516310/81031778-a8446480-8e4a-11ea-84ff-174ddc2db092.png)

[2020-05-05 03:50] nisdas opened #5740 "Status Handler Returns Error"
# 🐞 Bug Report

### Description

Currently in the event we receive a status request from a peer on a different fork digest, we mark
the request as an invalid , send an error to the peer and disconnecting with them. While disconnecting with them is correct, sending an error to them is not. We should instead be sending them back our status,a goodbye message and then disconnecting with them.

### Has

[2020-05-05 04:01] nisdas opened #5741 "Nodes Send Status Requests for Inbound Dials"
🐞 Bug Report

### Description

Currently Prysm nodes send status requests irregardless whether the connection is inbound/outbound.

### Has this worked before in a previous version?

## 🔬 Minimal Reproduction

Peer a prysm node with any other node, no matter which is the initiating dialer, the prysm node
will send in a status request. This is incorrect according to the networking spec, as only the

[2020-05-05 09:01] GuillaumeMiralles opened #5746 "Metrics: validator balance returned as 0 on activated validator when node restart"
# 💎 Issue

### Background

I am trying to create a grafana dashboard that everybody could use. There is only one thing that bothers me actually in the metrics returned to Prometheus, is that when the node restart while the validator client is still running, all the validators have their balance set to 0

### Description
Run the node, run the validator client. Then after a while restart the node. C

[2020-05-05 12:04] farazdagi commented on #5735
I suppose the issue is not that much with `slasher.db` but with incorrect argument (type, prbly?) passed to process. If you type `./prysm.sh foo-bar` you will get the error. #5747 should fix the issue or properly reporting when invalid process name is provided.

[2020-05-05 13:23] #5735 closed

[2020-05-05 15:33] handelaar2 opened #5748 "Version not always shown"
# 🐞 Bug Report

 A clear and concise description of the problem...

When running the --version command from the bazel binary, the git version is not always shown. Instead it shows: {STABLE_GIT_COMMIT}

## 🔬 Minimal Reproduction

cd $HOME
$HOME/prysm/bazel-bin/beacon-chain/linux_amd64_stripped/beacon-chain --version
(not working)

cd ./prysm
$HOME/prysm/bazel-bin/beacon-chain/linux_amd64_stripped/b

[2020-05-05 15:59] prestonvanloon commented on #5748
If you build with the release configuration, the git commit is stamped within the binary `--config=release`

[2020-05-05 16:01] alonmuroch commented on #5638
@Phistr90 as I understand most of the db usage for the validator is slashing protection isn't it?

[2020-05-05 16:25] handelaar2 commented on #5748
That worked:
bazel build --config=release //beacon-chain:beacon-chain
bazel build --config=release //validator:validator

$`curl -s  http://localhost:4001/eth/v1alpha1/node/version | python -m json.tool`
{
    "metadata": "",
    "version": "Prysm/Git commit: 4cc7f171f9d08a3f05951d20877f0f6ead444970. Built at: 2020-05-05 16:08:57+00:00"
}

Thanks.

[2020-05-05 16:25] #5748 closed

[2020-05-05 18:58] 0xKiwi opened #5749 "Test EnterPassword function in shared/cmd"
This is a tracking issue for adding a test for the `EnterPassword`. This function uses `terminal.ReadPassword` which obfuscates the text entered, making it difficult to properly test.

[This guide](https://petersouter.xyz/testing-and-mocking-stdin-in-golang/) may be of assistance.

[2020-05-05 19:26] #5696 closed

[2020-05-05 20:10] terencechain commented on #5655
This can be closed. Can you take a look at the networking change @nisdas before we close this? I think it's all done there's no action from our end

[2020-05-05 20:48] #5530 closed

[2020-05-05 22:16] terencechain opened #5752 "End point /eth/v1alpha1/beacon/state broken with max size"
# 🐞 Bug Report

### Description
The debug RPC endpoint `/eth/v1alpha1/beacon/state` is currently broken due to a beacon state object exceeds default client dialing max send message size at 4MB.

`
~ $ curl -s -X GET "localhost:6000/eth/v1alpha1/beacon/state?slot=819" -H "accept: application/json"
`

`
{"error":"grpc: received message larger than max (5154533 vs. 4194304)","code":8,"message":"grpc:

[2020-05-05 22:18] terencechain opened #5753 "Endpoint /eth/v1alpha1/beacon/state does not address future slot request"
# 🐞 Bug Report

### Description

The debug end point `/eth/v1alpha1/beacon/state` does not account for fault case where request slot exceeds current slot:
`
{"error":"could not compute state by slot: could not process slot: unknown state","code":13,"message":"could not compute state by slot: could not process slot: unknown state","details":[]}
`

[2020-05-05 22:24] prestonvanloon commented on #5753
What is the expected result? Shouldn't we reject requests for slots from the future?

[2020-05-05 22:27] terencechain opened #5754 "Stategen in cold is broken with `could not get one block root to get state`"
# 🐞 Bug Report

### Description
Stategen is the cold section is currently broken with the following error:

{"error":"could not compute state by slot: could not get last valid state: could not get one block root to get state","code":13,"message":"could not compute state by slot: could not get last valid state: could not get one block root to get state","details":[]}⏎

[2020-05-05 22:29] terencechain commented on #5753
Correct. The expected result:
[code]

[2020-05-06 01:42] #5753 closed

[2020-05-06 02:14] lsankar4033 commented on #4814
I've been a little underwater with other things and haven't had time to resolve this. If it's pressing, feel free to re-assign!

[2020-05-06 09:46] q9f opened #5763 "ERROR sync: Failed to set stream deadline error=stream closed"
# 🐞 Bug Report

### Description
A Prysm Node connected to the Schlesi network throws a lot of sync errors about `stream closed` and `cannot write to closed stream`.

### Has this worked before in a previous version?
This didn't happen previously. So it's either a newly introduced issue or _maybe_ some issue with new clients joining the testnet.

## 🔬 Minimal Reproduction
Connect a Prysm node from

[2020-05-06 10:31] rkapka commented on #5390
I just wanted to confirm the issue. I tried to sync the blockchain on Windows 10 and the process has consumed over 5GB of ram at around 50000 blocks. I used the `--enable-state-ref-copy` flag. Without the flag it got to 4.5GB at around 30000 blocks.

[2020-05-06 15:06] #5655 closed

[2020-05-06 15:16] nisdas commented on #5655
There was actually one more change left to do, sorry I missed your comment @terencechain . I am opening a PR for it now

[2020-05-06 16:44] timmyers opened #5768 "alpine images are not yet functional"
# 🐞 Bug Report

### Description

`*-alpine` tag images are not yet functional, with error `libstdc++.so.6: cannot open shared object file: No such file or directory`

### Has this worked before in a previous version?

No

## 🔬 Minimal Reproduction

[code]

## 🔥 Error

See above

## 🌍  Your Environment

Any docker environment.

[2020-05-06 18:14] xrow commented on #5763
I found similar issues in my log

[code]

[2020-05-06 19:03] pagocs opened #5769 "ARM64 docker image not supported"
# 🚀 Feature Request

### Description

 I would like to test the beacon chain and the validator node on RPI 4 in docker but I cannot find compatible ARM64 image.

### Describe the solution you'd like

 Will this be supported or someone could help me how I could be built myself?

[2020-05-06 19:15] #5306 closed

[2020-05-06 20:25] #5754 closed

[2020-05-06 21:01] #5752 closed

[2020-05-06 23:50] #5715 closed

[2020-05-07 00:04] xrow commented on #5483
Ok one enchantment I did so far was the wallet or keystore is now on a in memory disk during runtime. That makes me feel safer. Still I want to split the things apart as much as possible.

I was now somehow thinking I should create a one time password throw it away after the thing starts. The question is how.

[2020-05-07 00:06] xrow commented on #5483
Maybe this will do `--password=$(cat /data/passwordfile; rm -Rf /data/passwordfile;)`

[2020-05-07 01:27] mshean opened #5771 "beacon-chain memory leak alpha-6"
# 🐞 Bug Report

### Description

 alpha-6 beacon-chain contains a memory leak

### Has this worked before in a previous version?

 alpha-5 memory leak was not nearly as bad, it would usually take a few days to reach 75% memory usage (on 4GB Raspberry Pi)

## 🔬 Minimal Reproduction

Run alpha-6 arm64 beacon-chain and observe memory usage over time.

## 🔥 Error

<pre><code>

</code></pre>

## 🌍  You

[2020-05-07 05:00] jgresham commented on #5649
Similar issue on raspi4, ubuntu 19 arm64, on prysm testnet

[code]

[2020-05-07 13:42] rkapka commented on #5526
Hi!

I would like to be assigned to this issue if that's OK. Should this feature include a test?

[2020-05-07 15:05] terencechain commented on #5771
@mshean to confirm this is not during initial syncing right?

[2020-05-07 17:11] prestonvanloon commented on #5768
Related: https://github.com/Docker-Hub-frolvlad/docker-alpine-glibc/issues/17

[2020-05-07 18:35] prestonvanloon commented on #5771
@terencechain From user reports in the discord, this is after initial sync. Usually in the time range of 12 to 24 hours before it reaches a critical threshold.

[2020-05-07 19:52] terencechain commented on #5771
@prestonvanloon Got it. One thing I thought of, alpha.6 does not have the following fix:
https://github.com/prysmaticlabs/prysm/pull/5737

This was the main memory problem for me post initial sync, it reduces one state copy for every incoming `beacon_aggregated_and_proof` object

Let's release alpha.7 soon

[2020-05-07 22:08] har00ga commented on #5729
@shayzluf That step is described in [this part of the validator activation pages](https://docs.prylabs.network/docs/install/lin/activating-a-validator/#step-3b-submitting-the-deposit-data), I think the issue is with people that're simply following the steps on prylabs.net  sans documentation. The prylabs page could probably use a more concise note about this step which I'm happy to change, and als

[2020-05-08 04:27] 0xKiwi opened #5779 "AppendValidator recreates full validator set index map on every usage"
To add more validators to the state, we use [AppendValidator](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/state/setters.go#L672) which recreates the `valIndexMap` for the entire validator set each time it is used.

This is incredibly expensive during genesis state creation, and gets more expensive as more validators are added.

[2020-05-08 05:51] #5189 closed

[2020-05-08 07:57] nisdas commented on #5779
#5780 will help with this, by reducing the amount of time on map copies. However due to us having no way of tracking the map, our ability to reduce the amount map copies here is limited.

If we do need to improve it further we can track references to the map between all the states which share it like our other fields in the state. However that would be more involved to do and would clash with how

[2020-05-08 08:56] nisdas commented on #5176
Before going forward with this we will need the ability to verify multiple signatures quickly:
https://ethresear.ch/t/fast-verification-of-multiple-bls-signatures/5407/7

Enabling will cause a large degradation in performance, with sync speeds dropping by 95%.

[2020-05-08 09:16] rkapka commented on #5638
Hi!

I would like to work on this issue. I have already discussed this on Discord and got a green light.

[2020-05-08 12:28] Buttaa opened #5781 "Ability to sync an ETH1 Node with Prysm.sh"
In order to provide a more realistic mainnet scenario user's should run their own ETH1 Node.

A feature to sync one with `Prysm.sh eth1node ` would be great.

It might have some security risks because for testing we'll be on Görli and won't be syncing the mainnet to test, but it would be a great feature in the long run anyway.

[2020-05-08 14:04] #5720 closed

[2020-05-08 15:26] terencechain opened #5783 "Improve blockchain package test coverage"
# 💎 Issue

### Background

After studying codecov, it turns `onBlock` and `onBlockInitialSyncStateTransition` dont have good test coverages. Part of the reason is these functions are really hard to test without proper mocking of state transition. Open this issue to track for better coverage of those 2 functions. We can begin to think about how to properly mock state transition

EDIT:
Improve test

[2020-05-08 18:03] ShawkiS commented on #5647
Hi @prestonvanloon, I'll work on it

[2020-05-09 00:26] prestonvanloon commented on #5647
Please finish your other assigned issues before picking up another one. #5450 #5439

[2020-05-09 05:51] ShawkiS commented on #5647
Okay, I'll finish them asap

[2020-05-09 09:54] Buttaa opened #5793 "Req: Flag to start Slasher from a custom epoch"

[2020-05-09 13:11] criticaltv commented on #5310
Hey @SuburbanDad I'm ready to test on `armv6l` architecture...

[2020-05-09 15:18] wgknowles commented on #5659
reated prysmaticlabs/documentation#95 to consistently use default paths and stop recommending putting cleartext passwords in a json file.

[2020-05-09 19:49] prestonvanloon commented on #5746
I don't think this is an API issue, but a metrics reporting issue in the validator client. If the validator balance is unknown, it should not be updated as zero.

[2020-05-09 19:54] prestonvanloon commented on #5768
User reported alpine images are still not functional.

[2020-05-09 20:02] prestonvanloon commented on #5769
There is no current plan to support ARM64 based docker images.

I haven't tested this idea, but here's a thought that might be a good starting point for you to experiment. On an ARM device, build a docker image with a Dockerfile that looks something like this

[code]

[2020-05-09 20:11] #5572 closed

[2020-05-09 20:21] terencechain commented on #5746
The core problem here is why the validator client is requesting beacon node for blocks and attestations when it knows the beacon node is not yet at head. See you have errors:
[code]

Validator should be blocking like this:
[code]

[2020-05-09 20:33] prestonvanloon commented on #5746
I disagree. Look at this bit of code
https://github.com/prysmaticlabs/prysm/blob/cf98de86f43d4a82b31ba3e3b5ba605f61a6d613/validator/client/validator_metrics.go#L69-L75

This should be using DeleteLabelValues(fmtKey) instead of setting it to 0.

[2020-05-09 20:38] prestonvanloon commented on #5638
@rkapka can you link to the discord conversation here please?

[2020-05-09 20:43] terencechain commented on #5746
No. These are not missing validators. They are active validators.

Ok I found a way to reproduce this. @GuillaumeMiralles didn't post the instructions but i found a way to reproduce it.

Typically:
1.) Node starts
2.) Validator starts
3.) Validator blocks until node syncs to head. In this case validators balances will just be unknown

In @GuillaumeMiralles case:
1.) Node and validator are in sync

[2020-05-09 21:01] prestonvanloon commented on #5746
So the API is reporting 0? What does the response look like?

[2020-05-09 21:12] prestonvanloon commented on #5746
When I try to access a validator by index that doesn't exist yet because my node hasn't synced fully, this is what I get
[code]

Interestingly, when I try to request by public keys when the node is still syncing, I get a default response of the first 250 validators which would trigger that "missing validator" code path.

I don't think the root of the problem here is necessarily the API. While we s

[2020-05-09 21:28] terencechain commented on #5746
Yeah. I think theres two issues here.
1.) Validator local metrics need better interpretation on what `0` means
2.) Beacon node needs to return `Unavailable` for performance request when it's syncing.
See https://github.com/prysmaticlabs/prysm/pull/5795

[2020-05-09 21:54] prestonvanloon opened #5796 "High rate of Goodbye logs / messages"
# 🐞 Bug Report

### Description

@protolambda observed a high rate of Goodbye message logs at debug level https://github.com/prysmaticlabs/prysm/pull/5589#issuecomment-626233150

Based on my observations, it looks like we might be sending multiple goodbye messages per peer.

![Screenshot from 2020-05-09 14-42-36](https://user-images.githubusercontent.com/7246818/81485789-b1e01a80-9204-11ea-9176-3a

[2020-05-09 21:56] protolambda commented on #5796
Copying relevant Discord conversation:
[code]

[2020-05-09 23:45] wgknowles opened #5797 "Check OS / pre-req's and fail fast if not met"
# 🚀 Feature Request

### Description

A lot of time and hassle is spent troubleshooting issues that boil down to not running on supported operating systems, or not having the necessary pre-requisites (e.g. Homebrew on macOS).  It may be helpful to add in a check for this info by default, and then to introduce a new flag to bypass the check for people who are tinkering with unsupported configuratio

[2020-05-10 10:07] rkapka commented on #5638
Certainly.

https://discordapp.com/channels/476244492043812875/667763844365680650/708239399048970301

[2020-05-10 11:11] wgknowles commented on #5533
Followed same steps, got a different result:
[code]

[2020-05-10 22:07] prestonvanloon opened #5801 "eth.v1alpha1.BeaconNodeValidator.GetBlock reconstructs depositTrie on request (500ms)"
https://github.com/prysmaticlabs/prysm/blob/87e0fe59283989cbe63796d72613a882a4f9504b/beacon-chain/rpc/validator/proposer.go#L293-L317

This method appears to be taking about 500ms of the critical path of block production. There are a few things we should fix here:

- Determining the DepositTrie is only necessary when there are pending deposits for inclusion. We're currently calculating it for ever

[2020-05-11 00:17] terencechain opened #5804 "Reduce `SubmitAggregateSelectionProof` state copies"
# 🚀 Feature Request

For `SubmitAggregateSelectionProof` there's 3 state copy underneath. Let's reduce that to 1

![Screen Shot 2020-05-10 at 5 15 36 PM](https://user-images.githubusercontent.com/21316537/81514143-3a80b880-92e2-11ea-98b9-13152a525243.png)

[2020-05-11 03:02] shayzluf opened #5806 "Protecting key manager"
# 🚀 Feature

### Description

Validators are not sufficiently slashing protected using the current local db validator protection mechanism. Connecting the validator to a slasher instance and validating its blocks and attestation before transmission will enable much more secure validation activity.

The other option that this feature possibly enables is running a redundant validator at a different

[2020-05-11 03:58] shayzluf opened #5808 "Beacon node fails to stop on ^C interrupt"
# 🐞 Bug Report

### Description

After running beacon node for several hours and trying to stop it using ^C it fails to stop

example output:

### Has this worked before in a previous version?

have encountered it on several occasions before.

## 🔬 Minimal Reproduction

trying to reproduce now. will add details if i successfully reproduce easily

## 🌍  Your Environment

**Operating System:**
    o

[2020-05-11 04:29] #5741 closed

[2020-05-11 04:38] shayzluf commented on #5031
just created a pr that seems to resolve it @rauljordan please take a look

[2020-05-11 11:46] GottliebFreudenreich commented on #5436
I had the same problem when starting the systemctl prysm-validator via the prysm-validator.conf on a Ubuntu20.04 RaspPi4.. Adding additional quotation marks like
`ARGS="--keymanager=keystore "--keymanageropts=\'\{\"path\":\"/home/ethereum/.eth2validators\",\"passphrase\":\"changeme\"\}\'""`
fixed the problem for me

[2020-05-11 12:48] rkapka commented on #5638
I have some doubts about how the merging part should be implemented.

1. This issue's description makes a distinction between `merge(db_1, db_2)` and `import([Val_1,..,Val_k], db_2)`. To me this means that merging should create a completely new database. If this is the case, then should the following function be used?
https://github.com/prysmaticlabs/prysm/blob/42278359d99dc30492c37013dbd9161dbc84

[2020-05-11 14:59] terencechain commented on #5804
The resident memory is slowly growing from 1.2GB to 2.4GB without restarting beacon node for 3 days due to this. I'll spend sometime on it today

[2020-05-11 15:12] terencechain opened #5812 "Slasher kills beacon node: dropping peers"
# 🐞 Bug Report

### Description

It has been reported by a few users (ex: `Haxington`) that slasher kills beacon node with attached validators. Opening up this issue for tracking.

Chat link for reference: https://discordapp.com/channels/476244492043812875/476588476393848832/708479430565167105

[2020-05-11 16:21] #5804 closed

[2020-05-11 18:04] rkapka commented on #5638
After some discussion with @rauljordan on Discord (the relevant stuff starts here: https://discordapp.com/channels/476244492043812875/667763844365680650/709444111224143914) the current way to implement this feature is over several PRs:

- [ ] Merge keys
- [ ] Merge databases
- [ ] Split/Import (may be broken into several PRs in the future)

**My idea on how to merge keys**
The users provides a com

[2020-05-11 19:53] rauljordan commented on #5771
Resolved by #5737 unless it pops up again

[2020-05-11 19:53] #5771 closed

[2020-05-11 20:28] 0xKiwi commented on #5796
Update on this @nisdas ? Has the issue been solved with #5799?

[2020-05-11 20:29] 0xKiwi commented on #5793
This is a good idea @Buttaa ! The slasher now has `--disable-historical-detection` if you wish to disregard prior history. Historical detection still relies on `--new-state-mgmt` though.

[2020-05-11 20:31] 0xKiwi commented on #5781
This might be difficult consider it would be providing access to a release that we don't manage, @prestonvanloon what is your opinion on adding this?

[2020-05-11 20:34] prestonvanloon commented on #5796
I think this was fixed with #5799, github just didn't pick up on the "fixes" keyword with two issues listed.

[2020-05-11 20:34] #5796 closed

[2020-05-11 20:38] prestonvanloon commented on #5781
This seems OK to add, but it makes some assumptions about which eth1node the user wishes to use.

[2020-05-11 21:08] 0xKiwi commented on #5763
Thanks for reporting @q9f ! Maybe @farazdagi or @nisdas can look into these errors?

[2020-05-11 21:14] 0xKiwi commented on #5801
How should caching this be handled? Maybe expanding upon `DepositFetcher` to be more aware of the deposit trie?

[2020-05-11 21:22] prestonvanloon commented on #5801
With the second and third point together, we wouldn't need to recompute the deposit trie again since the canonical eth1 block changes about once per voting period (1024 slots), so this would be an ideal candidate for caching the latest 2 or 3 values.

[2020-05-11 21:24] wgknowles commented on #5638
Conversation about merging db's starts here: https://discord.com/channels/476244492043812875/476588476393848832/704163563635212330

[2020-05-11 21:28] 0xKiwi commented on #5797
@prestonvanloon any ideas on how this could be done? How would this work for docker users?

What conditions should we considered required by the client?

[2020-05-11 21:31] prestonvanloon commented on #5797
Supported OS / architectures are:
- Linux AMD64
- Linux ARM64
- Mac OS X AMD64 (OS X 10.14+ only)
- Windows AMD64

The idea would be to complain if the host is not one of those things.

[2020-05-11 23:03] rauljordan opened #5816 "Allow for Short Slot Duration Chain Runs"
# 💎 Issue

### Background

Currently, we do not allow for short slot duration testnets due to some bad math in our beacon nodes. The lowest we can go is 4 seconds per slot as we have some logic scattered throughout that performs operations twice or four times per slot, and if we divide uint64(1) / 4 currently, we will not obtain the same result.

### Description

A PR to resolve this issue will fi

[2020-05-11 23:50] connorwstein commented on #5749
Hey @0xKiwi I can take a look at this as a first time issue. I think the approach I would take is to follow the article more or less, change the signature to:

func EnterPassword(confirmPassword bool, pr PasswordReader) (string, error)

where PasswordReader is an interface which we can gomock and we'd have an implementation of it which reads from stdin which we pass in for the 2 uses in account.go

[2020-05-12 00:01] 0xKiwi commented on #5749
Makes great sense @connorwstein , your help would be very appreciated! 😁

[2020-05-12 04:59] michaelhly opened #5823 "update-mockgen script is oudated"
# 🐞 Bug Report

### Description
The mockgen script is not pointing to the right files. (i.e. `proto/beacon/rpc/v1/services.proto` does not exist anymore, should now point to `github.com/prysmaticlabs/ethereumapis/eth/v1alpha1/...`).

## 🔬 Minimal Reproduction
Run:

## 🔥 Error
[code]

[2020-05-12 08:49] pagocs commented on #5769
Thank you @prestonvanloon for the information. I managed to create docker containers (beacon and validator) which are run perfectly for days now.

Config: RPi 4 4GB RAM.

If it is interesting I could share the dockerfile and basic instructions to setup and launch.

[2020-05-12 09:52] GottliebFreudenreich commented on #5649
I also encounter a similar issue on RasberryPi4, Ubuntu20.04 ARM64, Topaz Testnet, Beacon-chain1.0.6:
[code]

[2020-05-12 11:02] handelaar2 opened #5826 "Remove possibility of conflict between --web3provider and --http-web3provider"
# 🐞 Bug Report

### Description
There are 2 parameters for pointing to an Eth1-node: --web3provider and --http-web3provider
However these parameters **cannot** be used "independently".
Only populating one parameter (say --http-web3provider ) and omit the other defaults that one to goerli.prylabs.net.

Having two eth1 sources seems to lead to conflicting data and the beacon log start showing errors

[2020-05-12 12:26] nisdas opened #5827 "Mismatch between Finalized Block And Epoch"
# 🐞 Bug Report

### Description

Currently there is a mismatch between finalized epochs and their related blocks. The finalized
epoch does not exactly match the one provided by the slot in the block.

### Has this worked before in a previous version?

Before #5811

## 🔬 Minimal Reproduction

Run the node and look at the handshake errors from it from other peers.

## 🔥 Error

[code]

**What version

[2020-05-12 13:57] #5693 closed

[2020-05-12 14:46] chrishobcroft opened #5830 "`./prysm.sh validator accounts create` gives OOM on devices with low RAM / swap"
# 🐞 Bug Report

### Description

`./prysm.sh validator accounts create` fails consistently, reporting `Killed`, when running on `Ubuntu 20.04 LTS` with **`512Mb` `RAM`** and **`0` `swap`**

### Has this worked before in a previous version?

 Not to my knowledge.

## 🔬 Minimal Reproduction

1. Deploy and connect to `Ubuntu 20.04 LTS` server with `1 vCPU`, `512 Mb RAM`

![image](https://user-images.

[2020-05-12 15:01] #5749 closed

[2020-05-12 15:54] 0xKiwi commented on #5823
Hello @michaelhly ! Thanks for reporting an issue. @rauljordan do you know what kind of changes need to be made to this script? It's still needed for some of our protos right?

[2020-05-12 15:56] 0xKiwi commented on #5826
Hello @handelaar2 ! Thanks for the report, asking for clarity here, but what is the issue you'd like to see solved? The flag dependency on eachother matching? Or better UX in terms of setting the flags to ensure they match eachother?

[2020-05-12 15:59] terencechain commented on #5826
@0xKiwi See the relevant convo here:
https://discordapp.com/channels/476244492043812875/560308336248225812/709701327449751684

[2020-05-12 15:59] 0xKiwi commented on #5830
Thanks for reporting @chrishobcroft ! @prestonvanloon , how do you think we should handle this? This is a rather simple process so I'm surprised it takes up so much memory, could there be something we can improve?

[2020-05-12 16:04] 0xKiwi commented on #5826
I see! So solving this would be making a `--web3provider` flag with `--web3-ws-port` and `--web3-rpc-port` flags.

[2020-05-12 16:11] handelaar2 commented on #5826
@0xKiwi That was what Nishant called a good suggestion. So we would have two port parameters but one node ip address. This way the prysm eth2 code would not be confuses having "input" from two sources. It would not solve my problem which is using Nethermind as my local eth1-node.

[2020-05-12 16:31] prestonvanloon commented on #5830
We can look at the memory usage of the keystore creation to see if where we can reduce the memory profile. Otherwise, this system is below the minimum supported requirements for memory.

[2020-05-12 17:39] terencechain commented on #5827
This worries me. I wonder how it could happen

[2020-05-12 17:40] terencechain commented on #5603
@nisdas has been doing great work on this, will put him as an assignee so I don't get all the credit : )

[2020-05-12 17:40] terencechain commented on #5566
I have not seen this in a while. Will close it for now

[2020-05-12 17:40] #5566 closed

[2020-05-12 17:41] terencechain commented on #5385
I think this may be important for multi client. Will pick this up today

[2020-05-12 18:55] terencechain commented on #5746
Given the merge of #5795 I think we can close this given we've done all we can to fix it from prysm side. Anything else to add? @GuillaumeMiralles

[2020-05-12 20:45] GuillaumeMiralles commented on #5746
From what I can read on #5795 it seems that 0 will not be returned anymore, but instead nothing will be. Which is totally fine for me.
If what I described is correct, then yes we can close this issue.

Thanks for your work! :)

[2020-05-12 22:04] wgknowles commented on #5456
Still not working in alpha.7:
C:\Prysm>prysm.bat validator accounts create
A subdirectory or file C:\Prysm\dist already exists.
Latest prysm release is v1.0.0-alpha.7.
Using prysm version v1.0.0-alpha.7.
Starting Prysm validator accounts create
2020/05/13 07:59:40 maxprocs: Leaving GOMAXPROCS=4: CPU quota undefined
[2020-05-13 07:59:40]  WARN flags: Using default mainnet config
[2020-05-13 07:59:4

[2020-05-12 22:07] wgknowles commented on #5538
The original issue was resolved, the followup issue is a duplicate of existing issues on https://github.com/prysmaticlabs/prysm-testnet-site/issues
This issue should be closed.

[2020-05-12 23:05] #5746 closed

[2020-05-13 00:06] nisdas commented on #5826
A subscription based api makes code cleaner and easier to write for. The alternative would be polling based apis, which would require a rewrite of portions of our eth1 code. Do you have the reasons stated out for why subscription methods are bad here?
@handelaar2

[2020-05-13 00:08] nisdas commented on #5827
Yeah it is off in a few places,
Ex:
[code]
is there anything wrong with doing this ? @terencechain . I feel like I might be missing something, I was looking at our code for indexing finalized blocks in the db, and it seems like there are quite a few gotchas on determining which block is finalized and for what epoch it is finalized.

[2020-05-13 00:19] 0xKiwi commented on #5134
Any update on this? @prestonvanloon

[2020-05-13 00:23] 0xKiwi commented on #4935
Any updates on this issue? @farazdagi

[2020-05-13 00:32] 0xKiwi commented on #5483
Hello @xrow , password flag should no longer be required for any of the validator commands, does this solve your problem?

[2020-05-13 00:36] 0xKiwi commented on #5456
Thanks for the update! @wgknowles , we'll look into this.

[2020-05-13 00:40] 0xKiwi commented on #5526
Data directory is now logged for the validator client as of #5653 , can we close this?

[2020-05-13 00:42] 0xKiwi commented on #5494
This may have been a confusion in the docs. More information is logged out and docs have been improved. Closing.

[2020-05-13 00:42] #5526 closed

[2020-05-13 00:55] terencechain commented on #5827
@nisdas that won't work if there's skip slot. You have to account for skip slot scenario similar to this:

[code]

[2020-05-13 03:28] #5816 closed

[2020-05-13 06:50] MicahZoltu commented on #5826
For context, my recommendation to not use `eth_subscribe` comes from the fact that its design makes it susceptible to unrecoverable faults.  Augur ran into a ton of trouble with this during its development and I eventually wrote https://github.com/ethereumjs/ethereumjs-blockstream/ for them to deal with it, which doesn't use `eth_subscribe` at all.

The short version of the problem is that if you

[2020-05-13 07:09] xrow commented on #5483
I think i have a vaild workaround for now. thanks.

[2020-05-13 07:29] chrishobcroft commented on #5830
@prestonvanloon this system is only running a Validator, with a remote Beacon Chain. I couldn't find any minimum supported requirements for memory for a node running only a Validator - do you know of any?

From initial testing, it would appear that the Validator process requires somewhere between `18Mb` and `26Mb` during normal operations on `Ubuntu 20.04 LTS` (see below screenshot from Grafana)

[2020-05-13 09:44] handelaar2 commented on #5826
So if you ask me what would solve all issues: switch to HTTP RPC endpoint only. #2299 was a good start but we also need HTTP RPC for fetching for future logs.
- more robust (Micah's experience)
- no more mixing of web3 endpoints (one ip+one port; no more merkle index errors)
- more integration with existing web3 providers (Nethermind,Infura, ....)

[2020-05-13 12:09] DanielFontes opened #5838 "Slasher: Possible Memory leak (alpha-7)"
# 🐞 Bug Report

### Description

Slasher (alpha 7) suddenly starts to consume several GB of RAM (on 4GB Raspberry Pi) in only a couple of seconds.

### Has this worked before in a previous version?

In alpha-6 slasher was fine.

## 🔬 Minimal Reproduction

Run beacon-chain, validator and slasher on RPi4 and wait for some time.

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Raspberry

[2020-05-13 17:45] terencechain opened #5840 "`UpdateCommiteeCache` efficiently for initial syncing"
For init syncing, let's make sure we don't double `UpdateCommitteeCache` and if we do there's a lot of compute saving there

<img width="1606" alt="Screen Shot 2020-05-13 at 10 44 32 AM" src="https://user-images.githubusercontent.com/21316537/81846331-c410d000-9506-11ea-8f14-c14c06539b6e.png">

[2020-05-13 18:39] 0xKiwi commented on #5838
This is related to the lookback changes, unfortunately, the gating for the feature did not make it into alpha7 :(

If you'd like to try the slasher, try alpha6 or use current master. Sorry for the trouble!

[2020-05-13 20:31] prestonvanloon commented on #5826
It's not as easy as setting a different port. Providers like infura have an entirely different connection URL between websockets and json-rpc.

[2020-05-13 20:34] #5538 closed

[2020-05-13 20:44] prestonvanloon commented on #5134
No

[2020-05-13 21:14] #5838 closed

[2020-05-13 21:25] #5840 closed

[2020-05-13 21:38] prestonvanloon commented on #5830
@chrishobcroft This is great feedback. Thanks for taking the time to put it together with screenshots and all of your analysis. I agree that the validator in this setup should be very lightweight on memory usage. I believe the default keystore, which is used in go-ethereum, might be a memory hard encryption scheme or somehow needs to load a relatively significant portion of memory to complete the

[2020-05-13 22:46] #5385 closed

[2020-05-13 22:51] terencechain opened #5843 "could not regenerate historical states, please retry: could not get one block root to get state"
# 🐞 Bug Report

Toggled `--enable-new-state-mgmt` back on and saw the following error log. This blocks generating and saving historical states:
[code]

### Has this worked before in a previous version?
Yes, this seems intermittent

## 🔬 Minimal Reproduction
Toggle it on and off a few times

[2020-05-13 23:25] terencechain opened #5844 "Separate out validation for process_slot"
# 💎 Issue

### Background

From the spec `process_slots` and maybe more process functions violate single responsibility principles. It may be better to refactored the validation conditions to something like `validate_block_preconditions` It's important to have precondition checked in a way that makes  it obvious to the  reader that is is necessary for block production critical path

[2020-05-14 00:10] #5843 closed

[2020-05-14 05:18] nisdas commented on #5826
Looking at our code and what we have in our `powchain` package, it might not be too much work to sunset websockets and `eth_subscribe` from our codebase. We only have 1 method that uses it. Although whether we choose to use a subscription based method or instead a polling approach, both methods will require us to have some sort of client synchronization logic on our end to handle missing blocks,lo

[2020-05-14 06:05] criticaltv commented on #5830
@prestonvanloon it all sounds very good. Thank you for taking the time to explain the situation!

Sadly my coding skills are very rusty, but I enjoy the analysis side of running platforms and protocols.

Keep up the great work @prysmaticlabs

[2020-05-14 08:42] ppratscher opened #5851 "ListValidatorBalances RPC is very slow for historic epochs (new state mgmt)"
Version: latest master

Using the --enable-new-state-mgmt flag the node does not respond to the ListValidatorBalances RPC call for historic epochs.

For example querying the validator balances of all validators of epoch 5877 takes nearly 2 minutes on our production system:
[code]

[2020-05-14 13:20] terencechain commented on #5851
@ppratscher `does not respond` or `responded but slow, took 2 mins?`

2 mins is what we see as well. Unfortunately that's how long it takes to replay back all the blocks and generate the missing state. We'll need to optimize it

[2020-05-14 13:27] ppratscher commented on #5851
hm, it varies between 2-5 minutes which makes it nor really usable for a block explorer.

we now wiped the database and re-synced from scratch. after that the call responded withing a few seconds.

[2020-05-14 14:35] #5494 closed

[2020-05-14 14:44] #5740 closed

[2020-05-14 15:08] terencechain commented on #5851
I see, I observed a bug which cause archived state to be incorrectly saved at every period. I will fix that today. Will keep you updated with this

[2020-05-14 15:32] shayzluf opened #5854 "Slasher "disable lookback" feature drains resources (i/o)"
# 🐞 Bug Report

### Description

After running slasher with disable lookback flag. memory and io resources of the machine are getting drained.

### Has this worked before in a previous version?

no
no adequate tests were written

## 🔬 Minimal Reproduction

run slasher with `--disable-lookback --clear-db --disable-historical-detection` flags

[2020-05-14 16:21] farazdagi opened #5857 "Assert that only non-processed blocks are sent in init-sync queue"
### Description

Follow-up issue of https://github.com/prysmaticlabs/prysm/pull/5856

### Describe the solution you'd like

Make sure that only not yet processed blocks are sent for processing (this de-dup can take place in round robin or queue - queue seems to be more appropriate place).

### Describe alternatives you've considered

We have considering implementing this in block processing routin

[2020-05-14 16:40] terencechain commented on #5857
It's more so `duplicated` block. For `new-state-mgmt`, it still processes the block since it syncs from check point to check point and only preserve state in DB on check point. Currently this can happen:
Sync queue: [blkA, blkB, blkC, blkC, blkD] -> process_block
What we want:
Sync queue: [blkA, blkB, blkC, blkD] -> process_block

[2020-05-14 17:11] #5731 closed

[2020-05-14 19:02] prestonvanloon commented on #5830
Another user reported about 500mb validator usage at startup of normal operations. The memory was eventually reclaimed without restarting. I suspect there is something terrible with the keystore.

![image](https://user-images.githubusercontent.com/7246818/81974696-c3496e00-95da-11ea-8ae8-403b7e335be8.png)

Yellow line = validator memory

[2020-05-14 19:44] 0xKiwi commented on #5450
Hey @rauljordan, does #5849 help with this?

[2020-05-14 20:09] rauljordan commented on #5450
Yep! You'll be receiving duties and show Validator activated pre-genesis time successfully. I think we can close this with that PR.

[2020-05-14 22:11] #5823 closed

[2020-05-14 22:34] rkapka opened #5861 "New command to change a validator's password"
# 🚀 Feature Request

### Description

I had a discussion on Discord (https://discordapp.com/channels/476244492043812875/560308336248225812/710615612203728996) recently about #5836. Someone had an issue that could be resolved by implementing a command that allows changing the validator's password. I believe it should be easy to implement - in fact the code in the linked PR already does this at some

[2020-05-14 22:39] rkapka commented on #5861
Even though the feature sounds useful to me, I have some doubts how this could be actually implemented. These doubts boil down to me not understanding the difference between validator/accounts and how they are exactly related to key files. For example, if there are two pairs of key files in one directory, how can the user specify which pair they want to encrypt using a different password? Should t

[2020-05-15 11:35] nisdas opened #5864 "Remove Kademlia DHT From Prysm"
# 💎 Issue

### Background

Currently we are running two methods of discovery on Topaz, both kademlia and DiscoveryV5. However running these two methods of discovery can strain the node as it has to maintain two separate dhts. The inital reason we ran kademlia was because our internal infrastructure could support it whereas we did not have a straightforward solution for udp routing in the cluster.

[2020-05-15 11:36] wgknowles commented on #5861
A few ideas:
1) You simply provide the "old" password, and ALL keys in the current (or specified --keystore-path) directory that are successfully decrypted are then updated to use the new password.

2) You specify the exact validator and withdrawal key to be updated using filenames, and then prompt for old & new password.  A potential problem here is being able verify that the 2 keys are actually

[2020-05-15 12:33] rkapka commented on #5861
First option sounds promising, but I once again run into a problem with the go-ethereum key management library - it's not possible to check if the key has been successfully decrypted. This would require a change to the library. @nisdas mentioned in #5836 that it's undesirable, but I am really tempted to go ahead and modify it because it causes problems left and right.

[2020-05-15 12:42] rkapka commented on #5861
First option sounds promising, but I once again run into a problem with the go-ethereum key management library - it's not possible to check if the key has been successfully decrypted. This would require a change to the library. @nisdas mentioned in #5836 that it's undesirable, but I am really tempted to go ahead and modify it because it causes problems left and right.

[2020-05-15 15:28] rauljordan commented on #5812
@0xKiwi can we close? this was resolved by your fix to slasher right, can you link the PR?

[2020-05-15 15:41] 0xKiwi commented on #5812
Hey @rauljordan, I haven't been able to replicate this. Maybe #5782 gated the root cause of this though.

[2020-05-15 16:31] rauljordan commented on #5812
This is a duplicate of #5854 ,  causing OOMs and peers to all drop to 0

[2020-05-15 16:31] #5812 closed

[2020-05-15 16:38] rauljordan opened #5868 "Nodes Without Attached Validator Clients Missing Key Metrics"
# 🐞 Bug Report

### Description

Brought up in our discord, it has been observed nodes without attached validator clients via RPC are missing several key metrics they should be able to report, namely, values such as `beacon_clock_time_slot` or `beacon_head_slot`.

## 🔥 Error

https://pastebin.com/7JfnSBcy -> node with attached validator client
https://pastebin.com/0A4YAAVQ -> node **without** atta

[2020-05-15 19:59] rauljordan commented on #5769
Hey @pagocs that would be great, could you suggest it as a pull request or issue in our documentation portal here https://docs.prylabs.network ? Thank you!

[2020-05-15 20:24] #5729 closed

[2020-05-15 20:52] rauljordan commented on #5651
Closing @mragicl , please let us know if this resolves your issue otherwise we can reopen

[2020-05-15 20:52] #5651 closed

[2020-05-15 20:52] #5483 closed

[2020-05-15 20:55] rauljordan commented on #5143
Closing as an API working group is now in progress. Once the API is accepted or deemed good enough, we can reopen this issue or create a new one with the proposed schema for this feature.

[2020-05-15 20:55] #5143 closed

[2020-05-15 20:56] rauljordan commented on #5031
Slasher really needs _every_ attestation from the beacon node, both aggregate and unaggregated. If we just provided the atts from the attpool service, we'd just be feeding slasher aggregate attestations and missing some. For now, the current solution achieves the required goals. Closing this issue unless it's apparent that we _need_ to do this.

[2020-05-15 20:56] #5031 closed

[2020-05-15 20:57] rauljordan commented on #5131
Update on this @prestonvanloon ?

[2020-05-15 21:02] rauljordan commented on #5436
Closed as our docs are now more airtight, recommending running Prysm with the windows .bat file, no longer mentioning the tricky keymanageropts command

[2020-05-15 21:02] #5436 closed

[2020-05-15 21:03] rauljordan commented on #5630
Update on this one @terencechain ?

[2020-05-15 21:09] terencechain commented on #5196
Need to implement https://github.com/ethereum/eth2.0-specs/pull/1795/files

[2020-05-15 21:10] terencechain commented on #5630
No update yet. It's something to look into soon

[2020-05-15 21:25] terencechain commented on #5868
Looking into this now!

[2020-05-15 21:29] rauljordan commented on #5571
Resolved by the stream duties functionality in #5849

[2020-05-15 21:29] rauljordan commented on #5390
Initial sync is currently significantly stable. We can close unless these suspicions arise again from user reports.

[2020-05-15 21:29] #5390 closed

[2020-05-15 21:31] terencechain commented on #5868
Both nodes have `beacon_head_slot ` but the second log misses `beacon_clock_time_slot`

[2020-05-15 21:31] #5631 closed

[2020-05-15 21:54] #5574 closed

[2020-05-15 22:10] terencechain commented on #5868
This works for me every time. Please keep in mind that `clock_time` metric only shows up after a node has successfully processed a block. The `clock_time` metric won't show up if the node is stuck peering.

![Screen Shot 2020-05-15 at 3 10 02 PM](https://user-images.githubusercontent.com/21316537/82100308-35df4a00-96be-11ea-8e8a-89f285c05148.png)

Will close this in a day if no one else has commen

[2020-05-15 23:57] tunlong opened #5875 "ERROR sync: Failed to close stream error=EOF"
I have an issue with ERROR sync: Failed to close stream error=EOF. This error will appear every few seconds. The programme is the lastst version beacon-chain-v1.0.0-alpha.8-linux-amd64. Any suggestion? Thanks.

![image](https://user-images.githubusercontent.com/32350461/82104966-8650b900-974b-11ea-9e43-74100f6dc5df.png)

[2020-05-16 00:58] wgknowles commented on #5861
Actually instead of using the current directory, default keystore directories should be used.  Refer to validator accounts create for default locations.

[2020-05-16 01:53] 0xKiwi commented on #5875
Hey @tunlong ! Thanks for submitting an issue!
@farazdagi , any clue on what could be causing this?

[2020-05-16 11:24] farazdagi commented on #5875
I looks lot like sth writing into a closed stream. Since message refers to "failure to close stream" it seems we are closing sth that has already been closed (say peer disconnects too early).

Will try to figure this out, but overall this shouldn't prevent from syncing - and mostly cosmetic issue for now.

[2020-05-16 12:41] Arxis75 opened #5878 "Starting the slasher crushes the RPC link between the BC and the validator"
Running BC+Validator on a VPS server. As soon as I start the slasher, the validator RPC connection with the BC gets crushed and the validator stops attesting.

Typical Validator error message: "level=error msg="Could not submit attestation to beacon node" error="rpc error: code = DeadlineExceeded desc = context deadline exceeded" prefix=validator"

Killing the slasher brings immediately my validat

[2020-05-16 20:31] GuillaumeMiralles commented on #5830
I want to clarify something here, the graph is using the metrics `process_resident_memory_bytes` which seems to be the allocated memory for the process, and not the used one in the end.

With the metrics `go_memstats_alloc_bytes` it stays constant, no spikes at start.

This screenshot shows the exact moment than the previous one but with the `go_memstats_alloc_bytes` metric instead
![image](https:

[2020-05-16 21:26] allsilent commented on #5878
Same Issue. 51 Validators and a BC on a Raspberry Pi 4 (4Gb RAM) with Ubuntu 20.04 and an SSD.

Validators vote appropriately, and the Pi doesn't struggle, mem usage and load are both nominal.

As soon as the slasher starts up, it appears to crowd the RPC connection so that Validators can't submit attestations. Nothing but repeating "level=error msg="Could not submit attestation to beacon node" er

[2020-05-16 23:56] rkapka commented on #5638
I gave this some thought and here is my current standpoint on merging:

I don't think spinning up a new client is necessary to do a merge. Let's do the merge in the context of the already running client initialized by the `validator` command. The merge will append data from source databases into the current client's database. This will partially cover the requested import functionality (resulting

[2020-05-17 00:12] prestonvanloon commented on #5439
Unassigning from @ShawkiS since their PR has gone stale. @ShawkiS if you'd like to pick this up again, let us know. Otherwise we're stilling looking for help on this issue as a good first issue.

[2020-05-17 03:56] CurrencyTycoon opened #5882 "command "validator account create" gives error when the key store path directory is empty"
# 🐞 Bug Report

### Description

It looks like the `validator account create` command will not create any new accounts if the target directory is empty.

`mkdir empty-keystore-dir`

` ./validator accounts create --keystore-path=./empty-keystore-dir --password=ok`

output:

[2020-05-17 12:39:32] FATAL main: Could not create validator at path: ./keystore error=path "./keystore" does not exist

Expec

[2020-05-17 05:40] criticaltv commented on #5830
Thanks @GuillaumeMiralles - it's hard to see the Validator RAM on this diagram.

Given that the RAM usage for a Beacon is an order of magnitude higher than a Validator, perhaps the Grafana dashboard template could split them to separate graphs?

[2020-05-17 06:16] GuillaumeMiralles commented on #5830
What really matters here is to see the spike at the restart, which we can see it on the graph.
But to make it more clear, I've done the graph for the **validator only** using the `go_memstat_alloc_bytes` still on the same timeFrame
![image](https://user-images.githubusercontent.com/23481418/82137248-9aadb800-9816-11ea-9dcd-6aeae4d2d7b0.png)

[2020-05-17 06:18] criticaltv commented on #5830
Thank you @GuillaumeMiralles this is perfect evidence to characterise the issue! Presumably ths spike was after a restart of `validator`?

[2020-05-17 07:07] GuillaumeMiralles opened #5883 "Validator metrics are partially available without the flag --enable-account-metrics"
# 💎 Issue

### Background

One of the user didn't understand why he didn't have access to all the metrics from the validator process since he has access to http://localhost:8081/metrics. He didn't use the `--enable-account-metrics`

### Description

In the previous version, if you don't add `--enable-account-metrics` to the validator command, then you don't have access at all to http://localhost:8

[2020-05-17 07:10] alonmuroch commented on #5680
@prestonvanloon @rauljordan since this was bumped to high priority maybe I could take a swing at this.

@prestonvanloon what issues the caching caused?

[2020-05-17 07:11] GuillaumeMiralles commented on #5830
Yes it is on restart. after the restart this is all good

[2020-05-17 07:20] allsilent commented on #5878
Worth noting that this differs from previous slasher issues with regards to p2p as well. In this case, peers stay high (35+ in my case) and the BC and Validator client continue to operate, but seem unable to communicate.

[2020-05-17 16:43] nisdas opened #5885 "Proposer Index Is Incorrect during Deep Re-orgs"
# 🐞 Bug Report

### Description

In schlesi, there has been a current long running fork with more than 80 epochs since finality. This had led to clients being on different side of the fork. As a consequence Prysm has had to process blocks from the other side of the fork. However due to the nature of how long the chain had been forked, each block necessitated a recalculation of a base state from mo

[2020-05-17 16:48] prestonvanloon commented on #5680
@alonmuroch The issue was that signatures were failing to verify for all objects produce from a validator with this flag enabled. `--enable-domain-data-cache`. If you run a local testnet, try adding this flag to half of the validators and you should be able to reproduce the issue.

I'll tentatively assign to you for investigation, please keep us updated on the issue as you work on it.

[2020-05-17 22:30] prestonvanloon commented on #5864
Do we have any data on how much resource usage is consumed by kademlia?

[2020-05-17 22:32] prestonvanloon commented on #5864
I am wondering if additional discovery could be helpful, maybe we can start with an opt-out feature flag?

[2020-05-18 08:17] stefa2k commented on #5878
I'm running beacon/validator/slasher on a 4gb RAM machine and I run into issues with `level=error msg="Could not submit attestation to beacon node" error="rpc error: code = DeadlineExceeded desc = context deadline exceeded" prefix=validator` only when the machine also runs out of memory.

[2020-05-18 11:07] stefa2k commented on #5878
I can replicate it now with docker.

I observed now 2 things:
1. If I set --max-goroutines to 10,000 the effect takes longer to be visible
2. If I restart the slasher and it already HAS a database it doesn't stress the beacon that much.

[2020-05-18 13:55] tunlong opened #5896 "could not retrieve subnets: missing ENR key "attnets""
After running the beacon-chain-v1.0.0-alpha.8-linux-amd64 on Ubuntu 18.04 server 64bit for more than 24hous, it will show this error. And my validator status will be getting poor. So I have to restart it.

![image](https://user-images.githubusercontent.com/32350461/82221033-05afd980-9952-11ea-90fa-22bb4d85cdb4.png)

[2020-05-18 14:00] mbrivio commented on #5868
I initially reported the issue, then deployed another node on a new vm and couldn't reproduce the same behavior. I guess there was something funky about that particular node. For reference it was a db started time ago with a shell script installation, than switched to building with bazel keeping the same db.

[2020-05-18 15:02] terencechain opened #5897 "Check if validator was slashed before apply inactivity penalty"
# 🐞 Bug Report

### Description

Discovered in Schlesi testnet, to process inactivity penalty, the node needs to check if the validator was slashed, in which case it would also get a finality penalty.
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/epoch/precompute/reward_penalty.go#L119

Note that this is a consensus breaking change so the fix has to go into `v0.12` branch

[2020-05-18 15:53] prestonvanloon commented on #5844
The critical assumption around block slot was resolved in #5846. I think we can resolve this for now.

[2020-05-18 15:53] #5844 closed

[2020-05-18 16:12] prestonvanloon commented on #5826
I am in favor of removing websockets requirement in Prysm. We don't need on real time events in ETH1 given that we are only supposed to be looking at blocks that are at least 1024 older than the head of ETH1.

Removing websockets eases infrastructure requirements, code complexity, and potential failure vectors.

@nisdas is this something you are interested in working on? If not, I can delegate or

[2020-05-18 16:41] prestonvanloon commented on #5131
It still happens. golang/go#35158 is still open.

[2020-05-18 16:52] terencechain opened #5898 "unknown block when requesting historical state"
Reported by @0xKiwi, RPC failed with the following errors when fetching historical attestations:

[code]

[2020-05-18 17:24] prestonvanloon commented on #5883
To give a bit of background on this, having validator account metrics on by default causes high data carnality which can inflate retention sizes in tsdb. This is only a concern to users running many validators. So the current behavior is working as intended but it does have some user confusion.

I'm going to mark this as a feature request to invert the flag functionality. Power users can opt-out o

[2020-05-18 17:25] prestonvanloon commented on #5680
We can probably accept this flag as "working" if it were to pass end-to-end tests. I attempted to add this flag to e2e over the weekend but did not have much success.

[2020-05-18 17:37] terencechain commented on #5680
I have been running with `--enable-domain-data-cache` on my local 4k validators for 2 weeks.. No issue observed from my end

[2020-05-18 17:43] terencechain opened #5901 "Check if validator was slashed before apply proposer reward"
# 🐞 Bug Report

### Description

Discovered in Schlesi testnet, to process proposer reward, the node needs to check if the validator was slashed.
https://github.com/prysmaticlabs/prysm/blob/v0.12/beacon-chain/core/epoch/precompute/reward_penalty.go#L139

Note that this is a consensus breaking change so the fix has to go into v0.12 branch

[2020-05-18 17:52] prestonvanloon commented on #5878
@stefa2k `--max-goroutines` only affects a status check. It should not affect any performance of the application.

@shayzluf @0xKiwi @rauljordan can you guys please take a look at the issue?

[2020-05-18 17:55] 0xKiwi commented on #5878
This is an issue I've been experiencing with my slasher. For real-time detection there are no issues but for historical detection where the slasher is just demanding so much computation from the beacon node constantly, I start seeing that context deadline issue.

I think the slasher might be too fast now lol, it finishes an epochs worth of attestation processing quickly and immediately asks for mo

[2020-05-18 18:00] farazdagi opened #5902 "Blocks fetcher - re-arrange locks"
Per @prestonvanloon's suggestion:

https://github.com/prysmaticlabs/prysm/blob/e16f3842867e0c73e48fe5f0bd12b22e9c7b1642/beacon-chain/sync/initial-sync/blocks_fetcher.go#L372
Do you want to rearrange this global lock to avoid this type of behavior?

[2020-05-18 18:11] 0xKiwi commented on #5571
Reopening as this issue is not confirmed to be solved, once it is confirmed if #5849 solves this, we can close it.

[2020-05-18 18:30] #5718 closed

[2020-05-18 18:33] handelaar2 commented on #5571
Ran a slasher on the schlesi network with commit aed9e0e . Beacon and validator have same commit. There were many attester slashing events last Saturday. The slasher detected them successfully, but failed to add them to the pool due to the error:
 `ERROR beaconclient: rpc error: code = Internal desc = Could not insert attester slashing into pool: could not verify attester slashing: could not valid

[2020-05-18 18:42] prestonvanloon commented on #5571
Why would #5849 solve this? @0xKiwi

[2020-05-18 18:46] 0xKiwi commented on #5571
We still don't know the root cause of the issue, it might occur when there is a reorg over an epoch boundary and the validator clients think they still belong to the previous committee (from before the reorg) and as a result the attestations they sign don't match the actual committees in the state.
Streaming duties could solve this by not having validators act with out-of-date roles. Does that exp

[2020-05-18 18:48] prestonvanloon commented on #5571
No, it doesn't quite explain it. How does validator assignments / duties have anything to do with the ability to insert an attester slashing into the attester slashing pool?

[2020-05-18 19:00] prestonvanloon commented on #5896
@nisdas can you take a look please?

[2020-05-18 19:14] #1930 closed

[2020-05-18 19:15] prestonvanloon commented on #1930
Closing. Fuzz testing is mostly released and this issue is over a year old.

[2020-05-18 19:21] prestonvanloon commented on #5885
Can you add a bit more details on how to reproduce this issue? I am not understanding where the problem is.

[2020-05-18 19:46] #5898 closed

[2020-05-18 21:25] #5868 closed

[2020-05-18 21:35] #5861 closed

[2020-05-19 02:11] Chambers-Chambers commented on #5456
how do i go about getting ETH 2.0 Validator set up. Im mining ETC using my Computers but id like to be an ETH Validator as well. Mining seems simple compared to getting this set up. What am i doing wrong? Ive downloaded git
ive downloaded docker
ive used powershell
i tried making folders with seperate files like you would with mining ETC but i cant get it to work. Ive spent multiple days trying to

[2020-05-19 05:00] terencechain commented on #5623
duplicated as #5649

[2020-05-19 05:00] #5623 closed

[2020-05-19 05:02] terencechain commented on #5489
This hasn't been much of an issue and concern. No one has brought this up for 4 weeks. Will reopen if it's mentioned again

[2020-05-19 05:02] #5489 closed

[2020-05-19 05:03] terencechain commented on #5482
This hasn't been brought up in a while. My best guess is this was likely a local clock issue from the reported staker, will reopen if it's brought up again

[2020-05-19 05:03] #5482 closed

[2020-05-19 05:13] #5578 closed

[2020-05-19 07:40] prestonvanloon commented on #5883
I've added #5904 to make account metrics enabled by default. This should resolve the issue. Thanks!

[2020-05-19 09:21] alonmuroch commented on #5680
I've been running a validator with the flag on and seems to work fine as well.
e2e crashes for me but probably because I'm doing something wrong..

[2020-05-19 09:29] #5883 closed

[2020-05-19 10:43] nisdas commented on #5826
I don't have the immediate bandwidth right now to work on it, so its fine if you want to take this on right now or delegate it @prestonvanloon

[2020-05-19 15:26] LarsHolte opened #5907 "Validator metric validator_balance shuffles pubKey balances"
# 🐞 Bug Report

Metric validator_balance has correct balance but wrong pubKey, and pubKey is shuffled when metrics update.

### Has this worked before in a previous version?

Yes, was ok in alpha.7
Problem started when updating to alpha.8 Git commit: 52c302307a677eb908459dd712ebe34102dd2a25. Built at: 2020-05-14 22:14:44+00:00
Problem persists using docker :latest Git commit: 62b617fa9a640f45f33e6

[2020-05-19 17:26] nisdas opened #5911 "Prysm Doesn't Run Rewards And Penalties Spec Tests"
# 🐞 Bug Report

### Description

Currently it appears that Prysm is actually skipping the Rewards and Penalties Spec tests. There have been test vectors for them in minimal, which we never run, probably missing some critical test cases. The way to resolve this is to add in the correct handlers for the rewards tests.

### Has this worked before in a previous version?

No

[2020-05-19 17:31] terencechain commented on #5911
Looks like this is only available for minimal and not  for mainnet

[2020-05-19 17:34] terencechain commented on #5911
Lowering the priority:
1.) These are minimal tests only
2.) v0.12 will come with better rewards and penalty tests for mainnet
3.) Will like to keep critical for run time blocker only

I can take a look at this today

[2020-05-19 17:48] #5902 closed

[2020-05-19 18:58] AlexSSD7 opened #5912 "Validator: Invalid attester slots + strange things"
# 🐞 Bug Report

### Description
Random invalid attester slots warnings and other strange things.

### Has this worked before in a previous version?
Haven't tried

## 🔬 Minimal Reproduction
I don't clearly know how to reproduce it, but I can share my validator setup details. I had 1000 validators running with only ~20 of them active. Other validators were joining the party continuously as some of t

[2020-05-19 19:09] prestonvanloon commented on #5911
Is there anything blocking the minimal config spec test?

[2020-05-19 21:07] terencechain commented on #5912
root cause has been identified by @rauljordan and @prestonvanloon, please reference this issue in the PR for the fix

[2020-05-20 04:29] nisdas commented on #5911
Closing this as #5916 is merged in

[2020-05-20 04:29] #5911 closed

[2020-05-20 04:41] nisdas opened #5918 "Allow States To Be Returned as SSZ Objects"
# 🚀 Feature Request

### Description

Currently we do not have any easy way to retrieve our states as ssz objects, instead
their json representation is returned with fields encoded in base64.

### Describe the solution you'd like

Our debug endpoints instead return the ssz representation of the state. Since
these endpoints are only for debugging runtime problems it would make sense for
them to be

[2020-05-20 04:54] terencechain commented on #5918
We should do the same for blocks as well

[2020-05-20 04:57] #5896 closed

[2020-05-20 06:12] fuzzit-dev[bot] opened #5919 "[FUZZIT] Crash at fuzzing target block"
A new crash was discovered for fuzzing target block.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/prysmaticlabs-gh/targets/block/O9pl1UgyYLcsszvIeIIS)

Cheers,
Fuzzit Bot

[2020-05-20 06:12] fuzzit-dev[bot] opened #5920 "[FUZZIT] Crash at fuzzing target block"
A new crash was discovered for fuzzing target block.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/prysmaticlabs-gh/targets/block/O9pl1UgyYLcsszvIeIIS)

Cheers,
Fuzzit Bot

[2020-05-20 06:13] prestonvanloon commented on #5920
Duplicate of #5919

[2020-05-20 06:13] #5920 closed

[2020-05-20 06:17] prestonvanloon commented on #5919
This is from commit dd22d8ef31530e99a95324314c299b230999fab7 in PR #5915.

The problem is the zrnt is unable to process a certain input state & block within 60 seconds.
The failure input can be found in the details link in the original issue description.
There is no way to cancel the in-process computation as Prysm does with context timeouts.

cc: @protolambda.

[2020-05-20 08:20] shayzluf opened #5921 "Remove signature from slasher protection flow"
# 💎 Issue

### Background

signature verification was added to the slasher server endpoints in order to prevent dos attacks
nevertheless having the validator sign attestations and trust the slasher not to use that attestation for slashing is risky. validator should submit the attestation before signing and DOS attack on the slasher should be handled in a different way(rate limiting for example)

#

[2020-05-20 08:36] q9f opened #5922 "Validator does not allow to create accounts with custom chain config"
# 💎 Issue

Validator does not allow to create accounts with custom chain config. It does not accept flags such as `minimal-config`, `schlesi-testnet`, or `chain-config-file` and always defaults to mainnet accounts.

### Background

Witti testnet uses a different Genesis Fork Version than Schlesi.

https://github.com/goerli/schlesi/tree/master/prysm

### Description

Not being able to modify the Ge

[2020-05-20 10:11] q9f opened #5924 "ERROR p2p: could not retrieve subnets: missing ENR key "attnets""
# 🐞 Bug Report

Hello, the following p2p error makes the logs unreadable.

### Description

[code]

### Has this worked before in a previous version?

Yes.

## 🔬 Minimal Reproduction

Seeing this on all my Schlesi and Witti nodes.

## 🔥 Error

![Screenshot at 2020-05-20 12-10-13](https://user-images.githubusercontent.com/58883403/82434295-f2585780-9a92-11ea-9c24-7ebfd5871260.png)

It would be nice

[2020-05-20 12:07] nisdas commented on #5924
@q9f Can you pull in the latest ? The fix was just merged in today #5917. I am closing this now, if you still see it please reopen the issue.

[2020-05-20 12:07] #5924 closed

[2020-05-20 12:18] q9f commented on #5924
Right, thanks!

[2020-05-20 13:53] rauljordan commented on #5918
@terencechain that would be really hard if we tried to amend our current blocks endpoint to return ssz. You mean adding a new debug endpoint called debug/blocks that returns [][]byte ?

[2020-05-20 13:53] rauljordan commented on #5918
Would like to hear if there is a strong use case for it or required for the purposes of debugging

[2020-05-20 13:56] terencechain commented on #5918
For less UX friction, I think it has be a separate end point. Use case is to rerun state transition. Having ssz state is not enough without ssz block to rerun the state transition to debug consensus issues

[2020-05-20 15:28] terencechain commented on #5912
Addressed in #5913

[2020-05-20 15:28] #5912 closed

[2020-05-20 16:22] peterskyk opened #5929 "how can I delete Validator"
Hello i have accidentally created second validator with the help of this command: ./prysm.sh validator accounts create. How to delete a single account - thanks

[2020-05-20 16:31] alonmuroch commented on #5680
@prestonvanloon e2e passes on my end

[2020-05-20 16:37] nisdas commented on #5885
This is specifically in stategen, when we have a long period without finality. We regenerate a forked branch on receiving a new block; ex: 1000 blocks back, it seems that occasionally we regenerate incorrectly and have an unexpected proposer index from the state. This could most likely be from the proposer cache, with us saving the proposer index from another forked branch or some other dirty entr

[2020-05-20 16:48] nisdas commented on #5864
Most of the issues with kademlia are to do in the networking layer, with it continuously dialing private addresses and unroutable peers. Kademlia also does not have a way to throttle active discovery, which can cause it to continously dial new peers. Some users have also reported on their routers being overwhelmed due to large amount of connections constantly being opened from it. cc @terencechain

[2020-05-20 17:06] prestonvanloon commented on #5864
Sounds good to me. I agree that it doesn't have the flexibility that we need.

[2020-05-20 17:47] prestonvanloon commented on #5882
The culprit change is b42cc724c5fb82f9897c395302114ddf9e244f73 by @farazdagi.
The intended behavior works as expected before this commit.

@farazdagi could you take a look please?

[2020-05-20 17:50] prestonvanloon commented on #5882
A temporary workaround would be to use v1.0.0-alpha.6 for generating validator accounts.

[code]

[2020-05-20 17:51] peterskyk commented on #5929
and after start of script there is: INFO validator: Waiting for deposit to be observed by beacon node pubKey=0x951d6xxxxxxx status=UNKNOWN_STATUS

[2020-05-20 18:41] prestonvanloon commented on #5919
Discussed with @protolambda offline.

It is recommended to use the branch "tree3", but it won't be stable until next week at the earliest.
We'll hold off on #5915 as blocked until we can resolve this issue.

[2020-05-20 18:46] #5680 closed

[2020-05-20 18:47] prestonvanloon opened #5933 "ListValidators is returning incorrect / unreliable results"
# 🐞 Bug Report

### Description

Discord discussion
https://discordapp.com/channels/476244492043812875/652609895941799976/712709237033271378

We are seeing a discrepancy between beaconcha.in, beacon.etherscan.io, and prometheus `max(validator_count{state="Active"})`.

Users have also reported that sometimes they receive a particular count of validators and sometimes they receive another count with

[2020-05-20 22:12] terencechain commented on #5922
Closed via #5928

[2020-05-20 22:12] #5922 closed

[2020-05-20 22:30] terencechain opened #5935 "Align to spec v0.12"
This PR tracks to the progress to align Prysm to v.0.12 which is target for multi client testnet and hopefully the very last release for mainnet. The working branch for this is on: https://github.com/prysmaticlabs/prysm/tree/v0.12

## Beacon chain ⛓️
- [x] Adjust INACTIVITY_PENALTY_QUOTIENT to accurately reflect intention (https://github.com/ethereum/eth2.0-specs/pull/1712)
- [x] Rename SigningRoo

[2020-05-20 23:59] CurrencyTycoon commented on #5882
Many thanks.
My workaround was just to create an empty file in the keystore dir of my
choice first:

$ touch ~/.keystore/empty

Anyways, keep up the good work.

On Thu, 21 May 2020, 02:51 Preston Van Loon, <notifications@github.com>
wrote:

[2020-05-21 01:36] #5918 closed

[2020-05-21 03:37] #5901 closed

[2020-05-21 03:37] #5897 closed

[2020-05-21 03:40] terencechain commented on #5603
Deprecating this to favor #5935

[2020-05-21 03:40] #5603 closed

[2020-05-21 04:18] 0xKiwi commented on #5935
I will work on INACTIVITY_PENALTY_QUOTIENT changes, renaming PERSISTENT_COMMITTEE_PERIOD, modifying MAX_ATTESTER_SLASHINGS and disallowing empty bits in attestations.

[2020-05-21 04:33] terencechain opened #5937 "Saving of archived index can be skipped"
# Feature

### Description
New state management has one deficiency. During migration, if the archived slot happens to have a skip block, then that archived slot will not have any state saved. In the following example, assume 32 slots configured as archived slot interval:
[code]

What will be ideal:
[code]

[2020-05-21 12:38] #5929 closed

[2020-05-21 14:50] terencechain commented on #5935
@rauljordan is taking on 1780

[2020-05-21 15:37] terencechain commented on #5935
Taking 1712

[2020-05-21 15:44] terencechain commented on #5935
Taking 1740

[2020-05-21 16:03] terencechain commented on #5935
Taking 1830

[2020-05-21 17:49] terencechain commented on #5935
Taking 1742

[2020-05-21 18:47] terencechain commented on #5935
Last one before I take a break.  Taking 1755

[2020-05-22 01:15] #5937 closed

[2020-05-22 11:00] #5882 closed

[2020-05-22 15:04] GuillaumeMiralles opened #5956 "Add a warning when the --rpc-port is already taken"
# 🚀 Feature Request

### Description

When a user start his node, he doesn't know either the `--rpc-port` is already taken or not by another program. Which result by the validator that can't connect to it, and need some investigation to found out why is it

### Describe the solution you'd like

The user launch the node process, then at the start we could see either the `--rpc-port` is already take

[2020-05-22 15:09] GuillaumeMiralles commented on #5907
I have seen another user having the exact same issue on discord
This 2 screenshots show the balance swaping with each other in the validator log
![image](https://user-images.githubusercontent.com/23481418/82681961-caadee80-9c4e-11ea-84af-8a9939e6ae31.png)
![image](https://user-images.githubusercontent.com/23481418/82682049-ed400780-9c4e-11ea-815c-37315cd331a7.png)

Here is the result in grafana

!

[2020-05-22 15:20] GuillaumeMiralles commented on #5933
I believe that this issue is somehow related with #5907

[2020-05-22 15:33] rauljordan opened #5957 "Unskip E2E For v0.12"
Currently, v0.12 has troubles with e2e due to non-trivial changes to the way eth1 block handling works. This issue tracks the resolution of e2e for v0.12, which will be skipped for now.

[2020-05-22 17:44] terencechain opened #5961 "Reduce head state copy for attester and aggregator"
# 🚀 Feature Request

Local memory for 4k validators slowly grow:
![Screen Shot 2020-05-22 at 10 39 08 AM](https://user-images.githubusercontent.com/21316537/82694670-869ff700-9c18-11ea-9073-72a7ff5efb74.png)

From profiling heap, one weakness is the amount of head state copy in RPC to service attester and aggregator:
<img width="1644" alt="Screen Shot 2020-05-21 at 8 27 08 PM" src="https://user-im

[2020-05-22 18:34] rauljordan commented on #5935
We never had an interop network config, so this is done `Remove interop from p2p spec (ethereum/eth2.0-specs#1767)`

[2020-05-22 21:11] rauljordan commented on #5935
@nisdas for 1800, a bit confused about whether or not we implement what it specifies. It seems like we do all the pieces, I'm just unsure about this part https://github.com/ethereum/eth2.0-specs/pull/1800/files#diff-2e616bac0161143d97e596d333a60561R423. Lmk if you can take a look

[2020-05-23 14:17] LarsHolte commented on #5907
Installed a new beacon node on Ubuntu 20.04 and started it with the prysm.sh script running alpha.8 git commit: f831a799c5a9133c8e3bdc396996ca98b6324b6e. Built at: 2020-05-14 01:18:22+00:00

After pointing the existing validator still running as a docker on WSL2 with the git commit 62b617fa9a640f45f33e629f58333302ad25d7be. Built at: 2020-05-19 05:16:53+00:00 to the new beacon node, the validator_b

[2020-05-23 16:38] ambwembwe opened #5967 "INFO validator: Waiting to be assigned activation epoch positionInActivationQueue=2623 pubKey=0x953167d9252f status=PENDING"
Hi

Its been over 10hrs and it does not look like my node is activated. I am just curious whether I should wait it out or redo the process given the message below

 INFO validator: Waiting to be assigned activation epoch positionInActivationQueue=2623 pubKey=0x953167d9252f status=PENDING

# 💎 Issue

### Background

 Context and background information on the discussion...

### Description

[2020-05-23 19:10] prestonvanloon commented on #5967
Based on the log you provided, there are nearly 2700 validators in the queue before you. Given that only 4 per epoch can be activated (900 per day), you can expect to wait about 3 more days from the time of that log.

Does that answer your question?

[2020-05-23 19:58] ambwembwe commented on #5967
Thanks I can wait just wanted to confirm that I have not missed a step or
anything.

On Sat, May 23, 2020 at 3:11 PM Preston Van Loon <notifications@github.com>
wrote:

[2020-05-23 20:01] prestonvanloon commented on #5967
Ok! No problem. Let us know if we can help clarify anything. It might be nice to print the estimated time til activation as well for clarity. If you’d like to file a feature request for that then we can look into it.

[2020-05-23 20:01] #5967 closed

[2020-05-23 21:41] ambwembwe commented on #5967
that could a good feature to have but i know a lot about backlogs I am sure there other pressing issues.

Thanks

[2020-05-24 19:08] Buttaa opened #5970 "Req: Add a list of Eth1 sync types that are required for the beaconnode to docs"
A list of Eth1 client implementations (geth, parity, nethermind, etc.) and their sync types that are required to connect a beaconnode to.
Maybe Eth1 teams can optimize these sync types even more then & users can test their hardware :)

[2020-05-24 20:58] Phistr90 opened #5972 "Beacon node panic crash with segmentation violation"
# 🐞 Bug Report

### Description

My beacon node crashed last night.

### Has this worked before in a previous version?

Never had that crash before.

## 🔬 Minimal Reproduction

Dont know how to reproduce.

## 🔥 Error

Stack trace starts with output below, please find the complete log here:
[stacktrace.log](https://github.com/prysmaticlabs/prysm/files/4674398/stacktrace.log)
<pre><code>
fatal error

[2020-05-25 06:10] nisdas commented on #5970
After #5826 is resolved, we should be able to support all eth1 clients. @Buttaa
We would only require them to support a http rpc endpoint and for them to have stored
historical blocks and logs. I am pretty sure all clients would have a permanent record of chain history. An archival node isn't required for Prysm

[2020-05-25 09:02] Buttaa commented on #5970
@nisdas

Geth has a few types..
full, fast, light, warp, leaf, snap(?), beam(?)

Not sure about the others. The idea is to run the viable ones along the testnet and check hardware usage. It would be wrong to test this a few days before the official launch.

[2020-05-25 12:43] ppratscher opened #5976 "Block is invalid error during initial sync"
# 🐞 Bug Report

### Description
During a full sync with the new state management enabled we often get the following error which causes the sync process to stall:
[code]

It continues to sync a few blocks but the error appears for some successive blocks. Also it causes the sync process to stall for quite some time.

Tested on latest master.

[2020-05-25 13:46] farazdagi commented on #5976
Does it stall the process forever, or it eventually continues to sync? That's I am trying to understand whether we have some inefficiency here, or an infinite loop.

Also, do you run with `--dev` flag or just `--enable-new-state-mgmt`? When using `--dev` it should rely on optimized fetching routine as well (weighted round robin, with better bandwidth utilization).

[2020-05-25 13:50] ppratscher commented on #5976
Eventually we restarted the prysm node and at some point it started to sync properly again. We are currently running it only with the `--enable-new-state-mgmt` flag but will re-try it with the `--dev` flag during our next sync tomorrow.

[2020-05-25 13:57] ppratscher commented on #5851
Just tried a full resync again on latest master with `--enable-new-state-mgmt` and exporting historic data continues to be very slow. Currently using the new state management is not really an option for our explorer because of that.

[2020-05-25 13:58] terencechain commented on #5976
Are you by chance running v0.12 branch to sync with Topaz testnet? I've made the same mistake just now and reproduced the exact same error:

[2020-05-25 06:57:11]  INFO initial-sync: Block is invalid error=parent root 0xd9f658528376936f7e923bcaf948e59e6a8e0c6598dad81f715e61ac9a9b6446 does not match the latest block header signing root in state 0x5e43c48bdf736db64caf3b348132a5b4128b9244727f3182e2ed

[2020-05-25 14:33] alonmuroch commented on #5826
@prestonvanloon I might be able to help.
The gist of it is to remove any dependency for eth 1 web socket + flags?

[2020-05-25 15:18] terencechain commented on #5972
Looking at the trace log, this looks libp2p swarm related. Tentatively assigning to @nisdas, feel free unassign if it's not appropriate

[2020-05-25 15:19] terencechain commented on #5970
Blocked by #5826

[2020-05-25 15:20] terencechain commented on #5956
Thanks for opening this. It's a good first issue

[2020-05-25 15:22] terencechain commented on #5919
This issue needs an owner. Tentatively assigning to Preston. Feel free to unassign if it's not appropriate

[2020-05-25 15:54] terencechain opened #5979 "GetDuties's P90 is >2s"
# 🐞 Bug Report

### Description
Captured in cluster set up, `GetDuties`'s P90 is > 2s. That's too long and explains some of these context timeout issues seen on the validators side
![Screen Shot 2020-05-25 at 8 36 38 AM](https://user-images.githubusercontent.com/21316537/82828129-41243980-9e65-11ea-9289-f938be363ec7.png)

[2020-05-25 15:57] terencechain opened #5980 "GetBlock's P50 is >2s"
# 🐞 Bug Report

### Description
GetBlock's P50 is > 2s and P90 is >8s. This explains some validators context timeout and reporting not as profitable as others. As we know, the main bottleneck for `GetBlock` is attestation aggregation. @farazdagi has started looking into aggregation optimizations

![Screen Shot 2020-05-25 at 8 36 24 AM](https://user-images.githubusercontent.com/21316537/82828221-6a

[2020-05-25 16:15] rauljordan opened #5981 "Enforce Max SSZ Size Checks on Raw P2P Request/Response Data"
# 💎 Issue

### Background

Part of #5935, there is now a recommendation to enforce max size SSZ bounds for data received via p2p. Although this is not required for the testnet restart, we would need to look into this before mainnet or include this before the coordinated multiclient launch.

A resolution for this issue would be to precompute the max possible sizes of items such as blocks and check

[2020-05-25 16:48] ppratscher commented on #5976
No, I am running the latest docker image: `gcr.io/prysmaticlabs/prysm/beacon-chain:latest`

[2020-05-25 21:04] rauljordan opened #5986 "Kaspersky Antivirus Is Preventing Prysm's Internet Connection on Windows"
# 🐞 Bug Report

### Description

A user running Prysm on windows was getting the error `ERROR: prysm requires an internet connection` when running Kaspersky antivirus on a windows machine. The user confirmed the error went away and was able to sync after temporarily disabling.

### Resolution

Amend the `ERROR: prysm requires an internet connection` to instead say `ERROR: Prysm requires an interne

[2020-05-25 22:36] raphpa commented on #5986
This is a problem with curl not being able to pull the certificate revocation list as Kaspersky Internet Security intercepts all calls to port 80/443 and several others.
`curl: (35) schannel: next InitializeSecurityContext failed: Unknown error (0x80092012)`

You can circumvent this by calling curl with --ssl-no-revoke

[2020-05-26 00:16] breadchain opened #5989 "Validator Error"
# 🐞 Bug Report

Validator Error

First time user

![111](https://user-images.githubusercontent.com/65928769/82848936-b1fa3e80-9ec3-11ea-96f1-e6ec2cedc90f.jpg)

## 🌍  Your Environment

**Operating System:**

Windows 10 Home
Intel i5-8250U CPU @1.60GHz 1.80 GHz
8.00 GB Ram
64 bit operating system
**What version of Prysm are you running? (Which release)**

Prysm V1 alpha 8
**Anything else relevant (v

[2020-05-26 00:48] Jwdev-wr opened #5990 "503 Error, and genesis time not set on fresh beaconchain setup"
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...
When first starting up the beacon chain using --clear-db I was getting a repeating error with 503 error, and warning for genesis time not set. It would get some data from the PoW chain, and then drop back into error repeating and so on.. Seemed possibly related to peers.

It eventually will get through to processin

[2020-05-26 00:59] terencechain commented on #5989
@breadchain does the error persist?

[2020-05-26 01:01] breadchain commented on #5989
@terencechain it does.  Restarting beacon chain and validator does not seem to fix.

[2020-05-26 01:30] terencechain opened #5992 "Add forkchoice debug endpoint"
# 🚀 Feature Request

Chatting with @protolambda, we both think it'd be really useful to add a fork choice debug end point for Prysm beacon node. In the event of a fork, this could serve as powerful debugging tool to figure out why/how the fork occurred.

Light house already has a nice scheme defined that we can follow:
https://lighthouse-book.sigmaprime.io/http/advanced.html#advancedfork_choice

[2020-05-26 05:33] ppratscher commented on #5851
Did a new resync today with the latest master with `--enable-new-state-mgmt`. Most rpc calls seem to be performing well for historic data, except the ListValidatorBalances call:
[code]

[2020-05-26 06:17] ppratscher commented on #5851
We did now a full test run of all rpc apis we use. The results are as follows:

[code]

From what we can see `validators/assignments`, `validators/participation`, `beacon/committees` and `validators/balances` are slow.

[2020-05-26 06:25] ppratscher opened #5993 "Bind service endpoints to localhost by default"
# 💎 Issue

Currently Prysm by default binds the gRPC, JSON-RPC and monitor endpoints to all available interfaces (0.0.0.0). This might cause those services to be exposed to the internet if no appropriate firewall rules are in place.

In order to decrease the available attack surface of the client those services should bind only to localhost by default. For docker based deployments where binding to

[2020-05-26 17:42] terencechain opened #6000 "Make historical state regen in the background"
# 🚀 Feature Request

### Description
Currently to toggle `enable-new-state-mgmt` and without the usage of `skip-regen-historical-states`, the node will regen all the states from genesis to latest head. This is a blocking call, it takes longer as the chain progresses. A better solution is to not block and and make historical regen happen in the background and throttle it

[2020-05-26 21:36] protolambda opened #6001 "Witti genesis Status exchange: finalized root should be zeroed"
# 🐞 Bug Report

### Description

The finalized-checkpoint in the genesis state has a zeroed root, so the Status should have a zeroed root too. However, Prysm used the actual block-root, equal to the head, and seems to ban others with a different finalized root. Lighthouse correctly follows the spec, but gets banned by the Prysm nodes because of this.

### Has this worked before in a previous versi

[2020-05-26 23:24] #5992 closed

[2020-05-27 00:09] gnattishness opened #6005 "Bazel dependency rule for Prysm"
# 🚀 Feature Request

### Description

Implement a solution for external bazel projects to easily depend on Prysm.

Currently, this requires the external developer to copy the majority of Prysm's `WORKSPACE` into their own and update it whenever Prysm's `WORKSPACE` changes.

(This was originally discussed with @prestonvanloon out-of-band, but I've made the issue to track it)

### Describe the solut

[2020-05-27 00:43] prestonvanloon commented on #6005
I’ll have this done by EOW. Thanks for filing an issue to track it!

[2020-05-27 00:48] nisdas opened #6006 "Return ZeroHash Instead of GenesisBlockRoot"
# 🐞 Bug Report

Currently in pre-genesis we return the genesis block root instead of a zerohash as the
finalized root.

### Description

In pregenesis due to how our `chainservice` is structured, we return the genesis block root
instead of the zerohash as our finalized checkpoint. A workaround was done in witti, to make
a special case for genesis. This issue is to track the resolution of the corre

[2020-05-27 01:52] 0xKiwi commented on #5878
After thorough investigation of what could be going wrong, I believe this issue has been solved by a few changes:
* #5958 no longer starts historical detection (the choking process) on startup, it isn't as important as realtime detection anyways. Better to make realtime detection easier to run.
* #5971 changes `StreamIndexedAttestation` to use the target root to grab that state, which means there

[2020-05-27 02:03] #5878 closed

[2020-05-27 02:10] rauljordan commented on #5638
Done by #5986

[2020-05-27 02:20] rauljordan commented on #5196
Update on this @terencechain ?

[2020-05-27 02:21] nisdas commented on #5196
Hey this is already done in `v0.12`  @rauljordan #5955

[2020-05-27 02:26] nisdas commented on #6006
This is blocked until we have clarification here:
https://github.com/ethereum/eth2.0-specs/issues/1848

[2020-05-27 02:28] rauljordan commented on #5456
@0xKiwi do you know if this is resolved?

[2020-05-27 02:29] #5338 closed

[2020-05-27 02:30] rauljordan commented on #5562
Is this still relevant @terencechain @farazdagi ? Please close if complete

[2020-05-27 02:33] rauljordan commented on #5571
Latest status on this @0xKiwi ?

[2020-05-27 02:36] rauljordan commented on #5763
Please take a look @farazdagi

[2020-05-27 02:45] rauljordan commented on #5808
@shayzluf is this still reproducible?

[2020-05-27 02:49] terencechain commented on #6001
Resolved via #6002 in Witti

The rest is tracked in #6006

[2020-05-27 02:49] #6001 closed

[2020-05-27 02:49] 0xKiwi commented on #5808
I've been able to reproduce it @rauljordan , I've tried investigating but I haven't been able to see the cause.

[2020-05-27 03:04] 0xKiwi commented on #5571
Haven't seen this in a while but nothing has really changed, I feel they arise during times of instability which would point to different committee calculation or something. Still not sure at all.

[2020-05-27 03:04] 0xKiwi commented on #5456
Sorry, assigned myself but forgot. I haven't looked into it, I think the issue still remains.

[2020-05-27 04:33] terencechain commented on #5196
Nishant is right

[2020-05-27 04:33] #5196 closed

[2020-05-27 07:40] handelaar2 opened #6009 "Block api for slot=0 returns whole page instead of single block"
# 🐞 Bug Report

### Description
Using the block api (**eth/v1alpha1/beacon/blocks**) with ?slot=0 returns many blocks instead of 1. Before chainstart (after genesis) it only returned 1 (obviously). With a running chain, it returns a whole page with many blocks instead.

I think it should be possible on a running chain to query slot=0 where it then returns the genesis-block.
Observed this on witti.

[2020-05-27 09:16] farazdagi commented on #5976
@ppratscher can you please try with the latest `master`? Ideally, with and without `--dev` flag. Thank you for your help!

[2020-05-27 12:35] ppratscher commented on #5976
Tried with latest master with the `--dev` flag without encountering the error, will try without the flag next.

[2020-05-27 15:26] rauljordan opened #6011 "Update All Dependencies With Ample Time Before Mainnet"
# 💎 Issue

### Background

It is important to ensure our dependencies are up to date for Prysm before we go live in mainnet. We have been putting off the updates to our deps for a long time as it is not an easy process. Opening up this issue for tracking and visibility.

[2020-05-27 16:07] #5935 closed

[2020-05-27 16:38] terencechain commented on #5562
still exists

[2020-05-27 17:29] cyber-hokie commented on #5990
I am running into the same "genesis time is not set" issue on latest, alpha.8 (7be8942079c4ae6c0f83efce304fc390576e4cb1)

**Backstory:** I was running alpha.5 (commit: 95f1676d5f9b66d079f67a6206ca075dd633165a) (sorry, lazy node runner here) without issue up until late last night when it began throwing goodbye messages/stream errors and being unable to connect to peers.  I decided to pull the lates

[2020-05-27 17:31] prestonvanloon commented on #5990
@terencechain can you please triage or investigate. This might be a potential blocker for alpha.9

[2020-05-27 17:34] prestonvanloon commented on #5989
@terencechain can you please investigate and triage?

[2020-05-27 17:39] prestonvanloon commented on #5972
@terencechain where do you see this is swarm related?

From the log, I see this failing to allocate memory when saving a state to the database.

[code]

@Phistr90 can you tell us more about your system? Were you running low on RAM, swap, or disk space at the time of the error?

[2020-05-27 17:40] terencechain commented on #5990
I was able to reproduce the same issue with a `clear-db`, it eventually converges to work. This is likely due to flakey goreil node hosted by prysmatic labs. I highest recommend stakers to run their own eth1 node

[code]

I personally don't think this is a release blocker. Also cc @nisdas and @rauljordan for inputs. They more experiences in this field.

[2020-05-27 17:42] cyber-hokie commented on #5990
Tried rebuilding beacon-node container using docker pull gcr.io/prysmaticlabs/prysm/beacon-chain:HEAD-f831a7 per Stefan's instructions on Discord which reverted me to alpha.8 stable (f831a799c5a9133c8e3bdc396996ca98b6324b6e). Did not appear to remedy the issue:

[2020-05-27 17:44] terencechain commented on #5989
This is such a rare incident which leads me to believe users have either
1.) local clock offset
2.) not enough cpu compute
alpha9 has lots of good improvements in that front, I'm going to put `Need-info` and let user respond both 1 and 2 are indeed good from their side, then try alpha9 to see if it's resolved

[2020-05-27 17:46] prestonvanloon commented on #5990
So one of the prylabs eth1 nodes is out of sync?
This issue should still resolve itself in the event that the eth1 node is out of sync and then becomes in sync again.

Maybe not a release blocker for alpha.9 but seems like a v1 blocking bug to me until we can gracefully recover from out of sync eth1 node

[2020-05-27 17:49] terencechain commented on #5990
I agree

[2020-05-27 18:34] rkapka commented on #5638
@rauljordan This feature is not done yet. Please see my comment with the list of operations to implement.

[2020-05-27 19:01] breadchain commented on #5989
![1](https://user-images.githubusercontent.com/65928769/83061363-d9b7e680-a02a-11ea-817d-629d82f5ce2e.jpg)

Looks like it was the local clock.  Looks to be running well now

[2020-05-27 22:06] 0xKiwi opened #6017 "Panic from minio/sha256 in beacon chain node"
Running Prysm, after block 282339 my beacon chain node panicked with the following [error logs](https://cdn.discordapp.com/attachments/550365651118850081/715088631383195700/message.txt) (very long)

[code]

Ubuntu Linux, commit hash is 5afee4ba

[2020-05-28 00:54] terencechain commented on #5961
Started to look into this. I think there's seriously gain we can achieve. Imagine all the highlighted flame goes away (2GB). Depends on how many validators the beacon node services. This will reduce state copy from `assigned_committees_count` to `1` every slot.

<img width="1717" alt="Screen Shot 2020-05-26 at 7 11 09 AM" src="https://user-images.githubusercontent.com/21316537/83085595-46d67680-a0

[2020-05-28 01:10] Phistr90 commented on #5972
@prestonvanloon Shouldnt be the case, I ran only the beacon node and validator client on my intel nuc8i7hvk with 16gb and plenty of ssd space.

[2020-05-28 01:44] rauljordan commented on #6009
Hi @handelaar2 this is not the right usage of the API. If you want the genesis block, you need to do `"http://localhost:4001/eth/v1alpha1/beacon/blocks?genesis=true"`. Please see the usage in https://api.prylabs.network/#/BeaconChain/ListBlocks

[2020-05-28 01:44] #6009 closed

[2020-05-28 01:48] rauljordan commented on #5721
@raulvk we would love your feedback on this. How would you recommend tracking message propagation metadata such as hops using libp2p's options?

[2020-05-28 02:10] nisdas commented on #5721
Libp2p pubsub does support tracing, so if we do desire we can trace events. Ex:
https://github.com/libp2p/go-libp2p-pubsub/blob/master/pubsub.go#L375

[2020-05-28 02:42] nisdas commented on #5990
This doesn't really have to do with powchain but rpc, a peer is pinging @cyber-hokie @Jwdev-wr before they have reached genesis. So that is why the error comes about, its a mostly cosmetic error but I will try to get this fixed soon. Its not really a blocker for release

[2020-05-28 02:52] nisdas commented on #5990
This should be fixed by #6020 , we can add that to our next release.

[2020-05-28 05:39] #5990 closed

[2020-05-28 07:03] raphpa commented on #5986
Sorry, I was a bit unclear on that.
In the scripts you would have to add `--ssl-no-revoke` to every single curl call.

[2020-05-28 08:30] hwwhww opened #6022 "Support EIP-2335: BLS12-381 Keystore"
# 🚀 Feature Request

### Description

It would be nice if all Eth2 clients use the same keystore format ✨
[EIP-2335](https://eips.ethereum.org/EIPS/eip-2335) defines a common BLS12-381 keystore format.

### Describe the solution you'd like

It seems there are some field name differences between the current Prysm keystore and the EIP, e.g., `publickey` and `pubkey`, `id` and `uuid`.

[2020-05-28 08:48] mcdee commented on #6022
Prysm's `wallet` keymanager is EIP-2335 compliant.

[2020-05-28 10:00] #5986 closed

[2020-05-28 10:12] hwwhww commented on #6022
@mcdee
Thanks for the reply! I found that the wallet generated by `ethdo` is EIP-2335 format, but the keystore file that created by `./prysm.sh validator accounts create` command seems a bit different? I got `validatorprivatekey960081f09ef8` json file:

[code]

[2020-05-28 10:24] mcdee commented on #6022
Yeah, prysm has multiple ways of accessing keys.  The one you showed above is in the Ethereum 1 keystore v3 format (the `keystore` keymanager).

[2020-05-28 10:46] hwwhww commented on #6022
@mcdee
Is that correct to say Prysm can read EIP-2335 keystore file as well, and also we can output EIP-2335 format keystore during account creation with some flags?

[2020-05-28 10:49] mcdee commented on #6022
Read it, yes.  There is no way to create EIP-2335 format keystores in prysm itself; people generally use `ethdo` to create such accounts.

[2020-05-28 10:55] farazdagi opened #6024 "Feature Flag Tracking: enableInitSyncWeightedRoundRobin"
# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):
Opt-out

**Opt-in feature flag name**:
`enableInitSyncWeightedRoundRobin`

**Opt-out feature flag name**:
`disableInitSyncWeightedRoundRobin`

### Feature Description

- Enables weighted round robin fetching optimization (when fetching is done from a single peer having maximum capacity of the rate limit)

### Tasks

- [x] Feature flag c

[2020-05-28 17:33] #5961 closed

[2020-05-28 18:54] rauljordan commented on #5956
The beacon node already logs the ERROR if the port is already taken @GuillaumeMiralles:

Tried this: example/main.go
[code]

Latest master branch, `bazel run //beacon-chain:beacon-chain`, received:
[code]
Let us know if this doesn't resolve your issue and we can reopen - thanks!

[2020-05-28 18:54] #5956 closed

[2020-05-28 18:57] rauljordan commented on #6017
@0xKiwi this is something we should bring to the minio sha256 repo, they might need to know your Go version and maybe more of a stack trace. I've seen this one before and seems like a bug in their repo.

[2020-05-28 19:02] GuillaumeMiralles commented on #5956
@rauljordan that's weird. A user told me he haven't seen anything. Another one tested it too and didn't see anything. I'm gonna try that too a bit later

[2020-05-28 19:21] rauljordan commented on #5360
Thinkin about this more - perhaps blocks validator duties requests coming via RPC can update some metric with the validator indices that belong to Prysm. Maybe it can be done as part of the validator performance RPC call?

[2020-05-28 19:22] rauljordan commented on #5360
Actually just saw you mentioned "internal" vs external validators, so seems like it would have to be something not included in our codebase, but rather an external tool

[2020-05-28 19:56] prestonvanloon commented on #5972
@Phistr90 thanks for confirming. It seems unlikely, but wanted to rule that out.

[2020-05-28 21:07] terencechain commented on #5360
Let's move this discussion to the external tool's repo

[2020-05-28 21:07] #5360 closed

[2020-05-28 21:49] rauljordan commented on #5660
Done by https://github.com/prysmaticlabs/documentation/pull/131

[2020-05-28 22:16] terencechain opened #6029 "`IntersectionUint64`, `IntersectionInt64`, `IntersectionByteSlices` return union if more than 2 slices are provided"
# 🐞 Bug Report

### Description

Pointed out by the Quantstamp team, the current function to return an intersection of input slices fails to return the intersection. Instead, it returns the union: https://play.golang.org/p/ewIKeH0sNoR

It works with two slices. But no more than that.

Implementation: https://github.com/prysmaticlabs/prysm/blob/master/shared/sliceutil/slice.go#L36

[2020-05-28 22:53] kbak commented on #6029
same bug occurs in `IntersectionInt64()`

[2020-05-28 22:56] nisdas commented on #6022
@rauljordan Why was this closed ?

[2020-05-28 23:15] kbak commented on #6029
also in `IntersectionByteSlices()`, see https://play.golang.org/p/IcxaciB5YbL

[2020-05-29 01:23] nisdas opened #6032 "Use Proper Security Fallback"
# 🐞 Bug Report

Currently we have updated our v0.12 branch to the latest libp2p deps to support the new gossipsub. However, it was brought up by the quantstamp team that the security fallback of TLS has been added for the default option.

### Description

This issue is to track the resolution of this to instead only use noise with secio as the fallback.

### Has this worked before in a previous ve

[2020-05-29 04:04] rauljordan opened #6034 "Bug in DB deleteValueForIndices"
# 🐞 Bug Report

### Description

Thanks to the Quantstamp team for finding this:

A proper PR would identify the problem by reproducing via a unit test and resolving with a regression test.

[2020-05-29 05:46] krasi-georgiev opened #6035 "As a golang developer I would like to just run go build"
A newcomer to the project expecting to just run `go build` and use some makefile, I am facing a full-blown bezel setup here. Wondering if you could provide some instructions on how to build it without bazel or explain what does the normal go build workflow is missing that bazel solves?

The main reason why I want to be able to run just `go build` is debugging. I normally run a debugger when trying

[2020-05-29 06:03] prestonvanloon commented on #6005
This is in progress, should have a PR ready soon.

[2020-05-29 06:12] prestonvanloon commented on #5130
I think we mentioned this at one point, but we’re refactoring dependencies to be a star lark rule that can be called in a downstream project. Follow #6005 if you were interested

[2020-05-29 07:06] handelaar2 opened #6036 "Invalid deposit shows as DEPOSITED in witti"
# 🐞 Bug Report

### Description
This issue captures a discussion on the #witti channel. User virus-in-numeris made a deposit which turned out to be created without the witti flag. This means with an invalid signature for the witti chain due to the different fork-versions

Link to deposit
https://goerli.etherscan.io/tx/0x49a51b838523c08fcc4e9dccca65a8a9d9153e58be4358a3d16bb7c979239df6

In the valid

[2020-05-29 07:22] peterbitfly opened #6037 "Witti node falls out of sync"
Hello,

today one of our witti nodes (latest witti docker image) stopped syncing. Please see the timestamped node log output below:

[code]

[2020-05-29 09:03] farazdagi commented on #6037
Thanks for reporting, do you happen to have a bit more logs? The thing is - according to logs, node fall behind peers, and initial sync was triggered, but it is not clear whether init-sync was capable to catch up and thus restore node's state, or node stayed unsynced and unable to proceed.

[2020-05-29 09:08] ppratscher commented on #6037
Unfortunately we don't have any more log data available. After the node went out of sync the log output eventually stopped for a few hours until we restarted the node. The log message at 2020-05-29 03:59:27 is the last one the node did produce.

[2020-05-29 09:12] farazdagi commented on #6037
Ok, thank you. Pretty strange, will try to investigate further with the info we have in an attempt to re-produce.

[2020-05-29 09:26] farazdagi opened #6038 "Possible overflow in sync/pending_blocks_queue"
# 🐞 Bug Report

### Description
Quantstamp reported:

Since slots are `uint64` everywhere, to prevent possible overflow, and for consistency - we should return `[]uint64` from the method. Add corresponding test.

**NB: Take the opportunity and review the code for integer overflows all over the place.**

## 🔥 Error

Possible overflow.

[2020-05-29 10:21] handelaar2 opened #6040 "Slasher crashed: fatal error: concurrent map read and map write"
# 🐞 Bug Report

### Description
Ran into a fatal error while using the slasher on the witti chain.
In fact I wanted to start fresh and so I deleted the slasher.db. Then restarted my slasher using:
`/home/ubuntu/prysm/bazel-bin/slasher/linux_amd64_stripped/slasher \
--datadir="/home/ubuntu/.eth2/witti" \
--verbosity=trace \
--enable-historical-detection=true `

Beacon continues to run with these re

[2020-05-29 10:44] prestonvanloon commented on #5826
@alonmuroch yes exactly. There is some functionality that needs to be rewritten. I wouldn't call this a trivial issue, but seems like something you could do. Let me know if I can assign to you

[2020-05-29 11:55] nisdas opened #6043 "Add Peer Scorer To Gossipsub Router"
# 💎 Issue

Add Peer Score Option with Parameters to Gossipsub

### Background

Currently we have updated our version of gossipsub to v0.12, however we haven't been able to use any of the new peer scoring mechanics that have been introduced.

### Description

Currently the Gossipsub router doesn't support adding in the peer score handler for newly added topics. This makes peer scoring non-achievabl

[2020-05-29 13:50] #6038 closed

[2020-05-29 14:16] terencechain commented on #5851
@ppratscher expected, the default slots per archived point is 2048 slots which is not suited for beacon block explorer use cases. I recommend setting `--slots-per-archived-point` to 32

[2020-05-29 15:15] farazdagi commented on #6024
From discord:

With our updated algo (where batch is read from a single peer) it makes sense to throw away whole batch of data on the first invalid block (as all the data in batch is from the very same peer). So, whenever this flag will be released - create corresponding issue to handle this.

[2020-05-29 17:57] lpassos opened #6049 "Potential integer overflow cases"
# 🐞 Bug Report

### Description

 Following issue #6038, other places in code are also subject to integer overflow.

Quantstamp reported:

(1) beacon-chain/rpc/validator/proposer.go: On L324, `BeaconConfig().MaxDeposits` is a `uint64`, but it is casted to `int`; (2) beacon-chain/rpc/validator/proposer.go (L296), beacon-chain/core/state/state.go (L81, L86),  beacon-chain/powchain/service.go (L175):

[2020-05-29 19:10] rauljordan opened #6051 "Warn Users They Are Using Our Hosted ETH1 Nodes"
# 🚀 Feature Request

### Description

Currently, prysm beacon nodes utilize our goerli ETH1 nodes by default, which can often times go down, leading to consequences for users. We should start encouraging people to find their own solutions to running ETH1 nodes in the spirit of decentralization, along with instructions on how to do so in prysm.

### Describe the solution you'd like

We should add a

[2020-05-29 20:00] rauljordan opened #6052 "🐙 Prysm Codebase Community Feedback Tracking 🐙"
# 💎 Tracking Issue

### Background

Yesterday, we ran a [survey](https://forms.gle/djKwoCCQH8XK673j7) specifically targeting the Prysm community and contributors to let us know how they feel about the project. We received some high quality submissions and had a section where users could tell us how they feel about the docs. Here are the paraphrased, actionable responses:

🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙🐙

[2020-05-29 20:04] terencechain commented on #6052
I'll take on `The blockchain package needs to be much simpler and have fewer interfaces.`

[2020-05-29 21:43] #5533 closed

[2020-05-30 11:49] lpfloyd commented on #6051
Hi. I would like to work on this if that's okay :)
I'm pretty new here and love the Ethereum community so I love you guys too haha

[2020-05-30 21:36] prestonvanloon commented on #6035
Thanks for the feedback @krasi-georgiev. We're working on making Prysm work for local builds without Bazel (#6053) and we're looking to add documentation around Why Bazel? See https://github.com/prysmaticlabs/documentation/issues/138.

There are a few caveats to using go build for Prysm such as having precompiled c++ archives or pregenerated protobuf bindings. Bazel will always be slower than a `g

[2020-05-31 00:00] prestonvanloon opened #6057 "Goerli is stalled. "eth1 client is not syncing""
# 🐞 Bug Report

### Description

The Goerli PoA Test Network is currently experiencing difficulties producing blocks.

- Warning message: "eth1 client is not syncing"
- No ETH1 transactions can be completed (no deposits, faucet funding, etc)

No new validator deposits will be recognized until Goerli starts producing blocks again and transactions can be included. Other than that, the Topaz and Witt

[2020-05-31 00:03] prestonvanloon commented on #6057
Discussion is happening in gitter: https://gitter.im/goerli/validators

[2020-05-31 00:06] prestonvanloon commented on #6057
Looks like a Goerli chain split. Some sealers will need to restart their nodes. It is the weekend and many sealers are EU based so it could be a few hours before we reach a resolution.

[2020-05-31 01:36] tkstanczak commented on #6057
Goerli is back up

Suggested votes:

Vote Yucong out (almost for sure he will not be signing again)
clique.propose("0x631ae5c534fe7b35aaf5243b54e5ac0cfc44e04c", false)

vote Dapowerplay out (not 100% sure about them but they have been silent for months now)
clique.propose("0xa8e8f14732658e4b51e8711931053a8a69baf2b1", false)

then we can check if Afri will be signing but I assume he will

[2020-05-31 02:20] #6057 closed

[2020-05-31 02:20] prestonvanloon commented on #6057
Closing this as the immediate problem has been resolved. We'll cast those votes later today. Thanks

[2020-05-31 06:44] #6005 closed

[2020-05-31 06:44] #6011 closed

[2020-05-31 06:44] #6035 closed

[2020-05-31 07:27] nisdas opened #6059 "RecoverArchivedPoint Leads To Node Freezing And Eventually Crashing"
# 🐞 Bug Report

If restarting a node with the latest new state management enabled, the node freezes up and crashes.

### Description

The node crashes when applying the new state management whilst skipping historical state regeneration.

### Has this worked before in a previous version?

N.A

## 🔬 Minimal Reproduction

[code]

## 🔥 Error

![memBlowUp](https://user-images.githubusercontent.com/3320

[2020-05-31 10:26] alonmuroch commented on #5826
@prestonvanloon I'll give it a go.
Though it's marked as closed..

[2020-05-31 10:27] alonmuroch commented on #5130
@prestonvanloon I've added something along those lines already
https://github.com/prysmaticlabs/ethereumapis/blob/master/tools/ethereumapi_dependencies.bzl

[2020-05-31 11:21] ScamBuster opened #6060 "Not getting Slot + RAM at 90% Usage while Synching with 30 peers"
Been trying to set up for a few days. Beacon chain seems to be running, and lynching quite fast.
Not receiving the blochchain slot to move to the next step.

Also using 92% of my 8GB ram, so computer is unusable.
Asus i7 win 10 home 64 bit.

Frustrating

[2020-05-31 14:47] terencechain commented on #6059
Thanks for opening this. Do you have the crash log?

[2020-05-31 15:04] nisdas commented on #6059
There wasn't any crash log, it just paused and did nothing after it processed its first batch of blocks and then froze and eventually my whole machine was unusable as there was a large OOM. I had to manually restart it

[2020-05-31 18:16] prestonvanloon opened #6063 "Pending validator count reflects partially deposited validators"
# 🐞 Bug Report

### Description

There seem to be validators which have sent the minimum deposit value (1 ETH). These validators are not eligible for activation and are in a "pending" state. Typically, the "pending" state is understood as being in queue for activation. As such, this UX is causing some confusion for users trying to understand the queue size and their position in queue.

![image](ht

[2020-05-31 18:23] prestonvanloon commented on #6060
@ScamBuster Were there any flags you were using? Which commit / version of Prysm were you using?

[2020-05-31 18:24] prestonvanloon commented on #6059
I had this issue as well. My computer locked up for almost 5 minutes.
I was using `--dev --skip-regen-historical-states` as my only flags and it was unusable.

[2020-05-31 18:54] prestonvanloon commented on #6051
Assigned to @lpfloyd. Thanks for the help!

[2020-06-01 10:28] alonmuroch commented on #5826
@rauljordan @prestonvanloon this issue is still open? should I take a look at it or the PR attached takes care of it?

[2020-06-01 12:23] ScamBuster commented on #6060
Thanks for your response. I have progressed to the GoETH where it seems to be OK.
However, where I say Yes to the 32 ETH, a message comes to the bottom of the screen saying ERROR: recaptcha error.    Tries to right recaprcha icon, but no option. How can this be overcome pls?

[2020-06-01 13:21] lpfloyd commented on #6051
Alright, awesome! I'll get started on this asap.

[2020-06-01 13:35] #6029 closed

[2020-06-01 13:56] rauljordan opened #6068 "gRPC Max Message Size Not Working With gRPC Gateway"
# 🐞 Bug Report

### Description

The --grpc-max-message-size flag seems to be ignored by the grpc gateway, not allowing retrieval of data with a large size

## 🔬 Minimal Reproduction

`curl  "http://localhost:9091/eth/v1alpha1/validators/assignments?epoch=9763&pageSize=100000"`

## 🔥 Error

<pre><code>
{"error":"grpc: received message larger than max (15387750 vs. 4194304)","code":8,"message":"grp

[2020-06-01 14:16] #5933 closed

[2020-06-01 14:34] rauljordan commented on #5310
Hi. @criticaltv would you consider this issue resolved? We do not aim to offer 32 bit architecture support at the moment, unfortunately

[2020-06-01 14:38] rauljordan commented on #5418
#5865 partially helps

[2020-06-01 14:38] rauljordan commented on #5571
We will close this for now unless observed once again

[2020-06-01 14:38] #5571 closed

[2020-06-01 14:50] #5425 closed

[2020-06-01 15:52] #5310 closed

[2020-06-01 16:47] prestonvanloon opened #6070 "GetvalidatorParticipation is reporting inaccurate values"
# 🐞 Bug Report

### Description

![image](https://user-images.githubusercontent.com/7246818/83431551-5876a000-a3ec-11ea-8c59-6a6b6d2a8295.png)

*Prometheus chart from last 30m*

![image](https://user-images.githubusercontent.com/7246818/83431604-6c220680-a3ec-11ea-8a15-c0e5d03aa20f.png)

*beaconcha.in recent epochs*

Beaconcha.in client side implementation:
https://github.com/gobitfly/eth2-beaconc

[2020-06-01 17:09] #5630 closed

[2020-06-01 17:27] prestonvanloon commented on #4507
Related: https://github.com/prysmaticlabs/prysm/issues/5980

[2020-06-01 17:39] rauljordan commented on #6051
Hi @lpfloyd we would recommend this wording:
[code]
This should fire if the user is using the default flags for --web3provider and --http-web3provider

[2020-06-01 18:13] terencechain opened #6072 "Refactor blockchain service package for clarity and add better coverage"
# 💎 Issue

Blockchain service package is a mess. Opening this issue to track improvement plan. Todo:
* Remove `ReceiveBlockNoPubsubForkchoice`.  Fork choice is no longer an expensive process we can remove this interface for simplicity
* Group similar functions together in `ReceiveBlock` path
* Make functions live next to the usages. There's currently `receive_block.go` and `process_block.go` but t

[2020-06-01 18:30] prestonvanloon commented on #5989
Closing based on the most recent comment. Please open again if this issue is not resolved.

[2020-06-01 18:30] #5989 closed

[2020-06-01 18:34] prestonvanloon commented on #5721
Not sure how libp2p pubsub tracing collection works, but we could track the message IDs via opencensus.

[2020-06-01 18:38] ScamBuster commented on #6060
Thanks. Progressed from there, but getting reCAPTCHA error when depositing
GoETH.      Any chance to credit my wallet (Goerli)
0xf17F7B81881f24352C7A3E8B54713F30283fE693

Cheers

On Sun, 31 May 2020 at 19:23, Preston Van Loon <notifications@github.com>
wrote:

--

Anthony Badaloo *dipPFS ACPA*

*Principle*
[image: photo]
at  Church Hill Finance
A  180 Church Hill Road, East Barnet, London EN4 8PP

[2020-06-01 18:58] prestonvanloon commented on #6032
Tentatively adding to v0.12 milestone. Is this a difficult feature to add?

[2020-06-01 19:00] #6034 closed

[2020-06-01 19:20] prestonvanloon commented on #6040
@shayzluf and @0xKiwi please take a look at this issue

[2020-06-01 19:28] prestonvanloon commented on #5851
@terencechain can you comment on why the archived point is 2048?
Which use case would benefit from that checkpoint threshold?
If 2048 slot checkpoints don't satisfy the needs of typical archival data access, what is the benefit of having these checkpoints on disk?

[2020-06-01 19:40] 0xKiwi commented on #6040
Thank you for reporting @handelaar2, will look into this.

[2020-06-01 19:42] terencechain commented on #5851
2048 was never meant to satisfy archival usages. 2048 was only marketed to satisfy validator usages. 2048 has been preliminary choice for default to follow lighthouse. The value was proposed to the team and many others and no one objected to it:
https://lighthouse-book.sigmaprime.io/advanced_database.html

Although there's still optimizations and improvements. We definitely do not recommend 2048 f

[2020-06-01 20:00] prestonvanloon commented on #5826
@alonmuroch I believe Raul is working on this in #6055.
This turned out to be a high priority item from user feedback on the survey we sent last week.

[2020-06-01 20:26] rauljordan opened #6074 "ssz.HashTreeRoot Yielding Wrong Results for Blocks, Favor blockutil.BlockRoot Everywhere Instead"
# 🐞 Bug Report

### Description

As seen in https://github.com/prysmaticlabs/prysm/pull/6073, ssz.HashTreeRoot is yielding wrong results for important values. Instead, we should encourage using stateutil.BlockRoot everywhere as a solution and deprecate ssz.HashTreeRoot

[2020-06-01 20:26] #6006 closed

[2020-06-01 21:15] prestonvanloon commented on #5851
OK thanks for the insight, maybe we can capture this in the docs page for recommended state checkpoint intervals? What do you think?

[2020-06-01 21:21] prestonvanloon commented on #6060
OK, sent some goerli ETH to that address. I'll go ahead to close this for now since it seems your original issue is resolved. Thanks

[2020-06-01 21:21] #6060 closed

[2020-06-01 21:56] rauljordan commented on #5410
Resolved in v0.12, running in dev testnet

[2020-06-01 21:56] #5410 closed

[2020-06-01 21:56] rauljordan commented on #5372
Resolved in v0.12, now running in dev testnet

[2020-06-01 21:56] #5372 closed

[2020-06-01 21:56] rauljordan commented on #5265
Resolved in v0.12, now running in dev testnet

[2020-06-01 21:56] #5265 closed

[2020-06-01 22:33] rauljordan opened #6076 "Topaz Testnet v0.12.1 Restart"
# 💎 Issue

### Background

We have been successfully running a v0.12 testnet for a while now, with 65536 validators. We are pretty much ready to restart Topaz, which will get us one step closer to mainnet by having the _closest_ possible spec to the real thing. We are aiming to complete this milestone by end of week, and here are the required items to check in to consider this milestone complete:

[2020-06-01 23:15] prestonvanloon opened #6077 "Libp2p updates are causing p2p peering issues in Topaz"
# 🐞 Bug Report

### Description

Something in #6053 has caused an issue where Prysm nodes are unable to peer with external nodes. Earlier today, Prylabs nodes entered an isolated partition after a normal rollout with #6053 included.

### Has this worked before in a previous version?

Rolling back to alpha.9 release has resolved the issue temporarily.

## 🔬 Minimal Reproduction

To be determined...

[2020-06-01 23:48] prestonvanloon commented on #6076
Let's make sure we have resolved everything in this milestone as well: https://github.com/prysmaticlabs/prysm/milestone/10, maybe add that as an action item.

[2020-06-02 03:22] ethers opened #6078 "Default or option to not write withdrawal key pairs to disk"
https://lighthouse-book.sigmaprime.io/key-managment.html#withdrawal-keypairs

[2020-06-02 09:09] nisdas commented on #6077
So the main cause for this is that we updated our kademlia dht library. However our previous version was v0.2.1, while https://github.com/libp2p/go-libp2p-kad-dht/releases/tag/v0.3.0 was a breaking release. And every release after that was also a breaking change. We ultimately updated to v0.8.1, which had many breaking changes along the way. Updating our local nodes to use this, was breaking compa

[2020-06-02 09:39] fengchaojiangithub opened #6079 "测试币怎么领不成功呀"

[2020-06-02 09:40] fengchaojiangithub opened #6080 "交流群"
能不能建一个qq或微信交流群

[2020-06-02 09:49] Buttaa opened #6081 "Mixed paths when using the default options"
# 💎 Issue

Depending on which OS you are, the docs will lead to different paths.

[code]

Discussion:
https://discordapp.com/channels/476244492043812875/476588476393848832/717311627858542612

Focusing on a single OS also leads to different paths. Seems to be a prysm client & docs issue

[2020-06-02 10:24] GuillaumeMiralles commented on #5907
This is happening to myself too now. Until the new release alpha 9 everything was fine, but when I updated my binaries with alpha 9 it started to shuffle my validator balances too.

![image](https://user-images.githubusercontent.com/23481418/83509563-ee352c80-a4cb-11ea-9be8-d12fa9379a80.png)

[2020-06-02 11:04] Tachyonica commented on #5907
I think I have the same issue.  Ubuntu 20, Windows 10, 4 keys plus 30 pending.

<img width="960" alt="Screenshot 2020-06-02 13 01 22" src="https://user-images.githubusercontent.com/45542100/83512959-491d5280-a4d1-11ea-8efd-d334fe3ea19f.png">

[2020-06-02 12:47] lpfloyd commented on #6051
Will do @rauljordan, thanks for the swift notice. This issue seems trivial enough to implement so I don't have any issues understanding it (i think). I'll open up a PR soon enough and get some feedback from you guys :)

However, I'm also taking this time to study some of the other modules as well and may need some help understanding certain things (beyond the scope of this issue) so please bear wi

[2020-06-02 13:10] jerryji commented on #5649
Same error on witti (Ubuntu 18.04, setup follow https://medium.com/@SomerEsat/guide-to-staking-on-ethereum-2-0-ubuntu-prysm-witti-2b972e697918 )

[2020-06-02 13:29] handelaar2 opened #6082 "Slasher add log line: "git commit" on slasher start"
# 🚀 Feature Request

### Description

Both Beacon and Validator have a log entry on start with the "git commit".

example validator:
`2020-06-02 13:22:13]  INFO node: Starting validator node version=Prysm/Git commit: 5fecc350fc5cdb17da5340d224f01342d11bbde1. Built at: 2020-06-02 13:12:16+00:00`

The slasher does not have this during startup.
![2020-06-02_15-25-24](https://user-images.githubusercon

[2020-06-02 13:58] pventuzelo opened #6083 "[bug/fuzzing] "panic: runtime error: slice bounds out of range" when parsing SSZ"
# 🐞 Bug Report

### Description

During fuzzing with [beaconfuzz](https://github.com/sigp/beacon-fuzz), I found the following bug:
- what: a `panic: runtime error: slice bounds out of range`
- where: in `prysm go-ssz` library
- how: triggered during `SSZ` parsing with `ssz.Unmarshal`.

## 🔬 Minimal Reproduction

Install:
[code]

Testing program with `Attestation` parsing:
[code]

Compilation:
[cod

[2020-06-02 14:11] pventuzelo commented on #6083
Additional info (zcli):
[code]

[2020-06-02 15:03] prestonvanloon commented on #6079
Hi @fengchaojiangithub, Could you help provide some details to your issue please?

[2020-06-02 15:05] prestonvanloon commented on #6077
So we can rollback our kad-dht dependency to v0.2.1 until it is removed in #5864?

Do we have any sense for why discv5 performs so poorly behind a NAT or virtual network?

[2020-06-02 15:13] rauljordan commented on #6080
我們所有的團隊溝通和社區拓展都在Discord。你可以在這裡加入https://discord.gg/hmq4y2P

[2020-06-02 15:13] #6080 closed

[2020-06-02 15:30] prestonvanloon commented on #5864
Can we add a FF to disable kad dht? That could be a good way to introduce this change.

[2020-06-02 17:04] prestonvanloon commented on #6006
Based on feedback from https://github.com/ethereum/eth2.0-specs/issues/1848#issuecomment-637678479, zero hash is the correct approach.

[2020-06-02 17:05] terencechain opened #6088 "V0.12 tests are failing"
The branch v0.12 is currently broken due to the following commit:
https://github.com/prysmaticlabs/prysm/pull/5614/commits/3f77bd0dc3ef3fc6a3e49aec95e28c2a365fa92a

This blocks v0.12 moving forward. Tagging original authors to gather inputs on best path forward

[2020-06-02 17:11] lsankar4033 opened #6089 "Running beacon-chain with --interop-genesis-state doesn't allow minimal config"
# 💎 Issue

Right now, running the beacon-chain with --interop-genesis-state assumes an ssz file with field sizes corresponding to mainnet config. I'm using this option to seed a testable prysm client with predictable beacon state for https://github.com/lsankar4033/stethoscope.

This is because the interop cold start code uses https://github.com/prysmaticlabs/prysm/blob/master/proto/beacon/p2p/v1/t

[2020-06-02 17:13] prestonvanloon commented on #6083
We are in the process of deprecating go-ssz in favor of generated ssz methods.

Please prefer `att.UnmarshalSSZ(data)`

https://pkg.go.dev/github.com/prysmaticlabs/ethereumapis/eth/v1alpha1?tab=doc#Attestation.UnmarshalSSZ

We should fix this panic nonetheless. Thanks for reporting

[2020-06-02 17:14] terencechain commented on #6088
Both regular and spec tests are failing.

The failed spec tests:
    --- FAIL: TestBlockProcessingMainnetYaml/duplicate_attester_slashing (0.01s)
    --- FAIL: TestBlockProcessingMainnetYaml/multiple_attester_slashings_no_overlap (0.01s)
    --- FAIL: TestBlockProcessingMainnetYaml/multiple_attester_slashings_partial_overlap (0.01s)

[2020-06-02 19:17] rauljordan commented on #6051
Hi @lpfloyd we'll take care of those docs. Perhaps you can issue the warning log in beacon-chain/node/node.go or beacon-chain/powchain/service.go - either should be ok IMO

[2020-06-02 19:19] rauljordan commented on #6089
Hi @lsankar4033 please see https://gist.github.com/rauljordan/50302db7bb175c713d004cec8be601ea. You will need to run with --define=ssz=minimal for the beacon chain, validator, and the genesis state creation tool

[2020-06-02 19:20] rauljordan commented on #6089
The example in linked gist uses mainnet config, but should be easy to switch if you do `--define=ssz=minimal`

[2020-06-02 19:20] #6089 closed

[2020-06-02 22:03] terencechain commented on #6070
Hard to tell from the Grafana timestamp which epoch aligns to what time. I cross checked the implementations between metrics, rpc server side implementation and client side implementation, and they all seem correct.

The next thing to check is when client calls `GetValidatorParticipation(epoch uint64)` and what epoch does it pass in.  For the metrics, it captures right before processing of the fir

[2020-06-02 22:03] terencechain commented on #6070
cc @ppratscher

[2020-06-02 23:01] #6077 closed

[2020-06-03 01:07] lsankar4033 commented on #6089
forgot about this; this does what i want. sorry for the noise

[2020-06-03 02:11] fengchaojiangithub commented on #6079
Error: recaptcha error

[2020-06-03 02:20] rauljordan commented on #6079
你的Goerli ETH1 address 是什麼？@fengchaojiangithub

[2020-06-03 02:21] fengchaojiangithub commented on #6079
0xCA3b9435C206870fF00D6F17f72F5f0C76866c4d

[2020-06-03 02:21] fengchaojiangithub commented on #6079
麻烦大佬看下

[2020-06-03 02:21] rauljordan commented on #6079
Sent 100 @fengchaojiangithub

[2020-06-03 02:23] fengchaojiangithub commented on #6079
谢谢

[2020-06-03 02:24] fengchaojiangithub commented on #6079
https://prylabs.net/participate   除了这里还有没有稍微详细点的教程呀

[2020-06-03 02:26] rauljordan commented on #6079
除了https://prylabs.net 和 https://docs.prylabs.network 之外，我们还需要使用中文documentation.

看看 https://docs.prylabs.network

[2020-06-03 02:27] fengchaojiangithub commented on #6079
好的
谢谢

[2020-06-03 02:31] #6079 closed

[2020-06-03 08:19] fengchaojiangithub opened #6100 "信标链节点的文档哪里有呀？"
百度搜了下信标链节点，只有介绍，没有文档，请问有人知道哪有安装的文档吗

[2020-06-03 10:11] farazdagi commented on #6100
- Questions should go to our Discord chat (https://discord.gg/pT92pF).
- All our docs are available here: https://docs.prylabs.network/docs/getting-started.html

[2020-06-03 10:11] #6100 closed

[2020-06-03 12:27] slowbart commented on #5907
I am still seeing this issue with alpha.9 docker images.

<img width="1199" alt="Untitled" src="https://user-images.githubusercontent.com/64903918/83636345-2ed69800-a5e9-11ea-8cde-82d724285bf9.png">
<img width="461" alt="image" src="https://user-images.githubusercontent.com/64903918/83636464-5fb6cd00-a5e9-11ea-8492-5192db27c668.png">

[2020-06-03 13:46] terencechain commented on #6088
Resolved. Thanks @rauljordan

[2020-06-03 13:46] #6088 closed

[2020-06-03 13:47] terencechain commented on #6076
Taking on `Save all items to DB as ssz marshaled bytes for efficiency`

[2020-06-03 14:25] #6032 closed

[2020-06-03 15:50] banescusebi opened #6103 "Potential issues due to granularity of timestamps"
# 🐞 Bug Report

### Description

The following requirement in the P2P specification can be violated:
"The block is not from a future slot (with a `MAXIMUM_GOSSIP_CLOCK_DISPARITY` allowance) -- i.e. validate that `signed_beacon_block.message.slot <= current_slot`"

There is an edge case scenario where this condition would be satisfied for a time that is actually in the future. The following is a co

[2020-06-03 16:05] nisdas opened #6104 "Process Deposit Allocates a Large amount of Memory"
# 💎 Issue

Currently in runtime, memory usage for the beacon node can spike up dramatically. This happens whenever we have a block with deposits in them.

### Background

Each block that we receive with deposits is required to be processed in the beacon node. In the event that our head state's validator registry is shared with another state, we will need to copy the whole validator set.

### Descr

[2020-06-03 16:53] rkapka commented on #5638
I have been thinking what other operations might be useful apart from merging ans splitting and here are my proposals:

1. Export - the user specifies a source directory, a target directory and a list of public keys k_1..k_n whose data should be exported from the source directory's database. A new database containing the exported data is created in the target directory.
_Question: Should the expor

[2020-06-03 17:05] rauljordan commented on #5638
Hi @rkapka move seems to be the most requested operation from folks. People wonder how they can perhaps move their keys safely with instructions to other machines or folders. We might not need move if we can implement import and export nicely. Those can perhaps output a zip file, which can be imported by another validator client.

[2020-06-03 17:29] rauljordan commented on #6074
Solved by #6096

[2020-06-03 17:29] #6074 closed

[2020-06-03 17:30] protolambda opened #6106 "Whistleblower index bug (Phase 0 not affected)"
# 🐞 Bug Report

### Description

Whistleblower index can be 0, i.e. the first validator in the registry. Currently it is used as default condition. (since the spec has an optional parameter here).

This does not affect Phase0, as in phase 0 we always default to rewarding the proposer anyway. However, if we decide to change this, or phase 1 comes, it would break consensus.

### Has this worked befo

[2020-06-03 17:54] rauljordan commented on #5801
@rkapka

[2020-06-03 17:55] rkapka commented on #5801
Please assign me to this issue.

[2020-06-03 18:01] protolambda opened #6107 "ComputeCommittee effeciency depends on separated cache fill"
### Description

`ComputeCommittee` in the beacon core helpers package uses a cached array of active validator indices, but the actual shuffling is not cached.
When all active indices are shuffled, you get all the committees for that epoch. No need to re-shuffle only to get the next slice out of the shuffling result.

### Has this worked before in a previous version?

It's not a bug, just an optim

[2020-06-03 18:13] terencechain commented on #6107
I dont think we re-run shuffling for every committee. At least I haven't seen that in a flame in a while. The shuffled version of committee is cached here:

https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/cache/committee.go#L40

[2020-06-03 18:18] protolambda commented on #6107
This is where I think it happens: https://github.com/prysmaticlabs/prysm/blob/80539d9028db7a94db0da64b9ed47fb9393d6773/beacon-chain/core/helpers/committee.go#L140

My estimate is that it costs you about a second per epoch at 30k vals. Likely spread across the usage of the committees. But it scales linearly, so it may become problematic with higher counts. And API users may hit it, if they query mo

[2020-06-03 18:27] protolambda commented on #6107
Great :), but why is it even there then? Just filling the cache when you can, and not having to manage it so closely, is less error prone.

[2020-06-03 18:29] terencechain commented on #6107
I agree on separating the caching layer and the core consensus helper layer! Will use this issue to track that.

[2020-06-03 19:22] terencechain opened #6110 "Fix aggregator to send unaggregated attestation"
Prysm has an incorrect assumption that only `aggregated` attestation can flow in `beacon_aggregate_and_proof` subnet. This assumption has blocked attester from submitting its own unaggregated attestation or aggregator from submitting unaggregated attestation in v0.12. Validators will lose money because of this
[code]

[2020-06-03 19:49] #5649 closed

[2020-06-03 20:03] protolambda opened #6111 "Avoid a lot of increase/decrease balance locking"
# :fast_forward: optimization

### Background

Balance updates are inefficient. Most balances change very little, but they do change. They need to be updated, and the Increase/Decrease code path is long, and involves locks. This happens for each validator, each epoch.

As discussed in discord:
[code]

### Description

The code path is long, and involves many locks:

`ProcessRewardsAndPenaltiesPrec

[2020-06-03 20:28] #5826 closed

[2020-06-03 22:17] rauljordan opened #6116 "Use Ferran's Generated SSZ Instead of Generic SSZ, Remove Bazel Passthrough"
# 💎 Issue

### Background

Currently, everywhere we do ssz.Marshal or Unmarshal, bazel applies a runtime patch to use ferran's fast ssz for whitelisted structs instead. This is a security hole when running with the normal Go tool. Instead, we should actually use ferran's fast ssz instead of go-ssz when we need to.

[2020-06-03 22:21] protolambda commented on #6116
Removing `go-ssz` is important, as I believe `compositeSliceSSZ` in go-ssz doesn't check list limits. Making it susceptible to a network split if used in production in a multi-client testnet. And there have been others problems, as discussed in discord. And with a new better SSZ, I am all for replacing the bazel build step to just default prysm to a safe and fast ssz, in every build mode. :clap:

[2020-06-04 01:21] terencechain commented on #5851
I agree with this. Will open an issue to track this

[2020-06-04 04:25] #5993 closed

[2020-06-04 04:27] rauljordan commented on #5448
Done by #6031

[2020-06-04 04:27] #5448 closed

[2020-06-04 04:28] rauljordan commented on #6110
Resolved by #6109

[2020-06-04 04:29] terencechain commented on #6110
Ah. Not resolved #6109. That fixes the resolver side.
We'll still need to fix the sender side. I'll address this tomorrow

[2020-06-04 04:33] rauljordan commented on #6110
Got it, sorry @terencechain didn't see the associated issue before closing this. Title could have a been a bit more descriptive as it felt like a duplicate of an old issue

[2020-06-04 06:34] fengchaojiangithub opened #6120 "使用metamask 点击合约详情网页打不开是什么原因"
https://goerli.etherscan.io/tx/0xf6421c2b3eeefbd897598616021ee9840ac5169e3d0aa4aa2687bea268e1a71f   网址打不开

[2020-06-04 06:36] fengchaojiangithub opened #6121 "怎么查看我是否配置成功验证器"

[2020-06-04 08:15] GuillaumeMiralles opened #6123 "Sudden spike in mem and CPU usage + result with a big crash of the validators balance"
# 💎 Issue

### Description

A sudden spike of mem and CPU usage (about 6-10 times more than usual) for few seconds, with no specific errors neither warnings reported at all. This first spike has been followed a bit after by a crash of all my validators balance of about 0.5 ETH each. Then when the balances has been fixed there was a second spike of CPU usage, mem didn't move much

![image](https://

[2020-06-04 10:04] GuillaumeMiralles commented on #6123
Got another spike, smaller, but still. It seems to be more frequent that it was before
![image](https://user-images.githubusercontent.com/23481418/83743574-3171d580-a65b-11ea-8f48-2ad59e8e6147.png)

Also here are all the spikes in the last 24 hours
![image](https://user-images.githubusercontent.com/23481418/83743789-7eee4280-a65b-11ea-831a-9c1393b1b0b3.png)

[2020-06-04 10:22] farazdagi commented on #6120
我們所有的團隊溝通和社區拓展都在Discord

[2020-06-04 10:22] #6120 closed

[2020-06-04 10:22] farazdagi commented on #6121
我們所有的團隊溝通和社區拓展都在Discord

[2020-06-04 10:22] #6121 closed

[2020-06-04 12:17] #5658 closed

[2020-06-04 12:38] alonmuroch commented on #6052
Me (and my team) are very interested in making prysm go gettable. Sine it's a really big undertaking I think creating a plan around it could really help, maybe start converting individual sub-packages.
Maybe start with the whole shared folder? if we got that then we can move to the bigger parts of the project like the beacon node, validator and slasher?

[2020-06-04 13:31] pventuzelo opened #6127 "[bug/fuzzing] "panic: runtime error: nil pointer dereference" when processing ProposerSlashing"
# 🐞 Bug Report

### Description

During fuzzing with [beaconfuzz](https://github.com/sigp/beacon-fuzz), I found the following bug:

what: `panic: runtime error: invalid memory address or nil pointer dereference`
where: in `prysm`
how: triggered during `ProposerSlashing` processing.

The bug is happening mainly in `VerifyProposerSlashing` function.

Here is some supposition:
https://github.com/prys

[2020-06-04 14:01] terencechain commented on #6076
Any objection to target v0.12.1? It's just 2 minor PRs away:
https://github.com/ethereum/eth2.0-specs/releases/tag/v0.12.1

Since Topaz is a long standing PR. It'll be good to incorporate the only v0.12.1 change  which is to modify genesis time to be more tunable:
https://github.com/ethereum/eth2.0-specs/pull/1866

[2020-06-04 14:19] nisdas commented on #6076
0.12.1 is fine to work on, its just a few PRs away. That will be the target for other clients too, to work on.

[2020-06-04 15:17] Buttaa opened #6130 "Inclusion_delay API"
🚀 Feature Request

As discussed with @terencechain, an API for the inclusion_delay would help with in depth validator rewards analytics.

[code]

Discussion: https://discordapp.com/channels/476244492043812875/476588476393848832/717452524784713789

[2020-06-04 16:17] prestonvanloon commented on #6116
I think this is related: https://github.com/prysmaticlabs/prysm/issues/5981

[2020-06-04 16:23] prestonvanloon commented on #6070
One thing I realized later is that our prometheus screenshot is an average value, so it might be slightly lower if any particular node is out of sync.

[2020-06-04 16:23] GuillaumeMiralles commented on #6123
I noticed that this happens just when we got participation rate flirting with the 66%. Could it be the reason?

Also this time I get a loooot of errors. I dunno why

![image](https://user-images.githubusercontent.com/23481418/83783335-677d7c80-a690-11ea-936e-c7766e4f8dc6.png)

[2020-06-04 16:54] prestonvanloon commented on #6076
Is this done?

[2020-06-04 17:09] rauljordan commented on #6076
@prestonvanloon we'll leave that for last, until we have fully reviewed v0.12 and are about to merge it

[2020-06-04 19:40] #6051 closed

[2020-06-04 19:50] raphpa opened #6133 "beacon-chain panic on stopping when deployed in docker swarm mode"
# 🐞 Bug Report

### Description

When scaling down (stopping) a dockerized beacon-chain in docker swarm mode docker-chain does not exit gracefully and crashes. When scaling up (starting) again, beacon-chain starts to resync from a point where it exited gracefully the last time.

### Has this worked before in a previous version?

I did not notice it happening before. However I assume it worked befo

[2020-06-04 21:08] #5692 closed

[2020-06-04 21:22] pventuzelo commented on #5692
Thanks ;)

[2020-06-04 22:12] 0xKiwi commented on #6063
How should we go about this? This appears to be a gap in our determination of validator status.

[2020-06-04 23:56] prestonvanloon opened #6139 "slashing_bench_test.go was deleted, but build target still exists"
https://github.com/prysmaticlabs/prysm/blob/1372391b7789a15bb6fc67987761ec243ebd9db5/slasher/rpc/BUILD.bazel#L44

Deleted in #4861

[2020-06-05 00:06] #6110 closed

[2020-06-05 03:04] lpfloyd commented on #6103
Hi, if this is still not finished, I would like to try and implement it.

I noticed that for `beacon-chain/core/helpers/slot_epoch.go`, @prestonvanloon had already implemented the fix, however, `beacon-chain/sync/validate_aggregate_proof.go` is yet to be implemented. I would follow a similar structure to the one implemented by @prestonvanloon (perhaps reuse the function he implemented if possible)

[2020-06-05 03:25] nisdas commented on #6103
Hey @lpfloyd ,

Thanks for your interest in this issue, however I already have a PR for this, will be pushing it up in a bit. If you are interested in looking at any other good issues, #5222 is also a good issue to take a look at. Thanks for taking a look !

[2020-06-05 03:31] #5600 closed

[2020-06-05 04:41] rauljordan commented on #5377
Duplicate of #6070

[2020-06-05 04:41] #5377 closed

[2020-06-05 04:55] lpfloyd commented on #6103
Sure thing @nisdas! I'll have a look at #5222 when time permits.

[2020-06-05 12:04] #6082 closed

[2020-06-05 12:06] GuillaumeMiralles commented on #6123
Last comment, so you can see the pattern is always the same. Sudden spike in CPU and memory usage, then a temporary crash in validators balance. I won't post any others from now on, since it seems to always have this pattern or almost.

![image](https://user-images.githubusercontent.com/23481418/83874420-b4675e80-a735-11ea-9297-77507b537031.png)

[2020-06-05 13:48] #6116 closed

[2020-06-05 14:31] Pablosan opened #6144 "bazel build fails if using bazel 3.2.0"
# 🐞 Bug Report

### Description

Build instructions [here](https://docs.prylabs.network/docs/install/mac/bazel/) recommend using the latest version of Bazel which is 3.2.0, but the build will fail with a message that states Bazel 3.0.0 is required.

### Has this worked before in a previous version?

Yes, this would have worked up until the point Bazel's latest version was incremented up from 3.0.0

[2020-06-05 14:33] nisdas commented on #6144
I think the right approach should be to allow versions up from `3.0.0` onwards to be compatible. There is no reason 3.2.0 shouldn't work.
@prestonvanloon thoughts ?

[2020-06-05 15:12] rauljordan opened #6145 "Amend Scary Insecure gRPC Connection Warning"
# 💎 Issue

### Background

Currently, when running a node, users are met with this scary warning:

[code]

Most people have no idea what gRPC means and the word "insecure" is scary

### Description

A PR to resolve this would clarify the warning to tell users it isn't something they should worry about. We should not remove the warning, however, as it is important to display to users they are not u

[2020-06-05 16:47] handelaar2 opened #6148 "error/loop during sync: could not get prestate for slot 350432"
# 🐞 Bug Report

### Description

Updating to latest commit (302b0f8c802c0ae1e342135be69d031c59e4b558)
During sync (right after initial sync), it went into a loop with the same error.
In fact, there are two errors:
- could not get pre state for slot 350432
- ERROR sync: Failed to retrieve pre state error=unknown state summary
could not get state summary

![2020-06-05_18-10-30](https://user-images.g

[2020-06-05 16:57] terencechain commented on #6148
I have seen this as well:
[code]

I don't see how this is `sync` related though. The error means an incoming attestation doesn't    have the corresponding block in the db. With that said. We still should look into why

[2020-06-05 16:59] farazdagi commented on #6148
![image](https://user-images.githubusercontent.com/188194/83903524-f6f55f00-a766-11ea-8718-daa36ecc037f.png)

The issue happens right after initial sync, when normal p2p sync/communication starts.

[2020-06-05 18:20] rauljordan commented on #5981
Done by #6147

[2020-06-05 18:20] #5981 closed

[2020-06-05 19:52] Pablosan commented on #5222
I took a look at the code and I'm wondering if the following list captures the two `funcs` that need to be moved (along with their associated tests):
[code]
Secondly, following the existing file naming convention I would expect a new directory and file in `shared`, `/prysm/shared/htrutils/htrutils.go` as the new home for the above `funcs`.

How close did I get?

[2020-06-05 23:00] prestonvanloon commented on #6144
Please paste the error. I just tried building with 3.2.0 and had no issues.

[code]

[2020-06-06 01:54] #6103 closed

[2020-06-06 02:50] nisdas commented on #6111
Addressed with #6122

[2020-06-06 02:50] #6111 closed

[2020-06-06 03:12] #5907 closed

[2020-06-06 03:13] 0xKiwi commented on #6139
Solved by #6140

[2020-06-06 03:13] #6139 closed

[2020-06-06 03:20] fabdarice commented on #5716
I'm on mac, unfortunately, but was trying to reproduce it by setting:
[code]
This doesn't appear to be failing.

[2020-06-06 05:39] fabdarice commented on #5716
oh nvm, it attempts to create a folder, which is probably what is causing a "Permission Denied" for Windows User.
I'll investigate more tomorrow.

[2020-06-06 06:11] nisdas commented on #5222
Pretty close :) , although this is referring to non state hashing methods. We need methods specifically for hashing the whole state to live there, however any other helper functions should be moved to a shared library. Ex: Hashing blocks,attestations,etc.

[2020-06-06 09:27] raphpa commented on #6123
I also do have sudden memory usage spikes and other graphs dropping out at the very same moment, so it seems beacon-chain is quite busy at that moment and not giving metrics. Also memory usage continuously raises over time.

![image](https://user-images.githubusercontent.com/18283997/83941066-9575d480-a7e8-11ea-964f-e98c6f5f96b3.png)

[2020-06-06 12:39] GuillaumeMiralles opened #6156 "Everytime the node restart, the sync start back from the beginning of alpha 9"
#🐞 Bug Report

### Description

I restarted my node with this exact command:
```c:/prysm/prysm.bat beacon-chain --datadir=c:/prysm --dev --pprof```

My node was synced right before to restart it, but still when it started, I had around 30.000 slots behind the beacon chain. I waited it to be fully synced, then I restarted it again, and I got the same result:
![image](https://user-images.githubuserc

[2020-06-06 13:03] GuillaumeMiralles commented on #6123
This is the error I get when a spike is happening
![image](https://user-images.githubusercontent.com/23481418/83944785-784ffe80-a806-11ea-851a-9dbdfeab03bf.png)

This error has been fixed already (@nisdas speaking)

So this issue might have been sorted out with it then

[2020-06-06 13:56] stefa2k opened #6157 "Beacon node doesn't notice finished up sync of geth"
💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎-->

# 🐞 Bug Report

### Description

Beacon node starts at the same time as geth. Geth syncs up, but beacon node doesn't notice geth is synced up and stays in "waiting" mode. After restarting the beacon node it connects properly to geth and starts working.

[code]

### Has this worked before in a previous version?

Never worked in any version I ran

## 🔬 Minimal

[2020-06-06 14:47] terencechain commented on #6156
Just to clarify with new state mgmt, it is expected a node always starts to sync 2048-4096 slots back (ie. start at last archived check point) since it operates mostly on memory. I'm not sure about 30k slots back, I haven't been able to reproduce that and I haven't heard anyone mentioned this.

Can you upload your DB?

[2020-06-06 14:50] terencechain commented on #5851
Closing this and will track documentation:
https://github.com/prysmaticlabs/documentation/issues/147

[2020-06-06 14:50] #5851 closed

[2020-06-06 15:10] terencechain commented on #6156
I know what happened. In:

- Alpha.8: Default --slots-per-archived-point is 256 slots
- Alpha.9: Default --slots-per-archived-point is 2048 slots (I should never have increased this mid flight. Bad idea)

Now the archived index structure in DB is messed up. The node thinks it has more archived indices than it should. Hence it's not saving new archived index at every 2048 interval. To work around,

[2020-06-06 15:28] raphpa commented on #6156
Have the same issue.
`level=error msg="flag provided but not defined: -slots-per-archived-point" prefix=main`

[2020-06-06 15:30] terencechain commented on #6156
Sorry, it's `slots-per-archive-point`.   `--slots-per-archive-point=256`

[2020-06-06 16:05] raphpa commented on #6156
Works, it now started about 230 slots before the point it was stopped 👍

[2020-06-06 17:31] Pablosan commented on #6144
Hi @prestonvanloon. Here is the exact error:

`ERROR: The project you're trying to build requires Bazel 3.0.0 (specified in /Users/pablosan/src/prysm/.bazelversion), but it wasn't found in /usr/local/Cellar/bazel/3.2.0/libexec/bin.`

When I check the `.bazelversion` file, I see:

[code]

`git log` on the file:

[code]

If I update the contents of the `.bazelversion` file to `3.2.0`, the build work

[2020-06-06 17:54] terencechain opened #6158 "Disallow changing `--slots-per-archive-point` in flight"
Lesson learned from #6156

A node should prevent users change `--slots-per-archive-point` in flight. Meaning if a user has set `slots-per-archive-point` to 256 to being with. The node should prevent the user changing it to 2048 or any value once the node begin to operate.

The consequence of changing `--slots-per-archive-point` in flight will create inconsistency of archived points mapping. That r

[2020-06-06 17:55] terencechain commented on #6156
Thanks @raphpa for confirming. I opened:
https://github.com/prysmaticlabs/prysm/issues/6158

Will close this once @GuillaumeMiralles confirm the workarounds are ok

[2020-06-06 19:20] Pablosan commented on #5222
Hi @nisdas and thank you for the explanation. I think I'm beginning to understand. Here is my latest approach:

[code]

I expanded my search to the entire `stateutil` package, but excluded any `func` that seemed state-related to me. So I believe this is a list of 16 candidates. I'm guessing only some of these belong in an `htrutils` shared library. A couple that stand out to me as good candidates:

[2020-06-06 19:49] GuillaumeMiralles commented on #6156
I still get 35.000 slots not synced with this command:
```c:/prysm/prysm.bat beacon-chain --datadir=c:/prysm --dev --slots-per-archive-point=256```

![image](https://user-images.githubusercontent.com/23481418/83953286-8d954f00-a83f-11ea-9770-74a9bf76af72.png)

[2020-06-06 20:28] GuillaumeMiralles commented on #6156
Ok so option 2 did work.
I had to restart a first time with the new flag, as expected it started back 35.000 slots behind. Then half way (so around 10.000 slots behind still) I restarted it again, expecting it to restart with only 10.000 slots behind, but instead I was back at the beginning of alpha 9 release.
For it to work I had to wait until the node was fully sync with head again, and when I r

[2020-06-06 21:47] #6158 closed

[2020-06-07 12:13] raphpa commented on #6123
After fixing the database issues in #6156 the RAM spiking issues have resolved as well for me

![image](https://user-images.githubusercontent.com/18283997/83968368-07254f80-a8c9-11ea-9b62-f3c0d393200c.png)

[2020-06-07 12:52] nisdas commented on #6157
We did update our geth version, so that might have had something to do with it. Although can you consistently reproduce this ?

[2020-06-07 12:53] nisdas commented on #6156
I think we can close this now the bug seems resolved, what do you think
@terencechain @GuillaumeMiralles @raphpa ?

[2020-06-07 12:54] nisdas commented on #6148
@terencechain can we close this ?

[2020-06-07 12:56] nisdas commented on #6133
Seems like an issue with prometheus here. Were you by any chance fetching data from the prometheus server at that moment ?

[2020-06-07 13:01] nisdas commented on #6049
What would be the action item for something like this ? @terencechain @prestonvanloon
Should we have maybe some sort of static analyzer to detect any castings that might lead to overflows with integers ?

[2020-06-07 13:02] nisdas commented on #6040
Has this been resolved @0xKiwi @shayzluf ?

[2020-06-07 13:03] nisdas commented on #5970
I think this is unblocked now, nethermind should work with prysm. @Buttaa have you tried it out ?

[2020-06-07 13:04] nisdas commented on #5957
This has been resolved #6153

[2020-06-07 13:04] #5957 closed

[2020-06-07 13:05] nisdas commented on #5972
@Phistr90 Have you encountered this again ?

[2020-06-07 13:05] GuillaumeMiralles commented on #6156
I don't know if the changes have been made or not for alpha 10 yet, but yeap --slots-per-archive-point=256 fixed the issue.
Also, this has fixed #6123 . The error on this issue was `Failed to get attestation pre state` which is what we just fixed here

[2020-06-07 13:07] nisdas commented on #5806
Whats the status on this ? @shayzluf

[2020-06-07 13:10] Buttaa commented on #5970
Not yet, i will give it a try next week!

There’s still one open task:
Since Eth1 nodes have different sync types, which one is required (excluding archival) to fulfill all Eth1 node requirements for the beaconnode?
This might be a eth1 related question but still relevant for eth2 users. Please add a list of this to the docs.

- geth , —fast sync
- nethermind, (?)
- openethereum / (?)

[2020-06-07 13:17] nisdas commented on #5970
I do not know enough about sync modes in nethermind/open-ethereum but we should be able to support any node that is able to do the equivalent of `fast-sync` in those clients.

We won't be able to support any `light sync` nodes from geth/nethermind/open-ethereum. But the default sync modes used should be fine.

Although the obvious caveat is that you need a fully synced eth1 node before anything ca

[2020-06-07 13:18] nisdas commented on #6156
This will all be included in alpha.10. In that case I will close this issue as it seems resolved. Thanks for clarifying @GuillaumeMiralles

[2020-06-07 13:18] #6156 closed

[2020-06-07 13:20] nisdas commented on #6123
This has been resolved by #6149, so closing this now. This fix will be included in alpha.10, if we do have a next release for Topaz.

[2020-06-07 13:20] #6123 closed

[2020-06-07 13:21] raphpa commented on #6133
Prometheus was running as well, so it is pretty likely that it was fetching data at that moment.

[2020-06-07 13:30] nisdas commented on #5167
Still an issue ? @prestonvanloon

[2020-06-07 14:03] Pablosan commented on #5222
Continuing to study the code in different ways. Looking specifically at `attestations.go` there are only two `funcs` that require a `stateRootHasher`: `pendingAttestationRoot` and `epochAttestationsRoot`. So maybe a first step would be to move everything but those two `funcs` to `//shared`?

Apologies for all the questions. The distinction of what is state-related and what is not is not quite clea

[2020-06-07 14:08] nisdas commented on #5222
Hey yeap, that is getting closer. What I mean by state-related is this `*pb.BeaconState`. Basically any method that takes that as an argument, should not be touched for the most part. However any other methods that are not directly using it can be shifted over to a new package.

[2020-06-07 14:25] R1971 opened #6161 "Reuf"
# 🚀 Feature Request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solution in mind, please describe it.

### Describe alternatives you've considered

 Have you considered any alternative solutions or workarounds?

[2020-06-07 14:29] R1971 opened #6162 "Reuf"
# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):

**Opt-in feature flag name**:

**Opt-out feature flag name**:

### Feature Description

 A clear and concise description of the new feature. Provide links to your technical
design document or other supporting information.

### Tasks

- [ ] Feature flag created as opt-in
- [ ] Feature implemented / code complete
- [ ] Feature tested in

[2020-06-07 14:44] Pablosan commented on #5222
Thank you! I see it clearly now. Working on it.

[2020-06-07 14:49] #6161 closed

[2020-06-07 14:49] #6162 closed

[2020-06-07 14:59] 0xKiwi commented on #6040
It hasn't, but with the upcoming slasher db structure changes it should no longer be a problem.

[2020-06-07 15:30] shayzluf opened #6163 "proposer slashing cannot be detected on p2p"
# 🐞 Bug Report

### Description

p2p validation prevents blocks from getting into slasher feed because it fails validation as per eth2.0 networking spec.

### Has this worked before in a previous version?

no

## 🔬 Minimal Reproduction

[2020-06-07 17:17] prestonvanloon commented on #5167
Yes

[2020-06-07 17:35] prestonvanloon commented on #6144
I think it might make more sense to recommend users to use bazelisk which will automatically select the correct bazel version to use.

This is available as a homebrew formula here: https://formulae.brew.sh/formula/bazelisk.

Maybe some instructions like
[code]

[2020-06-07 17:53] Pablosan commented on #5222
Somewhat arbitrarily I chose `func SlashingsRoot(slashings []uint64) ([32]byte, error)` in `state_root.go` as the method to move. This is one of the five methods at the end of `state_root.go` that do not require a `pbBeaconState`. This quickly pulls `helpers.go` into scope for the `bitwiseMerkleize`  and `pack` functions.

To me (and looking ahead a little bit) this makes it feel like the followin

[2020-06-07 18:23] Pablosan commented on #6144
Ah, yes, that makes sense and works fine. `bazel` is new to me as I haven't been using Go for a while. I'll switch to using bazelisk.

[2020-06-08 10:08] GuillaumeMiralles commented on #6148
This error has been fixed for me with the flag `--slots-per-archive-point=256` that we have seen in the issue #6156

This error was also resulting a huge spike of mem and CPU usage (#6123)

[2020-06-08 11:00] nisdas commented on #6148
ok thanks for confirming @GuillaumeMiralles , closing this now then

[2020-06-08 11:00] #6148 closed

[2020-06-08 14:52] #5857 closed

[2020-06-08 15:04] prestonvanloon commented on #6049
We can add a static analysis where casting to a lower sized number is an error.
That would be a good first issue too.

[2020-06-08 15:58] prestonvanloon commented on #6063
We will need another status value.

Here are the statuses we have at the moment:

[code]

To fix this, we can add a new enum value and clarify PENDING with a more strict definition.
- `PENDING` -- The validator is fully deposited and in the activation queue.
- `PARTIALLY_DEPOSITED` -- The validator has not met the deposit threshold.

[2020-06-09 02:37] #6130 closed

[2020-06-09 02:58] fengchaojiangithub opened #6176 "节点添加Eth2Stats,编译时，这个错误是什么呀"
![微信图片_20200609105649](https://user-images.githubusercontent.com/22792162/84101251-1975c980-aa40-11ea-8935-961e5913ef7d.png)

[2020-06-09 02:58] fengchaojiangithub commented on #6176
节点添加Eth2Stats,编译时，这个错误是什么呀

[2020-06-09 04:13] #6176 closed

[2020-06-09 04:34] fengchaojiangithub opened #6178 "加了第二个验证器，运行不了"
![131414](https://user-images.githubusercontent.com/22792162/84106360-7af06500-aa4d-11ea-8414-6a3549f93c40.png)

[2020-06-09 04:45] nisdas commented on #6178
@fengchaojiangithub Please stop opening issues like this. If you need help in running the beacom node, you can ask in our discord channel
https://discord.gg/AnQ5Er . we will be happy to guide you there

[2020-06-09 04:45] #6178 closed

[2020-06-09 10:15] #5970 closed

[2020-06-09 13:15] Tom-Moose opened #6183 "Low Staking Reward"
# 🐞 Bug Report

### Description
I seem to be getting the same warrning and errors since upgrading to alpha 9
and a lowered staking reward from 10% to 5-7%
 A clear and concise description of the problem...

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....
This issue is new in alpah 9
## 🔬 Minimal Reproduction

No flags for my

[2020-06-09 22:29] farazdagi commented on #5976
Issue seems to be resolved. Feel free to re-open, if regression is spotted.

[2020-06-09 22:29] #5976 closed

[2020-06-09 22:46] rauljordan commented on #6076
DONEEE

[2020-06-09 22:46] #6076 closed

[2020-06-10 00:22] #5588 closed

[2020-06-10 03:28] #5808 closed

[2020-06-10 04:08] #6144 closed

[2020-06-10 05:53] delbonis opened #6195 "Using `--password ''` on the validator client still prompts for a password"
# 🐞 Bug Report

### Description

It's impossible (or at least, *nontrivial*) to have a validator use the empty string as an account password.

Create a new validator account, when prompted to set a password, just hit enter to set the password to be the empty string.  Then, run a validator client and pass `--password ''`, the client still pauses and asks for a password.

I believe this is caused by

[2020-06-10 07:14] eduadiez opened #6196 "It isn't possible to enable JSON-HTTP API access from outside"
# 🐞 Bug Report

### Description

It isn't possible to enable JSON-HTTP API access from outside since it's always listening on 127.0.0.1 and it isn't possible to change it, is this expected?

### Has this worked before in a previous version?

This change was made on https://github.com/prysmaticlabs/prysm/pull/5614

https://github.com/prysmaticlabs/prysm/blob/d1a1043ef10ffc055b5f9f018cc6633001dba2a6

[2020-06-10 07:51] prestonvanloon commented on #6196
Caused in party #5993

[2020-06-10 09:20] guaiguaihw opened #6198 "Can't syncing beacon chain node, when upgrade the lastest version of the client!!"
I upgrade my client, and clear up the datadir. It's stuck when syncing blocks..
I use the rpc to find peers, it shows no peer.
What should I do?
[code]
[code]

[2020-06-10 10:36] farazdagi commented on #6198
What happens after you see number of processing deposits, i.e.
![image](https://user-images.githubusercontent.com/188194/84258283-595fae00-ab1f-11ea-8f00-42d90e0427b2.png)

No syncing starts?

[2020-06-10 10:45] farazdagi commented on #6198
I suppose issue has to do with minimum validator threshold isn't reached yet: https://discordapp.com/channels/476244492043812875/580039899097595943/720131699559891036

Workaround is using previous binary running Topaz:
[code]

[2020-06-10 10:45] #6198 closed

[2020-06-10 10:47] nisdas commented on #6198
If you want to run `onyx` you need to just leave your beacon node as it is. That log is correct, we havent reached the deposit threshold yet @guaiguaihw

[2020-06-10 10:51] farazdagi commented on #6127
@pventuzelo thank you for such a detailed report.
As you already have a patch, will you be willing to open a PR, resolving the issue?

[2020-06-10 14:04] Buttaa opened #6204 "Nethermind <> Prysm "Could not query block with height 2848563""
![image](https://user-images.githubusercontent.com/26490734/84277573-03493580-ab34-11ea-9054-874376634d53.png)

`prysm.sh beacon-chain --datadir=$HOME/prysm --http-web3provider=http://localhost:8545/`

`Nethermind.Runner --config goerli --JsonRpc.Enabled true`

[2020-06-10 16:05] pagocs opened #6205 ""Could not regenerate historical states""
# 🐞 Bug Report

### Description

Currently  I cannot start my test nodes because beacon chain cannot be started for an error after I was restarted them.

## 🔬 Minimal Reproduction

Restart the beacon node after a while.

## 🔥 Error

<pre><code>
`Latest Prysm version is v1.0.0-alpha.10.
Beacon chain is up to date.
Verifying binary integrity.
beacon-chain-v1.0.0-alpha.10-linux-arm64: OK
gpg: Signatu

[2020-06-10 16:07] raphpa opened #6206 "Rate limiting on infura eth1 node, no backoff of beacon-chain"
# 🐞 Bug Report

### Description

After getting rate limited on the infura eth1 node beacon-chain keeps trying to poll the endpoint every second. This causes the rate limiting to not resolve.

### Has this worked before in a previous version?

Have not seen any rate limiting. It is to check if polling is too fast either way.

## 🔬 Minimal Reproduction

Use infura endpoint.

## 🔥 Error

beacon chain

[2020-06-10 16:08] #6205 closed, assigned to nobody

[2020-06-10 23:41] #4418 closed

[2020-06-10 23:44] rauljordan commented on #6040
No longer possible as the map read does not occur concurrently. See the latest code: https://sourcegraph.com/github.com/prysmaticlabs/prysm/-/blob/slasher/detection/attestations/spanner.go#L122

[2020-06-10 23:44] #6040 closed

[2020-06-10 23:45] rauljordan commented on #6083
@prestonvanloon please triage

[2020-06-10 23:49] rauljordan commented on #5854
Hi @shayzluf can we consider resolved?

[2020-06-10 23:49] rauljordan commented on #5456
Please triage @0xKiwi

[2020-06-11 03:50] pjindal opened #6209 "Link on Prysmatic Labs website goes to 404 website"
"Read the docs" link on website goes to a 404 page:

![image](https://user-images.githubusercontent.com/26806409/84343005-03b5f080-ab75-11ea-836c-1517426216b6.png)

![image](https://user-images.githubusercontent.com/26806409/84343027-103a4900-ab75-11ea-90f3-73f6624e862f.png)

[2020-06-11 07:52] raphpa commented on #6206
Cannot proof it with logs as they do not reach back that far, but I think what happened was:
- infura caused connection errors
- beacon-chain tries to reconnect every second, causing some rate limiting to kick in
- the daily limit got exceeded by the reconnect tries

My conclusion would be:
beacon-chain should backoff when reconnection on connection errors

[2020-06-11 14:25] terencechain commented on #4923
@tsudmi let's check if this still exist in Onyx (in a few days)

[2020-06-11 15:50] mderka opened #6215 "Possible disk space exhaustion when finality cannot be reached"
# Possible Disk Space Exhaustion

### Background

When the chain goes through a long period without reaching finality, it keeps many recent beacon states on disk, possibly leading to space exhaustion.

This issue was discussed with @prestonvanloon on Discord at the Quantstamp channel.

### Description

When the chain goes through a long period without reaching finality, it keeps many recent beacon

[2020-06-11 16:12] rauljordan opened #6216 "Convert the BeaconState to a Pure Go Data Structure for Optimal Speed and Memory Usage"
# 🚀 Feature Request

### Description

Thanks to @protolambda for bringing up this initiative. Currently, the beacon state in Prysm is implemented as a wrapper data structure over a protobuf for legacy reasons:

[code]
Our native protobuf is using slices of slices to represent 32 byte array fields, which leads to massive utilization of memory and poor performance across the board compared to a simp

[2020-06-11 16:18] protolambda commented on #6216
Copying my comment from discord, after benching SSZ and protobuf serialize/deserialize/htr, and optimizing zssz in some places, this is what there's to look at:

- [ ] Avoid repeated Write/Read calls for small fields like zssz does. Streaming is cool, but slow when you stream every tiny field. Implement a hybrid for small fixed-length containers (Validator) that can write to a stream as a whole. N

[2020-06-11 16:31] #5885 closed

[2020-06-11 16:38] raphpa commented on #6206
I have restarted everything and still see around 8000 calls per hour in normal operation. Which seems a little bit excessive to me.

![image](https://user-images.githubusercontent.com/18283997/84415168-a8d2d680-ac12-11ea-8be4-9251458b940f.png)

[2020-06-11 16:44] prestonvanloon commented on #6206
Thanks for that additional data. I agree that there is definitely something wrong here. 8000 hour is 2.2 requests per second. We should only be making requests every 14 seconds or so to get the latest block information.

[2020-06-11 17:38] #6127 closed

[2020-06-11 18:52] rauljordan commented on #6037
Please triage @farazdagi

[2020-06-11 18:53] rauljordan commented on #5919
Please triage @prestonvanloon

[2020-06-11 18:56] rauljordan commented on #5875
Duplicate of #5763

[2020-06-11 18:56] #5875 closed

[2020-06-11 19:13] rauljordan opened #6220 "Prysm Validator Accounts Revamp Tracking"
### Background

Validator accounts management is the weakest part of our codebase as it stands today, providing very little in terms of UX, security, and documentation necessary for production. Among some of the questions we receive on a frequent basis are:

- How can I move around my validator to a different computer? Is there something I need to do to move my withdrawal key to cold storage?
- I

[2020-06-11 19:13] rauljordan commented on #5659
Closing in favor of https://github.com/prysmaticlabs/prysm/issues/6220

[2020-06-11 19:13] #5659 closed

[2020-06-11 19:17] rauljordan commented on #5663
Kad dht is now disabled by default for Prysm

[2020-06-11 19:17] #5663 closed

[2020-06-11 19:18] rauljordan commented on #5638
Closing in favor of #6220

[2020-06-11 19:18] #5638 closed

[2020-06-11 19:19] rauljordan commented on #6220
One of our contributors, @rkapka, mentioned all of these useful points:

- Export - the user specifies a source directory, a target directory and a list of public keys k_1..k_n whose data should be exported from the source directory's database. A new database containing the exported data is created in the target directory.
- Question: Should the exported data be removed from the source database? M

[2020-06-11 19:21] rauljordan commented on #6220
@mcdee has some excellent points in https://github.com/prysmaticlabs/prysm/issues/5202 that suggest a keymanager should have the ability of frequently querying information of new keys being available. We can incorporate these ideas into allowing new keys at runtime.

[2020-06-11 19:34] rauljordan commented on #5451
@nisdas can we close this? or is it still relevant?

[2020-06-11 19:45] rauljordan commented on #5979
This has to do with how much data is requested and sent back as a polling call to the beacon chain. The new streaming approach does a single request with all validator keys and simply listens to received values over the stream. We can perform some metrics checks once the PR is merged in and compare using experimental.

[2020-06-11 19:46] rauljordan commented on #5980
Closing in favor of #4507 and #5801 as those are the culprits here and this issue doesn't have a direct resolution unless those are fixed

[2020-06-11 19:46] #5980 closed

[2020-06-11 19:53] rauljordan commented on #4882
@prestonvanloon regarding fuzzing work: how does this issue relate to your latest work? Is it resolved or still requires triage?

[2020-06-11 20:07] terencechain commented on #5979
Let's monitor this for Onyx. Then we can close it

[2020-06-11 20:08] #6106 closed, assigned to nobody

[2020-06-11 20:30] MysticRyuujin commented on #6204
I've just noticed this same error message in `ethereal` but...it's intermittent...

[code]

[2020-06-11 20:50] terencechain commented on #6072
It may be better to wait until new state mgmt is the default so we can delete 50% of the code then proceed with refactor for clarity and better coverage

[2020-06-11 20:53] MysticRyuujin commented on #6204
I'd bet $ on this being an issue with the handling of HTTP/1.1 chunked transfers

[2020-06-11 21:53] prestonvanloon commented on #6206
It looks like the culprit is BlockTimeByHeight.

https://github.com/prysmaticlabs/prysm/blob/150f8beccd1ffac8731cbc353ccce4f76564dbbf/beacon-chain/powchain/block_reader.go#L62-L70

This method has no caching and apparently is called many times.

[2020-06-11 21:56] prestonvanloon commented on #6206
This is the frequented code path and it appears to happen several times per second, for the same input data.

[code]

[2020-06-11 22:39] prestonvanloon commented on #5663
I am not sure this is limited to kad dht. Clients can and will still advertise internal IP addresses via ENR.

[2020-06-12 03:26] nisdas commented on #5663
While that maybe true, ENRs will not be propagated if they have private/invalid ips. Nodes regularly check the liveness of nodes in their local table, an ENR with an invalid ip would be undialable and eventually the node would kick it off its local table.
https://github.com/ethereum/devp2p/blob/master/discv5/discv5-theory.md#table-maintenance-in-practice

I do not think this will be an issue anymo

[2020-06-12 04:05] #6206 closed

[2020-06-12 05:19] shayzluf commented on #5854
Would like flat spans to be implemented before

[2020-06-12 05:23] shayzluf commented on #5806
Finished. One more issue exists for protection

[2020-06-12 05:26] #5806 closed

[2020-06-12 07:00] #4882 closed

[2020-06-12 10:48] stefa2k opened #6223 "Beacon stessing cpu before genesis"
# 🐞 Bug Report

### Description

Beacon chain starts stressing cpu before genesis block is mined. It's resolved after restarting the beacon chain.

### Has this worked before in a previous version?

Can't say, first time I'm monitoring a genesis launch closely.

## 🔬 Minimal Reproduction

Not yet reproducable.

## 🔥 Error

![image](https://user-images.githubusercontent.com/54934211/84495132-f26f00

[2020-06-12 10:50] stefa2k commented on #6157
Not reproducible anymore with alpha.10

[2020-06-12 10:50] #6157 closed

[2020-06-12 10:57] stefa2k opened #6224 "No p2p connections after discovery"
# 🐞 Bug Report

### Description

Beacon chain doesn't connect to any peers, it seems stuck after starting discovery.

### Has this worked before in a previous version?

Worked in alpha.9

## 🔬 Minimal Reproduction

Start the beacon chain and wait a bit, look at `p2p_peer_count`

## 🔥 Error

![image](https://user-images.githubusercontent.com/54934211/84495838-2696f080-acac-11ea-9de2-3e83b7de4c54.pn

[2020-06-12 12:27] nisdas commented on #6224
Resolved by #6226

[2020-06-12 13:53] Buttaa commented on #5439
edited original post

-  show current deposit count x/16384

-  timer during 48h time period

[2020-06-12 14:59] terencechain opened #6227 "RPC assignment returns proposer duty for slot 0"
# 🐞 Bug Report

RPC assignment returns proposer duty for slot 0. That should be skipped
[code]

[2020-06-12 16:28] prestonvanloon opened #6229 "P2P Peer Limits Not Respected"
# 🐞 Bug Report

### Description

When running Prysm on Alpha.10 with default flags, my beacon node was observing 100+ peers. The default flag is to allow only 30 peers.

https://github.com/prysmaticlabs/prysm/blob/c725a9c8f24e442751848233b825d8cb090a3fde/shared/cmd/flags.go#L121-L126

### Has this worked before in a previous version?

This worked in Alpha.9 and in Topaz testnet.

## 🔬 Minimal Repr

[2020-06-12 16:31] #6224 closed

[2020-06-12 16:34] prestonvanloon commented on #5350
Is this still blocked? I think that the new state management was set to default for Onyx (alpha.10+).

[2020-06-12 16:50] terencechain commented on #5350
Blocked by testing. We should let the default mode (alpha 10+) run in the wild for a few weeks before fully deprecating archival service. There's no going back or else we'll just end up reverting work like in Topaz

[2020-06-12 17:06] #3166 closed

[2020-06-12 17:16] stefa2k commented on #6224
Updated to docker images with tag `HEAD-c725a9`, same behaviour.

[2020-06-12 18:03] stefa2k commented on #6224
Now it connects to peers, but very slowly and low number of peers.

[2020-06-12 18:20] #6227 closed

[2020-06-12 18:47] #5439 closed

[2020-06-12 19:06] rauljordan commented on #5423
Closing in favor of #6220

[2020-06-12 19:06] #5423 closed

[2020-06-12 19:26] terencechain commented on #6078
Added this request to #6220. Let's track this feature there

[2020-06-12 19:26] #6078 closed

[2020-06-12 20:02] #6068 closed

[2020-06-12 20:41] #5647 closed

[2020-06-13 10:48] raphpa opened #6235 "Fatal error pre-genesis with --skip-regen-historical-states"
# 🐞 Bug Report

### Description

beacon-chain at pre-genesis fails with a fatal error when called with `--skip-regen-historical-states` and an already existing database.

### Has this worked before in a previous version?

Not tried

## 🔬 Minimal Reproduction

Run beacon-chain until it is waiting for genesis
Run beacon-chain again with `--skip-regen-historical-states`

## 🔥 Error

<pre><code>
[2020

[2020-06-13 11:18] farazdagi opened #6236 "Feature Flag Tracking: attestationAggregationStrategy"
# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):
- opt-out

**Opt-in feature flag name**:
`--attestation-aggregation-strategy=max_cover`

**Opt-out feature flag name**:
`--attestation-aggregation-strategy=naive`

### Feature Description
- `--attestation-aggregation-strategy=strategy` allows to switch between different attestation aggregation heuristics (naive, max_cover, max_ind_set e

[2020-06-13 15:40] terencechain commented on #6235
I'll fix this today

[2020-06-13 17:30] protolambda commented on #6229
Can confirm this bug. I set my p2p-max-peers at 50, but peer count is way over, one peer at 110 even.

[2020-06-13 18:04] #6235 closed

[2020-06-13 22:40] raphpa opened #6238 "Validator resolved 'localhost' to [::1] and could not connect"
# 💎 Issue

I could not recreate this issue myself, but this was a problem for an user on discord:

beacon-chain is binding to 127.0.0.1:4000 by default now, but validator seems to be connecting to localhost:4000 by default.
In some cases it might happen that localhost is resolved to the IPv6 local address [::1] and a connection with the default parameters cannot be established, as beacon-chain is

[2020-06-14 05:52] SomervilleM opened #6239 "Beacon chain is stuck and the validator is just repeating the same thing"
# 💎 Issue

beacon chain

time="2020-06-14 01:22:23" level=info msg="Processing deposits from Ethereum 1 chain" deposits=15360 genesisValidators=14696 prefix=powchain
time="2020-06-14 01:22:41" level=info msg="Processing deposits from Ethereum 1 chain" deposits=15872 genesisValidators=15190 prefix=powchain
time="2020-06-14 01:22:53" level=info msg="Processing deposits from Ethereum 1 chain" deposit

[2020-06-14 06:08] #6239 closed

[2020-06-14 06:09] GuillaumeMiralles opened #6241 "Validator metric: pubkey returned should be harmonized in every metrics"
💎 Issue

### Background

I have built a ready to use grafana dashboard for the prysm community, and therefore I need it to be robust. With the Onyx testnet, I just found out that the validator metric `validator_balance` has changed for a shorter pubkey instead of the full one

![image](https://user-images.githubusercontent.com/23481418/84585973-6fb68400-ae15-11ea-97d9-c164713c0dce.png)

Here you c

[2020-06-14 07:32] mcdee opened #6244 "Sync not completing"
### Description

Sync does not complete.

Same issue occurs if the DB is removed prior to restart.

### Has this worked before in a previous version?

Yes.

## 🔬 Minimal Reproduction

Run the beacon chain.

## 🔥 Error

<pre><code>
Jun 14 07:28:55 client beacon-chain[3705367]: {"level":"info","logFileName":"/xxx/beacon-chain.out","msg":"Logs will be made persistent","time":"2020-06-14T07:28:55Z"}
J

[2020-06-14 07:33] delbonis opened #6245 "Strange `inclusionDistance=18446744073709551615` message when resuming validator in some cases"
# 🐞 Bug Report

When resuming a validator sometimes it prints a nonsensical `Previous epoch voting summary` messages with unreal slot indexes and distances.

## 🔬 Minimal Reproduction

I believe this happens when resuming a validator partway through an epoch *after* it would have normally submitted an attestation in the epoch.  When the epoch ends and it prints the usual `Previous epoch voting sum

[2020-06-14 07:35] #6229 closed

[2020-06-14 07:43] mcdee commented on #6244
Relevant log entries in a run from clean (minus p2p):

[code]

[2020-06-14 08:04] prestonvanloon opened #6247 "initial-sync: Block is not processed error=nil justified block"
# 🐞 Bug Report

### Description

When syncing a new db on Onyx, there is an issue with a nil justified block. The issue eventually resolved itself after many iterations of the first 600 blocks.

### Has this worked before in a previous version?

Yes

## 🔬 Minimal Reproduction

[code]

Other users have reported it with default flags.

## 🔥 Error

<pre><code>
[2020-06-14 00:57:17]  INFO initial-sync

[2020-06-14 09:02] #6247 closed

[2020-06-14 16:02] raphpa commented on #6245
Getting the same regularly on all my setups. At the same time the validator balance is reported wrong.

[code]

[2020-06-14 19:14] dv8silencer opened #6255 "panic: invalid IP (length 0)"
# 🐞 Bug Report

Beacon node crashes after a
[code]
I am on the Onyx testnet and the node was running for 5-10 hours prior to crashing.

### Has this worked before in a previous version?

I have only used the recent versions of the beacon-chain.  I have not had this problem before.

## 🔬 Minimal Reproduction

./prysm.sh beacon-chain --p2p-max-peers 999 --p2p-host-ip=$(curl -s v4.ident.me)

## 🔥 Err

[2020-06-14 19:42] banescusebi commented on #6103
Can the "audit" label be added to this issue pls?

[2020-06-14 20:09] mcdee commented on #6244
Cannot reproduce with latest master; closing.

[2020-06-14 20:09] #6244 closed

[2020-06-14 20:49] SomervilleM opened #6256 "My computer is not listening to the right ports"
# 💎 Issue

### Background
I ran the topaz testnet with no issue with onyx I can't get my beacon chain to connect with peers. I trouble shot on discord with a few people on discord for an hour or so but exhausted all of their ideas

 need help getting my computer to listen to 13000 and 12000

###

[2020-06-14 21:23] Phistr90 commented on #6256
I have the same problem

[2020-06-14 21:38] SomervilleM commented on #6256
i should clarify I am on windows

[2020-06-14 22:11] terencechain commented on #6245
These unreal `inclusionDistance` and `inclusionSlot` meant to be `unknown` because your validators missed to vote on the previous epoch. Go's default is `0` but using `0` would have been confusing. Hence we went with `^uint64(0)`

[2020-06-14 22:11] #6245 closed

[2020-06-14 22:23] terencechain opened #6257 "Previous epoch aggregated voting summary displays incorrect stats (sometimes)"
# 🐞 Bug Report

### Description

` Previous epoch aggregated voting summary...`  displays incorrect stats sometimes. In my setup, it has been reported 0% inclusions the last few epochs but such reporting didn't align with beacon block explorers.

[code]

### Has this worked before in a previous version?

Yes. In Topaz

## 🔬 Minimal Reproduction

Run validators

[2020-06-14 22:32] prestonvanloon commented on #6256
Can you provide a bit more details?

What version of Prysm are you using?
What error are you seeing?
What flags are you using?
Are you using docker or `prysm.sh`?