[2018-09-20 01:28] rawfalafel commented on #529
Thanks! BTW, I think that gathering and aggregating attestations should be a completely new service since it can be done independently of block processing and the fork choice rule.

[2018-09-20 02:11] rauljordan opened #545 "Stream Assignment to Validators"
Hi all,

This is an issue tracking the streaming of assigned shardID, validator index, and slot to validators currently participating and interacting with a beacon node. This puts the hard work on the beacon node's side for determining validator shuffling and allows validators to easily know when/what exactly they are supposed to do. This builds off @terenc3t's #526 functionality.

[2018-09-20 07:50] zjshen14 commented on #150
@rawfalafel, thanks for raising the concern of byte-perfect consistency on protobuf. I'm exploring a similar problem recently. Do you still recall the concrete example of `the same object can be encoded multiple ways, and different encodings can be deserialized into the same object`, so that I could evaluate if it will affect my case or not. Thanks!

[2018-09-20 07:53] zjshen14 commented on #150
@prestonvanloon have you conducted the cross-language experiments? How's consistency? Thanks!

[2018-09-20 07:58] rawfalafel commented on #150
Yep, take an encoding of a protobuf object and reorder the fields. They should `proto.Marshal` should encode those two encodings into the same object.

[2018-09-20 08:00] rawfalafel commented on #150
BTW, we're exploring a new encoding described here: https://github.com/ethereum/beacon_chain/blob/master/ssz/README.md

[2018-09-20 16:16] zjshen14 commented on #150
@rawfalafel, thanks for taking my question. I want to clarify if you mean

[code]
And
message Foo {
  bytes b = 1;
  uint64 a = 2;
}
[code]

[2018-09-21 00:31] prestonvanloon commented on #468
Resolved in #516

[2018-09-21 00:31] #468 closed

[2018-09-21 04:41] rawfalafel commented on #150
Protobuf allows fields to be encoded in any order to facilitate merging two messages.

Honest nodes should never encode in a different order. The problem though is when a malicious user purposefully encodes in the wrong order. In this scenario, the same message can have multiple encodings, and therefore multiple hashes, and break consensus.

[2018-09-21 06:53] nisdas commented on #542
Hey Terence I looked at this, and I am not sure this is a bug. Isnt total deposit the balance of all the active validators ?

[2018-09-21 08:34] d1vyank commented on #438
Update: Execution tracing is merged in. Distributed tracing is blocked on #528. To propagate traces between nodes we need to attach trace information to p2p messages. However, the wire format of these messages has not been defined yet.

I'd be happy to look at this again once this is decided, if I have availability at the time.

[2018-09-21 10:23] nisdas opened #549 "Tracing and CPU Profiling Outputs Error for Validator Client"
Currently when the validator client is shutdown it outputs this message when the CPU profiling and tracing flags are not enabled. :
[code]
When the flags are enabled however another error occurs :
When CPU Profile dump is being written:
[code]
When tracing dump is being written:
[code]
A PR will resolve both these issues which occurs when the flags are enabled and disabled

[2018-09-21 13:36] terenc3t commented on #542
I think there's a typo in the spec. I'm confirming with Danny now

[2018-09-21 14:32] #464 closed

[2018-09-21 16:38] terenc3t commented on #542
Confirmed with Danny, the spec is a lil confusing but it's actually correct.

When a validator attest to a block. It actually is attesting up to CYCLE_LENGTH blocks. For each block, after a full cycle, there is a chance for every validator to have attested to it and we are counting block votes from the direct block attested to but all the other slots that get attested to implicitly although explic

[2018-09-21 16:38] #542 closed

[2018-09-21 18:35] #549 closed

[2018-09-21 19:56] #471 closed

[2018-09-21 19:56] #535 closed

[2018-09-21 22:46] terenc3t commented on #538
Taking a look at this tonight

[2018-09-22 01:07] rauljordan opened #552 "BLS Signature Aggregation"
Hi all,

Starting this issue to discuss BLS implementation for our beacon chain and opening it up for discussion. This can also serve as a tracking issue for any future PRs in this direction.

[2018-09-22 01:08] terenc3t commented on #552
This is very similar to #258

[2018-09-22 01:09] rauljordan commented on #552
Ah I missed that - thanks @terenc3t let's just use 258 in that case. Maybe we can retitle the issue to include BLS in there.

[2018-09-22 01:09] #552 closed

[2018-09-22 03:17] rauljordan commented on #545
This is part of a great initiative by @prestonvanloon on enabled multi-tenant beacon node -> validator interactions. See google doc for design [here](https://docs.google.com/document/d/1mhnDnT-PZyLAuTa0GNni22ExJvJSpKHkyK--PWQbPu8/edit#heading=h.4d4hnezaletr)

[2018-09-22 04:27] nisdas opened #555 "Handle Partially Synced Nodes"
When a node runs the initial sync service, it first checks for stored state and if there is stored state it defaults to a regular sync. A PR would handle nodes who are only partially synced , and are not synced with the latest head of the current chain.

This would involve modifying this portion of the initial-sync service:
[code]

[2018-09-22 04:38] nisdas opened #556 "Split Collation Body using 32 byte chunks"
For the calculating Proof Of Custody of a Collation Body , the collation body is split into byte chunks. A PR solving this issue will split the body into 32 byte chunks instead of a single byte.

The referenced code:
https://github.com/prysmaticlabs/prysm/blob/5c0ee65619da851acb47cf93ea19f4f637796750/validator/types/collation.go#L131

[2018-09-22 04:48] #556 closed

[2018-09-22 14:16] mkosowsk commented on #438
@prestonvanloon do you feel that @d1vyank's efforts warrant a payout of this bounty or is distributed tracing required? (looks like this is currently blocked by #528). Thanks! 👍

[2018-09-22 22:07] prestonvanloon commented on #497
@mkosowsk Yep!

Thanks for the work @zachzundel!

[2018-09-22 22:07] #497 closed

[2018-09-23 14:54] terenc3t opened #560 "Update Readme Instructions With New Dev Flag"
With the addition of #537. Let's update readme instructions on setting up beacon chain node with the new dev flag.
We'll need to go through all the readmes and find places with `bazel run //beacon-chain` command and make sure the flags reflects to our latest design.

[2018-09-23 20:29] terenc3t opened #562 "Update Public Key in Validator Registration Contract to Bytes"
The plan is to move on to BLS12-381 signatures where the size of public key on the new curve are 48 bytes.

Currently VRC (validator registration contract) takes type `bytes32` for public key. Using BLS12-381, public key needs to be 48 bytes, I propose we change public key's type to `bytes` and check if it's 48 bytes or revert.

https://github.com/prysmaticlabs/prysm/blob/master/contracts/validato

[2018-09-24 14:28] terenc3t commented on #527
#537 merged. Can we close this?

[2018-09-24 14:29] terenc3t commented on #460
Fixed via #541

[2018-09-24 14:29] #460 closed

[2018-09-24 15:43] nisdas commented on #525
Closing this, since it only occurs when the simulator is running

[2018-09-24 15:43] #525 closed

[2018-09-24 17:07] mkosowsk commented on #497
@prestonvanloon thanks!

@ceresstation please pay out to @zachzundel at your earliest convenience 👍

Thanks for the work @zachzundel!

[2018-09-24 18:48] ceresstation commented on #497
Sorry for the delay @zachzundel, awesome job, paying you out now!

[2018-09-24 23:35] leandro-lugaresi commented on #437
@prestonvanloon We are using the flag EnableTracingFlag to enable tracing (the default will be disabled) and the metrics will be enabled by default and the DisableMetricsFlag will be used.
Why? It's not better to use the same pattern here? Both enable or disable by default and the flags consistent?
I think it's better to have both (tracing and metrics) enabled by default. WDYT?

[2018-09-25 03:11] prestonvanloon commented on #437
@leandro-lugaresi That's a great observation.

In my opinion, these services should be disabled by default because they may cause a performance impact.

With that said, if someone actually cared about a high-performance configuration then they could disable the flag. In fact, the author that added EnableTracingFlag originally had the inverse logic and I asked them to deviate (I wasn't aware that i

[2018-09-25 15:30] rauljordan commented on #412
I wonder if the race tests were failing because of how we were checking for logs. @nisdas implemented a helper func called wait for log that actually blocks until a log is received and can be placed at the end of tests. We can revisit this perhaps next week.

[2018-09-25 15:57] terenc3t commented on #538
Not yet. We'll need to figure out how to use Big Int for proto via some sort of extension. Let's revisit this after the demo

[2018-09-25 16:28] terenc3t opened #568 "Align Rewards with Latest 2.1 spec"
Cross reference to this: https://github.com/ethereum/eth2.0-specs/pull/8

For FFG rewards, we should check `time_since_finality <= 3 * CYCLE_LENGTH` rather than `2 * CYCLE_LENGTH`
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/casper/incentives.go#L31

For Crosslink rewards, we should use committees from 2 cycles ago rather than from the previous cycle and remove extra term from p

[2018-09-26 00:50] rawfalafel opened #569 "Improve "ContainsAttestation" Efficiency By Avoiding Bitfield Check"
**Background**: [ContainsAttestation](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/attestation/service.go#L69) checks if a single attester exists in an attestation. Currently, the function accepts a bitfield that's assumed to be zero-filled except for the index which represents the single attester.

**Requirements**: Modify the function to accept the attester's validator index r

[2018-09-26 02:12] leandro-lugaresi commented on #437
@prestonvanloon I am with some doubts about how we will disable the metrics and I want to discuss this with you.
I think in two/three ways:

1. The metrics types used by the Prometheus client are very performant and shouldn't harm the performance of the application. considering these we can use the metric types inside the services without any if or guard to validate the flag. In case of the metric

[2018-09-26 02:34] ryan-shea commented on #272
Hey @hubris, what's the status on this bounty? Wanted to check in :)

[2018-09-26 02:46] terenc3t commented on #485
Recommending the following parameters for demo:

cycle_length/validators/shards/min_committee_size
5/30/3/3
5/10/3/3

[2018-09-26 12:00] nisdas opened #571 "Add a Check for Validity to CheckBit Method"
In the shared sub-package in the repo, there is a helper function called `CheckBit` which is used to check for the existence of a bit in a bitfield. However the method panics whenever an index that does not exist in the bitfield is used in the function.

A PR to solve this issue would instead return an error if an invalid index is used in conjunction with the inputted bitfield. The function signat

[2018-09-26 12:21] nisdas opened #572 "Race Conditions in Tests"
The tests for the beacon-chain/types package are failing in travis but are unable to be reproduced locally.

Below is the output:

[code]

[2018-09-26 14:22] terenc3t opened #573 "Benchmark Block Processing Time at Scale"
**Background:**
Refer to this [issue](https://github.com/ethereum/beacon_chain/issues/103) which was discussed in the 3rd eth2.0 implementers call

**Goal:**
Run some time analysis of block processing for the beacon node. This involves validating both the block and attestations. The following parameters were suggested:
10M ETH deposit, 300k validators, 64 slots
5000 validators per slot
1000 shards

[2018-09-26 14:23] terenc3t commented on #573
#258 is blocking this effort

[2018-09-26 15:13] nisdas opened #575 "Refactor Crystallized State"
### Current Problem
Currently a lot of the logic in `crystallized state` also incorporates Validator Rewards and Penalties, this makes it difficult to test the application of rewards and penalties extensively, as a lot of different elements have to be setup for the test making debugging very complicated.
### What would Solve this
A solution for this would be to extract out the logic pertaining to

[2018-09-26 15:37] nisdas commented on #575
My idea was that crystallized state would consist of two functions , namely Generating a New crystallized state , and helper methods for its fields. Adding in the other stuff makes a lot of the tests hard to carry out and isolate bugs. One example is #572. We dont have to take out everything related to casper but stuff like rewards and penalties .

If you notice new state recalc is hard to test be

[2018-09-26 16:52] terenc3t commented on #575
@nisdas I see I see. That makes sense.

[2018-09-26 22:48] terenc3t opened #579 "Enforce Max Committees per Slot"
`getCommitteeParams` has a bug. The max number of committees per slot should be bounded by the total number of shards. The max committees per slot should also be bounded by total number of shards divide cycle length.

From 2.1 spec:
[code]

Here is the line that needs to change:
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/casper/sharding.go#L62

[2018-09-27 02:32] prestonvanloon commented on #437
Thanks for investigating these options. I agree that it may not be worth the work at the moment to support a flag. As long as we are not expensively updating metrics then it should be OK.

We should be able to profile this at a later time and determine if we need to disable.

Following the pattern of You Ain't Gonna Need It, let's omit the flag for this for now. It wasn't as straightforward as tra

[2018-09-27 02:40] prestonvanloon commented on #438
@d1vyank Let's visit that issue at a later date. We're still deciding on the wire protocol for the future.

This is actually a topic for discussion tomorrow: https://github.com/ethresearch/eth2.0-pm/issues/8

@mkosowsk, I think this is good to go for the original request. Sorry about the delay!

[2018-09-27 02:40] #438 closed

[2018-09-27 02:47] rauljordan commented on #495
Closed by #518

[2018-09-27 02:47] #495 closed

[2018-09-27 06:58] #493 closed

[2018-09-27 12:03] mkosowsk commented on #438
@prestonvanloon thanks! @ceresstation please pay out at your earliest convenience :)

[2018-09-27 12:28] paulhauner commented on #573
FYI, these results were on my laptop: a Lenovo X1 Carbon 5th Gen with an Intel i5-7300U @ 2.60GHz running Arch Linux with a low CPU load at the time.

[2018-09-27 14:04] ceresstation commented on #438
Done :)

[2018-09-27 18:13] terenc3t opened #583 "Updated Tests for Demo Config"
This is to track all the tests that got updated due to demo config. I'll add todo with this issue number for the tests that got changed

[2018-09-27 20:51] terenc3t commented on #583
No longer needed. We are going to use Cli config flag

[2018-09-27 20:51] #583 closed

[2018-09-28 19:21] ceresstation commented on #438
@d1vyank Just need you to submit work and then I can pay you out here :)

[2018-09-29 05:48] nisdas opened #589 "Proposer Index to be Added to Proposal Request"
Whenever a proposer proposes a new block and sends it to the beacon-chain to be processed, the proposer also has to include the attestation from the proposer of the previous slot in the proposal request.

Currently for the demo, this attestation is created in the beacon node, so that the proposer client does not panic and fail. However, the correct method would be for the validator to send the att

[2018-09-29 05:51] terenc3t commented on #589
I thought we are doing that Nishant

[2018-09-29 17:51] terenc3t opened #591 "Overall Design for Simple Serialize (SSZ)"
Opening up this issue to track the overall design progress of simple serialize.
Simple serialize is a serialization protocol with the detailed spec outlined [here](https://github.com/sigp/lighthouse/tree/master/ssz)

To complete this issue, we should address:
- [ ] SSZ implementations
- [ ] SSZ documentations
- [ ] SSZ tests

[2018-09-29 22:01] terenc3t opened #592 "Generate Random Seed to Shuffle Validator in Dev Mode"
Currently when we run beacon node in `--dev` mode, the validators don't get re-shuffled in between cycles.
Reason is during new crystallized state transition, block chain service is not generating random seed and passing the random seed to the shuffle function.
It'd be cool to have this implemented for the demo so we can see validators gets reassigned to different incremental slots every cycle.

[2018-09-30 22:34] terenc3t opened #593 "Implement Deterministic Sqrt Helper Function"
The Eth2.0 implementation teams have decided it's best off to define a deterministic sqrt helper function rather than the built in implementation for various languages. This is to reduce errors across implementations on consensus critical calculations which will be used by the rewards scheme.

To resolve this issue, we should implement the helper function mentioned [here](https://github.com/ethere

[2018-09-30 23:44] djrtwo commented on #593
note, this PR https://github.com/ethereum/eth2.0-specs/pull/14 has a more robust implementation of `int_sqrt`

[2018-10-01 00:21] terenc3t opened #594 "Discard Block Slot Less Than Last Finalized Slot"
Sync service should discard the block if block's slot number is less than last finalized block in crystallized state. This is to be efficient so not every block gets forwarded to the blockchain service.

[2018-10-01 07:17] nisdas commented on #593
@djrtwo I had one more issue with the calculation of rewards/penalties in the spec, specifically this line:
`(total_participated_v_deposits - total_v_deposits) // total_v_deposits`, this calculation would always have to be done using floating point arithmetic otherwise the result would always be zero. Any way we can change this to be more deterministic, otherwise subtle bugs will be introduced acr

[2018-10-01 14:44] rauljordan opened #595 "Update Documentation for Latest Developments on Master/Demo"
Hi all,

This is a tracking issue for updating documentation associated with all our latest changes to ensure newcomers and anyone else can run our code.

[2018-10-01 15:02] mkosowsk commented on #437
@leandro-lugaresi did @prestonvanloon's comment provide the proper guidance that you need to complete this ticket? Thanks!

[2018-10-01 15:20] nisdas commented on #593
@djrtwo Thanks for clarifying that ! Unfortunately it looks like I unnecessarily introduced floating point arithmetic into our reward calculations, will get that changed now.

[2018-10-01 23:22] terenc3t opened #598 "Implement Validator Rotation and Minimal Slashing"
@djrtwo introduced [validator rotation and minimal slashing](https://github.com/ethereum/eth2.0-specs/pull/17) for 2.1 today. This issue will address those functionalities within our `casper` packages. It includes:
- Handle special messages validators can sign outside of normal consensus
- Implement routine to add validator into the pool
- Track special messages in `SpecialObjects`
- Process these

[2018-10-02 02:06] djrtwo commented on #598
There are likely some edge cases that we haven't yet addressed in all this subtle logic.
I'll be implementing this week, but if you run in to anything that doesn't seem covered, please please let me know

[2018-10-02 02:17] nisdas commented on #598
This is blocked by both #575 and #538

[2018-10-02 15:51] terenc3t commented on #598
@nisdas Wanna split this up in two? You can take care of everything relates to rewards/penalties/slashing. I can take care of validators induction and the new `special object` field

[2018-10-02 18:23] terenc3t opened #604 "Types Tests Fail With Race Detection"
Types tests failed with race detection on in Travis and we have turned race detection off in types tests package. Opened this issue to investigate why it was failing with race on and how to resolve it.

https://travis-ci.org/prysmaticlabs/prysm/jobs/436267953

[2018-10-02 18:38] rauljordan opened #605 "Set Genesis Timestamp from Genesis Block If Persistent Data Exists"
Hi all,

Currently, our beacon node always starts from a genesis timestamp of time.Now() which causes the system to start from slot 0 (being genesis), 1, 2, 3, ...

The problem is that if data is persisted (i.e. a block is determined as canonical), restarting the node will fail as the system will detect slot 0 to be time.Now() even though there exists a canonical head from the past. a PR to resolv

[2018-10-02 20:07] #605 closed

[2018-10-02 21:16] #527 closed

[2018-10-02 21:16] rauljordan commented on #592
Closed by #597

[2018-10-02 21:16] #592 closed

[2018-10-02 21:17] #545 closed

[2018-10-03 02:45] #560 closed

[2018-10-03 03:54] #485 closed

[2018-10-03 06:34] hwwhww opened #610 "ShuffleIndices function: re-hash the source"
Hello! I'm writing more comments on our shuffling code in Py-EVM, also peeking yours, and might find these  (potential) issues:

1. It seems `hashSeed := blake2b.Sum512(seed[:])` only hashed once:
https://github.com/prysmaticlabs/prysm/blob/d65e2a41571a2739059e797527b7d47c908d9371/beacon-chain/utils/shuffle.go#L19
but [in the current spec](https://github.com/ethereum/eth2.0-specs/blob/894fb380f39b

[2018-10-03 06:42] hwwhww commented on #610
Also: https://github.com/ethereum/beacon_chain/issues/131
will be helpful for each other if you can check the result in your codebase. (And maybe we have bugs too 😅)

[2018-10-03 11:57] mkosowsk commented on #437
Hi @leandro-lugaresi, how's the WIP PR coming along? Thanks! 👍

[2018-10-03 13:08] #610 closed

[2018-10-03 17:25] terenc3t opened #614 "Implement Light Client Access"
In the latest [beacon chain spec](https://github.com/ethereum/eth2.0-specs/tree/master/specs), we have added implementation detail for light client. By adding these details, we greatly decrease the bandwidth requirements of a light client

The following will be modified:
- New entry and exit flag code in the special object type
- New `deposits_penalized_in_period` and `validator_set_delta_hash_cha

[2018-10-03 20:10] terenc3t opened #616 "Crosscheck Hash Functions Against Spec"
Danny updated the general hash function spec for ETH2.0 client. I think now is a good time to cross check prysm (`beacon-chain` and `validator`) code base to ensure everywhere is using the correct hash function. In the write up:

[2018-10-03 21:08] mkosowsk opened #617 "Thoughts on Ethereum 2.0 Prysm Demo Release v0.0.0 Bug Bounty/Usability Bounty Program?"
Hey all,

Congrats on the Ethereum 2.0 Prysm Demo Release v0.0.0!

I was wondering if there was interest in paying bounties for finding and creating Github issues for bugs and usability problems. I have previously done a [pilot study on Gitcoin](https://github.com/gitcoinco/web/issues/760) that I think turned out pretty well :)

If this seems like a good idea, would love to hash out details in thi

[2018-10-03 21:09] terenc3t opened #618 "Homogenize int types to uint64"
To keep things neat and align with spec and other shasper client implementations, EF has suggested  homogenising all the integer type to `uint64`. I think we are mostly using uint64 but let's double check on that

[2018-10-03 21:45] terenc3t opened #619 "Implement RANDAO Support"
Let's use this issue to consolidate all the RANDAO related design spec and issues. Vitalik has put out an [outline](https://github.com/ethereum/eth2.0-specs/pull/33) in the [latest beacon chain spec](https://github.com/ethereum/eth2.0-specs/blob/master/specs/beacon-chain.md) for implementers to follow.

Highlevel-view, looking at the spec, we'll need to make the following changes to support RANDAO

[2018-10-04 01:24] djrtwo opened #622 "Beacon Node Crashes After Large Slot Skip"
# Issue
After running `beacon-chain` and `validator` for ~800 slots, it appears as though my system went to sleep for 40 minutes. When it came back online ~300 slots were skipped (as expected), but then the `beacon-chain` process threw an uncaught error: `runtime error: slice bounds out of range`.

At this point the `validator` started logging errors about not receiving anything from the RPC strea

[2018-10-04 02:18] nisdas commented on #598
@terenc3t sounds good ! Before we get started on this lets resolve #575 and #538 first.

[2018-10-04 02:28] terenc3t commented on #598
I'm starting new protobuf types and active state logic. Unrelated to those 2 :)

[2018-10-04 02:31] nisdas commented on #598
Alright sounds good to me shouldn't have any problem getting those merged in first

[2018-10-04 04:49] #593 closed

[2018-10-04 17:58] djrtwo commented on #622
The related fix in the spec is in this PR https://github.com/ethereum/eth2.0-specs/pull/44 (still under review)

[2018-10-05 09:33] rawfalafel commented on #604
The most suspicious part is the IO logic [here](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/types/crystallized_state.go#L49-L55). Can we test this theory by turning race back on and uncommenting `TestInitGenesisJson`?

[2018-10-05 09:34] rawfalafel commented on #595
Can we close this?

[2018-10-05 09:36] rawfalafel commented on #572
This looks like a duplicate of #604

[2018-10-05 09:36] #572 closed, assigned to nobody

[2018-10-05 09:37] nisdas commented on #595
Yeah lets close this

[2018-10-05 09:37] #595 closed

[2018-10-05 09:39] nisdas commented on #458
@rawfalafel Is this resolved with @IvanTheGreatDev 's PR ?

[2018-10-05 09:43] rawfalafel commented on #571
Does this happen in the tests or in production? There's already validation to ensure bitfields are the correct length: https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/casper/validator.go#L73

[2018-10-05 09:45] rawfalafel commented on #458
yep!

[2018-10-05 09:45] #458 closed

[2018-10-05 09:51] nisdas commented on #571
I came up across this during testing, but also `shared.CheckBit` is used by itself across the repo. It would be better to have the check in the function rather than outside of it.

[2018-10-05 12:42] leandro-lugaresi commented on #437
@mkosowsk Yes, I will work on this issue today and on the weekend!

[2018-10-05 15:30] terenc3t commented on #618
Just crosschecked pryzm codebase. Only place we're use uint32 is for validator indices. Ok to close this : )

[2018-10-05 15:30] #618 closed

[2018-10-05 17:31] rauljordan commented on #617
Hey @mkosowsk ! This sounds like a great idea - since this is a PoC however, there are various things we left out that would be important in production. We might pursue a usability/bug bounty for our v0.0.1 as that will be more representative of real life. Thoughts @prestonvanloon?

[2018-10-05 17:39] rauljordan commented on #102
This will change significantly and will not be touched until perhaps phase 2 of the spec. We will close for now until it is brought up in later research.

[2018-10-05 17:39] #102 closed

[2018-10-05 17:40] rauljordan commented on #282
Closed now that we have buildkite enabled and it is quite fast

[2018-10-05 17:40] #282 closed

[2018-10-05 17:44] rauljordan commented on #622
This is also affected by the RPC connection idling for a while or disconnecting. Our current validator client does not handle gRPC disconnections gracefully. Instead, it should try to reconnect and run its main loop from scratch in the case of an error.

[2018-10-05 20:51] djrtwo commented on #622
Right, one the validator side for sure.

The particulars of the runtime error in the Beacon node make me strongly believe that it was something related to the large block skip setting off this error in calculating the new `recent_block_hashes`.

It's a `runtime error: slice bounds out of range` when running `calculateNewBlockHashes` inside of `CalculateNewActiveState`.

[2018-10-08 19:26] terenc3t commented on #538
resolved via https://github.com/ethereum/eth2.0-specs/pull/48

[2018-10-08 19:26] #538 closed

[2018-10-09 01:56] rauljordan opened #631 "Implement Simple Serialize"
Hi all,

This is a tracking issue for implementing Simple Serialize for Prysm.

- [x] Create a SERIALIZATION.md Readme in or `docs/` - this should also contain links to research notes
- [x] Create an `ssz` package in our `shared/` folder implementing the core logic
- [x] Basic tests for all `ssz` cases
- [x] Benchmark tools for various `ssz` cases

We should aim to standardize our docs for SSZ to

[2018-10-09 02:00] terenc3t commented on #591
closed for #631

[2018-10-09 02:00] #591 closed

[2018-10-09 02:04] rauljordan commented on #529
Can this be closed?

[2018-10-09 02:08] rauljordan commented on #345
Update on this @nisdas ? Can we close ?

[2018-10-09 02:17] rauljordan opened #632 "Handle gRPC Disconnections Gracefully in Validator Client"
Hi all,

Currently, validator does not attempt to restart its main workflow if it disconnects from a running beacon node. Thus, the beacon node sleeping can lead to issues similar to what Danny encountered in #622. If gRPC disconnects or we encounter some sort of fatal error, the validator should attempt to reset and start again from scratch as if it just connected to a beacon node. A PR for this

[2018-10-09 02:31] prestonvanloon commented on #632
Can you elaborate more on how to reproduce this issue?

I think gRPC will attempt to reconnect automatically unless the server explicitly states that it is shutting down. https://github.com/grpc/grpc-go/blob/8d75951f9be037a31565f412b01a632032fc4a5a/clientconn.go#L1174

See onGoAway (when the server goes away and the client attempts to reconnect): https://github.com/grpc/grpc-go/blob/8d75951f9be037

[2018-10-09 02:36] nisdas commented on #345
Nope , the spec has actually just been specified. So we will be implementing them now with #598

[2018-10-09 02:51] rauljordan opened #633 "Integrate Shared BLS Library for Prysm"
Hi all,

This is a tracking issue for implementing BLS (Boneh-Lynn-Shacham) signature aggregation and verification as a package in our `shared/` folder. This will create a documented, public API for utilizing BLS across Prysm based on the BLS12-381 pairing library and the code put together by @terenc3t in this repo [here](https://github.com/terenc3t/go-bls).

### Other Client Implementations

- Th

[2018-10-09 05:32] rawfalafel commented on #459
This has been fixed with the state refactor.

[2018-10-09 05:32] #459 closed

[2018-10-09 05:38] IvanTheGreatDev commented on #616
So to be clear, the client should not be using keccak256 anymore?

[2018-10-09 10:29] prestonvanloon commented on #632
I'm closing this since gRPC gracefully handles client reconnections.
I believe the underlying issue in #622 is server side.

[2018-10-09 10:29] #632 closed

[2018-10-09 10:31] prestonvanloon commented on #579
@IvanTheGreatDev Are you working on this?

[2018-10-09 10:35] prestonvanloon commented on #269
I think this is out of scope for Prysm. If anything, we could file a feature request for gazelle, but this would likely be a low value P4 anyway.

[2018-10-09 10:35] #269 closed

[2018-10-09 10:49] prestonvanloon commented on #617
I love this idea. We really need the outsider perspective on our project. However, I think we will get more value out of Gitcoin if we wait until we have a more featured client.

Can we aim to set this up in Q1?

[2018-10-09 14:47] IvanTheGreatDev commented on #579
Yes, I made a solution a long time ago but no one looked at it, you can see
the commit mentioned earlier. Should I PR it?

On Tue, Oct 9, 2018, 6:31 AM Preston Van Loon <notifications@github.com>
wrote:

[2018-10-09 16:02] rawfalafel commented on #412
Closing this one since no flaky tests were found while building #636

[2018-10-09 16:02] #412 closed

[2018-10-09 16:03] rawfalafel commented on #604
Resolved in #636

[2018-10-09 16:03] rawfalafel commented on #378
looks like this one was resolved a while ago

[2018-10-09 16:03] #378 closed

[2018-10-09 16:04] rauljordan commented on #499
No longer relevant as we are using buildkite instead - travis is only there for cov and linting

[2018-10-09 16:04] #499 closed

[2018-10-09 16:05] rauljordan commented on #150
This seems to have been resolved as every team is going for simple serialize at the moment - thoughts on closing this @prestonvanloon?

[2018-10-09 16:09] rauljordan commented on #616
@IvanTheGreatDev we've been using blake2b for all ETH2.0 related items, no more keccak

[2018-10-09 16:15] terenc3t commented on #529
We can close this. Basic attestation service functionalitty is done. We can open more issues when as spec gets more finalized

[2018-10-09 16:15] terenc3t commented on #529
We can close this. Basic attestation service functionalitty is done. We can open more issues when as spec gets more finalized

[2018-10-09 16:15] #529 closed

[2018-10-09 21:40] rauljordan commented on #290
@nisdas expressed interest in some initial PRs to tackle this issue

[2018-10-09 21:54] rauljordan commented on #258
This is being worked on in #637

[2018-10-09 23:50] terenc3t opened #638 "Remove Uses of the Word Dynasty for Prysm"
The latest spec plans to depreciate `dynasty change` for `validator set change` with a few functionality tweaks. Let's update our code base to reflect that

https://github.com/ethereum/eth2.0-specs/pull/61

[2018-10-10 01:36] mkosowsk commented on #617
That makes a lot of sense to me!

[2018-10-10 01:51] terenc3t opened #639 "Remove Multiple Slots Per Committee for New Shuffling"
As discussed in the last implementers call, the rationale of having a single committee covers multiple slots only appears when validator count is less than CYCLE_LENGTH * MIN_COMMITEE which is 8192 given current spec. In this case, we'll be using a smaller committee instead.

https://github.com/ethereum/eth2.0-specs/pull/62

[2018-10-10 01:55] terenc3t commented on #604
Looks like this is still there. Reopening

[2018-10-10 02:07] mkosowsk commented on #437
@leandro-lugaresi just a friendly check-in here, how's this coming along? Thanks!

[2018-10-10 16:33] rauljordan commented on #638
Can you add more details to this @terenc3t? Is it just a matter of renaming instances of the word dynasty?

[2018-10-10 16:33] rauljordan commented on #511
Closed by #635

[2018-10-10 16:33] #511 closed

[2018-10-10 21:00] #616 closed

[2018-10-10 23:27] #579 closed

[2018-10-10 23:27] #639 closed

[2018-10-11 01:56] #150 closed

[2018-10-11 15:29] terenc3t commented on #638
Renaming the word and align with the changes of old dynasty functions in the spec

[2018-10-11 22:41] terenc3t opened #646 "Implement a Common Hash Function"
there are a few occurrences where we blake2b the input bytes then take the output bytes and truncate them into 32 length. Example:
[code]
Instead of doing that in multiple places, Let's define a standard hash function call `Hash`, put it in `shared` and use it across pryzm.

[2018-10-12 03:40] zachzundel commented on #569
I'd like to apply to this issue but it looks like ContainsAttestation has been deleted?

[2018-10-13 10:37] prestonvanloon opened #654 "Unable to build on/for Windows"
See these failures:
https://gist.github.com/JerryFireman/95f555953197431fede5fc33b844ba1d
https://gist.github.com/JerryFireman/2fa1a1623be58d0f14afa839d38bed49

This also might open up a bigger issue on cross compiling to provide binaries for other architectures (i.e. raspberry pi, windows, android, etc). This is especially difficult due to dependencies on go-ethereum's cgo libraries.

Here's a (m

[2018-10-13 10:38] prestonvanloon commented on #654
I am out of office until November 1st and I plan to address this issue at that time, unless someone else has resolved it :)

[2018-10-13 10:39] prestonvanloon commented on #654
Note, I can also replicate this behavior on linux by running:
[code]

Results in this error
[code]

The problem is likely somewhere in the cgo deps of https://github.com/prysmaticlabs/bazel-go-ethereum

[2018-10-14 01:52] mkosowsk commented on #569
@rawfalafel could you please speak to @zachzundel's concern when you have a moment? Thanks! 👍

[2018-10-14 02:09] rawfalafel commented on #569
@zachzundel @mkosowsk , sorry the late reply. Yep, this issue is stale.

We'll be opening some more "Good First Issue" tickets, hopefully some more with bounties!

[2018-10-14 02:09] #569 closed

[2018-10-14 02:31] rauljordan opened #656 "Standardize params.Config in Beacon-Chain and Validator Projects"
Hi all,

We currently have two different ways of getting configuration params in both projects, the beacon chain uses params.GetConfig() while the validator uses params.DemoConfig() or params.DefaultConfig(). This is a bit confusing and would be best if we just stick to the way the beacon chain does so. This obfuscates what type of config parameters the system is using and lets the cli and node ha

[2018-10-14 02:34] mkosowsk commented on #569
@rawfalafel No worries, removing funding for this issue :)

[2018-10-14 02:35] rauljordan commented on #646
Closed by #649

[2018-10-14 02:35] #646 closed

[2018-10-14 02:36] rauljordan commented on #646
@IvanTheGreatDev btw if you add "resolves #[ISSUE_NUM_HERE]" to any PR, it'll automatically close the issue being referenced

[2018-10-14 02:38] IvanTheGreatDev commented on #646
Ooooooo TIL
Thanks!

On Sat, Oct 13, 2018, 10:36 PM Raul Jordan <notifications@github.com> wrote:

[2018-10-14 11:38] prestonvanloon commented on #656
IMO, there should be a single `params.Config()` which its contents are dictated by cli flags.

[2018-10-14 18:35] #571 closed

[2018-10-14 18:45] terenc3t opened #659 "Implement Ancestor Hash List Function"
We are moving away from `parent_hash` to `ancestor_hashes`. An `ancestor_hashes` contains a skip list of ancestor block hashes. The i'th item is 2**i'th ancestor for i = 0 to 31.

To update `ancestor_hashes` during block processing, the following algorithm was proposed in the spec:
[code]

[2018-10-15 02:31] cyberbono3 commented on #656
I am interested to dig deeper and resolve my first issue

[2018-10-15 05:26] rawfalafel opened #661 "Implement "IsSynced" method to determine sync status of node"
Currently, `sync/service.go` and `initial-sync/service.go` determines the sync status of the node (in relation to the network) by calling `db.HasStoredState()`.

`db.HasStoredState()` only determines whether or not the local database has been initialized, not whether or not the local chain is caught up with the current chain. Therefore, we should replace `HasStoredState` with a new method `IsSynce

[2018-10-15 05:29] rawfalafel commented on #661
As a first step, I'm going to open up a preliminary PR to replaced `db.HasStoredState` with a stub for `IsSynced`. Merging that PR will allow #426 and #555 to be closed out.

[2018-10-15 06:36] nisdas opened #663 "Make Functions in Casper Package Pure"
A few of the functions in the casper package modify balances or change state directly instead of returning the object when the function is called. This will lead to inconsistent state being persisted if the node shuts down abruptly during a state transition. A PR for this would make the functions pure and lead it to return the object.

For Example:

The `ApplyCrosslinkRewardsAndPenalties` function

[2018-10-15 08:50] #463 closed

[2018-10-15 13:17] #575 closed

[2018-10-15 16:41] leandro-lugaresi commented on #437
Yes will opening the PR today, I just need to finish the bazel files and make some tests with the service running

[2018-10-16 00:02] #619 closed

[2018-10-16 00:17] terenc3t opened #665 "Implement RANDAO multi-hashing"
Let's open a PR to address RANDAO multi-hashing. As described by Vitalik [here](https://github.com/ethereum/eth2.0-specs/pull/69), the nodes on the beacon chain will require more hashes for a RANDAO reveal as more time passes.
This is to reduce RANDAO reveal happens during an orphaned block to be used for future blocks.

[2018-10-16 06:02] rawfalafel commented on #656
@prestonvanloon , that sounds like a good idea.

So the requirements would be a `config.go` file in the `shared` directory.

The `SetEnv` method should accept a second parameter for `beaconchain` or `validator`. If the second parameter is `validator`, `GetConfig` returns a subset of the config with the fields `CollationSizeLimit`, `SlotDuration`, `CycleLength`.

@cyberbono3 , sorry for the late re

[2018-10-17 17:17] #663 closed

[2018-10-17 17:32] rawfalafel opened #670 "Copy state at the top of `CalculateNewActiveState` and `NewStateRecalculations`"
Instead of constructing the new state at the end of the function, we should create a copy of the state at the top of the function. The advantage is that we're free to modify the new object in place, which should be easier to maintain.

When creating a copy, we don't have to create a deep copy of the entire state. For example, we don't have to deep copy `CrystallizedState.ShardAndCommitteesForSlots

[2018-10-17 23:00] #659 closed

[2018-10-18 04:05] rauljordan opened #674 "Handle Chain Reorg"
Hi all,

If a block with a lower slot is selected as a higher scoring one, we need to reorg the chain to match this result. This would entail adding reorg logic within the `updateHead` function after merging #643, leveraging persisted states for unfinalized blocks, and building up a new chain from the last finalized slot upwards.

A PR for this would also include pretty exhaustive tests for variou

[2018-10-18 04:08] rauljordan opened #675 "Initialize Map of Unfinalized Blocks and States During Blockchain Service .Start()"
Hi all,

As part of the chain service, we have a property called `unfinalizedBlocks map[[32]byte]*statePair` which tracks an unfinalized block's (activeState, crystallizedState) pair in memory for the updateHead function to handle scoring and reorgs. If the beacon node shuts down for some reason and this map was full during the session, we should always initialize this map of unfinalized blocks on

[2018-10-18 19:21] #594 closed

[2018-10-19 06:59] #670 closed

[2018-10-22 09:45] nisdas opened #685 "Travis Does Not Fix Dependencies"
Currently travis downloads the latest version on master from every dependency of prysm. This has caused issues where upstream maintainers have made a breaking change on master and our build breaks. To resolve this issue travis has to lock in versions of packages instead of downloading the latest one.

A few dependency management solutions are, `gomod` or `deps` . However, would involve a large amo

[2018-10-22 09:47] nisdas opened #686 "Travis Does Not Fix Dependencies"
Currently travis downloads the latest version on master from every dependency of prysm. This has caused issues where upstream maintainers have made a breaking change on master and our build breaks. To resolve this issue travis has to lock in versions of packages instead of downloading the latest one.

A few dependency management solutions are, `gomod` or `deps` . However, would involve a large amo

[2018-10-22 09:50] nisdas opened #687 "Travis Does Not Fix Dependencies"
Currently travis downloads the latest version on master from every dependency of prysm. This has caused issues where upstream maintainers have made a breaking change on master and our build breaks. To resolve this issue travis has to lock in versions of packages instead of downloading the latest one.

A few dependency management solutions are, `gomod` or `deps` . However, would involve a large amo

[2018-10-22 09:51] nisdas opened #688 "Travis Does Not Fix Dependencies"
Currently travis downloads the latest version on master from every dependency of prysm. This has caused issues where upstream maintainers have made a breaking change on master and our build breaks. To resolve this issue travis has to lock in versions of packages instead of downloading the latest one.

A few dependency management solutions are, `gomod` or `deps` . However, would involve a large amo

[2018-10-22 09:51] nisdas opened #689 "Travis Does Not Fix Dependencies"
Currently travis downloads the latest version on master from every dependency of prysm. This has caused issues where upstream maintainers have made a breaking change on master and our build breaks. To resolve this issue travis has to lock in versions of packages instead of downloading the latest one.

A few dependency management solutions are, `gomod` or `deps` . However, would involve a large amo

[2018-10-22 12:17] #685 closed

[2018-10-22 12:17] #689 closed

[2018-10-22 12:18] #686 closed

[2018-10-22 12:18] #688 closed

[2018-10-22 17:24] rauljordan opened #691 "Refactor P2P Tests to Use gogo/protobuf"
Hi all,

Currently, we get a bug in travis related to the use of protobufs in the shared/p2p package as seen [here](https://travis-ci.org/prysmaticlabs/prysm/jobs/444511336). @prestonvanloon suggested disabling global proto imports but it looks like some refactoring will need to be done to get the shared/p2p/service_test.go disabled tests to pass once again. Opening this as a tracking issue.

[2018-10-22 20:04] terenc3t opened #692 "Implement AttestationSignedData Type"
As part of the attestation verification, the beacon node verifies the aggregated signature coming from attestation and compare its correctness using the group pubkey generated and the serialized form of AttestationSignedData as the message. The AttestationSignedData object is defined as the following:

[code]
This is currently blocked by #591 and #552  as we need SSZ to serialize AttestationSigned

[2018-10-23 18:00] rauljordan opened #697 "Travis Failing When Installing Bazel-Related Dependencies"
Currently, our BLS integration into Prysm uses Bazel to provide the required C library dependencies into cgo. That is, we import a c library provided by bazel using:

[code]

Bazel tests work fine as well as our build on Buildkite. However, travis will always fail as it does not use Bazel but instead uses the regular go tools. During the install steps of travis, it attempts to install all packages

[2018-10-23 18:05] terenc3t commented on #697
Here is the branch:
https://github.com/prysmaticlabs/prysm/tree/bls

[2018-10-23 22:37] terenc3t opened #699 "Verify proposer attestation from last slot, not current slot"
**Background on verifying proposer attestation:**

1. One of the pre-condition for block processing is the block must come with attestation from the proposer of the block, the attestation must be included along with the block in the network message object. Otherwise, the client should reject the block
2. During block processing, for the current block to be valid it must include an attestation of t

[2018-10-24 03:18] rawfalafel commented on #699
sounds right. nice catch!

[2018-10-24 07:19] #699 closed

[2018-10-24 13:04] terenc3t opened #701 "Blockchain Service Tests Hang When it Fails"
Whenever block processing or attestation processing fails, blockchain service tests hang and run forever rather than exit and fail. @rawfalafel suggested there's a blocking channel at the end of `processBlock` in `blockchain/service.go`, This issue makes it difficult to debug test failures as well as writing new blockchain service code and tests moving forward. We'll need to think of a better way

[2018-10-26 10:19] terenc3t opened #706 "Proposer needs to include attestation of the parent block"
When a validator is selected as a proposer it does not include the attestation of the parent block. This works on simulator + beacon node set up because simulated block's attester bitfield is all flipped to 1.

[2018-10-26 15:57] terenc3t opened #709 "Can't justify & finalize slot in demo mode"
When running beacon node in demo mode + simulator, the justified slot, justified streak and finalized slot are always at 0

[2018-10-26 16:34] terenc3t commented on #709
Ahh. It's the block vote cache, we are treating block vote cache as it's part of the active state but it isn't

[2018-10-26 17:09] terenc3t commented on #709
@rawfalafel I think this line is the issue we should get back the old block vote cache
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/db/state.go#L185

[2018-10-27 13:56] rawfalafel opened #710 "Version database schema and add version check on startup"
This would prevent non-obvious exceptions when re-running our code with a different scema.

[2018-10-29 11:43] PumpkingWok commented on #543
Hi @prestonvanloon,
Is this issue still open ? I would like to look in it if nobody is working on it.
Thanks.

[2018-10-29 21:00] terenc3t commented on #543
@PumpkingWok I believe this is still open

[2018-10-30 07:07] terenc3t opened #711 "Mechanism to clean up block vote cache"
Documenting this while it's fresh. Thanks @rawfalafel for discussing this with me & feel free to add more color. We should have a separate goroutine or (service?) for cleaning up block vote cache. When CYCLE_LENGTH * SLOT_DURATION happens, the routine should detect for a new finalized slot, if there's a new finalized slot the routine cleanup block vote cache in db.

[2018-10-30 12:25] terenc3t opened #712 "Implement Block Ancestor Hash Check"
When a beacon node processes the block, it should verify block's ancestor hashes are correctly populated by running [update_ancestor_hashes](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/types/block.go#L237-L247). If the ancestor_hashes is not correct we should reject the block

[2018-10-30 23:07] frankchen07 commented on #543
@PumpkingWok - don't forget to apply for work on the Gitcoin Issue Details page if you're interested!

[2018-11-01 07:54] terenc3t opened #716 "Implement Tree Hash Functions for Simple Serialize"
Let's Implement the following tree hash functions outlined in the spec for Simple Serialize. This is to make current data structures become more light client friendly and apply to crystalized state, active state, and blocks.

See reference: https://github.com/ethereum/eth2.0-specs/issues/54

[2018-11-02 11:53] rauljordan opened #718 "Run Fork Choice Tests Using the YAML Test Parser and Simulated Backend"
Hi all,

After the merge of #681, we have a fully functional yaml test parser for chain tests (fork-choice tests) we can utilize. The simulated backend includes the functionality of modifying global config parameters for a sandboxed execution environment for tests. The next step is to utilize the variables defined in the tests to seed the database with initial information required for the fork cho

[2018-11-03 16:59] #691 closed

[2018-11-05 08:47] dtco-kimi commented on #562
I'd like to resolve this issue. I'm wondering it's necessary to generate .go and update the test file?
In `setup()` of the test file, I have no ides how to replace ECDSA key with BLS12-381. Would you please provide me some information?

In my solution, I plan to use
[code]
to replace
`mapping (bytes32 => bool) public usedPubkey;`
due to `mapping` is not allowed to use dynamic type as a key.

[2018-11-05 08:49] KimiWu123 commented on #562
I'd like to resolve this issue. I'm wondering it's necessary to generate .go and update the test file?
In `setup()` of the test file, I have no ides how to replace ECDSA key with BLS12-381. Would you please provide me some information?

In my solution, I plan to use

[code]
to replace
`mapping (bytes32 => bool) public usedPubkey;`

due to `mapping` is not allowed to use dynamic type as a key.

[2018-11-05 09:16] houjieth commented on #631
Can I ask a question about ssz? From the spec, we are not sure whether recursive list needs to be supported. For example: `[[1,2],[3,4]]`

[official implementation](https://github.com/ethereum/beacon_chain/blob/master/ssz/ssz.py) seems to support it. When I add some tests like `[[1,2],[3,4]]`, `type [['int8']]` and it works.

[lighthouse's implementation](https://github.com/sigp/lighthouse/tree/ma

[2018-11-05 11:08] rawfalafel commented on #631
The purpose of ssz isn't to avoid using reflection. Our ssz implementation will likely use reflection, and optionally use unsafe pointers for performance.

[2018-11-05 13:46] nisdas commented on #562
Hey @KimiWu123 , thanks for looking at this! But I think @IvanTheGreatDev  is already tackling this in #630. EDCSA or BLS sigs are not relevant to this issue, just changing the key size to 48 bytes. Although if I am remembering correctly the issue was unable to be resolved because keys in a mapping unable to be of a dynamic type.

What you have above looks like a viable solution, @IvanTheGreatDev

[2018-11-05 13:55] IvanTheGreatDev commented on #562
I was thinking we could split the 48 byte key size into one 32 byte and one 16 byte data field, and then hash the result of that, but yeah we can actually just hash the bytes array they pass in itself :)

[2018-11-05 15:26] terenc3t opened #720 "Failed to create BeaconNode: bucket already exists"
I've been seeing the following failure while testing for node package. The failure goes away after delete data dir. Has anyone else run into the same issue?

`node_test.go:61: Failed to create BeaconNode: bucket already exists`

[2018-11-05 17:09] terenc3t opened #721 "Verify justified_block_hash is the hash of the block at the justified_slot"
Beacon node only verifies justified_block is stored in the DB by doing a lookup using justified_block_hash.
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/types/block.go#L266-L271

Instead of verifying justified block has to be in the current chain, one more additional check needs to be implemented: Beacon node needs to verify the justified block's slot number is the same as justi

[2018-11-05 18:02] rawfalafel commented on #720
I'll take a look at this.

[2018-11-05 19:38] JerryFireman commented on #721
I'd like to work on this issue.

[2018-11-05 20:36] terenc3t commented on #721
Thanks! @jerryfireman Let me know if there's any questions. Happy to answer them on Discord

[2018-11-06 18:38] terenc3t opened #727 "Implement Persistent Shard Committees"
Let's implement persistent shard committees as specified in the latest beacon chain spec.  These committees get reshuffled at a slower rate ~12 days.
2 additional fields were introduced in crystallized state `persistent_committees` and `persistent_committee_reassignments`, they are used to track validators added or removed from active list during state recalculation. Lastly here is the logic to re

[2018-11-06 20:30] rauljordan commented on #687
Is this still an issue given the automated tool you included earlier @prestonvanloon?

[2018-11-06 20:31] rauljordan commented on #622
@rawfalafel @terenc3t can you guys confirm your latest fixes resolve this issue?

[2018-11-06 20:49] #701 closed

[2018-11-06 21:23] rauljordan commented on #562
Closed by #630

[2018-11-06 21:23] #562 closed

[2018-11-06 21:43] terenc3t commented on #720
Closed via #729

[2018-11-06 22:47] terenc3t commented on #622
I think this problem is primarily due to initial sync is not working. If the node disconnects for more than CYCLE_LENGTH, it'll fail

[2018-11-07 11:38] prestonvanloon commented on #687
@rauljordan Yes, renovate does not check go_repositories. Please go click the 👍 button on this issue: https://github.com/renovatebot/renovate/issues/2733

When this is supported, we can update our dependencies (and fix breaking changes) from master changes.

[2018-11-07 14:08] #720 closed

[2018-11-07 14:09] prestonvanloon commented on #555
Blocking #622

[2018-11-07 14:10] #108 closed

[2018-11-07 14:10] prestonvanloon commented on #108
Closing stale issue

[2018-11-07 14:12] prestonvanloon commented on #709
Is #711 related?

[2018-11-07 14:14] terenc3t commented on #709
@houjieth mentioned he wants to use a DB for storing block vote cache. #711 is to clean up the block vote cache in the DB periodically

[2018-11-07 14:31] randomshinichi commented on #716
Hello, I'd be interested in doing this issue

[2018-11-07 14:31] randomshinichi commented on #718
I'd like to do this issue too

[2018-11-07 14:32] randomshinichi commented on #654
I'd like to work on this one - finally a use for my main PC

[2018-11-07 15:06] mkosowsk commented on #543
@PumpkingWok you are approved to start work :)

[2018-11-07 15:19] nisdas commented on #718
@randomshinichi Ah , I think @rauljordan is already covering this in #681.

[2018-11-07 15:19] nisdas commented on #716
Sounds good, Assigned to you !

[2018-11-07 15:22] terenc3t commented on #718
#681 is just the outline, this issue is to implement the test

[2018-11-07 15:34] nisdas commented on #718
I think this issue tracks a few future PRs, I am not sure if there is sufficient context in this for someone to start working on it immediately

[2018-11-07 15:35] terenc3t commented on #718
Yeah. Let's break this down into smaller PRs

[2018-11-07 17:37] PumpkingWok commented on #543
Hi,
I'm going to start the work tomorrow. I did not understand well if my proposal to this issue had been approved because it does not appear in its gitcoin bounty page.
Thanks.

[2018-11-07 19:07] #420 closed

[2018-11-08 05:06] ryan-shea commented on #437
Hey @mkosowsk, looks like there's some good discussion going on in #673  -- will snooze the bot for 5 more days. Let me know if you have any questions ! @leandro-lugaresi

[2018-11-08 11:09] prestonvanloon commented on #709
So it is related? @terenc3t

[2018-11-08 11:12] prestonvanloon commented on #718
Assigning to Raul for now. Please outline smaller tasks for external contributors, if applicable.

[2018-11-08 14:15] terenc3t commented on #709
Yes it is. This is blocking #711

[2018-11-08 19:13] terenc3t commented on #709
Since this is a very top priority issue, I will be working on this as well

[2018-11-08 19:54] houjieth commented on #709
@terenc3t I'm doing the following changes:
- Move BlockVoteCache out of ActiveState
- Using "block-vote-cache-<block_hash>" as DB key to store block vote info for each block as soon as we processed a block (before updating the chain head)
- Read from "block-vote-cache-<block_hash>" from DB when need to access block vote cache but do not read it inside GetActiveState()

I will probably submit a PR

[2018-11-08 21:52] terenc3t commented on #709
Awesome! That sounds good so far.
I agree on moving block vote cache out of active state since it's going to be deprecated / combined with the crystallized state. I'll wait for your PR and we can begin our work from there 👍

[2018-11-10 01:13] terenc3t opened #737 "Update Shard to Beacon Chain Crosslinking Mechanics"
The [crosslink mechanic has been updated](https://github.com/ethereum/eth2.0-specs/pull/111) due to a potential attack that was brought up [here](https://github.com/ethereum/eth2.0-specs/issues/106). With this changes, validator shuffling has a lower barrier to entry. To sufficiently implement these changes, we should wait to combine active & crystallized state to a [single state implementation](h

[2018-11-10 01:35] terenc3t opened #738 "Run Shuffle Tests Using the YAML Test Parser and Simulated Backend"
With the merge of #681, we can utilize the yaml test parser for shuffle tests mentioned [here](https://github.com/ethereum/eth2.0-specs/blob/master/specs/test-format.md). Having deterministic shuffling across all client implementations is crucial. This issue can be closed once we successfully run a [shuffle test](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/utils/shuffle.go) usi

[2018-11-10 01:38] rauljordan commented on #738
This is a pretty good first issue actually! It would entail:
- Specifying Go structs that YAML files can deserialize into for shuffling and other stateless conformity tests
- Using the shuffle utils based on the information deserialized from YAML and confirm the output

[2018-11-10 23:56] terenc3t commented on #738
@gitcoinbot can we approve @houjieth? He has contributed with us a few items, I'd like for him to get this one.

@aj07 sorry! there are a few other good issues available. Feel free to take a look and let me know if you have any questions

[2018-11-10 23:57] houjieth commented on #711
I will take this one after https://github.com/prysmaticlabs/prysm/pull/739 is merged.

[2018-11-11 00:48] myutzy commented on #654
I receive what appears to be the same error, or a related error, when running `bazel build //beacon-chain:beacon-chain` on Win 10 Pro x64.

[code]

[2018-11-11 15:16] ceresstation commented on #738
Just approved you @houjieth, you're good to go :)

[2018-11-11 16:54] #709 closed

[2018-11-11 17:52] nisdas opened #741 "Simulator Fails From Slot 10 And Beyond"
Currently if the simulator is left running , from slot 10 on wards it starts logging this error
[code]
This issue has to do when retrieving committees from the crystallized state for the simulator
[code]
A solution for this would be to modify the crystallized state to account for slots beyond the 9th slot

[2018-11-12 15:33] terenc3t opened #743 ""bucket already exists" when we don't delete local DB"
I've been running into this following error when we don't delete local DB every time. It's easily reproducible on Master.

Steps to reproduce:
1.)
`go run main.go --datadir testdir --verbosity debug --rpc-port 4000 --genesis-json ../genesis.json --simulator --demo-config` ==> Works

2.)
Don't delete testdir

3.)
`go run main.go --datadir testdir --verbosity debug --rpc-port 4000 --genesis-json ../

[2018-11-12 15:37] nisdas commented on #743
@terenc3t I will be tackling this after I am done with initial sync.

[2018-11-12 16:33] mkosowsk commented on #738
Test comment, please ignore :)

[2018-11-12 18:55] terenc3t commented on #741
closed via #744

[2018-11-12 18:55] #741 closed

[2018-11-12 19:59] rawfalafel commented on #710
After thinking about this a little more, I'm going to close this. The motivator for this ticket was that schema changes caused unexpected exceptions at runtime. But since our database is inherently schema-less, any solution that emulates schemas are going to be clumsy. Its a low priority issue, so I think its okay to no address.

[2018-11-12 19:59] #710 closed

[2018-11-12 20:01] rawfalafel commented on #741
Can you explain how this is reproduced? I ran the beacon chain simulator and couldn't reproduce.

[2018-11-13 07:51] rawfalafel opened #745 "Use 3 committees instead of 2"
There was some miscommunication that led to the # of committees being reduced from 3 to 2: https://github.com/prysmaticlabs/prysm/commit/3c6952c510477595e94f3d949ed05f5aad5d53d2#diff-b6e8555721f33a1a4f2e46447c8c3d31R33

This reintroduced a bug, where cycle transitions failed: https://github.com/prysmaticlabs/prysm/issues/741#issuecomment-438128167

The fix that addresses #741 is not a complete fix

[2018-11-13 13:40] terenc3t commented on #745
Should we also propose them to update the spec? The spec still says 2 committees which is confusing

[2018-11-13 17:19] PumpkingWok commented on #543
Hi,
Yes, i'm still working on this issue.I'm going to init the code test tomorrow.
I will keep update this page.
Thanks.

[2018-11-13 17:31] rawfalafel commented on #745
Here's the issue in the spec repo with my proposal: https://github.com/ethereum/eth2.0-specs/issues/92#issuecomment-431552934

[2018-11-14 02:36] terenc3t opened #748 "Active State Copy Messes Up Recent Blockhashes"
The copy function in active_state messes up recent_block_hash field. The following happens when we call copy active state:

Slot 1:
- Before copy: [0,0,0,0,0xA]
- After copy: [0xA,0xA,0xA,0xA,0xA] Should be [0,0,0,0,0xA]

Slot 2:
- Before copy:  [0xA,0xA,0xA,0xA,0xB]
- After copy:  [0xB,0xB,0xB,0xB,0xB] Should be [0xA,0xA,0xA,0xA,0xB]

Slot 3:
- Before copy:  [0xB,0xB,0xB,0xB,0xC]
- After copy:  [

[2018-11-14 13:05] zincoshine opened #751 "Update ValidatorRegistration Contract as Per the Latest Spec"
Update ValidatorRegistration contract as per the latest spec

The initial deployment phases of Ethereum 2.0 are implemented without consensus changes to the PoW chain. A registration contract is added to the PoW chain to deposit ETH. This contract has a registration function which takes as arguments pubkey, withdrawal_shard, withdrawal_address, randao_commitment as defined in a ValidatorRecord bel

[2018-11-14 13:06] zincoshine commented on #751
I am happy to work on this one.

[2018-11-14 13:08] nisdas commented on #751
Awesome :) , assigned to @zincoshine

[2018-11-14 13:11] nisdas commented on #751
@zincoshine Could you elaborate what is the issue that needs to be dealt with in modifying the VRC above in the issue decription. The current description just describes what the VRC is

[2018-11-14 13:17] zincoshine commented on #751
proof of possession should also be passed as a parameter to the deposit function. @nisdas

[2018-11-15 05:17] nisdas commented on #555
@nisdas Ah , no . This will not be. But it would be resolved when #743 is resolved

[2018-11-15 12:54] #437 closed

[2018-11-15 17:21] terenc3t opened #781 "Beacon Node Refactorization"
With the finished [replacement](https://github.com/ethereum/eth2.0-specs/pull/122) of active and crystallized state with single state, we can begin to refactor beacon node to adopt these changes. The updates will touch base across multiple packages including core, DB, casper, types and will open up many design questions. Let's use this as a mega issue to track the overall progress, discuss the des

[2018-11-16 03:17] nisdas commented on #781
With the merging of the two states, we can simplify a lot of the things in our implementation. Now  block processing only affects certain parts of the state, and with this would be a good time to also consider @rawfalafel proposal to merge in the casper package.

Although if we do go down that path, I would rather `casper` and `state` be in their own package, the types package is meant to be a wra

[2018-11-16 06:52] rauljordan opened #791 "Utilize Certificate/Key for Secure gRPC Connections"
In the future, we'll need to enforce secure gRPC connections to some degree, as this is a critical point of failure when it comes to beacon node vs. validator client interactions. gRPC supports this out of the box, we just have to provide the .crt and .key files required for secure connections through which data can be sent through.

[2018-11-17 11:36] houjieth commented on #738
@gitcoinbot Thanks for the reminder. I have a WIP PR here https://github.com/prysmaticlabs/prysm/pull/815. Should be able to finish the PR in another day.

[2018-11-18 16:39] #656 closed

[2018-11-19 01:59] #555 closed

[2018-11-19 05:58] rauljordan opened #830 "Attempt a BLS12-381 Implementation in Go"
Hi all,

We are currently planning on using [go-bls](https://github.com/prysmaticlabs/go-bls) for our BLS-12-381 signature aggregation library to use throughout our repository. There has been some discussion on creating a pure Go implementation of the system as that would bring a massive benefit to our client and to the general public. Specifically, we wouldn't be relying on CGo bindings, no under

[2018-11-19 06:54] #738 closed

[2018-11-19 07:01] nisdas commented on #743
Closed by #787

[2018-11-19 07:01] nisdas commented on #661
Closed by #787

[2018-11-19 07:03] #743 closed

[2018-11-19 07:03] #661 closed

[2018-11-19 14:40] terenc3t opened #845 "Failed to Get Shard Committee in Simulator Service"
Simulator logs the following error when we launch and relaunch beacon node. Beacon node advancing then fails

[code]

[2018-11-19 18:55] rauljordan commented on #622
Closed by #743

[2018-11-19 18:55] #622 closed

[2018-11-20 16:54] rauljordan commented on #697
This is no longer needed as we have moved bls to its separate repo [go-bls](https://github.com/prysmaticlabs/go-bls)

[2018-11-20 16:54] #697 closed

[2018-11-20 16:59] rauljordan commented on #598
can this be closed @terenc3t?

[2018-11-20 17:41] terenc3t commented on #738
@houjieth has completed this task in #815. Can we please award him the bounty if we haven't done it yet?

[2018-11-20 19:42] rauljordan commented on #534
Can this be closed as well @terenc3t @nisdas?

[2018-11-20 19:42] rauljordan commented on #426
Can this be closed @nisdas?

[2018-11-20 19:43] rauljordan commented on #687
Closed by https://github.com/renovatebot/renovate/issues/2733 :)

[2018-11-20 19:43] #687 closed

[2018-11-20 19:44] terenc3t commented on #534
Yeah. We can
See relevant discussion: https://github.com/ethereum/eth2.0-specs/issues/6

[2018-11-20 19:44] #534 closed

[2018-11-20 19:46] terenc3t commented on #598
We haven't implemented all the slashing conditions. Since researching is still going on. I'm marking this blocked by research for now

[2018-11-20 21:09] leandro-lugaresi commented on #437
@prestonvanloon Everything ok with that issue, right?

[2018-11-21 01:36] nisdas commented on #426
@rauljordan , Yeap this is resolved by #787

[2018-11-21 01:36] #426 closed

[2018-11-21 02:05] mestorlx commented on #830
I understand that @meyer9 is working on this.
If not I would like to take it.

[2018-11-21 06:30] ceresstation commented on #830
Hey @meyer9 just approved you, keep us updated :)

[2018-11-21 10:13] ceresstation commented on #543
Hey @PumpkingWok how's everything going here?

[2018-11-21 11:16] leandro-lugaresi commented on #437
@ceresstation :point_up:

[2018-11-21 20:20] terenc3t opened #891 "Block Validity Conditions for Initial Sync"
Beacon node downloads beacon blocks during initial sync from other peers, it also should be checking whether incoming blocks valid before passing to other services or saving it to local DB. If the incoming block is not valid (e.g. incorrect slot number, incorrect proposer signature) The initial sync service should just discard the block.

[2018-11-22 02:55] nisdas commented on #845
Closed, as this is resolved with #669

[2018-11-22 02:55] #845 closed

[2018-11-22 03:01] nisdas opened #898 "Initial Sync Overwhelms Nodes"
If a node is syncing from a sufficiently far enough point(ex :100 blocks behind), it would send out a request for 100 blocks at the same time which would be effectively DOSing any node who receives this. A PR to resolve this would involve nodes sending the 100 blocks in a single response rather than multiple responses.

[2018-11-22 03:14] nisdas opened #900 "Split the Sync Services Routines"
Currently both the `Sync` and `InitialSync` services both respond to requests and process blocks in the same goroutine. This brings up an attack vector , where a malicious node can potentially basically DOS another node by overloading that node with requests which would prevent the node from block processing and advancing their local chain in the `SyncService` or saving blocks in `InitialSyncServi

[2018-11-22 04:08] ceresstation commented on #437
Hey @leandro-lugaresi sorry for the delay, paying you out now!

[2018-11-22 06:14] nisdas opened #903 "Validator Client Unable to Find Index for Public Key"
When running the validator client with the following command :
[code]
the following error log shows up
[code]
This only started appearing after  #875 and #870 were merged in.

[2018-11-22 06:20] nisdas opened #904 "E2E Test Suite"
Currently there are no tests in our repo that ensure that a beacon/validator client is able to start up correctly and run as expected. Critical bugs which lead to failures in launching clients, clients not running as expected and panics in them are not able to be detected unless someone manually runs a client themselves. For an example of this, #903.

A solution to stop this from happening would b

[2018-11-22 08:11] terenc3t opened #911 "Update VRC chain initialization and receipt root tracking"
We need to update VRC to include the latest chain initialization logic and receipt root tree for tracking individual deposit log. This is a must-have for our testnet. I will work on this during/after Thanksgiving

[2018-11-22 16:47] terenc3t opened #923 "Add Special Record During Block Processing"
As part of #903, we removed special record processing when beacon node computes for a new active state. This is a reminder to add special record processing back as we refactor active and crystallized state into one object.

[2018-11-22 17:01] #903 closed

[2018-11-22 19:18] rauljordan commented on #604
Fixed in #890

[2018-11-22 19:18] #604 closed

[2018-11-23 19:14] randomshinichi commented on #654
Unfortunately I could not get bazel working far enough to reproduce this error. I'd like some proper instructions on how to set the compile environment up on Windows.

Here are the problems I waded through after spending some time on this. Please ping me if there is a guide to setting up the Windows compile env.
Ran into many minor MSYS errors.
You need to install Git for Windows.
Visual Studio Bu

[2018-11-23 19:15] randomshinichi commented on #716
Current status: The spec is not finalized yet. Just keep up to date with vbuterin's PRs on github.com/ethereum/eth2.0-specs

[2018-11-24 03:46] masonmahaffey opened #956 "Typo in CONTRIBUTING.MD"
Just a simple typo...left off the "r" in for.

Additionally, our [Sharding Reference Implementation Doc](https://github.com/prysmaticlabs/prysm/blob/master/validator/README.md) serves source of truth for all things related to our implementation of sharding **TYPO HERE** --> fo Ethereum.

Additionally, our [Sharding Reference Implementation Doc](https://github.com/prysmaticlabs/prysm/blob/master/va

[2018-11-24 05:27] masonmahaffey opened #958 "README is using an outdated link"
https://github.com/prysmaticlabs/prysm/blob/master/validator/README.md

Is pointing to the wrong Ethereum Serenity specs.

It's pointing to: https://notes.ethereum.org/SCIg8AH5SA-O4C1G1LYZHQ
as opposed to: https://github.com/ethereum/eth2.0-specs

I created a PR to update the README

[2018-11-24 15:13] #958 closed

[2018-11-24 21:14] prestonvanloon opened #961 "(a *ActiveState) appendNewSpecialObject is unused"
This code is never called from a path within a main package. It is only called within a test.

Can it be deleted? Can it be moved into the test file, if necessary for testing purposes?

https://github.com/prysmaticlabs/prysm/blob/30e34745e56c093b252c732b3b6e9b8c8a737e65/beacon-chain/types/active_state.go#L138-L143

Found by [codecoroner](https://github.com/3rf/codecoroner)

[2018-11-24 21:20] prestonvanloon opened #962 "(v *BlockVote) copy() and BlockVoteCacheDeepCopy are unused"
This code was introduced in #739. Assigning @terenc3t to delegate or fix as the approver of this PR.

These methods are never called from the beacon-chain main package.
Can we remove this? Why is it needed if it is not used.

https://github.com/prysmaticlabs/prysm/blob/8c9c78f128e1104030aa796b09a0356e788d7b65/beacon-chain/utils/block_vote_cache.go#L40-L49

https://github.com/prysmaticlabs/prysm/bl

[2018-11-24 21:25] prestonvanloon opened #963 "UpdateAncestorHashes is unused"
This is not called from the beacon-chain main package.

Can it be deleted?

https://github.com/prysmaticlabs/prysm/blob/391eacd1d725aa6e16f15fee2a0ae0862506dd3e/beacon-chain/types/block.go#L237-L247

Found by [codecoroner](https://github.com/3rf/codecoroner)

[2018-11-25 04:07] terenc3t commented on #963
This is part of the helper function which is waiting to get used for #712. I'll add a TODO

[2018-11-25 04:07] #963 closed

[2018-11-25 04:14] meyer9 commented on #830
[code]

Initial tests show about 1/4 the speed of the Rust implementation. Could easily be improved.

[2018-11-25 04:41] ceresstation commented on #738
Ah sorry about that @houjieth, I can actually pay you out without needing you to submit using advanced payout, let me do that now.

[2018-11-25 08:01] #961 closed

[2018-11-25 12:38] JerryFireman commented on #654
Hi @randomshinichi I got Bazel running for Windows following these instructions
https://docs.bazel.build/versions/master/install-windows.html
It was a few weeks ago so my memory is foggy but as I remember the only issues I ran into were cleared by putting Visual C++ and Python in the path. When I tried to build Prysm I got the errors in the gist files posted above by @prestonvanloon. Please let me

[2018-11-26 04:13] nisdas commented on #751
@zincoshine Any updates on this ?

[2018-11-26 09:11] shogochiai opened #971 "UDP/Tor Support: The Hidden Service for the Serenity"
Serenity would use libp2p, and UDP would be omitted. So, is there any plan to add Tor support for Ethereum?

Relevant topics
In Parity
https://github.com/paritytech/parity-ethereum/issues/6460

In BitcoinABC
https://github.com/Bitcoin-ABC/bitcoin-abc/issues/117

[2018-11-27 23:29] meyer9 commented on #830
The library is technically "working" now. Completely unoptimized benchmarks (10-1000x worse than Rust):
[code]

[2018-11-28 02:17] meyer9 commented on #830
[code]

[2018-11-28 05:12] rauljordan opened #985 "Determine Runtime Error States for Beacon Node"
Hi all,

This is an issue tracking progress on improving how our beacon node handles errors gracefully. This is along the same lines as #632. In particular, we want to go through our beacon node implementation and check that for each service, there will not be any particular error condition that would cause the system to fail or leave the system in an inconsistent state. For example, if we have an

[2018-11-28 05:15] rauljordan commented on #985
@houjieth perhaps you could be interested in this given your experience in building production-level projects, happy to chat about this more over discord

[2018-11-28 05:17] rauljordan commented on #971
Hi @shogochiai no concrete plans at the moment, but this would seem like a good and useful feature to have. @prestonvanloon perhaps can shed more light on our libp2p configuration. We are currently planning on creating a testnet where some nodes will be behind NAT and can receive inbound connections via a libp2p relay node, but haven't taken a deeper look on privacy-related options such as Tor.

[2018-11-28 05:21] rauljordan commented on #631
@houjieth is interested in taking this up

[2018-11-28 09:02] #711 closed

[2018-11-28 09:38] meyer9 commented on #830
Further optimized the modular multiplication function. This is about as good as we can get without a uint384 library for Go (which I'm also in the process of writing). This can then utilize Montgomery Modulus Reduction to run modular multiplication operations (over 50% of the work load) much faster.
[code]

This is still about 25x worse than ZCash's rust implementation (2 million ns vs 50 million

[2018-11-28 19:11] cyberbono3 commented on #791
Hey. I can start dig into it. Can u clarify if it is required to utilize Certificate/Key for gRPC connections between beacon node and validator client only ? or for all gRPC connections?

[2018-11-28 22:00] rauljordan opened #988 "Align Types With the Latest Spec Changes"
Hi all,

A lot has been changing in the spec this week but according to @djrtwo, there will not be any more non-trivial changes to the core primitives or the state transition. In particular, we can now build off #960 and ensure all type definitions (and protos) are aligned with the definitions of the spec.

[2018-11-30 05:53] terenc3t opened #1008 "Optimize Validator Registration Contract in Solidity"
Here are a few ideas to optimize our [validator registration contract](https://github.com/prysmaticlabs/prysm/blob/master/contracts/validator-registration-contract/validator_registration.sol). I'd love for someone with great solidity experience to pick this up.

- Optimize to be gas efficient especially `receiptTree` gets updated
- Is in-line assembly the best way to handle byte operations such as

[2018-11-30 15:12] #911 closed

[2018-12-01 06:32] meyer9 commented on #830
So it looks like I can speed this up by a lot by using fixed uint384/uint256 numbers. I'm working on that in the fqrepr branch.

[2018-12-01 11:48] nisdas opened #1017 "Error Not Logged When A Port is Taken Up"
Currently if a port for p2p is already taken up, an error is not logged. A PR for this would
be to have an error logged if a specified port cannot be used

[2018-12-01 12:18] nisdas opened #1018 "Combine Sync Services"
Currently in our repo there are 3 sync services which are started up concurrently, however the initial sync and normal sync services are directly dependent on the result of the sync query service. Currently, the sync query service blocks until it can get a result to pass on towards the other sync services. This is not optimal,as all the services should be able to be run concurrently.

A solution t

[2018-12-01 20:57] prestonvanloon commented on #1017
In my opinion, this should force a graceful shutdown of the application. If the port to bind is already in use, then their will be no way to communicate with peers.

To reproduce the problem, run two beacon-chain nodes with the `--p2p-port` flag set to the same value. You would expect one to fail entirely, but it is silently failing to bind to the port.

[2018-12-01 21:04] prestonvanloon commented on #971
Hey @shogochiai, the current plan is to leverage libp2p supported transports. If libp2p plans to support it then we'll support it as well.

Check out their [roadmap](https://docs.google.com/document/d/1Rd4yNw1TNQBvfRrKeEMSTseb6fvPzS-C--obOn0nul8/edit?usp=sharing) and follow https://github.com/libp2p/go-libp2p/issues/353 for updates on UDP support in libp2p.

[2018-12-01 21:05] prestonvanloon commented on #971
For the record, I would really like to adopt this for Prysm. Let's leave this issue open while the libp2p team makes progress on their 2019 roadmap and potential support for UDP transport.

[2018-12-01 21:06] prestonvanloon commented on #900
How does this align with #1018?

[2018-12-02 01:59] prestonvanloon commented on #263
This is pretty outdated, but we still do not have a formal design for p2p here.

[2018-12-02 04:13] meyer9 commented on #830
Not finished quite yet, but that improved speed by approx. 4x:
[code]

[2018-12-02 04:15] rauljordan commented on #830
What target numbers are you aiming to get for it to be considered "done" in your eyes? Btw isn't the verification benchmark not too important as we'll just be verifying one aggregate sig anyways?

[2018-12-02 04:21] yaanhyy opened #1022 "using bazel 0.19.2 to build beacon-chain failed"
When I run command,get below hint.My GOPTH=/home/yaanhyy/go_work,and have the package:
[code]

go-ethereum package：
[code]

[2018-12-02 06:19] yaanhyy commented on #1022
Now， I  add proxy fixed the problem.But meet new issue, how can I fixed it:
[code]

[2018-12-02 13:36] prestonvanloon commented on #1022
From which commit are you building? This was fixed in #1016 and #1020.

You may need to do a full clean and rebuild.
[code]

[2018-12-02 14:39] nisdas commented on #900
This can be included in the PR for #1018 too , where we will be combining the sync services into a single services. This just deals with splitting up the big-goroutines into multiple smaller ones.

[2018-12-04 04:15] prestonvanloon commented on #1022
This builds on master now with a clean build.

Here's the version I tested with:
[code]

[2018-12-04 04:15] #1022 closed

[2018-12-04 12:33] prestonvanloon opened #1043 "Update data structure names after spec cleanup part 2"
Part of #781, but capturing in a small issue.

There are a few renamed fields and other changes in the following clean up PR.

https://github.com/ethereum/eth2.0-specs/pull/217

This seems small enough to do in one or two PRs.

[2018-12-05 14:20] prestonvanloon commented on #543
@PumpkingWok do you plan on working on this? We anticipated this issue to take less than one hour for someone familiar with libp2p or someone resourceful with go testing/debugging.

[2018-12-05 15:50] rauljordan commented on #830
Hey Julian, thanks for all the work on this - we understand all the extra optimization work is out of scope of the bounty. We are happy to award you for the work. @ceresstation we can end this bounty and award to @meyer9.

[2018-12-05 16:08] rauljordan commented on #692
Closed by #1027

[2018-12-05 16:08] #692 closed

[2018-12-05 17:28] terenc3t opened #1051 "Deprecate Hash Utils for ETH1.0 Keccak256"
Should we deprecate our hash utils package and just use go-ethereum/common? common package is thoroughly tested works and has good helper methods. @rauljordan mentioned crypto/sha3 package is different than the one ETH1.0 client uses.

For background and history, there was an EIP back to standardize hashes and the decision was made to not use a standard sha3 implementation that hare out there and

[2018-12-06 06:18] meyer9 commented on #830
done. thanks.

[2018-12-06 11:08] nisdas commented on #1051
Hey so I figured it out, the sha3 package in geth is actually a previous version of the sha3 package in golang crypto : https://github.com/golang/crypto/tree/master/sha3 . They checked in a version before the standards were changed, so to hash it we simply do `crypto.Keccak256Hash()` . Will push up a PR for this in a while

[2018-12-06 13:16] prestonvanloon commented on #830
Thanks @meyer9. Great work!

[2018-12-06 13:17] prestonvanloon commented on #830
@ceresstation I think this is complete. Thanks for another successful task on gitcoin everyone!

[2018-12-06 13:17] #830 closed

[2018-12-06 17:49] cartercarlson commented on #971
(First time contributor) I don't have a ton of experience with Tor, but my impression is that with Tor you are going through a series of routers.  All of the extra paths would impact your network latency, which may cause issues if you're trying to run a validator node.

[2018-12-07 09:11] #1051 closed

[2018-12-07 13:52] PumpkingWok commented on #543
Hi preston,
I’m going to leave the issue, sorry again but i have really no time. I don’t want that you wait another time.
Have a nice day !!

[2018-12-08 12:46] ceresstation commented on #830
Thanks @meyer9 + @prestonvanloon, paying this out now!

[2018-12-09 23:12] houjieth commented on #631
@gitcoinbot The PR is already submitted https://github.com/prysmaticlabs/prysm/pull/1039

[2018-12-10 05:07] houjieth opened #1068 "Add ssz support for uint32, uint64, address and hash"
This is part of work for https://github.com/prysmaticlabs/prysm/issues/631

Currently our ssz implementation supports data type of
- bool
- uint8
- uint16
- slice
- struct

According to the [ssz spec](https://github.com/ethereum/eth2.0-specs/blob/master/specs/simple-serialize.md), we still need to support
- uint32
- uint64
- address
- hash

In this task you will implement encoding/decoding algorit

[2018-12-10 06:36] nisdas commented on #985
Blocked until #781 is resolved

[2018-12-10 06:37] nisdas commented on #751
@terenc3t Can this be closed now ?

[2018-12-10 06:39] terenc3t commented on #751
I

[2018-12-10 06:39] #751 closed

[2018-12-11 03:58] rauljordan opened #1073 "Implement Block Operations in Spec"
Hi all,

This is a tracking issue to implement the block operations as defined in the current spec [here](https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md#block-operations). This can be split into separate PRs implementing each section including `casper slashing`, `proposer slashing`, and more.

I will begin with the proposer slashing conditions.

[2018-12-11 04:32] terenc3t opened #1074 "Implement Per Epoch Processing in Spec"
Hi all,

This is a tracking issue to implement the block operations as defined in the current spec [here](https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md#per-epoch-processing).

This can be split into separate PRs implementing each section including:
- helper functions:
- calculate `total_balance` of all the validators
- calculate `base_reward_quotient` and `base_

[2018-12-11 07:58] nisdas opened #1077 "Implement Per-Slot Processing in Spec"
Hi all,

This is a tracking issue for us of implementation of per slot processing .

- Implement slot processing when proposer proposes block
- Handle cases when there are no blocks proposed
- Validity of beacon blocks when processing
- Checking for Proposer Signatures
- Handling Randao Reveals
- Handle POW Chain Receipts

[2018-12-11 08:51] jgimeno commented on #1017
I can take a look on this issue if you don't mind?

[2018-12-11 08:54] nisdas commented on #1017
Sure thing ! Assigned to @jgimeno

[2018-12-11 16:04] terenc3t commented on #631
#1039 only partially resolves #631

We still need to support the following:
- uint32
- uint64
- address
- hash

[2018-12-12 02:33] terenc3t commented on #1074
I'm working on `Helpers`, `Justification` and `Finalization`.

I don't want to block your progress if you see a better order, feel free to let me know

[2018-12-12 03:13] prestonvanloon commented on #1074
Looks good to me, I'll wait for your work on the helpers to be completed. I'm not totally blocked, i have other work I can do in the meantime.

Thanks!

[2018-12-13 03:47] rauljordan opened #1091 "Implement Go Struct Wrappers Around Proto Types"
Hi all,

This issue is related to #781, as we should have Go structs as type wrappers around some of our inner proto definitions. This would make our code cleaner and align with best practices and naming conventions. For example, right now we have lines of code that look like
[code]
where instead we could have cleaner wrappers similar to how we defined `types.Block` and `types.BeaconState`. This i

[2018-12-13 07:52] morikawa-kaori commented on #654
Hi all.
I get error maybe same issue as talked here.
Windows10 Pro 64bit + Bazel then while building, I get error like this.

----------------
$ bazel build //beacon-chain:beacon-chain
INFO: Invocation ID: a6cc0111-e418-4ee8-9885-9ba5d24a5f40
Loading:
Loading: 0 packages loaded
ERROR: Skipping '/beacon-chain:beacon-chain': not a valid absolute pattern (absolute target patterns must start with exac

[2018-12-14 16:28] rauljordan opened #1102 "Implement Process Block Deposits"
Hi all,

This is a tracking issue for per-block processing to also process deposits coming from PoW receipt roots in the PoW chain. Given this is an active area of research and refactor in the [specification](https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md#deposits-1), this will be labeled as blocked by research until it is safer to implement.

[2018-12-14 18:35] #1068 closed

[2018-12-14 18:57] cyberbono3 commented on #1008
Hey guys,
The 3 basic tests for toBytes(), mergeBytes() and getReceiptRoot() pass using Truffle and Ganache-cli
https://github.com/cyberbono3/validator-registration-contract/blob/master/test/test.js
Moreover, I added SafeMath library to prevent uint underflow or overflow.

@terenc3t What is the next step?

I have to resolve this issue in order to make comprehensive testing of getReceiptRoot() .

I

[2018-12-14 18:58] cyberbono3 commented on #1008
@KimiWu123   I would appreciate your help or guidance in resolving the issue above

[2018-12-14 20:16] terenc3t commented on #631
Need implementation:
1. pointer
2. array (not slice)
3. docs

Let's track benchmark numbers in another issue

[2018-12-15 01:16] KimiWu123 commented on #1008
Hi @cyberbono

I'd like to do some minor
1. Using 0.5.1compiler
2. Fix a bug
3. Align the Vyper sample code in spec2.0

And then we base on my PR(I'll commit it later) to continue. Is that okay?

One more question, is 'mergeBytes' really save a lot of gas? I use abi.encodePacked on Remix, and it seems not big difference. I'll double check the result before committing my PR.

[2018-12-15 10:56] jgimeno commented on #1017
Another problem I have seen while executing the code is using the same folder for database, it does not even throw any error, it gets stucked in line 66 in node/node.go.

[code]

Maybe this is another issue we need to create?

[2018-12-15 17:07] prestonvanloon commented on #1017
@jgimeno Yes, that looks like it would be another issue. We should have a lock on the database directory such that only one process can use it.

[2018-12-15 17:10] prestonvanloon opened #1112 "Error not thrown when multiple processes connect to same datadir"
Identified in this comment: https://github.com/prysmaticlabs/prysm/issues/1017#issuecomment-447559851

We should visibly fail when two processes attempt to access the datadir concurrently.
The database package should maintain a lock of some kind and throw a fatal error if attempting to access a datadir which is already locked by another process.

[2018-12-15 17:10] prestonvanloon commented on #1017
@jgimeno created here: #1112

[2018-12-15 20:38] rauljordan commented on #721
Closing due to spec changes - this is not part of the current Ethereum 2.0 spec any longer https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md

[2018-12-15 20:38] #721 closed

[2018-12-15 20:42] rauljordan commented on #712
Can this be closed @terenc3t? Don't see it in the spec anymore.

[2018-12-15 20:42] rauljordan commented on #706
Can this be closed?

[2018-12-15 20:46] rauljordan commented on #737
This can be closed as we have already merged active and crystallized state along with all the merged PRs as part of the greater effort in: https://github.com/prysmaticlabs/prysm/issues/781

[2018-12-15 20:46] #737 closed

[2018-12-15 20:47] rauljordan commented on #675
This can be closed as we now run state transition every single slot (not on every block or cycle), so maintaining a slice of unfinalized states make no sense as every slot the state will change regardless of receiving a block or not.

[2018-12-15 20:47] #675 closed

[2018-12-15 20:47] rauljordan commented on #589
This is closed by #590

[2018-12-15 20:47] #589 closed

[2018-12-15 20:48] rauljordan commented on #345
This is closed by #1086 and #1076

[2018-12-15 20:48] #345 closed

[2018-12-15 20:48] rauljordan commented on #598
This is closed by #1086 and #1076 along with the greater effort of #781

[2018-12-15 20:48] #598 closed

[2018-12-15 23:20] terenc3t commented on #706
This is still relevant but far out. I'll move the milestone to to diamond

[2018-12-15 23:20] terenc3t commented on #712
no longer relevant due to spec changes

[2018-12-15 23:20] #712 closed

[2018-12-16 03:50] rauljordan commented on #1091
Update: discussed offline, implementing this may not be optimal as there is no real purpose behind writing Go wrappers if we are using the Proto's as canonical types anyways. This offers no real benefit aside from better naming conventions. Additionally, this will make future refactors harder as we will need to update both the protos and the Go wrappers to have parity between the two. Closing this

[2018-12-16 03:50] #1091 closed

[2018-12-16 08:47] houjieth commented on #631
@gitcoinbot Yes. A new PR was just published.

[2018-12-16 22:00] kushagrasharma commented on #1112
Hi, I'd be happy to take this one on!

[2018-12-16 23:59] prestonvanloon commented on #1112
Thanks @kushagrasharma!

[2018-12-17 03:50] nisdas commented on #1073
@rauljordan Can we close this ?

[2018-12-17 03:53] nisdas commented on #923
@terenc3t I am closing this as we no longer have special records with the recent changes in the spec.

[2018-12-17 03:53] #923 closed

[2018-12-17 03:55] terenc3t commented on #727
Closing this as this is no longer relevant due to spec changes

[2018-12-17 03:55] #727 closed

[2018-12-17 03:57] terenc3t commented on #988
Can this be closed? I think we've moved on to implementing the functions

[2018-12-17 04:31] #988 closed

[2018-12-17 04:38] rauljordan commented on #1073
#1104 will resolve it

[2018-12-17 07:09] KimiWu123 commented on #1008
Hi @cyberbono3 ,

I think we don't need to calculate the odd parts, let's say`MERKLE_TREE_DEPTH=4`, the tree would be like this after
first deposit
　　　　1
　　　2
　　4
　8
16
second deposit,
　　　　1
　　　2
　　4
　8
16  17
third deposit,
　　　　      1
　　　    2
　　   4
　8　　    **9**
16  17  18

the odd parts would grow after people deposit. Correct me if I'm wrong.

[2018-12-17 08:57] #1017 closed

[2018-12-17 09:11] #1112 closed

[2018-12-17 12:39] jgimeno commented on #543
I would like to take this one!

[2018-12-18 04:35] cyberbono3 commented on #1008
Hey,

Siorry for delayed response!
Indeed! Output of abi.encodePacked and mergeBytes match

Regarding calculationg of odd parts, Keeping in mind that Merkle_Tree_Depth = 4 first invocation of deposit function will produce the following indexes : 16, 8 , 4 , 2 ,1  Then, totalDepositCount will be incremented and it will produce 17 and fixed point numbers  8.5  4.25 2.125 1.0625

Currently, float num

[2018-12-18 04:37] cyberbono3 commented on #1008
@KimiWu123 Let me commit my tests in separate PR.

[2018-12-18 06:17] terenc3t commented on #1008
Not as strong in solidity as you guys - what's the benefit of using fixed point number over uint here?

[2018-12-18 07:13] KimiWu123 commented on #1008
@cyberbono3 , oh, that's true. I didn't think about it. how about we just `mod` the indexes to decide add one or not? I know fixed point number, but I haven't used it. Is it could be indexes of an array? Besides, the document says `Fixed point numbers are not fully supported by Solidity yet`.

[2018-12-18 13:38] prestonvanloon opened #1126 "Document p2p.Broadcast"
The current documentation for broadcast is only `Broadcast a message to the world.` This is incredibly useless given that the broadcast functionality is non trivial.

https://godoc.org/github.com/prysmaticlabs/prysm/shared/p2p#Server.Broadcast

Documentation here should outline the full usage and requirements for broadcast. Furthermore, we should expand on the p2p examples to provide better insigh

[2018-12-18 17:37] jgimeno commented on #543
Can we unblock the GitCoin issue? I cannot work on it through gitcoin!

[2018-12-18 20:37] frankchen07 commented on #543
@jgimeno - sorry about that it seemed like there was an admin override on that status. It's back to open!

[2018-12-19 07:45] terenc3t commented on #1077
@nisdas can we close this?

[2018-12-19 07:46] terenc3t commented on #1008
closed via #1110

[2018-12-19 07:46] #1008 closed

[2018-12-19 07:48] nisdas commented on #1077
Not yet , we still need #1135 to be merged in , and also add in verifiaction of Randao, Proposer Signature and POW receipt roots.

[2018-12-20 00:02] cyberbono3 opened #1141 "Add SafeMath.sol to Validator Registration Contract"
Following #1110,  I add Safemath library to prevent uint underflow/overflow here:
uint timestampDayBoundry = block.timestamp - block.timestamp % SECONDS_PER_DAY + SECONDS_PER_DAY;

[2018-12-20 02:33] KimiWu123 commented on #1008
Hi @terenc3t ,
sorry, I'm not sure it's a right place to discuss.

@cyberbono3 ,
I misunderstood, in your case, there is no problem,

here, we use uint as indexes so 17/2 would be 8 which is parent of 16 and 17. I think that's why they just use uint instead of other types.

[2018-12-20 14:52] terenc3t commented on #631
Hello @gitcoinbot, @houjieth has completed this issue.

Thank you, Jie!

[2018-12-22 00:31] kushagrasharma commented on #1126
I'd be happy to work on this one!

[2018-12-22 00:32] terenc3t commented on #1126
Great. Thanks @kushagrasharma !

[2018-12-22 23:07] terenc3t commented on #716
@houjieth has expressed interest to work on this. Assigning this to him. Thanks Jie!

[2018-12-22 23:08] houjieth commented on #631
Should this issue be closed now?

[2018-12-22 23:10] terenc3t commented on #631
I'm not sure. Has Gitcoin granted you the fund yet? Do we need to close this first so they can grant you the fund?

[2018-12-22 23:17] houjieth commented on #631
Haven't received the grant yet. I just submitted my work on gitcoin.co. Waiting for their approval...

[2018-12-22 23:18] terenc3t commented on #631
Sounds good. They should approve soon : )

[2018-12-23 03:18] kushagrasharma commented on #1126
I added documentation for Broadcast, I wasn't sure if you meant add examples for Broadcast which I did, or examples for the rest of the p2p library as well, which I'd be happy to add on.

[2018-12-23 14:17] ceresstation commented on #631
Sorry for the delay @houjieth, paid you out, awesome job!

[2018-12-26 14:16] #898 closed

[2018-12-27 03:15] #1073 closed

[2018-12-27 09:04] ratikesh9 commented on #1126
@kushagrasharma  are you adding the example to understand the implementation of broadcast along with your pull request ? I can help with this if you want ?

[2018-12-28 01:36] nisdas opened #1182 "Update Validator Client Block Proposal Mechanism With the Spec"
Currently with the changes in the spec, when proposing the block the validator client will also be required
to pre-compute the state root when proposing a block. This is how block proposal currently will work according to the spec:
- Proposer runs state transition function without proposer signature validation
- Proposer sets block.state_root to the new state root after state transition
- Proposer

[2018-12-28 03:08] terenc3t commented on #1182
Here is the validator client design spec:
https://docs.google.com/document/d/1LygmeNSivUo4OMl7s0SuXJl8gQKMMezJrtl0YEzpoVo/edit?ts=5bfca994#heading=h.4d4hnezaletr

[2018-12-28 05:15] rauljordan commented on #631
Complete :) thanks @houjieth

[2018-12-28 05:15] #631 closed

[2018-12-28 05:15] rauljordan commented on #891
This has been implemented by @nisdas

[2018-12-28 05:19] #665 closed

[2018-12-28 05:37] rauljordan opened #1185 "Use Simulated Backend to Write YAML Tests for Block State Transition"
Hi all,

This is part of #294 and similar to #718. In this case, we want a PR that successfully advances a beacon state from genesis for `N` slots given a genesis validator set and a demo configuration. This would allow us to have high confidence in our runtime if state transitions can execute flawlessly from a YAML test. A follow-up PR can implement better debugging tools and perhaps a dump of th

[2018-12-28 05:38] rauljordan commented on #1185
I can begin taking this up, as I already wrote various tests for all block operations in the state, but happy to have anyone else contribute or split up work, as this can get quite hairy if approached incorrectly.

[2018-12-28 05:48] nisdas commented on #891
@rauljordan , This is still an open issue, currently with the changes in the spec, I didnt add in any validity checks so as not to break sync. Since the blocks are simulated ones, so we have to fix/deprecate the simulator first and then add in validity checks

[2018-12-28 21:12] houjieth opened #1189 "Do not sort struct's fields when encoding with ssz"
According to a recent ssz spec's [change](https://github.com/ethereum/eth2.0-specs/pull/339), we will not sort the fields of a struct when encoding.

This task includes removing the sorting logic, and update all related test cases.

Related files:

https://github.com/prysmaticlabs/prysm/blob/master/shared/ssz/encode.go
https://github.com/prysmaticlabs/prysm/blob/master/shared/ssz/decode.go

[2018-12-28 21:45] terenc3t opened #1190 "Update Slashing Conditions per Spec"
Update [IsDoubleVote](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/attestations/attestation.go#L81) and [IsSurroundVote](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/attestations/attestation.go#L102) to the latest spec as referenced below. Instead of checking for slot number, we should be checking for epoch number. To complete this issue, we should f

[2018-12-28 21:54] terenc3t opened #1191 "Shell Script to Generate and Replace pb.go"
The current steps to generate new proto pb.go can be tedious and unintuitive. Let's develop a shell script like `./scripts/update-go-pbs.sh` to copy the new proto pb.go from `bazel-bin` dir to `proto` directory

The manual steps are outlined here: https://github.com/prysmaticlabs/prysm/tree/master/proto

[2018-12-28 22:04] terenc3t opened #1192 "General Hashing Function for Proto Object"
We have seen the following [patterns](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/validators/validator.go#L475-L479) all over the repo with our proto objects. It'd be nice to have a generalized hashing function which can take in any object that fulfills the proto interface and use that to hash the object. This function should reside in [hashutils](https://github.com/prysma

[2018-12-28 22:25] terenc3t opened #1193 "Extend Intersection, Union Functionalities to More Types"
It's unfortunate the functions under [slice](https://github.com/prysmaticlabs/prysm/blob/master/shared/slices/slice.go) package are purely for uint32. In the future people might want to use this package thinking it is more powerful and can work for different types but find it a type mismatch. The goal of this issue is to extend these functions (Intersection, Union, Not..etc) to work with multiple

[2018-12-28 22:37] rauljordan opened #1194 "Ignore Proto XXX Fields in SSZ Encode"
Currently, encoding a protobuf with SSZ will fail due to having int32 fields in the form of `XXX_field_name` such as `XXX_cache_size`. We need to allow our encoder to ignore these fields when encoding. When decoding, however, we need our decoder to be aware of the XXX fields and handle them appropriately.

[2018-12-29 04:04] nisdas opened #1197 "Remove Explicit Declaration of Repeated Demo Config Values"
The demo config and default config have the same values declared for a few fields ex:
`LatestRandaoMixesLength:       8192`
`LatestBlockRootsLength:        8192`

A PR to resolve this would instead simply declare in the demo config for these values as :
`LatestRandaoMixesLength:       defaultBeaconConfig.LatestRandaoMixesLength`
`LatestBlockRootsLength:       defaultBeaconConfig.LatestBlockRootsLe

[2018-12-29 05:12] #1194 closed

[2018-12-29 13:50] ratikesh9 commented on #1193
@terenc3t  will be happy to take this up

[2018-12-29 19:54] arku commented on #1190
@terenc3t I would like to work on this issue.

[2018-12-29 19:55] terenc3t commented on #1190
Assigned to @arku. Thank you for your help!

[2018-12-29 19:56] terenc3t commented on #1193
Assigned to @ratikesh9. Thank you for your help!

[2018-12-29 19:58] arku commented on #1190
@terenc3t A minor thing. The first function mentioned in the issue description should be `IsDoubleVote` and not `IsUpdateVote`.

[2018-12-29 20:00] terenc3t commented on #1190
That's correct.

[2018-12-29 20:02] arku commented on #1190
@terenc3t Thanks for the description update!

[2018-12-29 22:49] prestonvanloon opened #1201 "Create health check for AttestationService"
As part of #1183, all services should maintain a `Status` method that will return an error if there is any unhealthy status to report. This task requires some creative thinking to evaluate a definition of a healthy service. It is possible that a service can always be healthy and in that case we would simply remove the TODO and update the godoc to explain why the service is always healthy.

Service

[2018-12-29 22:52] prestonvanloon opened #1202 "Create health check for ChainService"
As part of #1183, all services should maintain a Status method that will return an error if there is any unhealthy status to report. This task requires some creative thinking to evaluate a definition of a healthy service. It is possible that a service can always be healthy and in that case we would simply remove the TODO and update the godoc to explain why the service is always healthy.

Service d

[2018-12-29 22:54] prestonvanloon opened #1203 "Create health check for CleanupService"
As part of #1183, all services should maintain a Status method that will return an error if there is any unhealthy status to report. This task requires some creative thinking to evaluate a definition of a healthy service. It is possible that a service can always be healthy and in that case we would simply remove the TODO and update the godoc to explain why the service is always healthy.

Service d

[2018-12-29 23:00] prestonvanloon opened #1204 "Create health check for web3service"
As part of #1183, all services should maintain a Status method that will return an error if there is any unhealthy status to report. This task requires some creative thinking to evaluate a definition of a healthy service. It is possible that a service can always be healthy and in that case we would simply remove the TODO and update the godoc to explain why the service is always healthy.

Service d

[2018-12-29 23:03] prestonvanloon opened #1205 "Create health check for RPCService"
As part of #1183, all services should maintain a Status method that will return an error if there is any unhealthy status to report. This task requires some creative thinking to evaluate a definition of a healthy service. It is possible that a service can always be healthy and in that case we would simply remove the TODO and update the godoc to explain why the service is always healthy.

Service d

[2018-12-29 23:05] prestonvanloon opened #1206 "Create health check for SyncService"
As part of #1183, all services should maintain a Status method that will return an error if there is any unhealthy status to report. This task requires some creative thinking to evaluate a definition of a healthy service. It is possible that a service can always be healthy and in that case we would simply remove the TODO and update the godoc to explain why the service is always healthy.

Service d

[2018-12-29 23:09] prestonvanloon opened #1207 "Create health check for PrometheusService"
As part of #1183, all services should maintain a Status method that will return an error if there is any unhealthy status to report. This task requires some creative thinking to evaluate a definition of a healthy service. It is possible that a service can always be healthy and in that case we would simply remove the TODO and update the godoc to explain why the service is always healthy.

Service d

[2018-12-30 00:54] cyberbono3 commented on #791
Could you please supply me with instructions for self signed certificates?

[2018-12-30 02:04] cyberbono3 commented on #1197
https://github.com/prysmaticlabs/prysm/pull/1209

[2018-12-30 02:56] #1197 closed

[2018-12-30 12:15] mattisstenejohansen commented on #1201
(new and motivated contributor) Hey, @prestonvanloon I'd love to work on this.

[2018-12-30 15:47] prestonvanloon commented on #1201
Hey @mattisstenejohansen, I'm glad to hear it!

Let's assign this this to you. I'm working on wrapping up the PR #1183 today, but if you want to go head and get started then you can fork that branch.

Thanks!

[2018-12-30 16:03] mattisstenejohansen commented on #1201
Hi, thanks!
I see that there is already done something for the Attestation Status here: https://github.com/prysmaticlabs/prysm/blob/6abd1781c38a4c2549bd27a39098d4384ff1920f/beacon-chain/attestation/service.go#L64

Should I just leave it and consider it done?

[2018-12-30 20:42] prestonvanloon opened #1212 "mDNS data race from upstream dependencies"
This is a general tracking bug to update the upstream dependencies after the following PRs have been merged:

- https://github.com/libp2p/go-libp2p/pull/513
- https://github.com/whyrusleeping/mdns/pull/4

I only experience these data races locally and buildkite seems happy about them.
Anyway, I think it should be fixed so I fixed it.

[2018-12-30 20:55] prestonvanloon commented on #1201
@mattisstenejohansen Probably not. This issue is to determine if that is the case. If there are valid health checks to implement (I think there are), then it should be implemented as part of this issue.

[2018-12-31 01:02] #1189 closed

[2018-12-31 21:52] #1190 closed

[2019-01-01 19:42] ratikesh9 commented on #1193
Updated the repository with generic slices.

https://github.com/prysmaticlabs/prysm/pull/1219

[2019-01-02 02:03] rauljordan commented on #781
This can be closed after now that we have our state transition function and have deleted deprecated code paths in our repo :)

[2019-01-02 02:03] #781 closed

[2019-01-02 19:14] #716 closed

[2019-01-03 00:50] terencechain opened #1230 "Use Simulated Backend to Write YAML Tests for Epoch Transition"
Similar to #718, #1185. In this case, we want PR that can successfully transition through different epochs. This would allow us to have high confidence in our runtime if epoch transitions can execute flawlessly from a YAML test.

A follow-up PR can implement better debugging tools and perhaps a dump of the state at the beginning of each epoch to visualize:
1.) validator status, balances and who ha

[2019-01-03 00:57] terenc3t opened #1231 "Update Validator Status Code and Slot Reorg"
Opening this issue to track progress on aligning latest validator status code and slot reorg to this ETH2.0 [PR](https://github.com/ethereum/eth2.0-specs/pull/374).
The validator status code was deprecated for fields `activation_slot`, `exit_slot`, `penalized_slot`, `withdrawal_slot` and there's a new delay of 256 slots before validator can be active or exit. The withdrawals also processed in all

[2019-01-03 02:58] aunyks commented on #1192
Would any existing structures need to be changed after this functionality is added?

[2019-01-03 07:53] nisdas commented on #1192
hey @aunyks , yes the idea is that we would not need separate hashing functions for different proto objects. So for example over here:
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/blocks/block.go#L18
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/state/state.go#L142

we wouldn't need the two above functions, so a generalized hashing function would look

[2019-01-03 14:40] rauljordan commented on #1074
Can we close this @terenc3t?

[2019-01-03 17:33] terenc3t opened #1234 "Avoid Using GetX for PB Unless Copying"
This is a reminder to avoid using GetX methods for protobuf unless we need a copy, otherwise default to just accessing the data. We found out the GetX methods were causing a performance hit because many of the return types are not pointers, but copy of the data.

We should do a scrap of prysm and replace GetX instance with just accessing the data.

[2019-01-03 17:39] rauljordan commented on #1234
I can take this one

[2019-01-03 17:44] terenc3t commented on #1191
Thanks @kushagrasharma! Assigned to you

[2019-01-03 23:17] aunyks commented on #1192
Ah, I see. I'd like to tackle this!

[2019-01-03 23:30] terenc3t commented on #1192
Thanks Gerald! Assigned to you

[2019-01-04 02:06] prestonvanloon commented on #1192
This could also be better as a proto extension. It would be nice to just call `.Hash()` on our proto message.

[2019-01-04 03:37] terenc3t opened #1241 "Use ToBytes32 Across Prysm"
We now have a convenience [method](https://github.com/prysmaticlabs/prysm/blob/73ff78f4491aacb570bc5c0ff1a344d3e119a387/shared/bytes/bytes.go#L64) for converting a byte slice to a fix sized 32 byte array. Let's use that across Prysm and replace the current in line conversations with the method`ToBytes32`.

Look for the following patterns to replace:
[code]

[2019-01-05 01:21] terenc3t opened #1247 "Update Get Block Root function"
Our [get_block_root](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/blocks/block.go#L71) helper function is obsolete. Let's update it with the spec. I'm marking it as high priority because get_block_root is used in a few places. While we moving further to implement the spec, we should fix this first : )

**Ours:**
[code]

**New:**
[code]

[2019-01-05 03:58] #1234 closed

[2019-01-05 04:33] rauljordan opened #1253 "Begin Integrating SSZ in Prysm's P2P Layer"
This is a follow up to #631 as now we have a common serialization format for Ethereum Serenity. We can therefore begin using SSZ to serialize and send objects via p2p for cross-client compatibility. Possible PRs that work on this front could modify the sync service to use SSZ instead of proto objects.

From now on, any future p2p code should default to SSZ for sending messages. This is also an iss

[2019-01-05 05:17] cyberbono3 commented on #1241
I will take care of it!

[2019-01-05 05:39] #1102 closed

[2019-01-05 07:43] kushagrasharma commented on #1191
Is using `protoc` instead of copying over the bazel files acceptable? If so, the one-liner `find . -type f -name '*.proto' -exec protoc --go_out=. {} \;` should be able to generate all the pb.go files for us inside their own directories.

[2019-01-05 15:57] terenc3t commented on #1253
Sounds good. thanks @houjieth

[2019-01-05 20:52] cyberbono3 commented on #1207
In process

[2019-01-06 05:56] JeremiGendron commented on #1241
[code]
@cyberbono3 if helps

[2019-01-06 14:55] #1191 closed

[2019-01-07 21:41] cyberbono3 commented on #1241
@JeremiGendron   thank you

[2019-01-08 05:16] JeremiGendron opened #1264 "No Tests For iputils Package"
Package `shared/iputils/external_ip.go` doesn't have any tests.

## Suggestion
Add tests to check if:
 - Can get external ip from network interfaces
 - Returned ip is of IPv4 format

Should be defined in BUILD.bazel so it is included in the project test suite.

[2019-01-08 15:29] nisdas opened #1267 "Remove Initial Validators When Testnet Startup Procedure is Finalized"
Currently, Initial Validators are generated when initializing state. However, this will be removed once
we have the core logic and bootstrap mechanism of the testnet finalized. This issue is to track the bootstrap mechanism of the testnet and to remove the auto-generated validators once that has been finalized and is functional.

[2019-01-08 20:49] JerryFireman commented on #1247
I would like to work on this one.

[2019-01-09 00:52] rauljordan commented on #272
Hey @hubris apologies for keeping this open for so long. Given the final contract will most likely be deployed in Vyper, we have decided to close this issue, but we would still like to award you with the bounty for your work. @ceresstation can you help close this and award @hubris?

[2019-01-09 09:49] #1043 closed

[2019-01-09 18:23] ratikesh9 commented on #1202
Chain head block not received in some time

@prestonvanloon  specifically what is the time limits in order to create unhealthy check?

[2019-01-10 01:19] prestonvanloon commented on #1202
@ratikesh9 Let's try something like 2 minutes. Thanks!

[2019-01-10 02:20] rauljordan opened #1284 "Implement PoW Chain Deposit / ChainStart Listener"
Hi all,

This is an issue thread to track all progress with regards to a listener for PoW chain deposits and chain start workflow for the beacon node. The whole Serenity flow is based on users depositing ETH into a vyper contract on the 1.0 PoW chain, through which deposits will be emitted as logs and an initial ChainStart log will occur.

To determine what exactly needs to be done, see the follow

[2019-01-10 04:56] cyberbono3 commented on #1206
working on it

[2019-01-10 10:19] rauljordan opened #1287 "Implement Updating of State Latest Deposit Root"
Hi all,

This is part of #1284. According to the spec and the [document](https://docs.google.com/document/d/1-4ct3v7O9dRiYZXqMO3lO6V3MqZd3Aa881CsagwAGVI/edit#) put together by the Pegasys team regarding deposit processing:

Every DEPOSIT_ROOT_VOTING_PERIOD / EPOCH_LENGTH epochs (1024/64 = 16 epochs)
a check is done. If a deposit root has received over half of the available votes during the
last ep

[2019-01-10 10:23] rauljordan opened #1288 "Send POW Chain Deposit Logs to Validator Clients via gRPC"
Hi all,

Beacon block proposers need to be aware of any incoming deposits from the POW Chain deposit contract to include in the deposits field of their proposed beacon blocks. The easiest way to do this would be to implement an RPC method called `LatestDeposit` in the beacon node which would receive deposit objects from an event feed (which would originate from the `powchain` service) and stream t

[2019-01-10 14:11] terenc3t commented on #1287
This exists. It's part of epoch processing

https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/epoch/epoch_processing.go#L30
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/epoch/epoch_processing.go#L60

[2019-01-10 17:21] terenc3t commented on #614
spec changed, this is no longer relevant

[2019-01-10 17:21] #614 closed

[2019-01-10 17:22] terenc3t commented on #1231
closed via #1233

[2019-01-10 17:22] #1231 closed

[2019-01-11 00:42] cyberbono3 commented on #1288
@rauljordan could you please give more context regarding this issue? so I can start digging into it.

[2019-01-11 03:56] #1126 closed

[2019-01-11 04:02] prestonvanloon commented on #1288
Is this in any design doc?
What about the alternative: reading the contract itself from PoW?

[2019-01-11 04:04] prestonvanloon commented on #1264
#1265 Adds tests

[2019-01-11 04:04] #1264 closed

[2019-01-11 12:03] ratikesh9 commented on #1202
In block processing if the subscription to incoming channel returns error should it be considered as fail status of service ?

Does Chain head block not received in some time means that we are not able to get chain head from beacon db ?

[2019-01-11 12:53] nisdas commented on #1202
@ratikesh9 We dont receive the chain head at regular intervals, we only get the chain head when we read it from the db. An error during the read of the db, can be considered as a failure.

Not sure what you mean by the incoming channel returning an error, it is of the type `*pb.BeaconBlock` ,
so we will either get normal blocks,nil blocks . You can check, though if the channel is closed with `ok`,

[2019-01-11 13:35] rauljordan commented on #1182
This is closed by #1224

[2019-01-11 13:35] #1182 closed

[2019-01-11 15:02] nisdas commented on #1202
ah , yes that would also be considered as a service failure

[2019-01-13 02:31] rauljordan opened #1307 "Implement and Benchmark LMD Ghost Fork-Choice"
Hi all,

We need to implement and benchmark a simple version of Latest Message Driven (LMD) GHOST (Greediest Heaviest Observed Sub-Tree) as a fork-choice algorithm for the beacon chain. As defined in the latest specification:

### Spec Definition

The beacon chain fork choice rule is a hybrid that combines justification and finality with Latest Message Driven (LMD) Greediest Heaviest Observed SubT

[2019-01-13 03:14] vbuterin commented on #1307
Here's a python implementation that avoids going through the entire chain from start to end and cuts the complexity down to O(n * log^2(t)): https://github.com/ethereum/research/blob/master/clock_disparity/lmd_node.py#L229

Though the above is not the only way to do it. Another possible approach is an "online" algorithm where you keep extra data that lets you compute an upper bound on how many blo

[2019-01-14 14:56] terenc3t opened #1318 "Deprecate Deposit Contract in Solidity and Use Vyper"
There will only be one PoW deposit contract in production and pinpoint to one now will help the community to discover bugs in the early phases. I don't think there's any reason for us to use our own deposit contract in Solidity, and since we can generate bindings from the ABI & bytecode for the vyper contract (see: https://vyper.readthedocs.io/en/latest/compiling-a-contract.html). We should be usi

[2019-01-14 17:19] cyberbono3 commented on #1205
working on it

[2019-01-14 22:55] terenc3t opened #1322 "Design and Implement Validator Attestation LMD Pool"
The expectation of a validator is to run a node that is listening for both attestations and blocks on the wire. The default behavior of a beacon chain full node should be to support listening to attestations on the wire and reacting to incoming validator's latest attestation to determine fork choice. As a validator, I will track each validator latest vote. As a proof of concept, the attestation po

[2019-01-14 22:56] terenc3t commented on #1322
After speaking with @prestonvanloon, we both agree it's fine for this attestation pool to be in memory (not disk)

[2019-01-14 23:15] kushagrasharma commented on #1318
I'd be happy to help on this!

[2019-01-14 23:59] terenc3t commented on #1318
Sure. Thanks @kushagrasharma! Let me know if you have any questions. This can be done via multiple PRs

[2019-01-15 00:16] terenc3t opened #1323 "Design and Implement Beacon Operations Pool"
After speaking with @prestonvanloon, we both realized there's a need for a beacon transaction pool (in beacon node or in validator client) which stores the following beacon block body objects. A generic implementation (i.e. any struct that implements a specific interface can be pooled with the generic implementation) makes sense and may be helpful for reusability

[code]

[2019-01-15 00:18] terenc3t commented on #1323
tentatively assigning this to Preston since he is working on validator client.

[2019-01-15 01:10] #1193 closed

[2019-01-15 01:13] terenc3t commented on #674
Closing this one. Please refer to #1307 for chain reorg

[2019-01-15 01:13] #674 closed

[2019-01-15 01:17] terenc3t commented on #72
We have been working with Libp2p for a while now. Ok to close this issue?

[2019-01-15 02:50] JeremiGendron opened #1325 "customflags tests are incomplete"
Opening this issue to discuss whether or not there is demand by the maintainers to have the tests in shared/cmd/customflags be a little more complete.

[2019-01-16 00:30] prestonvanloon commented on #72
Sounds good to me

[2019-01-16 00:30] #72 closed

[2019-01-16 00:34] prestonvanloon commented on #1318
@kushagrasharma please outline your plan for this. This is a non-trivial change.

Open questions:
- Can we leverage bazel tooling to generate the gobindings at build time?
- What tooling do we need to introduce to our continuous integration pipeline? We have solidity linter, is there something similar for Vyper?

[2019-01-16 03:04] terenc3t opened #1332 "Deprecate And Remove Simulators"
This Issue is a mega tracker to track the overall progress on working towards simulator removal. Before the simulator gets removed, we should have a solid foundation of yaml driven tests for advancing beacon chain, some sort of E2E tests, and excellent documentation on how users can demo beacon chain in their local set up. To get there, we'll need yaml suite for epochs and chain start process

[2019-01-16 03:11] terencechain opened #1333 "Clean Up Error Chains"
Logging error chains can get incredibly messy, we should spend some time and go through each package to check how errors getting returned. For example, an error printed for unable to process block:

`could not execute state transition unable to process block: could not verify and process block randao: could not verify block randao: expected hashed block randao layers to equal proposer randao: rece

[2019-01-16 03:17] nisdas commented on #1333
@terenc3t imo , this is pretty useful as it gives a very descriptive way to pin down the error. Using this I can know exactly calling which method fails and where that method fails at. Maybe we can actually separate errors into Error messages from Debug messages.

We ouput an error message which basically is one line and a high level overview of what function/method failed.
The debug message after

[2019-01-16 03:59] terenc3t commented on #1333
@nisdas  But they are all the same errors, I don't mind the chaining, I'm just saying repeating `could not verify block randao` is not very helpful and cosmetic in terms of debugging

[2019-01-16 04:02] nisdas commented on #1333
@terenc3t ah , k . I get your point. yeah definitely a few places where we have redundant error strings

[2019-01-16 09:23] nisdas opened #1334 "Bug in Deposit Trie"
Currently our deposit tire doesn't abi encode the data before hashing the data and saving the hash to the trie. In the deposit contract over here: https://github.com/prysmaticlabs/prysm/blob/master/contracts/validator-registration-contract/validator_registration.sol#L60 , the data is abi-encoded and then hashed.

Whereas it isn't abi-encoded in the deposit trie:
https://github.com/prysmaticlabs/pr

[2019-01-16 09:52] nisdas commented on #1334
This isnt a bug, as the issue is in our incorrect contract, which we will be deprecating soon. Closing this issue.

[2019-01-16 09:52] #1334 closed

[2019-01-16 09:59] nisdas commented on #1318
@kushagrasharma , Hey thanks for helping this out with this, however this is an important issue and is blocking our other work, so I will be taking this issue up. You are welcome to try out our other open issues !

[2019-01-16 13:56] prestonvanloon commented on #1333
In some cases, we don't need to format the error before returning it.

[2019-01-17 00:59] kushagrasharma commented on #1318
No worries! Sorry about the delay.

[2019-01-17 02:14] #1185 closed

[2019-01-17 05:54] #1241 closed

[2019-01-17 13:44] rauljordan opened #1337 "Remove .Get Calls in DB Methods"
Hi all,

Go best practices dictate not using .Get as the prefix for getter functions, which we use as defaults in our DB package for the beacon chain. A simple PR would deprecate uses of .Get and simply stick to naming such as `db.BlockBySlot`, etc.

[2019-01-17 15:21] terenc3t opened #1338 "Switch from Big Endian to Small Endian"
Looks the community has favored using small endian over big endian. Let's update that in our code base: https://github.com/ethereum/eth2.0-specs/pull/139

This applies to SSZ and another potential location is: https://github.com/prysmaticlabs/prysm/blob/master/shared/bytes/bytes.go

[2019-01-17 15:22] nisdas commented on #1338
This is only for SSZ though, unless you want to apply this across the whole repo ?

[2019-01-17 15:32] nisdas commented on #1338
I dont know if its the best to apply this across the whole repo.
Ex: Log data from the POW chain stores its integers in big-endian. It can be confusing keeping in mind all these places where it is big-endian. I am leaning towards defaulting to big-endian across our repo excluding SSZ. Afaik there is no where in our repo where we use little endian

[2019-01-18 00:53] rauljordan opened #1342 "Add ETH1 Data Structures for Voting Period"
Hi all,

The latest [spec](https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md) specifies items such as:

### ETH1 Data
[code]

Which we do not currently have in our repo. We would need to add this functionality in block and epoch operation processing.

[2019-01-18 05:11] wildmolasses opened #1344 "some p2p tests fail when port is in use"
When running my `ipfs daemon`, or when running beacon chain (@prestonvanloon), the following tests fail:

[code]

When I exit my ipfs daemon the tests pass.

@prestonvanloon 's thought from discord:

[2019-01-18 09:46] jgimeno commented on #543
@frankchen07 this has been finally merged, do you know how it works to get the bounty? :D

[2019-01-18 14:57] rauljordan opened #1346 "Store Historical State Information in Journal for Chain Reorg"
Hi all,

As part of #1307, we need a strategy to handle chain reorgs so that means we need to be able to roll-back the state to a historical state. It is inefficient to store all historical states as at worst, a single state object can weight around 800 Mb. We should instead follow the approach projects such as Geth do with journaling and keeping track of certain pieces of information of previous

[2019-01-18 15:46] prestonvanloon commented on #1344
More to this: the p2p tests expect there to be no other libp2p peer within discovery. So the tests are creating a libp2p node and inadvertently connecting to the ipfs node. This changes some test expectations with discovery, among other things.

The ideal solution is to execute this test within a network sandbox or some virtual environment.

[2019-01-18 19:34] frankchen07 commented on #543
^ looks like @mkosowsk completed payment @jgimeno - let us know if you didn't receive that!

[2019-01-18 23:31] terenc3t commented on #1288
@cyberbono3 not at this moment, do you mind wrap up #1316 and #1320 first before taking this? let's limit ourselves to 2 outstanding PRs : )

[2019-01-19 00:17] prestonvanloon commented on #543
Unfortunately, we had to revert these changes due to high flakiness and consistent failures on some systems. #1348

[2019-01-19 19:48] wildmolasses commented on #1337
Hi, I'd be happy to work on this. It'll help me become more familiar with your code base. The only thing I'm confused on is whether to remove the "Get" from test function names as well (`TestGetNilAttestation`, `TestGetBlockBySlotEmptyChain`, etc). I'll submit a PR preserving the test names as they are and will look for feedback there.

[2019-01-19 22:04] IvanTheGreatDev commented on #1342
Hello Raul, where in the code base would this go? 🙂

[2019-01-19 22:24] terenc3t opened #1352 "Remove Shard Committees Mega Tracking"
Opening up this mega issue to track the overall progress of shard (now called crosslink committees) removal. I tried to do it in one shot on #1300, but the PR has gotten too big. The goal is to use this issue to break the overall progress down into smaller the PRs for easy reviews 🐻

[2019-01-20 20:44] houjieth commented on #1338
Let me fix the ssz part.

[2019-01-21 04:42] terenc3t opened #1355 "Builds on Travis Failing due to unknown linters: megacheck"
All our builds on travis for lint are currently failing due to:
`gometalinter: error: unknown linters: megacheck`

[2019-01-21 04:43] terenc3t commented on #1352
First part: #1353

[2019-01-21 04:44] #1338 closed

[2019-01-21 04:50] nisdas commented on #1355
Looks like megacheck was just removed :
https://github.com/alecthomas/gometalinter/commit/96c7e2a871d86b852b5d76f76e365b3a63e7dcaa

[2019-01-21 05:22] terenc3t opened #1357 "Discord Bots are broken"
Issue fetchers bot and gitter bot are not working. Looks like we need to relaunch the instances somewhere. @rauljordan please provide the creds and document how to launch them

[2019-01-21 05:35] #1355 closed

[2019-01-21 05:47] jgimeno commented on #543
Oh! I will take a look, probably is related to the timeout very tight.

[2019-01-21 09:34] #1337 closed

[2019-01-21 17:49] prestonvanloon commented on #1357
We can launch these into the upcoming kubernetes cluster, but we need to share the API credentials and discuss the deployment internally.

[2019-01-22 11:36] nisdas opened #1366 "Integrate Go-BLS into Prysm"
Currently with the GMP library being bazelfied we can start to use the go-bls library in prysm. This Mega-issue will cover all the uses of bls library in the repo.

- Removing the bls wrapper in `shared`
- Updating Keystore to use go-bls
- Using Signature Aggregation and Verification in our state transition functions
- Using Signature Verification for Validator Clients

[2019-01-23 21:38] terenc3t opened #1375 "Update VerifyCasperVotes to VerifySlashableVoteData"
VerifyCasperVotes is outdated, we should align them with the spec. See the following references for all the changes that have gone through since:

https://github.com/ethereum/eth2.0-specs/commit/4aa6ec4468e6410bff4a21fddaadba4330212f29
https://github.com/ethereum/eth2.0-specs/commit/ddbd8b70ac5a86b1e92903a77b37443da41e88f0

These mostly name changes, nothing drastic

[2019-01-23 21:42] terenc3t opened #1376 "Update ProcessValidatorExits Spec Definition in Comment"
Let's update `ProcessValidatorExits's` spec definition to reflect https://github.com/ethereum/eth2.0-specs/pull/468/files. `ProcessValidatorExits` is in `block_operations.go`

Before:
[code]

Now:
[code]

[2019-01-23 21:50] terenc3t opened #1377 "Update RANDAO processing to work with BLS"
Let's update our RANDAO processing logic to work with BLS. This PR also allows us to remove randao commitment and custody commitment in state. The `repeat_hash` function can also be deleted

See Justin's summary and changes here: https://github.com/ethereum/eth2.0-specs/pull/483

[2019-01-23 21:52] terenc3t opened #1378 "Normalize ETH to Gwei Across Prysm"
To align with spec and rest of the client implementations, let's normalize ETH to Gwei across prysm. The places we are using ETH, let's replace them with Gwei. https://github.com/ethereum/eth2.0-specs/pull/420

[2019-01-24 01:32] IvanTheGreatDev commented on #1378
I'd like to take this! 😁

[2019-01-24 01:33] terenc3t commented on #1378
Thanks @IvanTheGreatDev! 🙏

[2019-01-24 02:47] #1287 closed

[2019-01-24 08:51] IvanTheGreatDev commented on #1375
I'd like to take this!

[2019-01-24 08:52] nisdas commented on #1375
Sounds good, assigned to @IvanTheGreatDev  :)

[2019-01-24 11:00] ChihChengLiang opened #1383 "SSZ spec missing explicit checks container decoding"
Hello 👋 ,

A behavior of deserialization in the SSZ spec has been updated.
To prevent containers to consume ill format bytes. It is required to fail if, after the deserialization, some extra bytes still exists.

See issue https://github.com/ethereum/eth2.0-specs/issues/479

[2019-01-24 15:40] rauljordan commented on #1357
Hi all, the instructions for the bots are as follows:

## Github Issue Fetcher

We have a bot that fetches github issues by quoting them as {{issue_num}} on our discord public channels. This is handled by the nodejs repo here: https://github.com/rauljordan/discord-github-issue-fetcher where setup instructions are located in its README.

It requires a **discord bot token**, which can be obtained by

[2019-01-24 15:40] rauljordan commented on #1357
Closing :)

[2019-01-24 15:40] #1357 closed

[2019-01-24 23:19] terenc3t commented on #1383
Thank you @ChihChengLiang for letting us know 🙏
cc @houjieth

[2019-01-24 23:30] terenc3t opened #1386 "Remove Gwei in Config and Update baseRewardQuotient"
In order to remove `Gwei` from config, we'll need to update `base_reward_quotient` to the latest spec.

Latest spec:
`base_reward_quotient = integer_squareroot(total_balance) // BASE_REWARD_QUOTIENT.`

What we have:
`base_reward_quotient = BASE_REWARD_QUOTIENT * integer_squareroot(total_balance // GWEI_PER_ETH)`

[2019-01-24 23:35] terenc3t commented on #1386
assigned to @IvanTheGreatDev 🏆

[2019-01-24 23:40] terenc3t opened #1387 "Simulated Backend is Broken with latest State Transition"
State transition has changed a bit, epoch processing are switching between end of epoch to beginning of epoch. Currently the simulated back end does not work with state transitions after removing shard committees in state and optimized with the latest spec. This might take some time to fix since we have to wait for spec to stabilize, In the mean time, I commented out the skip block test

[2019-01-25 07:06] rauljordan opened #1389 "Use Tree Hashing Algorithm Across the Repo"
Hi all,

Now that we have SSZ TreeHash functions from #716, we can begin using them in places required by the spec, such as in determining block and state roots throughout the repo. Opening this issue for tracking.

[2019-01-25 07:10] #1386 closed

[2019-01-25 08:54] rauljordan opened #1390 "Add NoSignatureVerification Option as Bool to State Transition"
Hi all,

Part of a validator's role will be to propose blocks when assigned to in a shuffling throughout epochs. A validator needs to include a state root corresponding to the resultant state transition for its proposed block, so we need the ability to compute a state transition **without** all the signature verification that would normally occur.

See the [State Root](https://github.com/ethereum/

[2019-01-25 08:58] rauljordan opened #1391 "Split RPC Service Into Smaller Files"
Hi all,

Currently our RPC service is a giant struct which implements every single RPC server method and registers 4 different RPC servers as follows

[code]
This would be easier to maintain by splitting up into several files with structs that implement these individual servers and then the RPC service.go file would just register these structs individually.

[2019-01-25 16:12] nisdas opened #1395 "Gometalinter is not able to be run with go-bls"
Currently if we do bring go-bls into prysm, gometalinter is unable to be run in travis because fetching go-bls results in this error.
[code]
A PR to solve this would allow metalinter to ignore go-bls so that it can run successfully in travis. Related to #1366 .

[2019-01-26 02:31] decanus opened #1397 "Various constants are out of date"
Various constants are no longer in line with the beacon chain spec.

For example:

- ```BASE_REWARD_QUOTIENT``` is still ```1024``` although it was changed to ```32```
- ```MIN_DEPOSIT_IN_GWEI``` has changed to ```MIN_DEPOSIT```

[2019-01-26 02:38] terenc3t commented on #1397
Thanks Dean! 🙏🏼

[2019-01-26 05:19] #1376 closed

[2019-01-27 20:51] #1332 closed

[2019-01-28 06:13] #1375 closed

[2019-01-28 07:21] terenc3t commented on #1397
assigned to @IvanTheGreatDev

[2019-01-28 10:41] #1383 closed

[2019-01-28 11:08] houjieth commented on #1389
I can take the part where we calculate prev block root. https://github.com/prysmaticlabs/prysm/blob/10b237e72dc2a5f6ed34b7a327ee0b9cebd8cc5d/beacon-chain/blockchain/service.go#L315

[2019-01-28 15:40] #1391 closed

[2019-01-29 04:16] #1397 closed

[2019-01-29 04:33] nisdas opened #1416 "Modify Abigen to Support Vyper"
Currently Abigen only supports contracts written in solidity, the goal is to also allow contracts written in vyper to also have their go bindings be generated automatically. We generate the bindings by first generating the abi and bytecode from the vyper compiler then using that as inputs into abigen.

For this issue to be closed abigen simply needs to take in a vyper contract source as an argumen

[2019-01-30 00:21] houjieth commented on #1389
It seems like not all field's type generated by protobuf is supported by our ssz library right now (like int32).
I will fix that as part of the PR.

[2019-01-30 03:12] ryan-shea commented on #272
@ceresstation a ping on this one. thanks @rauljordan !

[2019-01-30 09:25] rauljordan opened #1429 "Implement Script to Regenerate gRPC Mocks"
Hi all,

Currently if we modify any of the RPC services in our proto/beacon/rpc/v1/services.proto file, we have to regenerate the mocks used by gomock when testing these out in our repo. We have to do this for every RPC service in this file. For example, for the `BeaconServiceClient` and `BeaconServiceServer`:

[code]
and
[code]

Additionally, we need to modify their package name to be `package in

[2019-01-30 09:59] rauljordan opened #1430 "Store Previously Requested ETH1.0 Logs Block Number"
Hi all,

Currently our powchain service reads all historical logs from the deposit contract from ETH1.0. As the contract grows even more, we should be persisting the last requested block number for logs to disk in the powchain service to avoid looping through all of these logs every time the node is launched. a PR for this would store the last requested ETH1.0 block number for log fetching in Bolt

[2019-01-30 12:45] #1390 closed

[2019-01-30 13:18] terenc3t opened #1438 "Operation Pool to be Compatible with Beacon Block Operations"
This issue tracks operation pool to ensure it works with rest of the beacon block operations. Beacon block operations:
 - proposer slashing
 - attester slashing
 - exit request
 - attestation

[2019-01-31 15:31] 0xKiwi opened #1448 "Increase ProcessEpoch Test Coverage"
`ProcessEpoch` in [transition_test.go](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/state/transition.go) is called every Epoch Transition yet it is not fully covered.

To test `epoch.ProcessEth1Data()` the `beaconState.Slot` must be a multiple of 1024, and you can ensure the function works as intended by checking if `beaconState.LatestEth1Data` is equal to the `Eth1DataVote

[2019-01-31 18:03] terenc3t opened #1449 "[Mega Tracking] Align Codebase to Spec v0.1"
This issue tracks the overall progress of updating the current codebase to spec [v0.1](
https://t.co/8lh2x0TPyJ) and this [commit](https://github.com/ethereum/eth2.0-specs/blob/4cdb66728a27739fcb35e545386770f3a2972bf8/specs/core/0_beacon-chain.md)

As part of the test net deliverable, we should lock down on a spec version before hardening. v0.1 sounds like a good candidate given the end of Q1 is 2

[2019-01-31 22:04] prestonvanloon commented on #1430
Whoever takes this issue should outline a plan for caching these logs.

They need to consider how to do this after 2 million or 50 million PoW blocks without overwhelming the process memory.

[2019-02-01 01:23] wildmolasses commented on #1344
It seems [bazel doesn't support network sandboxing on mac osx](https://github.com/bazelbuild/bazel/issues/2669).

[2019-02-01 05:37] terenc3t commented on #1429
thanks @wildmolasses! issue assigned to @wildmolasses

[2019-02-01 11:03] rauljordan opened #1456 "Implement WaitForActivation in Validator Client"
We need a way to listen for a validator being activated in the validator client after the chain has started. This only applies for validators which have issued deposits into the deposit contract after ChainStart.

According to the validator specification doc [here](https://github.com/ethereum/eth2.0-specs/blob/master/specs/validator/0_beacon-chain-validator.md#becoming-a-validator):

[2019-02-02 14:54] prestonvanloon opened #1461 "Unable to ssz.TreeHash empty pointer struct"
Opening this for tracking...

`ssz.TreeHash(&pointerStruct{})` throws an error.

Is this expected? Why can't we treeHash an empty struct with pointers?

New failing condition:
[code]
(Note: that is likely not the correct output for treehashing the empty pointer struct, but it throws an error to prove my point)

Related test:
https://github.com/prysmaticlabs/prysm/blob/d06f5ac16393683f8eaa70c0e30bd

[2019-02-02 14:57] prestonvanloon commented on #1323
Is this related to #1438?

[2019-02-02 15:59] terenc3t commented on #1323
Yeah it is. My bad for creating the duplicated. I'm going to delete #1438 and let's use this to track further progress

[2019-02-02 15:59] #1438 closed

[2019-02-02 22:09] prestonvanloon opened #1463 "Implement BeaconService.Eth1Data (server-side)"
The proposer needs access to ETH1 data for proposing a block. I've added a RPC method for fetching this (#1462).

I'm open to other suggestions if gRPC unary fetching isn't the best method for gathering this data in the validator client.

[2019-02-02 22:10] prestonvanloon opened #1464 "Implement BeaconServer.PendingDeposits (server-side)"
The proposer needs access to pending deposits when proposing a block. I've added a RPC method for fetching this (#1462).

I'm open to other suggestions if gRPC unary fetching isn't the best method for gathering this data in the validator client.

[2019-02-03 05:13] #1429 closed

[2019-02-04 06:39] terenc3t opened #1479 "Beacon Chain Configs for 8 Validators"
**Problem:**
1.) We are starting out with 8 validators in a local test net, with 8 validators and 64 epoch length there's skipped slots:
Ex: ([]= skipped block, [#] = validator index assigned to that slot)
`[[] [] [] [] [] [] [] [5] [] [] [] [] [] [] [] [7] [] [] [] [] [] [] [] [4] [] [] [] [] [] [] [] [1] [] [] [] [] [] [] [] [3] [] [] [] [] [] [] [] [2] [] [] [] [] [] [] [] [0] [] [] [] [] [] []

[2019-02-04 06:47] terenc3t opened #1480 "Builds Failing on Buildkite"
All the builds on build kite is failing due to the following error:
[code]

[2019-02-04 07:10] terenc3t commented on #1480
Fixed with #1476

[2019-02-04 07:10] #1480 closed

[2019-02-04 07:53] terenc3t opened #1481 "BeaconProposerIdx panics instead of gracefully erring out"
Instead of panicking with index not found we should gracefully error out if there's no committee

https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/validators/validator.go#L88

[2019-02-04 15:41] ralexstokes commented on #1479
if you are just testing things out and scaled the epoch length by 8, try scaling everything else down by a factor of 8?

alternatively i would suggest either bumping up the number of validators, or just handling the skipped slots

[2019-02-04 16:48] JustinDrake commented on #1479
I'd do `SHARD_COUNT = 1`.

[2019-02-04 17:47] prestonvanloon commented on #1479
We tried

EPOCH_LENGTH = 8
SHARD_COUNT = 1
TARGET_COMMITTEE_SIZE = 1

This was causing a divide by zero issue due to an empty crosslink committee in the first epoch.
Let me step through the code and I'll add my findings to this comment.

[2019-02-04 17:49] terenc3t commented on #1479
Divide by 0 is our issue and it is currently tracked by #1481. Once we fix that we can handle skip slot

[2019-02-04 17:51] prestonvanloon commented on #1481
I'll take this, it's crashing the server so needs to be fixed ASAP

[2019-02-04 17:53] prestonvanloon commented on #1481
It also happens here: https://github.com/prysmaticlabs/prysm/blob/176aa2688e770e3b079b766830c3a3eba58c67ae/beacon-chain/rpc/validator_server.go#L67

[2019-02-04 17:54] prestonvanloon commented on #1481
Looks like duplicated code, I'll simplify if possible

[2019-02-04 18:16] terenc3t commented on #1481
Thanks Preston! 🙏🏼

[2019-02-04 21:33] #1288 closed

[2019-02-04 21:33] rauljordan commented on #1284
This can be closed

[2019-02-04 21:33] #1284 closed

[2019-02-04 21:45] #1352 closed

[2019-02-04 21:45] #1267 closed

[2019-02-04 21:45] #1205 closed

[2019-02-04 21:46] rauljordan commented on #1192
Closed by #1414

[2019-02-04 21:46] #1192 closed

[2019-02-04 21:46] rauljordan commented on #900
Update on this @nisdas ?

[2019-02-04 21:47] rauljordan commented on #654
We have decided to proceed by having windows users use the docker image to run Prysm. Shall we close this @prestonvanloon?

[2019-02-04 21:48] rauljordan commented on #258
Closed by having the [go-bls](https://github.com/prysmaticlabs/go-bls) repo integrated into Prysm. Closing this in favor of #1366.

[2019-02-04 21:48] #258 closed

[2019-02-04 22:33] rauljordan opened #1486 "Implement Attester Rewrite in Validator Client"
Hi all,

We need to implement the attester responsibility in our validator client. This is being done in parallel to #1462 and will implement what is detailed in the validator spec [here](https://github.com/ethereum/eth2.0-specs/blob/master/specs/validator/0_beacon-chain-validator.md). This can be split up across smaller PRs with this being the tracking issue.

[2019-02-05 08:44] nisdas commented on #1449
Changes I will be handling:
`validator_registry_update_slot` to `validator_registry_update_epoch`
remove `validator_registry_delta_chain_tip_hash32`
`previous_epoch_calculation_slot` to `previous_calculation_epoch`
`current_epoch_calculation_slot` to `current_calculation_epoch`
`previous_justified_slot` to `previous_justified_epoch`
`justified_slot` to `justified_epoch`
`finalized_slot` to `finali

[2019-02-05 14:17] prestonvanloon commented on #1481
Working on this now

[2019-02-05 16:15] #1481 closed

[2019-02-05 17:55] #1247 closed

[2019-02-05 19:58] rauljordan opened #1498 "Broadcast Attestation to Network at Slot+0.5*SLOT_DURATION Seconds"
The spec mentions: A validator should create and broadcast the attestation halfway through the slot during which the validator is assigned -- that is SLOT_DURATION * 0.5 seconds after the start of slot.

Upon creating an attestation, the validator should wait until the time hits half of the duration between slots to submit it to the beacon node for broadcasting. We should implement this in the val

[2019-02-05 19:59] rauljordan commented on #1498
This is pending the merge of #1487

[2019-02-05 22:05] IvanTheGreatDev commented on #1498
Hey Raul! Think I can handle this? 😄

[2019-02-06 00:07] djrtwo commented on #1479
This also might be an issue depending on how it's interpreted (https://github.com/ethereum/eth2.0-specs/issues/541).

Is that issue failing due to no committee being assigned for that slot but the validator is requesting the proposer at that slot?

It is unfortunate that the most realistic early nets are at these unrealistic low numbers :/ (compared to production).
The protocol generally degrades

[2019-02-06 00:10] djrtwo commented on #1479
@prestonvanloon

Empty as in there is not one assigned to the slot at all or because the committee didn't show up to attest?

[2019-02-06 00:10] djrtwo commented on #1479
I might even go with `EPOCH_LENGTH = 4` so you get two validators per slot

[2019-02-06 03:19] prestonvanloon commented on #1479
@djrtwo we were having an issue with config overrides were not being applied.

By the way, 8 doesn’t reflect a number of validators we would deploy on a testnet. We’re just looking to see the client do stuff before standing up the infrastructure for a larger deployment.

We’ll circle back on this issue after we’ve caught up on all of the first class epoch changes. Thanks!

[2019-02-06 03:55] djrtwo commented on #1479
oh I know! I just meant these early simulations

[2019-02-06 18:06] #1464 closed

[2019-02-06 19:14] rauljordan opened #1510 "[Mega Tracking] Full Validator Spec Implementation"
Hi all,

This is a tracking issue for all PRs related to finishing our implementation of the entire validator document as specified [here](https://github.com/ethereum/eth2.0-specs/blob/master/specs/validator/0_beacon-chain-validator.md). We are very close to finishing the entire logic in this document. Here is what has been done so far and the missing steps:

- [x] Validator account initialization

[2019-02-06 19:21] rauljordan commented on #706
This can now be closed

[2019-02-06 19:21] #706 closed

[2019-02-06 19:22] rauljordan commented on #1486
#1487 closes this

[2019-02-06 19:22] #1486 closed

[2019-02-06 19:22] rauljordan commented on #1387
Fixed by @nisdas

[2019-02-06 19:22] #1387 closed

[2019-02-06 19:36] rauljordan opened #1511 "Cap the Number of Operations Proposer Includes in Validator Client"
Hi all,

Currently, our proposer logic includes block operations when the validator is assigned to propose a block. The spec mentions there is a hard limit on the number of deposits, attestations, slashings, etc. that can be included in a block, however, we do not enforce this in our code in validator/client/validator_propose.go. Ideally, the server side methods can cap the number of items they gi

[2019-02-06 19:39] rauljordan commented on #1511
Part of {{1510}}

[2019-02-06 19:54] rauljordan commented on #1510
@IvanTheGreatDev interested in any of this?

[2019-02-06 20:05] rauljordan commented on #1463
#1510

[2019-02-06 20:06] rauljordan commented on #1212
Can we close this @prestonvanloon?

[2019-02-06 20:16] IvanTheGreatDev commented on #1510
Always am! I would be down to do:

`Remove pending deposits from the queue on block processing`
` Broadcasting proposals and attestations via p2p (attestations need to be broadcast at slot+0.5*SLOT_DURATION seconds)`
`* Cap the number of block operations a proposer can include in a block`

I might need some guidance though 😄

[2019-02-08 04:50] IvanTheGreatDev commented on #1511
I'd like to take this!! 😄

[2019-02-08 14:59] terenc3t opened #1524 "TestNodeClose Fails w/o Network Device"
`TestNodeClose` in `node_test.go` will fail if you detach the network device.

How to reproduce:
1.) With proper network connection, run the test, make sure it passes
2.) Disable network device, make one change to the code, rerun test
3.) TestNodeClose will fail with the following messages

[code]

[2019-02-08 16:36] skillful-alex commented on #1204
working on it

[2019-02-08 18:19] rauljordan commented on #290
We are using validator accounts create to leverage geth's keystore for this as of #1436. Closing.

[2019-02-08 18:19] #290 closed

[2019-02-08 18:20] rauljordan commented on #1204
Closed by #1502

[2019-02-08 19:58] terencechain opened #1529 "Update Shuffle Function to Swap-or-not"
We should update our current shuffle function to use swap-or-not algo which was recommended by Dan Boneh. It's a simpler algorithm and has all the properties that we need.

Reference: https://github.com/ethereum/eth2.0-specs/pull/576

[2019-02-08 20:21] terenc3t commented on #1510
Going to work on `Responsibility lookahead` helper first, this will be in `helper/committee.go`

[2019-02-08 23:10] houjieth commented on #1461
Please assign to me. Will dig into this in this weekend.

[2019-02-08 23:36] rauljordan commented on #1461
Assigning to @houjieth

[2019-02-09 12:57] terencechain opened #1541 "[Mega Tracking] Align Codebase to Spec v0.2"
This issue tracks the overall progress of updating the current beacon chain implementation to spec [v0.2](https://github.com/ethereum/eth2.0-specs/releases/tag/v0.2.0) Here is what has been done so far and the missing steps:

**Phase 0 Beacon Chain:**
- [ ] introduce "swap-or-not" shuffle
- [x] fork choice rule now weighted by balance  #1564
- [x] mix epoch into seed within generate_seed rather th

[2019-02-09 13:03] terencechain opened #1542 "[Mega Tracking] Align Codebase to Spec v0.3"
This issue tracks the overall progress of updating the current beacon chain implementation to spec [v0.3](https://github.com/ethereum/eth2.0-specs/releases/tag/v0.3.0) Here is what has been done so far and the missing steps:

### **Phase 0 Beacon Chain Spec**

🍪 **Features:**

| Descriptions  | Eth2.0 spec PR   | Prysm PR   |
|------------ | ------------- |-------------|
| tighten up eth1 deposit

[2019-02-09 13:05] terenc3t commented on #1449
We can close this as soon as #1523, #1537, #1539, and #1540 gets merged
We'll use #1541 and #1542 to track anything after

[2019-02-09 17:06] kushagrasharma commented on #1416
I'd like to work on this!

[2019-02-09 21:18] terenc3t commented on #1541
Working issue: `AttestationData includes latest_crosslink rather than just latest_crosslink_root`

[2019-02-09 21:19] houjieth commented on #1461
I checked the code. The reason is that the encoding for nil pointer is not mentioned in the spec. I mentioned this in the comments [here](https://github.com/prysmaticlabs/prysm/blob/3dc6d3a2e68663adcab40a29c23daf3c17ed454b/shared/ssz/encode.go#L264)

Should we create an issue in the spec repo? Is it a must for us to have nil pointer in the data structure we want to encode/decode/treehash?

[2019-02-09 21:40] rauljordan commented on #1461
Can we walk the expected fields and fill them with zero values if they are nil when encoding/decoding?

[2019-02-09 21:44] rauljordan opened #1545 "Verify State Root in Block Processing"
Hi all, we're missing a simple line:
[code]
This should be done once we have nil pointer support from #1461

[2019-02-09 23:07] terenc3t commented on #1541
Done! Please review #1546

[2019-02-10 18:55] prestonvanloon opened #1549 "Move SSZ to github.com/prysmaticlabs/go-ssz"
We should move the ssz shared library out of prysm and relicense under a more permissive license so other projects can contribute or use it freely. The current license suggestion is LGPL, but we should consider MIT as well since this library really isn't specific to Prysmatic Labs.

We need confirmation from @houjieth that their in progress work will not be significantly disrupted by this change.

[2019-02-10 18:58] cyberbono3 commented on #1529
I can start working on it

[2019-02-10 22:12] terenc3t commented on #1449
Can close this. Please refer #1541 and #1542 for the next set of issues

[2019-02-10 22:12] #1449 closed

[2019-02-11 03:11] houjieth commented on #1461
Say we are encoding a `*uint8` pointer. We need to differentiate between a nil pointer and a pointer that points to a zero value `uint8`. The encoding of zero value `uint8` is `0x00`, and the encoding for zero value `uint16` is `0x0000`, etc.. It's tricky to design the encoding output for nil pointer: If we want to decode a `*uint8` with input of `0x00`, should we decode it into a pointer that poi

[2019-02-11 03:20] houjieth commented on #1549
Thanks Preston. I think it's great to make the ssz part more free to use.

I currently about 1 or 2 pending PR and I will send them out as soon as possible. The PR link will be put here.

[2019-02-11 06:24] terenc3t commented on #1541
Working on `get_next_epoch_committee_assignments`

[2019-02-11 17:21] cyberbono3 commented on #1541
working on introduce "swap-or-not" shuffle

[2019-02-11 18:00] terenc3t commented on #1541
working on `fork choice rule now weighted by balance`

[2019-02-12 08:04] skillful-alex commented on #1204
#1502 solves another error
This is a request to implement the `Status()` function in the `beacon-chain/powchain/service.go`

[2019-02-12 13:32] prestonvanloon commented on #1416
Sounds good @kushagrasharma

[2019-02-12 16:30] rauljordan opened #1565 "[Mega Tracking] Successfully Running Beacon Node + 8 Validators"
This is a tracking issue for required fixes to the repo to allow us to run a local testnet of one beacon node and 8 connected validator clients with a deposit contract deployed on goerli. This local config should successfully perform shuffling, assignments, and validators should successfully perform their responsibility. I was able to successfully do this locally after encountering many bugs and f

[2019-02-12 17:07] rauljordan commented on #1461
Thanks @houjieth ! Closed by #1553

[2019-02-13 10:41] nisdas commented on #1206
Closed by #1316

[2019-02-13 10:41] #1206 closed

[2019-02-13 14:13] prestonvanloon opened #1582 "Docker image builds are breaking due to MCL update"
https://buildkite.com/prysmatic-labs/prysm-docker-images/builds/668#2a3643ef-62bb-4fba-ad45-4c42d5ce5f5f

Seems due to https://github.com/prysmaticlabs/prysm/pull/1367 and failing strict compilation for docker images.

[2019-02-13 21:44] rauljordan commented on #1461
@houjieth receiving this error in master:
[code]
do you know why this may be happening?

[2019-02-13 21:55] rauljordan commented on #1479
Closed by #1565

[2019-02-13 21:55] #1479 closed

[2019-02-13 21:56] rauljordan commented on #1395
Fixed!

[2019-02-13 21:56] #1395 closed

[2019-02-13 22:08] rauljordan opened #1586 "[Mega Tracking] Phase 0 Testnet Items"
Hi all,

This is a mega tracking issue for all the TODO items we have left before we can release a reliable testnet for Phase 0 pinned to v0.2 of the spec. We are pretty close, but there are still a lot of minor loose ends to take care of before we can finish putting this on a cluster and calling it a day. This will serve as the main issue we refer to when tracking all major features for the testn

[2019-02-13 22:42] prestonvanloon commented on #1582
This can be temporarily resolved by removing the static flag on the build targets for docker images that depend on mcl/bls.

[2019-02-13 22:43] prestonvanloon commented on #1582
Exploring alternative resolutions; we want the binaries in docker images to be as static as possible

[2019-02-13 22:51] prestonvanloon commented on #1586
Added a few items:
- UI for deposit flow (necessary for common users to join testnet)
- k8s infrastructure & monitoring

[2019-02-13 22:57] terenc3t commented on #1586
Added
- Testnet documentations on GitBook

[2019-02-14 01:46] jiepony commented on #1461
Some logic in `ssz/hash.go` needs to be tweaked as well.
I will send a PR very soon.

[2019-02-14 01:48] houjieth commented on #1461
Some logic inside `ssz/hash.go` needs to be tweaked as well.
I will open a PR very soon.

[2019-02-14 12:26] nisdas opened #1593 "Use Simulated Backend to Test Sync [ Tracking Issue ]"
With #1445 being merged in , we can use the simulated backend to generate blocks and advance the chain. What this means for testing sync is that now we can test how nodes will interact with each other under certain scenarios. Ex: Node A is synced to the current slot of 100 , with sync B we should be able to test if this also sync to the current slot of 100 with the same state root. We can test oth

[2019-02-14 13:41] prestonvanloon opened #1595 "Print cmd flags in sections"
Like geth's [usage.go](https://github.com/ethereum/go-ethereum/blob/master/cmd/geth/usage.go), we should have something that groups and organizes flags.

Bonus: Flags should be sorted within their sections when the help text is printed.

[2019-02-14 20:04] #1389 closed

[2019-02-14 21:06] houjieth opened #1600 "SSZ: Support Fixed-Size Byte Array"
The ssz [spec](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/simple-serialize.md#tree-hash) have been changed to only support fixed-size array (not dynamic size array).

Currently our ssz implementation only supports byte slice which is akin to dynamic-size array.

We need to update the implementation and align our encoding/decoding/hash scheme with the spec.

Related source code:
https:

[2019-02-14 21:20] rauljordan commented on #1565
Issue with the validators being assigned as proposer/attester in same slot is due to the [pigeonhole principle](https://en.wikipedia.org/wiki/Pigeonhole_principle) when using a committee size of 1 or 2 with a shard count of 1. In production this case will happen extremely rarely, as we will also have a higher shard count.

[2019-02-15 16:58] #1498 closed

[2019-02-15 18:31] #1582 closed

[2019-02-15 18:45] JerryFireman commented on #1595
@prestonvanloon  I'd like to tackle this one

[2019-02-15 18:47] prestonvanloon commented on #1595
@JerryFireman it should be easy :)

[2019-02-15 18:48] JerryFireman commented on #1595
@prestonvanloon I hope so!

[2019-02-15 18:56] rauljordan opened #1609 "Validator Believes ChainStart is time.Unix(0, 0) if Connection to Beacon Node Shuts Down"
Hi all,

We have a bug which can be reproduced as follows: setup a beacon node that is waiting for the ChainStart log from the deposit contract and connect a validator client to it. Then, shut down the beacon node process. The validator client will all of a sudden believe ChainStart was reached at time.Unix(0, 0) and begin performing its responsibility eternally. This is not the desired behavior.

[2019-02-15 21:44] rauljordan opened #1613 "Handle Case When Validator is Assigned to Propose and Attest in Same Slot"
Given the small parameter values of committees in our local testing environment, sometimes the situation arises when a validator is assigned as both a proposer and attester in the same slot. Discussed offline, we should handle this case and allow the validator to perform both responsibilities.

[2019-02-15 21:51] prestonvanloon opened #1614 "Provide vyper compiler as part of the bazel toolchain"
Similar to how we can easily generate our protobuf bindings through bazel. It would greatly improve developer workflow to use a reliably consistent compiler for vyper provided via the bazel toolchain.

Related issues:
- #1416
- #272 & #411

Ideal flow would be that we can generate the go bindings from a vyper source file through a new bazel rule.

[code]
This generates the ABI, bytecode, and runs

[2019-02-15 22:15] #1461 closed

[2019-02-15 22:42] IvanTheGreatDev commented on #1613
I'd like to handle this! 😄

[2019-02-18 16:04] rauljordan commented on #1565
Going to continue doing some local tests today to see if we can consistently reach the success scenario of validators performing their responsibility. Will identify any bugs and add any issues if necessary, if not, then we can close this.

[2019-02-18 16:05] terenc3t commented on #1565
I'll join you with this after I wrap up operations pool work in an hour

[2019-02-18 22:07] IvanTheGreatDev opened #1631 "Make test function names consistent across codebase"
Sometime during development we shifted from using syntax like [`TestFunctionName`](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/blocks/block_test.go#L147) to [`TestFunctionName_Behavior`](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/blocks/block_test.go#L105) for tests.
This issue is to make sure that all test cases are properly renamed to the curren

[2019-02-18 22:08] terenc3t commented on #1631
Sweet. Wanna take on this @IvanTheGreatDev ?

[2019-02-18 22:17] IvanTheGreatDev commented on #1631
I'd be down! Although I wanna handle #1511 first!

[2019-02-18 22:25] terenc3t commented on #1511
Operation pool service is already taking care of this:
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/operations/service.go#L102

Marking this as closed. Feel free to reopen if anyone has a better implementation

[2019-02-18 22:25] #1511 closed

[2019-02-18 22:29] terenc3t commented on #1510
Starting to work on `Responsibility lookahead`

[2019-02-18 22:51] #1613 closed

[2019-02-19 05:42] prestonvanloon commented on #654
No, I'd like to leave this open because we'd really like to provide exe binaries for the main targets.

#1635 enables `//validator` to build on windows so we are one step closer to getting this resolved.

[2019-02-19 06:14] prestonvanloon commented on #654
I think we need to write (or add) a new crosstool for the c++ deps in sepc256k1 for (cross) compiling for windows.

https://github.com/bazelbuild/bazel/wiki/Yet-Another-CROSSTOOL-Writing-Tutorial

[2019-02-19 06:32] prestonvanloon commented on #654
Also related: https://github.com/bazelbuild/rules_go/pull/1791

[2019-02-19 06:38] prestonvanloon commented on #654
See tensorflow crosstool: https://github.com/tensorflow/tensorflow/blob/63be4a65a1ba37848d3bfbe72ea2b60184d9979e/third_party/toolchains/gpus/crosstool/BUILD

I think building the beacon chain requires the cpu and compiler flag.

ex
[code]

[2019-02-19 10:05] nisdas opened #1638 "Add Caching to Tree Hashing Algorithm"
Currently our tree hashing algorithm does not do any caching at different heights of the merkle tree which leads to a runtime complexity of O(n) when computing the merkle root. This has lead to a bottleneck when computing the merkle root of a large object, leading to much larger times needed for performing state transitions. A PR to resolve this issue will add in caching to the tree, to reduce the

[2019-02-19 14:28] nisdas commented on #1510
Will be taking up `Preventing slashing by persisting signed and proposed data to disk`

[2019-02-19 15:11] rauljordan commented on #1510
Slashing items moved to Q2 priorities:
- [ ] Preventing slashing by persisting signed and proposed data to disk
- [ ] If validator went offline during responsibility and comes online again, use the persisted signed data to prevent slashing and send that to the beacon node

[2019-02-19 18:06] cyberbono3 commented on #1638
I can start digging into it

[2019-02-20 05:23] rauljordan commented on #1377
Closed by #1633

[2019-02-20 05:23] #1377 closed

[2019-02-20 17:33] rauljordan opened #1656 "Fetch Correct Ancestor Deposit Root in ETH1 Data"
Hi all,

As a follow-up to to #1615, if the data votes object slice is empty, the spec specifies:
[code]

Currently, we have no mechanism to obtain historical deposit roots, so we would need a feature that would allow us to fetch that from the post-state of a block by blockhash in the ETH1.0 chain. This can be done in the powchain service of our beacon node.

[2019-02-20 17:36] rauljordan opened #1657 "Implement BlockExists and BlockHashByHeight"
Hi all,

In our powchain service, we have two important, unimplemented functions for the ETH1 data voting functionality.

[code]

We need these functions in so our ETH1 data voting works properly. `BlockExists` takes in an eth1 hash and returns whether or the block exists, its height, and any possible error. `BlockHashByHeight` fetches the block hash of the block at a given height.

[2019-02-20 17:57] #1463 closed

[2019-02-20 19:07] terencechain opened #1660 "[Tracking] Ensure Codebase Reads like Spec"
This is a sub tracking for #1586

In this issue we track all relevant work that ensures our codebase reads almost exactly like the ETH2.0 [spec](https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md) 📖

[2019-02-20 19:09] terencechain opened #1661 "[Tracking] Better Logging during Transition"
This is part of #1586

This issue tracks the relevant tests revolving better logging at the slot processing, block processing and epoch processing level to understand how the state changes. (ex: if there were newly activated validators, what the last finalized slot was, etc)

[2019-02-21 16:20] prestonvanloon commented on #1510
WIP * Pack validator initial credentials

[2019-02-21 16:44] rauljordan commented on #1609
Fixed by #1665

[2019-02-21 16:44] #1609 closed

[2019-02-21 22:48] protolambda commented on #1549
Can I ask what the current status is? Can I start using SSZ in my Go projects yet? :)

[2019-02-22 15:11] #1631 closed

[2019-02-22 22:53] rauljordan opened #1689 "Clear Operations Which Cause Errors in Block Processing"
Hi all,

Currently, if a block failed the state transition due to a faulty operation (an attestation which fails processing), the next proposer will attempt to include this faulty operation. Instead, we should be able to clear out this faulty operation so future proposers do not include it in their blocks, which would cause the chain to stall until the system dies. Perhaps we can clear attestation

[2019-02-23 01:02] jalextowle commented on #1595
For an update, I have been traveling back from Denver for the past couple of days so I haven’t had time to get started. My plan is to have a WIP PR that is close to a finished product by tomorrow!

[2019-02-24 02:58] #1657 closed

[2019-02-25 15:34] #1323 closed

[2019-02-25 18:36] prestonvanloon opened #1704 "libp2p renamed all of their tags"
Now we cannot checkout the previous versions.

The fix is to change all of the tags to their new format or use a commit hash.

Inquiry to pin tags to their commit hash: https://github.com/renovatebot/config-help/issues/172

[2019-02-25 18:38] prestonvanloon commented on #1704
Example: https://github.com/prysmaticlabs/prysm/blob/b6cc79fa2ac0da749056b3d06958867f5f925b53/WORKSPACE#L618

Now is [gx/v0.3.15](https://github.com/libp2p/go-libp2p-blankhost/releases/tag/gx%2Fv0.3.15)

[2019-02-25 18:39] prestonvanloon commented on #1704
@raulk for FYI

[2019-02-25 19:06] prestonvanloon commented on #1704
The immediate blocking issue is resolved in #1705, but we should not consider the underlying issue resolved until we remove all tag based dependency imports.

[2019-02-25 19:20] terencechain opened #1707 "[Mega Tracking] Align Codebase to Spec v0.4"
This issue tracks the overall progress of updating the current beacon chain implementation to spec [v0.4](https://github.com/ethereum/eth2.0-specs/releases/tag/v0.4.0) Here is what has been done so far and the missing steps:

### **Phase 0 Beacon Chain Spec**

🍪 **Features:**

| Descriptions  | Eth2.0 spec PR   | Prysm PR   |
|------------ | ------------- |-------------|
| refactor signature hashi

[2019-02-25 19:56] raulk commented on #1704
Thanks for the shoutout here. This little breakage now is paving the way for clean gomod semantics, something that lots of downstream users will appreciate. Thanks for bearing with us!

[2019-02-26 03:16] terenc3t opened #1714 "Fix TestNextEpochCommitteeAssignment Slowness"
The test `TestNextEpochCommitteeAssignment` is taking long because of the `DepositsForChainStart` 16128 database writes. To fix it they should be batched

See: https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/rpc/validator_server_test.go#L186

[2019-02-26 20:59] jalextowle commented on #1595
I'm still working on it. Sorry for the delay. I should have a WIP PR in tonight.

[2019-02-27 03:53] shayzluf commented on #1714
I am working on it

[2019-02-27 03:59] nisdas commented on #1714
Nice :) , Assigned to @shayzluf

[2019-02-27 19:26] prestonvanloon commented on #1595
Let me know if you need help

[2019-02-27 19:56] JerryFireman commented on #1595
@prestonvanloon Thanks! I am working on it. If I can't get it running by tomorrow, I will ask you for help.

[2019-02-27 20:02] jalextowle commented on #1595
@prestonvanloon I will. The main issue has just been unexpected things have come up with work. I should have more time today though.

[2019-02-27 20:11] prestonvanloon commented on #1595
It looks like two of you are working on it, at this point.
Whoever can get to it first will have their PR accepted.
I don't expect this work to take more than 1 hour so the chance of collision seems low, but please add granular updates here so that someone isn't wasting their time on this task.

[2019-02-28 02:03] shayzluf commented on #1430
I am taking this task

Looking into the current code first

[2019-02-28 02:50] jalextowle commented on #1595
Quick question, does it make sense to have a usage file for the different `main` packages in the project? Specifically, it seems to me that both the validator and the beacon-chain directories need one of these files, and there may be more that need one.

[2019-02-28 04:13] IvanTheGreatDev opened #1753 "Cache the beacon chain state in order to reduce unneeded disk I/O"
This is an issue to represent the recent findings after running a local beacon chain, in which the higher the slot, the larger state elements such as `Eth1Data` and others grow. The size of `Eth1Data` in particular increases the block processing time by about 1 or 2 seconds each time an epoch transition is reached due to `BlockExists()` being performed up to 3 times on each item in `Eth1Data`. Thi

[2019-02-28 04:19] jalextowle commented on #1595
Well, anyways, I've created a `usage.go` that sorts the flags within flag sections for the beacon-chain. I'm going to test it now and then create a PR.

[2019-02-28 05:55] shayzluf commented on #1430
@prestonvanloon caching the last block read index (big.Int) in boltdb and reading it shouldn't be an issue for the process memory . Am I missing something here?

[2019-02-28 06:07] jalextowle commented on #1595
It looks like some of the linter tests are failing. I know how to fix two of them and will fix them as soon as I wake up tomorrow (I need to get some sleep). The other one says that `usage.go` does not use goimports. Any idea how to fix this @prestonvanloon?

[2019-02-28 06:26] #1714 closed

[2019-02-28 13:12] prestonvanloon commented on #1595
@jalextowle `goimports -w beacon-chain/usage.go`

[2019-02-28 13:28] prestonvanloon commented on #1753
Some of the ETH1Data calls are being addressed in #1757.

I think the primary goal for this task is to optimize these calls
![image](https://user-images.githubusercontent.com/7246818/53568810-e6e8db80-3b30-11e9-9120-8528589a016a.png)

The state is an object that is read often (several times per second) but written less often (>1 second between writes).  To reduce I/O time for reading the state, we

[2019-03-01 01:54] terencechain opened #1763 "Implement Process_Slashings from Spec"
We are missing the step `process_slashings` from  current ETH2.0 beacon chain spec, this processing function happens at the end of epoch processing. This is not a blocker for test net deliverable and there's already a python implementation, this is a good first issue!

[code]

Reference commit: https://github.com/ethereum/eth2.0-specs/blob/bcb0b8bf874eb438327deda2894c0fb51da8f6b8/specs/core/0_beac

[2019-03-01 01:58] terencechain opened #1764 "Implement Process_Exit_Queue from Spec"
We are missing the step `process_exit_queue ` from current ETH2.0 beacon chain spec, this processing function happens at the end of epoch processing. This is not a blocker for test net deliverable and there's already a python implementation, so it's another good first issue!

[code]

Reference commit:
https://github.com/ethereum/eth2.0-specs/blob/bcb0b8bf874eb438327deda2894c0fb51da8f6b8/specs/core

[2019-03-01 04:19] terencechain opened #1765 "Cache Last Active/Exit Validator Index"
Currently to induct validator to **active status** and exit validator to **withdrawn status**, the biggest bottle neck is having to loop through the entire validator registry and look for the following conditions:

Eligible to active: `validator.activation_epoch > get_entry_exit_effect_epoch(current_epoch) and state.validator_balances[index] >= MAX_DEPOSIT_AMOUNT`

Eligible to exit: `validator.exi

[2019-03-01 05:50] shayzluf commented on #1430
It seems like this task has been merged with #1760 and taken by @nisdas I leave this task to @nisdas

[2019-03-01 06:19] nisdas commented on #1430
Clarified with @shayzluf in chat https://discordapp.com/channels/476244492043812875/483017808658169866/550915035895955466 , about the requirements for the issue

[2019-03-01 14:41] prestonvanloon commented on #1704
Looks like ipfs just did the same thing.

Some good news is that renovate will no longer push tag based updates, but still continue to only update on new versions.

[2019-03-01 15:18] prestonvanloon commented on #1344
The solution is to add the following tag

[code]

As @wildmolasses, this isn't support on Mac (yet) but would still be an improvement.
This is blocked by #1524 as tests will fail without a network connection.

[2019-03-01 15:19] #1704 closed

[2019-03-01 19:48] #1595 closed

[2019-03-03 22:19] Meeshbhoombah commented on #1764
Hey @terenc3t how ya been, we spoke a bit at the Moloch DAO SF meetup - am interested in taking on this issue 👍

[2019-03-03 22:20] terenc3t commented on #1764
Sounds good. Thanks @Meeshbhoombah

[2019-03-04 18:34] jalextowle commented on #1595
I finished the work, but I guess I forgot to submit. I’ll do that ASAP

[2019-03-04 20:37] rauljordan commented on #389
Completed by #1830

[2019-03-04 20:37] #389 closed

[2019-03-04 20:37] #1204 closed

[2019-03-05 03:22] prestonvanloon opened #1874 "Metrics: peer count goes up, but never goes down"
See question here: https://github.com/libp2p/go-libp2p/issues/548

The problem is that host.Peerstore().Peers() returns a list of all peers that have ever connected to the node. Not just the ones that are currently connected. As such, our peer count metric always increases but never decreases.

https://github.com/prysmaticlabs/prysm/blob/9999b3280aa3a7296a2646c2c0543971a17ff39a/shared/p2p/monitori

[2019-03-05 17:16] rauljordan opened #1889 "Request Block Parents from Peer Recursively If Missing When Processing"
Currently we run into an issue when syncing when if a node does not have a parent block when processing, it will fail and its chain will never advance. Instead, we should request parent blocks from peers. @nisdas outlined the following as a solution:

- Request for block by hash,
- Once we receive it we check again for its parent, we can recursively do this until maybe a limit of 10 blocks or some

[2019-03-05 21:20] #1874 closed

[2019-03-05 23:13] #1565 closed

[2019-03-06 02:23] prestonvanloon commented on #488
This is still an issue

[2019-03-06 04:57] #488 closed

[2019-03-06 05:34] shayzluf commented on #1600
taking this task

[2019-03-06 15:18] rauljordan opened #1909 "Validators Need to Store Data They Have Signed"
Hi all,

As part of #1586, validators should keep track of the data they have signed (blocks/attestations) so that in case of a reorg, they have the necessary information to pull up from disk to propose when the time is needed or attest as necessary.

[2019-03-07 02:47] yahtoo opened #1921 "No deposit contract specified."
when I start beacon from
./beacon-chain   --datadir /home/xx/.beacon/   --rpc-port 4000   --demo-config --p2p-port 9000
[2019-03-07 10:37:40]  INFO node: Using custom parameter configuration
[2019-03-07 10:37:40]  INFO node: checking db
[2019-03-07 10:37:40] FATAL node: No deposit contract specified. Add --deposit-contract with a valud deposit contract address to start.
how can I get deposit contr

[2019-03-07 04:07] IvanTheGreatDev commented on #1921
Hello @yahtoo ! Thanks for using Prysm 😄

So, in order to start a beacon-chain node you need to follow the steps listed here:
https://github.com/prysmaticlabs/prysm/issues/1565

They involve you deploying a deposit contract (the 1st command), starting the beacon chain node, and then setting up the 8 validators (followed by performing the 8 deposits) needed to begin chain start. We're currently wor

[2019-03-07 04:07] #1921 closed

[2019-03-07 05:37] prestonvanloon opened #1924 "Invalid p2p messages can crash the service"
If `msg.Data` is nil, then this line can panic in the panic recovery
https://github.com/prysmaticlabs/prysm/blob/334f13ac873df4e053f6ca2c8365ff83d4f80c69/beacon-chain/sync/regular_sync.go#L239

Related #330

[2019-03-07 05:56] shayzluf commented on #1600
@houjieth in the spec I see

[code]

[2019-03-07 06:43] shayzluf commented on #1924
taking this task

[2019-03-07 06:46] nisdas commented on #1924
hey @shayzluf I was working on this, maybe you could take up another open issue ?

[2019-03-07 06:47] shayzluf commented on #1924
no problem

[2019-03-07 07:08] shayzluf commented on #1763
taking this issue

[2019-03-07 13:41] terenc3t commented on #1763
assigned to @shayzluf

[2019-03-07 14:39] #1924 closed

[2019-03-07 18:21] prestonvanloon opened #1930 "[Mega Tracking] Fuzz testing (RPC & p2p)"
As part of improving the project binary resiliency, we must have fuzz testing as part of our test suite.

After some brief investigation, I suggest that we should adopt the [best practices of OSS-Fuzz](https://github.com/google/oss-fuzz/blob/master/docs/ideal_integration.md).

Some known areas for fuzz testing:

- [ ] Anything incoming from the p2p layer (libp2p pubsub, etc)
- [ ] Anything incomin

[2019-03-08 11:33] shayzluf commented on #1638
taking this task

[2019-03-08 13:55] terenc3t commented on #1763
Freeing up this issue since @shayzluf is taking something else

[2019-03-08 16:42] zramsay opened #1940 "FATAL blockchain: Not configured web3Service for POW chain"
Following the README:

- install bazel
- run:
[code]
- get:
[code]

can't proceed to [next step](https://github.com/prysmaticlabs/prysm#running-an-eth20-validator-client)

[2019-03-09 02:43] #1593 closed

[2019-03-09 17:32] terencechain opened #1951 "[Mega Tracking] - Fork Choice Optimization"
This issue tracks overall improvements for our current fork choice implementation. See #1950 as a starter.  Some high level ideas:

- Cache blocks and avoid reading blocks from DB to find head
- Look into different LMD-GHOST implementations

Helpful resources:
https://github.com/protolambda/lmd-ghost/

[2019-03-11 12:48] skillful-alex commented on #1764
@Meeshbhoombah, are you working on this issue? I am ready to take it to development.

[2019-03-11 18:16] Meeshbhoombah commented on #1764
@skillful-alex Yes! Should be able to open a PR this afternoon or tomorrow morning.

[2019-03-12 01:12] prestonvanloon commented on #175
This was done in #1931

[2019-03-12 01:12] #175 closed

[2019-03-12 03:01] #1524 closed

[2019-03-12 03:39] terenc3t opened #1970 "Implement Validator (Client Side) Load Balancing"
Validators (client in this context) could use some load balancing as they are common in today's micro service design with gRPC.

Helpful resources:
https://medium.com/@ammar.daniel/grpc-client-side-load-balancing-in-go-cd2378b69242
https://grpc.io/blog/loadbalancing

[2019-03-12 17:41] terenc3t opened #1973 "Same Pub Key Can Deposit Multiple Times"
Same public key could be used to deposit multiple times and start the chain. Seen below `0xabb76586a66e0124938baff7be419ac67bdb78b003fbd362c6dba9ad09bb1ad9778495bd83b0d03f3abd12270fbf43b6088d190e37eea2cb3107ec042dec3369f025b566602befb3c4f33f265ea54c23fe42df698e8be8ca9fd9ad75b192897f` deposited 7 times and then the chain started

[code]

[2019-03-12 17:47] terenc3t opened #1974 "Aggregation bitfield is always the same from different attester"
This is blocking #1967.

For the attestations coming from attesters, aggregation bitfield index is always flipped at index 1, but they are not coming from the same attester so something is wrong there.
fork choice can't work w/o properly tracking attester's latest attestation

[code]

[2019-03-12 19:30] #1753 closed

[2019-03-12 22:16] terencechain opened #1977 "Proposer compute state root fails"
On the latest master. None of the proposer can propose due to the following:

[code]

[2019-03-12 22:22] Meeshbhoombah commented on #1764
@terenc3t wanted to confirm that the only files to change are:
- [`epoch_processing_test.go`](https://github.com/prysmaticlabs/prysm/blob/c1a9937760ea6a321c6e5f515499eb3a11301ba0/beacon-chain/core/epoch/epoch_processing_test.go)
- [`epoch_processing.go`](https://github.com/prysmaticlabs/prysm/blob/c1a9937760ea6a321c6e5f515499eb3a11301ba0/beacon-chain/core/epoch/epoch_processing.go)

[2019-03-12 22:25] terenc3t commented on #1764
correct!

[2019-03-13 14:06] nisdas opened #1979 "Validator Proposes At Slot 0"
Currently a validator is assigned to propose at slot 0, which will fail as the current state will have a slot of 1 and proposing at slot zero doesn't make sense as that is taken up by the genesis block.

[2019-03-13 14:11] terenc3t commented on #1979
This has always been working before though? Is this a regression?

[2019-03-13 14:13] nisdas commented on #1979
Its actually been like this for a while, we just haven't spotted it. It shows up in commits from more than a week ago. So I am not sure where it broke

[2019-03-13 14:33] nisdas opened #1980 "Use Previous Block Root From State instead of Saved Block"
Currently we retrieve the chain head and hash it to generate the previous block root for state transitions. We should instead be using the previous block root from the state. This would solve some edge cases for us in sync. Ref: https://github.com/ethereum/eth2.0-specs/issues/692#issuecomment-472346984

[2019-03-13 15:17] kushagrasharma commented on #1763
i can take this one

[2019-03-13 17:30] terenc3t commented on #1979
I see. I think `Priority: High` is more appropriate since we are not sure if this is the root cause of proposer can't propose and what impact this issue has

[2019-03-13 17:41] terenc3t opened #1981 "Circular dependency when using state generator"
The state generator [test](https://github.com/prysmaticlabs/prysm/tree/master/beacon-chain/blockchain/stategenerator) uses `chaintest/backend` to simulate deposits. The chaintest package imports most of the processing packages including `blockchain` package. Which means we won't be able to use state generator in `blockchain` service and most of the processing service or we'll get an import circle

[2019-03-13 19:05] #1981 closed

[2019-03-13 19:05] terenc3t commented on #1981
fixed via b8b5b49e96bdd52175497d4b5a286aa17fedb202

[2019-03-14 00:43] terenc3t opened #1986 "Validator failing to update assignments"
As we fixed #1977, the following regression got introduced...

`ERROR validator: Failed to update assignments error=rpc error: code = Unknown desc = could not get next epoch committee assignment: epoch 2 out of bounds: 0 <= epoch <= 1`

[2019-03-14 09:04] skillful-alex commented on #1909
I am ready to take this issue, and provide the result by March 25th. Do I take it?

[2019-03-14 16:29] #1986 closed

[2019-03-14 17:24] kushagrasharma commented on #1980
I can work on this

[2019-03-14 17:33] #1979 closed

[2019-03-14 20:55] terenc3t commented on #1974
Reopen issue. Seeing it again after #1990
All the attestations have the same aggregation bitfield `aggregation_bitfield:"\200"`

[2019-03-15 00:23] terencechain opened #1999 "[Mega Tracking] Align Codebase to Spec v0.5"
Note: This is mainly a tracking issue and the items from here should not take precedent over priority tasks such as sync, run time and E2E test issues. Any potential PR from this issue list will have to go through E2E test before merge.

This issue tracks the overall progress of updating the current beacon chain implementation to spec [v0.5](https://github.com/ethereum/eth2.0-specs/releases/tag/v0

[2019-03-15 04:14] terenc3t commented on #1974
Not an issue. My understanding of bitfield construction was wrong

[2019-03-15 04:14] #1974 closed

[2019-03-16 14:08] terenc3t opened #2008 "Default Config Struct for State Transition"
We are starting to see a pattern in which we want to pass extra parameters to state transition. A good plan is to have a config struct that has some default config we can use when calling state transition if it is in nil.
This is will be an improvement over #2001 where the function argument will be more readable than just passing a bunch of bool parameters to the function

[2019-03-16 14:11] #1940 closed

[2019-03-16 14:17] terenc3t commented on #1346
Can be closed via #1718, we can open a subsequent PR for optimizations

[2019-03-16 14:20] terenc3t commented on #1325
Closed via #1326

[2019-03-16 14:20] terenc3t commented on #1322
Closed via #1402

[2019-03-16 14:20] #1322 closed

[2019-03-16 14:21] terenc3t commented on #1307
Closed via #1933 see #1951 for further optimizations

[2019-03-16 14:21] #1307 closed

[2019-03-16 14:22] terenc3t commented on #1201
Implemented in attestation service

[2019-03-16 14:23] terenc3t commented on #891
I think we can close this? Feel free to reopen if its not satisfied

[2019-03-16 14:23] #891 closed

[2019-03-17 10:23] nisdas opened #2011 "Perform State Caching With Merkle Structure"
The spec now includes a section on state caching, this issue is to track state caching from this PR in the specs repo https://github.com/ethereum/eth2.0-specs/pull/732 and is also a part of #1999.

[code]

[2019-03-17 16:23] prestonvanloon commented on #1201
It is not implemented

https://github.com/prysmaticlabs/prysm/blob/7f3d8a7e7b8052a5b52f0a41f1d08f59f2446784/beacon-chain/attestation/service.go#L75

[2019-03-17 16:27] prestonvanloon commented on #1202
#1290 was never merged.

[2019-03-18 03:21] prestonvanloon commented on #2011
Blocked by testnet feature freeze, but design can start now.

[2019-03-18 15:36] prestonvanloon opened #2025 "Validator: performing for multiple keys"
The current validator design is rather simple for a single private key: the validator requests assignments, waits for slot to perform task, then performs the appropriate task. In order to optimize resources for a testnet deployment, we could enable a validator to perform tasks for multiple signing keys.

## proto/beacon/rpc/v1/services.proto

The validator RPC service must be updated to support as

[2019-03-18 15:40] prestonvanloon commented on #2025
cc @shayzluf

[2019-03-18 17:06] terencechain opened #2026 "Formally Capture State Transition Times"
Inspired from [lighthouse's serenity benchmark numbers](https://github.com/sigp/serenity-benches), lets document state transition times for block processing and state processing functions. The goal of this issue to benchmark and capture these transition times to find potential run time issues. This issue tracks the overall progress of capturing these benchmark numbers

[2019-03-19 01:49] shayzluf commented on #2025
@prestonvanloon can I take this issue? I see you are assigned to it

[2019-03-19 15:32] prestonvanloon opened #2027 "Write regression test for #1994"
#1994

I’m on mobile for the day (jury duty), but I would like to check in #1994 now and write the regression test tonight or tomorrow with a split screen device.

Do not close this issue without an appropriate regression test.

[2019-03-20 01:33] shayzluf commented on #2025
I am on Update RPC proto definitions, implement server side and client side to perform the same behavior. I.e. the client should only accept the first response in a list of assignments

[2019-03-20 05:20] prestonvanloon opened #2039 "Initial sync panics"
https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/blockchain/fork_choice.go#L35

https://gist.github.com/prestonvanloon/9c94ca21042d517f61ee6b709ac7bae5

[2019-03-20 15:49] prestonvanloon commented on #1889
This actually isn't implemented recursively. Here are my notes:

In the case that we receive a block where we haven’t see the parent yet, we put this block into a map. As soon as it’s parent comes in, we process both blocks. One potential issue is that if we haven’t seen the block of the parent’s parent, then we could be creating issues.

Given the example to the right. We have a blockchain from A

[2019-03-20 21:23] prestonvanloon commented on #2027
Working on this now!

[2019-03-20 22:19] #2027 closed

[2019-03-20 23:25] prestonvanloon commented on #2025
Sounds good to me @shayzluf. I'm not working on it at the moment. I've just assigned to myself as the owner to be accountable that this is done on time (it is urgent). Thanks!

[2019-03-21 00:19] prestonvanloon commented on #2039
#2041 WIP

[2019-03-21 05:14] shayzluf commented on #2025
on keystore.go there is an assumption that the same password was used to create all keys
Is it ok to assume that?

[2019-03-21 18:23] rauljordan commented on #2039
This can be closed post #2050

[2019-03-21 23:44] terencechain opened #2053 "[Mega Tracking] Align Codebase to Spec v0.5.1"
This issue tracks the 2 critical bug fixes pointed out by Paul from Lighthouse and Danny from EF. They Currently don't impact our run time so we have some leeway before fixing them.

| Descriptions  | Eth2.0 spec PR   | Prysm PR   |
|------------ | ------------- |-------------|
|Fix circular dependency when embedding block roots in state by using signed_root(block) | [716](https://github.com/ether

[2019-03-22 18:10] siromivel commented on #1416
Should this be closed as it was addressed in https://github.com/ethereum/go-ethereum/pull/19120?

[2019-03-23 02:01] nisdas commented on #1416
Ah yes it should, thanks @siromivel !

[2019-03-23 02:01] #1416 closed

[2019-03-23 16:20] shayzluf commented on #1638
I am on this issue. It is just delayed to be merged because the team is
working on runtime now and dont merge new features

I got another remark that I will fix tomorrow

On Sat, Mar 23, 2019, 9:45 PM Gitcoin.co Bot <notifications@github.com>
wrote:

[2019-03-24 23:10] prestonvanloon opened #2057 "Beacon chain node doesn't reconnect to relay or bootnode peers"
When the bootnode or relay node is disconnected, the beacon chain node doesn't appear to make any attempt to redial those peers.

The proper functionality would be that if the bootnode or relay node has been disconnected then the p2p would attempt to redial these nodes.

[2019-03-25 17:58] terencechain opened #2072 "[Mega Tracking] Tasks for Q2"
This is mega tracking issue to track tasks we have left out in Q1 and can be pick up for Q2.

Here are a few topics we should tackle in Q2:

1. Optimizations, right now we just have naive implementations of the spec. There's still areas where we can optimize for better performance. (e.g. SSZ tree hash)
2. Update spec related logic, this is to align with spec, implement new features from spec. (e.g

[2019-03-26 22:06] ceresstation commented on #1638
No worries, thanks for the update!

[2019-03-26 23:10] prestonvanloon commented on #2057
This was fixed #2070

[2019-03-26 23:10] #2057 closed

[2019-03-26 23:24] 0xKiwi opened #2084 "Validators fetching assignments at the start of each epoch requires optimization"
Every epoch, Validators call the [CommitteeAssignment](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/helpers/committee.go#L380) function to learn what their assignments are for the epoch requested. The problem currently is that the beacon node does all the computations for each individual validator rather than creating a cache to store all the assignments.

The function loop

[2019-03-27 02:11] #263 closed

[2019-03-27 02:11] #287 closed

[2019-03-27 02:11] #330 closed

[2019-03-27 02:37] prestonvanloon commented on #2039
Closed in #2041

[2019-03-27 02:37] #2039 closed

[2019-03-27 02:38] prestonvanloon commented on #1510
#1934 is the last part. Closing this issue in favor of that one.

[2019-03-27 02:38] #1510 closed

[2019-03-27 02:48] prestonvanloon commented on #1970
In our cluster, we've opted to use istio's headless load balancing.

[2019-03-27 02:48] #1970 closed

[2019-03-27 03:30] #1456 closed

[2019-03-27 12:11] xiaods commented on #1889
it seem @rauljordan give a pr for this fix. woo. this bounty will close asap.

[2019-03-27 18:47] #1889 closed

[2019-03-27 23:08] frederickalcantara opened #2098 "Update Travis to upgrade gometalinter to golangci-lint"
Update .travis.yaml file to upgrade the linting from gometalinter to golangci-lint.

[gometalinter](https://github.com/alecthomas/gometalinter) is now a deprecated project and all linting updates will to be moved from gometalinter to golangci-lint.

[2019-03-29 03:44] #1973 closed

[2019-03-29 14:09] prestonvanloon opened #2107 "Validator state balances are consistently lower after initial sync"
When comparing nodes that have been online since genesis and nodes that have been recently started with a fresh disk, the nodes do not agree on the validator balances.

![image](https://user-images.githubusercontent.com/7246818/55238403-70f49480-5202-11e9-8e86-e694c6aabe1b.png)

[2019-03-29 15:41] prestonvanloon opened #2108 "Powchain service does not reconnect to ethereum PoW node on disconnect"
If the ethereum node returns an error `EOF` for normal disconnect, the powchain should continuously attempt to reconnect until a new connection can be established.