[2020-06-14 22:33] prestonvanloon commented on #6255
@nisdas what do you think about this? Looks like discv5 bug

[2020-06-14 22:34] prestonvanloon commented on #6238
Looks like an issue caused by https://github.com/prysmaticlabs/prysm/pull/6113. @rauljordan can you take a look please?

[2020-06-14 22:35] terencechain commented on #6245
Closing this in favor of #6257

[2020-06-14 22:38] SomervilleM commented on #6256
Sure.

Latest Prysm version is v1.0.0-alpha.11.
Beacon chain is up to date.
Verifying binary integrity.
beacon-chain-v1.0.0-alpha.11-windows-amd64.exe: OK
gpg: Signature made Fri, Jun 12, 2020  3:44:16 PM EDT
gpg:                using RSA key 0AE0051D647BA3C1A917AF4072E33E4DF1A5036E
gpg: Good signature from "Preston Van Loon <preston@prysmaticlabs.com>" [unknown]
gpg: WARNING: This key is not cert

[2020-06-14 22:42] prestonvanloon commented on #6256
Have you set up the correct port forwarding in your router?

https://docs.prylabs.network/docs/prysm-usage/p2p-host-ip/#port-forwarding

[2020-06-14 22:43] SomervilleM commented on #6256
To the best of my knowledge yes

[2020-06-14 22:45] prestonvanloon commented on #6256
I'm not able to reproduce this on linux. Prysm is binding the the ports 12000 and 13000. I tried to dial your node and could not reach it.

https://mxtoolbox.com/SuperTool.aspx?action=tcp%3a198.48.231.237%3a13000&run=toolpage

Looking into the code to see what has changed recently...

[2020-06-14 22:49] prestonvanloon commented on #6256
I don't see any changes around p2p address binding since before Topaz.

@Phistr90 do you have any additional information that might help us reproduce this issue?

[2020-06-14 22:54] SomervilleM commented on #6256
when in topaz I never had gone into the router and did the port forwarding nor did I use a flag with my ip when starting up the beacon chain I would simply bash prysm.sh beacon-chain and then in a few seconds I would find peers and sync.

Should I delete everything related and start from the beginning?

[2020-06-14 22:58] prestonvanloon commented on #6256
The key difference between Topaz and Onyx is that we are now only using discovery v5 protocol which communicates mostly over UDP.

If you are unable to find any peers, you might have UDP traffic blocked on your network or system.
The original issue was that Prysm isn't binding to the ports 13000 or 12000. I should have been able to direct dial your node if the port forwarding was set up correctly.

[2020-06-14 23:03] SomervilleM commented on #6256
I can almost guarantee the issue is on my end. I have been well under water navigating all eth related adventures. Certainly out of my element, my ignorance knows no bounds. I don't want to waste your time let me know if i should close this issue. I will continue to tinker and stumble and trouble shoot with the community maybe on discord.

[2020-06-14 23:05] prestonvanloon commented on #6256
@SomervilleM This is not a waste of time at all. Lets keep this issue open for now and when we learn what the root cause of the issue is then we can see how we could have improved our documentation or code to make the problem less likely to occur in the future. Feel free to ping me on discord @prestonvanloon if you need some help troubleshooting or have any questions I can help with while you work

[2020-06-14 23:24] SomervilleM commented on #6256
Amazing thanks man, I really appreciate it and everything you and your team does to move towards eth 2.0 manifesting super cool.

just to point me in the right direction. forgive my naivety but high level my node can't speak to other nodes in the network because the path is closed.
but could you clarify something regarding public and private ip. its like your computers identity right (does a compu

[2020-06-14 23:43] prestonvanloon commented on #6256
The private IP is the IP is directly assigned to your machine on your local network.
The public IP is the IP which is provided to your modem by your ISP. The public IP is what other nodes can use to connect to your modem which your computer is connected. The reason we need port forwarding is that the router wouldn't know where to route the request, especially when you have multiple devices in the

[2020-06-15 03:43] terencechain opened #6260 "Fork choice should use balances from justified"
# 🐞 Bug Report

### Description

Fork choice currently uses latest state's balances for validators votes accounting:
[code]

But the spec uses justified state's balances:
[code]

The differences between the two may be minor, but to be save, we should update to using justified state's balance

[2020-06-15 06:26] handelaar2 commented on #6257
I noticed the same thing during startup of the Onyx chain. It seems to me that `GetValidatorPerformance` is returning the wrong results sometimes. I below screenprint of the validator log, one can see that the new_balance of the previous epoch does not match  the old_balance of the current epoch. In the previous epoch, one can also see all the "false"-votes and the big inclusion distance (although

[2020-06-15 08:41] ppunktw commented on #6257
Had this problem since network start. My validators (100 total) have been running smoothly but the reporting was mostly messed up. As you can see on the graph, sometimes it reported the voting correctly but the balance was still off (was never below 3.2k ETH). Only in a few cases, everything was reported correctly.
I tried restarting the validator & beacon and also did a --clear-db on the validato

[2020-06-15 12:14] handelaar2 opened #6263 "Enhance node (list) peers endpoint"
# 🚀 Feature Request

### Description

Prysm has an api that list peers. The data it provides is however limited (multi-address and direction only ).

The request is to enhance the api and provide more fields from the peer store. Lighthouse has a similar interface that has a richer content.

This allows for better analysis of peers.

The above request was discussed already on discord between @nisda

[2020-06-15 13:23] Phistr90 commented on #6256
@prestonvanloon Not 100% it is the same issue as Somerville has but I am not making any peer connections. Inital sync is stuck at `initial-sync: Waiting for enough suitable peers before syncing required=3 suitable=0` Nishant already tried to find the problem, even gave me another bootstrap node and I also configured the port forwaring on tcp 13000 and udp 12000 but it seems I am unable to discover

[2020-06-15 16:52] #6238 closed

[2020-06-15 17:25] #6257 closed

[2020-06-15 19:27] #5456 closed

[2020-06-15 20:23] prestonvanloon commented on #5176
Bumping priority for this as this is a potential security vulnerability.

[2020-06-15 21:02] prestonvanloon opened #6273 "SlotsSinceGenesis can underflow pre-genesis"
https://github.com/prysmaticlabs/prysm/blob/578703fa053d02d6d5eebf3d0ac9eec0cb927e5c/shared/slotutil/slottime.go#L18-L22

If the current time is before genesis, then `roughtime.Since(genesis).Seconds()` will be negative.
The casting of a negative number to uint64 causes an underflow.

[2020-06-15 21:56] prestonvanloon commented on #5176
In the current code, enabling this functionality still reduces sync speed by about 90%. From 70bps to 6.5bps.

Looking at how we can verify multiple signatures quickly via the links in previous comments.

[2020-06-15 21:56] #6273 closed

[2020-06-16 03:26] pjindal opened #6279 "Beacon chain logs did not start after genesis"
# 🐞 Bug Report

### Description

 Beacon chain log did not move/update with blocks after genesis event while the validator client did.

### Has this worked before in a previous version?

 Not sure

## 🔬 Minimal Reproduction

Running alpha v11 and taking the Windows CMD instructions from here:

https://kb.beaconcha.in/tutorial-eth2-multiclient/prysm-client/windows-prysm/script-beaconnode-and-valida

[2020-06-16 05:49] raphpa commented on #6133
Cannot reproduce this anymore, so it might have been also related to #6156 somehow.

[2020-06-16 05:49] #6133 closed

[2020-06-16 12:26] q9f opened #6280 "Prysm won't connect to Witti bootnodes"
# 🐞 Bug Report
### Description

The beacon node won't connect to the public Witti bootnodes (Lighthouse, Teku, Prysm).

### Has this worked before in a previous version?

Yes. Also, Teku and Lighthouse manage to connect.

## 🔬 Minimal Reproduction

[code]
## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:** Arch Linux

**What version of Prysm are you running? (Which release)** `witti`

[2020-06-16 15:09] MysticRyuujin opened #6281 "panic: runtime error: invalid memory address or nil pointer dereference"
[code]

[code]

[2020-06-16 15:10] #6260 closed

[2020-06-16 15:13] MysticRyuujin commented on #6281
If I had to guess, I'd guess unsafe shutdown load to db corruption?

[2020-06-16 22:29] terencechain opened #6284 "Batch verify fork choice attestation signatures"
# 🚀 Feature Request

### Description

Fork choice verifies attestations signatures one at time before accounting them as votes. On average, fork choice verifies **20 attestation signatures every 6 seconds**.
![Screen Shot 2020-06-16 at 3 27 59 PM](https://user-images.githubusercontent.com/21316537/84834327-fb7f0a80-afe5-11ea-9d14-b3bb34fe15a2.png)

With the recent merge of #6277, fork choce could

[2020-06-17 05:45] raphpa opened #6288 "validator_balance missing on prometheus interface"
# 🐞 Bug Report

### Description

validator_balance metrics are missing on the prometheus interface.
Might be related to #6257

### Has this worked before in a previous version?

Yes. Stopped working some time in the last 24-48h.

## 🔬 Minimal Reproduction

Run gcr.io/prysmaticlabs/prysm/beacon-chain:latest
Run gcr.io/prysmaticlabs/prysm/validator:latest
curl validator:8081/metrics

## 🔥 Error

No

[2020-06-17 06:46] handelaar2 opened #6290 "flag --unsafe-sync : no peers found"
# 🐞 Bug Report

### Description
Restarted my beacon to use latest build. Had issues so started again but now with the `--unsafe-sync` flag. With this flag active, my beacon does not find any peers. Without this flag, it finds peers within seconds.
Im also running the `--dev` flag

![2020-06-17_08-36-56](https://user-images.githubusercontent.com/28559038/84863756-c6ba9400-b075-11ea-8a3a-5ec91eeb4ae

[2020-06-17 09:54] GuillaumeMiralles commented on #6288
Also, while talking with Kudeta on discord which have the same issue, it seems like a lot of others metric are unavailable. Every metric for successful or fail attestations, aggregations and proposals are gone too

[2020-06-17 11:17] nisdas opened #6291 "Bad Genesis State Due To Active Validator Count Cache"
# 🐞 Bug Report

### Description

Due to the Active Validator Count Cache being introduced in #6254, this unfortunately leads
to invalid genesis states in restarts. The cache stores a single value for a fixed seed, however
in genesis when we have constant stream of genesis deposits coming in, this stored value will more than often be wrong. The seed doesn't change but the active count does.

### Ha

[2020-06-17 14:32] #6145 closed

[2020-06-17 14:32] #791 closed

[2020-06-17 14:34] terencechain commented on #6291
Reproduced:
[code]
Marking this as medium since there's a clear guide line how not to reproduce this bug; don't restart beacon node will it's processing deposits before genesis. It's a good 2 mins window. I'll look into this today/tomorrow

[2020-06-17 15:33] terencechain commented on #6288
This doesn't touch on successful or fail atts, aggs and proposals. If that's gone, then it'd be a different issue to track

[2020-06-17 18:46] #6288 closed

[2020-06-17 22:14] terencechain opened #6294 "attestation fails to get pre state"
# 🐞 Bug Report

### Description
Committee attestation's validation at sync attempts to get the prestate before verifying the attestation has prestate/should be in the pending queue

### Has this worked before in a previous version?
Yes

## 🔬 Minimal Reproduction
Run time with 1000 validators

## 🔥 Error

[code]

[2020-06-17 23:44] #6294 closed

[2020-06-18 00:48] #6291 closed

[2020-06-18 01:09] pappas999 commented on #6256
Hi guys, I am also having this issue in windows running the .BAT file. When onyx went live it was working fine as it was on topaz, but then approx 48 hours ago I ran out of disk space and had to stop/restart the chain and validator. When I did, it may have gotten a new version of the client, and then I started getting this issue.

I followed my router instructions and tried to open/forward the req

[2020-06-18 01:26] SomervilleM commented on #6256
Yea my problem persists even with the update however I think these are new when I (bash prysm.sh beacon-chain --p2p-host-ip='mypublicip')

time="2020-06-17 21:23:50" level=warning msg="IP address is not accessible" address="198.48.231.237:13000" error="dial tcp 'mypublicip':13000: i/o timeout" prefix=p2p protocol=tcp

[2020-06-18 02:45] Pablosan commented on #5222
The next set of files to move:

  * blocks.go
  * trie_helpers.go

I believe those are the last full files to move to `htrutils`. However, there may be a couple more functions in other files that could move as well. I'm also wondering if some of the functionality that is ending up in `htrutils` actually belongs in other shared libraries, namely: `blockutil`, `hashutil`, and `trieutil`.

[2020-06-18 05:08] nisdas commented on #5222
Which functionality are you referring to ? @Pablosan , afaik all the methods threre are to do with ssz hashing only.

[2020-06-18 08:08] GuillaumeMiralles opened #6299 "Re: Validator metric: pubkey returned should be harmonized in every metrics"
# 🐞 Bug Report

### Background

I suggest you to read this issue first #6241

It hasn't been fixed, with alpha 12 I still encounter this problem, and total earning panel can't work

### Description

Read #6241

### Solution

Read #6241

[2020-06-18 08:16] nisdas commented on #6299
@GuillaumeMiralles Closing this and tracking the issue in #6241 by re-opening it.

[2020-06-18 08:16] #6299 closed

[2020-06-18 08:17] nisdas commented on #6241
@0xKiwi Please look at this, the PR didn't fix it.

[2020-06-18 08:39] GuillaumeMiralles commented on #6241
Never mind, we found out with @nisdas that the windows binaries for alpha 12 aren't up to date and are built from alpha 11 version. So the issue has been fixed (from linux users feedback)

@prestonvanloon windows binaries alpha 12 need to be  re updated

[2020-06-18 08:39] #6241 closed

[2020-06-18 08:39] nisdas opened #6300 "Windows Binaries for Alpha.12 Not Updated"
# 🐞 Bug Report

### Description

The currently tagged windows binaries are actually still alpha.11 instead of alpha.12 .

### Has this worked before in a previous version?

N.A

## 🔬 Minimal Reproduction

Running the binaries with ```--version``` would show
[code]
instead of Alpha.12 as the correct tag.

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

Windows

**What version of

[2020-06-18 08:40] nisdas commented on #6241
This is tracked in #6300

[2020-06-18 10:12] prestonvanloon commented on #6300
Wow! Ok I will take a look first thing in the morning

[2020-06-18 13:12] Pablosan commented on #5222
Just looking at `blocks.go`, there are three functions that deal with a Beacon Block: `BlockHeaderRoot`, `BlockRoot`, and `BlockBodyRoot`. The one function currently in `//shared/blockutil` deals with a `SignedBeaconBlock`. On the surface, those look like they might belong together.

[2020-06-18 13:36] nisdas commented on #5222
They should all still be in `htrutils` since they have to do with ssz hashing, we want to have all our ssz hashing methods in one place rather than spreading them out.

[2020-06-18 13:44] Pablosan commented on #5222
Ah, that makes sense. After digging deeper, the others (`hash_function` and `trie_helpers`) also look like they should stay in `htrutils`. Thanks for the context!

[2020-06-18 16:37] Pablosan commented on #5222
On further inspection I think `blocks.go` should remain in `//beacon-chain/state/stateutil`. Every fun in `blocks.go` deals with an `ethpb.BeaconBlock` and trying to pull the file into `htrutils` created a circular dependency that at first glance seemed fairly straightforward to fix, until I realized that `var cachedHasher` (used throughout `stateutil`) would need to be passed in by reference thus

[2020-06-18 16:57] Pablosan commented on #5222
Same story for `trie_helpers.go`. It feel like it should stay in `stateutil`.

[2020-06-18 17:00] protolambda commented on #6107
Is anyone looking at this issue still? I think it might still affect the lookup times of API calls.

[2020-06-18 17:00] Pablosan commented on #5222
@nisdas I also did a final review of `validators.go` and `state_root.go`. Nothing else is jumping out at me as belonging in `htrutils`. If you agree, please feel free to Close this issue.

[2020-06-18 17:02] terencechain commented on #6107
Not that I'm aware of. I think we are still working on urgent bug fixes and validator account revamp. Anyone is more than welcome to pick this up if they are interested!

[2020-06-18 19:09] prestonvanloon commented on #6300
I confirmed the same behavior. Rebuilding these binaries now.

[2020-06-18 19:25] prestonvanloon commented on #6300
For historical context, here is the mislabeled beacon chain binary.

[beacon-chain-v1.0.0-alpha.12-windows-amd64.zip](https://github.com/prysmaticlabs/prysm/files/4800718/beacon-chain-v1.0.0-alpha.12-windows-amd64.zip)
[code]

Note: This is not exactly the same binary as alpha.11, but the underlying behavior appears to be the same.

[code]

[2020-06-18 19:41] prestonvanloon commented on #6300
Rebuild produced the same result. Trying again with a cherry-pick of 50c4a05

[2020-06-18 20:26] prestonvanloon opened #6308 "FR: Add github's superlinter as github action"
# 🚀 Feature Request

### Description

We don't have any linting for non-go files such as json, yaml, markdown, and others that are present in this repository.

### Describe the solution you'd like

Add https://github.com/github/super-linter as a github action.

### Describe alternatives you've considered

None.

[2020-06-18 22:37] #5222 closed

[2020-06-19 00:55] pappas999 commented on #6256
hi guys, I tried my node this morning on a different network not at my house to see if it was my router, still having the same issue. Have also tried running with v10 as instructed and still have the same issue. Is there some command I can run that produces high level of logging that I can generate and then attach here?

[2020-06-19 02:46] prestonvanloon commented on #6300
[beacon-chain-v1.0.0-alpha.12-windows-amd64.zip](https://github.com/prysmaticlabs/prysm/files/4802195/beacon-chain-v1.0.0-alpha.12-windows-amd64.zip)

Here is the corrected binary. The release has been updated.
I will flush the cache and confirm via prysm.bat before closing this issue.

[2020-06-19 02:51] prestonvanloon commented on #6300
The correct sha is
[code]

I have flushed the cache in cloudflare, but I am not able to fetch the updated version just yet.

[2020-06-19 02:53] prestonvanloon commented on #6300
OK, I have purged all cache from cloudflare and set "development mode" which has resolved the issue.

If you come across this problem, please clear your `dist` directory located next to your prysm.bat. This will force a re-download of the alpha.12 binary.

[2020-06-19 02:53] #6300 closed

[2020-06-19 03:47] nisdas commented on #5801
This was discussed offline in discord with @rkapka , summarizing it over here.

When deciding on how to cache the trie and where to cache it, there are two possibilities on which height to cache it. Namely the height up till our last finalized checkpoint or the latest 'valid' eth1data.

1) Finalized Checkpoint:
By caching the trie upto our eth1data in our finalized checkpoint. We have a stable bas

[2020-06-19 05:19] 0xKiwi commented on #5337
Any update on this? @prestonvanloon

[2020-06-19 11:52] ldouze opened #6314 "fatal error: signal SIGSEGV"
# 🐞 Bug Report

Possibly the same as #5972
signal SIGSEGV

### Description

My beacon-node crashes once or twice per day with this fatal error:

fatal error: unexpected signal during runtime execution
[signal SIGSEGV: segmentation violation code=0x1 addr=0x774990204a pc=0x4295a3b]

### Has this worked before in a previous version?

I had an issue with the previous version as well, probably the sam

[2020-06-19 11:56] raphpa opened #6315 "Failed to retrieve pre state, could not get state summary: unknown state summary"
# 🐞 Bug Report

### Description

Beacon-chain came up with the following error level message. Operation continued normally after that.

## 🔥 Error

<pre><code>
time="2020-06-19 11:47:13" level=info msg="Synced new block" block=0x168348f4... epoch=1185 finalizedEpoch=1183 finalizedRoot=0x9eed1772... prefix=blockchain slot=37949
time="2020-06-19 11:47:13" level=info msg="Finished applying state tran

[2020-06-19 12:10] q9f commented on #6280
The root cause here is we cannot reuse the `--bootstrap-node` flag and each occurrence overrides the previous one. The easy workaround is using a comma-separated list of nodes instead of providing the flag multiple times.

[2020-06-19 12:10] #6280 closed

[2020-06-19 12:12] farazdagi commented on #6314
Do you happen to have full logs? Segmentation faults are generally easy to fix - but when one knows where to look for issues, so logs will help immensely.

[2020-06-19 12:14] farazdagi commented on #6315
@terencechain please triage.

[2020-06-19 12:18] nisdas opened #6316 "Add a Bootstrap File Flag"
# 🚀 Feature Request

### Description

Currently the only way to specify multiple bootnodes is using the `bootstrap-node` flag
multiple times or specifying the values comma-separated in a single instance. Both these methods are prone to be specified incorrectly due to how ENRs are encoded.

### Describe the solution you'd like

Instead of manually typing out each bootstrap node we can instead provi

[2020-06-19 12:52] ldouze commented on #6314
Sure, which log files, and where can I find them?

[2020-06-19 12:57] farazdagi commented on #6314
- Unless `--log-file` is specified, logs are not saved into file
- So, if you have full error message (sth in addition to "fatal error: unexpected signal during runtime execution"), just copy-paste it here - it should be enough.

[2020-06-19 13:29] nisdas opened #6317 "Unite All Logging into a Single Handler"
# 💎 Issue

### Background

Unite all our different loggers into a single handler.

### Description

Currently we run 3 different handlers, the main one is logrus through which a large amount of our
logs are logged out. The other 2 loggers are the geth logger and ipfs logger, these 2 loggers are only activated when we want trace logging. However due to them being different loggers, having all 3 of

[2020-06-19 13:42] nisdas opened #6318 "Measure Latency of Peer Responses"
# 🚀 Feature Request

### Description

It is very useful for the purposes of debugging to have a record of the average latency of any peer responses that we have received from our scheduled pings.

### Describe the solution you'd like

For each ping message we send out, we can record the time taken for the peer to respond and then measure moving average of all response times. This allows us to dete

[2020-06-19 14:59] terencechain commented on #6315
This should be resolved in: https://github.com/prysmaticlabs/prysm/pull/6295

Please try latest master or wait until alpha.13

[2020-06-19 14:59] #6315 closed

[2020-06-19 16:31] terencechain commented on #6284
Blocked by #6072

[2020-06-19 19:19] 627965745 opened #6320 "Interesting public key"
Not sure if it's a bug
# 💎 Issue
wanted to become a validator and
followed instructions from https://docs.prylabs.network/docs/install/windows/
and https://prylabs.net/participate
I then get my public key with all ZEROs
0xc00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
https://beacon.etherscan.io/validator/20390
### Background

Operating System: 64-

[2020-06-19 19:26] 627965745 commented on #6320
My password is not empty

[2020-06-19 19:46] prestonvanloon commented on #6320
@nisdas I believe you saw this recently? Can you take a look?

Tentatively assigning to @nisdas, please delegate or unassign as appropriate.

[2020-06-19 19:49] prestonvanloon commented on #6220
Draft design doc WIP: https://docs.google.com/document/d/1u_P8veBtIj97u33y_bhOxmVOJJxkMHGNPoF6TvFhz2w/edit#

[2020-06-19 20:06] prestonvanloon commented on #5919
_Originally posted by @prestonvanloon in https://github.com/prysmaticlabs/prysm/pull/5915#issuecomment-646840813_

Closing this as infeasible for the time being.

[2020-06-19 20:06] #5919 closed

[2020-06-19 21:00] handelaar2 commented on #6320
#6301

[2020-06-19 21:16] ldouze commented on #6314
How is that different from the log file I already added above? (see message.txt)

[2020-06-19 21:19] ENashton opened #6321 "Beacon Chain Error - Failed to Revalidate Peer?"
![Onyx Error](https://user-images.githubusercontent.com/67170310/85179816-b867a600-b236-11ea-82ec-2505bd67aee2.gif)

About every eight to ten hours, I start receiving these errors on my beacon chain.  Once the "Failed to revalidate peer" error appears,  the "Could not receive attestation in chain service" warnings follow.  These errors and warnings will appeared about every five minutes once they

[2020-06-19 21:56] farazdagi commented on #6314
My bad - sorry, haven't noticed that you've attached the `message.txt`. That's exactly what is needed.

[2020-06-19 22:35] nisdas commented on #6320
@627965745 do you get the same result when you do
[code]
Also could you provide detailed specs on the machine you are running:
[code]
For windows you can usually find this in system settings or through the `msinfo32` program.

cc @herumi

[2020-06-19 22:49] rauljordan commented on #6263
Can we close @nisdas?

[2020-06-19 22:52] nisdas commented on #6263
Yeap, we can @rauljordan

[2020-06-19 22:52] #6263 closed

[2020-06-20 00:18] 627965745 commented on #6320
@nisdas same result when doing "validator accounts create"

[System Summary]

Item	Value
OS Name	Microsoft Windows 10 Professional
Version	10.0.18363 Build 18363
Other OS Description 	Not Available
OS Manufacturer	Microsoft Corporation
System Name	DESKTOP-LEQGVER
System Manufacturer	System manufacturer
System Model	ROG STRIX Z390-E GAMING
System Type	x64-based PC
System SKU	SKU
Processor	Intel(R)

[2020-06-20 00:49] nisdas commented on #6320
Thanks for giving the machine specs @627965745 ,
@herumi does anything stand out over here ? Any idea why random key generation is broken on
his machine

[2020-06-20 07:45] herumi commented on #6320
Does this mean that it always creates zero secret key?

[2020-06-20 07:48] nisdas commented on #6320
Yes it seems like it, for each account creation we create two sets of keys, and both keys were zero the first time. @627965745 tried this again and got the same result. So i am assuming random key generation is broken somewhere ?

[2020-06-20 07:54] nisdas commented on #6321
@ENashton Please update your binary , the windows binary uploaded was incorrect. Look at #6300 for details, delete your `/dist` folder and refetch the binary again.

[2020-06-20 07:54] ldouze commented on #6314
[prysm5.log](https://github.com/prysmaticlabs/prysm/files/4807533/prysm5.log)
Another SIGSEGV crash in the beacon-node last night. see log attached. I assume its the same issue?

[2020-06-20 08:28] herumi commented on #6320
Could you clone https://github.com/herumi/bls-eth-go-binary/ and exec the following command?

[code]

[code]
If XXX is always different, it is okay.

[2020-06-20 08:30] nisdas commented on #6320
@627965745 do you mind trying the above ?

[2020-06-20 08:50] 627965745 commented on #6320
@herumi @nisdas Sure
it stopped at func sample1()
![image](https://user-images.githubusercontent.com/25855932/85197812-69c01780-b2db-11ea-98bb-d2ffe8538181.png)

[code]
and if I commet out sample1() make it run sample2() straight it shows:
![image](https://user-images.githubusercontent.com/25855932/85197730-d850a580-b2da-11ea-99a6-2e835b4c22b8.png)
[code]

[2020-06-20 09:05] herumi commented on #6320
Thank you for the quick reply. It's important information.
Could you modify `example/sample.go` as the followings and run it?

[code]

This patch uses rand.Reader instead of the default random generator.

[2020-06-20 09:14] 627965745 commented on #6320
@herumi

[code]

[2020-06-20 09:23] herumi commented on #6320
Thank you. It seems good.

[2020-06-20 09:58] farazdagi commented on #6314
Yep, the same thing. Elevating priority.

[2020-06-20 11:11] raphpa opened #6324 "Sudden drop of connected peers"
# 🐞 Bug Report

### Description

Peer count suddenly drops to around 5-7 peers and never raises to 30 again.

![image](https://user-images.githubusercontent.com/18283997/85200315-ad744a80-b2f6-11ea-9120-399d7f5fb10e.png)

It is running on a home line with a 24h disconnect where the ip is likely to change after reconnecting. Beacon-node is set to announce the ddns name with `--p2p-host-dns`

- 24h

[2020-06-20 11:47] herumi commented on #6320
Hi @627965745 , I have another request.
Could you mind executing "go run [rand-win.go](https://github.com/herumi/misc/blob/master/go/rand-win.go)" to detect the reason of the problem?

On my Windows 10 Pro (Core i7-7700) environment, it shows different random values for each execution.

[code]

[2020-06-20 12:00] 627965745 commented on #6320
@herumi  returned all zeros
[code]

[2020-06-20 13:44] allsilent opened #6325 "Prsym Validator Does Not "Wait" On Beacon Chain and Resume as Expected"
# 🐞 Bug Report

### Description

**Situation:** Two services - prysmbc and prysmval. They simply call the prsym.sh script for the beacon chain node and the validators, respectively. Services are set to auto-restart on failure or reboot. Both are stable and nominal save for this issue.
**Expected Behavior based on Topaz:** If restarting the services or the machine, the beacon chain and validators s

[2020-06-20 18:22] raphpa commented on #6324
It never got back to 30 peer so far. After forcing the network to reconnect some outbound connections were started until 7 peers were reached.

![image](https://user-images.githubusercontent.com/18283997/85208823-a28bdb00-b333-11ea-988b-36895c31644d.png)

[2020-06-20 19:40] herumi commented on #6320
Thank you. I added one flag.
https://github.com/herumi/misc/commit/5b68e43dbde91e04d9d9e66da534a5d85b9a6c59
 Could you retry "go run rand-win.go" for the newer [rand-win.go](https://github.com/herumi/misc/blob/master/go/rand-win.go)?

[2020-06-20 20:05] ENashton commented on #6321
@nisdas Thanks! Refetched the binary and have been running the beacon chain for the last twelve hours without real incident.  On occasion I've received the "Failed to revalidate peer" error.  However it only occurs about once an hour now, and the validators have continued to attest without problem.

[2020-06-20 20:06] SomervilleM commented on #6256
I saw on discord someone fixed the issue using docker over prysm.bat. I however tried to set up docker but can't because of my version of windows. what would be different about the two that it would work one way and not the other?

[2020-06-20 20:57] 627965745 commented on #6320
@herumi
[code]

[2020-06-20 22:12] herumi commented on #6320
Thank for the reply again. I can fix the problem.
By the way, those error codes mean `NTE_BAD_KEY_STATE`.
I'm not sure, what do you set some special security policies or use login?

[2020-06-20 22:19] 627965745 commented on #6320
@herumi  Nothing special except I use Windows Hello with facial recognition for login

[2020-06-20 23:22] herumi commented on #6320
I see. It is the first time that I saw this error.

[2020-06-21 01:51] terencechain opened #6327 "[Mega tracking] - Audit Resolutions"
Opening this mega tracking issue to track the overall resolution progresses of the latest Quantstamp Audit report.
For all medium & above risk issues. Each issue will have its own tracking issue.
For the rest of the issues (e.g. low risk, informational, undetermined). The tracking issues will be grouped by component, and consolidated under one tracking issue under that component.

### 🥇Medium and

[2020-06-21 03:23] nisdas commented on #6320
@herumi what do you think is the root cause of this ? is it because of some security policies in windows

[2020-06-21 11:36] herumi commented on #6320
I'm not sure, but there were people with a similar phenomenon. https://stackoverflow.com/questions/29996467/cryptacquirecontext-fails-with-return-code-0x8009000b-nte-bad-key-state-but The solution was the same as https://github.com/prysmaticlabs/prysm/issues/6320#issuecomment-647037643 .
I've update a static library for Windows https://github.com/herumi/bls-eth-go-binary/commit/298ffb6847bc5dc1886

[2020-06-21 11:41] stefa2k opened #6328 "Logging: p2p fields & content inconsistency"
# 🐞 Bug Report

### Description

- "Peer Connected" and "Peer disconnected" have different naming for peer count. One is named "active", the other is named "activePeers".
- Difference in field "msg" is also persistent: "Peer **C**onnected" vs. "Peer **d**isconnected"
- "multiAddr" in one, "peer" in the other although it's the same entity referred

### Has this worked before in a previous version?

[2020-06-21 11:55] GuillaumeMiralles opened #6329 "Validator metric: add the quantity of ETH deposited"
# 🚀 Feature Request

### Description

For the dashboard, it would be very interesting to get the amount of deposited ETH on each validator. For most of people it is 32, but some are depositing more than that

### Describe the solution you'd like

Each time a validator is receiving a deposit, then the node would send the new data to the validator. Then this data would be also retrieved on validator

[2020-06-21 20:57] ldouze commented on #6314
[prysm6.log](https://github.com/prysmaticlabs/prysm/files/4810249/prysm6.log)
One more from today. Would you like me to keep adding, or is that sufficient info?

[2020-06-22 01:27] rkapka commented on #5801
Implementation proposal outline:

- Add a new field `finalizedDepositsTrie *SparseMerkleTrie` to `DepositCache`.
- Add a new function `(dc *DepositCache) InsertFinalizedDepositsTrie()` to `deposits_cache.go` and invoke it from `onBlock()` in `process_block.go` whenever `postState.FinalizedCheckpointEpoch() > s.finalizedCheckpt.Epoch`. Most likely pass the `postState.state.Eth1DepositIndex` as a pa

[2020-06-22 01:34] terencechain commented on #5801
Any specific reason why `postState.FinalizedCheckpointEpoch() > s.finalizedCheckpt.Epoch` is the trigger? Will justified work? or certain intervals?

[2020-06-22 01:40] rkapka commented on #5801
Please see the above comment from @nisdas. I think that the best solution would be a mixture of the two possibilities that he presented, although I am not exactly sure how this could work. Maybe we could also update the cached trie from inside `deposits()` in certain scenarios, but then it could get overwritten on epoch finalization.

[2020-06-22 02:18] dv8silencer commented on #6316
I'd be happy to try to tackle this.

[2020-06-22 04:25] fabdarice opened #6334 "Display an error/warning message if a deposit is invalid"
# 💎 Issue
My deposit of 32 gETH is invalid (likely because I did the deposit with an older version the validator client) as shown in the link here: https://beaconcha.in/validator/a308dc8b2571ac658488f41bb0cf9fa6811e2a23c36ffbc6a6fb478b1104db61ff2b795c0b35f9c5f69191f3b8c8e2bd#deposits

The validator client is however displaying this message:
`INFO validator: Deposit processed, entering activation q

[2020-06-22 04:32] terencechain opened #6335 "Audit adherence to spec feedbacks"
Opening this issue to track the adherence to spec feedbacks from the Quantstamp audit

- [x] 1. In beacon-chain/blockchain/process_attestation.go, the function onAttestation(), many parts of the specification for on_attestatation() delay consideration, rather than avoiding consideration. However, the function onAttestation() does not seem to ever delay - only returns (possibly with errors). Ensure

[2020-06-22 04:32] terencechain opened #6336 "Audit documentation feedbacks"
Opening this issue to track documentations feedbacks from the Quantstamp audit

- [x] 0.Code is lacking inline developer documentation. For instance, beacon-chain/p2p/subnets.go, beacon-chain/p2p/utils.go do not contain any documentation, while for other files (such as, beacon-chain/p2p/service.go) contain comments, however, do not describe the individual parameters and return values
- [x] 1. In v

[2020-06-22 04:32] terencechain opened #6337 "Audit best practice feedback"
Opening this issue to track best practices feedbacks from the Quantstamp audit

- [x] 1. ~~In shared/bls/bls.go, duplicated code between VerifyAggregate, AggregateVerify and FastAggregateVerify~~ Won't fix, out of date feedback
- [x] 2. In beacon-chain/state/getters.go, duplicated code between: #6476
- [x] 3. In beacon-chain/state/setters.go, duplicated code between: #6476
- [x] 4. In beacon-chain

[2020-06-22 05:48] handelaar2 commented on #6334
also see #6036

[2020-06-22 05:59] ldouze commented on #6314
[prysm7.log](https://github.com/prysmaticlabs/prysm/files/4811403/prysm7.log)

[2020-06-22 06:01] farazdagi commented on #6314
Info you've provided is sufficient. Thank you!

[2020-06-22 07:10] raphpa opened #6338 "Sudden increase in RAM usage"
# 💎 Issue

Not a bug, but maybe something to keep an eye on.

### Description

Sudden increase in RAM usage of beacon-chain on two independent systems for about 800MB on one, 500MB on the other system. This happened at June 21st at around 1700h UTC. It is staying at this level.

![image](https://user-images.githubusercontent.com/18283997/85258216-5f328900-b467-11ea-8ffb-4910e451defd.png)

![image]

[2020-06-22 11:48] pappas999 commented on #6256
hi guys, just an update on this. With a different laptop i got a fresh prysm.bat and started a beacon-chain and it synced up ok and found peers ok, so wondering if it had something to do with my old laptop and setup and something to do with me disconnecting in between v10 and 11?

[2020-06-22 12:30] Enigmatic331 commented on #6256
Out of curiosity - Does your old laptop have any virtual networks (e.g. VM) installed?

I had issues with connecting to peers as well, and after disabling my VM virtual network adapters it connects fine.

[2020-06-22 14:38] rauljordan opened #6342 "Add Easy --onyx --witti --altona Flags for Switching Testnets"
# 🚀 Feature Request

### Description

Other clients typically have an easy way to specify what testnet to connect to by default via an easy flag that requires no configuration changes. For example, connecting to Witti would be:
[code]
and similar for --onyx and --altona. A PR for this would hardcode the required parameters for those testnet versions and make it easy to launch a node this way.

[2020-06-22 14:54] rauljordan commented on #6279
Hi @pjindal did it work after a while? Was it stuck for a long time? Can you retry restarting your node to see if the issue was fixed?

[2020-06-22 14:55] rauljordan commented on #6279
Also please try Alpha-12 and clear your chain data with --force-clear-db in the beacon node. We believe this issue might have been resolved in the new release, please keep us posted.

[2020-06-22 15:15] #5972 closed

[2020-06-22 15:19] rauljordan commented on #5763
Can we consider this resolved @farazdagi ? I don't think we've seen for a long time

[2020-06-22 15:49] metanull-operator commented on #6324
Adding my own info here.

![image](https://user-images.githubusercontent.com/54516310/85307599-55138900-b46d-11ea-8e98-d6a47d66d980.png)

Commit: d4545233cd45d28f03e5dccb8929ce807f4468a6

[2020-06-22 17:07] raphpa commented on #6324
This is actually the normal behavior if you do not change the maximum peer count. It should stay at around 30 peers. Having around 150 peers was a faulty behavior of previous versions.

[2020-06-22 17:37] ldouze opened #6345 "Panicked when handling p2p message!"
# 🐞 Bug Report

### Description

Beacon-chain exits with message "Panicked when handling p2p message!"

### Has this worked before in a previous version?

Not sure

## 🔬 Minimal Reproduction

docker run -it -v $HOME/.eth2:/data -p 4000:4000 -p 8080:8080 -p 13000:13000 -p 12000:12000/udp --name beacon-node gcr.io/prysmaticlabs/prysm/beacon-chain:latest --datadir=/data --rpc-host 0.0.0.0

## 🔥 Error

[2020-06-22 17:48] metanull-operator commented on #6324
Makes sense. I wondered why default peers were so high in the prior version. I assumed it was just part of that looser peer connection handling I had recently read about.

[2020-06-22 18:28] 0xKiwi commented on #6327
I'll be working on QSP-6

[2020-06-22 18:43] terencechain commented on #6327
Taking QSP-8

[2020-06-22 19:01] terencechain commented on #6327
Taking QSP-10 and QSP-11

[2020-06-22 19:17] shayzluf commented on #6345
hi @ldouze
could you please add the log file to the issue in order to make it easier for us to debug it?

[2020-06-22 20:14] rauljordan commented on #6327
Working on QSP-9

[2020-06-22 20:23] ldouze commented on #6345
I added it right? Is it not there?
    On Monday, June 22, 2020, 09:17:44 PM GMT+2, Shay Zluf <notifications@github.com> wrote:

hi @ldouze
could you please add the log file to the issue in order to make it easier for us to debug it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-22 20:33] ldouze commented on #6345
[prysm8.log](https://github.com/prysmaticlabs/prysm/files/4815468/prysm8.log)

[2020-06-22 21:02] terencechain commented on #6327
Taking QSP-58 and QSP-59

[2020-06-23 02:51] dv8silencer commented on #6328
I'll try to tackle this.

[2020-06-23 02:53] #5864 closed

[2020-06-23 06:53] GuillaumeMiralles opened #6354 "Node is trying to revalidate peers infinitely"
# 🐞 Bug Report

### Description

When the node try once to revalidate a peer and failed, it will retry forever, which will result with a huge stack of peers that will try to be revalited

### Has this worked before in a previous version?

I noticed this behavior to be included since the genesis of Onyx testnet

## 🔥 Error

<pre><code>
[2020-06-23 08:07:33]  INFO p2p: Peer disconnected active=29 pe

[2020-06-23 07:36] nisdas commented on #6327
Taking QSP 13 and QSP 16

[2020-06-23 13:47] terencechain opened #6360 "Cold state replay starts at wrong slot"
# 🐞 Bug Report

### Description

For replaying cold state to the desired slot, I root caused replay starts at the wrong slot. Ex:
[code]
The correct behavior would have been no replay. This means there's an off by one inefficiency when retrieving an archived state to start

[2020-06-23 14:52] terencechain commented on #6335
On this today

[2020-06-23 16:04] #6360 closed

[2020-06-23 16:46] #5921 closed

[2020-06-23 17:51] teslabitcoin opened #6364 "Set up a validator node with Avado i3, was activated 2 days ago but does not seem to be online"
is there a wait period after you are activated or am i missing something? any help is appreciated

[2020-06-23 17:54] terencechain commented on #6335
* Addressed 1. with code comment to clarify
* Addressed 2. with a commit on removing old code
* Addressed 3. and 4. with a commit on fix
* For 5. The implementation is correct. We implemented according to spec. https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/fork-choice.md#should_update_justified_checkpoint
* The feedback for 6 is confusing. Addressed 6 with code comment to clarify

[2020-06-23 18:32] prestonvanloon commented on #5337
No update at this time. We have to purchase a certificate from a CA.

[2020-06-23 18:36] prestonvanloon commented on #6342
I'll work on this today

[2020-06-23 18:47] prestonvanloon commented on #6364
@teslabitcoin yes, there is an activation queue. At the current scale, the onyx testnet can only activate 900 validators per day.

You should be receiving estimated activation logs in your validator client. You can also find your validator on an eth2 block explorer and see the estimated activation epoch.

![Untitled drawing](https://user-images.githubusercontent.com/7246818/85444392-22d65a00-b547-

[2020-06-23 18:51] teslabitcoin commented on #6364
i have been activated 2 days ago but I do appear online. Is there anything i need to do after i am activated?

[2020-06-23 18:53] prestonvanloon commented on #6364
Can you tell me your public key or validator index?
Are there any interesting logs?
Which version of Prysm are you using?

[2020-06-23 19:00] teslabitcoin commented on #6364
https://beaconcha.in/validator/8d00558fdb3c2e30e170ded118583472bb80b84d614736485907887f0fa20fc27658f7299aecb26e56e429f7980aaa63#overview

0.2.3 thru avado, I just restarted the node and synching now but earlier when it was synched, still not active

[2020-06-23 19:01] shayzluf commented on #6345
@farazdagi please reassign to me if assignment seems inappropriate

[2020-06-23 19:05] prestonvanloon commented on #6364
OK that makes sense. 0.2.3 is very old and not compatible with Onyx.

Please download the latest release for Prysm, we are currently on v1.0.0-alpha.12.

https://github.com/prysmaticlabs/prysm/releases/latest

[2020-06-23 19:11] teslabitcoin commented on #6364
hmm does not seem to be on avado's dapstore yet

[2020-06-23 19:18] prestonvanloon commented on #6316
Can't you do this already by loading config flags from file (https://github.com/prysmaticlabs/prysm/pull/4878)?

flags.yaml
[code]

[code]

[2020-06-23 19:22] shayzluf commented on #6327
taking QSP-20

[2020-06-23 19:58] #6364 closed

[2020-06-23 19:58] teslabitcoin commented on #6364
thanks

[2020-06-23 20:08] rauljordan commented on #6327
Working on 58 and 59

[2020-06-23 20:14] dv8silencer commented on #6316
I think one reason is to separate configuration files consisting of client-specific flags from a file which would simply be a list of ENR nodes.  A list of nodes in YAML would be more portable [between clients] while a config file would be specific to a client.

[2020-06-23 20:15] rauljordan commented on #6327
Workin on 61

[2020-06-23 20:52] prestonvanloon commented on #6364
Thanks for that info. I am not sure how to update Avado's DAppstore.

@sponnet do you know how we can update DAppstore for Avado?

[2020-06-23 21:11] #6336 closed

[2020-06-24 03:14] #6335 closed

[2020-06-24 06:17] ldouze commented on #6314
[prysm12.log](https://github.com/prysmaticlabs/prysm/files/4823511/prysm12.log)
SIGSEGV during initial-sync... This one looks different?

[2020-06-24 08:18] GuillaumeMiralles opened #6377 "Node metric: total_voted_target_balance drops to 0 once in a while"
# 💎 Issue

### Background

On the dashboard, we can follow the participation rate to have a quick idea of the network health. This info is very important in order to understand some of the penalties that could be encountered by the staker (participation rate < 66%)

### Description

Since a while now (at least since Topaz testnet) the participation rate suddenly drops to 0, and this is still on go

[2020-06-24 08:47] farazdagi commented on #6314
Nope, that's the very same issue - we have some issue when using `bls.(*Sign).VerifyByte` that segfaults (and that verification was enabled during init-sync, hence issue there). The issue is somehow corrupted message we are trying to desirialize/sign/verify. Probably combing `bls.go` with mutesting (feeding various values as message) - will help us harden the component.

[2020-06-24 09:22] shayzluf commented on #6327
working on QSP-14

[2020-06-24 12:05] shayzluf commented on #6338
@terencechain please reassign it to me if the assignment seems inappropriate

[2020-06-24 12:39] shayzluf commented on #6325
@farazdagi please reassign to me if it seems inappropriate

[2020-06-24 12:45] nisdas commented on #6324
hey guys this should be resolved with #6346 . Just comment here, if it doesn't work.

[2020-06-24 12:50] shayzluf commented on #6281
@MysticRyuujin can you please add a link to the log file?

[2020-06-24 12:52] shayzluf commented on #6321
@ENashton closing this issue . please reopen it if it happen again.
Thank you

[2020-06-24 12:52] #6321 closed

[2020-06-24 16:13] rauljordan commented on #6342
Done by #6380

[2020-06-24 16:20] terencechain commented on #6377
Here's the `total_voted_target_balance` chart in Prometheus for 10 days. There's no dropping to 0. This is mostly likely a Grafana set up or run time related issue than an Prysm bug

![Screen Shot 2020-06-24 at 9 18 11 AM](https://user-images.githubusercontent.com/21316537/85593322-c84b0580-b5fb-11ea-88c6-909fa718ea61.png)

[2020-06-24 16:27] MysticRyuujin opened #6382 "Log Rotation"
# 🚀 Feature Request

### Description

 I would like to see Log File Rotation, I was asked to go grab the logs from one of my nodes, only to realize that my log file is 11GB...

### Describe the solution you'd like

 I would like to see log file rotation

### Describe alternatives you've considered

 None?

[2020-06-24 16:31] rauljordan commented on #6327
Working on 35

[2020-06-24 16:32] GuillaumeMiralles commented on #6377
Unfortunately it is not

Here is the chart shown in prometheus on a large scale (2 weeks)
![image](https://user-images.githubusercontent.com/23481418/85595187-e723b900-b648-11ea-9181-1a38569aa737.png)

We don't see any drop to 0, but then take a look when you zoom in a bit
![image](https://user-images.githubusercontent.com/23481418/85595363-0e7a8600-b649-11ea-8ced-68e36c4fde25.png)

Every points a

[2020-06-24 16:34] terencechain commented on #6337
Working down this list today. Let me know if you are working on anything in the list

[2020-06-24 17:23] terencechain commented on #6377
I have something similar, but it looks the prometheus briefly lost connection and came back up shortly after
![Screen Shot 2020-06-24 at 10 21 52 AM](https://user-images.githubusercontent.com/21316537/85602924-b4f06800-b604-11ea-9bf8-574a5752a5ed.png)

[2020-06-24 17:30] MysticRyuujin commented on #6281
Unfortunately I don't think my log fine contains any useful information. First, my log file was 11GB because 1) Logs don't rotate. 2) My logs were flooded with entries about being unable to process past logs due to a Nethermind RPC issue.

Second, Prysm don't actually log errors like the above error in the log file, the only way to see them is when interactively running. Maybe via journalctrl or s

[2020-06-24 17:31] GuillaumeMiralles commented on #6377
Yes on your graph it's not so clear because it seems this way, but on every other chart you have seen on discord, there was no gap at all when this happened.
Also, prometheus will keep the last value for the metric he got until this change, so this mean that the node send to prometheus the value of 0 at some point.

I don't see any other explanation

[2020-06-24 17:38] terencechain commented on #6377
Ok let's keep this open for tracking for purpose

[2020-06-24 18:13] farazdagi commented on #6327
Working on QSP-45 and QSP-6 (adding static analysis checker to enforce `crypto/rand`)

[2020-06-24 23:23] fabdarice commented on #6036
I'll try to tackle this issue @terencechain .

[2020-06-25 04:35] rauljordan commented on #6024
Update on this @farazdagi ?

[2020-06-25 04:36] rauljordan commented on #5562
Latest status on this one @terencechain ?

[2020-06-25 04:45] rauljordan commented on #5854
Hi @shayzluf are we good to close this?

[2020-06-25 04:46] rauljordan commented on #6059
Any update on this @terencechain ?

[2020-06-25 04:51] #5854 closed

[2020-06-25 04:52] shayzluf commented on #5854
Closed

[2020-06-25 04:56] terencechain commented on #5562
Haven't really seen this with onyx. Will close this until it raises up again

[2020-06-25 04:56] #5562 closed

[2020-06-25 04:57] shayzluf commented on #6281
Thank @MysticRyuujin for reporting. Log rotation can be a good issue to look into

[2020-06-25 04:57] terencechain commented on #6059
This won't be relevant soon. We just need to fully deprecate old state usages

[2020-06-25 08:13] GuillaumeMiralles commented on #6354
To give some more context, here is the stack of peer that cannot be validated, you will find the exact same peers than in the previous comment (2 days ago) + some more

<pre><code>[2020-06-25 10:09:03]  INFO p2p: Peer Connected activePeers=31 direction=Outbound multiAddr=/ip4/34.239.154.59/tcp/13000/p2p/16Uiu2HAmVMSKfWgpuaELjTQb5gdjYQk1K16KgUCaRaWbN5bCewSw peer=16Uiu2HAmVMSKfWgpuaELjTQb5gdjYQk1K16

[2020-06-25 08:16] ldouze commented on #6314
I get the error 1-4 times per day, so if I can help in any way, let me know

[2020-06-25 08:56] nisdas opened #6399 "Creating And Submitting Attestation Fails Occasionally"
# 🐞 Bug Report

### Description

Attestation requests fail occasionally with the error, which can lead to a drop in the validator's participation.

### Has this worked before in a previous version?

Yes it has.

## 🔬 Minimal Reproduction

Run a validator and beacon node

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

**What version of Prysm are you running? (Which release)**

2

[2020-06-25 13:35] terencechain commented on #6399
Assigning to on call to look for cluster

[2020-06-25 14:12] rauljordan commented on #5763
No longer observed for a quite a long time. Closing unless this is still a problem

[2020-06-25 14:12] #5763 closed

[2020-06-25 15:26] #6024 closed

[2020-06-25 15:33] nisdas commented on #6316
While that is possible, it is kind of messy, if you have 10 different bootnodes you would have to clump them all together. And with how unreadable ENRs are it can be difficult to see if you have made any mistake(ex: missed a comma, etc). Also having a separate file just for bootnodes can make it easy to handle it between clients.

[2020-06-25 18:41] teslabitcoin opened #6407 "node wil not connect to beaconchain. any thought?"
<img width="1124" alt="Screen Shot 2020-06-25 at 1 38 33 PM" src="https://user-images.githubusercontent.com/67337164/85779652-71235e80-b6e9-11ea-9480-0a2a9e6d7def.png">

still trying to connect my node, could it be something with my router settings?

[2020-06-25 18:48] nisdas opened #6408 "Remove Deprecated Blocks By Roots Request"
# 💎 Issue

### Background

Currently we have invalid ssz serialization/deserialization for our blocks by roots request. In order to not break backward
compatibility with onyx nodes, we support both the correct/incorrect formats. This issue is to track the eventual removal
of the outdated request methods and its types and solely use the correct one.

### Description

[2020-06-25 19:47] dv8silencer commented on #6328
Is it meaningful to have direction= for the peer disconnection log?
Should it be active or activePeers?
Should disconnected/connected be capitalized or not?

[2020-06-25 19:48] teslabitcoin commented on #6407
<img width="1124" alt="Screen Shot 2020-06-25 at 1 38 33 PM" src="https://user-images.githubusercontent.com/67337164/85788677-f5c6aa80-b6f2-11ea-870d-01bd65e10e03.png">

[2020-06-25 19:49] teslabitcoin commented on #6407
<img width="1079" alt="Screen Shot 2020-06-25 at 2 48 32 PM" src="https://user-images.githubusercontent.com/67337164/85788725-06772080-b6f3-11ea-93f0-7e6f1c899a97.png">

[2020-06-25 23:20] prestonvanloon commented on #6316
Does it not work if you define the flag multiple times?
[code]

[2020-06-26 02:07] dv8silencer commented on #6316
I wrote another branch using a StringSliceFlag.  It:

- Does not add another flag
- Can accept multiple --bootstrap-node flag/value pairs
- Any one of the values can be a file name ending with .enr  -- If it is, then it will YAML parse it and extract out all the nodes
- Users cannot pass multiple nodes using comma delimiter into one value

[Branch compared to prysm/master](https://github.com/prysm

[2020-06-26 10:10] KuDeTa opened #6412 "[Docker] Validator client gets stuck waiting for beacon node during automatic updates."
# 🐞 Bug Report

### Description

Validator client occasionally gets stuck during automatic updates with docker + watchtower.

### Has this worked before in a previous version?

Haven't experienced this before.

## 🔬 Minimal Reproduction

Uncertain.

## 🔥 Error

Recently, automatic updates with watchtower often result in the new validator process getting stuck at:

[2020-06-25 22:11:22]  INFO valid

[2020-06-26 11:23] #6316 closed

[2020-06-26 12:24] #6354 closed

[2020-06-26 16:07] #6049 closed

[2020-06-26 16:43] terencechain opened #6416 "ListValidators return incorrect results"
# 🐞 Bug Report

### Description

ListValidators returns incorrect result as reported by @peterbitfly
More details:
https://discordapp.com/channels/476244492043812875/603588441741066241/725981813771862038
https://discordapp.com/channels/476244492043812875/652609895941799976/725979771619639308

### Has this worked before in a previous version?

No

## 🔬 Minimal Reproduction

Query ListValidators 's

[2020-06-26 16:44] terencechain commented on #6416
Working on this now

[2020-06-26 19:01] #6416 closed

[2020-06-26 19:03] rauljordan commented on #6327
QSP-40 is not a possible condition, as the buffer can never be nil. For example:
[code]
Even with a test that may seem like it could trigger the conditional check for b == nil, the code path is actually never reached. Worst case scenario, the result of snappy.Encode will be a buffer with length 1.

[code]
The test above passes
this case will not trigger the codepath:
[code]

[2020-06-26 19:19] herweyer commented on #6255
commenting to re-open this ticket with a new occurrence of this issue:

### Description

Beacon node crashes with error
<pre><code>panic: invalid IP (length 0)
</code></pre>

### Has this worked before in a previous version?

I'm not certain if this error has occurred in a previous version.  This node has crashed three times since the alpha-12 release, but this is the first time I've looked at the

[2020-06-26 19:34] prestonvanloon commented on #6255
@nisdas looks like this is still happening in alpha.12. Could you take a look please?

[2020-06-26 20:03] rauljordan opened #6425 "Remove Relay Handshake Code for Mainnet"
# 💎 Issue

### Background

As raised by #6327 in QSP-26, we have the following code in beacon-chain/p2p/handshake.go:

[code]

This is here as we do not disconnect the relay node if protocol is not supported, but instead just mark its state as "disconnected". It is possible we are actually poorly handling nodes that _do not_ support the protocol and are _not_ the relay node.

### Description

We s

[2020-06-26 20:11] prestonvanloon commented on #6338
Maybe related: #6104

[2020-06-26 20:11] rauljordan commented on #6327
@nisdas for QSP-32, how do you think we should handle it? Basically:

[code]

However, the deadline is set to:
on L24 in beacon-chain/p2p/sender.go.
[code]
Seems like we'll have to (a) be aware of how many chunks there are and (b) use that to extend the context deadline appropriately by the RESP_TIMEOUT value for each. How can we the number of chunks here?

[2020-06-26 20:11] prestonvanloon commented on #6338
@nisdas do you think this is a duplicate of #6104?

[2020-06-26 20:15] prestonvanloon commented on #6325
This is related to new state management. Reassigning to @terencechain.

@terencechain what can we do to solve this problem when a user shuts down their node brief (for an update) and starts resyncing from the last state checkpoint, which can be a non-trivial amount of time?

What about saving the current finalized state as a new checkpoint upon Stop() for some service? This would allow the user to

[2020-06-26 20:25] prestonvanloon commented on #6342
This FR asks for `--onyx` as well, but was not implemented by #6380. We will need this at some point, especially if new configuration changes merge in eth2-specs (i.e. https://github.com/ethereum/eth2.0-specs/issues/1894).

I'll reopen this and send a PR for resolution.

[2020-06-26 20:33] terencechain commented on #6325
There's nothing we can do without having to significantly redesign the new state mgmt. A node always start from last archived point which was the agreed design choice since day 0. (LH does this too) Starting from last finalized checkpoint means falling back to the old state design area which there's further tradeoff to explore. Sync an extra 2048 slots (worst case) is an extra 30 seconds of time.

[2020-06-26 21:26] prestonvanloon commented on #6382
https://github.com/sirupsen/logrus#rotation
https://linux.die.net/man/8/logrotate

Perhaps the action item here is to add documentation about how to use logrotate with Prysm, otherwise I think this feature request is a no-go for an application level implementation. While this may not be what you were looking for with this feature request, do you find that to be a reasonable resolution?

With regar

[2020-06-26 21:44] prestonvanloon commented on #6036
Assigned to @fabdarice. Please keep us updated on your progress in this issue. Thanks!

[2020-06-26 22:25] prestonvanloon commented on #6412
Closing as a duplicate of #6325. Please subscribe to #6325 for updates. Thanks!

[2020-06-26 22:25] #6412 closed

[2020-06-26 22:28] prestonvanloon commented on #6325
I think we should consider this before mainnet launch. It is optimistic to think 2048 adds only 30 seconds of time to the start up. It could be several minutes or even more than 1 epoch for a beacon node to restart, find peers, and sync to head.

There must be some solution. Do we save blocks at least?
At a minimum, replaying the blocks would be faster than fetching them via sync.

[2020-06-26 22:48] terencechain commented on #6325
We do save the blocks. The replay of 2048 slots (worst case) is much faster. 30s was my pessimistic estimate. It's around 15s In my set up:
 * via sync, no blocks in db - ~40bps
 * recompute to catch up, blocks in db - ~90bps

[2020-06-26 22:49] terencechain commented on #6325
Agree on considering this before mainnet launch. The UX can be better here. I have bumped up the priority

[2020-06-26 23:16] prestonvanloon commented on #6325
I have a solution for this https://github.com/prysmaticlabs/prysm/pull/6431

Let me know what you think @terencechain

[2020-06-26 23:30] dv8silencer commented on #5797
I'd be happy to try to tackle this.  Other than Homebrew, is there any other (software, non-OS) prerequisite?

[2020-06-26 23:35] dv8silencer commented on #4935
This this is flagged with Help Wanted so I was taking a look.  I just looked at my validator and I'm not having this issue though I only spent like five minutes looking.  If you are still having this issue, how can I reproduce it?  Thanks

[2020-06-27 03:09] prestonvanloon commented on #6325
After offline discussion with @terencechain, we are considering a bigger change to support the idea in #6431. The issue with accepting #6431 in its current state is that hot/cold state mgmt assumes there will be only one state stored per checkpoint interval. Since the change in #6431 overwrites the existing checkpoint index in the database, it may cause another regression where look ups involving

[2020-06-27 09:33] raphpa commented on #6382
Using logrotate would require prysm to reopen the logfile on a signal, else it will just keep writing to the moved logfile, ideally without restarting the processes. Using `copytruncate` with logrotate always comes with the risk of losing log messages.

Trying with HUP, it just exits prysm. Maybe you could add listening to a signal to prysm (USR1?) which makes it reopen the logfile.

[2020-06-27 11:16] MysticRyuujin commented on #6382
The 11GB was due to an issue parsing the ETH1 node JSON RPC response. Prysm flooded the log file with errors.

Can't you guys just rotate the log file on startup? That seems like a happy middle ground. If log file already exists, move it, start new log file.

[2020-06-27 19:14] stefa2k commented on #5576
I might have the same issue, running docker tag `HEAD-1dfeb6` with this setup:
- https://github.com/stefa2k/prysm-docker-compose/tree/ha
- commit `517c193ebeb8bcd1d771b572a8cc870ea36ff432`

and log (Kibana export):
[panic.LOG](https://github.com/prysmaticlabs/prysm/files/4841106/panic.LOG)

[2020-06-27 20:01] stefa2k opened #6433 "Slasher health check via rpc"
# 🚀 Feature Request

### Description

To monitor the services the `beacon-chain` already supplies a number of json-rpc but `slasher` doesn't have any kind of health check endpoints yet.

### Describe the solution you'd like

Similar to `beacon-chain` implementing a simple json-rpc should do the trick, stating the slasher's connectivity to a beacon chain and availability for validators' submits. Th

[2020-06-27 21:11] prestonvanloon commented on #6382
@raphpa You could use `copytruncate` which would truncate the current file before copying.

I must admit, I have not tried using logrotate in practice.
At Prylabs, we use a fluentd daemon to stream logs to elasticsearch and write logs to tmpfs.

[2020-06-27 21:14] prestonvanloon commented on #6382
@MysticRyuujin Is this https://github.com/prysmaticlabs/prysm/issues/6204 the Nethermind RPC issue?

[2020-06-27 21:15] prestonvanloon commented on #6204
Users have reported large log files due to flooded logs regarding Nethermind RPC issues. Assigning medium priority as this could lead to disk space exhaustion.

[2020-06-27 21:16] prestonvanloon commented on #6342
Actually, we can wait until we decide that Onyx is no longer the default to add `--onyx`. This would be either a mainnet release (v1.0.0) or Onyx deprecation.

No need to keep this issue open until then.

[2020-06-27 21:16] #6342 closed

[2020-06-27 21:21] prestonvanloon commented on #6022
Closing this in favor of the validator account revamp issue #6220.

Please follow #6220 for updates on EIP-2335 implementation in Prysm as the default storage format.

[2020-06-27 21:21] #6022 closed

[2020-06-27 21:23] prestonvanloon commented on #6220
FYI: This issue includes EIP-2335 keystore format (see design doc above).

cc: @hwwhww

[2020-06-27 21:27] prestonvanloon commented on #6433
All binaries support a `/healthz` endpoint served on the monitoring port. The "healthz" endpoint returns a 200 when the node is healthy and a 500 when not healthy. It also prints out the statuses of current services. If this endpoint returns 200, then it is OK to serve requests.

- Beacon-chain http://localhost:8080/healthz
- Validator http://localhost:8081/healthz
- Slasher http://localhost:8082/

[2020-06-27 21:33] prestonvanloon commented on #5576
Thanks @stefa2k. The problem in your log is this bit of code:

https://github.com/prysmaticlabs/prysm/blob/78465e25492795121855e758ee420e6334f22c22/beacon-chain/rpc/service.go#L403-L408

connectedRPCClients map is accessed without a lock. I'll file a new issue for this, rather than resurrect this old one.

[2020-06-27 21:36] prestonvanloon opened #6434 "beacon-chain/rpc/service.logNewClientConnection has unsafe map access"
User reported concurrent map access panic and their logs point to these lines of code.

https://github.com/prysmaticlabs/prysm/blob/78465e25492795121855e758ee420e6334f22c22/beacon-chain/rpc/service.go#L403-L408

See comments here: https://github.com/prysmaticlabs/prysm/issues/5576#issuecomment-650606885

Assigning to @rauljordan as the original author of this log in #6233.

cc: @stefa2k

[2020-06-27 21:36] prestonvanloon commented on #5576
New issue filed https://github.com/prysmaticlabs/prysm/issues/6434

[2020-06-28 05:54] ldouze commented on #6314
Since last night I am running a lot more validators (increased from 5 to 100), and the segmentation vault now seems to come up roughly 20-fold, from a few times per day to a few times per hour, see docker events:

2020-06-28 07:38:44 | container | Container beacon-node2 started
-- | -- | --
2020-06-28 07:38:43 | container | Container beacon-node2 exited with status code 2
2020-06-28 07:38:17 | con

[2020-06-28 15:24] handelaar2 commented on #4935
It seems to me the issue is no longer there (meanwhile checking Onyx). The inclusion slot and inclusion distance do match the assignment slot now.

[2020-06-28 15:24] #4935 closed

[2020-06-28 17:25] MysticRyuujin commented on #6382
Sorry for the delay, yeah that's the issue

[2020-06-28 18:30] alibyte opened #6435 "Inconsistent Genesis Time but accurate validator count"
# 🐞 Bug Report

### Description

Inconsistent genesis time but accurate validator count

n/a

## 🔬 Minimal Reproduction

Use the db file on here: http://www.filedropper.com/beaconchain

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Debian Server
  </code>
</pre>

**What version of Prysm are you running? (Which release)**

<pre>
  <code>
current
  </code>
</pre>

**Anything else rel

[2020-06-28 21:37] #6399 closed

[2020-06-29 03:59] shayzluf commented on #6433
Closing this issue. Please reopen if you think this issue have to be addressed further

[2020-06-29 04:12] shayzluf commented on #6407
Hey @teslabitcoin ,
thanks for submitting an issue but it seems like a dappnode issue. closing it for now. Please reopen and add more details if you think this is a prysm issue

[2020-06-29 04:12] #6407 closed

[2020-06-29 04:29] nisdas commented on #6433
I think what @stefa2k is getting at is that currently the health check in the slasher doesn't tell us when its ready to serve data to external clients. I had a look at all the `Status` methods and they weren't checking for when the slasher is ready, just basic grpc errors. Reopening this until that is addressed.

[2020-06-29 04:29] shayzluf commented on #6435
Hey @alibyte
thanks for filing this issue

can you please add more details about the way you run this instance:
- version tag...
did you clear your db?
did you use any flag ?

[2020-06-29 04:34] shayzluf commented on #6017
assigning to @0xKiwi to keep it updated with the upstream issue

[2020-06-29 05:35] raphpa commented on #6324
This seems to be still happening.
Prysm/v1.0.0-alpha.12/73f3a653bffe0b40e77972fbe58ff783586a69b6. Built at: 2020-06-26 13:04:43+00:00

Starting at around 02:17 in the logs. See [onyx.log](https://github.com/prysmaticlabs/prysm/files/4843949/onyx.log)

![image](https://user-images.githubusercontent.com/18283997/85976252-6bc05f80-b9da-11ea-90a2-719172f62281.png)

[2020-06-29 07:35] farazdagi commented on #6037
Closing for now - can't re-produce the issue. Please feel free to re-open if new info becomes available.

[2020-06-29 07:35] #6037 closed

[2020-06-29 13:36] Buttaa opened #6444 "Can't find peers on altona via binarys"
# 🐞 Bug Report

### Description

`prysm.bat beacon-chain --altona --datadir=C:\prysm --verbosity=debug`

**Cannot find peers via binary files on windows10 & macos**

![image](https://user-images.githubusercontent.com/26490734/86012312-19a12d80-ba1e-11ea-97a6-4a5386c2c17f.png)

![image](https://user-images.githubusercontent.com/26490734/86012283-1017c580-ba1e-11ea-8eb7-d39ed7de519f.png)

solved iss

[2020-06-29 13:40] Buttaa opened #6445 "API Request: Show pending validators pre genesis"
# 🚀 Feature Request

### Description

Since the validator queue is already known pre genesis, it would be great to return `pending validators` during this period via `/eth/v1alpha1/validators/queue`

[2020-06-29 14:31] rauljordan commented on #4923
Hi @tsudmi could you kindly confirm if this is still an issue for you?

[2020-06-29 15:52] #6434 closed

[2020-06-29 16:50] handelaar2 opened #6447 "Panic with flag --disable-dynamic-committee-subnets (altona)"
# 🐞 Bug Report

### Description

As soon as I add flag  `--disable-dynamic-committee-subnets` to my altona beacon, I get a panic message directly after startup and my beacon stops:
![2020-06-29_18-36-44](https://user-images.githubusercontent.com/28559038/86032717-12871900-ba38-11ea-9270-6792ebcb2c01.png)

### Has this worked before in a previous version?

Have run this flag with the witti test-net

[2020-06-29 18:16] 0xKiwi commented on #6447
Hey @nisdas @rauljordan whats the status of this flag? Should it still be used?

[2020-06-29 18:24] prestonvanloon commented on #6444
This is fixed in #6441, but that PR did not make it into the alpha.13 release.

I'll close this for now since there is no further action to take.
The fix will land in the next weekly Prysm release and we have a work around to add bootstrap nodes via flag as you have done.

[2020-06-29 18:24] #6444 closed

[2020-06-29 18:41] xuyenvuong opened #6449 "Warning message that should have been at debug level"
# 🐞 Bug Report

### Warning message that should have been at debug level

Please move this to a debug level instead. This has triggered Grafana alerts every hours. It occurs for more that 50 times (for 30 validators)

### Has this worked before in a previous version?

No, it was happening on alpha.12

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>
time="2020-06-29 18:34:24" level=warning msg="

[2020-06-29 18:45] 0xKiwi commented on #6216
Is there anyone this can be assigned to? Should the priority be reassigned?

[2020-06-29 18:46] 0xKiwi commented on #6223
Hey @stefa2k , sorry its a bit late that we're seeing this, do you by any chance have your beacon node logs at the time of your report?

[2020-06-29 18:48] 0xKiwi commented on #6215
Assigned @terencechain for this issue, let me know if there should be a reassignment.

[2020-06-29 18:52] terencechain commented on #6215
This issue will be mitigated with new state mgmt (default) and even better with new state mgmt revamp @prestonvanloon and I are working on

[2020-06-29 19:27] 0xKiwi commented on #6449
Hey @xuyenvuong , thanks for making this issue! @nisdas , should this log be moved to debug?

[2020-06-29 20:47] prestonvanloon commented on #6435
Please add the specific version / commit you were running at the time to reproduce this.

What do you mean inconsistent genesis time? You were getting a different genesis time without changing any parameters?
What is your eth1 node setup like? Are you running your own eth1 node or using Prylabs' nodes?

[2020-06-29 21:06] prestonvanloon opened #6452 "Local ENRs created with wrong fork digest, cannot find peers"
# 🐞 Bug Report

### Description

Sometimes, the Prysm node will never find peers. Upon looking at trace level logs, we see messages like this

[code]

I confirmed with @terencechain that the fork digest is `a65b4897` aka  `[166 91 72 151]`, but my node is reporting `69d38c5a` aka `[105 211 140 90]` in this log statement.

### Has this worked before in a previous version?

Hard to tell, this issue

[2020-06-29 21:27] prestonvanloon commented on #6452
My genesis validator root (when I can't find any peers) is `d92e3100ed9d2386d6e10ffd85712c89e864cf78bd6b1cc3164e8b487228b471`.

@terencechain confirmed their (correct) genesis validator root is `4f9c5c3c1f498f2012167d7d3a2b2e94596bc9c0149d092c80dd0ff6803c4f5d`.

[2020-06-29 21:44] prestonvanloon commented on #6452
I got another validator root `894c7b313ca64c5c3c0271eedeb010dd7aed438eedd66435b77a0bc84615b11d` by restarting the beacon node

[2020-06-29 21:51] prestonvanloon commented on #6452
[bad_genesis_state.zip](https://github.com/prysmaticlabs/prysm/files/4848213/bad_genesis_state.zip)

This genesis state has `0xd92e3100ed9d2386d6e10ffd85712c89e864cf78bd6b1cc3164e8b487228b471` for the genesis validator root.

[2020-06-29 21:58] terencechain commented on #6452
[beacon_state_0.ssz.zip](https://github.com/prysmaticlabs/prysm/files/4848236/beacon_state_0.ssz.zip)

Here's my genesis state that is capable to peer with others

[2020-06-29 22:04] prestonvanloon commented on #6452
[states.diff.txt](https://github.com/prysmaticlabs/prysm/files/4848261/states.diff.txt)

A/from = good state
B/to = bad state

[2020-06-29 22:05] prestonvanloon commented on #6452
The diff that stands out the most is a different eth1 block hash.

[code]

[2020-06-29 22:42] prestonvanloon commented on #6452
False alarm, I had unstaged changes around deposit verification that was allowing invalid deposits to be considered valid. Therefore the genesis state was created earlier than expected with different balances.

If you are having issues finding peers, this is likely not the root cause of your problem. Thanks @terencechain for helping with investigation.

[2020-06-29 22:42] #6452 closed

[2020-06-30 03:53] #6318 closed

[2020-06-30 05:34] stefa2k commented on #6434
looking good, service has been stable for 16h now without this errors

[2020-06-30 07:10] fabdarice commented on #6334
@shayzluf @0xKiwi I'm actually already tackling this ticket, at the same time as #6036.

Should be pretty close

[2020-06-30 07:29] fabdarice commented on #6036
Ok, I'd like to run a couple of solutions by you guys @prestonvanloon  before I start diving into the implementations.

**Solution A (least amount of effort):**
We can verify that the signature in [DepositByPubKey](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/cache/depositcache/deposits_cache.go#L167) match the PubKey and log an Error message.
Pros: Least amount of effort
Cons:

[2020-06-30 07:31] fabdarice commented on #6334
Would love your input on this: https://github.com/prysmaticlabs/prysm/issues/6036#issuecomment-651604627

[2020-06-30 08:55] stefa2k commented on #6223
No sorry, I wanted to try with altano but I missed the launch :(

[2020-06-30 15:57] terencechain commented on #6337
[code]

I'm leaning towards not to do this. This means `HasVoluntaryExit` will be burdened with an unnecessary decode, while some of the beacon operation is small, it could be fairly large later

[2020-06-30 16:58] raphpa opened #6459 "Beacon-chain not able to resume syncing after network connection was down"
# 🐞 Bug Report

### Description

After an outage of the internet connection for a couple of hours beacon-chain is not able to sync up with the chain again. Initial-sync always starts at block 117537, syncs up to block 117983 and starts over at 117537 again.

The log does not reach back far enough to the point the internet connection was available again. There was no new docker container started, s

[2020-07-01 01:59] nisdas commented on #6324
@raphpa do you get the same with alpha.13 ?

[2020-07-01 02:02] nisdas commented on #6324
Nvm I will re-open it

[2020-07-01 02:06] nisdas commented on #6256
hey guys @Phistr90 @pappas999 @SomervilleM ,

with alpha.13, is this still an issue ?

[2020-07-01 05:16] raphpa commented on #6324
Not yet, but it only showed up after some days of uptime the last times

[2020-07-01 05:32] SomervilleM commented on #6256
Still can't connect to peers on my end

[2020-07-01 08:21] stefa2k commented on #6328
Yes, I think so

`activePeers` is a more deterministic term

Most of the other logs dont capitalize after the first word. I'd suggest don't capitalize `connected` or `disconnected`

[2020-07-01 21:20] alibyte commented on #6435
Figured out the issue! Happens if your disk space fills up while syncing the beacon chain. there is no error or anything (at least I didn't get one) and the validator is running "behind" so to speak

[2020-07-01 22:13] 0xKiwi commented on #6036
I prefer solution C @fabdarice, although a reason isn't required, a validator will only be invalid if their signature is invalid no? So that can be assumed/handled without additional complexity.

I think adding a new validator status and verifying the signature before marking the validator status as PENDING in `validatorStatus()` would be the best route.

[2020-07-02 06:37] tsudmi opened #6468 "Validator isNewAttSlashable panic"
# 🐞 Bug Report

### Description

Validator client panics on `isNewAttSlashable`.

## 🔥 Error

<pre><code>
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0x1eef9a1]

goroutine 683200 [running]:
github.com/prysmaticlabs/prysm/validator/client/polling.isNewAttSlashable(0x0, 0xfca, 0xfcb, 0x217afa0)
        validator

[2020-07-02 15:02] stefa2k opened #6472 "Incorrect log level for "double proposal""
# 🐞 Bug Report

### Description

Log level incorrect of `Tried to sign a double proposal, rejected by external slasher`

### Has this worked before in a previous version?

-

## 🔬 Minimal Reproduction

Run 2 validators with the same set of accounts.

## 🔥 Error

[code]

</code></pre>

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 20.04
  </code>
</pre>

**What version of Pry

[2020-07-02 18:36] prestonvanloon commented on #6337
@terencechain

This can still be refactored for deduplication without the decoding, but it is a bit of a stretch to do so.

[code]

[2020-07-02 18:46] prestonvanloon commented on #6216
@rauljordan, were you interested in this?

[2020-07-02 18:50] prestonvanloon commented on #6468
Looks like attesterHistoryByPubKey is returning nil and we aren't handling it properly.
https://github.com/prysmaticlabs/prysm/blob/417bb4539897a4e188895161eb174da417f185d1/validator/client/polling/attest.go#L150

@0xKiwi Is this your feature domain? Can you take a look please?

[2020-07-02 19:19] 0xKiwi commented on #6468
Sure thing @prestonvanloon, will look into this today.

[2020-07-02 23:52] pappas999 commented on #6256
hi, yes it's still not working with alpha13. Take note I am able to get it working on another laptop I have on the same network, so I believe it's not my home network. I was able to transfer the validator keys, get the .bat file via curl, then startup the beacon chain and validator successfully.

Then I went back to my laptop that isn't working (on the same network). I tried deleting everything ex

[2020-07-03 02:23] rauljordan commented on #6216
Hey @prestonvanloon, we are currently blocked on this until Ferran's
fastssz supports arrays in ssz marshal/unmarshal. Waiting on @ferranbt 's
update on this before preceding, but yes I am interested in this task

On Thu, Jul 2, 2020 at 1:46 PM Preston Van Loon <notifications@github.com>
wrote:

--
*Raul E. Jordan | Co-Founder, Prysmatic Labs*
prysmaticlabs.com
Twitter: @raulitojordan <https://twi

[2020-07-03 02:56] SeaMonkey82 opened #6478 "monitoring-port for beacon-chain Is Ignored When Defined by YAML"
# 🐞 Bug Report

### Description

When prysm.sh is launched with the `--config-file` flag, the monitoring port defined in the YAML config is ignored and the default 8080 is used instead.

### Has this worked before in a previous version?

Don't know.  This is my first time using `--config-file`.

## 🔬 Minimal Reproduction

`./prysm.sh beacon-chain --config-file=$HOME/prysm/onyxbeacon.yaml`

YAML:
`

[2020-07-03 04:44] #6328 closed

[2020-07-03 13:51] KuDeTa commented on #6345
[beacon-node.txt](https://github.com/prysmaticlabs/prysm/files/4870050/beacon-node.txt)

I'm also seeing this with latest version of the beacon node on the Onyx testnet.

[2020-07-03 13:55] stefa2k commented on #6345
I got this too, 37 times in the last 30 minutes over all 3 nodes I'm running.

[2020-07-03 15:05] nisdas commented on #6345
@KuDeTa that looks like a different panic, @prestonvanloon I remember we had that error before, wasn't it resolved ?

[2020-07-03 15:29] nisdas commented on #6345
@ldouze looking at your error , it looks like a memory corruption error in your system
[code]
The above is what finally crashed your node, looking at all the previous panics before it would point to a memory
corruption issue external to prysm. The above panic wouldn't be possible in a normal node as it indicates a non
existent memory space.

[2020-07-03 16:20] rauljordan commented on #5350
Resolved

[2020-07-03 16:20] #5350 closed

[2020-07-03 16:21] rauljordan commented on #5827
Is this still an issue @terencechain and @nisdas ?

[2020-07-03 16:22] rauljordan commented on #6070
Is this still an issue @terencechain @prestonvanloon ?

[2020-07-03 18:41] prestonvanloon commented on #6325
Related PRs:
- #6486
- #6480
- #6464 (to be closed, split into smaller PRs)
- #6460 (closed)
- #6461
- #6457
- #6431

[2020-07-03 20:04] dv8silencer commented on #4987
I will try.

[2020-07-04 14:29] nisdas opened #6490 "Unable to Set Lighthouse Nodes as Bootnodes"
# 🐞 Bug Report

### Description

Prysm nodes are unable to set lighthouse nodes as their bootstrap nodes as it leads Prysm being unable to perform
a succesful discv5 handshake with the lighthouse node.

### Has this worked before in a previous version?

Yes

## 🔬 Minimal Reproduction

`--bootstrap-nodes=lighthouse_enr`

## 🔥 Error

[code]
These packets are being exchanged between the same 2 peers,

[2020-07-04 19:25] prestonvanloon commented on #6070
I think there is still some issue. We still see some random dips in participation on block explorers.

See comment from Danny: https://discordapp.com/channels/595666850260713488/724994681460490260/728618913163772004

![Screenshot from 2020-07-04 12-22-58](https://user-images.githubusercontent.com/7246818/86519601-209ab800-bdf1-11ea-9def-03c458fb4ee9.png)

There hasn't been any investigation into t

[2020-07-04 20:22] ayushpateria opened #6491 "Running validator client in HA"
Hi, is it possible to run the validator client in a highly available setup probably using Kubernetes? With the current implementation in boltDb is there any way around it?

Also, is it possible to run multiple validator clients connected to the same boltDb instance? I think it's important for multiple clients to have the same instance for slashing protection to work correctly.

[2020-07-05 11:50] raphpa commented on #6324
On the VPS with 2bce9c8 I now have an uptime of around 6 days with no peer drops.
On the RPi on a landline it was not able to recover after a 20 minute connection loss. The ports are still reachable from the outside, but there seem to be no incoming or outgoing connections.

[code]

![onyx2](https://user-images.githubusercontent.com/18283997/86531982-7ab97d00-bec6-11ea-8469-21cd4352ec5a.png)

[2020-07-05 19:33] mibsta commented on #6478
I can confirm this behaviour. In fact passing the monitoring port via CLI also ignores the value passed and the node falls back to the default port 8080.

Behaviour observed using the latest Docker images:

[code]

[2020-07-05 19:41] SeaMonkey82 commented on #6478
I'm able to use an alternate port by passing the flag directly on the command line, but I'm using the script as opposed to docker.

[2020-07-05 21:59] Karmastic commented on #6220
Will this support removing validator keys in case we want to move the validator to another client?

[2020-07-06 15:10] tsudmi commented on #4923
Hi @rauljordan , I was only getting it when running with minimal config, but haven't checked whether it was fixed since Onyx.
Let's close it for now and once I will have a chance to run with minimal config again, I will check whether I could still reproduce.

[2020-07-06 15:10] #4923 closed

[2020-07-06 15:12] tsudmi commented on #6468
Hi @0xKiwi , any thoughts about why it happens?
My validators are getting stopped quite frequently. 😞

[2020-07-06 15:14] 0xKiwi commented on #6468
Hello, are you running with the validator protection flags? If so, try disabling them.

[2020-07-06 17:17] 0xKiwi commented on #6472
This is fixed as part of #6406

[2020-07-06 17:17] #6472 closed

[2020-07-06 17:19] 0xKiwi commented on #6478
Hey @prestonvanloon , do you know what could be going on here?

[2020-07-06 17:46] prestonvanloon commented on #6490
@nisdas Do you have any more details to share on this? I'm not sure how to triage

[2020-07-06 18:02] terencechain commented on #6059
Old state usages are fully deprecated

[2020-07-06 18:02] #6059 closed

[2020-07-06 18:03] prestonvanloon commented on #6449
I think we should ignore this specific error entirely. I've filed libp2p/go-libp2p-pubsub#356 which exposes the error itself so we can properly ignore it.

I'll start with a PR that hard codes this constant in Prysm such that we properly ignore the error, then I will add a TODO referencing this issue to remove the hard coded constant in Prysm in favor of `pubsub.ErrSubscriptionCancelled`.

[2020-07-06 18:05] terencechain commented on #6000
No longer relevant as new state becomes default

[2020-07-06 18:05] #6000 closed

[2020-07-06 18:12] prestonvanloon commented on #6449
Please do not close this issue without resolving the TODO created in commit dd4757d.

Blocked by libp2p/go-libp2p-pubsub#356

[2020-07-06 19:04] prestonvanloon commented on #6478
I've also confirmed this issue.

[2020-07-06 19:25] prestonvanloon commented on #6478
Good call! This was exactly the issue.

[2020-07-06 19:29] prestonvanloon commented on #6447
@rauljordan it looks like topics are not properly registered with `--disable-dynamic-committee-subnets`.

Can you please take a look?

[2020-07-06 19:31] prestonvanloon commented on #6435
Thanks @alibyte. I'll close for now. Please reopen or comment here if there is an action we can take to resolve the issue.

[2020-07-06 19:31] #6435 closed

[2020-07-06 19:31] prestonvanloon commented on #6433
@shayzluf Any update on this issue

[2020-07-06 19:41] prestonvanloon commented on #6345
@nisdas I don't recall a panic on fmt.print. It does seem very odd and more likely system related... Maybe the process has exhausted all memory or maybe docker is up to something...

This seems very hard to reproduce. Does it happen often @ldouze?

[2020-07-06 19:42] prestonvanloon commented on #6320
@nisdas is there any further action to take on our side?

[2020-07-06 19:45] prestonvanloon commented on #6317
Any idea how to go about this? It seems unlikely that we'll be able to convince go-ethereum or libp2p to use logrus.

Does their log API allow writing to some `io.Writer`? If so, we can pipe it to logrus Logger.Writer.
https://godoc.org/github.com/sirupsen/logrus#Logger.Writer

[2020-07-06 19:54] shayzluf commented on #6433
Will add those capabilities to healthz endpoint tomorrow

[2020-07-06 20:23] prestonvanloon commented on #6290
I think this flag is broken after new state management was released for Onyx.

We should remove it after #6325 is resolved.

[2020-07-06 21:24] prestonvanloon commented on #6256
I have not been able to reproduce this on windows. You're machine shouldn't have to listen on any ports to make outbound dials to remote peers.

It seems like something is blocking this type of traffic. Perhaps a router based firewall? Although, @pappas999 reports that it works on another windows machine in the same network.

[2020-07-06 22:09] SomervilleM commented on #6256
I also shut off all firewalls on the computer and in the router and still couldn't connect to peers

[2020-07-07 06:30] ldouze commented on #6345
No, it does not happen often.  I think only one more time in three weeks.  My SIGSEGV problem however,  still happens once every few hours and also may be system related

Verzonden via Yahoo Mail op Android

  Op ma, jul. 6, 2020 om 22:42 schreef Preston Van Loon<notifications@github.com>:

@nisdas I don't recall a panic on fmt.print. It does seem very odd and more likely system related... Maybe t

[2020-07-07 08:42] nisdas commented on #6345
I did get this today:
[code]

Is this what you see too ? @ldouze , or something similar

[2020-07-07 08:46] nisdas commented on #6317
I think we can conform go-ethereum's logs to use logrus, as it just needs a defined api. However ipfs is a bit more trickier, I will have to see how it works and whether it is possible.

[2020-07-07 09:10] ldouze commented on #6345
My knowledge doesnt extend that far, but as an example see some logs attached:
    On Tuesday, July 7, 2020, 10:42:43 AM GMT+2, Nishant Das <notifications@github.com> wrote:

I did get this today:
unexpected fault address 0x7f5dbc9d705c
fatal error: fault
[signal SIGSEGV: segmentation violation code=0x1 addr=0x7f5dbc9d705c pc=0x15c1637]

goroutine 241 [running]:
runtime.throw(0x5c9b20, 0x5)

[2020-07-07 09:35] yashbhavsar007 opened #6502 "Issue in status updation in validator console"
# 💎 Issue
I have deposited my validator deposit around 2 hours ago and I am sharing the output for the same.
`[2020-07-07 09:32:06]  INFO validator: Waiting for deposit to be observed by beacon node pubKey=0xb4a6f246e7a2 status=UNKNOWN_STATUS`

Here is the etherscan transaction https://goerli.etherscan.io/tx/0xebe69c4a690eeba8f9e281a9e8327451a634fe17d4ba81c80edd95d6d38ef5ca

Before onyx update I h

[2020-07-07 10:44] yashbhavsar007 commented on #6502
It took approx 3 hours to update the status from **UNKNOWN_STATUS** to **DEPOSITED**.

[2020-07-07 10:44] #6502 closed

[2020-07-07 11:00] stefa2k commented on #6220
Moving to another ETH2 client implementation (Teku, Nethermind, ...) or to another Prysm client?
At runtime?

[2020-07-07 16:35] saarshah opened #6505 "How to deploy smart contract"
I have deployed a smart contract on ropsten network and interact with it through web3, Node js, JavaScript. Now I want to deploy the same contract on Ethereum 2.0 (Proof of Stake) Testnet to check the difference. Is it possible ?

# 🚀 Feature Request

### Description

 A clear and concise description of the problem or missing capability...

### Describe the solution you'd like

 If you have a solu

[2020-07-07 17:11] #6433 closed

[2020-07-07 19:23] #4987 closed

[2020-07-07 22:40] tsudmi opened #6516 "Beacon chain database corrupts at runtime"
Hi,

I'm getting the following fatal error from beacon chain without any actions performed:

[code]

## 🌍  Environment

**What version of Prysm are you running? (Which release)**

<pre>
  <code>
   Prysm/v1.0.0-alpha.13/46b82eb15d508f277fd3733c38658701d5d5db69
  </code>
</pre>

[2020-07-07 22:50] terencechain commented on #6516
Fixed in https://github.com/prysmaticlabs/prysm/pull/6503

Please try `b868dfa48117ae3badd60546c13c07b766c8f50b` and reopen if the issue still persists.

[2020-07-07 22:50] #6516 closed

[2020-07-08 08:21] #6478 closed

[2020-07-08 09:43] rkapka opened #6518 "Feature Flag Tracking: enableFinalizedDepositsCache"
# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):
Opt-in

**Opt-in feature flag name**:
`enableFinalizedDepositsCache`

**Opt-out feature flag name**:
`disableFinalizedDepositsCache`

### Feature Description
 Enables utilization of cached finalized deposits. This is helpful when building the deposit trie.

### Tasks

- [x] Feature flag created as opt-in
- [x] Feature implemented / code

[2020-07-08 09:54] tsudmi commented on #6468
Yes, I use protection flags. Will disable them for the time being. Thanks!

[2020-07-08 10:29] stefa2k opened #6519 "Insane load, then beacon dies when slasher is active"
# 🐞 Bug Report

### Description

Node produces load of 40 and upwards, then beacon container dies without errors or warnings. Everything works great without slasher, as soon as I start up the slasher container the cpus are stuck at 100 % usage.

beacon.yaml:
[code]

slasher.yaml:
[code]

### Has this worked before in a previous version?

No heavy or insane load on previous versions (docker tags),

[2020-07-08 11:43] shayzluf commented on #6519
@stefa2k couldn't reproduce it in local testnet `interop flags` . can you please upload the profile file of the beacon node, slasher , validator?

[2020-07-08 13:09] mcdee opened #6521 "Panic when disabling dynamic attestation subnets"
Running the beacon node with `--disable-dynamic-committee-subnets` causes a panic.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

`beacon-chain --disable-dynamic-committee-subnets`

## 🔥 Error

[code]

[2020-07-08 13:23] #6279 closed

[2020-07-08 14:24] stefa2k commented on #6519
Files attached
[slasher.txt](https://github.com/prysmaticlabs/prysm/files/4891202/slasher.txt)
[validator.txt](https://github.com/prysmaticlabs/prysm/files/4891203/validator.txt)
[validator_before.txt](https://github.com/prysmaticlabs/prysm/files/4891204/validator_before.txt)
[beacon.txt](https://github.com/prysmaticlabs/prysm/files/4891205/beacon.txt)
[beacon_before.txt](https://github.com/prysma

[2020-07-08 17:24] stefa2k commented on #6519
I didn't try `--clear-db` but instead deleted slasher's database files.

Here are the slasher logs as requested in #-bug-report
[slasher.txt](https://github.com/prysmaticlabs/prysm/files/4892226/slasher.txt)

[2020-07-08 17:41] stefa2k commented on #6519
I now reproduced it and got logs of all services involved on this very node. See attachment.
[slasher kills beacon.txt](https://github.com/prysmaticlabs/prysm/files/4892310/slasher.kills.beacon.txt)

[2020-07-08 19:14] dv8silencer commented on #6521
This seems to be because in beacon-chain/sync/subscriber.go lines 75+
[code]
In the call to subscribe, when i=0, something like "/eth2/%x/beacon_attestation_0" is passed as the topic string:
[code]

p2p.GossipTopicMappings["/eth2/%x/beacon_attestation_0"] is nil and causes the panic.

Within gossip_topic_mappings.go

[code]

"/eth2/%x/beacon_attestation_%d" is set to &pb.Attestation{} but "/eth2/%

[2020-07-08 19:36] dv8silencer commented on #6521
Code above refers to repo as of https://github.com/prysmaticlabs/prysm/tree/132ad5beb8c0836d004976068584607524f1bd0d

[2020-07-08 19:56] prestonvanloon commented on #6459
I've seen this as well when a peer would not give the requested set of blocks. A potential resolution here is to improve our peer scoring in initial sync.

@farazdagi can you help?

[2020-07-08 20:02] farazdagi commented on #6459
Yep, working on this (we had a discussion about it with Nishant today, I will provide both simple heuristics based on peer's performance and look into full-fledged peer scoring).

[2020-07-08 20:08] shayzluf commented on #6519
Thanks, seems that the issue here is that slasher is dead and attestations doesn't get to the beacon node because external protection doesn't reply. I can reproduce this
I think this is not the issue you mentioned above

[2020-07-08 22:40] prestonvanloon commented on #6459
ok great thanks!

[2020-07-08 22:41] prestonvanloon commented on #6408
What is invalid about it?

[2020-07-09 04:18] nisdas opened #6529 "Deadlock When Sending A Large Amount of HTTP Requests to the Beacon Node"
# 🐞 Bug Report

### Description

Sending a large amount of HTTP requests has the ability to stall the beacon node and prevent it from performing its duties.

### Has this worked before in a previous version?

N.A

## 🔬 Minimal Reproduction

Running a beacon node with its http gateway server enabled, and sending in a large amount of requests at once. Ex: (Validator Status). Eventually the beacon no

[2020-07-09 04:21] nisdas commented on #6490
@prestonvanloon It has been resolved, the user had some some misconfigured local settings.

[2020-07-09 04:21] #6490 closed

[2020-07-09 08:05] handelaar2 opened #6530 "Slotutil message when restarting beacon"
# 🐞 Bug Report

### Description

When I restart my running beacon, one of the log messages is:
`INFO slotutil: Chain genesis time reached genesisTime=2020-06-14 05:17:24 +0000 UTC genesisValidators=30353`

Not sure why this message needs to be there as this is a running chain. When it cannot be suppressed, let's at least get the genesisValidator count right (30353 is the current validator count, n

[2020-07-09 09:22] nisdas opened #6531 "Usage of Last Processed Slot is A Griefing Vector"
# 💎 Issue

### Background

Currently we use a a variable in initial sync called `lastProcessedSlot` to prevent processing old blocks or
already processed blocks. This is used whether we process blocks in batches or individually.

### Description

However having this variable makes the node's synchronization routine to griefing. A potentially malicious peer could send us
a batch of non-finalized bl

[2020-07-09 10:24] handelaar2 commented on #6521
#6447 covers the same issue

[2020-07-09 14:46] #6521 closed

[2020-07-09 16:15] rauljordan opened #6534 "Create Developer Wiki for Prysm"
# 💎 Issue

### Background

Thank you @rkapka for bringing up this topic. Currently, our docs portal https://docs.prylabs.network is designed to be a user-facing website that answers all questions regarding running Prysm, how to use its tools, monitoring, and more. As we grow as a team, it is imperative we have significant learning resources for external contributors to ensure knowledge of the code

[2020-07-09 16:31] rkapka commented on #6534
Thank you for creating this issue. I believe a GitHub wiki for contributors is a great way to encourage more people to start participating. I remember that such a Wiki helped me greatly when I wanted to contribute to another project some time ago.

One thing I would definitely add to the list is the explanation why Prysm uses Bazel (I think Preston already mentioned this somewhere around here).

I

[2020-07-09 16:34] rkapka commented on #6534
Another thing worth describing might be the environment which is required/preferred when developing. At the beginning I wanted to develop on Windows using VS Code and it later turned out that I had to switch to Linux and GoLand. Maybe there are some cool debugging/monitoring tools that core developers use which are helpful?

[2020-07-09 16:38] rkapka commented on #6534
Is this really necessary? Go already has a standard for formatting and the linter takes care of a lot of stuff. I don't see any issues with the current setup. Also, duplicating linter rules in the Wiki means that both the Wiki and static code analysis have to be synchronized by someone.

[2020-07-09 18:25] stefa2k commented on #6519
When local slasher is dead haproxy will forward to remote slasher. The remote slasher talks to its own beacon node. Can this be the cause?

I run now on a standalone install (also [pdc](https://github.com/stefa2k/prysm-docker-compose) but without haproxy) with same settings (slasher for protection, etc.) and it runs fine with slasher active. My guess is that the failover switch makes the services

[2020-07-09 20:56] rkapka commented on #4117
Please assign me to this issue.

[2020-07-09 20:58] terencechain commented on #4117
Assigned to @rkapka

Thanks

[2020-07-09 22:10] raphpa commented on #6324
Not sure if this is related to this issue. Now the altona node on my VPS did not drop peers, but suddenly stopped syncing new blocks. Trace error level was not yet enabled.

[code]

[2020-07-09 22:30] raphpa opened #6538 "Block syncing log output and metrics stopped"
# 🐞 Bug Report

### Description

Log output of block syncing suddenly has stopped on an Altona node. However sync still seems to be running as the validators still attest correctly. Peer count is as expected.

Also the internal metrics seem to be affected, beacon_clock_time_slot on the prometheus interface stopped as well.

![image](https://user-images.githubusercontent.com/18283997/87096799-eba0c

[2020-07-09 23:50] #6072 closed

[2020-07-10 00:54] #6530 closed

[2020-07-10 12:08] stefa2k commented on #6519
I figured out kernel htop kills the container because of oom:
[code]

Then I increased the memory from 8gb to 16gb and it didn't kill the container when activating slasher. @nisdas recommended to take heap & cpu profiles:
[cpu.prof.202007101203.txt](https://github.com/prysmaticlabs/prysm/files/4902992/cpu.prof.202007101203.txt)
[heap.prof.202007101201.txt](https://github.com/prysmaticlabs/prysm/fi

[2020-07-10 12:27] rkapka commented on #6505
Hi @saarshah. Creating and deploying smart contracts is not yet supported on Ethereum 2.0. You can read about the current state of affairs here: https://blog.ethereum.org/2020/06/02/the-state-of-eth2-june-2020/
If you would like to understand more about the Beacon Chain, then this is a great explainer: https://ethos.dev/beacon-chain/

[2020-07-10 12:41] rkapka commented on #5801
Hey @prestonvanloon, point 2 from your list has been implemented in #6391 and point 3 was not an issue - it turned out that the trie was computed up to the correct block. It was the variable names that were poor and didn't describe what was actually happening. The names have been corrected.

Are you able to run some sort of benchmark in order to verify whether trie caching resolved the issue?

[2020-07-10 13:19] stefa2k commented on #6519
Here are som validator logs with panics

[validator panics.txt](https://github.com/prysmaticlabs/prysm/files/4903301/validator.panics.txt)

[2020-07-10 14:09] terencechain commented on #6505
@saarshah

Deposit contract deployment is not part of the Prysmatic lab's eth2 role & responsibility. This is not the best place for such question and seeking support. We are specialized in client and core protocol developments. While not so much on smart contract security and smart contract user documentations. Here's the correct place to post your question: https://github.com/ethereum/eth2.0-spe

[2020-07-10 14:09] #6505 closed

[2020-07-10 15:57] saarshah commented on #6505
Thanks for your reply and i will try.

On Fri, Jul 10, 2020, 17:28 rkapka <notifications@github.com> wrote:

[2020-07-10 16:07] stefa2k commented on #6468
Maybe related to #6519

[2020-07-10 16:10] prestonvanloon opened #6544 "Validator client may have wrong genesis time or bad roughtime offset"
# 🐞 Bug Report

### Description

In the Onyx testnet, we occasionally see objects produced from "the future" indicating that the client may have the wrong genesis time. There are some scenarios where only the validator has the incorrect genesis time and their beacon node starts rejecting all of their requests.

### Has this worked before in a previous version?

Not sure when this issue started.

#

[2020-07-10 16:13] prestonvanloon commented on #6544
User reported this happening in commit 8da024.

[2020-07-10 16:18] prestonvanloon opened #6545 "FR: Hardcode genesis times into params/config"
# 🚀 Feature Request

### Description

Once a network has launched, the genesis time never changes and could be referenced from a hardcoded source of truth.

### Describe the solution you'd like

Create and utliize `params.BeaconChain().GenesisTime` to reference genesis time in validator client and beacon chain, if available. If the genesis time is not available for the given network, fallback to t

[2020-07-10 16:19] prestonvanloon commented on #6544
Note: this could/should be resolved with hard coded genesis times. Filed #6545 for that feature request.
That would be recommended for mainnet release.

[2020-07-10 17:00] prestonvanloon commented on #6519
I've also experienced this insane load to the point that my system locks up for several minutes. @shayzluf are you looking into this?

[2020-07-10 18:20] stefa2k opened #6548 "Beacon node gets flooded with incorrect blocks"
# 🐞 Bug Report

### Description

Participation rate is low (below 2/3) and finality isn't achieved since 30 epochs.

### Has this worked before in a previous version?

-

## 🔬 Minimal Reproduction

-

## 🔥 Error

[errors.csv.txt](https://github.com/prysmaticlabs/prysm/files/4904729/errors.csv.txt)

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 20.04
  </code>
</pre>

**What

[2020-07-10 18:31] raphpa commented on #6548
Adding trace log
[beacon.log.zip](https://github.com/prysmaticlabs/prysm/files/4904758/beacon.log.zip)

[2020-07-10 18:34] stefa2k commented on #6548
Full log (including `info`) here:
[beacon.zip](https://github.com/prysmaticlabs/prysm/files/4904786/beacon.zip)

[2020-07-10 18:49] prestonvanloon commented on #6548
Thanks.

We have two issues here:
- Someone is producing these bad blocks. Why/how is this the case? (need to investigate)
- This behavior is considered "bad" and we need to disconnect from that peer to avoid unnecessary resource usage.

I'm starting investigation on the second issue since that would resolve more user reports than the first issue, which I believe might be a single person running m

[2020-07-10 19:17] xuyenvuong commented on #6548
Adding additional errors:
`time="2020-07-10 19:11:54" level=error msg="Failed to retrieve pre state" error="could not get pre state for slot 191360: could not get ancestor state: context deadline exceeded" prefix=sync
time="2020-07-10 19:11:54" level=error msg="Failed to retrieve pre state" error="could not get pre state for slot 191360: could not get ancestor state: context deadline exceeded" pre

[2020-07-10 19:27] mshean commented on #6548
More logs if it helps
[beaconchain-and-validator-logs.zip](https://github.com/prysmaticlabs/prysm/files/4905012/beaconchain-and-validator-logs.zip)

[2020-07-10 19:31] shayzluf commented on #6519
@prestonvanloon scheduled time to investigate it on monday . Would be good if I can get some keys of active validators

[2020-07-10 19:38] prestonvanloon commented on #6548
Also looking at `bitlists are different lengths` for beacon_aggregate_and_proof

[2020-07-11 00:04] nisdas commented on #6447
Resolved by #6533 .

[2020-07-11 00:04] #6447 closed

[2020-07-11 00:19] prestonvanloon commented on #6544
A user reported this issue, but that the issue resolved itself after 1 hour.
1 hour is the roughtime update interval.

https://discordapp.com/channels/476244492043812875/476588476393848832/731303268134813716

[2020-07-11 01:11] nisdas commented on #6544
Just to give more clarity on this users have reported seeing this error in the beacon node `WARN powchain: eth1 client is not syncing`  at the same time as their validator has difficulties creating attestations.

https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/powchain/service.go#L574
[code]

This would point there being an issue with roughtime, also roughtime recalibration happens

[2020-07-11 01:13] lenifoti commented on #6548
Altona verifier attestation failures - coincide with Eth1 Sync errors.

Mac OS
Version: alpha.14
Local time: UTC+12

[validator1.txt](https://github.com/prysmaticlabs/prysm/files/4906063/validator1.txt)
[beacon1.txt](https://github.com/prysmaticlabs/prysm/files/4906064/beacon1.txt)

e.g.

[2020-07-11 02:24:33] ERROR validator: Could not request attestation to sign at slot error=rpc error: code = I

[2020-07-11 04:34] prestonvanloon commented on #6548
This is probably a symptom of #6544.

[2020-07-11 09:01] stefa2k opened #6561 "Docker images' creation date incorrect"
# 🐞 Bug Report

### Description

Prysm's Docker images for `validator`, `beacon-chain` and `slasher` have all the same creation date 50 years ago.

### Has this worked before in a previous version?

No

## 🔬 Minimal Reproduction

Run
[code]

or visit https://console.cloud.google.com/gcr/images/prysmaticlabs/GLOBAL/prysm/beacon-chain?gcrImageListsize=30

## 🔥 Error

![image](https://user-images.git

[2020-07-11 14:54] nisdas commented on #6408
We marshalled the blocks by roots request as a struct rather than a variable length array, so  the ssz representation of it was wrong before. In order to not break Onyx and still be compatible with other clients in Altona, we support both formats for now.

[2020-07-11 18:14] jcb31416 commented on #5436
the error remains with the .bat file (win10x64) following instructions detailed in https://docs.prylabs.network/docs/install/win/activating-a-validator:

`prysm.bat validator accounts status --keymanager=keystore --keymanageropts=%LOCALAPPDATA%\.eth2validators --beacon-rpc-provider=localhost:4000`

[2020-07-12 04:36] prestonvanloon opened #6564 "Blocks saved during attestation prestate fetch?"
# 💎 Issue

### Background

During investigation of potential attestation inclusion issues, I was looking at the code paths for attestation processing.

### Description

As part of the validation for signed aggregated attestation and proof, there is a bit of code that seems out of place for `getAttPreState`.

https://github.com/prysmaticlabs/prysm/blob/a4cfd147ff7ab93aa54768d757012ea067066250/beaco

[2020-07-12 05:06] terencechain commented on #6564
Hi! not sure if i was the original author but always excited to sort this out? how can i help?

[2020-07-12 06:12] raphpa commented on #6538
Happened again on` Prysm/v1.0.0-alpha.14/dbc9686d159ba62c51961457e81bc4e9ab1d13a3. Built at: 2020-07-10 17:21:43+00:00`

This time it really seems to have stopped syncing new blocks, validator has also stopped attesting.

At `2020-07-11 16:19:26` it fails to process a block, falls back to initial-sync and then stops.

[code]

[code]

[2020-07-12 19:21] prestonvanloon commented on #6561
I think this is a bug with [rules_docker](https://github.com/bazelbuild/rules_docker). We are building these images with `--stamp`, but the creation_time seems to be set to epoch 0.

Looking at rules_docker, they only set the creation timestamp when it is explicitly defined or ctx.attr.stamp is used. However, stamp is listed as "deprecated" so I am not sure the best approach. In any case, I modifi

[2020-07-12 19:29] prestonvanloon commented on #6561
Filed https://github.com/bazelbuild/rules_docker/issues/1554

[2020-07-12 20:19] prestonvanloon commented on #6564
If we look at this method from the point of view of “single responsibility”, why would a method that fetches an attestation pre state save initial sync blocks? What is going on with these lines of code and why is it important?

[2020-07-12 20:25] terencechain commented on #6564
You have a good point, that piece of code shouldn't be inside `getAttPreState`. I'll move it to `onAttestation` and add comments on why it's needed

[2020-07-12 22:47] terencechain opened #6565 "Aggregator should use self-attested attestation"
**Problem statement:**

Prysm aggregator signs off and broadcasts the best aggregated attestation (e.g. the one with the most aggregation bits). This is the correct strategy, but we do miss one important check. Prysm aggregators should also check that the best aggregated attestation has similar `attestation_data` to their unaggregated attestation for the assigned slot.

As outlined in the [spec](h

[2020-07-12 22:58] prestonvanloon commented on #6565
I think your example is a slashable event. The local attester would not create an attestation for head root 0xA and 0xB.

Nonetheless, the aggregator should always prefer their attestation over the most aggregated one to ensure their attestation is broadcasted as an aggregated attestation.

[2020-07-12 23:37] terencechain commented on #6565
Ah yes. I meant for this:
[code]

[2020-07-12 23:52] prestonvanloon commented on #6565
Working on this now

[2020-07-13 01:08] alex-miller-0 commented on #5310
@prestonvanloon We would love to look into running a validator (not beacon) on the @gridplus Lattice hardware wallet. We have a 32-bit MIPS architecture, though. If you were to add that toolchain we would be grateful!

[2020-07-13 12:52] stefa2k commented on #6519
Profile attached:
[heap.prof.202007101201.txt](https://github.com/prysmaticlabs/prysm/files/4912525/heap.prof.202007101201.txt)

[2020-07-13 14:16] terencechain commented on #6561
Marking this as blocked. We need resolution from bazelbuild/rules_docker#1554

[2020-07-13 14:20] terencechain commented on #6538
It seems like when a node falls back to initial sync, it somehow doesn't sync? cc @nisdas @farazdagi

[2020-07-13 15:35] terencechain commented on #6529
This is addressed with --dev or --new-beacon-state-locks

The next step is to invert / roll out the feature flag

[2020-07-13 15:38] terencechain commented on #6290
Blocked by #6325

[2020-07-13 15:40] terencechain commented on #6223
There's a few variables that can go into this. Ex: beacon node peering progress

Without further evidence and resolution steps, I'm incline to close this, but will pay close attention next genesis

[2020-07-13 15:40] #6223 closed

[2020-07-13 18:14] prestonvanloon commented on #6220
@stefa2k @Karmastic The new accounts design will allow exporting to the common format for EIP-2335, which can be imported by any other client that supports that format.

[2020-07-13 20:08] prestonvanloon commented on #6534
I'm OK with the idea of a wiki, but I wonder if there is overlap between the wiki and the docs portal.

What is the benefit for supporting / maintaining a wiki and docs portal simultaneously?

[2020-07-13 20:43] prestonvanloon opened #6588 "--enable-finalized-deposits-cache panics in e2e"
[code]

Nil pointer here: https://github.com/prysmaticlabs/prysm/blob/f7088e037cc1401500240ac3b180bee1c1d9b25e/beacon-chain/cache/depositcache/deposits_cache.go#L252

_Originally posted by @prestonvanloon in https://github.com/prysmaticlabs/prysm/pull/6391#issuecomment-657783540_

[2020-07-13 21:28] rkapka commented on #6588
I will take a look at this tomorrow.

[2020-07-13 21:47] prestonvanloon commented on #5436
@jcb31416 what is the error?

[2020-07-13 21:50] prestonvanloon commented on #5310
@alex-miller-0 Thanks for the feedback!

Would an armv6l binary work for your hardware our is there something special about compiling for mipsel? (Is it little endian or endian?)

[2020-07-13 22:02] #6565 closed

[2020-07-13 22:25] terencechain opened #6590 "[Tracking] Update tests using new testutils"
With the introduction of #6563 (Thanks @farazdagi), we can begin to update unit tests using the new testutil packages. I'm breaking down the items by package. This PR tracks the overall progress.
- [x] cache
- [x] ~~flags~~ no tests there
- [x] operations
- [x] rpc #6641
- [x] core/blocks #6939
- [x] core/epoch, core/feed, core/helpers, core/state, core/validator #6940
- [x] forkchoice
- [x] p2p #

[2020-07-13 22:45] alex-miller-0 commented on #5310
@prestonvanloon It is a 32bit MIPS architecture that I believe can be compiled with either BE or LE. I'm not sure if `armv6l` would work, but I suspect not, since it's not an ARM architecture. I suppose we could try it haha.

Here's [some info](https://www.differencebetween.com/difference-between-mips-and-vs-arm/) on MIPS vs ARM; looks like MIPS has more registers and there are a few differences i

[2020-07-13 23:28] prestonvanloon opened #6591 "error: panic: open /sys/fs/cgroup/cpu,cpuacct/cpu.cfs_quota_us: no such file or directory"
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: ....

## 🔬 Minimal Reproduction

On ARM64 device.

[code]

## 🔥 Error

<pre><code>error: panic: open /sys/fs/cgroup/cpu,cpuacct/cpu.cfs_quota_us: no such file or directory

goroutine 1 [running]:
gi

[2020-07-13 23:31] prestonvanloon commented on #6591
Actually, I wasn't able to reproduce this on a raspberry pi 4.

Filed this issue for eth-staker401 on discord

https://discordapp.com/channels/476244492043812875/476588476393848832/732365410086813746

[2020-07-13 23:41] prestonvanloon commented on #5310
I think the biggest hurdle might be the BLS encryption library. Most of these have hardware accelerated assembly instructions.

Current options are:
- [Pure go implementation](https://github.com/phoreproject/bls) -- slow, may not be up to date with latest draft spec, but cross compile is a non-issue
- [Herumi's library](https://github.com/herumi/bls-eth-go-binary) -- More supported architectures t

[2020-07-13 23:51] prestonvanloon commented on #6281
Was there anything else interesting about your environment? Out of disk space?
Where you collecting prometheus metrics at the time?

[2020-07-13 23:52] prestonvanloon commented on #6544
I think we have mitigated this issue and the relevant PRs have been released in alpha.15.

Closing this until we see evidence of this issue again.

[2020-07-13 23:52] #6544 closed

[2020-07-13 23:53] MysticRyuujin commented on #6281
Not that I'm aware of. I'd just close this. I have no info beyond the log, and the suggestion that perhaps it was an unsafe shutdown.

[2020-07-13 23:53] prestonvanloon commented on #6548
The fixes for this have been released to alpha.15. Please update your node and comment here if you are still having issues.

[2020-07-13 23:53] #6548 closed

[2020-07-13 23:54] prestonvanloon commented on #6281
OK, thanks. Let me know if you see it again please!

[2020-07-13 23:54] #6281 closed

[2020-07-13 23:56] prestonvanloon commented on #6377
@terencechain what's the plan for this issue? Are we monitoring it or can it be closed?

I removed help wanted because it isn't clear what is required here.

[2020-07-13 23:56] alex-miller-0 commented on #5310
Well, pure go would probably work fine. We already cross compile our daemon using `GOARCH=mipsle GOOS=linux go build`. Depending on what operations are being done, the latency may or may not be a problem. Keep in mind that our core is quite slow, so if there are a ton of operations it may be problematic.

Where is the BLS encryption used in the `validator` code? Is is just part of signing, or does

[2020-07-13 23:58] terencechain commented on #6377
We are monitoring this metric, but the value of this metric `total_voted_target_balance` very rarely drops to 0. Such event is very hard to reproduce and I haven't had the time to debug the why and the how

[2020-07-14 00:41] xuyenvuong commented on #6548
Thanks @prestonvanloon - Great works.

[2020-07-14 01:05] prestonvanloon commented on #6591
Changing this from panic to a debug log. It's not critical anyway.

[2020-07-14 01:51] #6591 closed

[2020-07-14 01:54] terencechain opened #6593 "Batch blocks sync leads to tons of atts invalid sigs error"
Latest commit: `52e9155df33e180717192cdd8c7b59d173dd4024`

When using initial sync batch verify feature, a common theme i realized (8 out of 10 times) is the initial sync would always exit early due to the following error:
[code]

Which eventually leads to a lot of sigs did not verify errors:
[code]

The sigs did not verify errors happen on almost all the attestations every slot after initial sync

[2020-07-14 02:46] prestonvanloon commented on #6491
Hey @ayushpateria, great question!

This is a tricky problem to solve. With high availablity, you want things like automated failover and data replication.
However, this type of setup could easily lead to a slashable condition if not configured correctly.

The validator client will secure a lock around a boltDB storage file, so only one process can use it at a time.
In kubernetes, you could consid

[2020-07-14 07:37] GuillaumeMiralles commented on #6377
That is very hard to reproduce indeed, I had another crash to 0 recently but it was mixed up with bunch of errors on the beginning of alpha 14, I was not available to give any informations unfortunately. Here we can see it's not just a flash crash, but it has stayed a bit long set to 0, so I assume it was different as usual

![image](https://user-images.githubusercontent.com/23481418/87397958-791e

[2020-07-14 07:55] stefa2k opened #6595 "Inconsistent pubkey formatting in logs"
# 🐞 Bug Report

### Description

Public keys are not formatted consistently in log messages.

### Has this worked before in a previous version?

.

## 🔬 Minimal Reproduction

.

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>

  </code>
</pre>

**What version of Prysm are you running? (Which release)**

<pre>
  <code>
HEAD-c2deab
  </code>
</pre>

**Anything else

[2020-07-14 11:09] farazdagi commented on #6590
I'll work on updating `p2p` package (I've already started with new tests there - for peer scorer).

[2020-07-14 12:21] #6519 closed

[2020-07-14 15:46] #6564 closed

[2020-07-14 16:46] terencechain opened #6598 "Initial sync no good blocks in batch"
I observed the following errors during initial sync with batch blocks. When this happens the beacon node will be stuck in a loop. This does not happen every time. A restart will probably bypass the issue

[code]

[2020-07-14 17:56] fabdarice opened #6601 "Validator client prompt the user to enter their password twice"
# 🐞 Bug Report

### Description
Starting a validator client will always prompt the user to enter their password twice.
[code]

### Has this worked before in a previous version?
Yes, it used to only prompt the user to enter their password once.

## 🔬 Minimal Reproduction
bazel run //validator:validator -- --keymanager keystore

## 🔥 Error

<pre><code>
[2020-07-14 10:51:42]  INFO keymanager: Enter y

[2020-07-14 19:32] remyroy commented on #6325
I believe I just experienced this issue on _v1.0.0-alpha.15_ and on _Ubuntu 20.04 LTS (GNU/Linux 5.4.0-1013-raspi aarch64)_ . My workaround was to restart the validator after the beacon chain was fully synced.

[2020-07-14 19:43] farazdagi commented on #6590
I'll work on `sync` (including `init-sync`).

[2020-07-14 20:37] #6595 closed

[2020-07-14 21:15] rkapka commented on #6590
I will update tests in `cache`.

I already started and one thing that is a bit annoying is comparing integers in certain scenarios. I changed

[code]

into

[code]

This is what happened:

[code]

`cachedDeposits.MerkleTrieIndex` is of type `int64`, so I expect that there is a problem with incompatible types (`int` and `int64`). To make the test pass I had to rewrite the assertion as

[code]

I do

[2020-07-14 22:37] farazdagi commented on #6590
Go's comparison operator `==` takes type into account as well, and asserts being explicit about type of compared value is good, imo. Plus, I believe that we should keep assertion package as simple as possible -- w/o any complex checks, type assertions etc.

[2020-07-14 22:49] farazdagi commented on #6590
@rkapka btw, instead of
[code]
you can use
[code]
(the last param can be omitted)

[2020-07-14 23:49] fabdarice commented on #6593
Are you working on this @terencechain ? I saw a draft PR from you.
If not, willing to tackle this issue.

[2020-07-15 00:01] terencechain commented on #6593
I think we still need more investigating and testing to conclude whether this is a bug and where the bug is.  I mainly opened this issue track to the investigation process. Feel free to help us test this issue to see if it's reproducible on your end. In term of code fixes, it's still too early to tell what that looks like

[2020-07-15 00:43] terencechain commented on #6590
Working on `core`

[2020-07-15 00:56] nisdas commented on #6593
@terencechain I have tried, but I cant reproduce it. Can you outline the steps that you take ?

[2020-07-15 01:05] #6601 closed

[2020-07-15 04:35] farazdagi commented on #6590
Working on `blockchain`

[2020-07-15 10:17] farazdagi commented on #6598
Possibly related to #6531

[2020-07-15 14:51] terencechain commented on #6593
It just was `--dev` and syncing from genesis to head in altona. I haven't tried on the latest commit. Maybe it's fixed

[2020-07-15 14:53] terencechain commented on #6491
Closing this as there's no more follow up

[2020-07-15 14:53] #6491 closed

[2020-07-15 14:54] farazdagi commented on #6590
Working on `state`

[2020-07-15 17:20] terencechain commented on #6590
Core may be hard to do. Since testutil uses `helpers`, we'll be getting import cycle there. Might just leave it as it is...

[2020-07-15 17:20] terencechain commented on #6590
Working on `operations`

[2020-07-15 19:03] farazdagi commented on #6590
Nice catch, #6610 should resolve the import cycle, so that assert/require can be used everywhere.

[2020-07-15 19:36] terencechain commented on #6590
Great. Thank you

[2020-07-15 21:29] terencechain commented on #6017
@0xKiwi should this be closed?

[2020-07-15 22:23] #6017 closed

[2020-07-16 00:42] terencechain commented on #5176
What else is left preventing us to close this?

I think any follow up optimizations should just have its own issue

[2020-07-16 00:43] nisdas commented on #5176
+ 1, I think this issue can be closed now.

[2020-07-16 21:48] #6588 closed

[2020-07-17 05:13] stefa2k opened #6619 "Slasher panic after RPC calls fail because of heavy load"
# 🐞 Bug Report

### Description

Slasher throws panic after RPC calls to beacon fails because of heavy load on beacon-chain service.

### Has this worked before in a previous version?

Don't know

## 🔬 Minimal Reproduction

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 20.04
  </code>
</pre>

**What version of Prysm are you running? (Which release)**

<pr

[2020-07-17 05:15] stefa2k opened #6620 "One param to use slasher"
# 🚀 Feature Request

### Description

At the moment there are multiple parameters needed to run a slasher in a stable manner.

### Describe the solution you'd like

As discussed in Discord channel `bug-report` it would be useful to have a flag like `--dev` to enable all of these in one go.

### Describe alternatives you've considered

More documentation?

[2020-07-17 12:51] stefa2k commented on #6468
Got the same thing now, running `HEAD-c26151`
Logs:
[validator.txt](https://github.com/prysmaticlabs/prysm/files/4937872/validator.txt)

[2020-07-17 16:49] samuelbrunner opened #6621 "Why you banned me ?"
# 💎 Issue

### Background

 Context and background information on the discussion...

### Description

[2020-07-17 16:51] samuelbrunner commented on #6621
Picture of Epstein cause ban ?

[2020-07-17 16:52] rauljordan commented on #6621
Our discord and github are not appropriate communities for these topics. Please keep the discussion about eth2 and the Prysm client.

[2020-07-17 16:52] #6621 closed

[2020-07-17 16:52] samuelbrunner commented on #6621
Okay no more fun with Epstein so

[2020-07-17 17:04] terencechain commented on #6593
No longer reproducible. The last few batch block improvements PR must have fixed this

[2020-07-17 17:04] #6593 closed

[2020-07-17 17:58] farazdagi opened #6622 "[Tracking] Peer scoring service"
# 💎 Issue

### Background

Issue to track progress on peer scoring and rate limiting service implementation.

### Description
- [ ] Refactor "bad responses counter" into peer scoring system #6579
- [ ] `init-sync` slow peer (peers returning low number of blocks, constantly) descoring and throttling
- [ ] `init-sync` weak peer (peers returning blocks that are not processable, low average slots adva

[2020-07-17 22:35] farazdagi commented on #6590
Working on `rpc`.

[2020-07-17 22:56] #6337 closed

[2020-07-17 22:57] #5176 closed

[2020-07-17 22:58] terencechain commented on #6590
Working on `shared`.

[2020-07-17 23:23] ayushpateria commented on #6534
Also, it would be great we can have all the design docs you guys wrote somewhere.

[2020-07-18 10:39] samuelbrunner opened #6632 "Why Prysm support the rape of children ?"
I get banned for no reason, on a room with the purpose of talking about everything.

i did not post any shocking photo and didn't say nothing, just 5 photos.

I just posted some photos of Epstein !

Nobody told me anything and i get banned now.

NEXT TIME, BUT A BIG TEXT IN YOUR WEBSITE, SAYING YOUR DON'T WANT PEOPLE TALKING ABOUT PEDOPHILE.

SO YOU WANT TO MAKE MONEY BUT WANNA SHUT UP PEOPLE MOUT

[2020-07-18 10:46] samuelbrunner opened #6633 "Prysm net is used by pedophile network"
Alert ! Prysm network is used by pedophile !
@prysmrapechildrend

[2020-07-18 10:48] samuelbrunner opened #6634 "Pysm net is used by pedophile, they ban be because i found the true !"
Be aware Prysm lab is owned by pedophile, you will get banned if your report the true !

[2020-07-18 10:50] samuelbrunner opened #6635 "I will tell everyone you gonna use your network for pedophile crime"
It's my new duty to stop this network

[2020-07-18 10:51] samuelbrunner opened #6636 "I wil report your to the fbi for helping pedophile !"
You gonna have big problem, hidding pedophile crime is against the law !

[2020-07-18 10:56] #6634 closed

[2020-07-18 10:59] #6636 closed

[2020-07-18 10:59] #6635 closed

[2020-07-18 10:59] #6632 closed

[2020-07-18 10:59] #6633 closed

[2020-07-18 11:33] samuelbrunner commented on #6634
https://youtu.be/Wl5HtBmlKW8

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Saturday 18 July 2020 12:56, Victor Farazdagi <notifications@github.com> wrote:

[2020-07-18 11:34] samuelbrunner opened #6637 "Prysm is illegally covering child abuse"
https://youtu.be/Wl5HtBmlKW8

[2020-07-18 11:42] samuelbrunner commented on #6637
Alert ! Prysmlab eth 2.0 network is illegally covering child abuse ! Please, report prysm lab network to the FBI !

[2020-07-18 11:51] #6637 closed

[2020-07-20 00:34] farazdagi commented on #6590
Working on `validator`.

[2020-07-20 10:58] farazdagi commented on #6590
Working on `validator/client`.

[2020-07-20 15:24] nisdas opened #6655 "Node is Unable to be Fully Synced"
# 🐞 Bug Report

### Description

Thanks to @djrtwo for bringing this up.

If all the nodes in a network are started up at the same time a few epochs after genesis, none of the nodes become healthy enough to be 'synced' and for validators attached to those nodes to end up producing blocks. What eventually happens is that the network stalls.

### Has this worked before in a previous version?

N.A

#

[2020-07-20 15:25] farazdagi commented on #6590
Working on `validator/keymanager`.

[2020-07-20 15:32] terencechain commented on #6655
To reproduce, the N can be as low as 1 epoch

[2020-07-20 16:50] rkapka commented on #6590
Working on `forkchoice`.

[2020-07-20 17:51] terencechain commented on #6215
This is addressed by this: https://github.com/prysmaticlabs/prysm/pull/6488

[2020-07-20 17:51] #6215 closed

[2020-07-20 20:23] #6619 closed

[2020-07-20 20:23] #6620 closed

[2020-07-20 22:23] terencechain opened #6658 "Beacon state append validator bottleneck"
To append a validator in the beacon state, there's one very inefficient part and that is to update validator pubkey to index mapping.  We update from scratch for every validator
[code]

Let's look at what `ValidatorIndexMap` does:
[code]
`ValidatorIndexMap` loops through the input validators list and construct a mapping of validator public key to id.

Now imagine doing the above for every validato

[2020-07-21 10:42] tintinweb opened #6665 "Req/Respone: Ping/Metadata - Verify that metadata.seq_nr is strictly increasing"
# 🐞 Bug Report

### Description

Hey guys, just stumbled upon this and wanted to make sure you are aware of it.
Prism does not seem to enforce that the sequence_nr is strictly increasing when updating the metadata of a node.

[Spec](https://github.com/ethereum/eth2.0-specs/blob/master/specs/phase0/p2p-interface.md#metadata)

The spec states that nodes must increment the sequence nr. If for whateve

[2020-07-21 12:59] nisdas commented on #6665
Hey @tintinweb , thanks for this bug report ! This does definitely does look incorrect on our part, I will try to get this fixed over the next few days.

[2020-07-21 20:07] stefa2k opened #6669 "Validator dies when grpc connection returns 503"
# 🐞 Bug Report

### Description

I'm using haproxy to have failovers for all services including beacon-chain. All my beacon-chain nodes were unhealthy and therefore not able to serve grpc requsts, so haproxy returns http code 503 to validator's requests (expected behaviour). This causes the validator service to die (unexpected behaviour). The validator's restart can cause heavy cpu loads due to de

[2020-07-21 21:11] prestonvanloon commented on #6669
Thanks for the report! gRPC retries were not configured correctly for gRPC streams, which is what the validator uses on initial contact for the beacon node.

I've added PR #6670 which includes the following fixes and improvements:
- Fix gRPC stream retry. This will now retry based on the flag value `--grpc-retries`
- Add a configurable retry backoff, configurable by `--grpc-retry-delay`, default o

[2020-07-22 07:01] stefa2k commented on #6669
Thanks @prestonvanloon

Just a quick question, is `-1` also supported?

[2020-07-22 07:10] stefa2k opened #6673 "Some attestations fail to include in chain"
# 🐞 Bug Report

### Description

Some attestations fail even if logs indicate that attestation got submitted. Looks like this happens for all my accounts.

**Steps I consider, will report later:**
1) disable external slasher protection on service validator https://github.com/stefa2k/prysm-docker-compose/blob/5f025af7d18dfaab599fc09f0cf569ff6bb8829a/config/ha/validator-wallet.yaml#L15 -> **didn't w

[2020-07-22 09:29] dapplion opened #6675 "Validator version info still prints alpha.15"
Current validator version info has the correct build time `Built at: 2020-07-21 00:49:02+00:00` but the wrong version `validator version Prysm/v1.0.0-alpha.15`. See full output below:

[code]

[2020-07-22 14:36] rauljordan commented on #4507
Can we close this one @farazdagi ?

[2020-07-22 14:39] rauljordan commented on #5801
@prestonvanloon following up on this thread

[2020-07-22 14:43] farazdagi commented on #4507
Not yet, I will re-visit attestations at the end of the week (I have semi-ready branch, that optimizes attestation selection by proposer), and file one more PR, to wrap this functionality up.

[2020-07-22 14:43] rauljordan commented on #5682
Is this still relevant @nisdas ?

[2020-07-22 14:44] #5779 closed

[2020-07-22 14:44] rauljordan commented on #5827
Bump @terencechain @nisdas have we observed this since?

[2020-07-22 14:45] rauljordan commented on #6320
Bump @nisdas

[2020-07-22 14:46] rauljordan commented on #6314
Any update on this @farazdagi ?

[2020-07-22 14:47] rauljordan commented on #6324
Hi @farazdagi wondering if you know about this issue or if it is still relevant

[2020-07-22 14:48] rauljordan commented on #6104
Is this resolved by your append validator optimization @terencechain ?

[2020-07-22 14:48] rauljordan commented on #6255
Bump @nisdas

[2020-07-22 14:49] rauljordan commented on #6070
Hi @peterbitfly wondering if you have more input on this

[2020-07-22 14:50] rauljordan commented on #6036
Closing in favor of #6063

[2020-07-22 14:50] #6036 closed

[2020-07-22 14:51] rauljordan commented on #6043
Update on this @farazdagi ? Is #6622 up to date?

[2020-07-22 14:54] rauljordan commented on #5979
this is no longer an issue. We observe very situational 2.3s spikes, but nothing out of the ordinary as of current Onyx

<img width="1048" alt="Screen Shot 2020-07-22 at 9 54 07 AM" src="https://user-images.githubusercontent.com/5572669/88191728-5d441d00-cc01-11ea-9abd-822b4f53e620.png">

[2020-07-22 14:54] #5979 closed

[2020-07-22 14:56] handelaar2 commented on #6036
I don't see the relation with #6063. This issue waiting for PR #6576 from Fabrice to be merged

[2020-07-22 15:24] rauljordan commented on #6220
Pending small items to wrap this up @0xKiwi
- [ ] Rename accounts-v2 new to create for consistency
- [ ] No mnemonics for direct, we should only show the hex private withdrawal key to stdout
- [ ] Make `direct` a bit more clear, perhaps in comments or elsewhere, that it is a non-HD keymanager (maybe consider renaming altogether)
- [ ] Remove the `CanUnlockAccounts` property from a wallet. This was

[2020-07-22 15:38] terencechain commented on #6104
Sounds like it should. I'm going to close this until there's further notice

[2020-07-22 15:44] #6256 closed

[2020-07-22 15:46] nisdas commented on #6256
@SomervilleM @pappas999 @Phistr90 , this should be resolved in the next release of alpha.17. Or alternatively if you are running docker, you can try with `latest`

[2020-07-22 16:01] terencechain opened #6680 "Alpha15 `headslot` lags one slot behind"
# 🐞 Bug Report

### Description

As reported by @nisdas and co, we have seen strong evidences that Alpha15's `HeadSlot` lags behind alpha14's `HeadSlot`
![Screen Shot 2020-07-22 at 8 57 37 AM](https://user-images.githubusercontent.com/21316537/88199366-9f696080-cbf9-11ea-850e-c4b994923042.png)

This is where HeadSlot gets requested in Eth2stats:
https://github.com/Alethio/eth2stats-client/blob/mas

[2020-07-22 17:05] #6680 closed

[2020-07-22 17:24] stefa2k commented on #6669
I run docker tag `HEAD-62ae22` now and it looks like setting `--grpc-retries` to `18446744073709551615` [in my configs](https://github.com/stefa2k/prysm-docker-compose/blob/63f982ee5dc13a32b960a13bea559ae73846ffe8/config/ha/validator-wallet.yaml#L12) doesn't have any effect, the logs still look the same:
[code]

[2020-07-22 17:31] stefa2k opened #6682 "Healthz of beacon returns incorrect status before syncing"
# 🐞 Bug Report

### Description

When starting the beacon-chain service and querying `/healthz` the endpoint returns no errors, but only `OK`s like this:
[code]
At the same time it logs something like this:
[code]

The beacon-chain then enters syncing (connects to peers, loads blocks, ...) and the status change to this:
[code]

I'd expect seeing `ERROR` when the service isn't started yet. When eve

[2020-07-22 18:00] farazdagi commented on #6590
Wrapping up validator related tests: `validator/db`,  `validator/accounts`, `validator misc`

[2020-07-22 18:14] #6655 closed

[2020-07-22 18:30] xuyenvuong commented on #6673
Additional logs

Validator logs
`time="2020-07-22 13:07:20" level=error msg="Could not submit slot signature to beacon node: rpc error: code = Internal desc = Could not find attestation for slot and committee in pool" prefix=validator slot=275949
time="2020-07-22 13:07:24" level=error msg="Could not submit attestation to beacon node" error="rpc error: code = DeadlineExceeded desc = context deadlin

[2020-07-22 21:03] prestonvanloon commented on #6308
Reopened by #6691

[2020-07-22 21:22] prestonvanloon commented on #6669
Can you try a different value other than max uint?
Can you please attach logs at debug level?

When I tried it with --grpc-retries=10000 and --verbosity=debug, i could see the following logs to indicate that it was retrying.

[code]

There may be an issue with reading from a config file, but that would be separate from this issue.

[2020-07-22 21:29] prestonvanloon commented on #6675
Sorry about that! This is a cosmetic issue only, 0e4cb68249892daa9e142ae6033da202c7fb01bb is the correct commit and that is what your log is indicating so you're running the correct code for alpha.16.

I accidentally stamped the binary with the wrong git tag and DAppNode picked up the incorrectly stamped binaries before I could fix it.

cc: @eduadiez

Edu, if you could reupload the binary assets t

[2020-07-22 21:41] dapplion commented on #6675
No problem! Glad it already fixed :heart: We will probably stick to this version because the Aragon Package Manager would require to publish a new version to amend any file. But @eduadiez has the last word.

[2020-07-22 21:42] #6675 closed

[2020-07-22 22:06] farazdagi commented on #6590
Working on `beacon-chain/db`.

[2020-07-22 23:07] herumi commented on #6320
The fixed version at https://github.com/prysmaticlabs/prysm/issues/6320#issuecomment-647037643 uses the same flag https://golang.org/src/crypto/rand/rand_windows.go , so I don't think this problem will happen.

[2020-07-23 01:33] prestonvanloon commented on #6531
Bumping this to high priority as we're starting to see it in production.

[2020-07-23 02:04] nisdas commented on #6320
Yeap we can close this now @prestonvanloon @rauljordan , it has been resolved as @herumi has described.

[2020-07-23 02:04] #6320 closed

[2020-07-23 05:01] terencechain commented on #6308
Removing good first issue label

[2020-07-23 05:02] prestonvanloon commented on #5801
My main point here is that `latestEth1DataHeight` only changes every 4 hours, so we don't need to reconstruct this trie again until another Eth1Data is inserted into the beacon state. I believe the caching helped fetching the deposits, but this methods still calls the expensive `GenerateTrieFromItems`.

[2020-07-23 07:59] guybrush commented on #6070
In the last posted chart here: https://github.com/prysmaticlabs/prysm/issues/6070#issuecomment-653802308 the reported network-liveness was very high arround the epoch ~880, see epochs 881 and 883:

https://altona.beaconcha.in/epoch/881 - 1ETH voted, 0% participation rate (as reported by api)
https://altona.beaconcha.in/epoch/883 - 1ETH voted, 0% participation rate (as reported by api)

For partici

[2020-07-23 08:01] guybrush commented on #6070
This is from the node we currently use for altona.beaconcha.in:
[code]

This is from a node I am using for doing my experiments:
[code]

So I am guessing that the state in the database is still wrong on our altona-production-node and I can only fix it by resyncing a new node and delete the wrong entries.

[2020-07-23 08:21] nisdas commented on #6308
Given that this takes 25 minutes to run is it still relevant now ?

[2020-07-23 10:47] farazdagi opened #6701 "More sophisticated peer pruning"
# 💎 Issue

### Background

Currently, we prune peers beyond some configured limit. Peers with relatively low number of bad responses are pruned first. Pruning mechanism relies on number of bad responses only, and we can extend it to use `PeerScorer` for a more fine-grained operation.

### Description
- Once `init-sync` related scoring functionality is merged (to track, see #6622), we can use `Peer

[2020-07-23 10:47] stefa2k commented on #6669
Tried it with the params you mentioned (10000 and debug) and got the following:
[code]

It looks like its not read off of the config file. But every other setting (e. g. `verbosity: debug`) gets read correctly.

[2020-07-23 11:17] stefa2k opened #6702 "beaconchaindata grows large very fast"
# 🐞 Bug Report

### Description

Beaconchaindata grows large very fast and occupies more than 30gb on Onyx. Running beacon with `historical-slasher-node: yes` and slasher with `enable-historical-detection: yes`.

### Has this worked before in a previous version?

Yes, docker tag `HEAD-c26151` worked fine.

## 🔬 Minimal Reproduction

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

[2020-07-23 12:20] shayzluf opened #6703 "External slasher protection fail silently"
# 🐞 Bug Report

### Description

when running a validator with `--enable-external-slasher-protection` and slasher is not reachable attestations are being sent and only warning messages are being emitted

### Has this worked before in a previous version?

not sure

## 🔬 Minimal Reproduction

run `bazel run //validator -- --grpc-headers="api_key=zfB005FncyblbQ2XuF46YOICE3hr4g4P0iKt12xXUl6A43Q8" --be

[2020-07-23 16:02] rkapka commented on #5801
This part of the code executes whenever there are any finalized deposits. The cached trie is used instead of a call to `GenerateTrieFromItems`. If there are no new non-finalized deposits, then the cached trie is returned directly, otherwise the non-finalized deposits are inserted into the cached trie.

`GenerateTrieFromItems` is called only in the special case when the deposits cache is empty.
htt

[2020-07-23 16:13] terencechain opened #6705 "`is_valid_merkle_branch` is out of date"
Our `is_valid_merkle_branch` implementation:
[code]

Spec's `is_valid_merkle_branch` implementation:
[code]

Spec uses input `depth` to loop through each layer while our implementation relies on length of the proofs. One can argue it's the same but to be safe we should update to the spec version. This also makes it more extensible to be used for phase 1

[2020-07-24 06:26] fabdarice commented on #6705
I can tackle this.

[2020-07-24 12:25] nisdas commented on #6665
@tintinweb you can keep an eye on #6711 , it should resolve the issue.

[2020-07-24 15:02] terencechain commented on #6705
Thanks @fabdarice

[2020-07-24 19:31] rkapka opened #6715 "[Mega issue] - Accounts Revamp testing feedback"
# Information

- [ ] **THIS SHOULD BE CHECKED ONLY AFTER ALL ISSUES HAVE BEEN CHECKED AND RETESTED**

Check an issue if it has been fixed and merged into `master`. Add the PR number to the issue.
Cross out an issue if it has been retested after fixing.
Check and cross out an issue if it will not be fixed. Please specify the reason for not fixing it (e.g. "not a bug because (...)", "not important e

[2020-07-24 19:33] terencechain opened #6716 "Align to v0.12.2"
This PR tracks to the progress to align Prysm to v.0.12.2 which is the target version for Medella testnet
https://github.com/ethereum/eth2.0-specs/releases/tag/v0.12.2

## Beacon chain ⛓️

- [x] Add DEPOSIT_CHAIN_ID and DEPOSIT_NETWORK_ID to configuration (https://github.com/ethereum/eth2.0-specs/pull/1988)
- [x] [non-substantive] Compute committee count per slot is epoch based and rewrite gossip

[2020-07-25 14:48] raphpa commented on #6715
Running `docker run --rm -ti -v /data/docker/medala:/data gcr.io/prysmaticlabs/prysm/validator wallet-v2 create` and trying to interactively creating a wallet:
When asking for a wallet directory `backspace` does not do anything and pressing the `delete` key crashes the process with
[code]

[2020-07-25 16:12] rkapka commented on #6715
One more thing I would like to add here. The directory of the wallet is needed to interact with that wallet's accounts. If the directory is hidden it will be difficult to find it.

[2020-07-25 16:53] #6665 closed

[2020-07-25 18:03] raphpa commented on #6715
When you are manually specifying a path to the wallet directory interactively it always adds `.prysm-wallet-v2` to the given path. So you are actually have to specify the wallets' parent directory. I do not think this is the expected behaviour

[2020-07-25 18:59] rkapka opened #6723 "[Mega issue] - Accounts Revamp testing feedback: HD Wallets"
# Information

Tested on Ubuntu 20.04

# Issues

## Wallet

### HD

JULY 25

- [ ] The following prompt is displayed when creating a new wallet:

Typing anything other than `y` results in the same behaviour, so the `N` option does not make much sense. Furthermore, typing `Y` does not confirm although it should. Maybe it would be better to change `[y/N]` to `[y/Y]`?

- [ ] When recovering the walle

[2020-07-26 00:46] nisdas commented on #6723
Can we just put all the feedback into one issue. Ex: #6715 , otherwise this becomes fragmented and hard to track. I dont see the need to have 2 Mega Issues for Accounts Revamp testing

[2020-07-26 09:37] rkapka commented on #6723
Merged with #6715.

[2020-07-26 09:37] #6723 closed

[2020-07-26 13:48] handelaar2 commented on #6673
I think I have the same issue: validator log deadline exceeded.
`[2020-07-26 13:44:41] DEBUG gRPC stream started. backend=[] method=/ethereum.eth.v1alpha1.BeaconNodeValidator/WaitForChainStart
[2020-07-26 13:44:41]  INFO validator: Waiting for beacon chain start log from the ETH 1.0 deposit contract
[2020-07-26 13:44:41]  INFO validator: Beacon chain started genesisTime=2020-06-14 05:17:24 +0000 U

[2020-07-26 21:26] terencechain opened #6728 "onBlockInitialSyncStateTransition is very slow"
# 🐞 Bug Report

### Description

Initial syncing with `--disable-initial-sync-verify-all-signatures` is broken. Getting 10bps versus previous 80bps in my local setup.
![Screen Shot 2020-07-26 at 12 38 03 PM](https://user-images.githubusercontent.com/21316537/88488994-3873e080-cf46-11ea-9ff4-c9493177a433.png)
Upon further investigation, for every block, it's replaying blocks to get parent state.
![

[2020-07-27 00:10] #6728 closed

[2020-07-27 08:20] Buttaa opened #6734 "[Medalla] Could not determine if beacon chain started"
Docker, Windows & macos

`docker run -it -v e:/prysm:/data --network="host" gcr.io/prysmaticlabs/prysm/validator:latest --keystore-path=/data --datadir=/data --password=yourPassword --medalla`

`docker run -it -v e:/prysm/:/data -p 4000:4000 -p 13000:13000 gcr.io/prysmaticlabs/prysm/beacon-chain:latest --datadir=/data --medalla`

![cmd_2020-07-27_13-19-54](https://user-images.githubusercontent.com

[2020-07-27 13:34] metanull-operator opened #6735 "Beacon Chain Metrics validator_count for Active Validators Incorrectly Accounting for Exits"
# 🐞 Bug Report

### Description

 Beacon chain metrics active validator count may be incorrectly subtracting exiting validators.

Last night I started exiting 1100 validators. I have a grafana chart that shows validator_count for both "exiting" and "active" validators. I expected the exiting value with jump up to 1100 immediately, showing that the exit queue is now 1100 validators larger. This is

[2020-07-27 14:00] rkapka commented on #4604
Please assign me to this issue.

[2020-07-27 15:50] terencechain opened #6737 "Could not determine active validator count from pref genesis stat"
The following error happened with `--medalla`

To reproduce, you just have to restart your beacon node once before processing any eth1 deposit. The pre genesis state's validator will be nil and it'll be used for active count

![Screen Shot 2020-07-27 at 8 45 47 AM](https://user-images.githubusercontent.com/21316537/88562843-0d40ce00-cfe6-11ea-8b49-30a308409893.png)

[2020-07-27 15:57] metanull-operator commented on #6735
This chart may illustrate my point better. Here you see that the exit queue is slowly dwindling as validators are exited, but the active validator count has already counted those as exited.

![image](https://user-images.githubusercontent.com/54516310/88563716-8690ee80-cfef-11ea-8593-8705a3f7b8f4.png)

[2020-07-27 16:19] mrabino1 opened #6738 "Hash Token Defense"
Prysm proposal

Token hash defense

This is really for advanced node operators that have more than 5 validators running on a node

In this proposal we have four fundamental attributes to add to prysm:
max number of replicas
replica_id
time between node rotation
collision gap between node rotation

Abstract:
Given an attack vector to inhibit finality being the DDOS to overwhelm the known and announ

[2020-07-27 16:45] terencechain commented on #6734
The problem here is:
1.) Beacon node doesn't have a genesis state (eg. hasn't reached 16384 deposits)
2.) Beacon chain hasn't started

That is why validator err'ed out and correctly reported `Could not determine if beacon chain started`

[2020-07-27 17:02] raphpa commented on #6734
I think the error message is a bit misleading here.

Your beacon-chain is listening to 127.0.0.1
Running docker this is the local interface within the container and not visible to the outside world. Your validator cannot connect to it, even via the 'host' network (which should be avoided anyways).

What you want to do is:
- Create a docker network
`docker network create --attachable medalla`

- St

[2020-07-27 17:35] #6737 closed

[2020-07-27 17:54] terencechain commented on #6735
The described behavior was correct. Let's take a look at the eth2.0 spec. The definition for active is:

[code]

In this case, the current epoch has likely exceeded your validators exit epoch. Hence they were no longer active

The pending exit queue is different than the "active" status. While you are validators are still in the pending active queue, they are still expected to perform their duties

[2020-07-27 17:54] #6735 closed

[2020-07-27 19:12] terencechain commented on #6716
Completed. We are complied fully v0.12.2

Thanks @nisdas !

[2020-07-27 20:06] #6703 closed

[2020-07-28 01:29] terencechain commented on #6716
Closed too early `Update gossipsub config params` is not yet done

[2020-07-28 07:03] Buttaa commented on #6734
Shouldn't i still be able to have the validator client running at least? It throws an error and stops running..

[2020-07-28 08:19] Rcvisual opened #6745 "The document page cannot be accessed"
https://docs.prylabs.network/

[2020-07-28 08:47] niharrs opened #6746 "Peers getting disconnected. Zero active peers."
# 💎 Issue

### Background

 I am setting up an eth2 validator client on testnet. After sometime into the syncing process, peers dropped to zero and I am getting the following log:

### Terminal log

`[2020-07-28 13:46:46]  INFO initial-sync: Block is not processed error=slot 101496 already processed
[2020-07-28 13:46:46]  INFO initial-sync: Block is not processed error=slot 101497 already processe

[2020-07-28 09:28] chsatyap opened #6747 "DeepSource: Potential code quality issues found"
I forked this repo a while ago and ran a DeepSource analysis on it. DeepSource found a variety of different issues categorized based on their types and severity which you can view [here](https://deepsource.io/gh/chsatyap/prysm/).

Brief description -
Anti-Patterns: 341
Bug Risks: 300
Performance issues: 9
Security Issues: 1

You can find a detailed description and fixes for some of them [here](htt

[2020-07-28 14:03] MysticRyuujin commented on #6745
Same, 404 error

[2020-07-28 14:05] terencechain commented on #6745
@prestonvanloon something under your radar?

[2020-07-28 14:06] terencechain commented on #6734
I agree. That would be nice...

[2020-07-28 15:02] prestonvanloon commented on #6747
This is great! We discussed in the team that we would like to fix as many of these issues as we can.

We want to add new static analysis to our build tooling for some of these issues.

I think these are a few good places to start that wouldn't require a static analyzer.
- [unused code](https://deepsource.io/gh/chsatyap/prysm/issue/SCC-U1000/occurrences)
- [Using a deprecated function, variable, co

[2020-07-28 16:56] terencechain opened #6750 "ancestor via db cause resource exhaustion"
# 🐞 Bug Report

### Description

As reported in the Discord channel and observed in clusters. The current Onyx testnet nodes have been using significantly more resources and that's due to long duration of epochs since finality. At this time of writing this, there's ~200 epochs since finality. https://beaconcha.in/.

The biggest bottleneck is retrieving ancestors for block via DB

![Screen Shot 202

[2020-07-28 16:59] GuillaumeMiralles commented on #6377
I haven't seen this happening in a while + nobody talked about it in discord either, I close it. I'll reopen it if I see this behavior happening again.

[2020-07-28 16:59] #6377 closed

[2020-07-28 17:03] raphpa commented on #6750
In my case it is approaching nearly 100% of CPU and memory usage on two different nodes

[2020-07-28 17:39] stefa2k commented on #6750
Filtered my beaconchain log to only visualize warning/error/fatal:

[finality issues.txt](https://github.com/prysmaticlabs/prysm/files/4990125/finality.issues.txt)

[2020-07-28 17:41] stefa2k commented on #6750
Also some statistics:
![image](https://user-images.githubusercontent.com/54934211/88701401-42ded780-d10a-11ea-8f38-b3d6d03f1b7b.png)

[2020-07-28 17:43] terencechain commented on #6750
Thanks @stefa2k @raphpa

There's multiple issues that contribute to resource exhaustion. This is just the first one. I'll be opening more issues today.

Thanks again for closely monitoring and prompt reporting

[2020-07-28 20:29] #4117 closed

[2020-07-28 22:29] #6750 closed

[2020-07-29 03:25] prestonvanloon commented on #6745
This has been resolved. Thanks

[2020-07-29 03:25] #6745 closed

[2020-07-29 04:19] #6334 closed

[2020-07-29 10:03] jerryji opened #6763 "Will there be a Medalla release before 3-Aug-2020 ?"
Sorry for not knowing a better channel for such a question.

[2020-07-29 10:07] jerryji opened #6764 "How to import eth2.0-deposit-cli/validator_keys ?"
How to import (partial) eth2.0-deposit-cli/validator_keys created from https://medalla.launchpad.ethereum.org/ ?

[2020-07-29 10:07] nisdas commented on #6763
Hey @jerryji , for any questions on our releases our discord channel would be the best place:
https://discord.gg/99PXZDT. To answer your question, yes there will be a release before medalla is released. For
anymore questions please ask them in our discord channel.

[2020-07-29 10:07] #6763 closed

[2020-07-29 10:08] nisdas commented on #6764
Same reason as #6763 , please ask this in our discord channel.

[2020-07-29 10:08] #6764 closed

[2020-07-29 10:10] nisdas commented on #6746
Could you provide more details on the system you were running. Ex: OS, Arch, RAM, etc.
Also was there any trigger for the sudden disconnects or was this something that happened randomly ?

[2020-07-29 10:38] mrabino1 commented on #6738
As a follow-on... if we only follow a defined sequence as outlined above and repeat it.. over enough time, that sequence could also be tracked and "broken". Thus, in a similar way we have a OTP that creates 6 (or X) digits based on the hash of the current time and the secret, we need to include a constraint of max #... but otherwise, the objective is that sequence of which replica is allowed to ta

[2020-07-29 14:02] terencechain opened #6765 "Attacknet - l4 dos attack ruins prysm p2p connectivity and stops finality"
This issue tracks the overall progress of addressing the following attacknet incident, the resolutions and the logs:
https://github.com/ethereum/public-attacknets/issues/9

[2020-07-29 14:20] AlexSSD7 commented on #6765
This issue can be solved by temporarily banning IPs that are flooding prysm's P2P port.

[2020-07-29 14:26] nisdas commented on #6765
Linking this comment from the main issue to shed more light on this:
https://github.com/ethereum/public-attacknets/issues/9#issuecomment-665696739

[2020-07-29 14:52] chsatyap commented on #6747
Thank you for your inputs! Issues that you don't wish to be tracked can be ignored and they shouldn't show up again. I'd look into the static analysis addition and let you know.

[2020-07-29 17:10] rkapka opened #6766 "Feature Flag Tracking: enableEth1DataMajorityVote"
# 🦄 Feature Tracking

**Current status** (opt-in or opt-out):
Opt-in

**Opt-in feature flag name**:
`enableEth1DataMajorityVote`

**Opt-out feature flag name**:
`disableEth1DataMajorityVote`

### Feature Description
 When enabled, voting on eth1 data will use the Voting With The Majority algorithm.

### Tasks

- [x] Feature flag created as opt-in
- [x] Feature implemented / code complete #6644
- [

[2020-07-29 18:44] prestonvanloon commented on #6104
@terencechain wasn't the append validator optimization rolled back?
https://github.com/prysmaticlabs/prysm/pull/6659
https://github.com/prysmaticlabs/prysm/pull/6710

[2020-07-29 18:57] terencechain commented on #6104
@prestonvanloon That's correct. This should be opened

[2020-07-29 23:20] prestonvanloon opened #6774 "Unskip TestSetupInitialDeposits_1024Entries"
https://github.com/prysmaticlabs/prysm/blob/cb045dd0e360192fb9e46314b3954f3bf58f4871/shared/testutil/deposits_test.go#L11

PR #5119 was merged so it's time to resolve this TODO.

[2020-07-30 00:46] 0xKiwi opened #6777 "Accounts-V2: Re-enable export command"
This is a tracking issue for the export command, the import command has been largely reworked to fit launchpad and the export feature is stale and of lower priority so we are disabling it for now. This is a tracking issue to maintain that it needs to be completed.

[2020-07-30 02:42] zq19 opened #6779 "INFO initial-sync: Waiting for enough suitable peers before syncing required=3 suitable=0"
After i run the below code：./prysm.sh beacon-chain --datadir=$HOME/.eth2

it happening：
INFO initial-sync: Waiting for enough suitable peers before syncing required=3 suitable=0
INFO initial-sync: Waiting for enough suitable peers before syncing required=3 suitable=0
INFO initial-sync: Waiting for enough suitable peers before syncing required=3 suitable=0
.......

[2020-07-30 16:00] jtesta opened #6783 "Beacon Chain Sync Errors"
# 🐞 Bug Report

### Description

When running `./prysm.sh beacon-chain` (version alpha16), there seems to be trouble syncing blocks; errors with stack dumps are printed.  I've restarted the service several times in the last 4 days, but the same errors are still encountered.  The machine was also rebooted to no effect.

### Has this worked before in a previous version?

This error was not encounter

[2020-07-30 17:36] prestonvanloon opened #6786 "--enable-eth1-data-majority-vote fails long running e2e tests"
# 💎 Issue

### Background

Introduced in PR #6644, e2e has been failing consistently.

### Description

![Screenshot from 2020-07-30 10-35-14](https://user-images.githubusercontent.com/7246818/88955179-6ad85300-d250-11ea-8fd9-e2089f5827a1.png)

https://buildkite.com/prysmatic-labs/prysm-e2e/builds/8830#66c4d791-2b6b-4117-9aa3-a5717f36f619

[2020-07-30 17:38] #6774 closed

[2020-07-30 18:42] #6765 closed

[2020-07-30 20:22] prestonvanloon commented on #6786
E2E still failing for #6787. @0xKiwi and I are looking into it.

[2020-07-30 21:47] impact4him opened #6791 "INFO roughtime: New calculated roughtime offset is -17744575 ns beacon-node sync"
# 🐞 Bug Report

### NFO roughtime: New calculated roughtime offset is -17744575 ns beacon-node sync

 when launching  beacon node from docker. i'm getting this msg: INFO roughtime: New calculated roughtime offset is -17744575 ns shortly after [2020-07-30 17:41:43]  INFO powchain: Processing deposits from Ethereum 1 chain deposits=13824 genesisValidators=13584

### Has this worked before in a previ

[2020-07-31 03:30] #6220 closed

[2020-07-31 06:44] PatoCanardo opened #6794 "--passwords-dir flag ignored"
# 🐞 Bug Report

### Description

When using **--passwords-dir** flag, it seems to be ignored (validator client use the default location instead)

### Has this worked before in a previous version?

First time using account-v2

## 🔬 Minimal Reproduction

**config-validator.yaml :**
wallet-dir: "./wallet-v2/prysm-wallet-v2"
passwords-dir: "./wallet-v2/prysm-wallet-v2-passwords"

wallet-dir is used co

[2020-07-31 06:48] metanull-operator opened #6795 "Using "wallet" keymanager attempts to open v2 wallet"
# 🐞 Bug Report

### Description

I am using `--keymanager=wallet` which worked fine under alpha.16, correctly identifying my validators. When I upgraded to alpha.17, the validator is attempting to open v2 wallets without me specifying that it should.

### Has this worked before in a previous version?

No.

## 🔬 Minimal Reproduction

I ran alpha.16 with the following command and yaml file.

`prysm.

[2020-07-31 06:54] Belkaar opened #6796 "Keystore keymanager no longer usable"
# 🐞 Bug Report

### Description

Since 1.0.0-alpha.17 usage of the old keystore is no longer possible.

### Has this worked before in a previous version?

Yes. Worked in 1.0.0-alpha.16 .

## 🔬 Minimal Reproduction

* Put an old key store directory form a 1.0.0-alpha.16 client in /tmp/test-keystore
* Run "prysm.sh validator --keymanager=keystore --keymanageropts='{"path":"/tmp/test-keystore","passp

[2020-07-31 07:00] Belkaar commented on #6796
Probably related to #6795

[2020-07-31 07:28] handelaar2 commented on #6795
For me this seems to work as work around: `--disable-accounts-v2`

[2020-07-31 08:00] 0xKiwi opened #6797 "Accounts-V2: Import keystores in order of derivation path if possible"
### Description
Currently, if accounts are imported through the keystore files, when``accounts-v2 list` is used, the accounts are listed out of order vs. the order they are in by derivation oath.

## 🔬 Minimal Reproduction
1. Use `mnemonic recover --num-accounts=N`
2. Import keystores derived from path using `accounts-v2 import --keys-dir=/path/to/keys/` on a different wallet path.
3. Use `account

[2020-07-31 08:10] ChristianCoenen opened #6798 "Wrong version is shown when running latest docker images"
# 💎 Issue
Wrong version is shown when running latest docker images

### Background

1. Removed all files / container / images that I had for Onyx.
2. Fetched the latest images (If I understood the 'Build at' line in the screenshot correctly, it can be seen that I really started the latest one).
3. Went through the Medalla docker setup documentation to run the validator and beacon chain

### Descri

[2020-07-31 08:22] Belkaar commented on #6796
Workaround: add --disable-accounts-v2

[2020-07-31 08:37] stefa2k opened #6799 "Specifying --wallet-dir on restore doesn't work"
# 🐞 Bug Report

### Description

create-account.yaml:
[code]

Didn't work with `--wallet-dir="/data"` either.

### Has this worked before in a previous version?

No

## 🔬 Minimal Reproduction

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 20.04
  </code>
</pre>

**What version of Prysm are you running? (Which release)**

https://github.com/stefa2k/prysm-d

[2020-07-31 08:40] Buttaa opened #6800 "Key importer doesn't work to existing folder that has files in it"
Windows, binaries.

Key import only works to folders which have not been created before.

`C:\prysm` was an existing path, which caused an error

![mspaint_2020-07-31_10-38-31](https://user-images.githubusercontent.com/26490734/89017060-0aade380-d31a-11ea-975e-a7d641150497.png)

[2020-07-31 08:42] Buttaa opened #6801 "Unreadible pub key when importing keys"
Windows 10 , using binaries

![mspaint_2020-07-31_10-42-40](https://user-images.githubusercontent.com/26490734/89017434-99226500-d31a-11ea-98d4-22f9e66e72dc.png)

[2020-07-31 08:43] stefa2k opened #6802 "Wallet directory content on wallet restore"
# 🐞 Bug Report

### Description

[code]

Content should be allowed in wallet directory on `recover`. Use case: I already have 2 other wallets and want to recover a new one and make it my third one.

### Has this worked before in a previous version?

No

## 🔬 Minimal Reproduction

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 20.04
  </code>
</pre>

**What

[2020-07-31 08:46] stefa2k opened #6803 "Wallet recover doesn't work"
# 🐞 Bug Report

### Description

[code]

`wallet-dir` is empty.

### Has this worked before in a previous version?

No

## 🔬 Minimal Reproduction

## 🔥 Error

[code]

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 20.04
  </code>
</pre>

**What version of Prysm are you running? (Which release)**

https://github.com/stefa2k/prysm-docker-compose with docker tag `HEAD-f414cf`

[2020-07-31 08:53] Belkaar opened #6804 "Huge memory amount used by validator"
# 🐞 Bug Report

### Description

Validator uses lots of ram, about 2-3GB for me.
Memory usage is gradually reduced if system memory gets full as used by other processes (eth1 node for example).
After a while memory usage is normal.

### Has this worked before in a previous version?

Don't know. Did not use accounts-v2 until now.

## 🔬 Minimal Reproduction

System memory: 4gb
* Start beacon
* Start

[2020-07-31 08:57] Belkaar commented on #6804
![image](https://user-images.githubusercontent.com/2395990/89018431-2b773880-d31c-11ea-92d9-d4f6da0a1e31.png)

![image](https://user-images.githubusercontent.com/2395990/89018537-53ff3280-d31c-11ea-85d0-eb09084ecf63.png)

![image](https://user-images.githubusercontent.com/2395990/89018642-75601e80-d31c-11ea-9ce7-b292f483464b.png)

![image](https://user-images.githubusercontent.com/2395990/89018715

[2020-07-31 08:59] stefa2k commented on #6803
Resolved by removing `validator` from `command`.

[2020-07-31 08:59] #6803 closed

[2020-07-31 08:59] stefa2k commented on #6802
Resolved by removing `validator` from `command`.

[2020-07-31 08:59] stefa2k commented on #6799
Resolved by removing `validator` from `command`.

[2020-07-31 08:59] #6799 closed

[2020-07-31 11:38] stefa2k opened #6805 "Account V2 import private key"
# 🚀 Feature Request

### Description

At the moment there is no way to import a private key (hex format) into account v2.

### Describe the solution you'd like

A way to import a private key into an exisiting wallet.

### Describe alternatives you've considered

[2020-07-31 13:32] Jor-Tech opened #6806 "Unable to retrieve eth1 deposit transaction data with: accounts-v2 list --show-deposit-data"
# 🐞 Bug Report
Unable to retrieve eth1 deposit transaction data with: `accounts-v2 list --show-deposit-data`
### Description
`accounts-v2 list` works fine, but with the flag `--show-deposit-data` it gives an error:  **deposit_data.ssz: no files found**

(detailed error code below)

### Has this worked before in a previous version?
Previous version Prysm alpha16 didn't work with Medalla testnet.

#

[2020-07-31 14:08] terencechain commented on #6791
That's just an offset which can go to the negative territory. It can be positive or negative. In this PR we changed it to debug
https://github.com/prysmaticlabs/prysm/pull/6792

[2020-07-31 14:08] #6791 closed

[2020-07-31 15:41] #6716 closed

[2020-07-31 15:45] metanull-operator commented on #6795
@handelaar2 Thanks for the tip. I'll use that for now. I guess the question is: Is that how it is intended to be used?

[2020-07-31 18:17] prestonvanloon commented on #6798
Thanks for the report. This is a problem with our CI infrastructure. Here's whats going on.

1. When a PR merges to master, we immediately build and push docker images for that commit.
1. When we are evaluating a release candidate, we let it soak in a production environment for several days
1. After a release candidate has passed all of our automated and manual testing, then we create a release.

[2020-07-31 18:25] prestonvanloon commented on #6786
So we had two bugs failing CI (and CI is still flaky / failing).

We've fixed part of it with #6793. The feature flag from #6644 is still problematic though. The long running e2e test is testing deposits being activated, but with #6644 it doesn't seem to happen at the same time as the e2e expects.

You can try with
[code]

It has been failing for the check on epoch 9.

[2020-07-31 19:23] #6801 closed

[2020-07-31 19:25] crisgarner opened #6812 "FATAL accounts-v2: Could not list accounts: could not initialize keymanager"
# 🐞 Bug Report

### Description

Listing accounts or starting the validators crashes if there was an account saved before

### Has this worked before in a previous version?

N/A

## 🔬 Minimal Reproduction

- Install new Prysm client on a server that already used Prysm
- Import accounts v2 (No error was thrown) ```./prysm.sh validator accounts-v2 import --keys-dir=$HOME/eth2.0-deposit-cli/validator

[2020-07-31 20:11] prestonvanloon commented on #6796
Duplicate of #6795. Sorry about the issue! We'll consider adding some better language in this failure to avoid completely breaking existing keystores.

[2020-07-31 20:11] #6796 closed

[2020-07-31 20:14] prestonvanloon commented on #6795
@metanull-operator, We are planning to remove the old accounts management before promoting to "beta".

Sorry about the issues here. We usually set new features to be "opt-in" before they are "opt-out" but we really wanted to make accounts v2 the canonical account management as it is compatible with the EIP-2335 standard for account storage which is what all of the eth2 clients are targeting. We wa

[2020-07-31 20:24] handelaar2 commented on #6795
Preston, for me I would like to continue using ethdo for my validator/withdrawal keys.  That stopped working with v2

[2020-07-31 20:54] prestonvanloon commented on #6795
@handelaar2 OK great, thanks for that feedback.

Can you elaborate on that use case?
Why do you prefer to use ethdo / keymanageropts?

I'm happy to find a way to support ethdo keystores. Let me know what you think!

[2020-07-31 21:04] metanull-operator commented on #6795
@prestonvanloon

I probably have a few different answers to this:

1. Long term, I probably don't care too much which tools I am using for deposits. For mainnet I won't be making a thousand deposits that I need to script out. The launchpad will probably be sufficient.

1. However, I do not like that my withdrawal key and my validator keys are under the same mnemonic. Seems like a decent sized secu

[2020-07-31 21:06] terencechain commented on #6800
Updated title to `Key importer doesn't work to existing folder that has files in it`

[2020-07-31 21:18] prestonvanloon commented on #6795
Great feedback.

1. Sounds good!
2. I completely agree, I have raised this complaint before but it didn't go anywhere. It is [EIP-2334](https://eips.ethereum.org/EIPS/eip-2334) to do this. However, you have options not to use the hierarchical keystore. You can use the non-HD wallet.
[code]

3. Sounds good, I was thinking of writing a tool to migrate from accounts v1 to accounts v2.

I'm going to r

[2020-07-31 21:20] #6794 closed

[2020-07-31 21:24] prestonvanloon commented on #6795
Note: the HD wallet is recommended because it's faster to load. That's the only reason. We're working on an idea where the Non-HD wallets are stored in a single encrypted keystore such that it wouldn't take `n` rounds of decryption to start the validator.

[2020-07-31 22:08] #6806 closed

[2020-07-31 22:22] protolambda opened #6820 "Custom configuration option broken [Eth2 attacknet 2 setup]"
# 🐞 Bug Report

### Description

Medalla default configuration overwrites any custom configuration. Primary effect is a fork-version that cannot be set. For the next Eth2 attacknet I would like to use a different version from Medalla, to avoid cross-over incidents.

### Has this worked before in a previous version?

Not sure about the exact time it stopped working. But as of a week ago, for the pr

[2020-07-31 22:25] metanull-operator commented on #6795
I don't think I would use non-HD wallets under any scenario. Mnemonics are easier to back up and deal with.

[2020-07-31 23:02] metanull-operator opened #6822 "Specifying bootstrap-node via YAML config fails"
# 🐞 Bug Report

### Description

I was attempting to add the Medalla bootnodes to my YAML config file, but got an error. I tried a few different ways of including it, but all failed.

### Has this worked before in a previous version?

Never tried this before.

## 🔬 Minimal Reproduction

Start beacon chain using YAML config including any of the four variations.

[code]

[code]

[code]

[code]

Addi

[2020-07-31 23:57] prestonvanloon commented on #6822
The yaml expects an array. Try this:
[code]

Let me know if there is any way this could be more clear. I know it's not very intuitive but I don't have any ideas on how to make it better.

I'm closing for now, but let me know if that doesn't work for you. Thanks!

[2020-07-31 23:57] #6822 closed

[2020-08-01 00:08] #6800 closed

[2020-08-01 00:17] prestonvanloon commented on #6804
We've done some investigation and this is due to the scrypt parameters in [EIP-2335](https://eips.ethereum.org/EIPS/eip-2335).
We looked at the [scrypt code](https://github.com/golang/crypto/blob/123391ffb6de907695e1066dc40c1ff09322aeb6/scrypt/scrypt.go#L205) and how it allocates memory. In this investigation we found that each key allocates about 67Mb (`262144*32*8 + 64*8 = 67109376 bytes`).

Giv

[2020-08-01 00:46] #6820 closed

[2020-08-01 00:51] rauljordan commented on #6804
We are proceeding with option 2 with an automigrate feature for users that have already imported their accounts

[2020-08-01 06:04] xuyenvuong opened #6825 "Roughtime reports clock offset by 4hrs"
# 🐞 Bug Report

### Description

 Slasher was up and running on Medalla and encountered the below error. I have pinged cc: @nisdas @prestonvanloon

### Has this worked before in a previous version?

 Yes, the previous version in which this bug was not present was: alpha.16

## 🔬 Minimal Reproduction

## 🔥 Error

<pre><code>

time="2020-07-31 07:12:34" level=warning msg="Roughtime reports your cloc

[2020-08-01 06:10] xuyenvuong opened #6826 "Beacon Error due to eth2stats keeps on opening a new connection to the beacon node"
# 🐞 Bug Report

### Description
Beacon on alpha.17 was throwing these below errors after I started eth2stats Medalla (grpc.medalla.eth2stats.io:443)

 A clear and concise description of the problem...

### Has this worked before in a previous version?
Yes

 Yes, the previous version in which this bug was not present was: alpha.16 on Onyx

## 🔬 Minimal Reproduction

1. Start Beacon
2. Start eth2sta

[2020-08-01 12:18] Shammah opened #6828 "Add native Windows support through PowerShell"
### Background

A couple of people are having troubles with .bat files in combination with terminals such as Git Bash. Stuff like environment variables not being found, weird .bat logic behavior and binaries not being found (cmd.exe has no curl for example).

### Description

The current .bat file should either be replaced or superseded by a PowerShell version. PowerShell is Microsoft's preferred

[2020-08-01 12:31] msc82 opened #6830 "validator exist after entering wallet directory"
# 🐞 Bug Report

**Operating System:**
windows 10

**What version of Prysm are you running? (Which release)**
latest v 17

[2020-08-01 13:02] Belkaar commented on #6804
Without looking at the code, cant garbage collection be forced after every key import?

[2020-08-01 14:44] prestonvanloon commented on #6804
It could be done but this would make the start up process even slower with multiple keystore decryptions. Some users are reporting there keys taking several minutes to open when they have 64 to 100 keys!

Option 2 seems like the best approach since it would only use 268Mb and reduce start up time significantly when running more than one keystore.

[2020-08-01 19:20] #6830 closed

[2020-08-01 19:21] msc82 commented on #6830
Following again instructions !
No issues :)

[2020-08-01 23:13] 0xKiwi commented on #6805
Hey @rauljordan isn't this a problem you were working on?

[2020-08-02 03:01] gumforest opened #6831 "Accounts-v2: error handling passwords containing spaces"
# 🐞 Bug Report

### Description

When running ./prysm.sh validator accounts-v2 import, prsym refuses to allow passwords containing spaces. The program outputs the error message
"Entry not valid: not valid unicode"
(even though a space is valid unicode and eth2.0-deposit-cli allows the creation of passwords containing spaces).

## 🔬 Minimal Reproduction

To duplicate, run ./prysm.sh validator accou

[2020-08-02 10:14] stefa2k commented on #6802
This is not resolved by removing `validator` from the command. I'd expect the validator to ignore files & directories that are already stored in the wallet-dir as long as they don't interfere with the directory structure of the validator's wallets & passwords

[2020-08-02 10:28] nisdas commented on #5827
Still an issue @rauljordan , we still need to verify it.

[2020-08-02 12:23] rkapka commented on #6518
This seems to be doing well in long-running e2e tests since two weeks ago:
https://github.com/prysmaticlabs/prysm/pull/6391#issuecomment-660668028

Can we proceed with

[2020-08-02 15:07] alonmuroch commented on #5040
@shayzluf I couldn't open the hackmd doc, any chance you have a newer link?

[2020-08-02 15:12] alonmuroch commented on #5040
@0xKiwi where did we take the lookback value (128)?
I see a var called WeakSubjectivityPeriod.. is that it? does it appear in the spec?

[2020-08-02 15:43] terencechain commented on #6518
E2e is not enough, I'd wait until this is ran in the cluster (experimental) for the Medalla testnet for 5 days

[2020-08-02 16:32] prestonvanloon commented on #6831
Fixed by #6810. Expect this release to land in alpha.18 tomorrow. Thanks!

[2020-08-02 16:32] #6831 closed

[2020-08-02 17:56] terencechain commented on #6802
@stefa2k I believe this should be fixed in latest master. Please try again with latest master or alpha18 (to be released tomorrow)

[2020-08-02 18:17] stefa2k opened #6832 "Incorrect log level "genesis time notification""
# 🐞 Bug Report

I get a lot of these
[code]
I guess for every key loaded on the validator there is this logged once.

Beacon log:
[genesis time log.txt](https://github.com/prysmaticlabs/prysm/files/5012564/genesis.time.log.txt)

### Has this worked before in a previous version?

Yes

## 🔬 Minimal Reproduction

Load lots of keys, start validator and beacon

## 🔥 Error

## 🌍  Your Environment

**Ope

[2020-08-02 18:24] stefa2k opened #6833 "Incorrect log level "response.WriteHeader""
# 🐞 Bug Report

### Description

Getting a lot of these:
[code]

Beacon log:
[beacon log.txt](https://github.com/prysmaticlabs/prysm/files/5012577/beacon.log.txt)

### Has this worked before in a previous version?
Yes
## 🔬 Minimal Reproduction

## 🔥 Error

## 🌍  Your Environment

**Operating System:**

<pre>
  <code>
Ubuntu 20.04
  </code>
</pre>

**What version of Prysm are you running? (Which re

[2020-08-02 18:40] timjp87 opened #6834 "Failed to update assignments error=no signing key found in keys cache"
# 🐞 Bug Report

### Description

When I start the validator it crashes during the attestation schedule check.

### Has this worked before in a previous version?

This problem happened after the genesis event. I took down my beacon node to add the 3 additional prysm bootstrap-nodes because the node was not connecting to anyone. I attached to my validator tmux session and saw the crash. I restarted

[2020-08-02 18:46] prestonvanloon commented on #6834
This will be fixed in #6823

[2020-08-02 18:47] prestonvanloon commented on #6812
This will be fixed in #6823. Thanks for the report!

[2020-08-02 19:38] Buttaa opened #6835 "Ability to create seperate withdrawal & validator keys files"
Feature Request

Derive the validator private and withdrawal private key as seperate files through the mnemonic phrase.
The idea is to generate them offline and to just move the validator priv key.

[2020-08-02 20:02] #6804 closed

[2020-08-02 20:02] #6812 closed

[2020-08-02 20:02] #6834 closed

[2020-08-02 21:44] begetan commented on #6734
Run `validator-v1.0.0-alpha.17-linux-amd64` without any issues since Medalla is ready for the launch

[2020-08-02 22:09] #6702 closed

[2020-08-02 22:38] protolambda opened #6837 "Metadata RPC problem: request stream write-end not closed, Teku not responding to open write stream."
# 🐞 Bug Report

### Description

- Teku is known to not respond to an RPC request when the requesting side is not closed (cc @ajsutton)
- Prysm has weird metadata request behavior, closing the write side late: https://github.com/prysmaticlabs/prysm/blob/84697a0a5935590927957bd20cd82f5764fcb11e/beacon-chain/sync/rpc_metadata.go#L49
- Prysm has RPC metadata errors, and it somehow involves Teku peers

[2020-08-02 23:13] prestonvanloon commented on #6837
It's not clear what the bug is on the Prysm side.

After Prysm sends the metadata response, then waits up to 60 seconds for the other side to receive it and reply with EOF.
If we close the stream immediately after sending, then the receiving side my not receive any message. If Teku doesn't respond to receiving a message then the stream has a timeout before it is fully closed after 60s.

[2020-08-02 23:23] ajsutton commented on #6837
So Teku is able to request metadata from Prysm and successfully receive the response.  The problem appears to be when Prysm requests metadata from Teku.  The spec (https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/p2p-interface.md#requesting-side) says:

So for metadata, once the stream is negotiated as there's no content to write the write side should be immediately closed. Teku won'

[2020-08-02 23:31] prestonvanloon commented on #6837
Thanks @ajsutton! I talked with @protolambda offline and read your message and I see the issue now. I'm proposing a fix now and it will land before our next release tomorrow

[2020-08-03 02:15] nisdas commented on #6837
Discussed offline with @protolambda , that we decided it might be best to leave it as it is for now. If we do close the stream for writing, and then wait for the metadata to be sent by the remote peer both lighthouse and prysm nodes have issues with it. With lighthouse there were stream deadlines being hit for some reason and for prysm there were stream resets.

Another alternative solution that w

[2020-08-03 04:34] dv8silencer opened #6845 "Only one all-accounts.keystore*.json is read when starting validator or listing accounts"
🐞 Bug Report

### Description

When multiple imports are done using accounts-v2 import --keys-dir=..., each set of imported accounts ends up in an individual all-accounts json file within the direct/accounts/ folder in the wallet.  Whenever accounts-v2 list is run or when the validator client itself is started, only one of these json files are read.  Thus not all accounts are used.

### Has this w

[2020-08-03 10:36] stefa2k commented on #6802
@terencechain unfortunately it doesn't work, now validator states when starting up:
[code]

content of the directory:
[code]

[2020-08-03 16:46] terencechain opened #6850 "Panic when shutting down beacon node"
Saw the following panic when shutting down beacon node on Medalla testnet

[code]

[2020-08-03 16:47] ferranbt opened #6851 "Set the values of chain and network ID."
# 💎 Issue

Hi!
I am trying to set up a local eth2 deployment with a ganache eth1x testnet and a beacon chain connected to it. However, it fails [here](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/powchain/service.go#L374) because chainID and networkID are hardcoded values for the goerli testnet (and I cannot change either the chainID for ganache). Is there anyway we can have thi

[2020-08-03 16:57] terencechain commented on #6851
Yes, we should add cli flags for `chainID` and `networkID`

Similar to deposit contract here https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/flags/base.go#L17

[2020-08-03 17:17] remzrn commented on #6834
I still get the same error with version 593d3daf8468a86fa5325bb4af6219ae251cd48f

[2020-08-03 18:34] #6850 closed

[2020-08-03 18:50] jrhea opened #6855 "No longer able to run a local client and validator with interop params"
# No longer able to run a local client and validator with interop params

### Background

Recently ran into this issue when updating a Docker container that allows a Prysm validator to be cross-compiled and run on a Lattice1.  This worked previously when I built from commit c419e4ed8fffe4daacfe2fa262a1be8ee7304b94.  At the time, I (think) I was using the following commands to launch the beacon-cha

[2020-08-03 18:58] #6845 closed

[2020-08-03 22:12] msc82 opened #6858 "Slasher alpha 18 in windows failed to run"
windows 10
run slasher
this app cant run on your PC
access is denied
an error has occurred

[2020-08-03 22:40] prestonvanloon commented on #6858
Could you please add more information?

What version were you running?
What flags did you use?
What error did you get exactly?

Please post a screenshot if you can.

[2020-08-03 22:56] dv8silencer opened #6859 "Entering wrong password during import possibly corrupts the wallet"
🐞 Bug Report

When importing, if you enter the wrong wallet password, it will prompt you again for the correct one.  Once you submit the correct password, the program completes.  If you then try to import again (same directory or another), it will not accept the correct password.

### Description

 A clear and concise description of the problem...

### Has this worked before in a previous version?

[2020-08-03 23:20] msc82 commented on #6858
hi @prestonvanloon  it s me etherpower   ,   it s ok now after alpha 18 v2

[2020-08-03 23:20] #6858 closed

[2020-08-04 01:39] raphpa opened #6860 "Importing from an empty directory should fail immediately"
# 💎 Issue

### Description

When trying to import from an empty directory validator does not fail immediately, but asks for the accounts' passwords and completes with `Successfully imported 0 accounts`

When no json file with account data is found, validator should fail importing immediately.

## 🔬 Minimal Reproduction

`docker run --rm -ti gcr.io/prysmaticlabs/prysm/validator:latest accounts-v2 i

[2020-08-04 02:19] 2naive commented on #5972
Had similar errors:

[code]

[2020-08-04 02:20] 2naive commented on #5972
[code]

[2020-08-04 02:20] 2naive commented on #5972
Ubuntu 20.04 LTS (GNU/Linux 4.4.0-17134-Microsoft x86_64)

[2020-08-04 02:22] 2naive commented on #5972
[code]

[2020-08-04 08:41] nisdas commented on #5972
@2naive Are you running on WSL ? this is a common error when running old versions of WSL. You will have to update this.

[2020-08-04 08:57] Buttaa opened #6862 "`import` does not import all keys"
Created keys via launchpad.
The folder i am importing from has 51 keys, 1 out of the 51 has a different password. The client only imports 1 key, assumingly the one with a different password.

Workaround is via account recovery and use the new wallet

![image](https://user-images.githubusercontent.com/26490734/89274383-229aa580-d641-11ea-8454-94fc297466ae.png)

[2020-08-04 09:10] rkapka commented on #6747
Analysis from today: https://deepsource.io/gh/rkapka/prysm/

[2020-08-04 09:14] nisdas opened #6863 "Newly Created Files And Directories From Importing Keys Have Wrong Permissions"
# 🐞 Bug Report

### Description

Currently when importing validator keys the files and directories created do not have the appropriate
permissions of 0600 and 0700 respectively.

### Has this worked before in a previous version?

Alpha.17

## 🔬 Minimal Reproduction

Import new keys from the launchpad.

## 🔥 Error

The files and folders created have the wrong permissions.

## 🌍  Your Environment

*

[2020-08-04 13:52] ethers opened #6866 "ERROR sync: Failed to handle p2p pubsub error=one or more attestation signatures did not verify"
[2020-08-04 13:46:44] ERROR sync: Failed to handle p2p pubsub error=one or more attestation signatures did not verify

[code]

[2020-08-04 14:15] Radi88 opened #6867 "Running a validator systemd service file before genesis"
# 🐞 Bug Report

### Description
Before genesis I set up systemd service files for both the beacon chain and validator. Everything was working as it should and the validator showed it was activated and waiting for the beacon chain to start on genesis, and it was showing that it has to attest on slot 18. On genesis the beacon chain started and when it passed slot 18, I went to look at the validator

[2020-08-04 14:59] prestonvanloon opened #6868 "Slasher race condition can lead to slashing"
# 🐞 Bug Report

### Description

When sending multiple requests to the slasher to determine if a block proposal is slashable, there is no lock around this request and can lead to race conditions.

Here is the high level flow:
- Validator makes gRPC request IsSlashableBlock x3
- Slasher checks this request is not slashable by looking in the database
- Slasher updates the database with the slashing

[2020-08-04 15:23] prestonvanloon commented on #6468
I recommend we check there is something in the map.
[code]

[2020-08-04 15:47] yulidai opened #6869 "Keystore decryption results are strange"
# 💎 Keystore decryption results are strange

### Background

Version: v1.0.0-alpha.18

### Description
The Keystore I did not generate through the official tool is as follows:
[code]
The public key obtained after unlocking with password `$qA0bZkCLxyWVeb8Q2^S~Crjs4^!eV1B` is `9498d58444dd7570506d41455129ca4e842625ad8e80f8c6eddb935d6bcb2ca7e16146b085a220af782b34d6c6663ec9`, but after the Prysm clien

[2020-08-04 16:54] SuburbanDad opened #6870 "accounts-v2 import panic if not using default wallet directory"
# 🐞 Bug Report

### Description

 A clear and concise description of the problem...
When importing keys into a basic wallet using `prysm.sh validator accounts-v2 import --keys-dir=...` if you are using a non-default location for the wallet, a panic occurs due to segfault (see below).

**If you use the default/suggested wallet location, import works fine.**

### Has this worked before in a previous

[2020-08-04 16:55] stefa2k commented on #6673
happened again with validator no. 2107:
[code]

but shown as missed: https://beaconcha.in/validator/945d36ce4fcfc03b056ad950e9fb330ea107afc83789241dd7dfcc515d7ee9a9110477b3596a7842681a62a43eb98d4c#attestations

[2020-08-04 17:14] terencechain commented on #6673
It is included. I found the attestation by 2107. It's included in block 1122
See:  https://beaconcha.in/block/1122#pills-attestations

![Screen Shot 2020-08-04 at 10 14 03 AM](https://user-images.githubusercontent.com/21316537/89323867-3a6f2b00-d63b-11ea-83e7-5927517cfda6.png)

It looks more like a status display bug on `https://beaconcha.in/validator/`

[2020-08-04 17:30] 2naive commented on #5972
@nisdas I'll try updating it, thanks.

[2020-08-04 17:35] terencechain commented on #6673
It shows as attested now:
https://beaconcha.in/validator/945d36ce4fcfc03b056ad950e9fb330ea107afc83789241dd7dfcc515d7ee9a9110477b3596a7842681a62a43eb98d4c#attestations

Seems like the attested status is lagged

[2020-08-04 17:37] terencechain commented on #6866
This is expected. Block at slot 233 was a bad block and it got rejected. This is not a client error.

Block 233 is an invalid block. It's not included in the chain:
https://beaconcha.in/block/233
https://beaconscan.com/slot/233

[2020-08-04 17:37] #6866 closed

[2020-08-04 17:39] stefa2k commented on #6673
Thanks, yes, I could verify it with 2 more. Looks like its a bug in beaconcha.in.

[2020-08-04 17:59] stefa2k commented on #6673
Happened again, will have an eye on it but I think its simply a display bug of beaconcha.in

Thanks!

[2020-08-04 18:06] shayzluf opened #6873 "Reduce lock time in slasher protection endpoints"
# 🚀 Feature Request

### Description

slasher protection uses a global lock in
IsSlashableBlock and IsSlashableAttestation endpoints
https://github.com/prysmaticlabs/prysm/blob/c20fda02721305e8ce9c259b386e4ec94a3de663/slasher/rpc/server.go#L116

### Describe the solution you'd like

use multi lock as advised by @prestonvanloon in #6871

[2020-08-04 19:50] #6868 closed

[2020-08-04 21:28] SpyderChristian opened #6876 "Validator requesting future slot attestations"
# 🐞 Bug Report

### Description
Validator started giving messages
[code]
Both Beacon, and (geth)Eth1 node were working properly

### Has this worked before in a previous version?

First time using prysm

## 🔬 Minimal Reproduction

Multiple ppl have reported the same problems  I cannot recreate it but It fixed itself after stopping and restarting the validator.

## 🔥 Error

"Aug 04 20:51:47 spyder

[2020-08-04 21:42] KryptoMaton commented on #6876
I had the same issue on Windows 10. Hardware: i7 2.8Ghz, 8GB ram, 40gb free in ssd. Running alpha 18 on beacon and validator.
![image](https://user-images.githubusercontent.com/69220706/89347909-8950ab00-d6a3-11ea-92ab-fda105ce2f0e.png)
Beacon client was working normally when validator proposed wrong block. Validator had been attesting normally before that block.

[2020-08-04 21:43] zediir commented on #6876
This might be related but I'm getting blocks from the future on the beacon node side

`[2020-08-05 00:38:50]  WARN sync: Rejecting incoming block. blockSlot=3793 error=could not process slot from the future, slot time 2020-08-05 04:38:44 +0300 EEST > current time 2020-08-05 00:38:49.872101117 +0300 EEST m=+13720.928452318`

[2020-08-04 21:53] bvukich commented on #6876
I experienced similar errors simultaneously on three different validator nodes.  I restarted one of the nodes and the error occurred again on that node a few minutes later.  I restarted my beacon nodes and the error has not returned.

CentOS Linux release 8.2.2004 (Core)
4 cores 16GB 128GB Hybrid VSAN
VMWare ESXi 7.0
Alpha18

Here's a 15-minute slice of logs from each of my validator nodes.

NODE

[2020-08-04 21:58] jfrag commented on #6876
I experienced similar errors

Aug 04 22:36:20 prysm.sh[19795]: time="2020-08-04 22:36:20" level=info msg="Attestation schedule" attesters=1 prefix=validator pubKeys=[0xa50959a083d2] slot=2306
Aug 04 22:36:20 prysm.sh[19795]: time="2020-08-04 22:36:20" level=info msg="Attestation schedule" attesters=1 prefix=validator pubKeys=[0x8879b5f588b6] slot=2307
Aug 04 22:36:20 prysm.sh[19795]: time="2020-08

[2020-08-04 22:11] terencechain commented on #6468
Reported by users again:

[code]

`d33pz` on Discord. I'm bumping this to critical

[2020-08-04 22:23] prestonvanloon commented on #6468
As a temporary workaround, please set `--enable-local-protection=false`.

[2020-08-05 01:03] #6468 closed

[2020-08-05 02:24] rauljordan opened #6880 "Password Option for BIP-39 Seed Phrases"
# 🚀 Feature Request

### Description

An important feature request from some of our users is the idea of having a "25th" word as a password to a BIP-39 mnemonic, which we use to derive HD wallets.

[code]

### Describe the solution you'd like

The bip39.NewSeed function allows us to specify a password, which currently utilizes an empty passphrase. We can allow for an optional, "25th" word when cre

[2020-08-05 03:23] rauljordan opened #6882 "[Tracking Issue] Implement Full-Featured, Easy Voluntary Exits"
# 🚀 Feature Request

### Description

We are missing a way to perform voluntary exits easily with Prysm, and this is a requirement for mainnet. This feature needs to be well-tested and well-documented.

### Describe the solution you'd like

We need the ability to initiate a voluntary exit from the CLI, being able for users to understand the implications and have dedicated docs for this process.

#

[2020-08-05 06:17] yulidai commented on #6869
@terencechain  Currently I encrypt the 32-byte private key directly. How should I convert these 32 bytes before encryption to be correctly recognized by prysm? Any help would be greatly appreciated. :P