[2019-04-02 00:39] shayzluf commented on #2108
working on this task

[2019-04-02 16:26] prestonvanloon commented on #2025
@ceresstation please approve @shayzluf for this bounty. They are nearing completion. Thanks

[2019-04-02 21:44] prestonvanloon opened #2149 "Documentation lacking for db.HistoricalStateFromSlot"
https://github.com/prysmaticlabs/prysm/blob/89531c16679c1782aafbca1eca8b9469b37c6f51/beacon-chain/db/state.go#L294

[2019-04-03 22:04] prestonvanloon opened #2153 "Unable to produce attestations if there has not been justification within LatestBlockRootsLength"
Failing scenario:
- state.Slot = 10000
- lastJustifiedSlot = 1500
- params.BeaconConfig().LatestBlockRootsLength = 8192

https://github.com/prysmaticlabs/prysm/blob/252b2ec3e580a19744ab35d53052e0dbf67c8d39/beacon-chain/rpc/attester_server.go#L84-L97

The above code fails the boundary conditions for `BlockRoot`:

https://github.com/prysmaticlabs/prysm/blob/252b2ec3e580a19744ab35d53052e0dbf67c8d39/b

[2019-04-03 22:50] #2153 closed

[2019-04-03 23:15] rauljordan opened #2155 "Drop Peer and Restart Initial Sync If State Root Mismatches When Exiting"
In InitialSync, once we attempt to exit, we verify the state root we have matches the one we received from our peers during the chain head query. If it does not match, we should drop the peer and instead restart the initial sync service to retry with another peer.

[2019-04-04 03:32] cyberbono3 commented on #2155
i can start working on it

[2019-04-04 18:51] prestonvanloon opened #2159 "Cannot verify attestations if justified epoch is farther away than latestBlockRootsLength in state"
https://github.com/prysmaticlabs/prysm/blob/40ade64ffad46716da703e340ea29b09a371dbcf/beacon-chain/core/blocks/block_operations.go#L494-L508

Very similar to #2153

We should be looking at the database rather than these cached block roots in the state.

[2019-04-05 03:39] #2107 closed

[2019-04-05 04:43] prestonvanloon opened #2165 "could not get active validator index: validator ... does not exist"
Sometimes we see errors that claim the validator does not exist when fetching the validator index.

![image](https://user-images.githubusercontent.com/7246818/55603977-1fcd2f00-5733-11e9-8d32-edbf3dff1f79.png)

Another, maybe separate bug, we updated assignments, we were assigned to attest at the current slot so we wait to mid point, then we update the assignments again for some reason. This secon

[2019-04-05 13:51] prestonvanloon opened #2167 "Optimize updateAssignments not to run on every slot"
https://github.com/prysmaticlabs/prysm/blob/9abefc386da10e6c588449730323f1f3af117df5/validator/client/validator.go#L137-L141

As part of debugging assignment issues, we are redundantly fetching assignments every slot even though they should not change but once per epoch.

[2019-04-05 20:34] prestonvanloon opened #2181 "Sync.Status(): beaconDB.ChainHead returns failure status before chainstart"
https://github.com/prysmaticlabs/prysm/blob/3ec9fc0b8f6165549c96133a6c969438161c3543/beacon-chain/sync/querier.go#L192-L195

[2019-04-05 21:20] prestonvanloon commented on #2181
Reopening, we still have an error before chainstart from the sync service.

[code]

[2019-04-05 21:40] #2181 closed

[2019-04-06 02:00] prestonvanloon commented on #2167
Can be closed in #2084

[2019-04-06 02:03] prestonvanloon commented on #1689
Is this still valid?

[2019-04-06 02:05] prestonvanloon commented on #2149
In progress by @JerryFireman Thanks!

[2019-04-06 02:05] #617 closed

[2019-04-06 02:06] prestonvanloon commented on #617
Closing old issue. Happy to restart this conversation if there is still interest. :)

[2019-04-06 02:08] prestonvanloon commented on #2008
I don't like this pattern and I think we can do better by properly abstracting the methods. We shouldn't be passing additional arguments to dictate the behavior of some method(s), in my opinion.

[2019-04-06 04:10] terenc3t opened #2187 "Broken Travis at the moment"
Travis is currently broken with the following errors

[code]

[2019-04-06 04:13] terenc3t opened #2188 "DeadlineExceeded Fetching Assignment"
I've see a few occurrences where validators fail to get assignment because of `DeadlineExceeded`, then it works the next slot. It's intermittent.

[code]

[2019-04-06 14:11] terencechain opened #2189 "Display Block's Vote Count Metrics"
It'll be really useful to display vote count from individual block's perspective. The metrics consist of top 5 voted blocks. The block will give us information such as slot number, who voted for this block, how many attestations included..etc

[2019-04-06 17:34] prestonvanloon opened #2190 "Add flag to disable logging of rewards/penalties in validator client"
In a cluster deployment, we aren't so interested in logging this information.

The task is to add a flag `--disable-rewards-penalties-logging` to the validator client.

[2019-04-06 17:35] prestonvanloon opened #2191 "Add flag to disable pruning of historical states"
We may want to inspect the historical states in time when debugging beacon chain operations.

The task is to add a flag `--disable-historical-state-pruning` to the beacon-chain such that historical states are never pruned with this flag present.

[2019-04-06 22:24] terenc3t opened #2192 "InitializeState needs to call SaveState"
During `db/InitializeState`, we don't call `SaveState` and that caused all validators activation epoch to be default to `FarFutureEpoch`. This is found when we test out state replay

[2019-04-06 23:25] rauljordan opened #2194 "Use Genesis Block Root if HeadState.Slot == Genesis in Attester Server"
In attester server,
[code]
we should instead be using the genesis block's root if the head state is at the genesis slot instead of the zero hash.

[2019-04-07 02:54] rauljordan opened #2196 "Perform Initial Sync If Too Far Behind With Persistent Disk"
Currently, regular sync works via a recursive parent fetching mechanism. That is, upon receiving a block, if we do not have its parent, we recursively perform the same action by requesting the parent until we are fully caught up. If we are too far behind, this can hit a recursive depth limit. Instead, we can force nodes to begin initial sync if they are too far behind (this depth can be subjective

[2019-04-07 22:38] rauljordan opened #2199 "Regular Sync Inserts PostChainStart Deposits Again Into the State"
This is part of #1586. We have a major bug in which after restarting a node, regular sync processes previous post-chainstart deposits again into the state, leading validators to double their money. We should not allow this to be the case.

[2019-04-08 00:34] frederickalcantara opened #2200 "Running the Beacon Chain Docs Error (MacOS & Linux)"
In the docs of the readme file, it states that in order to run the beacon you had to type in the following in the argument command line.

`bazel run //beacon-chain \
  --deposit-contract DEPOSIT_CONTRACT_ADDRESS`

What happened when I did this: I received the following error `[2019-04-07 20:17:28] FATAL node: No deposit contract specified. Add --deposit-contract with a valid deposit contract addre

[2019-04-08 00:57] rauljordan opened #2202 "Do Not UpdateChainHead in Regular Sync in Block Fails Processing"
Part of #1586, our logic in our propose block RPC call is as follows:
[code]
our logic in regular sync is as follows:
[code]
We should not update the chain head in regular sync if the received block fails processing, as this led to inconsistencies in states between nodes.

[2019-04-08 15:57] rauljordan opened #2217 "AttestationInclusion Has Massive Time Complexity"
The `AttestationInclusion` function found [here](https://github.com/prysmaticlabs/prysm/blob/97b5ef0cc2aecd7b356d6dd12129b38bc6e7dedc/beacon-chain/core/balances/rewards_penalties.go#L327) has some of the worst time complexity in our core package. It takes often 3-6 seconds to run with only 48 validators.

The current logic calls the underlying `InclusionSlot` function which is highly inefficient:

[2019-04-08 19:42] terenc3t commented on #2217
this will be addressed in #2151

[2019-04-08 20:27] rauljordan opened #2218 "System Crashes If There Are New Deposits In the Period From ChainStart Emit -> Beacon Chain Launch"
Hi all,

Our system currently dies if we have new deposits in the period from when the chainstart log occurred and nodes picked it up, all the way up to when the beacon chain's genesis time. If any new deposits are picked up, it causes failures in the beacon node, including reorgs, and eventually death.

[2019-04-08 20:57] terenc3t commented on #2217
Open discussions being held here
https://docs.google.com/document/d/1qYZhIOqXAf_QRPQvrqgaJ2-M_AY1SdWKBmaebjbVOlU/edit#

[2019-04-09 00:23] prestonvanloon commented on #2187
Root cause: https://github.com/golang/go/issues/31293

[2019-04-09 01:58] nisdas commented on #2187
Resolved by #2215

[2019-04-09 01:58] #2187 closed

[2019-04-09 02:50] terenc3t opened #2220 "Incorrect ETH1 Data when initialize genesis"
As specified in the spec below, we are currently not correctly initializing eth1 data as part of genesis process. We should be using the block when the chain start log happens.

[code]
References:
https://github.com/ethereum/eth2.0-specs/blob/dev/specs/core/0_beacon-chain.md#on-genesis

[2019-04-09 08:32] nisdas commented on #2200
Resolved by #2201

[2019-04-09 08:32] #2200 closed

[2019-04-09 09:05] terenc3t opened #2222 "Turns off RPC while init sync"
As a good practice we should turn off RPC during initial sync to prevent unstable issues. This is from talking with Partiy and Geth team, they have ran into many issues where the root cause mostly came from enabling client side RPC during init sync.

[2019-04-09 17:50] shayzluf commented on #2025
Still on it

On Tue, Apr 9, 2019, 9:46 PM Gitcoin.co Bot <notifications@github.com>
wrote:

[2019-04-09 18:17] rauljordan commented on #2222
We currently do this in k8s using the readiness probes, but it will not work if you do a local setup. This is a good bounty candidate!

[2019-04-09 18:18] #2196 closed

[2019-04-09 18:22] #2008 closed

[2019-04-09 19:06] #2192 closed

[2019-04-09 19:25] prestonvanloon opened #2223 "Add regression test for #2221"
This PR solves a critical bug with generating the genesis state, but it was merged without a regression test to prevent future issues.

#2221

[2019-04-09 20:21] terenc3t commented on #1951
The optimized version we should be implementing is outlined here:
https://github.com/protolambda/lmd-ghost/#optimized-lmd-ghost-by-vitalik-buterin-vitalik

The reference implementation in python:
https://github.com/protolambda/lmd-ghost/#optimized-lmd-ghost-by-vitalik-buterin-vitalik

[2019-04-10 00:06] rauljordan commented on #2218
Fixed by #2221

[2019-04-10 00:06] #2218 closed

[2019-04-10 00:23] rauljordan opened #2224 "Bitfield Fails to Verify in Epoch Transition When Requesting Assignments"
This is a major blocker for #1586. So far, we have observed that our cluster setup with postchainstart validators dies at inconsistent times with the following error log:

[code]

This occurs right when we are requesting assignments at a skip slot which is an epoch boundary it seems. This can be reproduced using the state-replay tool being worked on in this branch: https://github.com/prysmaticlabs

[2019-04-10 06:30] #1545 closed

[2019-04-10 07:34] terenc3t commented on #1977
Just saw this error again in run time:
`
"could not execute state transition could not process block: could not process block attestations: could not verify attestation at index 0 in block: expected attestation.JustifiedEpoch == state.JustifiedEpoch, received 32 == 31"
`

[2019-04-10 07:35] prestonvanloon commented on #1977
This functionality is currently enabled by flag only, so we have the flag turned off until we can resolve this issue.

We should use the state replay tool to identify the root cause of this with some existing set of data. It seems to happen intermittently as the blockchain can still advance, but there are constant skip blocks and reorg conditions.

[2019-04-10 11:39] #2224 closed

[2019-04-10 15:33] #2220 closed

[2019-04-10 23:01] prestonvanloon opened #2229 "Validator balances are not consistent after reorgs"
![image](https://user-images.githubusercontent.com/7246818/55919187-e8430480-5bc2-11e9-99cd-13dca4b1758f.png)

[2019-04-10 23:10] prestonvanloon commented on #2191
Closed by #2210

[2019-04-10 23:10] #2191 closed

[2019-04-10 23:19] prestonvanloon commented on #2199
This happens consistently under the following conditions:
- Some post chainstart validators have their deposits included in blocks, but they are not yet activated
- In a multi-node scenario (possibly single node as well)

[2019-04-10 23:26] prestonvanloon commented on #2199
i think there are three (or more) problems here:
- pending deposits are not properly pruned after sync startup
- pending deposits are not verified not to have been already included in the blockchain when requesting via RPC
- pending deposits are not verified not to have been already included in the blockchain when processing a block with new deposits

[2019-04-10 23:27] prestonvanloon commented on #2199
I recommend solving from the bottom up. So in this order:
- reject blocks that have duplicate deposits
- prevent serving duplicate deposits via RPC
- properly prune pending deposits on sync

[2019-04-10 23:36] prestonvanloon commented on #1656
@rauljordan can you add a comment on why this should be closed?

[2019-04-10 23:37] prestonvanloon commented on #1980
@rauljordan can you add a comment why this should be closed? Please reference commit or PR.

[2019-04-11 00:17] terencechain opened #2230 "Set bitfield replaces existing bitfield"
This [line](https://github.com/prysmaticlabs/prysm/blob/master/shared/bitutil/bit.go#L22) from set bit assumes there's no aggregation and the bitfield is only represented by *one* validator since it overrides. We'll need to fix this when we support aggregation

Example:
1.) Before `01001111`
2.) After setting bit for validator at index 0: `1000000`
3.) But it should be `11001111`

[2019-04-11 00:35] prestonvanloon commented on #2199
We should include the spec change from PR https://github.com/ethereum/eth2.0-specs/pull/594 & PR https://github.com/ethereum/eth2.0-specs/pull/709.

This change has a deposit index that must be equal to the state.deposit_index.

https://github.com/ethereum/eth2.0-specs/blob/dev/specs/core/0_beacon-chain.md#process_deposit

[code]

[2019-04-11 00:46] prestonvanloon commented on #2199
Pending deposits can be dropped on the following condition:
- deposit.index < finalized_state.deposit_index

Pending deposits can only be served via RPC on the following condition:
- deposit.index < current_state.deposit_index

New blocks can be considered valid with deposits only if deposits are processed in order where:
- deposit.index == state.deposit_index

[2019-04-11 03:26] nisdas commented on #2230
@terenc3t we currently do not do any aggregating yet,  we just take an index and set the bitfield for it. We would have to change the function to take a previous bitfield as an argument. We dont aggregate it anywhere in our repo now, so I dont know what the advantage of this would be

[2019-04-11 03:40] terenc3t commented on #2230
Correct, and as issue specified our set bit doesn't support aggregation, this is to track that we do not support aggregation so we are aware when things start failing when we implement this feature.

It's not an advantage, it's a needed feature for aggregating/verify aggregating signature : )

[2019-04-11 04:01] nisdas commented on #2230
@terenc3t ah got it, yeah sounds good :+1:. Definitely something we would need to implement later

[2019-04-11 06:37] prestonvanloon commented on #1930
go-fuzz supports libFuzzer archive generation: https://github.com/dvyukov/go-fuzz#libfuzzer-support

[2019-04-11 19:20] #2223 closed

[2019-04-11 19:20] rauljordan commented on #2217
Fixed by #2228

[2019-04-11 19:20] #2217 closed

[2019-04-11 19:20] rauljordan commented on #2202
Fixed in latest master

[2019-04-11 19:20] #2202 closed

[2019-04-11 19:21] rauljordan commented on #2149
Fixed by #2173

[2019-04-11 19:21] #2149 closed

[2019-04-11 22:24] prestonvanloon opened #2233 "Frequent dial failures & dial backoff"
It starts with an error like this
[code]
Where our peer is aware of a peer that can only be reached on a local network for inbound traffic.

The error is compounding and leads to logs like this:
[code]

[2019-04-11 23:21] terenc3t opened #2235 "Travis failing with cannot find package "golang.org/x/sys/cpu""
Travis is failing with the following:

[code]

https://travis-ci.com/prysmaticlabs/prysm/builds/108045095

[2019-04-12 02:57] prestonvanloon opened #2238 "Blocks appear to be processed multiple times"
[code]

This seemed to also rebroadcast the block in some conditions

![image](https://user-images.githubusercontent.com/7246818/56009261-316f8300-5cad-11e9-8782-8bc0ae36fe6c.png)

[2019-04-12 03:01] prestonvanloon commented on #2235
It still exists: https://godoc.org/golang.org/x/sys/cpu

Travis is probably just being dumb

[2019-04-12 15:28] #2188 closed

[2019-04-12 15:28] #2238 closed

[2019-04-12 20:05] prestonvanloon opened #2241 "Sync: Beacon nodes should continue with their local chain on restart if peers have no data or less canonical slot number"
Imagine this scenario with 3 beacon nodes running in some unstable environment. All three are rebooted at the same time. They attempt to sync with each other, but none of them report the canonical head correctly so none of the nodes reach a valid state.

[2019-04-12 20:08] rauljordan commented on #2229
This is not necessarily upon a reorg - it happened in our latest cluster run at around slot 8000 after a manual rolling restart began

[2019-04-12 20:10] prestonvanloon commented on #2229
![image](https://user-images.githubusercontent.com/7246818/56063456-a7a9dd80-5db2-11e9-87d8-bde3418b5459.png)

May be possibly related to #2199 which should be solved by #2232

[2019-04-12 20:52] prestonvanloon commented on #2229
It's not related to #2199. This screenshot is a run with #2232 included.

![image](https://user-images.githubusercontent.com/7246818/56065620-b5faf800-5db8-11e9-94bd-367e03a21777.png)

[2019-04-13 05:37] 0xKiwi opened #2243 "Validator client crashes when it loses connection with its beacon chain node before it's activation"
This is an issue for the bug where the validator client crashes if the beacon chain node it is watching goes offline for any reason before the validators activation epoch.

Once the validator is activated it retries the connection just fine as it should. However the client should have this behavior pre-activation as well.

And example of the error log is:
[code]

[2019-04-13 21:58] rauljordan commented on #2238
This was fixed by #2239 which prevents our regular sync service to process 2 blocks concurrently

[2019-04-13 22:00] rauljordan commented on #2188
This was fixed by #2095 #2151

[2019-04-13 22:03] prestonvanloon commented on #2235
Seems fine now

[2019-04-13 22:03] #2235 closed

[2019-04-13 22:04] #2233 closed

[2019-04-14 08:17] #2199 closed

[2019-04-14 11:52] prestonvanloon opened #2249 "Validator ejection doesn't work"
I am seeing balances continue to decrease below the validator ejection threshold.

![image](https://user-images.githubusercontent.com/7246818/56092449-36d5f480-5e8a-11e9-8425-644f0a9226ee.png)

You can see the balances drop below 0.016 and continue to drop. The active validator count does not decrease either.

[2019-04-16 04:20] terenc3t opened #2268 "Do not allow building on bad block"
We currently process block if block's parent exists in DB, this does not consider the scenario when reorg happened but the new incoming block's parent is not in the canonical chain but it is in DB. Processing such invalid block (invalid meaning parent block not in the current chain) triggers errors such as:

[code]

Example diagram:
(`block j` can only point to `f and g`, not `h and e`. We current

[2019-04-16 04:44] prestonvanloon commented on #2268
Why is it a problem if `J` points to `H`? Imagine if some node is not aware of the lower chain in the diagram. It is valid to produce `J` which has a parent `H`.

The error in the issue seems to be that we are including attestations from the lower chain in the upper chain.

[2019-04-16 04:58] prestonvanloon commented on #2268
Based on offline (discord) discussion, we have concluded that we have the following issues:

1. Bad blocks are not deleted from DB and therefore we accept peers building upon them
2. Attestations RPC may serve invalid attestations from another chain

[2019-04-16 05:00] rauljordan commented on #2268
If a block failed processing in our node due to our node having different attestations, once we receive a new block from another node building on that failed block, the base case of our recursive block ancestor fetching in regular sync **will be the failed block**. Even though a block fails processing, we still save it to the DB. Instead, we should delete and clear it out.

[2019-04-16 05:12] nisdas commented on #2268
One way to make sure that we do not allow building on a bad block, is to check whether the parent block is in the canonical chain. How we do it is very simplistic :
- Receive Block
- Check if Parent is saved in db
- The Process it

what we should be doing instead is
- keep track of all block roots in the canonical chain
- receive block
- If a block's parent isnt in the canonical chain, we reject p

[2019-04-16 10:31] nisdas commented on #2268
Design for this over here: https://docs.google.com/document/d/1W6rgetZqdYAbxSCZys-KapqUlZgkDv0rxSkXhGhasFs/edit?usp=sharing

[2019-04-16 22:30] prestonvanloon opened #2272 "Address error feedback in #2270"
why does this need to be a struct ? we can use a function for this, where you input the error, and it adds the block error message to the inputted string

_Originally posted by @nisdas in https://github.com/prysmaticlabs/prysm/pull/2270/files_

We agreed offline that trivial string errors should be [errors.New](https://godoc.org/errors#New) rather than a complex struct.

[2019-04-16 23:41] prestonvanloon opened #2273 "Cluster private key manager metrics reporting is double"
![image](https://user-images.githubusercontent.com/7246818/56250933-76196680-607f-11e9-9340-4cce8547103d.png)

Seems to be just a cosmetic thing, but might also affect recycling keys as well.

[2019-04-17 03:27] shayzluf commented on #2025
@gitcoinbot still working on it. not merged yet

[2019-04-17 04:35] prestonvanloon commented on #2272
Looking at this a bit more, it seems the intention is to have some encapsulating error for block processing failures and the only way to do this is to use a struct to wrap the error.

This can be closed if the variable is renamed with the standard `Error` suffix as described here: https://github.com/golang/go/wiki/Errors#naming

[2019-04-17 21:07] prestonvanloon commented on #2273
Still happening

[2019-04-18 10:04] nisdas opened #2282 "Get Panics When Shutting Down Beacon Node"
Whenever a beacon node is shutdown, the powchain service panics due to a nil header being processed by the service upon shutdown. A PR to resolve this will find a way to mitigate the service from panicking and to be able to shutdown gracefully

[2019-04-18 10:53] nisdas opened #2283 "Syncing is Possible with a Node with a Different Deposit Contract Address"
We do not check if a peer that we are connected to has a different contract address, and if they are we are still able to sync with them. This should not be possible by default. A PR for this would modify our node handshake to check for the deposit contract address.

[2019-04-18 13:16] terencechain opened #2284 "Syncing is possible if a node has a different clock"
Opening up this issue for discussion, what should we do if a node has a different clock with he beacon node and then try to sync?

[2019-04-18 13:17] rauljordan opened #2285 "Rate limit peers issuing block requests"
Currently, bad peers might spam our nodes with thousands of block requests per second - we must prevent that by either dropping the peer or rate limiting the response.

[2019-04-18 13:18] terenc3t opened #2286 "Handle Forked Chain Block"
We should be properly handling forked chain block with the following:
[code]

Issue today:
1.) we save attestation targets even though the block is bad (bad signature/bad data)
2.) we don't handle receiving blocks from forked chain

[2019-04-18 13:23] rauljordan opened #2287 "Automatically Resolve Deposit Contract Address from k8s"
Hi all,

Instead of the bad user experience of people having to paste in a deposit contract address when they want to sync with our cluster, our Prysm nodes can automatically resolve the latest one from our configuration map in our kubernetes cluster. We would need to expose this via some endpoint in our prylabs domain.

[2019-04-18 13:24] rauljordan commented on #2287
@prestonvanloon would you be interested in exposing the endpoint if it won't take up too much time?

[2019-04-18 14:07] rauljordan opened #2288 "Fatal error when failing to retrieve chain head on a forked node restart"
When we have a node in a corrupted state which probably forked and then restarted, we see the following fatal error in our sync querier:

[code]

This occurs when checking if our node is synced when the node first starts up:

In beacon-chain/sync/querier.go
[code]

In beacon-chain/sync/service.go
[code]

Internally in beacon-chain/db/block.go:

[code]

[2019-04-18 14:14] rauljordan commented on #2286
How do we know if we're receiving blocks from a forked chain? Are we using a canonical block roots map?

[2019-04-18 14:32] terenc3t commented on #2286
@rauljordan that's the idea. Pass parent slot number and parent hash to the below

[code]

[2019-04-18 14:33] nisdas commented on #2286
@terenc3t how do we know what the parent's slot number is ? Do we request it the parent block then if it doesnt exist locally

[2019-04-18 14:38] terenc3t commented on #2286
we should be able to input parent block hash and get the its slot back in DB, if not we should make that happen : )

[2019-04-18 15:38] rauljordan opened #2289 "Add Regression Test for Preventing Double Activation of Validator"
Hi all,

When we activate validators in update registry, we shouldn't activate those that are already active. This is solved in #2069 by adding a `!helpers.IsActiveValidator` condition when attempting to active, however, this needs a regression test to ensure it works as intended.

[2019-04-18 15:41] prestonvanloon commented on #2289
This area of logic is missing code coverage in general.

![image](https://user-images.githubusercontent.com/7246818/56373377-c8b56880-61ce-11e9-819a-5c3b0a86f337.png)

https://github.com/prysmaticlabs/prysm/blob/0cb440c5c77ac06def520676a7a9c7801367e1e4/beacon-chain/core/validators/validator.go#L321-L344

[2019-04-18 16:15] #2286 closed

[2019-04-18 16:25] terenc3t opened #2290 "Roll back state when process forked block"
Say H is the head, and we receive F which we don't have its parent. Then we receive E. In such case we should roll back the state to D and apply state transition for E so we can process F.
[code]

I don't think we currently roll back to state D correctly

[2019-04-18 16:50] prestonvanloon opened #2293 "Add naive p2p chain handshake"
When two peers connect, they should communicate what chain they are on. This can be identified by the deposit contract address. If peers are on different deposit contracts, they should disconnect and not attempt to re-peer with that peer.

[2019-04-18 17:23] #2025 closed

[2019-04-18 17:29] 0xKiwi commented on #2293
Closing as this is a duplicate of #2283

[2019-04-18 17:29] #2293 closed

[2019-04-18 19:55] rauljordan opened #2295 "Cannot Process Past Logs due to Websocket Message Size Limit"
When initializing a node that reads logs from a deposit contract, we process all the past logs. If there have been thousands or more, this will cause a lot of problems as the websocket default message size limit is small. Instead, we should request batches of logs incrementally.

[2019-04-18 21:36] rauljordan opened #2298 "Prune Blacklisted Block Hashes Past FinalizedState"
As a follow-up to #2297, we should prune the map of blacklisted block hashes once we have a new finalized state. At that point, all block hashes that came before the new finalized state can be safely deleted, as those blocks will never be considered again.

[2019-04-18 23:53] #2295 closed

[2019-04-19 00:50] #2290 closed

[2019-04-19 00:51] #2268 closed

[2019-04-19 15:05] prestonvanloon commented on #2285
Rate limiting in the p2p layer is a concept that needs careful design. We more likely need to build a reputation system where healthy peers can send virtually unlimited messages to indicate new information with occasional requests for information in bulk. The reputation would lower if a given peer suddenly started requesting loads of data. Once a reputation is low enough then the peer is disconnec

[2019-04-20 00:40] terencechain opened #2307 "[Mega Tracking] - Align spec to release v0.6"
This PR tracks the overall progress of aligning current beacon chain implementation to spec version 0.6. Please comment on the issue before you pick up an item to work on.

- [x] 💎  **Update [constant](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/core/0_beacon-chain.md#constants) names and values** 💎
- [x] 💎  **Update Protobuf data structures** 💎
    - [x] Update [Crosslink](https://git

[2019-04-20 11:09] prestonvanloon commented on #2287
Done in #2303.

https://beta.prylabs.net/contract

[2019-04-20 11:09] #2287 closed

[2019-04-20 13:29] terencechain opened #2311 "Add Coding Standard"
To help #2307. Let's add a `CONVENTIONS.md` page to come into consensus on some standard coding procedures. We currently have naming across different conventions across our repos. This will make debugging and code review a lot easier.

[2019-04-20 16:16] prestonvanloon commented on #2307
Discussed offline that we should not break master, but it is acceptable to break a [spec-v0.6](https://github.com/prysmaticlabs/prysm/tree/spec-v0.6) working branch so that [spec-v0.6](https://github.com/prysmaticlabs/prysm/tree/spec-v0.6) can be reviewed in pieces then reviewed once more in a merge to master.

Please submit all PRs to branch [spec-v0.6](https://github.com/prysmaticlabs/prysm/tree

[2019-04-20 18:12] terenc3t commented on #2307
Working on updating protofields for [Crosslink](https://github.com/ethereum/eth2.0) and [Eth1Data](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/core/0_beacon-chain.md#eth1data)

[2019-04-20 19:00] terenc3t commented on #2307
Working on AttestationData, AttestationDataAndCustodyBit and IndexedAttestation

[2019-04-20 19:01] 0xKiwi commented on #2307
Working on updating constant names and values

[2019-04-21 01:00] frederickalcantara commented on #2190
I would like to take on this issue. Is there a specific function that would need to get to get this flag to work?

[2019-04-21 16:47] #2165 closed

[2019-04-22 23:54] prestonvanloon commented on #2307
Working on removing genesisSlot/genesisEpoch

[2019-04-22 23:56] terenc3t commented on #2307
please review proto changes in following order:
#2315, #2316, #2318, #2327, #2338, #2340 and #2341

[2019-04-23 00:50] 0xKiwi commented on #2307
Working on updating validator related helpers

[2019-04-23 03:54] shayzluf commented on #2307
working on balance helpers

[2019-04-23 03:55] shayzluf commented on #2307
working on Update permuted index helpers

[2019-04-23 12:43] 0xKiwi commented on #2307
Spec updates made to BeaconProposerIndex in #2352 were left out due to them being extremely drastic
https://github.com/ethereum/eth2.0-specs/pull/920

[2019-04-23 13:35] terenc3t commented on #2307
working on updating committee related helpers

[2019-04-23 15:31] terenc3t commented on #2307
working on block root and state root helpers

[2019-04-23 15:56] 0xKiwi commented on #2307
Working on randao mix and active index helpers

[2019-04-23 15:57] #2222 closed

[2019-04-23 22:46] terencechain commented on #2307
Working on `initiate_validator_exit`

[2019-04-24 01:31] shayzluf commented on #2307
working on splitoffset helper

[2019-04-24 03:53] frederickalcantara commented on #2289
@rauljordan I'll take on this issue.

[2019-04-24 10:36] shayzluf commented on #2307
working on Update active index root helpers

[2019-04-24 10:58] shayzluf commented on #2307
working on generate seed

[2019-04-24 14:39] rauljordan commented on #2194
Confirmed this should be the zero hash as otherwise there is a circular dependency. This issue is no longer relevant.

[2019-04-24 14:39] #2194 closed

[2019-04-24 14:39] rauljordan commented on #2159
Fixed by #2160

[2019-04-24 14:39] #2159 closed

[2019-04-24 14:40] rauljordan commented on #1638
Hi @ceresstation this has been completed by @shayzluf in #1929, let's award the bounty

[2019-04-24 14:40] #1638 closed

[2019-04-24 17:08] terencechain commented on #1541
Closed for #2307

[2019-04-24 17:08] #1541 closed

[2019-04-24 17:08] terencechain commented on #1542
Closed for #2307

[2019-04-24 17:08] #1542 closed

[2019-04-24 17:08] terencechain commented on #1707
Closed for #2307

[2019-04-24 17:08] #1707 closed

[2019-04-24 17:08] terencechain commented on #1999
Closed for #2307

[2019-04-24 17:08] #1999 closed

[2019-04-24 17:08] terencechain commented on #2053
Closed for #2307

[2019-04-24 17:08] #2053 closed

[2019-04-24 17:09] #1661 closed

[2019-04-24 17:10] terencechain commented on #1660
Closed for #2307

[2019-04-24 17:10] #1660 closed

[2019-04-24 17:10] #1764 closed

[2019-04-24 17:10] #1763 closed

[2019-04-24 20:07] 0xKiwi commented on #2307
Working on attesting indice helpers

[2019-04-25 01:59] terencechain commented on #2307
Working on updating [general helpers](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/core/0_beacon-chain.md#helper-functions-1) for epoch processing in #2379

[2019-04-25 07:01] shayzluf commented on #2307
working on  Update beacon proposer index helpers

[2019-04-25 13:16] nisdas commented on #2307
working on update bitfield helpers and slashing validator

[2019-04-25 19:51] rauljordan opened #2384 "Change fatal validator condition"
Validators currently have a fatal condition here:
[code]
This leads to crash loop backoffs and all sorts of other issues in our cluster.

[2019-04-25 21:42] 0xKiwi commented on #2307
working on updating slash validator

[2019-04-26 06:24] #2098 closed

[2019-04-26 14:25] prestonvanloon commented on #2384
This is specifically for the gRPC stream while waiting for activation. The validator should retry to open the stream rather than fatally crash.

[2019-04-27 00:48] terencechain commented on #2307
Working on `get_crosslink_from_attestation_data` and `get_winning_crosslink_and_attesting_indices`

[2019-04-27 01:51] rauljordan opened #2395 "Write Logs to Persistent Disk In Addition to Stdout"
As part of our production monitoring efforts, having logs persisted to disk would be massively helpful as we will not be reliant on cluster nodes being alive for monitoring certain behavior.

[2019-04-27 12:40] JerryFireman commented on #2298
I'd like to take this one on.

[2019-04-27 13:57] prestonvanloon commented on #2395
See: https://github.com/sirupsen/logrus/issues/689

[2019-04-27 14:16] prestonvanloon opened #2400 "--no-discovery flag not registered"
[code]

The above error occurs despite the flag being listed in the `--help` flag options.

[2019-04-27 15:58] rauljordan opened #2401 "Replace Powchain Websockets with HTTP Polling"
Websocket connections to powchain nodes are unstable. We should seriously begin using HTTP polling instead. Powchain issues are the number 1 cause for reorgs and failed block processing in our cluster nodes.

[2019-04-27 18:13] frederickalcantara commented on #2190
This issue was resolved and got pushed to the master branch.

[2019-04-27 19:45] #2401 closed

[2019-04-28 02:31] prestonvanloon opened #2408 "Handshake protocol does not work for peers behind a relay node"
Blocked by https://github.com/libp2p/go-libp2p-net/issues/45.

The following code does not work well with remote peers behind a relay node.

https://github.com/prysmaticlabs/prysm/blob/5167fadbd7eb1fc2811efcc87d460179398b1c7c/shared/p2p/negotiation.go#L21-L93

For now, we'll disable enforced disconnects from peers that are not supporting the handshake protocol.

[2019-04-28 02:40] prestonvanloon commented on #2408
If there was some way to understand that this Connected event was fired by the connection of a relay/circuit node, that would solve my problem (I would just ignore the event).

[2019-04-28 03:57] rauljordan opened #2410 "Truncate block hashes in info logs in beacon chain + validator clients"
It is not critical to know an entire block hash's hex string from our logs, and having truncated ones would make for better user experience and readability of runtime.

[2019-04-28 14:54] prestonvanloon commented on #2167
Closed in #2412

[2019-04-28 14:54] #2167 closed

[2019-04-29 07:19] shayzluf commented on #2249
working on it

[2019-04-29 18:11] #2410 closed

[2019-04-29 20:53] shayzluf commented on #2307
working on Update attesting indices helpers

[2019-04-29 21:49] shayzluf commented on #2307
working on Update bitfield related helpers

[2019-04-30 04:49] rauljordan commented on #1656
We correctly do this in our current master

[2019-04-30 04:49] #1656 closed

[2019-05-01 04:41] shayzluf commented on #2307
working on Add convert to indexed

[2019-05-01 15:24] rauljordan opened #2457 "Tagging a Testnet Release"
In order to wrap up and finish up a testnet release:

- [x] Recommend --clear-db for testnet users to prevent unresolvable error conditions on restarts
- [x] On querying chain head, poll forever until the first response is received, then begin a timeout to receive more chain head responses
- [x] RPC service for querying validator activation
- [x] Minor changes to our website, giving users more opt

[2019-05-01 15:25] terencechain commented on #2457
- [ ] UI for latest block roots

[2019-05-01 15:26] terencechain commented on #2457
I can take on `Enable --clear-db in all nodes by default`

[2019-05-01 15:26] rauljordan commented on #2457
Working on fixing the chain head query

[2019-05-01 15:38] terencechain commented on #2457
Confirmed we won't delete DB by default, we'll add explicit instructions for users to clear db when restart

[2019-05-01 15:52] terencechain commented on #2307
working on `process_crosslinks`

[2019-05-03 03:24] rauljordan commented on #1586
Complete!

[2019-05-03 03:24] #1586 closed

[2019-05-03 13:54] #900 closed

[2019-05-03 13:58] #2249 closed

[2019-05-03 13:58] #2189 closed

[2019-05-03 13:59] #2084 closed

[2019-05-03 14:00] terencechain commented on #2283
@nisdas I think we can close this? we check contract address now and alert user to clear db

[2019-05-03 14:02] nisdas commented on #2283
@terencechain yeap this can be closed, its already been addressed

[2019-05-03 14:02] #2283 closed

[2019-05-03 14:05] nisdas commented on #718
@rauljordan I think this is resolved, should this be closed ?

[2019-05-03 14:06] nisdas commented on #1333
@terencechain should we close this ?

[2019-05-03 14:09] terencechain commented on #1333
Naa, I'd still like to keep this open. We can do a clean sweep after test net to fix all the errors where in some cases we don't need to format the error before returning it.

[2019-05-03 14:09] #2190 closed

[2019-05-03 14:10] #1448 closed

[2019-05-03 14:11] terencechain commented on #1529
See #2307

[2019-05-03 14:11] #1529 closed

[2019-05-03 14:11] terencechain commented on #1689
Resolved via #1586

[2019-05-03 14:11] #1689 closed

[2019-05-03 23:15] cyberbono3 commented on #2307
working on convert_to_indexed

[2019-05-04 18:05] cyberbono3 commented on #2307
working on process_eth1_data

[2019-05-05 16:10] rauljordan commented on #2288
This has been fixed by #2280

[2019-05-05 16:10] #2288 closed

[2019-05-06 05:49] #2457 closed

[2019-05-06 18:17] terencechain opened #2512 "Batch Delete Attestations for DB"
A block right now has 40 or so attestations, instead of deleting individual attestations from DB, we should perform a batch delete for 1.) efficiency 2.) don't flood the logs

[code]

[2019-05-07 03:02] cyberbono3 commented on #2307
working on updating deposits processing

[2019-05-07 05:43] shayzluf commented on #2307
registry updates functions

[2019-05-07 17:02] terencechain opened #2522 "Testnet Feedback Tracking"
This issue tracks the feedback from users trying out prysm alpha test net. Please add them to the list as we gather more feedbacks.

- [ ] beacon node doesn't touch keys, we should make them separate dirs (beacon node and validator) in instruction
- [ ] for activation status, waiting for deposit to be included by validator, it would be great to better define what "it'll take a while" means time wi

[2019-05-08 01:32] gzuhlwang opened #2529 "no instruction available for creating validator keys pair"
cann't find command for creating a validator key pair in [prsym testnet](https://alpha.prylabs.net/participate), help.

[2019-05-08 01:35] gzuhlwang commented on #2529
oh, I find.

[2019-05-08 01:35] #2529 closed

[2019-05-08 04:17] shayzluf commented on #2307
working on process block header

[2019-05-08 06:11] madhancr opened #2533 "No reward earned"
After running the beacon and validator- no rewards were earned:
[2019-05-08 06:09:00]  INFO validator: Start of a new epoch! epoch=15165 slot=121320
[2019-05-08 06:09:00]  INFO validator: Validator registry information numActiveValidators=600 totalValidators=721
[2019-05-08 06:09:00]  INFO validator: Generating validator performance report from the previous epoch...
[2019-05-08 06:09:00]  INFO val

[2019-05-08 08:29] shayzluf commented on #2307
working on update get domain

[2019-05-08 23:09] rfikki opened #2543 "panic: invalid page type: 0: 4"
https://gist.github.com/rfikki/63acd4067c18ff909fdc5e2392366be5

[2019-05-09 08:26] shayzluf commented on #2307
working on Update Fork

[2019-05-09 12:55] SjonHortensius commented on #1977
Even without an active validator - my beacon node just failed with the same error:

[code]

after this it hangs and stops processing anything until restarted. I'm running  7c47db0 without any configuration - so I'd expect this wouldn't happen

[2019-05-09 15:33] penta314 opened #2546 "Add ARM support"
It has been found that the binaries are not built for ARM, hence people trying to run a node in for example Rasberry Pi 3 are getting crashes.

[2019-05-10 01:51] prestonvanloon opened #2552 "LMD ghost is reading from DB too frequently"
![image](https://user-images.githubusercontent.com/7246818/57497146-6e2a9c00-72a4-11e9-8c21-dc2b96cb00d6.png)

This is taking up 3.6s of time to complete while the majority of the work is done from fetching and unmarshalling ancestor blocks since finality. Suggestion is to keep these objects in memory and prune them on every new finalized epoch. This will greatly reduce the time taken to calculate

[2019-05-10 03:50] prestonvanloon commented on #2546
This requires build docker images/binaries with `--platforms=@io_bazel_rules_go//go/toolchain:linux_arm64`.

The validator client builds for ARM, but not the beacon-chain due to some cgo dependencies in go-ethereum.

[2019-05-10 03:53] prestonvanloon commented on #2533
Hey! Thanks for filing this. We resolved a few issues with sync today and you should be able sync and participate as a validator now. Your previous validator was ejected for not participating (at no fault of your own) so you'll need to create a new one. Follow the instructions on https://prylabs.net/participate to join as a new validator and be sure to follow step one to get the latest docker imag

[2019-05-10 03:53] #2533 closed

[2019-05-10 04:21] cyberbono3 commented on #2307
working on update process_attestation

[2019-05-10 07:50] SjonHortensius commented on #2543
I think you should have posted the complete logs here directly - however these `invalid page type` errors seem to happen so deep in the database code that I actually suspect some form of corruption - I take it you're not using ECC? Your first message seems to imply there isn't even a data-directory, can you confirm this?

Doesn't clearing the data-dir resolve this issue?

[2019-05-10 14:18] terencechain commented on #2552
I'm looking into this

[2019-05-10 15:56] #2408 closed

[2019-05-10 18:50] prestonvanloon commented on #2546
I made a brief attempt at trying to cross compile for ARM, but running into weird issues with cgo.
Commit ea790c5a1340822c617c9ad1a62194d60adf1af9

[2019-05-10 20:22] rfikki commented on #2543
So, it was mentioned that this could be a permissions issue. So, I added "sudo" to the command line and seem to be getting some what further, but error persists: see below:

rfikki@LAPTOP-ECKKGQ2B:~/prysm$ sudo bazel run //beacon-chain -- --clear-db --datadir=/home/rfikki/prysm/prysm-data
[sudo] password for rfikki:
Extracting Bazel installation...
Starting local Bazel server and connecting to it.

[2019-05-10 20:57] jp8080nl opened #2561 "beacon - panic: runtime error: index out of range"
beacon-chain crash on docker.

[code]

[2019-05-11 01:19] #2552 closed

[2019-05-11 03:44] prestonvanloon commented on #2543
Maybe related:
https://github.com/Microsoft/WSL/issues/3162
https://github.com/odeke-em/drive/wiki/Boltdb-breaks-drive-with-(panic:-invalid-page-type:)-or-(panic:--above-high-water-mark)

[2019-05-11 03:46] prestonvanloon commented on #2543
Just to be totally sure can you try this?
[code]

If that doesn't work, try running the second command with `sudo`. I'm not entirely sure how this error occurs so consistently. :(

[2019-05-11 03:48] prestonvanloon commented on #2561
To summarize this, we are getting an out of bounds issue here: https://github.com/prysmaticlabs/prysm/blob/d1fa88ce4bfb8e88d317058dfe7b1efed7d14c62/beacon-chain/blockchain/block_processing.go#L328

Not sure why we are attempting to access an index that is not in the validator registry...

[2019-05-11 08:52] WhiteRaBot17 commented on #2561
`	activatedValidators := validators.ActivatedValFromEpoch(helpers.CurrentEpoch(state) + 1)
`

Need to verify if activatedValidators is > 0..?

[2019-05-11 14:56] Doppelbock42 commented on #2561
I'm getting "panic: runtime error: index out of range" also.

panic: runtime error: index out of range

goroutine 1044 [running]:
github.com/prysmaticlabs/prysm/beacon-chain/blockchain.(*ChainService).saveValidatorIdx(0xc0003f4300, 0xc001e24600, 0xc003d1c9a0, 0x1)
        beacon-chain/blockchain/block_processing.go:323 +0x220
github.com/prysmaticlabs/prysm/beacon-chain/blockchain.(*ChainService).r

[2019-05-11 14:58] terencechain commented on #2561
I'm taking a look at it now

[2019-05-11 15:19] Doppelbock42 commented on #1977
I got a similar error:
[code]

[2019-05-11 15:53] ligi opened #2567 "Could not process beacon block"
just tried to run - but getting the following error:

`[2019-05-11 10:50:56] ERROR regular-sync: Could not process beacon block: block failed processing: could not process block: could not process block attestations: could not verify attestation at index 0 in block: expected attestation.JustifiedEpoch == state.PreviousJustifiedEpoch, received 21277 == 21276`

on commit d1fa88ce4bfb8e88d317058dfe7b

[2019-05-11 16:14] ligi opened #2568 "keystore generated but not there"
[code]

[2019-05-11 19:03] rfikki commented on #2543
rfikki@LAPTOP-ECKKGQ2B:~/prysm$ bazel build //beacon-chain
Starting local Bazel server and connecting to it...
INFO: Analyzed target //beacon-chain:beacon-chain (536 packages loaded, 15979 targets configured).
INFO: Found 1 target...
Target //beacon-chain:beacon-chain up-to-date:
  bazel-bin/beacon-chain/linux_amd64_stripped/beacon-chain
INFO: Elapsed time: 31.613s, Critical Path: 1.59s
INFO: 0 pr

[2019-05-11 21:08] #2561 closed

[2019-05-11 22:02] #2400 closed

[2019-05-12 00:53] Skretch opened #2573 "Validator reporting incorrect loss after depositing 6.37 GoEth"
Validator is reporting a 50% loss when it splitt into two validators after I deposited 6.37 GoETH

<img src="https://i.gyazo.com/72b0143217e321b802b45386703e03cb.png">

[2019-05-12 01:37] Skretch commented on #2567
Uncertain if this is the same issue, but I got an error that looks very similar.
`ERROR regular-sync: Could not process beacon block: block failed processing: could not process block: could not process block attestations: could not verify attestation at index 119 in block: expected attestation.JustifiedRoot == state.JustifiedRoot, received 0x3c50faa946e027d035ac6859cf68d2f7c09e5c968701f3304ef56169

[2019-05-12 05:52] mslipper opened #2574 "JSON log output for testing"
Hi Prysmatic team,

Antoine Toulmne and I are working on an ETH2 test runner that needs access to the state of the clients under test at each block. Currently, we're doing this by exposing a JSON log with the following format:

[code]

We were thinking that the log would be exposed by either:

1. A CLI flag to write the log to the specified directory.
2. A JSON-RPC endpoint to get the log at a spe

[2019-05-12 12:23] SjonHortensius commented on #2543
@rfikki can you clarify which OS and FS you use, is it also zfs (or maybe even WSL)? I've been trying to reproduce this but a zfs mount on a recent Archlinux machine does not show this - and boltdbs tests also run fine on it.

Given the related reports I'm pretty sure this is a go-specific issue with regards to filesystem interaction that might be worked around - but is not caused by anything prys

[2019-05-12 14:18] terencechain commented on #2574
Would the test runner support protobuf? It would be easy to write an end point in our RPC server for the data test runner want using lib like [jsonpb](https://godoc.org/github.com/golang/protobuf/jsonpb)

[2019-05-12 15:58] #2282 closed

[2019-05-12 16:00] prestonvanloon commented on #2574
This also seems like something ideal for streaming events. Is it read on the fly and monitored or processed post test run?

[2019-05-12 16:00] prestonvanloon commented on #2574
Also any thoughts to a push gateway? I'd like to understand the use case a bit more. Do you have more details you could share?

[2019-05-12 16:02] prestonvanloon commented on #2567
This seems like a bug on the validator / block producer side. Somehow you are receiving a block that is not valid.

[2019-05-12 16:04] prestonvanloon commented on #2568
@ligi With docker, you have to mount a drive from your host machine to the running docker instance.

The flag `-v /tmp/prysm-data:/data` mounts your local filesystem at `/tmp/prysm-data` to the docker file system `/data`. If you set the keystore path to be somewhere in `/data` within docker, then you could access it from your host machine at `/tmp/prysm-data`.

Does that make sense?

[2019-05-12 16:06] prestonvanloon commented on #2573
This seems like a reporting issue with the balance-at-stake measured against the total deposit value. When you deposit multiple times, you are only earning interested from the first 32 ETH at stake.

This is definitely something we need to fix, but you're not losing 50% money :)

[2019-05-12 16:08] ligi commented on #2568
ah thanks that makes sense - I see the key in "/tmp/prysm-data/" so closing.

[2019-05-12 16:08] #2568 closed

[2019-05-12 22:51] ligi opened #2577 "FATAL validator: Could not wait for validator activation"
[code]
the INFO messages where repeating this way since hours and then the fatal crash.

[2019-05-12 23:09] cyberbono3 commented on #2307
working on get_attestation_data_slot

[2019-05-13 06:15] mslipper commented on #2574
We're looking to support a number of different test cases within the runner:

1. Consensus spec compliance (i.e., via the YAML tests).
2. Networking spec compliance.
3. When they are developed, RPC spec compliance.

We'll perform testing both for single clients (i.e., by running the test suite against a 7-node Prysm cluster) and multiple clients (i.e., by running the test suite against a 7-node Pr

[2019-05-13 10:09] ligi commented on #2577
similar but different enough to add here - again after some time of running:

[code]

[2019-05-13 11:25] rfikki commented on #2543
Windows Subsystem for Linux (WSL) is my OS setup.

[2019-05-13 13:23] diglos commented on #2546
Hi,
It fails compiling directly on ARM64 as well, see attached log.
[beacon-chain-build-arm64.txt](https://github.com/prysmaticlabs/prysm/files/3173036/beacon-chain-build-arm64.txt)

[2019-05-13 20:26] Shammah opened #2590 "Deposit contract does not allow deposits greater than 32 ETH"
I don't know how important this is, but I suspect that if you deposit 33 ETH, the deposit will not count as a full deposit. This means that you'll have to deposit 32 ETH more, totalling 65 ETH, to 'fix' the counter.

According to the spec at https://github.com/ethereum/eth2.0-specs/blob/dev/specs/core/0_deposit-contract.md, it holds that:

Where `FULL_DEPOSIT_AMOUNT` is equal to 32 ETH. Shouldn't

[2019-05-13 22:04] prestonvanloon opened #2591 "Metrics: Validator ejection count increases incorrectly during reorg"
![Screenshot from 2019-05-13 18-01-50](https://user-images.githubusercontent.com/7246818/57657467-6ff8a600-75a9-11e9-9f00-e44caafa9e6a.png)

See above screenshot. This reported 12,000+ ejected validators when there were less than 700 in the system

[2019-05-13 23:04] mslipper commented on #2574
Update: @atoulmne will be writing up some example code to illustrate the concept, I'll ping you all when he's done and we can chat. Otherwise, the WS stuff you mentioned if it's similar to Lighthouse's works for us as well.

[2019-05-14 01:40] prestonvanloon commented on #2574
Just added `--log-format=json` capability in https://github.com/prysmaticlabs/prysm/pull/2594.
Does this satisfy the need for logs in JSON format?

[2019-05-14 01:43] prestonvanloon commented on #2574
By push gateway, i meant some service that receives the updates from the processes.

https://prometheus.io/docs/instrumenting/pushing/

[2019-05-14 01:44] prestonvanloon commented on #2574
Is there a general design doc for this? This seems like a big effort so I'd want to fully understand it as we would likely need to maintain it going forward. I'd also want it to be run on our own pre-submit.

[2019-05-14 05:33] atoulme commented on #2574
Hey Preston,
We're working on specifying this in more detail.
I have been playing with the code a bit - will push and then we can talk.

[2019-05-14 05:51] atoulme commented on #2574
Here is the commit: https://github.com/atoulme/prysm/commit/81b6c9b2091ab810d760e0652f4180737188b7ca

[2019-05-14 06:14] cyber-hokie opened #2597 "Update README for testers using Docker on Windows"
The readme contains instructions for running the Beacon node and validator via Docker, but there are additional steps required to set up the local data directory for Windows users not mentioned in the README.

Add - Sharing drive in Docker Settings to mount container data dir to local volume. Updated path for volume (-v) option in docker run command for Beacon Node, account creation / keystore pat

[2019-05-14 14:40] #2597 closed

[2019-05-14 16:18] rfikki commented on #2543
I wonder if this is somehow related to these issues:
https://github.com/prysmaticlabs/prysm/pull/2598

[2019-05-14 17:01] ligi commented on #2590
but this can never be true as for https://github.com/prysmaticlabs/prysm/blob/23880351f8375e7342977d15430fc503a3a77a0d/contracts/deposit-contract/depositContract.v.py#L79
as far as I see

[2019-05-14 17:03] ligi opened #2600 "Bitfield points to an invalid index in the committee"
my logs are currently swamped with
[code]

[2019-05-14 17:12] ligi opened #2602 "panic: runtime error: index out of range"
[code]

[2019-05-14 17:22] terencechain commented on #2307
Working on all the committee related functions in #2592, they consists of:
-  Removed `CrosslinkCommitteeAtSlot`
-  Removed `CurrentEpochCommitteeCount`
-  Removed `PrevEpochCommitteeCount`
-  Removed `NextEpochCommitteeCount`
-  Updated `ComputeCommittee`
-  Updated `AttestationParticipants`
-  Updated `BeaconProposerIndex`
-  Updated `AttestationData` protobuf to include `target_epoch`
-  Remove

[2019-05-14 17:23] terencechain commented on #2307
@rauljordan is working on proposer slashing in #2603

[2019-05-14 20:11] Shammah commented on #2590
Oh, you're right, I completely forgot about that; I'm a dummy. I got confused for a second because the spec only talks about a minimum deposit, not a maximum deposit.

It's a bit strange, because for example if you'd like to start staking with 33 ETH, you have two ways to achieve this:

1. First deposit 1 ETH, then deposit 32ETH.
2. First deposit 32 ETH, then deposit 1 ETH.

While a bit cumbersome

[2019-05-14 20:15] ligi commented on #2590
yea - this is confusing. I think this issue could even be kept open - I am also not sure why there is a max.

[2019-05-14 20:18] Shammah commented on #2590
I'll let Prysmatic Labs decide what to do with this :)

[2019-05-14 20:32] terencechain commented on #2590
Thanks the issue @Shammah and @ligi. A better place for this would be: https://github.com/ethereum/eth2.0-specs/issues

Would you guys like to migrate the issue there? I'd be happy to open one for you guys as well

[2019-05-14 20:34] ligi commented on #2590
hm - as far as I see there is no max in the spec

[2019-05-14 20:53] Shammah commented on #2590
The spec says that you can deposit an amount bigger than 32 ETH and it'll count as a full deposit. The Prysm implementation simply does not allow a deposit bigger than 32 ETH. So what I thought was the issue as noted in the title, turns out to actually be a deviation in the spec.

[2019-05-15 02:17] Doppelbock42 commented on #2577
I got a similar error also:

[code]

[2019-05-15 02:34] Doppelbock42 opened #2605 "FATAL initial-sync: Failed to sync with anyone..."
I received the below fatal error when trying to sync. After restarting the beacon a few times it successfully synced.

[code]

[2019-05-15 06:12] prestonvanloon opened #2606 "Add /healthz check for goroutine count"
Let's return a service `/healthz` error if the number of goroutines reaches some threshold.

Using [runtime.NumGoroutine()](https://golang.org/pkg/runtime/#NumGoroutine), check that the number of routines is under some threshold configured by flag.

`-max-healthy-goroutines=15000` is an example flag to add in which we set 15k to be the default upper limit.

[2019-05-15 07:07] mcdee opened #2607 "fatal error: concurrent map read and map write"
Received the following whilst running against HEAD (as of 10pm UK time 2019-05-15):

[code]

[2019-05-15 14:38] #2606 closed

[2019-05-15 16:59] katzdan commented on #2395
I'd like to work on that one.

[2019-05-15 17:09] prestonvanloon commented on #2395
To clarify the requirements, we need to support flags to specify where to log to file as well as the format.

Example flags:
[code]

We've done similar format selection in #2594

[2019-05-15 17:18] katzdan commented on #2395
questions regarding the requirements :
1. Which file formats do we need to support?
2. Do we need to support splitting the log files by size or date ("rolling log file") ? it would make sense to do that and prevent a situation where there one huge log file.

[2019-05-15 17:20] prestonvanloon commented on #2395
At a minimum, we want to support the same formats we log to stdout.

Rolling logs, maybe if it's not complex but it's not a requirement

[2019-05-15 17:21] katzdan commented on #2395
Got it.

[2019-05-15 18:53] uto-pia commented on #2395
Hi katzdan, if you have some extra time would it be possible to also add a --log-verbose flag? It would be handy to be able to read console output as normal, but have full logs saved to file.

[2019-05-15 22:14] atoulme commented on #2574
I had a chance to catch up with Preston today, and we talked it out.
The best approach is to use their logging infrastructure, and possibly extend how much they're logging by adding more logging statements in the right place.
This is tracked also in #2395

[2019-05-16 03:50] gutsal-arsen commented on #2395
I've analyzed the code and it has almost 2k lines that use `log` package. Most of usages `log.Print{f,ln}` without any custom logger.

You can somehow change them all using find/replace, @katzdan but that would produce huge codebase update, since logs are used everywhere. It is hard to test this change as logging isn't tested, as I understand.

This is Go, guys, wouldn't it be better to find out s

[2019-05-16 06:55] shayzluf commented on #2307
working on process randao

[2019-05-16 07:29] shayzluf commented on #2307
working on attestation processing

[2019-05-16 12:24] katzdan commented on #2395
@gutsal-arsen -
According to what I saw in the source code - in the Beacon Chain and Validator the logs are written with logrus lib (github.com/sirupsen/logrus).
This lib supports multiple writers in a very straightforward way which @prestonvanloon pointed out.

In regard to usage of logrus  -
1. There is not builtin support for file rotation.
2. There is no simply way to have two different log le

[2019-05-16 12:55] gutsal-arsen commented on #2395
@katzdan that's more architectural idea, not implementational. I saw the budget, tried to figure out how much time is needed to simply find/replace and tried to measure risks. And I'm not a Go guy, so know nothing about `log` and `logrus` implementation. Just tried to find out the way to simplify at this phase, then probably suggest next phase which would cover logging with unit testing and finish

[2019-05-16 15:17] #2607 closed

[2019-05-16 15:23] prestonvanloon commented on #2395
@gutsal-arsen you must be mistaken. Only these packages import `log`
[code]

We often alias `logrus` logger to `log` so if you are just greping for "log" then this is not correct.

[2019-05-16 15:28] prestonvanloon commented on #2395
This suggestion is the best so far: https://github.com/sirupsen/logrus/issues/689#issuecomment-357042506

[code]

The remaining known is how to specify different log to file vs stdout logs. We would like for users to have the nice TTY stdout while having JSON logging. This is likely a very small change on the order of 10 to 20 lines of code and does not required detailed unit testing.

[2019-05-16 15:28] terencechain opened #2615 "Wanted participants bitfield length Y, got X"
Multiple uses got the following screen (see screen shots). I suspect #2565 and #2588 didnt fix the bitfield issues through out the whole state transition cycle

<img width="679" alt="Screen Shot 2019-05-16 at 11 25 53 AM" src="https://user-images.githubusercontent.com/21316537/57866640-a9116000-77cd-11e9-848a-f104b5fe3ccc.png">

[2019-05-16 15:33] terencechain opened #2616 "Aggregate attestation to prevent engress size growing too big"
Talking with @prestonvanloon, the current engress is getting to be 3TB. One reason is we don't aggregate attestation which Is really inefficient spamming the same attestations through out the whole net work. One optimizaton we could explore to aggregate attestation that we can cut down the grow rate to 128x

[2019-05-16 16:19] prestonvanloon opened #2617 "Server side stream -> client to notify client of reorg; client fetch new assignments"
Validators fetching assignments every epoch is ideal for a healthy network, however if there is a reorg that is more than one epoch deep then the previously fetched assignments are likely invalid.

The suggested design here is a reorg notification stream that validator clients can subscribe to and fetch new assignments. This stream is should be very lightweight and simply notify the subscriber tha

[2019-05-16 20:22] SjonHortensius commented on #2543
I have reproduced the testcase in https://github.com/microsoft/WSL/issues/3162 and apparently this was a WSL specific issue that has been fixed in https://github.com/microsoft/WSL/issues/3939 and also listed under https://docs.microsoft.com/en-us/windows/wsl/release-notes#build-18890 as

* Extending mmap’d files does not work properly [GH 3939]

I think @rfikki should retry this with a newer (at l

[2019-05-17 02:26] ligi opened #2620 "runtime error: invalid memory address or nil pointer dereference"
[code]

with the last message repeating ongoing

[2019-05-17 09:59] katzdan commented on #2395
There if requirement to to output the same log level msgs with the same format to both stdout and file then the `MultiWriter` option is indeed the best and simplest but if we are to support different log levels (as per @uto-pia 's request) or different formatting for stdout and file I don't see how this can be done with `MultiWriter` and we'll have to use hooks or some other means of triggering of

[2019-05-17 12:49] uto-pia commented on #2395
Json logs would definitely be more helpful to me than verbose logs, if it's one or the other... I'm more interested in Json logs for the validator and verbose logs for the beacon chain. If you can't add the verbose logs it's no problem (nobody likes them but me), I could use some kind of pseudo-terminal to pull info from the verbose log instead of vice versa

[2019-05-17 19:44] terencechain opened #2629 "A proposal to aggregate attestation"
To fix #2616, Here is one proposal on how we can aggregate attestation.

1. Attester wait until middle of the slot to send attestation to beacon node so any blocks from this slot have time to reach the beacon node. Duration is from `0` to `SecondsPerSlot / 2`

2. Beacon node gathers and aggregates attestations. Duration is from `SecondsPerSlot / 2` to `SecondsPerSlot`

3. Beacon node broadcasts pa

[2019-05-17 21:17] rauljordan commented on #2155
Fixed by @prestonvanloon

[2019-05-17 21:17] #2155 closed

[2019-05-17 21:17] rauljordan commented on #2108
Fixed by #2142

[2019-05-17 21:17] #2108 closed

[2019-05-17 21:17] rauljordan commented on #1980
This has been fixed by #2003

[2019-05-17 21:17] #1980 closed

[2019-05-17 21:24] rauljordan commented on #985
This can be closed now that we have identified a lot of monitoring options for production

[2019-05-17 21:24] #985 closed

[2019-05-17 21:26] rauljordan commented on #272
Stale PR

[2019-05-17 21:26] #272 closed

[2019-05-17 21:26] rauljordan commented on #718
Resolved

[2019-05-17 21:26] #718 closed

[2019-05-17 23:58] nisdas commented on #2629
I am not sure I understand why we need to wait in steps 1 or 2. Isnt an attestation for the current head of the chain, why do we have to wait for block proposals ? Why not just have beacon nodes, just store any attestation that comes in, if a new attestation comes in with the same slot and blockroot we aggregate them.

[2019-05-18 13:01] ligi opened #2641 "Canonical state root X does not match highest observed root from peer Y"
got this after the setting up a new validator after the restart of the chain:
[code]

[2019-05-18 16:17] katzdan commented on #2395
from further review of how logrus lib works - hooks will only get triggered for the specified log level and up so if the stdout logger is configured to log INFO and up - there is now way to get DEBUG/VERBOSE logs to be written, so @uto-pia - the --log-verbose flag would affect both stdout and file logger (if that OK with everyone else).

[2019-05-18 16:21] rfikki commented on #2543
I agree, that it would have been helpful to mention WSL. However it might be easier to know what is pertinent to list/provide when submitting an issue. See the template provided by the Geth team here when submitting an issue. https://github.com/ethereum/go-ethereum/issues/new

[2019-05-18 16:22] rfikki commented on #2543
Thanks for all the assistance provided. I will look into the newer builds after 18890 which have not yet been made part of an official release.

[2019-05-18 17:05] Skretch commented on #2567
Don't know if this will be helpful but got this error seconds after my validator was assigned a proposerSlot.
see 15:28:48
<img src="https://image.prntscr.com/image/qEU3zcdITEuXIuh7PXMnMg.png" width="300">
<img src="https://image.prntscr.com/image/7rDtEUk1QZ2eE8d-mDfOJw.png" width="300">

[2019-05-18 17:50] rauljordan opened #2643 "Refactor Block Tree RPC for Efficiency / Bandwidth Saving"
Hi all,

Our current block tree RPC endpoint [here](https://github.com/prysmaticlabs/prysm/blob/632f6797cd41d212cdbb5f588835943e079da84b/beacon-chain/rpc/beacon_server.go#L285) returns a giant list of all the blocks from the last justified slot to the current, canonical slot. It is quite inefficient to fetch and to serve to clients. Additionally, we should specify request parameters to fetch the b

[2019-05-18 20:45] grasponcrypto commented on #2643
``
Our current block tree RPC endpoint here returns a giant list of all the blocks from the last justified slot to the current, canonical slot. It is quite inefficient to fetch and to serve to clients. Additionally, we should specify request parameters to fetch the blocks within a range of slots.
``

Is the ask here to improve the efficiency of this call?

[2019-05-19 02:16] nisdas commented on #2307
Working on updating deposit contract and state root verification

[2019-05-19 13:30] ligi opened #2649 "runtime error: integer divide by zero"
[code]

[2019-05-19 15:21] nisdas opened #2652 "Public Keys are not in G1"
Currently the bls lib we use has its public keys in g2, which makes the compressed pubkey 96 bytes. However the spec has the pubkeys in g1, with compressed pubkeys being 48 bytes. This issue is to track this until it is resolved.

[2019-05-19 21:57] rfikki commented on #2543
Can confirm that the new build works for me. Updated to 18898.

[2019-05-20 10:40] shayzluf commented on #2307
working on Update state root verification

[2019-05-20 11:11] shayzluf commented on #2307
working on bls verify

[2019-05-20 15:42] cyberbono3 commented on #2307
working on process_final_updates

[2019-05-20 15:51] terencechain commented on #2307
@cyberbono3 `process_final_updates` is done

[2019-05-20 18:04] prestonvanloon commented on #2652
Investigating BLS library solutions this week. If anyone would like to join me in this effort, let me know. Otherwise, I will own this task for now.

[2019-05-20 18:15] prestonvanloon commented on #2649
I think this has been resolved. I'm not sure how to replicate it at the moment.

I'll close for now, but if you see it again please reopen. Thanks!

[2019-05-20 18:15] #2649 closed

[2019-05-20 18:17] prestonvanloon commented on #2641
Thanks for reporting this. It is very common. We'll address this after catching up to recent spec v0.6 changes.

[2019-05-20 18:18] prestonvanloon commented on #2629
Is this blocked by BLS? I'm wondering what the time delay solves as well. If all clients are waiting some amount of time then the messages would still be received at approximately the same time, after the delay.

[2019-05-20 18:19] prestonvanloon commented on #2620
Similar to #2649. Closing for now since it may be resolved already. If you still see it, please reopen.

[2019-05-20 18:19] #2620 closed

[2019-05-20 18:20] prestonvanloon commented on #2615
Holding off investigation until spec-v0.6 in testnet

[2019-05-21 00:54] terencechain commented on #2629
No it's not blocked by BLS as we don't verify signature today, just need to flip the bits.
Time delay allows multiple attestations to pack into one and ease the # of attestation messages propagate in a network

[2019-05-21 09:26] jp8080nl opened #2670 "Better debug references for beacon"
An indicator of sync errors or other issues with beacon node is validator reporting delta >= 0

I would like to
 1 export beacon logs (tail 50 - beacon_restart_log_#)
 2 restart beacon
when validator reporting delta >= 0 and epoch_issue_counter = 10
so I have a log with beacon issues and a restart for a new healthy beacon node

Could this be done with a watch-dog method and does it make sense at a

[2019-05-21 12:36] jp8080nl commented on #2567
I'm getting these errors a lot.
Can I provide more details somehow?

[2019-05-21 15:03] SjonHortensius commented on #2543
@rfikki can you close this issue as it is resolved - and wasn't caused by prysm? This issue has no use remaining open

[2019-05-21 16:25] katzdan commented on #2395
Due to complication in log output format that we encountered - writing logs to file will currently only be supported in the same format output to stdout. This means that you cannot have text format in stdout and json written to logs. Sorry @uto-pia , hopefully this will be amended in the future.

[2019-05-21 20:06] meyer9 opened #2671 "SSZ map concurrent read-write"
Really not sure why this is happening because it's protected by a lock, but I'm getting a concurrent map read/map write error here:

[code]

[2019-05-21 20:20] meyer9 commented on #2671
Run with `-race`:
[code]

[2019-05-21 20:21] meyer9 commented on #2671
Seems that this code path doesn't acquire the lock:
[code]

[2019-05-22 00:53] meyer9 commented on #2671
Reproduced here: https://github.com/meyer9/prysm/tree/ssz-data-race

[2019-05-22 11:22] #2543 closed

[2019-05-22 13:22] #2395 closed

[2019-05-22 14:12] SjonHortensius opened #2674 "When libp2p fails, node never re-attempts to get connection"
Not sure what caused this - but it might be a temporary network glitch:

[code]

I'm see a few things wrong with this:
* after this error the node hangs and never attempts to reconnect. It should schedule a reconnect after a few minutes instead.
* this might also indicate an issue in #2245 as 10.x is not in my list of reachable networks - these nodes should be skipped
* `127.0.0.1` should not be i

[2019-05-22 14:43] katzdan commented on #2643
I'd like to work on this one.

[2019-05-22 15:07] terencechain commented on #2643
before we start, I'd like to have a discussion on what 1.) request parameters and 2.) additional features we would implement with this issue.

can we give more directions here? @rauljordan

[2019-05-22 15:18] katzdan commented on #2643
I'll follow the discussion and ask some questions once I delve into the code. Any guidance you guys can provide before I start would be great. Thanks

[2019-05-22 15:23] katzdan commented on #2395
@rauljordan  , this issue can be closed. The code in https://github.com/prysmaticlabs/prysm/pull/2660 has been merged.

[2019-05-22 15:24] terencechain commented on #2395
@katzdan it's already closed ~2 hours ago

@ceresstation can you approve the bounty?

[2019-05-22 21:56] shazow commented on #70
Can anyone provide clarity about why the project didn't adopt a more permissive license?

Seems to be the right thing to do, especially in the spirit of [the philosophy of subtraction](https://blog.ethereum.org/2019/05/21/ethereum-foundation-spring-2019-update/#2-our-philosophy).

[2019-05-22 22:33] prestonvanloon commented on #70
@shazow Sure, happy to explain. We want to ensure this software remains open and free to use. Take the [linux kernel](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/plain/COPYING) as an example. Imagine if they didn't choose GPL and some company decided to make and withhold improvements to the open source software. This hypothetical company may try to profit from this in some w

[2019-05-23 00:44] meyer9 commented on #2671
Fixed with a94e73b2d6d20fc851355d1c6bec52ab9318986f.

[2019-05-23 00:44] #2671 closed

[2019-05-23 03:56] MattWangming opened #2677 "Can not get beacon node synced even with latest docker image"
Hi, latest docker images pulled from gcr via:
`docker pull gcr.io/prysmaticlabs/prysm/beacon-chain:latest`
then run the docker `docker run -v /tmp/prysm-data:/data -p 4000:4000 gcr.io/prysmaticlabs/prysm/beacon-chain:latest --datadir=/data --clear-db
`
However, the beacon node could not get synced after a few minutes:

time="2019-05-23 03:25:10" level=info msg="Requesting state from peer" canonica

[2019-05-23 06:55] MattWangming commented on #2677
I fix the issue from scratch.
1. remove all the data in local datapath store
2. create a new account and then start the beacon node and validator client
3. send the validator deposit
a few minutes later,  validator get activated and the beacon nodes catch up with the chain~

[2019-05-23 07:20] #2677 closed

[2019-05-23 07:48] MattWangming opened #2680 "Could the ejetced validator be back to the active list?"
I have participated in the testnet since last week, due to network issue or somthing else, my validator offten got ejected! I have tried in many ways to get it back but only result in failure. I have to redo the participation process from scratch. #2677
So here comes my question on the validator participation in the beacon chain:

`we emit a ChainStart log which sets the genesis time of Ethereum 2

[2019-05-23 13:46] katzdan commented on #2643
When can we talk about this? I would like to start working on it...thanks.

[2019-05-23 13:49] terencechain commented on #2643
@katzdan we can begin on adding a feature that allows request to query blocks given a range of slots, feel free to start on that

[2019-05-23 13:53] katzdan commented on #2643
Thanks

[2019-05-23 17:57] shazow commented on #70
Thanks for the quick followup!

Some context: I've been maintaining popular open source projects since 2008, with over 60M downloads/mo. I'm very familiar with the mechanics of GPL and the effects it has on open source efforts, but my experience does not match this.  Are you open to being convinced otherwise? Would it be better to take this conversation to another medium?

Quick summary:
- There w

[2019-05-24 00:06] shayzluf opened #2681 "Spec shuffle tests fail"
Hi all,

Our shuffle function on PR https://github.com/prysmaticlabs/prysm/pull/2667
fail to pass spec tests from here: https://github.com/ethereum/eth2.0-spec-tests/tree/master/tests/shuffling/core
our current implementation is based on protolambda's version of the spec function:
https://github.com/protolambda/eth2-shuffle

as you can see Proto's tests here https://github.com/protolambda/eth2-shu

[2019-05-24 03:21] MattWangming opened #2683 "Beacon chain node could not execute head transition unexpectedly during the runtime"
The beacon node securing to beacon networks is not stable enough. Latest docker image has been pulled down to run the beacon node locally, after a few minutes` execution, the beacon node could not execute state transition any more with unexpected reason. The validator`s behaviour was also impact by this fault. Here is some log output when error appeared:
[code]
The full docker log could be referre

[2019-05-24 09:03] Shammah commented on #2590
This issue is now most likely fixed as part of https://github.com/prysmaticlabs/prysm/pull/2648.

[2019-05-24 09:11] nisdas commented on #2590
@Shammah Yeap, this is taken care of in the updated deposit contract. Closing this issue now.

[2019-05-24 09:11] #2590 closed

[2019-05-24 15:43] prestonvanloon opened #2688 "Linter failing due to upstream breaking change at HEAD"
This PR https://github.com/joonix/log/pull/13 renames log.FluentdFormatter to log.Formatter.

This makes travis unhappy: https://travis-ci.com/prysmaticlabs/prysm/builds/113067474

We need to update our dependency and rename the affected lines of code in our project.

[2019-05-24 15:45] prestonvanloon commented on #2688
It looks like the appropriate usage is `log.SetFormatter(joonix.NewFormatter())`

[2019-05-24 16:14] prestonvanloon commented on #2681
I think @nisdas found a fix for this. Can you confirm?

[2019-05-24 16:16] prestonvanloon commented on #2674
Blocked by
- https://github.com/libp2p/go-libp2p-kad-dht/issues/330
- https://github.com/libp2p/go-libp2p-kad-dht/issues/302

[2019-05-24 16:20] prestonvanloon commented on #2670
1) Exporting logs can be done with new flags to log to disk. See #2660
2) Can you elaborate more on this? We have a health check endpoint at :8080/healthz. This endpoint returns a 200 if everything is healthy and 500 if the server is unhealthy. If you would like some specific health check, we can add it here for your monitoring.

Let me know a bit more about what you're looking for. What is the ep

[2019-05-24 16:21] prestonvanloon commented on #2602
I think this was caused by syncing some fork. Going to close this while we focus on relaunching with spec 0.6.1+ and hope that this issue is resolved in the new launch.

Thanks for reporting! :)

[2019-05-24 16:21] #2602 closed

[2019-05-24 16:21] prestonvanloon commented on #2643
This needs an API design and design review before starting.

[2019-05-24 17:26] prestonvanloon opened #2689 "go-libp2p-secio using significant CPU resources"
When profiling the running beacon chain node, we are seeing secio consume the majority of resources in the node.

Here are a few 30s samples of the running beacon node.

[pprof.image.binary.samples.cpu.019.pb.gz](https://github.com/prysmaticlabs/prysm/files/3217927/pprof.image.binary.samples.cpu.019.pb.gz)
[pprof.image.binary.samples.cpu.020.pb.gz](https://github.com/prysmaticlabs/prysm/files/3217

[2019-05-24 17:27] prestonvanloon commented on #2689
cc: @djrtwo

[2019-05-24 19:52] zediir opened #2690 "Bazel build on windows does not show colors"
When building on Windows using bazel the beacon chain and validator processes don't correctly display colors.

<img width="1610" alt="Capture" src="https://user-images.githubusercontent.com/418053/58353181-7e32a600-7e76-11e9-9590-18a2dfbaa55f.PNG">

Not sure if something specific to my configuration.

[2019-05-24 20:54] #2688 closed

[2019-05-24 21:53] jp8080nl commented on #2670
Thanks for the information.
I was not aware of healthz endpoint.
We could now just check that endpoint and if unhealthy, export logs and then restart the container.

[2019-05-24 21:53] #2670 closed

[2019-05-25 15:05] katzdan commented on #2690
What Windows version are you using? According to https://github.com/bazelbuild/bazel/issues/3108 and https://stackoverflow.com/questions/38772468/setconsolemode-and-enable-virtual-terminal-processing you need Windows 10.
Even on Windows 10 on some machines - coloring of cmd.exe output may be disabled. You can re-enable it following the instructions here : https://github.com/ytdl-org/youtube-dl/iss

[2019-05-25 15:18] zediir commented on #2690
Adding the registry key did it 👍

[code]

[2019-05-25 15:18] #2690 closed

[2019-05-25 15:44] katzdan commented on #2384
I would like to try and fix this one. Might need help in instructions for re-creating this issue.

[2019-05-25 15:51] katzdan commented on #2652
@prestonvanloon  - Please let me know if I can help with this issue.

[2019-05-25 16:37] shayzluf commented on #2681
I confirm and close it. thanks again @nisdas

[2019-05-25 16:37] #2681 closed

[2019-05-26 01:57] terencechain opened #2695 "Libp2p Broke Travis"
Looks like some Libp2p's [breaking changes](https://github.com/libp2p/go-libp2p-host/pull/29) came our way, a few stuff was merged before merging in core package

In Travis:
[code]

[2019-05-26 04:01] katzdan commented on #2512
I'd like to work on this one.

[2019-05-26 04:16] shayzluf opened #2696 "Remove t.skip in 0.6 branch"
during the development phase of v0.6 version of the spec many tests were skipped.
I would like to running those tests and grow our test coverage back

[2019-05-27 03:08] MattWangming opened #2709 "runtime: out of memory error after beacon node start from scratch"
I gitpull latest docker image from gcr this morning, and try to start beacon node locally but error printout `runtime: out of memory`, and the deamon break out:
[code]
You can refer to the latest complete error log as below
[error.log](https://github.com/prysmaticlabs/prysm/files/3221673/error.log)

PS: is there any prerequisity for the testing HD environment, e.g. 1core, 1G memory with docker imp

[2019-05-27 15:41] katzdan commented on #2643
How can we push this forward?
I'm currently working on the Block filtering by slot range (pending fixing the test execution) but still waiting to see what else is in the scope of work for this issue.

[2019-05-27 15:43] terencechain commented on #2643
Will you be able to propose a few API designs on what you think would be useful for users to retrieving block tree?

[2019-05-27 15:46] katzdan commented on #2643
Sure.

[2019-05-27 19:47] prestonvanloon commented on #2695
It might be fixed according to this: https://github.com/libp2p/go-libp2p/issues/649

[2019-05-27 23:51] raulk commented on #2695
Hey, gomod can be a pain sometimes. Easy way to fix this is to manually remove all go-libp2p modules from your go.mod file, and do a `go get` followed by a `go mod tidy`. That will ensure the build picks up the latest versions of everything.

[2019-05-28 11:03] raulk commented on #2695
I noticed prysm doesn't use go modules. Any particular reason?

[2019-05-28 11:39] balboah commented on #2688
sorry :)

[2019-05-28 12:08] yahtoo opened #2715 "build beacon-chain error"
#bazel build //beacon-chain:beacon-chain
ERROR: /home/xxx/go/src/github.com/prysmaticlabs/prysm/beacon-chain/powchain/BUILD.bazel:3:1: no such package '@io_k8s_client_go//tools/cache': failed to generate BUILD files for k8s.io/client-go: Timed out and referenced by '//beacon-chain/powchain:go_default_library'
ERROR: Analysis of target '//beacon-chain:beacon-chain' failed; build aborted: no such pa

[2019-05-28 14:34] prestonvanloon commented on #2695
We didn't have support for it originally with our build tooling, but it looks like we have support now: https://github.com/bazelbuild/bazel-gazelle/pull/292 We'll need to assess how this behaves with renovate.

We have two solutions here:
- Move off of travis and `go get` (low priority, but happening incrementally for months now)
- Add vgo support and try to keep go.mod in sync with the WORKSPACE

[2019-05-28 17:31] katzdan commented on #2715
1. Can you please specify the environment you are trying to build one? OS, version?
2. Did you try to delete the repo, clone it again and then build again? if not - please do and report if it helped.

[2019-05-28 22:18] djrtwo commented on #2689
cc @raulk

[2019-05-29 01:28] yahtoo commented on #2715
1.
Linux  4.15.0-47-generic #50~16.04.1-Ubuntu SMP Fri Mar 15 16:06:21 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

2.  Did you try to delete the repo, clone it again and then build again? if not - please do and report if it helped.
when I try again, get this
INFO: An error occurred during the fetch of repository 'com_github_x_cray_logrus_prefixed_formatter'
INFO: Call stack for the definition of repo

[2019-05-29 02:37] prestonvanloon commented on #70
THanks for the feedback @shazow. I won't argue with you that MIT and other more permissive license allow more freedoms with regards to distributing closed source projects when using projects with modification.

I can appreciate your perspective about this. To be clear, our intention is not to prevent anyone from using the project for profit. The GPL license allows anyone to freely use the project

[2019-05-29 02:57] katzdan commented on #2715
It looks like there is a different error on the second build attempt. I tried building again from scratch and everything went fine. Since the failure of the build is not consistent - I would assume there is something in your environment affecting the build (perhaps a networking issue?).

[2019-05-29 06:08] prestonvanloon commented on #2715
Seems like a networking issue to me. Timing out when fetching remote repositories.

[2019-05-29 15:16] Doppelbock42 commented on #2605
I haven't seen this again and it doesn't look like anyone else is getting it. Closing the issue.

[2019-05-29 15:16] #2605 closed

[2019-05-29 15:52] prestonvanloon commented on #1549
https://github.com/prysmaticlabs/go-ssz

[2019-05-29 18:49] meyer9 opened #2724 "Update Phore BLS library to newest version"
The new Phore BLS library uses basically the same API, but moves the BLS functions from `github.com/phoreproject/bls` to `github.com/phoreproject/bls/g{1,2}pubs`. Also, of course, the signature size/public key size is different depending on if you use public keys in G1 or G2.

[2019-05-29 19:06] prestonvanloon commented on #2652
Julian's work supports this now: #2724.

[2019-05-29 19:14] prestonvanloon commented on #2724
Keys are now 48 bytes for public keys and 96 bytes for signatures if public keys are in G1.

[2019-05-29 23:01] terencechain opened #2726 "Remove Deprecated Validator Protobuf"
We'll need help on removing deprecated validator fields for protobuf, by doing so, it will allow us remove unused function like `eligibleToExit` and update `lookupValidatorStatusFlag` in RPC server.

@0xKiwi has expressed interest taking on this. Thanks Ivan!

[2019-05-30 01:04] #1549 closed

[2019-05-30 04:54] 0xKiwi commented on #2726
So working on updating `lookupValidatorStatusFlag`, the indications for which status the validator currently is have changed.

Previously they were:
[code]

But now since `StatusFlags` have been removed, they need to be modified. Are these changes correct?
[code]

[2019-05-30 04:56] 0xKiwi commented on #2726
Also, in `beacon-chain/db/state_metrics.go`, there are configurations in place for prometheus that also need updating.

[code]

With the removal of the deprecated protos, `SlashedEpoch` no longer exists, what should this be changed to?

[2019-05-30 05:49] nisdas commented on #2272
Closing this since its been resolved.

[2019-05-30 05:49] #2272 closed

[2019-05-30 05:51] nisdas commented on #52
@prestonvanloon Is this still relevant ? seems like this will be pretty far way for us

[2019-05-30 05:53] nisdas commented on #1366
Closing this since its been resolved some time back.

[2019-05-30 05:53] #1366 closed

[2019-05-30 05:54] nisdas commented on #1765
@terencechain can we close this ?

[2019-05-30 06:26] nisdas commented on #2680
@MattWangming Hey once a validator has been ejected due to having a balance less than the ejection limit, there isnt a way for the same validator be inducted back into the active validator set.

[2019-05-30 07:21] 0xKiwi commented on #2726
Should `lookupValidatorStatusFlag()` be renamed to `lookupValidatorStatus()`?

[2019-05-30 13:31] terencechain commented on #2726
that sounds good to me

[2019-05-30 13:32] terencechain commented on #2726
is there an another way to tell which epoch validator slashed?

[2019-05-30 13:34] terencechain commented on #1765
we should do this with the 0.6 spec, should be easy to implement. I'll take care of it

[2019-05-30 22:39] raulk commented on #2689
Thanks for attaching CPU profiles! On mobile now and can’t open; will look tomorrow. We merged native OpenSSL RSA crypto support under the “openssl” build tag a few weeks ago: https://github.com/libp2p/go-libp2p-crypto/pull/61. It’s 3x faster than the go sdk. I wonder if that’s your bottleneck though, as this only manifests when under heavy load (e.g. relay nodes piping traffic for some 100k peers

[2019-05-31 02:30] MattWangming commented on #2680
@nisdas Thanks for your reply. I mean if there is any design mechanism for the validator`s role life cycle management, e.g.
[code]
What is the following procedure should the validator itself take actively to make it back to the active list again?
There is  some reference in the POS, e.g. cosmos project. Here is some clue on its design explanation:[validator in cosmos](https://github.com/cosmos/cos

[2019-06-01 06:40] #2726 closed

[2019-06-02 05:38] katzdan commented on #2643
Hi Guys,

I'm trying to figure out which new APIs we can offer to 3rd party actors that want to query the beacon-chain service. Still learning , hope to have something within a few days.
In any case - I can see the potential for a heavy load of data that's queries and then returned to the client. In many enterprise systems - the transaction related functionality is separated from reporting functio

[2019-06-02 05:50] katzdan commented on #2643
I see this branch is merged so I'll create a new issue for adding new feature to the BlockTree rpc service.

[2019-06-02 05:55] katzdan opened #2739 "Enhance new querying funcs to Block Tree RPC for Efficiency / Bandwidth Saving"
Continuing https://github.com/prysmaticlabs/prysm/issues/2643 - There is a need to add new funcs for querying the BlockTree rpc service.

I'll prepare a list of funcs for querying the block tree but first - regardless of how clients can query the beacon-chain service - I would recommend that **any** function that's used to query the tree will support paging to reduce amount of data retrieved and r

[2019-06-02 05:55] terencechain commented on #2643
you can still use this issue, I merged the PR #2720 because what it's intend to do was done. We shouldn't implement a pr with multiple features, the goal is to keep it simple and easy to review

[2019-06-02 05:56] terencechain commented on #2643
Closing to favor #2739 for the new discussions

[2019-06-02 19:48] terencechain opened #2740 "Cache Active Indices Efficiently"
Opening this issue to discussion memory efficient strategy to allow more cached values for active validator indices. One easy optimization for now is to store the list of inactive validators. Data structure is easy with a map, if an index is not present in the map then it is active. Another suggestion is a radix tree

[2019-06-02 19:49] terencechain commented on #2740
From talking with @prestonvanloon:
- radix trie can reduce storage, may have more insertion cost, and some retrieval cost
- inverse validator set can save on space for the for seeable future, but it is not a long term strategy (it may only buy a few years of efficency)
radix  trie should be easy since we are just using 64 bit numbers

[2019-06-02 19:57] prestonvanloon commented on #2307
Please add a requirement that all TODO(2307) are done in spec-v0.6 branch

[2019-06-03 20:13] cyberbono3 commented on #2740
I can start working on radix trie

[2019-06-03 21:56] prestonvanloon commented on #2546
The binaries should build on ARM as of e71e91c9aaa6ddf2a15a6fb329a95b7d88b8a254, but we don't officially support ARM binaries at this time.

[2019-06-04 10:22] diglos commented on #2546
Hi,
yes, it compiles fine on ARM64, thanks for noticing. I will be doing some testing with this.
Regards!

[2019-06-05 12:52] zediir opened #2757 "Enable UPnP for p2p"
Apparently libp2p already supports UPnP and PMP https://github.com/libp2p/go-libp2p/issues/319#issuecomment-383505818

Enabling this would mean users with UPnP enabled routers would not need to configure port forwarding if they want to expose the p2p port.

Not sure how this would behave with the docker images

[2019-06-05 18:11] prestonvanloon commented on #2757
I _think_ this functionality is already enabled within libp2p core library. See: https://github.com/libp2p/go-libp2p/issues/375#issuecomment-407122416

It seems that providing [NatPortMap](https://godoc.org/github.com/libp2p/go-libp2p#NATPortMap) might be enough to enable this functionality. I'm not sure how to test this actually works as this method has no explicit tests and documentation is lack

[2019-06-05 18:12] prestonvanloon commented on #2757
Labelling with help wanted, if anyone wants to investigate this issue and report their findings here.

[2019-06-05 21:49] prestonvanloon commented on #52
Yes

[2019-06-05 21:50] #2695 closed

[2019-06-05 21:50] prestonvanloon commented on #2695
This is no longer breaking us. The current travis breakage is #2724

[2019-06-05 21:52] prestonvanloon commented on #2574
We now support logging to JSON with #2395. Closing this for now. Please re-open if there are more actionable items.

[2019-06-05 21:52] #2574 closed

[2019-06-05 21:52] prestonvanloon commented on #2600
Waiting for #2312 to re-evaluate this.

[2019-06-05 21:53] prestonvanloon commented on #2616
@terencechain is there anything blocking this?

[2019-06-05 21:56] prestonvanloon commented on #2643
This issue has started a larger initiative to get a formal design on our entire read data API. Starting with this [product requirements document](https://docs.google.com/document/d/1LmlF0meuzx7LN8fSkuZWtGSZy1K0ZgyTIwL0zdR8Or0/edit), we're collecting use cases and feedback from users. Following that, we'll start on a formal design proposal for a proper API server schema.

[2019-06-06 08:17] cosminstefane opened #2760 "Sync issues by using beacon-chain:latest on 06.06.2019"
When I start the beacon chain (latest), it remains stuck at

When stopping it, I got:

Sapphire works as expected.

[2019-06-06 08:19] nisdas commented on #2760
For reference current master is at this commit: 85c5672ab3feb41f7dbf0c849eebf634923f967d

[2019-06-06 13:47] terencechain commented on #2616
Nothing blocking. Anyone can start with a proper design doc

[2019-06-08 02:08] terencechain opened #2766 "Handle Attester and Proposer Slashings in Operations Service"
Similar to attestations, and deposits, we should implement retrieval methods in the operation service for beacon block operations such as slashing and exit. These methods will be used for proposer RPC service to construct to-be-retrieved block

[2019-06-09 21:32] ethDreamer opened #2772 "validator reports incorrect prevBalance with multiple accounts"
When staking with multiple keys, the validator thinks each account started with the sum of all account balances.  This causes it to calculate losses incorrectly.

![weirdstart](https://user-images.githubusercontent.com/37123614/59164554-87f61380-8adc-11e9-9466-c6482644651a.png)

[2019-06-09 23:08] zediir commented on #2772
duplicate of https://github.com/prysmaticlabs/prysm/issues/2573

[2019-06-10 01:58] cyberbono3 commented on #2766
I can start working on it

[2019-06-10 02:15] cyberbono3 commented on #2740
1.B-Tree - self balanced binary tree , has 5 properties. Used in postgres by default.
Worst Case
Search  O(log n)
Insert  O(log n)
Delete  O(log n)

B-tree is used to stotre database indices in Postgres
https://ieftimov.com/post/postgresql-indexes-btree/
Limitations: expensive Insert operation in larger trees.

2.B+Tree offers some performance gain due to linked leaves structure and absense of int

[2019-06-10 04:17] cyberbono3 commented on #2740
Variables:
Index s
Index length(number of digits) m
Total length of all indexes : M
The number of all indexes stored in a trie n
Size of committee N  ( i am not sure here as it is size of alphabet in case we deal with strings)

1.Trie

Trie Add O(mN)
Trie remove O(mN)
Trie Search O(m)
If M is total length of all indexes stored in a trie then the storage used is O(MN)

2.Patricia trie - all interna

[2019-06-10 16:54] prestonvanloon commented on #2772
Closing as duplicate of #2573

[2019-06-10 16:54] #2772 closed

[2019-06-10 16:56] katzdan commented on #2757
I'll look into it.

[2019-06-10 17:02] prestonvanloon commented on #2766
What does this mean exactly?

[2019-06-10 17:03] prestonvanloon commented on #2715
Closing for now. Kindly reopen if this is still an issue.

[2019-06-10 17:03] #2715 closed

[2019-06-10 17:07] terencechain commented on #2766
It means to implement operation service for `slashing` and `exit` beacon chain objects, this is a high level place holder issue mainly needed to link code TODO with an issue.

The detail design is needed to sort this out, and this is not urgent yet

[2019-06-10 23:13] ethDreamer commented on #2573
@prestonvanloon It looks like he made the deposit to TWO separate validator public keys in which case he IS earning interest from both deposits. The validator is simply reporting his initial balance incorrectly.

[2019-06-11 18:50] cyberbono3 commented on #2740
from talk with @prestonvanloon : i think there are still better data structures out there
at least for the active validator indices set
this is a very dense sequence of integers
i'm thinking of a range trie/tree or similar

[2019-06-11 19:47] rauljordan commented on #1600
Resolved in latest master of https://github.com/prysmaticlabs/go-ssz

[2019-06-11 19:47] #1600 closed

[2019-06-12 05:21] 0xKiwi opened #2790 "[Mega Tracking] - Align spec to release v0.7"
This is a PR for tracking our updates to v0.7.0 of the spec 🎊

- [x] 💎 **Documentation updates**  💎
  - [x] Update documentation in [`process_slashings`](https://github.com/ethereum/eth2.0-specs/pull/1123/files#diff-51a43328a58414e132a744f3771f018cR1535) | #2791

- [x] 💎  **Update Protobuf data structures**  💎
  - [x] Remove `index` from [Deposit](https://github.com/ethereum/eth2.0-specs/pull/1122

[2019-06-12 23:40] prestonvanloon commented on #2573
@ethDreamer Yep! I think that's the issue. It's a cosmetic / reporting problem only.

[2019-06-12 23:45] prestonvanloon commented on #2790
Can this be closed? everything is checked...

[2019-06-13 03:43] cyberbono3 commented on #2740
Range tree is perfect balanced binary search tree that enables many operations including range_query
TREE-Search O(h) where h is height if the tree
Each nide contains attributes, key, left and right and pointer that points to node's left child
Operations and time complexity:
Tree-Minimum (The most left element)  O(h)
Tree-Maximum  ( themsot right element) O(h)
Tree Successor O(h)
Tree Predecessor

[2019-06-13 08:55] katzdan commented on #2757
Initial test results:
1. I added the libp2p.NATPortMap() option in the libp2p new instance creation in /shared/options.go, /tools/bootnode.go, /tools/bootnode-query/main.go and in /boot/relaynode/relaynode.go.
2. I enabled UPNP on my router.
3. Ran the beacon-chain service with and without UPNP and saw there are differences in the logs:
Without UPNP :
![without_upnp](https://user-images.githubuser

[2019-06-13 09:25] katzdan commented on #2573
I would like fix this issue.

[2019-06-13 09:29] zediir commented on #2573
There's already some work done here https://github.com/prysmaticlabs/prysm/pull/2771

[2019-06-13 14:37] prestonvanloon commented on #2757
Those warnings are normal. It means that someone else is connect to the network and asking for the wrong contract. These context failures seem like a bigger issue.

The real test is if you can dial your node from the outside world. Have you been able to verify that?

[2019-06-13 14:39] prestonvanloon commented on #2680
Hey @MattWangming. This feature won't be present in phase 0.
We definitely need this feature in the near future, ideally in phase 1.

[2019-06-13 14:50] katzdan commented on #2757
Thanks @prestonvanloon , I'll check that and report.

[2019-06-13 15:18] cyberbono3 commented on #2740
I assume, we have to run only Insert, Search, Delete operations over validator indices so Red Black tree is less expensive.

[2019-06-13 21:03] terencechain commented on #2790
The rest of the checklists will be addressed by
https://github.com/prysmaticlabs/prysm/pull/2797

[2019-06-14 02:21] MattWangming commented on #2680
Hi @prestonvanloon, thanks for your clarification. Look forward to this feature release to make validator more flexible.

[2019-06-15 15:15] #2696 closed

[2019-06-15 15:16] #2643 closed

[2019-06-15 15:17] #2026 closed

[2019-06-15 15:31] terencechain opened #2798 "Tidying up validator client with latest spec"
Took a quick glance on our validator client and I think it needs some clean up to align to the latest 0.7 spec. Couple items I see are out of date and can be improved on:

1. Combine `BeaconClient` and `ValidatorClient` the separations of the two dont make sense and it's confusing. Other than `ProposerClient` and `AttesterClient`, we really just need 1 actor to query information on beacon chain li

[2019-06-17 00:09] jbriquet opened #2802 "Sync issues : fListening for regular sync messages from peers"

[2019-06-17 00:12] jbriquet opened #2803 "Sync issues : Listening for regular sync messages from peers"
Facing sync issues with beacon-chain (commit : dd131561b) . Initially tried to sync overnight, but it hung forever. Here is a log when trying to sync for 15mn.

[code]

[2019-06-17 02:21] MattWangming commented on #2680
Close it with positive feedback from core Dev: this feature is under drafting in the following phase 1.

[2019-06-17 02:21] #2680 closed

[2019-06-17 02:56] #2802 closed

[2019-06-17 15:32] rauljordan opened #2812 "Write Test Runners for Spec Tests in Their Respective Packages"
Hi all,

This is a tracking issue to ensure Prysm passes the latest Eth2 spec tests as maintained [here](https://github.com/ethereum/eth2.0-spec-tests/tree/master/tests). Every YAML file has a specific structure to it with specific expectations and configuration values. As discussed by the team offline, we agreed to keep these test runners constrained to the specific package they target. For examp

[2019-06-17 16:14] prestonvanloon commented on #2812
Example gist of using upstream eth2 yaml as a runfile data via bazel: https://gist.github.com/prestonvanloon/7beb97de9d22651dd5bf318135bb4520

Please choose the appropriate test size https://docs.bazel.build/versions/master/test-encyclopedia.html#role-of-the-test-runner

Please tag all of the spec tests with `manual` and `spectest`.

[code]

[2019-06-18 02:11] rauljordan commented on #2812
I am taking up SSZ

[2019-06-18 14:18] XinyaYang0506 commented on #2546
@diglos Hi,
I am trying to use this on raspberry pi, and on the way figuring out how to compile this repo from the source. Can you give me some guidance? thanks!

[2019-06-18 14:45] diglos commented on #2546
Hi Xinya,
the tricky part is compile bazel for ARM. This is possible on a ARM64 board with 4GB RAM but I don't know if the Raspberry pi can do this. You may try this guide (section 3):
https://github.com/samjabrahams/tensorflow-on-raspberry-pi/blob/master/GUIDE.md
and, once you have the bazel binary, follow this page instructions to build the prysm validator and beacon chain.

[2019-06-18 15:27] XinyaYang0506 commented on #2546
I will try this, thanks!

[2019-06-18 16:46] prestonvanloon opened #2820 "BLS changes break runtime"
Changes in #2724 break the run-time for validators.

[code]

It seems we have a hard coded length of "96" and the key sizes are now "48". Until this is resolved, the testnet is offline.

[2019-06-18 16:48] prestonvanloon commented on #2724
This was closed in #2792

[2019-06-18 16:48] #2724 closed

[2019-06-18 21:32] prestonvanloon opened #2822 "kubesec starlark rule fails in bazel 0.27"
`single_file` in starlark is no longer valid.

https://github.com/prysmaticlabs/prysm/blob/df84615496dcba2e3e83a862e274db56106520c6/tools/kubesec.bzl#L24

See: https://github.com/bazelbuild/bazel/issues/5818

[2019-06-18 21:48] prestonvanloon opened #2824 "go-ssz breaking changes in API"
There are some API changes in https://github.com/prysmaticlabs/go-ssz/pull/17. This is currently failing travis and will soon fail Prysm when we next update go-ssz.

The task is to update the go-ssz dependency in workspace, then update the API usage to work.

[2019-06-18 22:02] #2820 closed

[2019-06-19 01:14] prestonvanloon commented on #2546
I think this was blocked by crosstool rewrite (https://github.com/bazelbuild/bazel/issues/5380).

Most likely, we need to add some cc toolchains for cross compilation. See: https://docs.bazel.build/versions/master/tutorial/cc-toolchain-config.html

There is a tutorial here for clang: https://github.com/bazelbuild/rules_go/blob/master/go/crosstool.rst

Other artifacts:
- https://github.com/bazelbui

[2019-06-19 02:17] jbriquet commented on #2546
Here are the notes I have taken when compiling bazel for an ARM64 (4 cores A53, 2GB RAM).
[code]

[2019-06-19 04:42] prestonvanloon commented on #2546
Thanks @jbriquet! My last comment is referring to cross complation. We’d love to build ARM64 binaries for you without unreasonable build environment, but I am glad to see that you were able to build one after 1450s(!!!).

ARM builds will soon be a priority for us and we’ll be providing regular ARM binaries for tagged releases soon :)

[2019-06-19 07:38] diglos commented on #2546
Great news!
I'm releasing beacon-chain and validator binaries in the next Ethereum on ARM release for NanoPC-T4 and RockPro64. So far, they work quite well :-)

[2019-06-19 16:13] superphiz opened #2830 "Build fails under the latest release of Bazel (0.27.0)"
When building target //validator:validator with the latest current version of bazel (0.27.0) the following error is encountered. Regressing to bazel 0.26.0 resolves the error.

ERROR... 'single_file' is no longer supported. use allow_single_file instead. You can use --incompatible_disable_deprecated_attr_params=false to temporarily disable this check.

[2019-06-19 16:52] prestonvanloon commented on #2830
Duplicate of #2822. We'll need to merge #2822 to resolve this. I'll ping for code review on it.

[2019-06-19 17:01] #2822 closed

[2019-06-19 17:02] prestonvanloon commented on #2830
@superphiz #2823 is merged now and you should be unblocked here.

Sorry about that!

[2019-06-19 17:03] prestonvanloon commented on #2652
This is done!

#2792

[2019-06-19 17:03] #2652 closed

[2019-06-19 17:06] prestonvanloon commented on #2803
@jbriquet The chain was actually stalled at that time so no blocks were being produced.

We've reset testnet and redeployed a new contract to use since then. If you give this another go, it should be working for you, but please reopen if still having issues. Thanks!

[2019-06-19 17:06] #2803 closed

[2019-06-19 17:53] katzdan commented on #2757
Hi,

findings:
1. When enabling UPNP  and using NATPortMap() as one of the option in libp2p.New() - a new address is added to the multiAddr
Without NATPortMap() :
[2019-06-19 22:39:01]  INFO p2p: [/ip4/192.168.0.107/tcp/12000]
With  NATPortMap() :
[2019-06-19 22:42:21]  INFO p2p: [/ip4/192.168.0.107/tcp/12000 **/ip4/118.173.172.41/tcp/10331**]
The second address' ip address segment is, of course,

[2019-06-19 21:04] prestonvanloon commented on #2760
The chain may have been stalled at that point in time or you may have lost your peers, I am not sure at this moment. We're aiming to release some big changes in the next week or so and hopefully issues like this one are resolved.

Please reopen this issue if you still experience this at a later time. Thanks for reporting!

[2019-06-19 21:04] #2760 closed

[2019-06-20 01:34] prestonvanloon commented on #2757
Awesome! This is excellent work.

Let’s add this as a feature flag where the default value is OFF. We can test it out in a few scenarios and then graduate the flag with default value ON.

[2019-06-20 04:30] cosminstefane commented on #2760
Hi Preston, peers lost or not, sapphire was working, latest didn't. Now I have same problem, on both, I just pulled the latest. No problem, waiting for next update.

[2019-06-20 08:55] katzdan commented on #2824
I'd like to work on this one.

[2019-06-20 15:51] prestonvanloon commented on #2812
Is this a complete list of all yamls upstream?
[code]

[2019-06-20 19:54] prestonvanloon opened #2834 "Consider Roughtime as a NTP backup"
**Background**: https://roughtime.googlesource.com/roughtime

**Problem to solve**: NTP (network time protocol) responses are insecure and may be subject to MITM attacks. This is especially risky if the host machine only synchronizes its clock every few hours.

**Summary**: Roughtime is a project that aims to provide secure time synchronisation. Roughtime can resolve clock time within <10s accepta

[2019-06-21 18:37] terencechain opened #2837 "Spec test single crosslink update fails"
Notes for debugging:

1. The branch is `epoch-processing-test-runner-part1`
2. Here is the [test](https://github.com/prysmaticlabs/prysm/blob/cd83653ae1fa79466a98ad94f72f17bfcabcf1b3/beacon-chain/core/epoch/spectest/epoch_processing_crosslink_test.go)
3. Running the test, you'll see test cases `single_crosslink_update_from_current_epoch` and `single_crosslink_update_from_previous_epoch` fail
4. We

[2019-06-23 19:39] terencechain commented on #2837
Resolved via #2840

[2019-06-23 19:39] #2837 closed

[2019-06-23 19:48] terencechain opened #2841 "Remove index from deposit"
The [index](https://github.com/prysmaticlabs/prysm/blob/spec-v0.6/proto/beacon/p2p/v1/types.proto#L193) is no longer a field in [Deposit](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/core/0_beacon-chain.md#deposit), we'll need to update our `Deposit` type for protobufs as well as `ProcessDeposit` function in block_operations.go

I'm making this as critical because it's blocking ssz spec

[2019-06-24 11:35] prestonvanloon commented on #2834
Cloudflare released a secure NTP recently.

 https://www.google.com/amp/s/blog.cloudflare.com/secure-time/amp/

[2019-06-24 12:57] prestonvanloon commented on #2740
To clarify the requirements for this issue:
- Write benchmarks to explain the CPU and memory costs of the current implementation
- Explore a few ideas with the same benchmark and compare the results
- If there exists some non-trivial improvement, then we'll accept a PR with the better data structure.

[2019-06-24 12:59] prestonvanloon commented on #2798
It might be a good idea to add this as a general overhaul to the beacon chain / validator API similar to the changes we are making to support github.com/prysmaticlabs/ethereumapis.

Perhaps these protos can live upstream as well.

[2019-06-24 13:14] prestonvanloon opened #2849 "Add support for cross compilation in Bazel"
Currently, we're unable to build for other OS / architecture whenever the binary target depends on a cgo library. This includes any dependency on go-ethereum in the beacon-chain and potentially a future BLS library.

To reproduce the issue, try building the beacon chain with a different toolchain specified.

Building in on linux targeting windows:
[code]

Building on linux amd64 targeting arm64.
[

[2019-06-25 06:53] 0xKiwi commented on #2841
Can this be closed now thanks to [this commit](https://github.com/prysmaticlabs/prysm/commit/f59563cfbe79b21e04e83764526fc4432d739de2)?

[2019-06-25 06:57] nisdas commented on #2841
Yeah sounds good, closing this

[2019-06-25 06:57] #2841 closed

[2019-06-25 22:43] terencechain opened #2857 "Fix BLS to work with uncompressed format"
For BLS, if the uncompressed format is not compatible, it will cause an issue in [DecompressG2]( https://github.com/phoreproject/bls/blob/master/g2.go#L233)
This was reproduced by the [invalid_sig_new_deposit](https://media.githubusercontent.com/media/ethereum/eth2.0-spec-tests/master/tests/operations/deposit/deposit_minimal.yaml) deposit test, an invalid signature was in uncompressed format and `

[2019-06-26 01:07] prestonvanloon opened #2858 "Lint failures in master"
[code]
https://travis-ci.com/prysmaticlabs/prysm/builds/116901768

I think I did this in #2826, oops!

[2019-06-26 04:14] i6du opened #2859 "bls error panic: runtime error: invalid memory address or nil pointer dereference"
go version go1.12.6 darwin/amd64

code

[code]

error

[code]

[2019-06-26 06:29] nisdas commented on #2859
Hey we use the [phore](https://github.com/phoreproject/bls) library as our underlying BLS library. This issue would be better raised there but as far as I understand from the library, the given token maps to an invalid FR point leading to the bytes being marshalled to an invalid secret key. This leads to the panic when trying to sign a message.  @meyer9 would be able to dig into this issue better

[2019-06-26 07:27] katzdan commented on #2849
Id' like to get into this one. Wanted to delve into Bazel for a while now.

[2019-06-26 21:09] prestonvanloon commented on #2757
Resolved in #2860. Thanks for all of the research and a quick turn around on the feature!

[2019-06-26 21:09] #2757 closed

[2019-06-27 04:11] meyer9 commented on #2859
I'll look into it tonight. I think this might happen when the private key is too big.

[2019-06-27 11:38] SjonHortensius commented on #2709
I think 1 GiB of memory is simply not enough - my node uses ~ 5 GiB RSIZE and https://github.com/prysmaticlabs/prysm/pull/1232 also shows at least 3.5 GiB allocated. I'd definitely retry with more available memory

[2019-06-27 17:33] meyer9 commented on #2859
Ah, you're using `DeserializeSecretKey` which should use the output from `SerializeSecretKey`.

You should use `DeriveSecretKey` which can take arbitrary bytes.

[2019-06-28 03:59] MattWangming commented on #2709
Hi @SjonHortensius, thanks for your info.

[2019-06-28 06:58] #2859 closed

[2019-06-28 12:49] prestonvanloon commented on #2709
Thanks for the feedback. We're going to be working on reducing the memory footprint and identifying where this memory usage is coming from.

I would recommend at least 2GB of RAM, but I do not expect it to use more than 4GB at this time.

[2019-06-28 18:37] prestonvanloon opened #2866 "Spec 0.8: Add check indices are sorted in validate_indexed_attestation"
Some context and discussion here: https://github.com/ethereum/eth2.0-specs/pull/1225

Adding this issue for tracking, we should see some new test failures in spectest since this _should_ be enforced. If it is not enforced in spec test, then we probably don't need it.

[2019-06-29 17:56] katzdan commented on #2824
Waiting for https://github.com/prysmaticlabs/go-ssz/issues/32 to be completed n order to continue with   https://github.com/prysmaticlabs/prysm/pull/2865.

[2019-06-29 23:13] prestonvanloon opened #2871 "Process blocks / attestations from RPC before propagating"
After some discussion with @terencechain today, we decided we would like to revisit our strategy for newly created blocks/attestations.

To resolve this issue, we would need to outline all of the risks and benefits for each strategy. Here are some thoughts:

Upon receiving a new objective via RPC.
## Broadcast immediately, then validate after
**Pros**
- Blocks have more time to propagate throughou

[2019-06-30 04:18] prestonvanloon commented on #2824
@katzdan just merged prysmaticlabs/go-ssz#33 to close prysmaticlabs/go-ssz#32. You should be unblocked now

[2019-06-30 15:28] prestonvanloon commented on #2866
Blocked by https://github.com/ethereum/eth2.0-specs/pull/1238

[2019-06-30 16:29] prestonvanloon commented on #2812
Waiting for spec freeze to cut new (final) yaml files to resolve this.

[2019-06-30 16:38] katzdan commented on #2858
I just committed fixes for this files (thinking I caused them by mistake...). They can me merged as part of https://github.com/prysmaticlabs/prysm/issues/2824. Let me know if I should rebase or leave the commit as is.

[2019-06-30 18:40] terencechain commented on #2871
Captured a few notes @djrtwo mentioned on Gitter. These are good points as well

In response to Beacon node’s reputation is on the line:
`I think the idea here was a speed concern. A validator is a very privileged user wrt a beacon node (likely the owner). The validator also likely got the message (block/attestation) directly from the node, only to sign it and pass it back. To perform full block o

[2019-06-30 19:39] prestonvanloon commented on #2871
This could be a configuration flag. Perhaps public, unauthenticated nodes would allow anyone to submit attestations or blocks but the node would verify the processing before submitting to the network.

[2019-06-30 22:34] prestonvanloon opened #2875 "Spec freeze: Update BLS API to use bytes for domain value"
Changed in https://github.com/ethereum/eth2.0-specs/pull/1246

All of the `domain` fields in the BLS API will need to be changed from uint64 to [8]byte.
Example: https://github.com/prysmaticlabs/prysm/blob/f12fdfda0f2e4e27230422209fab7b092bb75bae/shared/bls/bls.go#L105

[2019-07-01 06:09] prestonvanloon commented on #2812
There are some new tests: https://gist.github.com/prestonvanloon/ad815f6bd4c132018f16f53b436e2440

[2019-07-01 15:20] terencechain opened #2891 "Align to the latest v0.8 Beacon Chain Spec"
This is a tracking issue to ensure our beacon chain implementation is up to date with the latest v0.8 spec. The target is: https://github.com/ethereum/eth2.0-specs/commit/8d324b7497bcb558e0183a30002d78d18704e3fa

**features**

- [x] minor modification to inclusion rewards and adjust reward factor (https://github.com/ethereum/eth2.0-specs/pull/1159) #2888
- [x] increase historical vectors length an

[2019-07-01 22:09] prestonvanloon commented on #2875
Actually, this is only a cosmetic issue and does not violate any spec conformance testing.

Lets ignore this change until BLS spec is final.

[2019-07-01 22:09] #2875 closed

[2019-07-02 10:13] shayzluf commented on #2891
working on add compact committee roots get_compact_committees_root

[2019-07-02 11:13] terencechain commented on #2891
I'm pretty sure @nisdas has been working on that. It says on going with a PR number

[2019-07-02 11:21] shayzluf commented on #2891
yes he updated me. and i added his pr to the issue. just forgot to remove my comment. not working on it anymore

[2019-07-02 22:05] eliotstock commented on #2830
I'm still seeing this error when building master using bazel 0.27.1. I'm trying to build commit f12fdfda0f2e4e27230422209fab7b092bb75bae.

[2019-07-03 18:22] prestonvanloon commented on #2757
@ceresstation can you help to release the bounty please?

[2019-07-04 04:04] #2830 closed

[2019-07-04 04:04] prestonvanloon commented on #2830
@eliotstock It should be resolved again now! Thanks for reporting :)

[2019-07-04 06:10] Tanawat1990 commented on #2641
![Screenshot_20190702-231909](https://user-images.githubusercontent.com/51057447/60643387-1603b680-9e5d-11e9-8f2a-b6c7307ce7c6.jpg)

[2019-07-04 16:25] katzdan commented on #2824
Waiting for https://github.com/prysmaticlabs/go-ssz/issues/32 to be resolved.

[2019-07-05 21:40] terencechain opened #2910 "[Mega Tracking] - Mutation Testing For Prysm"
This PR tracks the overall efforts of passing mutation testing for Prysm. Let's check off the package as we successfully tested it:

- [ ] attestation
- [ ] blockchain
- [ ] cache
- [ ] core
- [ ]  blocks
- [x]  epoch #2913
- [x]  helpers #2912
- [x]  state #2923
- [ ]  validators
- [ ] db
- [ ] gateway
- [ ] internal
- [ ] node
- [ ] operations
- [ ] powchain
- [ ] rpc
- [ ] sync
- [ ] utils

[2019-07-05 21:40] terencechain commented on #2910
@prestonvanloon @0xKiwi can you guys check off what's been tested? thanks

[2019-07-05 22:06] terencechain opened #2911 "Update fork choice to 0.8"
This PR tracks the overall progress on updating fork choice service to 0.8.

Implementation todos:
- [ ]  LatestMessage helper
- [ ]  Store helper
- [ ]  get_genesis_store helper
- [ ]  get_ancestor helper
- [ ]  get_latest_attesting_balance helper
- [ ]  get_head helper
- [ ]  on_tick handler
- [ ]  on_block handler
- [ ]  on _attestation handler

[2019-07-05 22:06] terencechain commented on #2911
I'll take on this on Sunday 7/7

[2019-07-06 01:58] prestonvanloon commented on #2910
I did 1 file of the helper package in spec-v0.6 branch. Still lots to go over.

[2019-07-08 05:38] terencechain opened #2922 "Finish Block Sanity Spec Test"
Current block sanity test is passing but it is passing without the important signature verification and state root verification enabled.
The default config for running state transition has both of them set as false meaning when we run state transition we miss those checks
To solve this issue, we should enable them and debug any potential failures that could be related with BLS, core logic or SSZ

[2019-07-08 22:35] janus commented on #2740
Map may be okay for this task but  it is not designed for efficient membership check. Trees are also good but me not be memory efficient and could be  demanding.

I am thinking that Bloom filters are what you need help. They are for membership related tasks.
A Bloom filter is a data structure designed to tell you, rapidly and memory-efficiently, whether an element is present in a set. However it i

[2019-07-09 02:47] jbriquet opened #2928 "Error : Could not process beacon block, beacon-chain sync"
I faced the following issue, when running the beacon-chain successfully after one day.
The commit version used is : 72139c41ea8a9911900020ba2bff7455530e16f3

[code]

[2019-07-09 15:46] terencechain opened #2929 "Implement HashTreeRootWithMax"
We'll need to implement `HashTreeRootWithMax` as it's blocking a few spec tests. The goal for `HashTreeRootWithMax` is to take some `[]interface, uint64` and apply the `max-size` tag to the `[]interface` and return the tree hash root. This is to avoid having to create a wrapper struct with the `max-size` tag.

Let's look at the following example:
[code]
What we want is `get_active_validator_indice

[2019-07-10 02:10] prestonvanloon commented on #2824
This should be unblocked now

[2019-07-10 13:07] terencechain opened #2934 "Implement genesis yaml test"
One remaining task for the yaml test is to implement genesis tests as defined below. This will throughly test the validity of #2905 and important to interop with other clients

https://github.com/ethereum/eth2.0-spec-tests/tree/master/tests/genesis

[2019-07-10 16:45] katzdan commented on #2824
Will test and verify.

[2019-07-10 18:07] prestonvanloon commented on #2849
@lzxm160, it has to be bazel. We might be adding more complicated build logic that wouldn't be supported natively with gomod.

[2019-07-10 21:13] lzxm160 commented on #2849
@prestonvanloon  sure,I'll try if you approve

[2019-07-11 02:46] prestonvanloon commented on #2849
@lzxm160, I took a quick look at your profile on gitcoin and you have 3 abandoned tasks. I wouldn't want to award this task to you so that no one else has the opportunity to work on it then have it abandoned later.

Do you have a plan on how to do this? If you already know the solution then I'd accept it and award the bounty, but this is something that won't be easy for someone who isn't familiar

[2019-07-11 03:23] MattWangming commented on #2709
Close it with no more question on this issue.

[2019-07-11 03:23] #2709 closed

[2019-07-11 04:34] rauljordan commented on #2922
Closed by #2828

[2019-07-11 04:34] #2922 closed

[2019-07-11 04:36] rauljordan commented on #2790
Completed!

[2019-07-11 04:36] #2790 closed

[2019-07-11 04:37] rauljordan commented on #2929
Done by https://github.com/prysmaticlabs/go-ssz/pull/47

[2019-07-11 04:37] #2929 closed

[2019-07-11 04:37] rauljordan commented on #2812
Completed in the spec-v0.6 branch

[2019-07-11 06:09] terencechain opened #2937 "BlockSigningRoot is redundant"
[BlockSigningRoot](https://github.com/prysmaticlabs/prysm/blob/spec-v0.6/shared/blockutil/beacon_block.go#L11) feels redundant. The worse part is it requires a tree hash and signing root, why not just use `ssz.SigningRoot(beaconBlock)`

https://github.com/prysmaticlabs/prysm/blob/35de6cc816023537d91d009f507b5ab7bf096d5a/shared/blockutil/beacon_block.go#L8-L24

[2019-07-11 06:39] gaoxiangxyz opened #2938 "beacon-chain build fail on Windows7 x64"
beacon-chain build fail, but validator build successfully.
error message is below:

[code]

[2019-07-11 06:43] gaoxiangxyz commented on #2938
build again with --verbose_failures flag.
message is below:
[code]

[2019-07-11 15:04] prestonvanloon commented on #2812
There are still two PRs that are open:

#2901 - Final updates spec test
#2905 - Genesis trigger update
TBD - Genesis trigger spec tests

[2019-07-11 15:08] prestonvanloon commented on #2934
Closing this in favor of the larger tracking issue #2812

[2019-07-11 15:08] #2934 closed

[2019-07-11 15:08] prestonvanloon commented on #2812
Some details about genesis yaml test here: https://github.com/prysmaticlabs/prysm/issues/2934

[2019-07-11 15:31] prestonvanloon commented on #2230
This is resolved with new abstraction for go-bitfield in spec-v0.6 branch #2312

[2019-07-11 15:31] #2230 closed

[2019-07-11 15:32] prestonvanloon commented on #2615
This should be resolved in #2312.

[2019-07-11 15:32] #2615 closed

[2019-07-11 15:37] prestonvanloon commented on #2937
I think I agree that this is not correct.

[code]

https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md#block-header

When we verify the signature, we are taking the signature of the entire block.

It's a bit confusing because the parent root is the header, but the root signed by the validator is the entire block, not just the header.

[2019-07-11 18:30] 0xKiwi commented on #2812
Genesis Spec Tests complete, #2940 builds fine!

[2019-07-11 20:44] rauljordan commented on #2307
Completed in spec-v0.6

[2019-07-11 20:44] #2307 closed

[2019-07-12 07:12] terencechain commented on #2891
This is done, great job everyone! 🎈

[2019-07-12 07:12] #2891 closed

[2019-07-12 07:15] terencechain commented on #2072
We've accomplished everything above

[2019-07-12 07:15] #2072 closed

[2019-07-12 10:17] lzxm160 commented on #2849
@prestonvanloon understand,I'll try first

[2019-07-12 11:33] nisdas opened #2943 "[Tracking] Post Spec Freeze Checklist"
With all the important remianing items having been merged in to `spec-v0.6` branch, it is finally ready to be reviewed and merged. This issue will track whatever tasks that we will need to perform:

- [x] Runtime Fixes. With the large velocity of changes that have occured over the past few months our runtime is broken. The goal is to get runtime working again and to have a beacon node run for at l

[2019-07-12 11:39] nisdas opened #2944 "Remove big.Int when updating to 0.8x"
This is a tracking issue to remove big.Int which were introduced due to overflows in tests in this PR: https://github.com/prysmaticlabs/prysm/pull/2930.
[code]

[2019-07-12 13:47] nisdas commented on #2937
Closed by #2945

[2019-07-12 13:47] #2937 closed

[2019-07-12 13:48] nisdas commented on #2866
@prestonvanloon I think we can close this now, as its in the current spec test suite

[2019-07-12 14:21] terencechain commented on #2943
- [ ] Go through all the helpers and processing code and verify. they are optimized and simplified using the best of our abilities. With the goal of removing unnecessary cache as it was a temporary patched solution

[2019-07-12 16:30] rauljordan commented on #2812
Closed by #2940

[2019-07-12 16:30] #2812 closed

[2019-07-12 17:05] prestonvanloon opened #2947 "Flip flag default EnableCheckBlockStateRoot to true"
https://github.com/prysmaticlabs/prysm/blob/e5648f46c15765e21909868be359219790094ea9/beacon-chain/blockchain/block_processing.go#L114-L115

Also log a WARN statement if this is disabled.

[2019-07-12 17:08] prestonvanloon opened #2948 "Unskip fork choice tests"
https://github.com/prysmaticlabs/prysm/blob/e5648f46c15765e21909868be359219790094ea9/beacon-chain/blockchain/fork_choice_reorg_test.go#L29-L31

[2019-07-12 17:10] prestonvanloon commented on #2948
There are actually many skipped fork choice tests.

[2019-07-12 17:15] prestonvanloon opened #2949 "Unskip BLS verification test in beacon-chain/core/blocks/block_operations_test.go"
https://github.com/prysmaticlabs/prysm/blob/e5648f46c15765e21909868be359219790094ea9/beacon-chain/core/blocks/block_operations_test.go#L38-L40

[2019-07-12 18:03] prestonvanloon opened #2950 "Implement VerifyProposerSignature"
https://github.com/prysmaticlabs/prysm/blob/e5648f46c15765e21909868be359219790094ea9/beacon-chain/core/blocks/block_operations.go#L29-L38

[2019-07-12 18:08] prestonvanloon opened #2951 "Remove verifySignatures arguments from methods"
Example:
https://github.com/prysmaticlabs/prysm/blob/e5648f46c15765e21909868be359219790094ea9/beacon-chain/core/blocks/block_operations.go#L102-L106

There are many like this and this is a dangerous pattern.

[2019-07-12 20:55] terencechain commented on #2950
How did we pass yaml spec tests without this? ¯\_(ツ)_/¯

[2019-07-12 20:57] terencechain commented on #2947
Similar to removing VerifySignature flag, this can be removed as well. Can't think of a use case for disabling this check

[2019-07-13 15:39] prestonvanloon opened #2955 "End to end testing for deposits"
This workflow needs to be end to end tested:

1. Validator generates a deposit data
1. Validator sends deposit data to ETH1 contract
1. Beacon chain sees deposit log
1. Beacon chain processes the deposit as valid

[2019-07-14 00:13] prestonvanloon commented on #2947
Lets remove this flag all together.

[2019-07-14 00:16] prestonvanloon commented on #2950
The unhappy path spec tests are not very clear. Essentially, you are given some invalid state and as long as it fails for any reason, then you pass the test.

[2019-07-14 00:29] prestonvanloon opened #2959 "HashTreeRoot panics in validator first block"
Blocking #2312

[code]

[2019-07-14 00:31] prestonvanloon commented on #2959
It looks like the validator is looking to take the signing root of a struct that does not have a signature field.

https://github.com/prysmaticlabs/prysm/blob/0acf164ebd275e91e325db6aae0dbbe8ef45a8b0/validator/client/validator_attest.go#L93-L98

[2019-07-14 01:01] prestonvanloon commented on #2959
Changing this from signing root to tree hash root resolves the problem, although we should still fix the panic and consider if this is the correct API / usage.

[2019-07-14 03:08] terencechain commented on #2959
Looks like this is fixed in #2960

[2019-07-14 03:08] #2959 closed

[2019-07-14 06:32] nisdas commented on #2955
We currently have testing for deposits validity in our `beacon-chain/powchain` package. But this being a separate utility and binary has no similar tests to test the deposit flow in the utility. A PR to resolve this would add tests for deposit input, to verify that deposits being sent are valid. The tests would be very similar to how its done in the `powchain` package.

[2019-07-14 18:11] terencechain opened #2962 "Travis failing with go-libp2p"
Currently our travis is failing with the following error:
[code]

[2019-07-14 19:45] prestonvanloon commented on #2943
The mock for genesis trigger is done from the ETH1 partial mocked backend.
cc: @zscole

[2019-07-14 19:50] prestonvanloon commented on #2866
Thanks @nisdas. It is indeed do. https://github.com/prysmaticlabs/prysm/blob/97b9176411113ff242ef2ec96a1f5c233d29f191/beacon-chain/core/blocks/block_operations.go#L716-L721

This can be optimized to O(n) runtime check. We don't need to actually store an array of numbers to ensure they are sorted. I'll follow up in another issue.

[2019-07-14 19:50] #2866 closed

[2019-07-14 19:51] prestonvanloon opened #2963 "Improve sorted indices check in validate_indexed_attestation"
https://github.com/prysmaticlabs/prysm/blob/97b9176411113ff242ef2ec96a1f5c233d29f191/beacon-chain/core/blocks/block_operations.go#L716-L721

We don't need to copy, sort, then compare the list to ensure it is sorted. It could be a simple O(n) iteration through the array to check they are in order.

[2019-07-14 21:15] justinpage commented on #2963
@prestonvanloon

Would the following be an improvement?

[code]

[2019-07-15 01:26] prestonvanloon commented on #2963
@justinpage, yeah that would be great!

This is work should be based on the [spec-v0.6](https://github.com/prysmaticlabs/prysm/tree/spec-v0.6) branch. This has all of our work with current updates to spec-v0.8. We expect this to be merged in a few days, so definitely build off of that branch if you want to avoid merge conflicts.

[2019-07-15 02:56] terencechain opened #2969 "[Mega tracking] - Align Prysm to 0.8.1"
This is a tracking issue to ensure our beacon chain implementation is up to date with the latest v0.8x spec. The target is: https://github.com/ethereum/eth2.0-specs/commit/452ecf8e27c7852c7854597f2b1bb4a62b80c7ec

**bugs**

- [x]  fix off-by-one bug in randomness seed lookahead (https://github.com/ethereum/eth2.0-specs/pull/1296)
- [x] call pack when merkeizing bitlist/vector https://github.com/et

[2019-07-15 18:20] prestonvanloon commented on #2849
To anyone interested in working on this, please build from branch `spec-v0.6` unless https://github.com/prysmaticlabs/prysm/pull/2312 is merged to master.

We've added some progress towards this goal with #2970. You can see the TODO here: https://github.com/prysmaticlabs/prysm/blob/25d8b485e6d45deaa001f877265f266466623f4b/tools/binary_targets.bzl#L7

Suggested workflow here would be to uncomment t

[2019-07-15 18:49] prestonvanloon commented on #2951
Suggestion:
- Remove any `verifySignatures` argument
- Add a new `ProcessBlockHeaderNoVerifySig` method for the rare cases that you need to skip verification.
- Abstract the code to be reusable between the two methods.

We are mostly concerned about accidental misuse of the method.
A verbose API would help clarify / catch misuse.

[2019-07-15 18:58] terencechain commented on #2951
Given the following note from validator spec, I think `ProcessBlockHeaderNoVerifySig` should be `StateTransitionNoVerifySig` for clarify. This can be a separate issue and PR

[code]

[2019-07-15 21:31] prestonvanloon opened #2974 "Flagless cross compile builds"
It seems we have to build cross compile invocations for each OS/arch pair, rather than invoking a build in a single command.

Blocked by https://github.com/bazelbuild/bazel/issues/6519

What we have:
[code]
What we want:
[code]
Which would produce a zip / tar with distros for each system.

[2019-07-16 12:02] shayzluf commented on #2969
working on - avoid overflow in slashing calculation

[2019-07-16 14:59] shayzluf commented on #2969
working on fix off-by-one bug in randomness seed lookahead

[2019-07-17 06:57] justinpage commented on #2963
@prestonvanloon Looks like this block is doing the same pattern. Can I apply the same update?

https://github.com/prysmaticlabs/prysm/blob/97b9176411113ff242ef2ec96a1f5c233d29f191/beacon-chain/core/blocks/block_operations.go#L723-L731

Thanks, I will branch off [spec-v0.6](https://github.com/prysmaticlabs/prysm/tree/spec-v0.6) and provide a pull request tomorrow.

[2019-07-17 18:30] ethDreamer opened #2981 "Add RPC command to query node for the last block attested by (given) public key"
Please implement an RPC command to return the last block that a given public key has attested/checkpointed.  Some variation of this functionality is probably already necessary for a validator to rebuild its state for slashing protection.

Exposing this functionality as an RPC command would allow infrastructure to be built to monitor the blockchain and take action (send alerts, etc) if a validator

[2019-07-18 15:17] terencechain commented on #2969
Done

[2019-07-18 15:17] #2969 closed

[2019-07-18 15:21] terencechain opened #2991 "[Tracking] Improve logging infrastructure"
Now that we are getting close to running spec freeze version and merging #2312. Let's update the loggings for beacon node and validator client. To figure out where to log and what to log during slot processing, block processing and epoch processing, this effort will require a design document and sign off by team members

[2019-07-18 16:34] prestonvanloon opened #2993 "ssz.TreeHashRoot takes 20s on mainnet config"
Most likely due to very long historicalRoots list (16,777,216)

[2019-07-19 07:01] nisdas commented on #2944
Resolved by #2977

[2019-07-19 07:01] #2944 closed

[2019-07-19 22:48] prestonvanloon opened #3001 "[Tracking] Prometheus metrics"
- [ ] Add tasks here for conformance of [prometheus best practices](https://prometheus.io/docs/practices/naming/) with naming and labels

[2019-07-20 01:17] prestonvanloon commented on #2824
This is obsolete now. Thanks

[2019-07-20 01:17] #2824 closed

[2019-07-20 01:18] prestonvanloon commented on #2962
No longer failing

[2019-07-20 01:18] #2962 closed

[2019-07-20 04:43] prestonvanloon commented on #2963
Yes @justinpage. Thanks!

[2019-07-21 01:36] prestonvanloon commented on #1977
This is resolved with latest update to 0.8.1. #2312

[2019-07-21 01:36] #1977 closed

[2019-07-21 01:39] prestonvanloon opened #3007 ""Failed to sync with peer, trying next best peer" error="context deadline exceeded""
Attempting to sync with 3 healthy peers.
[code]

[logs-from-beacon-chain-in-beacon-chain-0.txt](https://github.com/prysmaticlabs/prysm/files/3414155/logs-from-beacon-chain-in-beacon-chain-0.txt)

[2019-07-21 01:43] prestonvanloon commented on #3007
With debug log, it looks like the node responds to requests, but the request for batch blocks never returns or fails to return before the deadline is exceeded.

[code]

[2019-07-21 09:56] hadv commented on #3007
+1

[code]

[2019-07-21 15:29] #2950 closed

[2019-07-21 15:52] prestonvanloon commented on #2974
Update: I have an idea to try from this comment: https://github.com/bazelbuild/bazel/issues/6519#issuecomment-512460430

Haven't had the time to attempt it yet.

[2019-07-21 18:53] blacktemplar commented on #2857
I had a look into this issue.

The sepc clearly states that only compressed format is allowed:

This basically says that the most significant bit must always be one which indicates that the format is compressed (see https://github.com/zkcrypto/pairing/tree/master/src/bls12_381#serialization)

Therefore, any uncompressed signature must be treated as invalid and therefore `bls_verify` should return

[2019-07-21 20:01] nisdas commented on #3007
The main reason batched responses are failing are because the finalized block root sent by the syncing peer is incorrect. How it gets the block root is basically by finding the signing root of the block header in the finalized state. Unfortunately this is incorrect, as the block header has a zeroed out state root to prevent circular dependencies. This would lead to different signing roots between

[2019-07-21 22:07] terencechain opened #3014 "Unskip TestBlockHeaderWrongProposerSig"
The following test is still skipped, I believe we can unskip it given the latest progress of BLS

https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/core/blocks/block_operations_test.go#L35

[2019-07-21 23:38] justinpage opened #3016 "Update gitbook documentation for building with bazel"
I noticed the following section has the same commands repeated:

<img width="858" alt="Screen Shot 2019-07-21 at 4 34 31 PM" src="https://user-images.githubusercontent.com/3615935/61598647-c4d22180-abd5-11e9-9091-4ca2ac35d72a.png">

Whereas we probably expect the following:

<img width="830" alt="Screen Shot 2019-07-21 at 4 34 49 PM" src="https://user-images.githubusercontent.com/3615935/61598655-

[2019-07-22 00:54] terencechain opened #3018 "Bazel failed to exclude nilness and unsafe pointer for dependencies (Mac only)"
Bazel build on beacon chain master is currently broken with the following error:

[code]

Meaning the dependencies have bad code and it fails our analysis, however nilness and unsafe pointer are already ignored in `nogo_config.json`

[2019-07-22 00:55] terencechain commented on #3018
Work around:

Edit the following  line to have no parameters
https://github.com/prysmaticlabs/prysm/blob/master/WORKSPACE#L111
`go_register_toolchains()`

[2019-07-22 05:47] prestonvanloon commented on #3018
Something off about the error message is that it's not under `external/*` so that could be a cause for the failure.

Can you try with this commit? https://github.com/prysmaticlabs/prysm/commit/721541672b8054f1a8b4a8978908edbaf192d652

[2019-07-22 05:52] prestonvanloon commented on #3018
Actually, looking at this PR https://github.com/bazelbuild/rules_go/pull/2087, its supposed to be a regex, not a glob.

Please try this commit: https://github.com/prysmaticlabs/prysm/commit/ee491322ce1a430c73e90d24358d8a0a55486e85

[2019-07-22 05:53] prestonvanloon commented on #3018
If that fails, we'll just disable these checks for now.

[2019-07-22 05:53] prestonvanloon commented on #3016
cc: @har00ga

[2019-07-22 13:29] terencechain commented on #3018
both https://github.com/prysmaticlabs/prysm/commit/721541672b8054f1a8b4a8978908edbaf192d652 and https://github.com/prysmaticlabs/prysm/commit/ee491322ce1a430c73e90d24358d8a0a55486e85 did not work

[2019-07-22 13:54] terencechain opened #3042 "Fix DB's SaveState API"
[SaveState](https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/db/state.go#L153) in DB package has a potential bug where we use the saving state's latest block header has key: https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/db/state.go#L178

Per discussion with @prestonvanloon and @nisdas, we all agreed that the API should best off be `SaveState(state, blockRoot)` as t

[2019-07-22 14:38] rauljordan commented on #2858
Fixed in latest master

[2019-07-22 14:38] #2858 closed

[2019-07-22 14:39] #3018 closed

[2019-07-22 14:43] prestonvanloon commented on #3042
@nisdas are you working on this in the database refactoring OKR?

[2019-07-22 14:45] nisdas commented on #3042
@prestonvanloon yes but this can be separate from that, since this might cause issues in runtime. I can do this in a separate PR

[2019-07-22 14:51] rauljordan commented on #2947
This has been removed as of latest master at hash [d5dcc25472fc2755b404fe0913e614a4dd2abe4a](https://github.com/prysmaticlabs/prysm/commit/d5dcc25472fc2755b404fe0913e614a4dd2abe4a)

[2019-07-22 14:51] #2947 closed

[2019-07-22 14:55] terencechain opened #3045 "[Tracking] Implement EthereumAPI v1alpha1"
This PR tracks the overall progress of implementing RPC methods for what's defined in ethapi's [v1alpha1](https://github.com/prysmaticlabs/ethereumapis/tree/master/eth/v1alpha1)

Beacon chain:
- [x] `ListAttestations` - Retrieve attestations by head root, source root/epoch, target root/epoch
- [x] `AttestationPool` - Retrieve pool attestations
- [x] `ListBlocks` - List blocks by root, slot or epoc

[2019-07-22 15:05] rauljordan commented on #3045
Interested in the `Node` category, as well as block and attestation information from the beacon node

[2019-07-22 19:44] terencechain commented on #3045
working on `GetValidators` and `ListValidatorBalances`

[2019-07-23 02:10] rauljordan commented on #2798
I agree to point 1 - that's mostly the biggest point of confusion to anyone browsing our API at the moment.

[2019-07-23 02:15] rauljordan commented on #2683
This is a consequence of our v0.4 testnet, which our fork choice would be broken and would have two partitioned chains where a validator would be active in one chain but unknown in another, leading to `cannot verify bitfield` problems. This is a known bug that is resolved by latest changes to fork choice and our updates to the v0.8.1 specification as of latest master.

[2019-07-23 02:15] #2683 closed

[2019-07-23 02:16] rauljordan commented on #2600
See #2683 - this is resolved by the latest fork choice rule and spec v0.8.1 @prestonvanloon and @ligi

[2019-07-23 02:17] rauljordan commented on #2546
This is resolved by #2970

[2019-07-23 02:18] rauljordan commented on #1253
This has already been done throughout our repo by using SSZ by default for everything so far as of latest master on spec v0.8.1

[2019-07-23 02:18] #1253 closed

[2019-07-23 02:19] rauljordan commented on #1230
Deprecated as we now use spec tests from https://github.com/ethereum/eth2.0-spec-tests/tree/master/tests and their YAML format to test all core transition items

[2019-07-23 02:19] #1230 closed

[2019-07-23 13:59] rauljordan commented on #3045
Workin on `ListAttestations` and `AttestationPool`

[2019-07-23 21:48] justinpage commented on #3016
@prestonvanloon @har00ga

While we're waiting for a reply.

Any possibility of making this open-source: https://prysmaticlabs.gitbook.io/prysm/

[2019-07-24 00:15] justinpage commented on #2963
#3060 is branched off of master per recommendation from

https://github.com/prysmaticlabs/prysm/pull/3015#issuecomment-514027013

[2019-07-24 01:17] #2963 closed

[2019-07-24 01:23] terencechain commented on #3045
Working on `ListValidatorAssignments`

[2019-07-24 13:47] rauljordan opened #3063 "Eliminate Usage of HistoricalStates - Use Exponential Backoff for State Generation"
Hi all,

An important task for becoming production ready is preventing the usage of HistoricalStates throughout our repo. Currently, we store every single state to the DB, which is not sustainable in a real environment. Instead, we should have the ability to regenerate states through only storing very few of them since the last finalized epoch. This is a tracking issue so we do not forget this imp

[2019-07-24 13:55] prestonvanloon commented on #3016
I don't think gitbook supports open source contributions. I'm open to hearing an alternative to gitbook.

@har00ga is working on some improvements there.

[2019-07-24 14:53] #3007 closed

[2019-07-24 15:07] rauljordan opened #3064 "Refactor Prysm DB for Efficient, Long Term Usage"
This is a tracking issue to refactor the Prysm DB package to allow for:

1. Greater simplicity in function calls
2. Explicit naming and single responsibility for getters and putters
3. Batch updating/fetching
4. Easy filtering of data by attributes

This is a large effort that is being explored in the design document found [here](https://docs.google.com/document/d/1FWax9bD1oH7MCM80oa4fbFjZDqQFF7-H

[2019-07-24 16:24] prestonvanloon opened #3066 "Run minimal spec tests with minimal proto ssz configs"
#3062 adds templating changes to the protobufs to support different hard coded configurations of ssz parameters (`ssz-max`, `ssz-size`).

These can currently be controlled/toggled with `--define ssz=minimal` or `--define ssz=mainnet`, but not yet at the test package level without breaking `bazel test //...`. This issue is to track progress of the feature where we can specify a `go_test` as such:

[2019-07-24 17:38] prestonvanloon commented on #3066
I've asked for help on bazel-discuss@ https://groups.google.com/forum/#!topic/bazel-discuss/-GPDdVK2ae4

[2019-07-24 17:53] prestonvanloon commented on #2546
I can verify that building on linux amd64 for arm64 works.

bazel build //beacon-chain //validator --platforms=@io_bazel_rules_go//go/toolchain:linux_arm64

[2019-07-24 18:32] prestonvanloon commented on #2600
LGTM. Let's close for now. Shouldn't be an issue with the passing spectests and new testnet.

[2019-07-24 18:32] #2600 closed

[2019-07-24 18:55] #2857 closed

[2019-07-24 22:17] har00ga commented on #3016
Sorry about that, thought I'd submitted a reply the other night -- This section will be fully revised as part of the Gitbook overhaul in the coming weeks. This part in particular is near the beginning of the index, so I imagine updates to it will be live over the next few days. I'll leave a note here when the relevant PR has been merged.

[2019-07-25 03:40] prestonvanloon commented on #2993
pprof of TestReceiveBlock_ProcessCorrectly test run with full mainnet config.
[pprof.zip](https://github.com/prysmaticlabs/prysm/files/3429633/pprof.zip)

Total wall time of ssz related methods 75s. Looks like 4 times called. About 17s each.

[2019-07-25 03:42] prestonvanloon commented on #2993
![Screenshot from 2019-07-24 23-41-39](https://user-images.githubusercontent.com/7246818/61844223-a3d72e00-ae6c-11e9-9d0f-9bdaeb5df9b9.png)

[2019-07-25 14:05] prestonvanloon opened #3071 "Disconnecting from peer on different contract, expected = N peer = N"
[code]

Both of these values appear to be the same.

[2019-07-25 14:41] prestonvanloon opened #3073 "Reg Sync: incorrect outstanding deposits in block body, wanted: 0, got: 16"
[2019-07-25 10:39:16] ERROR regular-sync: block failed processing: could not process block: could not process block operation: could not verify operation lengths: incorrect outstanding
deposits in block body, wanted: 0, got: 16 method=github.com/prysmaticlabs/prysm/beacon-chain/sync.(*RegularSync).receiveBlock-fm

[2019-07-25 14:41] #3071 closed

[2019-07-25 17:47] terencechain commented on #3045
Working on `ListBlocks`

[2019-07-25 20:49] 0xKiwi commented on #3014
Fixed in #3053 👍

[2019-07-25 20:49] #3014 closed

[2019-07-26 17:23] terencechain opened #3081 "Deadline exceeds when validator requests block from beacon node"
The following error gets prompted in the latest master when running 64 validators on one beacon node using eth1 mock rpc. No new block can get proposed

[code]

[2019-07-26 17:31] terencechain commented on #3081
the new eth1data implementation in proposer server, checking if the cache is enabled

![](https://cdn.discordapp.com/attachments/550365651118850081/604364574589714432/Screen_Shot_2019-07-26_at_10.28.35_AM.png)

[2019-07-26 17:54] terencechain commented on #3081
This only comes up with mock rpc server since we have fake blocks we aren't able to cache them correctly leading to massive number of calls

[2019-07-26 18:16] nisdas opened #3082 "Sync Failing with State Root Verification Enabled"
A new node is never able to sync as it gets the following error
[code]

[2019-07-26 18:20] nisdas commented on #3073
Some more information on this
[code]
[code]
Multiple proposers get this bug at the same slot, which shouldnt happen as each proposer has their own slot to propose in.

[2019-07-26 18:22] nisdas opened #3083 "Signature verification fails for nearly every attestations"
[code]

Although this attestation is invalid as it is > 2 epochs old, signature verification should not fail for it, as it has a valid signature

[2019-07-26 20:35] terencechain commented on #3083
Do we roll back state to the the > 2 epochs old snap shot for verifying these old signatures?

[2019-07-26 20:53] terencechain commented on #3082
When sync responds the block to the peer, it needs to ensue the block's state root is valid. This could be a compatibility issue as well where one node has state enabled the other doesn't.

[2019-07-26 21:16] terencechain commented on #3082
another question for all is whether we should be checking state root and signature for state transition in initial sync? since there's a trust assumption between last finalized block and the batched of blocks

[2019-07-27 08:30] nisdas commented on #3082
@terencechain both nodes had state root verification enabled. If the block successfully was able to transition the state in one node it must be regarded as valid from that node's perspective. Since we pass finalized state at X and all the proceeding blocks from X+1, X+2, ... X+N. It should all be regarded as valid from the point of the synced node. I am hypothesizing it could be to do with our cac

[2019-07-27 08:45] nisdas commented on #3083
@terencechain I dont think so, might be a reason why it fails. But even then why does the state influence signature verification ? we just verify that the root of the indexed attestation has been signed correctly.

[2019-07-27 14:34] 0xKiwi commented on #2951
Closing as the arguments have been removed 😄

[2019-07-27 14:34] #2951 closed

[2019-07-27 21:02] #3082 closed

[2019-07-28 14:10] prestonvanloon commented on #3064
Is this relevant to the existing refactor design that was reviewed and approved? https://docs.google.com/document/d/1ZnMpMzPhs_GyiG11KSNT2S4O2CPgG0uheEs52NznGTk

[2019-07-29 00:40] cyberbono3 commented on #2955
I can start working on it

[2019-07-29 18:35] terencechain opened #3104 "could not verify attestation due to delay"
The following error was reported in a single node + 64 validators local set up. Something to keep our eyes on

`could not process block attestations: could not verify attestation at index 0 in block: attestation slot 385 + inclusion delay 1 > state slot 385 at
slot 383`

[2019-07-29 19:39] rauljordan commented on #2993
Resolved by https://github.com/prysmaticlabs/go-ssz/pull/58 mainnet beacon state now takes 500ms max

[2019-07-29 20:01] prestonvanloon commented on #2993
There is still a TODO for this. I'll submit a PR. https://github.com/prysmaticlabs/prysm/blob/956b07f5c164abb3d364c8e874ee37425143bf00/beacon-chain/blockchain/block_processing_test.go#L31

[2019-07-29 20:30] prestonvanloon commented on #2993
This is still an issue. One test case is experiencing 60s state tree hash root with that TODO hack removed.

![Screenshot from 2019-07-29 16-29-24](https://user-images.githubusercontent.com/7246818/62080172-1efa6480-b21e-11e9-8bfb-afccb9fbdd3d.png)

[pprof.zip](https://github.com/prysmaticlabs/prysm/files/3444169/pprof.zip)

This is from commit 68f29967f3473b893f933305984874dff4c0fe44, which inclu

[2019-07-29 21:23] prestonvanloon commented on #3104
Could you add more context to this issue? What delay? How can this be reproduced?

[2019-07-29 22:14] terencechain commented on #3104
`inclusion delay` refers to attestation inclusion delay, @rauljordan can elaborate on this, I was not able to reproduce it.

I just wanted to file before it gets lost in the shuffle

[2019-07-30 01:00] prestonvanloon opened #3106 "[Tracking] Caches are causing unstable results"
Some caches (see [cache pkg](https://godoc.org/github.com/prysmaticlabs/prysm/beacon-chain/cache)) are causing invalid block proposals, attestations, and other unknown side effects.

This is a tracking issue to disable and carefully re-evaluate each cache mechanism.

Safe caches:
- [ActiveCountCache](https://github.com/prysmaticlabs/prysm/blob/e744d1a07e4ee33e77ef54d4cd84d619fc746853/beacon-chain/

[2019-07-30 02:16] speed141 opened #3108 "Prysm Eth2 Testnet installation help"
Hi, please I need your help installing Prysm Eth2 Testnet

Step 3) Create a validator public-private key:

docker run -it -v /tmp/prysm-data:/data \
   gcr.io/prysmaticlabs/prysm/validator:sapphire \
   accounts create --keystore-path=/data --password=changeme

This command line give me this error:
docker: invalid reference format.
See 'docker run --help'.

[2019-07-30 13:36] nisdas opened #3110 "In-Memory Deposits Have No Tests"
Our deposit containers which contain deposits processed from deposit logs are stored in memory. We however have no tests which test them from insertion to retrieval of deposits. This issue is to track testing those methods.

[2019-07-30 14:53] skillful-alex commented on #3108
Do you work on linux?
Do you have a /tmp/prysm-data folder on your computer?
try:
[code]

[2019-07-30 19:40] prestonvanloon commented on #3083
We are facing similar issues without the start shard cache. Almost every attestation fails to verify in an epoch without `--enable-start-shard-cache`.

[2019-07-30 19:43] prestonvanloon commented on #3110
Resolved in https://github.com/prysmaticlabs/prysm/pull/3111

[2019-07-30 19:43] #3110 closed

[2019-07-30 20:46] prestonvanloon commented on #3083
We've observed that StartShard is changing with a different states and same epoch. This is a misuse of the caching because the cache was not updated as the epoch is the cache key.

This change in start shard on epoch transition is causing assignments to be invalid / outdated. One solution for this is to fetch assignments at every slot and the problem no longer exists.

[2019-07-30 20:47] prestonvanloon commented on #3106
The StartShardCache is incorrectly caching start shards after epoch transitions. See more background in https://github.com/prysmaticlabs/prysm/issues/3083.

[2019-07-30 20:51] prestonvanloon commented on #3083
Fetching assignments on every slot still fails for this issue on epoch start slot or first slot thereafter.

[2019-07-30 23:20] terencechain commented on #3083
More findings...
So here's the shard assignments. Top is beacon chain. Bottom is validator client:
[code]
[code]
shards 3, 7, 1
shards 4, 0 ,2
all validators have the wrong assignments

[2019-07-31 06:53] nisdas commented on #3083
This is resolved by #3112

[2019-07-31 06:53] #3083 closed

[2019-07-31 12:30] terencechain commented on #2911
Implemented in https://github.com/prysmaticlabs/prysm/pull/3088

[2019-07-31 12:31] terencechain commented on #2911
Next step it to plug this in to run time

[2019-07-31 22:06] terencechain opened #3115 "Assignment panics when join before chainstart"
Validator client gets a panic when joins before chain start and get assignment, to reproduce:

1.) Start beacon node, say chain start is at `t1`
2.) Start validator client before `t1`
3.) Validator client wait till `t1` to start its duties
4.) Validator client gets a panic right at `t1`

Panic log:
[code]

[2019-07-31 22:11] terencechain opened #3116 "Implement mock start of eth2 for interop testing"
Opening this issue to track the implementation progress of mock start for interop testing. The mock start discussions and spec are defined here: https://github.com/ethereum/eth2.0-pm/issues/60

[2019-07-31 22:46] #3115 closed

[2019-08-01 05:20] prestonvanloon opened #3118 "bitfield points to an invalid index in the committee"
Seeing this log

[code]

Looks like an existing condition https://github.com/prysmaticlabs/prysm/issues/2600.

[2019-08-01 15:12] #3073 closed

[2019-08-01 16:26] prestonvanloon opened #3122 "could not get attestation slot: could not determine epoch start shard: epoch 107 can't be greater than 105"
[code]

[code]

[2019-08-01 16:42] prestonvanloon commented on #3122
This was partially fixed with https://github.com/prysmaticlabs/prysm/pull/3112.

The same fixes need to be applied for code paths from sync.

[2019-08-01 20:59] prestonvanloon commented on #3108
yeah, it looks like you are missing the new line escape. If you're running on windows, try putting everything into one line.

[2019-08-01 21:00] prestonvanloon commented on #2993
The flame graph may be misleading that a single hash takes 20s. But in the test, there is 20s of wall time stuck in the hashing of the state. The only parameters that change are the length of the HistoricalRootsLimit

[2019-08-02 16:49] prestonvanloon commented on #3045
GetValidatorParticipation doesn't filter by epoch. Unchecked that box and marked as partially implemented.

[2019-08-02 16:50] prestonvanloon commented on #3045
ListValidatorBalances doesn't filter by epoch. Unchecked that box and marked partially implemented.

[2019-08-02 16:56] prestonvanloon commented on #3045
ListValidatorBalances fails to return full list of validators.
ListValidatorBalances fails to return list validators when an empty public key is passed.

[2019-08-02 20:14] prestonvanloon opened #3127 "Healthz reporting not synced when node is restarted with a fully synced DB"
/healthz
[code]

Log
[code]

[2019-08-03 14:37] #3127 closed

[2019-08-03 17:07] #3122 closed

[2019-08-03 20:46] prestonvanloon opened #3132 "Attestation signatures are verified multiple items in RequestBlock RPC"
![Screenshot from 2019-08-03 16-39-48](https://user-images.githubusercontent.com/7246818/62416703-c6580c80-b60d-11e9-9d8d-178af423c867.png)

We should preprocess attestations as part of insertion into the attestation pool. Double verifying (at block proposal!!!) is too expensive and could cause block production to time out. This issue accounts for about ~500ms of wasted block production time.

[2019-08-03 20:51] prestonvanloon commented on #3132
Note: this is happening 3 times as part of block production.
1. Package attestations into a block
2. Compute resulting state root for this block
3. Propose signed block

I think this is a total of 1.5s in signature verification.

[2019-08-04 12:34] shayzluf opened #3133 "[Mega tracking] - Implement policing service"
While starting the design process of policing service that will keep an eye at the network for finding slashable events. as well as protect his own subscribers (Validators) from creating a slashable event.

The way to a full blown policing service is comprised of these steps:
Bug fixes:
- [x] grpc proto api #3134
- [x] separate db for slasher #3270
- [x] making slasher grpc server #3271
- [x] Stor

[2019-08-04 17:51] prestonvanloon commented on #3133
Design doc: https://docs.google.com/document/d/12Eg-ysK5aQKQIjTKL6srqu8-ZY44iZ2MNwuqPaymlYk/edit#

[2019-08-04 18:10] prestonvanloon commented on #3132
Thoughts from offline discussion with @nisdas and @terencechain:

We are verifying attestation signatures in the following places:
1. New attestation: sync or RPC when we receive the initial (aggregated) attestation.
2. New block: at sync or RPC when we receive a block with attestations.
3. At attestation insertion into the attestation pool
4. When computing the state root, as part of operations p

[2019-08-04 18:15] terencechain commented on #3132
Id like to add, there should be 2 unique paths so we don't confuse them. The paths don't overlap.

receive attestation -> attestation gets put into pool -> attestations get packaged into a block -> block gets passed to the proposer -> proposer signs and submits it back
⬆️ This is for fork choice and block produce

receive block -> process attestations in the block and verify they are valid, if not

[2019-08-05 02:21] prestonvanloon opened #3144 "[Mega tracking] - Align Prysm to 0.8.2"
Reference: https://github.com/ethereum/eth2.0-specs/releases/tag/v0.8.2
Tasks below copied from the changelog.

Bug fixes:
- [x] correctly use bytes8 domain in bls in test generation (https://github.com/ethereum/eth2.0-specs/pull/1300)
- [x] fix start shard for compact committees root (https://github.com/ethereum/eth2.0-specs/pull/1319)
- [x] properly check attestation bitlist lengths (https://git

[2019-08-05 02:23] terencechain commented on #3144
Working on "ignore latest messages in fork choice prior to latest justified"

[2019-08-05 02:41] prestonvanloon commented on #3144
New test vectors are here: https://github.com/ethereum/eth2.0-spec-tests/releases/tag/v0.8.2. Note that there are three test bundles instead of one. This will cause a bit of a dependency refactoring / reorganizing.

For SSZ, the test are split into 3 files for each scenario.
- value.yaml
- meta.yaml
- serialized.ssz

The yaml files are still hex encoded strings so they will need preprocessing in t

[2019-08-05 03:07] prestonvanloon commented on #3144
Options for handling testnet refactor:
1. Skip updating tests for 0.8.2. There are no substantial requirements here anyway. We can defer this to a later time and potentially wait for a better alternative format.
1. Adopt the new yamls (preprocessed to replace hex strings with canonical base64).
1. Adopt ssz encoded binary files (still need to preprocess yaml for ssz tests).

[2019-08-05 03:15] prestonvanloon commented on #3144
Based on an offline discussion, we're opting to skip the test vector refactor (option 1) as there is little to no benefit at this time with a substantial change to the codebase.

[2019-08-05 09:51] agutsal commented on #2740
@janus what about [this](https://github.com/bradfitz/gomemcache)?

[2019-08-05 13:51] rauljordan commented on #3132
I believe processing attestations in RPC was an artifact of the past we used as a "patch" to prevent justified epoch off-by-one errors. I believe this is mitigated by having new core logic, revamped fork choice, and an overall stronger runtime that we should not need to do this in many different places.

[2019-08-05 13:57] rauljordan commented on #3133
Suggestion to name the watchtower server Bazel binary that's in charge of policing slashable events across beacon nodes the **"Hash Slinging Slasher"** after the iconic Spongebob Squarepants villain (credits to @prestonvanloon)

<img width="482" alt="Screen Shot 2019-08-05 at 8 56 49 AM" src="https://user-images.githubusercontent.com/5572669/62469998-04b11100-b75f-11e9-88f6-ec1db94f3ef3.png">

[2019-08-05 14:35] #3132 closed

[2019-08-05 14:47] shayzluf commented on #3133
should i change the folder name?

[2019-08-05 16:06] prestonvanloon opened #3147 "[Mega Tracking] Align Prysm to Interop Networking Spec"
The new interop networking spec has been merged (https://github.com/ethereum/eth2.0-specs/pull/1328).

### Spec requirements ###

Interop requirements:
- [x] Support libp2p TCP transport for inbound/outbound IPv4 and IPv6 addresses.
- [x] Expose at least one IPv4 endpoint. #3211
- [x] All endpoints must be publicly dialable (no advertising local networked addresses or relay)
- [x] Testnet infrastr

[2019-08-05 16:09] terencechain commented on #3147
Interested in gossips and rpc alignments

[2019-08-05 16:12] nisdas commented on #3147
interested in discovery and RPC alingment

[2019-08-06 02:31] kivutar commented on #2834
See also https://github.com/cloudflare/roughtime

[2019-08-06 05:05] prestonvanloon commented on #3116
Also see: https://github.com/sigp/lighthouse/blob/master/docs/interop.md#yaml

[2019-08-06 07:58] kivutar commented on #2834
@prestonvanloon the SlotTicker is starting from the genesisTime, which comes from the genesis block I suppose, and it then using only monotonic time functions and types like Duration.

I don't see time.Now() being called in the SlotTicker, so it might not be a vector of attacks. What do you think?

[2019-08-06 15:57] prestonvanloon commented on #2834
@kivutar we use time.Until which uses time.Now

https://github.com/prysmaticlabs/prysm/blob/953c59a3021d66341c9464754588e08e1620651e/shared/slotutil/slotticker.go#L37

https://github.com/golang/go/blob/go1.12.5/src/time/time.go#L936

[2019-08-07 14:01] rauljordan commented on #2949
Test passes and is unskipped, can be closed

[2019-08-07 14:01] #2949 closed

[2019-08-07 18:52] terencechain opened #3154 "Brainstorm forkchoice testing"
Opening this issue to brainstorm testing strategies for fork choice for a local containerized environment:

Test setup: (chain start is set to 8 validators)
- beacon node 0 <-> 3 validators
- beacon node 1 <-> 3 validators
- beacon node 2 <-> 2 validators

1.) Upon a new finalized epoch, turn off validators from node 2.
What to verify:
* All 3 nodes can advance with the same head root/slot on ever

[2019-08-07 20:04] rauljordan commented on #2993
<img width="1402" alt="Screen Shot 2019-08-07 at 2 03 40 PM" src="https://user-images.githubusercontent.com/5572669/62654035-94ec8300-b924-11e9-8a97-2c58bd0e0cd6.png">

New flamegraph takes < 4s and only 0.18s are for SSZ

[2019-08-07 20:09] rauljordan commented on #3108
Hi @speed141 did this resolve your issue?

[2019-08-07 20:24] speed141 commented on #3108
Yes, thank you very much!!

Envoyé de mon iPhone

[2019-08-07 21:02] terencechain commented on #3154
Tested scenarios for 1 2 and 3. They all **pass**

Next step is to investigate how to trigger network partitions

[2019-08-07 22:40] terencechain opened #3157 "Separate out attestation DB store"
As soon as an attestation gets packaged to a block, the attestation gets [deleted in the DB](https://github.com/prysmaticlabs/prysm/blob/1bac9ad9112b5fe0661a866f1f32654ea9dd69dd/beacon-chain/operations/service.go#L264). This is troublesome given any could still request for such attestation within the window of current epoch and next epoch. I suspect this has contributed to the original fork choice

[2019-08-08 05:54] prestonvanloon commented on #2993
The TODO still exists. I'll submit a PR to remove it.

https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/blockchain/block_processing_test.go#L31

[2019-08-08 06:06] prestonvanloon commented on #2993
The isolated `TestReceiveBlock_UsesParentBlockState` still takes over 100 seconds and the flame graph still points to ssz.

![Screenshot from 2019-08-08 02-04-11](https://user-images.githubusercontent.com/7246818/62678978-f93d3000-b980-11e9-9092-acae8e778c89.png)

As long as the TODO exists, this issue should not be marked as closed. The entire target times out after 5 minutes with the hacked conf

[2019-08-08 15:03] #2993 closed

[2019-08-08 18:19] #3108 closed

[2019-08-09 14:47] terencechain opened #3162 "Optimize new fork choice rule"
To follow up on #3088, this issue calls for various optimization methods for the new fork choice. Techniques simple as "fast pathing" and "clean winner" will help fork choice in run time tremendously. Here are a few techniques we can explore:

- [x] fast pathing: if a node has. one child, then don't have to look up anything to know this is the best child
- [ ] majority voting/clear winner: if a no

[2019-08-09 14:48] terencechain commented on #3162
Flame graph of fork choice on 512 sequential blocks. The techniques above should shorten this time by a lot
<img width="1326" alt="Screen Shot 2019-08-09 at 7 02 10 AM" src="https://user-images.githubusercontent.com/21316537/62787667-0db12380-ba7a-11e9-8893-0cde36b8f543.png">

[2019-08-09 23:40] terencechain commented on #3162
Implemented fast pathing and cut down 512 sequential block's `GetHead` time to:
**Before:**
`BenchmarkForkChoiceTree3-4              1    23124557997 ns/op`
**After:**
`BenchmarkForkChoiceTree3-4           2000        779190 ns/op`

[2019-08-10 02:51] TamirTian opened #3166 "Deploy images to Dockerhub"
Can you upload it to docker hub?
[code]

[2019-08-10 14:30] terencechain opened #3167 "Participation rate can not reach 100%"
With the new fork choice rule I've been monitoring participation rate (voted balance / total balance). The point I capture these rate is during is at the epoch boundary for the previous epoch. Given 8 slots per epoch and for example, if I want epoch 1, I'll capture the rate using the pre state of slot 16. Epoch 2, pre state slot 24...etc

The rate is always missing 1 slot worth of attestation, I'm

[2019-08-11 05:14] prestonvanloon opened #3169 "ETH1 (powchain) service stopped updating deposts"
Today we saw deposits stop increasing in the local testnet despite the deposits increasing in the contract. The total deposits metric reported 759 while the actual value was 916. This led to invalid eth1data being voted into the state then when nodes were restarted, they could no longer propose blocks because the voted eth1data reported an index of 759 with a block height in eth1 that had 916 elig

[2019-08-11 06:26] prestonvanloon commented on #3166
Can you elaborate on how this was caused?

A quick google search for that error indicates that your environment did not have access to the internet. https://github.com/kubernetes/minikube/blob/master/docs/http_proxy.md#unable-to-pull-imagesclienttimeout-exceeded-while-awaiting-headers

[2019-08-11 06:39] TamirTian commented on #3166
It's ok when i changed other one Internet provider however previous network provider wasn't very good.
Of course, we can use Ali hub of proxy the 'Docker.com' if pushed to docker hub

[2019-08-11 14:03] prestonvanloon commented on #3169
The nodes report the following error
[code]

[2019-08-11 14:06] prestonvanloon commented on #3169
That error happens here:
https://github.com/prysmaticlabs/prysm/blob/a2caba9956ffccad6f8475728f4bd1ea66d482eb/shared/trieutil/sparse_merkle.go#L32

[2019-08-11 14:14] prestonvanloon commented on #3169
Part of the problem is that Web3Service.ProcessDepositLog and Web3Service.ProcessLog do not return an error, rather they log one.

These methods should handle the error and take the appropriate action on failure.

[2019-08-11 16:30] prestonvanloon commented on #3169
A side effect of this is that deposits are added based on the ETH1 block hash and not the deposit index. We must check both values, i’ll file another bug later (AFK right now)

[2019-08-11 17:12] prestonvanloon commented on #3166
Got it! We'll see what we can do to mirror the images to dockerhub as well.

[2019-08-12 01:26] prestonvanloon commented on #3169
Another side effect of these scenarios are large number of slots of downtime. To determine the assignments for epoch _M_, we must process "skip slots" from our known head state _N_ to _M_.

The biggest bottleneck there is having to tree hash each state, taking between ~5 to 60ms for each slot. Therefore processing 100s of skipped slots is difficult or impossible to do within a reasonable amount of

[2019-08-12 08:02] mortdeus commented on #2740
if this bounty is still open i'd like to consider working on it this week since i've finally managed to get a new laptop to replace the macbook i lost.

[2019-08-12 08:25] nisdas commented on #2740
hey @mortdeus there is already an in-progress PR for this opened #3153

[2019-08-12 10:59] #3169 closed

[2019-08-13 01:38] rauljordan commented on #3045
This is currently blocked by #3064

[2019-08-13 23:27] terencechain commented on #3081
can no longer reproduce w/ the latest ssz

[2019-08-13 23:27] #3081 closed

[2019-08-13 23:28] terencechain commented on #3042
fixed in #3193

[2019-08-13 23:28] #3042 closed

[2019-08-13 23:29] terencechain commented on #3104
can no longer reproduce

[2019-08-13 23:29] #3104 closed

[2019-08-14 02:03] ceresstation commented on #2740
@cyberbono3 don't forget to claim the bounty when you're done

[2019-08-15 06:44] yevgenypats opened #3214 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

I saw that you implemented Fuzz targets but they are currently not running as part of the CI.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- Continuous Fuzzing of master branch which will generate new corpus and l

[2019-08-16 02:28] cyberbono3 commented on #2955
@prestonvanloon , can you assign me a gitcoin grant? Thanks!

[2019-08-16 16:27] terencechain opened #3219 "[Mega Tracking] Integrate latest forkchoice to run time"
This is an overall tracking for integrating latest fork choice in run time:

- [x] Implement the new fork choice spec as a service #3209
- [x] benchmark fork choice implementation #3212
- [x] Implement yaml driven test framework #3213
- [x] Mark the old `ReceiveBlock`, `ReceiveAttestation` method in `blockchain` service as deprecated #3215
- [x] Mark the old fork choice run time functions as depre

[2019-08-16 21:35] rauljordan opened #3222 "Filter DB Attestations by Validator Index and Source Epoch"
Tracking issue to implement the filter criteria in the title for fetching attestations from the DB. See the work in #3202 for reference.

[2019-08-17 14:53] prestonvanloon opened #3223 "powchain: Invalid deposit processed: deposit signature did not verify"
There is some regression in commit 78bf39

Investigating...

[2019-08-17 15:12] #3223 closed

[2019-08-17 17:50] prestonvanloon opened #3225 "Testnet is down!"
The testnet at http://prylabs.net is currently not running and users fail to sync.
The reason for this is that we turned off our nodes and effectively stopped the existing testnet so we could focus on a few critical components for final client interoperability in phase 0.

Here are the tracking issues for critical components that are blocking release of new testnet:
- [x] Fork choice changes https

[2019-08-19 03:37] rauljordan opened #3238 "Re-Enable Travis CI Once K8S Dependency Changes Stops Breaking Build"
Currently seeing this as breaking our CI build:

[code]

Looks like some upstream dependencies changed, such as `klog` which are causing this problem.

We will disable travis for now until the k8s transitive dependencies are fixed, as they are causing red checkmarks and problems in our development for now.

[2019-08-19 13:56] prestonvanloon commented on #3238
I filed an issue here: https://github.com/kubernetes/client-go/issues/659

[2019-08-20 03:37] rauljordan commented on #3045
We are now unblocked on this - picking up work on this issue now

[2019-08-20 15:09] #3064 closed

[2019-08-20 21:26] mkosowsk commented on #3045
@rauljordan awesome! Thanks 🙏

Gonna add `Attestation Pool` to Mytchmatic and then onward from there!

[2019-08-21 09:57] nisdas opened #3257 "BLS Verification of Multiple Messages Is Not Correct"
We concatenate our messages and then verify them, which is unfortunately wrong, as this is now treated as a single message instead of separate and distinct messages.
What we have is
[code]
instead what we should have is
[code]
This is being worked on over here https://github.com/phoreproject/bls/pull/13, once that has been merged in we can change our bls API, to take in the newly added verificatio

[2019-08-21 10:10] nisdas opened #3258 "Processed Attestations Need to be Tracked"
Currently we aggregate attestations on the fly, combining the bitfields and signatures to aggregate multiple attestations into a single one. However once an attestation with the same data root has been processed by the beacon node, we delete the attestation from our db.

We directly remove attestations by their data root from the db, we don't account for differing aggregation bitfields in the atte

[2019-08-21 14:12] nisdas opened #3259 "Handle Attester and Proposer Slashings in Operations Service"
Currently neither of the attester or proposer slashing objects are handled in the beacon node. If we receive the objects from other peers, there is no specific service to which we can hand it off to so that it is validated and then able to be packaged into a block by a proposer. This issue is to track the implementation of handlers for slashing messages in the operations service.

Relevant to #276

[2019-08-21 15:48] cyberbono3 commented on #2740
@ceresstation I sent you a couple emails to notify you I updated my ETH wallet. i would appreciate your guidance to claim my bounty.

[2019-08-21 18:44] prestonvanloon opened #3262 "New p2p fails without bootstrap node"
When using flag `--bootstrap-node=` to unset the bootstrap node:

[code]

[2019-08-21 20:58] #3262 closed

[2019-08-22 01:09] terencechain commented on #3258
This is very similar to #3157, can we use that issue? and maybe copy some of the description from here to there

[2019-08-22 06:15] #3257 closed

[2019-08-22 07:09] mortdeus commented on #2740
@cyberbono3  you sign up for gitcoin.io (also there is a browser extension called metamask that i think you need to have as well)

[2019-08-22 08:27] nisdas commented on #3258
@terencechain Just noticed that, shifting over to that issue and closing this one

[2019-08-22 08:27] #3258 closed

[2019-08-22 08:37] nisdas commented on #3157
Following on from #3258,

Currently we aggregate attestations on the fly, combining the bitfields and signatures to aggregate multiple attestations into a single one. However once an attestation with the same data root has been processed by the beacon node, we delete the attestation from our db.

We directly remove attestations by their data root from the db, we don't account for differing aggrega

[2019-08-22 18:13] rauljordan opened #3277 "Add Helper for Querying ValidatorIndex from State By Public Key"
This is a tracking issue to implement a simple helper with signature:

[code]
which uses a public key to lookup a validator index in the beacon state.

[2019-08-23 14:16] yevgenypats commented on #3214
Hi @prestonvanloon ! Thanks for pin-pointing the interesting places to fuzz, that would definitely save me some time. will keep you posted on the progress.

[2019-08-24 13:51] terencechain opened #3302 "New DB: delete processed attestation from pool"
When using the new DB stack, it seems like we dont remove processed attestation from the attestation pool: https://github.com/prysmaticlabs/prysm/blob/master/beacon-chain/operations/service.go#L333

Which is why there's always max amount of attestations contain in a block

[2019-08-24 17:36] #3302 closed

[2019-08-25 23:28] terencechain opened #3310 "Run time with `--next` flag fatal errors"
This issue tracks the following  run time fatal error. It's easily reproducible on a single node + 64 validators set up. The log:

[code]

[2019-08-26 17:24] terencechain opened #3325 "validators errors when first launch"
When a validator first launches, the following error will be prompt. This error is just cosmetic and has no impact to validator functionality

`[2019-08-26 09:46:24] ERROR validator: Could not request attestation to sign at slot 0: rpc error: code = Unknown desc = could not process slots up to 0: expected state.slot X < slot 0`

[2019-08-27 16:22] terencechain opened #3332 "Mark RPC block as seen"
I think when RPC service receive a block and send it to chain service for broadcast, we should add that block root to `seen` so sync service does not receive and process the same block again

[2019-08-28 00:27] terencechain opened #3336 "error: could not process attestation until delay"
Set up: 2 nodes with 32 validators each

Saw this earlier in my run time set up, not entirely sure how to reproduce, but wanted to open an issue first so we don't lose track.

[code]

[2019-08-28 00:30] terencechain opened #3337 "error: could not wait for validator activation"
Set up: 2 nodes with 32 validators each

This timing bug is hard to reproduce, it can be reproduced with the following, launch validator clients immediately after launching beacon nodes. Give no waiting time in between

Errors from validator client:
[code]

Errors from beacon node:
[code]

[2019-08-28 00:32] terencechain opened #3338 "error: could not receive attestation in chain service error=slot out of bounds"
Set up: 2 nodes with 32 validators each

Saw this earlier in run time, not entirely sure how to reproduce, but wanted to open an issue first so we don't lose track.

[code]

[2019-08-28 11:39] yevgenypats commented on #3214
@prestonvanloon we already have an initial fuzzer for go-ssz (which already found some bugs). I'm not familiar with the CI that you use (buildkite). how do I add another step there?

[2019-08-28 14:25] terencechain opened #3340 "error: sync failed to handle p2p pubsub error epoch x can't be greater than y"
Set up: 2 nodes with 32 validators each

Saw this earlier in run time not entirely sure how to reproduce, but wanted to open an issue first so we don't lose track.

[code]

[2019-08-28 17:07] #3337 closed, assigned to nobody

[2019-08-28 17:11] terencechain opened #3346 "attestations target root 0x00000 does not exist in db"
Saw the following error in run time. Sync complains attestation with target root 0x0000 does not exist in DB. No idea where 0x000 comes from. Something to watch out for 👀

[code]

[2019-08-28 17:26] #3336 closed, assigned to nobody

[2019-08-28 17:26] #3340 closed, assigned to nobody

[2019-08-28 17:48] nisdas opened #3347 "Handle Disconnects of Peers"
Some peers get disconnected after a period of time and this isnt currently handled. Important peers such as bootnodes,static peers,etc should be reconnected if they are disconnected.

[2019-08-28 18:55] terencechain opened #3348 "error: save checkpoint state, could not process slots up to 1096"
Saw this in run time

[code]

[2019-08-28 19:24] #3348 closed, assigned to nobody

[2019-08-28 20:14] #3325 closed, assigned to nobody

[2019-08-29 17:04] terencechain commented on #3338
Fixed in #3351

[2019-08-29 17:05] #3338 closed

[2019-08-29 17:51] terencechain opened #3356 "attestation signature fails to verify with 256+ validators"
With 256 validators on one beacon node, we start to see aggregated attestation fails to verify signature

`ERROR validator: Could not submit attestation to beacon node: rpc error: code = Unknown desc = attestation aggregation signature did not verify`

[2019-09-01 13:13] shayzluf opened #3374 "batch attestation store without goroutines"
i stumbled upon this code while writing slasher db store functions:
`	return k.db.Batch(func(tx *bolt.Tx) error {
		bkt := tx.Bucket(attestationsBucket)
		for i := 0; i < len(atts); i++ {
			indicesByBucket := createAttestationIndicesFromData(atts[i].Data, tx)
			if err := updateValueForIndices(indicesByBucket, keys[i], tx); err != nil {
				return errors.Wrap(err, "could not update DB indices")

[2019-09-02 15:16] rauljordan commented on #3356
This has been fixed as of latest master. The problem was we were using binary.ReadUvarInt to parse the validator index from the DB, when instead we should have been using binary.LittleEndian.Uint64

[2019-09-02 15:16] #3356 closed

[2019-09-02 15:18] rauljordan commented on #3346
This has been resolved after fixing an SSZ problem in sync, based on the issue https://github.com/prysmaticlabs/go-ssz/issues/78

[2019-09-02 15:18] #3346 closed

[2019-09-02 15:18] rauljordan commented on #2834
Resolved by #3151

[2019-09-02 15:18] #2834 closed

[2019-09-02 15:51] rauljordan commented on #2641
This is addressed by our new sync design, which is deterministic: https://docs.google.com/document/d/1VyhobQRkEjEkEPxmmdWvaHfKWn0j6dEae_wLZlrFtfU/edit?usp=drive_web&ouid=105756662967435769870

[2019-09-02 15:51] #2641 closed

[2019-09-02 15:54] rauljordan commented on #2948
This is no longer relevant given the new fork choice package, which includes all sorts of new tests

[2019-09-02 15:54] #2948 closed

[2019-09-02 16:05] rauljordan commented on #2629
We currently aggregate attestations in a way that resolves this issue as of latest master

[2019-09-02 16:05] #2629 closed

[2019-09-02 16:05] rauljordan commented on #2616
Resolved by #3149

[2019-09-02 16:05] #2616 closed

[2019-09-02 16:06] rauljordan commented on #1333
Resolved by using `errors.Wrap` throughout our repo in our current master branch

[2019-09-02 16:06] #1333 closed

[2019-09-02 16:06] rauljordan commented on #1201
Attestation service no longer exists using the --next flag

[2019-09-02 16:06] #1201 closed

[2019-09-02 16:06] rauljordan commented on #1203
Cleanup service no longer exists using the --next flag

[2019-09-02 16:06] #1203 closed

[2019-09-02 16:08] rauljordan commented on #3016
Resolved as of the latest updates to our Gitbook here: https://prysmaticlabs.gitbook.io/prysm/

[2019-09-02 16:08] #3016 closed

[2019-09-02 16:10] rauljordan commented on #543
Resolved by our latest p2p package with design doc: https://docs.google.com/document/d/1VyhobQRkEjEkEPxmmdWvaHfKWn0j6dEae_wLZlrFtfU/edit#

[2019-09-02 16:10] #543 closed

[2019-09-02 16:14] rauljordan commented on #2567
This is resolved by our new fork choice using the --next flag in our latest master. The problem was old fork choice did not handle network partitions well nor handling blocks that would be invalid from our chain's point of view.

[2019-09-02 16:14] #2567 closed

[2019-09-02 18:29] prestonvanloon commented on #3144
We're now targeting all aspects of 0.8.2, including test format.

[2019-09-02 19:52] rauljordan commented on #3116
Working on this

[2019-09-03 04:20] prestonvanloon commented on #3214
hey @yevgenypats we're very eager to include your changes with fuzz testing!

Is there anything I can do to help?

[2019-09-03 13:50] rauljordan opened #3393 "Deposits Proofs are Malformatted"
Our deposit proofs in Prysm should be of the form `[33][32]byte`, but currently,  we format them as `[32][32]byte`, causing incorrect behavior and panics in our runtime due to SSZ finding an unexpected length array in such field.

[2019-09-03 17:47] #3393 closed

[2019-09-03 18:52] rauljordan opened #3397 "Specify Endianness in BLS Package Documentation"
Currently, methods such as `bls.SecretKeyFromBytes` and `bls.PublicKeyFromBytes` do not mention their endianness, which leads to confusion and possible errors when using them. I believe at the moment they are BigEndian, but needs more confirmation.

[2019-09-03 19:15] rauljordan opened #3398 "[Tracking] Interop mock start"
This issue tracks progress on the interop mock start functionality which is needed for cross-client testing
- [x] Deterministically generate validator private keys using the method outlined in the interop doc [here](https://github.com/ethereum/eth2.0-pm/tree/master/interop/mocked_start)
- [x] Create a tool to generate a `genesis_state.yaml`, `genesis_state.ssz`, or `genesis_state.json` from the de

[2019-09-04 00:22] #3332 closed

[2019-09-04 11:33] yevgenypats commented on #3214
@prestonvanloon here are the instructions that are needed to be added to buildkite

https://github.com/prysmaticlabs/go-ssz/pull/81

[2019-09-05 15:29] terencechain opened #3409 "Initial sync panics"
Saw the following panic during initial sync for a syncing node launches the first time and trying to catch up

[code]

[2019-09-05 15:37] nisdas commented on #3409
two reasons either `block` was nil or `headState.FinalizedCheckpoint.Epoch` the FinalizedEpoch did not exist. Since this is before the genesis state is created, I am guessing finalized checkpoint is the source of the panic. We shouldn't be listening to gossiped blocks or attestations before we have processed all our deposit logs, which is what seems like happened over here

[2019-09-07 02:03] terencechain commented on #3167
expected given the attestation inclusion delay Is 1 slot

[2019-09-07 02:03] #3167 closed

[2019-09-08 09:04] nisdas opened #3419 "Handle Concurrent Hello Handshakes"
When we connect with a new node, we send a hello request and they send us one vice versa. This leads to two concurrent streams being opened, there are cases that one handshake could fail while the other succeeds. This still will cause that peer to be disconnected despite being a valid peer. A PR to resolve this issue would check for streams already opened with that peer before initiating the hello

[2019-09-08 09:23] nisdas opened #3420 "Support IPV6 Addresses"
Currently prysm only supports having an ipv4 address as a listening address, we should also be supporting ipv6 addresses. This issue is to track the implementation of ipv6 in Prysm.

[2019-09-08 18:30] dimchansky commented on #2674
Not sure about this case, but this pattern helped me to solve re-connection issue in my app:

[code]

[2019-09-08 19:50] rauljordan commented on #3144
Completed

[2019-09-08 19:50] #3144 closed

[2019-09-10 15:18] rsreeni commented on #3238
Hi,

Im still having the issue..

Heres the error I get

src/k8s.io/client-go/transport/round_trippers.go:70:11: cannot convert klog.V(9) (type klog.Verbose) to type bool

src/k8s.io/client-go/transport/round_trippers.go:72:11: cannot convert klog.V(8) (type klog.Verbose) to type bool

src/k8s.io/client-go/transport/round_trippers.go:74:11: cannot convert klog.V(7) (type klog.Verbose) to type bool

[2019-09-10 15:37] prestonvanloon opened #3438 "BlocksByRoot request type should be [][32]byte"
The request type is not using a ssz container for `BlocksByRoot`.

This breaks our design of using proto.Message as the base message so we'll need to rethink the API.

See https://github.com/ethereum/eth2.0-specs/pull/1404 for the latest incoming changes.

[2019-09-10 19:21] rauljordan opened #3439 "Conditionally Switch Between Minimal/Demo/Mainnet Configs On Startup"
We should have the ability to specify which config we want to launch Prysm with. This is a tracking issue for this feature.

[2019-09-10 20:22] cyberbono3 commented on #2740
@ceresstation  @owocki could you release funds, please?

[2019-09-10 20:49] owocki commented on #2740
looks like they were released here https://github.com/prysmaticlabs/prysm/issues/2740#issuecomment-527263448

[2019-09-11 02:55] eliotstock opened #3440 "FATAL p2p: missing 'enr:' prefix for base64-encoded record"
Running master, commit 1edeb8ec4c028e4ce27f4ea449540317bd1c4bdd
Built with bazel 0.29.1 on Mac

FATAL error on running the beacon-chain:

$bazel run //beacon-chain -- --clear-db --datadir=/tmp/prysm-data
INFO: Build option --define has changed, discarding analysis cache.
DEBUG: Rule 'graknlabs_bazel_distribution' indicated that a canonical reproducible form can be obtained by modifying arguments s

[2019-09-11 04:25] cyberbono3 commented on #2740
@owocki  [Gitcoin DAI transfer](https://etherscan.io/tx/0xbec326231eacd5e6b20dbe17f9b666a8acd54b3291495b07c757e0ec095cbade) has been dropped and replaced

[2019-09-11 13:54] prestonvanloon opened #3441 "Ssz decoding string to different length"
See https://github.com/prysmaticlabs/prysm/blob/e2b75b8a795aa524903601adecdc67ccb911af11/beacon-chain/sync/rpc_hello_test.go#L25

[2019-09-11 13:56] owocki commented on #2740
shoot!  we have to build in better handling for this scenaerio (which def does happen when the ETH gas fees move around).

meantime @ceresstation looks like youll have to re-issue the tip

[2019-09-11 14:00] owocki commented on #2740
looks like the replacement tx was for 600 DAI but was to a diff address, was sent to @jenil04 ( https://etherscan.io/tx/0x3158857e8a823960ed285921f1025011195dc22a2c05ec950a5f929c58b03799 ) -- what a coincidence..

[2019-09-12 03:51] #3398 closed

[2019-09-12 03:52] prestonvanloon commented on #3438
There are a few other diffs with networking spec, we'll need to review

[2019-09-12 03:57] prestonvanloon commented on #3440
@nisdas can you remove the default bootstrap node value for the flag?

We can add a few default next week

[2019-09-12 04:09] rauljordan commented on #3116
This functionality is available in our latest master

[2019-09-12 04:09] #3116 closed

[2019-09-12 04:13] nisdas commented on #3440
hey sure, I can remove it

[2019-09-12 04:13] rauljordan commented on #2871
We have opted to go for the broadcast first => process after approach as the canonical way of handling this across eth2 clients. The pros of this outweigh the cons outlined above heavily and it is much preferred to get blocks out to the network ASAP than otherwise.

[2019-09-12 04:13] #2871 closed

[2019-09-12 04:14] rauljordan commented on #2229
This is no longer the case with the new fork-choice rule. We will close for now unless this issue ever pops up again.

[2019-09-12 04:14] #2229 closed

[2019-09-12 07:16] #3440 closed

[2019-09-12 14:50] rauljordan opened #3450 "[Tracking] Post Interop Top Priorities"
Thanks to @prestonvanloon for this list:

Top Priorities Are:
- [x] Regular sync resilience (handling missing parent blocks)
- [x] Scaling validator count (BLS padding issue, attestion handling locks)
- [x] P2P stream issues
- [x] Networking spec update
- [x] Round robin sync

Second tier priorities are:
- [ ] SSZ resilience (never panic, fuzz testing, stack overflow)
- [ ] Test coverage improveme

[2019-09-12 17:21] prestonvanloon opened #3453 "Add back ConfigureValidatorFeatures"
Why was this deleted? Please add it back so we can add validator feature flags.

Originally posted by @prestonvanloon in https://github.com/prysmaticlabs/prysm/pull/3449

[2019-09-12 18:45] rauljordan opened #3457 "Store Archival State Data Each Epoch"
As part of #3045, we need a way to store archival state data for retrieval during API requests, such as users wanting to know the historical assignments of validators at a certain epoch. For this purpose, we should store as minimal data as possible and gate this functionality behind a feature flag.  This would unblock us from finishing #3045 and add a lot of utility to our beacon nodes for block e

[2019-09-12 19:02] #3453 closed, assigned to terencechain

[2019-09-12 22:01] terencechain opened #3458 "Add regression for `AttestationDelta` test"
We should add a test case where passing in duplicated attestations in state for `AttestationDelta` don't increment validator's profit more than once

[2019-09-13 14:25] skillful-alex opened #3461 "startShardCache data race"
[code]

[2019-09-13 15:29] rauljordan opened #3462 ""Could not fetch validator index: not found""
The following bug manifests when we have a validator client running both pre-chainstart and post-chainstart validator keys. The post-chainstart validators will frequently receive the error "could not fetch validator index: not found", instead of gracefully returning either an UNKNOWN status or doing a fallback search through the beacon state in case the validator is not found in the DB.

[2019-09-13 15:49] prestonvanloon commented on #3462
How to reproduce? Is this with mock start or from goerli?

[2019-09-13 17:03] #3219 closed

[2019-09-14 02:20] prestonvanloon commented on #1212
We don't use mDNS discovery anymore. Closing

[2019-09-14 02:20] #1212 closed

[2019-09-14 15:04] ceresstation commented on #2740
@cyberbono on this today!

[2019-09-15 19:29] 0xKiwi commented on #3458
I can work on this!

[2019-09-15 19:49] 0xKiwi commented on #3458
Closing due to regression test being added in #3469

[2019-09-16 17:51] rauljordan opened #3491 "Extremely Inefficient Crosslink Committee Calculation"
Found this logic within `helpers.CommitteeAssignment` in [these lines](https://github.com/prysmaticlabs/prysm/blob/bf07cfcdabcb21ebea75e7e48e4e83f81c7807fa/beacon-chain/core/helpers/committee.go#L218)

[code]
There are many calls to `CrosslinkCommittees`, and a few lines down, there is a call to `BeaconProposerIdx`, which looks like:

[code]
also computing crosslink committees! This looks like an

[2019-09-16 17:52] rauljordan commented on #3457
Design doc in-review here: https://docs.google.com/document/d/1T1vNOsS3PwAOuNzt1WMPJsPb1cPnQxrJPJSYUA_me-8/edit#

[2019-09-16 18:32] rauljordan opened #3492 "Disable Default Writing of BeaconState to File Each Slot"
For interop, it was useful to write the beacon state to a tmp file on every slot, but this is quite burdensome and problematic in local dev as a lot of data may be stored in test runs.

[code]

Perhaps we can gate this behind a feature flag that is disabled by default